[2021-03-22 17:01] brugger1 commented on #5559
I tried adding "-I${VISITDIR}/mesagl/${MESAGL_VERSION}/${VISITARCH}/include" to the C_FLAGS and CXX_FLAGS. That didn't do it.

@biagas any thoughts?

[2021-03-22 17:16] brugger1 commented on #5559
I also tried adding

include_directories(/home/visit/third_party/mesagl/17.3.9/linux-x86_64_gcc-9.3/include)

to pyside-setup-5.14.2/CMakeLists.txt

Still didn't fix it.

[2021-03-22 17:20] biagas opened #12330 "Pick on derived expressions on a boundary surface."
@burton29-LLNL, moved this from the older issue since it is a new question.

Hi,

New question: I’m using Version 3.1.3 (August 2020), and got a question about examining nodes and zones through “Pick”, on derived new expressions on a boundary surface.    I’ve got a velocity field defined on a surface, and I want to extract that part of the velocity field that is perpendicular to the surface.  So g

[2021-03-22 17:21] biagas commented on #12239
@burton29-LLNL Moved this new question to it's own issue visit-dav/live-customer-response#238

[2021-03-22 17:28] biagas commented on #12330
Already handled, sorry for the noise see visit-dav/visit#12329

[2021-03-22 17:37] biagas commented on #5559
Just to be clear, you tried the new includes from a fresh build, correct? Are at this point are you still using the build_visit script or just trying to build PySide manually till you figure out all the new swizzles needed?

[2021-03-22 17:41] brugger1 commented on #5559
I'm doing everything through build_visit at this point. I'm blowing away the old build directory and running build_visit again.

[2021-03-22 17:43] brugger1 commented on #5559
I may have found where "--include-paths" is set. Here is the line and the file:

                        --include-paths=${shiboken_include_dirs}
./sources/pyside2/cmake/Macros/PySideModules.cmake

I can either apply a patch to it, or I could try and figure out how to get the extra path added to "shiboken_include_dirs".

[2021-03-22 17:49] biagas commented on #5559
I think it's going to require a patch regardless of whether you modify 'shiboken_include_dirs' or add another include path to the --include-paths, because of how shiboken_include_dirs is set (in same file)
    set(shiboken_include_dirs ${pyside2_SOURCE_DIR}${PATH_SEP}${QT_INCLUDE_DIR})

[2021-03-22 17:59] biagas opened #5560 "visit-users/developers/commits archives search ability broken"
### Describe the bug
This was reported on visit-users and recorded in LCR issue [#132](https://github.com/visit-dav/live-customer-response/issues/132) back in August of 2020.

I reached out to Dave Pugmire, who put me in touch with Gen Beck <beckgm@ornl.gov>
There have been several inquiries and emails back and forth, but the issue still hasn't be resolved.

[2021-03-22 18:00] biagas commented on #12225
Opened bug ticket.

[2021-03-22 22:41] brugger1 opened #5563 "Color particles by a background mesh field."
Matt O'brien would like to color particles by a background mesh field. Below is his e-mail request.

----------Start email----------
We store the temperature as a mesh variable defined on the mesh, maybe there will be 10,000 mesh cells. (cell = zone)

We do NOT store the temperature on the particle (10M particles), but we do store an index for which cell each particle is in.

Is there a way in vis

[2021-03-23 00:31] cyrush commented on #5563
the request involves looking up an index value from a field on one topology and applying that index to fetch a value from a field on another topology. This would very challenging b/c I am not sure how we would get the two typologies in play, but of course it is possible b/c that's exactly with CMFEs do. But they do it using explicit file names ...

[2021-03-23 06:20] markcmiller86 commented on #5563
For clarity, what would you say are the *two* topologies in play here? I am thinking...

1. The topology relation for nodes to cells in the volumetric mesh
2. The topology relation for particles *in* cells (that *index* field Matt says he stores is effectively an *is contained in*, *is a subset of* relation very similar to (though not on the boundaries of) the first relation?

**Note:** The partic

[2021-03-23 16:13] #5559 closed, assigned to brugger1

[2021-03-23 16:15] cyrush commented on #5563
I am using topology in blueprint speak. Its a relationship defining elements on a set of points (coordinate set), elements that we can define fields on. (which includes an implicit relationship from points in space to "point" elements)

Yes -- from visit's perspective the particles and the background mesh are completely separate meshes.  Yes they are defined on different sets of points. In this ca

[2021-03-23 17:29] surak commented on #12326
I noticed that the function python_set_vars_helper will never work on Python 3.x compiled from source. Not the version here, this one works - but the one present in VisIT 3.1.4. It has this:

[code]

but this is the output of python3-config:
[code]

[2021-03-23 17:31] surak opened #5565 "Use system files instead of compiling everything?"
### Describe the bug

As suggestion from VisIT developers, I am recompiling the whole thing. As it was an automated process, I never paid attention to it.

Now I notice that it downloads and installs its own openssl, qwt, and even llvm!

For some of the dependencies, you can specify system_ , but others you can't.

This brings all the kinds of problems - not to mention that no one needs another ve

[2021-03-23 19:10] scottneuhoff commented on #12328
Eddie,

Yes I've got it set to the default, which uses scalable rendering whenever 200K polys is exceeded (which is effectively always for my purposes.)

[2021-03-23 19:30] brugger1 opened #5566 "Gradient expressions not well behaved."
I was trying to use the q_criterion to find vortices from a data set. This involves taking gradients of the velocity field components. Specifically:

q_criterion(gradient(v[0]), gradient(v[1]), gradient(v[2]))

When I plotted this, the data was in the approximate range -1e15 to 1e15, which makes no sense to me. Most of the reasonable data was in the range 0 - 10, with the extreme values being outl

[2021-03-23 19:41] cyrush commented on #5566
If they are triangles, default gradient in this case would probably be sample based, which can be bad.

`ij_gradient` is logical, but doesn't take into consideration mesh distortion, even resampled it could be off (b/c it doesn't do the dx, dy division). Can you try `agrad`?

[2021-03-23 20:08] rusu24edward commented on #12328
Hi @scottneuhoff,

Can you run in debug mode and send me the [vlog files](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/File_Locations.html?highlight=debug#visit-debug-log-vlog-files)? You can zip them up and add them to this issue.

Eddie

[2021-03-23 20:15] brugger1 commented on #5566
`agrad` gave the same result at `ij_gradient`.

[2021-03-23 20:21] sullan2 opened #12331 "Query Function"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
When running a lineout using the query window, does this automatically qu

[2021-03-23 20:27] biagas commented on #12331
Lineout is performed at a single time state (the time state that exists for the plot being queried).

[2021-03-23 20:42] biagas commented on #12326
Using python3-config from python compiled from source (using build_visit) on a rhel7 system I get:
python3-config --libs
-lpython3.7m -lcrypt -ldl  -lutil -lm

python3-config --libs | sed "s/.*\(python[^ ]*\).*/\1/g"
python3.7m

What system are you running on where this command didn't work?

[2021-03-23 21:03] purpley commented on #5554
Here's the page with the old instructions:

https://www.visitusers.org/index.php?title=Build_visit_quickstart

Thanks for the info on build_visit

[2021-03-23 22:34] #5558 closed, assigned to nobody

[2021-03-23 22:53] aowen87 commented on #3576
For a first step/quick fix to get some functionality to users, we've decided to add a database read option that allows users to globally set the integration point across all element sets (choose the nearest). We can then move forward with adding the remaining derived variables.

[2021-03-23 22:56] aowen87 opened #5567 "Quick option for setting Mili integration points"
There is a long discussion in #3576 about how to best handle integration points, but we'd like to get something simple out to users for now. Let's add a database read option that allows users to select the global integration point (across all element sets). We can then add the remaining derived variables.

[2021-03-24 13:23] surak commented on #5504
The problem is that your build script decides to download everything and compile from source, instead of using the standard versions of such packages - like mesa, llvm, opsnssl and so on. This brings its own source of problems.

[2021-03-24 16:06] aowen87 commented on #5532
@brugger1 can you share this data with me?

[2021-03-24 16:09] brugger1 opened #5568 "Add a blog article to the website about the VisIt movies referenced here."
I got an e-mail about the VisIt movies referenced in this paper. We should add one of the movies to the gallery and write a blog article referencing it. It doesn't need to be long, but mainly just point at it.

Hi Cyrus and Eric,

I added you on this email distribution, because I thought you might be interested in VisIt getting visibility “out in the wild.”

The supplementary movies published with

[2021-03-24 16:21] markcmiller86 commented on #5568
I can do this or, even better, I would be happy to walk another volunteer through the steps to do it. Should be pretty easy.

BTW...of the 5 movies available there, I like either 1 or 2 and prefer 2. Thoughts?

[2021-03-24 16:31] brugger1 commented on #5532
@aowen87 I gave you the data on the RZ.

[2021-03-24 17:24] cyrush commented on #5504
@surak we actually compile our own versions to avoid a host of errors that come from the combinatorial explosion of system libs that exist in on systems.

Things like incompatible apis across versions for thirdparty libs, patches that we need to actually use third party libs,  the fact that folks dont have required deps, the fact that entire hpc centers don't provide the required deps.

In this ca

[2021-03-24 19:17] biagas commented on #5540
There are comments in simV2_GetMesh about problem with vtkDataWriter, such that a forced-copy (instead of zero-copy) of data arrays occurs.  However this is currently only happening for ndims == 2.  Allowing force-copy for all values of ndims still causes a crash, so I will need to investigate this further.

There is also logic in the file for creating vtkSOADataArrayTemplate instantiations when t

[2021-03-25 17:00] #5567 closed, assigned to aowen87

[2021-03-25 17:11] aowen87 commented on #5532
I was not able to reproduce this on either the develop branch or the 3.2RC branch. However, I was able to reproduce this on 3.1RC and the installed 3.1.4 version of VisIt. As far as I can tell, this issue has been resolved.

@brugger1 Should I close this?

[2021-03-25 17:31] brugger1 commented on #5532
Yes, you should close it.

[2021-03-25 17:31] #5532 closed, assigned to aowen87

[2021-03-25 20:51] scottneuhoff commented on #12328
Eddie,

I have those vlog files however I'm wary of attaching them here for security concerns, am I able to send them to you privately?

[2021-03-25 20:54] rusu24edward commented on #12328
Hi @scottneuhoff,

Yes, you can send them to my email. rusu1@llnl.gov

[2021-03-26 00:02] biagas commented on #5540
Related to #3113

[2021-03-26 19:54] #4759 closed, assigned to aowen87

[2021-03-26 20:54] aowen87 commented on #5534
@brugger1 which version of VisIt were you testing this with? Both expressions work without issue for me using version 3.1.4 on rzgenie.

[2021-03-26 22:36] aowen87 commented on #5432
@bdtaylor do you know if this data was written using AMReX?

[2021-03-27 01:46] bdtaylor commented on #5432
Yes, this file was written using AMReX. I can probably get you the exact version if it matters.

I should have mentioned in my bug report that I have not had the MDS crash like this on Linux. In fact, I think the file above that crashes the MDS on a Mac can be opened successfully in Visit running on Linux.

[2021-03-27 14:12] brugger1 commented on #5534
@aowen87 I just tried again with the public 3.1.4 version on rztopaz. Only the max expression fails. I tried it normally and with "-noconfig" and it gave the error in both cases.

[2021-03-29 13:44] brugger1 opened #5572 "frontendlauncher.py not Python 3 compliant."
I built and installed VisIt on a Fedora 31 system and VisIt failed to launch because the "sorted" function was using the "cmp" function, which isn't Python 3 compliant. It looks like Python 3 (3.7.9 in my build) is the default on Fedora, so this is probably why we never ran into this before.

Here is the error message:

visit/bin/visit -cli -nowin
Running: cli3.2.0 -nowin
Traceback (most recent ca

[2021-03-29 14:04] brugger1 commented on #5572
I believe I fixed that error and now ran into another error:

visit/bin/visit -cli -nowin
Running: cli3.2.0 -nowin
Traceback (most recent call last):
  File "visit/bin/frontendlauncher.py", line 325, in <module>
    version = ParseVersion(ver)
  File "visit/bin/frontendlauncher.py", line 90, in ParseVersion
    b = ver.find("b")
AttributeError: 'tuple' object has no attribute 'find'

[2021-03-29 14:11] brugger1 commented on #5572
On a slightly related note. When I installed VisIt 3.2.0 on quartz the old versions of VisIt would no longer run. Here is the error message:

visit
Traceback (most recent call last):
  File "/usr/gapps/visit/bin/frontendlauncher.py", line 392, in <module>
    execfile(launcher)
  File "/usr/gapps/visit/3.1.4/bin/internallauncher", line 1877
    print "cannot resolve hostname: ", hostname, err

[2021-03-29 14:16] brugger1 commented on #5572
Disregard my very first additional comment. It was related to my attempted fix and not an existing problem.

[2021-03-29 15:25] aowen87 commented on #5534
Oddly, that first expression seems to work when running 3.1.4 in parallel (I tried on both genie and topaz), but it fails with that error message when run serially.

[2021-03-29 15:34] markcmiller86 commented on #5534
FYI...I am not sure it is in play here but will mention anyways. VisIt has a notion of *accelerator* structures which operators and other parts of VisIt (so I am assuming expressions too), can use to speed up their work.

One such structure is `AUXILIARY_DATA_DATA_EXTENTS`. This is where the plugin services a `GetAuxiliarData` query by serving up an array of `num-domains` min/max values for a vari

[2021-03-29 16:11] brugger1 commented on #5534
Ah, that’s the difference. I was running in serial.

[2021-03-29 16:52] cyrush commented on #5572
grumble `cmp=` something the conversion scrips didn't catch, i suspect this is the first time we executed. Could be a few more of these things lurking.

[2021-03-29 17:23] aowen87 commented on #5534
The MinMax expression was recently updated to handle multiple inputs, and it checks to make sure that all of the inputs have the same number of elements before proceeding (makes sense).

For some reason, VisIt is handing two occurrences of the same variable to this expression, each having a different number of elements. I'm guessing these are defined from different domains, but the original proble

[2021-03-29 17:28] aowen87 commented on #5534
FWIW, this behavior can also been seen using some of our test data (multi ucd3d, for instance).

[2021-03-29 19:52] aowen87 commented on #5432
This has also been noted on the AMReX issue page: https://github.com/AMReX-Codes/amrex/issues/542

There are some funny compilation hacks being used in this reader when running on Mac, but it's not quite clear yet if that's directly related to the issue or not.

[2021-03-29 21:33] #5534 closed, assigned to aowen87

[2021-03-29 21:34] aowen87 commented on #5432
The issue appears to be coming from within the BoxLib library. I have a working hack, but I'm looking for something more elegant.

[2021-03-29 23:01] markcmiller86 opened #5576 "Line length for Sphinx (or markdown) docs probably not best"
We currently have this guidance in our docs *Contributing* section...

And, for the most part, we have all generally tried to follow that.

However, [this ref](https://asciidoctor.org/docs/asciidoc-recommended-practices/#document-extension) has many compelling reasons **NOT** to do this for ascii documentation files. Many of these reasons have to do with impact on computing and displaying diffs.

[2021-03-29 23:02] griffin28 opened #5577 "avtOpacityMap.C typo or copy/paste error"
### Describe the bug
There's a copy/paste error in `avt/Pipeline/Data/avtOpacityMap.C` (see below). Simple fix but may have subtle impacts on the baseline images used for testing.

Lines 614-626:

[code]

### Desktop
 - OS and version: All
 - VisIt Version: 3.1RC
 - Server info (if applicable):

[2021-03-29 23:23] cyrush opened #5579 "we need to update for mfem 4.3. for new ncmesh features and FMS support"
### Describe the bug

mfem added new code paths to support ncmeshes.

Their ncmeshes, or non-conforming meshes are used for their unstructured amr capability.

Trying to load newer ncmesh data via the blueprint or an mfem file can cause a crash.

Newer mfem libs (4.2) have logic to property init ncmeshes.

**Helpful additional information**
 - Did VisIt crash:  Yes

[2021-03-30 16:41] cyrush opened #5582 "Can we revision control our build_visit incantations for the LC as scripts?"
Not really docs, though it could be linked into docs

Can we revision control our build_visit incantations for the LC?

Wanted to point someone at how we set PAR_COMPILER etc

Dug up the info from an email Eric sent, but I don't think they are in our repo.

Maybe search is failing me?

Also at one of our Dockerfiles for release, but that one didn't seem to be using MPI.

[2021-03-30 17:06] aowen87 commented on #5447
@brugger1 I believe PR #5575 fixed this. Can you share the data so that I can confirm?

[2021-03-30 17:11] brugger1 commented on #5447
I agree. Wasn’t #5575 done to resolve #5447?

[2021-03-30 17:13] aowen87 commented on #5447
It was to resolve #5534, but they look almost identical.

[2021-03-30 17:20] brugger1 commented on #5447
I see that now. I wonder if I entered it twice.

[2021-03-30 17:21] cyrush commented on #5579
or maybe 4.3, that is coming soon

[2021-03-30 17:22] aowen87 commented on #5447
Should we go ahead and close this one?

[2021-03-30 17:24] brugger1 commented on #5447
Yes. I’m now convinced it’s the same ticket. If I gave you the data, it would be the same data I already gave you for the other ticket.

[2021-03-30 17:25] #5447 closed, assigned to aowen87

[2021-03-30 17:29] cyrush commented on #5579
I can replicate with newer test data from the mfem repo, I will add tests for these during the update process.
[code]

[2021-03-30 17:47] #5572 closed, assigned to nobody

[2021-03-30 20:52] cyrush commented on #5579
Since we are a custom mfem with a preview of FMS support -- we also need some changes to support FMS to be added to mfem.

Those changes are in this PR:

https://github.com/mfem/mfem/pull/1709

and tagged to be included as part of mfem 4.3.

[2021-03-30 21:10] markcmiller86 opened #5586 "Move docs on building out of GUI"
Most of the rich content we have on building VisIt is in the [GUI manual](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Building/index.html#building). That seems odd. A section labeled **GUI** isn't the first place I would think to look for documentation related to building.

The developer manual seems like a better choice but only slightly. Even that isn't necessari

[2021-03-30 21:47] markcmiller86 opened #5587 "Are all these VisIt email lists still needed?"
- [x] visit-announce	Announcements for VisIt
- [ ] visit-commits	VisIt Commits
- [x] visit-developers	VisIt Developers
- [x] visit-help-asc	VisIt help for ASC-funded users
- [ ] visit-help-ascem	VisIt help for ASCEM-funded users
- [ ] visit-help-gnep	VisIt help for GNEP-funded users
- [x] visit-help-scidac	VisIt help for SciDAC-funded users
- [x] visit-users	VisIt software users community

[2021-03-30 21:54] markcmiller86 opened #5589 "Why are we storing patches in bv shell code"
We provide download for *all* of the TPLs we use. Why are we doing the patching in build_visit shell code? Why not patch the libraries and then host for download those patched libs?

[2021-03-30 21:59] brugger1 commented on #5589
We used to do that, but when we upgraded we didn't necessarily know what the patches were. If it's in the build_visit script it is by definition documented and reproducible.

[2021-03-30 22:18] #5589 closed, assigned to nobody

[2021-03-30 22:25] markcmiller86 commented on #5586
We agreed to move info on obtaining and building VisIt to its own top-level section of the manual

[2021-03-30 22:33] markcmiller86 commented on #5582
There is a way to have sphinx render some lines for code from the shell scripts so if we have the actual code in shell scripts somewhere, we can still be sure sections of Sphinx doc still display it. And, when that shell code gets updated, the Sphinx docs will render the updated stuff (though the trigger to rebuild won't come from changing the shell code itself).

[2021-03-31 15:42] #5432 closed, assigned to aowen87

[2021-03-31 18:17] #5576 closed, assigned to markcmiller86

[2021-03-31 18:56] brugger1 opened #5593 "Using zoom mode messes up tool bar in vis window."
I was testing VisIt on quartz and created a mesh plot and pseudocolor plot from curv2d.silo. I then entered zoom mode and started rubber banding the zoom. It messed up the tool bar at the top of the visualization window as I moved the rubber band box with the mouse.

[2021-03-31 19:09] brugger1 commented on #5593
This happened displaying on VNC and a RHEL7 desktop. Resizing the window fixed the display of the toolbar.

[2021-03-31 21:29] cyrush opened #5594 "macOS build_visit issue: cgns build requires f77 compiler"
### Describe the bug
[code]

 - OS and version: macOS 10.14
 - VisIt Version: 3.2RC

### Additional context
(encountered while preping for release builds)

[2021-03-31 21:50] cyrush commented on #5594
also seems i need to manually add the linker flags for hdf5, even though HDF5 is passed and detected.

[2021-03-31 21:52] markcmiller86 commented on #5594
Can you set it to use `gfortran` instead of `f77`? I appear to have `gfortran` on my system but not `f77`.

[2021-03-31 22:07] cyrush commented on #5594
I can turn off fortran support.

But other things are wrong.

The hdf5 linking flags don't seem to be propagating.

That means if it's linking on some platform, there is a strong chance it is linking against system hdf5 libs :-(

[2021-03-31 22:10] cyrush commented on #5594
actually on Linux the symbols just remain unresolved.

It's fine there, but not allowed on macOS.

[code]

[2021-03-31 22:25] cyrush commented on #5594
skipping for now, I could (again) try cmake just for the macOS case, but I fear I might just revisit:

https://github.com/visit-dav/visit/issues/5461

spack uses cmake to build cgns, so that gives me some hope.

[2021-04-01 15:48] cyrush commented on #5594
successful build w/o cgns. I am going to work on code signing to make sure we have a handle on that.

[2021-04-02 01:18] markcmiller86 commented on #5594
My attempts are failing slightly differently....

[code]

[2021-04-02 17:30] brugger1 opened #5598 "Ghost zone generation taking a lot of resources."
I had a user running VisIt and it kept running out of memory generating ghost zone information. He was doing a filled boundary plot, which required ghost zones.

Here are some annotated excerpts from the level 5 debug log.

avtLocalStructuredDomainBoundaryList::GlobalGather
avtLocalStructuredDomainBoundaryList::GlobalGenerate: all lists size=4600
avtLocalStructuredDomainBoundaryList::GlobalGenerat

[2021-04-03 15:37] TaigoFr opened #5599 "LANG problem - Font height set to 0 when "Save settings""
### Description of the bug
This is a bug most definitely related to LANG settings.

After any change I make to any settings, "Font height" settings are not properly saved after "Save Settings". By "Font height" I mean the Annotation parameter of Object Appearance (a Pseudocolor in my case). After "Save Setting", when opening VisIt again, font heights are set to 0 and no text appears in the legends

[2021-04-06 16:41] aowen87 opened #5600 "Min/Max side volumes for 3D"
### Describe the bug
I was just in a meeting with the vidyaale group, and we were examining a 3D dataset comprised mostly of hexes. We we're really interested in the mesh quality metric "min side volume", but VisIt didn't seem to be capable of plotting this variable; the range was 0->0, but that was clearly not the correct range, and nothing was being visualized (all blue).

**Helpful additional i

[2021-04-06 20:49] brugger1 commented on #5593
Here is what it looks like. This is from running on quartz displaying to my VNC on Windows, so it is more widespread than I first reported. I also noticed that once I resized the window, it never did it again.

![zoom_bug](https://user-images.githubusercontent.com/1102718/113776530-e2635980-96de-11eb-9d3f-c432363e071b.png)

[2021-04-06 22:49] markcmiller86 commented on #5598
So, that stuff about maximum material *number* I recall is here, https://github.com/visit-dav/visit/blob/b638f05efb53020ac7d4258e76b46cf13fb51092/src/avt/Pipeline/Data/avtMaterial.C#L46-L53

So, maybe just taking a quick look here to ensure the database itself isn't using some wonky material numbers like 47,232,211 and that we won't allocate an array that large here...

[2021-04-06 23:21] brugger1 opened #5601 "Issues with mili derived variables."
Doug Faux tried out the new derived variables and reported a few issues. Here is his e-mail.

Eric,

I was able to launch and see Derived/brick/stress and Derived/brick/strain

A few issues
1.	There is no Derived/brick/stress/prin_stress/1
2.	There is no Derived/brick/strain/prin_strain/1
3.	There is a Derived/brick/strain/pressure                Should not be there, don’t know what was plotted

T

[2021-04-07 14:30] brugger1 opened #12332 "TurnMaterialOn/Off() crashing engine"
To whom it may concern:

In my VisIt python scripts I’ve used TurnMaterialsOn/Off() for years with a tuple argument of materials to be selectively turned on or off.  I’ve encountered problems with this functionality recently, where I can call these methods without arguments, turning on/off all materials, but if I attempt to turn on/off a single material the engine will unexpectedly quit.  I’m usin

[2021-04-07 14:33] brugger1 opened #12333 "Adding frames around zones in visualization"
Hi,

Is there a way to have a lines on the pseudocolor visualization, showing the border between zones?

In the attached figure, I have 5 material zones, but I cannot see the borders between them.

Regards,

Juan

![Screen Shot 2021-04-07 at 1 30 35 AM](https://user-images.githubusercontent.com/1102718/113884014-80a0ff00-9773-11eb-8a8d-ae34d379c6d0.png)

We're trying to [combine `visit-users` emai

[2021-04-07 14:37] brugger1 commented on #12332
Hi Jay,

Nothing has changed with TurnMaterialsOn/Off(). If it fails with 3.1.4 and older versions as well, I suspect that the issue is related to the data. If the data isn't too large you could send the data or you could run visit with "-debug 5" and send the "A.engine_ser.5.vlog" or "A.engine_par.000.5.vlog" file depending on whether you are running in serial or parallel.

Eric

[2021-04-07 14:48] brugger1 commented on #12333
Hi Juan,

You would need to have some way to identify the different materials. If the different materials are identified by different ranges in a variable, you could add a Contour plot and set the contour levels to be the values where the materials changed. For example, if the materials could be identified by density and the densities for the materials were in the ranges:

Material 1 1.5 - 1.8
Mat

[2021-04-07 14:54] markcmiller86 commented on #12332
I just looked at `globe.silo` (test data in `/usr/gapps/visit/data` on RZ/CZ), did a **FilledBoundary** plot of `mat1` variable there and then...

[code]

All of these worked fine (in that the engine didn't crash) so I think @brugger1 is on the right track here...its likely the input data file.

[2021-04-07 15:00] markcmiller86 opened #5602 "Fix poor CLI error message"
### Describe the bug

1. Open `globe.silo`
2. Draw **FilledBoundary** of `mat1`
3. Start command/CLI prompt
4. Try CLI call `TurnMaterialOff((1,5))`. You get the error message...
[code]
5. Try CLI call `TurnMaterialOff("5")`
[code]

### Expected behavior
Whether input is an int or string, it should echo back the input as we see in step 5, above. This only works when the input is a string. When its

[2021-04-07 15:47] ARSanderson opened #5603 "CMakeList.txt issue - qt wrong path - no error"
On OS X I recently blew away my build dir to start over and ran into an issues on the trunk

I had the wrong QT path in my machine.cmake file but no error was tossed. That is because I had the right path in my PATH  environment variable  (I use Qt Designer). As such CMakeList.txt is able to find:

-- moc location: /Users/allen/Projects/VisIt/Thirdparty/trunk/third_party/qt/**5.14.2**/i386-apple-da

[2021-04-07 15:55] brugger1 commented on #12332
Thanks for the rapid response Eric and Mark!

I ‘give’d you both a tarball on RZ with a quick test visit script and a dump file that should reproduce the issue:

-> take jay
-> tar xvf visTest.tar
-> visit -cli -nowin -s visTest.py

If you can give me a clue as to what could be wrong with my dataset wrt turning materials on/off in visit, that would be much appreciated.

Thanks!
Jay

[2021-04-07 16:26] markcmiller86-visit commented on #12333
Hi Eric,

Thanks for your response.  Each material is in a different zone, as seen
here:

![SubsetList](https://user-images.githubusercontent.com/1102718/113903735-252c3c80-9786-11eb-8dbe-8d5a2f1d4ce9.png)

Regards,

Juan

[2021-04-07 16:44] aowen87 commented on #5601
@brugger1 Do you know what Doug is expecting prin_strain and prin_stress to contain? If it's the "principal deviatoric tensor", then these are "prin_dev_stress" and "prin_dev_strain". These all were copied directly from the old Mili plugin.

[2021-04-07 16:52] brugger1 commented on #12333
Hi Juan,

In this case you can add a Subset plot of Zones (Add->Subset->Zones).

This will color the Zones a solid color. To display a border around each Zone, bring up the Subset attributes and turn on "Wireframe". If you want all the borders the same color, change the subset color to a single color.

![SubsetAttributes](https://user-images.githubusercontent.com/1102718/113904503-fa8eb380-9786-11

[2021-04-07 17:28] markcmiller86-visit commented on #12333
Hi Eric,

Thanks for your help.  The solid colors work, but the wireframe option
colors each tetrahedral element and not just the border.

![SubsetPlot](https://user-images.githubusercontent.com/1102718/113909647-c4543280-978c-11eb-9c5e-1da0ec8049c8.png)

Regards,

Juan

[2021-04-07 17:32] aowen87 commented on #5601
It sounds like pressure should only be added for stress, and the prin_dev_strain is missing the first component.

[2021-04-07 17:50] brugger1 commented on #12333
Hi Juan,

I suspect that this is being caused by the tetrahedral connectivity treating each element as an independent tetrahedron. VisIt determines the exterior boundary using the connectivity. For example, suppose you have 2 triangles that form a quad, sharing a diagonal of the quad.

`2-4`
`|\|`
`1-3`

If they were 2 independent triangles then the connectivity would be

Triangle 1 - 1 2 3
Triang

[2021-04-07 18:08] markcmiller86-visit commented on #12333
Hi,

Thanks for your response.  That may explain why some of the edges do not
appear.  My simulator writes tecplot format with sorted tetrahedral nodes.
For these actual tetrahedra:
1 2 3 4
1 2 3 172
1 2 4 5
1 2 5 163

How would I orient them in the Tecplot file?

Regards,

Juan

On Wed, Apr 7, 2021 at 12:51 PM Eric Brugger via visit-users <
***@***.***> wrote:

[2021-04-07 18:49] brugger1 commented on #12332
Hi Jay,

I got your data and getting close to figuring out this issue.

Eric

[2021-04-07 20:09] #5601 closed, assigned to aowen87

[2021-04-07 20:28] markcmiller86-visit commented on #12333
Hi Eric,

I did not see the problem for my exodus input file.  I am going to write a
python scripts which orients the surface normals of the tetrahedra pointing
out by changing the node ordering.

Regards,

Juan

On Wed, Apr 7, 2021 at 1:07 PM Juan Sanchez ***@***.***>
wrote:

[2021-04-07 21:04] markcmiller86-visit commented on #12333
Hi Juan,

Yes, that is the right path forward. I wanted to find a nice reference on how to order the nodes and couldn’t find anything quickly, but it is a node ordering issue. Sorting the nodes is definitely incorrect. The nodes for tetrahedra on opposite sides of a face need to be in the opposite order. Using the first 2 tetrahedra as an example and assuming the first tetrahedron was oriented cor

[2021-04-07 21:10] markcmiller86 commented on #12333
Before you go changing connectivity, try going to [global prefs](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/Preferences_Window.html) and checking the box there `Automatically remove duplicate nodes from fully disconnected unstructured grids` and see if that provides any relief.

![Screen Shot 2021-04-07 at 2 09 09 PM](https://user-images.githubusercont

[2021-04-08 02:18] markcmiller86-visit commented on #12333
![Screen Shot](https://user-images.githubusercontent.com/1102718/114044482-215af180-983c-11eb-8ea9-cc8695a9b2fd.png)

Hi Eric,

I was able to fix the issue in the output of my program with tetrahedra.  I
just needed to ensure that for these node triangle orderings, that the
cross product pointed away from the fourth node.
1 2 4
2 3 4
1 4 3
1 3 2

So the desired ordering will always be:
1 2 4 3

Fo

[2021-04-08 14:30] brugger1 commented on #12333
Hi Juan,

Glad you got it working. Thanks for reporting back with your solution.

Eric

[2021-04-08 14:37] brugger1 commented on #12332
Hi Jay,

VisIt is crashing creating ghost zones, which are necessary for doing material interface reconstruction. When you plot the entire mesh, it skips doing the material interface reconstruction, but when you turn off a material, it does the material interface reconstruction, which then triggers the ghost zone creation.

Looking at the ghost zone creation, it uses the domain boundary informatio

[2021-04-08 14:46] markcmiller86-visit commented on #12333
Hi Mark,

Sorry I missed your email, before I fixed the tetrahedra node ordering on
output from my software.  It is probably good I do it anyway, because it
seems many software applications have this requirement.

From your figure, how does "Automatically create vector magnitude
expressions" work?  Do I need to name the scalar fields in my Tecplot file,
if I want them combined into a vector?  Or d

[2021-04-08 15:19] biagas commented on #5540
Have a fix, it's a patch for vtkDataWriter, basically incorporating some changes to the file from vtk-master.
I will modify bv_vtk to apply the patch, then do testing on linux and Windows.
@brugger, do you think this should go in 3.2?

[2021-04-08 15:27] brugger1 commented on #5540
@biagas Yes, it seems like it should go in 3.2 since it's fairly significant for libsim.

[2021-04-08 16:19] burton29-LLNL opened #12334 "Can't save image with multiple databases open and graphed"
See screenshot where I am trying to save a Visit window as a .png image.  I have multiple sub databases open and graphed as you can see, but I get an error message that the "pipeline is being used incorrectly"
 I'm attaching the screenshot here:
<img width="1562" alt="Screen Shot 2021-04-08 at 9 12 32 AM" src="https://user-images.githubusercontent.com/71102332/114061630-810cc900-984b-11eb-89f8-882

[2021-04-08 18:00] brugger1 commented on #12334
Hi,

Those error messages are pretty generic and don't provide a lot of insight as to what might be going wrong. Can you run again with "-debug 5" on the command line and sending the resulting "A.engine_ser.5.vlog" and "A.viewer.5.vlog" files.

Eric

[2021-04-09 15:58] biagas commented on #5593
Using the lineout tool also causes the problem.

[2021-04-09 16:11] brugger1 commented on #5593
Here is the link to Kevin's original fix for the problem.

https://github.com/visit-dav/visit/pull/3620

[2021-04-09 16:26] brugger1 commented on #5593
I found the following issue on the web, that implies that Qt may need to be compiled with "-xcb-native-painting" for "QT_XCB_NATIVE_PAINTING" to take effect.

[2021-04-09 16:32] biagas commented on #5593
Thanks, I'll try adding that and rebuilding, see if it solves the problem.

[2021-04-09 18:13] #5540 closed, assigned to biagas

[2021-04-09 20:09] #5593 closed, assigned to biagas

[2021-04-10 04:50] markcmiller86 commented on #12333
Its mainly transparent to you. If I understood the situation correctly, you had an input mesh consisting of a collection of tets where each tet was wholly disconnected (e.g. did not share any nodes) from every other tet. That is a *fully disconnected* ucd mesh and VisIt can do a little work to connect it for you if that pref is set. I do think the nodes of each tet *must* use the bit-for-bit ident

[2021-04-10 17:17] markcmiller86-visit commented on #12333
Hi,

Thanks for your response.  I was interested in what is required to
"Automatically create vector magnitude expressions".  I am supposing I will
still need to create the vector expression, and then its magnitude
expression will be created for me.  This was unrelated to the original
topic.

On the topic of disconnected mesh nodes:  In my case, VisIt was not able to
see the tetrahedra were connec

[2021-04-12 15:29] ARSanderson opened #5617 "bv_mylib script variable convention"
In the past for thirdparty libraries source has been downloaded and binaries built along side the source. More recently out of source builds are done or thirdparty libraries may be prebuilt. As such, using MYLIB_BUILD_DIR is not always accurate.

For consistency we should use the following:
MYLIB_SRC_DIR - source code from a tarball
MYLIB_BUILD_DIR - could be the the source code dir or an out of s

[2021-04-12 20:09] rusu24edward opened #12335 "Compiling 3.1.4 on HPC cluster"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

Trying to compile VisIt 3.1.4 on our HPC cluster:

module load py

[2021-04-12 20:24] brugger1 opened #5618 "Coordinates for rectilinear ghost zone creation sometime wrong."
I noticed that FillRectilinearBoundaryData in avtStructuredDomainBoundaries wasn't called anywhere. I checked the function avtRectilinearDomainBoundaries::ExchangeMesh, where I expected to find it called and noticed the following modification comment (It was done intentionally as an optimization).

//    Tue Jun 21 14:50:55 PDT 2005
//    Just fake the new coordinates rather than undertaking a pai

[2021-04-12 20:27] rusu24edward commented on #12335
Hi Alex,

Sorry for your trouble building visit. I believe the bug you are experiencing was captured in [5318](https://github.com/visit-dav/visit/issues/5318), for which we have already [merged a fix](https://github.com/visit-dav/visit/pull/5413) for our development branch. This fix does not appear in 3.1.4 since that was released in November 2020 and the fix was applied in January 2021. However,

[2021-04-12 20:49] biagas commented on #12335
Hi Alex,

You should know as well that VisIt 3.1.4 is not compatible with VTK-9. You need VTK-8.1.0. We recommend using build_visit to build VTK since we apply necessary patches during the build.

Kathleen

[2021-04-12 22:10] brugger1 commented on #12332
My assessment was close but not completely correct. For every domain X that has a neighbor Y, domain Y has domain X as a neighbor. The problem is that the neighbor information has a bad value. The domain information is coming from a Silo file and has the following structure:

/Decomposition/gmapXX contains the neighbor information for domain XX.

In that directory are the following variables:

Num

[2021-04-12 22:17] brugger1 opened #5619 "Have ghost zone creation not crash engine when structured domain boundaries incorrect."
I had a user report a crash with VisIt in live-customer-support issue https://github.com/visit-dav/live-customer-response/issues/240. It turns out the crash was caused by incorrect structured domain boundary information in the Silo file.

VisIt should detect this situation and output an error message.

[2021-04-12 22:20] brugger1 commented on #12332
Closing since the Jay has been notified of the issue with his data and I entered a ticket to have the compute engine crash when the structured domain boundary information is correct.

[2021-04-13 18:07] #5619 closed, assigned to brugger1

[2021-04-13 18:17] biagas commented on #3053
With PR #5625 (3.2RC) and PR #5626 (develop), Cinema-c support was re-enabled, using the pre-vtk8 path of modifying vtkLookupTables in the dataset mapper. vtkDataSetMapper was subclassed as vtkVisItDatasetMapper for the sole purpose of  changing the vtkLookupTables used for LUMINANCE and VALUE rendering modes. The superclass does all the rendering.

Using RenderingPasses as suggested by Brad in co

[2021-04-13 20:01] rusu24edward opened #5628 "Consolidate client server documentation"
### Describe what needs to be documented.
Documentation on client server lives in our [gui manual](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/ClientServer/index.html), our [remote usage tutorial](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/RemoteUsage.html), and our old [visit users wiki](http://visitusers.org/index.php?title=Runnin

[2021-04-13 20:27] biagas commented on #2833
Never received feedback from Kevin. Still unable to reproduce. Closing.

[2021-04-13 20:27] #2833 closed, assigned to biagas

[2021-04-13 21:56] biagas commented on #2928
No longer seeing this. Tried 3.2RC. Something must have changed with newer Qt. Closing.

[2021-04-13 21:56] #2928 closed, assigned to biagas

[2021-04-13 22:35] brugger1 commented on #5628
We should have a broader discussion about how to organize the top level of our users manual.

[2021-04-13 22:42] #5577 closed, assigned to nobody

[2021-04-13 22:53] brugger1 commented on #5603
We can probably add logic to VISIT_OPTION_DEFAULT to check the path so that we don't have to modify all the find modules.

[2021-04-13 23:01] markcmiller86 commented on #5602
We should support specifying materials by integer number (where such numbers are the material numbers used by the data producer...if it used 5 materials numbered `7,15,23,99,100100100`, then those are the 5 ints that can be used in this call).

We should also support specifying materials by a string of a typle of names, `"(mud, water, dirt)"`, in addition to a tuple of  strings, `("mud","water","d

[2021-04-13 23:13] #2879 closed, assigned to rusu24edward

[2021-04-14 02:32] #3164 closed, assigned to biagas

[2021-04-15 18:08] rusu24edward opened #5631 "Documentation Organization"
To guide our discussion on documentation organization.

Currently, our sphinx document has the following top level sections:
1. How to Search -- a one-page description telling visitors how to use the sphinx search feature.
2. GUI Manual -- pretty much everything the user needs to know about Visit
3. CLI Manual -- intro to our CLI, along with some example scripts, and a doxygen-like presentation of

[2021-04-15 18:12] rusu24edward opened #12336 "Material plots from Hydra bug in 3.1.4"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I can no longer make material plots from Hydra using VisIt. Every time I

[2021-04-15 18:17] rusu24edward opened #12337 "Error installing Visit"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,
I am new to this software, installed it according to the website i

[2021-04-15 18:21] brugger1 commented on #12336
Hi Oggie,

Jay Salmonson reported the same issue a week ago. I looked into it and found that the domain boundary information that specifies how domains connect to each other has an issue and is causing VisIt to crash. Jay said he reported the issue to the hydra developers (this was last Friday 4/9). I haven’t heard any news since. I can modify our reader to work around the issue, but I’d like to h

[2021-04-15 18:28] markcmiller86-visit commented on #12336
Ok, thanks.

From: Eric Brugger via visit-users ***@***.***>
Reply-To: visit-dav/live-customer-response ***@***.***>, VisIt software users community ***@***.***>
Date: Thursday, April 15, 2021 at 11:22 AM
To: visit-dav/live-customer-response ***@***.***>
Cc: Eric Brugger ***@***.***>, Subscribed ***@***.***>
Subject: [visit-users] [EXTERNAL] Re: [visit-dav/live-customer-response] Material plots fr

[2021-04-15 18:32] rusu24edward commented on #12337
Hi Rohan,

Can you provide me the website link that contained the installation instructions?

Eddie

[2021-04-15 18:35] brugger1 commented on #12336
Hi Oggie,

I just sent an e-mail to one of the Hydra developers.

Eric

[2021-04-15 18:35] markcmiller86-visit commented on #12337
Dear Eddie,

https://visit-sphinx-github-user-manual.readthedocs.io/en/latest/Intro/Installing_VisIt.html
- This was the site,

Thank you for the reply,

*Rohan Srikanth*

On Fri, Apr 16, 2021 at 12:03 AM Edward Rusu via visit-users <
***@***.***> wrote:

[2021-04-15 19:44] rusu24edward commented on #12337
Hi Rohan,

When you arrived [here](https://wci.llnl.gov/simulation/computer-codes/visit/executables), exactly which platform link did you select?

Eddie

[2021-04-15 21:21] ARSanderson opened #5633 "src/visit_vtk/full/vtkVisItPolyDataNormals2D.C"
The variable nVerts defined on line 171 occludes the definition on line 122. As a result the copy on line 170 is not correct and possibly line 237 and line 244. It should be renamed to npts.

        outCD->CopyData(inCD, nVerts+i, nVerts+i);
        int **npts** = *connPtrL++;
        if (**npts** == 2)
        {
            output->InsertNextCell(VTK_LINE, **npts**,

[2021-04-15 23:28] rusu24edward opened #12338 "Visit error on Trinity"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,

I’m trying to run visit on Trinity but running into an error. The fi

[2021-04-15 23:38] rusu24edward commented on #12338
Hi Yan,

I believe your issue is similar to one we had previously encountered on Trinity systems (see [here](https://github.com/visit-dav/visit/issues/5201) for more details). It appears that the older versions of libraries that Visit uses got upgraded. We rebuilt and tested version 3.1.1 using the newer dependencies, and that worked. Can you try running that version and let me know if that works

[2021-04-15 23:54] markcmiller86-visit commented on #12338
Eddie,

There are no executables in the 3.1.1 folder. The only folder with an executable is in the main bin folder which seems to point to v2.13.2. Would someone be able to rebuild and replace the executable in the bin folder with the updated version?

Yuan

From: Edward Rusu via visit-users ***@***.***>
Sent: Thursday, April 15, 2021 4:39 PM
To: visit-dav/live-customer-response ***@***.***>
Cc: E

[2021-04-16 12:46] markcmiller86-visit commented on #12337
Dear Eddie,

Thank you for that, I just checked and had made a silly error in the
installation, downloaded the Ubuntu-16 executable instead of 20, it works
now,

*Rohan Srikanth*,

On Fri, Apr 16, 2021 at 1:15 AM Edward Rusu via visit-users <
***@***.***> wrote:

[2021-04-16 17:11] markcmiller86 commented on #5461
FYI...CGNS team is patching their configure to test only for [libs, not includes](https://github.com/CGNS/CGNS/pull/246)

[2021-04-16 17:25] brugger1 commented on #12338
Hi Yuan,

There should be other versions installed on trinity. Are you running directly on the login node?

Can you try “/usr/projects/views/visit/bin/visit -v 3.1.1”?

Thanks,

Eric

[2021-04-16 17:26] brugger1 commented on #12338
Eric,

Using the command you listed worked. There are other versions in the folder but 3.1.1 seems to be the newest.

Thanks for the help,
Yuan

[2021-04-16 19:19] brugger1 opened #5635 "Modify cmake invocation for building icet to match the rest of build_visit."
### Describe the bug

On kickit, when building IceT, the first time build_visit is called, cmake fails because of unresolved symbols. The second time it is fine. I noticed that for IceT, build_visit calls cmake directly, whereas everywhere else in build_visit, a bash shell script is created and that is run. The thing that distinguishes kickit is that cmake is built with a non-standard compiler.

[2021-04-16 23:19] brugger1 opened #12339 "Spatial average."
Hi,

How can I find spatial average of 3D data onto a 2D plane more specifically how can I get spanwise average of a 3D flow field?

Thanks,
Al Shahriar

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to email

[2021-04-16 23:32] brugger1 commented on #12339
Hi,

You can use the Data Binning operator. You can use it to create a 2D grid of bin in the X-Y plane and then average all the values of any cells whose (X,Y) coordinate falls in that range.

Here is how it works using one of VisIt’s sample data sets.

Open rect3d.silo. It consists of a 3D rectilinear grid that is 30 x 40 x 30 with extents from 0 -> 1 in each spatial direction.

Here is an image

[2021-04-19 14:54] brtnfld commented on #5463
This was fixed in CGNS PR246 in _develop_ and will be in the next upcoming 4.2.0 release. Let us know if anything else is needed, ref. https://cgnsorg.atlassian.net/browse/CGNS-233

[2021-04-19 16:28] brugger1 commented on #5518
Here is an e-mail about high order elements on the CGNS mailing list.

Hi,

Right now there are no known major incompatibilities concerning  High Order.
In the future, as High Order CPEXs goes mainline for CGNS 5.0 version, some incompatibilities may arise.
The incompatibilities should mainly be about interpolation solution location storage but other CGNS users could provide a more detailed explan

[2021-04-19 17:49] markcmiller86 commented on #5594
I am back to building 3.2 on OSX. I was too spent from ECPAM to do it friday last week and I was helping in the CI Startup Tutorial through mid-day friday anyways.

[2021-04-19 22:23] #5586 closed, assigned to rusu24edward

[2021-04-20 03:11] markcmiller86 commented on #4516
For 3.2 VisIt release on macOS, I believe I need to modify `build_visit` in the ways described [here, above](https://github.com/visit-dav/visit/issues/4516#issuecomment-770951855) and am now working on a series of PRs to do just that. If objections or alternative opinions, please let me know ASAP.

[2021-04-20 05:27] markcmiller86 commented on #4516
For item 1 [here, above](https://github.com/visit-dav/visit/issues/4516#issuecomment-770951855) added PR #5639

[2021-04-20 15:33] brugger1 opened #12340 "Issue plotting data from DDCMD."
I had a user report a problem displaying data from DDCMD. He provided a sample data file and Liam was able to create a correct image using VisIt 3.1.3 on Fedora33.

Here is the e-mail chain.

Hi Tomorr,

I was able to plot the particle Ids when I changed the glyph type to "Sphere". I still had an issue with the data range for the Id being 0 - 65495 and some of the particles being outside the recta

[2021-04-20 17:23] biagas commented on #12340
I don't think I'm understanding the issue.
What are the steps to reproduce?
I successfully created Psuedocolor plot of 'Id' using 3.1.4 and 3.2.0 on Windows, and 3.1.3, 3.1.4 and 3.2.0 on pascal (running through VNC on my windows machine). I used 'point' and 'sphere' glyphs.

[2021-04-20 17:48] brugger1 commented on #12340
The data range was incorrect for me. I saw 0 - 65495 and it was different in Liam's image. Also, I got some particles outside the bounding box (rotate the image to see them, they are behind most of the spheres in the default view). I assume there shouldn't be any outside the bounding box. When I did it on Windows I got a blank image with point. I had to switch to sphere to see them.

[2021-04-20 18:05] biagas commented on #12340
For any type of glyphing (non-Point), they may appear outside the bounding box.
I am not able to duplicate, I've attached snapshot from Windows (which is the same thing I get on Pascal).
![Capture](https://user-images.githubusercontent.com/17075318/115443583-4b130180-a1c8-11eb-9eb0-c4a558d3a14e.PNG)

[2021-04-20 18:07] biagas commented on #12340
Makes me wonder if there is something amiss in a config file ?

[2021-04-20 18:29] brugger1 commented on #12340
Here is what I see with points and a point size of 20. Just a single point. If I rotate the image the point may disappear and another point may show up.

![ddcmd1](https://user-images.githubusercontent.com/1102718/115446147-9f6bb080-a1cb-11eb-9824-a2c417294e93.png)

Here is what I see with spheres. There are definitely spheres outside the box and the data range is wrong in both images.

![ddcmd2](

[2021-04-20 18:30] brugger1 commented on #12340
Maybe memory corruption?

[2021-04-20 18:34] biagas commented on #12340
Can you try a run with -noconfig?

[2021-04-20 18:55] #5633 closed, assigned to nobody

[2021-04-20 20:18] brugger1 commented on #12340
Same behavior.

[2021-04-20 21:41] solberg2 opened #5640 "Default colorscheme for mili files produces materials using black as the color"
### Describe the bug

Have parallel problem run using "Diablo" . These are closed-side problems.  The problem has upwards of 200 materials.  Combine the "mili" files using xmilics and then create the "mili" Visit file using makemili_driver.  Now open the problem and you get a lot of materials with black as the color, when you plot "filled boundary".  If I manually change the color scheme.  Default

[2021-04-20 21:51] brugger1 opened #5641 "Cinema specs A & C deprecated."
I was looking at the Cinema specification and noticed that specs A & C are listed as deprecated. We should remove A & C, but I believe put some of the functionality in C into the D spec if it isn't already there (floating point images, z buffer values, luminosity, ...)

[2021-04-20 21:53] brugger1 commented on #5641
Here is a link to the page describing the specs.

https://cinemasciencewebsite.readthedocs.io/en/latest/specifications.html

[2021-04-20 22:33] brugger1 commented on #5640
Mili files can specify colors for materials, so that may be related to this.

[2021-04-21 01:03] markcmiller86 commented on #5640
The workflow here, `xmilics` and `makemili_driver` seems a bit antiquated...like maybe the new approach to using mili in parallel is either unknown to the user or maybe doesn't work. Either way, we should understand why.

[2021-04-21 16:28] solberg2 commented on #5640
Hi Mark,

My experience recently using makemili_driver on parallel files is not good, especially on the closed side (where the driver for parallel files seems broken).

I’m all for the parallel makemili_driver otherwise.  I used to Visit in parallel on mili files all the time before the switch to the new plugin.  Now it just doesn’t work on parallel databases on the closed side.

Kevin Durrenberge

[2021-04-21 16:53] aowen87 commented on #5037
We can pretty easily change the behavior of objects like the triad so that they maintain a 1:1 aspect ratio, but this also means that they behave more like the axis actors in general. Most notably, this means that these objects can go out of view.

I've created a simple video that demonstrates these behaviors. In this video, the **triad** has been altered to maintain a 1:1 aspect ratio  by setting

[2021-04-21 17:08] brugger1 commented on #5037
I originally thought it wouldn’t work well, but it actually is quite reasonable. The only concern is if the user zooms in that the triad would go off screen and you wouldn’t see it. The bounding box has the same issue, but it seems like it’s part of the object and therefore behaves as I expect it would.

[2021-04-21 17:12] aowen87 commented on #5037
I think there's also a ticket somewhere requesting the ability to change the position of the triad and legend. If people really wanted to keep the triad in view after zooming in, they could use that (future) feature to make it happen.

[2021-04-21 17:14] biagas commented on #5037
I thought the purpose of the triad was to give some spatial perspective regardless of the zoom/pan of the plot.
If it moves with zoom and pan and can go offscreen, what's the point?

[2021-04-21 17:43] aowen87 commented on #5037
I haven't really thought of the triad in that manner, but maybe I'm in the minority here? I always just assumed it was for directional context only.

Should I move this out of reviewed so that we can discuss this in an upcoming meeting?

[2021-04-21 17:52] biagas commented on #5037
Any way to force them to maintain their position in the viewport / prevent them moving offscreen when pan or zoomed?

[2021-04-21 18:10] brugger1 commented on #5037
Yes, sounds like we should move out of reviewed and re-discuss.

[2021-04-21 18:22] aowen87 commented on #5037
I tried a couple of things earlier, but they all had serious issues. I might be able to translate coordinates from the viewport to the world. I'll give that a try once I finish up this other branch I'm working on.

[2021-04-21 19:18] markcmiller86 commented on #5640
Ok, thanks for explanation. So, you were kinda sorta forced into using `xmilics` because `makemili_driver` on parallel files is not working for you?

[2021-04-21 19:58] solberg2 commented on #5640
Yes.  On the closed side it crashes with segmentation faults/errors, on the files I am trying.

On the open side for the smaller cases that I tried it on recently, it works.  I might have had trouble sometime in the past, but most of the big problems I run are on the closed side.

The users have batch scripts that run ‘xmilics’ then run ‘makemili_driver’ on the combined file, which is why this is

[2021-04-21 20:44] aowen87 opened #5646 "Hybrid tests"
This ticket stems from [this ](https://github.com/visit-dav/visit/pull/5644#discussion_r617851423) conversation.

I've always been a bit confused about the purpose of the hybrid tests. I've been assuming that they hold "hybrids" that combine many features of VisIt and don't belong in any one category, but there are some tests that don't quite follow that logic. "mesh_quality" is one of these. I wo

[2021-04-21 21:29] biagas commented on #3055
Resolved by #5625, #5626.

[2021-04-21 21:29] #3055 closed, assigned to biagas

[2021-04-21 21:31] aowen87 commented on #5037
My efforts to keep the triad in view have failed so far. I'll put a pause on further efforts until we've talked about this as a group.

[2021-04-21 22:03] #5600 closed, assigned to aowen87

[2021-04-21 23:00] aowen87 commented on #1923
Has anyone been able to reproduce this recently? I used to run into this all the time and was able to easily reproduce, but I'm having a hard time accomplishing this now... I don't want to get my hopes up and think that it's magically been fixed somehow.

[2021-04-21 23:11] markcmiller86 commented on #1923
@aowen87 based on prev comment by @cyrush I think the user's script is in error. `CloseComputeEngine("localhost")` apparently does not work. It returned `1L` for @cyrush but nonetheless, did not actually close the engine.

It would be good to know if using `CloseComputeEngine(GetEngineList()[0])` as @cyrush suggests *fixes* the problem in that the performance issue goes away?

I don't think there

[2021-04-21 23:18] aowen87 commented on #1923
@markcmiller86 I'm using a simple reproducer that doesn't try to close the compute engine at all (I've also tried variations closer to the ones mentioned above). I used to run into this issue whenever I was using VisIt to loop over time states and save out some piece of data (usually png or BOV files).  What would happen is that VisIt would start to slow down significantly after some number of sav

[2021-04-21 23:49] markcmiller86 commented on #1923
Well, it isn't fair of me to suggest this issue is about *all leaks* in VisIt...The headline does qualify it as *repeated rendering*. So, if you've got good evidence that repeated rendering isn't leaking...I say close as resolved. Maybe post the reproducer script you are using and some output from it as evidence though ;)

[2021-04-22 00:21] markcmiller86 commented on #5646
Its hard to trace back history on `tests/hybrid`. It was moved from `test` to `src/test` when we moved to GitHub. Originally, we had dirs for `plots`, `operators`, `databases`. I think `hybrid` was added as a home for tests that weren't testing specifically just one of those things. But, I think that dichotomy has largely blurred over the years due to the creation of other top-level test categorie

[2021-04-22 15:38] rusu24edward commented on #1923
I saw this as late as December 2020, see [this comment](https://github.com/visit-dav/visit/issues/1923#issuecomment-741361152) above. I haven't tried it since then.

[2021-04-22 15:46] biagas opened #12341 "build_visit --server-components-only does not build CLI"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

I finally managed to compile VisIt 3.1.4 on our HPC cluster with

[2021-04-22 15:52] biagas commented on #12341
Hello Alex,

The --server-components-only option is designed for building only those components necessary for processing data on a remote machine, while the gui and cli run on a local machine and connect to the remote server.

I can enter a ticket to provide the sort of build you need, I'm not sure there are any other options at this point.

Kathleen

[2021-04-22 15:57] biagas opened #5648 "build_visit option for building on a server with cli capabilities"
### Is your feature request related to a problem?
From [SRE 249](https://github.com/visit-dav/live-customer-response/issues/249)
--server-components-only does not allow the cli to be built.

Client would like an option to allow cli with --server-components-only to provide scripting and offscreen rendering capabilities on a cluster.  No GUI  build, no windows popping up.

[2021-04-22 15:58] biagas commented on #12341
I created a [ticket](https://github.com/visit-dav/visit/issues/5648).

[2021-04-22 16:28] markcmiller86 commented on #5594
@cyrush ... I keep getting an issue where VisIt tries to pass the linker `-llibcgns.so` instead of `-lcgns` so the build fails during CGNS plugin. I've tried all sorts of manual edits to CMake content and then restarting masonry build (just so I can understand where I might need to go to fix) and it still winds up getting overwritten with the wrong string.

Separabely, but perhaps related. CGNS ap

[2021-04-22 16:52] cyrush commented on #5594
What doe the cngs entries in the config-site look like?

There is some build_visit logic to create a shared lib specific to macOS:
https://github.com/visit-dav/visit/blob/develop/src/tools/dev/scripts/bv_support/bv_cgns.sh

I would expect that to create a dylib -- however it might be based on old cgns builds, maybe its not working to all?

[2021-04-22 17:09] aowen87 commented on #1923
@rusu24edward Did you ever try reproducing this yourself?

[2021-04-22 17:12] rusu24edward commented on #1923
No, I did not.

[2021-04-22 17:41] biagas opened #5649 "build_visit static invocation fails configure (manuals enabled but no sphinx)"
### Describe the bug
A static invocation of build_visit does not build python packages like sphinx.
When it comes to building visit, configure fails because VISIT_ENABLE_MANUALS is ON, but sphinx isn't found.

If doing a static-build, the manuals should be disabled.

[2021-04-22 17:44] biagas opened #5650 "SW4 plugin's strange naming causes static build to fail"
### Describe the bug
Attempting static build_visit run with following command line:
[code]

CMake configure fails with numerous error messages like this:
[code]

Seems like the static dependency checking is expecting the plugin name to match it's directory name.  In this case the directory is 'SW4' but the plugin name specified in 'sw4.xml' is 'sw4img'.

I think either the directory should be rena

[2021-04-22 17:46] markcmiller86-visit commented on #12341
Thank you very much, Kathleen! I’ll be monitoring the ticket.

Best regards,

--
Alex Razoumov
WestGrid Training & Visualization Coordinator, Compute Canada
On Apr 22, 2021, 8:52 AM -0700, Kathleen Biagas via visit-users ***@***.***>, wrote:

[2021-04-22 18:13] markcmiller86 commented on #5594
All I see there is what I'd expect...

[code]

and nothing about `libcgns.so`. However, in `VisItLibraryDependencies.cmake.in`, I get...

[code]

and I do see `-llibcgns.so` there.

[2021-04-22 18:40] cyrush commented on #5594
strange, then it sounds like a logic issue in our standard third lib cmake logic.

[2021-04-22 20:45] ARSanderson commented on #5617
@biagas,  @cyrush and @markcmiller86 As you all have mucked about a bit over the years with the bv_* file could I get some input from you all. I did this initial clean up as I was building VTK with OSPRay as new bv_* were needed. The input needed most specifically is 3. which changes the current name paradigm. I am not set that it should be and it is easy to accomplish with a script. Thanks

[2021-04-22 20:54] biagas commented on #5617
For 3: I am fine with the name change. I think it makes a lot of sense, and have often thought to do the same when I encountered the strange logic used for out-of-source-builds to rename build dir.  You've accounted for calls to 'ensure_built_or_ready' ?

For 5: there is a a script to create a basic bv_module: construct_build_visit_module.sh. It may need an update. I suggest just updating that.

[2021-04-22 20:58] aowen87 commented on #5549
Letting users enter coordinates would be pretty simple. Having a "drag and drop" ability would be really cool, but it's not quite clear how to do that. I've seen this question come up a few times on older vtk forums, but I haven't found any posted solutions yet. I've posted this question again to their discourse page.

[2021-04-22 20:58] biagas commented on #72
@cyrush Is there more to this than removing TESSELLATION_LIBRARY logic in CMake/PluginVsInstallHelpers.cmake and CMake/VisItOpenGL.cmake?

[2021-04-22 22:04] ARSanderson commented on #5617
@biagas - Ahh yes, ensure_built_or_ready should really be ensure_installed_or_ready and I see some other variable name changes that should be made for clarity.

[2021-04-22 22:46] #5387 closed, assigned to biagas

[2021-04-22 22:46] #5483 closed, assigned to biagas

[2021-04-22 22:46] #5531 closed, assigned to biagas

[2021-04-22 22:46] #5635 closed, assigned to biagas

[2021-04-22 22:46] #5649 closed, assigned to biagas

[2021-04-23 00:00] markcmiller86 commented on #5617
@ARSanderson as I read these comments, they appear to be referring to (some) work you've already done that we can't see. I think the *GitHub* way of engaging a conversation about that is to use a [draft pull request](https://github.blog/2019-02-14-introducing-draft-pull-requests/). That way, we can all see and have a conversation about it.

If it is at all practical, can you push to origin and cre

[2021-04-23 00:35] mahdadt opened #12342 "Building problem"
Hello,

I have been trying to install or build VisIt on our university HPC system and it is not working. After installation was unsuccessful due to some problem with the system's python libraries I decided to build it using the build script provided. But I got an error in the building process. I attached my log so you can help me.

Thank you,
Mahdad
[build_visit3_1_4_log.txt](https://github.com/vi

[2021-04-23 01:54] ARSanderson commented on #5617
@markcmiller86 correct some work has been done. Actually at this point most has been done and is now in this branch.

task/allen/bv_cleanup

A good example to look at is bv_vtk.sh.

BTW when building vtk, vtkm and vtkh if the source dirs are present they get deleted and then uncompress again. Not sure if anyone ever noticed that. That is ensure_built_or_ready is called twice once in the bv_vtk_ens

[2021-04-23 02:28] markcmiller86 commented on #5617
I think any one of us can certainly do a `git checkout task/allen/bv_cleanup` and a `git pull` to go look at things there.

But, again, that doesn't really facilitate a *conversation* about the proposed changes where comments/questions are intermixed with file diffs.

Is submitting a draft PR to facilitate this conversation possible?

[2021-04-23 19:42] ARSanderson commented on #5617
@markcmiller86  - see https://github.com/visit-dav/visit/pull/5653

[2021-04-23 19:43] cyrush commented on #5640
@solberg2  I tried to search for a related ticket from Kevin but didn't finding anything (my search might not be great). if possible, would be good to have that ticket and those details connected here.

[2021-04-23 19:44] markcmiller86 commented on #5617
Aweseome! @ARSanderson thanks so much! Much easier to talk about the details now.

[2021-04-23 20:40] biagas opened #12343 "PointPick on multiple points"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I’m looking for an automated way to sample a set of points on a plot usin

[2021-04-23 20:46] markcmiller86 commented on #5617
Ok, I did two things. I made a lengthy comment in the PR but then also 14 comments pinned to lines changed for concrete conversations. I hope this helps get the dialog going, Allen. Thanks for starting this work.

[2021-04-23 20:47] solberg2 commented on #5640
Hi Cyrus,

From what I understand, Kevin communicates this stuff to Alister and he is the one who submits the tickets.

Whether or not there is a ticket, it is still true that the SCF version of makemili_driver doesn’t work for parallel files, and actually the “old” version makemili_serial doesn’t work at all.

Jerome

From: Cyrus Harrison ***@***.***>
Sent: Friday, April 23, 2021 12:44 PM
To: vis

[2021-04-23 20:51] markcmiller86 commented on #12343
What about doing a [CMFE expression](https://visit-sphinx-github-user-manual.readthedocs.io/en/latest/Quantitative/Expressions.html#comparison-expressions) onto a point mesh? Create a database with a point mesh in it with all the points in the mesh being your sample points. The do a CMFE of the plot's variable *from* its original database *onto* that point mesh. Once there, you can export to some

[2021-04-24 19:25] burton29-LLNL opened #12344 "Getting average values along a fixed line over all time steps"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Getting average values along a fixed line over all time steps, using Lin

[2021-04-26 15:20] biagas opened #12345 "Volume rendering on Windows"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

Using the VisIt windows binary downloaded, for Volume Rendering u

[2021-04-26 15:22] biagas commented on #12345
Hi Simon,

This shouldn't be hapening.
Which version of Visit are you using? Are you running Windows 10 or an older version?
Did you change any of the rendering options other than the method?

[2021-04-26 15:48] markcmiller86-visit commented on #12345
CLASSIFICATION: UNCLASSIFIED

Hi Kathleen,

I downloaded VisIt 3.1.4 executables for windows. And yes I am running windows 10 with all the latest updates.
No I didn’t change any rendering option. All I did was load nosie.silo and add a volume rendering plot for Hardyglobal. It worked ok for the Default Rendering option. Then in the Volume plot attributes, when I changed the rendering method to any

[2021-04-26 15:52] aowen87 commented on #12344
Hi @burton29-LLNL,

It sounds like what you're looking for is a lineout that contains sample points which are averages over time. Is that right? If so, this is one way you can accomplish this:

1. Create an expression variable that is an average over time: Controls->Expressions, add a new expression, and insert the time_iteration function "average_over_time". For your case, you probably just need

[2021-04-26 16:09] biagas commented on #12345
Thanks for the info. When I downloaded and tested 3.1.4 just now on my personal Windows machine, I didn't experience the problem. When you did the install or when you tried to run VisIt did you get any error/warnings from Windows Defender or any AV software?

Can you try running VisIt from a command prompt and add '-noconfig' (to rule out a bad setting in saved configurations).

If running no-conf

[2021-04-26 16:33] markcmiller86-visit commented on #12345
CLASSIFICATION: UNCLASSIFIED

Thank you for confirming it. When I install them for the first time and for a single user, I am getting a prompt about the source of the installation (can’t remember exactly) but I pick the option to continue with the installation. Then I uninstalled it and reinstall it again without getting the prompt (install for all users) and I am also getting the error when chang

[2021-04-26 16:55] markcmiller86-visit commented on #12345
CLASSIFICATION: UNCLASSIFIED

I tried with –noconfig for 3.1.4 and got the same error when changing the rendering method. Then I tried 3.2.0 with and without –noconfig with the same error

Scalable Render Request Failed (VisItException)
Viewer.exe: obtained null data reader for rendered image for engine DESKTOP

But when I tried 3.1.3 on my mac with the version I compiled myself, OSPRay volume ren

[2021-04-26 17:29] markcmiller86 opened #5654 "Email list transition to GitHub Discussions"
We discussed this in a special topics meeting.

<details>
<summary>special topics discussion details</summary>

Because support for our email lists (visit-users, visit-announce, visit-developers, visit-help-asc, visit-help-scidac) at ORNL seems to be waning, we met to discuss alternatives.

We chatted about options like slack, discourse (an online discussion forum tool), our existing GitHub live-c

[2021-04-26 18:11] markcmiller86 commented on #5587
I am declaring *resolved* because I've made the request. That said, it will also be moot once #5654 is complete.

[2021-04-26 18:11] #5587 closed, assigned to markcmiller86

[2021-04-26 18:26] aowen87 commented on #5549
Here is a simple example that allows "drag and drop" of actors: https://vtk.org/Wiki/VTK/Examples/Cxx/Visualization/MoveActor

Our case is quite a bit more complicated, but we might be able to pull it off. I'm looking more into this.

[2021-04-26 22:55] #3689 closed, assigned to biagas

[2021-04-27 00:15] joepmorris commented on #12343
Excellent suggestion! I tried it out and it appears to work well. One gotcha I notice is that the interpolation appears to be onto the target point mesh cell centers. The easy fix is to shift the points so the interpolation is onto the points you originally wanted. The performance is pretty good (orders of magnitude faster than point-based queries!). Thanks for your help,
Joe.

[2021-04-27 01:21] markcmiller86 commented on #12343
Hmm....if you have a CMFE *target* mesh of *just points*, the *cell centers* should be one in the same with the *points*. However, if the variable on the *donor* mesh is a cell-centered variable, that could potentially cause issues. I would ensure the donor variable is node-centered first by creating an expression using the [`recenter`](https://visit-sphinx-github-user-manual.readthedocs.io/en/lat

[2021-04-27 15:19] biagas commented on #12342
Hello Mahdad, I apologize for the delay in responding.

Your error message is related to python 3 ( No module named '_ctypes').
We encountered this error before on an old RHEL 6 system (See ticket [4758](https://github.com/visit-dav/visit/issues/4758)).
Since you are building 3.1.4, python3 is only required for building our sphinx documentation, so you can work around the error by adding '--no-sph

[2021-04-27 15:22] biagas commented on #12345
When you run with debug 5, you can share the log files here (zip'd) if nothing jumps out at you. I'd like to learn why this is occurring so I can work on a fix. Thanks!

[2021-04-27 17:07] markcmiller86 commented on #5568
This is done [here](https://visit-dav.github.io/visit-website/science/ShockPhysics/)

Some issues I ran into...
* discovered `.mpeg` videos didn't work correctly in Chrome
* changed video formats to `.mp4`
* tested on chrome, safari, firefox, edge, android and iphone...videos work!
* minor issue on safari...the embedded video is horiz. scrolled a tad in the iframe. Its undesireable but still worka

[2021-04-27 17:07] #5568 closed, assigned to markcmiller86

[2021-04-27 18:11] biagas commented on #122
Taking out of reviewed state for discussion.

Current version of the volume expression displays negative volumes by default. Exactly the desired solution indicated by the comment.

I tested this by:
loading arbpoly-zoohybrid.silo, then exporting as VTK and using the tetrahedralize export option.
I then loaded the exported database, created a volume expression for the mesh and plotted a Pseudocolor

[2021-04-27 22:28] biagas opened #5658 "CreateBonds window bonds list funniness"
### Describe the bug
The Min/Max in the Bonds list gets set to %.1 when values changed in the Details section.
Clicking Apply fixes.

![CreateBonds_bug_1](https://user-images.githubusercontent.com/17075318/116320269-c34f6900-a76c-11eb-8420-20e0d67e5f36.PNG)

![CreateBonds_bug_2](https://user-images.githubusercontent.com/17075318/116320293-cd716780-a76c-11eb-8bd5-f8ad50fe700f.PNG)

Here are some wa

[2021-04-27 22:37] brugger1 commented on #5648
We should add controls to allow fine grain control over the different components. When someone works on this, they should submit a proposal to the developers.

[2021-04-27 22:39] brugger1 commented on #5646
A reorg seems in order.

[2021-04-27 22:45] brugger1 commented on #5037
The triad should be in the corner. It should also have the perspective/parallel mode match the object. I believe it is always in parallel projection mode.

[2021-04-27 22:48] cyrush commented on #5037
![Screen Shot 2021-04-27 at 3 46 19 PM](https://user-images.githubusercontent.com/1194526/116321935-eaf40080-a76f-11eb-8a33-6aa3edaed82a.png)

We might want to rethink our ancient triad technology.

[2021-04-27 23:03] markcmiller86 commented on #5654
The heavy lift here is the two scripts to convert email archives and live-customer-response issues to GitHub discussion entries. Getting those complete is sort of the key factor in determining *when* we can safely elim. email.

One proposal was to start GitHub discussions asap. However, we'd be in the positiion of supporting *both* email and GitHub discussions until the aforementioned scripts are

[2021-04-27 23:07] markcmiller86 commented on #122
We decided to take `low-hanging fruit` label off as this is likely more involved. In particular, Silo plugin has auto-detection logic that examines the *first* tet of a ucd mesh and if that *first* tet is inverted, it will invert *every* tet in the mesh it finds. This auto-logic would foil in any attempt to view negative volumes later on.

We could make that Silo plugin logic part of a read option

[2021-04-27 23:31] biagas commented on #122
@markcmiller86 see my comments above. The volume expression already allows negative volumes by default.

[2021-04-27 23:37] brugger1 opened #12346 "Exodus from VisIt?"
Hello,
I'm using VisIt to post-process ALE3D output, and I need to convert it to Exodus, which isn't an option in File > Export Database...  Does anyone have any suggestions? And can I request an enhancement for VisIt?
Thanks,
Keith

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-In

[2021-04-27 23:37] markcmiller86 commented on #122
Ah, ok. I misunderstood. Ok, so I think this is a `low-hanging fruit` item but for a different reason than it was first categorized that way. All that we need is a database read option to disable the tet checking and correcting logic in Silo plugin which is here...

https://github.com/visit-dav/visit/blob/96f93d6c68b43e3367ac0ed53d42c08d3d69ea13/src/databases/Silo/avtSiloFileFormat.C#L10414-L10424

[2021-04-27 23:40] markcmiller86 commented on #12346
Hmmm...already responded to an LLNL user that made this request on behalf of Keith. Here is my response...

[2021-04-28 13:30] markcmiller86-visit commented on #12346
On Apr 27, 2021, at 6:40 PM, Mark C. Miller via visit-users ***@***.******@***.***>> wrote:

Hmmm...already responded to an LLNL user that made this request on behalf of Keith. Here is my response...

Hmm....I did write a python script to convert some silo data to Exodus. It uses Silo’s and Exodus’ native python interfaces to do it.

VisIt can read Silo but I don’t think it can write Exodus. We sh

[2021-04-28 15:20] aowen87 commented on #5037
Do you mean the triad should maintain its position in the screen (as it currently does) but also maintain a 1:1 aspect ratio (which it currently does not do)?

[2021-04-28 15:22] brugger1 commented on #5037
Yes, it should maintain its position and maintain a 1:1 aspect ratio. If this ends up taking too much effort, you can unassign it.

[2021-04-28 16:35] markcmiller86-visit commented on #12345
CLASSIFICATION: UNCLASSIFIED

Hope the file is not too big…. Nothing jumps out for me unfortunately. In addition to silo file format, I tried with a vtk file with the same result. I also turned off the firewall on windows 10 with the same result. Thank you for any help

From: Kathleen Biagas via visit-users ***@***.***>
Sent: Tuesday, April 27, 2021 11:23 AM
To: visit-dav/live-customer-response **

[2021-04-28 17:33] biagas commented on #12345
Thanks for the log files. The engine_ser log file gives a point of reference where to start looking.

[2021-04-28 18:32] aowen87 commented on #5549
We currently define our own interactor classes that inherit from vtkInteractorStyleTrackballCamera. vtkInteractorStyleTrackballActor allows users to select individual actors and move them independently of other actors with the "drag and drop" motion. For some reason, though, VTK is unable to identify our picked actors in VisIt.

[2021-04-28 18:39] biagas commented on #5549
We set the Pickable property to off, to prevent them being 'found' during Pick operations.

Like this in VisWinTriad:
triad->PickableOff();

[2021-04-28 18:41] aowen87 commented on #5549
Yeah, I saw that as well and turned it on. This doesn't seem to help, though...

[2021-04-28 19:01] aowen87 commented on #5549
One potential complication here is that we have several renderers interacting together (background, canvas, and foreground). The canvas is the only one that's set to "interactive", and is therefore the only one that VTK finds when the interactor is looking for the picked renderer.

Setting the foreground to interactive results in this renderer being the only one that the interactor ever finds (whi

[2021-04-28 21:27] aowen87 commented on #5549
Digging a little deeper, it does appear that the triad belonging to the foreground renderer but using the canvas' camera does make this difficult.

We bypass most of VTK's view manipulation in favor of our own custom code, which further complicates things. From what I can tell, we only ever update the view of the canvas' camera. Since the triad uses this camera, we can compute/render its orientati

[2021-04-28 22:36] aowen87 commented on #5037
There is a new method for vtkCamera called "SetExplicitAspectRatio", which might help here. The definition is a bit vague, though. We don't currently have access to this, so I'm assuming it's in a newer release.

[2021-04-28 23:40] markcmiller86 opened #5661 "Add option to color streamline by variable value at seed point"
### Is your feature request related to a problem?

Streamlines have option to be colored by `Variable` and by `Seed point ID`.

This feature would effectively combine these adding a new option `Variable at seed point` which would color the streamlines constant color but the color would be determined by the value of a variable at the seed point.

One rational for this is the following (provided by

[2021-04-29 15:30] sambo57u opened #5664 "visit 3.2.0 very slow compared to 3.1.4"
I am using rhel7 x86_64 versions on Linux Fedora 33 and 34. I have a silo file to use as a test case. Using 3.1.4 after drawing the density the axis can be rotated with mouse very fast and smooth. With 3.2.0 doing the same thing is extremely slow.
I am attaching the silo file here. Steps to reproduce:

1. Start visit
2. Open to load fusion_fission.silo
3. Add--> Volume-->rhotot
4. Draw
5. Try to r

[2021-04-29 17:18] markcmiller86 commented on #5664
Hmmm....I haven't looked yet but am wondering if we maybe got software rendering in there by accident?

[2021-04-29 17:46] ARSanderson commented on #5661
This addition would be simple. The data is already there. Literally 10 lines of code in avtIntegralCurveFilter.C and add to the GUI to support it.

BTW Any idea as to why this was changed to "random color"?? It should be seed point ID.

dataValueComboBox->addItem(tr("Random Color"), IntegralCurveAttributes::SeedPointID);

30 minutes of work.

[2021-04-29 18:28] markcmiller86 commented on #5661
Ok, thanks for the estimate of work. Thats 30 mins if *you* did it (someone who is cognizant of the code), right?

And, just to be clear, the variable to be sampled for its values at the seed points is already available (or can be easily made available) in `avtIntegralCurveFilter.C` to perform the sampling to get the *values at the seed points*?

Not completely. Looks like it was changed by @rusu2

[2021-04-29 18:50] brugger1 commented on #12336
Hi Oggie,

I just heard back from one of the Hydra developers and he found the problem in Hydra.

Eric

[2021-04-29 18:50] ARSanderson commented on #5661
When seeding, there are various schemes. For instance, I might manually give three points I would like to know which is the first, second, and third. I also threshold via the ID.

And you are correct 30 minutes for me ... I am 20 minutes into the addition, less 2 minutes to add this comment :-).

[2021-04-29 19:20] sambo57u commented on #5664
Probably. It is the same behavior on Nvidia and Intel-HD graphics.

[2021-04-29 19:23] markcmiller86 commented on #5664
Just to be sure, though, can you check that you do not have [Scalable rendering](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/Rendering_Options_Window.html?highlight=%22scalable%20rendering%22#scalable-rendering) set to *always* somehow?

Options->Rendering->Advanced and check that scalable rendering is either auto or never. If auto, set to never and see

[2021-04-29 19:35] markcmiller86 commented on #3475
I've confirmed we've lost ability to do this. It is kinda sorta essential for doing EOS plots because those databases have 2D (*tables*) and then 1D curves that represent *trajectories* through that 2D space that need to be plotted on top of the 2D PC plots in order to help interpret them.

[2021-04-29 19:37] markcmiller86 opened #12347 "Questions about plotting EOS data"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

 I have some questions on using visit to look at equations of state.  Sp

[2021-04-29 19:42] markcmiller86 commented on #12347
I am attaching screen shots from doing what I believe to be (I am not an EOS guy so don’t know for sure) similar operations on our sesame materials database...

The database has a *ton* of materials in it. Each material has many variables. Some are 2D in nature and are plotted with Pseudocolor plot. Some are 1D (curves) and are plotted with Curve plot.

### Example plotting Water’s `Pt` 2D phase-s

[2021-04-29 19:48] sambo57u commented on #5664
Setting it to "never" improved it somewhat but nowhere near the smooth rotations that you have with 3.1.4.
By the way a correction, this is the fc31 version of the executables. In the past I used rhel7 but with 3.2.0 rhel
has a completely black plot window and nothing shows in it.

[2021-04-29 19:51] ARSanderson commented on #5661
Okay an extra 30 minutes cause it has been so long since I mucked with that code I forgot about the special sauce in the IntegralCurveViewerEnginePluginInfo

Pull request: https://github.com/visit-dav/visit/pull/5666

[2021-04-29 20:00] brugger1 commented on #5664
That additional piece of information makes things much more clear. The fc31 version and previous fedora versions were all build with software rendering, so I was surprised to hear that you were getting what sounded like hardware acceleration. There are two rhel versions, one is built with software rendering and one with hardware accelerated rendering. It sounds like you grabbed the one with hardwa

[2021-04-29 20:04] sambo57u commented on #5664
Sorry for the confusion. When rhel7 gave black screen I tried the fc31 version. Hopefully it is something easy to fix. Thanks!

[2021-04-29 22:51] brugger1 commented on #5640
Doug Faux also reported a problem with a bunch of the materials being colored black from a filled boundary plot. He gave me the file on quartz, so I can give it to someone to take a look at it. I was able to reproduce the behavior. I looked in the ".mili" file, and I didn't see any color information in the file. Looking at the filled boundary plot, the colors came from the levels color map, but th

[2021-04-29 22:55] solberg2 commented on #5640
What I found is that the color map is “grayed out” upon first plotting, but you can click it and choose the default colormap, and then things are fine.

From: Eric Brugger ***@***.***>
Sent: Thursday, April 29, 2021 3:51 PM
To: visit-dav/visit ***@***.***>
Cc: Solberg, Jerome M. ***@***.***>; Mention ***@***.***>
Subject: Re: [visit-dav/visit] Default colorscheme for mili files produces materials

[2021-04-29 22:58] brugger1 commented on #5640
Thanks for the workaround. I'll let Doug know. We will still fix this behavior, it is definitely wrong.

[2021-04-29 23:09] markcmiller86 commented on #5640
I wonder if this is a `config` file problem. Can someone test by running VisIt with `-noconfig` on the command line that launches VisIt?

[2021-04-29 23:38] markcmiller86 commented on #4516
We shouldn't be building HDF5 test suite to build HDF5 for `build_visit`.

[2021-04-30 16:39] brugger1 opened #5669 "Mismatch when importing VisIt into system python."
I ran the system python3 and then imported VisIt 3.2.0 into it and it tried to import 3.1.4, which is the default. Here is what I did.

python3
Python 3.7.2 (default, Feb 26 2019, 08:59:10)
[GCC 4.9.3] on linux
Type "help", "copyright", "credits" or "license" for more information.

ERROR: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required by /usr/gapps/visit/3.1.4/linux-x86_64/lib

[2021-04-30 16:45] cyrush commented on #5669
`Launch()` frontend will use the default install (its calling visit to launch). You would have to add the `-v 3.2` argument via `AddArgument()` ?

[2021-04-30 16:56] cyrush commented on #5669
I do think it should pair automatically if possible, but that's not the current case.

[2021-04-30 17:08] brugger1 commented on #5669
Ok, that makes sense. For it to happen automatically, it would need to look at sys.path. Maybe just documenting it in the python manual where we mention setting sys.path would be sufficient.

[2021-04-30 18:58] brugger1 commented on #5640
Adding `-noconfig` didn't fix the problem. The workaround of selecting the default color table did.

[2021-04-30 21:22] markcmiller86-visit commented on #12342
Hello Kathleen,

Thank you for your help. I tried the --no-sphinx and it worked.

Thanks,
Mahdad
Mahdad Talebpour
PhD Candidate, Chemical, Biochemical, and Environmental Engineering
UMBC
TRC 104
1000 Hilltop Circle
Baltimore, MD 21250

On Tue, Apr 27, 2021 at 11:19 AM Kathleen Biagas via visit-users <
***@***.***> wrote:

[2021-04-30 21:22] brugger1 opened #5670 ""visit -v 3.2 -cli -nowin" doesn't work properly."
If you want to run the 3.2 cli by only specifying "-v 3.2", it fails. You must use "-v 3.2.0".

Here is the result on rztrona:

visit -v 3.2 -cli -nowin
Running: cli3.2.0 -nowin
Fatal Python error: initfsencoding: unable to load the file system codec
  File "/usr/gapps/visit/bin/../current/linux-x86_64/lib/python/lib/python2.7/encodings/__init__.py", line 123
    raise CodecRegistryError,\

[2021-05-02 09:44] CHMBroeders opened #12349 "Missing build script"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

[2021-05-02 09:45] CHMBroeders commented on #12349
build script missing

[2021-05-02 16:33] antoscha opened #5671 "Bug in ClipEditor"
[code]

[2021-05-02 20:48] markcmiller86 commented on #5671
Its a potential issue with a pure virtual function. However, do you need this tool? Probably not. It is ordinarily only needed for developers. Try running `make -k -j 8` (the `-k` tells `make` to continue as much as it can past errors).

[2021-05-02 21:53] CHMBroeders opened #12348 "Status github visit development"
Obviously visit development is in a moving process to github support.
I encountered several empty links in the github repo.
My incentive is to repeat a vistt source installation after system crash on OpenSUSE Tumbleweed.
My main actual problem is the documentation support on github.
After several trials my Tumbleweed system seems to contain all required software.
Installation is stopped at end of

[2021-05-02 23:45] markcmiller86 commented on #12348
Have you tried our RTD manuals, https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/building_visit/index.html

[2021-05-03 10:08] CHMBroeders commented on #12348
These document areas also contain not-resolved links.Is it possible to install visit3.2 from a github repo?Thanks,CBGesendet mit der WEB.DE iPad AppOn 03.05.21 at 01:46, Mark C. Miller wrote:

                    From: "Mark C. Miller" ***@***.***>Date: 3. May 2021To: "visit-dav/live-customer-response" ***@***.***>Cc: "C.H.M. Broeders" ***@***.***>,"Author" ***@***.***>Subject: Re: [visit-dav/live

[2021-05-03 13:28] argh-jdd commented on #12347
That is pretty much what I'm looking for but I need it specifically with the .materials file generated by matview.  It seems to provide a complete EOS look up tables and I presumed someone would have ways to extract the unreacted hugoniot and product CJ state isentrope.  But maybe this matview-visit combination is only used to look at the whole surface for a visual inspection.
     For another opt

[2021-05-03 16:54] brugger1 opened #5672 "Remove "Users Wiki" and "GitHub Development Info" links from GitHub main page."
The visitusers.org wiki has a lot of good information, but it also has some outdated information. We should remove the link from the main GitHub page, since we want people using our read-the-docs documentation, not visitusers.org. It is way to prominent for containing dated information.

We should also remove the "GitHub Development Info" link as well, since this material is also dated and was fro

[2021-05-03 16:55] brugger1 commented on #12348
Hi,

It looks like our main GitHub page has some links to some outdated material. We are trying to standardize our documentation on read-the-docs, which can be reached via the "GUI and CLI Users Manuals" link under documentation. The link to the "Users Wiki" points to older, but still valuable content, some of which may be outdated.

The "GitHub Development Info" unfortunately also contains outdat

[2021-05-03 18:14] markcmiller86 commented on #12347
@argh-jdd do you maybe have an example file you can attach here for us to play with and advise?

[2021-05-03 18:39] markcmiller86 commented on #4516
@aowen87 ... do you happen to recall what source file in HDF5 was involved here? I am not able to reproduce but I am on macOS 10.14

[2021-05-03 19:31] argh-jdd commented on #12347
This is an example that came with the ALE training, it has multiple copper models in it. For more probing questions you will probably have to reach out to one of the ALE/matview EOS experts.

[cu.materials.zip](https://github.com/visit-dav/live-customer-response/files/6417195/cu.materials.zip)

[2021-05-03 19:53] aowen87 commented on #4516
I think I might have a patched version of the hdf5 library laying around. I'll check for that.

[2021-05-03 19:56] aowen87 commented on #4516
I think this is it:

[hdf5-1.8.14-patched.zip](https://github.com/visit-dav/visit/files/6417329/hdf5-1.8.14-patched.zip)

[2021-05-03 20:17] markcmiller86 commented on #12347
Ok, thanks for example data.

That file looks pretty much identical to the one I used to demonstrate use of VisIt to look at above.

For example, using Silo's textual `browser` tool, I see these variables...

[code]

Regarding specific Hugoniot plots, I don't know much about plotting EOS data but is one of these variables in `cu.materials` indeed the information you seek? Or, is it *derivable* fro

[2021-05-03 21:26] #5658 closed, assigned to biagas

[2021-05-03 21:52] markcmiller86 commented on #4516
Does anyone in @visit-dav/visit-developers know if we actually need HDF5's *high level* (`libhdf5_hl.so`) for anything in VisIt?

[2021-05-03 21:54] brugger1 commented on #4516
I suspect we don’t.

[2021-05-03 21:56] markcmiller86 commented on #4516
Well, I got one hit...

[code]
So, maybe netCDF needs it? I am going to go confirm that.

[2021-05-03 22:38] markcmiller86 commented on #4516
Ok, I've looked at binary `libxxx.dylib` files installed for netCDF on my macOS system and, in particular, grep'd for telltale signs it is using HDF5's *high level* (also called *light* (`H5LTxxx...` symbols) interface. I don't see any signs of that.

[code]

Nonetheless, in netcdf 4.1.1 sources, I've looked for instances of use of `H5LT` or `hdf5_hl`. I do find *many* instances of `hdf5_hl` in th

[2021-05-03 22:41] markcmiller86 commented on #4516
Whenever I dig into issues like this, I am always reminded of a) how careful code teams need to be to get it correct and 2) how often other projects get it incorrect creating extra issues for any projects in which they are dependencies. The other recent example is CGNS' build logic looking for szip and zlib headers even though CGNS itself never directly uses any methods in szip or zlib.

[2021-05-03 22:50] #706 closed, assigned to biagas

[2021-05-03 22:56] markcmiller86 commented on #4516
It looks like netcdf 4.8 does indeed use H5LT routines (file image stuff). So, I'll keep our dependence on that so its easier to move to newer version of netcdf when we decide to.

[2021-05-03 23:10] markcmiller86 commented on #4516
@brugger1 there are patches in `bv_hdf5.sh` for HDF5 library version 1.8.7 and 1.8.8 which I don't think we've been using now for a few years. Any reason to keep that code? Shouldn't code to patch a lib be removed from `build_visit` when we bump the lib version?

[2021-05-04 00:00] brugger1 commented on #4516
I just looked over the code and I think removing the 1.8.7 and 1.8.8 patches makes sense. No use having extra code that never gets used.

[2021-05-04 03:09] markcmiller86 commented on #5654
Looks like there is support to [bulk convert issues to discussions](https://docs.github.com/en/discussions/managing-discussions-for-your-community/moderating-discussions#converting-an-issue-to-a-discussion)

[2021-05-04 03:50] CHMBroeders opened #5676 "Missing build script"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

[2021-05-04 03:50] #5676 closed

[2021-05-04 05:36] CHMBroeders opened #5677 "Missing build script"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

[2021-05-04 05:36] #5677 closed

[2021-05-04 05:37] CHMBroeders opened #5678 "Missing build script"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

[2021-05-04 05:37] #5678 closed

[2021-05-04 18:20] biagas commented on #1348
Easy enough to add this just for PC plot.

![pcLegendTitle](https://user-images.githubusercontent.com/17075318/117050529-4c652380-acca-11eb-947c-5622c1a1728d.PNG)

Just wondering if it should be added for all plots?

If yes, then that begs the question is having the controls in the plot window the best place (have to change all plot windows) or is it better in the Legend Annotation Object controls

[2021-05-04 19:21] biagas commented on #1961
@brugger1 you changed this from a variable button to a text field.

https://github.com/visit-dav/visit/blob/3eddf396784a7054caeeec11f83ff7e9a0d5a25a/src/plots/MultiCurve/QvisMultiCurvePlotWindow.C#L85

Any recollections why this was done? Just wondering if there is a good reason not to use the Variable button controls for this plot.

[2021-05-04 19:42] brugger1 commented on #1961
I don't recall. My memory from 2009 is a bit fuzzy. I say change it and if something comes up we can always change it back.

[2021-05-04 21:34] brugger1 commented on #5664
I tested the rhel7 version that supports hardware accelerated rendering on my Linux desktop and I got a black screen as well. Since 3.1.4 works with hardware rendering and 3.2.0, it must be related to some difference in the packages between them.

Both user VTK 8.1, so that can be it.

Differences I can think of are:
CMake went from 3.9.3 to 3.14.7.
Qt went from 5.10.1 to 5.14.2.
GCC went from 4.8

[2021-05-04 21:35] brugger1 commented on #5664
Here is a comment from @biagas with her thoughts on the issue:

We did change Qt versions, and our render windows are a Qt-vtk combo, so that may have something to do with it.

Perhaps we can search our bug tickets for ‘black window’, this may have occurred last time we updated qt (it sounds familiar anyway).  It may be a new flag is needed for the QT build, or to be set when creating the window.

[2021-05-04 22:53] griffin28 commented on #5664
Try removing the `-xcb-native-painting` flag when building QT. It was added with this [PR](https://github.com/visit-dav/visit/pull/5614)

[2021-05-04 22:54] brugger1 commented on #5671
We should turn off building this by default.

[2021-05-04 23:40] brugger1 opened #5683 "Git version Unknown when building from a distribution tar file."
When VisIt is built from a distribution tar file, the git version in the splash screen always says "Unknown".

When a tar file of the source is created with visit-dist, a file named GIT_VERSION is placed in src. In the CMakeLists.txt file in src, there is logic to assign VISIT_GIT_VERSION. The logic around line 1750 that looked for the GIT_VERSION file got removed at some point on the 3.1RC. It sh

[2021-05-05 00:17] biagas opened #5684 "Add docs/tutorial for MultiCurve plot"
###Describe what needs to be documented.

    How to use the MultiCurve plot
    What kind of input it requires
    Additional data
    A step-by-step example would be helpful

### Is the documentation missing?

I would expect to find the documentation for the MultiCurve plot within the section 3.2. Standard Plot Types of VisIt GUI User Manual https://visit-sphinx-github-user-manual.readthedocs.io

[2021-05-05 01:35] markcmiller86 commented on #12347
Ok, I've had a chance to speak with another Ale3d developer about this. The trick is to define an [expression in VisIt](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html#built-in-expressions) that represents what amounts to a *Hugoniot Field* based on the variables in `cu.materials`, for example, and then use a [**Contour plot**](https://vis

[2021-05-05 03:30] markcmiller86 commented on #5654
Maybe helpful tools

* https://github.com/jmuhlich/mailman-archive-migration
* https://github.com/philgyford/mailman-archive-scraper
*

[2021-05-05 07:12] ykempf commented on #12308
Hello, I fear I'll have to reopen this issue. The version of MPI I had used to build against triggered other bugs with the system. So I'm back with trying to build with GCC 10.2.0 and OpenMPI 4.0.5.

- I went to VisIt 3.2.0.
- I am using the system python 3.8.
- I went for server components only at the moment as I had issues with Qt/Qwt.
- I am using the MPI wrappers only for parallel things, and

[2021-05-05 14:15] brugger1 commented on #5640
Hi Eric,

I took a quick look at the ticket. If the issue is that the material colors are chosen randomly when they aren’t specified in the .mili file, this is a very easy fix (this is intentionally triggered on line 3869 of avtMiliFileFormat.C). It sounds like the colors should be incremental? I’m assuming this means 0->255, starting at 0?

Alister

[2021-05-05 14:15] brugger1 commented on #5640
On second thought, I don’t think that my 0->255 logic makes sense… I guess I’d need some more insight to what “incremental” means in this context.

[2021-05-05 14:23] solberg2 commented on #5640
I think the fix is that if the colors are not chosen it should use the default colormap (e.g. just do what the workaround does), like it did for earlier version of Visit/the mili plugin.  Not sure whether the behavior changed because of the new Visit or the new plugin, they came around at the same time.

From: Eric Brugger ***@***.***>
Sent: Wednesday, May 5, 2021 7:16 AM
To: visit-dav/visit ***@*

[2021-05-05 14:38] brugger1 commented on #5640
I agree. I don't think we need to set the colors at all. If we don't set them, VisIt will use the defaults.

[2021-05-05 14:54] #721 closed, assigned to biagas

[2021-05-06 01:04] markcmiller86 opened #5686 "build_visit improvements for patching"
### Proposed best practices for handling patching in `build_visit`

* Only use `patch -p0 << \EOF` not  a bare `EOF` without the leading backslash.
  * Rationale: `\EOF` is necessary to patch code involving `$` chars (e.g. shell code)
* Maximally restrict patching so that patches are applied under *only* the conditions we have verified they are necessary. For example, if a package builds fine ever

[2021-05-06 15:56] biagas opened #5688 "Viewer actions for 'Add operator' menu doesn't match gui"
### Describe the bug
In the gui, the operators are categorized, but in the viewer actions, they aren't.

Not only that, but not all the operators appear in the viewer actions.
It seems like only operators with an icon appear in the menu.

### Expected behavior
The gui and viewer operator menus should match.

![Capture](https://user-images.githubusercontent.com/17075318/117327507-86a7ff80-ae47-11eb

[2021-05-06 16:11] biagas commented on #5688
AddOperatorAction (in viewer/core/actions/PlotAndOperatorActions.C) has a comment stating that only operators with icons will be added to the menu, but it doesn't say why.

When #2764 is fixed, then all operators will have an icon (even if some are using a default 'empty' icon), and it will become more imperative that the operators in the viewer actions menu are sorted by category.

[2021-05-06 22:42] #2849 closed, assigned to biagas

[2021-05-07 14:37] biagas opened #12350 "cannot build parallel VisIt 3.2 on cluster with GUI enabled"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hi,

I am trying to build a parallel build of VisIt 3.2 with the GUI ena

[2021-05-07 14:47] biagas commented on #12350
Hi Ben,

Thank you for providing the log file.  It looks like all the third party libraries were previously built. Was this when you ran with --server-components-only?

At any rate this error in the log file:

[code]
indicates that VTK was not built with Qt support (which would be the case for a server-only build).  You may need to blow away the VTK dirs and re-run build_visit so that VTK can be b

[2021-05-07 15:28] jfavre opened #12351 "shouldn't python3 be chosen as a default when specifying --system-python"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I have both python2 and pythoon3 in /usr/bin.
When building I see python2

[2021-05-07 15:30] jfavre commented on #12351
I forgot to say that his is with the new version 3.2.0

[2021-05-07 16:43] #5683 closed, assigned to brugger1

[2021-05-07 17:01] biagas commented on #12351
Yes, you are correct. Thanks for pointing this out. I will create a ticket to address the problem.

Try modifying this function in build_visit so that it looks for python3-config, as below:
[code]

[2021-05-07 17:20] markcmiller86 opened #12352 "Problem on Intel Mac with macOS-11.3"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

From Rick Spielman...

[2021-05-07 17:22] markcmiller86 commented on #12352
Am wondering if any of the remedies described here might help...

https://osxdaily.com/2019/02/13/fix-app-damaged-cant-be-opened-trash-error-mac/

[2021-05-07 17:24] biagas opened #5694 "build_visit --system-python looks for python2"
### Describe the bug
From [SRE 262](https://github.com/visit-dav/live-customer-response/issues/262)

If python2 and 3 are in the same location, using --system-python finds python2 instead of 3.

This function needs to be changed to use 'python3-config' and 'python3'.

[code]

### Expected behavior
build_visit with --system-python should find python3

[2021-05-07 17:32] jfavre commented on #12351
we're making progress but step2 still needs tuning. Here is the output:

Using system python
/usr 3.6.10 /usr
Using alternate python directory
/usr 2.7.17 /usr

[2021-05-07 17:35] biagas commented on #12351
This function has python2 logic before python3, you can remove the python2 logic.

function bv_python_alt_python_dir

[2021-05-07 17:36] biagas commented on #5694
function bv_python_alt_python_dir
also has python2 logic that should be removed.

[2021-05-07 17:40] jfavre opened #12353 "version 3.2.0 cannot compile IceT on Cray"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
using the Cray compiler wrappers and the following variables which work f

[2021-05-07 17:45] jfavre commented on #12351
that works fine. Thanks.

[2021-05-07 19:42] biagas commented on #12353
My guess is a change to how CMake finds MPI, since we moved to a newer version.
I've looked at CMake's FindMPI.cmake module, and I'm not certain, but perhaps try changing this line in 'function build_icet':
[code]
to
[code]
or
[code]

[2021-05-07 20:10] biagas commented on #12353
If that doesn't work, try removing the line altogether, or if you don't need ice-t add --no-icet to the build_visit command line.

[2021-05-07 21:34] markcmiller86 commented on #2764
Also, be sure to see comments in this PR #5689

[2021-05-08 02:13] markcmiller86 commented on #12352
From Rick...

[2021-05-08 05:21] BenWibking commented on #12350
That fixed it! Thanks.

[2021-05-08 05:27] BenWibking opened #12354 "visit 3.2 over x11 hangs at splash screen while "Calculating wir""
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,

I am trying to use VisIt 3.2 on a remote cluster over X11. I connect

[2021-05-08 06:41] markcmiller86 commented on #5654
Testing some simple GraphQL queries for email conversion script...

#### Does the query via curl for an issue id

As part of [this example](https://docs.github.com/en/graphql/guides/forming-calls-with-graphql#example-mutation)

[code]

#### Does the mutation (write) via curl

[code]

[2021-05-08 20:55] markcmiller86 commented on #5654
Here is a curl query that returns first 3 discussions `bodyText` strings...

[code]

and the result...

[code]

[2021-05-08 20:58] markcmiller86 commented on #5654
Whoops...I published my token in that comment. I've deleted that token and deleted the orig. post that included it.

[2021-05-09 02:00] markcmiller86 commented on #5654
### Example of a write operation creating a new comment on an existing GitHub discussion...

[code]

The above command added [this comment](https://github.com/visit-dav/temporary-play-with-discussions/discussions/9#discussioncomment-714457).

The `discussionId` field data was obtained by a prior query for the first 3 discussion titles.

[2021-05-10 17:07] #5650 closed, assigned to biagas

[2021-05-10 18:45] markcmiller86-visit commented on #12347
Mark,
    Now you're digging into the problem.  This is such a common exercise
when working on EOS's that I presumed someone would have done it by now.
I'm still not convinced you wont need an integral of some sort.
Thanks

On Tue, May 4, 2021 at 8:35 PM Mark C. Miller via visit-users <
***@***.***> wrote:

--
James Davis
AFRL/RWMAC

[2021-05-10 18:47] markcmiller86 commented on #12347
I am working up a tutorial for you on this. But, I am busy attending a virtual meeting this week too and there are some other logistics to handle before publishing the tutorial. Look here again in another week or two.

[2021-05-10 21:17] #2039 closed, assigned to biagas

[2021-05-10 23:37] #5640 closed, assigned to brugger1

[2021-05-11 05:16] markcmiller86 commented on #5654
Ok, here is a GraphQL mutation that will create a new discussion topic...

[code]

[2021-05-11 05:17] markcmiller86 commented on #5654
Also, it looks like GraphQL API [for discussions](https://docs.github.com/en/graphql/guides/using-the-graphql-api-for-discussions) is a bit of a special case. It has a special section of their docs just for it.

[2021-05-11 16:13] jfavre commented on #12353
I resolved the issue by setting both the CMAKE_C_COMPILER and the MPI_C_COMPILER to the compiler wrapper, i.e. CC on the Cray

[2021-05-11 16:57] markcmiller86 commented on #5654
Here is a basic example of a *query* and a *mutation* that got me started in building up the above snipits of GraphQL activity...

* https://docs.github.com/en/graphql/guides/forming-calls-with-graphql#example-query

[2021-05-11 16:59] markcmiller86 commented on #5654
This is how to query for a `repositoryId` given its org/user and name...

[code]

and the result...

[code]

[2021-05-11 17:32] ARSanderson commented on #3485
As I am working on OSPRay I have aded myself to this issue. I am working via VTK master and OSPray 2.5 there is a VTK test TestRendererType which uses a vtkInteractorStyleTrackballCamera directly. I have been using it to understand the integration.

@aowen87 - I have changed the VISIT_OSPRAY_XXX to VISIT_OSPRAY

#ifdef VISIT_OSPRAY
    vtkcam->Zoom(imageZoom);
#else

and now able to zoom as well b

[2021-05-11 17:51] ARSanderson commented on #4355
I am able to duplicate this issue on VTK master / OSPRay 2.5 by turning shadows on and changing the AO samples.

If I increase the AO sampling and repeatedly press "apply" the shadow is lighter. But if I rotate it immediately gets lighter. The opposite happens if I reduce the AO sampling.

I have been able to duplicate this issue in the VTK TestRendererType test. As such, it is not VisIt. but furt

[2021-05-11 18:18] jfavre opened #12355 "linking errors when compiling VisIt on Cray systems"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

I have no idea how to fix these errors; There are a few. I have configured Vi

[2021-05-11 18:24] markcmiller86-visit commented on #12355
I have been trying to unsubscribe from this list for a year now - can someone okease remove my address.

Sent from my iPhone

[2021-05-11 19:50] markcmiller86-visit commented on #12312
I have built the official 3.2 release and am still encountering segfaults
when attempting to use the FieldViewXDB extract format.  It has come to my
attention that the way we are interfacing with VisIt (simV2) appears
somewhat deprecated and I'm wondering if that could have something to do
with my issues.  Any help would be greatly appreciated.

Thanks,
Patrick

On Wed, Mar 10, 2021 at 6:20 PM Eri

[2021-05-11 19:53] markcmiller86 commented on #12312
Mentioning @BradWhitlock in hopes he might have some insigts.

[2021-05-12 17:15] brugger1 commented on #12312
The simV2 interface is still supported. If we have missed something we should fix it. I believe the libraries related to the FieldViewXDB are pretty old at this point, perhaps we need new ones from IL. @BradWhitlock should be able to provide information on that as well.

[2021-05-12 18:22] brugger1 commented on #12355
It looks like it is linking against /usr/lib64/python2.7.0.so, so it is picking up of Python 2. What does the config-site file have for the location of python?

[2021-05-12 18:31] cyrush commented on #12355
Linking error does seem like it could be due to crossing python's (python 2.x and python 3x)

I also wanted to mention:  when porting, we targeted Python 3.7 or newer.
It's possible that 3.6 could cause an issue.

[2021-05-12 20:56] markcmiller86-visit commented on #12312
It is very possible I am missing something, though I don't appear to be
able to set options for the VTK export format.  Our code was attempting to
use the VTK XML Binary format for exports:

opts = VisIt_OptionList_alloc()
# ... other options and hvars NameList being set
VisIt_OptionList_setValueB(opts,'Binary format',1)
VisIt_OptionList_setValueB(opts,'XML format',1)
rv = VisItExportDatabaseWithO

[2021-05-12 22:06] brugger1 commented on #12312
Hi,

I'm not familiar with the functions you were calling above, but using the commands I found that test exporting in the VisIt regression suite I was able to come up with the following code that successfully exports a binary VTK file.

Eric

OpenDatabase("/usr/gapps/visit/data/rect2d.silo")
AddPlot("Pseudocolor", "d")
DrawPlots()
e = ExportDBAttributes()
e.db_type = "VTK"
e.filename = "binary_VT

[2021-05-12 22:19] markcmiller86-visit commented on #12312
Thank you for the follow up.  I had seen those as well in the export_db.py
test, but I believe those are using the 'visit' package (which I think is
visitpy in src) that is not included in server-only builds.  The functions
we use are in libsim imported as 'simV2' and are still available in VisIt
3.2 though I'm not sure how well supported they are.  They don't appear to
have similar tests anywhere

[2021-05-12 22:56] brugger1 commented on #12312
Thanks for the clarification. I was unaware those functions existed. I will do some investigation.

[2021-05-13 12:12] markcmiller86-visit commented on #12312
Thank you very much for taking a look.  If there are alternatives in simV2
we could/should be using, please let me know.

-Patrick

On Wed, May 12, 2021 at 5:57 PM Eric Brugger via visit-users <
***@***.***> wrote:

[2021-05-13 14:37] #1961 closed, assigned to biagas

[2021-05-13 15:16] aarograh opened #12356 "Bug in visualizing pvtu files"
I believe I've identified a bug in VisIt related to reading multiple .vtu files via a .pvtu file.

I have the following results of a simulation:
[code]

The contents of the .pvtu file:
[code]

The structure of `fsr_4a-2d/DOMAIN_0/4a-2d_core_FSRmesh_STATE_0001_0.vtu` is as follows (skipping actual values since the files are rather large):
[code]

The issue arises with the `material` dataset.  Domai

[2021-05-13 15:51] biagas opened #5703 "bv_qt needs patch for X11 when not building with mesagl"
### Describe the bug
bv_qt.sh currently has a patch applied to linux-g++-64/qmake.conf that replaces
[code]
with
[code]
but it is only being applied when also building with --mesagl, as
QMAKE_LIBDIR_OPENGL  also needs updating in that case to point to mesa-gl

I was attempting a build with system-gl, and need to patch QMAKE_LIBDIR_X11 to point to /usr/lib64
and QMAKE_LIBDIR_OPENGL to point there a

[2021-05-13 16:20] brugger1 commented on #5694
@cyrush Should we start removing support for Python2?

[2021-05-13 16:24] brugger1 commented on #5688
The reason for only adding the operators with icons is that it is possible to add an operator toolbar to the vis window that only displays the icons.

[2021-05-13 16:27] brugger1 commented on #5688
The same applies for plots. When I added the plot toolbar, all the plot icons were grayed out. Not sure why. It seems like they should have been enabled since I had an open database and in fact had several plots in the window.

[2021-05-13 16:31] brugger1 commented on #5661
This was resolved with pull request #5666

[2021-05-13 16:31] #5661 closed, assigned to ARSanderson

[2021-05-13 20:52] jfavre commented on #12355
Eric was right! he found the libpython2.7 in my very long link line. I had missed it. So, there is still confusion in the setup because my config-site file has the correct python3 stuff, which I also see after configuring the final build, but I also see FIND_PACKAGE_MESSAGE_DETAILS_PYTHONLIBS:INTERNAL=[/usr/lib64/libpython2.7.so][/usr/include/python2.7][v()]

for completeness, here is is the whole

[2021-05-13 21:49] jfavre commented on #12355
GIven my system:

ls /usr/lib64/libpython*
/usr/lib64/libpython2.7.so  /usr/lib64/libpython2.7.so.1.0  /usr/lib64/libpython3.6m.so  /usr/lib64/libpython3.6m.so.1.0  /usr/lib64/libpython3.so

The problem is in FindVisItPython.cmake where the following is found:

PYTHON_GLOB_RESULT=/usr/lib64/libpython2.7.so;/usr/lib64/libpython3.6m.so;/usr/lib64/libpython3.so

Selecting the 0-th entry in the list i

[2021-05-13 22:27] ARSanderson commented on #4187
@aowen87 If you want to investigate any of the issues you have seen I am building OSPRay 2.5 via superbuild and linking that against VTK master. There are some examples (TestRendererType) on the VTK side that I have been using to debug issues. That is understand if they are on the VisIt or VTK/OSPRay side.

[2021-05-13 23:00] brugger1 opened #5704 "Problem with system Python in FindVisItPython.cmake."
### Describe the bug

When running cmake against a system Python, FindVisItPython.cmake may find the python library from Python 2.

The following excerpt from https://github.com/visit-dav/live-customer-response/issues/266 describes the issue.

Given my system:

ls /usr/lib64/libpython*
/usr/lib64/libpython2.7.so /usr/lib64/libpython2.7.so.1.0 /usr/lib64/libpython3.6m.so /usr/lib64/libpython3.6m.so

[2021-05-13 23:02] brugger1 commented on #12355
Thanks for tracking down the cause of the problem! I submitted issue https://github.com/visit-dav/visit/issues/5704.

[2021-05-13 23:06] cyrush commented on #5704
We use python to find the lib dir, I think we should go further to use python to find the actual lib, instead of using a filesystem glob.

[2021-05-13 23:11] ARSanderson commented on #3485
@aowen87 Do you have a pointer to how you did the panning by moving the camera???

[2021-05-13 23:20] cyrush commented on #5704
`sysconfig.get_config_var("INSTSONAME")`

may do the trick

[2021-05-13 23:41] brugger1 opened #5705 "Enhance PLY reader to read variables as well as the mesh."
Our PLY reader only reads the mesh and ignores the rest of the variables.

I looked at the reader and it uses the vtkPLYReader, which returns a vtkDataSet. It should be pretty easy to look at the vtkDataSet and see what other variables are present and then return those in the GetVar method.

[2021-05-14 14:51] aowen87 commented on #4187
Thanks @ARSanderson. That seems like a good approach here.

[2021-05-14 18:28] andyfct opened #12357 "Error when plotting a tensor component"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Good morning!
I create a viscous stress tensor tau_vis based on a vector

[2021-05-14 21:54] brugger1 commented on #12356
Hi,

You are correct in your assessment that VisIt is looking at the first piece to get a complete list of the material numbers for all the pieces. It does this so that it doesn't need to read all the blocks to get the list of material numbers.

Fortunately, you can add another piece of data to each of your vtu files (probably the first one would be sufficient) that lists all the materials in the

[2021-05-14 22:16] brugger1 commented on #12354
Hi Ben,

Did you build VisIt from source code or did you use one of the pre-built versions of VisIt. What OS are you running VisIt on and if you used one of the pre-built versions, which version of those are you using.

Another thing that would be helpful would be to run:

[code]

and then send the "A.*.5.vlog" files.

[2021-05-14 22:21] brugger1 commented on #12357
You don't show the definition of "tau_vis", but if "tau_vis" is a tensor created from 3 vectors, then "tau_vis[0]" will return a vector, not a scalar. I believe you would need to use "tau_vis[0][0]".

[2021-05-15 00:34] BenWibking commented on #12354
Hi,

I built it from source with the flags: ` PAR_COMPILER=mpicxx PAR_COMPILER_CXX=mpicxx PAR_LIBS="-lmpi -lmpi_cxx"  ./build_visit.sh --parallel --mesagl --icet --llvm --szip --boxlib --hdf5  --makeflags -j4 --alt-hdf5-dir /apps/hdf5/1.10.5`

This cluster is running CentOS Linux release 8.3.2011.

Strangely, from my Linux machine it starts and runs just fine. But connecting from Windows 10 using

[2021-05-15 01:10] markcmiller86 commented on #814
This was requested by another user.

If we had a check-box in pick output to compute distance to previous pick, that might be sufficient.

[2021-05-15 01:46] aarograh commented on #12356
@brugger1 Thanks for the information!  I've implemented it in my code and it works just like you said.  Glad to know it's not a bug in VisIt but rather something I can fix on my end.

Do you happen to know of VTK/VTU documentation that gives this level of detail?  I looked around several different sources trying to resolve this issue and never found any discussion of field data.  I maybe have just

[2021-05-17 10:54] ykempf opened #12358 "Build problems with gcc 10 on linux"
Hello, I fear I'll have to reopen this issue, formerly visit-dav/visit#12308. I copy here the summary I wrote there recently.
The version of MPI I had used to build against triggered other bugs with the system. So I'm back with trying to build with GCC 10.2.0 and OpenMPI 4.0.5.

- I went to VisIt 3.2.0.
- I am using the system python 3.8.
- I went for server components only at the moment as I had

[2021-05-17 14:52] brugger1 opened #5706 "Document VisIt conventions for VTK files."
VTK files are a convenient and popular was to get data into VisIt. VisIt has a number of conventions on storing extra data that is VisIt specific such as extents, time, cycle, ghost zones, ghost nodes, materials (material, MaterialIds). We should document this.

[2021-05-17 14:53] brugger1 commented on #12356
@aarograh Unfortunately this isn't documented anywhere. The use of MaterialIds is a VisIt convention and I had to look at the source code for the VTK reader to determine this. As far as documentation on VTU and PVTU files, I haven't been able to find much on the format of those files either. I usually have to figure it out from examples I've found. I've submitted issue https://github.com/visit-dav

[2021-05-17 16:49] #5672 closed, assigned to brugger1

[2021-05-17 18:05] andyfct commented on #12357
Hi Eric,
Thank you for your suggestion.
1. I create the tensor tau_vis based on the vector field U and the scalar field mu:
![image](https://user-images.githubusercontent.com/32205296/118534905-a3bdb780-b6fe-11eb-8770-ddc694f887c7.png)

2. In the Visit manual, I see the viscous stress tensor components counted as those of a vector, from [0] to [9]. When I use this vector-like indexing, I get the e

[2021-05-17 21:50] ARSanderson commented on #4837
It is not correct, and with my work with vtk-master (VTK 9.X) and OSPRay 2.5 it will be corrected in bv_ospray.sh so I am going to close this question.

[2021-05-17 21:50] #4837 closed, assigned to nobody

[2021-05-17 22:51] aowen87 commented on #3485
Good question... Reading back over my comments, I'm thinking I must have either switched out the camera or reverted our pan override in the vtkVisIt implementation (the second option seems more likely to me). Unfortunately, I don't seem to have the branch that I made these changes on anymore. I can take a closer look later this week to see if anything rings a bell.

[2021-05-17 23:29] ARSanderson commented on #3485
@aowen87 Thanks I was thinking perhaps the latter as well as that would follow the normal vtk viewing.

[2021-05-18 20:17] brugger1 commented on #12357
Hi Andrey,

I was able to get things to work with the 2d indexing from one of our test sets. Below are the expressions, plot list and image.

When you did the Defer expression did you list both "tau_vis" and "tau00"? Also, from what I can tell the viscous_stress only operates on 2d rectilinear or structured grids. Are your grids structured? The reason I ask is that pvtu, implies a collection of un

[2021-05-18 20:25] brugger1 commented on #12354
Hi,

We have a know issue with VisIt hangs on startup on WSL (https://github.com/visit-dav/visit/issues/5485). The log file doesn't match exactly, but it may be a similar issue. I'm not sure when I'll have time to look into it further. It will realistically be at least a month.

Eric

[2021-05-18 21:55] biagas opened #5709 "Histogram plot atts regeneration fails"
### Describe the bug
I was playing with the xmltools auto regeneration for atts. (I hadn't make any changes to xml files).
I noticed that the Histogram plot's atts were changed, but shouldn't have been. I think changes were made to the atts without changing the xml file.

### To Reproduce
Run xml2atts on Histogram.xml

### Expected behavior
Running xml2atts without having changed the xml file shou

[2021-05-18 22:35] markcmiller86 commented on #5706
For multi-block VTK, we should probably issue an error message if materials are present but material ids are not. There is no way VisIt can get it right under those conditions.

[2021-05-19 00:52] BenWibking commented on #12354
Ok, thanks for taking a look. However, I don't have this problem when starting VisIt locally on WSL, so I'm not sure if it's the same issue. But I should add that I'm using [WSLg](https://github.com/microsoft/wslg) rather than running an X server on the Windows side, unlike the user who reported visit-dav/visit#5485

[2021-05-19 14:39] brugger1 commented on #12354
Ok, I think I misunderstood your situation. Did you ssh from WSL to your remote system and then launch VisIt on that system with X forwarding back to WSL?

[2021-05-19 16:46] ARSanderson commented on #3485
I have determined that the issue is that not all of the vtkCamera attributes are currently supported by vtkOSPRayCameraNode. I have entered an this issue:  https://gitlab.kitware.com/vtk/vtk/-/issues/18221.

In the mean I am going to use vtkCamera::Zoom instead of the vtkCamera::SetUserTransform and the PanCamera3D  instead of PanImage3D for an immediate work around. I will coordinate with Kevin @

[2021-05-19 17:29] aowen87 commented on #3475
@markcmiller86 do you have data and/or steps to reproduce this? When opening up our silo data and using lineouts on top of psueudocolor plots, it seems to work well.

[2021-05-19 18:15] ARSanderson opened #5711 "Navigation and Zoom modes"
A decade ago I made some enhancements to the zoom mode so that one could pan/zoom in a similar fashion as one does in the navigate mode. Oddly I just recently realized that one can not rotate in zoom mode. I found that annoying as I tested some other features.

Current:

Navigate
left mouse - rotate
shift left mouse - pan
ctrl left mouse - pan
middle mouse - zoom
mouse wheel - zoom

Zoom
left mous

[2021-05-19 19:22] biagas opened #5713 "Attempting to print legend annotation object crashes cli"
### Describe the bug
I grabbed the legend annotation object in the cli and wanted to print it to see the options. The cli crashed

### To Reproduce
Open a file, create and draw a Pseudocolor plot.
Open CLI (if running from gui)
from cli, issue the following commands:
[code]

### Expected behavior
Should be able to print an annotation object so one can see what options are available for setting.

#

[2021-05-19 19:26] biagas commented on #5670
I couldn't get it to run on pascal with "-v 3.2.0":

[code]

[2021-05-19 19:36] aowen87 commented on #5518
I tried loading the NASA data into VisIt, but VisIt can't recognize the file. I tried to "force" using the CGNS reader without any luck.

[2021-05-19 20:04] markcmiller86 commented on #5518
I tried [this file](https://acdl.mit.edu/HOW5/MC1_HighLiftCommonResearchModel/pointwise/cgns/HL_CRM_ExtraTiny_P2.cgns.gz) on my just now build of 3.2 and was not able to do a mesh plot of `Zone_1`. Get this error message...

[code]

[2021-05-19 20:24] #5709 closed, assigned to aowen87

[2021-05-19 20:25] aowen87 commented on #4877
@cyrush I can make sure that leading/trailing spaces are included in the HTML diff. Is there anything else you can think of to address for this?

[2021-05-19 20:27] aowen87 commented on #4877
Well, I guess it's really the leading spaces that matter... I don't think trailing spaces would show up as being visible regardless of whether or not they're visualized.

[2021-05-19 20:35] aowen87 commented on #5518
I just tried to load that data into VisIt as well, and it looks like there might be something else wrong with visualizing that mesh. I don't think that the reduction to linear cells should cause this crash...

[2021-05-19 20:41] cyrush commented on #5670
it's using python 2 instead of python 3 for some reason.

[2021-05-19 21:41] BenWibking commented on #12354
Yes, that's right.

[2021-05-19 21:47] cyrush commented on #4877
that sounds good to me!

[2021-05-19 22:50] brugger1 commented on #5711
Just to make sure I understand correctly, trying to do a square rubber band is broken? I don’t recall where the request came from and it is probably rarely used. I do know that there are users that continue to run old versions, so its possible there are some people using it and they didn’t notice because for them it isn’t broken.

[2021-05-19 22:58] #4877 closed, assigned to aowen87

[2021-05-19 23:47] ARSanderson commented on #5711
Yes and no. There is two ways to get a square in ZoomInteractor::OnMouseMove()

        if (shouldClampSquare || shiftKeyDown)

The shiftKeyDown will never be seen because it goes to the pan. But the shouldClampSquare can still be set.

The shiftKeyDown has been used to Pan since 2012 or so.

[2021-05-19 23:51] biagas commented on #1348
We decided to add it for all plots in the respective plot windows.

#742 is a generalized version of this same request.

[2021-05-20 00:28] markcmiller86 commented on #3475
OMG, we *are* testing this and it *is* working. See below. What I had done wrong was pick a curve to plot that had wildly different extents than the pseudocolor plot so that when the two were plotted together, it appeared as though only the curve was there. The plots have to occupy the same physical space to observe the overlap.

[code]

![](https://raw.githubusercontent.com/visit-dav/dashboard/ma

[2021-05-20 00:28] #3475 closed, assigned to aowen87

[2021-05-20 15:53] aowen87 commented on #4846
It sounds like we do want to treat the entire plugin as having time-varying metadata if at least one of its meshes is AMR then (well, maybe not _want_ to, but this is the path of least resistance). Is that right?

[2021-05-20 15:56] brugger1 commented on #12348
I added the section https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/dev_manual/GitHub.html to the VisIt Users manual. I also changed the link on the main GitHub VisIt page to point to it instead of the outdated page on visitusers.org.

[2021-05-20 15:56] markcmiller86 commented on #4846
Yes, that is the proposed enhancement. With AMR meshes, too often our *optimizations* regarding reading of metadata cause issues. I making such a change, it would be worth a peak at performance changes for an AMR database with a large number of domains and see how much *more* time it takes to change timesteps. I suspect its in the noise relative to  actual plotting work but we should confirm.

[2021-05-20 16:14] brugger1 commented on #12354
@cyrush has access to a system with WSLg and will try it out next week.

[2021-05-20 16:18] brugger1 commented on #12354
You might try adding -nowindowmetrics to the command line.

[2021-05-20 16:26] cyrush commented on #12353
thanks @jfavre
Seems like we need to foward PAR_COMPILER to the newer CMake FindMPI names (like MPI_C_COMPILER and MPI_CXX_COMPILER)

We are using `MPI_COMPILER` which I believe is an older style.

https://github.com/visit-dav/visit/blob/6070b96c17c09f76345bddeee52f014c5ea132ee/src/tools/dev/scripts/bv_support/bv_icet.sh#L140

[2021-05-20 16:52] markcmiller86 commented on #12324
We've discussed this a bit more. The unstructured mesh cases we are most accustomed to are those where the data producer writes their mesh blocks *embedded* within halos of ghost zones (and/or nodes). In those cases, VisIt doesn't need to do any work to *generate* ghost data on the fly during reads into VisIt. This appears to be what you have already tried in your first pass at this plugin.

Now,

[2021-05-20 19:38] aowen87 commented on #4640
Setting this option using develop on my mac (Catalina) seems to work as expected.

[2021-05-20 19:39] aowen87 commented on #4640
This also appears to work as expected when I'm running on Pascal.

[2021-05-20 20:17] aowen87 commented on #4356
The issue is definitely with fullframe mode interacting with the label plot.

Before:
![Screen Shot 2021-05-20 at 1 16 10 PM](https://user-images.githubusercontent.com/11658578/119043189-a2de8d00-b96d-11eb-95e9-0d0d234fdb52.png)

After:
![Screen Shot 2021-05-20 at 1 15 56 PM](https://user-images.githubusercontent.com/11658578/119043206-a70aaa80-b96d-11eb-80b5-8ca85201eb45.png)

[2021-05-20 20:43] aowen87 commented on #4846
From [this](https://github.com/visit-dav/visit/pull/5716#discussion_r636448642) conversation, it sounds like we only need to consider time varying SIL.

[2021-05-20 20:53] biagas commented on #12293
Hi Valmor,

I'm looking into this issue a bit more. The bv_python.sh module uses 'python3-config' (or python-config for python2) to find things like python's include and lib dirs, etc.

If you do a 'which python3-config' on your system, does it return the correct location for the system python you wished to use?

If not, we also have an --alt-python-dir option to build_visit which will allow you t

[2021-05-20 22:52] BenWibking commented on #12354
That fixed it! Thanks.

[2021-05-21 15:19] #4846 closed, assigned to aowen87

[2021-05-21 17:12] cara52 opened #12359 "Whitespace Issue"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hello,
I have a question regarding how to change the amount of whitespac

[2021-05-21 17:29] aowen87 commented on #12359
Hello,
One way to accomplish this is to use full frame mode (Windows->Full frame mode), which "stretches" the plot out to fill the window space. The downside to this is that you lose the original aspect ratio of your data, and you may need to adjust the window to find an aspect ratio that looks appropriate. Does this work for your case?

[2021-05-21 17:30] cyrush opened #5719 "add option to move database and user text annotations"
### Is your feature request related to a problem?

We can adjust the position of the legend, but not the database and user annotations.

Can we add options for this? Manage them like "normal" annotations?

[2021-05-21 17:36] aowen87 commented on #4356
Getting the labels in the correct position isn't too difficult, but the labels don't seem to follow the view when full frame is enabled like the other plots do. I'm not quite sure why that is yet.
Maybe "view" is the wrong term here. It's the changing aspect ratio that isn't followed.

[2021-05-21 17:40] cara52 commented on #12359
Unfortunately it does not. I need to keep the original aspect ratio.

[2021-05-21 17:48] biagas commented on #12359
You can also adjust the viewport. Open Controls->View
the viewport controls are described in our [manual](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/MakingItPretty/View.html#setting-the-2d-view)

[2021-05-21 17:51] aowen87 commented on #12359
Also, if the legend is ending up in an undesirable position when you resize the window or adjust the viewport, you can manually set its position under Controls->Annotations->Objects-Legend.

[2021-05-21 17:52] brugger1 commented on #12359
If you need to maintain a 1:1 aspect ratio, you can adjust the window size and VisIt will automatically remove the extra white space. When you save the image you should specify that the aspect ratio of the saved image matches the aspect ratio of the window (this is the default).

If you have an image of 2D data, you can shrink the window in the direction of the excess white space to eliminate the

[2021-05-21 19:00] aowen87 commented on #4356
As far as I can tell, this issue with the labels not following the aspect ratio boils down to VisWinPlots::ScalePlots not affecting the label plot. The label plot is in the list of plots that we attempt to scale, but it just refuses to do so.

[2021-05-21 19:32] aowen87 commented on #12359
@cara52 were you able to find a solution using these methods?

[2021-05-21 23:05] biagas commented on #12318
To OP:

I tried a server only build on our system and was able to connect to it successfully both from Windows and Mac.
It makes me think something is subtly wrong with your host profile, or the server build.

From your previous comment regarding your host profile:
[code]

Questions:
* when you ran with '-debug 5' on your client, were any log files generated locally?
* Can you try a simple host pr

[2021-05-24 13:39] mgagne0 opened #12360 "Visit graphics card compatibility"
I'm purchasing a new high-end Linux workstation that needs to run parallel visit. If I understand correctly Visit uses OpenGL for rendering. It appears that OpenGL 4.6 supports the NVIDIA Volta architecture, specifically the NVIDIA GV100 graphics card. Will the latest release of Visit run well on the GV100 card? Thanks.
Marc Gagné

[2021-05-24 15:50] rusu24edward commented on #12360
Hi @mgagne0, Visit requires [at least OpenGL 3.2](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/dev_manual/OpenGL.html?highlight=opengl#opengl-in-visit) to work properly, so it's likely that you'll be able to use the NVIDIA GV100 with Visit. Where are you getting your OpenGL library?

[2021-05-24 17:33] cara52 commented on #12359
@ aowen87 yes, thank you!

[2021-05-24 17:46] mgagne0 commented on #12360
Well, it'll depend whether I build visit from source, or use one of the pre-built binaries.

Marc Gagné
Department of Earth and Space Sciences
West Chester University
Merion 201

________________________________
From: Edward Rusu ***@***.***>
Sent: Monday, May 24, 2021 11:50:34 AM
To: visit-dav/live-customer-response ***@***.***>
Cc: Gagne, Marc ***@***.***>; Mention ***@***.***>
Subject: Re: [vis

[2021-05-24 17:51] rusu24edward commented on #12360
Gotcha. Just wanted to check if you had the GL libraries already.

[2021-05-24 17:54] rusu24edward commented on #12360
We have a prebuilt binary that ships with [Mesa 17.3.9](https://docs.mesa3d.org/relnotes/17.3.9.html#mesa-17-3-9-release-notes-april-18-2018), which implements OpenGL 4.5, but only if requested at context creation. I'm not sure if our prebuilt binary has this since we only need 3.2 to run.

[2021-05-24 18:30] markcmiller86 commented on #12360
@mgagne0 ... I think your best bet is to build VisIt from sources using the `build_visit.sh` [most recent](https://github.com/visit-dav/visit/releases/download/v3.2.0/build_visit3_2_0) script.

The mesa stuff is to support *software* rendering. I don't think the Mesa builds we provide have the ability to auto-switch between software (Mesa) GL and the local system's *native* GL.

[2021-05-24 18:52] aowen87 commented on #4356
I have a working fix for this, but the test suite renderings are wrong for some reason. I've confirmed that SaveWindow and PrintWindow are both working correctly. I'll open a PR once I figure this last issue out.

[2021-05-24 19:03] mgagne0 commented on #12360
Ok. Thank you.

Marc Gagné
Department of Earth and Space Sciences
West Chester University
Merion 201

________________________________
From: Mark C. Miller ***@***.***>
Sent: Monday, May 24, 2021 2:30:36 PM
To: visit-dav/live-customer-response ***@***.***>
Cc: Gagne, Marc ***@***.***>; Mention ***@***.***>
Subject: Re: [visit-dav/live-customer-response] Visit graphics card compatibility (#271)

@m

[2021-05-24 19:46] brugger1 opened #5720 "Subsetting on element block give error on parallel Exodus files."
This bug is a result of https://github.com/visit-dav/live-customer-response/issues/235.

Keith Lewis reported a bug where he runs into an error when he subsets by element block from an Exodus file. Keith gave me a file that demonstrates the issue.

The steps to reproduce the bug are:
- Open test_nocompose.exodus
- Create a pseudocolor plot of pressure_avg
- Draw the plot
- Bring up the subset wind

[2021-05-24 19:47] brugger1 commented on #12327
I submitted the issue https://github.com/visit-dav/visit/issues/5720 to track this bug.

[2021-05-24 19:53] brugger1 commented on #5720
The crash occurs in the ghost zone generation. It looks like there are blocks that are not null and have zero points and zero cells. The ghost zone generation skips blocks that are null, but not ones with either zero points or cells.

[2021-05-24 20:04] #5694 closed, assigned to biagas

[2021-05-24 21:07] brugger1 commented on #12324
Hi,

I checked the code and VisIt will generate ghost zones for unstructured meshes if there is a local-to-global mapping for the nodes (also know as global Ids). Your reader would need to provide them in an array named avtGlobalNodeNumbers.

Eric

[2021-05-24 21:38] aowen87 commented on #5037
We decided that this is more effort than it's currently worth.

[2021-05-24 22:47] #5720 closed, assigned to brugger1

[2021-05-25 13:43] markcmiller86 opened #5726 "Remove bin/visit_plugin?"
This is a shell script to help package up a custom plugin and email it to a user including embedded instructions for the user to help them install it. It was designed to facilitate the process of sending users custom plugins.

I haven't used it in years. Has anyone else? Should we remove it?

That said, adding a *button* to VisIt to facilitate installing a custom plugin perhaps from a GitHub branc

[2021-05-25 13:56] markcmiller86 opened #5727 "Status of language translations?"
### Is your feature request related to a problem?

We support some amount of language translation in `resources/translations/visit_<language abbreviation>.ts`. One of the more complete translations AFAIK is the French translation (`resources/translations/visit_fr.ts`). Several questions arise regarding status of these...

* Are they for GUI only? What about CLI?
* These `.ts` files appear to be ma

[2021-05-25 14:00] markcmiller86 opened #5728 "Are these html files in resources/help/en_US still needed?"
Are all these still needed?

[code]

[2021-05-25 14:07] markcmiller86 opened #5729 "Best way to tell users to contact us?"
There are numerous instances of the strings `visit-developers@elist.ornl.gov` and `visit-users@elist.ornl.gov` in our C++ code, python code, shell code, reStructuredText docs, language translations, visit-uers wiki, where we emit some sort of message that tells users to seek help via our email lists, which are going away.

What is the best way to handle this going forward?

My first thought is a s

[2021-05-25 14:11] markcmiller86 commented on #5729
Maybe we could have a URL redirect for `visit-help.llnl.gov` that would redirect to the page above.

[2021-05-25 15:04] brugger1 commented on #12340
I moved the file to quartz and was able to plot it fine. I then turned on debug 5 on Windows and quartz and compared the information in the log file about the DDCMD file.

On Linux it is:

[code]

On Windows it is:

[code]

If you look closely you will notice that the file size on Windows of the first file is larger than the first file on quartz (61540 bytes vs 61062 bytes) causing Windows to thin

[2021-05-25 15:36] brugger1 opened #5730 "Error reading DDCMD file."
I was investigating https://github.com/visit-dav/live-customer-response/issues/248 and looking at the debug log and noticed the following:

[code]

I looked at the first bxyz file and it did indeed have field_units, so I'm not sure why it didn't find it. Clearly it was missing from the header information that is displayed later in the output. I also noticed a missing bracket in the printing of the

[2021-05-25 16:25] rusu24edward opened #5731 "Replace sexe with shexe or something else"
I think `sexe` is an abbreviation for *shell execute*. It can read like "sexy", and we can probably pick a better name. Mark has proposed `shexe`.

FWIW, be aware that this instance is [one of about 25 in our code base](https://github.com/visit-dav/visit/search?q=sexe&type=code).

_Originally posted by @markcmiller86 in https://github.com/visit-dav/visit/pull/5725#discussion_r638427293_

[2021-05-25 17:18] brugger1 commented on #5730
I was looking at the first pxyz file when I saw field_units. The first bxyz file doesn't contain field_units. I'm closing this ticket.

[2021-05-25 17:18] #5730 closed, assigned to nobody

[2021-05-25 17:32] rusu24edward opened #12361 "GCC for 3.2"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,
Has anyone tried gcc 10.3.0 for the latest release, 3.2.0?
I having a

[2021-05-25 17:54] aowen87 commented on #1923
I'm still unable to reproduce this, so I'll remove myself from the ticket. Here's what I did for my last attempt:

1. Open up our d3samp mili dataset that has 10,000 time steps.
2. Export all time steps to silo so that I had individual files for each step.
3. Copy the above reproducer into a script and change the variables.
4. Run the script on my mac for all 10,000 steps.

The script completed wi

[2021-05-25 18:06] rusu24edward opened #12362 "Approval for using visit at SNL"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Dear All,

I was interested to use Visit for visualization of data I have

[2021-05-25 18:12] rusu24edward commented on #12362
Dear Wond Mengesha,

I'm surprised you were asked you for this because Visit is used at Sandia regularly... Anyways, [here is a link](https://github.com/visit-dav/visit) to our open-source repository. You can find the LICENSE file there, which states the stipulations for _redistribution_ of Visit, and because Visit is open-source, it can be _used_ by anyone without restriction. Here is [also a lin

[2021-05-25 18:16] markcmiller86-visit commented on #12362
Dear Eddie,
Thank you for the quick response. It was a surprise for me too.
Thanks for the link you gave me.
Regards,
Wond

From: Edward Rusu via visit-users ***@***.***>
Sent: Tuesday, May 25, 2021 11:13 AM
To: visit-dav/live-customer-response ***@***.***>
Cc: Edward Rusu ***@***.***>; Subscribed ***@***.***>
Subject: [visit-users] [EXTERNAL] Re: [visit-dav/live-customer-response] Approval for us

[2021-05-25 18:57] #4356 closed, assigned to aowen87

[2021-05-25 19:33] brugger1 commented on #5670
visit -v 3.2.0 -cli is fixed in develop and I copied the new frontendlauncher to our installation on quartz and it now works on quartz as well.

[2021-05-25 21:59] #4516 closed, assigned to markcmiller86

[2021-05-25 21:59] #5594 closed, assigned to markcmiller86

[2021-05-25 21:59] brugger1 commented on #12340
I contacted the user and the only issue is the one I described above, which isn't a VisIt issue. He is fine visualizing his data on LC. I'm closing this ticket.

[2021-05-25 23:26] markcmiller86 commented on #5731
It might be that `sexe` is an exported symbol that other users can use. We might want to leave the old spelling for a release with a deprecation notice and call foward `shexe`

[2021-05-25 23:33] brugger1 commented on #5728
Some of these are linked from the online help. In particular, contributors, copyright, ultrawrapper, visit.

[2021-05-25 23:38] cyrush commented on #5727
http://visitusers.org/index.php?title=Internationalization

[2021-05-25 23:40] brugger1 commented on #5726
Make it so.

[2021-05-25 23:44] brugger1 commented on #5719
Maybe we could do this through our text annotations by adding some more variables that get recognized. Then they could just add them as 2d annotations.

[2021-05-25 23:48] brugger1 commented on #5711
Make it so.

[2021-05-25 23:50] #1923 closed, assigned to brugger1

[2021-05-25 23:54] markcmiller86 commented on #5713
FYI, when I try something similar on macOS with recent 3.2RC build, I get same but some more details here...

[code]

[2021-05-26 02:17] markcmiller86 commented on #5727
That ref describes how language translations work at a high level. The key piece is probably the statements in [red here](http://visitusers.org/index.php?title=Internationalization#Creating_a_new_translation).

The challenge is, we *never* re-run `lupdate`. It isn't part of our workflow. We change code in the GUI and never touch translations files.

Because we don't have resident language translat

[2021-05-26 02:32] markcmiller86 commented on #5727
Some tools I found...

* https://www.maketecheasier.com/language-translators-for-linux/
* https://stackabuse.com/text-translation-with-google-translate-api-in-python/

[2021-05-26 03:09] markcmiller86 commented on #3225
Just ran into this because I double clicked the tray icon for VisIt and got two instances running.

[2021-05-26 03:34] markcmiller86 commented on #5728
* `args.html` is outdated and repeats info [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/StartupOptions/index.html) which is also outdated
* `blank.html`
* `contributors.html` is outdated and repeats information [here](https://visit-dav.github.io/visit-website/contributors/)
* `copyright.html` repeats information [here](https://github.com/visit-dav/visit/blob/

[2021-05-26 12:33] n4i9kita commented on #5731
Hi @rusu24edward @markcmiller86 , is the issue resolved ?
Or can I do it ?

[2021-05-26 16:03] markcmiller86 commented on #5731
Adding a test message to see what happens if I fully delete it

[2021-05-26 16:09] biagas opened #5735 "ExportDatabaseWithOptions from libsim crashes"
### Describe the bug
From [SRE #220](https://github.com/visit-dav/live-customer-response/issues/220)

Exporting from libsim with DBOptions causes the sim to crash.

I modified updateplots.py Simulation example to export to VTK (changing FileFormat export option) as per the SRE, and I added print statements in LibSim tracing the ExportDatabase call.
The segv happens in
https://github.com/visit-dav/

[2021-05-26 16:11] biagas commented on #12312
Thank you for the report on the crash with VisItExportDatabaseWithOptions from LibSim. I have entered a ticket in our bug tracker and will be looking into fixing the problem.

[2021-05-26 18:36] cara52 opened #12363 "Question about accessing number of materials"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

I am running VisIt via a python script. I am having an issue with

[2021-05-26 19:02] biagas commented on #5735
I believe this is only happening with Enum options. They aren't directly supported by the interface.
It seems like using 'VisIt_OptionList_setValueI' or 'VisIt_OptionList_setValueS' would be good candidates for Enums, but DBOptionsAttributes expects the types to match in the Set calls, which is why we are getting a segv.

If one usesVisIt_OptionList_setValueI to set an enum value, will crash in th

[2021-05-26 19:05] rusu24edward commented on #12363
Hi @cara52,

Sorry for your difficulty. Can you provide some more information about your setup? What kind of data are you using? What error do you see with the boundary plot? Can you share the data and script here?

[2021-05-26 19:11] #5670 closed, assigned to brugger1

[2021-05-26 19:34] water-e commented on #12324
Thanks for looking into this in such depth. It may take us a bit of time to digest, but we do have the information needed.

[2021-05-26 20:23] cara52 commented on #12363
I unfortunately cannot share the data or the script here. When the boundary plot is reflected and there is only one material, the underlying pseudocolor plot disappears. This only happens in that specific case (reflected boundary plot with one material). I am using a for loop to go through all of the states. Is there a way to see how many materials a specific state contains?

[2021-05-26 20:40] rusu24edward commented on #12363
[ListMaterials](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/functions.html#listmaterials) and [GetMaterials](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/functions.html#getmaterials) are a good place to start. Can you try this and let me know if it works?

[2021-05-26 21:12] cara52 commented on #12363
Unfortunately, both of those contain all materials, not just the materials at a specific state.

[2021-05-26 23:59] rusu24edward opened #12364 "Visit 3.2 Display issue Windows 10"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello fellow forum members,

I am a new user of VisIt. I just installed V

[2021-05-27 01:07] markcmiller86 commented on #5727
Taking out of reviewed state to consider my suggestion above.

[2021-05-27 01:18] markcmiller86 commented on #5713
FYI...I do see the `dir(<VisIt object>)` issue on other objects (e.g. `CylinderAttributes`) so it may be a red herring.

[2021-05-27 01:25] markcmiller86 commented on #2764
@biagas has taken a longer look at this in #5689.

There is some dialog there raising a key question about the use of icons in pull-down menus, https://github.com/visit-dav/visit/pull/5689#issuecomment-834791621. I propose removing the icons from our pull-down menus.  Products like Word and iTunes don't use icons in pull down menus either (at least on macOS anyways).

[2021-05-27 01:51] markcmiller86 commented on #1923
FYI...I just played with 3.2 on macOS by opening `multi_ucd3d.silo`, doing a PC plot of `d` variable and then applying Reflect operator on all 8 quadrants 3x. I then observed `viewer` and `engine_ser` process memory usage in Activity Monitor.

I saw what I think was pretty decent memory behavior... `engine_ser` went to `1.09 Gb` and `viewer` to about `450 Mb`. More importantly, as I removed Reflec

[2021-05-27 01:53] markcmiller86 commented on #1923
Oh, I meant to say a hand calculation of the size of a single block of the mesh in that database is about 70,000 bytes for the mesh and one node-centered variable (all 32 bit floats and ints). Its 36 blocks so a single instance of the dataset is about 2,500,000 bytes. Multiplying that by 8x8x8 gives about 1.2 Gigabytes.

[2021-05-27 16:17] rusu24edward opened #12365 "Python CLI to save spreadsheet"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Good Evening,

I am interested in creating a python script that saves or

[2021-05-27 16:27] rusu24edward opened #5744 "Tuple assignment"
### Describe the bug
It seems that some of our assignments expect a tuple of floats or integers; if that type is not received, the assignment uses some default value. No error or warning is thrown, making this a tricky bug to catch.

### To Reproduce
Here is a reproduction script from @markcmiller86:
[code]

### Expected behavior
I think the best behavior is to issue a warning that the type is inc

[2021-05-27 16:27] rusu24edward commented on #5744
@cyrush and @markcmiller86 I moved the discussion to this ticket for easier tracking

[2021-05-27 16:29] rusu24edward commented on #5744
I think the best path forward is to issue a warning that the assignment is receiving unexpected types. I think it's unreasonable to make ourselves type-agnostic in the assignment, and then it would become a guessing game of type conversion.

Maybe throwing an error is also a good idea, too? Haven't really thought through the implications on the users experience between an error vs warning here.

[2021-05-27 16:35] markcmiller86 commented on #5744
I think that question is best informed by how *likely* a user would be to see a warning message. Its a little difficult to *not* see an outright error because processing stops at or near it.

I think it is highly likely a warning message would be lost. So, I would opt for erroring out for any non numeric type Python itself doesn't already handle the conversion for.

[2021-05-27 16:42] biagas commented on #12364
Hi Peng,

I have Intel Graphics UHD 620, and don't see this problem. Any unusual display settings, like with resolution or color settings?
If you resize the window, does the problem resolve itself?

If you right-click the toolbar to get the popup menu as shown below and uncheck some of the toolbars, does the problem resolve itself?

![Capture](https://user-images.githubusercontent.com/17075318/119

[2021-05-27 17:05] rusu24edward commented on #12365
Hi Adrianna,

For clarity, do you want to save your data as a .csv file that  can be examined as in a spreadsheet?

[2021-05-27 17:40] brugger1 commented on #12364
I have the same graphics card on my laptop and it displays properly for me as well.

[2021-05-27 17:50] cyrush commented on #5744
I agree with @markcmiller86  -- I think an error here is best path, avoids a more subtle surprise later.

[2021-05-27 19:57] andyfct commented on #12357
Hi Eric,

Thank you very much for your comment.

I answered in detail a few days back and I don't see that message here.

Probably, I heed to get better used to this workflow:)

It looks I will have a few more questions next week.

I will appreciate your help.

Best regards,

Andrey

[2021-05-28 16:19] itsSanto commented on #5731
I guess change is merged so if there is nothing too work on this issue may be closing this issue will be better :smile:

[2021-05-31 23:58] markcmiller86 commented on #5744
Using the reproducer as an example you can look at the code below which says (I think) if three doubles are passed in, then it processes those into the assignment operation. Otherwise that logic is skipped entirely, the `point` member still winds up being `selected` and no error message is generated. To correct, I believe `GenerateAttribute.h` in the xmltools needs to be updated and then a large n

[2021-06-01 04:47] markcmiller86 commented on #602
@visit-dav/visit-developers is this essentially resolved now?

[2021-06-01 05:28] markcmiller86 commented on #5744
Ok, so the problem here is the `else` block typified on lines 122 and 123 in the above code block. That logic should instead be...

[code]

This needs to be corrected in 4 places in `GeneratePython.h` and then all `PyXXXAttributes.C` files regnerated after that change is made.

[2021-06-01 14:54] rusu24edward commented on #5731
@itsSanto I do not believe this ticket is resolved. You may be referring to the link "Originally posted by ..." in the description box above. This is _not_ a change that fixes this issue; it is only a reference to the changes that first made us aware of the issue.

[2021-06-01 15:04] rusu24edward opened #12366 "LLLNL CZ machines from mac"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi—I’ve long been using Visit (currently 3.1.4) on my Mac (currently OS 1

[2021-06-01 15:27] biagas commented on #602
There are still some state object that cannot have their Py objects automatically regenerated. They are documented in
visitpy/CMakeLists.txt:
https://github.com/visit-dav/visit/blob/54edcb54dd6dd8a6952ea18308d51d270d0287eb/src/visitpy/CMakeLists.txt#L59-L70
https://github.com/visit-dav/visit/blob/54edcb54dd6dd8a6952ea18308d51d270d0287eb/src/visitpy/CMakeLists.txt#L78-L82
https://github.com/visit-d

[2021-06-01 15:40] rusu24edward commented on #12364
Hello Kathleen and Eric,

Thanks for the messages.

Other than having two monitors, I do not have unusual display settings. See settings below.
I also lowered resolution and frequency but it didn’t help.
![Unknown](https://user-images.githubusercontent.com/18565891/120351600-dd70ef80-c2b4-11eb-8f1f-bc4e64c99cce.jpeg)

Resize window didn’t resolve the issue. I checked and unchecked toolbars which d

[2021-06-01 15:40] rusu24edward commented on #12364
You mentioned having VisIt 3.1.4 on your computer as well. Are both 3.2 and 3.1.4 still installed? Can you uninstall both and retry 3.1.4?
Do you have any Qt related environment variables set on your system?

Kathleen

[2021-06-01 15:41] rusu24edward commented on #12364
Hello Kathleen,

I uninstalled 3.1.4 before installing 3.2. So I never had two versions at the same time.

Yes, I can uninstall 3.2 and retry 3.1.4 again.

I do not have any Qt related environment variables set on the system.  The system variables are shown below.

![Unknown-2](https://user-images.githubusercontent.com/18565891/120351908-1c9f4080-c2b5-11eb-993b-70b1b9b912b0.png)

[2021-06-01 15:41] rusu24edward commented on #12364
Another thought, if you temporarily disable one of your monitors, does that help?  (I don’t have a multiple-monitor setup to play with ).

Also, according to your PATH environment variable, there is something from NVIDIA installed. Do you happen to also have NVIDIA graphics drivers installed? Could you change your display adapter to use those, and if so does that help?

Kathleen

[2021-06-01 15:42] rusu24edward commented on #12364
Hello Kathleen,

Thanks for the suggestions.

I did try to disable one monitor yesterday but it has no effect. In fact, both two monitors are external to the laptop. So one time I unplugged both monitors and just use the laptop screen, however, the issue remains.

I was trying to see if I can choose different graphic driver (one colleague told me he resolved his VisIt display issue by doing so), b

[2021-06-01 22:17] markcmiller86 commented on #5744
@cyrush while I am pretty certain the above change is the right thing to do, it will change behavior of ~126 classes used in the CLI. I worry about user code that may be getting lucky now and will outright fail after this change. Any thoughts or ideas?

[2021-06-01 23:49] cyrush commented on #5744
That looks like the right path to me, but we should also set the python error message before returning null.

If we make that change - folks will get an error, but at least they will know something is wrong (we need a numeric input please!) vs just getting 0 and no warning. I think that's an important improvement.

[2021-06-02 00:00] biagas commented on #5703
Resolved by @brugger1 with #5637

[2021-06-02 00:00] #5703 closed, assigned to brugger1

[2021-06-02 00:11] markcmiller86 commented on #5744
Ok, yeah, I just examined more closely and with just the `NULL` return, we get...

[code]

which is misleading as to cause. `point1` *does* exist but the type passed, a tuple where a double is needed, can't be converted.

[2021-06-02 00:26] markcmiller86 opened #5747 "Fail instead of warn about failing checksum"
### Describe the bug

When a `bv_xxx.sh` file doesn't specify values for MD5, SHA256 or SHA512 checksum variables, it skips the checksum checks. On macOS 10.14.6 (mojave), for 3.2.0, I am seeing this from `build_visit`,

[code]

For adios2, the problem is a bug that overwrites the `md5` variable with an empty string...

https://github.com/visit-dav/visit/blob/d3a1bd2411e0f24de27f62a935b384bc395da6

[2021-06-02 00:35] markcmiller86 commented on #5744
Well, darn it. It looks like we really don't handle good error messaging anyways (see below). All the examples below produce an error message about `unknown attribute: point1` which is actually an incorrect error message and misleading. The problem is with the type, not that the attribute doesn't exist.

[code]

[2021-06-02 00:40] biagas commented on #5747
Having build_visit fail when there isn't a checksum could be problematic when you are in the testing phases of a new library/version.
Take VTK for instance. I have been through 3 or 4 different 9.x versions, including different versions of master. To me it would be a pain to generate checksums for each new library version I am testing.  I typically don't bother with checksums until I'm ready to co

[2021-06-02 01:32] markcmiller86 commented on #5747
Hmmm...I see. Well, let me propose that *default* behavior (e.g. when variable is either not defined, or defined but empty string or defined but fails match) is to fail and then have an unpublished back door where if the variable is defined with some magic value like...

[code]

...we then skip it.

[2021-06-02 13:49] brugger1 commented on #5747
I'm not sure I see the benefit to this special string. We already have a magic checksum, it is a blank string. That is much more obvious and easier to remember and do. I can't image I will ever remember "echo ... | md5" as the magic checksum string. I will need to search for it every time.

[2021-06-02 14:41] markcmiller86 commented on #5747
Well, I *was* being facetious about that *specific* example 😆

As an aside, I do kinda sorta think that *is* the point...that *every time*, you'll have to go find that magic string.

That is because we don't really want anyone doing that *except* in the special circumstance @biagas described. In other words, back doors are in the back for a reason. They aren't publicized and aren't easy to find an

[2021-06-02 14:56] markcmiller86 commented on #5747
Something different is occuring for ospray. It *does* specify a checksum value (e.g. non-blank) and it is the correct value. Nonetheless, `build_visit` reports that it is unable to find a checksum for it.

[2021-06-02 15:01] markcmiller86 commented on #5747
Ok, it looks like `bv_ospray.sh` is actually downloading multiple things. I think the check for ospray itself probably works. But, there is a `visit_module` download that does not have any checksums specified and I think that is the part that is failing but its nonetheless reporting it as an `ospray` module failure.

[2021-06-02 15:06] markcmiller86 commented on #5747
FYI...

[code]

Magic strings for `bv_visit.sh` kinda sorta make sense as that is potentially constantly changing.

[2021-06-02 15:09] brugger1 commented on #5747
VISIT_SHA256_CHECKSUM is a special case. It is populated when executing “build_visit -write-unified-file” using the VisIt tar file present when the command is run.

[2021-06-02 15:31] cyrush commented on #5744
yes, we can improve these messages overall. Do you want me to tweak them?

[2021-06-02 15:55] markcmiller86 commented on #5744
Well, I think more than a *tweak* may be involved.

I think the logic in the `_setattr()` routines needs to be adjusted to handle `NULL` (which I think means it couldn't find the attribute) as well as maybe someothers such as `IndexError` and `TypeError` (both of which are python objects for use in Python's error routines). At  least that is my first thought.

[2021-06-02 16:46] markcmiller86 commented on #5744
In othe words, allow the generated python `XXX_Set_<AttrName>()` methods return non-`NULL` python objects such as `IndexError` or `TypeError` objects (or any similar python error objects) and then handle those different return values via `==` comparison and associated messaging in the wrapper `xxx_setattr()` method that calls them.

Does that make sense?

[2021-06-02 17:18] cyrush commented on #5744
That's not quite how the exception handling works in Python's C-API. Maybe we should talk about this at a meeting.

[2021-06-02 17:31] markcmiller86 commented on #5744
I am not going to adjust how we handle Python exceptions.

Using `PyCylinderAttributes.C` as an example, here is what I am talking about...

Here is the wrapper `_setattr()` code. Its basically switching logic based on attr name. Note that it handles messaging for `NULL` return values and that message indicates `not found`.

https://github.com/visit-dav/visit/blob/1502ef4a0e6bd0852b69b6a11af467eaf

[2021-06-02 17:36] cyrush commented on #5744
Setting the python error message + returning `NULL` is one way to trigger an exception.

Here is an example:

https://github.com/LLNL/conduit/blob/eb7dfce2229aac3b9644d422a44948509034e3c6/src/libs/conduit/python/conduit_python.cpp#L1423

We may use other patterns in VisIt, but I am not sure about returning an exception type. Thats not the same beast.

[2021-06-02 17:38] markcmiller86 commented on #5744
But, VisIt is not doing that, really. It is always returning a 0 or a 1 to the python interpreter. It returns `NULL` only *within* the C interfacing routines not *from* them.

[2021-06-02 17:42] markcmiller86 commented on #5744
Sorry, thats `0` or `-1`. The only exceptions to this is where a VisIt CLI method returns a VisIt-defined python object (e.g. something other than a list, tuple, or dictionary)

[2021-06-02 18:13] cyrush commented on #5744
that's not 100% the case, many of our client methods do use the 0/-1 return - but attributes do trigger exceptions:

[code]

So we can adjust errors like this to say:  "legendFlag must be an integer", by setting the error string in some way.

It doesn't change the API for users (there is still an exception thrown), except the error message would actually be helpful.
Does that make sense, or am I s

[2021-06-02 21:39] markcmiller86 commented on #5744
I think we're both saying the same thing...generate an exception as we do now for unknown attributes but produce better error messages when the problem is a type mismatch.

[2021-06-03 00:51] DParker13 opened #5748 "Visit Python module not getting any environment data"
### Describe the bug
I am attempting to learn how to run VisIt using Python to render some movies on my Windows 10 machine. I have been trying the simple tutorial to just get VisIt to launch using this code:

[code]

This is supposed to open a window for VisIt I presume. Instead, I get a pop-up message of my VisIt env that looks like this:
![image](https://user-images.githubusercontent.com/2472730

[2021-06-03 00:53] markcmiller86 commented on #5744
@cyrush...what do you think of this...

Just hacking a single att object (`PyCylinderAttributes.C`), for testing, I can produce now...

[code]

This is produced with the changes shown in the two diffs below...

![Screen Shot 2021-06-02 at 5 51 54 PM](https://user-images.githubusercontent.com/5720676/120569728-5ebaa600-c3cb-11eb-8880-dfc28f40038e.png)

![Screen Shot 2021-06-02 at 5 52 22 PM](https:

[2021-06-03 15:31] biagas commented on #5748
@Xonor13 Thank you for the  report. I will begin investigating to get a fix in for our 3.2.1 release.
In the meantime, running VisIt's cli directly should work and give you access to python. 'visit.exe -cli'.
If you really need to run directly with python, you could revert back to VisIt 3.1.4, but it requires python 2.

[2021-06-03 18:48] biagas commented on #5748
@Xonor13 can you replace 'frontend.py' in VisIt's lib/site-packages/visit with the modified version I've attached.
It seems to work for me with an installed 3.2.0 (but I didn't go further than 'visit.Launch()').
Let me know if it works or if you encounter other isssues. Thanks!

[frontend.zip](https://github.com/visit-dav/visit/files/6593670/frontend.zip)

[2021-06-03 19:05] cyrush opened #5752 "python libs aren't getting installed in our macOS builds"
### Describe the bug

We are using older standard cmake logic for finding python. (Side note: We could update this since we are using newer cmake, but that would be bigger overhaul)

There are a few checks we use to determine if we should repackage and install Python with VisIt.
One of these checks is look at the cmake var `Python_FRAMEWORKS` to see if the python install is a macOS framework. If `

[2021-06-03 20:22] DParker13 commented on #5748
Am I just doing something wrong on my end? I have installed Python 2 and VisIt 3.1.4 to try and run VisIt through my own Python IDE (PyCharm). I am getting a slightly different error this time, but it appears to stem from the same issue mentioned above.
[code]
It knows the correct environment variables, but it still loses track of them later on in one of the scripts.

## Here is a debug run of `fr

[2021-06-03 20:26] DParker13 commented on #5748
I have just tried your updated 'frontend.py' file. It got further than before, so that's good. My new error is loading some of the DLL files.

This is my output error:
[code]

[2021-06-03 21:14] biagas commented on #5748
@Xonor13 thank you for the additional information, I am still digging

[2021-06-03 21:24] biagas commented on #5748
There are problems importing VisIt on linux as well
Trying to run from the publicly installed VisIt using this script:
[code]
Get this error:

[code]
For a dev build of 3.2RC, I have tried this script:
[code]
And receive this error:
[code]

@cyrush any ideas?

[2021-06-03 21:33] biagas commented on #1348
Re-thinking adding it to all plot windows.
Legend object has a 'draw title' option, so now it seems to make more sense to have the custom title option available there instead.
Would like to re-review this ticket.
![LegendObject](https://user-images.githubusercontent.com/17075318/120714807-903d7b00-c478-11eb-92ef-0ab82e8c5bba.PNG)

[2021-06-03 21:40] cyrush commented on #5748
Post launch - we should be adding all of the found methods to `visit`. You could try to re-import visit.

Here is what we do in the CLI after the module has been fully loaded:

https://github.com/visit-dav/visit/blob/c13fec80c4a494d47c6089034bdf41dd91042c65/src/visitpy/cli/cli.C#L547

The dance is complex, I wonder if we should switch to a front end module that is only used for importing into anot

[2021-06-03 21:45] biagas commented on #5748
Adding another 'import visit' after visit.Launch worked for the dev-build but not for the installed VisIt.
Wonder if it has to due with that extra error message:
[code]

[2021-06-03 21:51] cyrush commented on #5748
hmm, we will need to understand why an installed release is different

[2021-06-03 21:58] brugger1 commented on #5748
The following works for me on quartz.

[code]

I also need to set my LD_LIBRARY_PATH to include

[code]

When I don't use `from visit import *` and just use `import visit` and then reference the methods off of `visit` I get the same error you do.

[2021-06-03 22:02] biagas commented on #5748
Adding these and the extra import.visit after Launch, now it works:

visit.AddArgument("-v")
visit.AddArgument("3.2.0")

[2021-06-03 22:10] biagas commented on #5748
BTW, when I am testing this on Linux, I use the python visit was built with.

[2021-06-03 22:10] biagas commented on #5748
@Xonor, can you try adding another 'import visit' after your call to 'visit.Launch'?

[2021-06-03 23:17] biagas commented on #12345
Hi Simon,

I'm still unable to reproduce or discover the source of the error you are experiencing.
Could you run with debug logging again, this time specifying the Ray casting compositing method instead of the Ray casting OSPRay method and send the log files?

Also what kind of graphics card/driver do you have on your system?

[2021-06-04 00:28] biagas commented on #12358
Hello @ykepmf. I don't think it is realistic to use python3.8 with VTK-8.1. As you have already discovered, it requires a slew of new patches. Is it at all possible for you to switch to python 3.7 for use with VisIt 3.2.0?

[2021-06-04 00:35] biagas opened #5753 "Should we support python 3.8 in our 3.2 series of VisIt?"
We've received reports that VTK won't compile with python 3.8 without a slew of new patches.
We could possibly troll the latest VTK-8.2 branch on their repo (based on this [VTK discussion](https://discourse.vtk.org/t/python-3-8-wrapping-support/2621/2) ) in order to create good patches.

But do we want to support python 3.8 at this point in time?

[2021-06-04 00:38] biagas commented on #5753
See [SRE 269](https://github.com/visit-dav/live-customer-response/issues/269)

[2021-06-04 02:15] DParker13 commented on #5748
I tried everything mentioned above with no luck. I can't even make it through the first `visit.Launch()` without it giving the DLL error I mentioned before and exiting the program.

BTW, I'm running Python 3.8.2 on Windows 10.

[2021-06-04 03:08] cyrush opened #5754 "pillow macOS code signing issue"
### Describe the bug

When testing a fix for #5752, notarization failed for the test release bundle.

The issue:

Our pillow python module is built as a zip file egg.

`VisIt.dmg/VisIt.app/Contents/Resources/3.2.0/darwin-x86_64/lib/python/lib/python3.7/site-packages/Pillow-7.1.2-py3.7-macosx-10.14-x86_64.egg/PIL/_imagingft.cpython-37m-darwin.so`

`The binary is not signed.`

This undermines our co

[2021-06-04 15:29] biagas commented on #5748
VisIt 3.2.0 was compiled with Python 3.7.7.  If you want to import VisIt into Python, you need that version. You can also run VisIt's cli directly.

[2021-06-04 17:41] DParker13 commented on #5748
Okay! That finally worked! I downgraded to 3.7.7 and now everything runs properly with your new `frontend.py` file.

[2021-06-04 21:52] markcmiller86 commented on #5754
Ok, so the `.dylib` (or `.so`) files are burried insided a Python *egg* which is a zlib compressed archive file of some sort? Can't Pillow operate just fine if those same `.dylib` files are present in the correct place and the *egg* file doesn't exist? Is there a minor patch to Pillow that would allow that behavior?

[2021-06-04 22:01] markcmiller86 commented on #5754
Possibly useful http://peak.telecommunity.com/DevCenter/setuptools#automatic-resource-extraction?

[2021-06-04 22:18] cyrush opened #5756 "macos release, can't staple while connected to vpn"
### Describe what needs to be documented.

Document this to avoid future head scratching.

[2021-06-04 22:19] markcmiller86 commented on #5754
Ok, so I just tested following...

[code]

So, maybe `osxfixup` strategy should be to take any `.egg` file and just unzip it first. Or, maybe we put that in `bv_python.sh` ahead of the `bv_python_is_installed` so we know that if that succeeds, its all working then without eggs and any `build_visit` install would not use eggs.

[2021-06-04 22:20] cyrush commented on #5756
symptom:
[code]

[2021-06-04 23:21] cyrush commented on #5754
python handles the zip files just fine, but the issue is we can't easily code-sign the individual libs in the these zip files.

In:

https://github.com/visit-dav/visit/pull/5757

1. I modified pillow to not build a zip file egg via a build_visit patch.

2. I added a script the checks all egg files, if they are zips it also looks for `.so` and `.dylibs`, if libs exist a new masonry check will fail.

[2021-06-04 23:39] cyrush opened #5758 "more popen python 3 suprises"
### Describe the bug
we need to audit `internallauncher` (and possibly other files) for Popen calls that don't use `universal_newlines`
https://github.com/visit-dav/visit/blob/76bfbe23690bb4d4725a8c8c1e626ad8cc43c637/src/bin/internallauncher#L3166

**Helpful additional information**
 - Did VisIt crash: Yep, stops GUI option to launch cli on macos

### Desktop
 - OS and version: macos 10.14
 - VisI

[2021-06-04 23:40] cyrush opened #5759 "macos 3.2.0 app bundle numpy import issue"
### Describe the bug

[code]

### Desktop
 - OS and version: macos 10.14
 - VisIt Version: 3.2.0

[2021-06-05 18:40] andyfct opened #12367 "Re-centering a nodal variable"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

[2021-06-05 19:01] andyfct commented on #12367
I calculate aerodynamic forces and torques acting on a body surface.  Plotting the force distribution is somooth, but very similar plotting of the moment components  produced a recentering error message, It's strange, because moment calculations involves the same viscosity expression as the force calculation.
I can calculate the forces but not the moments.

![Screenshot 2021-06-05 114900](https://

[2021-06-07 08:10] ykempf commented on #12358
I have a 3.7 available to me but built with a different version of GCC. However by skipping vtkpython altogether I didn't even need these patches and the installation kind of works, up to the fact that for >8 tasks/node it hangs. We discussed further there: https://github.com/visit-dav/visit/discussions/5733

[2021-06-07 15:09] biagas commented on #12358
Is there a particular reason you don't want build_visit to build python ?

[2021-06-07 15:22] ykempf commented on #12358
Indeed I can try again to build python too. It required some patching in 3.1.4 and neither system nor built python were able to link vtkpython anyway.

[2021-06-07 15:58] biagas opened #5760 "Should avtDatatsetCollection be declared a class instead of struct?"
### Describe the bug
avtDatasetCollection is declared a struct:

https://github.com/visit-dav/visit/blob/0421b0d035b2ecb7fbfaa75a617a14143458ccc7/src/avt/Database/Database/avtDatasetCollection.h#L52

But there is a forward declaration of class:
https://github.com/visit-dav/visit/blob/0421b0d035b2ecb7fbfaa75a617a14143458ccc7/src/avt/Database/Ghost/avtGhostNodeGenerator.h#L17

When I ran across the

[2021-06-07 17:26] cyrush commented on #5759
The problem is actually with ctypes:

[code]

This may be an entitlements issue -- ctypes trying to write to a place that it is not allowed to.

https://github.com/conda/conda/issues/5638#issuecomment-313156832

( I am going to try to confirm this is happening)

It could also be a hard-coded path that is outside of where we want to execute.

https://developer.apple.com/forums/thread/129546

[2021-06-07 20:28] cyrush commented on #5759
We needed to add:  `com.apple.security.cs.allow-unsigned-executable-memory` entitlement for notarization
[code]

[2021-06-07 21:34] biagas opened #12368 "scatterplot data extraction for comparison"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

I need to extract a surface from time=n and subtract the ‘z’ valu

[2021-06-07 21:35] biagas commented on #12368
If you export to VTK file format, it creates polydata of the scatter plot (x,y,z=0 coordinates), with the color/z variable as a scalar field.
Is this what you were looking for?

[2021-06-07 21:53] markcmiller86-visit commented on #12368
I might be able to work with that, if there isn't any way to get to the data that is being displayed in the scatterplot directly within VisIt. Can I turn my scatterplot into a query of the y coord over x &z? Note that my mesh is eularian, so I can't just grab deflection of a node. I'd need to perform a threshold on my material of interest and get the min & max y coordinate from the mesh query.

Th

[2021-06-07 22:33] markcmiller86-visit commented on #12345
CLASSIFICATION: UNCLASSIFIED

Hi Kathleen,

Thank you for look into this and sorry for the late reply as I was out of the office on Friday. Attached please find the debug logging files. I also did a screen capture of the screen during the process with a video file about 38MB. If you like, I can send that screen capture video to you also. Please let me know a good email address to send as all the e

[2021-06-07 23:03] brugger1 commented on #12366
I resolved this off line with the user directly. It turns out that when when VisIt ssh-ed to quartz, ssh came back with:

The authenticity of host 'quartz.llnl.gov (134.9.54.13)' can't be established.
ECDSA key fingerprint is SHA256:XXXXX...XXXXX
Are you sure you want to continue connecting (yes/no/[fingerprint])?

,which VisIt didn't respond to and didn't show the user.

I had the user ssh from h

[2021-06-08 14:07] brugger1 opened #5761 "Remove seedme support since the service is retired."
Seedme.org has been retired. We should remove support for it. There is a python module as well as a GUI component. The python module gets added in build_visit as part of the python build.

[2021-06-08 17:07] biagas commented on #12368
Hi Warren,

You might want to give [CMFE's](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html#comparison-expressions) a try.  A CMFE expression will allow you to take a variable from timestep 0 and map into the same mesh at a different timestep.  Then you can use it in a difference expression.

Something along these lines:

Create an express

[2021-06-08 17:12] biagas commented on #12345
Hi Simon,

Let me know if another clean installation with the RTX5000 enabled works.  I have to say, I don't have any experience or ability to test with Cuda-enabled graphics drivers on Windows. My Nvidia cards don't support that scenario.

[2021-06-08 17:25] biagas commented on #12364
Hi Peng,

Were you able to update your graphics driver and try VisIt again?

I had only mentioned NVIDIA because I saw it listed in your PATH when you showed your environment variables. It looks similar to my system that has an NVIDIA card and 'NVIDIA control panel' software installed.

[2021-06-08 17:31] markcmiller86-visit commented on #12345
CLASSIFICATION: UNCLASSIFIED

Hi Kathleen,

I did a fresh windows 10 install with Nvidia Optimus disabled in the bios. Windows 10 is showing only the RTX 5000 video card. But I am observing the same issue. I am fairly certain cuda driver installed shouldn’t play a role in this (my compute engine display is not showing any GPU being used) but just to be certain, let me do another test with just the

[2021-06-08 20:22] brugger1 commented on #5761
Some references:
gui/QvisSeedMeWindow.[Ch]
common/state/SeedMeAttributes.[Ch,code,xml]
tools/dev/scripts/bv_support/bv_python.sh

[2021-06-08 20:35] charlsonkim opened #12369 "3_2_0 qt fails to make on Mint Linux"
ERROR: Feature 'xcb-native-painting' was enabled, but the pre-condition 'features.xcb-xlib && features.fontconfig && libs.xrender' failed.

Configure summary:

Build type: linux-g++-64 (x86_64, CPU features: mmx sse sse2)
Compiler: gcc 9.3.0
Configuration: sse2 aesni sse3 ssse3 sse4_1 sse4_2 avx avx2 avx512f avx512bw avx512cd avx512dq avx512er avx512ifma avx512pf avx512vbmi avx512vl compile_exampl

[2021-06-08 20:41] biagas commented on #12369
If you modify the build_visit script to remove the flag '-xcb-native-painting' (around line 19852 of the build_visit3_2_0 script),
and attempt a clean rebuild does QT successfully build? You may need to delete qt directory for a clean build.

[2021-06-08 21:06] charlsonkim commented on #12369
yes, looks like it is past the configure and into the build.
xcb-native-painting looks like a new option in the qt build?  not essential
to visit?

On Tue, Jun 8, 2021 at 1:42 PM Kathleen Biagas ***@***.***>
wrote:

[2021-06-08 21:17] biagas commented on #12369
It was added to resolve problems with Visit run with X-forwarding. Here's a link to the [issue](https://github.com/visit-dav/visit/issues/5593).
We've had reports about this flag causing problems on certain systems. If we haven't already added a new issue ticket, I will find all the references and generate one.

[2021-06-08 22:15] biagas opened #5763 "-xcb-native-painting flag in bv_qt causes build failure on some systems."
### Describe the bug
Wanted to keep track of this, as I believe we have had multiple reports, but the only one I could find was this
[SRE ticket 280](https://github.com/visit-dav/live-customer-response/issues/280)

The flag was added to fix toolbar issues over X-forwarding. (#3484, #5593)

Do we need to find another way to resolve the x-forwarding toolbar issue, or conditionally add the flag? Eg n

[2021-06-08 22:49] charlsonkim opened #12370 "3_2_0 visit configure fails without sphinx"
FYI:  --no-sphinx option does not work with latest release, configure fails without sphinx installed

--tcmalloc also had issues

---

[2021-06-08 22:52] biagas commented on #12370
Just to be clear, building visit failed at configure time because sphinx wasn't installed?

If that's the case, there is a flag that can be added to visit's CMake flags, to turn off building of manuals (VISIT_ENABLE_MANUALS=false)

What were the issues with --tcmalloc?

[2021-06-08 23:04] markcmiller86-visit commented on #12368
Hi Kathleen,

I was able to use the vtk file format. Not elegant, but it'll work for now. You can close my ticket if there's one open.

Thanks for your help,

Warren

From: Kathleen Biagas via visit-users ***@***.***
Sent: Monday, June 7, 2021 3:36 PM
To: visit-dav/live-customer-response ***@***.***>
Cc: Kathleen Biagas ***@***.***>; Subscribed ***@***.***>
Subject: [visit-users] [EXTERNAL] Re: [v