[2019-02-27 01:56] aowen87 opened #3114 "VTK8 - Different shadows are appearing in this test. May need investigation."
Different shadows are appearing in this test. May need investigation. http://portal.nersc.gov/project/visit/tests/20180417-22:00/surface_trunk_serial/compositing_01.html

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine tic

[2019-02-27 01:56] aowen87 opened #3115 "VTK8 - scalable.py and scalable_c.py are both failing with exit unknown errors"
scalable.py and scalable_c.py are both failing with exit unknown errors in serial. Scalable rendering tests crash. http://portal.nersc.gov/project/visit/tests/2018050822:01/surface_trunk_serial/rendering_scalable_c.htmlhttp://portal.nersc.gov/project/visit/tests/2018050822:01/surface_trunk_serial/rendering_scalable.html

-----------------------REDMINE MIGRATION-----------------------
This ticket w

[2019-02-27 01:56] aowen87 opened #3116 "VTK8 - Render points are significantly different size."
Render points are significantly different size. http://portal.nersc.gov/project/visit/tests/20180417-22:00/surface_trunk_serial/renderpoint_2_01.html

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number:

[2019-02-27 01:57] aowen87 opened #3117 "VTK8 - Known volume rendering differences which should be looked into."
Known volume rendering differences which should be looked into.

http://portal.nersc.gov/project/visit/tests/2018041722:00/surface_trunk_serial/rendering_volume.html
http://portal.nersc.gov/project/visit/tests/2018041722:00/surface_trunk_serial/legends_07.html
http://portal.nersc.gov/project/visit/tests/20180417-22:00/surface_trunk_serial/globe_04.html

-----------------------REDMINE MIGRATION----

[2019-02-27 01:57] aowen87 opened #3118 "VTK8 - Vector plot appears to be missing some vectors in comparison with baseline."
Vector plot appears to be missing some vectors in comparison with baseline. http://portal.nersc.gov/project/visit/tests/20180505-22:00/surface_trunk_serial/field_op_04.html

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine

[2019-02-27 01:57] #3118 closed, assigned to aowen87

[2019-02-27 01:57] aowen87 opened #3119 "VTK8 - A couple of the LC tests generate a loop, in the baseline the loop is thicker so perhaps the path goes around several times with a slight difference in path with the baseline"
A couple of the LC tests generate a loop, in the baseline the loop is thicker so perhaps the path goes around several times with a slight difference in path with the baseline.

http://portal.nersc.gov/project/visit/tests/2018050822:01/surface_trunk_serial/operators_lcs_lc_2.html
http://portal.nersc.gov/project/visit/tests/2018050822:01/surface_trunk_serial/operators_lcs_ic_1.html

----------------

[2019-02-27 01:57] aowen87 opened #3120 "VTK8 - One of the displacement operator tests shows a fairly significant difference"
One of the displacement operator tests shows a fairly significant difference. Its possible part of the image is getting clipped, in which case it is a view issue. http://portal.nersc.gov/project/visit/tests/20180508-22:01/surface_trunk_serial/ops_disp02.html

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able

[2019-02-27 01:57] aowen87 opened #3121 "VTK8 - There is a potential line rendering issue with the lines being broken up in a mesh plot"
There is a potential line rendering issue with the lines being broken up in a mesh plot. It is most likely the surface offset being slightly different or being treated differently, that is causing the issue. http://portal.nersc.gov/project/visit/tests/20180508-22:01/surface_trunk_serial/operators_clip.html

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated fr

[2019-02-27 01:57] aowen87 opened #3122 "VTK8 - Persistent particle tests show some diffs"
Persistent particle tests show some diffs. The first one may be drawing points larger in the baseline, the second may be line rendering or real, the last 2 are probably slight rendering differences. http://portal.nersc.gov/project/visit/tests/20180508-22:01/surface_trunk_serial/operators_persistent_particles.html

-----------------------REDMINE MIGRATION-----------------------
This ticket was migr

[2019-02-27 01:57] aowen87 opened #3123 "VTK8 - There appear to be some ghost zones missing when the inverse ghost zone operator is applied to an AMR mesh"
There appear to be some ghost zones missing when the inverse ghost zone operator is applied to what looks like an AMR mesh. http://portal.nersc.gov/project/visit/tests/20180508-22:01/surface_trunk_serial/ops_inverse_ghost_zone05.html

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the tr

[2019-02-27 01:57] aowen87 opened #3124 "VTK8 - There is some weird text rendering artifact in a parallel label test"
There is some weird text rendering artifact in a parallel label test where some labels have a white halo around them. There may also be a ghosting issue with one of them. Note that the labels showing this failure shouldn't be rendered and that is covered in another bug/issue report.

http://portal.nersc.gov/project/visit/tests/2018051022:00/surface_trunk_parallel/label_6_04.html
http://portal.ners

[2019-02-27 01:57] aowen87 opened #3125 "VTK8 - A surface plot with mesh lines has shaded lines instead of unshaded lines in scalable parallel"
A surface plot with mesh lines has shaded lines instead of unshaded lines in scalable parallel. http://portal.nersc.gov/project/visit/tests/20180513-22:00/surface_trunk_scalable_parallel_icet/surface_10.html

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a compl

[2019-02-27 01:57] #3125 closed, assigned to biagas

[2019-02-27 01:57] aowen87 opened #3126 "need to find right bsub magic for coral systems"
Running: bsub I n 32 q pbatch mpirun /nfs/tmp2/cyrush/2018.04.visit.sierra/visit2.13.1/src/exe/engine_par dv forcestatic idletimeout 480 noloopback host sierra4361 port 5600You cannot specify R/M/-n/LSB_DEFAULT_RESREQ when CSM Easy Mode job submission is enabled. Job not submitted.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not

[2019-02-27 01:57] aowen87 opened #3127 "trunk: style differences between developer build and install on osx"
Some how the Qt style isn't sticking post make install on my osx machine. See attached images. These are from the same build, one is run from the build dir, and one is run on the result of make install.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete r

[2019-02-27 01:57] aowen87 opened #3128 "OS X High Sierra Issues"
There's starting to be more issues with users being able to connect in client/server mode to the LC machines from their new laptops with OS X 10.13 (High Sierra).

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

T

[2019-02-27 01:57] #3128 closed, assigned to griffin28

[2019-02-27 01:58] aowen87 opened #3129 "xml2java adds improper import for Explode operator atts"
Adds an improper 'import' for Explode operator attributes: import llnl.visit.ExplodeAttributes; Probably due to the atts including a vector of themselves: <Field name="explosions" label="explosions" type="attVector" subtype="ExplodeAttributes" access="protected"> </Field>

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
inform

[2019-02-27 01:58] aowen87 opened #3130 "PickByNode wrong time curve"
While adding the option to plot pick range curves over time, I noticed that the current curves produced by PickByNode are using the coordinate position to retrieve values instead of the element ID, even though the element ID is what was specified for the pick.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was ab

[2019-02-27 01:58] #3130 closed, assigned to aowen87

[2019-02-27 01:58] aowen87 opened #3131 "Saving of curves incorrect with curve plots displayed using log scale"
Willy Moss reported that he display a curve using a log scale and when he saved the file to a curve file the file contained the logs of the values. It should save the original values, not the logs. The fact that the curve is being displayed with a log scale shouldn't effect what gets saved to the file.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from R

[2019-02-27 01:58] aowen87 opened #3132 "Handle multi-block curve objects in VisIt internals"
A user defined a curve in a Silo file using multi-block 1D quad meshes but then couldn't plot them as curves. VisIt has logic to detect 1D quadmeshes and re-interpret them as curves. However, it requires the quadmeshes also be single block. By removing that logic and allowing a avtCurveMetaData to haven blocks, I've tested this and it works with very minor changes to VisIt internals. The curve plo

[2019-02-27 01:58] #3132 closed, assigned to markcmiller86

[2019-02-27 01:58] aowen87 opened #3133 "Pyside compile issue on ubunt1404-64"
I got the following compile failure with Pyside on ubuntu1404-64. I believe it uses gcc 4.8. [ 30%] Running generator for /home/brugger1/ubuntu1404_64/visitbuild/visit2.13.2/src/visitpy/pyui/pyside/gui/pyside_gui/pysidegui_wrapper.cpp;/home/brugger1/ubuntu1404_64/visitbuild/visit2.13.2/src/visitpy/pyui/pyside/gui/pyside_gui/guiwrapper_wrapper.cpp;/home/brugger1/ubuntu1404_64/visitbuild/visit2.13.2

[2019-02-27 01:58] aowen87 opened #3134 "Remove Curve special casing throughout VisIt"
A curve is nothing more than a variable on a (rectilinear) quadmesh which is both 1D topologically and spacially. However, we wind up treating curve objects throughout Visit specially, in plugins, in database metadata, in the SIL. We can remove all the special case code for curves and simply allow curves to be treated like any other quadmesh/quadvar objects. In some cases, we may want to ask the q

[2019-02-27 01:58] aowen87 opened #3135 "look at mfem refinement performance"
More details here: https://github.com/mfem/mfem/issues/488 (the above issue is closed from an MFEM perspective, but the ball is now in our court) Cyrus has the dataset.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine tick

[2019-02-27 01:58] aowen87 opened #3136 "Last Zone Pick highlight doesn't clear"
When doing a zone pick with 'Pick Highlights' selected, clearing, and then doing a node pick, the last pick highlight never gets cleared. To reproduce do the following:1. Open curv2d.silo2. Do a zone pick with 'Pick highlights' selected3. Clear Picks4. Do a node pick (the last zone pick highlight should be present with the node pick)

-----------------------REDMINE MIGRATION-----------------------

[2019-02-27 01:58] #3136 closed, assigned to aowen87

[2019-02-27 01:58] aowen87 opened #3137 "I created a host profile for trinity using salloc and it created a bad launch command"
The host profile looks similar to the one on cori that uses salloc. When I used it the command had srun and mpirun in the command it generated. When I use the salloc one on cori it looks normal and works. I must be missing something. Perhaps there is magic in the custom launcher (This doesn't seem like a good design and perhaps I am wrong).

-----------------------REDMINE MIGRATION----------------

[2019-02-27 01:58] aowen87 opened #3138 "Add host profiles for pascal."
Pascal is an new gpu machine at LLNL running toss3. We need some host profiles for it.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3152
Status: Resolved
Project: VisIt
Tracker: Feature
Priority

[2019-02-27 01:58] #3138 closed, assigned to brugger1

[2019-02-27 01:58] aowen87 opened #3139 "associating time with an object in Silo is simply totally broken"
In Silo, time is handled on a sort of per-directory basis. All the objects in a dir share the same "time" or "dtime" entry. To have multiple objects in a file with different times associated with them, they each need to go into their own directory. What really needs to happen is for time to be associated with the object itself sort of embedded within a namespace only the object knows about. In HDF

[2019-02-27 01:59] aowen87 opened #3140 "optional dbs never built in releases but built for testing"
We have required, minimal and optional categories of databases in src/databases/CMakeList.txt We have several dbs that are categorized as optional Hex MRTest PICS_Tester Rect VLI Of these, none are in our releases (that I can tell), Rect is actually part of nightly testing, PICS_Tester is also included in minimal. First, not sure what the rationale is for these categorizations. Second, why are we

[2019-02-27 01:59] aowen87 opened #3141 "update to mfem 3.4"
discuss for either 2.13.3 or 3.0.0

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3155
Status: New
Project: VisIt
Tracker: Feature
Priority: Normal
Subject: update to mfem 3.4
Assigned to: -
Categ

[2019-02-27 01:59] aowen87 opened #3142 "build_visit: can't build qt 5.6.1 on osx 10.13"
Get the message: Xcode not set up properly. You may need to confirm the license agreement by running /usr/bin/xcodebuild without arguments. I did confirm xcodebuild, which by the way requries root: sudo xcodebuild -license One issue appears to be that older qt looks for xcrun when it should use xcodebuild https://stackoverflow.com/questions/39492617/xcode8errorprojecterrorxcodenotsetupproperlyeven

[2019-02-27 01:59] #3142 closed, assigned to griffin28

[2019-02-27 01:59] aowen87 opened #3143 "XRay query does not check near and far planes"
The xray query is not respecting near and far planes. If you place the source and the detector way in front of the object, rays pass through the detector and hit the object anyway. This should not produce any image or result. This happens as well if the detector is placed inside the object.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As s

[2019-02-27 01:59] aowen87 opened #3144 "Slow reading of CarpetIOHDF5 data in visit 2.13"
I was trying to load CarpetIOHDF5 2D data with visit 2.10 and 2.13. I compiled both on an SL7 box using the build_visit scripts with the hdf5 option. The 2.13 takes much longer to load. I loaded up files containing 3,4,5,6,7, 10, and 13 timelevels, respectively. I then measured the time it took from hitting the "OK" button of the open file dialog until the main window responded. Here's what I foun

[2019-02-27 01:59] aowen87 opened #3145 "Qt font issue on trunk on ubuntu 18.04"
Here is the e-mail chain with a possible fix. I did some digging on this. Using the same Qt tarball that VisIt downloads, but with a slightly modified configure and build environment, I got it working. It no longer complains about missing fonts, nor does it try to draw negative point size fonts. I dont have a solid fix yet, but in case someone else tested it, this is what I did: I took the configu

[2019-02-27 01:59] aowen87 opened #3146 "VTK8 - rendering/pixeldata.py test is crashing in parallel and scalable,parallel,icet modes"
The rendering/pixeldata.py test is crashing in the parallel and scalable, parallel,icet modes. The tests are in the skip list and should be removed from the skip list when this bug is fixed.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the

[2019-02-27 01:59] aowen87 opened #3147 "VTK8 - rendering/transparency test is crashing in parallel,scalable,icet mode"
The rendering/transparency test is crashing in parallel,scalable,icet mode. The test has been added to the skip list. It should be removed from the skip list when this bug is fixed.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original

[2019-02-27 01:59] aowen87 opened #3148 "VTK8 - There is a compositing error with transparency."
One of the test suite images shows a compositing error with transparency. Here is a link to the failure. http://portal.nersc.gov/project/visit/tests/20180614-02:09/surface_trunk_scalable_parallel_icet/pixie_06.html

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is

[2019-02-27 01:59] aowen87 opened #3149 "xml tools fail b/c of forceversion arg"
this works: /usr/gapps/visit/bin/xml2cmake -v 2.12 but this doesn't: /usr/gapps/visit/bin/xml2cmake -v 2.12.2 rzalastor2@cyrush:/usr/gapps/visit/bin/xml2cmake v 2.12.2 Running: xml2cmake2.12.2 forceversion 2.12.2File '-forceversion' doesn't exist!

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be capt

[2019-02-27 01:59] aowen87 opened #3150 "plugin vs install issue for 2.13.3"
I ran into this while helping a user build an external db plugin, here is an example of the error: Here is an example: make[2]: ***** No rule to make target `/usr/gapps/visit/2.13.2/linuxx86_64toss3/lib/usr/usr/gapps/visit/2.13.2/linuxx86_64toss3/lib/workspace/usr/gapps/visit/2.13.2/linuxx86_64toss3/lib/wsrzc/usr/gapps/visit/2.13.2/linuxx86_64toss3/lib/visit/usr/gapps/visit/2.13.2/linuxx86_64toss3

[2019-02-27 01:59] aowen87 opened #3151 "Compile issue with swig simv2 wrappers on osx 10.13 (xcode 9)"
[ 24%] Building CXX object sim/V2/swig/python/CMakeFiles/pysimV2.dir/simV2_wrap.cxx.o/Users/harrison37/Work/masonry/buildmbtrunkdarwin10.13x86_64/src/sim/V2/swig/python/simV2_wrap.cxx:3719:9: error: no member named 'isfinite' in namespace 'std'; did you mean 'finite'? if (SWIG_Float_Overflow_Check(v)) { ^~~~~~~~~~~~~~~~~~~~~~~~~~~~/Users/harrison37/Work/masonry/buildmbtrunkdarwin10.13x86_64/src/si

[2019-02-27 01:59] #3151 closed, assigned to cyrush

[2019-02-27 01:59] aowen87 opened #3152 "deleting lineout windows can crash viewer"
Here's a script OpenDatabase("/usr/gapps/visit/data/dbA00.pdb") AddPlot("Pseudocolor", "mesh/ireg") DrawPlots() # lineout is drawn in Window 2 Lineout((0, 0), (5, 5)) SetActiveWindow(1) SetTimeSliderState(4) DrawPlots() gla = GetGlobalLineoutAttributes() gla.createWindow = 0 gla.windowId = 3 SetGlobalLineoutAttributes(gla) # lineout is drawn in Window 3 Lineout((0, 0), (5, 5)) SetActiveWindow(2) D

[2019-02-27 01:59] #3152 closed, assigned to biagas

[2019-02-27 02:00] aowen87 opened #3153 "VTK8 - Pseudocolor plot of curv3d, looks like normals are wrong"
Pseudocolor plot of curv3d, looks like normals are wrong. It looks like the baseline is using vertex normal and the new result is using face normal.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number:

[2019-02-27 02:00] #3153 closed, assigned to nobody

[2019-02-27 02:00] aowen87 opened #3154 "VTK8 - Pseudocolor plot of curv3d, looks like normals are wrong"
Pseudocolor plot of curv3d, looks like normals are wrong. It looks like the baseline is using vertex normal and the new result is using face normal.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number:

[2019-02-27 02:00] #3154 closed, assigned to aowen87

[2019-02-27 02:00] aowen87 opened #3155 "key mappings messed up when x11 forwarding qt 5 based visit"
Happening to folks using Exceed X11 on Windows to connect to LLNL linux clusters . Users see: XKEYBOARD extension not present on the X server And then the keys are off by a few characters. Some x-servers don't support XKEYBOARD, and things fall back to bad settings. Here are some related pages: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=814959 https://bugreports.qt.io/browse/QTBUG-44938

--

[2019-02-27 02:00] aowen87 opened #3156 "Difference in precision in exported vs. saved curve data"
Open rect2d.silo Do a lineout. Now, save it to an ascii curve file two ways Save 1: Use save window to do it Save 2: Use export db to do it. Compare the resulting files The exported file appears to use approprate number of digits in ascii values. The save as file appears to always use %16g (I think)See attached examples I actually think the bug this is demonstrating is fairly common for users to e

[2019-02-27 02:00] aowen87 opened #3157 "Tecplot reader mis-handling slew of 1D variables"
Tecplot has magic to load up a file of 1d variables as x-y curves where every variable is listed against every other variable. Its a n^2 operation and when the database contains a valid coordinate variable (say "x" or "X" or "i' or "I" or strcasecmp("coord") in the first entry in the list of variables), then this behavior should be disabled and instaed just use that as the coordinate of all the cu

[2019-02-27 02:00] #3157 closed, assigned to markcmiller86

[2019-02-27 02:00] aowen87 opened #3158 "blueprint plugin generating HDF5 error noise during open attempts"
It looks like VisIt is still trying blueprint ahead of silo. That is probably ok, as long as blueprint quickly decides the file isn't a silo file. However, it appears to also be generating error message noise (see below) on stderr (and exceptions in vlog files though I honestly don't know if that is really considered bad form for a plugin that decides it doesn't own the given file. My view is that

[2019-02-27 02:00] #3158 closed, assigned to cyrush

[2019-02-27 02:00] aowen87 opened #3159 "static build is broken (llvm, mesa)"
I tried using build_visit to create static libs with llvm and mesaasgl. Always failed when it came to mesa gl.I've included my notes regarding the build attempts below. This is for LLVM 5.0.0 and Mesa 17.2.8. A note about LLVM builds * if LLVM_BUILD_LLVM_DYLIB flag is ON it builds libLLVM.so and libLTO.so, and also creates a lot of static libs * if LLVM_BUILD_LLVM_DYLIB flag is OFF, libLTO.so is s

[2019-02-27 02:00] aowen87 opened #3160 "tee stderr/stdout to debug logs"
Refer to the unix, tee, command-line tool It would be helpful for developers if we added logic to VisIt's DebugStream initialization code to effectively tee cout and cerr so that we would capture such output in debug logs, syncronously, with other logging activity captured there. But, in so doing, we don't necessarily wanna loose it on cout and cerr...or, maybe its ok if debug is on the command li

[2019-02-27 02:00] aowen87 opened #3161 "Allow case where zonal arrays have more values than the associated mesh"
Al Nichols has some variables he would like to write out that effectively have ghost data that isn't associated with elements. In this case he will be writing out more values for the variable than there are zones. Al would like VisIt to just ignore the extra values. I suspect that there are checks in VisIt that the length matches the number of zone and truncates it and then puts out an error messa

[2019-02-27 02:00] aowen87 opened #3162 "SIL selection applies to new plot even when 'Apply subset selections to all plots' is unchecked"
Uncheck 'Apply subset selections to all plots'. Open a multiblock dataset.Create a mesh plot, reduce sil to 1 block.Create another plot. It's sil will be limited to the 1 block applied to the first plot.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete

[2019-02-27 02:00] aowen87 opened #3163 "Support vtkGhostType convention in vtk reader"
VTK adopted a ghost type convention based on VisIt's ghosting.It is an unsigned char array named 'vtkGhostType', added to celldata for ghost zones, to pointdata for ghost-nodes.Our reader currently doesn't read this information. From the documentation in vtkDataSetAttributes.h: // ghost points and ghost cells //The following bit fields are consistent with VisIt ghost zones specification //For deta

[2019-02-27 02:01] #3163 closed, assigned to rusu24edward

[2019-02-27 02:01] aowen87 opened #3164 "VTK8 - check cinema support on trunk"
tests related to this may be skipped, need to make sure it works

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3178
Status: Pending
Project: VisIt
Tracker: Bug
Priority: High
Subject: VTK8 - chec

[2019-02-27 02:01] aowen87 opened #3165 "issue with 2 axis labels not matching data"
Mike Lambert pointed out an issue where data would pop relative to an x-axis label when resizing the window. The actually problem is the view was changing but the axis labels were not. When we zoomed in, it was clear that the labs on the zoomed out plot did not have the correct values ex: what appeared as at x=100 in the zoomed out plot was actually at x=103.

-----------------------REDMINE MIGRAT

[2019-02-27 02:01] aowen87 opened #3166 "Update FAQ #11"
this faq https://wci.llnl.gov/simulation/computer-codes/visit/faqs/faq11 is potentially confusing as it points people to a very old pdf file for visit manual.Next, it lists only a subset of formats VisIt supports. Although it does include a link to the VisIt File Formats Wiki page (which is a great ref), I think this FAQ item should be reduced to a single line such as, http://visit.ilight.com/svn/

[2019-02-27 02:01] aowen87 opened #3167 "Support DBOPT_GHOST_NODE_LABEL & DBOPT_GHOST_ZONE_LABEL in Silo plugin"
This is a high priority and would help Randy Settgest a lot. Also, incredibly simple to add. We need to add logic to silo plugin to detect non-null for unsigned char **ghost_node_label on a DBucdmesh, DBpointmesh and DBquadmesh and/or unsigned char **ghost_zone_label on a DBzonelist and DBquadmesh object and then set up avtGhostNodes and/or avtGhostZones according to the data found in these arrays

[2019-02-27 02:01] #3167 closed

[2019-02-27 02:01] aowen87 opened #3168 "Remove ancient logic in VisWndow ?"
Was looking at code in VisWindow, VisWinView, VisWinPlots, VisWinRendering, looking for our logic for setting up our 2D view so I could set up a stand-alone VTK program to behave similarly to VisIt. I was looking at VisWinView::ResetView and the parameters being sent to vtkCamera. However, I noticed the code is actually never called. VisWindow::ResetView, which calls VisWinView::ResetView, is comm

[2019-02-27 02:01] #3168 closed, assigned to biagas

[2019-02-27 02:01] aowen87 opened #3169 "CMFE with arbitrary polyhedral volumetric mesh to/from point meshes has issues"
For CMFE from point donor to volumetric target... Open globe.siloDefine the CMFE... pos_cmfe(</Users/miller86/visit/trunk/data/silo_hdf5_test_data/noise.silo:PointVar>, <mesh1>, -1000) replacing the path to noise.silo with appropriate path. Plot the resulting CMFE with PC plot. You get all 1000 values (e.g. the didnot-overlap value). But, PointVar definiately overlaps with mesh1 in globe.silo so s

[2019-02-27 02:01] #3169 closed, assigned to brugger1

[2019-02-27 02:01] aowen87 opened #3170 "Enhance NASTRAN plugin to support CQUAD8 element and *CONT/+CONT continuation lines"
See attached data example I think this is dirt simple but don't have time or config to test quickly... Add logic to avtNASTRANFileFormat.C like block below except for 'CQUAD8', capture 8 point ids and then insert VTK_QUADRATIC_QUAD of 8 points. Also, I suspect the *CONT and +CONT symbols in the attached file are continuation lines that I don't think our plugin handles either else if(strncmp(line,

[2019-02-27 02:01] #3170 closed, assigned to rusu24edward

[2019-02-27 02:01] aowen87 opened #3171 "Update HDF5 to 1.10"
This impacts conduit and friends. For performance reasons, conduit enables latest and greatest features in HDF5 library. However, any conduit software stack using version 1.10 of HDF5 can wind up creating files that 1.8 cannot read. Such is the case currently with VisIt. I think updating VisIt to use HDF5 1.10 should be fine. Can we do on patch release?

-----------------------REDMINE MIGRATION---

[2019-02-27 02:01] #3171 closed, assigned to markcmiller86

[2019-02-27 02:01] aowen87 opened #3172 "Improve Silo Block Based VFD to 7z-compress the blocks"
This is harder than it sounds. When blocks are compressed, their offest in the file is no longer easily predictable. So, you need to store the blockoffsets or offset deltas too. Either allocate enough space at the front of the file to store all block offsets for the file (would require foreknowledge of approx. file size), or develop a scheme of storing the block offset data among other data blocks

[2019-02-27 02:02] aowen87 opened #3173 "2D MFEM data, elevated, produces gaps"
See attached image. This is from a 2D mfem dataset that has been elevated.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3187
Status: Pending
Project: VisIt
Tracker: Bug
Priority: Normal
Subject:

[2019-02-27 02:02] aowen87 opened #3174 "single file curve plot labels should default to filename w/o extension"
When you plot a single un-tagged curve from a .curve file, the label is always just "Curve". I would be better if in this case, it used the filename without its extension.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine t

[2019-02-27 02:02] aowen87 opened #3175 "Materials sorted incorrectly when only clean zones are displayed."
Barbara Kornblum reported that she has a problem with 30 materials and then when she turns on plot only clean zones, the materials get sorted alpha numerically and she doesn't like that. It isn't sorted that way normally and I don't think it should be sorted that we after turning on clean zones only. For example: Normally: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 When sorted with clean zones only: 1, 10,

[2019-02-27 02:02] aowen87 opened #3176 "Line3d annotation object, add height control for arrow?"
currently only have radius, and height is internally a percentage of radius.Should we add an independent height control?

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3190
Status: Resolved
Projec

[2019-02-27 02:02] #3176 closed, assigned to biagas

[2019-02-27 02:02] aowen87 opened #3177 "Qt5 known bug on new MacOS High Sierra"
Hi everyone, Recently I have upgraded my Mac to the latest version (High Sierra 10.13.6 (17G65)). While rebuilding my VisIt, I found there is a compilation error related to the Qt5. This bug has already been reported in Qt's website, you can see it using the link https://wiki.qt.io/Qt_5.9.5_Known_Issues Can we try to have this patch included into our visit trunk until we upgrade to Qt5.11.x? Curre

[2019-02-27 02:02] #3177 closed, assigned to griffin28

[2019-02-27 02:02] aowen87 opened #3178 "Bug reading Exodus files."
Here is the e-mail describing the bug. Hello, We have found a possible error in the Alegra generated Exodus data in VisIt when using the Exodus Reader in multiple VisIt versions including 2.12.3 and 2.13.0 When turning of the second elment block VisIt gives and error message. "ERROR: Pseudocolor: () viewer: The pipeline object is being used improperly." Is this a know problem with a known workarou

[2019-02-27 02:02] aowen87 opened #3179 "Host profiles not being installed on LLNL diskless windows systems"
Mike Zika reported that host profiles aren't being installed on the diskless windows systems.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3193
Status: Pending
Project: VisIt
Tracker: Bug
Priori

[2019-02-27 02:02] aowen87 opened #3180 "2.13.2 osx: zoom and lineout bank screen during drag"
-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3194
Status: Resolved
Project: VisIt
Tracker: Bug
Priority: Normal
Subject: 2.13.2 osx: zoom and lineout bank screen during drag
Assigned to: Kevin Gr

[2019-02-27 02:02] #3180 closed, assigned to griffin28

[2019-02-27 02:02] aowen87 opened #3181 "visit startup stalls when some filesystems are down"
This was happening for BK running client/server. scratch2 was down and VisIt startups would stall. The evidence strongly suggests lscratch2 being down was the cause. Startup was fine earlier in the same day when lscratch2 was up Startup started stalling when it went down Startup was fine running all remote but sessions were too slow for her. I didn't think at the time but I could have tried a VNC

[2019-02-27 02:02] aowen87 opened #3182 "linux libpng woes"
From ATPESC: one of the first symptoms folks see on linux if they have visit binary install that isn't compatible with their system is linking issues with libpng. In complex cases, system libpng may actually be using a newer version of zlib than we are, so they have to downgrade their system libpng. It seems we need to build libpng to avoid this. Note, in a few cases where this struck users, they

[2019-02-27 02:02] #3182 closed, assigned to aowen87

[2019-02-27 02:02] aowen87 opened #3183 "Variable menu for changing the variable of the active plot becomes unresponsive."
Jose Milovich reported that sometimes the variable menu for changing the variable of the active plot becomes unresponsive. This happens if he has VisIt running for several days. He says VisIt is otherwise responsive. He also said right clicking on the plot also allows him to change the variable of a plot.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated fro

[2019-02-27 02:03] aowen87 opened #3184 "Support more complete regular expression syntax in file selection window"
Jose Milovich reported that sometimes he is unable to access a single file sandwiched between 2 large databases. He would like a more complete regular expression syntax in the file selection window to only get the file of interest in the list. Right now he must completely specify the file name to get only that file name.

-----------------------REDMINE MIGRATION-----------------------
This ticket

[2019-02-27 02:03] aowen87 opened #3185 "X forwarding on Pascal is slow relative to all the other LC machines."
Steve Alves reported that the graphics on pascal is slower than all the other LC machines. I was able to verify that this was the case with some large databases.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ti

[2019-02-27 02:03] aowen87 opened #3186 "variable sum query double counting ghost data"
To test nodal data behavior... open multi_ucd3d.silo, which has ghost designations create nodal_constant expression of 1 run variable sum query on the nodal constant expression compare result in 3 to num nodes query...it yields same as total nodes not just nonghost nodes (e.g. total ghost or maybe total - 1/2 ghost) Likewise, to test zonal data behavior open multi_ucd3d.silo, which has ghost desig

[2019-02-27 02:03] aowen87 opened #3187 "suspect int overflow in either VisIt or VTK8 when writing to string in avtDataRepresentation"
I have a dataset, 10 million exodus quad8 zones. A smaller, 5 millon quad8 case works fine.But, engine crashes on 10 million case due to a call to new from VTK of size 18446744071695319403 (which is 64 bit unsigned for -2280735082) . I am pretty sure what is going on here is an int overflow somewhere in VisIt and/or VTK during vtkDataWriter::Write method when writing to a string in avtDataRepresen

[2019-02-27 02:03] aowen87 opened #3188 "mesh_quality/area fails on quad8 elements from NASTRAN."
I was in Donald Blackfield's office and he was showing me some quad8 data and it gave 1. for all the area values. My guess is that the query doesn't support quad8 and is just defaulting the value to 1.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete re

[2019-02-27 02:03] aowen87 opened #3189 "Create a Windows distribution for Don Blackfield that includes NASTRAN fixes"
Don Blackfield urgently needs a Windows version of VisIt that includes the NASTRAN fixes that Eddie made. If we get 2.13.3 out soon, that may be good enough, otherwise we need to generate an early version for him.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a

[2019-02-27 02:03] #3189 closed, assigned to biagas

[2019-02-27 02:03] aowen87 opened #3190 "VisIt silently computes invalid mesh quality metrics"
Open a mesh with hig order elements and try any of the mesh quality metrics. We get a result that is invalid. VisIt should report error message instead.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket numb

[2019-02-27 02:03] aowen87 opened #3191 "swivel highlight for pick"
The GrizIt team wants the ability to highlight a cell/node, and then swivel the camera focus to that cell/node at some later point. This highlight is different from a general pick in that there can only ever be one element highlighted at a time, and there are no labels shown. They also want an interaction mode that automatically highlights and swivels to any cell/node clicked (this second one is a

[2019-02-27 02:03] #3191 closed, assigned to aowen87

[2019-02-27 02:03] aowen87 opened #3192 "Highlight for node pick"
Chad would like the ability to highlight a node pick. Currently, VisIt allows highlighting cell picks only. I believe Matt Larsen updated the pick point glyph, but we need to also update its color as we do with cell picking.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition.

[2019-02-27 02:03] #3192 closed, assigned to aowen87

[2019-02-27 02:03] aowen87 opened #3193 "Python docs for Lineout need updating"
The docstrings for Lineout don't include the use of keyword-args, eg: Lineout(start_point=p1, end_point=p2, use_sampling=1, sum_samples=100)

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3207
Sta

[2019-02-27 02:03] #3193 closed, assigned to biagas

[2019-02-27 02:03] aowen87 opened #3194 "fix xdmf memory bloating"
A user has 220Mb xml xdmf file for 64,000 hyperslabbed blocks. mdserver was going over 10Gig for it. Part of the issue is VisIt and handling of large domain listsThe other part, which I think is at least as bad if not worse than VisIt's domain list problem, is the xml parser used in Xdmf library. The mdserver is holding on to all this stuff when it doesn't need to. The engine does too. Perhaps upd

[2019-02-27 02:04] aowen87 opened #3195 "Antialiasing broken on OSX 10.13.5"
Here is the e-mail from Jeremy White. One, unrelated thing I noticed now that I can actually generate plots again: the anti aliasing doesnt seem to be working anymore. Is this a known issue with the current visit version, or should I be looking into the OS/drivers side of things? Jeremy In a later e-mail he also mentioned that he doesn't believe it ever worked in 3D. So he is just concerned with 2

[2019-02-27 02:04] #3195 closed, assigned to griffin28

[2019-02-27 02:04] aowen87 opened #3196 "VTK8 volume rendering color and opacity functions"
There are some issues with the color and opacity of volume rendering.1. data min and max that visit has cached are incorrect, which causes data to be scaled incorrectly. Easily fixed by finding min and max manually. 2. There are various issues with unstructured datasets. First, VTK can't handle our "empty space value", which is replaced with a reasonable value outside of our expected range. This c

[2019-02-27 02:04] aowen87 opened #3197 "Support Verdict mesh quality metric suite via some MFEM-enabled implementation"
It looks like the mesh quality metrics we support in Verdict work only for linear elements. We are encountering more high-order elements. Might be best support these via an MFEM-enabled implementation of Verdict metrics.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Bel

[2019-02-27 02:04] aowen87 opened #3198 "Blueprint plugin produces HDF5 error messages in terminal when openning a PDB Silo file"
I opened a PDB style Silo file with VisIt on pascal and I got some HDF5 error messages printed to the terminal when I tried to open it. The file opened successfully, so it wasn't a bad failure, but it doesn't look good. I then disabled the Blueprint database plugin, saved settings, restarted VisIt and tried to open the file again and the error messages disappeared, so I believe they are from the B

[2019-02-27 02:04] #3198 closed, assigned to cyrush

[2019-02-27 02:04] aowen87 opened #3199 "be less strict about blueprint index verify"
right now the blueprint plugin yields if there are any index verify failures. We should only kick back if no-valid bp indices

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3213
Status: Resolved
P

[2019-02-27 02:04] #3199 closed, assigned to cyrush

[2019-02-27 02:04] aowen87 opened #3200 "cli crash when executing commands from the command line window"
Cyrus saw this on Jade @LLNL running python commands using the commands menu always crashed the cli (it would restart every time)if i typed the same commands into the cli, it would not crash.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of th

[2019-02-27 02:04] aowen87 opened #3201 "osx 10.13 blackscreen when using zoom mode"
lineout and zoom mode turn screen black while dragging

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3215
Status: Resolved
Project: VisIt
Tracker: Bug
Priority: Normal
Subject: osx 10.13 blackscr

[2019-02-27 02:04] #3201 closed, assigned to griffin28

[2019-02-27 02:04] aowen87 opened #3202 "Add Extrude option for length to be determined by scalar"
Extrude has an absolute 'Length' option.Allen Sanderson requested an option for length to be determined by a scalar var, with an optional scale factor as well.Would need to recenter zonal scalars.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record

[2019-02-27 02:04] #3202 closed, assigned to ARSanderson

[2019-02-27 02:04] aowen87 opened #3203 "ensure MFEM is built with compression enabled"
We used to be able to read compressed MFEM data. I don't think we can now. Should be easy to turn on this feature in MFEM build as long as we are building with ZLIB.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

[2019-02-27 02:04] #3203 closed, assigned to markcmiller86

[2019-02-27 02:05] aowen87 opened #3204 "switch original/actual default to actual"
Many query operations support original vs. actual (as an aside, can we re-visit the rationale for supporting the original option). I was looking at a massive dataset on a small number of processors by setting SIL restriction to 1-2% of all domains. It worked great....that is as long as I always remembered to set 'actual' before doing any queries. The queries default to original and I accidentally

[2019-02-27 02:05] aowen87 opened #3205 "nonsensical expression appear in GUI menus"
Open multi_ucd3d.siloGo to Pseudocolor>operators/ConectedComponents/mesh1 or Pseudocolor>operators/LCS/vecTry to plot either. They fail with strange error messages. I don't think these plots even make any sense but for some reason the GUI is populated with them. I think this problem is pretty wide-spread. I mean, I think there are a number of cases where a plot requiring one type of variable is po

[2019-02-27 02:05] aowen87 opened #3206 "eliminate cylindrical_xxx and polar_xxx expressions"
For some reason, we have a cylindrical() expression funtion which returns a vector variable on the mesh which is the R,theta,Z coordinate of each node and we have cylindrical_radius() and cylindrical_theta which just return the first and second components of the vector variable. I am not even sure they save storage space or time in only computing and storing those components. Why do we have these

[2019-02-27 02:05] aowen87 opened #3207 "eval_transform expression not working as expected"
Open globe.silodefine expression radius as cylindrical_radius(mesh1)define radius_roty as eval_transform(radius, 100, [0,0,1,0,1,0,1,0,0]) First, PC plot radius...it looks as expected.Now, PC plot radius_roty. Bizarre results. Note that the same eval_transfom for variable dx works as expected.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. A

[2019-02-27 02:05] aowen87 opened #3208 "Add external plugin nightly test"
This should be easy and can be done using any of the plugins we currently have by either choosing one we don't normally build by default or by copying one and simply modifying its CommonPluginInfo.C file so that it is named different from the original it was copied from. But, we need to create a nightly test that attempts to compile and run a external database plugin.

-----------------------REDMI

[2019-02-27 02:05] aowen87 opened #3209 "sanity check get_property call for IMPORT_LOCATION of vtk libs in root CMakeLists.txt"
I added a fix so CMake won't bail during configure if it encounters a VTK_TARGET that is an INTERFACE_LIBRARY. I wonder if we even need the GET_PROPERTY call in the first place.All VTK targets seem to have their IMPORT_LOCATION set, so can we remove that call? Or is it in place for non build-visit installs of VTK? If it is needed, then is setting that VTK_TARGET_IMPORT_LOC_EXISTS to true for INTER

[2019-02-27 02:05] aowen87 opened #3210 "Variable menu looses variable after playing a movie and then pressing stop."
Here is the report from Andy Cook. It is frequenly the case in VisIt 2.13.2 that if I click the play button, then stop, that the Variables button then ceases to function. From Eric:Jose Milovich reported a problem with the variables button no longer working after running VisIt for many days. Perhaps they are related. Also, Mark made some performance improvements related to variable lists, perhaps

[2019-02-27 02:05] aowen87 opened #3211 "blueprint: support N domains partitioned across M files"
support N domains partitioned across M files, assume implicit order

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3226
Status: Pending
Project: VisIt
Tracker: Bug
Priority: Normal
Subject: bluepr

[2019-02-27 02:05] aowen87 opened #3212 "FPS estimates in Rendereing->Information tab not legible"
We update the text in the FPS values in Rendering->Information tab on each render. Minor changes in each rendering mean the numbers change too quickly to be legible. Also, we print 3 numbers but don't give any explanation to what those are (I think they are averaged over different time intervals) We should make the following changes. display FPS and rendering time separately average over previous

[2019-02-27 02:05] aowen87 opened #3213 "subset explode"
There seems to be some strange behavior when the explode operator is applied to a subset plot of multiple domains. This can be seen with multi_rect3d, multi_curv3d, and others.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redm

[2019-02-27 02:05] #3213 closed, assigned to aowen87

[2019-02-27 02:05] aowen87 opened #3214 "Operator windows continue to exist"
I recently noticed some strange behavior with visit's operator attributes windows. If you render a plot, add an operator, open the operator attributes window, and then delete all plots, the operator window continues to exist in the background (can see using print statements). What was most surprising is that every window for every operator I plotted continues to exist after it's been deleted. Is t

[2019-02-27 02:05] aowen87 opened #3215 "Look into memory usage when changing time states."
Here is the e-mail exchange related to this issue with a Chombo data set. We should really get to the bottom of this. We have this come up occasionally and never investigate. Hi Robert, The scalable rendering request is most likely crashing because VisIt has run out of memory. Most likely, there is an increase in memory usage each time you move to a new time state. There is a data structure that s

[2019-02-27 02:05] aowen87 opened #3216 "Time and cycle not saved when exporting to Silo from Mili."
Here is the e-mail exchange. Hi Shaun, The time state and time value should just be automatically exported when you do an export database to Silo. I tested this with a Silo time sequence and this worked fine. There is clearly a bug involved here and I will submit a ticket to investigate this. Here are some thoughts on what could be going wrong. There are attributes that the database sets which ind

[2019-02-27 02:05] aowen87 opened #3217 "Possible bug when exploding domains"
I noticed some odd behavior when exploding the domains of multi_ucd3d.silo. If I follow a very particular set of explosions, I receive the following error: 'The compute engine running on host rzgenie29.llnl.gov issued the following warning: In domain 0, your zonal variable "avtGhostZones" has 1331 values, but it should have 1728. Extra 0.'s were added to ensure VisIt runs smoothly' I have not been

[2019-02-27 02:06] #3217 closed, assigned to aowen87

[2019-02-27 02:06] aowen87 opened #3218 "Add ability to set min/max of opacity ramp in Pseudocolor plot."
Here is the e-mail request from Charlson C. Kim <charlson.c.kim@gmail.com> for the pseudocolor opacity setting "ramp", it would be nice if the controls allowedadjusting the hi/low range of the opacity ramp.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a comple

[2019-02-27 02:06] aowen87 opened #3219 "Explode operator issue with multi-domain reflect"
The explode operator will crash when used after a reflect operator on mutli-domain data.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3234
Status: Resolved
Project: VisIt
Tracker: Bug
Priority:

[2019-02-27 02:06] #3219 closed, assigned to aowen87

[2019-02-27 02:06] aowen87 opened #3220 "PC plot legend missing or gray'd minus symbol for negative values"
This is happening for a CMFE diffing case. The numerical value at the bottom of the legend is missing a minus sign in front or it is there by really gray'd out.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Tic

[2019-02-27 02:06] aowen87 opened #3221 "Multiple explosions at once"
It would be useful to be able to apply a single explosion to multiple materials at once through the gui in an intuitive/easy way. There are ways of doing this pretty easily right now, but it's not exactly intuitive.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is

[2019-02-27 02:06] aowen87 opened #3222 "Silo Plugin: export to overlink flavor if Silo"
requested by Tom Brunner, it would help him use Visit to modify and export meshes for consumption in sim codes

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3237
Status: New
Project: VisIt
Tracke

[2019-02-27 02:06] aowen87 opened #3223 "global pref for printf format (precision) for integer and float data used in all places VisIt prints numbers"
Wherever VisIt prints numbers... in GUI in CLI in label and spreadsheet plots in ascii database exports in debug logsetc... We should have a global preference that effects control of the format string used.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a comple

[2019-02-27 02:06] aowen87 opened #3224 "add ghost expressions"
Add expressions that cause ghost data to become a normal field on a mesh (instead of just being known internally)

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3239
Status: Pending
Project: VisIt

[2019-02-27 02:06] aowen87 opened #3225 "VisIt tray icon on OSX launches new instead of making exisiting active"
Normal OSX apps launch themselves the first time you hit them and thereafter simply make the existing running instance of the app the active app. But, VisIt doesn't behave that way. Each new click of the app icon launches a new instance. Yet another OSX odd-ball behavior of VisIt.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not a

[2019-02-27 02:06] aowen87 opened #3226 "support relative addressing in obj files"
I have a workaround that kind of sucks for not allowing for relative addressing for the f field in VisIt. Basically, the boss processor does all the work. My choices are to do the work twice so I can get a count of facets the first time; keep this serial; write a different file for each rank; or abandon VisIt for this. So what I would like to know is the following: Can relative addressing (negativ

[2019-02-27 02:06] #3226 closed, assigned to markcmiller86

[2019-02-27 02:06] aowen87 opened #3227 "plot list var menu becomes unuseable."
Allen reported this. I saw it happen with his Mac. The variable menu icon actually gets grayed out. Only restarting VisIt gets it to work again. He gave me data to play with on Surface. I am able to reproduce with 2.13.2 on surface, though the icon doesn't go gray, it simply becomes unresponsive. I had to quickly try changing vars on the active plot with the menu to reproduce, and it sometimes tak

[2019-02-27 02:06] aowen87 opened #3228 "Variable menus are possibly being recreated erroneously"
When running in situ (all on my local machine) I have 200+ variables. There are long lags between creating a plot, having it appear in the plot window, clicking draw, having it go from green to yellow to black, and for the plot window to be responsive again. Kathleen, Mark, and I have seem it and all believe that the variable menus are possibly being recreated erroneously. This issue may be relate

[2019-02-27 02:06] aowen87 opened #3229 "linux libraries not found after installing - paths are not valid"
When running lib sim on linux libraries are not always found because the rpaths have been stripped out as part of the install. On OS X systems we fix up the paths. But not linux systems. I have looked at PatchELF https://nixos.org/patchelf.html and Kathleen has seen some references to it within CMAKE I should note that early on I could solve some of the missing library issues by adding the VTK lib

[2019-02-27 02:06] aowen87 opened #3230 "Pick from block id and ijk"
Requested by Thomas Shepard

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3245
Status: Pending
Project: VisIt
Tracker: Feature
Priority: High
Subject: Pick from block id and ijk
Assigned to: -
Ca

[2019-02-27 02:07] aowen87 opened #3231 "Add LS-Dyna readers."
-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3246
Status: Pending
Project: VisIt
Tracker: Feature
Priority: Normal
Subject: Add LS-Dyna readers.
Assigned to: -
Category: -
Target version: -
Autho

[2019-02-27 02:07] aowen87 opened #3232 "Signing OSX Builds"
So Ive talked with a few people at the Lab to include the developer of MacPatch, LivIT support folks, and I just recently reached out to Mary Ann Chapeta (handles various enterprise licenses) and still waiting to hear back from her. Heres what Ive discovered so far: 1. You can actually bypass all of the security exception stuff with OSX when you download an unsigned application by rightclick and s

[2019-02-27 02:07] #3232 closed, assigned to griffin28

[2019-02-27 02:07] aowen87 opened #3233 "Ensure graph-based enum scalars provide decent names for children"
This is for Allen Sanderson. I have one nicety that I would like to add - being able to name the edge list so when Node_0000 is expanded one does not get Node_0000 again but instead Ranks for my case:

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete rec

[2019-02-27 02:07] #3233 closed, assigned to markcmiller86

[2019-02-27 02:07] aowen87 opened #3234 "build_visit allio is broken due to Nektar+ and ADIOS2"
Kick these libraries out of build_visit's all-io until their maintainers check libraries into third_party. Perhaps there are others that cause this too. build_visit should work. Normal svn failed. Trying anonymous svn.SVN download attempt failed: http://visit.ilight.com/svn/visit/trunk/third_party/nektar4.4.1.tar.gzAnonymous SVN download attempt failed: http://visit.ilight.com/svn/visit/trunk/thir

[2019-02-27 02:07] aowen87 opened #3235 "Qt 5.10 on Mac makes VisIt main window appear with bad size."
I ran build_visit the other day to redo VTK with some extra flags. It picked up a new Qt. When I ran it, the VisIt main window came up fairly square instead of in the tall,narrow configuration I expect. I'm reverting to Qt 5.6 because of this. Note the viewer geometry flags below that tell the viewer to appear at x=641, which is because of the GUI main window that is almost twice as wide as it oug

[2019-02-27 02:07] aowen87 opened #3236 "Enhance OBJ reader to support coloration of surface elements"
Currently, our OBJ reader supports grouping via the g statements. However, those statements permit multiple inclusion (e.g. a given element in the file can be included in multiple groups) and VisIt's material object, the only one that allows data producer to specify colors associated with mesh subsets, is single inclusion. Its concievable user's only need this to work for single inclusion case. In

[2019-02-27 02:07] #3236 closed, assigned to markcmiller86

[2019-02-27 02:07] aowen87 opened #3237 "Inverse ghost zone not working when all domains selected"
Attached are two pictures of a simple mesh with inverse ghost zone operator applied. The only difference between the two pictures is that the one showing correct ghosting (somedomainoffcase) has one domain turned off. It doesn't matter which domain. Just one domain has to be off to get the correct ghost zones plotted. I suspect this has to do with optimization in the ghost zone and facelist filter

[2019-02-27 02:07] aowen87 opened #3238 "Add tests for WavefrontOBJ files"
I recently added functionality to WavefrontOBJ reader and have some data files useful for defining a few tests. We should a .py test which includes enum scalar groups multiple inclusion in enum scalar groupings single-inclusion groupiins as materials color specification in materials

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not

[2019-02-27 02:07] #3238 closed, assigned to markcmiller86

[2019-02-27 02:07] aowen87 opened #3239 "Orphan VisIt VCL jobs"
Mark recently noticed some zombie VCL jobs on Surface. I've been able to reproduce the issue by following these steps: 1. Launch VisIt from my desktop.2. Click open, and change my host to surface.3. Open a dataset.4. When prompted, select parallel batch pbatch. After step 4, I see an error message about an invalid account or account/partition combination. I can then exit VisIt, and the vcl will re

[2019-02-27 02:07] aowen87 opened #3240 "VTK8: confirm obj rebaselines"
Have a look at these results http://portal.nersc.gov/project/visit/tests/20181025-08:47/pascal_trunk_serial/obj_box.html I am wondering if the thick mesh lines are a problem in VTK we're using on trunk

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete re

[2019-02-27 02:07] aowen87 opened #3241 "Plane tool not aligned with slice plane when first enabled"
When initializing the plane tool on a pseudo color plot with the Slice operator applied to it, the plane tool is not correctly initialized with the operator's slice plane (see attachment).

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the o

[2019-02-27 02:08] aowen87 opened #3242 "Upgrade BoxLib to AMReX"
BoxLib has been superseded by AMReX. We should upgrade our builds and plugin to use AMReX. What happens to our ability to read/vis old boxlib data files?

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket num

[2019-02-27 02:08] aowen87 opened #3243 "Error and omission in Host Profiles section of documentation."
I was helping a user with getting host profiles installed and I pointed him at the documentation. It neglected some important information and potentially has an error. Here is the e-mail message. He was running 2.10.0, so it is a bit old, but I suspect the docs should be the same. Eric, I am not sure why but the Export Host does not work. The instructions say something about a checkbox to export f

[2019-02-27 02:08] aowen87 opened #3244 "Dyna Reader Freezes Visit"
In the File Open dialog box, select Dyna3d for "Open file as type". Then, attempting to open some types of files will cause Visit to freeze. I've tried this with a number of .isave, .log, and .matlist files. Freeze every time. For other file types, the reader is able to detect that it is an invalid file type and outputs the Error! message.

-----------------------REDMINE MIGRATION-----------------

[2019-02-27 02:08] aowen87 opened #3245 "build_visit results in funky build on unbuntu"
user built 2.13.3 on ubuntu using ./build_visit static boxlib parallel Then, cannot open boxlib file without explicitly specifying boxlib3d reader. And, cli won't run due to undefined visit module See attached PDF for email thread. See attached debug logs when running.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
informati

[2019-02-27 02:08] aowen87 opened #3246 "Something funky with QXcbEventReader"
When runnig 2.13RC on RZ (or CZ I think also), I am seeing after I exit VisIt, core files like rzgenie5QXcbEventReader58682.core I believe I can see behavior with either my own build or with current install. The core happens when I exit VisIt normally. So, it is somewhat silent until you happen to see the core files. I captured gdb and valgrind info here too. gdb output... rzgenie5{miller86}558: g

[2019-02-27 02:08] aowen87 opened #3247 "ThreeSlice operator failure when slice aligns on block boundaries"
I have encountered a bug that seems to show up only in a rare case. When I try to make a ThreeSlice plot and a plane of one or more of the slice planes are exactly at the planar boundary between patches, those slice planes are not displayed. Mesh description: 100x100x100 mesh, partitioned into 4 patches by bisecting in the Y and Z directions. The planes of bisection are at Y=0.0 and Z=0.0. This us

[2019-02-27 02:08] aowen87 opened #3248 "Bug in rendering ThreeSlice plotsSAMRAI plugin"
I have encountered a bug that seems to show up only in a rare case. When I try to make a ThreeSlice plot and a plane of one or more of the slice planes are exactly at the planar boundary between patches, those slice planes are not displayed.Mesh description: 100x100x100 mesh, partitioned into 4 patches by bisecting in the Y and Z directions. The planes of bisection are at Y=0.0 and Z=0.0. This use

[2019-02-27 02:08] aowen87 opened #3249 "moving mesh & actual extents"
I am attempting to analyze a moving mesh in situ with libsim. We are initializing things from a session file. The problem I'm having is that the camera doesn't move with the mesh, so things only work well around the timestep where the session file was generated, and the data is off screen before and after that timestep. I've observed that in the gui things work a little differently. in situ the vi

[2019-02-27 02:08] aowen87 opened #3250 "Onion peel defaults to start at zone 1. Shouldn't it be zone 0?"
-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3265
Status: Resolved
Project: VisIt
Tracker: Feature
Priority: Normal
Subject: Onion peel defaults to start at zone 1. Shouldn't it be zone 0?
Assign

[2019-02-27 02:08] #3250 closed, assigned to markcmiller86

[2019-02-27 02:08] aowen87 opened #3251 "VTK8 - Locally running trunk (3.0) behaves differently on OSX if XQuartz/Grab are running"
I finally built trunk on my OSX system using build_visit build_visit buildmode Debug required optional allio fortran parallel thirdparty-path /Users/miller86/visit.new/thirdparty/3.0 \ debug noadios2 nofastbit nofastquery nonektarpp no-pyside The 5 trailing no-xxx args were to disable things that were preventing build_visit from completing successfully. However, I noticed that I am seeing that sam

[2019-02-27 02:08] aowen87 opened #3252 "restore session does not honor non-default read options"
One of the non-default Silo read options is to search for annotation_int objects. Test databases that contain these are all those in overlink_test_data/annotInt Open such a database by using Open As... and setting default read options to search for annotation int objects. Do a PC plot and then adjust the SIL using one of the annotation_int objects list in the SIL controls. Save the session. Exit V

[2019-02-27 02:08] aowen87 opened #3253 "fix 2D zbuffer compositing to use plot-list ordering as proxy for depth sort"
We've had this long standing problem for 2D zbuffer compositing in SR mode that if we have two or more plots with areal features, we can wind up with zbuffer contention between them because both are rendered with depth of zero. I think zbuffer contention can happen in 3D too and this issue ticket isn't speaking to 3D; only 2D. We should find a way to assign zbuffer depths to 2D objects such that a

[2019-02-27 02:08] aowen87 opened #3254 "Add tags/labels to CLI documentation"
Currently, our CLI documentation amounts to an alpha list of function/member names. There is no hierarchical/categorization of stuff. It would help to have those. We can fix by adding some kind of simple tagging/labeling scheme to our documentation.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be ca

[2019-02-27 02:08] aowen87 opened #3255 "Probably serious compiler warning"
/usr/workspace/wsa/visit/miller86/visit_git_migration_trunk/trunk/src/avt/Plotter/vtk/vtkDepthSortPolyData2.C: In instantiation of 'T {anonymous}::getCellMax(vtkIdType**, vtkIdType, const T**) [with T = short unsigned int; vtkIdType = long long int]': /usr/workspace/wsa/visit/miller86/visit_git_migration_trunk/trunk/src/avt/Plotter/vtk/vtkDepthSortPolyData2.C:143:39: required from 'void {anonymous

[2019-02-27 02:09] aowen87 opened #3256 "Command recording not working when xterm not present."
I was giving a demo on a VM that did not have "xterm" installed. So, when I tried using the command recording window, it could not use xterm to start up the cli. This was on Ubuntu 18. It would be nice if internallauncher would use lxterminal (or what have you) preferentially and then use xterm otherwise.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated fro

[2019-02-27 02:09] aowen87 opened #3257 "Plane tool with VisIt 3.0.0b is buggy and crashes VisIt."
I ran VisIt trunk on an Ubuntu VM and used the plane tool to move a slice plane. It caused a hang in one case and a crash in another case. 1. Open rect3d.silo2. Make a Pseudocolor plot of u3. Make a Mesh plot4. Draw the plots5. Turn off the project 2d on the slice6. Turn on the plane tool7. Move the plane tool forward/backward This is when I was able to get a hang or crash for the viewer. It might

[2019-02-27 02:09] aowen87 opened #3258 "VTK8 Volume rendering multidomain datasets"
There is currently an issue with rendering volumes of multi domain datasets. The issue occurs only when using the default renderer and appears to be a result of an old piece of code that tries to merge the domains into one.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition.

[2019-02-27 02:09] #3258 closed, assigned to aowen87

[2019-02-27 02:09] aowen87 opened #3259 "Unable to create a 2D gradient from a NEK5000 file."
Jean Favre reported the bug described below. He gave me the file and I have it in my home directory on kickit. Hello Eric This is the file where I cannot compute a 2D gradient. GIven: grad_temp = gradient(temperature) mag_grad_temp = magnitude(grad_temp) Message is "The Pseudocolor plot of variable "mag_grad_temp" yielded no data." Can you please open a bug and send me the bug number? Thanks Jean

[2019-02-27 02:09] #3259 closed, assigned to brugger1

[2019-02-27 02:09] aowen87 opened #3260 "Cinema on windows doesn't save to user dir"
If VisIt is installed 'per user', then this isn't a problem since user has write access to that directory.However, that isn't how we usually do things on windows, any saved files should be saved to the VisIt folder in the user's home space. User might have a problem locating the files. If VisIt is installed for all users, and installed to standard location (Program Files), then user doesn't necess

[2019-02-27 02:09] #3260 closed, assigned to biagas

[2019-02-27 02:09] aowen87 opened #3261 "Rework handling of CMake builtin variables"
There is some contention between CMAKE_BUILD_TYPE (a builtin CMake variable) and VISIT_CXX_FLAGS (a VisIt counterpart to a CMake builtin variable, CMAKE_CXX_FLAGS). Currently, if one specifies DCMAKE_BUILD_TYPE:STRING="Debug" on commandline and VISIT_CXX_FLAGS is also specified in the configsite file, if it sets O2 or fails to set g, then one does not get a debuggable executable. There will be no

[2019-02-27 02:09] aowen87 opened #3262 "Transparent color option for Image annotations crashes viewer"
I set version found to 2.11, because that's as far back as I tried. It's been broken awhile. I opened wave.visit, created a plot, then saved the window in png format at 300x300. I then created an Image annotation using the png I had just saved. Click apply to make the image appear in the Vis Window.Then click 'Transparent color' option for the Image annotation. crash. I also tried with jpeg and ti

[2019-02-27 02:09] #3262 closed, assigned to biagas

[2019-02-27 02:09] aowen87 opened #3263 "Cinema spec D output has extra output for Pseudocolor plot"
The Cinema spec D output for a pseudocolor plot for a time varying database puts out 4 fields. They are phi, theta, time and variable value. The variable value should not be there. It only makes sense for contour levels. It is currently using the minimum and maximum values.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
info

[2019-02-27 02:09] aowen87 opened #3264 "Way to initialize atts to 'reasonable' values for cli like we do for gui"
We have a mechanism via PluginInfo to initialize operator atts to 'reasonable' values based on the current plot and/or SIL selection. This helps with populating gui widgets. The current setup, however doesn't help when using cli. Take onion peel for example. When SIL is applied, the 'categoryName' and 'subsetName' in the gui are filled in with the first available category and set available in the

[2019-02-27 02:09] aowen87 opened #3265 "VTK8 - Curve plot, 'Crop' extra doesn't work"
In the 'Extras' tab for curve plot is a 'Crop' option.This doesn't work since the VTK8 upgrade.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number: 3280
Status: Resolved
Project: VisIt
Tracker: Bug
Pri

[2019-02-27 02:09] #3265 closed, assigned to biagas

[2019-02-27 02:09] aowen87 opened #3266 "Curve plot time cues ... what if Time Cue position is out of range?"
Current behavior is inconsistent between ball and line: If Time cue position is outside the range of the curve,Line: is still drawn Ball: is not drawn I think we should make the behavior consistent between ball and line.If the position lies outside the range, should we:Not draw the cue?orClamp the cue to the min (if position < min) or max (if position > max).

-----------------------REDMINE MIGRAT

[2019-02-27 02:10] aowen87 opened #3267 "Use the bounding box when zooming with the scroll wheel in scalable rendering mode."
When you zoom with the scroll wheel it always draws intermediate frames. It would be consistent with how we handle rotations in 3D with scalable rendering if we switched to the bounding box when zooming with the scroll wheel. I just had a thought though, how would we determine when scrolling had stopped? Willy Moss suggested this.

-----------------------REDMINE MIGRATION-----------------------
Th

[2019-02-27 02:10] aowen87 opened #3268 "Picking transformed datasets"
The pick highlight seems to not know where a cell's new location is after it's been exploded. The pick letter does have the correct location, though.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket number:

[2019-02-27 02:10] aowen87 opened #3269 "Contour plot of rect3d/multirect3d with VTKM crashes engine"
Choosing VTKM from the preferences, then doing a contour plot of rect3d or multirect3d causes the engine to crash. Is this supposed to work for rect3d?

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below is
a complete record of the original redmine ticket.

Ticket numbe

[2019-02-27 02:10] aowen87 opened #3270 "Processor boundaries appear in domain selected, transparent PC plots"
Open multi_ucd3d.siloPC plot of dSet transparency to constent @ 50%You will NOT see any processor boundaries. That is great.Go to SIL controls and unselect a domain.Now, all the processor boundaries appear. There is some optimization logic in avtGhostZoneAndFacelistFilter that has to do with whether all domains are selected or not. I suspect, without avtDomainBoundary auxiliary data, VisIt is unab

[2019-02-27 02:10] aowen87 opened #3271 "Triad is ortho (mostly) regardless of view"
I always have trouble using triad to mentally map box axes to xyz directions. Part of the problem is that the triad doesn't parallel the box lines in perspective mode. AFAICT it doesn't match any of the 8 box corners. It appears to match the box lines only in ortho mode. I think the triad should be rendered with perpsective in perspective mode and with ortho in ortho mode.

-----------------------

[2019-02-27 02:10] aowen87 opened #3272 "Silo writer should report Silo library errors"
A user had a variable from a VTK file with characters the Silo library doesn't permit. They tried to export it. They got the a silo file with a mesh but not variable(s). For them, VisIt silently ignored the variable with chars Silo lib doesn't allow. We need a way for Silo writer (any writer) to report errots back to user.

-----------------------REDMINE MIGRATION-----------------------
This ticke

[2019-02-27 02:10] aowen87 opened #3273 "Tracing CLI logic doesn't get correct operator index when multiple operators on play"
Add reflect 3x to a plotgo to controls->commandsstart to manipulate the different reflect operators on the plot and watch what VisIt spews out as the various commands.No matter which operator instance, it always passes '1' for the index.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in th

[2019-02-27 02:10] aowen87 opened #3274 "Change default setting for Elevate operator's scaling option"
Elevate operator can appear to do either
 * nothing when hieght (variable values being elevated) is small relative to XY extents
 * produce an uninterpretable plot when height is large relative to XY extents

The operator has a check box to enable a form of scaling that accounts for this.

However, it is off by default.

Since variable values tend to range over either much larger or much smaller d

[2019-02-27 02:10] aowen87 opened #3275 "Error with expression of a curve variable."
A user reported a bug creating a simple expression with a curve variable. Here are the steps required to reproduce the error. The bug was reported by SelinaJane Spencer <SJ.Spencer@warwick.ac.uk> in an email to visitusers on 2/13/2019 at 2:08 AM. 1) Open multi_rect2d.silo2) Create a curve plot of wave3) Create an expression waveSquared that is wave*wave of type Curve4) Create a curve plot of waveS

[2019-02-27 02:10] aowen87 opened #3276 "compression performance is slow for gzip"
A user tried compressing using gzip and Silo took 2x longer to write the files. The files were smaller though. This could be an issue with how Silo was using HDF5 (maybe single chunking causes performance issues here)

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the transition. Below

[2019-02-27 02:10] aowen87 opened #3277 "OSX UI Issues in VisIt 3.0.0b"
I found a few UI issues with VisIt 3.0.0b:1. GUI is too wide by default2. Zoom box doesn't overlay correctly on the area that you are zooming to (sometimes the zoom box doesn't show at all)3. The drag line doesn't render for lineouts

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be captured in the tr

[2019-02-27 02:10] aowen87 opened #3278 "multi-curve plot doesn't handle no data condition gracefully"
Do a multicurve plot of a streamline (operators>integral curve) such that no data is produced. You get a red plot and viewer throws an exception. What you should get under these conditions is a green plot and the 'plot yielded no data' message.

-----------------------REDMINE MIGRATION-----------------------
This ticket was migrated from Redmine. As such, not all
information was able to be capture

[2019-02-27 02:19] rusu24edward commented on #3275
Merged

[2019-02-27 02:19] #3275 closed, assigned to rusu24edward

[2019-02-27 17:40] aowen87 commented on #3268
This isn't specific to the explode operator. This issue occurs whenever the cells of the dataset have "moved" from their original location. For instance, using the elevate operator with a pick highlight also produces this result.

[2019-02-27 17:46] #3196 closed, assigned to aowen87

[2019-02-27 18:03] aowen87 commented on #95
This is a repeat from the first attempt to migrate the tickets. Closing this one so that only one remains open.

[2019-02-27 18:03] #95 closed, assigned to nobody

[2019-02-27 18:03] aowen87 commented on #97
This is a repeat from the first attempt to migrate the tickets. Closing this one so that only one remains open.

[2019-02-27 18:03] #97 closed, assigned to nobody

[2019-02-27 19:47] aowen87 commented on #3268
I believe this issue runs deeper than the zone highlights and is actually an issue with the pick operator (or possibly some MD or contract that isn't being updated correctly). I'm attaching three photos to more clearly show the issue.

globe_reflect: this is just the reflect operator applied to our globe dataset. I've performed two picks, each of which is in the identical "position" of it's reflec

[2019-02-28 16:29] mclarsen opened #3281 "Test issue"
@biagas pull request #90 addresses issue #3280

[2019-02-28 16:43] #3266 closed, assigned to biagas

[2019-02-28 17:31] cyrush commented on #3281
This is not related:

https://github.com/visit-dav/visit/tree/feature/rusu1/RemapOperator/

[2019-02-28 17:36] cyrush commented on #3281
https://github.com/visit-dav/visit/compare/feature/rusu1/RemapOperator

[2019-02-28 18:01] #3281 closed, assigned to nobody

[2019-02-28 18:36] #3273 closed, assigned to biagas

[2019-02-28 19:29] biagas commented on #3129
Resolved before GIT transition.

[2019-02-28 19:29] #3129 closed, assigned to nobody

[2019-02-28 23:44] biagas commented on #2305
Not reproducible any longer with 3.0.0b

[2019-02-28 23:44] #2305 closed, assigned to biagas

[2019-03-01 06:32] markcmiller86 opened #3288 "Default output coordinates for Transform operator coordinate tab don't agree with behavior"
Open rect2d.silo
Draw a mesh plot
Add transform operator, go to coordinate tab, observe the settings (input cartesian, output spherical)
Hit draw.
Notice no change in plot
Change output coordinates to cartesian, hit apply, hit draw. Notice no change in plot
Change output coordinates back to their default value, apply, draw. Notice difference in output.

The GUI/attribute settings don't show the ac

[2019-03-01 18:46] biagas opened #3290 "SLIVR volume rendering wrong image with Lighting option turned on"
Open rect3d.silo
Create a volume plot of u
change Render Method to 'Ray casting: SLIVR'
Click Apply. Draw.

You will see image that looks stairstepped.
![vol_slivr_rect3d_u](https://user-images.githubusercontent.com/17075318/53658291-37356b80-3c0d-11e9-9c4f-2a1c412e431e.png)

Now turn off the Lighting option.
You'll see a better image.
![vol_slivr_rect3d_u_no_lighting](https://user-images.githubus

[2019-03-01 19:03] biagas opened #3291 "OSPRay vol rendering error messages in terminal, but nothing in the gui"
Open globe.silo
Create a volume plot, change Rendering method to OSPRay.
Draw.
No plot shows up.
There is a message in the terminal window:
Dataset type 4 is not a VTK_RECTILINEAR_GRID. Currently the RayCasting:OSPRay renderer only supports rectilinear grid, thus the volume cannot be rendered

There should be an error popup window or at the very least information in the Output window as to why the

[2019-03-01 21:36] biagas commented on #1771
No longer seems to be an issue (3.0.0b).  Possibly fixed with Qt update.

[2019-03-01 21:36] #1771 closed, assigned to nobody

[2019-03-01 21:45] biagas opened #3292 "Test suite on Windows creates files in user's VisIt dir"
When the test suite is run on Windows, scalable2.py and saveformats.py save images to user's Visit directory instead of the _run dir for the test suite. This means they are not cleaned up on test suite completion.

OS: Windows

[2019-03-02 04:37] markcmiller86 opened #3293 "What is transform operator doing"
Open rect2d.silo
Add Vector plot of vel
Hit Draw
Add transform operator with rotation to 45 degrees and check the 'transform vectors' box.
Hit Draw. Looks reasonable (though I don't have no actual idea if it is indeed correct)
Uncheck the transform vectors box, hit draw.
You get a vector field that demonstrates circular flow whereas the original field did not. What is happening here?

[2019-03-04 20:02] markcmiller86 opened #3296 "Resolve issues with visit_test_data.tar.gz on Trunk and 2.13RC"
In 2.13RC, ``visit_dist_data.tar.gz`` is LSF'd. That complicates installs for people who don't wanna LSF the whole repo to get that one file. We may not need to take any action here if we don't do another 2.13 release (e.g. 2.13.4). But, John Cary of TechX did run into this recently.

On trunk we don't have ``visit_dist_data.tar.gz`` but we should. Instead, we have ``visit_dist_data.7z``. We agree

[2019-03-04 20:51] rusu24edward commented on #3296
Accidentally closed, but reopened.

[2019-03-04 20:57] cyrush commented on #3296
For the trunk: we should be building the example files as part of our build - not pulling them in via a tarball (or 7z).  I think thats the plan.

I didn't realize the other case was on 2.13RC, that helps

[2019-03-04 23:56] griffin28 opened #3298 "3.0.0.b Prebuild missing macintosh option"
The prebuilt 3.0.0.b is missing the 'macintosh' option for OSX. The prebuilt version uses the --vtkm and --vtkh options which may be the cause of the problem since doing a build without those options has the 'macintosh' option.

This is part of the work for #3277.

![image](https://user-images.githubusercontent.com/26772741/53770843-6958fe80-3e95-11e9-8f2c-b61ee037bec9.png)

[2019-03-05 00:03] griffin28 opened #3300 "Default GUI size is too wide"
For OSX, the default GUI size is too big for the 3.0.0b beta version. This is part of the work needed for #3277 .

[2019-03-05 17:00] #2891 closed, assigned to biagas

[2019-03-05 17:18] biagas opened #3302 "Windows OS: Fix ability to build plugins against installed VisIt"
OS: Windows (7, 10)

[2019-03-05 22:34] brugger1 commented on #259
![](https://github.com/aowen87/VisIt_Redmine_2_Github/blob/master/git_labeled_attachments_refined/0259_PickExample1.png)

[2019-03-05 22:36] #259 closed, assigned to mclarsen

[2019-03-05 22:57] brugger1 commented on #310
![0310_ambient_bad](https://user-images.githubusercontent.com/1102718/53843347-ebf5c280-3f56-11e9-8f0e-df738b579b45.png)
![0310_ambient_ok](https://user-images.githubusercontent.com/1102718/53843348-ec8e5900-3f56-11e9-876f-23cf75d578e5.png)

[2019-03-05 23:18] biagas commented on #3271
![3271_visit_ortho_triad](https://user-images.githubusercontent.com/17075318/53844165-bf8f7580-3f59-11e9-9bae-9ec24a6aed29.png)

[2019-03-05 23:23] biagas commented on #3251
with xquartz running
![3251_with_xquartz_running](https://user-images.githubusercontent.com/17075318/53844437-8b688480-3f5a-11e9-8b40-13da4b87ed1e.png)

without xquartz running
![3251_without_xquartz_running](https://user-images.githubusercontent.com/17075318/53844445-96231980-3f5a-11e9-8f38-263bbfe1f217.png)

[2019-03-06 00:04] brugger1 commented on #3293
We looked at the images as a group and decided that it was behaving correctly.

[2019-03-06 00:04] #3293 closed, assigned to nobody

[2019-03-06 00:57] biagas opened #3305 "Add instructions for building on Windows"
There's info on the following wiki pages:
[Using CMake on windows](http://www.visitusers.org/index.php?title=Using_CMake_with_VisIt_on_Windows)
[WindowsBuild](http://www.visitusers.org/index.php?title=Collab:VisItWiki_WindowsBuild)

They need updating since the move to github, and perhaps consolidation into one page.  (Or perhaps its better just to create 1 new page and add a note at the top of th

[2019-03-06 18:18] brugger1 commented on #160
![0160_example_aa_5x](https://user-images.githubusercontent.com/1102718/53903671-1dbf6580-3ff9-11e9-861e-e3b9658768af.png)
![0160_example_no_aa](https://user-images.githubusercontent.com/1102718/53903674-2021bf80-3ff9-11e9-9a80-c056cb30bfc0.png)

[2019-03-06 18:18] brugger1 commented on #259
![0259_pickexample1](https://user-images.githubusercontent.com/1102718/53903699-32036280-3ff9-11e9-9960-d7a9fd85a5f1.png)

[2019-03-06 18:19] brugger1 commented on #346
[0346_vtk-5.0.0f.patch.zip](https://github.com/visit-dav/visit/files/2937705/0346_vtk-5.0.0f.patch.zip)

[2019-03-06 18:19] brugger1 commented on #347
[0347_installfix.out.zip](https://github.com/visit-dav/visit/files/2937706/0347_installfix.out.zip)

[2019-03-06 18:20] brugger1 commented on #352
[0381_Streamline_test_disassembly_celltree_builder_split.txt](https://github.com/visit-dav/visit/files/2937709/0381_Streamline_test_disassembly_celltree_builder_split.txt)
[0381_Station_012000.silo.zip](https://github.com/visit-dav/visit/files/2937710/0381_Station_012000.silo.zip)
[0381_Streamline_test_callstack.txt](https://github.com/visit-dav/visit/files/2937711/0381_Streamline_test_callstack.t

[2019-03-06 18:22] brugger1 commented on #352
[0352_corey.py.zip](https://github.com/visit-dav/visit/files/2937721/0352_corey.py.zip)

[2019-03-06 18:22] brugger1 commented on #381
[0381_Streamline_test_disassembly_celltree_builder_split.txt](https://github.com/visit-dav/visit/files/2937722/0381_Streamline_test_disassembly_celltree_builder_split.txt)
[0381_Station_012000.silo.zip](https://github.com/visit-dav/visit/files/2937723/0381_Station_012000.silo.zip)
[0381_Streamline_test_callstack.txt](https://github.com/visit-dav/visit/files/2937724/0381_Streamline_test_callstack.t

[2019-03-06 18:22] brugger1 commented on #421
[0421_laney.session.tar.zip](https://github.com/visit-dav/visit/files/2937728/0421_laney.session.tar.zip)

[2019-03-06 18:23] brugger1 commented on #422
[0422_Charlson.session.gui.zip](https://github.com/visit-dav/visit/files/2937731/0422_Charlson.session.gui.zip)
[0422_Charlson.session.zip](https://github.com/visit-dav/visit/files/2937732/0422_Charlson.session.zip)

[2019-03-06 18:23] brugger1 commented on #423
[0423_ic4.silo.zip](https://github.com/visit-dav/visit/files/2937734/0423_ic4.silo.zip)

[2019-03-06 18:23] brugger1 commented on #424
![0424_ek_example](https://user-images.githubusercontent.com/1102718/53904011-ec936500-3ff9-11e9-8243-b51737b9c982.png)

[2019-03-06 18:24] brugger1 commented on #429
[0429_A.mdserver.5.vlog.zip](https://github.com/visit-dav/visit/files/2937738/0429_A.mdserver.5.vlog.zip)

[2019-03-06 18:24] brugger1 commented on #438
![0438_multires2d0004](https://user-images.githubusercontent.com/1102718/53904053-05037f80-3ffa-11e9-94f7-9128f25422a9.png)

[2019-03-06 18:24] brugger1 commented on #446
[0446_viewer_crash_2.zip](https://github.com/visit-dav/visit/files/2937739/0446_viewer_crash_2.zip)
[0446_multi_window_viewer_crash.zip](https://github.com/visit-dav/visit/files/2937740/0446_multi_window_viewer_crash.zip)

[2019-03-06 18:25] brugger1 commented on #459
[0459_mark.tar.gz](https://github.com/visit-dav/visit/files/2937742/0459_mark.tar.gz)

[2019-03-06 18:25] brugger1 commented on #460
![0460_screen_shot_2010-10-28_at_4 03 14_pm](https://user-images.githubusercontent.com/1102718/53904130-367c4b00-3ffa-11e9-9045-08ed1b9f532f.png)
![0460_screen_shot_2010-10-28_at_5 01 02_pm](https://user-images.githubusercontent.com/1102718/53904131-367c4b00-3ffa-11e9-9e27-36553d05f850.png)
[0460_viewer_leaks_dreeder.txt](https://github.com/visit-dav/visit/files/2937743/0460_viewer_leaks_dreeder.t

[2019-03-06 18:26] brugger1 commented on #473
[0473_visit_one_mater.c.zip](https://github.com/visit-dav/visit/files/2937746/0473_visit_one_mater.c.zip)

[2019-03-06 18:26] brugger1 commented on #483
[0483_filter_mover.py.zip](https://github.com/visit-dav/visit/files/2937750/0483_filter_mover.py.zip)
[0483_filtermovie.py.zip](https://github.com/visit-dav/visit/files/2937751/0483_filtermovie.py.zip)

[2019-03-06 19:52] brugger1 opened #3307 "Inconsistent lighting with lines in Filled Boundary plots."
When you take a three slice of a surface mesh, the lines that are generated have lighting applied, which results in the lines being rendered in a range from their color to black depending on the orientation. It seems to be particularly bad when looking at an angle perpendicular to one of the axes since the normals are arbitrarily chosen to be perpendicular to one of the axes, resulting in the line

[2019-03-06 19:54] brugger1 commented on #3307
[extern6mono_grf_p0.zip](https://github.com/visit-dav/visit/files/2938052/extern6mono_grf_p0.zip)

[2019-03-06 21:41] biagas commented on #1723
[1723_fort.plt.gz](https://github.com/visit-dav/visit/files/2938413/1723_fort.plt.gz)
[1723_geometry.silo.gz](https://github.com/visit-dav/visit/files/2938414/1723_geometry.silo.gz)

[2019-03-06 21:41] biagas commented on #1744
![1744_visit0000](https://user-images.githubusercontent.com/17075318/53915837-93392f00-4015-11e9-9808-31f9d1467500.png)

[2019-03-06 21:42] biagas commented on #1751
[1751_small_0002.vtu.zip](https://github.com/visit-dav/visit/files/2938418/1751_small_0002.vtu.zip)

[2019-03-06 21:42] biagas commented on #1763
[1763_fscalar.f.zip](https://github.com/visit-dav/visit/files/2938432/1763_fscalar.f.zip)

[2019-03-06 21:43] biagas commented on #1779
[1779_small_coords.vtk.zip](https://github.com/visit-dav/visit/files/2938433/1779_small_coords.vtk.zip)

[2019-03-06 21:43] biagas commented on #1780
[1780_small_coords.vtk.zip](https://github.com/visit-dav/visit/files/2938435/1780_small_coords.vtk.zip)

[2019-03-06 21:43] biagas commented on #1795
[1795_sample.silo.zip](https://github.com/visit-dav/visit/files/2938436/1795_sample.silo.zip)

[2019-03-06 21:43] biagas commented on #1825
[1825_parabolic2.ultra.zip](https://github.com/visit-dav/visit/files/2938437/1825_parabolic2.ultra.zip)

[2019-03-06 21:44] biagas commented on #1863
[1863_smime.p7s.zip](https://github.com/visit-dav/visit/files/2938439/1863_smime.p7s.zip)

[2019-03-06 21:45] biagas commented on #1866
[1866_transparent_mesh.py.zip](https://github.com/visit-dav/visit/files/2938440/1866_transparent_mesh.py.zip)

without SR:
![1866_withoutsr](https://user-images.githubusercontent.com/17075318/53916040-017df180-4016-11e9-90b5-6ad5c26a2187.png)

with SR:
![1866_withsr](https://user-images.githubusercontent.com/17075318/53916058-0b075980-4016-11e9-9c7d-21b1a927835f.png)

[2019-03-06 21:47] biagas commented on #1875
[1875_bug.py.zip](https://github.com/visit-dav/visit/files/2938456/1875_bug.py.zip)

![1875_visit0000](https://user-images.githubusercontent.com/17075318/53916213-6afe0000-4016-11e9-9047-60736293ec6b.png)

![1875_visit0001](https://user-images.githubusercontent.com/17075318/53916215-6d605a00-4016-11e9-9280-c2f9e68a886c.png)

[2019-03-06 21:48] biagas commented on #1878
[1878_make_fail_06122014.tiff.zip](https://github.com/visit-dav/visit/files/2938459/1878_make_fail_06122014.tiff.zip)

[2019-03-06 21:48] biagas commented on #1881
![1881_polyhedral_sim](https://user-images.githubusercontent.com/17075318/53916243-823ced80-4016-11e9-9f5b-dd6a05f62417.png)

[2019-03-06 21:48] biagas commented on #1886
[1886_smime.p7s.zip](https://github.com/visit-dav/visit/files/2938463/1886_smime.p7s.zip)

[2019-03-06 21:49] biagas commented on #1896
[1896_disable-silex-by-default.patch.zip](https://github.com/visit-dav/visit/files/2938468/1896_disable-silex-by-default.patch.zip)

[2019-03-06 21:50] biagas commented on #1897
[1897_cab_top_visit_vtk.tiff.zip](https://github.com/visit-dav/visit/files/2938469/1897_cab_top_visit_vtk.tiff.zip)

[2019-03-06 21:50] biagas commented on #1899
![1899_screen_shot_2014-06-26_at_11 50 48_am](https://user-images.githubusercontent.com/17075318/53916322-c5975c00-4016-11e9-801c-42833ace03c8.png)

[2019-03-06 21:51] biagas commented on #1944
converted values:
![1944_converted_values](https://user-images.githubusercontent.com/17075318/53916343-d8119580-4016-11e9-8ba4-c98736249546.PNG)

entered values:
![1944_entered_values](https://user-images.githubusercontent.com/17075318/53916355-dfd13a00-4016-11e9-9bee-34b317a48175.PNG)

[2019-03-06 22:04] biagas commented on #1974
![1974_foo](https://user-images.githubusercontent.com/17075318/53917187-cfba5a00-4018-11e9-9285-ea682e26481d.png)

[2019-03-06 22:05] biagas commented on #1997
[1997_test-boxes.silo.zip](https://github.com/visit-dav/visit/files/2938513/1997_test-boxes.silo.zip)

[2019-03-06 22:05] biagas commented on #2014
![2014_untitled](https://user-images.githubusercontent.com/17075318/53917219-e52f8400-4018-11e9-91a8-8f8eb344bbb1.png)

[2019-03-06 22:05] biagas commented on #2036
[2036_visit_movie_script.sh.zip](https://github.com/visit-dav/visit/files/2938514/2036_visit_movie_script.sh.zip)

[2019-03-06 22:06] biagas commented on #2063
[2063_solution-2d.vtk.zip](https://github.com/visit-dav/visit/files/2938515/2063_solution-2d.vtk.zip)
[2063_solution-2d.vtu.zip](https://github.com/visit-dav/visit/files/2938516/2063_solution-2d.vtu.zip)
[2036_visit_movie_script.sh.zip](https://github.com/visit-dav/visit/files/2938517/2036_visit_movie_script.sh.zip)

[2019-03-06 22:06] biagas commented on #2064
[2064_smime.p7s.zip](https://github.com/visit-dav/visit/files/2938520/2064_smime.p7s.zip)

[2019-03-06 22:06] biagas commented on #2067
![2067_visit0000](https://user-images.githubusercontent.com/17075318/53917288-0db77e00-4019-11e9-863a-2b3aafba0c30.png)
[2067_inf.patch.zip](https://github.com/visit-dav/visit/files/2938521/2067_inf.patch.zip)

[2019-03-06 22:06] biagas commented on #2078
[2078_build_visit_log.zip](https://github.com/visit-dav/visit/files/2938523/2078_build_visit_log.zip)

[2019-03-06 22:07] biagas commented on #2123
[2123_smime.p7s.zip](https://github.com/visit-dav/visit/files/2938524/2123_smime.p7s.zip)

[2019-03-06 22:07] biagas commented on #2127
[2127_smime.p7s.zip](https://github.com/visit-dav/visit/files/2938525/2127_smime.p7s.zip)

[2019-03-06 22:07] biagas commented on #2128
[2128_host_dora.xml.zip](https://github.com/visit-dav/visit/files/2938526/2128_host_dora.xml.zip)

[2019-03-06 22:07] biagas commented on #2145
[2145_plt.density4000.1.hydrogen.2d.map.hdf5.zip](https://github.com/visit-dav/visit/files/2938528/2145_plt.density4000.1.hydrogen.2d.map.hdf5.zip)

[2019-03-06 22:07] biagas commented on #2162
[2162_pflotran-010.h5.zip](https://github.com/visit-dav/visit/files/2938531/2162_pflotran-010.h5.zip)

[2019-03-06 22:08] biagas commented on #2164
[2164_A.mdserver.5.vlog.zip](https://github.com/visit-dav/visit/files/2938532/2164_A.mdserver.5.vlog.zip)
[2164_A.engine_ser.5.vlog.zip](https://github.com/visit-dav/visit/files/2938533/2164_A.engine_ser.5.vlog.zip)
[2164_A.viewer.5.vlog.zip](https://github.com/visit-dav/visit/files/2938536/2164_A.viewer.5.vlog.zip)

[2019-03-06 22:08] biagas commented on #2168
[2168_allPatches.vtm.zip](https://github.com/visit-dav/visit/files/2938537/2168_allPatches.vtm.zip)
[2168_allPatches.visit.zip](https://github.com/visit-dav/visit/files/2938538/2168_allPatches.visit.zip)

[2019-03-06 22:08] biagas commented on #2178
[2178_test_visit.tar.gz](https://github.com/visit-dav/visit/files/2938539/2178_test_visit.tar.gz)

[2019-03-06 22:09] biagas commented on #2193
![2193_histogramdoubleprecisionissuevisit2 9windows](https://user-images.githubusercontent.com/17075318/53917459-671fad00-4019-11e9-944f-84a2f467e13c.png)
[2193_CLA-MU1-DIA-SCR-01_electrons.vsh5.zip](https://github.com/visit-dav/visit/files/2938540/2193_CLA-MU1-DIA-SCR-01_electrons.vsh5.zip)

[2019-03-06 22:09] biagas commented on #2195
[2195_eddy.zip](https://github.com/visit-dav/visit/files/2938544/2195_eddy.zip)

[2019-03-06 22:09] biagas commented on #2196
[2196_pflotran.h5.zip](https://github.com/visit-dav/visit/files/2938546/2196_pflotran.h5.zip)

[2019-03-06 22:10] biagas commented on #2198
![2198_visit-colormap-lang-en1](https://user-images.githubusercontent.com/17075318/53917493-84ed1200-4019-11e9-89ac-bd0cd1469f78.png)
![2198_visit-colormap-lang-de](https://user-images.githubusercontent.com/17075318/53917494-84ed1200-4019-11e9-94af-8c7b63984f05.png)

[2019-03-06 23:55] biagas opened #3309 "Building sphinx docs fails on windows."
Attempting to run sphinx-build.exe fails.
looks like the correct command is 'python sphinx-build-script.py'

[2019-03-07 02:02] griffin28 commented on #2232
[2232_archive.zip](https://github.com/visit-dav/visit/files/2939130/2232_archive.zip)

[2019-03-07 02:07] griffin28 commented on #2254
[2254_PJacobi_InSitu.f.txt](https://github.com/visit-dav/visit/files/2939133/2254_PJacobi_InSitu.f.txt)

[2019-03-07 02:10] griffin28 commented on #2289
[2289_mesh_indices.zip](https://github.com/visit-dav/visit/files/2939158/2289_mesh_indices.zip)

[2019-03-07 02:11] griffin28 commented on #2292
[2292_example.zip](https://github.com/visit-dav/visit/files/2939166/2292_example.zip)

[2019-03-07 02:13] griffin28 commented on #2321
![2321_colorannotation](https://user-images.githubusercontent.com/26772741/53927383-8fb89e80-403b-11e9-86ec-fdca6d0ae633.png)
![2321_visit0000](https://user-images.githubusercontent.com/26772741/53927384-8fb89e80-403b-11e9-90e3-573944cbb890.png)
![2321_visit0001](https://user-images.githubusercontent.com/26772741/53927385-8fb89e80-403b-11e9-9a66-78850b785542.png)

[2019-03-07 02:14] griffin28 commented on #2339
[2339_smime.p7s.zip](https://github.com/visit-dav/visit/files/2939173/2339_smime.p7s.zip)

[2019-03-07 02:15] griffin28 commented on #2352
![2352_bad_fft_of_constant0000](https://user-images.githubusercontent.com/26772741/53927434-c393c400-403b-11e9-8943-968ae6c2ed2b.png)

[2019-03-07 02:15] griffin28 commented on #2353
[2353_CLA-MU1-DIA-SCR-01_electrons.vsh5.zip](https://github.com/visit-dav/visit/files/2939175/2353_CLA-MU1-DIA-SCR-01_electrons.vsh5.zip)

[2019-03-07 02:16] griffin28 commented on #2354
[2354_DATA.zip](https://github.com/visit-dav/visit/files/2939176/2354_DATA.zip)

[2019-03-07 02:17] griffin28 commented on #2367
[2367_threeslice_mir_problem.py.txt](https://github.com/visit-dav/visit/files/2939179/2367_threeslice_mir_problem.py.txt)

[2019-03-07 02:17] griffin28 commented on #2368
[2368_plt.dfn0060.1.hydrogen.4d.hdf5.zip](https://github.com/visit-dav/visit/files/2939180/2368_plt.dfn0060.1.hydrogen.4d.hdf5.zip)

[2019-03-07 02:17] griffin28 commented on #2384
![2384_savesessionerror_1](https://user-images.githubusercontent.com/26772741/53927570-27b68800-403c-11e9-8e6e-15ef8bf229e0.JPG)
![2384_savesessionerror_2](https://user-images.githubusercontent.com/26772741/53927571-27b68800-403c-11e9-8cb4-c66764c30566.JPG)

[2019-03-07 02:18] griffin28 commented on #2391
[2391_smime.p7s.zip](https://github.com/visit-dav/visit/files/2939185/2391_smime.p7s.zip)

[2019-03-07 02:18] griffin28 commented on #2400
[2400_test-zext-1_0.silo.zip](https://github.com/visit-dav/visit/files/2939186/2400_test-zext-1_0.silo.zip)

[2019-03-07 02:19] griffin28 commented on #2416
[2416_build_visit_BGQ.txt](https://github.com/visit-dav/visit/files/2939192/2416_build_visit_BGQ.txt)

[2019-03-07 02:20] griffin28 commented on #2432
[2432_foo.f.txt](https://github.com/visit-dav/visit/files/2939195/2432_foo.f.txt)

[2019-03-07 02:21] griffin28 commented on #2433
[2433_LaunchService_socket-bridge-host.C.txt](https://github.com/visit-dav/visit/files/2939198/2433_LaunchService_socket-bridge-host.C.txt)

[2019-03-07 02:21] griffin28 commented on #2434
[2434_archive.zip](https://github.com/visit-dav/visit/files/2939200/2434_archive.zip)

[2019-03-07 02:22] griffin28 commented on #2437
![2437_meshmanagementattswindow](https://user-images.githubusercontent.com/26772741/53927803-c642e900-403c-11e9-9be7-e95073640d7f.png)

[2019-03-07 02:23] griffin28 commented on #2446
[2446_archive.zip](https://github.com/visit-dav/visit/files/2939203/2446_archive.zip)

[2019-03-07 02:23] griffin28 commented on #2476
![2476_voila_capture_2015-12-07_02-46-28_pm](https://user-images.githubusercontent.com/26772741/53927857-f7bbb480-403c-11e9-959f-da99561bf6be.png)

[2019-03-07 02:24] griffin28 commented on #2487
![2487_agnesi_1_gmv](https://user-images.githubusercontent.com/26772741/53927903-191ca080-403d-11e9-9a10-eb6f752a6ce2.png)
![2487_agnesi_2_gmv](https://user-images.githubusercontent.com/26772741/53927904-19b53700-403d-11e9-9f85-70de4bcc6cf5.png)
![2487_screen_shot_2015-12-16_at_9 21 00_am](https://user-images.githubusercontent.com/26772741/53927905-19b53700-403d-11e9-9f03-fc9a197c1337.png)

[2019-03-07 02:26] griffin28 commented on #2487
[2487_Agnesi2D.out.gmvG.zip](https://github.com/visit-dav/visit/files/2939206/2487_Agnesi2D.out.gmvG.zip)

[2019-03-07 02:27] griffin28 commented on #2509
[2509_archive.zip](https://github.com/visit-dav/visit/files/2939211/2509_archive.zip)

[2019-03-07 02:28] griffin28 commented on #2529
[2529_archive.zip](https://github.com/visit-dav/visit/files/2939217/2529_archive.zip)

[2019-03-07 02:28] griffin28 commented on #2532
![2532_streamline_request](https://user-images.githubusercontent.com/26772741/53928066-a19b4100-403d-11e9-9b86-55e2b4699693.png)

[2019-03-07 02:28] griffin28 commented on #2534
[2534_poly_box_grid.cgns.zip](https://github.com/visit-dav/visit/files/2939220/2534_poly_box_grid.cgns.zip)

[2019-03-07 02:30] griffin28 commented on #2544
[ensight.zip](https://github.com/visit-dav/visit/files/2939224/ensight.zip)

[2019-03-07 02:31] griffin28 commented on #2546
[2546_host_anl_cooley.xml.txt](https://github.com/visit-dav/visit/files/2939226/2546_host_anl_cooley.xml.txt)

[2019-03-07 02:31] griffin28 commented on #2591
[2591_test1.vtu.zip](https://github.com/visit-dav/visit/files/2939233/2591_test1.vtu.zip)

[2019-03-07 02:32] griffin28 commented on #2595
![2595_screen_shot_2016-04-05_at_12 46 18_am](https://user-images.githubusercontent.com/26772741/53928202-1a020200-403e-11e9-8475-df6994f4d7e8.png)

[2019-03-07 02:33] griffin28 commented on #2596
![2596_screen_shot_2016-04-12_at_11 44 28_am](https://user-images.githubusercontent.com/26772741/53928264-503f8180-403e-11e9-88b0-712c2b29ee35.png)

[2019-03-07 03:02] griffin28 commented on #2608
<img width="358" alt="2608_3d_figure" src="https://user-images.githubusercontent.com/26772741/53929364-5c2d4280-4042-11e9-8625-7f69711775a3.png">

[2019-03-07 03:03] griffin28 commented on #2616
![2616_dual_monitors](https://user-images.githubusercontent.com/26772741/53929382-736c3000-4042-11e9-95ad-3bfca26b6f5b.png)

![2616_screen_shot_2016-06-07_at_3 10 49_pm](https://user-images.githubusercontent.com/26772741/53929383-736c3000-4042-11e9-9826-1171d5cee007.png)
![2616_screen_shot_2016-06-07_at_3 15 44_pm](https://user-images.githubusercontent.com/26772741/53929384-7404c680-4042-11e9-8ad2

[2019-03-07 03:03] griffin28 commented on #2622
/Users/griffin28/Downloads/VisIt_Redmine_2_Github-master/archive/git_labeled_attachments/2622_Screen_Shot_2016-05-31_at_10.37.37_AM.png

[2019-03-07 03:04] griffin28 commented on #2622
![2622_screen_shot_2016-05-31_at_10 37 37_am](https://user-images.githubusercontent.com/26772741/53929472-b29a8100-4042-11e9-993b-e5b1d5eae672.png)

[2019-03-07 04:22] markcmiller86 opened #3311 "No way to go back to "max" in index select operator"
Plot something rectilinear
Add index select operator
It defaults to 2D, enter a value other than 'max' in I index. Apply.
Now try to go back to max by typing max. It won't take the chars.
Should enhance to treat 'm' or 'M' typed in that field as 'max'.
You can work-around by just entering a very, very large number

Separate issue...I dunno if 'm' or 'M' in min field should be 'min' because the int

[2019-03-07 04:25] markcmiller86 commented on #3309
Are you still getting poor  quality result due to no theme? I think that was commented out of conf.py because it overrides the theme used on RTD.

[2019-03-07 16:01] biagas commented on #3309
Yes. Without using the theme, the docs are very plain.  As I'm working on docs, I'd like them to appear as they would on-line.

[2019-03-07 16:24] brugger1 commented on #514
![0514_visit_multidb-0001](https://user-images.githubusercontent.com/1102718/53971770-5a9b6300-40b2-11e9-8aae-7d3fe397a1fa.png)

[2019-03-07 16:24] brugger1 commented on #516
[0516_mkinc_f90_nowrap.zip](https://github.com/visit-dav/visit/files/2942206/0516_mkinc_f90_nowrap.zip)

[2019-03-07 16:24] brugger1 commented on #582
[0582_visit_ex_db.silo.zip](https://github.com/visit-dav/visit/files/2942208/0582_visit_ex_db.silo.zip)
![0582_visit_pseudocolor_comp](https://user-images.githubusercontent.com/1102718/53971822-7acb2200-40b2-11e9-888c-f5ab3c698486.png)
[0582_db_expr.xml.zip](https://github.com/visit-dav/visit/files/2942209/0582_db_expr.xml.zip)
![0582_visit_curve_plot](https://user-images.githubusercontent.com/110

[2019-03-07 16:25] brugger1 commented on #586
[0586_chk_0000.flash.zip](https://github.com/visit-dav/visit/files/2942210/0586_chk_0000.flash.zip)

[2019-03-07 16:25] brugger1 commented on #601
[0601_ugrid_volren.py.zip](https://github.com/visit-dav/visit/files/2942212/0601_ugrid_volren.py.zip)
![0601_output](https://user-images.githubusercontent.com/1102718/53971873-9b937780-40b2-11e9-847c-f342c5409108.png)

[2019-03-07 16:26] brugger1 commented on #639
[0639_curve-bug.py.zip](https://github.com/visit-dav/visit/files/2942215/0639_curve-bug.py.zip)

[2019-03-07 16:26] brugger1 commented on #654
[0654_pflotran.h5.zip](https://github.com/visit-dav/visit/files/2942218/0654_pflotran.h5.zip)
[0654_pflotran1.h5.zip](https://github.com/visit-dav/visit/files/2942219/0654_pflotran1.h5.zip)

[2019-03-07 16:26] brugger1 commented on #660
[0660_silo4.8-configure.patch.zip](https://github.com/visit-dav/visit/files/2942221/0660_silo4.8-configure.patch.zip)

[2019-03-07 16:27] brugger1 commented on #671
![0671_screen_shot_2011-03-23_at_5 07 03_pm](https://user-images.githubusercontent.com/1102718/53971980-ce3d7000-40b2-11e9-9454-f4f0ad49c779.png)
![0671_screen_shot_2011-03-23_at_5 17 22_pm](https://user-images.githubusercontent.com/1102718/53971983-ce3d7000-40b2-11e9-90a4-498ef9656326.png)

[2019-03-07 16:27] brugger1 commented on #678
![0678_visit](https://user-images.githubusercontent.com/1102718/53971996-d695ab00-40b2-11e9-89b7-04e13cdb933a.png)

[2019-03-07 16:27] brugger1 commented on #680
[0680_testblock_0000.zip](https://github.com/visit-dav/visit/files/2942224/0680_testblock_0000.zip)

[2019-03-07 16:28] brugger1 commented on #682
![0682_incompletepicture](https://user-images.githubusercontent.com/1102718/53972033-eb723e80-40b2-11e9-912b-cd6349c3de03.png)
[0682_A.engine_par.000.5.vlog.zip](https://github.com/visit-dav/visit/files/2942226/0682_A.engine_par.000.5.vlog.zip)
[0682_A.engine_par.001.5.vlog.zip](https://github.com/visit-dav/visit/files/2942227/0682_A.engine_par.001.5.vlog.zip)

[2019-03-07 16:28] brugger1 commented on #699
[0699_test.py.zip](https://github.com/visit-dav/visit/files/2942230/0699_test.py.zip)

[2019-03-07 16:28] brugger1 commented on #715
[0715_tst_elShaped_phi__1_.h5.zip](https://github.com/visit-dav/visit/files/2942232/0715_tst_elShaped_phi__1_.h5.zip)
[0715_tst_elShaped_phi.h5.zip](https://github.com/visit-dav/visit/files/2942233/0715_tst_elShaped_phi.h5.zip)

[2019-03-07 16:29] brugger1 commented on #725
[0725_PrepareBlocking.sami.gz](https://github.com/visit-dav/visit/files/2942236/0725_PrepareBlocking.sami.gz)
[0725_PrepareBlocking_2.sami.gz](https://github.com/visit-dav/visit/files/2942237/0725_PrepareBlocking_2.sami.gz)

[2019-03-07 16:29] brugger1 commented on #730
![0730_image1](https://user-images.githubusercontent.com/1102718/53972154-1c527380-40b3-11e9-8759-88f3d62ac9f4.png)

[2019-03-07 16:29] brugger1 commented on #738
[0738_domain0.silo.zip](https://github.com/visit-dav/visit/files/2942240/0738_domain0.silo.zip)

[2019-03-07 16:30] brugger1 commented on #747
![0747_missing_mesh_lines](https://user-images.githubusercontent.com/1102718/53972199-31c79d80-40b3-11e9-9aa2-962c67c7b12a.png)
![0747_mssing_mesh_lines1](https://user-images.githubusercontent.com/1102718/53972201-31c79d80-40b3-11e9-9810-ee5f5fde616b.png)

[2019-03-07 16:30] brugger1 commented on #748
![0748_amr_par_ok](https://user-images.githubusercontent.com/1102718/53972229-3db35f80-40b3-11e9-8a42-bfd2adb34dd7.png)
![0748_amr_serial_bad](https://user-images.githubusercontent.com/1102718/53972230-3db35f80-40b3-11e9-8f35-cef872638d5d.png)

[2019-03-07 16:30] brugger1 commented on #764
[0764_test.silo.zip](https://github.com/visit-dav/visit/files/2942245/0764_test.silo.zip)

[2019-03-07 16:31] brugger1 commented on #783
[0783_initially_flat_data.tar.zip](https://github.com/visit-dav/visit/files/2942249/0783_initially_flat_data.tar.zip)

[2019-03-07 16:31] brugger1 commented on #797
[0797_active_plots_bug.py.zip](https://github.com/visit-dav/visit/files/2942252/0797_active_plots_bug.py.zip)

[2019-03-07 16:31] brugger1 commented on #798
[0798_sort.py.zip](https://github.com/visit-dav/visit/files/2942253/0798_sort.py.zip)
![0798_triangle-bug0000](https://user-images.githubusercontent.com/1102718/53972344-73584880-40b3-11e9-8146-c410d04afdf0.png)
[0798_saved-sort.vtk.zip](https://github.com/visit-dav/visit/files/2942254/0798_saved-sort.vtk.zip)

[2019-03-07 16:32] brugger1 commented on #802
[0802_20110721_example2.silo.zip](https://github.com/visit-dav/visit/files/2942256/0802_20110721_example2.silo.zip)

[2019-03-07 16:32] brugger1 commented on #806
![0806_lineout_bug](https://user-images.githubusercontent.com/1102718/53972382-8bc86300-40b3-11e9-9597-d957ed914c6d.png)

[2019-03-07 16:32] brugger1 commented on #808
[0808_pflotran-015.h5.zip](https://github.com/visit-dav/visit/files/2942261/0808_pflotran-015.h5.zip)
[0808_pflotran-027.h5.zip](https://github.com/visit-dav/visit/files/2942262/0808_pflotran-027.h5.zip)

[2019-03-07 16:33] brugger1 commented on #811
[0811_wave_example.tar.gz](https://github.com/visit-dav/visit/files/2942267/0811_wave_example.tar.gz)

[2019-03-07 16:33] brugger1 commented on #836
![0836_inverse_ghost_zone_max1](https://user-images.githubusercontent.com/1102718/53972460-b0243f80-40b3-11e9-822f-0fe0ec0a7fca.png)

[2019-03-07 16:33] brugger1 commented on #843
[0843_run0016_0000.gz](https://github.com/visit-dav/visit/files/2942272/0843_run0016_0000.gz)

[2019-03-07 16:34] brugger1 commented on #867
[0867_povray_vs_locale.patch.zip](https://github.com/visit-dav/visit/files/2942274/0867_povray_vs_locale.patch.zip)

[2019-03-07 16:34] brugger1 commented on #885
[0885_UPLOT5.tec.zip](https://github.com/visit-dav/visit/files/2942276/0885_UPLOT5.tec.zip)

[2019-03-07 16:34] brugger1 commented on #889
[0889_with_boundary_faces.cgns.zip](https://github.com/visit-dav/visit/files/2942277/0889_with_boundary_faces.cgns.zip)
[0889_without_boundary_faces.cgns.zip](https://github.com/visit-dav/visit/files/2942278/0889_without_boundary_faces.cgns.zip)

[2019-03-07 16:35] brugger1 commented on #891
![0891_masking](https://user-images.githubusercontent.com/1102718/53972588-ed88cd00-40b3-11e9-8110-6f3ba76ef195.png)
[0891_masking.vsh5.zip](https://github.com/visit-dav/visit/files/2942282/0891_masking.vsh5.zip)

[2019-03-07 16:35] brugger1 commented on #893
![0893_memoryleak](https://user-images.githubusercontent.com/1102718/53972610-fbd6e900-40b3-11e9-94dd-f4483f74abca.png)
[0893_sampleviewer.py.zip](https://github.com/visit-dav/visit/files/2942284/0893_sampleviewer.py.zip)

[2019-03-07 16:36] brugger1 commented on #897
[0897_data0000.silo.zip](https://github.com/visit-dav/visit/files/2942290/0897_data0000.silo.zip)
[0897_data0001.silo.zip](https://github.com/visit-dav/visit/files/2942291/0897_data0001.silo.zip)
[0897_data0002.silo.zip](https://github.com/visit-dav/visit/files/2942292/0897_data0002.silo.zip)

[2019-03-07 16:36] brugger1 commented on #913
![0913_2 3 0_contour](https://user-images.githubusercontent.com/1102718/53972691-26c13d00-40b4-11e9-9c26-7d3d15c33390.png)
![0913_2 4 0_contour](https://user-images.githubusercontent.com/1102718/53972692-2759d380-40b4-11e9-8b53-44849250f5a7.png)

[2019-03-07 16:37] brugger1 commented on #930
![0930_volumebug1](https://user-images.githubusercontent.com/1102718/53972716-317bd200-40b4-11e9-8c1a-4ffd3b32710f.png)
![0930_volumebug2](https://user-images.githubusercontent.com/1102718/53972717-317bd200-40b4-11e9-86ff-dd1bc08bc426.png)

[2019-03-07 16:37] brugger1 commented on #955
![0955_point_hex](https://user-images.githubusercontent.com/1102718/53972736-3a6ca380-40b4-11e9-8920-fda391bd98a0.png)

[2019-03-07 16:37] brugger1 commented on #983
[0983_cmfe_test_for_miller.tar.gz](https://github.com/visit-dav/visit/files/2942295/0983_cmfe_test_for_miller.tar.gz)

[2019-03-07 16:37] brugger1 commented on #986
![0986_screen_shot_2012-02-22_at_2_58_23_pm](https://user-images.githubusercontent.com/1102718/53972782-4ce6dd00-40b4-11e9-925d-f8cdaff7e170.png)

[2019-03-07 16:38] brugger1 commented on #996
[0996_PC_Log_Bug.tar.gz](https://github.com/visit-dav/visit/files/2942297/0996_PC_Log_Bug.tar.gz)

[2019-03-07 16:38] brugger1 commented on #1010
[1010_AdamsLarsenPomraning.tar.gz](https://github.com/visit-dav/visit/files/2942299/1010_AdamsLarsenPomraning.tar.gz)

[2019-03-07 16:38] brugger1 commented on #1038
[1038_res_pghex1_3.tar.gz](https://github.com/visit-dav/visit/files/2942300/1038_res_pghex1_3.tar.gz)

[2019-03-07 16:38] brugger1 commented on #1051
![1051_uhexag1p](https://user-images.githubusercontent.com/1102718/53972850-7142b980-40b4-11e9-8264-10c37770f16f.png)
[1051_uhexag1p.tar.zip](https://github.com/visit-dav/visit/files/2942303/1051_uhexag1p.tar.zip)

[2019-03-07 16:39] brugger1 commented on #1057
[1057_visit_H5Part_db_patch.zip](https://github.com/visit-dav/visit/files/2942307/1057_visit_H5Part_db_patch.zip)

[2019-03-07 16:39] brugger1 commented on #1062
![1062_screen_shot_2012-06-20_at_2 24 27_pm](https://user-images.githubusercontent.com/1102718/53972895-89b2d400-40b4-11e9-943b-d2316909f0f2.png)
![1062_screen_shot_2012-06-25_at_11 30 52_am](https://user-images.githubusercontent.com/1102718/53972896-8a4b6a80-40b4-11e9-8d84-d07e8392fc07.png)
![1062_screen_shot_2012-06-25_at_11 45 19_am](https://user-images.githubusercontent.com/1102718/53972897-8a

[2019-03-07 16:39] brugger1 commented on #1073
[1073_pjacobi_mpi4py.py.zip](https://github.com/visit-dav/visit/files/2942309/1073_pjacobi_mpi4py.py.zip)

[2019-03-07 16:49] brugger1 commented on #3169
[3169_cell14_pts.vtk.zip](https://github.com/visit-dav/visit/files/2942344/3169_cell14_pts.vtk.zip)
[3169_cell14_vol.vtk.zip](https://github.com/visit-dav/visit/files/2942346/3169_cell14_vol.vtk.zip)
[3169_point.vtk.zip](https://github.com/visit-dav/visit/files/2942347/3169_point.vtk.zip)
[3169_volume.vtk.zip](https://github.com/visit-dav/visit/files/2942348/3169_volume.vtk.zip)

[2019-03-07 16:50] brugger1 commented on #3170
[3170_test100.nas.zip](https://github.com/visit-dav/visit/files/2942349/3170_test100.nas.zip)

[2019-03-07 16:50] brugger1 commented on #3173
![3173_image001](https://user-images.githubusercontent.com/1102718/53973666-05f9e700-40b6-11e9-9f6e-2115e78dd6b0.png)

[2019-03-07 16:50] brugger1 commented on #3177
[3177_log.zip](https://github.com/visit-dav/visit/files/2942353/3177_log.zip)

[2019-03-07 16:50] brugger1 commented on #3178
[3178_region2.exo.2.0.zip](https://github.com/visit-dav/visit/files/2942356/3178_region2.exo.2.0.zip)
[3178_region2.exo.2.1.zip](https://github.com/visit-dav/visit/files/2942357/3178_region2.exo.2.1.zip)

[2019-03-07 16:51] brugger1 commented on #3182
![3182_globe_fedora_on_mint](https://user-images.githubusercontent.com/1102718/53973730-22961f00-40b6-11e9-8e2f-497782c1f9d2.png)

[2019-03-07 16:51] brugger1 commented on #3220
![3220_legend_missing_minus_sign](https://user-images.githubusercontent.com/1102718/53973759-2f1a7780-40b6-11e9-9492-379793137fc4.png)

[2019-03-07 16:51] brugger1 commented on #3232
[3232_howto_osxsigning.docx](https://github.com/visit-dav/visit/files/2942366/3232_howto_osxsigning.docx)

[2019-03-07 16:52] brugger1 commented on #3233
<img width="395" alt="3233_enum_scalar_graph_bug" src="https://user-images.githubusercontent.com/1102718/53973803-46596500-40b6-11e9-9075-93487bb56059.png">

[2019-03-07 16:52] brugger1 commented on #3237
![3237_screen_shot_2018-10-19_at_12 14 32_pm](https://user-images.githubusercontent.com/1102718/53973819-4fe2cd00-40b6-11e9-87f8-4efda85fcae1.png)
![3237_screen_shot_2018-10-19_at_12 14 44_pm](https://user-images.githubusercontent.com/1102718/53973820-507b6380-40b6-11e9-9f7e-a2d3662b678d.png)

[2019-03-07 16:52] brugger1 commented on #3241
<img width="1346" alt="3241_screen_shot_2018-10-29_at_11 04 56_am" src="https://user-images.githubusercontent.com/1102718/53973834-583b0800-40b6-11e9-8794-edfa5d182ba7.png">

[2019-03-07 16:52] brugger1 commented on #3245
[3245_build_visit_2_13_3_log.gz](https://github.com/visit-dav/visit/files/2942371/3245_build_visit_2_13_3_log.gz)
[3245_debug_logs.tar.gz](https://github.com/visit-dav/visit/files/2942372/3245_debug_logs.tar.gz)
[3245_ubuntu_build_issue.pdf](https://github.com/visit-dav/visit/files/2942373/3245_ubuntu_build_issue.pdf)

[2019-03-07 16:53] brugger1 commented on #3247
[3247_visit_bug_3262.tar.gz](https://github.com/visit-dav/visit/files/2942374/3247_visit_bug_3262.tar.gz)

[2019-03-07 16:53] brugger1 commented on #3260
![3260_cinema-windows-error](https://user-images.githubusercontent.com/1102718/53973914-7e60a800-40b6-11e9-8554-509cb7db211d.PNG)

[2019-03-07 17:45] biagas commented on #2903
[2903_big_quads.session.zip](https://github.com/visit-dav/visit/files/2942560/2903_big_quads.session.zip)
[2903_big_quads.silo.zip](https://github.com/visit-dav/visit/files/2942561/2903_big_quads.silo.zip)
[2903_big_quads.C.zip](https://github.com/visit-dav/visit/files/2942562/2903_big_quads.C.zip)
![2903_big_quads](https://user-images.githubusercontent.com/17075318/53977359-b5868780-40bd-11e9-8b5

[2019-03-07 17:45] biagas commented on #2910
![2910_osxprinter_ss](https://user-images.githubusercontent.com/17075318/53977379-c2a37680-40bd-11e9-9981-c44faa688b6a.jpg)

[2019-03-07 17:45] biagas commented on #2920
![2920_kuenymacpro](https://user-images.githubusercontent.com/17075318/53977397-cafbb180-40bd-11e9-8594-8f3e9ed1af41.png)

[2019-03-07 17:46] biagas commented on #2931
[2931_settvmd.c.zip](https://github.com/visit-dav/visit/files/2942569/2931_settvmd.c.zip)

[2019-03-07 17:46] biagas commented on #2942
[2942_net0000000.pdb.zip](https://github.com/visit-dav/visit/files/2942571/2942_net0000000.pdb.zip)

[2019-03-07 17:46] biagas commented on #2972
<img width="912" alt="2972_screen_shot_2017-11-09_at_9 54 21_am" src="https://user-images.githubusercontent.com/17075318/53977470-ecf53400-40bd-11e9-83d0-b9b4e768f1ae.png">
<img width="582" alt="2972_screen_shot_2017-11-09_at_9 54 15_am" src="https://user-images.githubusercontent.com/17075318/53977471-ecf53400-40bd-11e9-9b15-7a4d91c94013.png">

[2019-03-07 17:47] biagas commented on #2976
[2976_test_mat_same.tar.gz](https://github.com/visit-dav/visit/files/2942576/2976_test_mat_same.tar.gz)
[2976_test_mat_withids.tar.gz](https://github.com/visit-dav/visit/files/2942577/2976_test_mat_withids.tar.gz)
[2976_test_mat_noids.tar.gz](https://github.com/visit-dav/visit/files/2942578/2976_test_mat_noids.tar.gz)

[2019-03-07 17:48] biagas commented on #2983
[2983_clip_operator_ghost.tiff.zip](https://github.com/visit-dav/visit/files/2942582/2983_clip_operator_ghost.tiff.zip)

[2019-03-07 17:48] biagas commented on #2997
[2997_visit_ex_db_two.vtk.zip](https://github.com/visit-dav/visit/files/2942584/2997_visit_ex_db_two.vtk.zip)
[2997_visit_ex_db_one.vtk.zip](https://github.com/visit-dav/visit/files/2942585/2997_visit_ex_db_one.vtk.zip)

[2019-03-07 17:48] biagas commented on #2999
![2999_star-surf-zoom-bug](https://user-images.githubusercontent.com/17075318/53977568-29c12b00-40be-11e9-969e-9b22c3e37da6.jpg)

[2019-03-07 17:48] biagas commented on #3002
[3002_visit_libraries.txt](https://github.com/visit-dav/visit/files/2942587/3002_visit_libraries.txt)

[2019-03-07 17:50] biagas commented on #3035
![3035_cmfe_dump](https://user-images.githubusercontent.com/17075318/53977636-4bbaad80-40be-11e9-8662-3d02f19fe52c.png)
![3035_screen_shot_2018-03-06_at_8 27 30_am](https://user-images.githubusercontent.com/17075318/53977648-55441580-40be-11e9-97ca-a7bc142b1bce.png)
![3035_screen_shot_2018-03-06_at_9 46 03_am](https://user-images.githubusercontent.com/17075318/53977649-55441580-40be-11e9-94ac-6d5d

[2019-03-07 17:50] biagas commented on #3039
![3039_triad_bug2](https://user-images.githubusercontent.com/17075318/53977676-69881280-40be-11e9-84de-c8ae2194e4cc.png)
![3039_triad_bug1](https://user-images.githubusercontent.com/17075318/53977677-69881280-40be-11e9-9896-0eba42fdd043.png)

[2019-03-07 17:50] biagas commented on #3048
![3048_visit_pw1](https://user-images.githubusercontent.com/17075318/53977702-760c6b00-40be-11e9-9a0b-ae9047c9db65.jpg)
![3048_visit_pw2](https://user-images.githubusercontent.com/17075318/53977703-760c6b00-40be-11e9-9c40-9d19ec4051ca.jpg)

[2019-03-07 17:51] biagas commented on #3066
2.13.1
![3066_trilin_2 13 1](https://user-images.githubusercontent.com/17075318/53977729-8886a480-40be-11e9-90d1-1b6eaac83d3b.png)

trunk
![3066_trilin_trunk](https://user-images.githubusercontent.com/17075318/53977747-92a8a300-40be-11e9-92c2-896570d0bb06.png)

[2019-03-07 17:52] biagas commented on #3071
pc_alone
![3071_pc_alone](https://user-images.githubusercontent.com/17075318/53977776-a522dc80-40be-11e9-98e5-e5dbfaaa50db.png)

pc_mesh
![3071_pc_mesh](https://user-images.githubusercontent.com/17075318/53977790-ab18bd80-40be-11e9-9738-6b77921fd71d.png)

[2019-03-07 17:52] biagas commented on #3073
![3073_multi_rect](https://user-images.githubusercontent.com/17075318/53977822-b835ac80-40be-11e9-9551-bbc403818cb5.png)

[2019-03-07 17:53] biagas commented on #3089
[3089_Zwick.pvtu.bug.tar.gz](https://github.com/visit-dav/visit/files/2942598/3089_Zwick.pvtu.bug.tar.gz)

[2019-03-07 17:53] biagas commented on #3091
[3091_part.000.root.zip](https://github.com/visit-dav/visit/files/2942599/3091_part.000.root.zip)
[3091_part.000.000.000.h5.zip](https://github.com/visit-dav/visit/files/2942600/3091_part.000.000.000.h5.zip)

[2019-03-07 17:54] biagas commented on #3098
[3098_megr90n000cb.img.zip](https://github.com/visit-dav/visit/files/2942601/3098_megr90n000cb.img.zip)
[3098_megr90n000cb.lbl.zip](https://github.com/visit-dav/visit/files/2942602/3098_megr90n000cb.lbl.zip)
[3098_megr90n000cb.hdr.zip](https://github.com/visit-dav/visit/files/2942603/3098_megr90n000cb.hdr.zip)
![3098_screen_shot_2018-05-14_at_4 35 15_pm](https://user-images.githubusercontent.com/1

[2019-03-07 17:55] biagas commented on #3118
2.13

![3118_visit2 13-300](https://user-images.githubusercontent.com/17075318/53977962-fdf27500-40be-11e9-947b-00fdc0f656d9.png)
![3118_visit2 13-1024](https://user-images.githubusercontent.com/17075318/53977970-00ed6580-40bf-11e9-84f8-61402fe42226.png)

3.0
![3118_visit3-1024](https://user-images.githubusercontent.com/17075318/53978019-195d8000-40bf-11e9-85d4-64096ef08fd7.png)
![3118_visit3-300]

[2019-03-07 17:55] biagas commented on #3127
dev build
![3127_dev_build](https://user-images.githubusercontent.com/17075318/53978059-2da17d00-40bf-11e9-96ab-cdd5a6779933.png)

install
![3127_install](https://user-images.githubusercontent.com/17075318/53978070-32fec780-40bf-11e9-920c-2b6ec0baf369.png)

[2019-03-07 17:56] biagas commented on #3136
![3136_screen_shot_2018-05-23_at_3 40 06_pm](https://user-images.githubusercontent.com/17075318/53978081-3b570280-40bf-11e9-86e6-a48aec513af5.png)

[2019-03-07 17:56] biagas commented on #3156
[3156_save0000.curve.zip](https://github.com/visit-dav/visit/files/2942621/3156_save0000.curve.zip)
[3156_export.curve.zip](https://github.com/visit-dav/visit/files/2942622/3156_export.curve.zip)

[2019-03-07 17:57] biagas commented on #3157
[3157_pv_cell.dat.zip](https://github.com/visit-dav/visit/files/2942627/3157_pv_cell.dat.zip)

[2019-03-07 17:57] biagas commented on #3167
[3167_specmix.7z.zip](https://github.com/visit-dav/visit/files/2942629/3167_specmix.7z.zip)
[3167_geosxSiloGhost.tar.7z.zip](https://github.com/visit-dav/visit/files/2942630/3167_geosxSiloGhost.tar.7z.zip)

[2019-03-07 17:57] biagas commented on #3169
[3169_point.vtk.zip](https://github.com/visit-dav/visit/files/2942632/3169_point.vtk.zip)
[3169_volume.vtk.zip](https://github.com/visit-dav/visit/files/2942633/3169_volume.vtk.zip)
[3169_cell14_pts.vtk.zip](https://github.com/visit-dav/visit/files/2942634/3169_cell14_pts.vtk.zip)
[3169_cell14_vol.vtk.zip](https://github.com/visit-dav/visit/files/2942635/3169_cell14_vol.vtk.zip)

[2019-03-07 18:04] cyrush commented on #1091
[1091_test.trg.zip](https://github.com/visit-dav/visit/files/2942656/1091_test.trg.zip)

[2019-03-07 18:04] cyrush commented on #1119
![1119_untitled](https://user-images.githubusercontent.com/1194526/53978583-70b02000-40c0-11e9-9363-b126abcf93eb.png)

[2019-03-07 18:05] cyrush commented on #1134
![1134_2 4 2_splat0001](https://user-images.githubusercontent.com/1194526/53978619-858cb380-40c0-11e9-8707-c72e54f80312.jpeg)
![1134_2 5 1_splat0000](https://user-images.githubusercontent.com/1194526/53978622-87567700-40c0-11e9-97a9-9e9f73b8e53f.jpeg)

[2019-03-07 18:05] cyrush commented on #1142
[1142_frag.vtk.zip](https://github.com/visit-dav/visit/files/2942659/1142_frag.vtk.zip)
[1142_fragment_cloud.sv.zip](https://github.com/visit-dav/visit/files/2942660/1142_fragment_cloud.sv.zip)

[2019-03-07 18:06] cyrush commented on #1154
![1154_normal-save](https://user-images.githubusercontent.com/1194526/53978665-9f2dfb00-40c0-11e9-947b-4ce12af131ff.png)
![1154_screen-save](https://user-images.githubusercontent.com/1194526/53978666-9f2dfb00-40c0-11e9-8271-d46c0470f671.png)

[2019-03-07 18:06] cyrush commented on #1155
[1155_2.5.2-bug.tgz.zip](https://github.com/visit-dav/visit/files/2942668/1155_2.5.2-bug.tgz.zip)

[2019-03-07 18:07] cyrush commented on #1168
![1168_3d_texturing_after_slivr](https://user-images.githubusercontent.com/1194526/53978714-c7b5f500-40c0-11e9-86f2-471fbb15aaad.png)
![1168_3d_texturing_before_slivr](https://user-images.githubusercontent.com/1194526/53978715-c84e8b80-40c0-11e9-9151-c249e1f3f21e.png)
![1168_fonts_after_slivr](https://user-images.githubusercontent.com/1194526/53978716-c84e8b80-40c0-11e9-9406-fd2b90e6f5ef.png)
![11

[2019-03-07 18:07] cyrush commented on #1186
[1186_silo-error-log.txt](https://github.com/visit-dav/visit/files/2942671/1186_silo-error-log.txt)

[2019-03-07 18:07] cyrush commented on #1201
[1201_login_logs.tgz.zip](https://github.com/visit-dav/visit/files/2942672/1201_login_logs.tgz.zip)
[Uploading 1201_node_logs.tgz.zip…]()

[2019-03-07 18:08] cyrush commented on #1201
[1201_login_logs.tgz.zip](https://github.com/visit-dav/visit/files/2942676/1201_login_logs.tgz.zip)
[1201_node_logs.tgz.zip](https://github.com/visit-dav/visit/files/2942677/1201_node_logs.tgz.zip)

[2019-03-07 18:08] cyrush commented on #1227
![1227_screen_shot_2012-10-25_at_9 19 54_am](https://user-images.githubusercontent.com/1194526/53978794-f16f1c00-40c0-11e9-8ba9-d6af4feb2e14.png)

[2019-03-07 18:08] cyrush commented on #1240
[1240_no-python.txt](https://github.com/visit-dav/visit/files/2942680/1240_no-python.txt)

[2019-03-07 18:08] cyrush commented on #1245
![1245_rect3d_resample_texturing](https://user-images.githubusercontent.com/1194526/53978820-0186fb80-40c1-11e9-9dde-6f38bdf1ecb2.png)
![1245_rect3d_resample-1_splatting](https://user-images.githubusercontent.com/1194526/53978821-0186fb80-40c1-11e9-96bd-0372e06ebdb3.png)
![1245_rect3d_resample-1_texturing](https://user-images.githubusercontent.com/1194526/53978822-0186fb80-40c1-11e9-9632-1515d03e2

[2019-03-07 18:09] cyrush commented on #1287
[1287_polyhedron.xmf.zip](https://github.com/visit-dav/visit/files/2942683/1287_polyhedron.xmf.zip)
[1287_prostar.h5.zip](https://github.com/visit-dav/visit/files/2942684/1287_prostar.h5.zip)
[1287_prostar.xmf.zip](https://github.com/visit-dav/visit/files/2942685/1287_prostar.xmf.zip)

[2019-03-07 18:09] cyrush commented on #1312
![1312_elevated_screenshot](https://user-images.githubusercontent.com/1194526/53978873-1c597000-40c1-11e9-84ec-2006aa1c8194.png)

[2019-03-07 18:09] cyrush commented on #1328
[1328_A.engine_ser.5.vlog.zip](https://github.com/visit-dav/visit/files/2942687/1328_A.engine_ser.5.vlog.zip)
[1328_A.viewer.5.vlog.zip](https://github.com/visit-dav/visit/files/2942688/1328_A.viewer.5.vlog.zip)

[2019-03-07 18:10] cyrush commented on #1331
[1331_visit_libpath.zip](https://github.com/visit-dav/visit/files/2942690/1331_visit_libpath.zip)

[2019-03-07 18:10] cyrush commented on #1342
[1342_python2_test.py.zip](https://github.com/visit-dav/visit/files/2942691/1342_python2_test.py.zip)
[1342_python3_test.py.zip](https://github.com/visit-dav/visit/files/2942692/1342_python3_test.py.zip)

[2019-03-07 18:10] cyrush commented on #1355
![1355_visit0001](https://user-images.githubusercontent.com/1194526/53978933-46ab2d80-40c1-11e9-9623-97da905eaaa7.png)
![1355_visit0002](https://user-images.githubusercontent.com/1194526/53978934-46ab2d80-40c1-11e9-9d6c-3dcf24f12f6c.png)

[2019-03-07 18:11] cyrush commented on #1357
[1357_patchBOVreader.zip](https://github.com/visit-dav/visit/files/2942693/1357_patchBOVreader.zip)

[2019-03-07 18:11] cyrush commented on #1384
[1384_2dexample.hangingnodes.gmv.zip](https://github.com/visit-dav/visit/files/2942694/1384_2dexample.hangingnodes.gmv.zip)
![1384_correct rendering](https://user-images.githubusercontent.com/1194526/53978959-575ba380-40c1-11e9-9bea-68a81c27ae57.png)
![1384_visit0000](https://user-images.githubusercontent.com/1194526/53978983-63476580-40c1-11e9-8f40-cf35e9170fab.png)

[2019-03-07 18:11] cyrush commented on #1403
[1403_javedani_viewer.exe.12060.5.vlog.zip](https://github.com/visit-dav/visit/files/2942696/1403_javedani_viewer.exe.12060.5.vlog.zip)
[1403_viewer.exe.kokko.5.vlog.zip](https://github.com/visit-dav/visit/files/2942697/1403_viewer.exe.kokko.5.vlog.zip)

[2019-03-07 18:12] cyrush commented on #1421
[1421_lens3d-hx-0008.vtk.zip](https://github.com/visit-dav/visit/files/2942699/1421_lens3d-hx-0008.vtk.zip)
[1421_lens3d-hx-0009.vtk.zip](https://github.com/visit-dav/visit/files/2942700/1421_lens3d-hx-0009.vtk.zip)
[1421_lens3d-hy-0008.vtk.zip](https://github.com/visit-dav/visit/files/2942701/1421_lens3d-hy-0008.vtk.zip)
[1421_lens3d-hy-0009.vtk.zip](https://github.com/visit-dav/visit/files/29427

[2019-03-07 18:12] cyrush commented on #1421
[1421_lens3d-hx-0008.vtk.zip](https://github.com/visit-dav/visit/files/2942706/1421_lens3d-hx-0008.vtk.zip)
[1421_lens3d-hx-0009.vtk.zip](https://github.com/visit-dav/visit/files/2942707/1421_lens3d-hx-0009.vtk.zip)
[1421_lens3d-hy-0008.vtk.zip](https://github.com/visit-dav/visit/files/2942708/1421_lens3d-hy-0008.vtk.zip)
[1421_lens3d-hy-0009.vtk.zip](https://github.com/visit-dav/visit/files/29427

[2019-03-07 18:13] cyrush commented on #1437
[1437_Barbados_R.Cut.out.gmvG.gz](https://github.com/visit-dav/visit/files/2942712/1437_Barbados_R.Cut.out.gmvG.gz)
[1437_Barbados_R.Cut2.out.gmvG.zip](https://github.com/visit-dav/visit/files/2942713/1437_Barbados_R.Cut2.out.gmvG.zip)
[1437_Barbados_R.Oro.out.gmvG.zip](https://github.com/visit-dav/visit/files/2942714/1437_Barbados_R.Oro.out.gmvG.zip)
[1437_Barbados_R.out.gmvG.gz](https://github.c

[2019-03-07 19:29] rusu24edward commented on #1457
[1457_link.txt](https://github.com/visit-dav/visit/files/2942928/1457_link.txt)
[1457_localhost.cmake.zip](https://github.com/visit-dav/visit/files/2942929/1457_localhost.cmake.zip)
[1457_visit.log](https://github.com/visit-dav/visit/files/2942932/1457_visit.log)

[2019-03-07 19:29] rusu24edward commented on #1469
![1469_visit0000](https://user-images.githubusercontent.com/18565891/53983549-49f7e680-40cc-11e9-93ee-58b6ee82bf3f.png)

[2019-03-07 19:30] rusu24edward commented on #1473
[1473_mummy.128.vti.zip](https://github.com/visit-dav/visit/files/2942936/1473_mummy.128.vti.zip)

[2019-03-07 19:30] rusu24edward commented on #1487
[1487_0390.output.avtLineToPolylineFilter.vtk.zip](https://github.com/visit-dav/visit/files/2942938/1487_0390.output.avtLineToPolylineFilter.vtk.zip)

[2019-03-07 19:30] rusu24edward commented on #1494
![1494_amrs_bad](https://user-images.githubusercontent.com/18565891/53983608-6dbb2c80-40cc-11e9-9ab3-e57b93d7de5c.png)
![1494_amrs_ok](https://user-images.githubusercontent.com/18565891/53983609-6dbb2c80-40cc-11e9-8860-6621cf817732.png)
![1494_amrz_bad](https://user-images.githubusercontent.com/18565891/53983610-6dbb2c80-40cc-11e9-8023-f7163f718d93.png)
![1494_amrz_ok](https://user-images.githubus

[2019-03-07 19:30] rusu24edward commented on #1544
[1544_config.zip](https://github.com/visit-dav/visit/files/2942941/1544_config.zip)

[2019-03-07 19:31] rusu24edward commented on #1567
[1567_Bubbles2D.tar.gz](https://github.com/visit-dav/visit/files/2942942/1567_Bubbles2D.tar.gz)

[2019-03-07 19:31] rusu24edward commented on #1593
[1593_grid.plt.zip](https://github.com/visit-dav/visit/files/2942943/1593_grid.plt.zip)
[1593_solution.plt.zip](https://github.com/visit-dav/visit/files/2942944/1593_solution.plt.zip)

[2019-03-07 19:31] rusu24edward commented on #1604
[1604_slicing_problem.exo.zip](https://github.com/visit-dav/visit/files/2942945/1604_slicing_problem.exo.zip)

[2019-03-07 19:32] rusu24edward commented on #1605
[1605_node_cell_vars_magnitude.exo.zip](https://github.com/visit-dav/visit/files/2942946/1605_node_cell_vars_magnitude.exo.zip)

[2019-03-07 19:32] rusu24edward commented on #1606
[1606_node_cell_vars_magnitude.exo.zip](https://github.com/visit-dav/visit/files/2942947/1606_node_cell_vars_magnitude.exo.zip)

[2019-03-07 19:32] rusu24edward commented on #1607
[1607_point2d.pdb.zip](https://github.com/visit-dav/visit/files/2942948/1607_point2d.pdb.zip)

[2019-03-07 19:32] rusu24edward commented on #1611
[1611_porflow5_2_1_r1.exo.zip](https://github.com/visit-dav/visit/files/2942949/1611_porflow5_2_1_r1.exo.zip)

[2019-03-07 19:32] rusu24edward commented on #1612
[1612_square-0000.gen.zip](https://github.com/visit-dav/visit/files/2942951/1612_square-0000.gen.zip)
[1612_square-0001.gen.zip](https://github.com/visit-dav/visit/files/2942952/1612_square-0001.gen.zip)

[2019-03-07 19:32] rusu24edward commented on #1640
![1640_volume_slivr](https://user-images.githubusercontent.com/18565891/53983722-bd99f380-40cc-11e9-810a-15637687dad8.png)

[2019-03-07 19:33] rusu24edward commented on #1644
![1644_bad_image](https://user-images.githubusercontent.com/18565891/53983745-c68ac500-40cc-11e9-892a-21689c83603e.png)
![1644_good_image](https://user-images.githubusercontent.com/18565891/53983747-c68ac500-40cc-11e9-859c-0b6afc5d8490.png)
[1644_visit-minimal-test.tar.gz](https://github.com/visit-dav/visit/files/2942955/1644_visit-minimal-test.tar.gz)

[2019-03-07 19:33] rusu24edward commented on #1655
[1655_average_problem.vtk.zip](https://github.com/visit-dav/visit/files/2942957/1655_average_problem.vtk.zip)
[1655_script.py.zip](https://github.com/visit-dav/visit/files/2942958/1655_script.py.zip)

[2019-03-07 19:33] rusu24edward commented on #1657
[1657_feusion05_001.00001.zip](https://github.com/visit-dav/visit/files/2942960/1657_feusion05_001.00001.zip)

[2019-03-07 19:33] rusu24edward commented on #1667
[1667_oase-mapdata.nc.gz](https://github.com/visit-dav/visit/files/2942962/1667_oase-mapdata.nc.gz)

[2019-03-07 19:34] rusu24edward commented on #1678
![1678_visit_test_image_1](https://user-images.githubusercontent.com/18565891/53983814-ea4e0b00-40cc-11e9-9bb8-090640c6ed5d.png)
![1678_visit_test_image_2](https://user-images.githubusercontent.com/18565891/53983815-ea4e0b00-40cc-11e9-9b8e-201d0040b89e.png)
![1678_visit_test_image_3](https://user-images.githubusercontent.com/18565891/53983816-eae6a180-40cc-11e9-9c64-1b7396a1dbb3.png)
![1678_visit_

[2019-03-07 19:34] rusu24edward commented on #1683
![1683_test_2 7 0_via_nosc_mac](https://user-images.githubusercontent.com/18565891/53983854-f508a000-40cc-11e9-80fe-0ffd3e285263.png)
![1683_test_2 7 0_via_sc_mac](https://user-images.githubusercontent.com/18565891/53983855-f5a13680-40cc-11e9-9e94-7b80c0804458.png)
[1683_test.py.zip](https://github.com/visit-dav/visit/files/2942964/1683_test.py.zip)

[2019-03-07 19:34] rusu24edward commented on #1686
<img width="797" alt="1686_visit_on_retina" src="https://user-images.githubusercontent.com/18565891/53983868-fb971780-40cc-11e9-9e49-7098ecd1b5c1.png">

[2019-03-07 19:34] rusu24edward commented on #1692
![1692_visit0009](https://user-images.githubusercontent.com/18565891/53983884-0651ac80-40cd-11e9-8f1b-bbabfe537dd7.png)
![1692_visit0010](https://user-images.githubusercontent.com/18565891/53983885-0651ac80-40cd-11e9-8cd1-8dd33e7c07f5.png)
![1692_visit4096x4096](https://user-images.githubusercontent.com/18565891/53983886-0651ac80-40cd-11e9-8c7b-37962e03ff2f.png)
![1692_visit4096x5000](https://user

[2019-03-07 20:11] markcmiller86 commented on #2623
[2623_bar.xdmf.zip](https://github.com/visit-dav/visit/files/2943103/2623_bar.xdmf.zip)
[2623_foo.xdmf.zip](https://github.com/visit-dav/visit/files/2943105/2623_foo.xdmf.zip)
![2623_proper_display](https://user-images.githubusercontent.com/5720676/53986101-2172eb00-40d2-11e9-89d5-c14235d97fc9.png)
[2623_simplified_broken.xmf.zip](https://github.com/visit-dav/visit/files/2943108/2623_simplified_br

[2019-03-07 20:12] markcmiller86 commented on #2646
![2646_image001](https://user-images.githubusercontent.com/5720676/53986138-3e0f2300-40d2-11e9-8cc0-e54baee18847.png)

[2019-03-07 20:12] markcmiller86 commented on #2653
[2653_host_flux_login.xml.zip](https://github.com/visit-dav/visit/files/2943118/2653_host_flux_login.xml.zip)

[2019-03-07 20:12] markcmiller86 commented on #2670
[2670_biomodel.vcml.xml.zip](https://github.com/visit-dav/visit/files/2943121/2670_biomodel.vcml.xml.zip)

[2019-03-07 20:13] markcmiller86 commented on #2673
![2673_density_plt00000_xy](https://user-images.githubusercontent.com/5720676/53986214-63039600-40d2-11e9-9789-c55396a86fe3.png)
[Uploading 2673_plt00000.tar.gz…]()
![Uploading 2673_visit0006.png…]()
![Uploading 2673_visit0007.png…]()

[2019-03-07 20:13] markcmiller86 commented on #2691
![2691_reflection_example](https://user-images.githubusercontent.com/5720676/53986232-6b5bd100-40d2-11e9-9dd7-7ca1bc9d238c.jpg)

[2019-03-07 20:14] markcmiller86 commented on #2703
[2703_sphere-HEX20.ex2.zip](https://github.com/visit-dav/visit/files/2943126/2703_sphere-HEX20.ex2.zip)
[Uploading 2703_sphere-HEX27.ex2.zip…]()

[2019-03-07 20:14] markcmiller86 commented on #2714
<img width="387" alt="2714_screen_shot_2016-11-16_at_8 43 15_am" src="https://user-images.githubusercontent.com/5720676/53986276-8c242680-40d2-11e9-8e6b-a813028b7453.png">

[2019-03-07 20:15] markcmiller86 commented on #2717
[2717_silo_hdf5_overwrite_example.c.zip](https://github.com/visit-dav/visit/files/2943132/2717_silo_hdf5_overwrite_example.c.zip)
[2717_silo_overwrite_multi_example.c.zip](https://github.com/visit-dav/visit/files/2943133/2717_silo_overwrite_multi_example.c.zip)

[2019-03-07 20:15] markcmiller86 commented on #2718
[2718_div_expr_issues_alg_0.tiff.zip](https://github.com/visit-dav/visit/files/2943135/2718_div_expr_issues_alg_0.tiff.zip)
[2718_div_expr_issues_alg_1.tiff.zip](https://github.com/visit-dav/visit/files/2943136/2718_div_expr_issues_alg_1.tiff.zip)
[2718_div_expr_issues_alg_2.tiff.zip](https://github.com/visit-dav/visit/files/2943137/2718_div_expr_issues_alg_2.tiff.zip)
[2718_div_expr_issues_alg_3.

[2019-03-07 20:15] markcmiller86 commented on #2720
![2720_screen_shot_2016-11-18_at_11 43 12_am](https://user-images.githubusercontent.com/5720676/53986332-bf66b580-40d2-11e9-8ee4-51f4684aa2d6.png)

[2019-03-07 20:16] markcmiller86 commented on #2724
[2724_orig.vtk.zip](https://github.com/visit-dav/visit/files/2943142/2724_orig.vtk.zip)

[2019-03-07 20:16] markcmiller86 commented on #2733
![2733_screen_shot_2016-10-13_at_3 27 02_pm](https://user-images.githubusercontent.com/5720676/53986355-d3121c00-40d2-11e9-8158-fc816c256525.png)

[2019-03-07 20:16] markcmiller86 commented on #2737
![2737_visit_bug](https://user-images.githubusercontent.com/5720676/53986369-e02f0b00-40d2-11e9-9d20-afc020ae1862.jpg)

[2019-03-07 20:17] markcmiller86 commented on #2753
[2753_multi_point2d.silo.zip](https://github.com/visit-dav/visit/files/2943145/2753_multi_point2d.silo.zip)

[2019-03-07 20:17] markcmiller86 commented on #2762
<img width="131" alt="2762_screen_shot_2017-02-10_at_3 22 53_pm" src="https://user-images.githubusercontent.com/5720676/53986400-f3da7180-40d2-11e9-849a-c29ae68f2acd.png">

[2019-03-07 20:17] markcmiller86 commented on #2773
[2773_cordin_info.h5.zip](https://github.com/visit-dav/visit/files/2943147/2773_cordin_info.h5.zip)
[2773_dummy_volume_rendering.log.tgz.zip](https://github.com/visit-dav/visit/files/2943148/2773_dummy_volume_rendering.log.tgz.zip)
[2773_dummy.xmf.zip](https://github.com/visit-dav/visit/files/2943149/2773_dummy.xmf.zip)
[2773_gen_dummy.py.zip](https://github.com/visit-dav/visit/files/2943150/2773_

[2019-03-07 20:18] markcmiller86 commented on #2774
[2774_Test_file.nc.zip](https://github.com/visit-dav/visit/files/2943154/2774_Test_file.nc.zip)

[2019-03-07 20:19] markcmiller86 commented on #2799
![2799_arb_poly_mesh_bug](https://user-images.githubusercontent.com/5720676/53986493-31d79580-40d3-11e9-95e4-e18a64cf322c.jpg)
[2799_Res2.vtp.zip](https://github.com/visit-dav/visit/files/2943155/2799_Res2.vtp.zip)

[2019-03-07 20:19] markcmiller86 commented on #2800
[2800_cubeF.inp.zip](https://github.com/visit-dav/visit/files/2943157/2800_cubeF.inp.zip)

[2019-03-07 20:19] markcmiller86 commented on #2812
![2812_roue_pv](https://user-images.githubusercontent.com/5720676/53986533-4ae04680-40d3-11e9-9161-138267e93a93.jpg)

[2019-03-07 20:20] markcmiller86 commented on #2817
[2817_legend_horz.tiff.zip](https://github.com/visit-dav/visit/files/2943160/2817_legend_horz.tiff.zip)
[2817_legend_vert.tiff.zip](https://github.com/visit-dav/visit/files/2943161/2817_legend_vert.tiff.zip)

[2019-03-07 20:20] markcmiller86 commented on #2838
[2838_fun_with_tensors2.session.zip](https://github.com/visit-dav/visit/files/2943162/2838_fun_with_tensors2.session.zip)

[2019-03-07 20:20] markcmiller86 commented on #2849
[2849_test.h5.zip](https://github.com/visit-dav/visit/files/2943164/2849_test.h5.zip)
[2849_test.xdmf.zip](https://github.com/visit-dav/visit/files/2943165/2849_test.xdmf.zip)

[2019-03-07 20:21] markcmiller86 commented on #2855
[2855_grid.h5.zip](https://github.com/visit-dav/visit/files/2943168/2855_grid.h5.zip)
[2855_myxdmf.xmf.zip](https://github.com/visit-dav/visit/files/2943169/2855_myxdmf.xmf.zip)

[2019-03-07 20:21] markcmiller86 commented on #2861
![2861_dialog](https://user-images.githubusercontent.com/5720676/53986602-7e22d580-40d3-11e9-8271-89629fc7abb6.jpg)

[2019-03-07 20:21] markcmiller86 commented on #2869
![2869_minmaxss](https://user-images.githubusercontent.com/5720676/53986616-88dd6a80-40d3-11e9-8544-c9e0fbe9f341.jpg)

[2019-03-07 20:21] markcmiller86 commented on #2884
[2884_polygons_bigger_than_pixels_example.zip](https://github.com/visit-dav/visit/files/2943173/2884_polygons_bigger_than_pixels_example.zip)
[2884_polygons_bigger_than_pixels_example2.zip](https://github.com/visit-dav/visit/files/2943174/2884_polygons_bigger_than_pixels_example2.zip)
[2884_polygons_bigger_than_pixels_example3.zip](https://github.com/visit-dav/visit/files/2943175/2884_polygons_big

[2019-03-07 20:22] markcmiller86 commented on #2887
[2887_Nl3.txt](https://github.com/visit-dav/visit/files/2943177/2887_Nl3.txt)

[2019-03-07 20:22] markcmiller86 commented on #2898
![2898_non_coforming_plots](https://user-images.githubusercontent.com/5720676/53986661-aa3e5680-40d3-11e9-9899-31feda86650c.jpg)
[2898_non_conforming.C.zip](https://github.com/visit-dav/visit/files/2943180/2898_non_conforming.C.zip)
[2898_non_conforming.session.zip](https://github.com/visit-dav/visit/files/2943182/2898_non_conforming.session.zip)
[2898_non_conforming.silo.zip](https://github.com/v

[2019-03-07 20:22] markcmiller86 commented on #17737
![2898_non_coforming_plots](https://user-images.githubusercontent.com/5720676/53986661-aa3e5680-40d3-11e9-9899-31feda86650c.jpg)
[2898_non_conforming.C.zip](https://github.com/visit-dav/visit/files/2943180/2898_non_conforming.C.zip)
[2898_non_conforming.session.zip](https://github.com/visit-dav/visit/files/2943182/2898_non_conforming.session.zip)
[2898_non_conforming.silo.zip](https://github.com/v

[2019-03-07 23:30] brugger1 opened #3316 "Bug with ray casting compositing volume plot."
Christian Cardall (christian.cardall@gmail.com) reported the bug. Here is his e-mail:

Volume plots with the "Ray Casting: compositing" Renderer Options seem to be different in 2.10.3 (better) vs. 2.13.3 (worse). It seems something has changed with the opacity; see attachments generated from the same session file. What has changed?

Thanks,
Christian Cardall

[2019-03-07 23:35] brugger1 commented on #3316
Here are images in 2.10.3 and 2.13.3.

![volumeplot_2 13 3_small](https://user-images.githubusercontent.com/1102718/53996742-791f4f80-40ee-11e9-946d-94573ad28ef7.png)
![volumeplot_2 10 3_small](https://user-images.githubusercontent.com/1102718/53996743-791f4f80-40ee-11e9-8564-9f72a6529eb0.png)

[2019-03-07 23:56] biagas commented on #3290
We should probably add tests that utilize RayCastingSLIVR

[2019-03-08 18:29] brugger1 opened #3317 "Minor bug in French interface"
Olivier Cessenat (cessenat@free.fr) reported the following bug.

Dear Developers,

A very minor bug in the French GUI for the File Menu : there misses « Set Save Options » still accessible through keyboard Shift+Command+O, I join screen copies.

Thanks a lot,

Olivier Cessenat.

[2019-03-08 18:30] brugger1 commented on #3317
Here are the images from Olivier.
![image](https://user-images.githubusercontent.com/1102718/54047872-19c44c80-418d-11e9-98f2-f317026e026c.png)
![image](https://user-images.githubusercontent.com/1102718/54047909-2ea0e000-418d-11e9-8dc6-216572881a4d.png)

[2019-03-08 23:58] #3316 closed, assigned to brugger1

[2019-03-12 23:03] markcmiller86 opened #3322 "improve bounding box queue for other coord systems"
Transform operator supports coordinate transforms. For example cylindrical (in database) to cartesian (VisIt internal) or spherical (in database) to cartesian (VisIt internal). However, once you do that, the bounding  box visual queue axis tick marks, labels, etc. aren't all that useful.

I suggest the following feature enhancement...

- add option to annotation object to support cylindrical and s

[2019-03-13 15:31] markcmiller86 opened #3324 "Reverse CLI Docs generation mechanism .rst==>MethodDoc.C"
We currently manage CLI docs by composing in Python strings in ``MethodDoc.C`` and then generating the ``.rst`` files from that.

We agreed we need to reverse this...compose in ``.rst`` and generate ``MethodDoc.C``.

Best way to proceed is to
* clean up existing generated ``.rst`` files so that they make sense in structure from the point of view of manual composition as well as decomposition into

[2019-03-13 15:47] markcmiller86 commented on #3322
![Untitled](https://user-images.githubusercontent.com/5720676/54293080-8748f200-456c-11e9-8a8b-76f8b27d48db.png)

[2019-03-13 22:37] aowen87 opened #3325 "Mesh plot doesn't display VTK_LINE"
For some reason, the mesh plot doesn't display VTK_LINE types when they are mixed with other cell types (they do display when not mixed with other cell types).

Other strange things I noticed:
1. Other plot types do display the lines (pseudocolor, material, etc.)
2. When using multi-proccessor data, I've seen cases where _some_ of the lines will be displayed.

I created a very simple toy dataset f

[2019-03-14 16:34] brugger1 commented on #3256
Maybe allow specifying the terminal type through the command line or an environment variable.

[2019-03-14 16:35] brugger1 commented on #3261
We should modify build_visit to strip out optimization logic when setting VISIT_CXX_FLAGS in the config site file.

[2019-03-14 16:58] brugger1 commented on #3214
This is how the attribute window operate.

[2019-03-14 16:58] #3214 closed, assigned to nobody

[2019-03-14 17:03] aowen87 commented on #3325
It looks like this issue does not occur in version 2.13.3. It may be specific to 3.0

[2019-03-14 17:53] biagas commented on #3264
It was asked during our project meeting whether or not using command-recording would show the correct defaults to use with the cli.  The answer is NO.

I duplicated in the gui, TestUCD from onionpeel.py, which uses the default attributes for OnionPeel. When it was time to add the onion peel operator I turned on command recording.  It only recorded 'AddOperator("OnionPeel")', since  no atts were ch

[2019-03-14 19:57] #3261 closed, assigned to biagas

[2019-03-14 23:02] markcmiller86 commented on #3208
@biagas didn't you already do this?

[2019-03-14 23:15] markcmiller86 commented on #1940
duplicate of #1941

[2019-03-14 23:15] #1940 closed

[2019-03-15 09:02] markcmiller86 commented on #120
reduced likelihood and impact because wizard takes care of this issue.

@BradWhitlock ... should we close?

[2019-03-15 16:02] biagas commented on #3208
Work done with this commit:
https://github.com/visit-dav/visit/commit/f9e0c182de21662844ca58e8a82ae2052daae1f9

[2019-03-15 16:02] #3208 closed, assigned to nobody

[2019-03-15 18:18] markcmiller86 commented on #3322
![Untitled](https://user-images.githubusercontent.com/5720676/54453171-00367e00-4714-11e9-8cb3-a61420591cd7.png)
Another attempt at suggesting how to do this. I looked on line for some refs. Couldn't find any tools that do vis. of the coordinate *axes*

[2019-03-15 18:28] markcmiller86 commented on #3324
One case of this already aware of is *enumerated* values documented in tables for attribute objects. See [AnnotationAttributes](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/attributes.html#annotation-annotationattributes) for example. Look at how the ``tickLocation`` and ``tickAxes`` members are handled. Each enumerated value appears as a row in the table in *italic

[2019-03-15 18:33] biagas commented on #3309
Resolved by: https://github.com/visit-dav/visit/commit/c66488e1bdd034c4b0fc252c955603b1c77e273a

[2019-03-15 18:33] #3309 closed, assigned to biagas

[2019-03-15 18:38] markcmiller86 commented on #3324
If it isn't clear what motivates this...once we throw the switch and go ``.rst``==>``MethodDoc.C`` generation mode, any future changes to ``.rst`` files will be by-hand, manual work. So, its best if we do a little more work on the current ``MethodDoc.C``==>``.rst`` conversion script to ensure the result is as sane a ``.rst`` format as we'd expect if we had written it by hand. For example, another

[2019-03-15 20:49] brugger1 opened #3329 "Add ability to specify output precision when exporting data in Xmdv format."
I user exported a file in Xmdv format and then noticed that the data was written out as:

0.0000000000000000e+00

He said that makes the file very large and he doesn't need that much precision.

Seems reasonable to allow the user to control the precision or write format of the data to the file. We could probably do this for any file exports that involve writing floating point values as text.

Here

[2019-03-15 20:54] markcmiller86 commented on #3329
Looks like Xmdv is an ASCII plugin. As such, I think this issue should be considered in context of #34

[2019-03-16 02:50] #3292 closed, assigned to biagas

[2019-03-18 01:52] griffin28 opened #3331 "Fix qwt rpath to not link to a dynamic library outside of the app bundle for OSX"
Gatekeeper verifies libraries loaded from outside an application bundle. If an app uses rpath or an absolute path to link to a dynamic library outside of the app, the app will be rejected by Gatekeeper.

Neither the code sign nor the spctl tools will show this error. The error will only appear in the system log.

[2019-03-18 01:52] griffin28 commented on #3331
![image](https://user-images.githubusercontent.com/26772741/54502039-d765e280-48e5-11e9-9f75-39ad1597d8c1.png)

[2019-03-18 16:41] aowen87 commented on #3216
Netcdf also suffers from this issue.

[2019-03-18 20:10] aowen87 commented on #3216
This also occurs with Nek5000. When exporting from Lata, the time is correct, but the cycle is not. The issue seems to only occur when export single domain data to silo; multi-domain data is exported with the correct times and cycles.

[2019-03-18 20:14] markcmiller86 commented on #3216
The Silo library itself has some oddities as far as this issue goes. It is probably the case that the writer in VisIt is not setting ``DBOPT_CYCLE``, ``DBOPT_TIME`` and ``DBOPT_DTIME`` in ``avtSiloWriter.C`` for all the required code paths through the writer and/or for all the file(s) the writer produces.

[2019-03-18 22:41] aowen87 commented on #3216
It looks like they were being set, but there was a case where they were being given references to local variables that later went out of scope. It looks like you had made them static at some point in the past, which may have resolved this then, but it no longer seems to solve the issue. Using class variables fixes it.

[2019-03-18 22:42] markcmiller86 commented on #3216
Oh sheesh. Great catch Alister! Yeah, that interface to Silo library has a lot to be desired. Thanks for fixing VisIt's writer.

[2019-03-18 22:42] aowen87 commented on #3216
No problem!

[2019-03-19 16:30] aowen87 commented on #3216
This was fixed in pull request "Fixing silo writer bug #3334".

[2019-03-19 16:30] #3216 closed, assigned to aowen87

[2019-03-19 17:41] aowen87 opened #3335 "Default volume renderer opacity variable"
The ability to change the opacity variable in the default volume renderer isn't yet implemented.

[2019-03-19 23:34] markcmiller86 opened #3337 "Support some new GL modalities"
We can't run remote Visit and display back to Windows systems running any X server due to GL issues. Its concievable recent work by @brugger1, @cyrush, @biagas addressing a number of funkinesses w.r.t. bulding GL may have actually fixed this problem entirely. We need to test the latest 3.0 running remotely and displaying back to a Windows system with an X server.

Failing that, we have two additio

[2019-03-20 16:49] rusu24edward commented on #3274
For the 4th point, instead of adding (autoscaled), change the tick mark labels to reflect the actual data.

[2019-03-20 18:27] rusu24edward commented on #3255
@markcmiller86 how are you compiling? I'm not seeing the same warnings.

[2019-03-20 19:08] markcmiller86 commented on #3255
Hmm...I see ``/usr/workspace/wsa/`` in the paths, so I think a CZ system. Probably surface. This would have been back in December, 2018.

[2019-03-20 23:38] markcmiller86 commented on #3274
From @brugger1 ...

---
I looked over the code and the class that displays the axes has the ability to set the label range different from their locations. The class is:

avt/Plotter/vtk/vtkVisItCubeAxesActor.[Ch]

To set the label range use SetRanges. To set the location of the bounding box use SetBounds.

Unfortunately, there is no way to impact that from an operator. We would need to define a pr

[2019-03-20 23:39] markcmiller86 commented on #3274
I agree with @brugger1 ...thats probably a bigger bite than we should chew off right now.

That said, having the operator scale its data by default means users will be seeing values they aren't expecting.

My (perceived simple) solution to that was to adjust the Z axis label to include " (autoscaled)" if auto-scaling kicked in. And, that seems to require some degree of similar actions in the class

[2019-03-20 23:44] rusu24edward commented on #3274
In the pseudocolor legend, the user can see the original values of the data even after elevate has been applied. I think that will help them to interpret the data, despite inconsistencies with the "z axis".

[2019-03-20 23:47] markcmiller86 commented on #3274
Ok, good. I think that mitigates the issue sufficiently that we can get by without even adding the `` "(autoscaled)"`` queue which involves probably largely the same work as the better, tick-marks solution anyways.

[2019-03-21 18:04] rusu24edward opened #3339 "Investigate git lfs issues"
I wanted to bring this to the groups attention in case someone else is experiencing this. I have cloned the repo via ssh. I have added the correct ssh key to my account, and I can interact with the remote just fine (can push and pull and all that). However, if I do anything that involves lfs, I get an error. For example, if I modify some baselines and try to push, I get:

[code]

This error is a l

[2019-03-21 18:15] rusu24edward opened #3340 "Elevate operator scale axis labels"
This ticket is related to #3274.

Elevate now has automatic scaling. If the user is not aware that the data is being scaled, he might be confused if he looks at the "z-axis" tick labels and they don't match what he is expecting. This is partially mitigated by the fact that the pseudocolor legend will still contain the values of the unscaled data. @brugger1 suggested updating the z-tick labels to m

[2019-03-21 18:17] markcmiller86 commented on #3339
Wondering if @tgamblin has ever run into this

[2019-03-21 18:20] #3331 closed, assigned to griffin28

[2019-03-21 21:15] #3274 closed, assigned to rusu24edward

[2019-03-21 21:52] rusu24edward commented on #3255
I recompiled on each of the cz systems I have access to--borax, pascal, quartz, and surface--and I was unable to duplicate this warning.

[2019-03-21 21:53] markcmiller86 commented on #3255
Ok, thanks for diligence. Lets close as unreproducible.

[2019-03-21 21:53] #3255 closed, assigned to rusu24edward

[2019-03-21 22:41] markcmiller86 opened #3344 "Migrating Silo Issues"
Below are the Silo issue number assignments to migrate along with developer names. Each of us gets 25 to move.  To migrate...

1. Enter URL in browser https://github.com/visit-dav/visit/issues/XXX where ``xxx`` is one of your issue numbers. Hit return
1. Find the "Transfer Issue [Beta]" link along the lower right column and follow it
1. That brings up a dialog to chose a repo. Select the ``silo-is

[2019-03-21 23:06] biagas commented on #3344
Done.

[2019-03-21 23:08] biagas commented on #3150
Fixed for 2.13.3 on linux. Decided to postpone for other platforms to other release and create new tickets.

[2019-03-21 23:08] #3150 closed, assigned to biagas

[2019-03-21 23:21] brugger1 commented on #3344
Done.

[2019-03-21 23:40] markcmiller86 commented on #3344
Done

[2019-03-22 15:38] brugger1 commented on #2350
We did this a long time ago.

[2019-03-22 15:38] #2350 closed, assigned to nobody

[2019-03-22 15:43] brugger1 commented on #2497
We did this a long time ago when we upgraded to Qt 5.

[2019-03-22 15:43] #2497 closed, assigned to cyrush

[2019-03-22 15:45] brugger1 commented on #2501
This is no longer a problem.

[2019-03-22 15:45] #2501 closed, assigned to nobody

[2019-03-22 15:47] brugger1 commented on #2502
This is no longer a problem.

[2019-03-22 15:47] #2502 closed, assigned to nobody

[2019-03-22 15:50] brugger1 commented on #2571
This was completed a long time ago.

[2019-03-22 15:50] #2571 closed, assigned to nobody

[2019-03-22 15:55] brugger1 commented on #2732
We did this a long time ago.

[2019-03-22 15:55] #2732 closed, assigned to griffin28

[2019-03-22 16:09] aowen87 commented on #3344
Done

[2019-03-22 16:09] brugger1 commented on #3027
This is complete. We are using Qt 5.10.1 on the develop branch.

[2019-03-22 16:09] #3027 closed, assigned to griffin28

[2019-03-22 17:57] rusu24edward commented on #3344
Sadly, I don't have the ability to transfer. I don't see a transfer link on any tickets.
![Screen Shot 2019-03-22 at 10 55 14 AM](https://user-images.githubusercontent.com/18565891/54843253-32565b80-4c91-11e9-8a75-f9113b7c3394.png)
![Screen Shot 2019-03-22 at 10 55 20 AM](https://user-images.githubusercontent.com/18565891/54843257-34201f00-4c91-11e9-8274-4878dd2b410b.png)

[2019-03-22 18:20] griffin28 commented on #3344
Done

[2019-03-22 18:23] markcmiller86 commented on #3344
@rusu24edward try it now

[2019-03-22 18:25] rusu24edward commented on #3344
Got it now, thanks!

[2019-03-22 18:37] rusu24edward commented on #3344
Done

[2019-03-22 22:33] brugger1 opened #3349 "Add ability to make an operator inactive."
### Is your feature request related to a problem?
Jose Milovich called and requested the ability to make an operator that is applied to a plot inactive. With some operators he has to change a lot of settings and if he deletes the operator then he has to change all those settings again when he adds it back.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [ ] High - User productiv

[2019-03-22 22:39] brugger1 opened #3350 "Add expressions to give access to the crack widths calculated by CracksClipper operator."
### Is your feature request related to a problem?
The CracksClipper operator calculates the crack widths based on some variables. Willy Moss would like to be able to look at those crack widths, possibly generating a histogram of them. He believes it's important to be able to visualize these crack widths.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [X] High - User productivit

[2019-03-22 22:48] brugger1 commented on #3263
I resolved the on 1/11/2019 in subversion. Here is the commit message.

I committed revision 34024 to the trunk with the following change:

1) I corrected a bug in the spec D Cinema output.

M       bin/visitcinema.py

[2019-03-22 22:48] #3263 closed, assigned to brugger1

[2019-03-22 23:32] brugger1 commented on #3060
I believe this is fixed now.
I looked at pressure from wave.silo and it looked like it was using nodal normals. I also looked at curv3d.silo and looked at a u and it also looked like it was using nodal normals. When I looked at d, I could see definite faceting, indicating facet normals, which I expected, but the takeaway was, I think I would have noticed if it was using facet normals.

[2019-03-22 23:32] #3060 closed, assigned to nobody

[2019-03-24 18:07] aowen87 opened #3351 "udata being leaked after DBClose"
Recently, I got complaints that there were massive memory leaks in my implementation of load balancing (a pretty understandable complaint), so I am now going back to fix things. I got most of them, but there is one small memory leak in silo that I am not sure about. In valgrind, we see that the memory leak occurs in silo_hdf5.c 4927, in the function db_hdf5_process_file_options. The line is: if (N

[2019-03-24 18:12] markcmiller86 commented on #3344
Thanks for everyone's help in migrating these! I have taken remaining actions

- transferred silo-issues repo to my personal GitHub account. Will move again when Silo is moved to GitHub
- Removed ``silo`` label from VisIt's issues
- In future, if an issue comes in that is really related to Silo, mention me with action to move it and then close it.

[2019-03-25 16:38] aowen87 opened #3352 "Volume transfer function opacity window wrong"
When volume rendering, you have the option to use a different variable for opacity than for your color/general data. The rendering works fine, but the attributes window for the opacity transfer function does not update when the variable is changed. I've included some screenshots using globe.silo.

In this screenshot, I am rendering variable "speed" and also using "speed" as the opacity variable. T

[2019-03-25 16:41] markcmiller86 commented on #3344
Actually, here is a better sequence if Silo issues come in on VisIt's repo...

1. Mention @markcmiller86 in a comment with request to move the issue
2. Assign the issue to @markcmiller86
3. Close the issue

[2019-03-25 16:41] #3344 closed, assigned to markcmiller86

[2019-03-25 19:56] #3335 closed, assigned to aowen87

[2019-03-25 22:59] aowen87 commented on #3082
There does appear to be an issue with the attenuation in our ray caster. Since the original link is dead, I'll post some screenshots of rect3d to outline the issue.

First, here are a couple of photos from the default renderer's opacity, which seems to behave as expected:
100% attenuation
![Screen Shot 2019-03-25 at 3 53 46 PM](https://user-images.githubusercontent.com/11658578/54959468-760dc700-4

[2019-03-26 18:40] markcmiller86 commented on #3296
That makes some sense to me. OTOH, doesn't building these example files (and the required data generation executables) add unnecessary dependencies to getting a build of VisIt complete? I mean, what if someone is building VisIt and doesn't want/need Silo, won't this strategy wind up forcing them to *require* Silo? I am not sure but I can recall ever being able to build VisIt (via masonry anyways b

[2019-03-26 20:31] brugger1 commented on #3120
This result is from a pseudocolor plot of "d" from curv2d.silo that has been displaced by "vel". This image is rendered in 2D, with presumably no Z buffering. The operator causes cells to be draw over each other, so if the order that they are drawn is different the image could be different. I'm assuming this is the case. It should be investigated to make sure, but it seems like the likelyhood and

[2019-03-26 20:31] brugger1 commented on #3120
![displace_3_0_0b](https://user-images.githubusercontent.com/1102718/55031285-859b1780-4fcb-11e9-996d-6ec4bfd17fa5.png)
![displace_2_13_3](https://user-images.githubusercontent.com/1102718/55031286-859b1780-4fcb-11e9-9627-c00fe7f56c55.png)

[2019-03-26 20:32] brugger1 commented on #3120
The lower image is the old result.

[2019-03-26 21:10] aowen87 opened #3356 "Pick by node label not working"
I was helping Chad debug some of his GrizIt code, and we discovered that PickByNodeLabel is not working.

I've done some further testing since then, and it appears that the query always returns node 1. We actually have a test for this query in our test suite, but the baseline is also incorrect. This may or may not be related, but the "OrignalNodeLabels" does not appear in the labels menu, whereas

[2019-03-26 21:19] cyrush commented on #3296
For that case, we can disable building those examples if silo isn't on, skip putting them in the final package all together.

[2019-03-26 21:34] brugger1 commented on #3079
This is from a filled boundary plot of mili_test_data/m_plot.mili. I have attached before and after images. The top image is the new one. In the old image the layer of green shell elements is completely missing and a layer of yellow shell elements that are behind the 2 layers of hexes are completely visible with no z buffer thrashing. In the new image there is z buffer thrashing with the green she

[2019-03-26 21:57] markcmiller86 commented on #3356
You mean that menu item isn't appearing in the list of available variables for the Label plot menu?

There is code in current Mili plugin that looks for these with `mc_load_conn_labels` (for zones) and `mc_load_node_labels` (for nodes). If the node labels are not appearing, then doesn't it mean the input Mili database doesn't have 'em?

[2019-03-26 22:32] aowen87 commented on #3356
Yeah, that was my first thought as well, and that might be the underlying issue. Chad was under the impression that these labels should always be available in mili because they're just derived from the node ids, though, which could mean that they're either not being retrieved correctly or not being accessed/made available correctly. In instances where these labels aren't available (either in mili

[2019-03-26 22:48] markcmiller86 commented on #3356
Could it be the version of Mili the plugin is linked with? I mean, if the Mili lib isn't responding with node ids when asked, that could also cause the problem.

[2019-03-26 22:53] aowen87 commented on #3356
That's definitely possible. I'll start testing this on the new plugin branch and switch to the latest mili version.

[2019-03-26 22:54] brugger1 commented on #3337
Eric will test if 3.0 beta works with X server on Windows now.

[2019-03-27 19:34] markcmiller86 opened #3359 "Add a map_coloring() expression function"
### Is your feature request related to a problem?
This occasionally comes up. A user wants to have different regions of their mesh colored such that neighboring regions don't accidentally get the same color and then appear to be one region as opposed to two. Ordinarly, there is an integer valued variable defined on the mesh that associates (e.g. _tags_) mesh entities according to which _regions_ t

[2019-03-28 16:23] rusu24edward opened #3362 "Udpate the PR templates to include a PR review requirement"
In the meeting on 03/28/19, we discussed the necessity of reviewers in our PR process and the formality requirement of our PR process. This ticket is here to collect our ideas about the process. After some time (2 weeks maybe), we can consolidate the ideas, discuss, and add them to the PR template.

[2019-03-28 16:49] brugger1 commented on #3205
I'm not sure these are actually invalid. For example, the second one takes an LCS of a vector, which is valid and the result of that should be able to be rendered with a Pseudocolor. Perhaps the LCS operator isn't very robust and is giving bad result with the data. I think we need to investigate whether these are really invalid or are operators that aren't that robust.

[2019-03-28 16:52] brugger1 commented on #3204
We agree that the default should be actual, but from a usability standpoint being able to do it on original is really convenient.

[2019-03-28 16:55] brugger1 commented on #3204
There may be some queries that only have an original option in which case this could be confusing.

[2019-03-28 17:00] brugger1 commented on #3160
This is fine as long as we don't loose the ability to send output to cerr or cout!

[2019-03-28 17:08] aowen87 commented on #3268
After our last meeting, I just realized this is because the pick operator defaults to querying the original data instead of the actual data. I believe @biagas is looking into the reasons that some of our queries only operate on the original data.

[2019-03-28 18:45] markcmiller86 opened #3363 "Change default scaling option for Scatter plot and other operators/plots"
This is similar to #3274 except for Scatter plot. We should probably also audit rest of plots and operators for any other instances of this. In each case, having the *Always*, *Auto*, *Never* options for which mode the scaling is in and having the *default* be *Auto* mode based on aspect ratio is probably a decent choice.  But, we should also take a look at the interface used for the similar featu

[2019-03-28 18:50] markcmiller86 opened #3364 "Audit and Sanitize Plot/Operator defaults"
Folllowing up on @mclarsen suggestion...It is all too often the case that a user can create a plot or apply and operator and get some undesireable behavior; adding slice operator gives plot yielded no data, adding transform follwed by a long execute and nothing changes. Other recent examples in Elevate operator and Scatter plot scaling.

This issue is submitted to request an audit of all plot/oper

[2019-03-28 19:00] markcmiller86 opened #3365 "Can we combine Curve/2D/3D View"
- Why do we have Curve apart from 2D view? These are basically the same and each could probably benefit from some of the properties of the other.
- Why do we insist in 2D/3D views that coordinates need to be such that a unit cube appears as a cube. I mean, that is probably a good default but why can't we have views in which this is not the case? We already support linear and log scaling independen

[2019-03-28 19:05] markcmiller86 commented on #3205
Yeah, I think you are correct. I was interpreting error messages as the whole operation wasn't even valid whereas, it is probably a valid operation and its just that the operator(s) involved aren't handling it correctly.

I changed likelihood and imapct to low because I don't think too many users stray into the bowels of these menus very often

[2019-03-28 20:46] brugger1 commented on #3081
I investigated this and the sphere glyphs are definitely shaded, just differently, also they are a different size. The verticle line artifact is only present in a 300x300 saved image, it is missing when it is 1024x1024. Here is the script I used and the images. The images are from 2.13.3 and 3.0.0b. The top one is 3.0.0b.

![openfoam_3_0_0b](https://user-images.githubusercontent.com/1102718/551915

[2019-03-28 21:07] brugger1 commented on #3101
The vector stems are in fact not shaded. I think the current results are actually better than before as shown in the images below. The top image is 3.0.0b

![vector_3 0 0b](https://user-images.githubusercontent.com/1102718/55192873-d1cc9000-5162-11e9-92f8-16e754d507ba.png)
![vector_2_13_3](https://user-images.githubusercontent.com/1102718/55192874-d1cc9000-5162-11e9-91d8-b8fff12bcb9d.png)

The scr

[2019-03-28 22:05] brugger1 commented on #3102
I noticed a couple of differences. In 2.13.3, the height was a % of the window height, with the default 2% being 0.02 in the cli. In 3.0, the height was a scale with the default 4 and 0.04 in the cli. The scale actually looks to be about the % of the window height, but the default was upped to 4 from 2 (which I like). I find scale of 4 being specified as 0.04 confusing. I personally like % of wind

[2019-03-28 22:08] markcmiller86 commented on #3362
Taking a break from hack-a-thon...

There are many considerations.

- Reviews take additional time but can often *prevent* bugs from getting into the code.
- A key thing about bugs is that the sooner they are caught in development processes the less costly they are (where *cost* is measured over the *entire* population of stakeholders and not just development team).
- Reviewers don't always have s

[2019-03-28 22:09] brugger1 commented on #3103
This is definitely being handled better in 2.13.3. Here are the images from 2.13.3 and 3.0.0b. The top is 3.0.0b. The extra labels are along the axis of the globe, they are coming from faces interior to the globe along the axis of rotation.

![label_3_0_0b](https://user-images.githubusercontent.com/1102718/55195946-46a3c800-516b-11e9-95aa-7d71f59e3f99.png)
![label_2_13_3](https://user-images.githu

[2019-03-28 22:30] brugger1 commented on #3113
simulation/mesh.py actually passes now. simulation/{scalar.py,unstructured.py,var.py} are still in the skip list and scalar.py still crashes. I didn't try the other 2.

[2019-03-28 22:49] brugger1 commented on #3114
Comparing 2.13.3 and 3.0.0b, the shadows are definitely missing. Here are the before and after images. The top image is 3.0.0b.

![compositing_3_0_0b](https://user-images.githubusercontent.com/1102718/55197801-ddbf4e80-5170-11e9-8c2f-6776934b13d7.png)
![compositing_2_13_3](https://user-images.githubusercontent.com/1102718/55197802-ddbf4e80-5170-11e9-9553-eb4c78a8c04a.png)

The script to reproduce

[2019-03-28 22:57] brugger1 commented on #3115
scalable.py and scalable_c.py hang in serial. I didn't try parallel.

[2019-03-28 23:22] brugger1 commented on #3116
Comparing point rendering with spheres in the mesh plot and I assume elsewhere, the spheres are sized in pixels in 2.13.3 and as a size in object space in 3.0.0b. This is probably ok and the GUI has been changed to reflect that difference. In the cli in 2.13.3 the size is from pointSizePixels and in 3.0.0b is from pointSize. Here are before and after pictures. 3.0.0b is on top. Note that for the i

[2019-03-29 15:10] brugger1 commented on #3117
I think the changes in the volume plot are as expected. I think the lighting in the default volume rendering method is a bit harsh. There are controls for ambient, diffuse, specular and shinines but they are grayed out with the default method. Here are some images from noise.silo with the default rendering and with OSPRAY. The lighting in the OSPRAY image is a lot more pleasing. The top image is t

[2019-03-29 15:51] brugger1 commented on #3121
The lines definitely don't look as good with 3.0.0b as compared to 2.13.3, but this is a pretty extreme case. If you look at it more head on the lines look fine. So perhaps this isn't that critical. Here are the images for 2.13.3 and 3.0.0b. The top image is 3.0.0b.

![mesh_3_0_0b](https://user-images.githubusercontent.com/1102718/55245136-cb402600-51ff-11e9-8dce-e542cafa3725.png)
![mesh_2_13_3](h

[2019-03-29 18:24] brugger1 commented on #3122
The image differences were from rendering differences. I did find a bug though, the third image generated has all the points 1 pixel in size and they should be 2 pixels in size. I also ran it through the GUI, cutting and pasting from the script below and when I got to the third image, I had 2 pseudocolor plots in window 2 and I couldn't change the point representation, not the size of glyph. I cou

[2019-03-29 19:14] brugger1 commented on #3124
I believe the white halo seen in those images is because the text is antialiased, so some of the pixels are transparent and on some processors the background is white instead of the color from the subset plot. The way to fix this would be to render all the other plots first, composite and then render the text. This could still result in some artifacts, but it would be much much better.

I noticed

[2019-03-29 19:19] brugger1 commented on #3148
This is still an error. Looking at the comments in the text it looks like the pixie reader partitions the mesh for parallel and adds ghost zones and my guess is that the dark thick line down the center of the data is from the ghost zones not being handled properly.

[2019-03-29 19:51] brugger1 commented on #3240
I didn't see any thick mesh lines, but I saw some extra mesh lines and I believe it is because a face of the cube is missing in 3.0.0b. I rotated it around and 5 of the 6 sides are present. Here are the images from 2.13.3 and 3.0.0b. The image from 3.0.0b is on top.

![obj_3_0_0b](https://user-images.githubusercontent.com/1102718/55258863-5382f300-5221-11e9-99a7-de9a2391e835.png)
![obj_2_13_3](htt

[2019-03-29 19:53] markcmiller86 commented on #3240
I suspect the thick mesh lines I am (still) seeing are related to X windows issues. When I kill and restart my X server on OSX, I get different behavior. It seems like aliasing can get turne on somehow but this behavior is intermittent and the same X server execution instance will vary in behavior from run to run. Might be ok to reject/close this.

[2019-03-29 20:43] brugger1 commented on #3119
I looked into this with 3.0.0b, I would need to build 2.13.3 with all the database plugins since the test requires the PICS_tester reader, which is built into our released versions since it is only for testing. Looking at the test results, I see a line width 1 loop, which seems correct to me. We would need to compare to 2.13.3 to make sure. Below are the 2 images generated by the script with 3.0.0

[2019-03-29 23:50] cyrush commented on #3067
From several google searches, all roads lead to changing the Info.plist to have the following key:
[code]

The problem is: *we are already doing this* and we have been doing this for years.

The plist settings is a macOS thing, it seems Qt4 or Qt5 should not matter, the strategy should still work. However we clearly have an issue with Qt5.

https://stackoverflow.com/questions/39261176/how-can-i-st

[2019-03-30 00:16] biagas commented on #3325
In working through some things, I noticed that the Edge operator suffers from the same problem.
(It uses vtkExtractEdges, which doesn't consider VTK_LINE primitives to have edges).
Open LINE_BOX.vtk, create a Pseudocolor plot and add the Edge operator.

[2019-04-01 17:18] biagas opened #3366 "Should Edge operator show similar results as Mesh plot?"
### Describe the bug
If I plot a Pseudocolor plot of Globe, and add the Edge operator, the edges shown differ from the Mesh Plot.  I'm wondering if they should be the same?

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - U

[2019-04-01 19:15] brugger1 commented on #3124
Operator error on part of what I wrote above. I was setting "restrictNumberOfLabels" not "numberOfLabels". Once I made that change, I was getting the number of labels I was expecting. The performance is still hideous, with 10000 labels it still takes several seconds for an image to render (and of course the actual number of labels in the image was much less than that).

[2019-04-01 20:45] markcmiller86 commented on #3366
Some observations.
* Why is PC plot w/Edge operator opaque (e.g. lacking any faces)? I guess 'cause the Edge operator is applied? Edge operator appears to have the effect of turning plot non-opaque. That kinda sorta makes sense but maybe not as an argument could be made that it should display the faces (unshaded and in background color) so that the PC plot with Edge operator still appears like an

[2019-04-01 21:01] biagas commented on #3366
- re first observation: yes edge operator removes faces. it returns edges
- re second observation:  turning off opaque mode for mesh plot does not always show internal edges, look at non-opaque mesh plot of rect3d for example.
- re third observation: The operator was added ages ago, so I can only surmise from its behavior that it was designed to return, as you say, edges of external faces.  The fa

[2019-04-01 22:14] biagas opened #3367 "exodus data + pc plot of ElementBlock + -dump crashes engine"
### Describe the bug
Engine crashes with -dump while plotting Pseudocolor plot of kassbohm1.exo ElementBlock var.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [x] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User produc

[2019-04-02 01:26] markcmiller86 commented on #3366
Ok, so even though I've never questioned it before, now you've got me wondering why we *do* see those internal edges in the **Mesh** plot of `globe.silo`? For a moment, I was thinking that maybe the zonelist for the mesh in `globe.silo` has got discontinous connnectivity where nodes along the boundaries between materials are duplicated. However, if that were true, then a NumNodes query with *just*

[2019-04-02 15:08] brugger1 commented on #3366
Yes, those internal surfaces are indeed material boundaries. You see them in globe.silo because those only have clean zones, so we are generating material boundaries. In the case of rect3d.silo, we have mixed material zones and so we are not generating material boundaries. It is a bit inconsistent. For consistency, I believe we would need to do material interface reconstruction in the mixed materi

[2019-04-02 15:15] markcmiller86 commented on #3366
Well, another way to go is to NOT do MIR for the clean case. I assume this winds up impacting multiple other plots and operatos though. So, we automatically do MIR for clean case because its computationally easy (both the algorithm and the result -- there are no params needed to control it) but don't do MIR in the mixed case?

[2019-04-02 15:42] markcmiller86 opened #3368 "Can VisIt remain agnostic to inter-system two-factor authentication?"
Two factor authentication means different things to different agencies. At LLNL, two-factor screen logins require badge-dip+PIN whereas two-factor inter-system logins require password+token-code.

When VisIt runs client/server, it is doing an inter-system login and process launch on behalf of the user. Does VisIt need to be cognizant of variations two-factor might imply?

I don't know but an email

[2019-04-02 15:46] markcmiller86 commented on #3368
Attaching here pic of user instructions using Duo and two-factor to login in. It looks like this ssh interaction involves multiple prompts now. Is that our problem or theres?

![Untitled](https://user-images.githubusercontent.com/5720676/55416505-bd521400-5523-11e9-91d3-13befca5882f.png)

[2019-04-02 15:49] biagas commented on #3366
Are your sure its MIR?  When I run with -dump, it indicates that avtFacelistFilter is applied before avtMeshFilter (for Mesh Plot), whereas for the Pseudocolor-Edge plot, the facelist filter is applied after the Edge filter.

[2019-04-02 17:28] brugger1 commented on #3366
Hi Kathleen,

Yes, you are correct, it’s the facelist filter picking out the material boundaries. We could something similar with MIR and always use it to pick out material boundaries but don’t because it is somewhat expensive to do and probably even more so, turns the mesh from structured to unstructured, which is a memory blow up and makes subsequent operations more expensive as well.

Eric

Fro

[2019-04-02 17:36] markcmiller86 commented on #1903
Changing min/max has no effect either. I think somehow Histogram attributes are not getting updated correctly. Clearing the plot and re-drawing produces the intended outcome. I removed the reviewed label to be sure we re-discuss this.

[2019-04-02 22:17] brugger1 commented on #3300
This is a duplicate of #3235.

[2019-04-02 22:19] brugger1 commented on #3235
This is a duplicate.

[2019-04-02 22:19] #3235 closed, assigned to nobody

[2019-04-02 22:44] brugger1 commented on #3116
We decided that the only thing to do here is update the documentation.

[2019-04-02 22:49] brugger1 commented on #3112
I don't think this is an issue.

[2019-04-02 22:49] #3112 closed, assigned to brugger1

[2019-04-02 22:50] markcmiller86 opened #3369 "Review test suite skip list"
For various reasons, we maintain a list of tests that we skip. That list has grown with time and we should revist the whole set of tests we are skipping by removing all from the skip list, evaluating the failures, etc. and then re-populating the skip list as needed and/or create issues for items there to be fixed.

[2019-04-02 23:04] brugger1 commented on #3101
We like the new behavior better so we are closing.

[2019-04-02 23:04] #3101 closed, assigned to biagas

[2019-04-02 23:09] aowen87 opened #3370 "Mili plugin re-write (alpha)"
This is a reminder ticket to track the alpha version of the mili plugin re-write. Everything needed for the GrizIt alpha release should be completed.

Things left to do:

- ~~Defer label creation until asked for~~

- ~~Plot shared elements together~~

- Update VisIt's mili version (need new version from Kevin)

- ~~Inspect integration points~~

[2019-04-03 04:24] #3298 closed, assigned to griffin28

[2019-04-03 16:48] aowen87 commented on #3356
As a workaround for GrizIt alpha, I'm going to convert the label pick to a node id pick in the GrizIt picker module. The node labels are really just the "node" followed by it's id.

[2019-04-03 16:55] markcmiller86 commented on #3356
@ChadCooper67 can you comment on this?

[2019-04-03 20:03] markcmiller86 commented on #1903
Added impact-medium because when this happens a) it is trivial to fix by forcing plot re-gen but b) most user's won't know to do this or how.

[2019-04-04 00:28] biagas commented on #2918
I have a fix for the Mesh Plot to render points when using the non-glyph mapper.

However, having the topological dim set to 0, and using the glyph mapper would allow the extra glyph types, so I think that part should still be handled.

My fix will only be for 3.0.

[2019-04-04 15:04] #3325 closed, assigned to biagas

[2019-04-04 16:06] brugger1 commented on #3081
The line artifact is probably because that is where the endcap starts. The shading differences are ok.

[2019-04-04 16:06] #3081 closed, assigned to nobody

[2019-04-04 16:23] brugger1 commented on #3369
For any items that we can't remove from the skip list, we should remove the test and file a ticket. That will clean up the list, but we won't lose track of real bugs.

[2019-04-04 16:26] brugger1 commented on #3368
The user that motivated this ticket was able to get VisIt working, so we'll close this and if it comes up again we can enter a new ticket or resurrect this one.

[2019-04-04 16:26] #3368 closed, assigned to nobody

[2019-04-04 16:35] brugger1 commented on #3074
Kathleen believes she fixed this for the 3164 ticket mentioned (Note that is a redmine ticket, we should find out what the corresponding github ticket is). Kevin will test if this is fixed.

[2019-04-04 16:37] rusu24edward commented on #3074
Corresponding ticket is #3150

[2019-04-04 16:38] brugger1 commented on #3059
Kathleen should verify if this is still happening and get more information about the context of where it is happening.

[2019-04-04 16:43] brugger1 commented on #3053
This may be related to the cinema-C spec ticket.

[2019-04-04 16:46] rusu24edward commented on #3038
@markcmiller86 we think this is a silo ticket

[2019-04-04 16:46] #3038 closed, assigned to markcmiller86

[2019-04-04 16:49] brugger1 commented on #2877
Eric should improve this bug report to be more than just the subject line. :(

[2019-04-04 16:55] brugger1 commented on #2784
This is a Silo ticket @markcmiller86 .

[2019-04-04 16:56] brugger1 commented on #2751
This is a Silo ticket @markcmiller86 .

[2019-04-04 17:26] markcmiller86 commented on #2751
I've copied to the silo-issues repo

[2019-04-04 17:27] markcmiller86 commented on #2784
I've added to silo-issues repo

[2019-04-04 17:27] #2784 closed, assigned to markcmiller86

[2019-04-04 17:32] brugger1 commented on #1404
This is a silo ticket @markcmiller86 .

[2019-04-04 17:34] brugger1 commented on #866
This is a silo ticket @markcmiller86 .

[2019-04-04 17:35] brugger1 commented on #852
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 17:36] brugger1 commented on #844
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 17:38] brugger1 commented on #473
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 17:39] brugger1 commented on #599
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 17:40] brugger1 commented on #607
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 17:40] brugger1 commented on #615
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 17:41] brugger1 commented on #1993
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 17:42] mclarsen opened #3375 "VisIt 3.0 logo competition: Submit your design now!"
We seeking submissions for an updated VisIt logo. The ideal logo submission should be design that can fit on a sticker / tshirt.

- Who can participate: anyone
- How to enter: attach an image to this issue. Image could be something professional looking(photoshop) or something you drew on the back of a napkin
- Deadline for submissions: 3/26/19
- Reward: fame and glory

For choosing a winner, I sug

[2019-04-04 17:44] brugger1 commented on #2256
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 17:44] brugger1 commented on #2306
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 17:45] brugger1 commented on #2490
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 17:46] brugger1 commented on #2554
I believe this is a silo ticket @markcmiller86 .