[2021-01-15 23:31] markcmiller86 commented on #5390
Also, can you use the `avtGhostZone` filter to remove the ghost zones?

[2021-01-15 23:35] brugger1 commented on #5390
Your work-around is the solution I came up with. Seems pretty complicated, but it should work. I believe I've done that in the past.

[2021-01-15 23:35] brugger1 commented on #5390
I assume your talking about the Inverse Ghost Zone operator. I checked it and didn't see an option to do that.

[2021-01-15 23:39] markcmiller86 commented on #5390
Yeah, that is what I meant. Ok, so that operator allows us to turn `ON` cells that would otherwise not be visible, right? I guess it doesn't allow us to wholly remove them though.

[2021-01-19 18:33] brugger1 opened #12300 "Plot manipulation"
Hi All,

I have the following question. Imagine a 2D pseudo color plot of F(x,y) defined in a rectangular domain [(x_min, x_max) X (y_min, y_max)]. Assume for simplicity that x_min = 0, x_max = 100, y_min = -50, y_max = 50, and the mesh has 100 points in each direction. I would like to do the following:
1. Perform a shift in y-direction, so that the new function is G(x,y) = F(x, y-50) and the new

[2021-01-19 18:39] brugger1 commented on #12300
Hi Vasily,

You can do what you describe by using the Transform operator, Box operator and then having the Pseudocolor plot use the current limits.

1) Create your pseudocolor plot.
2) Add the "Transform" operator.
3) Set the attributes to translate by 50. in the y direction.
4) Add the "Box" operator.
5) Set the attributes to 20 - 80 in the X direction, 10 - 20 in the y direction.
6) Set the data

[2021-01-19 19:37] biagas opened #5391 "enhance build_visit for 'develop' builds"
### Is your feature request related to a problem?
Running build_visit from develop downloads TP libs from releases via
https://github.com/visit-dav/third-party/releases/download

In some cases the third-party libs may not yet exist in a release, and downloads may fail.

### Describe the solution you'd like.
Could we enhance build_visit allowing perhaps a '-develop' option that will look for TP lib

[2021-01-19 20:46] brugger1 commented on #12300
Hi Eric,

Thank you for help, it does exactly what I need! The only question that I have is how to do all these steps in the Python script. I always use Python because it usually takes a lot of manipulations when I prepare a plot for publication. It is always easier to prepare all the commands once and then just run them when needed. A standard way how I get the Python code is by running "Record"

[2021-01-19 20:47] brugger1 commented on #12300
Hi Vasily,

That is the best way to go about figuring out what commands to use. The code VisIt spits out is way more verbose than necessary. For example, for all the setting shown in your output, the only ones you would need are:

TransformAtts = TransformAttributes()
TransformAtts.doTranslate = 1
TransformAtts.translateX = 0
TransformAtts.translateY = 0.11
TransformAtts.translateZ = 0
SetOperator

[2021-01-19 21:29] biagas commented on #5391
Since the build_visit module already knows if it's being run from develop, here's a couple of patches that should do the trick:

[code]

[code]

[2021-01-19 23:10] rusu24edward commented on #5334
[Here](https://forum.qt.io/topic/3247/signal-slot-question/13) is a similar issue, and the suggested solution is: "At the QT-designer, you should change the "focusPolicy" property of the push-button to "StrongFocus". Now the widget accepts focus by both tabbing and clicking. When you edit the line-edit, and then click the push-button, the "editingFinished" is emitted first."

[2021-01-19 23:11] griffin28 opened #5392 "Failed Silo opens of HDF5 files leave file open -- Update to Silo lib needed"
### Describe the bug
I have some FLASH data of a Tidal Disruption Event (TDE) from UCSC and tried to use VisIt's FLASH file format reader to open it without success.

Currently reaching out to the researchers to get permission to share a timestep of their data.

### To Reproduce
Steps to reproduce the behavior. For example:
1. Download attached FLASH HDF5 data
2. Try to open it with the FLASH file

[2021-01-20 00:40] brugger1 commented on #5387
Cyrus asked a good question. Why is this only done in the VISIT_ENGINE_ONLY and VISIT_SERVER_COMPONENTS_ONLY case?

[2021-01-20 00:49] markcmiller86 commented on #5390
Another thing to consider is whether we should just adopt, by fiat, a new approach to handling *internal* variables like this in VisIt and just always *export* them to somewhere in metadata so that they are always avaiable to a user without them either waiting for a developer to create an expression function that does this or having to write an expression that exports it.

Having said that, if we

[2021-01-20 06:56] markcmiller86 commented on #5374
I've encountered issues developing VisIt while I maintain multiple separate build dirs from a single clone of the repo, one for `develop` and one for the current rc branch (`3.1RC` when I wrote this). Whenever I do operations in the one and only git clone I have that modifies the branch (e.g. while in the `3.1RC` or a child branch of it I switch to `develop` and then back) whenever I type `make` i

[2021-01-20 06:56] #5374 closed, assigned to nobody

[2021-01-20 14:41] biagas commented on #5387
In /src/tools/data/CMakeLists.txt there is an entry to add the DataManualExamples:

if(VISIT_ENABLE_DATA_MANUAL_EXAMPLES)
    add_subdirectory(DataManualExamples)
endif()

 /src/tools/CMakeLists.txt adds the data directory unconditionally.

The Simulations dir is added by tools/data/DataManualExamples/CMakeLists.txt

So is the entry in root CMakeLists.txt just a duplicate that happened during the

[2021-01-20 14:55] biagas commented on #5391
Choosing either only the dev location or release location doesn't work.
There are tarballs used by build_visit that exist is releases but not in our master third-party repo. Why is that?
(CMake-3.14.7, Python-3.7.7 for a couple of examples).

Perhaps test one location, then the other if the first fails?

[2021-01-20 19:30] rusu24edward opened #5393 "Remap Operator Enhancements"
The Remap operator can currently remap cell-centered scalar variables from structured and unstructured meshes with multiple domains onto a rectilinear mesh in parallel. It does this by clipping each cell in the original mesh against the cells of the output rectilinear mesh, calculating the (weighted) variable value in the clipped cell, and then performing a (weighted) sum of the clipped cells into

[2021-01-20 19:50] biagas commented on #5389
VTK-9 changed how unstructured grids cell connectivity is handled. This paraview-exported file has CELL_OFFSETS and connectivity arrays listed for the CELLS structure which isn't understood by our VTK-8 based reader as @brugger1 mentioned.
This file can be read by my branch handling the VTK-9 port.

[2021-01-20 20:00] brugger1 commented on #5383
@cyrush, @biagas I built the new third party libraries on quartz and built VisIt against it and ran the test suite and got quite a few failures.

- There are a few random one off failures that need investigation
- There were several failures with query output tests where a dictionary was output and it looks like things were reordered in the dictionary. Those may be rebaselines is that is expected,

[2021-01-20 20:17] biagas commented on #5383
Sounds like what I saw. You can give me the html output, I am willing to take a look at the results.
@cyrush, have the sim tests been passed through the py2to3 filter? Do the sim swig files need updating?

[2021-01-20 20:30] brugger1 commented on #5383
@biagas, @cyrush I gave you both the test results on the CZ.

[2021-01-20 20:37] biagas commented on #5383
Thanks @brugger1.
I would say that the dictionary output is now sorted by key. Makes confirming the new pick results a bit challenging.
Overall I think the movie and sim tests are the big issues.

[2021-01-20 20:38] biagas commented on #5383
@brugger1, is there a log file of test output that I can have?

[2021-01-20 20:45] brugger1 commented on #5383
@biagas, @cyrush I gave both of you the log files on the CZ.

[2021-01-20 21:10] biagas commented on #5383
Thanks, that wasn't what I was looking for. I'm thinking of a log file that captures all the test output. I generate one when I run the tests, but I also use '--lessverbose' to capture more output.

[2021-01-20 21:16] biagas commented on #5383
Here's the error output I saw on my run for cinema test:

[code]

[2021-01-20 21:18] biagas commented on #5383
movie.py is missing () around a print statement that it writes out to a script file. line 99 on the develop version of the file.

[2021-01-20 21:21] biagas commented on #5383
tests/hybrid/py_expr_script_00.vpe line 37 uses 'xrange', should be just 'range' ?

[2021-01-20 21:36] biagas commented on #5383
I'm making mods to scripts as I find the problems and if I know the fix. Shall I give them to you @brugger1? As I finish each one, or when I have worked through as many as I can?

[2021-01-20 21:45] cyrush commented on #5383
Sounds like there is more work to do.

This is one of the down sides of having to turn on several flags to get to the same config that we test ☹

I really wish more things defaulted to on.

-Cyrus

From: Kathleen Biagas <notifications@github.com>
Reply-To: visit-dav/visit <reply@reply.github.com>
Date: Wednesday, January 20, 2021 at 1:10 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Cyrus

[2021-01-20 21:47] brugger1 commented on #5383
You can give them to me when you have worked through as many as you can.

[2021-01-20 22:02] biagas commented on #5383
@cyrush, how should this line in makemovie.py line 292 be fixed?
The error message is
TypeError: can only concatenate str (not "bytes") to str
[code]
Does the os.read part just get wrapped in str() ?

[2021-01-20 22:13] markcmiller86 commented on #5383
That would certainly fix the error as in...

[code]

[2021-01-20 22:16] biagas commented on #5383
Thanks @markcmiller86. That's what I did. Now the movie test is hanging, so there must be another issue somewhere that isn't raising an obvious python3 error.

[2021-01-20 22:33] biagas commented on #5383
@brugger1 I've given you a tarball with changes that fix python 3 errors for py_expr test, cinema-a test, movie test. The movie test hangs for me, but that could be something to do with my pyside-build.  I will look into pluginVsInstall next.

[2021-01-20 23:42] biagas commented on #5383
How would I fix this error (seen in simulation test failures):
[code]

I believe there are a lot of cases like this (attempting to write a string to stdin or some other PIPE) in the sim tests and the sim support in visit_test_main.py

[2021-01-21 00:37] markcmiller86 commented on #5383
Ok, that is the opposite direction of conversion.

Maybe try `self.p.stdin.write(bytes(cmd+"\n"),"utf_8"))` based on...

[code]

[2021-01-21 00:55] biagas commented on #5383
@brugger1  I gave you another file with fixes for pluginVsInstall tests.

[2021-01-21 01:23] biagas commented on #5383
For queries tests:
scf.py
pick.py
conncomp.py
pickNamedArgs.py
queriesOverTime.py

I checked the failing tests (copied current vs baseline results to python3 and performed an equivalence test). They can all be rebaselined.

[2021-01-21 01:25] biagas commented on #5383
@cyrush, can you look into locus.py.
Here's the error message I see:
[code]

[2021-01-21 16:36] biagas commented on #5383
Seems like a lot of extra work to write a simple string :(
Do we always want to use "utf_8"? Any instance where we would want "ascii"?
If default encoding is 'utf_8' does it need to be specified each and every time you want to encode a string as bytes?

I've seen some examples using 'encode' or 'decode' methods on the string.
Which is better?

What about this section of code, looking for a string

[2021-01-21 16:38] cyrush commented on #5383
Are these changes on a branch we can attack together?

For some of these strings vs bytes issues, there are file mode open options that can solve them.
We shouldn't have to do too much manual encode / decode steps.

[2021-01-21 16:48] biagas commented on #5383
if @brugger1 doesn't have one already, I can get one started.

[2021-01-21 17:10] brugger1 commented on #5383
I just pushed the branch. There's not much on it, just the updated config site file. It's

task/brugger1/2020_01_19_upgrade_tpls

[2021-01-21 17:15] biagas commented on #5383
Great! So, do we branch off your branch, or just check it out? I will add some of the fixes I created yesterday that I know work.

[2021-01-21 17:22] brugger1 commented on #5383
I'm not sure. It seems whatever is simpler.

[2021-01-21 17:42] markcmiller86 opened #12301 "Latest CGNS files in VisIt"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

I am using VisIt 3.1.4, and I am not able to read the CGNS files written

[2021-01-21 17:47] markcmiller86 commented on #12301
This may be because CGNS is using a newer version of the HDF5 library than our readers are able to read.

Let us investigate your test data file and confirm.

[2021-01-21 18:00] markcmiller86 commented on #12301
Ok, it isn't an HDF5 issue. The file appears to be an `ADF` file. So, I am wondering if the ADF Database version used is newer than we have in our CGNS lib. We currently use CGNS library version `3.2.1`. What version are you using? Also, do you happen to see/have the option to write `HDF5` files from CGNS instead of `ADF`? If so, maybe try that as a temporary work-around. In meantime, we'll contin

[2021-01-21 18:07] brugger1 commented on #5383
@biagas, have you made any changes. If not, I'll rebaseline the queries tests you mentioned.

[2021-01-21 18:12] biagas commented on #5383
@brugger1  I was waiting for the build to finish so I can verify. Go ahead and rebaseline, and I will commit when you are done.

[2021-01-21 18:42] biagas commented on #5383
I added the fixes for py_exprs, cinema-a and pluginVsInstall tests.
Investigating hang with movie.py

[2021-01-21 18:45] brugger1 commented on #5383
I investigated the databases/ffp.py failure and it was because I didn't copy libstripack.so to build/lib. This is a non-issue.

[2021-01-21 18:47] brugger1 commented on #5383
Looking at databases/FMS.py failure now.

[2021-01-21 19:07] brugger1 commented on #5383
The databases/FMS.py failure was from a python conversion issue. I suspect this was added after the test suite was converted to python 3. I fixed the error and pushed the changes.

[2021-01-21 19:09] markcmiller86 commented on #5383
Regarding any *conversion* between Python 2/3, should we continue to try to ensure the resulting code works in *both* or just abandon Python 2 altogether?

[2021-01-21 19:13] brugger1 commented on #5383
I looked at unit/launcher.py and the failure is

Traceback (most recent call last):
  File "/usr/WS1/brugger/visit_dev_git/visit/src/test/tests/unit/launcher.py", line 143, in <module>
    output = FormatLauncherOutput(GetLauncherCommand([visit] + args))
  File "/usr/WS1/brugger/visit_dev_git/visit/src/test/tests/unit/launcher.py", line 56, in GetLauncherCommand
    ru = stdout.find("RUN USING")
T

[2021-01-21 19:14] markcmiller86 commented on #5383
Saw from @cyrush that we may need to check `open()` calls to ensure ascii rather than binary mode is active.

[2021-01-21 19:28] biagas commented on #5383
try:
ru = stdout.find("RUN USING".encode())

[2021-01-21 19:29] biagas commented on #5383
Also, launcher.py has some entries like 'string.replace' that need to be changed to 'str.replace'.

[2021-01-21 19:42] cyrush commented on #5383
It's not very hard to have code that supports both.
I'd opt for having both work.

[2021-01-21 19:43] brugger1 commented on #5383
Yes, I saw the str.replace issue, as well as a few others.

[2021-01-21 19:44] cyrush commented on #5383
can you put up a draft PR for our branch? I think I can provide some feedback easily that way.

[2021-01-21 19:44] markcmiller86 commented on #5383
I am inclined to agree. However, I think that means we should test both too. If we don't, for sure one will fall out of working order.

[2021-01-21 19:45] markcmiller86 commented on #5383
Maybe we can alternate nights running python2 on even numbered days and python 3 on odd numbered days

[2021-01-21 19:53] rusu24edward commented on #4607
Related issue #5334.

[2021-01-21 20:16] rusu24edward commented on #1903
Resolved in #5288

[2021-01-21 20:16] #1903 closed, assigned to rusu24edward

[2021-01-21 20:23] brugger1 commented on #5383
I fixed unit/launcher.py and pushed it. I also created a draft pull request.

[2021-01-21 20:35] biagas opened #5396 "Attempting to open SaveMovie wizard crashes gui"
### Describe the bug
Opening the SaveMovie wizard crashes gui.

**Helpful additional information**
According to VS debugger, src/gui/MovieSequenceFactory, line 388, attempting to dereference a NULL pointer (p in this case)
[code]

### To Reproduce
Steps to reproduce the behavior. For example:
1. Open a time-varying dataset
2. Create and draw a plot
3. Click on File->Save movie
4. gui crashes

###

[2021-01-21 20:44] brugger1 commented on #5383
I believe we still have the following failures:
hybrid/movie.py
hybrid/locus.py
simulation/*.py

[2021-01-21 20:52] biagas commented on #5383
@brugger1 is correct, and I am working on the movie issue.

[2021-01-21 22:17] brugger1 commented on #5383
@cyrush, I was looking into the locus.py failure:

Traceback (most recent call last):
  File "/src/test/tests/hybrid/locus.py", line 42, in <module>
    import visit_writer
ImportError: dynamic module does not define module export function (PyInit_visit_writer)

and looked at `./tools/data/writer/py_visit_writer.c`

and found

    #if __GNUC__ >= 4
    /* Ensure this function is visible even if -f

[2021-01-21 22:34] #5334 closed, assigned to rusu24edward

[2021-01-21 22:54] brugger1 commented on #5383
I fixed the python issue with the simulation tests. I tried 2 simulation tests to verify the fix and I noticed some text output from one of the tests had more significant digits in the text output, so there may need to be some rebaselines. I pushed the changes.

[2021-01-21 23:46] biagas opened #5399 "Save movie wizard fails (bad commands sent to cli?)"
I tried using the Save movie wizard (after fixing #5396), and it fails with this error:

[code]
Looks like the gui isn't formatting the code that it sends to the cli correctly.

### Desktop
 - OS and version: Windows (haven't tested elsewhere)
 - VisIt Version: develop

### Additional context
I think this is an issue with changes made for Qt 5.14.2

[2021-01-22 00:16] biagas commented on #5399
It appears QString::asprintf isn't performing as expected, or is being used incorrectly.
Notes in the  Qt docs suggest not using it in new code, so I will analyze all uses of the function and make adjustments as necessary.

[2021-01-22 00:34] griffin28 commented on #5392
I ran `h5dump` as suggested by @brugger1  and everything worked fine. I tried opening the FLASH data again and noticed that if I startup VisIt and manually select the file type (FLASH) the file is opened and I can visualize the data. However, if I have VisIt first attempt to open the file and fail (it tries to use the Silo reader) then any attempt to manually select the reader still fails. Only re

[2021-01-22 00:59] brugger1 commented on #5383
I have a partial fix for tests/hybrid/movie.py. The remaining problem is in makemovie.py. I pushed my changes.

[2021-01-22 01:18] markcmiller86 commented on #5374
From @gonsie...

My use of git worktree is for scenarios where I have functionally related branches that have totally unique contents. For example, I use it for a jekyll website project (inspired by the [Hugo blog setup](https://gohugo.io/hosting-and-deployment/hosting-on-github/)). The main branch has the markdown/jekyll source, while the deploy branch (which is actually created so that git knows

[2021-01-22 02:30] #5396 closed, assigned to biagas

[2021-01-22 18:09] brugger1 opened #12302 "Internallauncher uses mpirun before it is defined"
Hi folks;
  We're setting up VisIt 3.1.4 on bridges2, and have encountered the following problem.  The way our system is currently set up, the MPI environment is defined by loading a module, for example 'module load openmpi'.  Before that happens there is no mpirun in the typical user path.  It's easy to make sure the right mpirun is in place when engine_par is actually launched, by putting 'modul

[2021-01-22 18:10] brugger1 commented on #12302
Hi Joe,

This might be something that can be done with a customlauncher script. I'll take a look and see what I can find.

Eric

[2021-01-22 20:10] #5399 closed, assigned to biagas

[2021-01-22 22:58] brugger1 opened #12303 "Visit fails to read time variant AMR data"
Hello,

I have a time variant AMR data in the following format: each time-step has a folder for example a0, a10, a20, etc. Each of these folders has a header file and sub-folders for the levels.
To be able to read the data I need to point visit to the header under the time-step folder, which means I can only read one time-step at a time.
Is there a way to write a header in the parent directory to

[2021-01-22 23:05] brugger1 commented on #12303
You can do this with a ".visit" file. Create a file that ends with the extension ".visit" and contains the name of each header file on a single line. For example:

a0/header
a10/header
a20/header

You can then open the ".visit" file and it will treat each header file as a seperate time step.

You will also want to tell VisIt to treat all databases as time varying so that it picks properly handles

[2021-01-25 15:13] brugger1 commented on #5294
I upgraded CMake to 3.14.7 in #5301.

[2021-01-25 15:13] #5294 closed, assigned to brugger1

[2021-01-25 18:26] cyrush opened #5401 "link to getting data into visit manual off llnl site is bad"
### Describe the bug

Link off the llnl wci site is bad.

https://wci.llnl.gov/content/assets/docs/simulation/computer-codes/visit/GettingDataIntoVisIt2.0.0.pdf

(this is the site I hit when I google "Getting Data Into VisIt")

[2021-01-25 18:29] markcmiller86 commented on #5401
FYI...a recent update to WCI pages broke all binary download links for Silo project. Its since been fixed by switching `.tar.gz` to `.tgz` extensions but I wonder if `.pdf` may have suffered a similar fate?

[2021-01-25 18:38] brugger1 commented on #5401
I sent an e-mail to the wci web team about this.

[2021-01-25 18:39] markcmiller86 commented on #5401
Just sent an email to WCI web team that helped me with Silo's broken links. Oh...so did @brugger1 just now too 😮

[2021-01-25 23:59] brugger1 commented on #5401
The WCI web team put the file on the new web site. All is good again.

[2021-01-25 23:59] #5401 closed, assigned to brugger1, markcmiller86

[2021-01-26 02:40] markcmiller86 commented on #12301
There has been some [recent work](https://github.com/visit-dav/visit/search?o=desc&q=CGNS&s=created&type=issues) on getting our CGNS reader to build with newest CGNS library.

[2021-01-26 02:53] markcmiller86 commented on #12301
Another user repoted ...

compatibility.  The CGNS library itself is probably rejecting the newer
file.  Best solution is to use a more recent CGNS library version in
VisIt.  I have no issues with builds from source using 4.x.

[2021-01-26 02:54] markcmiller86 commented on #12301
FYI..it looks like email connection to GitHub is failing as the above user's response didn't get captured here. Its time to fix this for good.

[2021-01-26 02:59] markcmiller86 commented on #12301
Mahesh, you tried building from source using `build_visit3_1_4`. However, that will simply re-build with CGNS `3.2.1` which is not the version of CGNS that you need. I believe the [above user's (S. Guzik) comment about CGNS `4.x`](https://elist.ornl.gov/mailman/private/visit-users/2021-January/024748.html) was a custom build of some kind, not from using `build_visit3_1_4`. If you have the constitu

[2021-01-26 03:01] markcmiller86 commented on #5357
@brugger1 this suggests you did work to upgrade the CGNS library we are using. However, I am not seeing a `bv_cgns.sh` that is using a `4.x` version of CGNS. Can you clarify?

[2021-01-26 03:04] markcmiller86 opened #5402 "Stray build_visit bash script errors"
### Describe the bug
A user was using `build_visit3_1_4` to build VisIt. Logs attached.

I happend to notice the following funky error messages in that log...

[code]

I think there are minor issues with variables resolving to empty or something. These may be harmless but probably need to ensure we have correct logic.

[build_visit3_1_4_log.gz](https://github.com/visit-dav/visit/files/5870942/buil

[2021-01-26 05:25] markcmiller86-visit commented on #12301
Hi Mark,

Thanks a lot for the reply. My impression was that I could use
the build_visit3_1_4 script to build the source and then modify the
required flags to point to the include files and libraries for the recent
CGNS and then compile again. Would that work?

On Mon, Jan 25, 2021 at 7:59 PM Mark C. Miller via visit-users <
visit-users@elist.ornl.gov> wrote:

--
Regards
Mahesh Natarajan

[2021-01-26 15:40] brugger1 commented on #5357
Some of the regression tests related to CGNS failed with the new CGNS. Some of the numeric values were different, more than I expected. I looked at the code that was reading the values and spent a lot of time tracing the execution, but couldn't find the source of the differences. I then got pulled onto other tasks.

[2021-01-26 15:52] markcmiller86 commented on #5357
Ah, ok, so its in progress then. Good. Maybe you can post patch changes in a branch or draft PR here or in [this live issue](https://github.com/visit-dav/live-customer-response/issues/209) to help that user build VisIt with newest CGNS?

[2021-01-26 16:57] markcmiller86 commented on #12301
Yes, that is certainly possible but its more involved than just modifying flags or setting env. vars to `build_visit3_1_4`. I think you would have to modify `build_visit3_1_4` itself. If you search for `bv_cgns_info`, that will take you to the section of code that handles CGNS. Ideally, you may only need to modify the env. variables in that function. And, if that is the case, then I think you can

[2021-01-26 17:57] markcmiller86 commented on #12293
@cyrush, @biagas or @brugger1 is this a known issue?

[2021-01-26 18:03] biagas commented on #12293
It may have been fixed by recent changes I made to bv_python.sh. PYTHON_COMMAND and PYTHON_CONFIG_COMMAND weren't being set properly for system python 3. PR #5363 and #5371

[2021-01-26 18:20] biagas commented on #5359
I'm not seeing this on RC or develop any longer.

[2021-01-26 18:20] #5359 closed, assigned to nobody

[2021-01-26 18:23] markcmiller86 opened #12304 "Repurpose Boxlib plugin code for Nyx/AMReX ML Workflow"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

@prashplus writes...

Apologies but...Are you trying to repurpose VisIt'

[2021-01-26 18:36] biagas commented on #12289
Closing, lack of response.

[2021-01-26 18:37] biagas commented on #12287
@burton29-LLNL Are you still experiencing this?

[2021-01-26 19:16] biagas opened #12305 "Changing the number of decimals in the Y axis."
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

I have a 2D plot that on the Y axis is showing the ticks values:

[2021-01-26 19:18] biagas commented on #12305
Hello Angel,

Sorry, but there isn't really a way to control that.
We have multiple tickets in the system to address this in some fashion or another.
I will see about elevating the most appropriate one for immediate re-consideration.

Kathleen

[2021-01-26 19:24] biagas commented on #226
Removing from reviewed state for reconsideration and discussion.
Is a standard format string specifier sufficient?
(Time format in Time slider annotation object, Float format in Query window for Query results).
Or do we want just 'number of significant digits' as in In 'display time using' in the File Panel preferences?

[2021-01-26 21:25] markcmiller86 commented on #5357
FYI... @smguzik reports...

[2021-01-26 21:27] markcmiller86 commented on #12301
FYI... @smguzik reports...

[code]

[code]

[code]

[2021-01-26 21:52] burton29-LLNL commented on #12287
Must’ve been resolved, as I use VisIt a lot but haven’t had this problem recently.

============================================
Gregory C. Burton, Ph.D.
Turbulence Analysis & Simulation Center (TASC), Head
Thermal Fluids Group, Group Leader
Computational Engineering Division
Lawrence Livermore National Laboratory
7000 East Avenue, L-140
Livermore, California 94550
(925) 422-3515
burton29@llnl.gov

[2021-01-26 21:53] markcmiller86 commented on #226
Since you mention the *number of significant digits* (aka [*significant figures*](https://en.wikipedia.org/wiki/Significant_figures)) question here, I will chime in that I am encountering a similar question in our testing logic in [this PR](https://github.com/visit-dav/visit/pull/5373) w.r.t. to testing numerical *values*. There, we have the concept of a *tolerance* (which is currently treated as

[2021-01-26 22:01] markcmiller86 commented on #12301
If the information so far collected here is not sufficient to enable a custom build with CGNS `4.x`, the only recourse is to wait for a release of VisIt with CGNS library upgraded.

[2021-01-26 22:28] markcmiller86-visit commented on #12301
Thanks a lot, Mark! From the messages it seems like there are some issues
that are being addressed by the VisIt team. Thanks for looking into this.
Looking forward to the new release.

On Tue, Jan 26, 2021 at 3:25 PM Mark C. Miller via visit-users <
visit-users@elist.ornl.gov> wrote:

--
Regards
Mahesh Natarajan

[2021-01-26 22:57] cyrush commented on #12304
One option may be to use VisIt to read the boxlib data and export it to a simpler format that can be digested by an ML pipeline.

[2021-01-26 23:37] biagas commented on #226
See also [SRE 213](https://github.com/visit-dav/live-customer-response/issues/213)

[2021-01-26 23:38] markcmiller86 commented on #226
Another related thought is that we wind up having a need for format strings in various places (query outputs, legends, axes, annotation objects, etc.). Is the code supporting that same feature (setting in GUI and CLI as well as using the setting when printing values) in all those places refactored to a single support utility? And, is there a single global setting for it *everywhere* that could ser

[2021-01-27 00:05] markcmiller86 commented on #12301
Mahesh, after conversations with the VisIt team, another option is possible...

1. build visit allowing `build_visit3_1_4` to build as it normally does with CGNS `3.2.1`
[code]
   * **NOTE:** the `--no-thirdparty` is a good idea to avoid building stuff you don't need and with that, you then need to force it to build CGNS with `--cgns`
   * Also add`--hdf5`, if you want to be able to read CGNS/HDF5

[2021-01-27 00:09] markcmiller86 opened #5403 "Does a user running build_visit need to build all this?"
Examining a build_visit log in #5402, I happened to see that the invokation was...

[code]

and yet, it appears to have downloaded (I dunno if it also had to build), all this...

[code]

Does this make sense? It seems like a ton of this stuff is for *developing* VisIt and not needed to build VisIt simply to *run* it like any ordinary user might want.

[2021-01-27 00:15] biagas commented on #5403
If the user only wants to build visit, I think the better option is by hand with cmake and make.
build_visit imho is useful only when needing to build TP libs and to get a <host>.cmake to point to them.

Also, there is --no-thirdparty option to build_visit which will turn off most TP libs (except required libs like qt, vtk, etc).

[2021-01-27 00:29] markcmiller86 commented on #5403
Hmmm...They need to have the right CMake, the right Python, the right VTK, the right QT, right? I don't think building manually is best guidance for the average user. I get that `build_visit` feels like it gets in your way but for the average user, I think it is a way better option than manually, don't you?

Forgot about that. That said, I would think the default behavior of `build_visit` would be

[2021-01-27 00:50] brugger1 commented on #5403
The first 7 in the list are required. The libs from Imaging to seedme are libraries that go with Python. I don't think they take that much time to build. The remaining ones (from Python 3 down) are all for building our sphinx documentation. Those build pretty quickly, but they could be optional.

I agree that the default should be to do a `minimal` build. The other criteria is the likelihood of th

[2021-01-27 00:57] cyrush commented on #5403
[code]

[2021-01-27 00:58] cyrush commented on #5403
thats for a spack build with just silo and hdf5 support :-)

[2021-01-27 01:03] markcmiller86 commented on #5403
😆 . So, I would expect that compared to Spack, we would look really good. By line count, we're not even 2x as good

[2021-01-27 05:41] MicK7 commented on #5357
The different results may be related to a new indexing of ghost cells with the 4.x version.
To check this hypothesis, it is possible to switch to the old indexing by adding this line:
`cg_configure(CG_CONFIG_RIND_INDEX,  CG_CONFIG_RIND_ZERO);`
before opening the file with  `cg_open`

[2021-01-27 05:46] MicK7 commented on #5357
To add support for 2d polygons, it can be a good idea to have a look here: https://github.com/Kitware/VTK/tree/master/IO/CGNS

[2021-01-27 14:05] prashplus commented on #12304
Yes, I need it to operate in parallel, since I am going to run it in on a HPC system. I think the input data is actually divided into multiple plt files.

Ok sure. I will start with an existing simple plugin and modifying it.
Yes, I will go step by step as you specified, starting from `PopulateDatabaseMetaData(...)`.

You are right, HDF5 seems an easy way to go for my quest. Sure,I will also try H

[2021-01-27 16:37] markcmiller86 commented on #12304
@prashplus as a preliminary part of your work, please consider what @cyrush suggested...you can use VisIt maybe as an intermediary to read BoxLib data and then write out a format that puts the data in a form you can more easily digest in your ML workflow. Some possible output (export database operation) formats are...

**BOV** Curve2D
H5Part Image **PLY**
**RAW** **STL** Silo
Tecplot VTK Wavefront

[2021-01-27 16:40] prashplus commented on #12304
Ya sure, I will consider that.

[2021-01-27 16:43] markcmiller86 commented on #12304
BTW...as part of these [hadoop](https://github.com/markcmiller86/silo-issues/wiki/Silo_Hadoop_and_VisIt) and [spark](https://github.com/markcmiller86/silo-issues/wiki/Apache_Spark_and_VisIt) projects, years ago we wrote a [python-query based exporter](https://github.com/visit-dav/visit/tree/develop/src/tools/data/hdfs_export) and we have a [reader](https://github.com/visit-dav/visit/tree/develop/s

[2021-01-27 16:58] markcmiller86 opened #5405 "Should we make an effort to make our repo discoverable from search engines"
It would apper the overwhelming majority of content in our repo(s) is not discoverable from Google (or any search engines).

It looks like GitHub goes to some effort to *prevent* that.

The only cases I know of where search engines work is for websites. We have a few but the interesting/important stuff for people to find via search engines isn't in those published pages.

There are probably some t

[2021-01-27 17:22] prashplus commented on #12304
Oh this is interesting. Thanks

[2021-01-27 17:29] biagas opened #12306 "ask for advice on plotting a time series curve"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi!

I am new to VisIt. Can someone please advise:

How to use VisIt to p

[2021-01-27 17:32] biagas commented on #12306
Hello Wei,

You can achieve this by doing a Pick query over time:
Create a Pseudocolor plot of your known variable 'zeta(node, t)'
Draw.
Open Controls->Query
Scroll through the Queries list until you find 'Pick', and highlight it.

In the Query parameters,
change 'Pick using coordinate to determine zone' to 'Pick using domain and element Id'

If you wanted a time curve of a node other than 0, then

[2021-01-27 17:59] markcmiller86-visit commented on #12306
Hello Kathleen,

Awesome advice. Thank you very much.

Wei

On Wed, Jan 27, 2021 at 12:33 PM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov> wrote:

--
Wei Wu, Ph.D.
Physical Scientist, Coastal Marine Modeling Branch
NOAA/NOS/OCS/Coast Survey Development Laboratory
1315 East West Hwy, SSMC3, Silver Spring, MD 20910
Phone: (240) 847-8258

[2021-01-27 18:08] aowen87 commented on #5378
It appears that setting any of the start and end attributes overrides the useExtents flag. For instance, the following code will use the extents:

[code]

But the next code block will end up resampling in (-7, 7), (0, 1), (0, 1):

[code]

@brugger1 should we change this so that useExtents overrides all start/end options?

[2021-01-27 18:16] cyrush commented on #5403
Well the spack built doesn't even include all the sphinx stuff :-)

[2021-01-27 18:22] cyrush commented on #12304
The blueprint plugin will also allow you to create hdf5 files that you could consume in python using h5py.

[2021-01-27 18:23] markcmiller86 commented on #12304
And, I forgot about [these slides](https://visit-dav.github.io/visit-website/pdfs/Tutorial_FileFormatReader.pdf)

[2021-01-27 19:10] aowen87 commented on #5378
If we do want "useExtents" to override the start/stop options, I have a simple fix for this.

[2021-01-27 19:16] biagas opened #12307 "VisIt C++ API Question | how to highlight mesh vertex/edges?"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,
I am developing the Nuclear Energy Advanced Modeling and Simulation (

[2021-01-27 19:28] biagas commented on #12307
Hello Rob,

How is your integration communicating/driving VisIt? Is it through the SimV2 interface?

Are you talking about using VisIt's Mesh plot?
There isn't separate functionality to render vertices and edges in different colors, but you can change the overall mesh color by changing MeshAttributes for the plot.

Kathleen

[2021-01-27 19:51] markcmiller86-visit commented on #12307
Hi Kathleen,
I am not using SimV2 interface, at least that I am aware.

I have the VisIt UI embedded via the use of the following:

    VSProxy* proxy;
    VisViewer *viewer;
    QvisGUI* guiApp;

Where VisViewer is modelled after the class described at https://www.visitusers.org/index.php?title=Using_the_viewer_in_a_Qt_application

I don’t know if there is a class or means by which I can access a

[2021-01-27 20:16] biagas commented on #12307
Thanks for the clarification.

Using the SampleVisApp, you could add  'Mesh' as one of the plot options, along with the necessary modifications to be able to change the plot type to Mesh.

You would also want to add a method for changing the mesh color, similar to the setNContours method (also adding signals/slots).

I haven't looked at this in a long while so I will figure out how to specify the

[2021-01-27 20:31] cyrush opened #5406 "expressions window: apply vs tab vs cyrus when changing expr names"
### Describe the bug

Relive my experience here:

https://user-images.githubusercontent.com/1194526/106049811-6ffd4a00-609b-11eb-8488-d92bcdab0c0c.mov

When editing expr name:

Clicking apply reverts the name.
Tab when done changes the name (what I want, but hoped apply would also accomplish)

[2021-01-27 21:18] aowen87 commented on #5357
@brugger1 which version of CGNS were you planning on upgrading to? It looks like versions >= 4.0 include a function for reading polygonal elements, and this gives a connectivity offset that would solve our problem. Versions < 4.0 don't seem to include this function. There's likely a way forward with earlier versions, but I think it might be significantly more work (I need to do some more digging b

[2021-01-27 21:37] markcmiller86 commented on #12301
@biagas, Mahesh is seeing this in his attempt to build. This seems likes its a Qt version mismatch issue.

Mahesh, the logs don't show any activity to build Qt. Did you start this in a fresh/clean dir or re-start from stuff that you had tried previously? If latter, would suggest blowing everything away and restarting from scratch.

[code]

[build_visit3_1_4_log.gz](https://github.com/visit-dav/liv

[2021-01-27 21:43] biagas commented on #12301
Looks like he is attempting to build develop from a 3.1.4 verison of build visit. 3.1.4 builds qt-5.10.
develop has changes specifically for Qt-5.14.

He should be using build_visit3_1_4 to build the 3.1.4 version of visit.

[2021-01-27 21:52] brugger1 commented on #5357
I was thinking the latest 4.x version.

[2021-01-28 15:04] biagas opened #12308 "Build problems with gcc 10 on linux"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
[code]

[2021-01-28 15:17] biagas opened #5407 "build visit modules need MESA vars changed to MESAGL"
### Describe the bug
From  [SRE 216](https://github.com/visit-dav/live-customer-response/issues/216)

Here are the modules that reference MESA_VERSION instead of MESAGL_VERSION
 bv_icet.sh
helper_funcs.sh

I also noticed some discrepencies with MESA_TARGET
bv_main.sh sets MESA_TARGET but that isn't used anywhere
bv_mesasgl.sh uses MESAGL_TARGET in it's print message, but that doesn't appear to be

[2021-01-28 15:37] biagas commented on #12308
Hello Yann,

Thank you for the report on the build_visit issues.
I have entered a ticket for the MESA env var problem.

As for the python issue, was this a problem within build_visit or python itself? If within python itself, we are moving to python3 for our next release, so this may already be resolved.

Internal mesa issue: we are also moving to a slightly newer version of mesa for our next rele

[2021-01-28 16:07] biagas opened #12309 "ask for advice on plotting a pseudocolor figure"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi VisIt!

Could someone please advise:

1) How to get rid of the 'Cycle'

[2021-01-28 16:43] biagas commented on #12309
Hello Wei,

You will need to open Controls->Annotation.
To turn off cycle:
![GeneralAnnot](https://user-images.githubusercontent.com/17075318/106166991-9970b100-6141-11eb-9ddd-bf15e0a42fc9.PNG)

This will also turn off time. If you want time to be displayed, you can add it back with a text annotation object.
Open the 'Objects' tab in the Annotation Window and create a new 'Text' object by clicking

[2021-01-28 16:47] biagas commented on #12309
Also, you can set tick locations to 'outside':

![TickLocation](https://user-images.githubusercontent.com/17075318/106170541-6c260200-6145-11eb-8d2a-e0bcad7f48cf.PNG)

[2021-01-28 17:04] biagas opened #5408 "Centroid zero with projected mesh"
### Describe the bug
From [SRE 181](https://github.com/visit-dav/live-customer-response/issues/181)

The original note:
[code]

More thoughts
[code]

[2021-01-28 17:04] biagas commented on #12274
Submitted [ticket](https://github.com/visit-dav/visit/issues/5408) and closing this.

[2021-01-28 17:38] markcmiller86-visit commented on #12309
Hello Kathleen,

Awesome advice. Thank you so much!

The zeta (node, time) is a 2D spatial (x, y) variable and varies with time.

By the way, is there a handy way in VisIt to change time from the Modified
Julian Day/Time to Calendar Day/Time?

Thanks,
Wei

On Thu, Jan 28, 2021 at 11:47 AM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov> wrote:

--
Wei Wu, Ph.D.
Physical Scientist, Coa

[2021-01-28 17:39] biagas commented on #12288
Closing, since a ticket was entered.

[2021-01-28 17:40] biagas commented on #12305
Elevated ticket 226, closing.

[2021-01-28 17:44] markcmiller86-visit commented on #12305
Hi,

How do I unsubscribe this email list?  The unsubscribe link does not work (after it directed me to log in to GitHub).

Thanks.

Wei
On Jan 28, 2021, 9:40 AM -0800, Kathleen Biagas via visit-users <visit-users@elist.ornl.gov>, wrote:

Closed visit-dav/live-customer-response#213<https://github.com/visit-dav/live-customer-response/issues/213>.

—
You are receiving this because you are subscribed

[2021-01-28 17:49] biagas commented on #12309
The time being used is retrieved from the database, and I don't believe there is anything in the reader to do the conversion.

[2021-01-28 17:52] markcmiller86-visit commented on #12309
Great to know. Thank you very much!

-Wei

On Thu, Jan 28, 2021 at 12:49 PM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov> wrote:

--
Wei Wu, Ph.D.
Physical Scientist, Coastal Marine Modeling Branch
NOAA/NOS/OCS/Coast Survey Development Laboratory
1315 East West Hwy, SSMC3, Silver Spring, MD 20910
Phone: (240) 847-8258

[2021-01-28 18:20] biagas opened #5409 "No way to set color from the C++ (embedded) API"
### Describe the bug
Trying to figure out how to set the color from an embedded app.
See [SRE 215](https://github.com/visit-dav/live-customer-response/issues/215)

I modified the SimpleVisApp example to allow Mesh plot, and tried to implement a function to set the mesh color like so:
[code]
Stepping through with the VS debugger, the call to meshAtts->SetValue ends up calling
AttributeGroup::SetVal

[2021-01-28 18:23] biagas commented on #12307
I modified SampleVisApp to allow Mesh as a plot option, but could not get the setting of the mesh color to work.
I've entered a ticket:
https://github.com/visit-dav/visit/issues/5409

I am attaching my modifications to the App for your perusal.

[SimpleVisApp.tar.gz](https://github.com/visit-dav/live-customer-response/files/5889297/SimpleVisApp.tar.gz)

[2021-01-28 18:35] biagas opened #5410 "embedded viewer example has problems finding VisIt components"
### Describe the bug
I tried running the 'embedded' example program from both Windows and Linux development builds.
The default is to use VISITHOME environment var setting to inform the app where VisIt resides.
However, no matter how I set VISITHOME, it reported using '/' as VISITHOME and thus failed to find VisIt's components.
This was both on Windows and Linux

I was able to work around the prob

[2021-01-28 19:00] biagas commented on #12307
As a workaround, if you still want to use VisIt's Mesh plot, you can open VisIt's gui, open Mesh Plot Attributes, change Mesh color source to 'Custom' then change the Mesh color to your desired highlight color, click 'Make default', then Save your settings.
At least for the SampleVisApp, this allowed Mesh plot to be rendered with the color I chose instead of the default black.

[2021-01-28 19:08] markcmiller86 commented on #5410
I was working on the `./tests/unit/embedded.py` test in our test suite (on develop only) for this last week and ran into issue where executable would start but then wouldn't do anything. I was able to get the python testing code working but couldn't deteremine a pass/fail because of problems getting the executable to run and produce some baselines.

[2021-01-28 19:17] biagas commented on #12308
Regarding vtk linking issues. Is there anything the build_visit log file that indicates a different error with vtkPythonWrapping? Perhaps the vtk build didn't get its python settings correct? If you can attach the build_visit log file it might be helpful in diagnosing the problem.
Thank you.

[2021-01-28 19:26] markcmiller86 commented on #12305
Wei,

Send a message to visit-users-leave@ornl.gov<mailto:visit-users-leave@ornl.gov>. It will send a confirmation and if you reply to that confirmation, you will be unsubscribed. But, you must do this from whatever email account is receiving these messages.

I tried to do it for you but there are 10+ users with “wei” somewhere in their names and I had no other way to identify you.

Apologies for

[2021-01-28 19:40] markcmiller86-visit commented on #12309
Hello Kathleen,

Need your advice: I have one more question about plotting the pseudocolor
figure:

Can VisIt change the pseudocolor plot's color bar such as color bar's
location, size, and font size?

Thanks,
Wei

On Thu, Jan 28, 2021 at 12:52 PM Wei Wu - NOAA Federal <wei.wu@noaa.gov>
wrote:

--
Wei Wu, Ph.D.
Physical Scientist, Coastal Marine Modeling Branch
NOAA/NOS/OCS/Coast Survey Developmen

[2021-01-28 19:42] markcmiller86-visit commented on #12307
Hi Kathleen,
This is helpful to know.

Your solution points to changing the color of the entire mesh, correct?

I’m interested in a method that allows setting the color for only a portion of the mesh, as little as a single vertex or edge. Is that feasible?

Thanks,
--
Rob Lefebvre
Tel: (865) 241-0496;  Fax: (865) 574-3527

From: Kathleen Biagas via visit-users <visit-users@elist.ornl.gov>
Reply-To

[2021-01-28 19:50] biagas commented on #12309
Task a look at these settings in Controls->Annotation->Objects
Make sure the legend is the highlighted object.
![legend](https://user-images.githubusercontent.com/17075318/106190805-021a5680-615f-11eb-8d6c-d12c08d50bc8.PNG)
![legend2](https://user-images.githubusercontent.com/17075318/106190816-047cb080-615f-11eb-962c-e336336d589c.PNG)

[2021-01-28 19:57] biagas commented on #12307
Correct, my solution involves the entire mesh.
Within VisIt proper, a highlighted Pick on a Node can create a highlight on the selected vertex.
See our manual on [Pick](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Pick.html) for more information.  You would have to use the 'Pick highlights' options.
There is also a 'Query' option for performing Pick (as

[2021-01-28 20:00] ykempf commented on #12308
Let's do it here then indeed.
[build_visit3_0_2_log.tar.gz](https://github.com/visit-dav/live-customer-response/files/5889712/build_visit3_0_2_log.tar.gz)

[2021-01-28 20:11] biagas commented on #12308
It looks like build_visit was using the mpicc compiler instead of gcc
[code]
The don't think mpicxx should be the compiler used when building third party libs or visit proper.
Is there a default gcc compiler you can use? Is it a module that needs to be loaded so that it is in your path?
You can try setting path to gcc/g++ via environment vars when calling build_visit, eg (in tcsh):
env CC=/path/to

[2021-01-28 20:11] markcmiller86-visit commented on #12309
Hello Kathleen,

This is very helpful. Thank you very much!

Wei

On Thu, Jan 28, 2021 at 2:51 PM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov> wrote:

--
Wei Wu, Ph.D.
Physical Scientist, Coastal Marine Modeling Branch
NOAA/NOS/OCS/Coast Survey Development Laboratory
1315 East West Hwy, SSMC3, Silver Spring, MD 20910
Phone: (240) 847-8258

[2021-01-28 20:15] biagas commented on #12308
You might find these detailed notes on [build_visit usage](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Building/index.html) in our manual to be helpful.

[2021-01-28 20:26] ykempf commented on #12308
I've always used the MPI wrappers to build on a variety of architectures (for almost a decade now) but I'll admit that I have been reusing "what worked before" for almost as long. I wasn't aware of this manual, I'll look through and see what I should do better. A quick look now seems to indicate that I should use the wrappers only for the parallel parts and not everything indeed, so I'll try that.

[2021-01-28 21:21] brugger1 opened #5411 "Deleting annotation from cli exits VisIt"
Deleting an annotation using the CLI causes the CLI to exit. The following code demonstrates the issue.

Yes, the deleting of the annotation object exit can be duplicated with the following (note that VisIt just exits):

OpenDatabase("/usr/gapps/visit/data/rect2d.silo")

AddPlot("Pseudocolor", "d")
DrawPlots()

label = "hello"

annot = None
if len(label) > 0:
    annot = CreateAnnotationObject("Te

[2021-01-28 23:05] #5391 closed, assigned to biagas

[2021-01-29 13:45] ykempf commented on #12308
I now try to use the flags below. I switched the ones which are not explicitly for MPI or parallel settings to gcc/g++ instead of mpicc and mpicxx. However it now fails to build numpy already, it's lacking math headers and libraries, which are probably set by the wrapper but not when using gcc/g++ straight.

I'll check next week which of these I should revert to proceed.

[code]

[2021-01-29 16:03] biagas opened #5412 "Command recording crashes cli when visit built with python 3"
### Describe the bug
Attempting to use command recording crashes cli. It happens when 'record' is pressed or when 'stop' is pressed.
In both cases the cli launches and immediately crashes.

**Helpful additional information**
When attaching the VS debugger to the cli (I launch cli before opening the command window), the debugger calls out this error:
[code]
from VisItLockPythonInterpreter in visitm

[2021-01-29 16:35] aowen87 commented on #4848
I have my Mac back, but I'm still unable to successfully built VisIt on Catalina. I'm a bit closer with Mark's Silo patch, but it's still failing further down.

[2021-01-29 17:17] biagas commented on #5409
I just noticed logic in Resample operator's Atts, a special SetValue method. I think that could be applied to Mesh atts (or any plot/operator) for special handling of Color attributes.

[2021-01-29 17:31] brugger1 opened #5415 "Check pickling/unpickling code in visitmodule.C."
The pickling/unpickling code in visitmodule.C was failing and the fix I came up was to switch the pickling to use a char vector instead of a std::string to hold the pickled result.

The new pickling in Python included imbedded NULL characters that was causing problems. The std::string appeared to handle it fine, but somewhere things were going wrong. I believe it was in the unpickling code. We wer

[2021-01-29 17:34] brugger1 commented on #5415
Here is the comment from Cyrus in PR #5394.

Looks good thanks for tackling these.
I think this is ready to go to -- here are two thoughts about what we may want to revisit in the future:

I usually use .communicate() when using Popen (which causes everything to exec and return all output -- you can't stream out lines like we are doing here). The reasoning for this may be superstitious at this poi

[2021-01-29 17:37] #5383 closed, assigned to brugger1, cyrush

[2021-01-29 18:08] aowen87 commented on #5357
I think I may have misunderstood this connectivity offset that is given with this function. I don't think this will solve our problem, so I'll look further.

[2021-01-29 18:15] biagas opened #5416 "Is ResampleAttributes::SetValue still needed?"
While reviewing #5414 I noticed the SetValue method (used for embedded apps).
I believe it was needed when the SetStartX(Y/Z)  and SetEndX(Y/Z) methods had special logic.
The PR removed the special logic, so I think the SetValue method can be removed.
This should be validated with testing though.

[2021-01-29 18:44] aowen87 commented on #5357
Thanks, @MicK7 . I think I'll create a version of your "get_section_connectivity" to incorporate into VisIt.

[2021-01-29 20:10] #5318 closed, assigned to aowen87

[2021-01-29 20:13] #5378 closed, assigned to aowen87

[2021-01-29 20:52] biagas commented on #5412
I also see the PyEval_AcquireLock  error message when calling OpenGUI from the cli before plots are drawn.

[2021-01-29 20:57] aowen87 commented on #4516
This issue can be resolved by editing these two files:
[code]
Each file tries to include `<hunspell/hunspell.h>`, but it should really be `<hunspell.h>`.

More info can be found [here](https://forum.qt.io/topic/111582/qt-5-14-1-issues-on-mac-while-building-ros-kinetic/3)

[2021-01-29 21:07] markcmiller86 commented on #12309
Wei, I am curious, are you finding [our documentation](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/index.html) unhelpful in answering some of your inquiries?

Next, on to your other inquiries about plotting this FVCOM variable....

[code]

Can you elaborate a bit on what this `temp` variable is? It appeas to by a 3-dimensional (`time` x `siglay` x `node`). Usually, VisIt is e

[2021-01-29 21:10] griffin28 opened #5418 "Update MACOSX_DEPLOYMENT_TARGET to support the latest releases"
### Describe the bug
The MACOSX_DEPLOYMENT_TARGET build variable doesn't include the current releases (10.14, 10.15, 11.0). This build variable is used by some of our TPLs and cause them not to build correctly if not set properly.

### To Reproduce
1. Look at `bv_main.sh` lines 349-357

### Desktop
 - OS and version: [macOS]
 - VisIt Version: [all]

[2021-01-29 21:37] #5418 closed, assigned to griffin28

[2021-01-29 22:04] markcmiller86-visit commented on #12309
Hi Mark,

Thank you very much for your advice and support. I appreciate it.

I was not clear about the plotting a 3D+ variable after reading some VisIt
documents online. Thank you for sharing your tutorial link. I will
carefully read it.

The link (
https://docs.github.com/en/github/managing-your-work-on-github/file-attachments-on-issues-and-pull-requests)
for attaching a data file did not work. A

[2021-01-29 22:42] aowen87 commented on #4516
The next errors I've encountered are with building hdf5. So far, they've all been "implicit declaration of function" errors. The first one was referring to a call to isatty. Adding `#include <unistd.h>` to that file solved that error, but there are more that arise after it.

[2021-01-29 23:19] aowen87 commented on #4516
The remaining errors revolve around a function coming from `hdf5-1.8.14/test/cache_common.c`. There is a function, `resize_configs_are_equal`, that's defined in the c file only, but other modules are asking for it, leading to the above errors. Adding the function definition to the header file resolved the remaining errors. I saw other references to this issue with a Google search, and it seems to

[2021-01-29 23:32] rusu24edward opened #12310 "Picking a built-in expression"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.
---
Genesis Rosado wants to pick our built-in expression `shape_and_size`. She

[2021-01-29 23:37] biagas commented on #12310
Does surrounding the var with <> work?
eg:
[code]

[2021-01-29 23:40] rusu24edward commented on #12310
I just tried this on curv3d.silo, where the expression is `mesh_equality/shape_and_size`, and it did not work even when I included the angle brackets.

[2021-01-29 23:44] biagas commented on #12309
I've tried looking at an FVCOM sample data set we have, and stepping through time. From what I can tell (though I'm not extremely conversant with this format), VisIt is plotting a different depth at each time state. I performed a Pick query at each time state, and the depth was progressing (as reported by the Z coordinate in the Pick results.

Are you looking for a way to look at all depths stacke

[2021-01-29 23:45] biagas commented on #12310
Does it work if that expression is the plotted variable (eg you don't have to specify a variable for Pick to work report on?)

[2021-01-29 23:48] rusu24edward commented on #12310
I plotted the shape and size and performed the pick through the CLI. This is the output I got in the CLI window:
[code]
and here is what shows in the Pick GUI window
[code]

[2021-01-29 23:49] rusu24edward commented on #12310
This is what I see when I do a pick through the GUI zonal pick:
[code]

[2021-01-29 23:51] biagas commented on #12310
Thanks. This should be a bug ticket.

[2021-01-29 23:52] rusu24edward commented on #12310
Thanks for looking at it! I'll add the bug ticket.

[2021-01-30 00:07] rusu24edward opened #5421 "CLI picking built-in expressions"
### Describe the bug
Picking in the CLI on built-in expressions doesn't work.

### To Reproduce
Steps to reproduce the behavior. For example:
1. Open up `curv3d.silo` (it doesn't have to be this one).
2. Pseudocolor mesh_quality->shape_and_size
3. Launch the command window and hit record.
4. Through the GUI, do a zonal pick. Notice that you get output like this:
[code]
5. Stop recording. The varia

[2021-01-30 00:25] biagas commented on #5421
I tested on Windows and linux (VisIt 3.1.4) and got expected results whether doing Mouse Picks, Pick Query, or using the cli to perform the PickByNode or PickByZone.
[code]

From cli:
[code]

[2021-01-30 00:26] rusu24edward commented on #12310
Tracked in [5421](https://github.com/visit-dav/visit/issues/5421)

[2021-01-30 00:31] rusu24edward commented on #5421
@biagas Can you try it on `curv3d.silo`? I noticed that the behavior seemed to vary depending on dataset.

[2021-01-30 00:40] biagas commented on #5421
Good catch.
Doing a mouse pick:
[code]

Doing a Pick query specifying the same node id as reported by the mouse-pick:
[code]

Very strange.

[2021-01-30 00:45] markcmiller86-visit commented on #12309
Can you unsubscribe me please gdz@ansto.gov.au<mailto:gdz@ansto.gov.au>
Thank you
UNOFFICIAL
From: Kathleen Biagas via visit-users <visit-users@elist.ornl.gov>
Sent: Saturday, 30 January 2021 10:45 AM
To: visit-dav/live-customer-response <live-customer-response@noreply.github.com>
Cc: Kathleen Biagas <notifications@github.com>; Comment <comment@noreply.github.com>; markcmiller86-visit <visit-users

[2021-01-30 00:53] markcmiller86 commented on #12309
Wei, next time you run VisIt to look at your data, can you add [`-debug 5`](http://www.visitusers.org/index.php?title=Debug_logs) to the command-line? Then attach here the debug logs (`.vlog`) files (note to attache files, they must be one of the acceptable file extentsions (e.g. `foo.tar.gz`)

Also, in your previous email, you indicated...

Indeed we do read netCDF files. FVCOM is a particular va

[2021-01-30 01:15] markcmiller86-visit commented on #12309
Hi Kathleen,

Thank you very much. I appreciate your advice and support.

Yes, I hope to make:
1) a pseudocolor plot by giving a depth value 'siglay'
2) a vertical-horizontal sectional (for example siglay vs longitude)
pseudocolor plot by giving another horizontal (for example latitude) value

Thanks,
Wei

On Fri, Jan 29, 2021 at 6:44 PM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov

[2021-01-30 01:24] markcmiller86-visit commented on #12309
Hi Mark,

Thank you very much for your advice and support. I appreciate it.

I will do as you advised when I start using linux to run VisIt which I plan
to do next. Right now, I run VisIt in Windows and so I do not use command
lines.

The link (
https://docs.github.com/en/github/managing-your-work-on-github/file-attachments-on-issues-and-pull-requests)
you gave in your previous message shows as be

[2021-01-30 02:38] biagas opened #5422 "locus.py and movie.py regression tests crashing on Windows"
### Describe the bug
Since the switch to Python 3.

[2021-01-30 20:58] markcmiller86 commented on #12309
I believe that is possible. Its just a matter of adjusting the short cut (https://www.visitusers.org/index.php?title=UserDebug). But, that information might be quite old now and not relevant to Windows 10 systems

[2021-01-30 20:58] markcmiller86 opened #12311 "How to use VisIt to get a mean value of variables?"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

I am a beginner of Vislt, and I use Vislt to visualize the flow field.

[2021-01-30 21:01] markcmiller86 commented on #12311
You probably want to do a **Variable Sum Query** which you can read about [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Query.html?highlight=variable%20sum%20query#query). You can divide the sum/total by whatever weight factor you need to get the average. If you want an average by count of nodes or zones, then also do a **NumZones** or **NumNodes*

[2021-01-31 03:50] markcmiller86-visit commented on #12311
Dear Mr. Miller,

Thanks so much for your suggestions!

I think that I have misled you about my question. I have read the
introduction about Variable Sum Query, I think that this function is
related to the discrete data point. Actually, I wanna get the average of a
series of pesudcolor figures obtained from the flow field. I attached one
figure example. Would you mind giving me some additional sug

[2021-01-31 03:54] markcmiller86-visit commented on #12311
Moreover, I wanna get a pseudocolor figure of the averaged variables, how
can I do for that?

Li-Ming Chao <clm004886@gmail.com> 于2021年1月31日周日 上午11:50写道：

[2021-02-01 15:19] brugger1 commented on #12302
Hi Joe,

Sorry about the slow response.

I took a look at the script and I don't see any way to do what you're after in a customlauncher. This seems like a bug. I would expect that if you specified a launch command it should use that in the test and instead it has mpirun hardwired into the code. I suggest you change the script to either load the module or put in the full path to mpirun in that spo

[2021-02-01 15:44] aowen87 commented on #4516
I was finally able to build VisIt on Catalina without using the --system-<library> flag. Here's what I did:

1. Patch Qt to resolve the hunspell issue (above).
2. Patch HDF5 to resolve the "implicit declaration of function" errors (above).
3. Patch Silo (Using Mark's patch [here](https://github.com/markcmiller86/silo-issues/issues/210#issuecomment-706634809))
4. Run build_visit. Here are the optio

[2021-02-01 16:27] biagas commented on #12307
Hello Rob,

I was thinking more about your needs.  The [OnionPeel operator](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Operators/OperatorTypes/OnionPeel_operator.html) may help solve part of your problem.
If used with a Mesh plot, it can serve as a highlight for a the edges of a specific cell, and as many cells adjacent to it as you like (by changing the number of

[2021-02-01 16:43] aowen87 commented on #12311
Hi Li-Ming,

Do you want the averaging to take place for every element (zone or node) across time? If so, we have an expression called "average_over_time" that allows you to do this. Documentation can be found [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html?highlight=average_over_time#time-iteration-expressions).

[2021-02-01 17:14] biagas commented on #12308
I'm really not sure how to advise at this point. We've had problems with mpicc in the past, which is why we recommend not using it to build the third party libraries.  I know that g++ sometimes adds link flags automatically that mpicc does not and vice versa.
It might be time to go back to your original problem linking VTK python wrappers and try to sort out which link flags are are being used, wh

[2021-02-01 17:33] biagas commented on #5422
For locus.py:
[code]

[2021-02-01 17:36] brugger1 commented on #12308
We had a report of numpy not building on OSX 10.15. Here is the proposed fix.

The issue is in: /Applications/VisIt.app/Contents/Resources/3.1.4/darwinx86_64/lib/python/lib/python2.7/ctypes/__init__.py
Need to comment out line 276 to fix the problem:

262 def _reset_cache():
263     _pointer_type_cache.clear()
264     _c_functype_cache.clear()
265     if _os.name in ("nt", "ce"):
266         _win_

[2021-02-01 17:41] brugger1 commented on #5422
I got the same error on Linux. I had to tweek the function declaration in py_visit_writer around line 805. I changed the line for gcc and I suspect there is some platform specific code you need to modify for Windows in the same general area.

[2021-02-01 18:11] cyrush commented on #5422
The name of the entry point symbols is different between python 2 and 3, need a little magic to support both.

[2021-02-01 18:15] cyrush commented on #5422
Eric - you may have fixed this with your changes last week?

[2021-02-01 18:15] brugger1 commented on #12302
From Joel:

Sounds good, thanks!

[2021-02-01 18:17] brugger1 commented on #5422
I fixed it for Linux. I may have done the best I could for Windows, but I had no way to test it.

[2021-02-01 18:21] #4848 closed, assigned to aowen87

[2021-02-01 18:46] brugger1 opened #5425 "Running Python query in parallel give mpicom error with python 3."
### Describe the bug

I ran the Python query test and got the following error:

VisIt: Error - Python:  (VisItException)
viewer: engine_par: avtPythonQuery::PerformQuery Error - Failed to initialize the python filter environment.
Python Environment Error:
<class 'AttributeError'>module 'mpicom' has no attribute 'init'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
Attrib

[2021-02-01 18:46] brugger1 commented on #5425
@cyrush any thoughts?

[2021-02-01 19:13] biagas commented on #5422
For movie.py:
[code]

Looks like I may need to check the Pillow build settings for Windows.

[2021-02-01 19:17] biagas commented on #5422
In py_visit_writer.c, VS is calling attention to line 29:
 char *string;

Will it cause problems if I rename it to 'tok_string' or just 'str'?
I wasn't sure if it is only used internally.

[2021-02-01 19:27] cyrush commented on #5422
@biagas took a quick look - I think its a good idea to change it.

[2021-02-01 19:28] biagas commented on #5422
I'm not sure why it was requesting tiff decoder, as far as I remember, tiff support was never enabled on Windows. Not with PIL/python2.7, and I didn't set up Pillow/python3 to enable tiff support either.

[2021-02-01 20:39] brugger1 opened #12312 "Python 3 status"
Sorry if this is covered somewhere, but I've been unable to determine the level of integration/support of Python 3 within VisIt.  Specifically, it does not appear that VisIt can be built without Python 2 and it appears that some components link to the Python 2 libraries creating a runtime dependency as well.  Is this accurate?  Is it possible to build and/or run VisIt on a system without Python 2?

[2021-02-01 20:43] brugger1 commented on #12312
Hi Patrick,

We will have Python 3 in our upcoming release VisIt 3.2. We are in the process of fixing that last few critical bugs and then we will create the release. Assuming nothing unforeseen comes up, we should have it out by mid to late of February. If you would like to try it out sooner, you could clone our development branch and build it yourself, although there may be some build issues, si

[2021-02-01 22:01] aowen87 commented on #5357
@brugger1 do we want the handling of polygons to be compatible with older version of CGNS (assuming we soon upgrade to 4.x)?

[2021-02-01 22:05] brugger1 commented on #5357
I think having it work only with 4.x is fine.

[2021-02-01 22:09] aowen87 commented on #5357
Would you happen to have a branch that contains the 4.x (bv_cgns, etc.) updates?

[2021-02-01 22:23] brugger1 commented on #5357
I just pushed task/brugger1/2020_07_16_cgns_update. It’s a bit old, so I don’t know if it’s still the latest release.

[2021-02-01 22:49] biagas commented on #5422
I copied one of the movie generated .bmp files to a simpler location/filename for testing, and got some
surprising results when I printed information:

[code]

I then opened test5.bmp in Paint on Windows and did a save-as kat.bmp.
Here's the results from opening and saving that file:
[code]
The save worked in this case.
So it seems that the movie test, in writing out the intermediate 'bmp' file is

[2021-02-02 03:08] #4664 closed, assigned to brugger1

[2021-02-02 05:32] #5302 closed, assigned to brugger1

[2021-02-02 06:44] markcmiller86-visit commented on #12311
Dear Alister,

Thanks so much for you reply. I think the expression "average_over_time"
can solved my problem. However, when I used this expression, some errors
occurred. I have attched the figure, please kindly give me some suggestions.

With best regards!

Li-Ming

[image: 338.jpg]

Alister via visit-users <visit-users@elist.ornl.gov> 于2021年2月2日周二 上午12:44写道：

[2021-02-02 16:07] aowen87 commented on #12311
Hi Li-Ming,

For some reason, I haven't been able to access your attachments... I'm not quite sure why that's happening, but I'll go ahead and make a guess that the issue your encountering is an error that reads something along the lines of `The expression was invalid: The expression parser encountered an unexpected token` or maybe `viewer: engine_ser: The expression variable "AOT" was declared to

[2021-02-02 16:15] brugger1 commented on #12312
Thank you very much for the quick response.  I've grabbed the development branch and will try to get it built on my system.  It appears you are targeting Python 3.7 and still using VTK 8.1.  We are using Python 3.8 which requires VTK 9 so there might be some patches necessary but hopefully I can get it to work.

-Patrick

[2021-02-02 16:17] brugger1 commented on #12312
Yes on both counts. Python 3.7 and VTK 8.1. We started on the Python 3 port a little over a year ago, so my guess is those were the most current at the time.

[2021-02-02 16:22] brugger1 opened #12313 "Box operator z limits not working"
Hello,

Whenever I try to apply a box operator to a pseudocolor plot, the selection always extends a little beyond the z-limits that I have specified (the max and/or min, arbitrarily). This is getting in the way of me querying a particular section of my data accurately. For reference, I'm running VisIt 3.1.4 for Ubuntu 18, and I'm analyzing some Nek5000 output.

Could you please suggest a fix for

[2021-02-02 16:27] brugger1 commented on #12313
Hi,

The box operator keeps complete cells that are within the box. So for your case, if the cells at the zmax you specified were to extend slightly beyond zmax then the selected data would extend beyond it as well and it could be somewhat arbitrary if the cells moved.

If you wanted the data to stop at the limits you have specified, you could do that with a series of clip operators. The simplest

[2021-02-02 20:37] brugger1 commented on #12312
My recommendation is to avoid directly linking against a specific version of Python 3.x.

For example defining:
-DPy_LIMITED_API=0x03030000

will make sure that your application is ABI compatible with Python 3.3 and newer.

Linux is fine not linking against a python dll.

macOS would require adding linker options like:

"-undefined dynamic_lookup -flat_namespace"

and windows provides a helper lib

[2021-02-02 23:40] rusu24edward commented on #5421
Try other pick methods, such as `ZonePick`, which requires coordinates. You can do `PickByZone` to get the coordinate, and then do `ZonePick` with those coordinates, and see if that works.

Update: I tried this and it works. This is a good path forward for now until we fix the `PickByZone` command.

[2021-02-02 23:48] markcmiller86 commented on #5421
I was able to get GUI to fail in same way that CLI was failing by doing PC plot of `mesh_quality/shape_and_size` and a `Pick` query with variable `default` and `pick by domain id and zone number` setting domain to `0` and zone to `100`. When I do that, I get...

[code]

Next, I tried doing a zone-pick-gesture (e.g. clicking in viewer window in zone-pick mode). When I do that...

[code]

So, then I

[2021-02-02 23:50] rusu24edward commented on #5412
I get the same failure in mac 10.14

[2021-02-03 00:36] biagas commented on #5422
locus.py test was fixed with PR #5426
movie test was fixed by rebuilding Pillow with tiff support for Windows. visit-deps [PR 47](https://github.com/visit-dav/visit-deps/pull/47)

[2021-02-03 00:36] #5422 closed, assigned to biagas

[2021-02-03 02:46] markcmiller86-visit commented on #12311
Dear Alister，

Thanks so much for your kind reply！

I have used the expression as your suggestion. However, there are some
problems. The error like this:

The compute engine running on host DESKTOP-STQ3IUC issued the following
warning: avtAverageOverTimeExpression:  Clamping end time to number of
available timesteps.

Shortly thereafter, the following occured...

The compute engine running on DESK

[2021-02-03 04:07] markcmiller86 opened #5431 "GetQueryParameters("Pick") returns None"
### Describe the bug
I wanted to see example of parameter set for doing `Query("Pick")` and learned about two great CLI methods in [this section of the CLI manual](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/functions.html?highlight=Query#query); `Queries()` which returns a list of all the query names and `GetQueryParameters(qname)` which apparently returns the dic

[2021-02-03 04:30] markcmiller86 commented on #5421
Tried a few other things...

- Manually created an expression and tried picking that...didn't help
- Played with `multi_curv3d.silo` instead...didn't help
- Ran with `-debug 5`...didn't see anything suspicious

Something else to be aware of...if you open a database with multiple meshes in it (say `meshA` and `meshB`), then the menu *paths* to the associated mesh-quality variables include the mesh

[2021-02-03 15:25] bdtaylor opened #5432 "Metadata server crashes when opening BoxLib file on Mac OS"
On Mac OS, opening plot files in Boxlib2D or Boxlib3D format causes VisIt's metadata server (MDS) to crash.  Typically, I've seen this when visualizing time series output.  VisIt will read through several files without any trouble, until it encounters a file that causes the MDS to crash.  I initially thought this might be due to file corruption, however the same files that results in MDS crashes w

[2021-02-03 16:00] rusu24edward commented on #5421
I like the `mesh_quality/shape_and_size/meshA` better because it seems more consistent with the expression, which is `shape_and_size(meshA)`.

I would suggest making a separate ticket to capture this naming since the scope of this ticket is to fix `ZonePick`.

[2021-02-03 16:12] biagas commented on #5421
I forsee one problem with moving the mesh name to the end: the expression variables defined on the same mesh would not be grouped together as they are now in the variable pull-down menu.

[2021-02-03 16:19] aowen87 commented on #12311
Hi Li-Ming,

The first warning, "avtAverageOverTimeExpression:  Clamping end time to number of available timesteps." is nothing to worry about. This one is just saying you requested X time steps when only X-A (s.t. A > 0) time steps exist. VisIt will automatically clamp to your last time step for you.

The second message seems to be an actual issue... Can you post the exact expression definition y

[2021-02-03 17:19] aowen87 commented on #5357
@brugger1 Do we also want to handle 3D polyhedrons?

I have a working solution for 2D polygons using CGNS versions 4.x. I also believe I have an alternative solution that would work for versions < 4.x if we decide we want to support that for some reason.

[2021-02-03 18:03] brugger1 commented on #5357
If its not too much effort. I imagine doing it now would be more efficient than doing it later.

[2021-02-03 18:05] aowen87 commented on #5357
Do you know if the user who gave you this polygonal data also has some polyhedral data for us to test with? It should contain both NGON_n and NFACE_n "sections".

[2021-02-03 18:10] brugger1 commented on #5357
I would need to ask. He didn’t give me any.

[2021-02-03 19:03] biagas opened #5433 "New pyside gui doesn't work"
### Describe the bug
The converter in  src/visitpy/pyui/pyside/gui/typesystem.xml  was commented out until the proper way of creating the converter could be discovered
This still needs to be fixed.

[2021-02-03 19:21] markcmiller86 commented on #5357
Happened to see this and wanted to pipe in...I think the logic to convert arb. polyhedra to groups of zoo-type elements is duplicated in at least 2 or 3 different database plugins (Silo, maybe netCDF -- on @BradWhitlock wrote I think). It should really be re-factored to `avtTransformManager` where any plugin can just take advantage of it. That might require the creation of a `vtkUnstructuredGrid`-

[2021-02-03 20:43] #4888 closed, assigned to biagas

[2021-02-03 21:47] ykempf commented on #12308
Right, I got rid of the numpy issue, I had some problem with loading all the relevant modules and not cleaning properly before building again.

I managed to build and install everything adding the `--mpich` option and removing all the flags pointing to compilers. Somehow it managed to track down an mpicc nevertheless and I suspect it's a tangle of a system OpenMPI and built MPICH. In any case I di

[2021-02-04 00:36] brugger1 commented on #5201
The following code block should be added to the LLNL custom launcher in LLNLLauncher::Customize().

if self.sectorname() == "tr-fe" or self.sectorname() == "nid":
    ld_library_path = GETENV("LD_LIBRARY_PATH")
    new_ld_library_path = self.joinpaths(["/opt/gcc/9.3.0/snos/lib64", ld_library_path])
    SETENV("LD_LIBRARY_PATH", new_ld_library_path)

[2021-02-04 13:17] markcmiller86-visit commented on #12311
Dear Alister,

The version of VisIt is 2.13.3 which has been installed in Win 10
plateform.  The expression I used is average_over_time(U_x, 19000, 20000,
125), where U_x is the name of variables, 19000 is the start time in VisIt,
20000 is the end time, and 125 is the time step of the data. Actually, I
have tried other values of start time, end time and time step, the problem
also occurs. For the

[2021-02-04 15:39] aowen87 commented on #12311
Hi Li-Ming,

I think this might be the problem: `average_over_time(U_x, 19000, 20000,
125)`

It sounds like the first time in your dataset is 19000, the last is 20000, and the time increment between each step is 125. Did I get that right?
What `average_over_time` expects is the _indices_ of these times. So, it sounds like your total number of time steps is something around (20000 - 19000) / 125 =

[2021-02-04 16:00] brugger1 commented on #5357
I sent Kambiz an e-mail asking if he needed support for polyhedra and asking him if he had a data set with polyhedra on 2/4/2020 at 7:58AM.

[2021-02-04 16:02] brugger1 commented on #5355
I send Kambiz another e-mail on 4/2/2021 at 7:58AM asking if doing a pseudocolor plot of the points would suffice and if not what his use case was. This suggestion was also in the previous e-mail.

[2021-02-04 16:50] MicK7 commented on #5357
For your information, there is an example file with polygons on the official CGNS website https://cgns.github.io/CGNSFiles :
https://cgns.github.io/CGNSFiles/TrappedVtx/trappedvtx_ngon.cgns.gz

My two cents

[2021-02-04 17:19] aowen87 commented on #5357
Great! I'll take a look at this as well.

[2021-02-04 19:45] brugger1 opened #12314 "Visit is not able to find openGL, how to pass openGL path?"
Hello,

I'm trying to build visit from source on a linux machine, visit displays the following message: "Could not obtain a 3.2 context with system GL" even though I included the openGL path in PATH and LD_LIBRARY_PATH.
I checked visit documentation (http://visitusers.org/index.php?title=Build_visit_overview) and it does not have an option to pass the openGL path.
Is there a way to force visit to

[2021-02-04 19:49] brugger1 commented on #12314
Hi,

Is the message "Could not obtain a 3.2 context with system GL" coming early on in running "build_visit"? I believe that build_visit looks in standard system locations for the system OpenGL library. It then builds a short program to check if it can get a 3.2 context using it. I believe this is what is failing. This typically happens when running on a cluster, where for some reason the OpenGL d

[2021-02-04 22:12] brugger1 opened #5436 "Update the CGNS library to the latest version."
VisIt currently uses CGNS 3.2.1, which was released in 2014, and the latest version is now 4.1.2. Furthermore, some of our users are now producing CGNS files with 4.x versions and when we try to read those files, things seem to work properly, but there are warnings generated that the library reading the data is older than the library used to generate the data.

[2021-02-04 22:13] brugger1 commented on #5436
I went ahead and updated to 4.1.2 and noticed that one of the test files "delta.cgns" is giving different results for the variables.

[2021-02-04 22:25] brugger1 commented on #5436
I created a simple example and compiled with 3.2.1 and 4.1.2 and saw the same differences. I sent the following e-mail to cgnstalk@lists.nasa.gov.

Hi all,

I recently upgraded my CGNS library from 3.2.1 to 4.1.2 and noticed some differences in the output of reading one of the sample data sets “delta.cgns”. I have reproduced it with a fairly simple example.

Here is the code:

#include <cgnslib.h>

[2021-02-04 22:26] brugger1 commented on #5436
I got the following response back.

Eric,

As another data point, if you load that file into Tecplot, it tells the following:

Min density = 0.859659
Max density = 1.01659

This agrees with your 4.1.2 results.

My “guess” is that this has to do with how Rind information is treated in CGNS.  I believe it changed (was “corrected”) with one of the newer versions.

The particular file you are looking

[2021-02-05 03:09] markcmiller86-visit commented on #12311
Dear Alister,

I have tried your suggestions. However, the error still persists. I
uploaded the dataset into the attachment
 viz_2d.zip
<https://drive.google.com/file/d/1p8TcgqTwWULPKEevX85zg6VWxGBXVhQA/view?usp=drive_web>
and OneDrive (https://1drv.ms/u/s!Amm5z6-izNhkbBDsd-12c8W75Ik?e=wIe5bw),
may I beg you for testing my dataset ?

With best regards!

Li-Ming

Alister via visit-users <visit-user

[2021-02-05 16:12] brugger1 opened #12315 "Empty plot window with Remote Desktop"
Hello VisIt World -

I am trying to use VisIt through the MS Remote Desktop, and although the GUI window appears to work correctly then the plot window remains empty -- no plot is produced and occasionally the interior of that window appears pixelized/fragmented when moved over the desktop. The Remote Desktop does not seem to offer too many options.

My configurations is

Frontend MacBook Pro runn

[2021-02-05 16:16] brugger1 commented on #12315
Hi Tomek,

This sounds like an issue with the OpenGL driver. What version of VisIt are you running? Are you using one of the pre-built binaries and if so, which one are you using? If you built yourself, can you let me know the command line you used with build_visit?

Sorry about the barrage of questions, but this should help in narrowing down the source the problems.

Eric

[2021-02-05 19:36] brugger1 commented on #12315
Hi Eric -

Oh, this is all good - no problem.

We are running a pre-built VisIt 3.1.4, linux-x86_64. The specific distribution we are using is

https://github.com/visit-dav/visit/releases/download/v3.1.4/visit3_1_4.linux-x86_64-rhel7.tar.gz

Tomek

[2021-02-05 19:36] brugger1 commented on #12315
Hi Tomek,

That distribution was built against an OpenGL on my RHEL7 system and my guess is that it is somehow incompatible with the one on your system. If you download the visit distribution built against mesa it should work fine.

https://github.com/visit-dav/visit/releases/download/v3.1.4/visit3_1_4.linux-x86_64-rhel7-wmesa.tar.gz

Eric

[2021-02-05 21:35] brugger1 commented on #12315
Hi Eric -

Thank you for suggestion. We installed the recommended rhel7-wmesa version, but unfortunately the problem persists.

Tomek

[2021-02-05 21:36] brugger1 commented on #12315
Hi Tomek,

Another possibility is that you have another OpenGL library in your library search path. Can you print out the LD_PRELOAD and LD_LIBRARY_PATH environment variables (assuming they are set)?

Eric

[2021-02-05 22:41] brugger1 commented on #12315
Hi Eric -

I had LD_LIBRARY_PATH set, indeed, but launching VisIt after removing that setting produced the same result. The plot window is initially semi-transparent in the top section of the viewport, but becomes completely opaque after resizing/moving around. Apparently data is still somehow mapped to the plot window (that is the server and engine seems working) as I can create picks with reason

[2021-02-05 22:43] brugger1 commented on #12315
Hi Tomek,

You could try running GLX gears (glxgears) and see if that produces anything. That would at least confirm whether you have a minimal amount of OpenGL functionality.

Eric

[2021-02-05 23:17] brugger1 commented on #12315
Here is a link to an article that talks about OpenGL apps using Remote Desktop.

https://stackoverflow.com/questions/51705471/current-state-and-solutions-for-opengl-over-windows-remote

[2021-02-05 23:28] #5436 closed, assigned to brugger1

[2021-02-05 23:28] brugger1 commented on #12315
Hi Eric -

Good find! I will talk to my sysadmins to see if any of those options could be implemented on our end.

Is any of software options potentially available on the VisIt end? In the meantime, I will update my laptop's system, though I have a feeling chances that it will fix the problem are slim.

Tomek

[2021-02-05 23:30] brugger1 commented on #12315
We are actually doing the last fix in the coder workarounds by using mesa for an OpenGL implementation. That's why I was surprised the mesa version didn't fix things. That doesn't give the highest performance, but it has been pretty reliable.

[2021-02-05 23:52] brugger1 opened #5439 "Enhance VisIt to read MCNP6 files."
Lila has a user that is using MCNP6 files and the code is outputting XDMF files using HDF5 1.12.x. VisIt is unable to read the HDF5 files because the files created by 1.12.x can't be read by 1.8.x. I was able to confirm that the HDF5 file was an issue by using h5dump from 1.8.x and it couldn't read it. Lila found a conversion program (h5format_convert) that she ran to convert it to a 1.8.x compati

[2021-02-08 18:54] #5201 closed, assigned to brugger1

[2021-02-08 21:26] markcmiller86-visit commented on #12312
The number of patches I started racking up to move VisIt to VTK 9.0.1 got
out of hand so I rolled back to Python 3.7.9 and VTK 8.1.0.  Things seem to
be mostly working but I'm getting segfaults when attempting to use the
FieldViewXDB writer to generate extracts through the Python interface,
though VTK appears to work fine.  I'm digging down through the layers* to
try and pinpoint the failure but i

[2021-02-08 22:33] aowen87 commented on #12311
Hi Li-Ming,

Sorry for the delayed response. I finally had a chance to open up your dataset, but I didn't see any variables defined other than the mesh. Where is the variabe U_x coming from?

[2021-02-08 23:17] brugger1 commented on #12315
Hi Eric -

Ahem... However embarrassing it may appear, good news is still good news.

After quite a bit more activity on weekend and today, we have eventually found that the Mesa VisIt version was not installed correctly on our computers. As you expected, the use of Mesa library overcomes the OpenGL problems and now we can use VisIt with Remote Desktop. For what it's worth, I can also confirm that

[2021-02-08 23:18] brugger1 commented on #12315
Hi Tomek,

I agree! Good news is good news. I’m glad you figured it out.

Eric

[2021-02-09 17:13] biagas commented on #5433
I think I may have found a solution following the [shiboken2 docs](https://doc.qt.io/qtforpython/shiboken2/typesystem_variables.html).

[2021-02-09 17:52] ARSanderson opened #5442 "Build VisIt script error"
I just update to Big Sur (OS X) and in the process of rebuilding everything in the thirdparty. When running the build VisIt script I got the following error:

[build_visit build mode ] Release
apple clang version version
../../git/clean/visit/src/tools/dev/scripts/bv_support//bv_main.sh: line 24: 10#version: value too great for base (error token is "10#version")
../../git/clean/visit/src/tools/dev

[2021-02-09 17:53] biagas opened #5443 "Adding -pyside to cli command line fails"
### Describe the bug
command line:  'visit -cli -pyside':

[code]

I also tried just running the cli, and performing the same imports from cli.C for -pyside:

[code]

I checked sys.path, and  build-dir/lib/site-packages is listed.

If I try the import directly from python, using python3 from our shared_library install, and calling the imports in the same order as from the cli, it works (I added al

[2021-02-09 18:01] cyrush opened #5444 "bootstrap_visit.py needs to set return code"
### Describe the bug

Building in docker, bootstrap_visit failed but the docker process drove on only to fail at a later step.
This was b/c bootstrap_visit.py is not propagating the error code.

[2021-02-09 21:23] brugger1 opened #5447 "Expression "max(pointvar, 1)" gives error."
Matt Obrien reported a bug with the max expression giving an error when he tried to plotting it. He gave me a file on the RZ and I was able to reproduce his bug. Here is his e-mail.

Hi Eric,

I'm using silo to write out defvars for visit.  I can also reproduce the problem if I just create an expression "by hand" using visit Expressions with particle point-variables.

max(<Particles/Variable>, 1)

[2021-02-09 21:30] #5262 closed, assigned to griffin28

[2021-02-09 21:33] griffin28 commented on #5262
Resolved with commit #5446

[2021-02-09 22:55] brugger1 opened #5448 "Should manual creation be enabled by default in build_visit?"
I noticed that the manual target is now contingent on VISIT_ENABLE_MANUALS. Should this be added to the config site file by build_visit by default? Should there be an option in build_visit to add it?

[2021-02-09 22:57] biagas commented on #5448
It should already be on by default.
Line 810 of src/CMakeLists.txt:

OPTION(VISIT_ENABLE_MANUALS  "Enable building of manuals (requires python3)" ON)

[2021-02-09 22:59] biagas commented on #5448
Oh, src/doc/CMakeLists.txt needs a change, its dependent on VISIT_PYTHON3_DIR

if(VISIT_PYTHON3_DIR AND VISIT_ENABLE_MANUALS)

[2021-02-09 23:01] biagas commented on #5448
Can just remove the test for VISIT_PYTHON3_DIR.

[2021-02-09 23:52] brugger1 commented on #5403
We discussed this and decided that we should remove all the non-default python modules. We will need to make sure any scripts that call build_visit to add the stuff that is no longer done by default.

[2021-02-09 23:54] #5405 closed, assigned to nobody

[2021-02-09 23:59] cyrush commented on #5448
I have this in my PR #5449

[2021-02-10 00:04] brugger1 commented on #5408
We should update the Project documentation to describe that it just sets the z coordinates to zero and that there are still 3D elements in the mesh. We should also mention some of these gotchas.

We should set the topological dimension to 2 for the Project operator.

Eric should add the name of the user to this ticket.

[2021-02-10 00:24] cyrush opened #5450 "windows path issue when running python ci docker helper script"
### Describe the bug

https://github.com/visit-dav/visit/blob/develop/scripts/ci/docker/build_docker_visit_ci.py

This script runs fine under powershell, but fails when using git bash.

This has to do with how the `subprocess.call` commands are passed.

In the git bash case, use of standard windows path undermines creating the tarballs.

You can use cygpath.exe to craft the correct path, however w

[2021-02-10 13:21] ykempf commented on #12308
I made some progress. I managed to get a binary package to run, so I am not continuing to try to fix the compilation with GCC 10.2.0. Also, it is not excluded that I had blunders in that build attempt...

With the binary package we stumbled upon the interesting issue that the engine_par runs fine with anything up to 8 processes, and beyond that it hangs. We also found out that the limit is 8 proce

[2021-02-10 13:43] alhom commented on #12308
I can add some more magic to this discussion, since I'm running Yann's build with 9 processors per node (currently doing a render with 16 nodes - 144 procs). 10 processors per node is the first to hang for me.

[2021-02-10 14:01] ykempf commented on #12308
I'll add that I just managed to complete a build of 3.1.4 from scratch using the `--mpich` option. And that has the same behaviour, hanging above 8 or 9 processes (per node).

[2021-02-10 15:32] brugger1 commented on #12308
There's nothing special about 8 or 9 processes per node. On our clusters we run with 8, 16, 32 and 36 processors per node. Those are the number of cores per node on our various clusters. Things should work fine with any arbitrary processor count per node. That said, we have always used the system mpi on our clusters and not our mpich. How are you launching the parallel job (providing the output th

[2021-02-10 15:35] brugger1 commented on #5328
I got masonry.py and bootstrap_visit.py converted. I tested masonry_view_log.py and that works as well, although if I already had an instance of a web browser running it couldn't connect to the web server. I spoke with Cyrus and package.py, setup.py and setup_test.py are no longer needed and can be removed.

[2021-02-10 16:42] biagas opened #5452 "ffp plugin printing to stdout when debug logs turned on"
### Describe the bug
I noticed while running the test suite on Windows, but verified it happens as well with running the test on linux.  I run with -debug 5.  I also run tests with --lessverbose.

I'm seeing lines like this (but hundreds of them).
[code]

### To Reproduce
Steps to reproduce the behavior. For example:
1. Run the ffp test, passing '-vargs="-debug 5"' to the test command line

OR

1.

[2021-02-10 17:02] rusu24edward opened #12316 "Export datafiles"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I am using a windows machine and the visit app on it to plot from LC. I w

[2021-02-10 17:23] rusu24edward commented on #12316
Hi Jack,

Exporting data files in client-server mode will save the files to the server. You should be able to find your files in your home directory on LC.

Eddie

[2021-02-10 18:23] ykempf commented on #12308
It reports and launches
[code]
and runs the job script containing this line
[code]

`srun` is the system's and it requires the mpi=pmi2 flag to handle mpich properly.

The issue is that I only managed to build against a system OpenMPI 4 and that seems to be buggy or unusably slow (not only with visit, also other software), that's why I went with the binary package and the `--mpich` flag.

One of o

[2021-02-10 22:27] brugger1 opened #5455 "Replace mpich 3.0.4 with mpich 3.3.1 in third_party repository."
Build_visit uses mpich 3.3.1 and we have mpich 3.0.4 in our third_party repository. We should remove the old one and add the new one.

[2021-02-10 22:32] brugger1 commented on #12308
VisIt doesn't have any logic to limit the process count per node.

I did a little research and found some information at

https://slurm.schedmd.com/mpi_guide.html#mpich2

that mpich must be built with specific flags for it to work properly with slurm. It may be that you are getting somewhat lucky and things are working for the case of up to 8 or 9 tasks per node.

It specifically mentions setting

[2021-02-11 01:07] ARSanderson opened #5457 "OS X Big Sur - documentation of changes to build third party libs and VisIt"
These are Allen's notes for building VisIt on OS X Big Sur.

These are the current flags being sent to the script.

build_visit --all-io --parallel --boost --zlib --mpich --makeflags -j6 --no-visit -–openssl --p7zip --no-cfitsio --no-cgns --no-gdal --no-h5part --no-netcdf --no-pidx --so-silo --no-xdmf --fortran --adios2 --llvm --pyside --mfem --ospray

---------------------
CMAKE - 3.19.5

CMake F

[2021-02-11 03:18] #5448 closed, assigned to cyrush

[2021-02-11 07:36] markcmiller86 opened #5458 "Switch to AEC Szip library?"
### Is your feature request related to a problem?
szip is more constrained by its [licensing terms](https://support.hdfgroup.org/doc_resource/SZIP/Commercial_szip.html) than other libs we use. Its also not under development anymore either, I don't think.

There is an [alternative implementation](https://gitlab.dkrz.de/k202009/libaec) that appears to be BSD licensed.

Should we switch to that?

[2021-02-11 13:27] ykempf commented on #12308
Thanks for the hint, I am now trying two things, building everything with AOCC/clang as we built an OpenMPI with slurm optimisations and AMD optimisations for the AMD cluster; and building the version with MPICH using the --with-slurm option. I'll report on the results.

I don't have issues with numpy any more.

[2021-02-11 14:22] #5328 closed, assigned to brugger1, cyrush

[2021-02-11 15:44] brugger1 commented on #5455
I noticed that cmake 3.14.7 is missing, we should add it and remove the old ones. In fact I see a lot of old libraries, we should remove the old ones and make sure that all the new ones are present.

[2021-02-11 15:46] brugger1 commented on #5455
I noticed llvm 6.0.1 and mesa 17.3.9 are also missing.

[2021-02-11 16:10] biagas commented on #5455
Mesa 17.3.9 and LLVM 6.0.1 are in our third-party repo. They may not be in Releases, but they are in the repo

[2021-02-11 16:58] markcmiller86 commented on #5458
Actually, it looks like there are [two libs to link with](https://gitlab.dkrz.de/search?utf8=✓&search=libsz&group_id=&project_id=117&scope=&search_code=true&snippets=false&repository_ref=master&nav_source=navbar) for AEC's version.

[2021-02-11 17:36] markcmiller86 commented on #4118
Build all plugins aren't on by default. Some plugins are specific to testing (rect, lcs, libsim), simulation tests (visit data manual examples), large data tests (sesame.pdb or > 2G files).

On some systems, its very convenient to build a very paired down version of VisIt.

Having pascal (testing) be different than everywhere else is a challenge....actually just anything that we test in our nightl

[2021-02-11 18:00] markcmiller86 commented on #4057
Can we investigate what it takes to write *unit* level testing for anything in VisIt like a plot, operator or database?

We don't test GUI....very difficult. Kevin looked at this before. Accessibility APIs might help with this. How does VTK do GUI testing? Can we fire Qt signals in test, snapshot the screen, look at diffs and confirm behavior?

We could expand modes (client-server)?

Cyrus looked

[2021-02-11 18:03] markcmiller86 opened #5460 "Lets play with coverage tools in our test suite"
We decided we should at least play with coverage in our test suite to see what we get.

A challenge is that we'll need to produce something to browse on our dashboard *manually* or maybe we can push to codecov where we can at least browse it there even if it doesn't run from GitHub?

[2021-02-11 18:18] cyrush commented on #5460
Just in case it helps:

enabling coverage for most compilers is pretty easy:

https://github.com/LLNL/conduit/blob/7afc2d638d1d8e2622a87a88003366b5257551e9/src/cmake/CMakeBasics.cmake#L86

Then, using a tool like covreralls, then you use a post-build step that walks the file system to find coverage files:

https://github.com/LLNL/conduit/blob/7afc2d638d1d8e2622a87a88003366b5257551e9/.travis.yml#L2

[2021-02-11 18:54] cyrush commented on #4057
Related to "other code developers can use VisIt's testing infrastructure in their test suite." -- here is the tutorial i wrote awhile back about using visit for sim code testing.

http://visitusers.org/index.php?title=Leveraging_VisIt_in_Sim_Code_Regression_Testing

We should get this into the new manual, also the `Assert` funcs are gone, so we need to update with the proper functions

[2021-02-11 19:39] markcmiller86 commented on #4057
Apologies but it had not occurred to me that our users might be using those methods. That said, I *did* request you as reviewer on #5370 and waited for sufficient time, IMHO, before moving forward with the one approval I had.

[2021-02-11 21:52] cyrush commented on #4057
@markcmiller86 no worries

[2021-02-11 22:39] cyrush opened #5461 "cgns: build using cmake in linux fails to find hdf5"
We hit configure issues with cgns 4.1.2 with the autoconf build system.

I took a pass at using the cmake build system, since this worked for Kathleen on windows.

Long story short, it wouldn't find HDF5 when given HDF5_DIR.
On windows, Kathleen builds HDF5 with cmake -- its possible that CGNS can't detect HDF5 that was not built with cmake.

CMake Configure Command Example:
`"/masonry/build-mb-de

[2021-02-11 22:40] cyrush commented on #5461
Here is my bv_cgns script with the changes to use cmake, in case we want to try this path in the future.

[bv_cgns.sh.txt](https://github.com/visit-dav/visit/files/5968802/bv_cgns.sh.txt)

[2021-02-11 22:44] markcmiller86 commented on #5461
I noticed in `bv_cgns.sh.txt` that the CMake vars for `ZLIB_library` and `SZIP_LIBRARY` do *indeed* reference the actual library file name itself (e.g.  `/masonry/build-mb-develop-ci-smoke/thirdparty_shared/third_party/zlib/1.2.11/ci/lib/libz.so`).

Since I didn't see any follow-up from this from yesterday, with the Autotools build, did you try...

[code]

instead of specifying just the top-level

[2021-02-11 22:46] biagas opened #5462 "Cannot read variable in exported multi domain silo file on Windows"
### Describe the bug
Open multi_rect3d.silo
Create and Draw Pseudocolor plot of 'u'
Open Export database options, choose Silo format, change directory from '.' to someplace else. export

Open new window
Open the exported silo file,
Try to plot Pseudocolor of 'u', but 'u' is greyed out.

![exportSilo](https://user-images.githubusercontent.com/17075318/107707130-3ec57200-6c76-11eb-8aed-879a5309af3e.

[2021-02-11 22:50] cyrush opened #5463 "cgns 4.1.2 build_visit issues on linux"
### Describe the bug

Unless a system szlib exits, cgns will fail to configure.

Passing:

`--with-szlib=$VISITDIR/szip/$SZIP_VERSION/$VISITARCH/`

fails b/c the autoconf can't link to szip (it doesn't add -L, if there is a system szlib, it will pass -- but for the wrong reasons)

Passing:
`--with-szlib=$VISITDIR/szip/$SZIP_VERSION/$VISITARCH/lib/libsz.${LIBEXT}`

fails b/c the autoconf check can'

[2021-02-11 22:51] cyrush commented on #5461
@markcmiller86 Just tried that using the autoconf build system and it failed as well, I created: #5463

[2021-02-11 23:02] biagas commented on #5462
I ran across this while trying to address issues with export_db.py test on Windows in parallel.
Subtests test1 and test2 both write their files to the temporary _run dir, but on Linux test1's files are cleaned up before test2 runs.
Since Windows doesn't allow the file cleanup (some process still has locks on them), I was trying to modify test1 and test2 to output to different directories under _ru

[2021-02-11 23:03] markcmiller86 commented on #5461
Ok, FWIW, I examined CGNS `configure.ac` file (which is autotools logic for constructing the `configure` script). I can't see any refs to anything in szip lib actually *in* CGNS...ergo they don't ever need the header file. They only need to test if HDF5 has a dependence in order to know whether or not to add `-lsz` to their link line. But, they still wind up testing for the include file as well. T

[2021-02-11 23:11] markcmiller86 commented on #5461
Ok, upstreamed [here](https://cgnsorg.atlassian.net/browse/CGNS-233)

[2021-02-11 23:20] markcmiller86 commented on #5463
@cyrus...since CGNS doesn't actually need `szlib.h`, you can lie to it by doing something like this...

[code]

This uses Autoconf's cache variable, `ac_cv_header_szlib_h` for the question *do I know where szlib header file is* to tell configure it already knows the answer and causes it to bypass asking that question. Since CGNS doesn't actually need that header file, all should be ok.

[2021-02-11 23:22] markcmiller86 commented on #5463
So, to be clear, use that config cache variable hack together with the *second* form, above, of the `--with=szip=` arg and I think it should get past that.

[2021-02-12 00:11] markcmiller86 commented on #5463
I just built CGNS on macOS using autoconf against a szip-enabled HDF5. It worked fine even when I **DID NOT** use with `--with-szip`. That worked because CGNS' autoconf (`configure`) has logic that looks for `h5cc` in HDF5 installation and does some magic...

[code]

When I subvert that logic by adjusting the installed `h5cc` to lie about szip, I can get CGNS configure to succeed but the build to

[2021-02-12 00:20] markcmiller86 commented on #5463
BTW...if it wasn't clear, IMHO, the above configure incantation is all a hack to work-around what appears to be rather buggy logic in CGNS' autoconf/configure.

[2021-02-12 15:52] biagas opened #5464 "Does it make sense that Hohlraum flux query regression test yields different results on Windows?"
For hf_3_0.txt as an example, the regression results from pascal are:

[code]

There isn't a mode-specific baseline, so serial and parallel runs yield same results.
Not so on Windows

From serial run on Windows:
[code]
From parallel run on Windows:
[code]

[2021-02-12 19:02] #5463 closed, assigned to brugger1

[2021-02-14 00:41] dealmeidavf commented on #12276
I think the 32bit for libX11 is gone now. I tried another visit build but no luck. If you could take a look at the attached log file, I would appreciate. It is the same issue though: xcbglintegrations...
Thanks.

[build_visit-3.1.4-qt5142_log.gz](https://github.com/visit-dav/live-customer-response/files/5976795/build_visit-3.1.4-qt5142_log.gz)

[2021-02-16 14:38] brugger1 opened #12317 "Advice on Linux distro for VisIt compatibility"
I am ending my use of Scientific Linux 7 as it is no longer supported and am trying to decide what Distro to replace it with. Am currently considering Centos 7 (end of life 2024) and Ubuntu but am open to further suggestions.
(I decided against Centos 8 for now because of all this business of changing it to Centos-Stream. Call me old-fashioned).
2 questions:
1.	As far as ease of doing VisIt builds

[2021-02-16 14:45] brugger1 commented on #12317
Hi Shaheen,

At LLNL we primarily use Red Hat Enterprise Linux 7, which would map to Centos 7. Ubuntu is also very popular and we are currently doing our CI on Ubuntu 18. The bottom line is, either Centos 7 or Ubuntu 18 or 20 would be fine.

Eric

[2021-02-16 14:48] brugger1 opened #12318 "Building VisIt server 3.1.4 error: Version 3.1.4 of cli does not exist for the architecture linux-x86_64."
Hello,

I'm building visit 3.1.4 on a linux server that I want to connect to from the visit client at my desktop.

I built it using the following command:
env PAR_COMPILER=mpicc  ./build_visit3_1_4 --mesagl --openssl --zlib --llvm --server-components-only --icet --mpich

Then I installed it using the following command:
./visit-install 3.1.4 linux-x86_64 visit3.1.4_server/install

The client refuse

[2021-02-16 14:54] brugger1 commented on #12318
Hi,

To test your installation on the server machine, you should run VisIt as:

./visit3.1.4_server/install/bin/visit -cli

As far as running it in a client server mode, you should first verify that you have installed it correctly and can run it on the server machine as you tried to do. The next thing to test would be client/server in serial. The Directory path you specified seems like it is corre

[2021-02-16 14:56] brugger1 commented on #12318
Hello,

I had to build everything, not only server components, to get the cli built as well.

Best regards,
Yann

[2021-02-16 14:57] brugger1 commented on #12318
Hi Yann,

I just noticed your follow on response that you got things working. Sorry about that.

Eric

[2021-02-16 15:07] brugger1 opened #12319 "Stream lines"
Hello,
I'm new to visit and I wonder if it is possible to trace 3D streamlines on a vector field with it.

Kind Regards,
--
Guido

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line

[2021-02-16 15:12] brugger1 commented on #12319
Hi Guido,

Yes, it's possible to trace 3D streamlines of a vector field. This is done using the Integral Curve operator in combination with the Pseudocolor plot and is part of the Integral Curve System. The Integral Curve System is described here:

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Operators/OperatorTypes/ICS/index.html#integral-curve-system

Generating s

[2021-02-16 15:20] brugger1 commented on #12317
Is it possible to provide pre binary file for ubuntu 20.10 too?

[2021-02-16 15:22] brugger1 commented on #12317
We have a pre-built binary for Ubuntu 20, although I can't recall if I built it on a 20.4 or 20.10 system and unfortunately the Docker container I used to do the built got deleted when I did an OS upgrade on my system a couple of weeks ago. The next release of VisIt will definitely include a 20.10 pre-built binary.

Eric

[2021-02-16 15:36] biagas commented on #12276
Qt doesn't seem to be finding all the X11 things it needs (or what seems to be 'normal' for our builds.)

[code]

[code]
However, VTK's build seems to find the needed X11 just fine.

Another customer had a possibly similar issue, which was resolved by
creating a symbolic link to /usr/lib64 and put it in the X11R6/lib64 dir and re-running build-visit.
(see https://elist.ornl.gov/mailman/private/vis

[2021-02-16 15:55] aowen87 opened #5467 "Mili dataset time series issue"
### Describe the bug
Kevin Durrenberger sent me a Mili dataset from Jerome Solberg. It sounds like the time states aren't being picked up by VisIt for some reason, only the first state.

**Helpful additional information**
 - Did VisIt crash: No

### To Reproduce
Open up the given dataset and try to plot time states > 0. Jerome reports a blank screen for time states > 0.

### Expected behavior
All

[2021-02-16 16:11] biagas commented on #12309
Hello Wei,

Do you need further assistance?

Kathleen

[2021-02-16 16:15] brugger1 commented on #12317
Hi Eric,

I think It was ubuntu 20.04. When I tried to run this on ubuntu 20.10, I got the following warning

visit3_1_4.linux-x86_64/3.1.4/linux-x86_64/bin/gui: error while loading shared libraries: libicui18n.so.66: cannot open shared object file: No such file or directory

[2021-02-16 16:19] brugger1 commented on #12317
/build_visit3_1_4 --thirdparty-path $HOME/Downloads/third-party/ --hdf5 --silo --system-qt --parallel --makeflags -j8

Configuring Qwt . . . (~1 minute)
Building Qwt . . . (~2 minutes)
Qwt build failed.  Giving up
Unable to build or install Qwt. Bailing out.
Error in build process.

If I want to increase building time from ~2 minutes to let's say 10 minutes, Is it possible while running the above

[2021-02-16 16:27] brugger1 commented on #12317
I suspect Qwt is somewhat tied to the version of Qt and that the system Qt is much newer than what we have been building. At this point the only option is to not use the system Qt. We are upgrading to a much newer Qt for our upcoming 3.2 release, in which case you could probably build Qwt against the system Qt. A future option might be to add a --system-qwt or --without-qwt option, but I don't kno

[2021-02-16 16:34] biagas commented on #5386
qannote tests can be fixed by adding 'universal_newlines=True' to the subprocess open command in visit_utils/qannote/xinit.py

[2021-02-16 17:04] biagas commented on #5386
qplot_scene can be fixed by changing the encoding in the 'open' call in test_qplot_scene.py:
[code]
and by changing 'xrange' to 'range' in _data/qplot.example.in and _data/qplot.example.log.in

I will get a branch and PR prepared with these fixes.

[2021-02-16 17:46] ykempf commented on #12318
Well I replied to the original poster but I don't know if that was enough for them. Is it expected that `--server-components-only` doesn't yield the cli? That prevents e.g. scripting.

[2021-02-16 18:04] brugger1 commented on #12318
`--server-components-only` builds the components for running the server, so it doesn't build the viewer or cli components. The intent of `--server-components-only` is to build only enough of VisIt to run client/server to the server system. If you wanted to do scripting with a server only build, you would run the cli on the client system. I think the issue this user ran into was that he couldn't ge

[2021-02-16 18:06] ykempf commented on #12318
All right, thanks for the clarification.
Yann

[2021-02-16 19:19] brugger1 commented on #5407
I made the changes and was hoping that ice-t would build when using mpich. I tested this on ubuntu 18 and it still failed to build. I'm working on getting ice-t to build now.

[2021-02-16 19:35] #5386 closed, assigned to biagas

[2021-02-16 19:47] brugger1 commented on #5407
Setting MPI_C_COMPILER and MPI_CXX_COMPILER to CMake allowed the build to work on Ubuntu 18. Now I'll let it all build and then see if the parallel version works. Then I'll go back and test it on quartz.

[2021-02-16 19:50] brugger1 commented on #5455
I deleted all the old versions. Now to add the missing current versions.

[2021-02-16 20:02] brugger1 commented on #5407
Pyside isn't building on ubuntu 18.

[2021-02-16 20:03] markcmiller86-visit commented on #12318
Thanks Yann, that did enable the cli option.

But I'm still not able to get the client/server to work.

In the hostfile I set up the following paths:
<Field name="directory" type="string">visit3.1.4/install</Field>
<Field name="sublaunchPreCmd" type="string">"export
PATH=visit3.1.4/install/3.1.4/linux-x86_64/bin:${PATH}"</Field>

On the server, I added the following to my ~/.bashrc:
export
PATH=vi

[2021-02-16 20:06] cyrush opened #5469 "ddf isn't properly accounting for ghost zones"
### Describe the bug

When creating spatial mass distributions using DDFs -- a user noticed that there was too much mass in the distribution.

I looked at the dataset, plotted a pseudocolor of mass + the inverse ghost zone operator, executed a variable sum query and that amount was exactly the extra amount of magic mass.

This probably is the root cause of some generally DDF head scratching, perha

[2021-02-16 20:10] markcmiller86 commented on #5469
While that default behavior should probably be fixed, is there any knobs in DDF operator to excluded/include ghost data?

[2021-02-16 20:34] cyrush commented on #5469
There are no such knobs that I can think of.

If the "inverse ghost zone operator" allowed us to remove ghost zones, that would have saved us, but that is not an option.

Also  -- in this case, the ghost zones are embedded in the file, so there is no way to control if they are created - they need to be filtered.

[2021-02-16 21:17] biagas commented on #12318
What OS is your client running?

You shouldn't need to add any PATH or LD_LIBRARY_PATH in your ~/.bashrc on the server.

All the information needed to run the server aspects of VisIt will be contained in the host profile installed on the client machine.

If you wanted VisIt in your path on the client side, just for simplicity in being able to type 'visit' instead of '/full/path/to/visit/bin/visit'

[2021-02-16 23:04] markcmiller86-visit commented on #12318
The client machine is Mac and running macOS Catalina, I downloaded the
binary from the visit website.
Yes, I have the full path for visit specified in the directory option.
I run visit -debug 5 on the server machine, because that is what I
understood from the error message, which is the following:
"The metadata server on host X could not be launched or it could not
connect back to your local compu

[2021-02-16 23:11] markcmiller86 commented on #5469
Ok, so this is another case where if we had had an expression that created a boolean variable indicating ghost node (or zone), we could have included it as one of the criteria in ddf filtering.

[2021-02-16 23:16] markcmiller86 commented on #5469
Or, used it in another filter like threshold to exclude those nodes or zones.

[2021-02-16 23:22] biagas commented on #12318
Run with '-debug 5' on your client machine when testing if you can connect to server.
After VisIt fails to connect, then check server for the specified log files which *may* indicate why the connection failed.
Just to be sure, have you verified that you can ssh from your Mac to the server?

[2021-02-16 23:28] cyrush commented on #5469
ghost zone expr would also be great and solve this issue.

[2021-02-17 00:13] cyrush opened #5470 "closing database disables the timeslider for another database"
### Describe the bug
Using visit to clean a dataset in a script.

I am processing a time varying database, for each time slider step I:

* setup a plot and export a dataset
* open the exported dataset
* process the new dataset more and do another export
* close the exported dataset

The time slider for the original database is in a bad state (doesn't seem to exist) unless I re-open the database, o

[2021-02-17 00:22] rusu24edward commented on #5431
Related to #5421

[2021-02-17 00:29] markcmiller86 commented on #5431
The `Pick` *query* is a bit of an oddball because that operation existed as its own special thing (a pick operation) before queries were created. So, even though it is treated kinda sorta like a *query*, its really its own special operation and there is special logic to handle it as a *query* in the GUI. The GUI does indeed list `Pick` as one of the possible options but note, in the list output by

[2021-02-17 00:49] cyrush commented on #5450
pathlib might help, like with: https://github.com/visit-dav/visit/pull/5466/files

[2021-02-17 00:53] rusu24edward commented on #5460
Related to #4057

[2021-02-17 01:04] cyrush opened #5471 "build_visit pyside build error in docker container"
[code]

[2021-02-17 01:06] cyrush commented on #5471
cmake configure:
[code]

Possible solution: We need to pass llvm details at cmake configure time?

[2021-02-17 01:09] cyrush commented on #5471
@biagas looks like you did try passing these, but went another route?

Do we need to re-enable these when we configure?

https://github.com/visit-dav/visit/blob/1f6c0c9bb3a3e3a76e2ecfa65bc0df5e56d62844/src/tools/dev/scripts/bv_support/bv_pyside.sh#L309

[2021-02-17 01:14] biagas commented on #5471
The commented out section is for building pyside as a python module (eg it gets installed in Python's site-packages).
I experienced LD_LIBRARY_PATH issues with that installation route, hence that section is commented out.
bv_llvm.sh should be exporting the necessary LLVM_INSTALL_DIR/CLANG_INSTALL_DIR.

[2021-02-17 02:07] cyrush commented on #5471
thanks for the context -- i'll dive deeper tomorrow!

[2021-02-17 16:10] cyrush commented on #5471
found the issue, it's a linking issue related to there being no system gl.
I'll try to resolve soon

[code]

[2021-02-17 16:45] brugger1 commented on #5455
I added the missing current versions. I actually only found 2, cmake and mpich.

[2021-02-17 16:47] brugger1 commented on #5455
Resolved with merge #10 to third-party repo.

[2021-02-17 16:47] #5455 closed, assigned to brugger1

[2021-02-17 17:55] cyrush opened #5472 "barriers to exporting data in the cli"
### Describe the bug
I am exporting a database with several vars, here are a few issues that stymied me:

exporting database with bad var name could give better error message:

`VisIt: Error - Unable to export database: viewer: The pipeline object is being used improperly: Dataset to export was empty. It is possible an invalid variable was requested.`

Expected Behavior:
Tell me which var is inval

[2021-02-17 18:41] cyrush opened #5473 "build_visit error message reports wrong path to log file"
### Describe the bug

Recording a discussion we had at our project meeting on 2/16/2021:

If a build fails, build_visit provides a message about what log file to look at.

The `build_visit_log_` is relative to the build path of the lib that failed, however the actual log with the details is one dir up.

There is one in the lib build dir, but it doesn't have in the info we need.

Related issue:
Why

[2021-02-17 19:18] markcmiller86-visit commented on #12318
I run visit -debug 5 on the client, tried connecting to the server via the
hostfile, it connects and then displays the following message:
Version 3.1 of VisIt does not exist

I'm not sure why it is looking for visit 3.1 instead of 3.1.4. Is that
something I can specify in the hostfile?

On Tue, Feb 16, 2021 at 4:22 PM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov> wrote:

[2021-02-17 21:55] biagas commented on #12318
Did you look for log files in your home directory on the server machine?  Look for A.vcl.5.vlog (or similar *vcl*.vlog).
If it exists, look for 'Launch RPC command'  Verify that the path specified there is truly the path to VisIt on your server machine.

As for the Version message, that simply means that didn't find any compatible 3.1 version at the location on the server where you told it to conn

[2021-02-17 23:44] cyrush commented on #5471
@biagas  I have been spelunking around in pyside, looking for a possible way to inject the proper GL libs.

I see the `GL_H` which we are using, but I am not really sure how that is leveraged?

Do we need to provide details to supplement FindQt5?

[2021-02-17 23:59] biagas commented on #5471
When I ran build_visit with llvm, mesa, qt, python, pyside This was populated in the CMakeCache.txt for Pyside:

//Path to a library.
_Qt5UiTools_RELEASE_GL_PATH:FILEPATH=/usr/WS1/visit/visit/thirdparty_shared/3.2.0-pyside2/toss3/mesagl/17.3.9/linux-x86_64_gcc-6.1/lib/libGL.

Also, I took a look in the pyside build dir:
sources/pyside2/PySide2/QtUiTools/CMakeFiles/QtUiTools.dir/link.txt
According

[2021-02-18 00:06] cyrush commented on #5471
It looks like it's in there:

[code]

QtUITools has it, but the GL dep that is causing an error is actually in libQt5Gui.

Whats challenging: It could be an issue with CMake's FindQt, it could be an issue with how CMake was configued, it could be an issue with how pyside is calling FindQt.

[2021-02-18 00:06] cyrush commented on #5471
I guess I could set LD_LIB path when building?

[2021-02-18 00:11] cyrush commented on #5471
Trying LD_ LIB_PATH ....

[2021-02-18 00:36] biagas commented on #5471
Am I understanding correctly, that the container doesn't have a system-gl and pyside isn't linking correctly?
Do you think that means it actually linked with system-gl on the lc systems where I compiled it, instead of mesa-gl?

[2021-02-18 01:03] cyrush commented on #5471
That seems to be the case. During some of the build process, it does things like import the python modules - which will dynamically load GL.

If QT was built with an RPATH to the right GL, that might solve the issue.

The LD_LIB_PATH fix worked for building in the container with no system GL.
I am adding a case that sets LD_LIB_PATH when mesa is on.

[2021-02-18 01:16] biagas commented on #3072
I would have thought adding a 'Notify' call would do the trick, as in:
[code]
But adding that call really hoses the mesh plot completely.

[2021-02-18 18:22] brugger1 opened #5474 "make package from develop fails in Docker Ubuntu 18 container."
### Describe the bug

I did a "make package" in a Docker container running Ubuntu 18. Here is the error message from "cpack".

CPack: Create package using TGZ
CPack: Install projects
CPack: - Run preinstall target for: VISIT
CPack: - Install project: VISIT
Symlinking current to 3.2.0
CMake Error: failed to create symbolic link '/usr/local/current': permission denied
CMake Error at /home/visit/visi

[2021-02-18 18:44] biagas commented on #5474
This is the same problem described in SREs [#192](https://github.com/visit-dav/live-customer-response/issues/192) and [#183](https://github.com/visit-dav/live-customer-response/issues/183).
We could try changing the install command to only install the xcbglintegrations plugin if it actually exsits.
My question is whether or not VisIt will work properly without it?

[2021-02-18 18:46] biagas commented on #5474
@brugger1 Does this email thread shed any light on the container problem?
https://elist.ornl.gov/mailman/private/visit-developers/2021-January/019378.html

[2021-02-18 19:23] cyrush commented on #5471
resolved in #5449

[2021-02-18 19:33] biagas commented on #5474
I wonder if modifying bv_qt.sh to set LD_LIBRARY_PATH pointing to mesa dir would help? (Like @cyrush did for bv_pyside.sh #5449)

[code]

[2021-02-18 20:16] cyrush commented on #5345
FYI: Both Silo and Conduit will need changes to use 1.12.0 API, do to changes to the compatibility macros

https://github.com/LLNL/conduit/issues/711

Here is an example compile issue for Silo:
[code]

[2021-02-18 20:30] biagas commented on #5345
Similar issue: #3621

[2021-02-18 22:45] markcmiller86-visit commented on #12318
There are no log files on the server and yes I'm trying to connect using
'serial' configuration for now.

On Wed, Feb 17, 2021 at 2:56 PM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov> wrote:

[2021-02-18 23:02] cyrush commented on #5425
working on this.

[2021-02-19 00:02] biagas commented on #3179
@brugger1 do you know if this is still an issue? I cannot see the ServiceNow ticket, so perhaps this is resolved?

[2021-02-19 00:24] #5444 closed, assigned to cyrush

[2021-02-19 00:24] #5471 closed, assigned to nobody

[2021-02-19 15:51] brugger1 commented on #3179
@biagas I don't know. I will check when I'm on site next.

[2021-02-19 16:18] #5425 closed, assigned to cyrush

[2021-02-19 18:17] cyrush commented on #5443
@biagas I think the root cause may be a simple relative import issue, that said I am having an issue building VisIt's pyside guts on my mac, here is what I am seeing -- and ideas of what could be wrong? Seems like LLVM + PySide  don't know where to look for headers?

[code]

On macOS, qt is build using frameworks, which have a differente file system layout, I think it should be looking here:

`/th

[2021-02-19 18:29] cyrush opened #5477 "llnl pascal: lots of warnings about system libs crossing with explicitly provided libs"
### Describe the bug
builting on pascal, lots of linking warnings like:

[code]

The GL ones don't worry me as much b/c I think even for dev builds we select GL libs dynamically ourselves.
TBB ones are a little scarier.

[2021-02-22 15:28] brugger1 commented on #5474
Tried that out. It still got the same output for the QPA backends.

[2021-02-22 15:33] biagas commented on #5443
visitpy/pyui/pyside/hook/CMakeLists.txt has this line:
[code]
What is the value of Qt5Core_INCLUDE_DIRS on Mac?

For visitpy/pyui/pyside/gui/CMakeLists.txt, I use the target properties of Qt5::Core to get the full includes, perhaps that is necessary for the hook as well?
[code]
What does QT_CORE_INCLUDE_DIRS get populated with on Mac?

[2021-02-22 16:17] #5298 closed, assigned to biagas

[2021-02-22 16:57] #5412 closed, assigned to brugger1, cyrush

[2021-02-22 17:06] brugger1 commented on #5474
I looked in "config.log" for Qt and looked for the opengl section and found this.

looking for library opengl
Trying source 0 (type pkgConfig) of library opengl ...
+ /usr/bin/pkg-config --exists --silence-errors gl
pkg-config did not find package.
  => source produced no result.
Trying source 1 (type makeSpec) of library opengl ...
header entry 'config.qtbase_gui.libraries.opengl.headers.0' passe

[2021-02-22 17:09] cyrush commented on #5443
I think this is an macOS specific issue related to using frameworks (their fancily packaged shared libs).

`-I` alone doesn't help b/c the dir hierarchy of the frameworks implies a more complex use.

Playing around to find a path forward.

[2021-02-22 17:18] biagas opened #5483 "bv_mxml, is it needed?"
If so, how is it used in VisIt?

[2021-02-22 17:26] markcmiller86 commented on #5483
A brief look shows it may be related to ADIOS...

https://github.com/visit-dav/visit/blob/619644a90146a9b0c85da9c0c69504363be80327/src/tools/dev/scripts/bv_support/bv_mxml.sh#L125

[2021-02-22 17:31] biagas commented on #5483
bv_adios.sh calls '--without-mxml' during configure.

[2021-02-22 20:43] cyrush commented on #5443
still no luck on proper way to pass Qt Frameworks to Shiboken, I pulsed on one of their public forums, fingers crossed I get some guidance.

[2021-02-22 22:27] #5407 closed, assigned to brugger1

[2021-02-23 16:01] brugger1 opened #5485 "Ubuntu 18 version of VisIt hangs at startup on WSL (Windows Subsystem for Linux)"
Jose reported that VisIt 3.1.4 hangs at startup when he runs the Ubuntu 18 version on WSL.

I went ahead and installed Ubuntu 18.04 LTS on my system.

Once I had Ubuntu 18.04 LTS installed I had to figure out how to use it. The Ubuntu 18 install added an Ubuntu 18.04 LTS entry in the Start menu. I clicked on it and it brought up a shell window. My first task was to figure out how to display a grap

[2021-02-23 16:19] cyrush opened #5486 "test suite results html missing python source page"
### Describe the bug

We should be able to see the python source for our tests via the test suite html.
Seems to be missing, here is an example blank page:
https://visit-dav.github.io/dashboard/2021-02-19-22:00/pascal_trunk_serial/operators_inverse_ghost_zone_py.html

 (looked for a ticket but didn't find one about this)

[2021-02-23 18:54] biagas opened #5488 "Py_queries test crashing engine on Windows"
### Describe the bug
py_queries test failed on Windows, it crashes the engine.
Ran it through the VS debugger, which yielded an access violation in mpicom_reduce at the call to MPIComm_Rank.

### Desktop
 - OS and version: Windows 10
 - VisIt Version: develop

[2021-02-23 19:02] biagas commented on #5488
@cyrush Adding you to this ticket as well as myself, can you advise?

[2021-02-23 19:08] biagas commented on #5488
VS says it cannot find the function definition for PyInit_mpicom declared like so:
[code]

[2021-02-23 20:01] biagas commented on #5488
That's probably just an Intellisense red herring, as it's clearly getting compiled, and I'm able to step into it in parallel with the debugger.

[2021-02-23 21:15] biagas commented on #5488
If I change
[#define MPI_COMM_MAIN (*((MPI_Comm *)mpi_comm_ptr))](https://github.com/visit-dav/visit/blob/1f61f06b53c5faa17a3c2342b481eaf4f4dba7d4/src/visitpy/mpicom/src/mpicom.C#L44)
to:
#define MPI_COMM_MAIN MPI_COMM_WORLD
the crash goes away

I will add an ifdef wrapper to only set it this way on Windows and run other tests with it.

[2021-02-23 23:22] brugger1 commented on #5464
I believe the hohlraum flux query uses a random number generator to define the rays for the query.

[2021-02-23 23:30] brugger1 commented on #5473
The build_visit log is in the directory that you run build_visit. There may be a log file in the directory of the software but it has only a line or a few lines and is typically not helpful.

[2021-02-23 23:43] brugger1 commented on #5483
We decided that we can get rid of this and have turned it into a ticket to remove mxml from build_visit.

[2021-02-24 00:08] biagas commented on #5488
@cyrush, so where does mpi_group ever get changed in this file? (from it's initial value of MPI_COMM_WORLD?)

[2021-02-24 00:08] biagas commented on #5488
Doh, never mind, found it.

[2021-02-24 01:11] #5469 closed, assigned to nobody

[2021-02-24 01:19] cyrush commented on #5488
@biagas -- created #5490 , which uses a more robust approach over all.

[2021-02-24 05:14] markcmiller86 commented on #5473
I've found a fixed a slew of small problems with `build_visit`. One particularly bad one is the sensitivity of logic to detect compiler version number. That was far too dependent on there not being any positional (or, frankly, other kinds of) changes in the way vendors output compiler version info.

That said, the problem @cyrush ran into is an inherent issue with our scripting logic. We are const

[2021-02-24 15:50] #5488 closed, assigned to cyrush, biagas

[2021-02-24 16:44] brugger1 opened #12320 "VisIt in batch mode on HPC"
Hi,

I am trying to set up VisIt to run batch jobs on our HPC cluster. I am starting it with the CLI and feeding it a session file. Within the session file, I am starting and stopping a compute engine using SRUN to process across multiple nodes.

I keep getting the following error:

The engine could not connect to the viewer due to a networking problem.  The engine is exiting

Is there something I

[2021-02-24 16:51] brugger1 commented on #12320
Hi Erin,

Launching a parallel engine is not done through a session file, but rather by setting up a host profile for your system that tells VisIt how to start a parallel job on your system.

I don't know how far you've gotten yet with VisIt, but the first thing I would try out is just starting VisIt and making sure you can run a serial compute engine and generate an image. Then I would move on to

[2021-02-24 17:48] cyrush commented on #5443
gaining on this, I hope to have a path forward today.

[2021-02-24 19:23] biagas commented on #3054
Issue seems to have been fixed with new Qt version.
I will remove the tests from skip list, run and rebaseline as necessary.

[2021-02-24 20:04] aowen87 commented on #5357
@brugger1 have you heard anything back from Kambiz yet?

@MicK7 I took a quick look at the CGNS example file, but it seems a bit odd. It looks like it contains NFace but not NGon elements. I was under the impression that NFace must be used in conjunction with NGon (discussed [here](https://cgns.github.io/CGNS_docs_current/sids/gridflow.html#Elements)). Is that not the case?

[2021-02-24 20:10] markcmiller86 commented on #5473
What is happening here is that all packages call `info` function to record what they are doing. That function uses `echo` to echo the information. Usually, we have a redirect active so that simply performing the `echo` command causes the output to go to the top-level log.

But, `info` also calls `build_visit`'s `log` function. That function does an echo with explicit redirect (`>>`) to `$LOG_FILE`

[2021-02-24 20:47] brugger1 commented on #5357
@aowen87 I sent you an email with a sample file from Kambiz on 2/8/2021. I just sent it again.

[2021-02-24 20:51] aowen87 commented on #5357
Thanks, Eric! I must have lost track of that origin email.

[2021-02-24 21:41] aowen87 commented on #5467
The problem's actually a bit different than described. VisIt is capable of rendering any time state, but the rendering turns blank when switching between time states.

The mesh has 256 domains. I picked out 2 domains to test individually (VisIt can load in individual mili domains as datasets). The first domain renders fine, and I can move between time states without issue. The second domain, howev

[2021-02-24 22:05] biagas opened #5493 "Clonecopy regression test crashes viewer"
### Describe the bug
After changes in PR 5492

clonecopy crashes viewer when run in parallel mode:

[code]

Weird thing is, it does not crash on Windows.

Going to attempt to get a stack trace.

### Desktop
 - OS and version: linux
 - VisIt Version: develop

### Additional context
Add any other context about the problem here. Attach any (zipped) relevant files, such as data, configurations, sessio

[2021-02-24 22:32] biagas opened #5494 "Qt warnings when looking at Compute engines progress window"
### Describe the bug
Whiile running visit's gui, open Compute engines window,
do some plots
Whenever progress is being shown in the Status line edits, warnings like below are spit out to terminal:

[code]

### Desktop
 - OS and version: linux (only system tested)
 - VisIt Version: develop

[2021-02-24 23:47] #3054 closed, assigned to biagas

[2021-02-24 23:50] #5473 closed, assigned to markcmiller86

[2021-02-25 15:48] biagas commented on #5493
It also crashes Viewer in serial mode, have updated title to reflect this.
Don't know how it worked yesterday and not today.
It is back in the skip list in all modes.

[2021-02-25 18:30] brugger1 opened #12321 "Exporting database in vtk UNSTRUCTURED_GRID format"
Hello,

I have an application that can only read vtk files in UNSTRUCTURED_GRID (ASCII) format.

Is there a way to use VisIt to export data this way (perhaps using the cli)?

Specifically, I am reading a vtk file from DREAM.3D in RECTILINEAR_GRID (with cell data) and I would like to be able to save it as UNSTRUCTURED_GRID (with point data).

I am able to do the cell data to point data conversion u

[2021-02-25 18:33] brugger1 commented on #12321
Hi David,

You can turn the RECTILINEAR_GRID into an UNSTRUCTURED_GRID by using the Threshold operator and selecting a ran that is greater than the actual range of the data. This will leave all the cells in your data set and convert the grid to unstructured. You can then export the data at VTK ASCII format.

Eric

[2021-02-25 18:58] biagas commented on #5493
Running with -gdb viewer
[code]

[2021-02-25 20:14] brugger1 commented on #12321
Thank you, Eric. I will try that!

David

[2021-02-25 20:49] markcmiller86-visit commented on #12320
Hi Eric,

The response was helpful – so what I am specifically doing is starting visit using the following command:

visit -cli -nowin -verbose  -s visit_driver.py

Then inside my visit_driver script I set up the compute engine:

OpenComputeEngine("localhost",("-nn",str(nodes),"-np",str(totalCores),"-l","srun","-machinefile",machineFile))

Do I need a nowin in the OpenComputeEngine line (is a batc

[2021-02-25 21:10] markcmiller86-visit commented on #12320
Hi Erin,

You do not need “-nowin” for starting the compute engine. The compute engine never has any windows. Yes, you can run VisIt in a totally batch mode just saving images in the file system. Once you have the engine started you would create and draw plots and then save the images.

Eric

From: ERIN BOLAND via visit-users <visit-users@elist.ornl.gov>
Sent: Thursday, February 25, 2021 12:50 PM

[2021-02-25 21:41] biagas opened #5498 "build_visit --write-unified-file is broken"
### Describe the bug
I ran 'build_visit --write-unified-file bv' from latest develop

The generated file doesn't work. From this incantation:
[code]
Here's the error:
[code]

In looking at the file, it looks pretty hosed. Will try to attach it in a moment.

[2021-02-25 21:44] biagas commented on #5498
[bv.gz](https://github.com/visit-dav/visit/files/6045902/bv.gz)

@markcmiller86 Can you take a look at this?

[2021-02-25 21:48] markcmiller86 commented on #5498
Sure.

[2021-02-25 21:49] biagas commented on #5498
So, my assessment that file 'looks pretty hosed' was a bit harsh. I must've been looking somewhere in the middle when I thought I was looking at the top of the file. My apologies.

[2021-02-25 22:07] markcmiller86 commented on #5498
No worries. I obviously broke something. Think I put the function in the wrong file as far as the *unified* variant thinks.

[2021-02-25 22:21] markcmiller86 commented on #5498
Does adding this line to `build_visit`, around 455, fix?

[code]

When I do that, I think I fix the problem (e.g. the missing func in the unified file). But, I also see these errors...

[code]

[2021-02-25 22:28] biagas commented on #5498
That fixes things.

[2021-02-25 22:30] markcmiller86 commented on #5498
Do you get that wierd error message bout `visiti3.2.0.tar.gz doesn't exist...`? I did this op in a bare, newly created dir. I can fix that error message if so.

[2021-02-25 22:34] markcmiller86 commented on #5498
Ok, looks like that is proper behavior. When that file *does* exist, it *adds* them to the unified output file.

[2021-02-25 22:40] biagas commented on #5498
That message usually happens from a dev version of build_visit, I always ignore it.

[2021-02-25 22:42] #5498 closed, assigned to nobody

[2021-02-25 22:42] brugger1 commented on #5498
When you create the unified file, it wants to add the checksum for the visit tar file. If it can’t find the file it outputs that error message. To eliminate it, you would run “src/tools/dev/scripts/visit-dist visit3.2.0” to create the tarfile.

[2021-02-26 00:20] biagas opened #5500 "bv_mfem issues"
### Describe the bug
if build_visit is run with --mfem but without --fms, the build of mfem willl fail.

[code]

bv_mfem.sh has logic for turning ON FMS support if --fms was used:

[code]
I believe adding an else condition to set MFEM_USE_FMS=OFF will sort out the issue.

Also, I noticed that mfem uses HDF5 support when --hdf5 specified, but it's not listed as one of the dependencies

**Helpful ad

[2021-02-26 01:29] cyrush opened #5503 "pascal engine crashing when running test suite in parallel"
### Describe the bug

When running the test suite on pascal to update the parallel mode baselines for the ddf test, I noticed that the engine was crashing on exist.

It's doesn't have to do with the ddf test, I also tested running the silo test:

[code]

### To Reproduce

Compile and run the test suite on pascal.

Here is what I used to configure:

[code]

To run, I used the following from the `bu

[2021-02-26 02:30] brugger1 commented on #5474
I was able to get xcbglintegrations to build on my ubuntu 18 image in WSL by doing the following:

apt-get install -y libegl1 libegl1-mesa-dev
cd /usr
ln -d lib lib64

Presumably this will fix the docker container as well.

[2021-02-26 12:14] surak opened #5504 "Headless mode"
So, one of the users of our supercomputing center is trying to use visit to create an animation about his data.

The whole thing is not interactive, and each of our compute nodes has 4 A100 GPUs, with OpenGL and X installed, but they are ran on a submission system: slurm.

I haven't found a way, even using `-nowin` and `-cli` to make it work in headless mode, or in a jupyter instance there.

[2021-02-26 15:49] MicK7 commented on #5357
@aowen87 You are right NFace must be used in conjunction with NGon. May be there was a problem when decompressing the file since you should have found a NGonElements section and a NFaceElements section.

[2021-02-26 16:23] brugger1 opened #5505 "Should we change Qt build in build_visit to out of source build?"
I was doing a lot of iterations of building Qt to figure out how to do it on Ubuntu 18 in a container. It is currently doing in source builds, so each time I tried something new I had to start over. This shouldn't be a big deal, but untarring the source code takes an hour in a container and even 20 - 30 minutes on quartz. Doing out of source builds would only require blowing away the build directo

[2021-02-26 16:54] aowen87 commented on #5357
@MicK7 Thanks for the confirmation. I took a second look at that dataset, and it turns out that there was some old logic in our reader to ignore sections with parent data defined. I have no idea why that choice was made (maybe because they were ignoring ngon/nface sections?), but the example data now renders:

![trappedvtx_ngon](https://user-images.githubusercontent.com/11658578/109329356-b1f2ea80

[2021-02-26 17:48] brugger1 commented on #5504
You should be able to get VisIt to work on a headless system with `-cli -nowin`, we do it all the time. Can you tell me a little bit more about your build of VisIt and what you've gotten to work so far? Specifically,

- What version of VisIt are you using?
- Did you build VisIt yourself or did you use one of our pre-built versions?
- If you built it yourself, what was your build_visit command line

[2021-02-26 19:04] RemiLacroix-IDRIS opened #5506 "ADIOS: Support for non parallel build?"
Hello,

It seems like VisIt build system is requiring a parallel install of ADIOS by making `adiosread` library mandatory:

https://github.com/visit-dav/visit/blob/b46e8a76e4b976e60a605735ee4852048d448247/src/CMake/FindADIOS.cmake#L19

However it's unclear to me if this is actually needed when building a non-parallel version of VisIt.

Based on https://github.com/visit-dav/visit/blob/develop/src/d

[2021-02-26 19:59] #5443 closed, assigned to cyrush

[2021-02-26 20:56] brugger1 commented on #5474
With the changes above I successfully create a distribution on WSL and then installed it. I was able to use the CLI in nowin mode to successfully create an image. When I ran the CLI with a window I got "Xlib:  extension "MIT-SHM" missing on display ":0.0"." and the output window was black. I never got any images to display. When I ran with the GUI it hung at 80% like it did with VisIt 3.1.4.

[2021-02-26 21:07] aowen87 commented on #5467
Looking more closely at the example domain exhibiting this behavior, there's something very peculiar about it.

There's a total of 32,918 nodes on this domain, **but 29,886 of them reside at coordinate (0, 0, 0)**. That's 91% of the nodes having the same coordinate... At first, I thought this might be unfilled space in the buffer after reading in the points, but that doesn't seem to be the case.

[2021-02-26 22:15] jameskress opened #5507 "Conduit build error"
I believe that there is an issue with the bv_conduit script. Right now it is failing to build conduit for me. The current issue is that hdf5 has not yet been installed by visit, yet conduit thinks it has, as I believe the bv_conduit_depends_on method has two typos. Both the python and hdf5 lines should concatenate the depends information like the mpich line.

https://github.com/visit-dav/visit/blo

[2021-02-26 23:31] cyrush commented on #5507
thanks @jameskress.
I need to update the scoreboard:

- bash: 1000
- cyrush: 0

[2021-02-27 07:42] MicK7 commented on #5357
Nice render.
Concerning the split of  ngon in multiple section, I don't know if this is a standard but it is a possible behavior if user wants to store boundary faces in specific section or group faces by MPI process.

[2021-03-01 16:42] #5474 closed, assigned to brugger1

[2021-03-01 20:01] jameskress commented on #5507
Hahaha, I know the feeling all too well!

[2021-03-01 23:14] brugger1 opened #5510 "LLNL host profile updates."
There are a couple of host profile updates to make.

Remove zin,zindev
Add Ruby

[2021-03-02 02:11] #5500 closed, assigned to biagas

[2021-03-02 15:49] aowen87 opened #12322 "Invert the OnionPeel"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello everyone,

I have a user who is interested in inverting the results

[2021-03-02 18:39] brugger1 opened #12323 "Join node/element from csv"
Hi all,

I have FVCOM netCDF output with only x-y nodal coordinates, and I would like to make plots and extract data in lat/lon coordinates, and hopefully also overlay shapefiles and other things once that works out.

I have two CSV files that contain x, y, lon, lat, depth for each node/element.

How can I join the CSV with the coordinates to the data in the FVCOM file?  I want to make plots again

[2021-03-02 18:47] brugger1 commented on #12323
Hi Lisa,

I don't believe there is any way to combine data from FVCOM files and CSV files in the manner you have described within VisIt.

My suggestion would be do do that through a Python script. Python most likely has modules for reading NetCDF and CSV files. I would read in the contents of those 2 files and then write them back out again. The most obvious choice for an output file would be anot

[2021-03-02 20:16] aowen87 commented on #5357
@MicK7 Is there a known change/issue with cg_poly_elements_read between CGNS versions 4.1.0 and 4.1.2? Using version 4.1.0, cg_poly_elements_read will give me back the ConnectOffset array, but it comes back empty when using version 4.1.2.

[2021-03-02 20:24] aowen87 commented on #5357
It looks like this is the change causing the issue, which I'm guessing is a result of a change in data format?
![Screen Shot 2021-03-02 at 12 22 14 PM](https://user-images.githubusercontent.com/11658578/109710075-15e81c80-7b52-11eb-902d-b43b960fc1aa.png)

[2021-03-02 21:02] brugger1 commented on #12323
There is also open software like Netcdf Ninja which might help too (caveat: although I have not used it myself):
https://anfog.ecm.uwa.edu.au/software/NetCDFNinja/UsersManual_NetCDFNinja_v1.pdf
https://imos.org.au/netcdfninja
Shaheen Tonse.

[2021-03-02 23:39] brugger1 commented on #5503
This may be related to OSPRay. When you run in the build directory, VisIt always produces core files due to OSPRay. When running from an install, we have explicit paths and the other issue is that we turn off core file creation when running from an install.

[2021-03-02 23:42] brugger1 commented on #5461
We got the configure mechanism to work with building CGNS, so this is no longer necessary.

[2021-03-02 23:42] #5461 closed, assigned to nobody

[2021-03-03 05:00] MicK7 commented on #5357
Thanks for investigating the issue. Can you share a file to reproduce the issue ?
It is strange that a supposed fix of the CGNS library leads to not being able to read the offset.

[2021-03-03 15:31] aowen87 commented on #5357
@MicK7 Definitely. Here is a small dataset containing polygons that produces the issue.

[spherePolyMesh.cgns.zip](https://github.com/visit-dav/visit/files/6077048/spherePolyMesh.cgns.zip)

[2021-03-03 17:54] MicK7 commented on #5357
Thank you for sharing. The problem lies with the file. It pretends to be at  CGNS 3.4 standard while it is not. It is only 3.3.
By changing the CGNSLibraryVersion inside to 3.3 with cgnsview it will work.
I don't know why the exporter is lying but it is quite bad for CGNS users.

Thanks again for reporting the issue. The cgnscheck tool will need a fix to detect this pattern.

[2021-03-03 18:04] aowen87 commented on #5357
Thanks for getting to the bottom of this! For what it's worth, this dataset was generated using starccm+.

I think we're going to downgrade our CGNS version to 4.1.0 until this fix is in. I'll keep my eye out for this change.

[2021-03-03 18:39] #5494 closed, assigned to biagas

[2021-03-03 18:55] aowen87 commented on #3756
At first glance, I don't think implementing this would be too difficult, but it's hard to say whether or not it would be low-hanging fruit.

I'm not too familiar with how VisIt handles grouping time series files together, but here's my initial impression on what we would need to do:
1. Write a new function in avtDatabaseFactory that's similar to VisitFile, but it would need to read in one of these

[2021-03-03 19:00] biagas commented on #3756
Can the parsers in our VTK reader be leveraged?

[2021-03-03 19:11] aowen87 commented on #3756
Do we have XML parsing capabilities in any of our readers? I didn't find any hits with a grep.

[2021-03-03 19:12] aowen87 commented on #3756
Scratch that. I thought you were referring to the classes under visit_vtk. I see there's some XML capabilities in our database reader, so I'll take a look.

[2021-03-03 20:12] aowen87 commented on #3756
It looks like our VTK reader already uses the vtkXMLDataParser for its parsing needs, so that seems like the way to go.

[2021-03-03 22:45] aowen87 commented on #3756
I haven't been able to find any unexpected edge cases so far. It's not 100% clear to me how domains are represented, but I _think_ the `part` is used to designate this.

An example defining multiple parts can be found here: https://data.kitware.com/#item/5aff0a428d777f15ebe1e8f1

[2021-03-03 22:48] aowen87 commented on #3756
[This](https://public.kitware.com/pipermail/paraview/2008-August/009062.html) conversation seems to support the idea that the `part` is used for domains, but it looks like it's not explicitly reserved for that purpose. It's just used to define different "parts" of a mesh.

[2021-03-03 23:13] cyrush commented on #5507
@jameskress -- for the `-DMPI_CXX_COMPILER:STRING` issue what are the symptoms you see, can you share error output?

[2021-03-03 23:48] #5510 closed, assigned to brugger1

[2021-03-04 15:33] aowen87 opened #5518 "CGNS higher order elements"
The CGNS reader in VisIt currently reduces higher order elements to linear ones and issues a warning. Since we can support higher order elements now, we should update this.

[2021-03-04 16:53] hooverap commented on #2934
I have been having the same issue ("Tried to access an invalid index -1"). This issue appeared after having used this feature many times before this error.

Updating VisIt did not work.

[2021-03-04 17:44] #5357 closed, assigned to aowen87

[2021-03-04 17:52] biagas opened #5519 "Regression testing on Windows fails to remove _run subdirs"
### Describe the bug
During a full run of the test suite, the _run subdirs should be deleted, but many of the subdirs fail to be removed.
Printing the OSError indicates that another process still holds a lock on the directory.
Other cleanup logic implements the cleanup_delay, but for the individual tests, the delay isn't utilized.
I think using the delay would alleviate this problem.
About line 33

[2021-03-04 18:49] brugger1 commented on #3179
@biagas I logged on the iSRD terminal server (the window had the banner Win 10 B453) and they had VisIt 3.1.2 installed. I clicked on the Open icon and brought up the "File open" window and clicked on the "Host" dropdown and all the closed systems showed up in the list. I then successfully ran client/server to jade.

This looks like it is resolved and I'm closing this ticket.

[2021-03-04 18:49] #3179 closed, assigned to biagas

[2021-03-04 20:53] markcmiller86 opened #5521 "Improve Moment of Inertia query and docs"
### Is your feature request related to a problem?
A user was using **Centroid** and also **MomentOfInertia (MoI)** [database queries](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Query.html?highlight=inertia#database-queries) as part of a workflow.

The MoI tensor is computed *relative* to some point. It wasn't clear to the user what *origin* VisIt's Mo

[2021-03-04 20:58] brugger1 opened #5522 "VisIt no longer displays output to the visualization window with XWin-32."
I ran the development version of VisIt on quartz displaying back to my Windows 10 system running XWin-32 2018 and the visualization window was never refreshed and appeared black the whole time.

I got the following messages in the terminal window.

bin/visit
Running: gui -dv
Qt: Warning: X server does not support XInput 2
Qt: Warning: failed to get the current screen resources
Qt: Warning: QXcbCon

[2021-03-05 01:22] #5522 closed, assigned to brugger1

[2021-03-08 14:59] surak commented on #5504
3.1.3

It's built by easybuild.

build_visit --silo --system-qt --alt-qt-dir $EBROOTQT5 --no-sphinx --szip --openssl --console --parallel --required --hdf5 --netcdf --prefix '%(installdir)s' --skip-opengl-context-check

I have no idea. Look below for an output example from some of our users.

This is on the batch system:

[code]

or this

[code]

[2021-03-08 18:34] brugger1 opened #5526 "A few issues with VisIt."
Amit Chourasia gave a VisIt tutorial and had the following feedback for us.

Hi Eric,

Hope things are well.  I did a tutorial on VisIt for my Data Visualization course and ran into few issue, so thought to share them with you directly.

1) The link to VisIt Data files is broken on this page.
https://wci.llnl.gov/content/assets/docs/simulation/computer-codes/visit/visit_data_files.tar.gz
https://w

[2021-03-08 23:19] biagas opened #5527 "mdserver crashing on exit, silently creating dump files on Windows"
### Describe the bug
I discovered this when the machine where I normally run the regression suite for windows started popping up this dialog:

![mdserver_error](https://user-images.githubusercontent.com/17075318/110388682-4c251080-8018-11eb-8a69-fbc8df634641.PNG)

I first thought it was only an issue on that machine, until I discovered dump files being written to %APPLOCALDATA%\CrashDumps

In the

[2021-03-08 23:27] biagas commented on #5527
Found a discussion about this on VTK's [discourse](https://discourse.vtk.org/t/vtkcommoninformationkeymanager-destruction-crash-corrupt-vfptr-table/2371/3)
Seems to indicate we shouldn't be trying to unload any of VTK's libraries.

[2021-03-09 18:47] brugger1 commented on #5345
The MCNP folks are interested in following progress on this. In particular Joel Kulesza from Los Alamos.

[2021-03-09 18:51] brugger1 opened #12324 "Domain decomposition on unstructured mesh"
Hi,
We are working with an unstructured mesh that is decomposed by parmetis in such a way that several (1-4 typical) patches of contiguous zones land on each processor. The mesh is 3D but the spatial decomposition is in the horizontal (2D) only. Organization into contiguous regions is not pertinent to the way message passing is done in the application, so there is no list of patch membership nativ

[2021-03-09 18:55] #5519 closed, assigned to biagas

[2021-03-09 19:18] brugger1 commented on #12324
Hi Eli,

I'll start with your question about the domain boundary information. That is designed for structured grids and if you provide that information, then VisIt can calculate the ghost zones for you. If the patches on a processor don't form a structured patch, then you would need to map each patch to a domain. For example, if you had 2 processors and each process had 4 patches, you would need t

[2021-03-09 19:51] brugger1 commented on #5504
Hi Surak,

It's hard to tell what's going wrong with the first traceback other than VisIt appears to be crashing opening a database. I assume there is some type of error in the file. I would start troubleshooting by creating a simple script that opens one of our sample data files, creates a simple plot and then saves an image. It could be as simple as:

visit -cli -nowin -s myscript.py

where mysc

[2021-03-09 23:12] water-e commented on #12324
Thanks for such a fast reply. Based on your answer, we would probably abandon the boundary interface. Our patches are not structured.

If you find there is an ability to do this with local-global zonal mappings please let us node. Just to be clear, though, our developer already hand-rolled the task of identifying ghost zones. Our issue seems to be more about populating the data in those zones. If

[2021-03-09 23:22] cyrush commented on #5507
fixed the first issue, still need to resolve the mpi issue

[2021-03-09 23:56] brugger1 commented on #12308
@ykempf , did you make any more progress on this?

[2021-03-10 00:41] brugger1 commented on #12324
I'll do some digging in the code and see if the local-global mapping is used to generate ghost zones later this week.

[2021-03-10 00:56] markcmiller86 commented on #3576
These [Abaqus](https://en.wikipedia.org/wiki/Abaqus) refs, [1](https://abaqus-docs.mit.edu/2017/English/SIMACAEGSARefMap/simagsa-c-ctmfull.htm) and [2](https://abaqus-docs.mit.edu/2017/English/SIMACAEGSARefMap/simagsa-c-ctmreduced.htm), explain some aspects of integration points on different element types.

There is some other stuff in #2602

Page 31 of [this ref](https://github.com/visit-dav/visi

[2021-03-10 07:44] ykempf commented on #12308
Sorry for the silence. Indeed I eventually managed to build with AOCC/clang against an OpenMPI we had built with the same. I had to disable some optimisations that were crashing the compiler, among others, but I went through and runs with any number of processes I request. I now get a crash with our own plugin, which is most likely an issue with the plugin itself.

So this has drifted quite a bit

[2021-03-10 15:16] brugger1 commented on #12308
Glad to hear you got things working!

[2021-03-10 17:56] biagas opened #5529 "DEBUG_MEMORY_LEAKS always defined"
### Describe the bug
/src/include/visit-cmake.h.in (creates visit-config.h during cmake config)

last line:
#define DEBUG_MEMORY_LEAKS

It used to be commented out, until PR #4982

Shouldn't this be a flag enabled when needed at configure time?

eg
#cmakedefine DEBUG_MEMORY_LEAKS

Which would only create the define if -DDEBUG_MEMORY_LEAKS:BOOL=true is added to cmake configure.

### Expected behavi

[2021-03-10 19:53] markcmiller86 commented on #5529
I suspect that was an oversight both by @BradWhitlock in his PR and in whoever reviewed the PR. There isn't any conversation there (I could find) about why that was turned on but I don't think @BradWhitlock meant to leave it on.

Normally, it is always *off*. It should be off unless someone is debugging leaks. Reason being that in engine, gui, etc. worrying about cleaning up properly upon exit jus

[2021-03-10 21:21] biagas commented on #5529
Current documented process is to add -DCMAKE_CXX_FLAGS:STRING="-DDEBUG_MEMORY_LEAKS"  during configure
https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/dev_manual/MemoryLeaks.html

[2021-03-10 21:35] markcmiller86 commented on #5529
Hmm...didn't know that it was documented and in quite that way. That is also not necessarily essential either. The *essential* part is to ensure `DEBUG_MEMORY_LEAKS` is defined for the source file where stuff is *intentionally* leaked that gets in the way of you seeing *real* leaks. That is a handful of places in VisIt...

[code]

Am surprised I don't see GUI in there as that tends to be the thing

[2021-03-10 21:53] brugger1 commented on #5529
My guess is that no one has ever wanted to find memory leaks in the GUI. I don’t recall every having a memory usage issues with it. They have been with the viewer and engine.

[2021-03-10 21:55] brugger1 commented on #5526
Here is additional information from Amit.

Eric,

Sounds good on #1.

For item #2, are you talking about the slides presented at the SC or ATPESC tutorials?
In the older webpages, there as a link to 3-4 slide decks with step by step visual instructions and exercises.
These were likely created by Brad Whitlock, here is one example
https://www.slideserve.com/tierra/visualization-with-visit-part-ii-p

[2021-03-10 21:56] markcmiller86 commented on #5529
I think GUI exhibits memory issues (performance anyways) for *large* databases (like EOS stuff) or cases where the variable menus number in the thousands. But, I can't speak to debugging outright leaks there.

[2021-03-10 21:56] biagas commented on #5529
I commented out the define in visit-cmake.h.in.

I've verified the documented process works.

Modifying build-dir/include/visit-config.h to uncomment the define (after configure) and re-making works as well.

I couldn't get it to work by adding anything on a make command line.

[2021-03-10 21:58] markcmiller86 commented on #5529
yeah, sorry. I was thinking from old GNU Autoconf days. This is yet another way CMake's resultant makefiles don't really behave as expected. You should be able to do something like...

[code]

or maybe

[code]

and have it wind up *adding* the requested flags to the command-lines for all makes issues from that dir down.

That was possible in GNU Autoconf. Not sure how to make that work with CMake

[2021-03-10 21:59] biagas commented on #5529
When defined in visit-config.h , any source file that wants to implement DEBUG_MEMORY_LEAKS just needs to include this header.
No need to #define DEBUG_MEMORY_LEAKS in every source file.

[2021-03-10 22:03] biagas commented on #5529
So do we leave current process as documented and put the #define in visit-cmake.h.in back into the commented-out section?

[2021-03-10 22:24] markcmiller86 commented on #5529
I guess that is the direction I am leaning...mainly because its not *widely* or *commonly* used.

That said, at some point, we should really be *testing* our memory behavior (and performance) and to do so, I think it would indeed be easier if we had CMake knobs for it and not just editing some file (though, for me anyways a little sed magic to achieve that isn't a show-stopper either).

[2021-03-10 23:09] biagas opened #5531 "Investigate need for -std=c++11 in config-site VISIT_CXX_FLAGS"
We are adding -std=c++11 to VISIT_CXX_FLAGS for our config-site files.
This *should* be handed by our use of set(CMAKE_CXX_STANDARD 11) in src/CMake/CheckMinimumCompilerVersion.cmake

We should investigate if the CMake flag is sufficient and if so , remove from the config-site files.

[2021-03-10 23:19] brugger1 commented on #5531
It is being added by build_visit. I notice that it got added to the config site file when I built on quartz but not on lassen. So perhaps a package that is built on quartz and not lassen is causing it to get added.

[2021-03-10 23:35] biagas commented on #5531
bv_mfem.sh is adding '-std=C++11' to CXXFLAGS (which I believe are being used for setting VISIT_CXX_FLAGS in host profile)

[2021-03-10 23:41] brugger1 opened #5532 "Force interface reconstruction may cause domains to be dropped."
Matt Obrien reported this bug and provided a data file that displays the issue. The data file is in /usr/workspace/brugger/visit_obrien_bug2/eric on the RZ. He also noted the this worked in 3.0.2, but not in 3.1.1, 3.1.2, 3.1.3, 3.1.4. So It was recently introduced.

The domain that is being dropped is domain 7 and it doesn't have any mixed zones.

Here are the steps to reproduce the bug.

Open mi

[2021-03-11 00:14] brugger1 opened #5534 "Max expression failing with domain decomposed particle data."
Matt Obrien reported this bug and provided a data file that displays the issue. The data file is in /usr/workspace/brugger/visit_obrien_bug/eric on the RZ.

Here are the steps to reproduce the bug.
Open IMC_MIR_3Materials_000003_root.gra
Create a Pseudocolor plot of "Particles/MC_local_material"
The plot looks fine
Define the expression unnamed1 = max(<Particles/MC_local_material>, 1)
Change the v

[2021-03-11 00:19] brugger1 commented on #12312
Sorry about not closing the loop on this. I believe those should work, but we are very close (a week or two) to releasing 3.2, which will have Python 3 support and the FieldViewXDB prebuilt shared libraries, so I suggest waiting.

[2021-03-11 02:22] #5529 closed, assigned to biagas

[2021-03-11 20:12] biagas commented on #5527
Performed some experiments, running a small portion of the silo.py regression test.
Using a reduced build that only included the Silo and VTK database plugins, there were no crash files created when the mdserver exited.
Adding only the ADIOS2 plugin to the build and the crash files are generated.
Building ALL database plugins except ADIOS2, the crash files aren't generated.
It  might bear looking

[2021-03-11 23:40] biagas opened #5536 "Possible hdf5 problem with zipwrapper plugin on Windows"
### Describe the bug
While running the regression suite (and watching the results) on Windows, I noticed this
after the zipwrapper plugin finished:
[code]

It didn't cause failures in the zipwrapper tests.

I run the regression suite with '--lessverbose' when I want to observe the results.

### Expected behavior
There shouldn't be HDF5 error messages.

### Desktop
 - OS and version: Windows 10
 -

[2021-03-11 23:59] biagas opened #5537 "Deleting plots after exporting as VTK with tetrahedralize option crashes engine"
### Describe the bug
I noticed this while observing a regression suite run on Windows (export_db.py).

### To Reproduce
Open ucd3d.silo
Add Pseudocolor plot of 'd' and draw.
Open Export Database window.
Choose VTK format and click 'Export'
When the options dialog opens, Select 'Tetrahedralize' and 'export'.
After the export, delete the plot.
Engine crashes.

### Expected behavior
Engine shouldn't

[2021-03-12 00:01] biagas commented on #5537
The engine crash is also creating memory dump files in %LOCALAPPDATA%/CrashDumps

[2021-03-12 00:01] markcmiller86 commented on #5536
Hmm...what was the underlying file format being read by ZipWrapper? I mean, I know (or assume) its an HDF5 format which do we know which one?

That error is likely coming from this... https://github.com/visit-dav/visit/blob/598abe137ce8ec21e9b93b5df91f996c5fb0889e/src/include/visit-hdf5.h#L106-L140

Which is VisIt's wrapper for `H5Fclose` to help detect if any HDF5 plugin has left objects open in

[2021-03-12 00:05] biagas commented on #5536
The zipwrapper test uses these files from zipwrapper_test_data:
multi_ucd.visit (comment says its STL)
histz_*.silo
sphere.2d.hdf5

Guess I can comment out sections and run each database to determine which one causes the problem. Will do that when I have a few cycles.

[2021-03-12 00:11] biagas commented on #5536
sphere.2d.hdf5 is the culprit.

[2021-03-12 00:13] markcmiller86 commented on #5536
Ok, thx. The error occurs *during* read of that file but the actual *culprit* is likely the database plugin used to read that file. I think it may be accidentally leaving an object in the file open.

[2021-03-12 00:13] biagas commented on #5536
Adding a closedatabase call for that file eliminates the message.

[2021-03-12 00:15] markcmiller86 commented on #5536
Awesome. So, our error checking here actually caught something and alerted us. Cool! 😎

[2021-03-12 00:26] biagas opened #5538 "Organize indiviual regression test files into functions"
### Is your feature request related to a problem?
When attempting to debug a regression failure, it is often helpful to comment out the
non-failing sections of an individual test .py file.

This would be much easier to do if every test was organized into separate functions.
Then all one has to do is comment out the *call* to the succeeding functions instead of whole
blocks of code:

Take zipwrappe

[2021-03-12 00:32] markcmiller86 commented on #5538
I agree that what you propose is a better design.

That said, I think there is a simple Python *trick* for this using `"""` multi-line strings

### Code I want to disable

[code]

### Code Disabled

[code]

[2021-03-12 00:34] markcmiller86 commented on #5538
Whoops...the original comment had a typo. I've updated it so go to the GitHub issue and don't look at the email.

[2021-03-12 00:36] cyrush commented on #5538
You can comment out easily, but the challenge is that  non-isolated tests can share setup or some progression of settings. So the later parts might depend prior parts executing.   With how state propagates in VisIt, I think we are susceptible this. I think underpinning this should also be a goal to have the tests stand alone when possible.

[2021-03-12 00:39] biagas commented on #5538
@cyrush, I agree, and have come across the interdependence even in a test with individual functions. Commenting out a single test within a file can change results of tests following.

[2021-03-12 00:40] markcmiller86 commented on #5538
My `"""` hack was responding to the need to insert `#` on every line. You don't need to do that to whack out a section of code you wanna disable.

You mean each call to `TestXXX()` in its own `.py` file? Or, each call to `TestXXX()` preceded by all the state setup (e.g. VisIt CLI calls including database open, setting time state, etc.) necessary to do it? I think either of those would cause an alr

[2021-03-12 00:46] cyrush commented on #5538
Each test in its on py file would be overkill.

You can have common setup then have independent tests.  If things are tangled, those have to be larger tests, you but you can refactor to more independent chunks over time.  If all your tests use the same db, there is no general reason for a full close and reopen. But you should do things like delete plots or push/pop state if you are changing the st

[2021-03-12 00:56] markcmiller86 commented on #5538
I think all of that makes a lot of sense. And, I am probably the biggest *one-long-stream-of-python-consciousness* coder among us. I've never mastered OO python (or maybe even OO C++ for that matter).

That said, I do wanna caution that taking an approach where we return VisIt to some well defined state between each test is less likely to hide bugs that real usage could encounter. Users will delet

[2021-03-12 16:03] biagas opened #5539 "Scripts used in py_exprs.py regression test should be renamed with .vpe extension."
If you want to run all the tests in hybrid and pass 'tests/hybrid/*.py' to the regression test, then
the test suite attempts to run python_simple_mix_01.py, python_simple_mix_02.py and simple_numpy_expr.py as individual tests and the cli crashes.

If they were renamed with a .vpe extension this wouldn't happen
There is already one script used by the test that is named this way: py_expr_script_00.v

[2021-03-12 18:02] biagas opened #5540 "simulation mesh.py regression test crashes on Windows"
### Describe the bug
The simulation example test mesh.py crashes, and Windows pops up this dialog:

![Capture](https://user-images.githubusercontent.com/17075318/110979743-db347000-8319-11eb-9bd8-75724a7f328d.PNG)

### Desktop
 - OS and version: Windows 10
 - VisIt Version: develop (3.2)

[2021-03-12 18:12] biagas commented on #5540
It also creates a memory dump file in %LOCALAPPDATA%/CrashDumps

[2021-03-12 19:42] #5527 closed, assigned to biagas

[2021-03-12 21:08] #5536 closed, assigned to biagas

[2021-03-12 21:08] #5539 closed, assigned to biagas

[2021-03-12 22:40] #5537 closed, assigned to biagas

[2021-03-13 18:49] markcmiller86 opened #5544 "Labels on pull requests"
We are not using labels on pull requests. I know the Spack team uses these to help organize and manage pull request review work. Maybe we aren't at the size where that is really needed yet. I can imagine if we have a large number of PRs from *the wild*, having the abililty to organize them a bit could be useful.

[2021-03-13 18:54] #2050 closed, assigned to nobody

[2021-03-14 23:04] markcmiller86 commented on #3576
Structural engineering and solid mechanics problems are often concerned with *deformation* of objects composed of materials due to applied/external forces and boundary conditions. The simplest and canonical example of a deforming object is a spring where the force, `F`, required to deform some spring a distance `x` is related by [Hooke's law](https://en.wikipedia.org/wiki/Hooke%27s_law) yielding t

[2021-03-15 01:38] benjaminwyckoff opened #5545 "Cannot access file from Flash Drive"
When attempting to open a file in VisIt, I am given an error saying "The MetaData server running on localhost could not get the file list for the current directory." I am able to open files of the same type from my hard drive, just not from the flash drive. I am using VisIt version 3.1.4 on a 2017 MacBook Pro running macOS 10.15.17.

The issue occurs when I try to access the contents of the flash

[2021-03-15 02:14] markcmiller86 commented on #5545
Apologies. We thinkg we've fixed this in our newest release, due out in another week or two. Until then, maybe the work-around described [here](https://github.com/visit-dav/visit/issues/4069) will suffice?

[2021-03-15 17:14] rusu24edward opened #12325 "Secondary axes in curve plots"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi all,
I am wondering if it is possible to add the secondary y axis (and

[2021-03-15 17:26] biagas opened #12326 "Specifying --alt-python-dir to build_visit"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,
What shall I specify for --alt-python-dir in build_visit3_1_4? I'v

[2021-03-15 17:32] biagas commented on #12326
Which version of python were you attempting to use with build_visit3_1_4?  We don't support python3 for that version.
The path to pass should be the parent of python's 'bin', python-config should be present in the bin dir.
Our next version of VisIt, 3.2, due out in another week or two will support python3.

[2021-03-15 17:33] brugger1 opened #12327 "Subset gives error on Exodus parallel output"
I'm using VisIt 3.1.3 in client-server to postprocess Exodus output from Sierra Presto v4.56. Presto can write its output either as a single file, or as multiple output files, one for each core used. When I subset > ElementBlock with the single Exodus output file, VisIt works fine; but when I subset the multiple parallel output files, VisIt throws the error "Pseudocolor:  ();
viewer.exe: The pipel

[2021-03-15 17:33] brugger1 commented on #12327
Hi Keith,

Yes, the simple test problem would be very helpful in diagnosing the problem. You can e-mail it to me at brugger1@llnl.gov. Can you add the extension ".abcxyz" to the file so that our firewall doesn't strip the attachment.

Thanks,

Eric

[2021-03-15 17:43] markcmiller86-visit commented on #12326
Hi Kathleen,

If one doesn't give any python-related options for "build_visit3_1_4", it
will download/build both 2.7.14 and 3.7.7. Why is that?

Look forward to version 3.2.

Regards,
Weiguang

On Mon, Mar 15, 2021 at 1:33 PM Kathleen Biagas via visit-users <
***@***.***> wrote:

[2021-03-15 17:46] biagas commented on #12326
For 3.1.x versions of VisIt, python 3.7.7 was used for building our documentation with sphinx, but the core portions of our code hadn't been ported to python3 yet.

[2021-03-15 17:48] rusu24edward commented on #12325
Hi Federico,

Unfortunately, we do not have this capability yet. This has been requested in the past and is tracked in [this ticket](https://github.com/visit-dav/visit/issues/2519). I will propose this for the team to discuss this week.

Eddie

[2021-03-15 17:52] markcmiller86-visit commented on #12326
Thanks for the prompt reply.

My own build of python doesn't contain a file "python-config". So I can't
use --alt-python-dir, can I?

Weiguang

On Mon, Mar 15, 2021 at 1:47 PM Kathleen Biagas via visit-users <
***@***.***> wrote:

[2021-03-15 18:42] biagas commented on #12326
You *might* bet able to get around the need for python-config by making modifications to the build_visit3_1_4 script, adding full-paths to some of the things determined programatically via python-config.  I cannot guarantee this would work, however.

First thing would be to modify  bv_python_alt_python_dir to look like this:
[code]
Then modify python_set_vars_helper to look like this:
[code]

[2021-03-15 20:04] markcmiller86-visit commented on #12326
Thank you very much for the help.

Weiguang

On Mon, Mar 15, 2021 at 2:43 PM Kathleen Biagas via visit-users <
***@***.***> wrote:

[2021-03-15 21:15] markcmiller86-visit commented on #12327
Hi,

This looks similar to a  behavior I noticed a while ago when due to the partitioning, not all element blocks / vertex sets are represented in  all files. In my case, I had to modify the I/O in my code to make sure that the list of element blocks and cell sets in each file be the same, even though some are empty in some files. Does that make sense?

Regards,
Blaise

--
A.K. & Shirley Barton Pr

[2021-03-15 21:58] markcmiller86 commented on #12327
In response to Blaise’ question, yes, I think so. See below a short email excchange with Greg Sjaardema on this issue with Parallel Exodus files...

"Miller, Mark C." wrote:

Hi Rick,

Here is Greg's response...

"Sjaardema, Gregory D" wrote:

They must all have the same element block count and the ids (and names) of the element blocks must be consistent.
..Greg

Now, this is a *convention* requir

[2021-03-16 03:01] markcmiller86-visit commented on #12326
Hi Kathleen,

Another problem occurred --- It tried to make /bin/moc instead of using the
moc under path specified with  --alt-qt-dir.
[ 27%] Built target viewerproxy
make[2]: *** No rule to make target '/bin/moc', needed by
'winutil/moc_QvisVariablePopupMenu.cxx'.  Stop.
make[1]: *** [CMakeFiles/Makefile2:4466:
winutil/CMakeFiles/winutil.dir/all] Error 2
make: *** [Makefile:152: all] Error 2

The

[2021-03-16 03:44] markcmiller86 opened #5546 "Strip full path of filenames used in Exodus Files subset plot"
### Is your feature request related to a problem?
You can see the issue in the legend below...

![Screen Shot 2021-03-15 at 5 08 39 PM](https://user-images.githubusercontent.com/5720676/111252673-e19f4200-85ce-11eb-9fae-96c9a5b1e8b9.png)

Probably the solution is for Exodus plugin to strip full path from those filenames when creating `avtDatabaseMetaData`.

### Is your feature request specific to

[2021-03-16 13:47] markcmiller86-visit commented on #12326
Here I attach the build log to this email as recommended in the output
message of the build script.

Weiguang

On Mon, Mar 15, 2021 at 11:01 PM Weiguang Guan ***@***.***> wrote:

[2021-03-16 13:51] markcmiller86-visit commented on #12327
Honestly, I think that the _right_ solution is to go away with file based domain decomposition, especially now that exodus supports partial read / write and MPIIO using pnetcdf or hdf5. But if somebody is going to do multiple files IO, it makes sense to have consistent headers across all files (i.e. same number of sets, ID etc).

Regards,,
Blaise

On Mar 15, 2021, at 4:59 PM, Mark C. Miller via vi

[2021-03-16 14:49] biagas commented on #12326
Thank you for the log file.
In the host .cmake file generated by build_visit: build-node.computecanada.ca.cmake , what QT entries are present?

It looks like our Find module for Qt is expecting VISIT_QT_DIR to be set, and to point to an installation of Qt (eg with bin, include, lib underneath).

You may need to add an entry (or modify the entry) VISIT_QT_DIR to point to your Qt location.

[2021-03-16 16:18] markcmiller86-visit commented on #12326
The QT entries in build-node.computecanada.ca.cmake are
##
## Qt
##
SETUP_APP_VERSION(QT 5.10.1)
VISIT_OPTION_DEFAULT(QT_QTUITOOLS_INCLUDE_DIR /cvmfs/
soft.computecanada.ca/easybuild/software/2017/Core/qt/5.10.1/include/QtUiTools
)
VISIT_OPTION_DEFAULT(VISIT_QT_BIN /cvmfs/
soft.computecanada.ca/easybuild/software/2017/Core/qt/5.10.1/bin)
SET(VISIT_QT_SKIP_INSTALL ON)

Do you imply that option "--a

[2021-03-16 16:24] biagas opened #5547 "build_visit with --alt-qt-dir fails to build visit"
### Describe the bug
If build_visit is run with --alt-qt-dir, then when it comes to build visit itself, the process fails during configure, because the  VTK find module cannot find Qt.

[code]

I see a couple of problems:

- In VisIt's root CMakeLists.txt, the Find module for VTK is called before the find module for Qt even though VTK depends on Qt.
- The generated host profile sets: QT_VERSION, Q

[2021-03-16 16:28] biagas commented on #12326
Sorry, but no,  --alt-qt-dir doesn't seem to be working correctly out-of-the box.
See the [bug ticket](https://github.com/visit-dav/visit/issues/5547) I just entered.
I tried a simple test of running build_visit3_1_4 and came across some issues. Slightly different than yours, but I believe what I discovered highlights some fundamental flaws in our handling of --alt-qt-dir.
I am sorry for the incon

[2021-03-16 16:32] brugger1 commented on #12327
Keith,

I've looked at the file and I believe the issue is what Blaise mentioned. It has to do with some of the element blocks being missing in some of the files. The problem exists even if only a single file is opened, so treating the database as time varying would not fix the problem.

Here is the element block information for the first file.

There are 9 element blocks across all the files. The

[2021-03-16 16:36] markcmiller86-visit commented on #12326
I'm glad that I can follow up with you and get helpful feedback.

I've tried building Qt and it failed. But I forget what's the error
message. I will let build_visit build Qt and get back to you with the error
message.

Thank you very much.

Weiguang

On Tue, Mar 16, 2021 at 12:28 PM Kathleen Biagas via visit-users <
***@***.***> wrote:

[2021-03-16 18:28] markcmiller86 commented on #12327
If you are saying that each file does indeed know about *all* blocks, that they are all in the same *order* and all have the same *names* and that the *only* difference among them is that some blocks are effectively *empty*, then yes, we should fix this behavior in Exodus plugin. If there are other differences in eb configuration among the file, that implies the need for global communication among

[2021-03-16 21:21] benjaminwyckoff commented on #5545
Yes that is working. Thanks for your help!

[2021-03-16 21:21] #5545 closed, assigned to nobody

[2021-03-16 23:28] rusu24edward commented on #2519
Instead of doing this in Visit, we should tighten up our integration with third-party tools that can already handle this. Can use the export tools to get the data out.

[2021-03-16 23:28] #2519 closed, assigned to nobody

[2021-03-16 23:33] brugger1 commented on #2934
@hooverap, Can you provide more information regarding the circumstances that lead to this failure?

[2021-03-16 23:36] brugger1 commented on #5531
We don't need this anymore. The build_mfem module should not set the CXXFLAGS in such a way that it bleeds out of the module.

[2021-03-16 23:40] rusu24edward commented on #5534
Duplicate of #5447?

[2021-03-16 23:45] brugger1 commented on #5538
We should add documentation to our developer documentation that this is our practice for adding tests.

[2021-03-17 00:08] markcmiller86 commented on #5538
@biagas if you prefer and wouldn't mind explaining basically, at a high level, how best to think about decomposing a `.py` file into different functions for different sets of tests, even if just chain of consciousness here in this issue conversation, I can try to integrate into docs.

[2021-03-17 00:51] biagas commented on #5538
First off, need to keep global settings global, and same for local.  I'm speaking global for all tests in a single .py file. Take color table change for instance: Is the purpose to test the color table change (then perhaps it should be local) or is it a change to make the resultant image files more interesting or point out features (then perhaps its a global setting)

The most common way to create

[2021-03-17 14:01] markcmiller86-visit commented on #12326
Just want to report two new problems:

   1. Compiling Qt 5.10 failed with gcc version 8.4 or higher. I've tested
   gcc 7.3 and it works.
   2.

On Tue, Mar 16, 2021 at 12:35 PM Weiguang Guan ***@***.***> wrote:

[2021-03-17 14:05] markcmiller86-visit commented on #12326
Just want to report two new problems:

   1. Compiling Qt 5.10 failed with gcc version 8.4 or higher. I've tested
   gcc 7.3 and it works. The error message is ....... Creating qmake...
   /home/guanw/visit-stdenv2020-final/qt-everywhere-src-5.10.1/qtbase/src/corelib/io/qfilesystemengine_unix.cpp:101:12:
   e
   rror: ‘int renameat2(int, const char*, int, const char*, unsigned int)’
   was declare

[2021-03-17 14:36] biagas commented on #12326
Thanks for the report.

Using gcc-7.3 did you get everything compiled that you need?

Just so you know, with VisIt 3.2, we increased the minimum gcc required to 6.0 and above, and are using newer versions of several of our third party libraries  such as python: 3.7.7 and qt: 5.14.2.  If you build with Mesa, that version changed to 17.3.9.

[2021-03-17 15:31] markcmiller86-visit commented on #12326
Yes, I've built Visit-3.1.4 successfully with gcc-7.3 with one little
problem "Building the VisIt manuals failed.  Continuing". Also, I need to
fix the "Could not find X11" problem by editing FindX11.cmake file.

Weiguang

On Wed, Mar 17, 2021 at 10:37 AM Kathleen Biagas via visit-users <
***@***.***> wrote:

[2021-03-17 16:44] brugger1 opened #5549 "Allow users to specify the location of the triad."
Fady asked about setting the location of the triad. I checked the 3D tab on the Annotation window and there are several things that are settable, such as line thickness, color and fonts, but nothing for the location. Maybe we should also allow setting the size of the triad.

Fady said this isn't a high priority, but would be nice to have.

[2021-03-17 16:51] brugger1 commented on #5549
Additional information from Fady.

FYI in Tecplot, i used to be able to click on the triad and move it anywhere i want. this will be useful too. Also for the time slider (if possible).

[2021-03-17 16:54] rusu24edward opened #12328 "3.1.4 memory leak"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Visit team,

My team regularly uses Visit for visualizing large (>20GB) .

[2021-03-17 19:48] rusu24edward commented on #12328
Hi Scott,

Do you have [scalable rendering](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/Rendering_Options_Window.html?highlight=scalable%20rendering#scalable-rendering) activated?

Eddie

[2021-03-17 22:42] brugger1 opened #5550 "SPHResample operator only resamples a single variable."
Luc Peterson has some SPH particle data that he wanted to do an XRayImage query on, so he first did an SPHResample of the data and then did the XRayImage query. He was getting errors that the XRayImage filter couldn't find the emission variable.

It turns out that the SPHResample filter only resamples the active variable, which in this case was the absorption.

I have his data on the CZ in /usr/wo

[2021-03-17 22:44] rusu24edward commented on #12325
Hi Federico,

We will not be focusing on adding this capability to VisIt because we are tightening up our integration with third party tools, many of which can handle this for curves already. As it stands now, you can use VisIt's export tools and some python scripting to do this yourself. Here's an example:

**Export curve files using VisIt**
1. Select each the curves you want to export from the c

[2021-03-17 23:18] brugger1 commented on #5550
I added some debugging to the code and found that the SPHResample operator had the following arrays.

Point data:
Array[0]=avtGhostNodes

Cell data:
Array[0]=avtGhostZones
Array[1]=mass_sph
Array[2]=h_sph
Array[3]=emission
Array[4]=absorption

It looks like the cell data has the data that needs resampling. Arrays 1 & 2 are extra variables that affect the resampling and are supplied to the operator

[2021-03-18 00:12] biagas commented on #5540
I compiled against debug version of VTK libraries, and ran mesh sim through VS debugger, plotting the 3D mesh.
Crash occurs during serialization of the dataset (avtDataRepresentation::vtkToString) during write, down in this vtk method,
the SafeDownCast call returns a null pointer.

[code]

The array being passed in is vtkComponentDataArray used/defined in SimV2 database plugin.

[2021-03-18 15:47] biagas commented on #5540
This isn't a Windows only issue. If you take a look at the regression results, tests 3 and 4 are blank, but they shouldn't be.
Other simulation tests were added to the skiplist after the VTK-8 port due to crashes (var, scalar, unstructured). They may be suffering from the same problem.

[2021-03-18 23:36] purpley opened #5554 "Fixup ilight subversion mirror refs on visitusers.org and in repo"
using the command given on the wiki:

svn cat http://visit.ilight.com/svn/visit/trunk/src/svn_bin/build_visit > build_visit

gives path not found

[2021-03-19 21:37] brugger1 commented on #5554
Hi,

Our source code is now hosted at GitHub. You must have found some old content. Sorry about that! If you let me know what page you found it on, I can remove it.

I'm not sure what your use case is, but if you're trying to download build_visit to build VisIt for a specific release, I suggest you get the build_visit associated with a specific release at:

https://github.com/visit-dav/visit/relea

[2021-03-19 21:42] markcmiller86 commented on #5554
Looks like visitusers.org has some [hits for `ilight` subversion mirror](https://www.visitusers.org/index.php?search=ilight&go=Go) we need to update or remove. Also, happened to find [other hits here in our github repo](https://github.com/visit-dav/visit/search?q=ilight).

[2021-03-21 05:48] markcmiller86 opened #5558 "Employ GitHub Actions for Automation"
I found [this excellent resource](https://itnext.io/getting-started-with-github-actions-fe94167dbc6d) describing [GitHub Actions](https://docs.github.com/en/actions).

In particular, there is an example workflow there which creates all the release assets once a release is tagged. We could effectively codify all the assets that need to go into a release in a `release_assets.yml` file that this acti

[2021-03-21 21:28] burton29-LLNL commented on #12239
Hi,

New question: I’m using Version 3.1.3 (August 2020), and got a question about examining nodes and zones through “Pick”, on derived new expressions on a boundary surface.    I’ve got a velocity field defined on a surface, and I want to extract that part of the velocity field that is perpendicular to the surface.  So generating an “external surface” and then using the DeferExpression workflow t

[2021-03-22 16:00] rusu24edward opened #12329 "Pick Derived Expressions not working"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,

New question: I’m using Version 3.1.3 (August 2020), and got a quest

[2021-03-22 16:06] rusu24edward commented on #12329
Hi Greg,

I've moved your new question to its own ticket so that we can track it better. There is currently an issue with `PickByZone` for derived expressions. We are tracking this [here](https://github.com/visit-dav/visit/issues/5421). You can work around this by stringing `ZonePick` and `PickByZone` together, like so:

[code]

Try this out and let me know how it works for you.

Eddie

[2021-03-22 16:47] brugger1 opened #5559 "PySide compile failing on Fedora 31"
I used build_visit on a Fedora 31 system and PySide failed to compile.

The failures are because it can't find GL/gl.h. Here is an example of a failing line and the error message:

cd /home/visit/pyside-setup-5.14.2/sources/pyside2/PySide2/QtSvg && /home/visit/pyside-setup-5.14.2-build/sources/shiboken2/generator/shiboken2 --generator-set=shiboken --enable-parent-ctor-heuristic --enable-pyside-ext