[2019-04-04 17:47] brugger1 commented on #2564
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 17:48] brugger1 commented on #2555
I believe this is a silo ticket @markcmiller86 .

[2019-04-04 23:39] markcmiller86 opened #3378 "Reduce barriers to adding tests"
IMHO, adding a test involves too much work! We need to reduce barriers to add tests in order to engage more developers doing so.

## Current steps to add a test
- Adding either a new `.py` file or revising an existing one
  - This involves identifying existing data suitable for the test or adding new data (see below)
  - Setting plot, operator, SIL attributes to tigger the behavior(s) to be tested

[2019-04-04 23:45] markcmiller86 commented on #3378
Do all tests have to produce an image or text result? Currently, that is what our testing harness demands. I wonder if a result can be...did this process complete without crashing or generating (caught) exceptions. If we can do tests of this nature, that eliminates test result baselining by essentially creating a single, common, baseline result all such tests can map to.

[2019-04-05 00:53] biagas commented on #3102
Here are my notes for the change, and I don't think the gui needs to be modified to include %.

With VTK8 upgrade, Label Plot was modified to utilize vtkTextMapper and vtkTextProperty.
vtkTextProperty has multiple font settings (bold, italic, family etc).
The option for sizing/scaling of the font is FontSize, which is an integer representing font size
in 'points', according to vtk documentation.

[2019-04-05 14:59] brugger1 commented on #3378
It would also be good if we had a comprehensive set of test data that covered all the different types of variables and meshes. Our current collection came about organically, which is fine, but I don't believe any effort was made to have it cover all the cases. If we had this, we would be able to just pull from the existing data rather than creating or getting permission to use someones data.

[2019-04-05 16:23] #2751 closed, assigned to markcmiller86

[2019-04-05 16:27] brugger1 commented on #3102
Thanks for figuring all this out. Here is what I propose followed by my reasoning.

Proposal:

Leave everything the same except for the FontAttributes. Change the font attributes "scale" to either "height" or "size" and always add a % to the value displayed in the text field (i.e. instead of the current 4, it would say 4%). We currently do this in the attributes for Text annotation objects.

Logic

[2019-04-05 18:06] markcmiller86 opened #3381 "Investigate XYZ export issues"
### Describe the bug
User exports Miranda data to XYZ format including a variable named "pressure". Output he gets is...
[code]

- The `?` char is  what XYZ writes when it doesn't have an atomic element name. It would be better to say "unknown atomic element" or something but we'd need to take care because I think that string is consumed in the XYZ reader and we'd need to adjust the reader to deal

[2019-04-05 18:22] griffin28 commented on #3375
For voting...don't allow voting for yourself (honor system of course).

[2019-04-05 18:38] brugger1 opened #3382 "PIDX library not in VM used for Circle CI."
### Describe the bug

I got a report from Steve Petruzza that he noticed that the tests don't find PIDX when run on Circle CI. I assume PIDX isn't installed on the VM.

**Helpful additional information**

- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - User productivity significantly degraded
- [X] Medium - User productivity partially degraded
- [ ] Low - User prod

[2019-04-05 20:22] markcmiller86 commented on #3382
Should use a special topics meeting sometime soon to cover some of these corners of the new workflow
- Circle CI container/VM
- ReadTheDocs integration
- Badges on README.md
- Others?

[2019-04-05 21:20] markcmiller86 commented on #3378
We also need tests with interesting numerics in them

- extreme spatial extents (small or large)
- Data with NaNs
- Hexes with non-planar faces causing PIC issues, etc.
- Extreme domain counts (Brad's already encountered issues here)
- Extreme material counts
- Extreme size curves (e.g. > MAX_INT points)
- Extreme sized single domain meshes

[2019-04-05 22:00] markcmiller86 commented on #3375
Just to get the ball rolling

![Untitled](https://user-images.githubusercontent.com/5720676/55658705-7b3f0180-57b3-11e9-86bc-49dbf63bfe47.png)

With the arrows up and to the right, I was trying to capture a vague sense of a scaling curve. Didn't do it very much justice though ;)

[2019-04-05 22:35] rusu24edward commented on #3382
Pull request review policies should also be considered.

[2019-04-08 19:21] markcmiller86 opened #3383 "Subversion repo and forum cut-off"
Redmine server was shut off and ORNL is re-directing visitbugs.ornl.gov to issue tab here at GitHub.

It would be good to set Subversion to read-only at this point. Don't know how to do that with either service.

What about the visitusers forum?

But, at some point we need to turn those off entirely and maybe archive them. When should we do it?

I worry with them staying there, they will cause con

[2019-04-08 19:39] biagas opened #3384 "User info Font scale updates text size only in conjunction with other changes"
### Describe the bug
If you open the Annotation Window and change the 'Font scale' for 'User information',
the text size doesn't change unless you also change a different option for the User Information,
like bold, italic or color.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High

[2019-04-08 22:08] biagas commented on #3102
More info on usage of _Font scale_:
* user info annotation: _Font scale_ is used to calculate the _x-position_ of the text actor, as well as to calculate the text actor's _height_ (scale *2) and _width_ (scale *0.02)
* Db info annotation: _Font scale_ is used to calculate text _height_
* 2D axes: _Font scale_ is used to calculate vtkTextProperty's _font size_ by multiplying with viewport's height.

[2019-04-08 23:22] aowen87 commented on #3370
Refactoring of the label creation/integration is complete. This also appears to have resolved issue #3356.

[2019-04-08 23:23] aowen87 commented on #3356
I will do some further testing tomorrow, but I believe this was resolved today during the label refactor.

[2019-04-08 23:30] aowen87 commented on #3356
Scratch that. It seemed to resolve the label being wrong, but the actual pick operator is still not performing correctly: The label is correct, and the adjacent zones appear to be correct, but the point is still returned as (1, 0, 0), which is where the label is rendered.

[2019-04-09 00:12] #3384 closed, assigned to biagas

[2019-04-09 14:43] biagas opened #3387 "Vista plugin has HDF5 dependency, not checked by root CMakeLists.txt"
### Describe the bug
User came across this using build_visit without hdf5, but with silo. Vista plugin complained
about HDF5 dependencies.

Vista plugin lists HDF5 as dependency in its xml file (and hence it CMakeLists.txt),
but databases/CMakeLists.txt only checks for SILO dependency.

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degr

[2019-04-09 15:18] markcmiller86 opened #3388 "Do we still need the Vista plugin?"
Vista was an early prototype format for Ale3d. I honestly don't know if they still use it nor do I know who to ask about whether it is still needed?

[2019-04-10 04:11] #3300 closed, assigned to griffin28

[2019-04-10 14:52] biagas opened #3390 "point meshes cannot be glyphed if topological dimension not set to 0"
### Describe the bug
If a database plugin or any filter that produces/modifies a point mesh does not set the topological dimension to 0 in the avtDataAttributes, then neither the Mesh plot nor the Pseudocolor plot will be able to glyph the points.

Blueprint database plugin and Persistent Particles operator demonstrate the problem.

**Helpful additional information**
(*Please click check boxes AFT

[2019-04-10 15:24] brugger1 commented on #3388
I would start with Peter Robinson. Another person would be Chad Noble.

From: Mark C. Miller <notifications@github.com>
Sent: Tuesday, April 9, 2019 8:19 AM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [visit-dav/visit] Do we still need the Vista plugin? (#3388)

Vista was an early prototype format for Ale3d. I honestly don't know if they s

[2019-04-10 15:30] biagas opened #3391 "Shoulld vertex cells be glyphable when found in non-point meshes?"
### Is your feature request related to a problem?
Currently vertex cells are only glyphable when topological dimension of the mesh is 0.
When vertex cells are part of a mixed mesh of lines, planes, volumes, then the topological dimension is > 0 and the vertex cells are not glyphable.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [ ] High - User productivity significantly impro

[2019-04-10 16:21] markcmiller86 commented on #2638
Removing reviewed label to discuss again. Related to #3369

[2019-04-10 17:43] markcmiller86 opened #3394 "Robustify CMFE by tetrahedralization"
### Describe the bug
When processing cells with faces of more than 3 points, those faces are not necessarily planar. However, we believe portions of the position-based CMFE code assume this. As a result, meshes that do overlap spatially can wind up getting non-overlap value due to numerical issues caused by non-planar faces.

The solution is to decompose cells consisting of non-3-point faces into

[2019-04-10 17:49] markcmiller86 opened #3395 "Update list of pre-defined mesh quality expressions"
For convenience, VisIt can pre-define a number of expression variables so that they appear in the menu pull downs. One category of these is the mesh-quality expressions (which get defined only for unstructured meshes).

Initially, this list of expressions consisted only of those computed from verdict library. They are defined and populated in ``avtDatabase::AddMeshQualityExpressions``. However, th

[2019-04-10 17:55] markcmiller86 opened #3396 "Original mesh lines presereved until a PC plot is added"
### Describe the bug
I have a mesh which I decomposed into tets. When I draw just the mesh in VisIt, which includes the ``avtOriginalZones`` data, I get what I expect...only the original mesh lines.

When I add a PC plot of a variable from the same database, then I see the added mesh lines.

This occurss on 3.0.0

### To Reproduce
1. Open globe.silo
1. PC plot ``dx``
1. Draw
1. Export to VTK with

[2019-04-10 18:35] aowen87 commented on #3356
This is resolved now. The issues seemed to stem from two areas:
1. The node labels were not being carried through visit from the plugin.
2. The node id was being overwritten in avtPickByNodeQuery.

The fixes are on the task/maguire7/2019_01_mili_plugin_rewrite branch.

[2019-04-10 18:36] #3356 closed, assigned to aowen87

[2019-04-10 19:58] aowen87 commented on #3268
While fixing an unrelated bug with the pick operator today, I came across a section of comments that seem to describe why we can't always pick from the "actual" data. These comments start at line 305 of file src/avt/Queries/Pick/avtPickByNodeQuery.C

[2019-04-10 20:30] markcmiller86 opened #3398 "Add tetrahedralizer operator"
### Is your feature request related to a problem?
Sometimes, it can be useful to have the ability to take a mesh and convert it to all tets or all triangles.  Examples are cases where internal operator numerics are sensitve to non-planar faces.

VTK's vtkTriangleFilter class can do most of the work here. Handling ghost zones on domain bounaries would be needed too and probably complicated a bit.

[2019-04-10 21:36] biagas commented on #3384
Resolved by PR #3386

[2019-04-10 22:04] biagas commented on #3102
Regarding the differences in sizing we noticed between 2D axis labels and Label plot labels, even when given the same FontAttributes settings:

- 2D axis font scale is multiplied by 0.02 * viewport height,
- Label plot font scale is multiplied by 0.01 * viewport height.
- 2D axis and label plot report different viewport heights.  I looked at rect2d.silo and had the 2d axis and label plot print out

[2019-04-11 02:32] markcmiller86 commented on #2974
fixed in #3323

[2019-04-11 02:32] #2974 closed, assigned to markcmiller86

[2019-04-11 16:57] rusu24edward commented on #3362
Based on the meeting on 04/11/19, we decided to add a few things to the PR template:
1. Add "assign reviewer" to the checklist.
1. Add a link to page that describes our PR review policies (the three tiers, things to look for, etc.)
   1. Create a page in the sphinx doc that handles the PR review policies under a new tab, which is developer documentation. This will help us start the necessary actio

[2019-04-11 17:00] rusu24edward commented on #3324
Relates to #3362, which will add a new tab to the sphinx documentation.

[2019-04-11 17:07] aowen87 commented on #3362
@rusu24edward

[2019-04-11 17:09] aowen87 commented on #3362
This is a test for Eddie.

[2019-04-11 17:10] markcmiller86 commented on #3362
I think this is do-able by throwing a switch that controls it in our repo settings. Isn't it?

Also, @rusu24edward no need to manually number your bullets like this. [Markdown](https://guides.github.com/features/mastering-markdown/#examples) is supported in these comment boxes

[2019-04-11 17:15] rusu24edward commented on #3362
That would be awesome! I'll poke around in there and see what I can find.

Thanks for the tip on the markdown! Updated the comment

[2019-04-11 18:05] biagas opened #3401 "2D axis title and label font scale clamped without notifying user"
### Describe the bug
One can enter any value desired into the Title or Label Font scale option for 2D axes,
but the value will be clamped to a maximum of 10 and minimum of 0.1 without any indication
given to the user.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - User product

[2019-04-11 18:06] biagas commented on #3401
Probably very rare for any user to enter values < 0.1 or > 10 for the 2d axes.

[2019-04-11 18:09] rusu24edward commented on #3324
We should try to be a little more succinct in options. For example, the volume attribute "free form opacity" should not have all numbers 0-255 listed out. It should just say something like "integer value between 0 and 255".

[2019-04-11 18:20] markcmiller86 opened #3402 "Support nightly testing of developer flagged branches"
I would like to support the ability to add a given branch to be run as part of nightly testing, to support only some modes of nightly testing on that branch and to support only subset of nightly tests on that branch.

Currently, nightly tests run only our develop branch and sometimes the current release candidate.

This issue is about enhancing our nightly testing to support testing from any arbit

[2019-04-11 19:32] markcmiller86 commented on #3378
Looks like yes, it can. We have various kinds of assertion-like functions defined. See [`export_db.py`](https://github.com/visit-dav/visit/blob/develop/src/test/tests/databases/export_db.py) for example.

[2019-04-11 19:34] biagas commented on #2918
Resolved by PR #3354 (for Mesh plot) and #3397 for PC plots.
There is a new ticket (#3390) to address blueprint not setting topological dimension to 0.

[2019-04-11 19:34] #2918 closed, assigned to cyrush, markcmiller86, biagas

[2019-04-11 19:41] cyrush commented on #3378
As @markcmiller86  mentioned, we do have assert based tests, here is some more info:

http://visitusers.org/index.php?title=Leveraging_VisIt_in_Sim_Code_Regression_Testing#Assert_Based_Tests

[2019-04-11 20:17] cyrush commented on #2152
https://cmake.org/cmake/help/v3.0/policy/CMP0033.html

[2019-04-11 20:19] cyrush commented on #2152
To provide context where we use this, it helps us with the plugin-vs-install logic:

(From PluginVsInstallHelpers.cmake)

[code]

Current version of cmake we are using warns us strongly that this will be removed in the future.

[2019-04-11 22:56] cyrush commented on #3382
FYI, here is where you can find what is enabled in the circle container:

https://github.com/visit-dav/visit/blob/develop/src/tools/dev/masonry/opts/mb-develop-ci-smoke.json

[2019-04-12 00:09] markcmiller86 commented on #3402
It just occurred to me that another way of achieving this would be to request a *review* from the test suite. If we had some fictitious github account members that were kinda sorta a proxy for a test suite run, a developer could request review from `visit_nightly_testsuite` triggering a test suite run of that branch.

[2019-04-12 05:34] markcmiller86 commented on #3378
Another observation is that the overwhelming majority of current VisIt test suite is basically *integration* tests; that is, we are testing a whole bunch of different and distinct pieces working together to produce an image or textual result.

The problem with these kinds of tests is the amount of time required to run them and in particular, the time spent just building up the integrated product t

[2019-04-12 16:29] marchdf opened #3409 "Exodus reader crash on viewer: Expected NC_INT || NC_INT64, Got 10"
See #3439 ... that is the real problem here.

### Describe the bug
Opening and drawing exodus solution files results in VisIt crashing. Opening this file in ParaView does not result in this error.

**Helpful additional information**

- [x] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User productivity partially d

[2019-04-12 16:49] markcmiller86 opened #3410 "Patch for deprecated MPI functions"
MPI has deprecated many functions since MPI 1.0. Most implementations still contain the deprecated functions. OpenMPI version 4 has removed many. This patch is for some of those functions in the scalable rendering code....

[code]

Note...we don't wanna replace the old functions with the new ones wholesale because we still wanna be able to build against older MPIs...which a lot of our customers st

[2019-04-12 17:01] markcmiller86 commented on #3409
@marchdf this report seems to indicate it was tested in 3.0.0b too. Is that right? I believe this has been fixed in #3320. I will try to confirm with the data file you have kindly provided.

[2019-04-12 17:19] marchdf commented on #3409
@markcmiller86 yep that is correct. I tried 2.13.2 and 3.0.0b. Thank you for checking!

[2019-04-12 17:21] markcmiller86 commented on #3409
Would anyone with a develop build available have a chance to test this? I don't have a develop build handy.

[2019-04-12 17:33] markcmiller86 commented on #3391
non-glyphed points are so small that in a mixed mesh setting, I would think they could often go unnoticed. Of course it depends on their number and location relative to higher order topological entities.

Would another option be to add a way to filter out mesh elements based on topological dimension? It could be like 4 check-boxes for 0, 1, 2 and 3D elements. If only 0 is checked, only points are

[2019-04-12 18:08] biagas commented on #3409
I can test it Mark.

Kathleen

On Fri, 2019-04-12 at 17:21 +0000, Mark C. Miller wrote:

[2019-04-12 18:43] #3387 closed, assigned to markcmiller86

[2019-04-12 19:11] biagas commented on #3409
I tested on Pascal in batch with 4 processors. Engine crashed.
Attached the -debug files for the engine.

[exodus_debug_dump.tar.zip](https://github.com/visit-dav/visit/files/3074823/exodus_debug_dump.tar.zip)

[2019-04-12 19:13] markcmiller86 commented on #3409
Ok, thanks @biagas. I was sure I had fixed this issue.

[2019-04-12 21:48] rusu24edward commented on #3324
We probably don't want multilines to go onto new rows for this table either:
![Screen Shot 2019-04-12 at 2 46 24 PM](https://user-images.githubusercontent.com/18565891/56067983-03805200-5d32-11e9-8f96-e0beca30d841.png)

[2019-04-12 23:00] rusu24edward commented on #3267
As per meeting with @brugger1, we are going to close this ticket.

[2019-04-12 23:00] #3267 closed, assigned to rusu24edward

[2019-04-12 23:59] markcmiller86 commented on #3324
Oops. Yup. Thats another good one to catch.

[2019-04-15 15:48] #3141 closed, assigned to cyrush

[2019-04-15 18:26] brugger1 opened #3415 "Remove remaining references to R."
### Describe the bug
We provided R support through VTK and when VTK dropped support for it in VTK, we removed support as well. There are still some references to it. We should remove those. There is still support in build_visit for building R and Kathleen noted a couple of references noted below.

* root CMakeLists.txt:
VISIT_3RDPARTY_VAR(R_DIR         "Path containing the R library's include and

[2019-04-15 21:59] brugger1 opened #3416 "Add remaining checksums to build_visit"
### Describe the bug
I added checksums for most of the files downloaded by build_visit, but I skipped a few because I couldn't easily get the file. The files should be obtained and copied to NERSC and checksums added. It may be that some of the files are no longer available in which case we should remove them.

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User pr

[2019-04-15 22:31] #45 closed, assigned to brugger1

[2019-04-16 00:00] markcmiller86 commented on #2602
Just capturing here code-snipit I used to verify an enhancement I made to the `array_decompose` expression function to support plotting the *closest* integration point to a given point id.

The code below was a hack to the (old) Mili plugin to test an example of handling Mili integration points as VisIt *array* variables. In this hacked example, I was spoofing four integration points actually stor

[2019-04-16 17:20] aowen87 commented on #3370
Shared variables is complete, but I've realized that there are some oddities with how element sets are represented in the .mili file that will prevent shared from working on them right now. I've contacted Kevin about this and will hopefully get this figured out soon.

[2019-04-16 18:25] aowen87 commented on #3370
I just heard from Kevin, and it appears there is an issue with how some of the element sets are being written out. He needs some time to figure out how to handle this case, so I'm putting the shared element sets on the back burner until this is resolved.

[2019-04-16 22:28] cyrush opened #3421 "macOS will require "notarization"at some time in the near future"
Another code signing + check / hoop to jump through:

https://www.cultofmac.com/618378/apple-will-soon-require-all-macos-apps-to-be-notarized/

**Impact**
-  High - User productivity significantly improved

We will need to address this for our release process.

[2019-04-16 22:51] brugger1 commented on #3402
There are potential security issues here, so we need to make sure that we can't just have any random person kick off a run of the test suite with some random branch.

[2019-04-17 14:28] #3146 closed, assigned to brugger1

[2019-04-17 14:46] #3147 closed, assigned to brugger1

[2019-04-17 15:52] cyrush commented on #3067
@markcmiller86 suggested that we double check this is the case for a release bundle, as well as a development build. I checked using @griffin28's beta bundle and yes, this does exist in released code as well. Again, I am a by stymied here b/c appear to be following the guidance to stop the icons from appearing. All signs point to a Qt5 difference that we don't understand.

[2019-04-17 17:26] cyrush commented on #689
Oleg ran into this when constructing a complex expression and dropped by to ask if there were any updates.

I still think:
`divide(<val_numerator>,<val_denominator>,>div_by_zero_value>)`

Provides a good solution, shouldn't be too hard to accomplish.

I added  3.0.1 to make sure its on our radar.

[2019-04-17 20:44] markcmiller86 commented on #689
Shouldn't VisIt just automatically not do a divide by zero in its implementation of the div (`/`) operator? I don't see any point in allowing div-by-zero to happen in the expressions in the first place. Unfortunately, I don't think there is a high performance way to do that (e.g. exceptions or signals) other than always testing demonimator before using it in division in the inner-most loop...which

[2019-04-17 21:15] #3305 closed, assigned to biagas

[2019-04-17 23:03] markcmiller86 commented on #3402
Ok, so I agree with some of these concerns. At the same time, nobody has the ability to create a branch in *our repository* who are not also members of our organization. Presumably, if we trust them with the keys to the repo, we trust them with changes to the code base, don't we? People can create PRs from forks as well but that isn't the same thing and isn't what I am suggesting we support either

[2019-04-18 05:10] markcmiller86 commented on #3388
I removed this in #3408

[2019-04-18 05:10] #3388 closed, assigned to markcmiller86

[2019-04-18 05:12] markcmiller86 commented on #3296
I have moved this to 3.0.1 because in re-reviewing, the issue isn't as pressing as I understood it to be.

[2019-04-18 15:44] markcmiller86 opened #3428 "Adios build fails during build_visit with --all-io"
After running
[code]

I get

[code]

which suggests its downloading two different versions of Adios. That seems bad. Then build_visit fails in the Adios build

[code]

and the build_visit_log shows.

[code]

This is on the develop branch on OSX

[2019-04-18 15:49] cyrush commented on #3428
@markcmiller86 adios 1 and adios 2 are separate code bases, supporting to separate db plugins.

Using` --all-io`, is a effectively throwing both he `--adios` and `--adios2` flags to build_visit.

They should be able to co-exist (different lib names, different symbol names, namespaces, etc), the build error is probably not related to both being on.

[2019-04-18 16:16] brugger1 commented on #3395
The list in the expression window is longer than the list in the variable pull down when creating a plot.

[2019-04-18 16:25] #3366 closed, assigned to nobody

[2019-04-18 16:32] #2262 closed, assigned to nobody

[2019-04-18 16:34] #2024 closed, assigned to nobody

[2019-04-18 16:38] #1692 closed, assigned to nobody

[2019-04-18 16:38] biagas opened #3430 "Modify test suite so it can run out-of-source"
### Is your feature request related to a problem?
Test suite currently must be run from src/test directory, and so pollutes our source tree with the results.

It should be modified so that it can be run from and results saved to a different location.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [ ] High - User productivity significantly improved
- [X] Medium - User productivi

[2019-04-18 18:44] brugger1 opened #3432 "Remove visus from build_visit, it's been replaced with pidx."
### Describe the bug

The old visus library has been replaced with pidx, so we should remove bv_visus.sh. It should also be removed from the modules.xml.

**Impact**
- [ ] High - User productivity significantly degraded
- [X] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [ ] High - occurrence is not specific to platform, data, conf

[2019-04-18 21:08] #3269 closed, assigned to brugger1

[2019-04-18 21:41] biagas commented on #3432
Has anyone already jumped on this? If not, I will.

[2019-04-18 21:51] brugger1 commented on #3432
I haven’t.

From: Kathleen Biagas <notifications@github.com>
Sent: Thursday, April 18, 2019 2:41 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Author <author@noreply.github.com>
Subject: Re: [visit-dav/visit] Remove visus from build_visit, it's been replaced with pidx. (#3432)

Has anyone already jumped on this? If not, I will.

—
You are receiving this b

[2019-04-18 22:24] #3291 closed, assigned to brugger1

[2019-04-18 22:51] markcmiller86 opened #3438 "Error in building VisIt during libsimV2"
Built TPLs using...

[code]

Then used resulting host profile to build VisIt

[code]

By doing a `make -k` I get a working VisIt GUI and CLI but the build of libsimV2 fails as below (I've inserted line-breaks for every space in the original link command-line so it is easier to read it here...

[code]

This is for current develop branch on OSX

[2019-04-18 23:01] #3102 closed, assigned to biagas

[2019-04-18 23:11] markcmiller86 commented on #3067
I just blew away and re-built my whole VisIt env. on OSX. I am seeing this too. But, I wasn't understanding the issue fully here either. I thought it was that more and more VisIt icons would appear as a single VisIt cli sessions proceeds (as I recall being reported at some point in the past). I am not seeing that behavior. Only that the icon does appear when we have `-cli -nowin`. Oddly, I **DO NO

[2019-04-18 23:31] markcmiller86 commented on #3409
Just plotting the mesh on my OSX system, I am getting a hang here...

[code]

[2019-04-18 23:37] #3432 closed, assigned to nobody

[2019-04-19 03:12] markcmiller86 commented on #3409
So far, I am unable to reproduce the behavior reported by either @marchdf or @biagas. I have ensured I have an up to date develop branch. The behavior I am getting both on pascal in serial and parallel and on my OSX system is that something goes awry during ghost zone communication in `avtGenericDatabasae::CommunicateGhostZonesFromGlobalNodeIds`. I am thinking some bad data is making its way in th

[2019-04-19 04:08] markcmiller86 commented on #3409
My guess is that the ghost zone communication logic in avtGenericDatabase is not set up to deal properly with global node ids that are either `long long` or `int64` type.

I hacked the code to convert `NC_INT64` data being served up by the plugin to `NC_INT` and everything begins to work.

[2019-04-19 06:43] markcmiller86 opened #3439 "Re-code Global element id based ghost zone comm to use 64 bit unsigned int type"
### Describe the bug
For UCD meshes, VisIt supports communication of ghost elements (nodes and/or zones) using global ids. However, that logic appears to assume those are `int` type using `vtkIntArray` types. There is no type checking either.

For large meshes, 32 bits are not sufficient to store global node ids. So, a number of file formats, Silo and Exodus for sure, use 64-bit types.

We have an

[2019-04-19 06:46] markcmiller86 commented on #3409
Best I could possibly do for 3.0.0 for this ticket is to fix the crash by having the plugin serve up integer types for global ids and null if the id data has values that are too large to represent as ints. That would certainly fix the test case resulting from the data attached to this issue but otherwise simply sidesteps the real problem (#3439) @brugger1  thoughts?

[2019-04-19 14:32] brugger1 commented on #3409
I think checking in the work around you have and then filing another ticket is probably the way to go. The new ticket should mention removing the work around when it is fixed (actually,  the work around may need to be removed to debug the issue).

From: Mark C. Miller <notifications@github.com>
Sent: Thursday, April 18, 2019 11:46 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Subscribed <s

[2019-04-19 16:28] markcmiller86 commented on #3409
Ok, thats my plan. I have the work-around but decided I'd tests based on this global id data too so that when we fix #3439 we have something there already to confirm it.

[2019-04-19 16:53] cyrush opened #3441 "Audit use of Windows and Unix read() vs ::_read() in db plugins"
In a few db plugins, we have windows specific logic for reading from a file descriptor.

There is an example in the Claw DB plugin, discussed here:

https://github.com/visit-dav/visit/pull/3424

It boils down to: the unix variants return unsigned values where the windows return signed, and the error checking logic isn't the same.  This opens us up to improper error checking.

[2019-04-19 17:30] cyrush opened #3442 "remove redrose host profile"
Remove: src/resources/hosts/llnl_closed/host_snl_closed_redrose.xml

I don't belive this exists any more.

[2019-04-19 18:38] cyrush commented on #3441
@markcmiller86 @biagas

Here is a proposed interface to wrap those calls:

`bool visit_read_file(FILE *fd, void *buffer, size_t bytes, size_t &bytes_read)`

The return would be `true` or `false`, to let folks if they should check `ERRNO` for more details.
`bytes_read` is an output that gives the number of bytes actually read.

[2019-04-19 18:53] markcmiller86 commented on #3441
- Isn't `fd` an `int`? This is for `read()` system call and not `fread()` right?
- Is target location of this in `src/common/misc/FileFunctions.[Ch]`?

[2019-04-19 18:58] markcmiller86 commented on #3441
It occurs to me...another way to go is to switch to stdio routines (fopen,fread,fwrite,fclose instead of lower level section 2 routines. Those appear to be more fully supported on Windows. We use stdio in many places in the db plugins and they don't appear to have windows specific conditional compilation blocks (well, except for fseek).

[2019-04-19 19:41] markcmiller86 commented on #3409
Do we have a way to query the version of VisIt at compile time? I'm worried that the code I add to exodus plugin here winds up staying even after the underlying problem is fixed. I can do a better job of ensuring against that if I can make it conditionally compiled based on the version of VisIt

[2019-04-19 20:00] brugger1 commented on #3409
VISIT_VERSION in visit-config.h.

From: Mark C. Miller <notifications@github.com>
Sent: Friday, April 19, 2019 12:42 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Mention <mention@noreply.github.com>
Subject: Re: [visit-dav/visit] Exodus reader crash on viewer: Expected NC_INT || NC_INT64, Got 10 (#3409)

Do we have a way to query the version of VisIt at

[2019-04-19 20:05] markcmiller86 commented on #3409
@brugger1 thanks! Thats a string valued CPP symbol though. Do string valued CPP symbols support equal to operator? I don't think they do. But, I do see a VISIT_APP_VERSION defined there too which is numeric valued.

[2019-04-19 20:45] markcmiller86 commented on #3409
So, upon further looking, it does not appear that we have a way to numerically compare VisIt version numbers at compile time. I am happy to do it...but not this close to a release. I will add a ticket.

[2019-04-19 21:15] markcmiller86 opened #3444 "Enhance compile time support for VisIt version number checks"
We currently define a compile-time representation for VisIt version number that is a string. Strings cannot be used in compile-time comparison operations as one might like to conditionally compile code for a given version of VisIt.

The update here is to re-implement VisIt's compile time version number as numerical values at compile time such as the `A`, `B`, `C`, and `D` macros in the simple code

[2019-04-19 22:22] markcmiller86 opened #3445 "Switch to aspell for documentation spell checking"
It looks like one of the technologies I used to implement spell checking in the manual is becoming obsolete or no longer supported.

I think we can swtich to `aspell` which is available on both OSX and Unix/Linux. I don't know about windows though.

A key aspect is creating one or more *personal wordlist files* for all the words that would get flagged as miss-spellings that are ok for our project.

[2019-04-21 16:50] cyrush commented on #3395
@biagas -- sorry i read it backwards, I was in a bit of a rush. I'll work on reading comprehension :-(

[2019-04-23 15:30] #3116 closed, assigned to biagas

[2019-04-23 16:41] #3445 closed, assigned to nobody

[2019-04-23 18:23] markcmiller86 commented on #3240
I've taken a closer look at this. Indeed the missing face is the correct behavior for the case tested here which turns off all SIL sets except `box`, which is the union of 5 of the boxes 6 faces. I ran all tests on my OSX system and they agree (not bit-for-bit but don't expect that either) with the current baselines.

[2019-04-23 18:23] #3240 closed, assigned to markcmiller86

[2019-04-23 21:15] #3409 closed, assigned to markcmiller86

[2019-04-24 15:51] #3362 closed, assigned to rusu24edward

[2019-04-24 16:41] ARSanderson commented on #215
I observed that if “Color for values > max” was checked it was still being applied even though the “Maximum” was not checked. At the time I saw this happening I was working on a color map that was messed up so I am not sure can be duplicated easily. But it seems to me that the code for setting the SetBelowRangeColor and SetAboveRangeColor should be a conditional.

Current:
    double c[4];
    att

[2019-04-24 16:47] #3442 closed, assigned to cyrush

[2019-04-24 21:38] #3415 closed, assigned to nobody

[2019-04-24 23:04] biagas opened #3449 "ExpressionList cannot be auto-regenerated"
### Describe the bug
While testing the state of our xml2xxx code, I discovered that running xml2atts for
common/state/ExpressionList.xml does not regenerate the correct atts.
I looked into adding the correct infrastructure to ExpressionList.xml and ExpressionList.code, but there are some 'mutable' ivars in the header that cannot be autogen'd with our current
xml code base.

It is important to be a

[2019-04-25 16:12] biagas opened #3452 "Remove old config-site files referencing vtk-5"
There are a number of config-site files that still reference vtk-5.

beetown.llnl.gov.cmake
beetwon.llnl.gov.static.cmake
clover.cmake
glory120.cmake
glory144.cmake
iceman.cmake
kiwi2.cmake
lije.ornl.gov.cmake
login1.longhorn.cmake
mac.ornl.gov.cmake
muon.ornl.gov.cmake
photon01.ornl.gov.cmake
red.cmake
redsky-login1.cmake
redsky-login2.cmake
redsky-login3.cmake
redsky-login4.cmake
shaft.cmake
spu

[2019-04-25 16:17] biagas commented on #3452
We might also want to investigate whether any of the config-site files referencing vtk-6 should be removed.

[2019-04-25 16:21] biagas commented on #3059
I tested on Windows and linux (both with and without mesagl), and no longer see this message on exit.

[2019-04-25 16:21] #3059 closed, assigned to biagas

[2019-04-26 04:17] markcmiller86 opened #3453 "How many invocations of build_visit does 3000 GB support?"
After doing a recent build on my OSX system, I have these numbers

* just required libraries...
[code]
* all libs I built with
[code]
So, about 3/4 GB for my build. That means 3000 GB would support about 4,000 invocations of `build_visit`.

I guess we should really wait and see before we draw any conclusions. But, wanted to sanity check this.

We can periodically check on our bandwidth usage by go

[2019-04-26 17:20] markcmiller86 commented on #3453
Oops, without context that is a little vague...3000 GB is our current "data pack" plan *per year*. And, my arithmetic is counting *new* invocations or at least invocations where necessary tarballs don't already exist locally.

Since all the tarballs are currently hosted at NERSC, I was just curious what impact it would be on our GitHub data pack plan bandwidth if we started hosting from an LFS'd r

[2019-04-26 21:28] rusu24edward commented on #22
GitHub provides two great articles about how to create a fork and how to create pull requests to another repo via that forked repo:
https://help.github.com/en/articles/fork-a-repo
https://help.github.com/en/articles/creating-a-pull-request-from-a-fork
I've added a note in the pr_create page citing these two resources.

[2019-04-26 22:23] #22 closed, assigned to rusu24edward

[2019-04-26 23:36] cyrush opened #3463 "use out-of-source build setup for VisIt's python test module"
### Describe the bug
`py_src` is created in src/test, we need it to be built out of source

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [x] Low - User productivity trivially degraded

Kathleen brought this to my attention a while back, this is a reminder for me to address this

[2019-04-26 23:44] cyrush commented on #3126
@brugger1 resolved this

[2019-04-26 23:44] #3126 closed, assigned to nobody

[2019-04-26 23:54] cyrush commented on #3453
I guess this is a thought experiment?  As far as I can tell hosting the tarballs at NERSC is working well?

I typed a more detailed response, but it got lost.

Here is gist: I don't think it easy to pull out a single file using git-lfs, thats something that we need to even consider this.

[2019-04-27 03:00] markcmiller86 commented on #3453
Sheesh...you scared me there for a minute ;)

I was worried downloading from Git LFS would *require* using LFS. It doesn't, you can `wget` (and cherry pick) files from Git LFS. Just add `?raw=true` to the end of the url. Example....

[code]

Sure, but I think we should be planning to migrate off of NERSC. I am sure they wouldn't mind ;)

Indeed.

Can you think of any other issues?

[2019-04-30 18:57] markcmiller86 opened #3465 "cycle (distinct) colors for added mesh plots"
This happens a lot for engineering users.

A user has a main mesh with a number of boundary conditions (which represent the faces and, edges and/or nodes of the main mesh). He would like to add the associated mesh plots of the boundary conditions and have them appear visually distinct from the main mesh without having to manually set each mesh plot's colors.

We have the ability to do this with cu

[2019-04-30 20:30] biagas commented on #3463
#3430 was previously entered to address this

[2019-04-30 21:27] rusu24edward commented on #3324
![Screen Shot 2019-04-30 at 2 21 53 PM](https://user-images.githubusercontent.com/18565891/56994238-57bd6b80-6b53-11e9-9039-754addac1cc1.png)

I don't understand what information is meant to be conveyed by the line that says
[code]
If we copy how the "return" line has it, perhaps "type" should be "String", since the description specifies it is a string. Furthermore, the green box that says
[code]

[2019-04-30 22:37] biagas opened #3467 "Warning regarding #define _GNU_SOURCE in MDServerConnection.C"
I see this message when building on linux with g++ 6.3:
src/mdserver/main/MDServerConnection.C:45:0: warning: "_GNU_SOURCE" redefined
 #define _GNU_SOURCE

<command-line>:0:0: note: this is the location of the previous definition

Should we remove the #define _GNU_SOURCE or wrap it in #ifndef _GNU_SOURCE?

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User product

[2019-04-30 22:53] cyrush commented on #3453
thats great to know!

[2019-04-30 23:11] markcmiller86 commented on #3467
Here's what I propose...disable definition of _GNU_SOURCE by g++ compiler.

_GNU_SOURCE gives us access to non-posix features/extensions of system calls not normally available. And, we *want* those features when we can have them. In particular, since we tend to compile with gnu compilers most places, we get the added accelerating information about whether a given file in a dirent traversal is a di

[2019-04-30 23:12] markcmiller86 commented on #3467
@biagas does this make sense? Can I re-assign to you?

[2019-04-30 23:19] markcmiller86 commented on #3324
I think this is a potential bug in the rst generation.

I think it comes from [line 405 of `sphinx_cli_extractor.py`](https://github.com/visit-dav/visit/blob/31f5a23ea7b73e1109004a6037b42c573ee516cc/src/doc/sphinx_cli_extractor.py#L405)

So, perhaps we should find out whether we have enough information to instead output something indicating the desired argument type.

[2019-04-30 23:24] markcmiller86 commented on #3324
[Using `AddOperator()` as an example](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/functions.html#addoperator), I am not sure I see anything [in the python doc string for that method in `MethodDoc.C`](https://github.com/visit-dav/visit/blob/31f5a23ea7b73e1109004a6037b42c573ee516cc/src/visitpy/common/MethodDoc.C#L315) that captures the argument types. You could maybe

[2019-04-30 23:37] brugger1 commented on #3467
I agree, we don’t want to loose the performance improvement with the stat call. Turning it off in the compiler makes sense, it probably shouldn’t have been made the default by GNU.

From: Mark C. Miller <notifications@github.com>
Sent: Tuesday, April 30, 2019 4:12 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [visit-dav/visit] Warning

[2019-05-01 15:56] rusu24edward commented on #3324
I believe there may be another bug in the return type : integer. Take a look at GetMaterials, for example. The synopsis indicates that it returns a tuple of strings, but the return type is still integer.  [This line](https://github.com/visit-dav/visit/blob/31f5a23ea7b73e1109004a6037b42c573ee516cc/src/doc/sphinx_cli_extractor.py#L473) is hard-coded to always say integer, regardless of the return ty

[2019-05-01 16:19] rusu24edward commented on #3324
We can probably get the return type from the synopsis. For almost every record in the documentation, the return type is the same throughout the synopsis. The only exception is the short-hand notation that gets used to supply the same documentation for similar functions. For example, the GetPickOutput synopsis shows
[code]
However, these are two different functions, and we can probably tell the scr

[2019-05-01 16:25] rusu24edward commented on #3324
The only exception to this is in Query, where the output varies based on the setting from SetQueryOutputToXYZ(). This is a unique function, and for this one we can probably leave off the return type because the note under "Returns:" explains how/why the return type is different.

[2019-05-01 18:26] rusu24edward commented on #3324
![Screen Shot 2019-05-01 at 11 25 36 AM](https://user-images.githubusercontent.com/18565891/57034249-e5f12a80-6c03-11e9-9185-c15f68c8b781.png)
WriteScript needs better documentation

[2019-05-01 18:33] rusu24edward commented on #3324
Need to think about a way to deal with the alias in visitmodule.C in the reverse generation...

[2019-05-01 18:44] rusu24edward commented on #3324
![Screen Shot 2019-05-01 at 11 42 43 AM](https://user-images.githubusercontent.com/18565891/57035197-47b29400-6c06-11e9-90a0-96b05f5fb3fa.png)
For example, maybe instead of rewriting the documentation for NodePick, we just make a note that says, "This is an alias for NodePick" with a link to the NodePick documentation.

[2019-05-01 18:47] cyrush opened #3471 "request for more docs on tensor expressions"
Several of the tensor entries in:
https://visit-sphinx-github-user-manual.readthedocs.io/en/latest/Quantitative/Expressions.html

Read: `No description available.`

Oleg Shilling asked for more details.

We should also provide more concrete examples for how to compose tensors (and vectors)

For a tensor, is this the right recipe?

[code]

[2019-05-01 18:48] cyrush commented on #3471
@markcmiller86 off hand, to you know the right tensor compose incantation?

[2019-05-01 19:00] rusu24edward commented on #3324
![Screen Shot 2019-05-01 at 11 56 14 AM](https://user-images.githubusercontent.com/18565891/57036084-26eb3e00-6c08-11e9-9c6a-b1db5de57ab3.png)
This documentation doesn't actually say anything about ToggleLockTools, so it is not clear what ToggleLockTools is supposed to do.

[2019-05-01 19:01] markcmiller86 commented on #3471
Yes. thought I had them in the expression docs. Will go find out why not. Also, that URL you sent is for older docs before github migration. You want https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/

[2019-05-01 19:06] markcmiller86 commented on #3471
Doesn't this answer your question...

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html#vector-and-color-expressions

[2019-05-01 19:12] markcmiller86 commented on #3471
FYI,  https://elist.ornl.gov/pipermail/visit-developers/2014-January/013022.html

[2019-05-01 19:17] cyrush opened #3472 "update LLNL Visit webpages to point to sphinx docs"
The LLNL visit website only shows the old manuals.

Given all the improvements to the sphinx docs, we should switch to point to those.

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/

[2019-05-01 19:17] cyrush commented on #3472
This should be a high priority for any pass at updating the website.

[2019-05-01 19:32] markcmiller86 commented on #3472
I did update the visitusers.org wiki to point to the newest

[2019-05-01 19:39] cyrush commented on #3471
@markcmiller86 the email is basically my question. I did read the vector compose stuff -- but I think it would be good to add a concrete example for the 9x9 and symmetric tensor cases. I don't think folks are going to get to far w/o a basic example.

[2019-05-01 20:12] markcmiller86 commented on #3471
Ok, well, symmetric tensors do require a bit more discussion. Also, in all cases, VisIt's expression system and internally in VTK, we always treat tensors as 9 components. Also, at least source code documentation captures it for [2D](https://github.com/visit-dav/visit/blob/bc8655aebee520e1925c21c8df7d95f16bba38c6/src/avt/Expressions/General/avtVectorDecomposeExpression.C#L235) and [3D](https://git

[2019-05-01 20:22] markcmiller86 commented on #3471
Including this so I don't forget about it, https://en.wikipedia.org/wiki/Voigt_notation

[2019-05-01 20:34] markcmiller86 commented on #3324
I wonder if that is because all VisIt's Python CLI methods are designed to return `int`? Maybe there are a few exceptions such as `GetQueryOutputString()`. So, yeah, this is probably a bug in the CLI extractor. That said, if its right 95% of the time, it might be fine to leave this with return types alone, generate the `.rst` for the (final) time and fix the 5% errors manually.

[2019-05-01 20:36] markcmiller86 commented on #3324
I'd be fine with that. The *proper* name is `NodePick`. I think the cases of these kind of aliases are small too. But, there are probably a few.

[2019-05-01 20:38] markcmiller86 commented on #3324
It smells like `ToggleLockTools` is an *aliase* for a whole collection of methods that toggle locking of various things (view, bounding box, time, limits, etc.)

[2019-05-01 22:26] rusu24edward commented on #3324
Many of them do return int, but it's probably closer to like 60% than 95%. I've written up a modification that can extract the return type from the synopsis.

[2019-05-01 22:31] rusu24edward commented on #3324
Do you mean that if a use calls ToggleLockTools(), then that calls all the 8 toggles listed in the documentation? I'm curious where [this trail](https://github.com/visit-dav/visit/blob/develop/src/visitpy/common/visitmodule.C#L11182) leads....

[2019-05-01 22:41] markcmiller86 commented on #3324
Doh! Sorry @rusu24edward ... `ToggleLockTools()` is *one of the things* that can be locked and unlocked. We have views, data, time, bounding box, etc. *Tools* are the lineout, plane tool, sphere tool, tools in the viewer window. And, this method will toggle the lock on them just like the other methods toggle the lock on their respective parts. Does that make sense.

[2019-05-01 22:42] rusu24edward commented on #3324
Yes, that makes sense. Thank you! In this case, I believe the documentation for ToggleLockTools is wrong.

[2019-05-01 22:49] markcmiller86 commented on #3324
Actually, from within python, if you do `help(ToggleLockTime)` or `help(ToggleLockBoundingBox)`, etc., they all take you to the same bit of documentation. So, from there it feels correct. How it should pan out in the `.rst` documentation is probably somewhat similar; a single place that documents all of them since all of their behavior is basically the same, just for different controls in the UI.

[2019-05-01 22:52] rusu24edward commented on #3324
That's okay, but I believe that documentation does not say anything about ToggleLockTools, which is a little strange for the user who types help(ToggleLockTools).

[2019-05-01 22:58] markcmiller86 commented on #3324
Sure. Thats appears to be an oversight in `MethodDoc.C` there the methods for locking things are documented. Grepping around for `visit_ToggleMode_doc` which is the name of the `char const *` C++ variable that holds the Python doc string for those methods, that string gets added to a number of Python methods in `visitmodule.C`, for example [`visitmodule.C`](https://github.com/visit-dav/visit/blob/

[2019-05-02 14:53] #3452 closed, assigned to biagas

[2019-05-02 16:40] biagas commented on #3467
I will try disabling the compiler definition and see what happens with a build.
_GNU_SOURCE includes a lot (from docs on gnu.org):

<pre>
Macro: _GNU_SOURCE

    If you define this macro, everything is included: ISO C89, ISO C99, POSIX.1, POSIX.2, BSD, SVID, X/Open, LFS, and GNU extensions. In the cases where POSIX.1 conflicts with BSD, the POSIX definitions take precedence.
</pre>

For our usage

[2019-05-02 19:18] #3472 closed, assigned to brugger1

[2019-05-02 19:32] brugger1 opened #3474 "Update training materials of manuals page on web site."
The Class and Tutorial Materials section on the manuals page on the VisIt web site points to really old documentation. Screen shots indicate VisIt 2.2.2. We should change it to point at the training materials on visitusers.org. We should look over the old documentation and see if there is any content we want to reproduce on visitusers.org.

There is also a link to a podcast from March 2009 with Se

[2019-05-02 20:23] brugger1 opened #3475 "Combine EOS data and curve in a single plot."
### Is your feature request related to a problem?
Tom Brunner would like to plot some EOS data as a pseudocolor plot, where the X and Y coordinates are independent, so they shouldn't maintain a 1x1 aspect ratio. He then wants to overlay a curve from an curve file (which may have many curves). The biggest issue is getting the curve data plotted in a 2d view, since curve data is presented to curve p

[2019-05-02 20:26] brugger1 opened #3476 "Provide OSPRay support in the mac version of VisIt."
The mac version doesn't currently include OSPRay support. It should.

**Impact**
- [X] High - User productivity significantly improved
- [ ] Medium - User productivity partially improved
- [ ] Low - User productivity trivially improved

[2019-05-02 20:34] markcmiller86 commented on #3475
I thought 2D view was able to support both 2D plots and curves in the same window. Is that the issue here? It should work. If it doesn't, something has broken...and we appear to be missing a test for this too.

[2019-05-02 21:05] rusu24edward commented on #3324
**Manually fix in the rst:**
- [x] PointPick
- [x] TimeSliderSetState
- [x] NodePick
- [x] ZonePick
- [x] PickByGlobalNode
- [x] PickByGlobalZone
- [x] PickByNode
- [x] PickByNodeLabel
- [x] PickByZone
- [x] PickByZoneLabel
- [x] Pick

Cannot determine the type of the argument/return
- [ ] GetEngineProperties
- [ ] LoadAttribute
- [ ] OverlayDatabase
- [ ] SaveAttribute
- [ ] SetPlotSILRestriction

[2019-05-02 21:21] rusu24edward commented on #3324
![Screen Shot 2019-05-02 at 2 19 29 PM](https://user-images.githubusercontent.com/18565891/57107711-98e58500-6ce5-11e9-8487-d3ec47e0dac6.png)
GetQueryOutputObject probably does not return an XML string.

[2019-05-02 21:58] brugger1 commented on #3475
Well, I just tried it and it worked. I guess I should have tried it first. ☹

I will go ask Tom if tried doing it or perhaps I misunderstood something.

From: Mark C. Miller <notifications@github.com>
Sent: Thursday, May 2, 2019 1:35 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Author <author@noreply.github.com>
Subject: Re: [visit-dav/visit] Combine EOS

[2019-05-03 00:22] markcmiller86 commented on #3467
Well, that kinda sorta underscores why I think it should *not* be on by default for every source file we build. So, turning that feature off on the compiler seems to make a lot of sense.

As far as using `#define _GNU_SOURCE` *inside* VisIt source files, other similar meaning symbols may be `_DEFAULT_SOURCE` or `_BSD_SOURCE`. It may be worth researching whether either of those symbols are either a

[2019-05-03 00:32] markcmiller86 commented on #2471
Move back into the new state. Engineering/Diablo needs a fix for this. Would like to discuss with group.

[2019-05-03 15:51] markcmiller86 commented on #2471
Looks like creating empty objects (in Silo databases anyways) addresses this problem (for Silo). Should we develop a more general solution?

[2019-05-03 16:51] rusu24edward commented on #3324
![Screen Shot 2019-05-03 at 9 50 27 AM](https://user-images.githubusercontent.com/18565891/57152642-e961ee80-6d88-11e9-9ff1-230d608d27f3.png)
Missing listing for the argument

[2019-05-03 16:54] rusu24edward commented on #3324
![Screen Shot 2019-05-03 at 9 53 33 AM](https://user-images.githubusercontent.com/18565891/57152802-59707480-6d89-11e9-846e-8f008b3e9e46.png)
Missing argument list for stringOnly

[2019-05-03 17:05] rusu24edward commented on #3324
![Screen Shot 2019-05-03 at 10 04 34 AM](https://user-images.githubusercontent.com/18565891/57153340-e23be000-6d8a-11e9-81aa-110d3b58f7ce.png)
Missing argument documentation for args that exist in the synopsis

[2019-05-03 17:18] rusu24edward commented on #3324
![Screen Shot 2019-05-03 at 10 18 11 AM](https://user-images.githubusercontent.com/18565891/57154067-ca655b80-6d8c-11e9-8706-1579445cf723.png)
Missing args

[2019-05-03 17:22] rusu24edward commented on #3324
![Screen Shot 2019-05-03 at 10 22 37 AM](https://user-images.githubusercontent.com/18565891/57154279-5ecfbe00-6d8d-11e9-9336-f30e7276cf14.png)
Missing args

[2019-05-03 17:24] rusu24edward commented on #3324
![Screen Shot 2019-05-03 at 10 24 42 AM](https://user-images.githubusercontent.com/18565891/57154417-aa826780-6d8d-11e9-8e48-2ba5015b72ec.png)
This is not getting converted correctly from MethodDoc

[2019-05-03 17:28] rusu24edward commented on #3324
![Screen Shot 2019-05-03 at 10 28 17 AM](https://user-images.githubusercontent.com/18565891/57154612-2f6d8100-6d8e-11e9-9184-378cb0f4ee32.png)
Missing args

[2019-05-04 02:42] griffin28 commented on #3476
Need to create a patch for VTK in Rendering/OSPRay/CMakeLists.txt that adds the following line:

target_link_libraries(${vtk-module} LINK_PUBLIC vtkFiltersGeometry)

[2019-05-06 17:40] BradWhitlock opened #3480 "OSPRay not producing shadows."
### Describe the bug
I ran VisIt 3.0.0 on Mac using Kevin's new OSPRay-enabled version. I can turn on OSPRay but little to nothing is different when I render. I can see that when OSPRay is enabled, the bounding box changes to shaded tubes. The overall picture quality is no better though. I see that OSPRay settings in the Rendering window have a "Shadows" check box. This setting appears to do nothi

[2019-05-08 11:05] jfavre opened #3482 "Cannot compile VisIt 3.0 with OSPRay"
### Describe the bug

VisIt 3.0 does not compile if OSPRay is enabled

/local/apps/VisIt/visit3.0.0/src/avt/VisWindow/Colleagues/VisWinRendering.C: In constructor ‘VisWinRendering::VisWinRendering(VisWindowColleagueProxy&)’:
/local/apps/VisIt/visit3.0.0/src/avt/VisWindow/Colleagues/VisWinRendering.C:223:47: error: ‘class vtkOSPRayPass’ has no member named ‘GetViewNodeFactory’
     vtkViewNodeFacto

[2019-05-08 18:33] aowen87 commented on #3370
Shared element sets are implemented. I still need to update the test suite, but I've manually tested all the cases I can think of, and it's looking good.

[2019-05-09 14:50] rusu24edward commented on #3324
- [x] Don't use grid tables because they are difficult to manage manually. Use sphinx simple tables or lists instead for functions.rst since the other two will still be auto-generated (http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#tables)
- [x] Integer output usually means 0 for for pass, nonzero for success. Should make some kind of return type, maybe CLI_return_t to make

[2019-05-09 15:02] brugger1 opened #3484 "Tool bar in visualization window not redrawing properly."
### Describe the bug

The first time a zoom or lineout is performed in a window the toolbars at the top of the window get messed up. Resizing the window causes them to get redrawn properly and then they are fine from there on. To replicate:

**Impact**
- [ ] High - User productivity significantly degraded
- [X] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially d

[2019-05-09 15:11] brugger1 opened #3485 "Pan and zoom doesn't work with OSPRay"
### Describe the bug
Panning and zooming the image does nothing if using OSPRay.

**Impact**
- [ ] High - User productivity significantly degraded
- [X] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [ ] High - occurrence is not specific to platform, data, config, a combination of operators, queries, etc.
- [X] Medium - neither low

[2019-05-09 15:19] brugger1 opened #3486 "The shadows are pretty harsh with OSPRay rendering."
### Describe the bug
If you turn on shadows with OSPRay rendering, they are pretty harsh. I added an ambient light to try and make them less harsh and that didn't have any effect. The amount of default ambient lighting should probably be increased and then getting additional lights to work should be implemented. This may be two tickets, but I'm submitting one for the moment.

**Impact**
- [ ] High

[2019-05-09 15:21] brugger1 opened #3487 "Should disable Cinema C output until it is implemented."
### Describe the bug
Cinema C output is currently not implemented. There are tickets filed for that. We should disable the output in the GUI until this is fixed.

**Impact**
- [ ] High - User productivity significantly degraded
- [X] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [ ] High - occurrence is not specific to platform, da

[2019-05-09 19:44] cyrush commented on #3482
@jfavre

I looked into this, build_visit patches VTK-8.1 to add that function.

Sounds like the patch to VTK is failing during build_visit.

Given this, any hints in your build_visit output as to what went wrong?
Maybe try again clean?

[2019-05-09 22:15] biagas commented on #3467
I cannot undefine _GNU_SOURCE without getting a slew of compile errors. Here are a few:
<pre>
In file included from /usr/include/features.h:361:0,
                 from /usr/include/stdio.h:28,
                 from /visit/src/third_party_builtin/tess2/bucketalloc.C:32:
/usr/include/stdio.h:454:27: error: expected initializer before ‘throw’
          __isoc99_sscanf) __THROW;

[2019-05-09 22:27] markcmiller86 commented on #3467
Doing so will remove the warning I reported.

Maybe just `#undef _GNU_SOURCE` *just prior* to the line that defines it.

That said, be aware such change will probably be needed in following...

[code]

[2019-05-09 22:37] biagas commented on #3467
Just curious why #undef is better?

[2019-05-09 22:39] markcmiller86 commented on #3467
Its shorter than this

[code]

by one line and does not requiring leading/trailing bracketing which, to be really readable, should probably also have the code block it brackets, in this case the single line `#define _GNU_SOURCE`, indented.

[2019-05-10 17:12] biagas commented on #3122
Resolved by PR #3397.

[2019-05-10 17:12] #3122 closed, assigned to biagas

[2019-05-10 17:17] biagas commented on #2906
Putting back in unreviewed, to discuss as a group.

I don't think we want to use pyside's python setup. It installs itself into python.  How would that work if we are using system python?

As of pyside2 for qt 5.12.2, there is a good cmake build system that builds and installs pyside2 and
shiboken2 as separate libraries, like we do for other TP libs.

[2019-05-10 18:11] markcmiller86 opened #3488 "Enhance Dual Mesh operator for UCD meshes"
Would like dual mesh operator to work on ucd and point meshes perhaps by using the [Voronoi](https://en.wikipedia.org/wiki/Voronoi_diagram) technique

### Describe the solution you'd like.
Enhance the dual mesh operator to digest ucd meshes and produce their duals. Presently, it accepts only rectilinear meshes.

[2019-05-10 19:38] biagas opened #3489 "QueryOverTime doesn't work with Slice-Flux-DeferExression combination."
A customer was computing flux using our Blood Flow Aneurysm Tutorial.
The query for 'Weighted Variable Sum' worked fine, but he wanted the results over time.
Do Time Query failed.  Since the single query worked, user has a work-around to script
a step through time and perform the single query at each time step, saving the data along the way.

I was able to reproduce with our wave dataset, with the

[2019-05-14 15:26] markcmiller86 commented on #3324
BTW...happened to look at the [PDF that RTD generated](https://buildmedia.readthedocs.org/media/pdf/visit-sphinx-github-user-manual/develop/visit-sphinx-github-user-manual.pdf) from the current CLI manual. It looks like, somehow, centered justification has been turned on for all text in the CLI. So, it looks wierd. It might be something small we can fix by removing some lines from the generated `.

[2019-05-14 17:50] rusu24edward commented on #3324
Looks like this starts happening at 2.1.4 and continues until 2.4. This part of the manual looks like it comes from the manually edited rst files, not the auto-generated ones. I'll look into this for a fix.

[2019-05-14 18:01] rusu24edward commented on #3324
@markcmiller86 [This branch](https://github.com/visit-dav/visit/tree/feature/rusu1/visit-3324-reverse-cli-docs-generation-mechanism-B-reverse-gen) should fix the issue. Can you have RTD generate for this branch and look at the pdf again?

[2019-05-14 21:14] aowen87 commented on #3370
The discrepancy with integration points between visit and griz has to do with indexing. The data organization is thought to be in a particular pattern, and the plugin is assuming this pattern for indexing.
The values being shown in Griz appear to be following a slightly different data pattern that can be replicated using a different indexing scheme. I've brought this up with Kevin, and he's going

[2019-05-14 21:57] brugger1 opened #3492 "Conn_cmfe doesn't work between material selected polyhedral and point meshes."
### Describe the bug

Mike Owen has a conn_cmfe expression that maps a polyhedral mesh onto a point mesh. It works fine unless he does a material selection. It prints out a error message that they don't match.

**Impact**
- [X] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [ ] H

[2019-05-14 22:58] rusu24edward commented on #3339
Look into the .lfsconfig issue for forked repos. Need to remind myself what lfsconfig file gives us. Does it populate anything in .git/config? The issue for forked repos may be the wrong username. Write up a script that populates the correct lfs information based on the forked repo name. This script could be put as a hook for commits, pushes, pulls, etc.

[2019-05-14 22:59] markcmiller86 commented on #3339
Just putting this here. Was surprised to discover [this](https://help.github.com/en/articles/collaboration-with-git-large-file-storage#pushing-large-files-to-forks)

[2019-05-15 19:23] markcmiller86 commented on #3471
Need to write docs for this tensor functions

- [ ] Contraction Function: contraction() : contraction(expr0)
- [x] Determinant Function: determinant() : determinant(expr0)
- [ ] Effective Tensor Function: effective_tensor() : effective_tensor(expr0)
- [ ] Tensor Maximum Shear Function: tensor_maximum_shear() : tensor_maximum_shear(expr0)
- [x] Trace Function: trace() : trace(expr0)
- [ ] Viscous S

[2019-05-15 21:02] markcmiller86 opened #3494 "Fix use of grid table in Query.rst"
### Describe what needs to be documented.
When we converted from OpenOffice, we used restructured text [grid tables](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#grid-tables). They are inconvenient for manual editing purposes. In `docs/gui_manual/Quantitative/Expressions.rst` we replaced the grid table with a [*field list*](http://docutils.sourceforge.net/docs/ref/rst/restruc

[2019-05-16 04:39] #3444 closed, assigned to markcmiller86

[2019-05-16 05:18] markcmiller86 commented on #3471
@cyrush the `contraction()` expression method appears to compute a scalar value that is the sum of colum dot-products with themslelves. Apparently, there are many different kinds of tensor contractions. Do you happen to recall the name of the particular kind you implemented here?

[2019-05-16 06:31] markcmiller86 commented on #3471
@hankchilds ... any recollection on what the [*effective* tensor calculation](https://github.com/visit-dav/visit/blob/041a921000ab1b92305b4f92f0821642f8d973f5/src/avt/Expressions/Derivations/avtEffectiveTensorExpression.C#L105) is doing? It appears to be partly computing the *average normal stress* (which is the average of the sum of diagonal terms) but is also doing stuff with off-diagonals.

[2019-05-16 18:16] rusu24edward commented on #3324
Since the LC update of python, sphinx_cli_extractor doesn't work anymore. We may need to recompile the visit python module against the new python in LC.

[2019-05-16 18:28] markcmiller86 commented on #3324
Hmm, try using either the python installed with VisIt in /usr/gapps install point or a local build you have handy and follow [these steps](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/contributing.html#steps-to-update-the-cli-manual) or something like them in the docs.

[2019-05-16 20:20] cyrush commented on #3471
@markcmiller86 here my first stab, I am super rusty on tensor summation notation.

Our tensors are really just 3x3 matrices, therefore they are rank 2 tensors.

The contraction involves pinning two indices and summing a set of mults.

Since we are rank 2, i don't think there are really many choices, there are only two indices to pin.

All of that said, not sure the column wise dot matches what I w

[2019-05-16 22:30] markcmiller86 commented on #3471
Ok, thanks, that is helpful. In [this ref](https://www.brown.edu/Departments/Engineering/Courses/En221/Notes/Tensors/Tensors.htm), scroll down to the sub-section on *contraction*. I defines something it calls the *inner product* of *two* tensors `S` and `T` as, based on the name implies, the sum of `S`<sub>ij</sub>`T`<sub>ij</sub> for i,j in [1,2,3]. That would suggest that the contraction of `S`

[2019-05-17 01:51] markcmiller86 commented on #3370
Trying to understand the issues with *element sets* + *integration points* as described [here](https://github.com/visit-dav/visit/files/3189540/Multi_integration_pt_conventions.docx). Using as a conceptual tool some exodus data (`test/data/exodus_test_data/kassbohm1.exo`) which has a similar notion of *element blocks* as pictured below.

![Untitled](https://user-images.githubusercontent.com/572067

[2019-05-17 14:25] jfavre commented on #3482
@cyrush

building with python fails with the errors:

Done with pyparsing.
Done building the pyparsing module.
Traceback (most recent call last):
  File "./setup.py", line 6, in <module>
    import requests
  File "/local/apps/VisIt/requests-2.5.1/requests/__init__.py", line 58, in <module>
    from . import utils
  File "/local/apps/VisIt/requests-2.5.1/requests/utils.py", line 26, in <module>

[2019-05-17 22:29] cyrush opened #3498 "VTK 8.1 vs VTK 8.2 subtle API changes lead to compile errors"
Build error from someone trying to compile VisIt 3.0 against VTK 8.2.

VTK 8.2 has some subtle API changes that break our inheritance.  Good news is that the C++11 override keyword helps us catch these cases, otherwise our subclassed functions would just never be called.

Here is an example in vtkCell:

VTK 8.1
`virtual int CellBoundary(int subId, double pcoords[3], vtkIdList *pts) = 0;`

VTK 8.2

[2019-05-20 18:27] markcmiller86 opened #3499 "Add tests for Molecule plot"
### Is your feature request related to a problem?
We appear to be able to do a ton of cool stuff with molecule plot and CreateBonds operator.  See here, https://www.visitusers.org/index.php?title=Molecular_data_features. However, none of it is tested.

We should use the above tutorial to a) find datasets involved and b) reproduce the images and generate a test for these features.

That said, it do

[2019-05-20 19:05] biagas commented on #215
@ARSanderson
Would love a reproducer, I can't seem to find one.

[2019-05-20 19:31] cyrush opened #3500 "build_visit: --openssl should be on if we are building python"
### Describe the bug

our dependent python packages need openssl, so python requires openssl.
We should always build openssl if we are building python.

Need to add openssl to the python deps, may require special treatment for system python.

[2019-05-20 19:33] cyrush commented on #3482
@jfavre if you add --openssl to build_visit our python should build.

(make sure to delete old python install and build dir)

[2019-05-20 20:51] ARSanderson commented on #215
Hi Kathleen,

Not sure it can be reproduce easily as I fixed the messed colormap I had when I observed the issue. But note current code and my proposed change. Seems to me that one only wants to set those values when the user asks for them.

[2019-05-21 12:13] jfavre commented on #3482
Thanks for the help. OSPRay is now enabled.

There is a spelling error in the GUI. @cyrush Please make a note of it:

"Minimum Contrinution" shoul dbe "Minimum Contribution"

https://github.com/visit-dav/visit/blob/develop/src/plots/Volume/QvisVolumePlotWindow.C#L1400

[2019-05-21 16:27] cyrush commented on #3482
@jfavre thanks! I'll work on smoothing out these build_visit issues (ospray patching and openssl dependencies), and I'll also fix the typo.

[2019-05-21 16:38] brugger1 opened #3503 "Spelling error in GUI"
### Describe the bug

There is a spelling error in the GUI. @cyrush Please make a note of it:
"Minimum Contrinution" shoul dbe "Minimum Contribution"
https://github.com/visit-dav/visit/blob/develop/src/plots/Volume/QvisVolumePlotWindow.C#L1400

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [X] Low - User productivity triviall

[2019-05-21 16:46] cyrush commented on #3503
@brugger1 -- I am fixing this along with a set of other changes

[2019-05-21 21:17] markcmiller86 commented on #3471
Capturing this refs here

[tensors_old.pdf](https://github.com/visit-dav/visit/files/3204560/tensors_old.pdf)
[Tensors_TM2002211716.pdf](https://github.com/visit-dav/visit/files/3204561/Tensors_TM2002211716.pdf)
[Vectors_Tensors_09_Cartesian_Tensors.pdf](https://github.com/visit-dav/visit/files/3204562/Vectors_Tensors_09_Cartesian_Tensors.pdf)

[2019-05-21 21:20] BradWhitlock commented on #3500
I ran into this on Mac due to the PyRequests module.

[2019-05-21 21:21] BradWhitlock commented on #3499
There is a ProteinDataBank tarball in the repo that is good for testing the Molecule plot.

[2019-05-21 22:58] aowen87 opened #3504 "PickByZoneLabel with range hangs"
When calling PickByZoneLabel with any range (even a single id), visit will hang for a very long time (10+ minutes). So far, I've only seen this with sslide14ball_l.plt.mili. I haven't yet been able to reproduce this with any other datasets (I've tried mili and silo), but I haven't spent too much time on that.

What I've found so far:
1. ViewerQueryManager appears to perform the picks without issue

[2019-05-21 23:04] brugger1 commented on #2906
@cyrush Do you happen to know who is using pyside?

[2019-05-21 23:32] markcmiller86 commented on #2906
Paraphrasing @biagas comments during telecon and suggesting possible `build_visit` functionality to support.

- There are basically two approaches to supporting pyside
  - build using python tools into the python's site-packages installation location and `import pyside` just works (call this the *site-packages* approach)
  - build using CMake and install like a seperate TPL whose path needs to get

[2019-05-21 23:59] cyrush commented on #2906
@brugger1 my main use case for it is doing fancy annotations in post for movies -- like the advanced movie making tutorial. It's pretty important to me.  I honestly don't know if there are many pyside custom guis in the wild.

[2019-05-22 00:01] cyrush commented on #2906
I think the `tpl` approach is the most viable, but @biagas has been on the battle field so I think her perspective is most important.

[2019-05-22 00:30] markcmiller86 commented on #2906
I guess another way of thinking about this is that what *system* python means needs to vary depending on what *other* python functionality `build_visit` is requesting. If `--pyside` is requested, then `--system-python` means that `import pyside` for that python works *and* gives compatible version of pyside VisIt needs. Maybe same story for `--mpi4py`. If that is specified *and* `--system-python`

[2019-05-22 09:44] keichi opened #3505 "build_visit: --alt-adios2-dir option not working"
### Describe the bug
`build_visit --help` says `--alt-adios2-dir     Use ADIOS2 from an alternative directory []`, but when I use this option build_visit complains `Unrecognized option '--alt-adios2-dir'`.

**Helpful additional information**
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - User productivity significantly degraded
- [x] Medium - User productivity par

[2019-05-22 15:21] brugger1 commented on #2906
I wasn’t aware of that aspect of it. I only knew about the pyside custom GUIs.

From: Cyrus Harrison <notifications@github.com>
Sent: Tuesday, May 21, 2019 5:00 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Mention <mention@noreply.github.com>
Subject: Re: [visit-dav/visit] PySide2 change build_visit to build/install using python setup. (#2906)

@brugger1

[2019-05-22 15:58] aowen87 commented on #3370
From what I understand, the "inner, middle, outer" is actually the old way that integration points were organized, and they no longer follow that guideline. I think the problem was that they were only allowed to use 3 layers, which was too limiting. They can now be any number, and I believe the desired behavior is more along the lines of set_ipt(var, x), where x is arbitrary. We then find the IP c

[2019-05-22 16:03] markcmiller86 commented on #3370
I think they still need the inner, outer, middle functionality. These labels are place-holders for users who may not know the details of the speciific IPs are available in the data.

[2019-05-22 16:06] aowen87 commented on #3370
I was actually talking with Kevin about the inner, middle, outer yesterday. Older datasets have them defined in the .mili file, but he said that they won't be mixed with the newer way of handling integration points (meaning that they won't show up in .mili files with element set definitions). In these older cases, I'm supposed to just display them as any other variable (var_in, var_mid, var_out).

[2019-05-22 16:10] markcmiller86 commented on #3370
Ah, ok. Seems a bit inconsistent though. I might handle that by doing as described above and then defining expressions like...

[code]

and likewise for "inner" and "outer"

That way, the plugin still only ever sees a `GetVar()` call on `var/XXX` where `XXX` is either `ip##` (an actual integration point) or `inner`, `middle`, `outer`, a symbolic name for an integration point.

[2019-05-22 16:36] #3487 closed, assigned to biagas

[2019-05-22 16:36] aowen87 commented on #3370
How exactly does array_compose/decompose work? In this example
[code]
Will defining an expression ```array_decompose(pressure, 5)``` result in GetVar receiving "pressure/ip7", since 5 is closest to 7?

[2019-05-22 16:41] cyrush opened #3510 "git hooks prevent commits to all branches that end in RC"
### Describe the bug

I created a branch with a name similar to `bugfix/cyrush/2019_05_changes_from_3.0RC` and our hooks prevented me from committing to this branch.

I was able to get around this by changing the branch name to:

`git branch -m bugfix/2019_05_someting_canges_from_3.0_rel_can`

So - it seems our hooks are too strict, but more worrisome:

This *did not* prevent me from doing a`git a

[2019-05-22 16:55] markcmiller86 commented on #3370
If you look in [`avtArrayDecomposeExpression.C`](https://github.com/visit-dav/visit/blob/684e82f2e5a18f4f9495d49c3c066c70c8cf6059/src/avt/Expressions/General/avtArrayDecomposeExpression.C#L157) there is logic there that will seek for match of integer values or find closest. So, `5` will return `pressure/ip7`. We don't yet support strings for the second arg but if we did, `middle` should return `pr

[2019-05-22 16:57] markcmiller86 commented on #3370
Sorry, this is wrong...a request for `middle` should return `pressure/middle` such that VisIt calls `GetVar()` to the plugin for that member name

[2019-05-22 17:34] aowen87 commented on #3370
If we could enhance avtArrayDecomposeExpression to handle multiple "layers" of points to decompose, this could potentially solve the issue of having multiple element sets defining the same variable with different numbers of IPs. For instance, if we could define an array that looked something like the following:

[code]
And then define an expression in visit that looks something like ```array_decom

[2019-05-22 18:02] markcmiller86 commented on #3370
I see where you are going with that. However, I don't think that is required to achieve our goals here. I think the outline I've drafted here is a) simple and b) addresses the needed functionality quite well and with a minimum of changes.

[2019-05-22 18:05] aowen87 commented on #3370
But how do we handle that case without resorting to the "inner, middle, outer" method?

[2019-05-22 18:29] markcmiller86 commented on #3370
There is no "*resorting*" to anything  in what I am proposing here. It will handle *both* the specific integration point label case (or closest match available) *and* the inner, middle, outer symbolic cases.

This approach

is problematic because you get #members = #ips * #es *for each* such variable. In what I propose, we get #members = #*unique* ips over all es + 3 (for inner, middle, outer) **a

[2019-05-22 18:38] aowen87 commented on #3370
Correct me if I'm misunderstanding what you're suggesting, but it sounds like ```array_decompose(pressure, 5)``` would set the integration point for all element sets that define pressure. The desired/expected behavior is to be able to set the integration point for each element set individually.

[2019-05-22 18:41] aowen87 commented on #3370
In Griz, this is accomplished by the command ```set_ipt <class> number```, which would set the integration point for the given class (I believe there is also the option to leave out the class input, which would be a global change to all element sets).

[2019-05-22 18:43] markcmiller86 commented on #3370
You are understanding correctly.

In a database with hundreds (or thousands) of element sets, is the user going to specify hundreds or individual values? I don't see how that is workable. I am farily certain that is not what Griz or Kevin is expecting.

What I am describing sounds like the "global" case. To handle the class-specific case, we would have to do what I am doing except with an array va

[2019-05-22 18:54] aowen87 commented on #3370
In the example I posted I was assuming that es_1, es_2 were the only element sets defined on their respective classes and was thinking of them as basically representatives of those classes. I should have been clearer on that; I don't think anyone expects users to specify hundreds of individual values.

Propagating the selected IP through the class name using the array variables could probably work

[2019-05-22 19:07] cyrush commented on #3480
@BradWhitlock there is some strange multi-layer initialization bug. If you enable ospray w/ shadows, nothing seems to happen until you actually move a light.  If you turn it off an on again you still have the same type of issue.

[2019-05-22 20:09] aowen87 commented on #3370
@markcmiller86
On second thought, it's not clear to me how this would work for setting the IP for a class.

If we have an element set named es_1 which defines a variable pressure that is a scalar defined only on beams and is comprised of 3 integration points, and we have another element set named es_2 that defines pressure as a scalar that is only defined on shells and is comprised of 4 integratio

[2019-05-22 21:55] biagas opened #3513 "Regression test scalable.py Stereo section crashes viewer."
The stereo section of the scalable.py test causes the viewer to crash.
I have commented out that section, and removed scalable.py and scalable_c.py from the skip lists.

This may be a mesagl problem, as I can run the test on my local linux, which does not use mesagl, and the viewer doesn't crash.

### Desktop
 - OS and version: Linux, with mesa-as-gl
 - VisIt Version: 3.0

[2019-05-22 22:05] markcmiller86 opened #3515 "Sophisticated Numerical Investigations w/ VisIt (or Mathematica-Like Work w/ VisIt)"
VisIt's expression system can be utilized to implement some pretty advanced numerical investigations. Think of packages like Mathematica, MabLab, NumPy, R, etc but more in terms of using them on numerical data produced by a simulation code rather than either symbolic manipulations or hand crafted toy data.

From time to time, VisIt users (especially within ASC program) have had a need to perform s

[2019-05-23 02:42] markcmiller86 commented on #3471
One way VisIt's tensor expressions appear to behave differently than similar variables from databases is that they are always 9 component, 3x3 even for 2D data. However, a 2D  tensor field read from a database will likely have just 4 components, 2x2. At least I think...maybe this has changed in recent years and all DBs *always* serve up 9 component data for tensors regardless of topological dimens

[2019-05-23 04:47] aowen87 commented on #3370
I think I have an idea of how this could work for setting class IPs while still respecting shared status. It would require some changes in the plugin, but it might not be too terrible. I'll take a closer look next week.

[2019-05-23 12:39] markcmiller86 commented on #3471
Ok, it may have *always* been the case, just like coordinate data, that tensor data in VTK is always treated as being for 3D. In 2D an 1D, the relevant components are zerod. For example, I checked as far back as version 5.10 VTK's class `vtkExtractTensorComponents` and the verbiage there indicates the input tensor is always treated as a 3x3. So, maybe VTK has always operated this way and what I am

[2019-05-23 16:21] cyrush commented on #3482
resolved on 3.0RC in #3508 and on develop in #3509

[2019-05-23 16:22] cyrush commented on #3503
resolved on 3.0RC in #3508 and on develop in #3509

[2019-05-23 16:22] #3503 closed, assigned to cyrush

[2019-05-23 16:22] #3482 closed, assigned to nobody

[2019-05-23 16:23] cyrush commented on #3500
resolved on 3.0RC in #3508 and on develop in #3509

[2019-05-23 16:23] #3500 closed, assigned to nobody

[2019-05-23 16:23] cyrush commented on #3476
resolved on 3.0RC in #3508 and on develop in #3509

[2019-05-23 16:23] #3476 closed, assigned to griffin28

[2019-05-23 17:34] biagas commented on #215
Resolved by #3517 on 3.0RC and #3520 on Develop

[2019-05-23 17:34] #215 closed, assigned to biagas

[2019-05-23 17:36] biagas commented on #3467
Resolved by #3502 on 3.0RC and #3507 on Develop.

[2019-05-23 17:36] #3467 closed, assigned to biagas

[2019-05-23 18:00] markcmiller86 commented on #3370
My initial thought...just do the proposed approach except for each class of element.

So, define array variable(s) for each class type in additon to a global array variable for all class types. So, again, using `pressure` as an example, which may exist in various *array vector* variable sets for various element sets, you'd have `pressure/pressure` (the global one), `pressure/shells` (just for clas

[2019-05-23 18:20] griffin28 opened #3521 "Build VisIt on macOS Mojave 10.14"
I've updated my VisIt build machine to macOS Mojave 10.14. Need to build VisIt on it and see what issues, if any, are encountered.

If all goes well we can support both 10.13 and 10.14 builds (until 10.14 becomes mandatory).

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [x] High - User productivity significantly improved
- [ ] Medium - User productivity partially improved
- [

[2019-05-23 21:04] rusu24edward opened #3522 "Can't import visit module in python"
### Describe the bug
When attempting to run sphinx_cli_extractor.py in src/doc, I get this error:
[code]

I also tried running with python installed in /usr/gapps, and I get this traceback:
[code]

I believe this is because LC [updated python](https://hpc.llnl.gov/software/development-environment-software/python) so that Python 2.7.16 is now built with UCS-4 support (instead of UCS-2).

**Impact**

[2019-05-23 21:05] rusu24edward commented on #3324
I tried a few ways. Didn't work out for me. I made a ticket for it: #3522

[2019-05-23 22:06] cyrush commented on #3522
@rusu24edward it seems the system python is no longer compatible with our python b/c they were built with different compilers and standard libraries.  Honestly it was lucky that this worked before.

Can you run this script via `visit -nowin -cli -s {script.py}`?

[2019-05-23 22:24] markcmiller86 commented on #3324
On surface, this works...

[code]

[2019-05-23 23:23] #3115 closed, assigned to cyrush

[2019-05-24 02:28] markcmiller86 commented on #3522
I don't think so...the script @rusu24edward needs to run does `import visit`. Is that kosher for a script run in the way you suggest? I would think that would conflict with the visit python CLI instance already running but maybe it works ok and if so, I had never thought to suggest @rusu24edward try it that way. It is a lot easier!!

[2019-05-24 02:30] markcmiller86 commented on #3522
I am not sure why LC's *system* python is even relevant here except that maybe, we were running it, wrongly, via VisIt's python in the past and just getting lucky that it worked.

Ordinarily, I would say we would always have to use the python installation that was used when VisIt was built which is almost always the python in the VisIt installation, right?

[2019-05-24 02:38] markcmiller86 opened #3524 "Add ZFP for BOV reader and writer"
BOV reader is the ideal case for ZFP. We should probably support it there. If/when we do, we should handle it better than we handle gzip compression by including knowledge of the compression in the BOV header with one or more keywords.

ZFP is an endian-independent format too so those features of the BOV header are meaningless for ZFP compressed data.

Since we also support exporting (e.g. writing

[2019-05-24 02:39] markcmiller86 commented on #2602
@aowen87 just wanted to mention you here as per our conversation earlier today.

[2019-05-24 02:45] markcmiller86 commented on #2823
@cyrush this is a key issue related to expression list + GUI performance

[2019-05-24 02:46] markcmiller86 commented on #2197
related to #2823

[2019-05-24 02:47] markcmiller86 commented on #2843
related to #2823

[2019-05-24 02:48] markcmiller86 commented on #2852
related to #2823

[2019-05-24 02:57] markcmiller86 commented on #3449
related to #2823

[2019-05-24 16:08] cyrush commented on #2823
my issue so it's outlined here:

i hit an issue where the gui would refresh the add plots menu N times in a row, where N is the number of expressions I defined via the cli.  In my case N = 20, leading to a several second delay before I could add a plot. It was exacerbated by X11 forwarding, but I think its happing all the time.

[2019-05-28 01:53] cyrush opened #3525 "update to mfem 4.0, which includes GPU support"
mfem 4.0 was released May 24., 2019.

It includes GPU support and OMP support that we can leverage

[2019-05-28 20:37] markcmiller86 commented on #3339
Also, found [this useful reference](https://github.com/git-lfs/git-lfs/issues/720) regarding *disabling* LFS downloads during clone.

[2019-05-29 16:28] aowen87 commented on #3370
**Update:** I've talked with Mark in person a couple of times, and we were able to clear the confusion we were having. The methods described above should work very well for handling integration points that are not associated with shared variables. For shared variables, it's still unclear what the best approach is. One potential option is to make some (hopefully minor) modifications to visit's expr

[2019-05-29 21:57] markcmiller86 opened #3531 "PC, Surface Plots hard coded to "hot" Color Table"
### Describe the bug
If you look at the `.xml` files for Pseudocolor and Surface plots, they both specify `hot` as the the `colorTableName` attribute. This makes the *default* setting for these plot types to be a specific color table name instead of the proxy, *Default* and prevents these plots from, by default, obeying the default color table setting.

They should say `Default`. It looks like mos

[2019-05-29 22:00] griffin28 commented on #3074
The VisItLibraryDependencies.cmake file created during 'make install' is not written correctly.

![Screen Shot 2019-05-29 at 10 08 22 AM](https://user-images.githubusercontent.com/26772741/58594458-88f88c80-8222-11e9-837c-774c54313213.png)

[2019-05-29 22:03] griffin28 commented on #3074
After manually correcting the syntax errors in the VisItLibraryDependencies.cmake file, I'm able to successfully configure but building fails.

![Screen Shot 2019-05-29 at 11 17 06 AM](https://user-images.githubusercontent.com/26772741/58594607-f2789b00-8222-11e9-95f9-ed5a8f07a390.png)

[2019-05-29 22:10] biagas commented on #3074
@griffin28 , can you give me a copy of the PluginVsInstall.cmake and VisItLibraryDependencies.cmake generated on OSX?

[2019-05-29 22:17] markcmiller86 commented on #3410
So, I did some research. These functions were deprecated in MPI-2 along with many others.

[code]

I grep'd for all of these in our sources and found these hits...

[code]

Should I update all instances?

[2019-05-29 22:48] markcmiller86 commented on #3410
Ok, in the above, a lot of the hits are in code that is already desgined for MPI1/2 standards and we got a hit on DELETE_FUNCTION with some VTK method.

It looks like the only additional cases not mentioned in the original submission are

[code]

[2019-05-29 23:12] aowen87 commented on #3082
The problem appears to revolve around the opacity correction used in the compositor, which is pretty unusual. I've tested replacing it with a more traditional opacity correction function, and this resolves all of the opacity issues we're seeing on all datasets I've tested _except_ for rect3d.

rect3d seems to be getting too much opacity with a standard method, which is a bit odd. I'm not yet certa

[2019-05-29 23:55] markcmiller86 opened #3533 "Use *default* instead of *active* for Color Table Manager interface"
In Controls->Color Table, the interface there refers to the *active* color tables for discrete and continuous cases. However, it doesn't refer to or indicate *default* anywhere.

My recommendation is to replace use of *active* with *default*. However, if *active* has a meaning that is somehow different from *default*, we'll need to maintain both concepts in the interface.

[2019-05-29 23:56] #3410 closed, assigned to markcmiller86

[2019-05-30 16:02] markcmiller86 commented on #3531
@biagas / @cyrush do you see any downside to my just changing the `.xml` files to use `Default` instead of `hot` for `colorTableName` member and re-gening the plot classes?

VisIt's overall default color table is indeed also `hot`. However, for any user who has changed the overall default color table name(s), then this update would cause their default behavior for PC and Surface plots to change fr

[2019-05-30 16:25] cyrush commented on #3531
sounds like the right change to me

[2019-05-30 16:31] biagas commented on #3531
+1

[2019-05-30 18:50] #3531 closed, assigned to markcmiller86

[2019-05-30 23:06] griffin28 commented on #3484
Can't reproduce on OSX.

[2019-05-31 15:01] brugger1 commented on #3484
Have you tried running on an LC system and displaying back?

From: Kevin Griffin <notifications@github.com>
Sent: Thursday, May 30, 2019 4:07 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Author <author@noreply.github.com>
Subject: Re: [visit-dav/visit] Tool bar in visualization window not redrawing properly. (#3484)

Can't reproduce on OSX.

—
You are re

[2019-05-31 18:10] cyrush opened #3537 "need a build of visit for llnl rzansel"
rzansel doesn't cross mount other parallel file systems, so without a visit build there things can be painful.

[2019-05-31 19:38] brugger1 commented on #3537
There is a build of visit 3.0.0 installed on rzansel.

From: Cyrus Harrison <notifications@github.com>
Sent: Friday, May 31, 2019 11:11 AM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [visit-dav/visit] need a build of visit for llnl rzansel (#3537)

rzansel doesn't cross mount other parallel file systems, so without a visit build there thin

[2019-05-31 21:19] cyrush commented on #3537
@brugger1 thanks! I now see it is there for 3.0, i was only looking at 2.13.3 (the default version to launch)

[2019-05-31 21:19] #3537 closed, assigned to nobody

[2019-06-01 17:08] markcmiller86 commented on #3515
@rusu24edward ... just a heads up. I think this is potentially an ideal issue for your math background to come up with a game plan for how to address. This issue itself is quite *expansive*. So, a key first step will be to identify some options and develop a strategy for a path forward that addresses the need but is also mindful of resources and effort.

[2019-06-03 22:35] aowen87 commented on #3082
There is a separate section of code that looks for early ray termination in rectilinear grids, and this also uses the old method for opacity correction. I've tested exchanging it with a standard method, and it resolves the issues I was seeing with rec3d. I'm currently integrating the fix.

[2019-06-03 23:53] rusu24edward commented on #3339
PR #86 added the lfs url to the .git/config file via .lfsconfig file. However, this breaks the repo for any user accessing through a fork. Possibly need to remove .lfsconfig, but there are a few things we should try first.

[2019-06-04 16:02] brugger1 opened #3542 "Add ability to sort variable names case insensitive."
### Is your feature request related to a problem?

Tom Brunner's code is changing it's variable names to be mixed case and the current sorting is "unwieldy" at the moment. Changing it to be case insensitive would fix the problem.

**Impact**
- [ ] High - User productivity significantly improved
- [X] Medium - User productivity partially improved
- [ ] Low - User productivity trivially improved

##

[2019-06-04 17:46] markcmiller86 commented on #3542
I investigated this a bit. The relevant logic is in `src/winuntil/VariableMenuPopulator.[Ch]`. If `mustAlphabetizeVariables` in `avtDatabaseMetaData` is true, then it *sorts* variables by adjusting the way it iterates through them. By default, it iterates through them in the order, I think, in which the variables are defined. But, if it *sorts* them, it iterates through a `map<string,bool>` from `

[2019-06-04 18:20] griffin28 commented on #3484
@brugger1 I can reproduce on the LC systems.

[2019-06-04 19:25] markcmiller86 opened #3544 "average_over_time() expression function doesn't take vectors or vector components"
### Describe the bug
We have a number of expressions that compute something *over time*. These are called the *time iterator* functions. An example is

[code]

However, I tried this function on `direction` vector variable of `wave.silo` like so...
[code]
and then did a vector plot of da and it fails causing a `segv` in the engine.

Next, I tried it on each component of direction like so...

[code]

[2019-06-04 19:52] cyrush opened #3545 "bug with rendering point cells in unstructured meshes"
### Describe the bug

for an unstructured mesh that includes "point" cells. In the PC plot, only the Point type = "Point"  options are hooked up.

All of the other Point type options do nothing.

I think this is another issue where we differentiate between a mesh with only points and  an unstructured mesh that happens to have point cells.

**Helpful additional information**

- [ ] Did VisIt crash?

[2019-06-04 19:53] cyrush commented on #3545
Also occurs on VisIt 2.13

[2019-06-05 14:51] biagas commented on #3545
See #3391

[2019-06-05 15:54] cyrush opened #3547 "exprs: vector decompose operator doesn't work on fully qualified var names"
### Describe the bug

An expression like the following:

`<mesh/vec>[0] `

does not work.

Work around is to define two exprs:

`my_vec = <mesh/vec>`

`my_vec[0]`

[2019-06-05 15:58] markcmiller86 commented on #3544
Seems related to #3547

[2019-06-05 16:30] markcmiller86 commented on #3542
I think we can adjust he map being used in the *sorted* case to use a [case insensitive *comparitor* function](https://stackoverflow.com/questions/1801892/how-can-i-make-the-mapfind-operation-case-insensitive)

[2019-06-05 16:56] markcmiller86 commented on #3542
Ok, just changing comparator doesn't work...it causes VisIt to drop variables that differ only in case. So, we need a way to effect only the iterator part of the process.

[2019-06-05 17:21] aowen87 opened #3551 "Trilinear ray casting has no attenuation change"
### Describe the bug
Changing the attenuation has absolutely no effect when ray casting in trilinear mode. When I was updating the volume opacity for rasterization, I noticed that the trilinear opacity wasn't being calculated.

### To Reproduce
Open any dataset and render a volume plot. Open up the volume attributes, switch to compositing, enable trilinear, and change the opacity attenuation to 0.

[2019-06-05 17:28] brugger1 opened #3552 "Read the docs still shows 2.11 in places."
### Describe the bug

I went to print one of the tutorials and the print preview added headers and footers that showed 2.11 as the version. I see this in search results as well. Somewhere, we must have a reference to 2.11.

**Impact**
- [ ] High - User productivity significantly degraded
- [X] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelih

[2019-06-05 17:31] markcmiller86 commented on #3552
I was seeing this in searches too a couple of weeks ago. I have *wiped* the old 2.11 docs and project on RTD. The only thing I can suspect is that the indexing that RTD does to support its search features still has old stuff cached. I don't know how to fix that because I don't have any handles on the search index it computes. Maybe I should wipe and force a re-build of the current docs?

[2019-06-05 23:37] rusu24edward commented on #3339
Without the lfs url in the .git/config file, we are presented with the following error:
[code]
The .lfsconfig somehow lets lfs know where to look. If a non `git lfs` command is used, lfs still gets triggered by a git push because the pre-push hook is updated when `git lfs install` is called.

We can modify the pre-push hook to update the .lfsconfig file. This file is tracked and might cause some c

[2019-06-06 00:00] #3542 closed, assigned to markcmiller86

[2019-06-06 00:03] rusu24edward commented on #3339
Untrack the .lfsconfig file and have the pre-push hook run this:
[code]
Might have to change the username from `visit-dav` to whatever the forking user has. Test this from a username that is not admin on visit-dav because that might give me special privileges.

[2019-06-06 00:15] biagas commented on #2408
Closing issue because Volume plot no longer has the 2D transfer function option.

[2019-06-06 00:15] #2408 closed, assigned to nobody

[2019-06-06 00:18] biagas commented on #252
Closing due to the fact that Visit no longer has a 3D texturing option for volume plot.

[2019-06-06 00:18] #252 closed, assigned to nobody

[2019-06-06 00:35] biagas commented on #1978
Closing because SLIVR vr tests no longer exist.

[2019-06-06 00:35] #1978 closed, assigned to nobody

[2019-06-06 00:40] biagas commented on #1701
Closing because this aspect of SLIVR is no longer part of VisIt.

[2019-06-06 00:40] #1701 closed, assigned to nobody

[2019-06-06 00:59] biagas opened #3554 "Default and OSPRay Volume rendering fail for very large-valued coordinates."
### Describe the bug
The default Renderer and the RayCastin::OSPRay options of the Volume plot cannot handle a mesh whose coordinates are extremely large.

I was experimenting with VisIt's handling of very-large values for mesh points.
I turned on the 'Double' floating point precision preference.
I opened rect3d.silo
I added a Volume plot of 'u'
I added a Transform operator and set the Scale for a

[2019-06-06 17:49] #3324 closed, assigned to rusu24edward

[2019-06-06 18:13] rusu24edward commented on #3339
Was able to duplicate the following error:
[code]
removing the .lfsconfig file did resolve this issue, but only when using https. It did not work with ssh. Still exploring options.

[2019-06-06 18:34] rusu24edward commented on #3339
git lfs does not support ssh transfer protocol. It is built around https, so if a repo is cloned with ssh, then lfs will fail (https://community.atlassian.com/t5/Bitbucket-questions/LFS-via-ssh/qaq-p/707647)(https://github.com/git-lfs/git-lfs/issues/1044). There may be some work around, but it doesn't seem worth the time.

Here's where this stands:
* If repo cloned with ssh, then git lfs fails alw

[2019-06-06 19:25] cyrush commented on #3339
Does it still try to talk to lfs if folks installed lfs with:

`git lfs install --force --skip-smudge`

I wonder if this is something we just have to document?

Folks might not install the hooks and they might also be surprised to have to type their password for the magic https switch over. I worry if we change the url and something goes wrong it will hard to detect things are off the rails.

It s

[2019-06-06 20:25] rusu24edward commented on #3339
That's how I installed lfs when running the tests with a forked repo on a different account, so I presume that's how it would work for anyone else.

The other issue with the pre-push hook is that the command `git lfs install --force --skip-smudge` overwrites the pre-push hook in `.git/hooks`, so even if we did have a custom hook in place via `scripts/git-hooks`, this could get overwritten. This ca

[2019-06-06 21:19] biagas opened #3562 "paraDIS plugin g++ warning points to an array-indexing bug"
Here's the warning I see compiling with g++ on linux:
<pre>
visit/src/databases/paraDIS/paraDIS_lib/paradis.C: In member function ‘void paraDIS::DataSet::PrintArmStats(FILE*)’:
visit/src/databases/paraDIS/paraDIS_lib/paradis.C:2627:104: warning: iteration 7u invokes undefined behavior [-Waggressive-loop-optimizations]
         fprintf(thefile, "Total number of %s arms: %d\n", armTypes[n], numShort

[2019-06-06 21:30] #3505 closed, assigned to nobody

[2019-06-06 21:57] biagas opened #3564 "point-glyphing fails with double-precision points."
Set 'Precision' preference to 'Double' (Options->Preferences)

Open noise.silo
Add Pseudocolor plot of pointVar
Add Transform operator,
    set it to Scale,
    change scale factor for each direction to 1e37
Apply
Draw

In Pseudocolor's Geometry tab, change point tab to box, .... nothing displayed

VisIt should be able to render and glyph points that are represented by double-precision coordinates

[2019-06-07 00:23] griffin28 commented on #3484
Relevant source files located in visit/src/VisWindow/Interactors (VisitInteractor, Zoom2D).

[2019-06-07 00:41] markcmiller86 commented on #3515
I've had email exchanges with MFEM team and with Jeff Grandy on Overlink. The point of these discussions was to assess ability to produce a "normal array of data" from a rectangular region of any VisIt mesh for import into tools like MatLab, Mathematica, R, NumPy, etc. Currently, best path in this direction is via Overlink. I think it  could be fairly straightfoward to effectively use Overlink to

[2019-06-07 02:44] cyrush commented on #3515
@markcmiller86 we can use visit to read the overlink silo file and export fields to numpy arrays

[2019-06-07 02:45] cyrush commented on #3515
@markcmiller86 eddie is also working on regular grid  mesh overlay capability, so this might be able to be done all in visit.

[2019-06-07 03:12] markcmiller86 opened #3567 "Cannot run single processor parallel"
### Describe the bug
Why would we want to do this? There are numerous debugging motivations for this. I've found it useful in many projects. But, `internallauncher` explicitly prevents it by runing `engine_par` only for `np > 1`.

This patch to internallauncher fixes it...

[code]

[2019-06-07 14:42] biagas commented on #3484
I tried running locally on my local linux running rhel7, toolbars are fine.
I tried running from LC, displaying back to my local linux, toolbars are messed up.

[2019-06-07 15:31] brugger1 commented on #3484
I see the messed up toolbar running locally on my rhel7 system.

From: Kathleen Biagas <notifications@github.com>
Sent: Friday, June 7, 2019 7:42 AM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Mention <mention@noreply.github.com>
Subject: Re: [visit-dav/visit] Tool bar in visualization window not redrawing properly. (#3484)

I tried running locally on my l

[2019-06-07 15:49] rusu24edward commented on #3515
Remap operator can do this for structured and unstructured meshes with cell-centered scalars. It works for multi-domain, but does not yet work in parallel.

[2019-06-07 15:53] markcmiller86 commented on #3515
Not to denigrate any of the hard work that went into these routines in VisIt but I don't think it produces anywhere near the quality of result that Overlink would. I could be wrong. Maybe we should identify some tests to try to compare them. Lack of parallel is a deal breaker too as the region(s) a user might be interested in cutting out for processing in these other tools could easily span proces

[2019-06-07 16:26] markcmiller86 commented on #3515
@cyrush any idea how large scale we can go with NumPy? Can NumPy operate on a parallel, distributed array? Does it have a notion of *ghost values*? Long ago, we used to have machines with huge shared memory to faciliate the key points in our workflows where often large scale results would be coerced into a massive, monloithic (e.g. NOT distributed) bunch of data and processed as such. Do we still

[2019-06-07 16:34] cyrush commented on #3515
@markcmiller86 this is getting quite complicated to talk about on github :-).

Maybe we should slot time for a special topics meeting?

[2019-06-07 16:39] markcmiller86 commented on #3515
Well, IMHO, part of the value in so doing is to a) have a record of the information, b) enable others to *listen in* as well as *chime in* and c) ensure that whenever and whoever sits down to move forward on specific tasks related to this, the information is easily available to them and not left on whiteboards, in emails, or the heads of those who had a discussion about it.

But, maybe this is too

[2019-06-07 20:16] markcmiller86 opened #3572 "Remove src/tools/dev/redmine"
I don't think we need these redmine tools anymore and should remove this dir.

[2019-06-07 20:30] cyrush commented on #3515
I think it's better to allocate sometime to discuss as a team.  Nothing stops us from filling in details here.

[2019-06-07 20:37] markcmiller86 commented on #3552
When I search for `CMFE` for example, I get several hits. Here are two to the same location but one works and one doesn't...

[code]
Note the difference in the paths. One has **gui_manual** and the other (top) doesn't. I think this is result of change to top-level `index.rst` file. For some reason, RTD is still holding the old path in its search index.

To try to remedy, I've *wiped* and made *ina

[2019-06-10 17:15] aowen87 opened #3576 "Mili integration point advancement"
At some point, we will need to let users choose which integration points are displayed in visit. Because of how the mili data is organized, accessed, and displayed, this is a surprisingly difficult task. There are some discussions on this topic in issue #3370.

[2019-06-10 17:17] aowen87 opened #3577 "Mili fast time query"
From what we've been told, Griz users will perform time queries over great spans of time. In VisIt, this is incredibly slow. We should see if we can optimize this for the GrizIt users.

[2019-06-10 20:48] aowen87 commented on #3082
The fix has been integrated, but I've noticed that there is an excessive number of memory errors with the ray caster (3000+). They appear to be correlated with early ray termination; the longer we wait to terminate the ray, the greater the number of errors. Since the new opacity updates actually allow the attenuation to change, the rays can travel further, and these mem errors can become more appa

[2019-06-10 23:15] biagas opened #3580 "mili.py test has two 'TestMaterials' functions"
While running the test suite on Windows, I noticed for the mili test that 'mili_materials_01.png' wasn't being generated.  I took a look at the test and noticed the duplicately named functions.
Only the second one is being run, the one that generates mili_materials_00.png.

[2019-06-10 23:22] aowen87 commented on #3117
I took a quick look at this, and adding the ambient, diffuse, specular, etc. should be fairly simple.

[2019-06-10 23:30] cyrush opened #3581 "PC plot tubes rendering error with ParaDIS data"
### Describe the bug
In both VisIt 2.13.3 and 3.0.0
The "Tubes" Geometry option in PC plot does not color the tubes correctly for ParaDIS data.

First see a the plot below using "lines", the variable is the id of segment -- it should be the same for each segment. Next see what happens when you enable the "Tube" geometry option.  The tube is both red and blueish.

Applying a tube operator to the PC

[2019-06-10 23:30] cyrush commented on #3581
PC rendering with lines option
![Screen Shot 2019-06-10 at 4 25 42 PM](https://user-images.githubusercontent.com/1194526/59233399-1631ce80-8b9d-11e9-875d-d9e29a574291.png)

[2019-06-10 23:31] cyrush commented on #3581
pc rendering with lines geo option
![Screen Shot 2019-06-10 at 4 25 51 PM](https://user-images.githubusercontent.com/1194526/59233409-247fea80-8b9d-11e9-88b0-a0f5fd4b854f.png)

[2019-06-10 23:31] cyrush commented on #3581
pc rendering with tubes geo option (bad result)
![Screen Shot 2019-06-10 at 4 25 42 PM](https://user-images.githubusercontent.com/1194526/59233415-31044300-8b9d-11e9-8c35-ae542e259b2d.png)

[2019-06-10 23:32] cyrush commented on #3581
rendering using tube operator (correct)
![Screen Shot 2019-06-10 at 4 28 35 PM](https://user-images.githubusercontent.com/1194526/59233433-3feaf580-8b9d-11e9-9738-597021b443fd.png)

[2019-06-11 15:45] brugger1 commented on #3317
I regenerated the binary translation files from the ASCII translation files in Qt. I made the changes on the 3.0RC (#3582) and develop (#3583).

[2019-06-11 18:42] biagas opened #3584 "cinema-a test needs to pass '-noconfig' on its generated command line."
While running the test suite on my local linux box, the cinema-a test kept failing.
The generated images had the wrong colors. I discovered it was due to me changing
the default continuous color table on my system from hot.

visit_test_suite.py adds '-noconfig' to its command line so that issues with personal settings don't affect the test suite results.  cinema-a.py creates its own command line,

[2019-06-11 19:29] #3584 closed, assigned to biagas

[2019-06-11 20:45] brugger1 opened #3586 "Rendering slow when displaying back to a Mac."
### Describe the bug

When running VisIt on one of the Livermore Computing systems and displaying back to a Mac, the rendering is very slow. When you rotate the object you can see it copy the image from the top to the bottom of the Window. When doing a rubber band zoom in 2D or 3D it takes a long time for each iteration of lines to get drawn, most likely because it is rendering the entire image ea

[2019-06-11 20:54] markcmiller86 commented on #3586
Trying to add move of what it looks like...

[foo.zip](https://github.com/visit-dav/visit/files/3278522/foo.zip)

[2019-06-11 21:11] biagas commented on #3581
@cyrush can you give me access to the data, I would like to take a look

[2019-06-11 21:18] cyrush commented on #3581
@biagas I gave you a tarball with the files.
You open the "*.meta" files to plot the dislocations

[2019-06-11 22:58] aowen87 commented on #3370
I'm going to create a new issue for updating the mili library.

[2019-06-11 22:58] #3370 closed, assigned to aowen87

[2019-06-11 23:01] aowen87 opened #3588 "Mili library update"
This is just a reminder to update the mili library when Kevin has released it.

[2019-06-12 17:14] #3117 closed, assigned to aowen87

[2019-06-13 16:23] markcmiller86 commented on #3554
We think this is potentially a problem in general, with multiple plots not just this plot. We should use same reproducer here in other plots and check. We think we used to have internal automagic scaling to deal with it. We think there was a recent email regarding fact that large dataset worked in 2.13.3 and does not in 3.0.0.

[2019-06-13 21:32] mclarsen opened #3592 "Better blueprint error messages in debug logs"
### Is your feature request related to a problem?
https://github.com/visit-dav/visit/blob/e8df1665957824c6be3ed91542d03821d543ca4e/src/databases/Blueprint/avtBlueprintFileFormat.C#L830

Error message is crafted, but never send to debug when the error happens.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [ ] High - User productivity significantly improved
- [ ] Medium - User p

[2019-06-13 22:59] biagas commented on #3545
There is a simple vtk file that has one 3D  cell (hex), plus lines and points:
 vtk_test_data/boxLinesPoints.vtk

[2019-06-14 16:17] brugger1 opened #3594 "Increase the limit on the number of chars in file and dataset names in XDMF reader."
### Describe the bug

The XDMF reader has buffers for the filenames and dataset names referenced in the xml files that are of 1024 characters long. A user ran into that limit. The code detects this and ignores that name, so it doesn't crash, but it results in portions of the data being missing. Double the number of characters to 2048 as a short term fix. This is quick to change and safe. It should

[2019-06-14 16:52] markcmiller86 commented on #3552
Folks at RTD have committed [a fix for this](https://github.com/rtfd/readthedocs.org/pull/5798). It should be deployed next week. Then, I think a re-gen of the docs will resolve it.

[2019-06-14 22:21] griffin28 commented on #3586
This is an issue with Linux, X11, and Qt5: https://bugreports.qt.io/browse/QTBUG-47069.

Also, tried some suggestions like setting the QT_XCB_NATIVE_PAINTING environment variable without success. The other suggestion was configure QT with --feature-xcb-native-painting (https://www.mail-archive.com/development@qt-project.org/msg32470.html).

[2019-06-14 23:50] griffin28 commented on #3484
Setting the environment variable QT_XCB_NATIVE_PAINTING fixes the issue for me.

[2019-06-15 00:04] markcmiller86 commented on #3484
That seems to fix toolbar issue. It worked for me too. I was running on quartz and displaying back via X windows over VPN.

[2019-06-15 00:18] brugger1 commented on #3484
That fixes it for me as well.

From: Mark C. Miller <notifications@github.com>
Sent: Friday, June 14, 2019 5:05 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Mention <mention@noreply.github.com>
Subject: Re: [visit-dav/visit] Tool bar in visualization window not redrawing properly. (#3484)

Setting the environment variable QT_XCB_NATIVE_PAINTING fixes the

[2019-06-17 15:33] rusu24edward commented on #3522
From Mark's suggestion [here](https://github.com/visit-dav/visit/issues/3324#issuecomment-495406713), this works
[code]
Not sure if the underlying changes to python on the LC are still a concern for us then.

[2019-06-17 16:04] rusu24edward opened #3602 "CLI documentation can be improved"
### Describe what needs to be documented.
Working on #3324 revealed a few areas where the documentation can be improved. This ticket contains a record of those findings. Some documentation is missing altogether, some just needs to be improved. The link for the CLI function documentation on RTD is [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/functions.html). T

[2019-06-17 16:12] rusu24edward opened #3603 "Push hooks for restricted branches"
`develop` and `*RC` are restricted branches, which means that all changes should go through PR. We have hooks in place to block commits to these branches. However, there is a still a way to modify these branches directly without performing a commit:
1. Create a branch off the RC
1. Modify some files
1. Commit those changes
1. Push your feature branch to remote
1. Checkout RC branch
1. Pull feature

[2019-06-17 23:18] aowen87 opened #3606 "Rasterizer memory errors"
### Describe the bug
While working on #3082, I noticed that visit's rasterizer had a huge problem with memory errors. I've also heard that users have been experiencing occasional crashes while using it, which this might be responsible for.

**Helpful additional information**
The mem errors increase the longer rasterization takes place. This can be seen by reducing attenuation and letting the rays

[2019-06-17 23:18] aowen87 commented on #3082
I've tracked down the source of the source of the memory errors. I've opened a new ticket to address this: #3606

[2019-06-17 23:27] aowen87 commented on #3606
The source of the issue:
Within VisWinRendering, we attempt to retrieve the z buffer from the render window (we appear to be using vtkOSOpenGLRenderWindow). The z buffer comes back seemingly initialized and populated with values. However, if you check the return code, it comes back as VTK_ERROR. This error appears to be returned when an opengl error occurs on the vtk side while retrieving the buff

[2019-06-18 17:44] rusu24edward commented on #3515
@markcmiller86, @cyrush, and @rusu24edward met with Oleg 06/18/19. The most promising path forward is:
1. Replicate what Oleg is doing in numpy
    1. Prototypes and templates; Oleg can build from there
1. Connect Visit with numpy expressions for visualization.

[2019-06-18 18:31] markcmiller86 opened #3607 "Resample Operator + X Plot behaves strangely for some X way better for others"
### Describe the bug
I am using Resample operator in a bit of a funky way...to replace multi-domain data with a single domain. You do this by UNchecking the `Distribute resampled data set across all processors (parallel only)?` check box in the Resample operator attributes.

To replicate, open `multi_rect2d.silo`. Create a PC plot of `d`. Add Resample operator with...

- Samples in X: 30
- Samples

[2019-06-18 20:26] aowen87 opened #3608 "volumePlot tests have odd behavior"
### Describe the bug
I recently noticed some odd behavior in the volumePlot tests. Basically, if you render a volume using the ray caster before rendering using the default renderer, you end up with a blank test result.

**Helpful additional information**
I have not been able to reproduce this behavior outside of the test suite, and it only occurs when ray casting before default rendering. Also, i

[2019-06-19 19:57] hauten opened #3614 "Update repo topics"
A new page on the LLNL software portal (https://software.llnl.gov/radiuss/) will soon dynamically pull in RADIUSS repos. To achieve this, we need RADIUSS-related repos outside the LLNL org to be tagged with relevant topics. See LLNL/llnl.github.io#17, LLNL/llnl.github.io#151, & https://github.com/LLNL/llnl.github.io/blob/new-home-page/radiuss/README.md for additional context.

VisIt  already has `

[2019-06-19 21:06] markcmiller86 commented on #3614
Looks like this has already been done.

[2019-06-19 21:06] #3614 closed, assigned to nobody

[2019-06-19 21:19] brugger1 commented on #3594
Resolved through commit 3598 to the 3.0RC and 3599 to develop.

[2019-06-19 21:19] #3594 closed, assigned to brugger1

[2019-06-19 21:21] markcmiller86 commented on #3552
This has been resolve by the following actions...
- [this RTD issue](https://github.com/rtfd/readthedocs.org/issues/5668) was fixed
- The new RTD based on above was deployed earlier today
- The VisIt docs were rebuilt

[2019-06-19 21:21] #3552 closed, assigned to markcmiller86

[2019-06-19 21:48] #3580 closed, assigned to aowen87

[2019-06-19 21:48] #3082 closed, assigned to aowen87

[2019-06-19 22:22] brugger1 commented on #3484
The place to set the environment variable is in the file bin/internallauncher after line 2901 after the lines.

        # Turn off a warning message when running on Linux systems displaying
        # to a remote display.  The message messes up the communication between
        # the GUI and Viewer.
        SETENV("MESA_GLX_FX", "disable")

[2019-06-19 23:38] cyrush commented on #3614
Thanks mark, I did this and forgot to close out.

[2019-06-20 14:55] #3484 closed, assigned to griffin28

[2019-06-20 15:41] biagas opened #3619 "2D plot renders black if coordinate values very large (3e19)"
Customer provided data, but it cannot be made public nor attached to this bug ticket.
Spatial extents for the 2D dataset are: (-3e+19, 3e+19, 0, 3e+19)

Plot renders correctly in 2.13, so I suspect something different since the upgrade to VTK-8.

### To Reproduce
Open the data
Create a Pseudocolor plot
Draw

Plot renders black.
You can zoom in to a portion of the data where the spatial extents are

[2019-06-20 16:04] #3572 closed, assigned to markcmiller86

[2019-06-20 16:07] markcmiller86 commented on #3586
I changed to impact low because of multiple mitigating work-arounds (client-server, vnc)

[2019-06-20 16:42] markcmiller86 opened #3621 "Update to HDF5 1.10.4"
### Is your feature request related to a problem?
We should update VisIt to use HDF5 1.10.4

This will avoid any issues with compatability with HDF5 producers using newer features in HDF5.

[2019-06-20 16:44] brugger1 commented on #3522
The purpose of this ticket was to discuss the issue, which we did, so I'm now closing it.

[2019-06-20 16:44] #3522 closed, assigned to nobody

[2019-06-20 16:45] aowen87 commented on #3606
I am re-opening this ticket because my previous fix causes zbuffer issues in some instances.

The previous solution:
Check for the vtk error. If it occurs, just populate the zbuffer with a default value of 1. (I also tried just copying over the values that were returned by vtk, but this also results in vast amounts of memory errors).

The problem with the previous solution:
I was hoping that the z

[2019-06-20 21:46] biagas opened #3626 "Add tests for all Pseudocolor's line geometry settings"
There are settings for lines: tubes, ribbons, scaling of such by variable, etc.
There are options for adding endpoints as spheres/cones, scaling of such, etc.

Should test both cell-centered and point-centered data, as default var being rendered and
combinations thereof in var used for scaling.

It should also test single-lines and  poly-lines, and datasets that have more than just line cells.

[2019-06-20 23:43] #3581 closed, assigned to biagas

[2019-06-21 18:53] markcmiller86 opened #3634 "Revisit our git workflow for RC work"
I would like to re-visit the basic steps layed out [here](https://gist.github.com/cyrush/6ee9933458cf919b06f8aa6a88d9a6fe) for our git workflow.

The key part of the process I would like to discuss is how work on the RC gets also onto develop. In the current approach, we

1. create a parallel branch off develop
2. replay a patch or diff we cherry pick from RC
3. commit, push
4. review/approve a PR

[2019-06-21 20:54] cyrush commented on #3634
If we merge from RC to develop, then develop will have to have the changes on the RC.

That will also create a case where you may be merging in other peoples changes at times when you aren't prepared to do so or that you can't vet.

Other git workflows fix this with more branches, see gitflow that includes hotfixes + master.

https://datasift.github.io/gitflow/IntroducingGitFlow.html

[2019-06-24 16:58] markcmiller86 commented on #3634
Yep. That *is* what we are on the hook to do in 99+% of our work...do work on the RC and then merge it to develop. The cases where RC work is not also merged to develop are a) rare and b) can be handled by doing a no-op merge to develop. I think this requires further discussion though too.

This did occasionally happen in subversion. But, I don't recall it being too onerous to deal with. In any ev

[2019-06-24 19:48] cyrush commented on #3634
I can see how merges seem like they would be an easier way to attack this, but I don't think they quite do what we want. I don't know what the mechanics would be for a no-op merge to develop.

In svn, the workflow was:
do a merge operation (run our script)
then the script would update our record of the merge
select which files need to be added
   (you could choose not to merge some files at this s

[2019-06-24 20:20] cyrush commented on #3421
Ran across this:
https://developer.apple.com/documentation/security/notarizing_your_app_before_distribution

[2019-06-25 20:19] #3567 closed, assigned to markcmiller86

[2019-06-26 12:25] markcmiller86 opened #3638 "Engine exit with QoT plus time-varying SIL"
### Describe the bug
An error message reports the engine has exited abnormally. It is probably *abnormal* but it is not a crash. It is an exit after an ImproperUse exception caught in `Executers.h` which then forces the engine to exit. The last few lines of the level 5 debug logs on the engine are...
[code]

### To Reproduce
1. open silo database attached here
2. PC plot of `phi`
3. Zone-pick a zo

[2019-06-26 14:27] brugger1 opened #3639 "Remove ccmio library and reader."
### Is your feature request related to a problem?
The owner of the ccmio library no longer wants us to use it. We need to remove it.

**Impact**
- [X] High - User productivity significantly improved
- [ ] Medium - User productivity partially improved
- [ ] Low - User productivity trivially improved

### Describe the solution you'd like.
We need to remove the library from NERSC. We should also remo

[2019-06-26 14:28] brugger1 commented on #3639
There may also be data files and tests associated with the reader. I haven't checked, but we should.

[2019-06-26 19:26] #3639 closed, assigned to brugger1

[2019-06-27 15:53] brugger1 opened #3645 "cmake logic for ADIOS2 doesn't handle lib path properly."
### Describe the bug
FindADIOS2.cmake doesn't handle the fact that ADIOS2 installs its libraries in lib64 instead of lib.

**Impact**
- [ ] High - User productivity significantly degraded
- [X] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [ ] High - occurrence is not specific to platform, data, config, a combination of operators,

[2019-06-27 17:16] rusu24edward commented on #689
Related to #3515

[2019-06-27 17:32] rusu24edward commented on #2565
Files that `#include <verdict.h>` that may be affected by this:
./avt/Expressions/MeshQuality/avtVMetricArea.C
./avt/Expressions/MeshQuality/avtVMetricAspectGamma.C
./avt/Expressions/MeshQuality/avtVMetricAspectRatio.C
./avt/Expressions/MeshQuality/avtVMetricCondition.C
./avt/Expressions/MeshQuality/avtVMetricDiagonalRatio.C
./avt/Expressions/MeshQuality/avtVMetricDimension.C
./avt/Expressions/Mes

[2019-06-27 17:59] markcmiller86 commented on #2565
related to #3197

[2019-06-27 18:37] markcmiller86 commented on #2565
related to #3190

[2019-06-27 18:39] markcmiller86 commented on #3197
@tzanio wrote in email to me in August, 2018...

Implementing quality metrics like these [in MFEM] shouldn’t be hard. Most of them are defined in terms of the Jacobian of the element mapping, and we have quite a few of the TMOP metrics already implemented, see https://arxiv.org/abs/1807.09807.

We do not support the serendipity element (quad8) because it is not very good for computation. You can a

[2019-06-27 19:08] tzanio commented on #3197
Since I wrote this, there has been some work on serendipity elements in MFEM by @akgillette in https://github.com/mfem/mfem/tree/serendipity-dev

[2019-06-27 21:32] #3645 closed, assigned to brugger1

[2019-06-28 18:20] brugger1 opened #3648 "Setting line annotation color through the CLI doesn't work."
### Describe the bug

Setting the line annotation color through the CLI doesn't work. Everything else seems to work, but the line is always drawn in black. It works fine if you set it through the GUI, so it is specific to the CLI.

**Impact**
- [ ] High - User productivity significantly degraded
- [X] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

*

[2019-06-28 20:56] aowen87 opened #3649 "Pseudocolor processor boundaries"
### Describe the bug

This bug was originally reported by Andy Cook, and it appeared to occur when he was applying the iso volume operator to a pseudocolor plot of a miranda dataset. More specifically, it occurs when _thresholding_ using the iso volume operator.
I've also been able to see the same results when using the threshold operator on a pseudocolor plot.

Upon further digging, it appears th

[2019-06-28 21:00] aowen87 opened #3650 "Mili repeats sand and cause in menu"
### Describe the bug
I noticed that mili variables sand and cause are being added more than once to the menu. I believe it has something to do with their shared property.
This doesn't appear to occur with any other variable.

[2019-06-28 21:20] aowen87 commented on #3606
I was looking at some examples of retrieving the zbuffer in vtk, and it looks like this is typically done after an initial call to Render() from the vtkRenderWindow. Adding this call before retrieving the zbuffer reduces the memory errors by magnitudes, but the opengl error is still raised.

[2019-06-28 21:57] cyrush commented on #3649
@aowen87 i think this happens in mutli_rect3d.silo b/c there aren't any ghost zones or ghost nodes for the mesh. I checked plotting using the inverse ghost zone operator and I got an empty dataset.

[2019-06-28 22:02] markcmiller86 commented on #3649
Yeah, @cyrush is right. Miranda is 3d, rectilinear too. And, I think it is also specifying ghost *nodes* and it should be indicating which are on boundaries *internal* to the problem. All of that should be sufficient for VisIt to eliminate internal faces. I recall having similar issue with missing `avtRealDims` augumented vtkDataArray in [SAMRAI](https://github.com/visit-dav/visit/blob/a314497ecfe

[2019-06-28 22:08] aowen87 commented on #3649
@cyrush thanks for pointing that out; I hadn't thought to check for that first.
@markcmiller86 i'll take a look.

[2019-06-28 22:57] aowen87 commented on #3649
I don't see ghost data being added anywhere in the Miranda database reader.

[2019-06-28 23:05] cyrush commented on #3649
@aowen87 there may be a special case for true uniform grids.

[2019-06-28 23:25] aowen87 commented on #3649
I'll take a look to see if the ghost data is being handled elsewhere.

[2019-07-01 17:40] sambo57u opened #3653 "No contour linetype in visit 3.0"
### Describe the bug
A clear and concise description of what the bug is.

I cannot find the linetype option in contour plot attributes any more. Is this removed intentionally?

This is Linux x86_64 version.

Thanks!

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - User productiv

[2019-07-01 18:09] griffin28 commented on #3653
![image](https://user-images.githubusercontent.com/26772741/60457369-b5704180-9bf0-11e9-9c25-667e50793a5e.png)

[2019-07-01 18:12] griffin28 commented on #3653
I believe @sambo57u is referring to the line style option. I verified that it is missing in 3.0 and present in 2.13.3.

[2019-07-01 18:14] biagas commented on #3648
By default, the line is set up to use foreground color, there is a flag that needs to be turned off in order for the color option to take effect:

line1.useForegroundForLineColor=0

[2019-07-01 18:15] biagas commented on #3653
It was removed on purpose, due to upgrade to VTK-8 and no longer having support for line-stippling.

[2019-07-01 19:16] brugger1 commented on #3653
Line-stippling support was removed from VTK when they rewrote the OpenGL rendering. It has been several years since that work was performed and they never implemented it, so I can't image that they will ever implement it.

[2019-07-01 20:49] sambo57u commented on #3653
This is a bad because many journals ask us to have identifiable contours in black and white for the published version of the paper. Only option is to put numbers on each individual contour since a legend
wan't help either.

[2019-07-02 04:06] markcmiller86 commented on #3653
I went for a quick look on Google for any tool that could take color line drawings and convert them to black-and-white patterned lines (dots, dot-dash, dash-dash-dot, etc.). I didn't get what I was expecting. But, I've got to believe this is a solved problem with some tools out there in either Gimp, ImageMagick or Photoshop. Its non-ideal of course but might be best option.

[2019-07-02 13:10] sambo57u commented on #3653
It is a shame. I usually do edits on pdf using libreoffice draw with pdfimport (the best solution) or inkscape. But not having contour line type is a major drawback, just saying!

[2019-07-02 13:13] markcmiller86 commented on #3653
Maybe [this ref](https://lorensen.github.io/VTKExamples/site/Cxx/Rendering/StippledLine/) might offer a new approach to take in VisIt.

[2019-07-02 17:03] aowen87 commented on #3649
The issue appears to come from restricting the domains while modifying the contract. My schedule is a bit hectic today, but I may be able to get a fix in before the day is over.

[2019-07-02 19:43] markcmiller86 commented on #3649
My memory is coming back...in avtGhostZoneAndFacelistFilter, there is indeed optimization logic for dealing with internal faces. When all domains are on...it simply removes *all* internal faces. When at least one domain is off, then some of the internal faces potentially become external faces. And, I don't think we handle that case at all. We simply decide NOT to remove any internal faces then bec

[2019-07-02 19:54] aowen87 commented on #3649
Interesting... I'll take a look at avtGhostZoneAndFacelistFilter.

[2019-07-02 20:45] griffin28 commented on #3067
@markcmiller86 I get the same behavior. Unfortunately, the Info.plist file seems take effect only when the application is visible. If you change the `<key>LSUIElement</key>` value to `<string>False</string>` or `<false/>` you'll get the expected behavior when you don't use the `-nowin` option.

[2019-07-02 22:18] markcmiller86 opened #3656 "Lineout of nodal data yields poor results"
### Describe the bug
When I take a non-sampling lineout of a nodal variable of rect2d.silo that aligns perfectly with a mesh line, I expect to get values that are the nodal values of the variable. The x-coordinates are indeed those of the mesh's nodes. However, the y-value (e.g. the mesh field being lined-out), yields values which represent the zone-centered *average*.

### To Reproduce
1. Open re

[2019-07-02 23:34] aowen87 commented on #3649
Here are some test results from turning off domain restriction when using the threshold operator. In these images, I've plotted the global id as a scalar, and I've reduced the data down to a subset that intersects the middle of serval domains. I've also added a wireframe plot that shows the processor boundaries for clarity.

In this plot, the middle section is intersecting several domains, and the

[2019-07-03 16:50] markcmiller86 commented on #3649
Those all look correct. @aowen87 and @brugger1 do you agree?

What I don't know is whether multi_ucd3d.silo has some special *extra* data in it that is enabling correct behavior that we don't otherwise get from other data producers? Can you try similar tests with this hacked version of `avtGhostZoneAndFacelistFilter` on the user's data and confirm it corrects it?

I still have a suspicion we're no

[2019-07-03 17:20] aowen87 commented on #3649
Yeah, I agree... I still feel like I'm missing something. I'll run these tests using Andy's data and then run the whole test suite next week. I'm pretty sure there are some threshold edge cases in the test suite that I've seen, so maybe that will trigger something.

Also, just to clarify, avtGhostZoneAndFacelistFilter is not altered for the above tests. I just prevented avtThresholdFilter from dis

[2019-07-03 17:21] #3650 closed, assigned to aowen87

[2019-07-08 17:58] aowen87 commented on #3649
The following 3 operators all restrict domains as a result of some form of thresholding, and they all elicit the same problem with seeing processor boundaries when visualizing a transparent pseudocolor plot:

1. threshold
2. isovolume
3. box

Disabling the domain restrictions within each operator resolves the issues. I've confirmed this with both multi_ucd3d and the data that Andy provided. I've a

[2019-07-08 18:43] rusu24edward commented on #3515
Met with Oleg again 07/08/19 after giving him files that he can load as python scripts to work with visit. Results of the meeting:

- [ ] VisIt gives an error when running in parallel. "Compute engine exits abnormally". See #3659

- [ ] The current gui interface for python scripts requires the user to input each variable as an argument and only allows the user to define a single variable. This is

[2019-07-08 18:52] markcmiller86 commented on #3515
In the past in similar situations, I've defined a python function that accepts the name of a variable as an argument and then does the *magic* to build expressions using python CLI, using that variable name. That is probably similar in concept to your idea of *...by pass the gui with cli...*

Hmmm. This is confusing but related to my remarks on **Mesh Topology Complications** in original post of t

[2019-07-08 19:04] rusu24edward commented on #3515
I believe the arrays may be 1:1. It certainly appears that way after testing it on some expressions that use numpy against the same ones that do not. So then the path forward is to copy Visit's gradient function into a python function that works with numpy arrays? Or we could audit Visit's gradient algorithm to ensure it is double precision so that VisIt's gradient is useful for double-precision c

[2019-07-08 20:57] aowen87 commented on #3649
Okay, so I did find an issue that complicates matters. First, I'll just post some before and after images of some problems that can arise with domains when we _always_ remove faces before ghosts.

In this image, I've turned off several domains. This is before telling visit to always remove faces before ghosts, and the image is as expected:
![Screen Shot 2019-07-08 at 12 52 49 PM](https://user-imag

[2019-07-09 17:38] cyrush commented on #3515
oleg can use built-in "agrad" variant of our gradient expression -- which will give him the gradient he wants for a structured grid. But it may be subject to double perc vs float prec issue.

[2019-07-09 17:41] cyrush commented on #3515
gui vs scripts, since much of the work is in crafting the numpy scripts, I think we want to actually do most of the driving with VisIt's CLI vs directly using the PyExprs Window. I think thats what Mark is honing in on as well. Create a helper function that does the heavy lifting that we can make that easily callable from the gui.

[2019-07-09 17:43] cyrush commented on #3649
the face vs zone order culling issue is pretty complex, I have always been a bit baffled by the choices -- and came to appreciate that is intricate every time i dove in. Not sure that helps matters much, but some perspective ...

[2019-07-09 18:07] cyrush commented on #3421
Notarization may also require opting for a "hardened runtime"

https://developer.apple.com/documentation/security/hardened_runtime_entitlements

[2019-07-09 19:18] rusu24edward opened #3659 "Python expressions crash visit on zin pbatch and pvis"
### Describe the bug
I attempted to define an expression via Visit's python expression editor while running visit 3.0 on zin using pvis or pbatch. The engine exits abnormally for even the simplest expression on stock data.

Could not duplicate on any open LC systems. Still attempting to duplicate on some closed systems, but waiting for cycles. Will update when tested on other closed systems.

**He

[2019-07-09 19:19] rusu24edward commented on #3659
[simple_python_expression.py.txt](https://github.com/visit-dav/visit/files/3374531/simple_python_expression.py.txt)

[2019-07-09 20:07] markcmiller86 opened #3660 "Problem with line connecting pick letter to node in curve view"
### Describe the bug
Open a curve file and plot a curve. Then, do a node-pick. Observe that the pick letter doesn't appear (or more likely...it is drawn way, way, way off-screen). There is a long vertical line drawn to the picked node that is supposed to be the Curve view analog of the line connecting a pick point in 2D/3D view.

I don't think its too often that people pick curves.

This appears t

[2019-07-09 20:11] markcmiller86 opened #3661 "Pick tabs disappear and can't get them back when dismiss Pick window"
### Describe the bug
Do a PC plot of some data from some database.
Do several picks, enough to go more tabs than the max. (though I don't think that matters).
Now, dismiss the Pick window and bring it back.
All the pick tabs and data is gone. But, the pick letters still appear on the plot.

I don't think it is too common for users to dismiss the pick window when they have data they want.

This app

[2019-07-10 07:45] cirosantilli opened #3665 "I created the VisIt tag on Stack Overflow"
Hello visit devs,

After benchmarking several plotting libraries at: https://stackoverflow.com/questions/5854515/large-plot-20-million-samples-gigabytes-of-data/55967461#55967461 I decided that this software is worth my time :-)

The move to GitHub and Sphinx was an amazing initiative.

Now, I have also created the Stack Overflow VisIt tag: https://stackoverflow.com/questions/tagged/visit-llnl and

[2019-07-10 17:50] aowen87 commented on #3649
After talking with Eric about this, it sounds like the best course of action is to force removal of faces before ghosts whenever transparency has dropped below 100%. Currently, this information isn't available in the avtGhostZoneAndFacelistFilter (nor is it rendered again when this happens), but I'll look into getting this to happen (probably by using the Needs Recalculation flag).

This will resu

[2019-07-10 20:09] mclarsen opened #3670 "Multi-res control changes persist when operator is deleted"
Load mfem mesh through the blueprint reader. Add mesh plot. Add muti-res control operator. Delete plot. Add new mesh plot. The zones displayed are the refined zones.

To get back the original data, add the res-control operator and set it to 0. Delete plot.

(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [x] Did you get wrong results?

**Impact**
- [ ] High - User pro

[2019-07-11 16:42] #3634 closed, assigned to nobody

[2019-07-11 22:34] markcmiller86 commented on #3665
Thanks. Have a look at [this article](https://bssw.io/blog_posts/continuous-technology-refreshment-an-introduction-using-recent-tech-refresh-experiences-on-visit)

So, I tried to post this answer there as guest but indications suggest that didn't work...

Since scatter plot associates variables of potentially radically different scales, by default, it maps each variable's range into [0,1]. We have

[2019-07-11 22:34] #3665 closed, assigned to nobody

[2019-07-11 22:46] cyrush commented on #3665
I'll acknowledge that Visit is bad name in a Googleable sense. It's actually something we joke about in our tutorials.  Not great from a uniqueness and marketing perspective, but we have still stuck with it, since our major stakeholders understand it.

[2019-07-12 18:05] rusu24edward opened #3675 "python expression using other expressions fails"
### Describe the bug
A python expression that has another user-defined expression as an input argument will fail.

**Helpful additional information**

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [ ] High - occurrence is not specific to platform, data, config,

[2019-07-15 17:44] aowen87 opened #3678 "Engineering feedback (Griz and VisIt)"
I recently spoke with a couple of engineers who work with both Griz and VisIt to get some insight into the GrizIt endeavor and, more generally, what they actually need to start using VisIt as their primary tool.

Surprisingly, they both separately gave me very similar (almost identical) feedback, and they expressed that these opinions were shared by most of their colleagues.

I interviewed them bo

[2019-07-15 17:55] markcmiller86 commented on #3678
@aowen87 ... this is terrifice information. Thanks for taking the initiative to go collect it. Except for item 2 (Descale...as an aside...I don't think I even know what that is), I think these are all relatively known issues with time-query being at the top of the list. We should tackle that, I think we have the know-how to do it such that it works *fast* for all VisIt I/O formats, not must mili.

[2019-07-15 18:08] aowen87 commented on #3678
Yeah, I agree. I talked with Eric last week about this, and he suggested I create an extension of the time series database that allows access to a variable across a given chunk of time (as a vector or something like that). It could then be handled in the plugin without reading the entire mesh in for every cycle.

I also agree with the curve plot comments. Both users seemed most interested in savin

[2019-07-15 18:17] markcmiller86 commented on #3678
I think all the 4 database format types already support what we need. They all have a built-in notion of time (though there are huge complexities in how we deal with the set of time/cycle/index values). What is missing is the ability to pass into them a query for data *across* time. This relates to other topics with large architectural implications such as [ensemble navigation](https://www.visitus

[2019-07-15 18:58] rusu24edward commented on #3675
Related to #3515

[2019-07-15 21:24] NAThompson opened #3680 "Cannot find zlib"
On Ubuntu 18.04, VisIt 3.0.1, CMake cannot find zlib using the `build_visit3_0_1` script:

[code]

But I have `zlib.h`:

[code]

[2019-07-16 17:14] markcmiller86 opened #3681 "3.0.1 OSX install overwrote my 2.13.3 install"
### Describe the bug
I thought we supported maintaining multiple installed versions of VisIt on OSX. I seem to recall that being true in the past.

When I went to install 3.0.1, it over-wrote my 2.13.3 install. It told me it was going to do it first. But, my only options were to either NOT install it or overwrite what was already installed.

I am labeling as a wrong result because I think it is in

[2019-07-16 17:37] griffin28 commented on #3681
I get prompted to keep both, overwrite, or stop....see image below. Also, the purpose of digitally signing the DMG is to allow installing to /Applications. I recommend closing this issue since this is the expected behavior (at least from my perspective).

<img width="511" alt="Screen Shot 2019-07-16 at 10 27 25 AM" src="https://user-images.githubusercontent.com/26772741/61316290-87285f80-a7b5-11e9

[2019-07-16 17:38] markcmiller86 commented on #3681
I can't close the issue because I have a user that is running into this issue.

[2019-07-16 17:49] cyrush commented on #3681
@markcmiller86 you can have multiple copies of the bundle, but not in the same folder.
There isn't a way to union the file contents of the bundle or anything (would thwart how it is signed)

[2019-07-16 18:28] #3681 closed, assigned to nobody

[2019-07-16 18:36] markcmiller86 commented on #3681
Ok, so this was all apparently pilot error both recent and past experiences. Indeed I have had the experience that one VisIt installation did NOT overwrite another. I certainly had 3 different version icons in my tray and they all worked, starting the appropriate versions. What I had apparently done in the past and not really payed too much attention was that I indeed dragged these versions into d

[2019-07-16 19:43] cyrush commented on #3680
@NAThompson can you share what options you used for build_visit?
You may also want to try building zlib with the --zlib option for build_visit?

Since zlib is so ubiquitously used, it can be quite easy to get multiple versions linked in which leads to runtime errors.  B/c of this we provide the zlib option and try very hard to wire the correct zlib into our third-party dependencies via build_visit

[2019-07-16 20:28] NAThompson commented on #3680
@cyrush : I didn't use any options for `build_visit`. I just ran it and told it to download what it needs.

[2019-07-16 21:14] NAThompson commented on #3680
Interesting. My [proposed solution](https://github.com/visit-dav/visit/pull/3682) just fobs the responsibility of finding a compatible zlib header and .so to CMake. Presumably you guys have already tried this and found it leads to agonizing pain?

[2019-07-17 00:03] #3680 closed, assigned to nobody

[2019-07-18 23:27] rusu24edward commented on #3675
Update: This seems to only happen in situations where both expressions use the same variables. For example, if I have a simple expression named `my_expr` that uses the variables `d` and `p` and a python expression that uses the variables `d`, `p`, and `my_expr`, then this error occurs. Could possibly be because when `my_expr` is processed, `d` and `p` are removed from the "list" of variables that

[2019-07-19 17:44] biagas opened #3684 "VisIt fails to launch if shortnames disabled on Windows"
VisIt makes us of 'shortnames' (8dot3name) on Windows, to mitigate parsing problems with paths-with-spaces.  If the 8dot3name is disabled, then VisIt fails to launch.
The path-to-component-executable gets truncated at the place in the path where the first space occurs.

VisIt needs to handle internally paths-with-spaces without relying on the existence of the shortname version.

To determine if 8d

[2019-07-22 19:34] rusu24edward commented on #3675
In [avtDatasetToDatasetFilter::ExamineContract(avtContract_p)](https://github.com/visit-dav/visit/blob/develop/src/avt/Pipeline/AbstractFilters/avtDatasetToDatasetFilter.C#L226), variables used in expressions are marked for removal after they are used. When we get to [PostExecute](https://github.com/visit-dav/visit/blob/develop/src/avt/Pipeline/AbstractFilters/avtDatasetToDatasetFilter.C#L155), th

[2019-07-23 21:16] rusu24edward commented on #3515
- [x] Script should also set input_num_vars to the number of variables.

[2019-07-23 22:52] cyrush commented on #3670
follow up from conversation:

with both the mfem and blueprint readers, you can have plots that use different values of the multi-res control.

so the operator is working like we expect, except for the sticky behavior after deleting the plot.
![Screen Shot 2019-07-23 at 3 48 54 PM](https://user-images.githubusercontent.com/1194526/61752753-d0eaea00-ad61-11e9-954b-6e0b45064c76.png)

[2019-07-24 00:58] #3302 closed, assigned to biagas

[2019-07-24 18:05] brugger1 commented on #3648
That resolved the issue. I'm closing the issue. Thanks a lot Kathleen!!

[2019-07-24 18:05] #3648 closed, assigned to nobody

[2019-07-25 16:58] #12 closed, assigned to biagas

[2019-07-26 17:14] brugger1 opened #3689 "Export database should make clear it saves file on remote system."
### Is your feature request related to a problem?

When data is exported from VisIt, it saves the data on the server. This can be confusing to users since saving images is on the client. We have disabled to file browsing since the browsing only works locally, which is fine, but it is also confusing.

**Impact**
- [ ] High - User productivity significantly improved
- [X] Medium - User productivity

[2019-07-26 17:52] brugger1 opened #3691 "llvm doesn't compile with gcc 8.01 or later."
### Describe the bug

I went to compile VisIt on trinity, which uses gcc 8.2.0 by default. The compile of llvm 5.0.0 failed. I found a patch at http://lists.busybox.net/pipermail/buildroot/2018-May/221648.html that is presumably in llvm 6.0.0, which fixes the problem.
This is with visit 3.0.1.

**Impact**
- [X] High - User productivity significantly degraded

**Likelihood**
- [X] Medium - neither

[2019-07-26 23:37] #3691 closed, assigned to brugger1

[2019-07-26 23:56] brugger1 opened #3694 "IDX reader non functional on sierra systems."
### Describe the bug

When I start visit 3.0.1 on one of the sierra systems (lassen, rzansel, sierra), the IDX plugin reports a linker error from the mdserver related to mpi. This doesn't hurt anything, but it doesn't look good and may cause user to think something is wrong. We should remove the reader from the config site files for those systems so that it doesn't get built.

**Impact**
- [ ] Hig

[2019-07-30 17:34] rusu24edward commented on #3675
Python expressions are created in avtExprNode.C. The function [avtFunctionExpr::CreateFilters(string)](https://github.com/visit-dav/visit/blob/develop/src/avt/Expressions/Management/avtExprNode.C#L483) is a factory for various "function" expressions, including [python expressions](https://github.com/visit-dav/visit/blob/develop/src/avt/Expressions/Management/avtExprNode.C#L545). Once the filter is

[2019-07-30 23:28] brugger1 commented on #3689
Maybe change the "Directory name" to something that indicates it is on the server system.

[2019-07-31 00:00] brugger1 commented on #3383
Redmine redirects but the redirect is wrong. No longer need the anonymous svn repository. We should make the nersc svn repo read only after removing CCMIO tar file. Should we remove the users forum?

[2019-07-31 00:04] markcmiller86 commented on #3383
Not sure I understand. visitbugs.ornl.gov redirects to VisIt's GitHub issue tab. That makes sense to me. That is what we asked for ORNL to do. Yes, Redmine is also an interface to the subversion repository but we disabled that long ago because of performance problems it caused.

What is the 'users-forum'? Is that a NERSC thing or a Brad thing? I thought it was Brad's.

[2019-07-31 00:14] brugger1 commented on #3383
You are correct. visitbugs.ornl.gov redirects to the github issue tracker. I must have misunderstood what Cyrus was saying. I agree with Redmine having at one time displayed subversion information and that having been disabled a long time ago.

The users-forum is on visit-users.org, so it has nothing to do with NERSC, but if it isn't being monitored, then perhaps it should be turned off, since get

[2019-07-31 16:05] markcmiller86 commented on #3383
Redmine is already handled here. So, this issue now is really only about subversion and maybe the user's forum. I edited title and initial entry.

[2019-07-31 16:16] markcmiller86 commented on #3383
Forgot about the anonymous subversion access at IL. Yeah, that should be switched to read-only too with hopefully a big discliamer that its old/obsolete now. Or, remove it entirely.

[2019-07-31 16:59] cyrush commented on #3383
the link off the visitusers wiki which was using the redirect was malformed, i changed it to the direct github link. old was probably using a subpath or something subtle.

[2019-07-31 18:41] biagas opened #3698 "The vertex normals filter removes triangle strip cells."
vtkVisItPolyDataNormals filter, used by avtVertexNormalsFilter doen't handle Triangle Strip cells.  By not handling them, they are removed from output.

- [ ] Did VisIt crash?
- [X] Did you get wrong results?

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [ ] Hi

[2019-07-31 22:11] #3649 closed, assigned to aowen87

[2019-07-31 22:19] biagas opened #3702 "problems with build_visit, zlib, png"
zlib is now required when using build_visit.
Users have reported issues with system png conflicts with zlib.
We think the dependency is coming from qt, so we should modifiy the qt configure to also use the zlib compiled by build_visit.
May want to up the version of zlib to 1.2.9.

Should probably also add png to our required libs.
Qt, VTK are a couple I can think of that would need changing to use

[2019-07-31 22:31] brugger1 commented on #3702
If I remember correctly, the zlib site release notes indicated that you should skip 1.2.9 and 1.2.10 and go to 1.2.11, presumably because of bugs introduced in 1.2.9.

From: Kathleen Biagas <notifications@github.com>
Sent: Wednesday, July 31, 2019 3:19 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [visit-dav/visit] problems with build_vis

[2019-07-31 23:17] aowen87 opened #3705 "Awkward tables in GUI doc"
### Describe what needs to be documented.
I noticed that the GUI Sphinx doc has some awkward tables in it.

What happens is the description for a table entry will have a line length that exceeds the table size. The description then goes out of view, and the only way to view the rest of the description is to use the scroll bar at the bottom of the table.

This becomes problematic with large tables

[2019-07-31 23:26] markcmiller86 commented on #3705
I think this issue exists in a few different places. It has to do with initial conversion from OpenOffice. We didn't go back and adjust all those places.

For this and similar cases, the right answer is to NOT use tables and instead use [definition lists](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#definition-lists) instead as is done for [expressions ](https://visit-sphinx-

[2019-08-01 16:01] biagas opened #3709 "Customer reported VisIt couldn't read his ANSYS data file."
### Describe the bug
I've attached the data file.  Customer claims it is ANSYS, and that Paraview can read it 'as ANSYS'.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [X] Did you get wrong results?

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - Use

[2019-08-01 16:14] brugger1 commented on #3698
We decided that we would do the simple fix and then enter a new ticket for better fix.

[2019-08-01 16:18] #3438 closed, assigned to nobody

[2019-08-01 16:33] brugger1 commented on #2906
This results in installing the module in the Python installation, which isn't what we want.

[2019-08-01 16:33] #2906 closed, assigned to biagas

[2019-08-01 17:50] biagas opened #3711 "Fix vtkVisItPolyDataNormals so that it process triangle strips."
### Describe the bug
Currently vtkVisItPolyDataNormals doesn't process triangle strips.
If triangle strips are present in the input, they are missing in the output when this filter applied.

After this is fixed, the logic in avtVertexNormalsFilter to not-process the input if triangle
strips are present should be removed.

**Helpful additional information**
(*Please click check boxes AFTER submitti

[2019-08-01 18:48] #3698 closed, assigned to biagas

[2019-08-01 20:40] brugger1 commented on #3694
Resolved with commits #3715 and #3716.

[2019-08-01 20:40] #3694 closed, assigned to brugger1

[2019-08-01 21:08] brugger1 commented on #2398
I added a Building chapter to the GUI manual that describes how to use build_visit. The last section describes how VisIt it built on kickit, quartz, lassen, cori, summit and trinity.

[2019-08-01 21:08] #2398 closed, assigned to brugger1

[2019-08-02 18:19] aowen87 opened #3718 "Optimize Time Query Curve Plot"
### Is your feature request related to a problem?
This is related to #3577

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [x] High - User productivity significantly improved
- [ ] Medium - User productivity partially improved
- [ ] Low - User productivity trivially improved

### Is your feature request specific to a data set?
This could potentially be utilized in any dataset th

[2019-08-02 18:20] aowen87 commented on #3577
Since this will potentially affect more than must mili datasets, I've created a separate ticket for increasing the speed of time query curve plots: #3718

[2019-08-02 19:07] brugger1 opened #3719 "Silo reader crashes with a negative material number in a multimat."
### Describe the bug

Mike Owen gave me a silo file that kept crashing VisIt when he opened it. I investigated and it was because one of his multimats had a negative material number in it.

I have the file on the RZ. Here is information from browser showing the issue.

/usr/gapps/silo/4.10.2/toss_3_x86_64/bin/browser triplepoint-xy-60x70-time=0-cycle=0.silo
INFO: opening `triplepoint-xy-60x70-time

[2019-08-02 19:50] josephhennessey opened #3720 "Problem VisIt's build_visit script not installing python site-packages in installation directory on linux"
VisIt's build script does not copy over many of the Python site-packages it builds when creating visit's install directory.

When visit is run with -nowin -cli the Python environment does not included many needed visit packages. The gui can still be run but Python scripting is thus broken. This seems to happen about 90% of the time for my linux installations.

This shell script (below) when run fr

[2019-08-02 19:54] markcmiller86 commented on #3718
Another advantage of delegating the *time-looping* logic all the way down to the plugin is that each timestep query **does not** involve round-trip messaging between client and server. I may be wrong but I thought that also comes into play.

That said, I am not sure delegating all the way down to an individual plugin is the right thing to do. I think the right thing involves a combination of addin

[2019-08-02 20:34] brugger1 commented on #3720
It looks like the site packages are being installed by build_visit in the third party installation directory by build_visit, but then when you build VisIt and do a "make package" that they aren't getting into the distribution tar file. Is this correct? If so, can you provide the install_manifest.txt file gets generated when you do a make package. You can e-mail it directly to me.

[2019-08-02 20:34] aowen87 commented on #3718
I definitely agree with the round-trip messaging likely having a significant impact on time as well.

I hand't really come to any decisions about how to handle the time looping yet, but what you're suggesting makes a lot of sense to me if we were to add a timestep variable to this "GetMeshVariablesAt" method.

[2019-08-02 21:05] markcmiller86 commented on #3718
Doh! yes, you are right.

And, it also occurs to me that we might need to think a bit harder about best way to handle `MTxD` type databases as my thinking cap, above, was only for `STxD` databases.

[2019-08-02 21:33] #3684 closed, assigned to biagas

[2019-08-02 21:45] josephhennessey commented on #3720
Eric,

Not quite, I am running the build_visit3_0_1 script with the --prefix flag where --prefix ../../../visit

and the site packages are not getting copied by the build visit script to the location specified by the --prefix flag

I am not doing make package, should I be doing that?

Thanks,

Joe

________________________________
From: Eric Brugger <notifications@github.com>
Sent: Friday, August

[2019-08-02 23:18] aowen87 opened #3722 "Mili scientific notation"
### Describe the bug
While working with a new Mili dataset, I discovered that the .mili files may contain integers in scientific notation. C++ doesn't handle this conversion well, so these cases need to be retrieved as double and then cast to int.

I've put a fix in for all the areas that are potentially affected on a new branch.

### Expected behavior
The Mili plugin should be able to read .mili

[2019-08-05 16:23] brugger1 commented on #3720
Ok, I'll take a look at that. I don't use --prefix and instead use --thirdparty-path and install VisIt manually afterwards. Your complete build_visit invocation would be helpful in debugging this.

[2019-08-05 16:42] #3339 closed, assigned to rusu24edward

[2019-08-05 21:36] biagas commented on #3702
Qt's configure shows 3 options for zlib: _-system-zlib_, _-qt-zlib_ or _-no-zlib_.
Looks like default is _-system-zlib_. (At least when I ran build-visit, qt's configure summary shows it using system zlib when no zlib option was specified in configure options).  The verison of zlib included with qt 5.10.1 is 1.2.11.

There doesn't appear to be a way to tell qt where to find a 'system' zlib.

Shoul

[2019-08-05 21:45] brugger1 commented on #3702
Yes, that seems like the way to go. The distribution will be a little larger (probably small compared to what it is now), and there will be a small increase in compile time (again small compared to what it is now), but this should fix the problem.

[2019-08-05 22:13] biagas opened #3726 "Time to remove SNPRINTF macro"
Once upon a time, we added the SNPRINTF macro in src/common/utility/snprintf.h
to aid coding when Windows needed _snprintf. As of VS 2015, windows has a compliant snprintf that appends the null character to the string (_snprintf does not). Since we no longer support the older versions of VS, it's probably time to remove the SNPRINTF macro.

#include<snprintf.h> would need to be replaced with #incl

[2019-08-05 22:35] brugger1 opened #3727 "Auto full frame mode in 2d based on data limits not window limits."
### Describe the bug

I had a user that was plotting a 2d scatter plot, with "Normalize the axes to a unit cube" off. The data range along the x axis was more than 100 times (the threshold) greater than the data range along the y axis, so it turned on full frame mode and the plot looked great. He also set the window so that the ratio was above 100. He now moved to a later time state and the image

[2019-08-05 22:50] brugger1 opened #3728 "Plot list sometimes goes blank on a mac."
### Describe the bug

I was giving a VisIt tutorial and the students were following along on their Macs. I went to help a couple of them and I noticed that the plot list went blank at times. I never noticed this on Linux and Windows so I'm assuming it is Mac specific. I think they had a few plots up and with expanded plots. I was able to get the plots back by adding and deleting plots, but it was

[2019-08-05 22:54] markcmiller86 commented on #3727
There are potentially two controls in play here. You mention scatter plot. Scatter plot has its own sense of aspect ratio, normalization (e.g. full frame) and auto-threshold and this is wholly independent of 2D *view* controls *fullframe* mode which also has its own sense of aspect ratio, normalization (which is indeed called *fullframe* mode there) and auto-threshold.

You started with descriptio

[2019-08-05 23:01] brugger1 commented on #3727
I agree that the scatter plot does some stuff with normalization, but I believe it is just pass the data along or scale it to a unit cube (or square), so I believe the issue I was seeing was with the view controls. I added debugging information in the routine that determines when to use full frame in 2d in automode and one of the things I printed was the limits getting passed to it.

From: Mark C.

[2019-08-06 00:00] rusu24edward commented on #3705
Just wanted to clarify: do we only want to update the tables for cases where the text rolls off the page and requires side-scrolling, like in the example that Alister has imaged above? I personally find the tables look very nice for text that does not run off.

[2019-08-06 03:12] markcmiller86 commented on #3705
IMHO, yes, we want to eliminate any horizontally scrollable stuff.

[2019-08-06 13:31] cyrush commented on #3728
i have seen similar behavior

[2019-08-06 14:15] brugger1 opened #3730 "Add openssl to required libraries in build_visit."
### Is your feature request related to a problem?

Python is a required library. Openssl is now required by Python, so we should make openssl a required library as well.

**Impact**
- [ ] High - User productivity significantly improved
- [X] Medium - User productivity partially improved
- [ ] Low - User productivity trivially improved

[2019-08-06 15:18] aowen87 opened #3731 "Mili plugin handling sci notation"
### Describe the bug
I received a new dataset from Kevin that includes a .mili file with integers expressed in scientific notation. Rapidjson doesn't quite know how to handle this, so I need to put in our own safeguarding.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [x] High - User pr

[2019-08-06 15:19] brugger1 commented on #3730
mesagl depends on llvm, so it should turn get turned on so that users don't have to. It already does this with glu.

[2019-08-06 16:35] #3731 closed, assigned to aowen87

[2019-08-06 18:57] aowen87 commented on #3718
So, one problem with moving the time iteration outside of the database plugin is that we loose some efficiency... This is because we need the data to be organized as

`curves = [  [e1_v1_t1, e1_v1_t2, ..., e1_v1_tN] ,  [e1_v2_t1, ..., e1_v2_tN],  ...] `

where "eI_vJ_tK" is the Jth variable of the Ith element at time step K, where there are a total of N time steps. The order of the element/variabl

[2019-08-06 19:01] #3705 closed, assigned to rusu24edward

[2019-08-06 19:07] aowen87 commented on #3718
I have a very initial draft of the new query over time that I'm testing (I'll call it Direct DB QOT for now), so I thought I'd post some initial performance comparisons. First, here are some things to keep in mind:

1. I have not yet optimized the plugin to retrieve these values efficiently.
2. I'm currently letting the plugin control all looping (including time).
3. I'm only tracking the amount o

[2019-08-06 19:45] brugger1 commented on #3718
Wow, that’s an impressive speed up!!!

From: Alister <notifications@github.com>
Sent: Tuesday, August 6, 2019 12:08 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [visit-dav/visit] Optimize Time Query Curve Plot (#3718)

I have a very initial draft of the new query over time that I'm testing (I'll call it Direct DB QOT for now), so I t

[2019-08-06 22:20] rusu24edward commented on #3515
I think we should have another meeting to discuss the feasibility of using python+numpy. The more I convert Oleg's expressions, the longer the "road" becomes (see checklist comment above). In many ways, I feel that we will have to duplicate functionality in python that has already been treated in Visit. Not sure how this weighs against the other considerations listed above, which is why I think we

[2019-08-06 22:47] brugger1 commented on #2768
The first library should probably be Svg, not Svb.

[2019-08-06 23:15] aowen87 commented on #3718
More timing results. I ran each of these 2-3 times, so I'm putting the min and max times from those runs. Everything is still in seconds, and the same points to keep in mind from above are still in play.

**10,000 time steps**
Original QOT: **9.57** -> **10.39**
Direct DB QOT: **.15** -> **.18**

**100,000 time steps**
Original QOT: **117.96** -> **128.79**
Direct DB QOT: **1.62** -> **1.62**

[2019-08-06 23:18] brugger1 commented on #3720
I used the following build_visit invocation

./build_visit_3_0_2 --required --mesagl --openssl --llvm --prefix ../junk/visit

and it built it and output the following:

Building VisIt . . . (~50 minutes)
All indications are that VisIt successfully built.
All indications are that VisIt successfully installed.
Finished building VisIt.

You many now try to run VisIt by cd'ing into the
visit/build/bin

[2019-08-06 23:25] brugger1 commented on #3720
Ok, I did a "make install" and the only directories in ../junk/visit/3.0.0/linux-x86_64/lib/site-packages was visit and vtk, a bunch of packages were missing. I now have a reproducer.

[2019-08-07 15:14] brugger1 commented on #3718
Awesome results! 2 minutes to 2 seconds is a huge improvement and makes it usable.

From: Alister <notifications@github.com>
Sent: Tuesday, August 6, 2019 4:15 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Comment <comment@noreply.github.com>
Subject: Re: [visit-dav/visit] Optimize Time Query Curve Plot (#3718)

More timing results. I ran each of these 2-

[2019-08-07 16:35] #3722 closed, assigned to aowen87

[2019-08-07 16:46] biagas commented on #3709
Customer is Maryam Yousefi. myous@uottawa.ca

[2019-08-07 16:51] biagas commented on #3709
I downloaded Paraview and opened the data file. Paraview presents three options:
AVS UCD reader
VisItANSYSReader
VisItCEAucdReader

Only the AVS UCD Reader works, which makes sense since the other readers are VisIt readers and they didn't work.

We can create a new DB plugin that utilizes vtkAVSucdReader.

[2019-08-07 16:53] aowen87 opened #3735 "Pick through time gui not passing start/stop time"
### Describe the bug
While working on #3718 , I've noticed that the GUI for picking through time doesn't always pass the start and stop times through to the query over time filters. In fact, it only seems to get through a small percentage of the time... It appears to work fine when using the python interface, though.

**Helpful additional information**
(*Please click check boxes AFTER submitting t

[2019-08-07 20:41] cyrush opened #3739 "ospray support missing in OSX 3.0.1 release"
### Describe the bug

We need to build in ospray support for our osx binaries.

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

### Desktop
 - OSX
 - VisIt Version: 3.0.1 (and 3.0.0?)

[2019-08-07 20:41] cyrush commented on #3739
![Screen Shot 2019-08-07 at 1 39 12 PM](https://user-images.githubusercontent.com/1194526/62656442-03c3df00-b919-11e9-94ba-7588fee8a44b.png)

screenshot from my machine where ospray stuff isn't there to enable.
I also looked for the libs to make sure I wasn't fooling myself with how to enable it.

[2019-08-07 20:44] cyrush opened #3741 "install host profiles failed with 3.0.1"
### Describe the bug
I moved my .visit folder, and tried to used the `Host profiles and configuration setup` dialog to install host profiles.

After selecting those I wanted, hitting install and restarting Visit they were not there.
I checked my ~/.visit. I ended up having to manually copy them in.

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity p

[2019-08-07 20:46] brugger1 opened #3742 "Add git lfs pull to nightly regression suite."
### Describe the bug

The nightly regression suite does an lfs pull to pick new files, but it doesn't do an git lfs pull, so the lfs content isn't getting updated. This causes the nightly test suite to fail when baselines or data files are changed or added. Eric then needs to manually do an git lfs pull and wait for the next day for the tests to pass again.

**Impact**
- [ ] High - User productivi

[2019-08-07 20:48] cyrush opened #3743 "remote profiles broken post git migration"
### Describe the bug
The host profiles window still tries to pull from svn.

It is pointed at the IL-svn, which exists --  except that svn won't contain the release tags for 3.0 or newer. We need to change the url.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - User productivi

[2019-08-07 20:54] cyrush opened #3744 "Integral Curve operator seems to need multiple applies to get all the settings"
### Describe the bug

While developing the potential flow tutorial example -- I noticed that my number of seed points
would not correctly take unless I hit apply multiple times.  I suspect this is due to the optional logic which enables different options based on the seed type, we should dive deeper and resolve the issue.

**Helpful additional information**
(*Please click check boxes AFTER submitt

[2019-08-07 20:57] cyrush opened #3745 "lambda2 and q-crit docs"
### Describe what needs to be documented.
A user wanted to learn how to use these at ATPESC 2019, docs were not there and I couldn't remember the specifics of how to pass in the gradients off the top of my head.

### Is the documentation missing?
Add basic info about these two to the expressions docs.

(There may already be a request for this, but I couldn't find the issue?)

[2019-08-07 21:00] cyrush opened #3746 "path for binary releases for ubuntu 18"
### Is your feature request related to a problem?

We need a path for building binary releases for ubuntu 18.

Given how lib files names are evolving to actually include their versions (for example libpng15 and  libicui18)-- we can't expect to compile with older versions of the OS and get forward compatible  results.

Docker may help, but we need to be able to test with a full featured ubuntu inst

[2019-08-07 21:06] griffin28 commented on #3745
In the meantime you can pull examples from: visit/src/test/tests/hybrid/qcrit.py (lambda2.py).

DefineScalarExpression("qcrit", "q_criterion(gradient(velocity[0]), gradient(velocity[1]), gradient(velocity[2]))")

 DefineScalarExpression("lambda2", "lambda2(gradient(velocity[0]), gradient(velocity[1]), gradient(velocity[2]))")

[2019-08-07 21:38] #3702 closed, assigned to biagas

[2019-08-07 22:32] #3742 closed, assigned to brugger1

[2019-08-08 16:16] brugger1 opened #3751 "Add adios2 to the Mac OSX distributions."
Add adios2 to the Mac OSX distributions.

**Impact**
- [X] High - User productivity significantly improved
- [ ] Medium - User productivity partially improved
- [ ] Low - User productivity trivially improved

[2019-08-08 21:27] biagas commented on #2801
User never provided data files.

[2019-08-08 21:27] #2801 closed, assigned to biagas

[2019-08-08 22:16] #3726 closed, assigned to biagas

[2019-08-09 08:16] iljah opened #3754 "VisIt hangs forever in creating simple movie"
### Describe the bug

Tried to create simple movie and after getting through menus VisIt hung forever trying to start CLI or something like that. Meanwhile this was printed in terminal: `ERROR:  Can't run xterm. No such file or directory`

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [

[2019-08-09 08:18] iljah commented on #3754
Installing xterm fixed this but would've been nice if Visit didn't wait forever after noticing that xterm is missing...

[2019-08-09 17:57] cyrush opened #3755 "rubberband zoom off (macOS issue?)"
### Describe the bug
using the zoom interaction mode on a 2d plot, when i click to do a zoom, the rubberband rectangle doesn't correspond to my mouse.  It is always much lower and further to the right than where i click.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [x] Did you get wrong results?

**Impact**
- [ ] High - User prod

[2019-08-09 18:02] cyrush commented on #3755
this only happens when I have my retina screen in use.
I also get strange annotation results when i move between my retina screen and my external monitor.
![Screen Shot 2019-08-09 at 11 00 35 AM](https://user-images.githubusercontent.com/1194526/62799216-1531f600-ba95-11e9-986c-898a80276e30.png)
<img width="1166" alt="Screen Shot 2019-08-09 at 11 00 42 AM" src="https://user-images.githubuserconten

[2019-08-09 22:02] cyrush opened #3756 "support pvd files?"
### Is your feature request related to a problem?
An attendee at ATPESC19 asked about pvd support.

These appear to be vtk xml files that group timesteps and provide a time value for each entry.

We were able to create a .visit file that grouped the steps, but it may be nice to support these files directly.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [ ] High - User producti

[2019-08-10 04:17] #3751 closed, assigned to griffin28

[2019-08-12 13:40] josephhennessey commented on #3720
Eric,

Sorry, I did not respond sooner, I was on vacation last week.
I am glad you were able to reproduce the error.

Thanks,

Joe Hennessey

________________________________
From: Eric Brugger <notifications@github.com>
Sent: Tuesday, August 6, 2019 7:25 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Joseph G. Hennessey <josephhennessey@hotmail.com>; Author <author@noreply.github.com>
Subj

[2019-08-12 16:49] rusu24edward commented on #3381
According to the ticket description, it seems that the "definition of done" can be broken down into 3 parts:
1. Instead of printing a question mark, the writer should print "unknown atomic element". Update the writer and reader accordingly.
1. Confirm that PR #3380 fixes the precision/notation problem. If not, investigate and fix the issue.
1. Investigate why the pressure variable is not appearing

[2019-08-12 16:51] rusu24edward commented on #3381
@markcmiller86 Since we are unable to reproduce the issue, I think it would be best if I could access the user's data directly.

[2019-08-12 17:22] markcmiller86 commented on #3381
User is scullard1 and olson45. Please contact directly. From 04Apr19 email...

[code]

[2019-08-12 17:43] rusu24edward commented on #3381
Just emailed the users for their data. Thanks for the extra info!

[2019-08-13 16:03] brugger1 opened #3761 "VisIt not installed on Cori after major OS upgrade."
### Describe the bug

Mikhail Dorf reported that he tried to run visit client/server to Cori and it appears that VisIt is no longer installed on the machine. I checked and it isn't in either "/usr/common/graphics/visit" or "/usr/common/software/visit".

**Impact**
- [X] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User productivity

[2019-08-13 16:05] brugger1 commented on #3761
I had an build of VisIt 3.0.1 installed on Cori and tried it out. The customlauncher is failing with an error message.

[2019-08-13 16:58] brugger1 commented on #3761
I contacted NERSC and David Camp is working on building 3.0.1 and installing it in a public location. I am reopening this ticket until I can confirm that David has installed VisIt and it works.

[2019-08-13 17:43] rusu24edward commented on #3381
The XYZ writer only looks for point data from the dataset. It does not look for cell data. I believe this is by design (since each variable is printed with the nodal coordinate), so if variables are not coming out then it may be because the user is attempting to export cell-centered data. I will know more when they respond to my email.

[2019-08-13 17:53] markcmiller86 commented on #3381
Well, so for point meshes, which is all XYZ plugin supports I think, cell-centered (or zone-centered) and point-centered (or node-centered) essentially mean the same thing.

However, in VTK, there is a potential impendance problem if the mesh consists *only* of points and no cells. This can happen if there were no calls to create the `VTK_VERTEX` cells. These are *cells* that consist of just a sin

[2019-08-13 20:23] #3474 closed, assigned to brugger1

[2019-08-13 22:20] cyrush opened #3766 "replace online help with sphinx docs"
Interim:
Provide read the docs link.

Desired Final State:
Sphinx docs distributed with visit releases.

[2019-08-13 22:26] cyrush opened #3767 "remove check for new visit versions"
In the help menu, we have "check for new version"
It has atrophied.

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [x] Low - User productivity trivially degraded

**Likelihood**
- [ ] High - occurrence is not specific to platform, data, config, a combination of operators, queries, etc.
- [ ] Medium - neither low nor high like

[2019-08-13 22:39] brugger1 commented on #3766
We should also add the release notes to the Sphinx documentation.

[2019-08-13 22:52] brugger1 commented on #3745
This should be documented in the Sphinx documentation in Quantitative/Expressions.rst.

[2019-08-14 15:55] brugger1 opened #3770 "Turn off Qt error messages in launch script."
### Is your feature request related to a problem?

We occasionally get Qt error messages that are innocuous and sometimes confuse users. These can be turned off. Here is the e-mail from Greg Lee with a solution.

Eric and JoAnne,

FWIW, I figured out how to suppress error messages from XCB. If you set QT_LOGGING_RULES="*=false" in your environment, then you won’t get the innocuous error messages:

[2019-08-14 18:31] biagas opened #3771 "Modify SetUpThirdParty.cmake to handle lib64 locations"
There are a couple of TP libs that may get installed to a 'lib64' dir, not 'lib'.
(ADIOS2, Nektar++, zlib).    The find module for these routines have logic for looking in lib64, but perhaps SetUpThirdParty.cmake should be modified to handle this directly.

This would help developers of new Find modules not having to consider this, and upgrades to TP that suddenly start installing to lib64 would b

[2019-08-14 22:17] #3739 closed, assigned to griffin28

[2019-08-15 01:17] biagas commented on #3743
What is the URL? I've tried github, nersc.
The logic in QvisHostProfile assumes it will receive html files.

[2019-08-15 01:26] biagas commented on #3741
Unassigning myself. The ticket is tagged as OSX, and I cannot duplicate on linux or windows.

[2019-08-15 13:29] cyrush commented on #3743
I'll take a look

[2019-08-15 15:55] cyrush commented on #3743
It uses HTTP  pull our networks.dat file, and then the corresponding  host profiles.

Here is an example url we should be able to use for a the 3.0.0 release tag:

`https://raw.githubusercontent.com/visit-dav/visit/v3.0.0/src/resources/hosts/`

In the GUI logic, this later becomes:

`https://raw.githubusercontent.com/visit-dav/visit/v3.0.0/src/resources/hosts/networks.dat`

And so on.

So we just

[2019-08-15 16:09] brugger1 commented on #3770
We shouldn't do this for all messages. There are different levels of messages and we can turn off some of them.

[2019-08-15 16:10] biagas commented on #3770
Here's a link to more information about logging.
https://doc.qt.io/qt-5/qloggingcategory.html

[2019-08-15 16:12] brugger1 commented on #3735
Kathleen was unable to duplicate this on Linux, so this could be Mac specific.

[2019-08-15 16:31] biagas commented on #3743
I used that GIThub url, and was able to get the networks.dat text file. Which is fine. Sort of.
But the current logic that grabs the entire hosts directory doesn't work. Looks like the svn retrieval returned html content that could be parsed for directory structure.  github afaict won't allow directory retrieval like that. Need to know the exact file names that we want to retrieve. Which probably

[2019-08-15 16:32] brugger1 commented on #3719
We should throw an exception because negative material numbers are not supported. This should result in a message to the user.

[2019-08-15 16:39] brugger1 commented on #3363
This is related to #3727

[2019-08-15 16:40] brugger1 commented on #3719
Mark volunteered to do this for 3.1, so if we don't get it done before then, we can assign it to him.

[2019-08-15 16:49] cyrush commented on #3743
i see, maybe we should rethink a bit more.

Instead of the networks.dat file, we could use a yaml file that does a better job.  One option is conduit to parse the yaml.

[2019-08-15 16:50] brugger1 commented on #3727
We should deal with this by doing #3363

[2019-08-15 17:10] biagas commented on #3743
Interesting. Found  [dir2yaml.py](https://btmiller.com/2015/03/17/represent-file-structure-as-yaml-with-python.html) (requires PyYAML) that could be used to automatically generate the yaml file representing the hosts directory structure.

Can conduit be used in our gui?

[2019-08-15 18:37] brugger1 opened #3775 "Add ability to output color information in obj files."
### Is your feature request related to a problem?

Here is the e-mail request from Daniel Ross motivating the request.

From: Ross, Daniel <rossdb@ornl.gov>
Sent: Wednesday, August 14, 2019 6:17 AM
To: Brugger, Eric <brugger1@llnl.gov>
Subject: Visit image saving

Eric,
It has been a while since I contacted you I was hoping you could point me to some documentation on how to export the image produc

[2019-08-15 18:59] biagas commented on #3775
Our current writer (using vtkOBJWriter) cannot do this.
vtkOBJExporter may do this, but it requires a different mechanism than the writers. The input is taken from a render window, not a dataset.
I would have to see specification of OBJ files to even understand how color information should be stored.

[2019-08-15 19:03] markcmiller86 commented on #3775
[This update](https://github.com/visit-dav/visit/commit/f4308b7aa2594060dc57a81cd66d7ad4ee4aba60) added color support in the reader. I suspect we can do something equivalent to the writer though I don't know where the color information would get associated with the VTK dataset objects passed to the writer.

[2019-08-15 19:05] #3767 closed, assigned to cyrush

[2019-08-15 19:32] biagas commented on #3775
Color information isn't associated with the dataset. Scalars are mapped to colors by the Mapper before rendering. Or the Actor has a single color stored in its Property if coloring isn't from scalars.

[2019-08-15 20:47] #3074 closed, assigned to griffin28

[2019-08-15 21:18] markcmiller86 commented on #3775
What about *material* colors? We have ways for databases to specify colors to associate with materials (Silo and WavefrontOBJ already do this) upon read. Can't we pass material color information (which either comes from the database on read or which gets defined in VisIt during display of colors either by default material color or by user adjusting coloring in filled boundary plot) along to an exp

[2019-08-16 02:08] markcmiller86 opened #3778 "VCR buttons support only cycles but preferences suggest other options"
### Describe the bug
VCR button label in upper left is `"Time"`. However, the VCR slider displays *only* cycles. So, that is the first issue. It may be the case in the distant past when we had selected files window, that would support both cycles and times. However, the VCR buttons only support cycles.

Next issue is that prefs seem to suggest that support for time is possible and even *cycles and

[2019-08-16 19:02] markcmiller86 opened #3779 "VCR and Annotation Time Slider Issues"
### Describe the bug
This involves two databases with different numbers of states.

Create `wave_smaller.visit` like so...

[code]
Note that both databases match at certain cycles/times.

1. Open `wave.visit` and `wave_smaller.visit`.
1. Put up PC plot of pressure from each.
   * Maybe y-translate one from the other so you can tell them apart.
1. Create a database correlation based on time.
1. Set

[2019-08-19 15:30] brugger1 opened #3781 "Bottom of expanded plot sometimes cut off in plot list."
### Describe the bug

It looks like the plot list scrolling is in increments of an expanded plot, so if the expanded plot doesn't fit in the plot list, the bottom of the expanded plot is cut off.

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [X] Low - User productivity trivially degraded

**Likelihood**
- [ ] High - occurren

[2019-08-19 19:15] brugger1 opened #3783 "Duplicate/Incorrect text in VisIt screen shots web page."
Here is the e-mail from Charles Reynolds, who reported the issue.

Noticed that the last two text blocks on this page are duplicates: https://wci.llnl.gov/simulation/computer-codes/visit/screenshots

[2019-08-19 20:03] biagas opened #3784 "Lighting window background looks like it grabs part of display"
Open the lighting window, the background for the edit/preview of the scene is garbled, looks
like it is grabbing from some screen buffer. I would say whatever is behind it on my display, except that isn't truly the case based on the image.

![Screenshot-Lighting-1](https://user-images.githubusercontent.com/17075318/63295118-bf253580-c280-11e9-886f-e93f7767d292.png)

I've duplicated this only on Li

[2019-08-20 01:42] markcmiller86 opened #3786 "Node picks on glyphed plots need fuzz-factor"
### Is your feature request related to a problem?
Many glyphs change screen size of nodes (box, sphere, etc.). When picking on them, it would be good if pick took the extra distance/space into account. As I picked on the attached plot, I was confused that many of my picks failed. If I didn't hit the exact center of the glyph, the pick would fail. Its reasonable for the user to expect any point on

[2019-08-20 17:46] aowen87 opened #3787 "OSPRay ambient occlusion and light direction"
### Describe the bug
Johannes Guenther from Intel has noticed the following issues with the OSPRay renderer:
1. Toggling ambient occlusion does not have any visible effect.
2. Shadows do not move when light direction is changed (but the lighting does change).

**Helpful additional information**
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - User productivity signi

[2019-08-20 18:23] rusu24edward commented on #3515
Main thoughts from meeting with @markcmiller86 and @cyrush today (08/20/19):

* Python does not have the ecosystem/libraries to natively support grids the way that our users want to use them. The path forward here would involve recreating lots of visit code in python, which would still rely on vtk, whose numerical accuracy is dubious.
* Therefore, it looks like the correct path forward is to work

[2019-08-20 21:06] #3730 closed, assigned to brugger1

[2019-08-21 01:52] markcmiller86 commented on #3515
@rusu24edward It hadn't occurred to me to ask. We were so focused on numerical python...are there perhaps other python packages we could leverage? I am listing below just a few I found with a quick google search. A more thoughtful search will probably reveal other/better options to consider too.

* [PyMesh](https://pymesh.readthedocs.io/en/latest/)
* [SfePy](http://sfepy.org/gallery/)
* [FEniCS](h

[2019-08-21 03:45] cyrush commented on #3515
@markcmiller86 these things might be nice to connect for an eager user, but I don't think they provide a good path forward here given how complex they would be to deploy with VisIt.

The MFEM path is something we have wanted to explore as another path in addition to VTK (not behind the VTK API), but lots of re-architecting would be needed to lay the ground work for things like expressions.

[2019-08-21 15:44] markcmiller86 commented on #3515
I am sure I don't appreciate the complexities here but why is that any more of an issue for these other python packages than it is for something like numpy?

[2019-08-21 18:04] BradWhitlock opened #3791 "VisIt MFEM reader build failure (lacks Conduit in XML and CMakeLists.txt)"
I ran build_visit to generate my 3rd party libraries and I had a lot of flags, including: --parallel --mfem --conduit. This caused MFEM to build with support for Conduit, which is recorded into MFEM's config.h header file.

Later on, when I was building VisIt, the MFEM reader would not build because it cannot find conduit.hpp. I checked the MFEM.xml file and CMakeLists.txt for the plugin and it la

[2019-08-21 18:28] biagas commented on #3791
build visit should have created an VISIT_MFEM_INCDEP entry in the generated host profile that indicates MFEM's include dependency on conduit.  Is that entry there?