[2021-10-26 15:56] markcmiller86 commented on #17072
Note...I don't see any `VELOCITY_Z` in this dataset. I see only `VELOCITY_X` and `VELOCITY_Y`. However, [this screenshot](https://user-images.githubusercontent.com/83052381/138798598-fa5dd1b2-9b91-4000-8abf-7b6b14133567.png) from you suggests there are `Z` components also.

In the example above, I think we have 2D data but where its been defined in 3D with a Z value of zero. So, when I composed th

[2021-10-27 00:03] biagas commented on #5777
I created a Linux Mint Docker container, filled it with the usual development packages and the necessary X11 and libxcb packages as spelled out in Qt's [Linux Requirements doc](https://doc.qt.io/qt-5/linux-requirements.html) and [Building Qt 5 wiki](https://wiki.qt.io/Building_Qt_5_from_Git)

Qt built successfully with the X11 and libxcb plugins (xcbglintegrations), and VisIt packaged up successfu

[2021-10-27 00:03] #5777 closed, assigned to brugger1

[2021-10-27 00:03] biagas commented on #5768
There is also this wiki which has more information about the libxcb requirements for various systems:
https://wiki.qt.io/Building_Qt_5_from_Git

Not sure if it is better to include links to the Qt wiki directly or pull the information out (in case the link changes in the future) and reference that the content came from the Qt pages.

[2021-10-27 00:13] markcmiller86 commented on #17072
@wl23321 we discussed this a bit further in our weekly meeting and had the following additional comments...

* We're converting this to a [discussion](https://github.com/visit-dav/visit/discussions)
* We wonder if the variables listed in screenshot [`cfdpost`](https://user-images.githubusercontent.com/83052381/138798598-fa5dd1b2-9b91-4000-8abf-7b6b14133567.png) could be variables that that tool co

[2021-10-27 00:13] #17072 closed, assigned to nobody

[2021-10-27 00:53] markcmiller86 commented on #17081
@ARSanderson says its fine on his system.

I can run 3.2rc and get into `~/Downloads` fine but I still cannot get into `~/Documents`. So, this behavior is varying by VisIt version for me.

I suspect it has something to do with security settings in some way.

[2021-10-27 00:53] #17081 closed, assigned to nobody

[2021-10-27 21:36] brugger1 opened #17084 "Typo in VisIt documentation"
From Esteban Pauli:
Hi Eric,

The last example at the “Opening a virtual database” section of https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/quickrecipes.html#opening-a-virtual-database has a typo whose interpretation is not immediately obvious to the uninitiated like myself. It says I should call the following to open multiple files:

OpenDatabase("/usr/local/visit/d

[2021-10-27 21:39] markcmiller86 commented on #17084
I think the dot (`.`) after `database` is an error. That char shouldn't be there I don't think.

The correction is

[code]

[2021-10-30 04:05] markcmiller86 opened #17088 "We need a data model primer"
### Describe what needs to be documented.

One whole section missing from our manual is our data model. We have bits and pieces of it all about I think but we need to have a whole section on data model if for no other reason than to just orient users with terminology. We should aim for brevity (and minimize detail) in the description but many links to other resources. Some of the key concepts that

[2021-11-02 18:26] cyrush opened #17091 "read the docs build are broken"
### Describe the bug

default build env isn't healthy (this is not unique to VisIt)

readthedocs/readthedocs.org#8616

Fix from axom:

LLNL/axom#696

[2021-11-02 18:29] markcmiller86 commented on #17091
How did you notice? Did you get email notification of build failures?

[2021-11-03 17:55] #17091 closed, assigned to cyrush

[2021-11-03 18:21] markcmiller86 opened #17097 "Enhance entitlements in masonry to be relative rather than absolute path"
### Is your feature request related to a problem?

In masonry's `mbopts.json` file, there is a member there named `entitlements` that specifies a path to an entitlements file which enables Apple's code-signing stuff to ensure the correct permissions are set on various paths and resources.

Currently, it uses an absolute path which means it works only on the machine who last updated it.

We should

[2021-11-03 20:21] DevinBayly commented on #13246
In case folks are like me reading this I found that I also needed to use the `host profile` option `Specify Manually`.

[2021-11-03 22:06] DevinBayly opened #17098 "Documentation for process of registering a computing center"
### Describe what needs to be documented.

I'm a visualization consultant with the University of Arizona's HPC and I'm trying to help us get listed in the computing centers host profiles for our users, but haven't seen in the documentation where the steps for this are.

### Is the documentation missing?
I believe I may have just not searched enough but these are the places I've checked.

- https:/

[2021-11-03 22:30] biagas commented on #17098
Do you have host profiles to contribute the the repository?
If so, follow our [github developer documentation](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/dev_manual/GitHub.html) mainly sections 1 and 3

Host profiles should be placed in visit/src/resources/hosts/<compute center name>

Also follow the instructions in visit/src/resources/hosts/README for updating the networks.

[2021-11-04 00:39] markcmiller86 opened #17100 "Clean up /project dir at NERSC"
We have about 1/3 of a terabyte of stuff in `/project/projectdirs/visit` at NERSC.

We should try to give as much of this space back to them as we can. `svn` and the old `www` dirs are the biggest by far

[code]

The following users have dirs there that are not group writeable meaning we cannot clean it up for them...

[code]

[2021-11-04 14:44] biagas commented on #17098
If you were looking only to distribute the host profiles locally, take a look at the Host Profiles  section in [File Locations](
https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/File_Locations.html?highlight=profile) doc.

[2021-11-04 16:54] DevinBayly commented on #17098
Hello there! That makes total sense that there are custom files that compute centers contribute via PR. I looked at a few of them and I'm not sure if I know how to on my own put together something like this `customlauncher` https://github.com/visit-dav/visit/blob/develop/src/resources/hosts/asu/customlauncher.

Perhaps the issue you merged here https://github.com/visit-dav/visit/pull/17099 is goin

[2021-11-04 17:16] biagas commented on #17098
The steps for creating a Host Profile via the gui are outlined in great detail in the [Host Profiles section](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/ClientServer/Host_Profiles.html) of the ClientServer doc.

After filling in all the necessary details, if you save your settings before you exit VisIt,  the .xml files will be created and saved   in your ~/.visit/

[2021-11-04 18:28] DevinBayly commented on #17098
Ah yes, I think I read through the host profiles section, and I don't think it's immediately clear what I should do to create a host profile that works between sessions. In the simplest case I got on our HPC VPN and then used the ip of the single node allocated for the Host Profile, but this will change each time a user gets a new allocation.

Can you advise how I should fill in the host profile f

[2021-11-04 23:57] #17098 closed, assigned to biagas

[2021-11-05 21:55] sportil opened #17107 "bounding box improperly placed"
### Describe the bug
Bounding box on manual does not display properly see image below.  The box, regardless of the manually selected limits appears below the data

**Helpful additional information**
 - Did VisIt crash: no
 - Did you get wrong results:

### To Reproduce
Steps to reproduce the behavior. For example:
1. Go to 'plot pseudocolor on a particle trajectory'
2. Click on 'select annotation

[2021-11-05 22:18] sportil opened #17108 "pseudo color plot not displaying properly when lighting selected"
### Describe the bug
The color is not shown when the pseudo plot is rotated.  It slowly starts to go to black as the angle is changed until the only color shown is black.  the color bar or temperature bar is shown correctly.  See images.  it starts fully black then color appears as rotation increases

![image](https://user-images.githubusercontent.com/60985593/140583450-09aeac0a-2cfc-439d-9570-99a

[2021-11-05 22:43] biagas commented on #17108
It looks like at least part of this is a point cloud, is the entire thing a point cloud?
Are you using default settings  for Pseudocolor plot? If not what are the settings being used?
What Settings for the Transform operator were applied?

If you change the Pseudocolor's  Point type (from the Geometry Tab in the Pseudocolor Attributes window) does it perform better?

This bug may be very data depe

[2021-11-05 22:49] biagas commented on #17107
If you perform a Spatial Extents query on the actual data, how do the reported extents  correspond to the  bounding box values you are trying to set manually?

![SpatialExtentsQuery](https://user-images.githubusercontent.com/17075318/140586599-9a945d9f-9aff-49e5-b8e4-a411c88af283.PNG)

[2021-11-05 22:55] biagas commented on #17107
Also what options are set for the Transform operator?

[2021-11-06 09:22] sportil commented on #17108
Hi, its dependent on the transform and that it affects both macs running 10.14.6 and 10.15.x
Yes the entire thing is a point cloud and I use the standard settings of the pseudoplot.  the transform is simply a cylindrical to cartesian coordinate trans.

it fails even with one single time point if I apply the transform operator.  I will send a pdf with a bit more images and I can share 1 exo file

D

[2021-11-06 09:33] sportil commented on #17107
Here is a pdf with answers to your questions and more info.  It is the transform operator from Cyl to cartesian that is causing the issue.  I can share one time point exodus file as it occurs with just one or many
[Note Nov 6, 2021.pdf](https://github.com/visit-dav/visit/files/7490173/Note.Nov.6.2021.pdf)

Thanks

[2021-11-06 18:36] sportil commented on #17108
Hi,
The above is in response to the other issue.  with respect to your questions
1.  It is a standard pseudoplot, nothing changed from default settings
2. changing from point to sphere does not matter it still has the same color issue

[2021-11-07 03:27] markcmiller86 commented on #17108
FYI...I can reproduce the behavior you describe if I use non-point type glyphs (e.g. spheres, boxes, etc.) and an _object_ type light. In that case, the light moves *with* the object...it is always at a fixed position relative to the object. So, as you rotate the object, you can arrive at an orientation where the viewer direction is in the opposite direction of the light direction...causing it all

[2021-11-07 09:08] sportil commented on #17108
Thanks Mark, perhaps that is it and solves the issue.

[2021-11-07 19:55] jiamingl98 opened #17109 "Black window screen for VisIt 3.1.0"
Hi,
I installed VisIt 3.1.0 and I tried to draw the plot but the window is always black. Is this the GPU problem? I only have one GPU and it is Intel HD Graphics 4400.

![image](https://user-images.githubusercontent.com/30421170/140659788-6c49fee8-f51d-472f-8a1e-5c221812bee3.png)

[2021-11-08 17:11] ARSanderson opened #17110 "avtWorldSpaceToImageSpaceTransform - wrong spatial bounds"
avtWorldSpaceToImageSpaceTransform is a "helper" transform for rendering. However, the handling of the resulting spatial bounds are not updated. They are only marked as being InvalidateSpatialMetaData.

This action maybe correct given this class is a "helper" transform for point sampling. However, avtResampleFilter also uses these results.

The issue is further compounded by the fact within avtWor

[2021-11-08 17:18] ARSanderson opened #17111 "avtResampleFilter does not check for invalid spatial bounds."
Related to this issue: https://github.com/visit-dav/visit/issues/17110

When avtResampleFilter::GetBounds is called it does not check for invalid spatial bounds. It assumes the spatial bounds are correct. Because avtWorldSpaceToImageSpaceTransform does not correctly set the spatial bounds only marks it as invalid avtResampleFilter does work correctly. I found this in working on some test code.

It

[2021-11-08 17:22] brugger1 commented on #17109
This is graphics driver issue. What operating system are you running on and what operating system version did you install (e.g. centos8, debian9, fedora27, rhel7, rhel7-wmesa, ubuntu16, ubuntu18, ubuntu19)?

[2021-11-08 17:35] ARSanderson opened #17112 "avtResampleFilter - parallel distribution not correct. Error in avtImagePartition::EstablishPartitionBoundaries"
I have a simple four domain data set that I resampled and the distributed on to four ranks. I was expecting that each rank would have data. They did not. Only three of the four ranks had data. That would be okay but the resampling left gaps in the data which is also not correct. Theses gaps are clearly seen in the last three images, when using 4, 5, and 6 ranks. The first two images use 2 and 3 ra

[2021-11-08 17:49] markcmiller86 commented on #17112
@ARSanderson how thick (in terms of numbers of elements) is the dataset in the Z dimension? It looks like it could be just one element thick making it a somewhat unusual case that maybe resample operator isn't yet designed for.

[2021-11-08 17:51] markcmiller86 commented on #17108
Well, can you at least confirm that a) the light type you were using here was an *object* type light and b) the glyph type you were using for your point data was not *point* type? If both those conditions are true, then I think the results are expected.

[2021-11-08 18:01] markcmiller86 commented on #17111
I don't know enough about the pieces of code you are referring to (nor the use case you are trying to support) to know what is the best resolution here.

If we have a way to declare that bounds are *invalid*, then IMHO any attempt to retrieve bounds that have been declared *invalid* should result in some kind of exception or error condition.

It sounds like this is not happening and instead `avtSa

[2021-11-08 18:06] ARSanderson commented on #17112
@markcmiller86 - correct, see second image (just added). I would not think that a dimension of 1 would cause any issues. One can not subdivide. To me is it more of modulo issue in the Y axis. But then again with 4 ranks where 3 data set were produced I would expect 3 relatively evenly sized samples in Y. That is not the case. Which is also bothersome.

Regardless though the dimension of 1 is on th

[2021-11-08 18:17] markcmiller86 commented on #17110
In looking at `avtSampleFilter` code, I see the call to `avtWorldSpaceToImageSpace` transform is embedded in that and it appears to be there to satisfy the interface of `avtSamplePointExtractor`.

I am thinking that `avtSamplePointExtractor` is designed to work in some kind of *normalized* space of the dataset, independent of any *view* related stuff. But, it may have all originally been integrate

[2021-11-08 20:08] ARSanderson commented on #17111
@markcmiller86  To answer your last question. At the end of the day World-to-Image-Space transform is just a transform of the data. Under the hood avtTransformFilter is used but with a **specific** transform. As such, that should not preclude other filters such as avtResampleFilter from being used. For instance, I can get the World-to-Image-Space transform, manually give that to avtTransformFilter

[2021-11-08 22:29] DevinBayly opened #17113 "Understanding custom launcher scripts for HPC hosts"
Hi there,

Originally I started a request for more documentation related to the process of registering a compute center with visit https://github.com/visit-dav/visit/issues/17098 and I have learned plenty in the process.

This issue is more about needing to understand custom launchers to navigate the security measures in place on my HPC. In the previous issue I posted a small diagram of the struct

[2021-11-08 22:43] markcmiller86 commented on #17113
@DevinBayly... before I get deeply into this...to what extent do you anticipate passwordless ssh can or will play a role in enabling your users to make these connections?

Reason I ask is that we had a similar set up here at LLNL...a gateway machine (which permitted only a handful of shell commands) from which users would then access various central compute resources. Passwordless ssh from the gat

[2021-11-08 23:06] doutriaux1 opened #17114 "Making a movie from 2 windows"
### Describe what needs to be documented.
I would like to know how to generate a movie combining plots in 2 windows (side by side)
### Is the documentation missing?
It appears so

*Please provide the url of the documentation.*
?

[2021-11-08 23:12] doutriaux1 opened #17115 "Trying to Plot diff between 2 databases"
### Describe the bug
Bringing a variable from a mesh to another (identical mesh) does not seem to work

**Helpful additional information**
 - Using con_cmfe(var, mesh) the genrated variable has different values than the original even though both mesh are identical.

### To Reproduce
Steps to reproduce the behavior. For example:
1. Go to 'Contro -> Data Level comparison'
2. use wizrd to bring var f

[2021-11-08 23:15] DevinBayly commented on #17113
Hi there, I'm willing to bet it would be a useful thing to include. The users at my institution who are anticipating this the most highly are interested in having "fewer steps" all around; if they also don't have to type their password in to a prompt each time they start a visit session on our HPC that would be a positive thing.

This does sound similar so I'm excited to know that a strategy imple

[2021-11-08 23:21] biagas commented on #17114
There is info here:
http://www.visitusers.org/index.php?title=Side_by_Side_Movie

but it should probably be incorporated into RTD.

[2021-11-08 23:23] doutriaux1 commented on #17114
Thank you! Thank you! Thank you! It was right there under my eyes the whole time! Thanks again I could I have spent days looking for this I'm sure!

[2021-11-08 23:29] biagas commented on #17114
Glad to help.  You might find Discussion topic #17090 useful as well.

[2021-11-09 07:40] jiamingl98 commented on #17109
@brugger1 Windows 8.1

[2021-11-09 16:44] #17113 closed, assigned to nobody

[2021-11-09 16:48] cyrush commented on #13245
resolved in #17019

[2021-11-09 16:48] #13245 closed, assigned to cyrush

[2021-11-09 17:30] brugger1 commented on #17109
The Windows version of VisIt normally just works. My only suggestions are to update the graphics driver or try a different version of VisIt. Our recent versions should work on Windows 8.1, but it is pretty old. I would try 2.13.3.

[2021-11-09 23:21] sportil commented on #17108
It only happens with point, with sphere rotating the image maintains colors.  Also, I tried icosahedron and the color still works regardless of rotation.  It only fails with point type.

in pseudocolor plot attributes/data under opacity there is a switch labeled lighting.  if that switch is turned off the color reappears and works regardless of rotation with point type.

under controls/lighting
li

[2021-11-10 01:20] markcmiller86 opened #17121 "Test suite is missing good coordinate transformation tests"
### Describe the bug

If you look at [transform.py](https://github.com/visit-dav/visit/blob/2bace1645b7f0ca764eb092f02a1daa959459639/src/test/tests/operators/transform.py) you find these remarks from @jsmeredith, https://github.com/visit-dav/visit/blob/2bace1645b7f0ca764eb092f02a1daa959459639/src/test/tests/operators/transform.py#L42-L43

And although indeed `rect2d.silo` is a 2D problem which exh

[2021-11-11 17:44] biagas opened #17122 "-vtk-debug appears not to be working"
### Describe the bug
-vtk-debug is supposed to call DebugOn for vtk objects (filters, data-arrays) in the pipeline.  The output from VTK's debug mode is printed to the engine's debug 1 log file.

It seems to do nothing.  I turned it on and got nothing in the generated log file related to vtk objects.

I grep'd source code and found two places where DebugOn is called:
avtVariableCache::GetVTKObject

[2021-11-11 23:41] #5760 closed, assigned to biagas

[2021-11-16 08:18] wazedxwxx opened #17128 "Black window screen for VisIt 3.2.1"
### Describe the bug
Hi, I installed visit 3.2.1. I completed the Mpich version build  by running the build_visit_3_2_2 script. The problem is that a black window is generated when opening Visit, seem as #17109

![2021-11-16 16-09-33 的屏幕截图](https://user-images.githubusercontent.com/59836980/141946098-1609e084-8a58-4e41-951b-b6a902ae696f.png)

### Attachments
In addition, I found that all windows a

[2021-11-16 16:04] biagas opened #17129 "Fix deprecated 'gethostbyname' warning on Windows builds."
### Describe the bug

\src\common\comm\ParentProcess.C(622): warning C4996: 'gethostbyname': Use getaddrinfo() or GetAddrInfoW() instead or define _WINSOCK_DEPRECATED_NO_WARNINGS to disable deprecated API warnings

There are similar warnings in RemoteProcess.C, SocketBridge.C, HostProfileList.C

### Desktop
 - OS and version: Windows 10
 - VisIt Version: 3.2, develop
 - Server info (if applicable)

[2021-11-16 21:20] biagas commented on #17128
Take a look at this [discussion 5664 comment](https://github.com/visit-dav/visit/issues/5664#issuecomment-882701849).
Does following the instruction there resolve your issue?
If not, what options did you pass to build_visit ?

[2021-11-16 21:27] brugger1 opened #17131 "Log scaling with curves displays excess digits."
When creating a curve plot and choosing a log scale, VisIt puts labels at all the multiples of 10. It tries to use normal notation when in the range .01 (which it displays as 0, so it is a bug) to 100,000, but switches to scientific notation when out of that range. When it goes into the negative exponent range, it frequently displays extra zeros. There is no reason to display any zeros. Here is an

[2021-11-17 01:54] wazedxwxx commented on #17128
Thank you! Following your suggestion, I Removed this line "setenv QT_XCB_NATIVE_PAINTING " in "bin/internallauncher" script. The black window issue has been fixed！

[2021-11-17 01:56] #17128 closed, assigned to nobody

[2021-11-17 03:04] wazedxwxx opened #17133 "The built visit 3_2_1 reads the file error"
### Describe the bug

Hi, I would like to use the parallel version visit to read the simulation results of amrex. When I use the released ubuntu 20 visit 3.2.1, the file can be read normally. But when using the visit built by the build_visit script, an error occurred when reading the file.

[code]
In addition, I tried to open the *.vtk file with the built version, the vtk file can be opened correc

[2021-11-17 03:15] markcmiller86 commented on #17133
Hmmm...the `<No suitable plugins were identified>` is a part of the problem. VisIt hasn't even attempted to open and read the header file yet because it doesn't think there is a plugin that supports it.

I can't recall but a long time ago, AMReX produced *Boxlib* files that VisIt read. More recently, I think it is capable of producing some other formats like maybe *Conduit/Blueprint* or another va

[2021-11-17 07:09] wazedxwxx commented on #17133
Thank you very much! I can open it after  selecting `Boxlib 2d/3d` format !

[2021-11-17 14:57] #17133 closed, assigned to nobody

[2021-11-18 09:37] alhom commented on #5802
Probably related: Running `WriteScript` fails with

[code]

which seems to be one of the Python 2->3 deprecations.

[2021-11-18 16:12] biagas opened #17136 "Contributing section of manual needs update for github"
### Describe what needs to be documented.
The first paragraph in the [Contributing](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Contributing/index.html) section of the manual references SVN and using sphinx-build.  It should be updated for github and how to build the documentation now.

[2021-11-18 17:21] brugger1 commented on #17112
@ARSanderson can you attach the data set?

[2021-11-18 17:23] brugger1 commented on #17111
@ARSanderson is this still causing you problems?

[2021-11-18 17:24] brugger1 commented on #17110
@ARSanderson is this causing you problems?

[2021-11-19 01:35] markcmiller86 opened #17140 "Investigate upgrade to HDF5 1.12"
For the upcoming 3.3 release, do we upgrade to HDF5 1.10 or 1.12? We'd prefer 1.12. However, we don't know if VisIt on 1.12 can reliably export to HDF5 formats and conform to HDF5 1.8? We would at least like to know the answer to that question.

We are already aware of issues with upgrading [Conduit](https://github.com/LLNL/conduit/pull/727/files) to 1.12 in that we're seeing crashes with a recurs

[2021-11-19 18:51] markcmiller86 commented on #13261
I finished remaining items here.

[2021-11-19 18:51] #13261 closed, assigned to nobody

[2021-11-19 18:56] markcmiller86 commented on #13261
I have now removed the *temporary* `sre` label which was applied only to issues that got migrated from the `live-customer-response` repo and converted to discussion items here.

Now, when you list `Unanswered` discussion items, you see all those that are still unanswered. There are a handful that are somewhat older (in the range of 6 months to a year) from the `sre` set. We can go over  these at a

[2021-11-19 22:44] #17084 closed, assigned to brugger1

[2021-11-19 22:49] #17049 closed, assigned to brugger1

[2021-11-19 23:36] brugger1 commented on #5579
When building a Docker container for Debian 11 I noticed that it was including FMS, so I believe all latest releases have FMS support in them.

[2021-11-20 00:45] cyrush commented on #5579
Thanks Eric, I might have had it disabled on my local mac build.

[2021-11-22 20:59] brugger1 commented on #16990
I created the docker container for Debian 11 and when I went to build VisIt I got the errors from the Mili plugin shown below. I redid the build without Mili and it built successfully. We should add patches to build_visit to fix this.
[code]

[2021-11-23 22:19] yurivict opened #17146 "Breaks with vtk-9.1.0: no member named 'GetPointer' in 'vtkCellArray'"
### Describe the bug
[code]

### Desktop
 - OS and version: FreeBSD 13
 - VisIt Version: 3.2.1

[2021-11-23 23:14] yurivict opened #17147 "Hardcoded vtk library don't match actual libraries"
### Describe the bug
vtk-8.2 libraries are installed with suffix -8.2, for example ```/usr/local/lib/vtk-8.2/libvtkCommonCore-8.2.so``` but Visit just looks for hardcoded names, like ```vtkCommonCore```, and fails to find them.

Please use cmake scriptipts to find Vtk library names.

[2021-11-24 00:42] ARSanderson commented on #17111
As I do no need to use it in my pipeline any longer, it is not a bottleneck. However, given that other filters may mark the spatial bound as modified but not update the spatial bounds is problematic. I do not know how widespread this issue maybe. Should it be the case that any filter should always assume the spatial bounds are correct when the flag is set. Or seeing the flag assume the spatial bou

[2021-11-24 00:52] ARSanderson commented on #17110
Similar to https://github.com/visit-dav/visit/issues/17111#issuecomment-963419655  I do no need to use it in my pipeline any longer, so it is not a bottleneck.

But the question remains, when a filter InvalidateSpatialMetaData what does that really mean to down stream filters? And if invalidated but the filter can update the spatial bound should it not do that?? avtTransform::UpdateDataObjectInfo

[2021-11-24 00:54] ARSanderson commented on #17112
Datasets that should show the issue when running on four ranks, only three get data.

[VolumeMapperData.tar.gz](https://github.com/visit-dav/visit/files/7591860/VolumeMapperData.tar.gz)

[2021-11-29 16:47] biagas commented on #17109
I tried 3.2.1 on my personal Windows 8.1 system and had no problems with it. I did have to allow exemptions through the Windows firewall when prompted at first run.

[2021-11-29 17:14] biagas opened #17152 "Update minimum CMake version required"
We are currently setting our CMake minimum version to 3.8 which is rather old.
build_visit builds version 3.14.
version 3.14 is default on our LC systems

Also CMake policy settings currently being set to 'NEW' can be removed, as they were introduced prior to 3.8.

Here's CMake's docs on the subject:
[code]

[2021-11-29 17:49] biagas commented on #17152
`test/CMakeLists.tx`t and `tools/data/datagen/CMakeLists.txt` also call cmake_minimum_required which should probably be removed.

[2021-11-29 19:00] brugger1 commented on #16990
I uploaded a VisIt 3.2.1 debian 11 distribution here:
https://github.com/visit-dav/visit/releases/tag/v3.2.1

[2021-11-29 19:22] brugger1 commented on #16990
I added an link to the VisIt 3.2.1 debian 11 distribution to the releases as tables on the website.
https://visit-dav.github.io/visit-website/releases-as-tables/

[2021-11-29 22:58] #5909 closed, assigned to brugger1

[2021-11-29 22:58] #16990 closed, assigned to brugger1

[2021-11-30 23:51] brugger1 commented on #17146
VisIt 3.2.1 requires VTK 8.1.0, since the API between VTK 8.1.0 and 9.1.0 changed. We have a branch where we are porting to VTK 9.1.0 and this issue is resolved there.

[2021-12-01 00:43] yurivict commented on #17146
The vtk-8.1.0 requirement makes visit a lot more difficult to port.
We only have vtk-8.2.0 and vtk-9.1.0 in FreeBSD ports.

Re-introducing a long-obsolete vtk-8.1.0 just for one port is a difficult choice.

[2021-12-01 00:51] biagas commented on #17147
It would be helpful if you could explain in what scenario VisIt is looking for simply 'vtkCommonCore'.
How are you attempting to build VisIt? If using our CMake build system, what options are you setting?

We use CMake's find_package to find VTK itself, specifying the components needed (eg vtkCommonCore). When it is time for installing vtk libraries with VisIt, we take the component names and add

[2021-12-01 00:52] biagas commented on #17146
Sorry for the inconvenience this may be causing.  Moving VisIt to a newer version of VTK is no small task with many issues to be worked out.

[2021-12-01 16:58] acbauer opened #17156 "Add ability to export OpenVDB files"
It would be great to have VisIt be able to export OpenVDB files (https://www.openvdb.org/)

VTK 9.1 has a class for writing out OpenVDB files (vtkOpenVDBWriter) which seems like a good solution to use. It only writes out `vtkImageData` or classes that derive from `vtkPointSet` but that seems to work well enough for users so far.

[2021-12-04 16:51] markcmiller86 opened #17165 "Poincare plot crashes engine"
### Describe the bug

1. Open `globe.silo` (it has a vector field `vel` in it which circulates around z axis)
2. Put up `Pseudocolor->Operators->Poinecare-vel`
3. Set **Poincare** attributes to...
   * Source: `Line type`
   * Start Point: `-10 0 0`
   * End Point: `10 0 0`
   * Point density: `5` (I have know idea what *density* means here 5 points per what, unit,
4. hit `Draw`

It never complete

[2021-12-04 16:54] markcmiller86 commented on #17165
The `engine_ser` process seems to slowly grow in memory, maybe 1Mb every 5-10 seconds (that is really, really, really slow!!! memory growth). But I suspect it never stops.

[2021-12-04 16:57] markcmiller86 commented on #17165
I am attaching a spindump from macOS activity monitor if it is helpful.  @ARSanderson would you have any insight here?

[Spindump.txt.gz](https://github.com/visit-dav/visit/files/7654286/Spindump.txt.gz)

[2021-12-06 18:46] cyrush opened #17168 "order or prior state dependent test suite failure when using new fms"
### Describe the bug
I am updating VisIt to Use MFEM 4.3 and FMS 0.2 --  For the FMS tests, after a bit several will fail with an `InvalidFilesException`.

[code]

These files are plot-able when I open them in VisIt myself.

They will also render if I comment out prior tests, here is an example:

![Screen Shot 2021-12-06 at 10 39 23 AM](https://user-images.githubusercontent.com/1194526/144903625-6

[2021-12-07 14:50] brugger1 opened #17172 "VisIt hangs in parallel turning off levels in an AMR file"
### Describe the bug

Andy Cook reported a bug where VisIt hung when running in parallel and he turned off the level 0 patches from his AMR file. I've done a preliminary investigation and the hang occurs when the number of patches remaining after turning off the level 0 patches. In this case the file has only 20 level 1 patches, so running with more than 20 processors hangs.

### To Reproduce
1. O

[2021-12-07 23:36] markcmiller86 opened #17174 "Improve parallel infrastructure"
#17172 explains one instance of a common kind of bug in VisIt...early return from a code segment that involves MPI global communication. This invariably causes deadlock in parallel, often far away from the root cause making it quite difficult to debug.

We should think of some simple slighly improved infrastructure (macros, wrapper code, something) that allows us the simplicity of our current prog

[2021-12-07 23:38] #13247 closed, assigned to brugger1

[2021-12-08 00:16] biagas commented on #13262
@cyrus, do you already have this fixed somewhere?

If not, would making python3 preferred for setting PYTHON_EXECUTABLE from PYTHON_DIR be sufficient for this release:

[code]

Ideally, we should switch to CMake's [FindPython3 module](https://cmake.org/cmake/help/v3.14/module/FindPython3.html) when we update the minimum cmake version. Or even just the [FindPython module](https://cmake.org/cmake/he

[2021-12-08 00:32] cyrush commented on #13262
https://github.com/visit-dav/visit/pull/13258

[2021-12-08 00:34] cyrush commented on #13262
using new Find modules is  a good path. But we would need to understand if that requires any CMake version constraints (newer than zzz) and make sure we understand any implications of our custom cmake that helps with our python process.

[2021-12-08 00:39] biagas commented on #13262
So, #13258 doesn't address the section of code where PYTHON_EXECUTABLE may be set to 'python' (eg python2) instead of 'python3'.  I quoted a modified version that should fix this.  Do you want to add that change to your PR.

I agree that moving to the new Find modules should be for a future release. We already discussed making 3.14 the minimum required CMake version, and that would enable the newe

[2021-12-08 01:14] #17136 closed, assigned to markcmiller86

[2021-12-08 01:20] biagas opened #17178 "Be more descriptive with inline links (discussions, docs, issues, PRs)"
There are many places in VisIt's docs, discussions, etc, where the inline link description is simply: 'here'
I think it would be better if the link description was, well, more descriptive.

The docs on building VisIt are [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/building_visit/index.html#building-visit)

vs

Take a look a the docs on [Building VisIt](https://visit-sp

[2021-12-08 16:46] cyrush opened #17180 "living in a parallel universe due to multiple websites"
This page still exists and is a top google hit for VisIt -- it doens't have our latest releases

https://wci.llnl.gov/simulation/computer-codes/visit/executables

[2021-12-08 16:50] markcmiller86 commented on #17180
Maybe we should just add a line at the top of that page like so...

### This page is for versions 3.1.4 and older.

### For newest releases, please go to our [new website](https://visit-dav.github.io/visit-website/releases-as-tables/).

[2021-12-08 17:04] brugger1 commented on #17180
I agree, adding some information at the top is the best solution. I don't want to get rid of it, since replicating it on our new website would be too much effort. I don't believe we have any links to the page.

[2021-12-08 17:08] markcmiller86 commented on #17180
Well, we have links from our new website to that page...

* `Other releases` [here](https://visit-dav.github.io/visit-website/releases-as-tables/)
* `Older releases` [here](https://visit-dav.github.io/visit-website/dev-resources/)

[2021-12-08 20:18] #17172 closed, assigned to brugger1

[2021-12-09 01:53] markcmiller86 opened #17186 "Crash rotating 2D, non-collinear, quadmesh dataset into 3D"
### Describe the bug

This could be specific to the dataset because I am able to do basically the same operation with other datasets.

1. open `quad_disk.silo`
2. Draw a mesh plot of  `mesh`
3. Add transform operator to rotate about x axis by say 0.1 degrees
4. The engine will crash...

[code]

[code]

Its dying in ghostnode creation for a single-block mesh. Its a rectilinear mesh (the structure o

[2021-12-09 02:09] markcmiller86 commented on #17186
This is somehow related to both a quadmesh but non-collinear coordinate arrays. I can get the same failure with `specmix_quad.silo` and I am assuming any Silo 2D dataset that is using non-collinear coordinate arrays.

I wonder if the non-collinear nature of the coordinate arrays is trigging logic that decides whether ghost node communication/creation is necessary.

[2021-12-09 02:10] markcmiller86 commented on #17186
`ucd2d.silo` works fine. So, its definitely related to `quad` meshes in Silo.

[2021-12-09 03:19] markcmiller86 opened #17187 "DBOPT_COORDSYS problems in test data and VisIt"
### Problem with data

The test file `curv2d.silo` indicates its mesh is using a coordinate system of `cylindrical`. However, if you look at the actual code, https://github.com/visit-dav/visit/blob/18868ba91ac70d7f7c03df0c693dfe4eab9c2fcb/src/tools/data/datagen/testall.C#L802-L807
that computes the coordinate data, it is not putting `r` and `theta` into the coordinate arrays. It is computing the c

[2021-12-09 16:22] gokulanugrah opened #17188 "Not able to export database after exracting the data from different time states"
### Describe the bug
"Unable to export database: viewer: Tried to access an invalid index -1 (Maximum = 99)."
I get this message when I pick a point in a domain, extract the data from different time steps to plot a curve and try to export the database (of this curve).

### To Reproduce
Load a set of files at different time states (by smart grouping)
Query over time options -> timesteps (if necessa

[2021-12-09 17:41] biagas commented on #17188
you can perform a Save Window instead, specifying curve/ultra or even vtk as the output file format.
If you need the information from python, Make the curve window active, then call `GetPlotInformation()["Curve"]`

[2021-12-09 18:35] gokulanugrah commented on #17188
Thanks! Save Window works for me.

[2021-12-09 22:16] markcmiller86 opened #17189 "Coordinate transformations as an operator break VisIt"
### Describe the bug

When VisIt reads data from a plugin that serves up r/theta/z data (e.g. cylindrical coordinates), it won't plot it correctly even if the plugin announces to VisIt that the coordinates are specified using r/theta/z.

A user who knows or can reasonably guess that the coordinate data is non-cartesian can choose to add a **Transform** operator to adjust for that. The plot looks f

[2021-12-10 23:50] markcmiller86 opened #17190 "More issues with coordinate transformations with Transform operator"
This report involves both the *original* `ucd3d.silo` file and the modified one attached in in #17189 where the x/y values are replaced with r/theta, all else being identical. In particlar, these lines in `testtall.C`, https://github.com/visit-dav/visit/blob/48af304262c8c0b2b329c1da175473e7ca6e1243/src/tools/data/datagen/testall.C#L2282-L2283 are modified to
[code]

 This means that the mesh's coo

[2021-12-11 02:51] markcmiller86 commented on #17190
Ok, item 2, above is actually a bug I introduced in data generation for cylindrical case. I am fixing that now and will re-upload the data file to #17189

[2021-12-13 19:46] brugger1 commented on #16962
This was resolved in commit https://github.com/visit-dav/visit/pull/16985.

[2021-12-13 19:46] #16962 closed, assigned to brugger1

[2021-12-13 20:57] brugger1 opened #17191 "Manually running command to create a movie fails on Ubuntu 21."
A user reported that when he used the movie wizard and had it output the command to create the movie, that when he did so the movie encoding failed. This was with VisIt 3.2.1 on Ubuntu 21. I was able to replicate the behavior. When I manually ran the encoder on the generated images, it worked, so somehow the VisIt script is failing and not the movie encoder.

The details are described in https://g

[2021-12-14 01:29] brugger1 commented on #17191
I investigated the problem and there are 2 issues here. The first is that there is an issue with getting the correct python environment set up in the script that runs mpeg2encode. This was fixed in https://github.com/visit-dav/visit/pull/16985. Once this is fixed the movie gets generated, but VisIt reports that the movie generation failed. I will soon submit a pull request that will fix the errone

[2021-12-14 17:41] #17191 closed, assigned to brugger1

[2021-12-14 23:34] brugger1 commented on #17109
Since we aren't able to reproduce this issue there isn't much more we can do so I'm closing this ticket.

[2021-12-14 23:34] #17109 closed, assigned to nobody

[2021-12-14 23:41] markcmiller86 commented on #17178
If links fail, we have more info about what it was supposed to link to.

Its also better for screen readers (accessibility).

[2021-12-14 23:42] brugger1 commented on #17178
We should add this to the developer documentation for the documentation.

[2021-12-15 00:00] brugger1 commented on #17187
Fixing the issue with `curv2d.silo` is definitely a good idea. Doing these transforms in the transform manager may impact existing data sets, so we should think about this further and only do it on a minor release.

[2021-12-15 00:10] markcmiller86 commented on #17165
@ARSanderson I tried some plot attributes that better match the dataset...

- Start: `-5 -1.5 7`
- End: `5 -1.5 7`
- Source: `LineType`
- Point density: 10
- Integration: `0.1` and `0.01`  (second option took way longer but both yield empty plot...not what I expected)

Also, I tried changing integrator to first option (`Forward Euler (Single-step)`) and when I selected that, it blew away all my pr

[2021-12-15 01:07] markcmiller86 opened #17194 "Image diff metrics reported in dashboard are off"
### Describe the bug
Look at this [test failure](https://visit-dav.github.io/dashboard/2021-11-11-22:00/pascal_trunk_parallel/mandelbrot03.html) result. The various metrics reported don't jive with the image. its 300x300 so a totaly of 90,000 pixels but all pixels in this image are non-background I think. I think to 62,371 number is the number of pixels that are different. I don't know what the 69

[2021-12-15 17:09] markcmiller86 opened #17195 "Something we are doing disables tab-completion in python CLI. We should fix"
### Describe the bug

Tab completion allows a user to enter the first few letters of a python object name, class name, keyword, etc and it will complete it and/or print available matches.

Tab completion in python is available whenever the readline library is available (typically on linux/macOS. I dunno about Windows).

If I look at the bare python interpreter we install, tab completion works fine

[2021-12-15 17:16] markcmiller86 commented on #17195
A reference about [virtual environments in python 3](https://stackoverflow.com/questions/33609846/why-does-virtualenv-effectively-disable-python-3-tab-completion) might be relevant.

[2021-12-15 19:23] cyrush commented on #17168
@brugger1 closing the engine after every test results in good images.

I think this is our best path to move forward, but there is definitely an underlying issue we need to resolve in the future.

[2021-12-15 21:36] brugger1 commented on #17168
Sounds like the way to go until we find the underlying issue.

[2021-12-16 04:16] markcmiller86 commented on #5802
@alhom ok, thanks. Fixing in [this commit](https://github.com/visit-dav/visit/pull/17025/files#diff-ea95ddabead539439f01bcbb06696b337fcc89924c984b4df6e315319024d3d5)

[2021-12-16 19:35] markcmiller86 commented on #3378
Make a generic `.py` wrapper script to test all the unit test example executables in our test harness. Currently, we have separate `.py` files for each unit test we put in `<build_dir>/exe` and we should, instead, have a single `.py` file that runs *all* of those without having to add additional logic for each new executable we may wind up adding.

[2021-12-16 22:59] markcmiller86 opened #17198 "When does VisIt CLI throw exception vs. just report error"
Try this...

[code]
You get an exception. Python processing actually stops at that point. This means if you were running a script. The script stops and VisIt exits.

Now, try this...

[code]

You get an error message in VisIt (which you can query with `GetLastError()`) but no exception. If you are running a script, the script continues.

Do we have the rationale for whether we throw a python excep

[2021-12-17 05:24] markcmiller86 commented on #5802
The dir problem is fixed in #17199 (`develop`) and #17025 (`3.2 RC`)

[2021-12-17 05:28] markcmiller86 commented on #5802
Am closing even though this is only partially (mostly) fixed. The remaining problems occur when running `help()` on attribute objects. First, that operation isn't all that likely IMHO and the problem that occurs is a funky python exception. Even if it worked perfectly, we don't have doc-strings for attribute objects and most users deduce their meaning from corresponding GUI window contents or simp

[2021-12-17 05:28] #5802 closed, assigned to markcmiller86

[2021-12-17 19:15] ARSanderson commented on #17165
I did some investigation but just tried to create an integral curve. I get a hard crash in the avtCellLocator::CopyCell. The cellPtr vtkCellArrayIterator seems bad but I am not sure why. I have rewritten it so to use vtkCellArray and it now works as expected. The Poincare plot now "works" but does produce anything as the data is truly periodic (uninteresting case).

[2021-12-17 20:45] cyrush commented on #17198
I think our users often struggle with this b/c in most cases VisIt drives on.

To write bullet proof scripting code you need to add a lot of checks.

[2021-12-21 04:14] biagas opened #17205 "Rename 'Token.h' (conflict with Python's 'Token.h')"
### Describe the bug
I've been mucking around with our CMake build system, and occasionally run across a problem where instead of getting VisIt's Token.h from common/parser, Python's version of Token.h is included instead.

There are a couple of ways to avoid the conflict:

- ensure python is in the include list only for targets that actually need it (We use VTK_INCLUDE_DIRS everywhere, which for

[2021-12-21 21:05] biagas commented on #17205
common/parser/Grammer.h needs to be renamed as well.

[2021-12-22 18:27] #17131 closed, assigned to brugger1

[2021-12-22 18:51] brugger1 opened #17207 "Improve error message when adding a pseudocolor plot of variable with negative values and log scaling."
The error message displayed when adding a pseudocolor plot of a variable with negative values and log scaling isn't very informative. We should improve it.

To reproduce the error message.
1) Open "rect2d.silo".
2) Create a pseudocolor plot of "u".
3) Bring up the pseudocolor plot attributes window and change the "Scale" to "Log".
4) Click "Apply".

You will get the error message:
[code]

Surprisi

[2021-12-22 18:58] biagas commented on #17207
Just to be clear, the first message appears when the Log scaling is applied BEFORE the plot is drawn and the second message appears when the Log scaling is applied AFTER the plot is drawn, correct?

[2021-12-22 19:04] brugger1 commented on #17207
Yes. The steps posted above lead to the first error message, which isn't very informative.

These steps below result in the second more informative message.

1. Open "rect2d.silo".
2. Create a pseudocolor plot of "u" and click "Draw".
3. Bring up the pseudocolor plot attributes window and change the "Scale" to "Log" and click "Apply".

[2021-12-22 19:34] brugger1 commented on #17180
I wasn't thinking clearly when I said we didn't have any links to the page. Those links are all fine. The whole point of not deleting the page is for getting to old releases and those links are labeled in such a manner to make that clear.

[2021-12-22 19:37] biagas commented on #17207
I wonder if, in the first case, the data extents aren't known, so the negative extents checking isn't being performed, and the plot proceeds but fails.

[2021-12-22 20:27] #17152 closed, assigned to nobody

[2021-12-29 22:59] brugger1 opened #17212 "Uintah reader doesn't properly read "long long int" data."
This bug report is the result of the discussion https://github.com/visit-dav/visit/discussions/17211.

It includes a data file to reproduce the behavior as well as images showing the failure of the Uintah reader. It used to work in 2.13.3 and no longer works in 3.2.1. The fix is also described in general terms in the discussion. Specifically, build_visit would need to be changed to patch the Uinta

[2022-01-03 17:26] ARSanderson commented on #4187
I am closing this issue as the new OSPRAY/VTK infrastructure is part of PR: https://github.com/visit-dav/visit/pull/17159/

[2022-01-03 17:26] #4187 closed, assigned to nobody

[2022-01-04 16:48] ARSanderson commented on #17212
The issue is on the Uinah side in that they changed the type but did not update all of the conversion code. I have done that on the Uintah side. They will need to create a new tarball for the VisIt third-party library builds.

[2022-01-04 16:48] #17212 closed, assigned to brugger1

[2022-01-04 23:33] brugger1 commented on #17207
The difference in behavior is probably due to in one case having the limits and in the other not having the limits. A request to calculate the limits should be made in this case. So, likely, this is not trivial.

[2022-01-05 21:20] biagas commented on #5648
I made a quick attempt at allowing the cli to be built when --server-components-only is specified.
Needed to allow viewer's proxy to build as well in order for the cli to compile
Visit compiled without errors after that, but when I tried to run 'visit -cli -nowin', I received an error message that the viewer didn't exist.

Cannot add the viewer lib to the build without Qt, as it has several Qt dep

[2022-01-10 01:23] ztdepztdep opened #17219 "how to run it parallel."

[2022-01-10 15:42] #17219 closed, assigned to nobody

[2022-01-10 23:38] markcmiller86 opened #17221 "Deal with Silo's `_block_type` multi-block member"
### Is your feature request related to a problem?

Silo has an option for multi-block meshes and vars, `DBOPT_MB_BLOCK_TYPE` that allows a caller to instead of passing an array of integers indicating the type of each block pass a single scalar value when all blocks are the same type. Honestly, it seems a bit unnecessary but the functionality is there and it is tested. It predates the namescheme st

[2022-01-11 01:58] EvanA93 commented on #5602
Hello @markcmiller86,

my name is Evangelos Anagnostou. I currently participate in a course in my university. The main task of this course is, to get familiar with an open-source simulation software and to contribute to this software by solving an issue. Since of course I'm not an expert in VisIt, I try to find small issues which fit my programming skills. That is how I ran over this issue. I foun

[2022-01-11 03:36] markcmiller86 commented on #5602
@EvanA93 thanks for the offer to help. I think this issue is better for you to try than #5866 which involves more work on the GUI.

I was going to suggest you start by using [GitHub's code search](https://docs.github.com/en/search-github/searching-on-github/searching-code) feature to find the source code file emitting that error message by searching, for example, for the string [`"is an invalid se

[2022-01-13 17:40] biagas opened #17224 "unintah.py test fails on Windows, cannot read the data"
uintah.py test specifies Xdmf as required database plugin. Xdmf plugin is available on Windows, but it cannot open the datafile used by the test.  When the test is run, VisIt says it tried the Silo plugin and failed.  Here's the error output:

[code]

I tried opening the file via the gui, specifying Xdmf as the format, but  received this error message:
[code]

Additional information was printed to

[2022-01-13 19:40] cyrush opened #17228 "macos: visit config looking for x11 stuff"
### Describe the bug

Updated to newer macOS (10.15.x catalina) and my visit cmake failed b/c the X11 path changed.

I can reconfig from scratch and it will find the proper x11 loc --  *however* this raised a question -- do we actually require anything x11 related on macOS? We used many years ago, but I am not sure we expect to anymore?

[code]

### To Reproduce
Steps to reproduce the behavior. Fo

[2022-01-13 22:46] #17205 closed, assigned to biagas

[2022-01-14 00:40] cyrush opened #17235 "can't open some files on macos 10.15 (release permissions issue)"
### Describe the bug

I am using VisIt 3.2.1 release and can't open files from a few places.

For our signing and release process - I thought we gave access to the relevant places (Home, downloads, desktop, etc)

But after upgrading to macOS 15, I am seeing some funky behavior.

With visit's open dialog, I can't browse to:
`Desktop`
`Downloads`

I am greeted with:
![Screen Shot 2022-01-13 at 4 36

[2022-01-14 00:44] markcmiller86 commented on #17235
Out of curiosity, what do you get if you try to descend into those from Finder? And, what do you get if you try to cd or ls them from terminal?

I was in a pickle recently that turned out to be I couldn't even access certain parts of a dir-tree in my home from terminal and I've now forgotten the cause but it was related to some funky permission issue which I then had  to `sudo chmod -R...`

[2022-01-14 00:57] cyrush commented on #17235
I can see them in finder, when I first went to some of the locations in with terminal, it asked me.

Here are the entitlements we use:

https://github.com/visit-dav/visit/blob/develop/src/tools/dev/masonry/opts/visit.entitlements

It sure looks like Downloads is there.

We might need to enhance the MD server to give us more info when things like this happen. I am sure this would make normal users

[2022-01-14 00:59] cyrush commented on #17235
Side note: I have also had to sudo bless my use of the git-lfs exe at least three times today.
My computer is working hard to keep me safe from my work :-(.

[2022-01-14 01:01] markcmiller86 commented on #17235
I might try finding a way to run mdserver under [truss](https://stackoverflow.com/questions/31045575/how-to-trace-system-calls-of-a-program-in-mac-os-x) to see if that reveals anything.

[2022-01-14 16:13] cyrush commented on #5579
resolved in #13259 (RC) and #17234

[2022-01-14 16:13] #5579 closed, assigned to cyrush

[2022-01-14 16:14] cyrush commented on #17168
moving to 3.3, since we wont fully address for 3.2.2

[2022-01-14 16:15] cyrush commented on #5704
resolved in #13258 (RC) and #17232 (develop)

[2022-01-14 16:15] #5704 closed, assigned to brugger1, cyrush

[2022-01-14 16:16] cyrush commented on #13262
resolved in #13258 (RC) and #17232 (develop)

[2022-01-14 16:16] #13262 closed, assigned to cyrush, biagas

[2022-01-14 16:16] cyrush commented on #17235
@brugger1 I will address this when building the macOS release.

[2022-01-14 18:43] markcmiller86 commented on #17221
@cessenat might you have any opinions here?

[2022-01-15 00:10] cyrush opened #17238 "pip missing from visit python install"
### Describe the bug

In a visit install, the pip module is there, but the front end is not
It should be copied like we copy python.

[2022-01-15 08:58] cessenat commented on #17221
Hi Mark,
well, personally, I use Silo for VisIt exclusively, so anything that is in Silo but not in VisIt'Silo plugin might puzzle me or lead me to mistakes. I see that for '`nameschemes`' I configured the option with DBOPT_MB_BLOCK_TYPE. If it is not necessary I can remove it with no problem.
Googling DBOPT_MB_BLOCK_TYPE I found something from @eschnett
https://nest.pijul.org/eschnett/cactusamrex

[2022-01-16 18:55] markcmiller86 commented on #17221
@cessenat thanks for your thoughts here. That is a *great* idea to just use search tools to get an idea about how much in use this is. And, I did the same [search on GitHub](https://github.com/search?o=desc&p=2&q=DBOPT_MB_BLOCK_TYPE&s=indexed&type=Code) and do find some other repositories with code doing this who I can notify about changes. Great idea 💡

[2022-01-19 17:43] markcmiller86 commented on #1449
Another user has run into this issue. Removing `reviwed` label to discuss.

[2022-01-19 18:13] cyrush commented on #17238
@brugger1 working on this, doing a test install now

(note: it's the visit repackaging of python that needs tweaks, not the python install itself -- so if you want to rebuild TPLs, this isn't a blocker)

[2022-01-19 18:15] brugger1 commented on #17238
Was looking at it as well. Sounds like you're slightly ahead of me. I'll let you get it.

[2022-01-19 19:10] markcmiller86 commented on #1449
Remarks from another user...

[2022-01-19 19:53] bender10 opened #17241 "Verdict Mesh Quality Stretch is Wrong"
Visit's calculation of quad stretch is wrong. An exact square should have a stretch of 1.0.
 The errant lines of code are here: https://github.com/visit-dav/visit/blob/develop/src/third_party_builtin/verdict/V_QuadMetric.C#L450

Visit's version of Verdict introduces a "length_squared" function for a VerdictVector and redefines the "length" function. The call to sqrt at line 475 expects the edge le

[2022-01-19 20:00] markcmiller86 commented on #17241
@bender10 thanks for pointing this out. We'll get that fixed. Out of curiosity, do you know of any more recent implementations of the Verdict mesh quality metrics? Or, do you know of any input mesh tests we can use to confirm all the metrics compute was it expected?

I know [VTK now includes](https://github.com/Kitware/VTK/tree/master/ThirdParty/verdict/vtkverdict) the Verdict metrics. Maybe we sh

[2022-01-19 20:20] brugger1 opened #17242 "VisIt 3.2.0 and later doesn't work with NoMachine"
When VisIt 3.2.0 or later is run on NoMachine, the visualization window is black and no graphics is ever display. VisIt 3.1.4 works fine.

To replicate:
I ran NoMachine on Windows 10, sshing to quartz and then running VisIt displaying back to Windows 10. NoMachine is being run without a Desktop and each VisIt window is a separate window on Windows.

I also tried running `qvtkopenglExample` compile

[2022-01-19 21:21] bender10 commented on #17241
Sandia's version is on github: https://github.com/sandialabs/verdict

Note that I've found issues with Verdict's use of the 'is_collapsed_quad' method to defer some quad computations to the triangle version. The results of quad_minimum_angle, quad_maximum_angle, and quad_scaled_jacobian will change if the node positions are rotated (0->1, ..., 3-> 0). There is also an issue with the use of 'signed

[2022-01-19 22:50] cyrush opened #17246 "missing changes from 3.2RC on develop"
### Describe the bug

![Screen Shot 2022-01-19 at 2 47 07 PM](https://user-images.githubusercontent.com/1194526/150230858-50d0b325-716e-4648-9055-b8b8442348ef.png)

develop is missing #5757

however when I try to create a patch to apply #5757 to develop, the expected changes
to FindVisItPython  are not there.

I think the issue might actually be due to trying to use `git am -3` which might not be

[2022-01-19 22:51] markcmiller86 commented on #17246
Maybe try `git cherrypick <hash>` where `<hash>` is the commit hash for #5757

[2022-01-19 22:57] cyrush commented on #17246
Oh man -- I think I picked the wrong commit for the patch.

This has been a one way trip to a very confused state.

[2022-01-19 22:59] markcmiller86 commented on #17246
Sorry for apparently causing this in the first place. Am happy to lend a hand if you think it would be productive. You can cancel a cherry-pick too `git cherrypick --abort` I think.

[2022-01-19 23:10] markcmiller86 commented on #17241
@bender10 thanks for pointing us to [verdict on github](https://github.com/sandialabs/verdict). Didn't know any work was happening on Verdict. We have a [few outstanding issues and ideas](https://github.com/visit-dav/visit/issues?q=is%3Aissue+is%3Aopen+Verdict) relating to Verdict. If you have any thoughts to add to any of those to recommend strategy, feel free to enter them in any of those issues

[2022-01-20 17:11] #17188 closed, assigned to nobody

[2022-01-20 17:24] #17198 closed, assigned to nobody

[2022-01-20 17:28] cyrush opened #17250 "aduit scripts still looking for svn"
### Describe the bug
Identified in:  https://github.com/visit-dav/visit/pull/17248

Some of our older helper scripts call out to svn.
`src/test/rebaseline-p.py`
`src/tools/dev/doxygenate/doxygenate.py`

Qs:
1. Are we still using these scripts?
2. If so, should we update them to do the git equiv commands?

[2022-01-20 17:28] brugger1 commented on #17221
We decided `DBOPT_MB_BLOCK_TYPE` should be removed from Silo.

[2022-01-20 17:28] #17221 closed, assigned to nobody

[2022-01-20 17:30] #17246 closed, assigned to nobody

[2022-01-20 17:31] brugger1 commented on #17224
This is a typo in the test. It should be dependent on Uintah not Xdmf.

[2022-01-20 17:50] markcmiller86 commented on #17235
Maybe [this exposition on this issue](https://apple.stackexchange.com/questions/395631/allow-all-applications-to-access-desktop-documents-and-downloads-in-catalina) sheds some light.

[2022-01-20 19:44] brugger1 opened #17251 "DefineArrayExpression example incorrect in CLI manual."
The example for `DefineArrayExpression` in the CLI manual uses `DefineVectorExpression` in the example. It should be changed.

Also, the XRayImage query documentation in the GUI manual should add an example using an array expression.

[2022-01-21 00:29] markcmiller86 commented on #17235
One klugey workaround (which works for me anyways)...start VisIt from terminal app as in...

[code]

That allows it to descend into `Desktop`, `Downloads`, etc.

[2022-01-21 07:56] markcmiller86 commented on #5602
@EvanA93 do you think you will have a chance to take a look at this or did I misunderstand your interest in this issue?

[2022-01-21 17:28] #17189 closed, assigned to nobody

[2022-01-21 18:12] markcmiller86 commented on #17108
I am on a macOS running 10.15.7 and Radeon Pro 560 4 GB / Intel HD Graphics 630 1536 MB GPU

Try as I might. I have been unable to duplicate the *specific* behavior reported here. I *am* able to produce a number of other odd-ball and confusing behaviors w.r.t. to how lighting is working especially with point-type plots but the specific case reported here works for me running my own personal build

[2022-01-21 18:32] markcmiller86 commented on #17108
I downloaded and ran 3.2.1 directly from the dmg folder and confirm same experience as above. I see funkiness with the way lighting behaves but not the specific issue the user encountered here.

I have been trying to convince myself that there is a way for a user to get into a configuration of VisIt's lighting parameters that would cause the *specific* behavior reported here and I cannot.

General

[2022-01-21 18:55] markcmiller86 opened #17257 "Problems with lighting in point-type glyph plots"
### Describe the bug

This report captures a few issues related to lighting in point-type, glyph plots but a slightly different experience than reported in #17108

My experience reported here is on macOS 10.15.7 but I suspect the platform is unrelated.

### To Reproduce

1. Run `visit -noconfig` (thats mainly to rule out any odd-ball settings you might be starting with)
1. Open `noise.silo`
2. PC

[2022-01-21 23:38] cyrush commented on #17238
resolved on 3.2RC in #17243  and on develop in #17255

[2022-01-21 23:38] #17238 closed, assigned to cyrush

[2022-01-22 20:22] markcmiller86 commented on #17221
Upon closer investigation, this option is part of what makes Silo's *namescheme* feature work very efficiently. Without the `DBOPT_MB_BLOCK_TYPE` option, a caller using nameschemes would still have to allocate and pass a large array of `ints` for the block types. This option works around that.

I was also incorrect in my initial assessement of the VisIt plugin. It does interrogate the `block_type`

[2022-01-24 16:16] #17224 closed, assigned to brugger1

[2022-01-25 00:00] brugger1 opened #17261 "Add links to each individual query in the query section of GUI manual."
The number of queries in the built-in queries section of the GUI manual is huge. It would be helpful if someone could pass a link to the specific query rather than the built-in queries section and tell them to scroll to the appropriate query. We should probably do the same for the expressions.

[2022-01-25 00:18] markcmiller86 commented on #17261
There are maybe a couple of ways to interpret your request.

On the one hand, you could be asking for [*anchors* (or restructuredText *targets*)](https://docutils.sourceforge.io/docs/ref/rst/restructuredtext.html#hyperlink-targets) for each item. We've done that for *expressions* (most of them anyways). All of the expression functions do have *anchors* defined. But, they are effectively *hidden* f

[2022-01-25 00:29] brugger1 commented on #17261
I believe anchors is what I'm after. I would like it to be easy to create a link that I can send to someone. It would ideally be something the user could click to generate.

[2022-01-25 00:38] markcmiller86 commented on #17261
Well, the *expressions list* demonstrates a design pattern for that. And, if you happen to know how Sphinx *conventionalizes* target names (all lower case, underscore replaced with dash, not sure about oddball chars like `~` are handled), **AND** if you follow a well defined pattern for constructing target names (e.g. `Weight variable sum` becomes...

[code]

 in the `.rst` file), then you can ens

[2022-01-25 00:43] markcmiller86 commented on #17261
Did I say *Python*...Sheesh, I meant **Perl** 😆

[2022-01-25 00:48] markcmiller86 commented on #17261
Really, there needs to be a way to have an autogenerated index constructed by RTD be part of the rendered manual. For some reason, that appears difficult. But, if it was, I am pretty sure that index would wind up containing links to *every* target.

[2022-01-25 18:58] biagas commented on #4500
Just noticed that test images generated on Windows are much greater in size than baseline images, many almost double, some triple in size.  tube_01 increased 123% ( the edges of the tube look much smoother).
amr_stitch_01 increased 276% (its a contour plot that displays lines), and elevate_10 increased 368% (its a mesh plot, lines are smoother, but to me it looks a bit blurry).

Not really sure wh

[2022-01-25 20:01] ARSanderson opened #17265 "Volume Plot - does not return to interactive mode after being in scalable rendering mode."
Eric and I observed this behavior when using the volume plot with both the current release and on my VTK branch.

1. Create a volume plot using the "default" or soon to be "serial rendering."
2. Interactively move and rotate the object. The object moves and rotates.
3. Change to one of the scalable rendering modes.
4. Interactively move and rotate the object. The object is replaced with the boundi

[2022-01-25 21:14] biagas commented on #4500
I am also seeing a lot of instances of this during test-suite run (on Windows):
[code]

[2022-01-25 23:17] markcmiller86 opened #17267 "Allow XRay Image Query to name/path its output files"
Would like ability to specify output image file names/paths in XRay Image Query.

This might be useful to add *above* any specific query such that any queries that `write files` have some additional attributes that handle naming/pathing.

This is related to some work at LLNL user was doing running multiple XRay Image Query operations in parallel.

[2022-01-25 23:39] brugger1 commented on #17250
Let's remove `rebaseline-p.py` and update `doxygenate.py`.

[2022-01-25 23:48] brugger1 commented on #17257
Closing this and will create a new more specific ticket.

[2022-01-25 23:48] #17257 closed, assigned to nobody

[2022-01-26 00:01] brugger1 commented on #17261
Here is something that may be helpful for creating better anchors.
https://stackoverflow.com/questions/30822880/python-sphinx-anchor-on-arbitrary-line

[2022-01-26 00:32] ARSanderson opened #17268 "Resample filter - does not distribute resampled data to all ranks"
When using the resample filter either as a Resample operator or in an inlined pipeline (Allen's newly revised avtVolumeRenderer.C or or the new avtVisItVTKDevice.C) it does not distribute resampled data to all ranks.

In my case on my mac with four (4) ranks, I will consistently see only three (3) ranks with data. The rank without data is not consistently the same rank. In general, it does not cau

[2022-01-26 01:46] markcmiller86 opened #17269 "Simply disabling a previously enabled light generates error message"
### Describe the bug
This is probably an order of operations issue in the Qt widget updating logic.

1. Go to `Controls->Lighting...`
2. Pull down `Active light` to `2`
3. Enable the light by checking the `Enable` box.
4. Hit Apply
5. Disable the light by UNchecking the `Enable` box.

You get the error message...

[2022-01-26 01:57] markcmiller86 opened #17270 "Ambient brightness is obeyed but not color"
### Describe the bug
Our plots that have a `Lighting` option appear to obey ambient *brigthness* setting but not color. Try as I might, I was not able to get a plot to wind up being color heavily red, for example, with a red ambient light. I was able to get red camera and object lights to cause a PC plot of `hardyglobal` to appear mostly red.

This behavior is in contrast to a `Contour` plot of `h

[2022-01-26 02:22] markcmiller86 opened #17271 "Document meaning of Lighting checkbox in various plot attributes"
### Describe what needs to be documented.
A few plots (Pseudocolor, Volume, Surface, TrueColor) support a `Lighting` check box. It isn't clear what this box means.

Here is what it means. When the box is checked, it means the plot obeys **ALL** of the properties of the *active* light(s). When it is UNchecked, it does not mean that the plot is not lit in any way or does not obey lights. It means th

[2022-01-26 07:29] markcmiller86 opened #17272 "Should colored light sources even be allowed when using false/artificial colors"
### Describe the bug
We have the ability to adjust light sources in VisIt. One adjustment that can be made is to make a light source non-white...say yellow. When I do this with a 3-level **Contour** plot of `hardyglobal` from `noise.silo`, the blue surfaces turn entirely black (whether yellow light on blue surface should produce black color is probably a separately debatable issue. The point is, t

[2022-01-26 11:07] EvanA93 commented on #5602
@markcmiller86
Sorry for not answering. I started working on it without telling you. I forgot to write here. I'm still studying the code so I might come up with a question the next couple of days.

[2022-01-26 16:53] markcmiller86 commented on #5602
Ok, thats great! 💪🏻 Thanks for letting us know. And, don't be bashful about asking questions here.

[2022-01-26 21:13] #5544 closed, assigned to nobody

[2022-01-26 21:16] markcmiller86 commented on #4671
Closing because the issue is OBE...we no longer have an FAQ anywhere.

[2022-01-26 21:16] #4671 closed, assigned to nobody

[2022-01-26 21:19] #4165 closed, assigned to nobody

[2022-01-27 23:14] #17272 closed, assigned to nobody

[2022-01-28 00:07] cssherman opened #17276 "Some variables in vtkMultiBlockDataSet are not available"
### Describe the bug
I am attempting to visualize multiblock vtk files produced by GEOSX in VisIt.  These regions include different sets of variables, some of which have the same name across all region.  When opened, the variable list in VisIt reflects the **first** region listed in the .vtm file.

For variables with shared names across regions, I can use the group selection to visualize the model

[2022-01-28 00:12] biagas commented on #17276
Thank you for providing sample database, I will try it out and see if I can discover the issue.

[2022-01-28 00:17] cssherman commented on #17276
@biagas - Thanks!  Please let me know if you need anything else

[2022-01-28 01:03] biagas commented on #17276
So you are correct, VisIt's VTK reader only reads the first file in a multi-file setting to determine the variable list.

This was a design choice due to the fact that the entire file must be read just to get the meta-information like variable names.  This can be quite costly if there are hundreds or thousands of blocks, or even if there are few blocks, but each are rather large files.

A case cou

[2022-01-28 02:44] biagas commented on #17276
I performed a quick mod of the VTK reader so that it would read in multiple blocks and do a better job of populating the variable list.  As I suspected, VisIt isn't reacting well to not having all the variables defined in each of the individual files.   I think the variables would need to be grouped by their respective regions.  For vars that aren't present in both regions, I needed to do a SIL se

[2022-01-28 17:14] cssherman commented on #17276
GEOSX considers regions to be areas with a set of constitutive models.  In practice this could look like:

1) A solid material with a linear-elastic model, darcy flow model
2) A solid material with a linear-elastic model, impermeable to flow
3) A surface region where contact is evaluated, parallel-plate flow model (representing a propagating fracture)

Here, (1) and (2) could exist in the same sol

[2022-01-28 17:22] cssherman commented on #17276
I should also mention that my current work-around is a python script that breaks the vtm file up so that the regions are in different files, and then use the database correlation feature to keep everything in sync.

[2022-01-28 17:43] markcmiller86 commented on #17261
In theory, we could edit css styling for the RTD theme to add something similar to what we see in this document about [header hover anchor links](https://ben.balter.com/2014/03/13/pages-anchor-links/). We'd want to do this for non-header elements. For example, we used Sphinx *definition lists* to create the expressions stuff. Those wind up mapping to `<dt>` and `<dd>` html elements. If we crafted

[2022-01-28 20:22] biagas commented on #17276
I think your use case really needs multi-mesh functionality, not currently possible with VTK files (that I know of).
That said, the portion of the VTK reader in VisIt that parses '.vtm' files could be modified to allow different conventions than currently supported:

1. Add a read-option that would allow the highest level blocks to be treated as separate meshes. The highest level blocks are curren

[2022-01-31 23:01] gokulanugrah opened #17285 "Accessing a variable from a different database"
### Describe what needs to be documented.
I have two databases: "A.hdf5" and "B.hdf5". The first one contains the variable, "varA" and the second one contains the variable,  "varB".
I want to do an operation, say, "varA-varB".  When the method described in the documentation is followed, the expression window for the new variable looks like this
<varA>-<B.hdf5:varB>
This expression gives an error w

[2022-01-31 23:16] biagas commented on #17285
You will want to first use a [CMFE expression](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html#comparison-expressions) that puts varB on the mesh where varA resides.
Then you can add  the subtraction expression using the var created by the CMFE.

We have a [CMFE wizard](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_

[2022-01-31 23:42] gokulanugrah commented on #17285
That's exactly what I was looking for. Thanks!

[2022-01-31 23:51] #17285 closed, assigned to nobody

[2022-02-01 02:02] DevinBayly opened #17289 "Client Server setup works for 3.1.4 but hangs mysteriously for 3.2.1"
### Describe the bug
I'm creating a system for launching visit sessions with the University of Arizona super computer, and managed to get everything working with visit 3.1.4. The discussion that I had to get this far is at this link https://github.com/visit-dav/visit/discussions/17120.

I get a couple of issues when I try to do the same thing with visit version 3.2.1. In some instances the program

[2022-02-01 02:28] markcmiller86 commented on #17289
First, WOW! 🥇 Thats really great work recalling where you started 😉

Just wanna confirm you are trying to use a 3.2 *engine* (e.g. server) with a 3.2.1 client, correct? The client and server must agree in major and minor version numbers. I am pretty sure you've already guarded for that but wanted to make sure.

A `SEGV` down in the bowels of this exchange smells like either a timing or protocol (v

[2022-02-01 02:42] DevinBayly commented on #17289
Hi @markcmiller86 , thanks for jumping on this so fast!

I believe I have, but the fact I didn't think engine numbers were different could be part of the issue. I believe my engine might be that version just because I got the https://github.com/visit-dav/visit/releases/download/v3.2.2/visit3_2_2.linux-x86_64-rhel7.tar.gz from here https://visit-dav.github.io/visit-website/releases-as-tables/#serie

[2022-02-01 10:06] cessenat opened #17290 "No way to select Spanish or German"
I hoped to find Spanish and German with 3.2.2 but it does not.
Files visit/3.2.2/linux-x86_64/resources/translations/visit_{es,de}.qm are not provided.
As well, French translation is not uptodate, it is not coherent with the git repo.

Furthermore, on Ubuntu 18 (up to date) and 20, language is selected using the LANGUAGE
environment variable, no longer the LANG one.
So it would be safer to also ad

[2022-02-01 11:11] MuzafarWani opened #17291 "Libsim In Situ not working"
I am trying to instrument a simulation code with libsim but it is not working for me. I am able to connect to visit from the simulation but when I try to fetch data from simulation using visit GUI it is not working.

I declared a mesh of type VISIT_MESHTYPE_RECTILINEAR and added four variables with type VISIT_VARTYPE_SCALAR. The four variables are arrays from the simulation which are declared as d

[2022-02-01 12:20] MuzafarWani commented on #17291
The mesh is declared as below
VisIt_MeshMetaData_setName(mmd, "miniWeather");
            VisIt_MeshMetaData_setMeshType(mmd, VISIT_MESHTYPE_RECTILINEAR);
            VisIt_MeshMetaData_setTopologicalDimension(mmd, 2);
            VisIt_MeshMetaData_setSpatialDimension(mmd, 2);
             VisIt_MeshMetaData_setNumDomains(mmd, 1);

and the variables as below

VisIt_VariableMetaData_setName(vmd, "

[2022-02-01 12:23] MuzafarWani commented on #17291
@BradWhitlock can you please take a look at this

[2022-02-01 15:52] DevinBayly commented on #17289
Here's a log from the login node of my HPC that was created when the system experiences a hang on connection.

[code]
This freezing behavior was created with a mac client using visit 3.2.1 and the same host file. Again the entire process has to be forcibly terminated with the system monitor on the client side which may account for the SIGSEGV at the end of the log here.

[2022-02-01 16:00] markcmiller86 commented on #17290
@cessenat can you confirm that *correct* files are on the [`3.2RC` branch](https://github.com/visit-dav/visit/tree/3.2RC) and make a note here one way or the other?

@visit-dav/visit-developers would anyone know if this is maybe an issue in our packaging the release?

[2022-02-01 17:10] cssherman commented on #17276
Thanks for your help on this - I'm planning to check in with other GEOSX devs this week to get their thoughts on this issue.

[2022-02-01 18:24] cessenat commented on #17290
@markcmiller86 indeed no, the correct files are on develop only, that explains the issue !
They should be on 3.2RC but I failed to do it - and my last attempt (to alter internal launcher) failed [I emailed you directly this morning].

[2022-02-01 18:44] markcmiller86 commented on #17290
@cessenat I wouldn't call it a *failure*. I think you may have simply assumed that our releases are cut from the `develop` branch more often than we actually do. A release candidate branch lives for a long time...sometimes more than a year. Actually, the branch itself lives indefinitely. But, we eventually stop making releases from that release candidate branch and start a new release series (e.g.

[2022-02-01 19:58] cyrush opened #17294 "add strip ghost zones option to inverse ghost zone (or a strip ghost zones operator)"
### Is your feature request related to a problem?

Folks are exporting to VTK as an intermediate step to strip ghosts and that is a complex dance to execute correctly.

They export to VTK, then read back in the VTK and use a Threshold with the exported ghost zone var to strip the ghost zones, and then do further processing to export to another format.

It's tricky b/c you need to make sure all the

[2022-02-01 23:56] cyrush commented on #17294
We talked about a ghost zone expression as the best path.

[2022-02-02 00:02] markcmiller86 commented on #17294
More generally (and I don't know if I can recall *other* examples of a similar kind of thing where we have some mesh variables we maintain for some internal reason) we should adopt a practice of ensuring all (important) mesh variables we create for *internal* use nonetheless be available/manipulatable as ordinary mesh variables.

[2022-02-02 02:13] brugger1 opened #17296 "Add documentation on building and running the simple simulation examples."
We should add documentation to the getting data into visit section of the manual on how to build and run the examples in the simulation example directory. We don't have any libsim documentation in the user manual, but this would be a good start to supplement what is in the GettingDataIntoVisIt2.0.0.pdf.

Here is how to compile one of the examples against an installation of VisIt.
[code]
Here are t

[2022-02-02 02:15] brugger1 commented on #17296
The GettingDataIntoVisIt2.0.0.pdf is located at:
[code]

[2022-02-02 02:16] brugger1 commented on #17296
There is some information on building an example on a Mac at:
[code]

[2022-02-02 02:18] brugger1 commented on #17296
The examples are located in `src/tools/data/DataManualExamples/Simulations`.

[2022-02-02 02:58] markcmiller86 commented on #17296
Be aware of some of the issues mentioned in #16989 also.

[2022-02-02 16:53] brugger1 opened #17297 "Document that XRayImage query produces 2 files per energy group when outputting bov."
When `bov` output is selected with the `XRayImage` query, 2 `bov` files are produced per energy group. One contains the intensity and one contains the path_length.

[2022-02-02 18:37] correaa opened #17298 "CMake install failed in Ubuntu 21.10, cryptic error message"
### Describe the bug

Cannot continue CMake installation in Ubuntu 21.10 after

[code]

**Helpful additional information**

- Ubuntu 21.10

### To Reproduce

Steps to reproduce the behavior. For example:

- Started from a more or less vanilla Ubuntu 21.10
- Installed some dependencies as requested, `vtk9-dev`, `qtbase5-dev`

### Expected behavior

A more clear message on how to continue installati

[2022-02-02 19:06] markcmiller86 commented on #17296
I think there are other aspects of this especially for macOS discussed in #16986 too.

[2022-02-02 19:09] markcmiller86 commented on #17296
Sorry to dribble out but [a number of imported email discussions](https://github.com/visit-dav/visit/discussions?discussions_q=mandelbrot) mention the *mandelbrot* example. I dunno if they also shed light on any missing documentation too but they might.

[2022-02-03 14:35] jfavre opened #17301 "gcc 11.2 fails to compile xdmf in visit v3.2.2"
### Describe the bug
gcc 11.2 fails to compile xdmf

### To Reproduce
cd /run/user/1100/VisIt/visit3.2.2/Xdmf/libsrc && /opt/gcc/11.2.0/bin/g++  -DLinux -DXDMF_NO_MPI -DXdmf_EXPORTS -D_HPUX_SOURCE -I/run/user/1100/VisIt/visit3.2.2/Xdmf/libsrc -I/run/user/1100/VisIt/visit3.2.2/third_party/vtk/8.1.0/linux-x86_64_gcc-11.2/include/vtk-8.1/vtklibxml2 -I/run/user/1100/VisIt/visit3.2.2/third_party/vtk/8.

[2022-02-03 18:00] biagas opened #17302 "Expression insert-function for constant expressions is misleading"
### Describe the bug
If you want to create a constant expression and use the insert-function, you will see: (I've listed all the constant creators):
[code]

The <> surrounding 'constantvalue' is misleading because it implies that what is entered should remain enclosed by the angle brackets, as is necessary for variables/meshes that may be compound names or contain special characters.

When I creat

[2022-02-03 18:39] sambo57u commented on #5932
Hi, will there be a rhel7 version of 3.2.2?

[2022-02-03 18:50] brugger1 commented on #5932
Yes, it isn't ready quite yet.

[2022-02-03 19:42] markcmiller86 commented on #17302
Somewhat related, #2963.

[2022-02-04 20:57] ARSanderson opened #17303 "Default (Serial) Volume Plot and Pseducolor Plot - legend is incorrect (all 1's) when rendering with an expression variable"
1. load rect3d.silo
2. create a volume plot with 'd'
3. draw - the legend is correct 0.026-0.839
4. bring up the volume plot atts
5. select transfer function
6. set the opacity variable to 'p'
7. draw - the legend is correct 0.026-0.839
8. set the opacity variable to 'vel_magnitude' or 'speed'
9. draw - the legend is incorrect 1.0-1.0

I believe the issue is because the vel_magnitude is an express

[2022-02-04 22:40] cyrush opened #17304 "add implicit points topo support to the blueprint plugin"
### Is your feature request related to a problem?

The blueprint plugin only supports point meshes via an unstructured mesh with a shape points and an explicit connectivity array.

The blueprint itself supports an implicit way to specify a point mesh, here is a summary of an example (from `braid("points_implicit",...)`

[code]

[2022-02-05 00:24] brugger1 opened #17305 "Can't save legend property changes."
If you change the legend attributes and press "Make default", it doesn't make the changes the default. The next plot will have the default legend attributes.

To reproduce:
Create a Pseudocolor plot of your favorite variable from your favorite database.
Go to the Annotations window.
Go to the Objects tab.
Change the xScale and yScale.
Click Apply.
Click Make Default.
Create another Pseudocolor plo

[2022-02-07 19:08] povolny1 commented on #17276
It may be worth noting that we're planning on adopting the following hierarchy for multibody problems (PR on the GEOSX side: https://github.com/GEOSX/GEOSX/pull/1742):
[code]

[2022-02-07 22:44] ARSanderson commented on #17112
I looked at avtImagePartition::EstablishPartitionBoundaries which where the issue lies. The case it fails on is the simple case where the number of samples is the same across each scanline (bin). The problem is the equal height histogram problem. Instead of having the bin width be constant with a variable number of samples in each bin one wants the bin width to be variable with number of samples i

[2022-02-07 23:56] EvanA93 commented on #5602
Hello @markcmiller86.
So I was a little bit occupied the last two weeks about. But I was able to look at the issue in more detail and I think I have a solution in theory. Basically this is what you wrote. We need in the `GetNamesHelper()` function an additional else-if condition.

Let's say the passed argument is only a single integer value (e.g. 5) then I could write something like this:
`if(PyAr

[2022-02-08 01:15] brugger1 commented on #17291
Is there any chance you could also provide miniWeather.h. I'm trying to compile and run your example to figure out what could be wrong.

[2022-02-08 05:13] MuzafarWani commented on #17291
[miniWeather-master.zip](https://github.com/visit-dav/visit/files/8020988/miniWeather-master.zip)
Here is the full code folder. Please let me know if you can find anything that will help to solve the issue

[2022-02-08 15:58] biagas opened #17307 "Volume plot triggers vtkLookupTable error when ColorVarMin used."
### Describe the bug
I ran across this with  my VTK-9 branch, where the vtk error messages are printed to the terminal, but it happens with 3.2RC as well, but the error messages are captured in our log files instead of printed to the terminal.

Offending lines are:
https://github.com/visit-dav/visit/blob/52dbca7eeaba24caa135f5b59edaf58d96a6fd01/src/plots/Volume/avtVolumePlot.C#L266-L277

When the

[2022-02-08 16:41] biagas opened #17308 "Tensor plot with mili data triggers vtkMath::Jacobi error"
### Describe the bug
I ran across this on my VTK-9 branch where vtk errors and warnings are printed to the terminal window, but it occurs with 3.2RC and VTK-8.1 as well.

### To Reproduce
Run VisIt with debug logging.
open mili_test_data/single_proc/d3samp6.plt.mili
Set Time slider to state 90
Add Tensor plot of "Primal/Shared/stress"
Draw
see the error in the viewer log file

[code]

The relevant

[2022-02-08 18:35] ARSanderson opened #17309 "Not all exception messages get displayed."
Creating a volume plot I have a warning that should appear:

The compute engine running on host wortchiller issued the following warning: 'No resampling' was selected but the plot 'thinks' resampling needs to occur. This need may or may not be correct. As such, the rendered results may or may not be correct.

But as multi_ubc3d.silo is an unstructured mesh one should first get the warning then an

[2022-02-08 20:25] brugger1 commented on #5932
The rhel7 version is now available.

[2022-02-08 23:35] ARSanderson commented on #17268
Duplicate https://github.com/visit-dav/visit/issues/17112

[2022-02-08 23:35] #17268 closed, assigned to nobody

[2022-02-08 23:44] brugger1 commented on #17290
We should port this from `develop` to the `3.2RC`.

[2022-02-08 23:44] markcmiller86 commented on #17289
@DevinBayly apoligies for delay in responding after your follow-up. Any progress on this?

[2022-02-08 23:51] DevinBayly commented on #17289
Hello there,

Naw no changes, but thanks for checking in.

I switched to recommending users  launch visit within an open on demand
environment when they needed visit 3.2.1. this meant we also needed to grab
the mesa rhel binary but that wasn't a problem.

Any other ideas how i can pin point where the failure is happening that
leads to the hang?

On Tue, Feb 8, 2022, 4:44 PM markcmiller86 ***@***.*

[2022-02-09 00:02] markcmiller86 commented on #17289
Ok, your `vcl` log shows a `SEGV` (segmentation violation...which is a serious bug). From there, the `vcl` process likely either hangs or dies entirely and the connection back to your client either doesn't happen or is lost. Can you `grep` for `SEGV` on any of the other (if any) `.vlog` files on either your client or the remote resource?

[2022-02-09 00:13] biagas commented on #17298
First, develop branch only works with VTK-8.  We are working on the port to VTK-9, but it isn't ready yet.
The failure regarding PY_WRAPPERS_DIR won't occur with VTK-9, but may still occur with a system provided version of VTK-8.

Second, it would be helpful to know what steps you've taken to do the build.

Are you using the build_visit script? If so, what options did you use?

Are you trying to b

[2022-02-09 00:26] DevinBayly commented on #17289
The funny thing about that SEGV is I believe I observed the hang, looked at
the log file and didn't see that line at the bottom, went back to the
client and forcibly closed it using the task manager, and then when that
had finished I noticed the SIGV at the end of the remote log. Is that
possible? That the hang actually occurred first before the SEGV?

I'll grep the other logs the next time that I

[2022-02-09 00:48] markcmiller86 commented on #17289
Ah, ok. Well, that potentially explains the `SEGV` then. The `vcl` could have been forced into a funky state as a result of other activity and it isn't on the critical path. Hmmm....

There are 3 instances of this logging info...

[code]

Follwed by one instance of this logging info...

[code]

I am thinking *normal* behavior, the *next* line would have been something like....

[code]

That said,

[2022-02-09 00:56] markcmiller86 commented on #17289
Ok, so based on a brief read of the associated code, https://github.com/visit-dav/visit/blob/d1fbae6caeb3364954f3c2b54eb0a27ae69fd889/src/common/comm/ParentProcess.C#L450-L463

- Yes, indeed, it is *reading* data on *both* the `readConnection` and the `writeConnection` objects.
- Yes, indeed it is reading a literal integer `0`

Since the logging info shows read on `writeConnection[0]` but none for

[2022-02-09 01:38] markcmiller86 commented on #17289
In looking at the code section identified above, I wonder why we use `int()` in the `debug5` message to display contents of `buf[3]` but don't also use `int()` when `buf[3]` is used to index into `connections[buf[3]]` on line 454 and 462? @brugger1  might you have any insights here?

[2022-02-09 03:39] correaa commented on #17298
Ok, good to know that it doesn't work with all versions of VTK.

I lost the build directory by now, but I think the configure was equivalent to this (I extracted it from the attached log)

[code]

The steps I follewed was to install Ubuntu packages to make progress with configure.
I didn't try `build_visit` I tried to manually do it `./configure` and friends.

According to the log it tried to use

[2022-02-09 16:08] brugger1 commented on #17291
I was able to compile and run your example and when I connected to it I was able to see the mesh name "miniWeather". When I plotted the mesh I didn't get an image. The problem is in the function `SimGetMesh`. I had to change the lines with the calls `VisIt_VariableData_setDataD`. Here is the new code.
[code]
There were 2 problems with the code. Instead of `4` and `5` as the lengths you had `nx` an

[2022-02-09 16:14] brugger1 opened #17316 "Can't shrink width of main GUI window with really long file names."
If you have 2 databases open with really long file names the name in the "Active time slider" will control the minimum width of the main GUI window. This is a problem with small screens, such as laptops.

Here are the steps to reproduce.
Open a database with a really long name and create a plot.
Open a second database with a really long name. The main GUI window will resize larger and you can't sh

[2022-02-09 16:28] #17291 closed, assigned to brugger1

[2022-02-09 16:52] sambo57u commented on #5932
Thanks! This time I did not see any need for libstdc++ and this is not in the distribution. Perhaps a dynamical link? I did have to put in the libicuin18n.so.50 stuff. I got these dangling link errors:

chmod: cannot operate on dangling symlink '/usr/local/visit/3.2.2+/linux-x86_64/bin/python3-config'
chmod: cannot operate on dangling symlink '/usr/local/visit/3.2.2+/linux-x86_64/bin/python3.7-con

[2022-02-09 19:56] brugger1 commented on #5932
Thanks for the feedback. The missing libstdc++ was an oversight. I'll recreate the distribution with those files added. I'll add in the libicuin18n.so.50 as well.

I'm not sure what is going on with the dangling symlink. I'll investigate.

Did you download the `rhel7-wmesa` or `rhel7` version?

As far as the ssh -X connection. Which of these windows is frozen? The left or right one?
![image](https

[2022-02-09 20:48] sambo57u commented on #5932
I downloaded the rhel7 version. The window on the right is frozen (Window 1). Even the release notes window was frozen. The one on the left keeps operating fine, I can Open files etc. I can also exit properly.

[2022-02-09 21:48] brugger1 commented on #5932
The rhel7 version was built against the system OpenGL libraries and in my experience when forwarding over X, "Window 1" is unresponsive. For example, sshing from a VNC window to my RHEL7 system and running VisIt displaying back to the VNC system. I don't know what the issue is. For that case the rhel7-wmesa usually works.

[2022-02-09 22:15] markcmiller86 opened #17318 "Support anisotropic grid spacings and refinement ratios in AMR meshes"
### Discussed in https://github.com/visit-dav/visit/discussions/17236

<div type='discussions-op-text'>

<sup>Originally posted by **markcmiller86** January 13, 2022</sup>
From  @cgebhart-lbl...

I am a software engineer in the Applied Numerical Algorithms Group (ANAG) at LBNL. I am currently working with Phil Colella and Brian Van Straalen (CCd) on expanding the capabilities of the Chombo and Pro

[2022-02-09 22:27] markcmiller86 commented on #17318
FYI...enhancment is pushed in #17319

[2022-02-10 00:26] BenWibking opened #17321 "macOS dmg for 3.2.2 cannot be mounted"
### Describe the bug
Double-clicking on the macOS disk image (*.dmg) provided to install Visit 3.2.2 [(this dmg file)](https://github.com/visit-dav/visit/releases/download/v3.2.2/VisIt-3.2.2.dmg) does not work. Nothing appears to happen, but Disk Utility shows a disk image that is mounted but uninitialized.

### To Reproduce
Download the dmg for Visit 3.2.2. Try to open it, then check Disk Utility

[2022-02-10 00:30] #17318 closed, assigned to markcmiller86

[2022-02-10 00:49] markcmiller86 commented on #17321
I am seeing same ☹️ .

We didn't see this in testing though.

Just for laughs, can you pls confirm one of the file integrity checks (checksums and/or file size) at the bottom of our [3.2 releases table](https://visit-dav.github.io/visit-website/releases-as-tables/#series-32)? My file size checks out with what is there.

[2022-02-10 00:52] markcmiller86 commented on #17321
FYI...@brugger1 I am seeing different `md5` checksum for the `.dmg` I tested last week and the one now being hosted in the release assets. Maybe we got a corruption copying it around?

[2022-02-10 00:54] BenWibking commented on #17321
@markcmiller86 I get the correct sha256 checksum based on that table.
[code]

[2022-02-10 01:04] brugger1 commented on #17321
@markcmiller86 I got the file from `/usr/gapps/visit/VisIt-3.2.2.dmg` on quartz. That checksum matches what is in the table. Is that the correct file?

[2022-02-10 01:10] markcmiller86 commented on #17321
@BenWibking ok. Thanks. We obviously got a corrupted file somewhow. Thanks for letting us know!

@brugger1, I am seeing...

[code]

So, we're somehow missing about 180 Megabytes 😜 . I wonder...did you maybe hit a disk quota copying it around?

[2022-02-10 01:14] markcmiller86 commented on #17321
My recollection is that @cyrush asked me to go get it from `/usr/workspace/visit`. Maybe you found an early draft 😉 ?

[2022-02-10 02:19] markcmiller86 commented on #5242
@nDimensionalSpace...am investigating some additional `$keyword` options to possibly include here in response to your recent inquiry. In meantime, I don't know if I mentioned [my thoughts on ensemble navigation in VisIt](https://www.visitusers.org/index.php?title=Ensemble_Navigation) but if you had time to read them and share any thoughts, that would be great.

[2022-02-10 03:22] markcmiller86 commented on #5242
@nDimensionalSpace...I have tested a few new `$keyword` options to include in our [2D Text Annotations objects](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/MakingItPretty/Annotations.html?highlight=annotation%20objects#annotation-objects) stuff. Here are some things I believe we can *easily* add...

* `$file`...the whole file name (no paths, just the file's name)
*

[2022-02-10 15:57] nDimensionalSpace commented on #5242
@markcmiller86: So, I went a played around with the path expansion bit, and I don't think that will be useful (at least with my current mental image regarding how things will be laid out . . .).  Just to be clear, this is a different case than above; an example of how I imagine the file layout is as follows:

dblplt_step_n.silo corresponds to plot state "p"
dblplt_step_n+1.silo corresponds to plot

[2022-02-10 17:09] brugger1 commented on #17321
That's exactly the problem. I'll upload the version from `/usr/workspace/visit`.

[2022-02-10 17:30] brugger1 commented on #17305
The default attributes should be associated with whatever plot type the instance is associated with. In the above case it would be the pseudocolor plot.

[2022-02-10 17:32] markcmiller86 commented on #17305
Looking at saved settings file...

[code]

That `Plot0000` is what @biagas is refering to and I think might need to be adjusted to include plot type name and maybe even variable name.

[2022-02-10 17:40] biagas commented on #17305
The legend changes become the default only for the designated plot # (eg Plot0000), it does not become the default for all Pseudocolor plots.  We need to find a way to associate the legend changes with a particular plot type when made the default.

[2022-02-10 17:44] brugger1 commented on #17301
We should consider switching to our built in Xdmf reader since Xdmf is no longer being supported. We may want to just fix this with a patch in build_visit since that should be pretty quick and easy, with the other being a longer term solution.

[2022-02-10 19:13] brugger1 opened #17323 "GetQueryOutputObject example uses GetQueryOutputString."
In the CLI manual I noticed a couple of incorrect examples.

- GetQueryOutputObject example uses GetQueryOutputString and GetQueryOutputValue
- GetQueryOutputString example uses both GetQueryOutputString and GetQueryOutputValue
- GetQueryOutputValue example uses both GetQueryOutputString and GetQueryOutputValue
- GetQueryOutputXML example uses GetQueryOutputString and GetQueryOutputValue

[2022-02-10 19:26] brugger1 commented on #17321
I've updated the releases with the new dmg.

[2022-02-10 22:43] biagas opened #17324 "When exporting to VTK, would like ability to turn off export of visit-generated expressions"
### Is your feature request related to a problem?
I am frustrated by the clutter added to exported VTK file by visit-generated expressions, especially since they often do not work with the variables I am exporting.

### Is your feature request specific to a data set?
NO

As an example, open multi_ucd3d.silo, create a Pseudocolor plot of 'u', draw
Open export window, choose VTK, and click 'Export'

[2022-02-11 01:04] BenWibking commented on #17321
I'm now getting a different error when copying Visit.app outside of the disk image:
<img width="516" alt="Screen Shot 2022-02-11 at 12 03 14 PM" src="https://user-images.githubusercontent.com/1781919/153522516-fe79ab1c-940a-4b28-a2f7-0b913d805483.png">

[2022-02-11 01:06] brugger1 commented on #5686
Before removing a patch, we should make sure it is no longer needed. We've had several instances of patches being removed that were fixing bugs rather than compile issues that caused non-obvious bugs to reappear.

[2022-02-11 01:06] markcmiller86 commented on #17321
Just curious but can you run *ok* directly from the mounted `.dmg` file by just clicking on the icon there?

[2022-02-11 01:09] BenWibking commented on #17321
I've verified that the sha256 checksum matches that given in the release table. Disk Utility reports that the disk image is corrupted:
<img width="1037" alt="Screen Shot 2022-02-11 at 12 06 18 PM" src="https://user-images.githubusercontent.com/1781919/153522761-f943268b-daab-41ff-acc8-f3dca6250375.png">

[2022-02-11 01:09] brugger1 commented on #5895
I agree, the best we can probably do is indicate only VisIt python interactions are recorded.

[2022-02-11 01:10] BenWibking commented on #17321
Strangely, yes.

[2022-02-11 01:15] markcmiller86 commented on #17321
What more can you tell us about your macOS env. there?

Have you confirmed integrity checks on the downloaded file?

What version of macOS?

Do you still have the old `.dmg` file still mounted?

[2022-02-11 01:22] BenWibking commented on #17321
The sha256 checksum validates. I'm on macOS 12.2. I've unmounted the old dmg.

Can you reproduce the Disk Utility verification failure?

[2022-02-11 01:25] cyrush commented on #17321
I think something is still confused, here is the `shasum -a 256` from my build.

`364b56b5e5f46c740158e19bd986b6008ef12d752374ec12b8f65ace4e876f9d` VisIt-3.2.2.dmg

That matches the copy I placed on our LC systems (on its way to github :-) )

`shasum -a 256 /usr/workspace/visit/VisIt-3.2.2.dmg`
364b56b5e5f46c740158e19bd986b6008ef12d752374ec12b8f65ace4e876f9d  /usr/workspace/visit/VisIt-3.2.2.dmg

[2022-02-11 01:26] markcmiller86 commented on #17321
No. I just tried and it copied fine. I also then ran it after installing it and that worked too.

I am on macOS 10.15.7 and I think the `*.dmg` was created on another mac with the same macOS.

[2022-02-11 01:27] markcmiller86 commented on #17321
I get same on the copy I have that I got from you last week and on the copy in `/usr/workspace/visit` on quartz.

[2022-02-11 01:29] BenWibking commented on #17321
Ah, I am getting
`1891b58a28f91a65b419833591f61da6a8b6b1b01623649f9e7271b1479b5522 *VisIt-3.2.2.dmg`

[2022-02-11 01:40] cyrush commented on #17321
OK -- please try again. sha should be: `364b56b5e5f46c740158e19bd986b6008ef12d752374ec12b8f65ace4e876f9d`

You may still be blocked by a code singing issue.  (verify fails when you start VisIt). If you to please let me know.

Sorry about these issues, we did test our DMG, but it seems something isn't quite correct.

[2022-02-11 02:01] markcmiller86 commented on #5242
Ok, I've got a better understanding of the problem @nDimensionalSpace is running into.

Bottom line, the data producer (with user's input) may decide to output a plot state for a variety of different reasons (capture a time step in the *main sequence*, capture some state(s) during sub-cycling, capture different predicted states from different predictor algorithms, capture multiple iterations throu

[2022-02-11 02:32] BenWibking commented on #17321
As long as I option-click open to ignore the code signing issue, this one works.

[2022-02-11 02:40] BenWibking commented on #13246
I'm still getting a hang on Visit 3.2.2 when connecting from a macOS 12.2 client to a Linux (CentOS 8) host (also running Visit 3.2.2).

[2022-02-11 05:56] #3621 closed, assigned to markcmiller86

[2022-02-11 05:57] #3383 closed, assigned to nobody

[2022-02-11 15:30] DevinBayly commented on #17289
Sorry for delay! Also, I think that I need to check if the hang issue is actually #13246

I guess this might mean that the main issue is back to being why the system thinks there's a mismatch between the 3.2.1 client and 3.2 server.

just reposting that material from above

[2022-02-11 16:24] brugger1 commented on #17321
I'm not sure what went wrong. I copied the file to my Windows system and then I uploaded it to GitHub. The hash on Windows is correct, so the only thing I can see is that somehow the upload to GitHub failed. Sorry about the confusion.

[2022-02-11 16:41] brugger1 commented on #17321
I've updated the checksums in the release.

[2022-02-11 18:08] cyrush commented on #17321
@BenWibking  Glad its working for you, but we will need to figure out the signing issue.

The app itself is signed, but something is obviously still wrong.

[2022-02-12 04:12] tomekplewa commented on #17321
I am still unable to install it “because developer cannot be identified.”

Tomek
--

[2022-02-12 05:03] EvanA93 commented on #5602
Hello @markcmiller86
I also want to build VisIt so I can check if my code works.
I want to build Visit under Windows and followed all the instructions.
I'm finally able to configure CMake so that it can build VisIt as mentioned here: https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/building_visit/BuildingOnWindows/ConfiguringWithCMakeGUI.html

But unfortunately in the configuratio

[2022-02-12 05:48] markcmiller86 commented on #5602
@EvanA93 not ignoring you. Just very overwhelmed with extra activities this past week. Please ping me if you do not see a response here from me by next friday (Feb 18th).

[2022-02-14 15:49] biagas commented on #5602
Hello @EvanA93, I can help with your build problems on Windows.

First let me ask, have you cloned the 'visit' and 'visit-deps' repositories or are you working from downloaded tarballs/zip files?
Second, I see you mention 3.1RC in regards to 'visit-deps', it would be best to work from the latest RC series for bug fixing (3.2RC).   And you should be using the same version of 'visit-deps' as you are

[2022-02-14 17:54] biagas opened #17329 "Warnings when generating manual"
### Describe the bug
I'm seeing these warnings when generating the manual
[code]

[2022-02-14 18:06] markcmiller86 commented on #17329
Ok, thats a tad odd. Its associated with the *macro* we use, `VisIt_`, which is supposed to always render VisIt's name but also make it a link to VisIt's home page.

If you get into `conf.py` and find `rst_epilog` variable, you'll see what its doing.

I think we might need to format the `https://...` link a bit different there to correct.

[2022-02-14 18:07] markcmiller86 commented on #17329
BTW...where are you seeing? Windows, Linux? What version of Sphinx are you running?

[2022-02-14 18:20] biagas commented on #17329
Windows and Linux
I use our 'manuals' target in the build, which uses Sphinx 2.2.1 in our python (3.7.7)

[2022-02-14 18:24] markcmiller86 commented on #17329
Can you try something real quick...

Change `rst_epilog` to add a second underscore before `_VisIt` and then change a couple of instances of `VisIt_` in that `index.rst` file to `VisIt__` (two underscores) and see if that reduces the warning count you get?

[2022-02-14 18:33] biagas commented on #17329
I modified conf.py as you suggested, and changed one line in gui_manual/Contributing/index.rst

That one modified line in index.rst did not yield a warning, but many many more warnings were introduced in other files.

[2022-02-14 18:40] markcmiller86 commented on #17329
Yeah, I'd expect the other warnings because `VisIt_` (single underscore) is no longer defined. So, try adjusting `rst_epilog` with *both* variants (just to test this)....hmmm...is `Contributing/index.rst` the only file generating the warnings? We use that macro everywhere so its strange that only that one file would complain. Maybe its something specific to that one file.

[2022-02-14 19:18] cyrush commented on #17321
@tomekplewa , thanks for the report -- we will figure this out.

[2022-02-14 19:27] tomekplewa commented on #17321
Thank you, Cyrus!

        Tomek
        --
    On 2/14/22 14:19, Cyrus Harrison wrote:

      @tomekplewa , thanks for the report
        -- we will figure this out.
      —
        Reply to this email directly, view it on GitHub, or unsubscribe.
        You are receiving this because you were mentioned.Message
          ID: ***@***.***>
      [
{
***@***.***": "http://schema.org",
***@***.***":

[2022-02-14 20:21] biagas commented on #17276
I am working of modifying our VTK reader to accommodate your use-case.

Can it be assumed that each dataset within a given region will have the same variables?
If yes, the up-front cost of finding all the variable names can be reduced.

@povolny1 in your example, should the 'backgroundGrid' and 'particles' blocks be considered separate meshes?

[2022-02-14 22:25] cyrush commented on #17321
I think I found the issue - I'll have to recreate the DMG.

[2022-02-15 01:55] markcmiller86 commented on #17329
Ok, reading about [Sphinx substitutions](https://lpn-doc-sphinx-primer.readthedocs.io/en/0.0.4/concepts/reuse/substitutions.html#substitutions) it looks like something has changed in more recent versions of Sphinx that prevent the way we *were* doing it from working. A slightly new way needs to be adopted. Minimally, this would mean all instances of `VisIt_` in `*.rst` files would need to be repla

[2022-02-15 06:28] markcmiller86 commented on #17329
Ok, I figured out why its just this one file. One option is to change line `487` in that file to...

[code]

So that it matches the same line in `rst_epilog`

[2022-02-15 16:42] markcmiller86 commented on #17329
Ok, I've found a couple of other tiny issues to correct related to this. I've assigned to myself and will push a PR this afternoon.

@biagas thanks for reporting 👍🏻

[2022-02-16 16:45] biagas opened #17334 "Need to convert msub launch to sbatch on LC systems."
### Describe the bug
Reported by Andy Cook.

There is a WARNING about the moab msub wrapper being deprecated then it sits forever at the “Visit is waiting for a parallel compute engine to launch. The squeue command does not show the waiting job.

Here's more of the warning
[code]

[2022-02-16 17:47] cyrush opened #17335 "macos: running cli creates __pycache__ and pyc files in app bundle"
### Describe the bug

Python will create cached modules (pyc) files upon import.

This can pollute the app bundle with non signed contents.  In practice, this would happen after the app bundle is verified, so it won't prevent folks from running VisIt.

But it still bugs me subsequent checks could report a problem.

There is an env var we can set and also settings in the sys module we can use to co

[2022-02-16 18:14] #17329 closed, assigned to markcmiller86

[2022-02-16 23:22] brugger1 opened #17340 "Add ability to export a merged Xmdv file."
In most situations when you export data, it is one file per processor/domain. This is fine for importing into VisIt but not so great for using with other tools.

In particular, Xmdv is primarily a CSV format with a small amount of meta data at the beginning. It would be easy to merge this format and it would make it a lot more useful to users if it were a single file, since presumably they are exp

[2022-02-16 23:59] ztdepztdep opened #17341 "How to save the contour plot as a picture by hand or by python scripte"
I have saved many CFD results at many time steps, I want to know "how to save the contour plot as a picture by hand or by python script automaticlly."

Regards

[2022-02-17 00:03] markcmiller86 commented on #17341
Have you already browsed our docs [for the  GUI](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/SavingPrinting/index.html) or [CLI](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/quickrecipes.html#saving-images) and unable to find the information you need?

[2022-02-17 00:03] #17341 closed, assigned to nobody

[2022-02-17 00:05] #17307 closed, assigned to biagas

[2022-02-17 01:51] biagas commented on #17334
Changing the launch method in the host profile from 'msub/srun' to 'sbatch/srun' worked on quartz.

[2022-02-17 17:15] biagas commented on #17334
We also have scripts that launch the nightly build and regression testing that should be updated as well.

[2022-02-17 18:47] biagas opened #17344 "Need docs for building plugins against installed version of VisIt"
### Describe what needs to be documented.
Building plugins on Linux, Mac, Windows against an installed version of VisIt.

### Is the documentation missing?
Couldn't find it in RTD.

### Is the documentation there but needs improvement?
There are docs on the wiki, part of a page about [Building plugins with CMake](http://www.visitusers.org/index.php?title=Building_plugins_using_CMake#Building_again

[2022-02-17 18:52] biagas opened #17345 "Port WData database plugin to 3.2RC"
### Is your feature request related to a problem?
The plugin was added to develop last September, but not 3.2RC, so it isn't available in the latest released version 3.2.2.

It should be ported to 3.2RC so it is available for the next release.

@Belyor (Author of the plugin) reported the problem.

[2022-02-17 19:38] markcmiller86 commented on #5242
@nDimensionalSpace we talked about this and think adding support for an arbitrary string that gets rendered in the Viewer window similar in size/position to how `cycle` and `time` are handled there is doable.

I would likely support this as a [2D Text Annotation object](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/MakingItPretty/Annotations.html#d-annotations) inste

[2022-02-17 23:42] nDimensionalSpace commented on #5242
@markcmiller86: Yes, I think what you described would be quite satisfactory.   I have added a little mockup of what I imagine it would look like on the screen (which I should have done before).

![visit0001](https://user-images.githubusercontent.com/34101746/154585444-c4841943-f35c-4398-844d-bc6f16664ec8.png)

[2022-02-18 00:47] #17345 closed, assigned to biagas

[2022-02-22 16:35] VoyageG opened #17358 "Impossible to load tecplot plt file"
[training_DR_350_solution.zip](https://github.com/visit-dav/visit/files/8118376/training_DR_350_solution.zip)
Hello,
When i tried to load this file, visit can't read it.
Here is the message :
VisIt could not read from the file "XXXX\training_DR_315_solution.plt".

The generated error message was:

There was an error opening XXXX\training_DR_315_solution.plt. It may be an invalid file.  VisIt tried

[2022-02-22 17:58] markcmiller86 commented on #17358
@VoyageG can you mention which version of VisIt you were using?

[2022-02-22 18:54] markcmiller86 commented on #17358
@VoyageG when I run with [`-debug 5`](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/using_visit/Preferences/File_Locations.html?highlight=debugging#visit-debug-log-vlog-files) and examine `A.mdserver.5.vlog`, I see this...

[code]

The lines with funky characters such as `name="^A^A^A^A^A^A", valueFormat=1885, value="F"` suggest some kind of data corruption issue.

What can you

[2022-02-22 23:27] brugger1 commented on #17323
The description text for all four is also the same.

[2022-02-22 23:40] brugger1 commented on #17334
We should change this in our installed versions as well, probably several versions.

[2022-02-23 15:03] VoyageG commented on #17358
Hello @markcmiller86
Thank you for your answer.
I used Visit 3.2.2.
This tecplot file is "home made" from another program. Unfortunately i don't have source code of this program.
Let me know how i can help you.

[2022-02-23 17:46] markcmiller86 commented on #17358
If by "home made", you mean the file may not be produced in a "standard" way...do you have any evidence to indicate other tecplot tools read it properly?

OTOH, maybe by "home made", you simply mean that you're using some off-the-shelf program that is not part of the suite of software hosted on `tecplot.com` but is otherwise known to produce valid/good tecplot files.

Do you know if it uses unicod

[2022-02-24 03:23] markcmiller86 commented on #5602
@EvanA93 just checkin' in. Did you have a chance to review and do you have any responses to the questions @biagas rasies above?

[2022-02-24 17:21] brugger1 commented on #4972
We have link on the page, but it is buried half-way down. It should be more prominent.

[2022-02-24 18:24] ARSanderson opened #17366 "OS X long initial start up and viewer window does not get created properly at start up"
@markcmiller86 and @cyrush as other OS X users, two issues that are potentially related. With additional knowledge, we may want to split into two issues.

With the develop and the task/biagas/investigate_vtk9_master branches.

After a recompile VisIt takes ~60 seconds to start. There is an ~30 delay after the splash screen notes "Starting viewer ..." Then another ~30 delay after the splash screen

[2022-02-24 21:07] ebolandrtx opened #17367 "Are there flags to support an automated installation for VisIt in windows?"
Are there flags to support an automated installation for VisIt in windows? if so what are they?

[2022-02-24 21:10] markcmiller86 commented on #17367
Our Windows expert is not currently available so I am a bit fuzzy about what you mean by *automated installation*? We do provide [binary installers](https://visit-dav.github.io/visit-website/releases-as-tables/#series-32) for Windows for either plain *users* or for *developers*. Have you tried those?

[2022-02-24 21:11] #17367 closed, assigned to nobody

[2022-02-25 00:22] brugger1 opened #17369 "Label plot fails with point mesh with "Force interface reconstruction" on."
Matt reported a bug with a simple 20 point mesh.

He set "Force interface reconstruction" on.
He created a mesh plot of MC_Particles.
He created a label plot of MC_Particles.

The labels don't show up. I tried to replicate this with "noise.silo" using the point mesh and it worked fine, so there must be something special about Matt's file. I have the file on rztopaz.

[2022-02-25 00:25] markcmiller86 commented on #17369
Did you diddle with the `Draw labels that face` or `Depth test mode` options to no avail as well?

[2022-02-25 16:15] brugger1 commented on #17369
I noticed the following error from VisIt when it tried to create the label plot.
[code]
I also tried all the various options for `Draw labels that face` and `Depth test mode` and none of the settings caused the labels to appear.

At this point I believe that the error message is the cause of the problem.

[2022-02-25 22:17] markcmiller86 commented on #17180
@cyrush I've made a request to add verbiage to the page (for older releases) you originally landed at to helpe reduce confusion

[2022-02-25 22:38] markcmiller86 commented on #4972
I've made an email request to revise the wci page.

[2022-02-25 22:39] markcmiller86 commented on #4849
This has been resolved

[2022-02-25 22:39] #4849 closed, assigned to markcmiller86

[2022-02-25 22:55] markcmiller86 commented on #16997
from `VTK.xml`, we appear to support a slew of VTK file extensions...

[code]

That said, I see our test suite has data only for 3 of these `*.vtk`, `*.vtu`, `*.pvtu`, `*.pvtk` and `*.pvti`

[2022-02-25 23:04] brugger1 opened #17373 "Mark color tables that are good for color blind people."
Here is the e-mail thread for this request.

Eric,

Would this be something easy to implement in VisIt?

Thanks,
Benjy

---------------------------------------------------------------------------------------------------
Hi Benjy,

Given the DE&I Moment in Ashley’s Bulletin on how our WebEx team added captioning capability to WebEx meetings, I thought I’d bring another seemingly-straightforward IT

[2022-02-25 23:10] markcmiller86 commented on #17373
Intersting questions regarding color tables.

Since we have *folders* for color tables, maybe we could create a folder with tables that work better for color-blind individuals? Do we know for sure which tables those would be. Are there metrics we can assign to them?

A question to circle back to Benjy...does WCI have any communication standards for this kind of thing? Does LLNL? I would think it w

[2022-02-25 23:56] cyrush commented on #3957
We now have more content in the manual for client server as part of the "Remote Usage" tutorial.

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/index.html

We should link this to the client/server section.

Also, we should review the RZ info and debugging tips on the wiki and get relevant parts into the manual.

[2022-02-26 00:00] markcmiller86 commented on #16997
Ok, this is a bit of an oddball case.

Normally, not only with VisIt but with other tools, if I have some file, say `foobar.gorfo`, and I know for sure its a JPEG file or a Word document or whatever, when I start the app that reads that kind of file (Image tool or Word processor or whatever), when I explicitly tell the app to treat it like a JPEG file or treat it like a Word file, that works.

Tha

[2022-02-26 00:07] markcmiller86 opened #17374 "Flag invalid command-line args"
### Is your feature request related to a problem?
If I start VisIt with `./bin/visit -foobar`, it runs fine and silently ignores `-foobar`. Thats probably ok because its unlikely `-foobar` is a real VisIt command-line argument. However, what about slight misspellings such as `./bin/visit -debu 5` or `./bin/visit -cly`? It would be nice if VisIt recognized these as invalid and flagged them.

This i

[2022-02-26 00:25] markcmiller86 opened #17376 "-fallback_format CL arg doesn't marry with preferred plugins"
### Describe the bug
`-fallback_format` is a CL arg that is intended to add a plugin to the preferred database plugin list. It does do that because you can examine **Options --> Plugin manager...** and look at the preferred plugin list and see any entries you added with `-fallback_format` (even more than one instance of this CL arg is handled).

However, VisIt doesn't appear to attempt any plugins

[2022-02-26 02:34] markcmiller86 commented on #17373
There are some pallete creation tools online, https://davidmathlogic.com/colorblind/#%23000000-%23E69F00-%2356B4E9-%23009E73-%23F0E442-%230072B2-%23D55E00-%23CC79A7

I worry there is a world of difference between *pallet* selection (e.g. *discrete* colors) for a UI or a set of curves in a 2D plot and a *continous* color mapping used in [smooth data visualizations](https://thenode.biologists.com/da

[2022-02-26 02:35] markcmiller86 commented on #17373
It looks like [Ken Moreland](https://www.kennethmoreland.com/color-advice/) has a nice article on line about scientific visualization

[2022-02-26 02:37] markcmiller86 commented on #17373
https://www.fabiocrameri.ch/colourmaps/

[2022-02-26 19:22] markcmiller86 commented on #17373
The above url references this [download](https://zenodo.org/record/5501399#.Yhp7oi-caL4) which contains many continuous and discrete color maps and has them defined for VisIt (`*.ct` format).

I saY we pull all these into VisIt into a "Vision Impaired" subfolder (I don't actually know if VisIt supports arbitrary color map folder names in the GUI. I see only *Standard* and *User defined* there now

[2022-02-27 12:28] alhom commented on #2344
So what is the status of the alpha channel inclusion to image output? I have obtained PNG outputs with proper alpha channels, but I have trouble in reproducing this reliably on VisIt 3.2.1. For example, far as I can tell, I have two wholly-opaque plot elements (I'm concerned about removing the background), with the same annotation and image save parameters, incl. pixel flags and render parameters,

[2022-02-28 15:56] biagas commented on #17366
I wonder if reducing the number of database plugins would ease this issue.  We used to have a lot startup slowness on Windows. When we reduced the number of db plugins on those systems (either during install process, or deleting the dlls after install) startup performance improved dramatically.

[2022-02-28 16:26] #5669 closed, assigned to cyrush

[2022-02-28 16:26] #5756 closed, assigned to cyrush

[2022-02-28 16:45] ARSanderson commented on #17366
Was the start up issue on windows consistent each time VisIt was started? Here it is only the "first" time.

[2022-02-28 16:56] biagas commented on #17366
That's a good question, unfortunately its been a long while and I don't recall whether it was only the initial startup. But I do recall we would get hangs on startup, not just slowness.  And the viewer window appearance wasn't affected that I recall.

[2022-02-28 17:23] #13250 closed, assigned to markcmiller86

[2022-02-28 17:23] #17031 closed, assigned to markcmiller86

[2022-02-28 17:23] #5956 closed, assigned to markcmiller86

[2022-02-28 17:23] #16997 closed, assigned to markcmiller86

[2022-02-28 17:30] cyrush commented on #17366
@ARSanderson do you see a long startup time with the latest release (3.2.2)? or is this only with your development version.

[2022-02-28 17:44] ARSanderson commented on #17366
@cyrush I have not tried the latest release. Will do and update this msg.

Down loaded the DMG. The start up was not unreasonable. However, I did get the gray viewer with the first startup. The second start up it was a normal viewer. Then I started a compile and got the gray viewer. Even after the compile finished (still a residual load) I got the gray viewer. Once the load went down, then a norma

[2022-02-28 17:58] markcmiller86 commented on #17366
Occasionally, I manually delete a ton of plugins to increase iteration rate and restarting VisIt. It does have a *big* effect!

[2022-02-28 18:57] markcmiller86 commented on #2344
@alhom I will put on tomorrow's project meeting agenda to see if/when we can prioritize this.

[2022-03-01 01:44] markcmiller86 opened #17379 "Improve handling of viridis color maps"
### Describe what needs to be documented.

A while back we added support for some of the [viridis](https://cran.r-project.org/web/packages/viridis/vignettes/intro-to-viridis.html) color maps. But, viridis is a whole set of color maps and we seem to support a somewhat random selection of them. We are missing `mako`, `rocket`, `cividis`. These three may not have existed when we did the original impo

[2022-03-01 01:45] markcmiller86 commented on #17379
We should create a new *category* string for the *viridis* color maps too.

[2022-03-01 19:46] brugger1 commented on #17373
Here is some more information from an additional e-mail thread.

Thank Terri!  I appreciate the info.... Contrast is definitely the big thing.  I think many of the lab templates are fine but I really like your suggestion of "a document to staff about basic things they can do..."  I find that it's the graphs and data displays prepared by individual presenters that are the most challenging for me!

[2022-03-01 20:20] biagas opened #17381 "PyTable.C dereferencing elements of empty vector, crashing CLI"
### Describe the bug
The flatten.py test is crashing the CLI on Windows.
It is happening during the box_selection test, specifically the call to test_box(True):
[code]

Running through VS debugger, it segv's on this line in PyTable.C because 'results' is empty:
https://github.com/visit-dav/visit/blob/c082687bfce0a26976f3198290668b8819285fbf/src/visitpy/common/PyTable.C#L61

I'm sure 'results' bein

[2022-03-01 21:34] markcmiller86 commented on #17373
One thing to keep in mind is that color palette choices for UI are potentially very different from data display involving smooth shaded rendeering which may be different from photography/art.

All of those issues are likely useful to making VisIt more accessible to people with CVD but maybe different sources wind up informing different sets of choices.

[2022-03-01 21:36] markcmiller86 commented on #17373
From Francesca Semsel...

There is often a trade off between resolution and discriminatory power and whether an individual researcher is looking for a map that compensates for their specific type of colorblindness or one is trying to accommodate color blind folks.  In general, CB folks can see value changes as well as blue-red or purple-yellow spans.  The red blue provide more discriminatory power

[2022-03-01 21:51] markcmiller86 commented on #17373
Also from Francesca Semsel...

Colormap design has three disciplines from which to draw - the needs of the scientist, human perception principals and the one that folks always leave at the door… artistic color theory.
Artistic color theory looks at the whole of the color interaction which in sci vis is really critical because the data, not a designer, controls which hues and in what quantity are p

[2022-03-01 23:28] #5308 closed, assigned to brugger1

[2022-03-01 23:28] #17323 closed, assigned to brugger1

[2022-03-01 23:28] #4944 closed, assigned to brugger1

[2022-03-01 23:40] #17358 closed, assigned to nobody

[2022-03-02 01:07] brugger1 commented on #17369
I looked at the Silo file with browser and the material object contains the following.
[code]
I think `-1` in the matlist means that it is a mixed zone and is an index into element `0` in the mixed material arrays, yet the mixed material arrays are all NULL. @markcmiller86 is that correct? I can see this giving an error.

[2022-03-02 01:10] markcmiller86 commented on #17369
@brugger1 yes, you are correct. A negative number anywhere in `matlist` means `mix_vf`, `mix_mat` and `mix_next` must be non-null and `mixlen` must be non-zero.

[2022-03-02 03:38] #17379 closed, assigned to nobody

[2022-03-02 16:33] brugger1 opened #17386 "Add a pre-built binary for Mac M1."
I got a request for a pre-built version of VisIt for the Mac M1. Here is the e-mail.

Hi Eric,

Hope you are doing well.  I am doing yet another tutorial on VisIt this Friday for my master’s course on Data Visualization at UCSD. Some students are using the new M1 mac’s and there are currently no VisIt builds available for it. I do understand that the mac builds are annoying but just wanted to queu

[2022-03-02 21:40] cyrush opened #17389 "add blueprint output to xray image query"
### Is your feature request related to a problem?

Requested by Steve Langer.

We have been working with Steve to use Blueprint as a common file output for Synthetic X-Ray Ray Trace Results.

With a blueprint file, we can capture all of the outputs into a single, well defined 3D grid that includes energy group info, and details like units, etc.

[2022-03-02 22:00] brugger1 opened #17390 "The VisIt help menu has some outdated material."
I noticed that the VisIt help menu had the following:

VisIt home page - outdated material, update
Release notes - ok
Command line arguments - not sure
FAQ - outdated material, remove
Copyright - year needs updating to 2022
VisIt contributors - not sure
Ultrawrappers - ok
VisIt manuals - ok

Regarding the VisIt manuals, should we pare this down? Our distributions are getting really large.

[2022-03-02 22:17] markcmiller86 commented on #17390
Not sure how accurate this is but...

[code]

counts 375 files with a total size n the *installed* release of just 7.4 megabytes. And, its probably much smaller in the compressed distro files which number in the hundreds of megabytes. So, I suspect its only a tiny fraction of the release size.

[2022-03-02 22:23] markcmiller86 commented on #2344
@alhom I am closing this issue.

We support alpha channel output now.

I am using your comment here to start a new issue. I will include there some comments about possible causes of your experiences.

[2022-03-02 22:23] #2344 closed, assigned to markcmiller86

[2022-03-02 22:52] markcmiller86 commented on #17390
BTW...:+1: getting rid of obsolete stuff and/or paring down content.

I was just saying it will likely have little impact on size of our distros 😉

[2022-03-02 22:55] cyrush commented on #17389
The result is an rectilinear grid x,y  are pixels and z will be energy groups.

The bin widths can be used to craft the z axis.

This will also include some extra metadata along side the current blueprint mesh standard:

coordset will add units and labels:

[code]

fields will add units and strides:

[code]

state will add units for time

[code]

Some of these may need to be plumbed though the que

[2022-03-03 17:48] markcmiller86 opened #17393 "Annotation object issues"
### Describe the bug

Annotation objects issues...

* Legend objects are associated with a slot in the plot list. They need to be associated with a plot-type to behave more or less like plot annotation objects.
* Changing legend annotation object settings, making default and saving settings and restarting VisIt does not result in the legend annotation object attributes persisting. It also winds up

[2022-03-03 17:55] biagas commented on #17393
There is also an issue with number of fonts available in VisIt.
We should investigate the support VTK has for using available system fonts.
[vtkFontConfigFreeTypeTools](https://vtk.org/doc/nightly/html/classvtkFontConfigFreeTypeTools.html#details) might be a good place to start.

[2022-03-03 17:55] #17393 closed, assigned to nobody

[2022-03-03 18:22] dcellis1950 opened #17395 "Please add control of the AppearanceAttributes class to the Python scrip API."
Currently the VisIT GUI can switch the values/labels of the Legend from the right side to the left. This uses the AppearanceAttribures C class. (Controls ->Annotation ->Objects -:Legend -> Orientation).

When recording The GUI commands as a script, a message is included that these commands have not be implemented.

There does not seem to be the same control available for the VisIT Python script AP

[2022-03-03 18:29] biagas commented on #17381
@cyrush, can you direct me on how best to discover how/why the flatten query fails on Windows?
I have fixed the segv on my local copy and will create a PR soon for that, but the failure is what tickled the bug.

[2022-03-03 18:31] biagas commented on #17395
Moving Legend values/labels from right to left is handled by changing the `orientation` option of the legend, exactly as [@reidginoza specified in his comment in discussion 17385](https://github.com/visit-dav/visit/discussions/17385#discussioncomment-2288613).

 The AppearanceAttributes class available in the C++ interface of VisIt Controls GUI background/foreground colors, style, orientation, fon

[2022-03-03 18:37] biagas commented on #17395
My apologies, I understand you are referring to the 'Appearance' tab of the Legend annotation object, not the Appearance Attributes for the gui as  I mentioned.

[2022-03-03 19:58] biagas opened #17397 "avtFlattenQuery and PyTable printing to stdout"
### Describe the bug
While trying to diagnose flatten.py regression test failures on Windows, I noticed a lot of output being printed to the terminal.
Both avtFlattenQuery.C and PyTable.C are using std::cout messaging.

### Expected behavior
Important messages should be captured to debug log files. Others that may be helpful should be wrapped in #ifdefs for conditional compilation.

[2022-03-03 20:02] cyrush commented on #17381
@Laganellac, could this case be an issue b/c the results are empty and their aren't guards later in the process? (We move the vector, but it is just fundamentally empty?)

[2022-03-03 20:22] cyrush commented on #17321
@tomekplewa , we did resolve this and upload a new 3.2.2 release for macOS.

Sorry I didn't come back here to let you know sooner.

If you have more problems, please reach out.

[2022-03-03 20:22] #17321 closed, assigned to brugger1

[2022-03-03 21:38] cyrush commented on #17304
[braid_3d_points_implicit.cycle_000100.root.zip](https://github.com/visit-dav/visit/files/8181321/braid_3d_points_implicit.cycle_000100.root.zip)

[2022-03-03 22:03] cyrush commented on #17304
[braid_3d_examples_yaml.root.zip](https://github.com/visit-dav/visit/files/8181448/braid_3d_examples_yaml.root.zip)

[2022-03-03 22:11] cyrush opened #17400 "Document CMake option VISIT_CONFIG_SITE"
### Describe what needs to be documented.

Talk about how to use this as a developer to start a new build with existing tpls.

[2022-03-03 22:40] #17381 closed, assigned to biagas

[2022-03-03 23:37] cyrush commented on #17304
Example data sets we can add for the test suite:

[blueprint_v0.8.2_braid_examples.7z.zip](https://github.com/visit-dav/visit/files/8181881/blueprint_v0.8.2_braid_examples.7z.zip)

[2022-03-04 00:35] JustinPrivitera commented on #17302
@brugger1 Should I go ahead and mark this as closed then?

[2022-03-04 01:26] brugger1 commented on #17302
You should go ahead and merge the change into develop, with the magic "Resolves #17302" in the PR. When you merge the PR, this ticket will magically get closed.

[2022-03-04 15:35] biagas opened #17403 ".config file associated with simulation test causes personal host profiles to be read"
### Describe the bug
I ran across a problem running the interleave simulation test.
I would see this error:

[code]
The sim test would hang, and eventually timeout.

When I ran with --vargs="-debug 5",
I noticed in the viewer log:
[code]

When I removed the interleave.config file and re-ran the test, the test ran to completion, and those same lines in the viewer log file show different entries:

[

[2022-03-04 17:14] markcmiller86 opened #17404 "Problems with alpha channel in image saves"
### Describe the bug
See the longer discussion, #17391, on various ways VisIt will either get this right or wrong. In particular, these combinations result in missing alpha data in the saved image...

* SR on (either by `Always` or `Auto`+over threshold) and screen capture save
* SR on (either by `Always` or `Auto`+over threshold) and parallel engine
   * I tried with numBlocks=numProcs and numBlo

[2022-03-04 18:24] #17302 closed, assigned to JustinPrivitera

[2022-03-04 19:41] cyrush opened #17406 "vtk-m compile error with develop"
### Describe the bug

compiling develop as of 2022-03-04

[code]

I am using VTK-m v 1.7.0.

[code]

[2022-03-04 20:32] brugger1 commented on #3329
Let's add an output option like "Floating point precision" and have it be the number of digits, capped by the number of significant digits in a double. It should be a numeric spin box.

[2022-03-04 20:32] brugger1 commented on #3329
This will probably need to go on develop only.

[2022-03-04 20:59] cyrush commented on #3329
FYI: The new blueprint csv export does a better job (zeros are shown as simply 0)

[2022-03-04 22:08] brugger1 commented on #5770
I just tried opening this with VisIt 3.1.4 on quartz.llnl.gov and got the following output from the engine when I tried to plot the one variable in the file:
[code]
It mentions the lack of being compiled with Blosc support, which was mentioned earlier. It looks like we need to rebuild adios with Blosc.

[2022-03-04 22:44] JustinPrivitera opened #17409 "Git Hooks Warning"
### Describe the bug
I get a warning from git hooks when committing. See below:

[code]
I did setup my hooks as the docs recommended: https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/dev_manual/GitHub.html#cloning-the-repository-and-setting-up-hooks

Is this bad?

### Desktop
 - Ubuntu 20.04

[2022-03-04 23:01] markcmiller86 commented on #17409
I think @brugger1 changes to re-org the docs has caused this. I think you can fix by changing the line that sets where `functions.rst` is to use `python_scripting/functions.rst`

[2022-03-04 23:03] markcmiller86 commented on #17409
That is, change this line in `check_cli_doc.sh`

[code]

to

[code]

If that works, can you push a PR for that change to `src/scripts/git-hooks/check_cli_doc.sh`

[2022-03-04 23:47] markcmiller86 commented on #5242
@nDimensionalSpace just an FYI that because this involves changes to VisIt's underlying communication protocol (to ensure the needed data is communicated between `mdserver`, `gui` and `viewer` components), it cannot go into a patch release.

This means rollout time to floor versions will be in version `3.3`. I expect maybe a couple of months at most.

[2022-03-05 00:34] cyrush opened #17413 "I really struggle with p7zip to create data for the test suite"
### Describe what needs to be documented.

Can we add a section to the docs that shows how to both create and decompress 7z files for the test suite in the safest and more straight forward  way?

For example:
I was helping @JustinPrivitera extract some data. We used the p7zip man pages - however when we decompressed, the option we choose `d` actually removed the archive, which was a surprise (luck

[2022-03-05 00:39] cyrush commented on #17413
Yikes, here is the cause of some of my confusion.

Command line args for `7za` and `p7zip` aren't compatible.
And they aren't compatible in scary ways.

In `7za` `d` means delete a file in the archive.

In `p7zip` `d` means decompress (and delete the archive).

[code]

[code]

[2022-03-05 00:47] cyrush commented on #17304
@JustinPrivitera  -- here is the updated test data:

[blueprint_v0.8.2_braid_examples.7z.zip](https://github.com/visit-dav/visit/files/8189436/blueprint_v0.8.2_braid_examples.7z.zip)

[2022-03-05 00:53] markcmiller86 commented on #17413
FWIW...

[code]

Now, currently, I think the args to whatever archiver command (`7za` or `p7zip`) are staticly set in the `CMakeLists.txt` file there. Given your experience, they should probably be set based on whatever the executable name actually is (or maybe some tell-tale signs in whatever `--help` on the executable returns.)

[2022-03-05 00:54] markcmiller86 commented on #17413
And, 7z is 2-3x smaller than `.tar.gz` so I think its really worth continuing to use.

[2022-03-05 01:00] cyrush commented on #17413
thanks @markcmiller86.

I think most of this was the surprise about the different args between the different utils - and my use of them outside of VisIt's build system.

Not a surprise once you know better, but frustrating until that discovery.

I also should have tried `make help` in the data dir (instead of at the root, where there are a bazillion targets)

[2022-03-05 01:05] markcmiller86 commented on #17413
One thing I just noticed, `7za`'s initial option is a `<command>` (e.g. `l`ist, `a`dd, `d`elete, etc.) and those are named **WITHOUT** a leading dash or dash-dash. Shouldn't that mean a `d` as *command* to `7za` is not the same as `-d` to `p7zip`.

Also, where does `p7zip` executable actually come from? I only ever see `7za` when I build the p7zip tarball.

[2022-03-05 01:31] JustinPrivitera commented on #17409
Hmmm no luck :( even after making the suggested change.

[code]

[2022-03-05 01:36] markcmiller86 commented on #17409
What kind of an `sh` do you have there?

What is `git diff --cached --name-only` returning into `$staged`?

[2022-03-05 01:44] JustinPrivitera commented on #17409
Is this what you were asking?

[code]
I still have much to learn about git!

[2022-03-05 01:47] markcmiller86 commented on #17409
Ok, in that script, replace all instances where `$staged` is being *used* in if statements with `"$staged"`. In other words, bracket it everywhere it is referenced in double quotes.

[2022-03-05 01:54] JustinPrivitera commented on #17409
Again, no luck.

[2022-03-05 02:43] markcmiller86 commented on #17409
Ok, lets webex next week so we can debug.

[2022-03-05 20:39] tomekplewa commented on #17321
Thank you, Cyrus! I have downloaded and was able to successfully install
the latest image. All is well!

Thanks again -

Tomek
--
On 3/3/22 3:22 PM, Cyrus Harrison wrote:

[2022-03-07 17:13] JustinPrivitera commented on #17409
Ok sounds good.

[2022-03-08 16:58] Laganellac commented on #17381
Hi @cyrush and @biagas, I can remove the std::cout prints; at this point they probably wouldn't even be useful in the debug log. I must've missed them somehow when making my cleanup pass over the code.

As for the results vector being empty - this indicates to me that the avtFlattenQuery has filled out the XMLResult with valid metadata about the size / shape of the results vector yet when it got t

[2022-03-08 17:19] markowkes opened #17418 "Error launching VisIt server"
I'm trying to get VisIt to work in client-server mode.  The client can connect to the server and I am able to open the appropriate file on the server.  However, the server is not able to start a parallel job.  The server is running slurm.  When the server tries to start it fails with the following error:
[code]

I do not understand why it cannot find mpirun since when I login to the server I can r

[2022-03-08 20:10] brugger1 commented on #5770
The Blosc library is available on GitHub at https://github.com/Blosc/c-blosc2. The most recent version is 2.0.4. It uses CMake for building, so hopefully it will be fairly easy to build.

We will need to add a `--blosc` option to `build_visit`. We will also need to add the library to the third-party repository and add it to the 3.2.0 release. We should then modify the `adios` build to use Blosc if

[2022-03-08 20:20] #17304 closed, assigned to JustinPrivitera

[2022-03-08 21:59] brugger1 commented on #5770
Here is a checklist of things to do for this ticket.
* [x] Add the c-blosc2 tar file to the third-party repository.
* [x] Add the c-blosc2 tar file to the 3.2.0 release of the third-party repository.
* [x] Add a new module for building blosc to build_visit. It should be optional, controlled with --blosc.
* [x] Enhance the adios module for building with blosc if available.
* [ ] Build blosc and reb

[2022-03-08 22:37] brugger1 commented on #17418
When you use `ssh` to login to a remote system there are 2 types of logins, one is an interactive login and the other is a non-interactive login. These can have different environment variables defined. The interactive login is what you get when you do a normal login to the remote system and typically has much more set up in terms of environment variables than the non-interactive login. When VisIt

[2022-03-08 23:29] brugger1 commented on #17400
Maybe in the developer manual.

[2022-03-08 23:30] markcmiller86 commented on #17400
As far as *where* it goes in the manual, ultimately the actual verbiage needs to go somewhere and the *developer* manual part is fine. That said, we should *link* to that content from *wherever* in the manual it is relevant. So, from stuff talking about building VisIt too.

[2022-03-08 23:42] brugger1 commented on #17409
@markcmiller86 fixed this on develop and this now needs to be backported to the 3.2RC. The path to `functions.rst` needs to adjusted since the path was changed on develop.

[2022-03-08 23:46] brugger1 commented on #17413
Add this to the developers manual under testing. Just list the incantations for each tool.

[2022-03-08 23:47] #17418 closed, assigned to nobody

[2022-03-08 23:50] ebolandrtx opened #17425 "MPICH ABI Compatibility and IntelMPI"
Is there a way to take advantage of the MPICH ABI compatibility and use intel MPI instead of the native MPICH that Visit is shipped with, without removing the libraries or rebuilding? I looked at some of the custom launchers, (AWE in particular) and it appears that the appropriate MPI is loaded at runtime. I've tried something similar and it does not appear to pick up the intelMPI. Are there speci

[2022-03-08 23:59] markcmiller86 commented on #17425
@ebolandrtx I don't know about recent MPICH but I know in the distant past, ABI compatability, esepcially across compiler vendors (not just versions) was not at all reliable. Thats why [MorphMPI](http://morphmpi.sourceforge.net) was created.

Are you aware now of much greater support for ABI compatability in newer MPICH's.

All that said, we nave toyed with some ideas of refactoring MPI code in Vi

[2022-03-09 00:25] ebolandrtx commented on #17425
Mark -

The current IntelMPI libraries (2019, 2021 etc.) all seem to maintain good ABI compatibility. If there is a way to load them into the search path in front of the VisIt libraries I think we would have a very EASY solution...

Erin

[2022-03-09 00:26] ebolandrtx commented on #17425
@markcmiller86 Also - if you are looking at an adaptor, like Flex MPI, I have not really enjoyed working with those types of setups in the past. - Let's try library search Paths first - since i think it is going to be super easy!

[2022-03-09 01:46] markcmiller86 commented on #17425
Ok, it sounds like what you are asking is whether we offer any way for you to override what VisIt does *normally* to launch a parallel engine (that is the only VisIt component that has MPI dependence) maybe via env. variables so that you can maybe do something like...

[code]

I am not aware of a way that VisIt enables that. That said, you can probably modify the `<version>/bin/internallauncher` s

[2022-03-09 02:36] JustinPrivitera commented on #5770
I don't have access to quartz... will that be an issue?

[2022-03-09 03:10] ebolandrtx commented on #17425
@markcmiller86 Some of the groups use environment modules (tf.write - module load etc). I've tried adding those cases - where i load LD_LIBRARY_PATH in the custom launcher, however, if VisIt does some internal path editing - this likely won't work... so - i think i am wanting to understand some of the VisIt internal works a little better.

[2022-03-09 16:39] brugger1 commented on #5770
That shouldn't be an issue. I can do it for you when you're at that point. Also, we can get you access to additional machines soon.

[2022-03-09 17:03] brugger1 commented on #17425
You can add paths to the `LD_LIBRARY_PATH` in the custom launcher. For an example of this you can look at:
https://github.com/visit-dav/visit/blob/develop/src/resources/hosts/llnl/customlauncher
The `customlauncher` would go in `<version>/bin/`.

[2022-03-09 18:20] #2042 closed, assigned to JustinPrivitera

[2022-03-09 21:33] cyrush opened #17429 "testdata not created during pascal run?"
### Describe the bug
Looking at nightly test run post @JustinPrivitera's blueprint additions, new tests are failing with blank images.

https://visit-dav.github.io/dashboard/2022-03-08-22:00/pascal_trunk_serial/databases_blueprint.html

@brugger1 , Justin did add a new data file - could this be that the pascal script needs a `make testdata` instead of just `make data`?

https://github.com/visit-da

[2022-03-09 21:56] cyrush commented on #17429
Ok `make data` and make `testdata` are the same,

Maybe there is another issue.

[2022-03-09 21:56] #17429 closed, assigned to nobody

[2022-03-10 00:07] cyrush commented on #17429
I figured out the issue, the 7z file we added did not have `test_data` pattern in the name. This was an oversight by me.

[2022-03-10 00:47] brugger1 commented on #17429
Good catch. I don't think I knew that. Are you going to fix or would you like me to?

[2022-03-10 00:54] cyrush commented on #17429
I think Justin is going to fix with a PR.

[2022-03-10 00:56] #17425 closed, assigned to nobody

[2022-03-10 01:01] brugger1 commented on #17429
Sounds good.

[2022-03-10 02:29] JustinPrivitera commented on #17409
Can this issue be closed?

[2022-03-10 02:29] JustinPrivitera commented on #17429
Can confirm yes I am doing this

[2022-03-10 02:38] #3329 closed, assigned to JustinPrivitera

[2022-03-10 17:06] brugger1 commented on #17409
Resolved with commits #17430 and #17417.

[2022-03-10 17:06] #17409 closed, assigned to JustinPrivitera

[2022-03-10 17:13] biagas commented on #17381
@Laganellac here are the engine and viewer log files from a run of the test on Windows where I commented out all but `test_box_selection`, which is the one that fails.  Interestingly enough, if I comment out the shared memory portion of ` test_box_selection`, the non-shared portion succeeds.
[engine_viewer_logs.zip](https://github.com/visit-dav/visit/files/8225531/engine_viewer_logs.zip)

[2022-03-11 00:59] JustinPrivitera commented on #5770
c-blosc seems to require a newer version of cmake
```CMake 3.16.3 or higher is required.  You are running version 3.14.7```
How should I proceed with this?

[2022-03-11 01:38] brugger1 commented on #5770
How about 3.18.2, that's what Ascent uses.

[2022-03-11 01:59] JustinPrivitera commented on #5770
Maybe this is a novice question, but how can I make cmake use a newer version? I've been using the cmake in the third_party directory.

[2022-03-11 02:59] markcmiller86 commented on #5770
If I understand your question @JustinPrivitera, you would first want to modify `build_visit` so that it is capable of building and installing CMake 3.18.2.  It might be as simple as what @brugger1 wound up doing in [this older PR](https://github.com/visit-dav/visit/commit/fe4349207f8388bcf9bbbeef4e71a79895cce915#diff-4af987052703b326520b5ed9f60f046a80b4826bf96f0cad62efb681b16237fd) from 2018.

[2022-03-11 03:25] JustinPrivitera commented on #5770
Thanks! I'll take a look next time I have a chance.

[2022-03-11 18:58] biagas commented on #17052
To be handled:
- [X] common/state atts
- [x] operator atts
- [x] plot atts

[2022-03-11 20:27] cyrush opened #17441 "tricky scripting issue with sticky material selection"
### Describe the bug

This was a confusing issue for a user executing a script to extract data with visit.

Example script that also demos the issue:
[code]

output:
[code]
notice full extents on the 2nd iteration is impacted by the material selection.

The problem is the SIL is inherited after the plots are deleted.
We tried:

[code]

There is no `SetGlobalAttributes`, so this setting has no impa

[2022-03-11 21:13] markcmiller86 commented on #3166
OBE

[2022-03-11 21:13] #3166 closed, assigned to nobody

[2022-03-11 21:16] brugger1 commented on #3166
OBE? "Order of the British Empire". Probably "Overcome By Events".

[2022-03-11 21:17] markcmiller86 commented on #3166
:+1:

[2022-03-11 21:18] biagas commented on #5050
This was partially resolved with #17101.  Missing piece is default_configs.dat.

[2022-03-11 21:39] markcmiller86 commented on #4972
Declaring victory. There is a snapshot of that page below. It isn't quite what I wanted because I wanted the nudge to visit the *official* site as close to the top of the page as possible. But, this was the best WSC web team could do...

![Screen Shot 2022-03-11 at 1 37 46 PM](https://user-images.githubusercontent.com/5720676/157973962-0255cd9e-3630-4dbc-988e-a3b35e6b9c0a.png)

[2022-03-11 21:39] #4972 closed, assigned to markcmiller86

[2022-03-11 21:46] JustinPrivitera commented on #17400
I find myself lost as to where this should be added. From my understanding, there is no section in the developer manual about building or configuring visit. Should I be adding a new section entirely? Or maybe should this info live elsewhere?

[2022-03-11 21:51] biagas commented on #17400
I think possibly there should be 'Building VisIt directly with CMake' section in [Building VisIt from Sources](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/building_visit/index.html#building-visit-from-sources).
#4443 could go there too.

Title for the section can be finessed

[2022-03-11 21:55] markcmiller86 commented on #4399
I made some edits to the content on visitusers.org so that visiters there understand what is listed there is incomplete and most up to date information can be found by looking at the names of entries in our `src/databases` portion of our repository.

[2022-03-11 23:26] #17271 closed, assigned to markcmiller86

[2022-03-13 01:59] markcmiller86 commented on #5854
Take a look at what I did in #17452 there is a good example there of how to have tested `.py` code also be part of the documentation.

[2022-03-14 18:58] #17400 closed, assigned to cyrush, JustinPrivitera

[2022-03-14 19:00] biagas opened #17455 "'scalableActivationMode' in 'Viewer Window' session file node interferes with scalable,parallel,icet regression testing"
### Describe the bug

When I regenerated the session files for PR# 17439,  a new 'Field' node under 'Viewer Window' object node was created:

https://github.com/visit-dav/visit/blob/c1b859a4bb93bfcdceb46e1f53fa7b7ce28a8c18/src/test/tests/session/selection.session#L6242

This is interfering with the the tests being run in in scalable,parallel, icet mode.
When I remove that field from the session fi

[2022-03-14 21:50] #4399 closed, assigned to markcmiller86

[2022-03-14 23:10] #5050 closed, assigned to biagas

[2022-03-14 23:10] #5051 closed, assigned to biagas

[2022-03-15 01:51] JustinPrivitera commented on #5770
I made some progress on this by editing the `bv_cmake.sh` file as directed by @markcmiller86. I went ahead and tried to build visit using the updated instructions to get the newest version of cmake. However, I get the following complaint from `build_visit` when it tries to install cmake:

[code]
Here you can see what happens when I check the sha256sum:
[code]
This is strange for two reasons:
1) ht

[2022-03-15 02:39] JustinPrivitera commented on #5770
It seems that when I download it directly from the cmake website https://cmake.org/files/v3.18/ it has the correct sha (as expected). I guess I could investigate how `build_visit` goes about downloading the tarballs, because it makes no sense to me why running `build_visit` would somehow manage to change the sha of the cmake tarball. Any help would be appreciated.

[2022-03-15 16:12] cyrush opened #17459 "develop: we need newer conduit release for macos builds"
### Describe the bug
Since we are using hdf 1.8.14, we will need a new version of
conduit to avoid a zlib and szip linking issue on macos:

https://github.com/LLNL/conduit/pull/935

Issue also likely occurs on linux, however it won't stop a build.

This fix will be in conduit `0.8.3`, we could also use a tarball of the specific commit.

### To Reproduce

Building conduit via build_visit on macos w

[2022-03-15 16:42] cyrush commented on #5770
@JustinPrivitera build visit will also look in the third-party repo, could it be that there we have cmake with a different sha?

[2022-03-15 16:49] biagas commented on #5770
@JustinPrivitera you can also comment out the checksums in bv_cmake.sh temporarily while you get the rest of the build working. I think once the cmake tarball is added to our third party repo, you can compute the checksum from that file in the repo.

[2022-03-15 17:01] Laganellac commented on #17381
Hi @biagas, I've made a small change related to this in PR #17423; however, I don't think this will solve the problem with the test on Windows. Unfortunately I cannot reproduce this bug on my Ubuntu machine and will have to setup a Windows build to try and debug. Based on the log output, everything coming from the engine looks correct - specifically line 479 has the correct input parameters, and l

[2022-03-15 17:49] markcmiller86 commented on #17413
@JustinPrivitera...if you do a `man tar` on your ubuntu system, do you see a `-J` option there to produce an `xz` compressed archive? Or, do you see any verbiage in the man page regarding `xz` archive or `lzma` or `lzma2` compression?

[2022-03-15 18:06] JustinPrivitera commented on #17413
[code]
Is this what you are looking for? @markcmiller86

[2022-03-15 18:07] markcmiller86 commented on #17413
yes. thank you. I may have found a way to pitch 7z tooling for vanilla tar.

[2022-03-15 20:16] JustinPrivitera opened #17460 "Downloads via http appear to be truncated"
### Describe the bug
Downloading tarballs via `build_visit` produces truncated results. I downloaded cmake directly and got the entire tarball, while having `build_visit` do the same
[code]
produced a tarball that was one quarter the size, and was unable to be extracted.
@cyrush saw these things and was surprised!

The truncated imposter:
`-rw------- 1 justin justin 2195456 Mar 15 12:56 cmake-3.18

[2022-03-15 20:16] JustinPrivitera commented on #5770
Well, here's why I experienced those issues: #17460

[2022-03-15 20:24] biagas commented on #17381
The test fails on Windows (no longer crashes).
It is the second run of the test_box that fails. If I leave the flatten.py file untouched, then the non-shared-memory test_box call fails.
Here are the results from that run:
[flatten_box_no-shmem_results.zip](https://github.com/visit-dav/visit/files/8256858/flatten_box_no-shmem_results.zip)

If I swap the order, is still the second call to test_box t

[2022-03-15 20:28] biagas commented on #17460
I wonder if this happens with all tarballs/websites ? I am almost certain I have use build_visit to download new versions of libraries before they were in our repo. But it's been awhile.

[2022-03-15 20:45] cyrush commented on #17460
It's quite odd - `wget` worked just fine manually.

Justin consistently received a ~2mb tarball instead of of the ~9mb tarball.

[2022-03-15 21:20] biagas commented on #17460
Definitely quite odd. Is build_visit passing bad flags to wget?

[2022-03-15 21:34] markcmiller86 commented on #17413
@biagas do you wind up having to do anything strange in the way of 7z tooling on Windows to handle these archives right now? I mean, does the vanilla toolchain you have there already handle it. Do you have a `tar` command there? If so, can you check if that tar command supports the `-J` switch or `xz` style compressed archives or `lzma2` compression algorithm?

[2022-03-15 21:40] JustinPrivitera commented on #17460
in `function configure_support_files`
`wget -r -nH --cut-dirs=6 --no-parent --reject="index.html,robots.txt" -q ${webaddr}`
in `function call_build_visit`
`wget -q ${webaddr} -O $build_visit_ver`

But I notice it also optionally uses `svn` or `curl`, and I'm not sure what causes one or another to be used.

[2022-03-15 21:52] biagas commented on #17413
Currently use 7-zip with VisIt just like the other platforms.  It can create tar files, but no special options available for tar that I can tell.
Are you asking about creating or reading?
WinZip can also read tar files, but afaict, won't create them.

Regular tar probably available from special command tools like GIT-bash but using that isn't part of my general work flow.

edit:
creating an .xz fi

[2022-03-15 21:56] markcmiller86 commented on #17413
Both. Is it fair if I find something in Windows powershell? If I drill down on [this information from MicroSoft](https://docs.microsoft.com/en-us/virtualization/community/team-blog/2017/20171219-tar-and-curl-come-to-windows), it look like there should be a `bsdtar` command there that accepts the `-J` (`--xz`) option which is the main benefit that comes with using `7z`.

[2022-03-15 22:10] biagas commented on #17413
So the creation part is for our data files, correct?  When we want to add to a current tarball or create a new one? That's a pretty rare thing, and isn't an automatic thing we do with Visit that is part of our build right?
What is wrong with using 7zip for this on Windows?  It's all by hand anyways.

As for extraction of data files, as long as the process is cmake-able and generally available, I d

[2022-03-15 22:11] markcmiller86 commented on #17413
@cyrush after reading a lot more about `7z` tooling, I learned that the key algorithm we use in it is `lzma2` and most versions of `tar` now support that. Our mac system tar commands support it. LLNL CZ machines support it. @JustinPrivitera ubuntu system supports it. I am pretty sure Windows PowerShell supports it via `bsdtar` command. @brugger1 RHEL system supports it.

I compared all our test da

[2022-03-15 22:11] markcmiller86 commented on #17413
Eliminating `7z` tooling requirements.

[2022-03-15 22:23] markcmiller86 opened #17461 "Replace slave and/or master/slave language"
We appear to have a [lot of instances of `slave`](https://github.com/visit-dav/visit/search?q=slave) in our source code.

I would like to replace that language with more inclusive terminology.

[2022-03-16 14:52] biagas commented on #17052
Resolved by #17438 #17439, #17448, #17462

[2022-03-16 14:52] #17052 closed, assigned to biagas

[2022-03-16 16:14] biagas commented on #17413
@markcmiller86 Here is the information from tar on Windows (available in Command and Powershell prompts):
[code]

[2022-03-16 16:19] markcmiller86 commented on #17413
Ok, great. `xz` (which is lzma2) is supported there too!

[2022-03-16 19:37] brugger1 commented on #17413
I'm definitely fine with going with the xz extension. I think the only change will be changing `tar zxf` to `tar xf` to extract the files from the tar file.

[2022-03-16 23:35] biagas opened #17465 "ResetView via right-click on plot window prevents middle-mouse wheel response"
### Describe the bug
In Navigate mode,  moving the mouse wheel zooms the plot.
If you right-click on the plot window and choose 'ResetView', the mouse wheel movement yields no changes to the plot.

I traced it down to this logic in VisitHotPointInteractor:
https://github.com/visit-dav/visit/blob/e81ef43044b96b0826ca9493c174f0f97a075790/src/avt/VisWindow/Interactors/VisitHotPointInteractor.C#L1312-

[2022-03-17 01:27] biagas commented on #17413
Thought I'd try to create a tarball with tar.exe on Windows, encountered problems using -J:
[code]

Using -j instead of -J:
```tar: Can't launch external program: bzip2```

Using --lzma:
```tar: Unsupported compression option --lzma```

Using -z works, but the generated file is much larger than the .7z version (68.4mb vs 8.25mb)

This is Windows 10 OS build 18363.2158.

I created a .tar.xz file us

[2022-03-17 02:32] markcmiller86 commented on #17413
That is somewhat troubling but I don't think a showstopper. What it might mean is that we're in no better shape on Windows than before and still need 7zip there.

I spent some time trying with my Windows 10 machine. I have same issues you do there. [This official post from Microsoft](https://docs.microsoft.com/en-us/virtualization/community/team-blog/2017/20171219-tar-and-curl-come-to-windows) fro

[2022-03-17 21:51] biagas opened #17469 "RecenterView strangeness in Flythrough navigation mode."
### Describe the bug
'Recenter View' after 'Reset View' puts us inside the plot.

Here's a plot in flythrough mode after a 'Reset View':
![beforeRecenterView](https://user-images.githubusercontent.com/17075318/158898027-afd0fe4e-39d3-4dfd-ade5-7f8b3049e69c.PNG)

Here's the plot after  'RecenterView':

![afterRecenterView](https://user-images.githubusercontent.com/17075318/158898058-cbbbeb20-e3f1-4

[2022-03-17 22:30] markcmiller86 commented on #17413
@biagas I am curious whether this python stuff works for you on your Windows system...

https://docs.python.org/3/library/tarfile.html

[2022-03-17 22:34] markcmiller86 commented on #17413
Note: Currently, GitHub doesn't support `.tar.xz` or `.txz` attachements.

[2022-03-18 01:02] markcmiller86 opened #17470 "Controls for Mesa's use of AVX instructions in compile"
### Is your feature request related to a problem?

See the discussion about a failing engine launch in #17410

This is apparently due to a bug in MesaGL allowing some odd-ball instructions into the compiled code that aren't necessarily supported on the target architeture.

Is there a way for us to provide a consistent work-around for this that doesn't require users to pitch using MesaGL?

[2022-03-18 18:02] povolny1 commented on #17276
@biagas Apologies for the late reply - yes, ideally we'd like to be able to simultaneously plot independent fields from 'backgroundGrid' and 'particles.'

Also, all the elements in a region use the same constitutive model, so they'd all have the same fields/variables.

[2022-03-19 00:54] markcmiller86 commented on #17413
Capture an xz compressed file here for testing purposes.

[overlink_test_data.tar.copy.xz.gz](https://github.com/visit-dav/visit/files/8308324/overlink_test_data.tar.copy.xz.gz)

I am gonna see if I can decompress on windows.

[2022-03-19 01:01] markcmiller86 commented on #17413
Ok, I downloaded [Python for Windows from Microsoft Store](https://www.microsoft.com/en-us/p/python-39/9p7qfqmjrfp7?activetab=pivot:overviewtab). That installed automagically and is visible from powershell and command prompt.

I then downloaded the above file `overlink_test_data.tar.copy.xz.gz` and renamed to `overlink_test_data.tar.copy.xz` (I added the `.gz` just so GitHub would allow me to atta

[2022-03-19 10:59] jcyu96 opened #17471 "How to draw the line on 2D image using the coordinate position data of this image?"
Dear all,
I want to draw some lines on a image plotted by **_Pseudocolor_**, but seems hard to make. Does anyone know how to do that?

Maybe we could use the **_2D line objects in Annotation_** instead, but it's a troublesome operation when I need draw many lines.

[2022-03-19 16:50] markcmiller86 commented on #17471
Yes, [2D annotation objects](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/using_visit/MakingItPretty/Annotations.html#d-annotations) seem like the right choice. If you have many to create, consider doing so with [Python Scripting](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/python_scripting/quickrecipes.html#adding-a-banner)

[2022-03-20 17:36] markcmiller86 commented on #17413
@visit-dav/visit-developers can each of you do two quick checks on your machines and report back here your findings...

- run default python (3) interpreter and attempt `import lzma`
- run python built with VisIt and `import lzma`

#### @cyrush
* [ ] - default python works
* [ ] - VisIt's python works

#### @markcmiller86
* [x] - default python works
* [ ] - VisIt's python works

#### @biagas
* [

[2022-03-21 15:08] #17251 closed, assigned to brugger1

[2022-03-21 17:43] cyrush opened #17472 "rendering issue: subset plot vs pc plot w/ lines"
### Describe the bug

I see unwanted blending between a PC plot and a subset plot, here is an example:

Data set:
[tout_bp_mpi_load_bal_basic_input.zip](https://github.com/visit-dav/visit/files/8318028/tout_bp_mpi_load_bal_basic_input.zip)

`pc plot of mesh_boundary/bndry_val`

pc plot alone:
![Screen Shot 2022-03-21 at 10 32 32 AM](https://user-images.githubusercontent.com/1194526/159331870-82f39

[2022-03-21 20:27] brugger1 commented on #17413
The test with `import tarfile` worked for me with python3 and VisIt (3.2.2) cli on kickit. For lzma test, all I did was `import lzma`. I assume that was all you wanted done.

[2022-03-21 21:52] biagas commented on #17413
I can only answer for Windows,  my linux system won't boot.
I don't have 'default' python' on Windows.
I marked my answer as per VisIt's Python on Windows.

[2022-03-21 22:37] JustinPrivitera commented on #17460
I will have more information on this shortly; as I have failed to reproduce this issue today, after extremely consistent behavior last week. It seems to be working, despite no changes...

[2022-03-21 23:50] JustinPrivitera opened #17475 "build_visit problem building openssl"
### Describe the bug
`build_visit` on rztopaz fails with the following linking error while building openssl:
[code]

[2022-03-21 23:59] cyrush opened #17476 "add expression to expose orignal cell ids"
### Is your feature request related to a problem?

add an expression that paints the original cell ids as a field, to aid with debugging

this field can be multi component (it can include the domain id as well)

[2022-03-22 00:02] brugger1 commented on #17475
What compiler are you using? When I've run build_visit on rztopaz I did a "module load gcc/6.1.0".

[2022-03-22 00:15] JustinPrivitera commented on #17475
Unless I'm mistaken, I think I'm using gcc 6.1 also

[2022-03-22 01:35] JustinPrivitera commented on #17460
I wasn't able to reproduce this issue today, but I can't think of what I'm doing differently. It was so consistent last week...

[2022-03-22 03:29] markcmiller86 commented on #17476
Doesn't one of either `zoneid(<mesh>)` or `global_zoneid(<mesh>)` do what you need?

Honestly, I am not sure of the difference in these two expressions.

I tried them on `mesh` in `global_node.silo`. `zoneid(mesh)` gives me numbers that repeat from one domain to the next. `global_zoneid(mesh)` gives me data in the file associated with the `DBOPT_ZONENUM` (zone numbering) option and do not repeat f

[2022-03-22 14:29] brugger1 commented on #17475
What was your build_visit command line?

[2022-03-22 17:11] cyrush commented on #17476
This case would be to help debug subdivision, where polyhedral elements are broken into smaller ones.

[2022-03-22 17:17] markcmiller86 commented on #17476
For this, we do something similar to what I mentioned above where we have a 2-tuple for a zone id. That 2-tuple is the comination of the *original* zone id (polyhedron or polygon) and a second integer representing the *piece* or fragment produced by a subdivision (or any modification) process.

I recall using **Label** plot to understand the subdivision process that was occuring in Silo reader for

[2022-03-22 17:23] JustinPrivitera commented on #17475
`./build_visit --makeflags -j --mesagl --llvm`

[2022-03-22 19:02] brugger1 commented on #17475
I tried `./build_visit3_3_0 --makeflags -j12 --mesagl --llvm --no-visit` and it worked.
[code]
Here is the compiler I was using.
[code]
Maybe there is an issue with your environment variables?
You may just have to dig in and see what is going wrong. You could look at the log file and see what command it was executing when the error occurred. You could cd to the build directory and type make and se

[2022-03-22 22:25] markcmiller86 commented on #17403
Some of the testing logic related to `-noconfig` flag during running of tests is here...

https://github.com/visit-dav/visit/blob/4f4768f1058c95702f0447187178494c510b681e/src/test/visit_test_suite.py#L190-L195

[2022-03-22 22:31] #17460 closed, assigned to nobody

[2022-03-22 22:41] #17471 closed, assigned to nobody

[2022-03-22 22:55] cyrush commented on #17441
updated example:
[code]

still has same issue

The following you can use to always query the original spatial extents:

[code]

[2022-03-22 22:56] cyrush commented on #17441
`TurnMaterialsOn()` with no args will turn all materials on.

[2022-03-22 22:59] cyrush commented on #17441
this also does not work:
[code]

[2022-03-22 23:02] cyrush commented on #17441
this DOES work:
[code]

[2022-03-22 23:08] biagas commented on #17472
@cyrush I noticed the PC plot in your image is using a different color table, were Subset plot options changed as well?

Here's what I get on Windows using defaults for both PC and Subset plots.

![Bug17472_Windows](https://user-images.githubusercontent.com/17075318/159590841-81cc1a14-b5e4-4eb7-8f68-69afbb0452e8.PNG)

[2022-03-22 23:30] biagas opened #17480 "Option to filter Color tables by type (Continuous or Discrete)"
### Is your feature request related to a problem?

I was scrolling through the tables in the ColorTable window, looking for the one that matched a screenshot of  a plot. I didn't know the color table name so was just scrolling looking for a match to the Legend in the screenshot. I really only wanted to look at Continuous tables.  It was very slow going having to scroll past all the Discrete tables

[2022-03-23 00:52] JustinPrivitera commented on #17475
How can I tell it which gcc to use?
[code]

[2022-03-23 14:32] brugger1 commented on #17475
You should use the following gcc.
[code]
You can switch to that one by executing `module load gcc/6.1.0`.

[2022-03-23 23:54] JustinPrivitera commented on #17475
this and a whole slew of other build issues were solved by switching to a more recent gcc
[code]

[2022-03-23 23:54] #17475 closed, assigned to brugger1

[2022-03-24 04:11] circlelq commented on #1851
I had the same problem.

[2022-03-24 07:20] markcmiller86 opened #17486 "Fix images in doc broken after removing sphinx_lfs_content extension"

[2022-03-24 18:44] cyrush opened #17489 "cmake build system: test data files, use CONFIGURE_DEPENDS to glob?"
Normal globs are executed once at configure time.

So if you add a new data file, it will not be picked up by our cmake build system unless you explicitly reconfigure.

Newer cmake (3.12+) provides CONFIGURE_DEPENDS to address this.

[2022-03-24 18:54] markcmiller86 commented on #17489
@cyrush you mean this particular glob in `tools/data/datagen/CMakeLists.txt`...

https://github.com/visit-dav/visit/blob/9ab516d533f4f84a007eed7c97732104a721caf0/src/tools/data/datagen/CMakeLists.txt#L153

[2022-03-24 18:57] markcmiller86 commented on #17489
Note that CMake docs say this about that feature...

[2022-03-24 19:07] cyrush commented on #17489
Yes, it might be a band aid, but maybe it could help?

The alternative is to add all of the files in an explicit list, then cmake will know about them always.

I actually prefer this b/c I know cmake glob causes disconnect, but CONFIGURE_DEPENDS might be a low effort thing to try before moving to an explicit list.

[2022-03-24 19:08] cyrush commented on #17489
I actually mean here:

https://github.com/visit-dav/visit/blob/9ab516d533f4f84a007eed7c97732104a721caf0/data/CMakeLists.txt#L145

But other cases of glob should be treated as well.

[2022-03-24 20:29] markcmiller86 commented on #17489
@cyrush I am trying to put in #17473

To test it, I used this `CMakeLists.txt` logic...

[code]

The new `list_archives` target allows me to see what `make` thinks the list of archives is. Based on my understanding of `CONFIGURE_DEPENDS` I would expect that if I add a new `.tar.xz` file there, the command `make list_archives` would show it without having to re-cmake. It doesn't do that however. Am

[2022-03-24 20:31] markcmiller86 commented on #17489
Whoops! I am wrong. That GLOB is for the pattern `*test_data*.tar.xz` and the test filename I tried was `zzzz.tar.xz`. Ok, it works!

[2022-03-24 20:38] #17413 closed, assigned to markcmiller86

[2022-03-24 20:38] #17489 closed, assigned to markcmiller86

[2022-03-25 18:30] biagas opened #17496 "Bounding box doesn't reset when 'Scale 3D axis turned off for View3D"
### Describe the bug
View3D has the option to scale the axes.

Here's a pic of how it looks for multi_curv3d. when turned on using scaling factors of 2, 4, 1:

![AxisScalingOn](https://user-images.githubusercontent.com/17075318/160180783-3d023123-cfd6-4ad1-80bf-0a182ce82895.PNG)

After turning off the scale flag:

![AxisScalingOff](https://user-images.githubusercontent.com/17075318/160180837-c343f

[2022-03-25 23:22] markcmiller86 opened #17501 "rm 7zip from docker files"

[2022-03-25 23:23] markcmiller86 commented on #17501
Its probably harmless that its there but we don't need it any more and removing dependencies is probably a good thing.

[2022-03-26 00:29] markcmiller86 opened #17503 "functions_to_method_doc.py cleans reStructuredText for doc strings"
### Describe what needs to be documented.

We are currently required to *manually* wrap lines in `functions.rst` so that the resulting `MethodDoc.C` generated file doesn't produce ugly python doc strings.

We should fix this by adding smarts to the generator, `functions_to_method_doc.py` that does the line wrapping *in-situ* when generating `MethodDoc.C` from `functions.rst`.

It should also do so

[2022-03-26 18:11] markcmiller86 opened #17505 "PDF doc builds appear to be broken in develop"

[2022-03-28 16:30] #17486 closed, assigned to markcmiller86

[2022-03-28 17:48] brugger1 opened #17507 "Remove leading and trailing whitespace from variable names in PlainText reader."
I was reading some csv data using the PlainText reader and noticed that the variable names were grouped strangely. I believe this is because the variable names include leading and trailing whitespace. A sample of the file that demonstrates this is:
[code]

[2022-03-28 17:52] markcmiller86 commented on #17507
Be aware that the **PlainText** reader does permit whitespace as a *separator* (it might only be tabs but not spaces, I don't honestly know) and that potentially complicates handling leading/trailing whitespace in variable names.

[2022-03-28 22:03] biagas opened #17510 "When using Flythrough navigation mode, adding a new plot can cause both plots disappear from view."
### Describe the bug
I added a plot of globe.silo and turned on Flythrough navigation mode.
Here's the plot:
![globeFlythrough](https://user-images.githubusercontent.com/17075318/160494382-5aecd4e4-4c4d-40ce-83e2-716763008877.PNG)
After adding multi_ucd3d.silo:
![globeFlythrough_aftermulti_ucd3d](https://user-images.githubusercontent.com/17075318/160494489-d288ce5c-bc95-447e-96a0-275665c7cb6f.PNG)

[2022-03-29 00:37] biagas opened #17511 "Should RecenterView be disabled in Flythrough navigation mode?"
It seems like the main  purpose of RecenterView is to recalculate the center of rotation. Flythrough mode doesn't use the centerOfRotation settings of View3D, so does it make sense to disable the method for Flythrough mode?

[2022-03-29 18:21] markcmiller86 opened #17513 "Shouldn't index select work on arbitrary polyhedral meshes that have been sub-zoned"
### Is your feature request related to a problem?

From @obrien20

It is possible to use 1D index select operator on zoo-type, ucd mesh. It allows one to keep ranges of zones (or nodes).

When we do arbitrary polyhedral meshes, we sub-divide original mesh zones and so index selecting needs to include or not include all *child* zones of an original mesh zone.

Based on what I understand about the S

[2022-03-29 20:05] brugger1 opened #17514 "Blueprint export includes expressions."
I exported the data from a pseudocolor plot using Blueprint and I also got variables from any expressions defined in the file.

To reproduce:
1) Open rect2d.silo.
2) Create a pseudocolor plot of "d".
3) Export to Blueprint using all the defaults.
4) Open the exported file and you will see the scalars "d", "speed", "vel_magnitude" and the vector "vel".

"speed", "vel_magnitude", and "vel" all are e

[2022-03-29 20:25] brugger1 opened #17515 "Scalars have "/c0" added to their names when exporting flattened CSV with Blueprint."
I exported data using the Blueprint plugin specifying flattened CSV files and the scalars had "/c0" added to their names.

To reproduce:
1) Open multi_ucd3d.silo.
2) Create a pseudocolor plot of "d".
3) Export using Blueprint format, specifying "Flatten CSV".
4) Look at the file "visit_ex_db/element_data.csv" and you will see a column with "avtGhostZone/c0". Look at the file "visit_ex_cb/vertex_da

[2022-03-29 20:32] biagas commented on #17514
Similar to #17324

[2022-03-29 20:35] brugger1 opened #17516 "Getting "Qt: Warning: failed to create compose table" from GUI."
There are a couple of situations where I get the message
[code]
To reproduce the first case.
1) Open a file in the current directory.
2) Create a pseudocolor plot
3) Export to Blueprint.
4) When the "Export options for Blueprint writer" window comes up. Click in the "Partition target number of domains" and delete the "0".
The message will appear.

To reproduce the second case.
1) Bring up the "Fil

[2022-03-29 21:04] brugger1 opened #17517 "Strip ghost zones and merge nodes when exporting to Blueprint with Flatten CSV."
When exporting to Blueprint with "Flatten CSV" it would be cool if ghost zones were stripped (and any associated nodes) and duplicate nodes were merged. This would truly match a merged mesh.

[2022-03-29 21:59] cyrush commented on #17476
@markcmiller86  you are correct - `zoneid` will use this info already.

Thinking about this more: It's worth considering an option that actually allows us to view the subdivided cases w/o the original ids (removing them if present). But that might need to be an operator.

[2022-03-29 23:36] brugger1 commented on #17511
It should be a no-op.

[2022-03-29 23:44] brugger1 commented on #17514
Expressions shouldn't be saved at all unless listed and then it should be the actual variable, not an expression.

[2022-03-29 23:47] biagas commented on #17469
See also #17511

[2022-03-29 23:53] #17505 closed, assigned to nobody

[2022-03-30 10:42] kevinsmia1939 opened #17520 "Cannot set zlib library dir to /usr/lib/x86_64-linux-gnu/libz.so"
### Describe the bug
Hi,
I am trying to package VisIt as Flatpak for Linux.
I want to build VisIt 3.2.2 from source.

But it cannot find zlib.
Setting CMake variable when compiling

` -DVISIT_ZLIB_DIR=/usr/lib/x86_64-linux-gnu/libz.so`

will result in

[code]
or
`-DVISIT_ZLIB_DIR=/usr/lib/x86_64-linux-gnu`
result in
[code]
In reality, zlib live in `/usr/lib/x86_64-linux-gnu/libz.so`

**Helpful add

[2022-03-30 17:02] JustinPrivitera opened #17522 "users are incorrectly guided to build_visit_log"
### Describe the bug
See the final line:
[code]
For every library that is built, if `build_visit` fails to build it, it will tell users that the log file is in the directory of the 3rd party lib it was trying to build. In reality, the log file is one level up.

In this case, I am building visit in the directory `temp`, and currently the `c-blosc2` library (the new one I am adding) is failing to bu

[2022-03-30 18:48] markcmiller86 opened #17523 "Add/ensure verbiage regarding review of 2nd+ merges"
### Describe what needs to be documented.

Our team's current practice is to review a bit of work in a PR only for the first instance it is merged to a release candidate or to `develop` and to not re-review that same work (cherry-picked or format patched) to another major line of development.

But, I don't think we have this documented anywhere. I can't find it anyways. We should be sure its there

[2022-03-30 20:36] cyrush opened #17524 "Use mfem 4.4 for VisIt 3.3.0?"
### Is your feature request related to a problem?

mfem 4.4 was just released, i think we should use this in 3.3.0 to make sure we have latest support for their mesh types.

https://github.com/mfem/mfem/releases/tag/v4.4

[2022-03-30 23:07] brugger1 commented on #17520
Hi,

Our CMake logic requires that VISIT_ZLIB_DIR is a directory with a `lib` and `include` directory in it. You will need to build and install zlib from source and then set VISIT_ZLIB_DIR appropriately.

We could potentially add a VISIT_USE_SYSTEM_ZLIB variable or something along those lines, but that couldn't be done until our next release.

Also, I notice that it looks like you are using VTK 8.

[2022-03-31 16:22] markcmiller86 commented on #5599
@cessenat....the particular issue in this case is that *locale* causes floats to be stored as `0,015` instead of `0.015`. Reading that back in is causing an issue because the floating point number is stored for a locale we are currently not expecting.

Do you have any opinions regarding the *locale* of the stored settings?

My first thought is that we should store settings on a *standard* way *alw

[2022-03-31 16:29] #17180 closed, assigned to markcmiller86

[2022-03-31 16:38] markcmiller86 commented on #17228
Bracket top `CMakeLists.txt` X11 logic for non-darwin and confirm it builds

[2022-03-31 16:39] brugger1 commented on #17290
We aren't doing another 3.2.x release, so this is no longer necessary as the next release will include it since it will come from develop.

[2022-03-31 16:39] #17290 closed, assigned to nobody

[2022-03-31 16:56] JustinPrivitera commented on #17406
Just ran into this yesterday on rztopaz with gcc 7.3.0

[2022-03-31 16:57] brugger1 commented on #17406
The vtk-m and vtk-h libraries need to be rebuilt.

[2022-03-31 17:01] brugger1 commented on #17441
Mark made some documentation updates describing how to turn all the materials on with `TurnMaterialsOn()`.

[2022-03-31 17:01] #17441 closed, assigned to markcmiller86

[2022-03-31 17:26] cessenat commented on #5599
Hi @markcmiller86 , as far as I know it is the LC_NUMERIC value that decides whether decimal numbers are written using a dot "." or a comma ",". To my opinion, I would like VisIt to always use the standard decimal notation with a dot.
That can be achieved when setting
export LC_NUMERIC=C
and user interface language still can be selected with "-lang de" for instance.
So, I would suggest to add this

[2022-03-31 20:14] biagas opened #17527 "Modify how DB Read/Write options are saved to config/session files."
### Is your feature request related to a problem?
Currently there is a DBOptionsAttributes object for every database plugin, regardless of whether or not a particular plugin actually has read or write options.   This means there are a lot of lines added to the file that do nothing:
[code]

I believe this is due to the fact that they are stored without their associated plugin's name, but instead ar

[2022-03-31 21:40] #4554 closed, assigned to biagas

[2022-03-31 22:03] biagas commented on #17472
I was able to duplicate by:
Creating Pseudocolor plot first, changing color table it used to Spectral (though this isn't important I think).
Creating Subset plot, changing it to use Single Color  (yellow) and changing either the Single Color's opacity to < 100% or change the overall opacity slider to < 100%.
Then I get the 3rd image from @cyrush description.

It seems the topologicalDimension for

[2022-03-31 22:39] biagas commented on #17472
@cyrush the Blueprint plugin is reporting topological dimension of '2' for the 'mesh_boundary' mesh. Shouldn't it be `1`?

[2022-03-31 23:08] biagas commented on #13231
I narrowed it down to this section of the visitrc file:

[code]

If I comment it out the `RegisterCallback`, then calling DeleteAllPlots() without any plots drawn does not cause the CLI to crash.
There is another call to register this callback in the `PerformPick4D(pa):` method.  I wonder if that one would suffice if we were to permanently comment out the other?

[2022-04-01 00:50] #17029 closed, assigned to cyrush

[2022-04-01 04:03] markcmiller86 commented on #13231
So, the problem is happening in the call to `onSetActivePlots`. If I change the body of that simple method to `print("got here")`, I never see the print statement. If I change the formal argument list to none (e.g. `def onSetActivePlots():`, then I get a python exception about the incorrect arg count and it doesn't crash.

So, I find myself wondering why is the `SetActivePlotsRPC` callback getting

[2022-04-01 14:48] biagas commented on #13231
Well, there isn't a 'DeleteAllPlotsRPC'.  'SetActivePlotsRPC' is called to set all plots to active, then 'DeleteActivePlotsRPC' is called.

[2022-04-01 22:21] brugger1 opened #17534 "Enhance MFEM reader to recognize raw MFEM files."
I got the following request from Tom Brunner.

I would like to be able to read raw MFEM files in VisIt.

I think this “just” requires a little logic to notice a raw MFEM file, and then run this code to make a data collection:
[code]
Tom

[2022-04-01 22:48] markcmiller86 commented on #17534
I see how that could get the mesh but I am not sure how that captures any *variables*. There may be a small bit of grid_function calls to add there too??

I am also not sure if this has the effect of only *adding* a new json-file to serve as the index VisIt starts with or it also needs to produce reformatted the problem-sized data files? If the latter, I don't think we should be doing that unless

[2022-04-04 15:49] biagas commented on #17472
I checked the Blueprint plugin, and when it creates MeshMetaData, the topological dimension is always set to the same as the spatial dimension.

[2022-04-04 15:58] #5768 closed, assigned to biagas

[2022-04-04 18:45] biagas opened #17537 "Do we need a way to 'force' retrieval of accurate Topological dimension?"
### Is your feature request related to a problem?
When a Database plugin doesn't report Topological dimension of a mesh accurately, or when a Filter doesn't update the Topological dimension appropriately, VisIt can misbehave in unexpected ways. See #17472, #3390 for reported examples.

Not only that, but #5155 highlights an unstructured-to-polydata conversion that happens under the covers when top

[2022-04-04 18:51] JustinPrivitera opened #17538 "'Laplacian' function needs to be moved to the list of vector expressions"
In #17427, several functions were moved from the misc. submenu to the vector submenu. This change was not reflected in the docs.

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/using_visit/Quantitative/Expressions.html?highlight=expression#miscellaneous-expressions

The 'Laplacian' function needs to be moved to the list of vector expressions to be consistent with the current bui

[2022-04-04 18:54] biagas commented on #2040
This was resolved by #4808

[2022-04-04 18:54] #2040 closed, assigned to nobody

[2022-04-04 22:40] #2727 closed, assigned to biagas

[2022-04-04 22:40] #17465 closed, assigned to biagas

[2022-04-04 22:40] #17469 closed, assigned to biagas

[2022-04-04 22:40] #17496 closed, assigned to biagas

[2022-04-04 22:40] #17510 closed, assigned to biagas

[2022-04-04 23:45] biagas commented on #17511
Resolved by #17467

[2022-04-04 23:45] #17511 closed, assigned to biagas

[2022-04-05 00:56] markcmiller86 opened #17542 "Shift+Drag zoom not working on macOS"
Here is what I see (with a 2D dataset, `curve2d.silo`) with `Shift`+mouse drag while in `Zoom` mode on macOS

- If I depress `Shift` *before* beginning a zoom drag while in `Zoom` mode, I get panning...which is same as in `Navigate` mode.
- If I depress `Shift` *after* beginning a zoom drag, I get no effect (no constraining)
   - I tried other keys as well (`Ctrl`, `Alt`, and `Command` (or the App

[2022-04-05 01:32] #17507 closed, assigned to JustinPrivitera

[2022-04-05 16:43] #17538 closed, assigned to JustinPrivitera

[2022-04-05 22:04] JustinPrivitera opened #17545 "smart file opener"
### Is your feature request related to a problem?
When opening a file, if you click "Guess from file name/extension" to select a file type VisIt should use to open, if you type a letter on the keyboard, VisIt will highlight the first filetype that starts with that letter, but if you type another letter, VisIt will highlight the first filetype that starts with that second letter, rather than highli

[2022-04-05 23:03] markcmiller86 opened #17546 "Update docs on numerically controlled coloring to use continuous with non-smoothing"
Creating a color mapping with detailed control over how colors map to a variable's value is [documented](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/using_visit/MakingItPretty/Color_tables.html?highlight=numerically%20controlled%20banded#editing-color-control-point-positions-numerically) but it relies upon **both** discrete color table setup (where `position` data is actually

[2022-04-05 23:05] markcmiller86 commented on #17545
I wonder if this is all handled in Qt somewhere and we just need to set the right flags/options for the text-entry menu.

[2022-04-06 17:01] biagas commented on #13231
I guess the most logical thing would be to change visit_DeleteAllPlots so it is a no-op if there are no plots.

[2022-04-06 23:10] biagas commented on #3075
cant duplicate any more.

[2022-04-06 23:10] #3075 closed, assigned to biagas

[2022-04-06 23:34] brugger1 opened #17551 "Change the Python expression editor to use a fixed width font."
The Python expression editor in the Expressions window doesn't use a fixed width font, making it difficult to determine if the indenting is correct. We might want to make same change to the Standard editor for consistency, although it isn't really so important there.

[2022-04-07 00:03] #13231 closed, assigned to biagas

[2022-04-07 17:17] #17316 closed, assigned to JustinPrivitera

[2022-04-08 00:14] #17294 closed, assigned to JustinPrivitera

[2022-04-08 16:55] cyrush commented on #17472
Ahh -- this is a bit like https://github.com/visit-dav/visit/issues/3390

All we know at metadata time is that we have an unstructured mesh.  It could be composed of points, lines, surfaces, and/or volumes.

I'll add comment over on: #17537

[2022-04-08 16:56] cyrush commented on #17537
Should add a filter that computes the proper topological dimension?
Is that a possible solution?

[2022-04-08 16:57] markcmiller86 commented on #17472
@cyrush during this week's project meeting, we were wondering aloud why it isn't possible for a data producer to *inject* knowledge of (the maximum) topological dimensions of its mesh entities into the metadata so that downstream consumers just *know* it and don't have to go do problem-sized reads to discover it?

[2022-04-08 16:58] markcmiller86 commented on #17472
FYI...I found I needed to add that for Silo in the `DBOPT_TOPO_DIM` option for ucd and quad multi-meshes.

[2022-04-08 17:02] cyrush commented on #17534
I think the mfem data collection should also save the "mfem_root" file, the json file we need.

https://github.com/mfem/mfem/blob/168b19fc4904dc90e217bef9b5c3f595c4865da2/fem/datacollection.cpp#L471

[2022-04-08 17:18] cyrush commented on #17534
I see now - he isn't using the visit collection, but is suggesting how to bridge with it.

We could detect text MFEM files by looking for `MFEM` at the start of the file.

But I agree with Mark, this would only work for the mesh w/o any grid functions.  But maybe that is what Tom is after.

[2022-04-08 18:36] markcmiller86 commented on #4282
@casperson1 I'll be recording some notes here as I begin work. Since you are new to GitHub, I suggest having a quick look over [our docs on managing notifications](https://visit-sphinx-github-user-manual--17556.org.readthedocs.build/en/17556/getting_help/notifications.html). **NOTE**: that link will be active only for a while because its part of a pull request. If it fails, try [this one](https://

[2022-04-08 18:57] markcmiller86 commented on #4282
If possible, I'd like to make the solution we develop *generally* useful and not *require* a special file naming convention. That said, one basic *requirement* is that each tarball (and companion root file) represents the file(s) needed for a single timestep. But, I think that can pan out in a few different ways...

### Case 1A all files, including root file are in the tarball

* User asks VisIt t