[2019-08-21 19:03] BradWhitlock commented on #3791
I did a different build on develop and it did not have the MFEM/Conduit problem. I can't explain it.

[2019-08-21 19:03] #3791 closed, assigned to nobody

[2019-08-21 19:21] BradWhitlock opened #3793 "Possible Linux build issue where VTK libraries are not found without installing VisIt"
### Describe the bug
I have usually over the years been able to build VisIt in an out of source build and run that binary without having to first install VisIt via "make install" or "make package". This works by having the build encode paths to shared libraries in the VisIt binaries. On a new system, I am finding that this is not working. Some VTK libraries include a path when I ldd the viewer and

[2019-08-21 21:39] griffin28 opened #3794 "Uintah libxml2 image not found error"
Hello Kamrom,

I am assuming you downloaded the OS X VisIt dmg: https://wci.llnl.gov/simulation/computer-codes/visit/executables

I just tried it and got the same error:

% /Volumes/VisIt-3.0.1/VisIt.app/Contents/Resources/bin/visit
Running: gui3.0.1
Empty filename passed to function
Running: viewer3.0.1 -geometry 1029x877+407+0 -borders 20,0,0,1 -shift 0,0 -preshift 0,0 -defer -host 127.0.0.1 -po

[2019-08-22 16:51] mclarsen commented on #3775
Simple exapmple of a .mtl file:
https://people.sc.fsu.edu/~jburkardt/data/mtl/mtl.html

Another option would be to output texture coordinates (1D) associated with the vertices that correspond to the color map location (i.e., normalized scalar value). That would allow the end user to apply any color map in whatever tool they are working with.

[2019-08-22 17:00] markcmiller86 commented on #3775
So, an mtl file is what the *reader* currently uses to read color information too.

I hadn't considered this approach, @mclarsen. Are you saying that the right answer is to allow the user to issue two sep. saves...one for the obj data to a `.obj` file and the other to export a VisIt color table to a `.mtl` file?  Well, wait, that won't work either because the `.obj` file needs to be *annotated* wi

[2019-08-22 17:04] aowen87 commented on #3504
In most cases, the pick range works perfectly fine. When using the sslide14ball dataset, I see the hanging behavior.

[2019-08-22 17:06] mclarsen commented on #3775
You would need both. I am going to change my suggestion to be in favor or texture coordinates, since it much more flexible. They can map whatever they want on the the mesh.

[2019-08-22 17:07] mclarsen commented on #3775
The texture coordinates can be written in obj file, so no writing additional files.

[2019-08-22 17:32] aowen87 opened #3799 "OriginalNode/ZoneLabel option added twice"
### Describe the bug
I noticed that the OriginalNode/ZoneLabel variable is added twice in the menu for mili. This should be an easy fix.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded

[2019-08-22 18:06] #3761 closed, assigned to brugger1

[2019-08-22 18:50] #3675 closed, assigned to rusu24edward

[2019-08-22 19:44] rusu24edward commented on #3515
I had looked into PyMesh previously. It looks like it is primarily useful for creating and manipulating meshes, and it has some very nice tools for that. As far as expressions go: variables can be added to the mesh in the form of attributes. The variable is essentially a numpy.ndarray that takes its shape from the mesh itself. It appears that a mesh object can natively define variables at vertices

[2019-08-22 21:13] biagas opened #3801 "Save movie with any type of compositing fails on some systems"
Investigating report from customer where using the RotationZ sequence for a movie template failed with a message like this:
<pre>
convert: improper image header `seq_Window_1_375x178_0000.ppm' @ error/pnm.c/ReadPNMImage/293.
</pre>

I can reproduce on pascal, but not my local rhel7 system, and the movie failures crash the cli.
_Simple movies that do not generate intermediate ppm files work just fi

[2019-08-22 21:25] rusu24edward commented on #3381
@markcmiller86 Can you elaborate on this? Why is it necessary for a point mesh to have an equivalent and redundant cell mesh?

[2019-08-22 21:46] rusu24edward commented on #3381
XYZ writer looks for variables from the dataset's pointdata [here](https://github.com/visit-dav/visit/blob/develop/src/databases/XYZ/avtXYZWriter.C#L176). `nvars` is calculated in a loop over the point data [here](https://github.com/visit-dav/visit/blob/develop/src/databases/XYZ/avtXYZWriter.C#L137). So, if a variable is only cell-centered, the XYZ writer will not see it. This is what is happening

[2019-08-22 21:48] rusu24edward commented on #3381
Not sure why this is still happening. XYZ writer is not the only one that has this. For example, I exported to vtk and saw the same thing.

[2019-08-22 22:09] markcmiller86 opened #3802 "Save movie with 3-slice template hits a wall"
### Describe the bug
90% way through creation of a movie, performance bogs down to a crawl. It is chuging along at about 1 frame/sec save rate and then at the end, it takes *forever* for each frame to render.

- [X] Did VisIt crash? -- Well, it just bogs down to a crawl!!

### To Reproduce
1. Open `wave_smaller.visit` (see below).
2. Put up PC plot of pressure
3. Save movie...
4. select existing t

[2019-08-22 22:26] markcmiller86 commented on #3381
A simple example...its concievable that there are some points that are *not* intended to be part of the mesh. This can definiately happen in non-point meshes where, for example, you have a `vtkPoints` object containing some points that are not referenced by any cell.

Next, I dunno but I think VTK may *require* the redundent cells in order for the object to be a compliant unstructured grid object.

[2019-08-22 23:11] #3720 closed, assigned to brugger1

[2019-08-22 23:16] rusu24edward commented on #3381
@markcmiller86 thanks for the explanation. Based on what you've said here, it seems that the XYZ plugin is not designed to handle meshes because the Writer never outputs any cell data. It only outputs point data.

[2019-08-22 23:23] markcmiller86 commented on #3381
Well, in XYZ writer, that is XYZ file format. XYZ file format is designed only for points and so the cells VTK might need can be inferred from them when the time comes to instantiate it as VTK (e.g during a read back).

Maybe this all boils down to possibility that user has *both* point data and cell data fields and when they export a cell-data field, if the cells that  field is defined on are not

[2019-08-22 23:33] rusu24edward commented on #3381
I see what you're saying. So then the XYZ format does not natively distinguish between point data that you want as a mesh and point data that you want to not be connected to any mesh.

I spoke with the users who were having this problem and they had found a work around using tec plot. The feature to automatically detect and convert would be nice, although I am not familiar enough with vtk yet to e

[2019-08-22 23:35] brugger1 commented on #2768
I just checked the third party libraries on quartz and libQt5Svg and libQt5Concurrent are both present. I then checked the installation of 3.0.1 and those libraries were there as well. The installation was installed from a distribution created by "make package". Therefore, this is no longer an issue.

[2019-08-22 23:35] #2768 closed, assigned to brugger1

[2019-08-22 23:51] markcmiller86 commented on #3381
That sounds fine.

[2019-08-22 23:54] aowen87 commented on #3504
It looks like PickByZoneLabel isn't returning the actual value of the variable. It's returning the correct incident nodes and zone centering, but the variable value is missing. This may have something to do with the issues I see with the sslide14ball dataset, but that's not quite clear yet.

Scratch that... It is retrieving the variable; I just didn't use the method properly.

[2019-08-22 23:57] markcmiller86 commented on #3381
So, I just did this test...

1. Open globe.silo
2. PC plot `dx`
3. Export DB to XYZ
   * You get the nodal coordinates but no 4th column for dx
4. Define expression "dx_nodal" as "recenter(dx, "nodal")"
5. PC plot of `dx_nodal`
6. Export to XYZ
   * You get the 4th column.

So, a warning message about not being able to handle non-node centered variables along with a hint to recenter them to the no

[2019-08-23 00:02] markcmiller86 commented on #3381
If, however, the cell-data is all defined on VTK_VERTEX elements, then we should write those to the file witout issue.

[2019-08-23 00:02] aowen87 commented on #3504
Oddly, if do_time is enabled, it doesn't seem to hang. There also aren't any results returned when do_time is enabled, which may be related.

[2019-08-23 15:33] rusu24edward commented on #3381
This is the same thing that I found to happen.

Just to be clear, this is the case where there is no point data but there is cell data and all the cells are VTK_VERTEX, then they should essentially be treated the same as points as far as the Writer is concerned?

[2019-08-23 16:04] markcmiller86 commented on #3381
Well, if there is no point data, we have no coordinates. So, no not that case. Sorry if I sound confusing (I probably *am* confused ;). But, imagine a spatially 2D dataset arrives in the XYZ writer requesting both point and cell-centered variables to be written. In general, the collection of cells could consist of `VTK_TRIANGLE` and `VTK_QUAD` cells and we'd have to do a recentering there in the w

[2019-08-23 16:05] rusu24edward commented on #3381
Got it, thanks for the clarification!

[2019-08-23 16:07] markcmiller86 commented on #3381
I took a quick look at the expression system's [recentering code](https://github.com/visit-dav/visit/blob/eb8107ef3c112eba2a9cd572468f79863c7a87ad/src/avt/Expressions/Abstract/avtExpressionFilter.C#L685). It might be pretty easy to do the following...

1. refactor that code to `src/avt/Pipeline/Data/avtCommonDataFunctions.C`
2. change expression system to use it from its new place
3. Add logic in

[2019-08-23 18:00] #3783 closed, assigned to brugger1

[2019-08-23 18:19] aowen87 commented on #3504
When creating the output map node (PickAttributes::CreateOutputMapNode), there is an issue with including OriginalZone/NodeLabels as a variable that causes the hang.
Furthermore, this also brought to light another issue that I hand't caught before; The returned dictionary of PickByZone/NodeLabel has some odd values in it and is even missing information for pick ranges (when used on datasets that d

[2019-08-23 18:33] rusu24edward commented on #3381
@visit-dav how can I add a test for how something is written? The existing tests in /tests/databases seem to be testing how something is _read_, but I want to test how something gets _written_, and also test if a warning message gets issued. Is this possible?

[2019-08-23 19:49] markcmiller86 commented on #3381
Well, your in a bit of luck because XYZ format is ascii. So, the whole file can be represented as a string of text, right? So, you could do it as a `TestText()` kind of test where the baseline is the XYZ file you expect to produce.

If it wasn't an ascii format. Then, the way I'd do it is write the exported data and then read that data back in and do various `Test()` operations (e.g. images) on it

[2019-08-23 20:09] #3465 closed, assigned to markcmiller86

[2019-08-23 20:44] griffin28 opened #3805 "Add host_ncar_casper.xml file"
Greetings Developers,

Attached is the host xml file for NCAR:casper, which is the visualzation
cluster for NCAR.  It's currently pointing to the most latest compiled
version on casper 2.13.3.  The two settings that took a while to sort
out were:

 sublaunchPreCmd, partition and numProcessors.

Hopefully this xml will be added to the remote profiles repo.

Thanks,

Todd Harman
Uintah Senior Develo

[2019-08-24 08:14] unfelipe opened #3806 "Troubles installing Visit on Linux"
I am trying to install visit 2.10 on UBuntu, but I am in trouble following the INSTALL NOTES for installing Visit on Linux. This is the point:

1.  Run the visit-install script to install visit.  If you have built your
    own visit binary distribution, you can find the visit-install script
    in the svn_bin directory.  The visit-install script can create a new
    distribution directory or updat

[2019-08-24 17:03] Ashok0586 commented on #2906
Can some help to how to fix this issue:-
I am try to install visit on the HPC cluster.

qt.shiboken: writeMinimalConstructorExpression: Could not find a minimal constructor for type 'const QTimeZone &'. This will result in a compilation error.
qt.shiboken: There's no user provided way (conversion rule, argument removal, custom code, etc) to handle the primitive argument type 'int *' in function 'Q

[2019-08-25 18:32] felker opened #3807 "xmledit fails to start due to missing QT cocoa plugin with macOS .dmg"
### Describe the bug

I have installed the latest VisIt release's prebundled `.dmg` binary via Homebrew Cask. While the main application `VisIt.app` seems to be working correctly, I am unable to launch the `xmledit` from the command line:

[code]
I tried a couple of suggested workarounds that have been suggested for this error online, including changing my `PATH`, `LD_LIBRARY_PATH`, `QT_QPA_PLATFO

[2019-08-26 14:58] brugger1 commented on #2906
You didn't mention which version of VisIt you are trying to build, but Pyside2 doesn't work with anything after VisIt 3.0.0. We have put a reasonable amount of effort into trying to get it to work, but have been unable to do so. If you don't need it I suggest leaving off --pyside2 in your build_visit line for the moment. Here is a link to the documentation on what works on various systems that we

[2019-08-26 15:06] brugger1 commented on #3806
You should have visit-install2_10_3 and visit2_10_3.linux-x86_64-ubuntu11.tar.gz (or whichever distribution you downloaded in the same directory). To install it using the ubuntu11 version mentioned in the previous line use:

./visit-install2_10_3 2.10.3 linux-x86_64-ubuntu11 /path/to/visit

where “/path/to/visit” is the path to the directory you want to install VisIt in. The “linux-x86_64-ubuntu11

[2019-08-26 15:22] griffin28 commented on #3807
I was able to reproduce this error.

![Screen Shot 2019-08-26 at 8 18 17 AM](https://user-images.githubusercontent.com/26772741/63701840-9bab3f00-c7da-11e9-97ed-658cec7a8f2c.png)

[2019-08-26 16:01] unfelipe commented on #3806
Hello Eric,

  Thanks for replying.

   I am using the github site. I decided to install the version 2.1 (no big
reason for that).
   If I try to clone it I cannot find the repository.
   If I simply download it from the website, it goes, a single file is
downloaded: visit-2.1RC.zip. After unziping, the directory 'visit-2.1RC'
contains data, docs, src and tests. Delving into the folders I realize

[2019-08-26 16:16] griffin28 opened #3809 "Can't configure visit build with adios2"
### Describe the bug
A configuring error is encountered when trying to build visit with adios2.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [x] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - User productivity significantly degraded
- [x] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially d

[2019-08-26 16:54] rusu24edward opened #3810 "Add node-recentering to the XYZ writer"
### Is your feature request related to a problem?
The xyz writer is currently designed to write point-centered variables only. In #3381, I added the ability for it to write cell-centered variables if all the cells in the mesh were VTK_VERTEX cells because VTK_VERTEX cells can be treated like points as far as the writer is concerned (see discussion in comments of #3381). [This comment](https://gith

[2019-08-26 16:56] rusu24edward commented on #3810
See [Mark's comment here](https://github.com/visit-dav/visit/issues/3381#issuecomment-524372342) for a useful approach to tackle this ticket.

[2019-08-26 17:24] griffin28 commented on #3807
My initial assessment is that the libraries in the Qt plugins/
![Screen Shot 2019-08-26 at 10 24 09 AM](https://user-images.githubusercontent.com/26772741/63709419-b508b700-c7eb-11e9-8150-9392f38c61c4.png)
platforms directory are not making it into the bundle.

[2019-08-26 17:25] felker commented on #3807
Is there a workaround, or does the `.dmg` need to be rebuilt?

[2019-08-26 17:39] griffin28 commented on #3807
@felker if you have the plugins/platforms/libqcocoa.dylib libraries you can use install_name_tool -change on the Qt* libraries in the bundle. Otherwise, yes, the .dmg will need to be rebuilt.

[2019-08-26 17:50] felker commented on #3807
Excuse my ignorance regarding macOS bundles, but would `plugins/platforms/` be a subdirectory of `VisIt.app`? If so, it is missing.

I was trying `install_name_tool` and `macdeployqt` workarounds, but have not had success.

[2019-08-26 17:54] griffin28 commented on #3807
@felker just copy /Applications/VisIt.app/Contents/Resources/3.0.1/darwin-x86_64/bin/gui.app/Contents/MacOS/platforms to /Applications/VisIt.app/Contents/Resources/3.0.1/darwin-x86_64/bin/xmledit.app/Contents/MacOS.

Do the same for styles and everything should work. Ignore my comment about install_name_tool

[2019-08-26 17:56] felker commented on #3807
Confirmed working, thanks!

[2019-08-26 17:59] griffin28 commented on #3807
Need to update FindVisItQt.cmake to install ${VISIT_QT_DIR}/plugins/styles and ${VISIT_QT_DIR}/plugins/platforms to ${VISIT_INSTALLED_VERSION_BIN}/xmledit.app/Contents/MacOS and ${VISIT_INSTALLED_VERSION_BIN}/mcurvit.app/Contents/MacOS

[2019-08-26 19:22] #3807 closed, assigned to griffin28

[2019-08-26 21:08] felker opened #3813 "Syntax errors in VisItLibraryDependencies.cmake with macOS .dmg"
### Describe the bug
After implementing the workaround suggested in #3807, I was able to use `xmledit` on my macOS platform. However, when trying to run `cmake -DCMAKE_BUILD_TYPE:STRING=Debug -Wno-dev`, the process fails:

[code]

The errors do not occur with a Linux build of the same VisIt version on a cluster at Princeton. It seems as though the `VisItLibraryDependencies.cmake` file is mangled (

[2019-08-26 21:18] felker commented on #3813
I was able to get the `cmake` command to complete successfully by commenting out the following 2x problematic lines in `VisItLibraryDependencies.cmake`:
- L32 `set(cognomen_LIB_DEPENDS "general"`
- L41 `set(mpicom_LIB_DEPENDS "general;${VISIT_LIBRARY_DIR}/libpython2.7.dylib;general`

but I don't know if this will just create issues later on in the build process.

[2019-08-26 21:19] biagas opened #3814 "Should disable color cycling in most tests."
Curve plot (and now mesh plot) both allow colors to be default-selected via a cycling method.

I think that all tests that create curve plots/mesh plots should set the colors explicitly, except for tests in plots/curve.py and plots/mesh.py that are specifically designed to  test the cycling aspects of the plot colors.

For instance, if one test in a particular set of Curve plot tests happens to fa

[2019-08-26 21:22] griffin28 commented on #3813
@felker...this is a known issue and was fixed by #3074 for the next release.

You need to add a ')' for L32 and a '")' for L41

[2019-08-26 21:23] biagas commented on #3813
Hello Kyle,

These are known issues with 3.0.1 which have been resolved for our
upcoming 3.0.2 release. Unfortunately, I don't think there is a
workaround.

Kathleen

On Mon, 2019-08-26 at 14:18 -0700, Kyle Gerard Felker wrote:

[2019-08-26 21:24] felker commented on #3813
Ok thanks, closing this. @biagas: are the changes recommended by @griffin28 not sufficient for a workaround?

[2019-08-26 21:24] #3813 closed, assigned to nobody

[2019-08-26 21:33] griffin28 commented on #3813
Just to clarify:

L32 should be: set(cognomen_LIB_DEPENDS "general;")
L41 should be: set(mpicom_LIB_DEPENDS "general;${VISIT_LIBRARY_DIR}/libpython2.7.dylib;general;")

Not sure if the semicolon is needed at the end but that's how its created and it works.

Also...there are some QT and qwt framework include and path issues that need to be fixed so you might run into trouble there when compiling. A

[2019-08-27 14:06] Ashok0586 commented on #2906
Hi Eric,

Thank you for support, i am trying to run visit3.0.0 version.
now i am trying to run without Pyside2 let waiting to complete the build

[2019-08-27 15:19] biagas opened #3815 "Pyside should be removed from build_visit."
We don't have a working pyside for use with visit, but it is still listed as an option for build_visit.
We should remove it from the module until such time as we get it working again.

[2019-08-27 17:00] #3504 closed, assigned to aowen87

[2019-08-27 17:40] brugger1 opened #3818 "shasum missing on Fedora 27"
### Describe the bug
I built VisIt on a Fedora 27 system and noticed shasum was missing, so the checksums were checked for most of the libraries downloaded. The commands sha1sum, sha256sum and sha512sum were all present. Should we switch to those instead?

**Impact**
- [X] Low - User productivity trivially degraded

**Likelihood**
- [X] Low - occurrence is specific to combination of multiple facto

[2019-08-27 17:45] brugger1 opened #3819 "libglapi.so.0 is missing from osmesa directory in binary distributions."
### Describe the bug
I built VisIt 3.0.1 on Debian 9 and when I ran VisIt in cli, nowin mode I got an error from the viewer that libglapi.so.0 could not be found. I checked and it was missing from visit/3.0.1/linux-x86_64/lib/osmesa. It was present in the corresponding mesagl directory.

**Helpful additional information**
- [X] Did VisIt crash?

**Impact**
- [X] High - User productivity significan

[2019-08-27 18:00] #3381 closed, assigned to rusu24edward

[2019-08-27 22:35] cyrush opened #3821 "vol rendering: smooth, etc buttons aren't reflected in x-fer function UI until you hit apply"
### Describe the bug
If you use the smooth and similar option buttons in the volume rendering atts when modifying a transfer function, you won't see the smooth result until you hit apply.

I don't think this used to be the case?

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [x] Low - User productivity trivially degraded

**L

[2019-08-27 22:56] brugger1 commented on #3810
We discussed this a bit and are not really sure we want to do this. The user can always do it explicitly and then they know what they are doing. Alternatively, they can use another format that supports cell data.

[2019-08-28 15:13] markcmiller86 commented on #3814
This makes a lot of sense.

[2019-08-28 15:41] griffin28 opened #3824 "uintah configuration/build doesn't use the --with-libxml2 option"
When building uintah if there is another libxml2 on the system path it will use the first one if finds which may not be the one intended for use. The --with-libxml2=DIR configuration option should solve this issue, however, it appears that the uintah configuration scripts don't respect this option.

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity p

[2019-08-28 15:52] griffin28 commented on #3824
Uintah configuration does use the --with-libxml2 option. However, the help contents is misleading, you need to specify the directory minus the final lib directory, the config script will append lib to any directory specified in the --with-libxml2 option.

[2019-08-28 16:35] rusu24edward opened #3825 "Alphabetical ordering of expressions"
### Is your feature request related to a problem?
One of our users defines dozens of expressions and has a very difficult time sifting through them because they are ordered by created instead of alphabetically.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [ ] High - User productivity significantly improved
- [X] Medium - User productivity partially improved
- [ ] Low - User p

[2019-08-28 16:45] rusu24edward commented on #2783
Duplicated by #3825

[2019-08-28 16:47] rusu24edward commented on #1370
Related to #3825

[2019-08-28 16:48] rusu24edward commented on #1370
Added to 3.0.3 milestone in order to keep this on our radar.

[2019-08-28 16:49] rusu24edward commented on #2852
Related to #3825

[2019-08-28 16:59] rusu24edward opened #3826 "Syntax highlighting in the expressions gui"
### Is your feature request related to a problem?
Complicated expressions often require lots of grouping by parenthesis, and keeping track of parenthesis can be very difficult. If there is a mismatch Visit presents an invalid expressions error, but lacks more detailed information about what is wrong with the expression.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [ ] High -

[2019-08-28 18:10] cyrush commented on #3826
great idea! we do this for python expressions -- its not perfect, but it can give us a concrete example of the mechanics needs to accomplish this in QT for visit's expr lang

[2019-08-28 18:42] rusu24edward commented on #689
From the above discussion and from some of my discussions with Oleg, it seems that checked division is the desired path forward. What about the following solution:
* Allow the user preferences (perhaps global or somehow per expression) to set the zero-tolerance and the div_by_zero_value. Visit can come with its own defaults (e.g. divide_by_zero_value = 0)
* Enhance the '/' character to be a checke

[2019-08-28 18:50] rusu24edward commented on #1521
I see the same behavior. Happens on my mac and on LC systems too. The only way I can kill it is to find the python pid and force kill it via the terminal.

[2019-08-28 19:43] rusu24edward opened #3831 "Min/max expression seems to only consider last two arguments"
### Describe the bug
The documentation for the min/max expressions [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html?highlight=expressions#built-in-expressions) seems to indicate that there can only be two arguments. However, if a user supplies more than 2 arguments, there is no warning or error. Instead, it seems as though the min/ma

[2019-08-28 19:44] rusu24edward commented on #3831
![Screen Shot 2019-08-28 at 12 31 35 PM](https://user-images.githubusercontent.com/18565891/63887389-8c222680-c991-11e9-9a3a-43dc5bbfa8a7.png)

[2019-08-28 19:45] rusu24edward commented on #3831
[min_max.session.zip](https://github.com/visit-dav/visit/files/3552602/min_max.session.zip)

[2019-08-28 22:14] rusu24edward commented on #3515
Re my meeting with Oleg yesterday,
* He is willing to recenter all his variables to the zones before interacting with Visit.
* He wants to have a divide by zero check (as discussed #689)
* He foresees the need to perform double gradients.
* He is very willing to work with us to get validation data for our numerical tests.

[2019-08-28 23:12] #3794 closed, assigned to griffin28

[2019-08-29 00:29] #3814 closed, assigned to biagas

[2019-08-29 01:38] markcmiller86 opened #3834 "Multiple issues exporting from Exodus to Silo"
### Describe the bug
1. Open `balls.e.4* database` exodus database.
1. Do a subset plot of `ElementBlock`.
1. Add Displace operator and displace with vector `DISPL`
1. Turn off set `1` of `ElementBlock` and adjust view to see down into box.
1. Vary time state and observe behavior (balls get crushed).

Now, try to export to silo...
1. check the box to `export all time steps`
1. Add variables, `Elem

[2019-08-29 01:41] markcmiller86 opened #3835 "Increase image sizes for some test outputs and other possible test issues"
I spent just an hour marching through all VisIts ~2800 image outputs and noted any that caught my eye as perhaps requiring re-baselining at a higher resolution, say 1Kx1K. The list I compiled here is not necessarily complete and I freely admit I was somewhat arbitrary in choosing which images caught my eye for closer examination. There are perhaps other 50% more images that would appear to fit in

[2019-08-29 01:44] markcmiller86 commented on #3835
Accidentally transferred as a Silo issues. Cut-n-pasted back here and closed the Silo copy. But, that copy still holds some useful image attachements. https://github.com/markcmiller86/silo-issues/issues/18#issuecomment-470663316

[2019-08-29 01:55] markcmiller86 commented on #3515
Isn't it better to recenter everything to the nodes?

[2019-08-29 16:24] rusu24edward commented on #3515
I don't know. Cyrus seemed to say that zones were better. I asked Oleg which one he wanted to recenter to, and he said he will do zones.

[2019-08-29 16:27] brugger1 commented on #3515
Recentering to nodes would require ghost zones to get consistent. The ghosts would also need to get stripped out before saving. All doable, but with zones those issues go away.

From: Edward Rusu <notifications@github.com>
Sent: Thursday, August 29, 2019 9:25 AM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [visit-dav/visit] Sophisticate

[2019-08-29 17:18] biagas opened #3837 "Curve plot cycled colors bad behavior"
Curve plot colors change with timestate change if color cycling is used (this is the default setting).
The new logic to prevent cycled colors that match the background is faulty.

Here's a script that demonstrates the problem (can be copied to the Command window, or use the attached script from the cli).

<pre>
a = AnnotationAttributes()
# this is the 9th color in the 'levels' color table
# used b

[2019-08-29 17:35] biagas commented on #3837
Also, curve colors seem to be 'cycled', even when using the 'Custom' option.
<pre>
def useCustomColors():
    curveAtts = CurveAttributes()
    curveAtts.curveColorSource = curveAtts.Custom
    curveAtts.curveColor=(0, 0, 0, 255)
    SetDefaultPlotOptions(curveAtts)
    AddPlot("Curve", "flat")
    AddPlot("Curve", "going_down")
    AddPlot("Curve", "going_up")
    AddPlot("Curve", "parabolic")

[2019-08-29 18:02] biagas commented on #3744
@cyrush  Can you be a bit more explict regarding which controls had issues and how to reproduce?

[2019-08-29 18:09] markcmiller86 commented on #3515
Ok, so its perhaps *better* numerically but not possible in current code due to logistics related to ghost zones. Sounds like for the time being, zones it is then.

[2019-08-29 19:02] cyrush commented on #3515
I am not sure re-centering to the nodes is better. If most of the expressions look at thermodynamic vars vs kinematic, then re-centering to the nodes brings us to a place where we can ask questions about volumes, masses, etc.  I also think things like gradients can be posed well element vs node.  I'll admit thats my world view of the potential analysis -- a judgement call. @rusu24edward and I also

[2019-08-29 19:05] cyrush commented on #3744
Check this out:

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/PotentialFlow.html#plotting-streamlines-of-velocity

See where it says "for good measure"

Basically the source changes for the seeds don't take until we apply twice.

[2019-08-29 20:04] brugger1 opened #3838 "CMakeLists.txt is missing OPENGL_INCLUDE_DIR."
### Describe the bug

I went to build VisIt on Fedora 27 and it doesn't have any OpenGL installed on it. I used mesagl to provide OpenGL. When it went to compile one of the files in avt/VisWindow/Colleagues it failed because it included GL/gl.h, which it couldn't find. My assumption is that every system we have ever built VisIt on had some minimal OpenGL and had GL/gl.h in the system include files

[2019-08-29 20:07] brugger1 commented on #3838
Adding OPENGL_INCLUDE_DIR to the bottom of the INCLUDE_DIRECTORIES in avt/VisWindow/CMakeLists.txt, just below VTK_INCLUDE_DIRS fixed the problem. Anyone see a problem with that?

[2019-08-29 20:38] biagas commented on #3838
Where is the opengl include dependency coming from for VisWindow?

Kathleen

On Thu, 2019-08-29 at 13:07 -0700, Eric Brugger wrote:

[2019-08-29 20:47] biagas commented on #3838
Sorry just wondering why we haven't encountered this before, and trying to prevent dependency creep. If it is truly just a system thing and the dependency has always been there, I think your solution is fine.

[2019-08-29 21:44] biagas commented on #3744
Thanks for the link. I can't seem to reproduce (linux). I took a look at the code and it falls in line with other lineEdits within VisIt.  However, I recall issues cropping up before, so perhaps we need to connect the 'editingFinished' signal in addition to the already connected 'returnPressed' signal for all lineEdits.  They can be connected to the same slot.

Also cannot duplicate on Windows.

[2019-08-29 21:58] brugger1 commented on #3744
Perhaps you can make the change for that window and then have @griffin28 build and test the change.

[2019-08-29 22:47] brugger1 commented on #3838
Hi Kathleen,

It's coming from VisWinRenderingWithoutWindow.C. Here is the error message:

[ 16%] Building CXX object avt/VisWindow/CMakeFiles/avtviswindow_ser.dir/Colleagues/VisWinRenderingWithoutWindow.C.o
In file included from /home/visit/visit3.0.1/src/avt/VisWindow/Colleagues/VisWinRenderingWithoutWindow.C:54:0:
/home/visit/third-party/vtk/8.1.0/linux-x86_64_gcc-7.3/include/vtk-8.1/vtkOpenGL.

[2019-08-29 22:59] biagas commented on #3838
Thanks.

[2019-08-30 02:40] #3815 closed, assigned to biagas

[2019-08-30 16:49] biagas opened #3840 "Xdmf reader crashes mdserver"
Open testdata/xdmf_test_data/3DRectMesh.xmf
Mdserver will crash.
This is on develop.
Here's a brief stack trace:
<pre>
Program received signal SIGSEGV, Segmentation fault.
0x0000003c2ed28696 in __strcmp_sse42 () from /lib64/libc.so.6
Missing separate debuginfos, use: debuginfo-install glibc-2.12-1.212.el6.x86_64 libgcc-4.4.7-23.el6.x86_64 libstdc++-4.4.7-23.el6.x86_64
(gdb) where
#0  0x0000003c2ed

[2019-08-30 21:02] #2951 closed, assigned to brugger1

[2019-09-01 19:19] #3840 closed, assigned to markcmiller86

[2019-09-01 21:34] markcmiller86 commented on #3837
I know what is going on here and am working on a fix.

[2019-09-03 15:41] aowen87 commented on #3718
I've implemented a "default" collection method that exists outside of the database plugin and can be used for any reader. To test its performance, I disabled the mili plugin collection method and just used the default one on the same datasets that I used in my previous timings. Surprisingly, it performs at least as well as using the method that's down in the plugin (in some cases, it was even slig

[2019-09-03 15:43] markcmiller86 commented on #3718
@aowen87 this is awesome!

[2019-09-03 16:37] biagas commented on #3743
I'm working on this, but it won't be fixed for 3.0.2. @cyrush  Should we disable the buttons for 3.0.2 so users don't get out-of-date profiles by using them?

[2019-09-03 16:46] biagas commented on #3837
Well, I can still draw a single curve from curve.visit, then change time states and the curve color changes.
I did a clean build after checking out your branch.

[2019-09-03 17:23] #3819 closed, assigned to brugger1

[2019-09-03 17:32] markcmiller86 commented on #3837
Ok, I apparently didn't understand the issue with the first part of this ticket. I see it now. Thanks.

[2019-09-03 17:35] #3838 closed, assigned to brugger1

[2019-09-03 17:46] griffin28 commented on #3744
@biagas I can't reproduce either. It'll be very useful if @cyrush could demonstrate what he is encountering during our WebEx.

[2019-09-03 19:39] biagas opened #3853 "File format chooser keyed off file extension"
We have a *huge* number of DB plugins, and our current 'open as' option is just a pita to use, especially if the format you want is at the bottom of the list.

I think it would be great to offer a format-chooser that is keyed off the file extension.
If a particular extension is used by multiple formats, then we could offer all formats that read that
extension as options in the chooser.

May help s

[2019-09-03 19:41] markcmiller86 commented on #3853
Not sure if you are aware but hitting a single key will advance to the first occurence of a plugin starting with that letter in the list. So, hitting `z` key will time-warp you to bottom or near bottom; still a pita but a little less scrolling.

[2019-09-03 20:01] markcmiller86 opened #3854 "Opening Elevate operator attributes crashes GUI"
### To Reproduce
1. Start VisIt 3.0.1 on OSX
2. Go to Operators Attributes->Transforms->Elevate
3. VisIt will crash

### Desktop
- OSX (happend on my and Matt's systems)
- 3.0.1 version

[2019-09-03 20:07] markcmiller86 commented on #3854
Here is some debug backtrace from my current develop

[code]

[2019-09-03 20:11] aowen87 commented on #3718
On second thought, I think I may need to allow the possibility of implementing this at the plugin level as well.

For Mili datasets, a large number of the available "scalar" variables are actually components of vectors, arrays, and tensors that are exposed through expressions. In order to plot this kind of expression variable through the "default" route, I would need to know
1. that the requested

[2019-09-03 20:11] markcmiller86 commented on #3854
Am suspect of this line of code...

https://github.com/visit-dav/visit/blob/eb5c9d9808cce026aa7329ebc7634dd92d67f4fc/src/operators/Elevate/QvisElevateWindow.C#L93

[2019-09-03 20:44] cyrush commented on #3854
yes, that doesn't look so great :-)

[2019-09-03 20:51] markcmiller86 commented on #3718
I think this is true in any case for MTXX plugins, right? I mean for an MTXX plugin (multi-time), there is no abstraction *above* the plugin that represents the *loop over timesteps*. For MTXX plugins, the whole query essentially needs to be delegated to the plugin. For STXX plugins, that is not the case.

We should probably have a larger discussion about this...the impact of expressions is a bit

[2019-09-03 20:59] aowen87 commented on #3718
For the default version, MTXX are handled the same as STXX; I iterate over the requested time steps (if valid), activate them, and then call "GetVar" to retrieve the variable and parse out the requested elements. This is all done in the base FileFormatInterface class.

[2019-09-03 21:06] markcmiller86 commented on #3718
So, having not thought about this anywhere near as much, I am all of the sudden wondering about a few things...

1. What happens if the expression is an expression *function* like *MinMax* or something else that involves the *whole* mesh variable? In that case, each timestep involves a full read and there is no savings to be gained by possibly delegating that read down to the plugin where a partia

[2019-09-03 22:26] markcmiller86 opened #3855 "Vector expression functions cross, dot, maybe others, don't work on 2D data"
### Describe the bug
The expression system has vector functions to perform dot-product, cross-product, etc. These appear to not give valid results for 2D mesh inputs. Even if you elevate a 2D mesh with zero height, making it a bonified 3D plot, you don't get expected results. You either get error messages during expression evaluation or you get a blank plot (not a *plot yielded no data* plot but j

[2019-09-03 23:20] aowen87 commented on #3718
1. At this point, the savings aren't coming from only reading requested elements; I'm reading in all elements and then selecting which ones to keep. I'm avoiding loading in the mesh position at each time step, which might help some with performance, but it seems like largest benefits are coming from avoiding all of the overhead that comes with performing a full pick at each time step. The expressi

[2019-09-03 23:54] BradWhitlock opened #3857 "Libsim runtime library is getting linked to Qt, which is not desired."
### Describe the bug
The viewer contains a core library that includes most of the viewer functionality that would exist without any Qt GUI coding for windows and menus. The viewer core library is used in the Libsim runtime library so we can use it for higher level plot creation, etc. The Libsim runtime library appears to be getting a Qt GUI dependency.

Calling dlopen(libsimV2runtime_par.dylib)
Fa

[2019-09-04 00:02] BradWhitlock commented on #3784
Scatter plot wizard does this too. I saw it on Ubuntu. The widget must not be getting the current size update from Qt.

[2019-09-04 00:36] BradWhitlock opened #3858 "Console has strange message when running installed version on Mac."
### Describe the bug
I checked out the code from develop, built it, and installed using "make install". My install location was set to $HOME/Development/MAIN/install. When I run the VisIt installed there from the console, I see a message printed to the console. When I run VisIt from the out-of-source-build's bin directory, I get no message. This is on Mac 10.12.8.

./install/bin/visit -noconfig
Ru

[2019-09-04 02:00] markcmiller86 commented on #3858
Guessing this is related to a poor usage of Qt somewhere similar to [this](https://bugreports.qt.io/browse/QTBUG-67866)

[2019-09-04 03:53] #3592 closed, assigned to mclarsen

[2019-09-04 15:14] #3824 closed, assigned to ARSanderson

[2019-09-04 15:23] griffin28 opened #3861 "Uintah Index file error"
### Describe the bug
VisIt 3.0.1 gives an error when opening Uintah index files.  Here is the error message:

"There was an error opening .../index.xml. It may be an invalid file.
VisIt tried using the following file format readers to open the file: Uintah, Silo"

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [x] Did you get wrong

[2019-09-04 18:22] markcmiller86 commented on #3854
Fixed in #3856 and #3859

[2019-09-04 18:22] #3854 closed, assigned to nobody

[2019-09-04 18:24] markcmiller86 opened #3863 "Problems creating movie"
### Describe the bug
After saving movie, image is rotated 180 degrees, color table is wrong. Saving intermediate to PNG does workaround the issues. I am unable to reproduce on my OSX laptop. Also, avi and mpeg4 move saves didn't work.

[See attached notes Sep 3, 2019.pdf](https://github.com/visit-dav/visit/files/3575924/Note.Sep.3.2019.pdf)

### Desktop
 - OS and version: OSX
 - VisIt Version: 3.0

[2019-09-04 18:38] markcmiller86 opened #3864 "VCR play buttons active and cause play even when no plots are drawn"
### To Reproduce
1. Open wave.visit
1. Add PC plot of pressure **BUT DO NOT DRAW IT**
1. Hit VCR play button

You will notice the time-slider advances in time. But, its doing nothing. Worse, its kinda sorta hard to stop it from going all the way to the end. This would be bad for something with thousands of timesteps. Even worse, if you happen to have **Animation** controls set to *Looping*, it wil

[2019-09-04 21:02] #3861 closed, assigned to griffin28

[2019-09-04 22:07] #3743 closed, assigned to biagas

[2019-09-04 22:20] markcmiller86 commented on #3837
@biagas ... I have concluded I need to set color information back in the `XXXViewerEnginePluginInfo` methods for both **Curve** and **Mesh** plots to get correct behavior.

But, I don't wanna move all the color setting logic to the `XXXViewerEnginePluginInfo`; only the updating of the static integer effecting color table indexing. But, that means I need to add an extra `int` to the plot's attribut

[2019-09-04 22:25] aowen87 commented on #3718
One potential route for handling expressions would be to just use the original QOT when expressions are encountered and use the new Direct DB QOT for all other variables.
Downsides:
1. Expression variables would not see the benefits of this optimized time query.
2. I'd need to do some refactoring in Mili. Currently, most of the scalars are actually vector/tensor/array components that are rendered

[2019-09-04 22:35] biagas commented on #3837
Why didn't you want to put the logic in the ViewerEnginePluginInfo?

[2019-09-04 22:36] markcmiller86 commented on #3837
First reason, it takes effect only on new plot creation. So, you can't create a plot, then decide you want a random color and have it select that random color *after* you've created the plot. So, minimally, this means that same color selection logic needs to be duplicated in both the ViewerEnginePluginInfo and in the plot.

[2019-09-04 22:42] markcmiller86 commented on #3718
So, correct me if wrong but the basic issue with Expressions is avoiding evaluating the expression everywhere to return the expression for only the elements it was requested?

So, for complex expressions that seems totally reasonable. What about expressions that are just aliases for database primals? Seems like those could be handled by doing the indirection up front. I guess that is a slippery sl

[2019-09-04 23:01] aowen87 commented on #3718
Yeah, that is the main issue at hand. And evaluating the more complex expressions through their current implementations (I think...) would require attaching the retrieved values to a dataset and basically doing what the original QOT is doing.

This is where I'm struggling. For mili types, I'm currently handling these simpler expressions in the plugin implementation because it's just easy to do tha

[2019-09-04 23:25] markcmiller86 commented on #3718
I did have one though on the above.

1. Define additional methods in database interface for the *specific list of elements* versions of GetMesh, GetVar, GetVectorVar
1. Have a default implementation for these at the FormatInterface classes (or there abouts) that just turn around and call the normal GetMesh, GetVar, GetVector var method (e.g. the whole mesh method) and then cull out the parts that

[2019-09-04 23:58] brugger1 commented on #3718
I agree, that is a great solution. The expressions would then operate on the reduced data set and then the query over time would pull the data out of the reduced data set.

From: Mark C. Miller <notifications@github.com>
Sent: Wednesday, September 4, 2019 4:26 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Comment <comment@noreply.github.com>
Subject: Re:

[2019-09-05 01:17] biagas commented on #3837
I guess I didn't think user would want to take a current plot and change its color by changing the setting to 'Random'.

Seems like things with curve are working good with your most recent changes, except for
another test which didn't make it into the ticket. (sorry about that)
After a curve matches background and its color is changed, the very next curve has the same color.
<pre>
a = AnnotationAt

[2019-09-05 14:36] aowen87 commented on #3718
So, are you suggesting to create an entirely new dataset that consists of a reduced mesh only containing the requested elements and then attach the requested variable time spans to this dataset?

[2019-09-05 15:51] brugger1 commented on #3718
That’s my suggestion.

From: Alister <notifications@github.com>
Sent: Thursday, September 5, 2019 7:37 AM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Comment <comment@noreply.github.com>
Subject: Re: [visit-dav/visit] Optimize Time Query Curve Plot (#3718)

  1.  Define additional methods in database interface for the specific list of elements versions of

[2019-09-05 16:35] aowen87 commented on #3718
Okay, I think that would work for some of the expressions but not all, correct? If an expression needs information about the entire mesh or all time steps, then the result would be incorrect on this reduced mesh.

[2019-09-05 16:42] brugger1 commented on #3718
Yes, presumably we would only be doing this in the case where we would have been asking for a subset of nodes/zones anyway.

From: Alister <notifications@github.com>
Sent: Thursday, September 5, 2019 9:36 AM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Comment <comment@noreply.github.com>
Subject: Re: [visit-dav/visit] Optimize Time Query Curve Plot (#3718)

[2019-09-05 17:54] markcmiller86 commented on #3718
I guess I am saying that. I didn't think that represents too much of a perturbation from what you are already doing. Perhaps it also addresses the expression integration part of things too or at least more than was is possible with your current approach.

To some extent, this might kinda sorta behave similar to something after having threshold operator applied and the result of that operation bein

[2019-09-05 20:52] markcmiller86 commented on #3718
@aowen87 it occurs to me I won't be in on Tuesday next week but can arrange to be either Wed or Thu for a discussion.

[2019-09-05 21:51] aowen87 commented on #3718
@markcmiller86 Either of those days works for me.

[2019-09-06 15:57] cyrush commented on #3463
@biagas  the simplest fix to avoid the code being created in the src dir is to use symlinks to create a properly versioned "py_src" folder vs relying my current hack to "generate" source code in setup.py.

Will symlinks pose a problem on windows? If not, I think we can address this issue easily.

As to #3430, there are bigger things we can do to address.

there are two things at play:
* for develo

[2019-09-09 00:58] nicedaxiong opened #3874 "I want to build VisIt2.11.0 on ubuntu18.04"
### Describe what needs to be documented.
I want to build VisIt2.11.0 on ubuntu18.04. But I only got visit2_11_0.linux-x86_64-ubuntu14.tar.gz. I can't access the website(https://wci.llnl.gov/simulation/computer-codes/visit/executables) now, my request blocked. How do I get the build_visit script.

### Is the documentation missing?
If so, please describe where have you looked for the documentation

[2019-09-09 15:52] #3728 closed, assigned to griffin28

[2019-09-09 16:04] brugger1 commented on #3728
Awesome!! Thanks for fixing for 3.0.2.

From: Kevin Griffin <notifications@github.com>
Sent: Monday, September 9, 2019 8:53 AM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Author <author@noreply.github.com>
Subject: Re: [visit-dav/visit] Plot list sometimes goes blank on a mac. (#3728)

Closed #3728<https://github.com/visit-dav/visit/issues/3728> via #3875<

[2019-09-10 16:10] biagas opened #3877 "VTK reader erroneously declaring mesh has topological dimension 0"
Greg Burton has .pvtu formatted data, which is 3D topologically, but the reader is declaring
it has topological dimension 0.

This is new behaviour since the release of 2.13.3.

Greg's .pvtu points to many individual .vtu files , one for each block. Some of the blocks are actually empty, including the very first dataset.

The topological dimension is set in PopulateDatabaseMetaData, which checks o

[2019-09-10 18:18] biagas commented on #3877
Perhaps the big clue with Greg's scenario, is that the first block/dataset is completely empty,
eg there are no Points either.

Should the PopulateDatabaseMetaData method check for 0 points in the dataset, then attempt to read other 'blocks' until a non-empty one is found?

[2019-09-10 18:20] brugger1 commented on #3877
I think so, it may slow down the open, but if they are going to do that, I don’t know of another solution.

From: Kathleen Biagas <notifications@github.com>
Sent: Tuesday, September 10, 2019 11:18 AM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [visit-dav/visit] VTK reader erroneously declaring mesh has topological dimension 0 (#3877)

[2019-09-10 18:59] cfforiguar opened #3878 "GUI actions are not reproduced by recorded Python script"
### Describe the bug

I'm trying to generate a script to convert some files from the Tecplot format to a more compressed Silo format. I recorded the procedure in the GUI, but got different results when executing the recorded Python script.

As a temporary workaround, what output format  is highly compressed, documented and well supported by visit?

**Helpful additional information**
- [ ] Did VisI

[2019-09-10 20:32] brugger1 opened #3880 "Some pick attributes not passed along to VisIt for some pick methods."
### Describe the bug

I user was running VisIt setting the pick attribues and then doing a PickByGlobalZone and some of the attributes didn't get passed along. Specifically:

p=GetPickAttributes()
p.showPickHighlight=1
SetPickAttributes(p)
PickByGlobalZone(element=5)

In this case the pick letter shows up but there is no pick highlight.

If you instead did a

PickByZone(domain=0,element=5)

the pi

[2019-09-10 20:36] brugger1 commented on #3880
This was reported by Genesis Rosado-Martinez.

[2019-09-10 22:16] mclarsen opened #3881 "Histogram does not adjust to "Use Current Plot" scalar range"
### Describe the bug
Load any database. Add a histogram plot. Add a threshold and threshold off half the values.

Go back to the histogram and change the limits to "use current plot". The plot should resize to the current limits, but does nothing.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [x] Did you get wrong results?

**Impa

[2019-09-10 22:24] brugger1 commented on #3881
There may be other update issues. Whomever looks at this ticket should explore the other options as well.

[2019-09-10 22:26] mclarsen commented on #3881
Both limits: "original" and "current":
![Screen Shot 2019-09-10 at 3 24 39 PM](https://user-images.githubusercontent.com/4038129/64654805-30b75600-d3df-11e9-8307-8982370a5c29.png)

Manually settting the min and max in the histogram:
![Screen Shot 2019-09-10 at 3 24 15 PM](https://user-images.githubusercontent.com/4038129/64654814-33b24680-d3df-11e9-88e6-928fcf26e8e9.png)

[2019-09-10 22:46] cyrush commented on #3878
@cfforiguar sorry this is so confusing. The database options uses a different way to encode and pass around options and that path is not wired up to the python recoding.

Complicating things, the way to pass the options also a special case. You call `ExportDatabase` using two arguments, the first is the attributes object, and the second is the options.

Here is basic example that you can pull from

[2019-09-10 22:47] brugger1 commented on #3809
You can contact Dave Pugmire about this or provide him with a solution since he our connection to the ADIOS project.

[2019-09-10 22:48] cyrush commented on #3878
Note for how to fix in the future:

We should change the error message for:

[code]
To mention using `ExportDatabase` with two args

[2019-09-10 22:53] brugger1 commented on #3805
Contact the person and let them know that we can't go back and add it to 2.13.3. We can add it for 3.0.X if you install that. Also, it would be good if he didn't have a version specific dependence. That shouldn't be necessary.

[2019-09-10 23:45] brugger1 commented on #3863
This was reported by Salvador Portillo, University of New Mexico (sportil@unm.edu)

[2019-09-11 00:27] #3877 closed, assigned to biagas

[2019-09-11 17:29] rusu24edward opened #3885 "Add expression preferences"
### Is your feature request related to a problem?
This ticket is related to #689. It is an enhancement over the work done there because it does not require the user to modify all of his expressions to replace "/" with "divide".

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [ ] High - User productivity significantly improved
- [X] Medium - User productivity partially improved
-

[2019-09-11 19:30] brugger1 opened #3888 "build_visit doesn't build unitah with --mpich --uintah --parallel."
### Describe the bug

I ran build_visit with "--mpich --uintah --parallel" and it failed with the following error:

Building UINTAH (~10 minutes)
For Linux builds the PAR_COMPILER, PAR_COMPILER_CXX, and PAR_INCLUDE environment variables must be set.
PAR_INCLUDE should be of the form "-I/path/to/mpi/include"
Giving Up!

**Impact**
- [X] Medium - User productivity partially degraded

**Likelihood**

[2019-09-11 19:48] felker opened #3889 "Disabled user-compiled database plugin"
### Describe the bug

Not sure if this is a bug or a local configuration issue / misunderstanding.

Following up on #3813 and #3807, I was able to build and load a simple "Hello, World" plugin for my local macOS installation of VisIt 3.0.1. I then tried the same process on our university's Linux cluster with a built-from-source installation of VisIt 3.0.1. The plugin build process worked well, and

[2019-09-11 20:13] brugger1 commented on #3889
Can you bring up the plugin manager in the GUI and look at the list of database plugins and see if it is listed there?

From: Kyle Gerard Felker <notifications@github.com>
Sent: Wednesday, September 11, 2019 12:49 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [visit-dav/visit] Disabled user-compiled database plugin (#3889)

Describe the b

[2019-09-11 20:15] felker commented on #3889
it is not listed in the plugin manager

[2019-09-11 20:25] brugger1 commented on #3889
Sorry about asking about if its listed in the plugin manager. Looking at your original issue, I see you said it wasn’t listed. Can you run VisIt adding “-noconfig”?

From: Kyle Gerard Felker <notifications@github.com>
Sent: Wednesday, September 11, 2019 1:15 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Comment <comment@noreply.github.com>
Subject: Re: [v

[2019-09-11 20:32] felker commented on #3889
`-noconfig` did not fix the problem

[2019-09-11 21:19] markcmiller86 commented on #3889
On the linux cluster, are you running *all* VisIt there. I mean are you starting it there and displaying back to your mac or are you running client-server, starting it on your mac and then logging into the cluster from within VisIt?

[2019-09-11 21:20] felker commented on #3889
It is run entirely on the cluster, and I view the GUI through a VNC session.

[2019-09-11 21:24] markcmiller86 commented on #3889
Just to be sure, what does the  `athdfGeneralPluginInfo::EnabledByDefault()` method return in `athdfPluginInfo.C`?

[2019-09-11 21:38] felker commented on #3889
Wow, can't believe I missed the "Plugin is enabled by default" option in `xmledit`. It was selected for the `athdf.xml` on my macOS system but not on the Linux system. Enabling it fixes the problem here--- the plugin appears in the Plugin Manager after I rebuilt it. Thanks!

Still, is it the intended behavior that "disabled by default" ---> plugin doesn't show up at all in the manager?

[2019-09-11 21:43] markcmiller86 commented on #3889
Good question. Feels like that is bad behavior. Lets close this ticket and open another on that specific topic

[2019-09-11 21:43] #3889 closed, assigned to nobody

[2019-09-11 21:47] markcmiller86 commented on #3889
Just curious...are you absolutely certain it wasn't there *at all* or just maybe not in the position in the list you expected? Did you scroll to bottom of list for example?

[2019-09-11 21:48] markcmiller86 opened #3892 "XxxPluginInfo::EnabledByDefault() returning false removes plugin from manager"
### Describe the bug
Database plugins can be enabled and disabled. There is an `EnabledByDefault()` method in the plugin info stuff. If that method returns false, it should mean that the plugin is there and available but just not enabled.

However, @felker had a case, #3889, where it caused the plugin not to appear at all in the GUI plugin manager.

It feels like the plugin manager should still li

[2019-09-12 04:05] felker commented on #3889
Yeah, I checked the entire list thoroughly (also every entry was checked/enabled).

[2019-09-12 04:38] BradWhitlock opened #3893 "avtScalarMetaData includes "enumGraphEdgeNameMap" that breaks automatic code generation"
### Describe the bug
I was working a branch were I've modified avtScalarMetaData and I wanted to regenerate the state object using xml2atts. I found that there is now a map that someone added that is not in the XML or the code file so regenerating the file does not compile. I had to manually re-add the line:

std::map< std::string, int> enumGraphEdgeNameMap;

**Helpful additional information**
(*P

[2019-09-12 16:22] brugger1 commented on #3428
Related to #3809

[2019-09-12 19:22] biagas commented on #3744
@cyrush Despite what you showed, I'm still unable to reproduce.  I've made some modifications to the integral curve window to utilize editingFinished signal instead of returnPressed. It's on this [branch](https://github.com/visit-dav/visit/tree/bugfix/biagas/integral_curve_window) off 3.0RC.
Can you test it?

[2019-09-12 22:32] aowen87 commented on #3880
The avtPickByZoneQuery relies on a method for extracting the zone highlights. This method accepts the domain and (local) zone id as an argument, but it was receiving the "original" zone id.

In cases where the original zone id was global, the highlight extractor would receive the global id instead of the local id, and the highlight would end up being for the wrong cell. In cases where the global i

[2019-09-12 22:45] #3888 closed, assigned to brugger1

[2019-09-13 15:49] biagas opened #3899 "Pseudocolor glyphed points scaled by Tensor broken"
Reported by James Guilkey.

If points in a Pseudocolor plot are glyphed (say using Box), attempting to scale the size of the glyph by a Tensor variable causes the viewer to crash.

[2019-09-13 17:42] #3799 closed, assigned to aowen87

[2019-09-13 17:50] cfforiguar commented on #3878
I can confirm that this solves my problem. Shall I close the issue?. (Sorry, I'm a newbie)

Thank you very much.

[2019-09-13 18:32] cyrush commented on #3878
@cfforiguar good to hear! And thanks for letting us know this helped.

I think we cant still keep this open -- we do want to address the issue to get proper GUI recording, so we will keep it in our queue.

[2019-09-13 18:44] #3899 closed, assigned to biagas

[2019-09-13 20:44] #3880 closed, assigned to aowen87

[2019-09-13 22:08] markcmiller86 opened #3907 "Add support for 2D volume transfer functions"
### Is your feature request related to a problem?
Apparently, we lost support for 2D tranfsfer functions in volume rendering in 3.0. We had it in 2.13.

We have a navy.mil user requesting it though I am still not clear on the rationale yet other than a vague idea that two variables may be required to get the kind of VRs the user needs.

In the meantime does anyone familiar with VR in VisIt have a

[2019-09-13 22:27] markcmiller86 commented on #3855
In re-reading this, it hadn't occurred to me that maybe the problem is NOT with the expressions but is instead with the 2D view/window being able to plot objects with non-zero Z coordinate. So, maybe the expression system works fine and what is failing is the plotting part.

[2019-09-13 23:47] cyrush opened #3908 "multi_curve3d.silo has (new) invalid scalar vars?"
### Describe the bug
Testing VisIt 3.0.2 with multi_curve3d.silo, I noticed that there are several gray-ed out vars.
Don't recall seeing this before, has the data changed recently?

![Screen Shot 2019-09-13 at 4 46 14 PM](https://user-images.githubusercontent.com/1194526/64900475-2cd93d00-d646-11e9-9d8e-b369d652d018.png)

[2019-09-13 23:54] cyrush opened #3909 "macOS: engine_par appears on task bar # of mpi task's times"
Run 3.0.2 on macOS with -n 16, open dataset and then see engine_par start a party in the macOS doc:
![Screen Shot 2019-09-13 at 4 52 47 PM](https://user-images.githubusercontent.com/1194526/64900651-30b98f00-d647-11e9-8336-808ed7583aa7.png)

Probably related to #3067, but differente circumstances  (there is no nowin here)

[2019-09-13 23:59] cyrush opened #3910 "macOS expression window, first daw looks strange"
### Describe the bug
when testing macOS VisIt 3.0.2, i noticed that window looks strange after you create the first expression, (Controls->Expressions, Click New)

It doesn't really look like the `Insert function` or `Insert variable ` buttons are active, but
everything is functional.

![Screen Shot 2019-09-13 at 4 57 13 PM](https://user-images.githubusercontent.com/1194526/64900730-d4a33a80-d647-

[2019-09-14 00:03] cyrush opened #3911 "timeslider control strange stop go stop behaivor"
VisIt 3.0.2

Open dbA00.pdb
Create PC Plot of `logical_mesh/ireg`
Draw

Click play.
Click stop.

The stop button activates, then the play button activates,  then stop button again.

Seems the engine is ahead of the GUI in this case, probably wont happen with non-toy data too often, but its still a bit strange,

[2019-09-14 04:47] markcmiller86 commented on #3908
Well, we can look in the revision history of the silo test data to answer that and, no, I don't see any indication that data has changed since it was originally added to the (github) repo.

I suspect something has changed in the way the Silo plugin is validating variables. These particular variables are all *material-restricted* (e.g. utilize the `matRestricted` member of a mesh variable).

[2019-09-16 18:26] OptionalUsername commented on #3907
Hi Mark, thank you for opening this issue.

[2019-09-17 17:03] aowen87 opened #3916 "Three slice on AMR only contains Z plane"
### Describe the bug
Andy Cook has been working with some fairly large AMR data, and he noticed that, when adding a threeslice operator with (0, 0, 0) as the target, only the Z plane appears.
I was unable to reproduce this with our silo test data, but I was able to reproduce this using his data.

I believe this is likely an issue with slices on domain boundaries. The dataset is roughly centered ar

[2019-09-17 21:40] markcmiller86 commented on #3916
I think you are on the right track.

This kind of issue really comes up frequently in visualization tools. I think Eric has recently seen something similar in VTK classes that compute point-in-cell for hexahedra composed of non-planar faces. I know Kathleen has encountered similar issues in some other corner of VisIt.

I wonder if there is a best practice we can identify for either testing and/or

[2019-09-17 22:13] cyrush opened #3917 "make sure VisIt launcher is python 3 compatible"
As HPC systems migrate defaults to Python3, we need to make sure VisIt's Python launcher is Python 3 happy.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [x] High - User productivity significantly improved
- [ ] Medium - User productivity partially improved
- [ ] Low - User productivity trivially improved

### Is your feature request specific to a data set?
Can you use one of

[2019-09-17 22:34] aowen87 commented on #3718
I had a brain storming session with Eric last week, and here's what we came up with.

We can see two ways of handling the expression system for this optimized QOT:
1. Continue the "array" approach where we query the database directly for the time series arrays, and then apply the expression filters directly to these arrays when appropriate.
**Pros:**
    a. We don't need to create a dataset to hol

[2019-09-17 22:57] nselliott commented on #3916
I believe this is the same bug I reported a while ago.  Looks like it's issue #3247.

[2019-09-17 23:29] biagas opened #3918 "Remote profile import on Windows requires Qt with ssl support"
Since we now must get the remote-profile information from github via https, the remote profile import doesn't work on Windows.  This is due to Qt being compiled without ssl support.

Qt must be recompiled with ssl support.

### Desktop
 - Windows
 - VisIt Version: 3.0.2

[2019-09-18 00:17] nselliott commented on #3916
The bug may only be in the SAMRAI plugin, which would be why you don't see it with silo data.  Also I think the tarball linked in #3247 contains a much smaller dataset to reproduce this.

[2019-09-24 22:12] #689 closed, assigned to rusu24edward

[2019-09-24 22:29] #3746 closed, assigned to brugger1

[2019-09-27 00:07] brugger1 opened #3932 "Remove support for both chaos5 and toss3 from LLNL custom launcher."
In the past LLNL had both chaos5 and toss3 Linux operating systems that both mapped to linux-x86_64. In order to support this, we mapped chaos5 to linux-x86_64 and toss3 to linux-x86_64-toss3. This was done manually and then the LLNL custom launcher was modified to choose between the 2 based on the machine name. Chaos5 has been retired so we can do away with the manual process and extra complexity

[2019-09-30 20:40] #3864 closed, assigned to biagas

[2019-10-01 00:25] biagas commented on #3786
@markcmiller86  Was there something special about your data? I tried to reproduce with noise2d.silo and a Pseudocolor plot of PointVar.  I could click very obviously NOT on a glyph, and I still got a pick result for the closest glyph.  This was with both Node pick and Zone pick modes.

[2019-10-01 21:37] brugger1 opened #3939 "Follow up on SDOT interface reconstruction form Jin Yao."
Here is the e-mail from Jin.

Hi Mark,

I attached some plots that show SDOT interface reconstruction of corners and curves. The first two are computed from exact volume fractions.
The third is computed with inexact ALE3D volume fraction data. The fourth is the visit material plot of about the same region.

Basically I create quadratic facets or double facets (including corners) in mixed zones and

[2019-10-01 22:30] brugger1 commented on #3834
The second issue is more widely applicable to more users.

[2019-10-01 22:37] #3831 closed, assigned to rusu24edward

[2019-10-01 22:38] brugger1 commented on #3834
Cyrus tried this out and saw that it outputs the variable and all the expressions. It probably shouldn't export the expressions since the variables for the expressions will be missing. The variable DISPL was actually output in the case of issue 2.

[2019-10-01 22:43] markcmiller86 commented on #3834
There are potentially three issues here

- Exporting a database should not export expressions that aren't realizable by the variables included in the export
- Silo plugin should gray out any expression for which there is actually a matching named variable
- VisIt GUI and internals could be enhanced to disambiguate expression Foo and variable Foo independently. If this third item was adressed then

[2019-10-01 23:03] aowen87 opened #3940 "makemili_driver"
### Describe the bug
VisIt seems to be installing the old makemili binary. The bin directory contains the new "makemili_driver", but "makemili_ser" (the old version) seems to show up in the installs instead.

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [x] Low - User productivity trivially degraded

**Likelihood**
- [ ] Hig

[2019-10-01 23:05] markcmiller86 commented on #3939
The above sdot circle result is poorly rendered. Here, I've attached the actual result rendered with a better tool

![sdot_circle_reconstruct](https://user-images.githubusercontent.com/5720676/66006926-46132380-e465-11e9-9f89-c99014b5ece0.png)

[2019-10-02 00:05] markcmiller86 commented on #3494
@rusu24edward did already fix this in 1bd82179b7e94df32825875b69ad4ad1445f3425

[2019-10-02 00:05] #3494 closed, assigned to rusu24edward

[2019-10-02 17:38] brugger1 opened #3941 "Start regular meetings with the VisIt community."
This ticket is to track thoughts on starting regular meetings with the VisIt community.

Here are my thoughts:
1) We should probably separate meetings with the VisIt developers and the VisIt users. The two biggest issues to decide is the frequency and the content. If we decide to do them on a more frequent basis we should come up with a set up topics for several meetings and then keep adding to th

[2019-10-02 17:41] brugger1 opened #3942 "Gather thoughts on developer documentation to add."
This issue is to track thoughts on developer documentation we should still add. Some ideas:

- How to run the test suite.
- How to do an initial checkout of VisIt and discuss issues and work arounds for issues discovered with git lfs.

[2019-10-02 17:48] #3932 closed, assigned to brugger1

[2019-10-02 18:01] brugger1 commented on #3145
This was resolved with #3930

I created a Docker container for building Ubuntu 18 releases and I used it to create an Ubuntu release for 3.0.2. I had several people use it and there weren't any font issues reported.

[2019-10-02 18:01] #3145 closed, assigned to brugger1

[2019-10-03 17:06] biagas commented on #3786
@markccmiller86 I was able to create a dataset based on your image, and am able now to reproduce the issue.

[2019-10-03 17:40] brugger1 commented on #1917
Manta was removed with the VTK 8 upgrade.

[2019-10-03 17:40] #1917 closed, assigned to nobody

[2019-10-03 18:39] biagas commented on #3786
Logic in ViewerQueryManager relies on AVT_POINT_MESH meshtype to decide if  it should perform the specialized 'glyph' pick. Looks like the logic needs to be expanded, perhaps with a flag from the plot itself indicating if glyphing has been applied.

[2019-10-03 19:57] brugger1 opened #3944 "pyqt and mdsplus appear non functional in build_visit."
### Describe the bug

I was updating the remaining checksums for the source code files for build_visit and noticed that bv_pyqt.sh and bv_mdsplus.sh were non-functional.

The pyqt module looked incomplete and the source code for the mdsplus module is unavailable (not in VisIt repo and no URL specified).

I found the MDSplus project web site. It is a set of tools for scientific data. They have the

[2019-10-03 19:59] biagas commented on #3786
I modified the VTK reader to specify AVT_POINT_MESH for poly data containing only vertex cells.
Picking still not working even though it is performing the glyph Pick logic. Investigating further.
In the dataset I created, it could be an issue that the point I am picking lies along the bounds of the entire dataset.

[2019-10-03 20:11] #3416 closed, assigned to brugger1

[2019-10-03 20:28] markcmiller86 commented on #3786
Do you still think you might want the original dataset I discovered this with?

[2019-10-03 20:29] biagas commented on #3786
Yes Mark, I think more data for testing is better, thanks.

[2019-10-03 21:07] #3243 closed, assigned to brugger1

[2019-10-03 21:12] biagas commented on #3786
I found the issue with glyph pick - it was using bounds from the input dataset to determine intersection when it should be using the glyphed bounds. I am modifying vtkPointGlyphMapper to return the glyphed bounds and that has helped with the small dataset I created.

[2019-10-03 21:26] markcmiller86 commented on #3786
Ok, that makes a lot of sense. For a plot with just three glyps which are large-ish relative to the whole plot extents, they can extend outside the bounds of the plot's actual point data.

[2019-10-03 21:27] brugger1 commented on #3944
Here is the response I got from Josh Stillerman, one of the MDSplus developers about the VisIt reader and using their library.

The visit MDSplus reader should be using our standard APIs which have
not changed.  The best way for this to be distributed is to either have
the directions say to install our platform specific kits, or include the
shareable libraries installed from our kits.  Regardless,

[2019-10-07 13:58] alexmyczko opened #3948 "outdated build from source examples"
### Describe what needs to be documented.
These links look like 10 years old, can they be upgraded?
http://visitusers.org/index.php?title=Compiling_visit / http://visitusers.org/index.php?title=Building_on_Ubuntu_8.04

### Is the documentation missing?
If so, please describe where have you looked for the documentation and where you expect to see it.

### Is the documentation there but needs improv

[2019-10-07 17:50] brugger1 opened #3950 "Errors in build_visit3_0_2"
### Describe the bug

There are several errors in build_visit3_0_2.

- The version number at the top of the script says 3.0.1.
- The script always checks out the trunk when it should use the tagged version.
- The revision option is not supported.
- The script should probably use the tar file by default, rather than a git checkout since it is smaller and therefore faster.

**Impact**
- [X] High - U

[2019-10-07 18:59] biagas opened #3951 "Sphere imposter glyphing not working"
### Describe the bug
Small test dataset (3 points, vtk format).  Turning on Sphere imposter Point Type, only one of the points shows up.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [X] Did you get wrong results?

**Impact**
- [ ] High - User productivity significantly degraded
- [X] Medium - User productivity partially degraded

[2019-10-07 19:56] markcmiller86 commented on #3786
Here is a data file to reproduce the case I tested, above...

Create a file named `bar.3D` with contents...

[code]

[2019-10-07 21:43] biagas commented on #3786
Thanks. The data is helpful. The changes I've made that work with my 3points.vtk file don't work with yours, so I'm still digging.

[2019-10-07 21:45] markcmiller86 commented on #3786
Great. Sorry I delayed that. I figured you had enough to complete. I do a PC plot and set point type to box and scale to 0.5. If you then pick from *inside* the bounding box, you get valid pick points. But, any pick outside the bounding box defined by the *centers* of the box glyphs fail. So, I figured when you had that issue identified, that was the sole issue. Happy hunting.

[2019-10-07 22:40] #3950 closed, assigned to brugger1

[2019-10-07 22:45] cyrush opened #3954 "onion peel hang with filled boundary plot"
### Describe the bug

This is with VisIt 2.12.

User created an onion peel and on a filled boundary and the VisIt engine hung.

Auto-apply was on -  but I don't think that is related?

Pseudocolor worked fine.

Side note:  User was trying to find a tangled zone.

A logical pick (block + i, j, k) would have also helped, but we don't have that option?

**Helpful additional information**
(*Please cli

[2019-10-08 00:53] biagas commented on #3786
Further testing with bar.3D.  Still sensitive if the clicked position is slightly outside the glyphed bounds.
I don't see a way around this except perhaps adding a tolerance to the bounds before testing if the pick ray intersects.

[2019-10-08 01:29] markcmiller86 commented on #3786
Can you elaborate on what you mean by *glyphed bounds*?

I was thinking that some approach where the pick ray adds a fuzz equal to half the object space size of the glyphs would help yet still selecting the glyph *closest* to the ray.

[2019-10-08 15:47] biagas commented on #3786
The dataset has spatial bounds. When the points are glyphed, the actual bounds of the glyphed data may be larger than the dataset bounds. The current glyph-pick logic uses the dataset bounds. I modified it to use the bounds from the glyphed data (obtained from the mapper).  The bounds test is a quick way to eliminate mouse clicks that didn't actually intersect a dataset.  My change allows clicking

[2019-10-08 16:36] brugger1 opened #3955 "Update the copyright in VisIt and on the website."
We need to update the copyright to include all the copyright notices of the packages that we use. In the help it is accessed via the splash screen and on the web site it is accessed from the FAQ. There may be other locations, but we should get them all. We should time this with the updated R&R.

**Impact**
- [X] High - User productivity significantly improved

[2019-10-08 18:14] markcmiller86 commented on #3786
It think that is perfectly acceptable and thanks for taking this that far. I think when points are glyphed such that they have a decent FOV extent, it might even be reasonble to expect pick actually intersect (e.g. land on the glyph) and not just be *near* it. I think when points are just points having no real extent in FOV, then handling *near* misses is more important.

I did a quick check on `P

[2019-10-08 21:29] markcmiller86 opened #3956 "Support LLNL<->ARL remote vis"
### Is your feature request related to a problem?
Users at LLNL run Ale3d simulations on ARL systems. Some of the data produced is quite large. Users would like to do remote vis to ARL systems from LLNL.

Looked at ARL [hardware](https://www.arl.hpc.mil/hardware/index.html) and [software](https://www.arl.hpc.mil/software/index.html) and they don't show VisIt as a supported visualization tool there

[2019-10-08 22:14] cyrush opened #3957 "visitusers.org has more comprehensive info about client server than our manual"
### Describe what needs to be documented.

Observation:
visitusers.org client server section has more comprehensive info about client server than our manual

http://visitusers.org/index.php?title=Running_client-server

vs

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/ClientServer/Client_server_mode.html

[2019-10-08 22:30] brugger1 opened #3958 "Add information to 12.3 of gui manual about use of "d" in cmfe."
### Describe what needs to be documented.

The database comparison section of the gui manual gives an example of taking the difference between 2 time varying databases, but the example shows taking the difference with the first time state of the second database and not having it evolve in time as the time state of the first database is changed. It should either change the one example or add a seco

[2019-10-08 22:30] rusu24edward commented on #3940
_George Rodriguez said on 10/08/19 in an email to the developers:_
Hello,

I have an issue that I think is related to the issue below:

makemili_driver #3940
https://github.com/visit-dav/visit/issues/3940

After running makemili on a plot database, I am not able to open the file in visit version 3.0 and it suggests I may be using an old mili version. It isn’t hindering my work, but I would like to

[2019-10-08 22:32] markcmiller86 commented on #3958
I believe there is a lot of documentation on this already there. It is buried with other details but I believe this is adequately documented otherwise (excerpt below)

[2019-10-08 22:41] brugger1 commented on #3958
I agree, we don’t need to duplicate documentation. I’d argue for possibly a second example and then a link to the appropriate section of the manual. At a minimum a link with something like “This example takes the difference between the current state of database A against the first state of database B. For additional differencing options see …”.

From: Mark C. Miller <notifications@github.com>
Sent

[2019-10-09 09:43] benjaminjeliot opened #3959 "Plots misaligned and distorted at high levels of zoom"
### Describe the bug
At high levels of zoom, the filled boundary plot and the mesh plot become misaligned. Panning the filled boundary plot is smooth, but the mesh plot 'jumps' around.

When objects with very different scales are in view, the filled boundary for small cells moves smoothly while large cells 'jump' about. This can lead to regions that are erroneously drawn as overlapping.

A user fo

[2019-10-09 19:42] markcmiller86 commented on #3956
More info...

Ok, ARL has [VisIt support](https://daac.hpc.mil/software/VisIt/). I just wasn't looking in the right place. From docs there, it appears ARL hosts VisIt executable downloads perhaps rebundled with ARL specific host profiles. I don't really know. I couldn't find any place there that had *just* the host profiles for ARL systems. And, when I tried to obtain a download, the page I was di

[2019-10-09 20:03] markcmiller86 commented on #3956
Some steps to confirm for user

- Can s/he log in and obtain ARL VisIt downloads [here](https://oidc.hwss.hpc.mil/login)
- Download/obtain ARL's customzed HOST profiles from the VisIt executables ARL hosts.
- To go direct from user desktop on site @ LLNL to ARL, need to open an [ssh egress](https://cspservices.llnl.gov/eor/cgi-bin/eor.cgi) session. Otherwise, user must first log into CZ system.
-

[2019-10-09 20:32] biagas opened #3960 "Glyphing points using 'Sphere' (imposters) seems to translate the points"
Open attached justVerts.vtk
Create a Pseudocolor plot of barData.
Change point size pixels to 5 or greater so you can see the position of all the points.
Draw
![points_asPoints](https://user-images.githubusercontent.com/17075318/66517809-ab37cc00-ea98-11e9-995f-d096048f0b3a.png)

Change point type to Sphere
Looks like only two of the verts were drawn, but you can move the bounding box to the right

[2019-10-09 22:04] biagas commented on #3960
Doesn't happen with noise2d's PointVar or noise's PointVar.

[2019-10-10 16:39] markcmiller86 opened #3961 "View3DAttributes.RotateAxis() accepts bad inputs resulting in nans in view atts"
### Describe the bug
1. Open `globe.silo` in CLI mode
1. PC plot `dx`
1. v = GetView3D()
1. v.RotateAxis(45, 0)
1. SetView3D(v)

You get a bad view.

That is because I have the angle and the axis of rotation interposed in the `RotateAxis` function. Rervers the arguments and it works fine.

The `RotateAxis` function should sanity check its first arg is 0, 1 or 2 and fail if not.

[2019-10-11 16:11] brugger1 opened #3962 "Build_visit fails building mesagl from within a Git checkout."
### Describe the bug

Allen Sanderson reported that he did a checkout of the 3.0RC and then ran build_visit in a directory adjacent to src. Building of mesagl failed because it couldn't find the llvm library. Here is Allen's e-mail.

I am trying to build from scratch the 3.0RC and running into this error with mesa not finding llvm.

configure: error: Could not find llvm shared libraries:

[2019-10-11 16:12] brugger1 commented on #3962
Jim Eliot replied with the following e-mail.

Hi all,

I ran into the same ‘mesa configure’ error message recently – I don’t know whether the cause is the same though.

For me the problem was caused by doing my VisIt build within a subdirectory of a Git project. The ‘fix’ was to not build within a Git tree.

The issue was  caused by a tool called llvm-config which is built by LLVM, which the mesa

[2019-10-11 16:14] brugger1 commented on #3962
I used Allen's build_visit line on quartz and got the same failure. Allen later reported that building outside the git checkout worked. I looked at the failure and it was indeed as Jim reported.

[2019-10-11 20:08] #3962 closed, assigned to brugger1

[2019-10-14 12:25] benjaminjeliot opened #3965 "build_visit script on downloads site has TRUNK_BUILD="yes" since version 3.0"
### Description

Since version 3.0 -- 3.0, 3.0.1, and 3.0.2 -- the build_visit script on the downloads site -- https://wci.llnl.gov/simulation/computer-codes/visit/source -- has `TRUNK_BUILD="yes"` at the top of the script.

The script will build VisIt from the git `develop` branch rather than the tarball without manual editing of the file.

Otherwise, I can manually download the tarball and the u

[2019-10-14 12:36] benjaminjeliot opened #3966 "build_visit script for 3.0.2 sets incorrect VISIT_VERSION"
### Description
The build_visit script for version 3.0.2 on the downloads site: https://github.com/visit-dav/visit/releases/download/v3.0.2/build_visit3_0_2 assigns the incorrect version to VISIT_VERSION.

The offending line is:
[code]

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] H

[2019-10-14 14:12] el1995 opened #3967 "OpenSSL / Python error during build on OpenSUSE Leap 15.0"
I am trying to build Visit from source on an OpenSUSE Leap 15.0 platform. My steps so far:

- downloading the Visit 3.0.2 source code
- downloading the build_visit3_0_2 installation script
- running the script: "./build_visit3_0_2"

I am getting the following error repeatedly:
[code]

"zypper search openssl" shows me that the following openssl versions marked with "i" in the beginning are installe

[2019-10-14 23:25] brugger1 commented on #3966
This partially duplicates #3950. This was fixed in #3952, #3953. I also updated build_visit3_0_1 and build_visit3_0_2 in the v3.0.1 and v3.0.2 releases.

[2019-10-14 23:25] #3966 closed, assigned to brugger1

[2019-10-14 23:26] brugger1 commented on #3965
This partially duplicates #3950. This was fixed in #3952, #3953. I also updated build_visit3_0_1 and build_visit3_0_2 in the v3.0.1 and v3.0.2 releases.

[2019-10-14 23:26] #3965 closed, assigned to brugger1

[2019-10-15 00:45] biagas commented on #3960
tested on Linux, and Sphere points works just fine with this data.

[2019-10-15 12:24] iljah opened #3971 "Bogus error due to incorrect read permission check"
### Describe the bug
A clear and concise description of what the bug is.

**Helpful additional information**
**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [x] Low - User productivity trivially degraded

**Likelihood**
- [ ] High - occurrence is not specific to platform, data, config, a combination of operators, queries, etc.

[2019-10-15 14:33] markcmiller86 commented on #3971
If it is practical to do so, can you provide output from following commands executed with `pwd` in the directory where the file(s) you are trying to read exist...

[code]

and

[code]

I can't recall if VisIt GUI and CLI use the same logic to gather file permissions. Because of the GUI's need to display *folders*, it may do more work to gather file metadata including permissions than the CLI. So,

[2019-10-15 16:29] aowen87 opened #3974 "Minimal Mili datasets"
### Is your feature request related to a problem?

A Mili user is trying to use the old visit plugin to read in datasets that only contain a mesh (only the "A" file; no time steps), and visit doesn't know how to interpret this. The new plugin also doesn't know how to interpret this because it wasn't an expected case.
This sounds like a rare use case, but it's something we should handle.

**Impact*

[2019-10-15 16:30] #3745 closed, assigned to griffin28

[2019-10-15 17:04] aowen87 commented on #3940
Since we aren't currently compiling the makemili_driver, I'm thinking of just copying the makemili_driver binary over to the exe directory during the build process.
Once we've updated the mili library, we may want to retrieve it from here instead. Updating the mili library is tracked in #3588

[2019-10-15 20:01] biagas commented on #3786
Perhaps its better to remove the bounds test altogether?

[2019-10-15 20:32] markcmiller86 commented on #3786
If there isn't really a big performance hit as a result, I think that might be a fine solution

[2019-10-15 20:47] rusu24edward opened #3977 "Update documentation for the smooth operator"
### Describe what needs to be documented.
The [documentation for the Smooth operator](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Operators/OperatorTypes/Smooth_operator.html?highlight=smooth%20operator) lacks in some details for practical use. Update the documentation, specifically describing what the parameters/options do. Reply to Andy Cook with new information.

[2019-10-16 09:49] iljah commented on #3971
I put low impact because I can copy the files to local filesystem or start visit on remote system, and medium likelyhood because this would seem to be an issue when mounting remote filesystems with sshfs in any (Linux?) OS.

Here's ls -l for one affected file:
[code]
and giving world read permissions fixes this particular problem, but all other programs I've used so far don't require that. Output

[2019-10-16 15:10] aowen87 commented on #3735
More information:
This bug only occurs if I try to change the ending timestep through the GUI. I can change the starting time and stride without issue, but, once I've tried changing the ending step, nothing works anymore. Even closing the curve window and re-performing a pick does not seem to help.

One odd thing I've noticed is that, if I change the end time and click "Query", it will automatical

[2019-10-16 15:20] aowen87 commented on #3735
Actually, it only seems to be using the first changed values from either stride or start time. Every change after that has no affect. This is also true for the pick window.

[2019-10-16 16:24] markcmiller86 commented on #3971
I am fairly certain the bug you are seeing has to do with [this issue](https://stackoverflow.com/questions/48055366/why-does-dirent-h-not-work-on-sshfs-drives) and the chance we are somehow not handling the `DT_UNKNOWN` case correctly for a `d_type` entry in a `dirent` struct.

[2019-10-16 16:49] markcmiller86 opened #3978 "Update FFP plugin"
### Is your feature request related to a problem?

We need to update the ffp (Far Field Pattern) plugin in VisIt visualizing EM patterns. Updated files are attached here [avtffp5.tar.gz](https://github.com/visit-dav/visit/files/3735420/avtffp5.tar.gz)

This update involves using either the [ACM Softwrae Licensed](https://www.acm.org/publications/policies/software-copyright-notice) Fortran code [77

[2019-10-16 17:28] brugger1 commented on #3967
You need to add "--openssl" to the command line for build_visit. I will enhance build_visit so that you don't need to specify this, since it's required.

[2019-10-16 18:11] aowen87 commented on #3766
Do we want to only replace the "VisIt User's Manual" section and keep everything else as is? The other secionts are:

- Visit home page
- Release notes
- Command line arguments
- Frequently asked questions
- Copyright
- Visit Contributors
- Visit UltraWrapper

[2019-10-16 18:22] markcmiller86 commented on #3766
In the spirit of @cyrush remark about the final desired state, all of that other content is used/needed in multiple places but our goals should be

* having it all available as part of a *release*
* maintaining only a single source for all of it

I think that means that all the sections you mention eventually need to migrate either into the manual (most of it probably makes sense there) or maybe o

[2019-10-16 20:43] biagas commented on #3959
To rule out view issues, I decided to try only 1 plot type at a time.

I took zoom_arrows.vtu, created a Filled Boundary plot only, and  used rubber-band zoom until there was just the green box and arrows as shown:

![zoom_fb_only0000](https://user-images.githubusercontent.com/17075318/66956975-3cb7b880-f01a-11e9-81c2-7dcbb98d0bb6.png)

Then I used the middle mouse button to incrementally zoom in

[2019-10-16 21:06] brugger1 commented on #3766
I agree with Mark, only replace the "VisIt User's Manual" section until we figure out where things should eventually live.

[2019-10-16 22:36] biagas commented on #3489
I believe this is related to #2842

[2019-10-16 23:44] brugger1 opened #3980 "Build problem with Qt on CentOS 8."
### Describe the bug

I went to build VisIt on a CentOS 8 system and after getting all the needed packages installed I ran build_visit and Qt 5.10.1 had some compile errors in it.

Here is my build_visit command:

./build_visit3_0_2 --required --optional --mesagl --mpich --uintah --no-icet --no-moab --no-pidx --no-visit --thirdparty-path /home/visit/third-party --makeflags -j4

You will see the er

[2019-10-17 01:19] griffin28 opened #3982 "Adios2 error when compiling VisIt source code"
### Describe the bug
An error is encountered when compiling the source code  on macOS (see attachment).

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [x] High - occurrence is not specific to platform, data, config, a combination of operators, queries, etc.
- [

[2019-10-17 04:19] markcmiller86 commented on #3971
I now believe I am incorrect on the above point. The `DT_UNKNOWN` case only crops up when VisIt needs to decide whether a name (entry) in a directory is another (sub) directory or a regular file.

Because of the performance challenges with potentially `stat()`ing tens of thousands of files in a big dir on a parallel file system to resolve dir/reg file question, we decided it is ok for VisIt to rel

[2019-10-17 06:53] iljah commented on #3971
I think FUSE had some API for figuring out permissions between two systems but probably most sensible thing would be to only try to figure out what could go/went wrong if something goes wrong. And doesn't `open` and equivalent return the reason why opening failed (man7.org/linux/man-pages/man3/errno.3.html), is there need to go digging for that info separately?

[2019-10-17 16:05] markcmiller86 commented on #3971
That is what I am wondering as well. At one point, I think we went to some effort to display non-readable files greyed out in the GUI but that was seen as too high cost for dirs with many files. So, at this point, the `stat()`ing of a file prior to an attempt to open it may just be a hold over that we can get rid of.

@BradWhitlock do you have any thoughts on this?

[2019-10-17 16:24] griffin28 commented on #3910
Mark suggested checking pull downs also.

[2019-10-17 16:29] brugger1 commented on #2757
No longer necessary since we are moving to GitHub for all this stuff.

[2019-10-17 16:29] #2757 closed, assigned to brugger1

[2019-10-17 16:55] brugger1 commented on #3942
- Adding a new expression
- Database plugin development and in particular scalable plugins
- We should look at what is on the wiki and pull/update information from there
- GitHub may have tools for importing content from wiki media
- Operator and plot plugin development
- Operator generated variables
- Out of source plugin development
- Information on the xml tools and using them with plugins (and

[2019-10-17 18:05] #3918 closed, assigned to biagas

[2019-10-17 22:02] markcmiller86 commented on #3971
@iljah are you working from a source build or a binary release?

[2019-10-17 23:42] markcmiller86 commented on #3956
Some progress...

- Downloaded ARL's VisIt binaries to windows machine
- Could not set envs as described because need to install kerberose credentials there
- Confirmed ARL's VisIt runs and has host profiles needed for ARL machines

Next steps:

- Get kerberose certs on user's machine
- Set env. variables as per ARL's instructions
- Open ssh egress for user's machine
- Attempt client/server launch

[2019-10-18 02:10] markcmiller86 commented on #3971
So, in looking at this more, we have the issue that VisIt is rarely, if ever, calling `open()` or (`fopen()`) on a database file directly. In most database plugins, this job is delegated to whatever third party library is responsible for reading the particular file format.

If VisIt doesn't `stat()` the file for permissions itself obtaining knowledge that the database was not readable due to permi

[2019-10-18 02:13] markcmiller86 commented on #3971
@biagas am wondering if you see any potential issues with above on Windows.

[2019-10-18 05:35] iljah commented on #3971
Binary downloaded from wci.llnl.gov/simulation/computer-codes/visit/executables

[2019-10-18 15:10] #3980 closed, assigned to brugger1

[2019-10-18 15:16] brugger1 opened #3987 "Create a version of VisIt for CentOS 8."
CentOS 8 is now available and people are trying to build it and running into issues. We should create a Docker container for CentOS 8 and build VisIt in it.

**Impact**
- [X] Medium - User productivity partially improved

[2019-10-18 15:59] #3987 closed, assigned to brugger1

[2019-10-18 16:39] biagas commented on #3960
Resolved by merge to visit-deps:
https://github.com/visit-dav/visit-deps/commit/80f043ee53fc529c267d7ef64b6ef979f63e951d

[2019-10-18 16:39] #3960 closed, assigned to biagas

[2019-10-18 19:37] #3428 closed, assigned to griffin28

[2019-10-18 19:37] #3809 closed, assigned to griffin28

[2019-10-21 16:18] #3940 closed, assigned to aowen87

[2019-10-21 16:48] #3718 closed, assigned to aowen87

[2019-10-21 17:07] aowen87 commented on #3766
It sounds like, in the future, we'll want to run the sphinx documentation builder for each new release and use that build as the manual in the help menu. For now, though, how should we handle building the sphinx documentation? I see two options (maybe there are more?):

1. Have VisIt generate the sphinx documentation during the build process. This would ensure the most up-to-date version of the do

[2019-10-21 17:09] aowen87 commented on #2600
Repeat of #3718

[2019-10-21 17:09] #2600 closed, assigned to aowen87

[2019-10-21 17:10] aowen87 commented on #3577
Repeat of #3718

[2019-10-21 17:10] #3577 closed, assigned to aowen87

[2019-10-21 17:20] markcmiller86 commented on #3766
Agreed.

I would skip that for resolving this issue. It *might* be worthwhile in the near future but maybe not too.

We are effectively doing this now via commits that change docs. ReadTheDocs automatically tracks that and updates the live documentation shortly thereafter. While that works great, it doesn't help air-gapped networks or other similar logistical hurdles for hosting VisIt documentatio

[2019-10-21 17:50] aowen87 commented on #3766
@markcmiller86 It sounds like you are in favor of option 2? I'm not entirely clear on how the ReadTheDocs tracks and updates its VisIt documentation build. Could we leverage something similar for the Qt display build?
Ideally, we would have a sphinx doc build located and updated in the resources/help/en_US directory so that it is consistent with the location of the rest of the Qt help docs. That's

[2019-10-21 17:56] markcmiller86 commented on #3766
Ok, sure.

That makes sense.

I just don't think we should maintain code we don't need to display that stuff. Today, it doesn't look as nice. Next Qt update, it won't render png images to correct sizes or some other funky Qt thing will happen. Update after that, something else may go wrong with Qt support for it....All I am saying is I see no reason to continue to maintain the Qt display of our do

[2019-10-21 19:51] aowen87 commented on #3821
I'm not able to reproduce this on develop (working from a Mac).

[2019-10-21 23:03] aowen87 commented on #3735
This seems to revolve around MapNode objects holding other MapNodes.

 In QvisQueryWindow.C, a MapNode is created containing all of the information needed for a pick through time. One of these pieces of info is another MapNode object.

[code]

The viewer query method is then called, which initiates ViewerQueryManager::Query.

During the first pick through time, everything always works fine. On the

[2019-10-22 15:54] aowen87 commented on #3268
![Screen Shot 2019-10-22 at 8 53 44 AM](https://user-images.githubusercontent.com/11658578/67305014-92241780-f4a9-11e9-8b83-33f5d692664f.png)
result of picking after slight translation.

[2019-10-22 20:12] aowen87 commented on #3268
For picking datasets that have had the Transform operator applied (as above), we have access to the transform used, and we can apply this transformation to the edges extracted for highlights.

This resolves issues encountered when using the Transform operator, but this does not work as a solution to other types of transformations (reflect, explode, etc).

[2019-10-22 22:06] markcmiller86 commented on #3956
More progress...

* Got a parallel engine launched on Excalibur running everything remotely there. This at least proves we can do it
* There is a `-A <project-id>` required to be added to launcher string to get it to work. The system was kind enough to spit out valid project ids for the given user when it failed to launch. And, we simply guessed where to put this in the host profile and which of t

[2019-10-23 13:03] samfux84 opened #3991 "./build_visit3_0_2: line 3938: ../src/GIT_VERSION: No such file or directory"
### Describe the bug
I am trying to build visit 3.0.2 on our HPC cluster with the command:

`./build_visit3_0_2 --thirdparty-path /cluster/apps/visit/thirdparty7/visit --openssl --xdmf --console --netcdf --szip --tbb --tcmalloc --ospray --ispc --embree --mesagl --glu --python --boost --silo --hdf5 --cgns --fastbit --vtk --parallel --icet --qt --system-cmake --llvm --zlib --mili --boxlib --cfitsio

[2019-10-23 19:58] markcmiller86 commented on #3956
ARL help desk responded claiming doing so would represent a security risk though **NONE** of the information in those host profiles is any different than the information [ARL itself hosts](https://www.arl.hpc.mil/hardware/index.html) in a world-readable place about those systems.

I've aske for further justification.

[2019-10-23 22:01] aowen87 opened #3993 "Parallel silo read error"
### Describe the bug
When performing a query over time using the direct database route, each time step is activated before retrieving the variable of interest. It looks something like this:

[code]

In one particular situation, calling ActivateTimestep is throwing an unexpected error; while querying a silo variable when running VisIt in parallel, I see the following:
[code]
I've traced this down t

[2019-10-23 22:04] markcmiller86 commented on #3993
Can you say which silo dataset this is happening on?

[2019-10-23 22:04] aowen87 commented on #3993
I'm currently running wave.visit

[2019-10-23 22:06] aowen87 commented on #3993
@markcmiller86 I was actually going to tag you to see if you had any immediate ideas about this. One thing I'm noticing is that, when visit is initially opening the dataset, it's using the hdf5 route. During the query, though, it's using the siloDriver route. I'm not sure if that's expected or not.

[2019-10-23 22:11] aowen87 commented on #3993
Scratch that. I misread how the silo reader was handling its DBOpen cases. It's using HDF5 for each of the reads.

[2019-10-23 22:22] markcmiller86 commented on #3993
Silo has ability to open with explicit driver specific (e.g. `DB_PDB` or `DB_HDF5`) or with `DB_UNKNOWN` and then Silo lib itself will iterate through available drivers until it gets a succesful open.

In VisIt plugin we basically circumvent Silo's guessing by *force* `DB_HDF5` first on the likely chance the file is an HDF5 file we don't waste time down in the lib iterating, trying pdb first (thou

[2019-10-23 22:52] aowen87 commented on #3993
I'm not quite sure how to proceed at this point, given that the error seems to be coming from DBOpen (which I'm assuming is a silo function). The filenames all look correct. I'm going to need to switch to my other project tomorrow, but I will be back next week if you're available.

[2019-10-24 01:09] aowen87 commented on #3993
If VisIt is launched "in parallel" with only a single processor, everything works without issue. Anything more than that, and this issue occurs.

[2019-10-25 20:31] ARSanderson opened #3994 "export database XYZ format"
When exporting an integral curve using the  XYZ format only the X value of the tangent is exported. The Y and Z values are missing.

Example:

UNKNOWN_ATOMIC_ELEMENT	1.75000000e+00	0.00000000e+00	5.00000000e-01	5.94846534e+03	-1.13329009e-01

Coordinate XYZ: 1.75000000e+00 0.00000000e+00 5.00000000e-01
Value at coordinate: 5.94846534e+03
Tangent XYZ: -1.13329009e-01

If I dump the same for VTK it

[2019-10-25 21:02] markcmiller86 opened #3995 "Consider reversing roles of primary and secondary variables in IntegralCurve operator"
Suppose you do a Pseudocolor plot of something using IntegralCurve operator. The way you do this is go to Plots->Pseudocolor->Operators->IntegralCurve->`some vector var`.

The `some vector var` variable that is chosen does not actually impact any of the *coloring* of the Pseudocolor plot. It impacts the plot's geometry. It defines the pathline(s)/streamline(s) that will be computed by the operator

[2019-10-28 15:06] griffin28 commented on #3521
LLNL access for macOS 10.13 and below will be blocked on Wed, February 5, 2020.

[2019-10-28 19:05] aowen87 commented on #3993
More info:

- This issue only occurs when opening time step files that haven't yet been opened. If I all the requested time steps have been activated using SetTimeSliderState, then the issue does not appear.

- This seems to be either a result of or related to the CloseFile method of avtSiloFileFormat. Refraining from closing the time step file when reading the query data also resolves this issue.

[2019-10-28 20:41] rusu24edward commented on #3881
@visit-dav/visit-developers I've run into a dead end with this one. I've updated the data extents, but still no changes to the actual axis. Does anyone know of any operator that adjusts the axis of the plot and not just the data within? Or does anyone know where in the source code the axis lengths are set/updated?

[2019-10-28 20:42] aowen87 commented on #3993
Calling avtDatabase's GetMetaData with forceReadAllCyclesTimes set to true also causes this error, which seems unexpected.

[2019-10-28 20:45] biagas commented on #3951
Resolved by merge to visit-deps:
visit-dav/visit-deps@80f043e

[2019-10-28 20:45] #3951 closed, assigned to nobody

[2019-10-28 23:15] aowen87 commented on #3993
Calling SaveWindow on the resulting curve, even when in serial, causes a crash (again, only silo):

[code]
Oddly, this doesn't seem to occur when the test suite is run.

[2019-10-29 17:46] markcmiller86 commented on #2726
relates to #1577

@biagas tells me GDB apparently uses Python now.

Solution: add logic to NOT set `PYTHONHOME` for `engine_ser` and/or `engine_par` if -gdb is provided on command-line. This will prevent debugging of Python filters but is otherwise ok.

[2019-10-29 17:50] biagas opened #3998 "Audit build visit modules for URL usage."
In order for a build_visit module to utilize a URL for download, it must be specified in the
_bv_xxx_info_ method, then passed to _ensure_built_or_ready_ in the _bv_xxx_ensure_ method.
We should audit all the modules that specify a URL to ensure that

1. the URL is still valid
2. the URL is passed correctly to _ensure_built_or_ready_
3. that the download logic works correctly and falls through to

[2019-10-29 18:00] markcmiller86 opened #3999 "viewer memory leak with PC plot"
### Describe the bug

1. open wave.visit
1. put up a PC plot of pressure and hit draw
1. startup some tool to monitor viewer memory usage
1. Hit play, it will animate once to the end.
1. Hit the 'next timestep' button to wrap around to beginning
1. hit play again

Repeat the last 3 steps above and watch viewer memory usage. It grows without bound. Deleting the plot doesn't clean things up. Changin

[2019-10-29 18:27] aowen87 commented on #3993
The issue revolved around ActivateTimestep not being called by every processor. A fix is undergoing a pull request.

[2019-10-29 18:36] aowen87 opened #4001 "Direct QOT SaveWindow on Silo data"
### Describe the bug
This is another issue that I've only been able to produce using silo datasets.
If I perform a QOT using the direct route and then try to save the window using SaveWindow(), VisIt will crash unless the window attributes have "screenCapture" set to true.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [x] Did VisIt crash?
- [ ] Did you

[2019-10-29 18:47] aowen87 commented on #4001
This error is raised right before VisIt crashes:
`libc++abi.dylib: Pure virtual function called!`

[2019-10-29 19:01] aowen87 commented on #4001
This has to do with getting the plots back to a state where they can be acted on further after the clone. There is an update performed so that new picks will use the original plots output rather than the reduced QOT output. This update appears to be causing the issue. I'm looking for a solution that still allows further picks to be performed.

[2019-10-29 20:27] aowen87 commented on #4001
Bypassing the cloning process altogether for the direct route might be the best approach here. This route doesn't ever need any of the previous plots calculations anyways.

I've tested this out with some hard coded values, and it resolves all issues. I'll work on getting a useable route implemented.

[2019-10-29 23:25] #3993 closed, assigned to aowen87

[2019-10-29 23:25] #4001 closed, assigned to aowen87

[2019-10-31 16:13] biagas commented on #1800
Removing from reviewed state for new discussion.

Is there a way to tell the avtTransparencyActor that certain input shouldn't be used?

The point glyphing occurs in a vtkPointGlyphMapper, so when glpyhed points are shoved into the transparency actor and its generic mapper is used, the glyphing is lost.

I've tried various ways of preventing input being added, keying off mapper[i]->IsA("vtkPointGl

[2019-10-31 18:13] biagas commented on #1800
Here is a proposed patch, it seems to work in my limited testing. Anyone see problems with it?
<pre>
--- avtTransparencyActor.C.orig	2019-10-31 11:01:25.000000000
+++ avtTransparencyActor.C	2019-10-31 11:03:43.000000000
@@ -713,37 +713,52 @@
 //    Mark C. Miller, Thu Jan 20 22:27:39 PST 2005
 //    Initialized inputsOpacities
 //
 //    Kathleen Biagas, Tue Jul 12 13:43:22 MST 2016
 //    Store a

[2019-10-31 22:24] griffin28 commented on #3067
QApplication had a third parameter in QT4 (bool GUIenabled) that is no longer available in QT5. The recommend way to enable the same behavior for QT 5 is pass in '-platform offscreen' or use QCoreApplication instead of QApplication for nowin mode. While both methods prevent the window from showing the icon still appears on the dock.

[2019-10-31 22:24] griffin28 commented on #3067
QT4:
![Screen Shot 2019-10-31 at 12 02 38 PM](https://user-images.githubusercontent.com/26772741/67990224-8267aa00-fbf2-11e9-8d5c-603e3879a87b.png)

[2019-10-31 22:24] griffin28 commented on #3067
QT5:

![Screen Shot 2019-10-31 at 3 22 00 PM](https://user-images.githubusercontent.com/26772741/67990241-91e6f300-fbf2-11e9-93c3-1987d91de964.png)

[2019-11-01 06:19] corpser opened #4003 "Allow setting enabled state of plugin without GUI"
I want to use the command line to install the surface plug-in. What command should I use?

[2019-11-01 14:41] markcmiller86 commented on #4003
Hmmm...It isn't clear what you mean by *install* here. I think you might mean *enable*. Here's the difference...

* Install means the plugin is compiled and the shared library files are placed in a location that VisIt will find them (either via `VISITPLUGIN` environment variable or in `~/.visit/<version>/<platform>/plugins/plots`
* Enable means the plugin is enabled (in the GUI via Options->Plugin

[2019-11-01 14:57] corpser commented on #4003
是的，那我该使用什么命令呢？

---Original---
From: "Mark C. Miller"<notifications@github.com&gt;
Date: Fri, Nov 1, 2019 22:41 PM
To: "visit-dav/visit"<visit@noreply.github.com&gt;;
Cc: "贾新轩"<552387367@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [visit-dav/visit] Surface Plots plugin (#4003)

Hmmm...It isn't clear what you mean by install here. I think you might mean enable. Here's the differ

[2019-11-01 15:03] markcmiller86 commented on #4003
There is no *easy* way to do this right now.

Any (plot, operator, database) plugin's *enabled* state is determined in `~/.visit/config` when VisIt execution starts. That file is an xml file. So, best you can do right now is to take a look at it and figure out how to read it and then change a plugin's enabled state and write it back out using Python xml tools. Or, you can manually, hand-edit that

[2019-11-01 15:06] markcmiller86 commented on #4003
Note that any plugins in `~/.visit/<version>/<platform>/plugins/plots` are automatically enabled by default and supersced any plugins in `VISITPLUGINDIR` and I am not sure there is a way to disable them. So, that might be another option...copy the plugin's shared libraries to `~/.visit/<version>/<platform>/plugins/plots`.

[2019-11-01 15:08] corpser commented on #4003
我修改了用户目录的config文件，结果成功了。

---Original---
From: "Mark C. Miller"<notifications@github.com&gt;
Date: Fri, Nov 1, 2019 23:06 PM
To: "visit-dav/visit"<visit@noreply.github.com&gt;;
Cc: "贾新轩"<552387367@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [visit-dav/visit] Allow setting enabled state of plugin without GUI (#4003)

Note that any plugins in ~/.visit/<version&gt;/<platform&gt;/p

[2019-11-01 15:23] markcmiller86 opened #4004 "Replace speculative stat with diagnostic stat or with open and check for EACCESS"
### Is your feature request related to a problem?
In order to inform a user of a possible database file permission issue, VisIt obtains file permissions speculatively, *before* passing those files on to database plugins. However, that involves a `stat()` call. For some file system scenarios (sshfs is at least one known case, see [this comment](https://github.com/visit-dav/visit/issues/3971#issueco

[2019-11-01 15:23] markcmiller86 commented on #3971
See #4004

[2019-11-01 15:23] #3971 closed, assigned to markcmiller86

[2019-11-04 17:04] markcmiller86 opened #4010 "Replace preference for time-varying databases with global open option"
### Is your feature request related to a problem?
The preference to *Treat all databases as time varying* is a useful way to get around certain issues with how VisIt handles metadata optimizations.

But, that preference is a terrible, all-encompassing option. If settings are saved, it effects VisIt forevermore.

We should replace this with a *global* open option and maybe keep track of its request

[2019-11-04 22:12] #3786 closed, assigned to biagas

[2019-11-05 20:35] rusu24edward opened #4014 "Brainstorm meeting 11/05/19"
### Problematic VisIt areas:
* Numerical expressions. Getting good analysis suite including *analytic* problems which we know correct answers via means *other than* through VisIt.
* Good test problems and datasets that include *many* interesting data *features*.
* Workflows that we can make rock solid / circumvent to make users lives a little easier.
* Scratchpad database to auto export/import to

[2019-11-05 23:45] markcmiller86 commented on #3999
So, I did similar tests on OSX watching viewer memory with ActivityMonitor tool there and in all cases, even after closing databases and closing engines, the viewer increases in memory usage and does not every let go of it.

[2019-11-06 00:11] rusu24edward commented on #3881
This might be helpful:
From @brugger1 ...

---
I looked over the code and the class that displays the axes has the ability to set the label range different from their locations. The class is:

avt/Plotter/vtk/vtkVisItCubeAxesActor.[Ch]

To set the label range use SetRanges. To set the location of the bounding box use SetBounds.

Unfortunately, there is no way to impact that from an operator. We wo

[2019-11-06 00:25] #3955 closed, assigned to brugger1

[2019-11-06 16:24] biagas commented on #1461
Related to #1800

[2019-11-06 17:46] brugger1 commented on #3991
It looks to me like the git clone of visit failed. Can you look at the beginning of the testmake.log file and see if there were any errors associated with the git clone. It happens after downloading all the third party libraries. The message to look for is "GIT clone of visit". You could also look and see if there is a "visit" directory in the directory that you ran build_visit.

[2019-11-06 19:40] #3967 closed, assigned to brugger1

[2019-11-06 21:07] brugger1 commented on #3998
I modified build_visit to set the NERSC path to an invalid path so that it wouldn't be able to download any files from NERSC. When the file didn't exist at NERSC, which was always the case here, it went to the URL if one was specified. So, it works as expected for me.

I ran the following command:

./build_visit --required --optional --all-io --nonio

Here is what I found:

Files with no URL:
pyth

[2019-11-07 03:19] #3858 closed, assigned to griffin28

[2019-11-07 06:26] markcmiller86 commented on #2874
This was fixed in 66319c286f965760d27cf4af5a83882932c2d037

[2019-11-07 06:26] #2874 closed, assigned to markcmiller86

[2019-11-07 13:31] samfux84 commented on #3991
@brugger1 : Thank you for your reply.

I could not find any trace of the script trying to clone the git repositorty of visit or to download a tarball of the visit source code:

[code]
There is a "visit" directory, which contains all the third party installations:

[code]

But there is no visit3.0.2 directory that contains the source code of visit. Even if I manually download the tarball and unpack

[2019-11-07 16:41] markcmiller86 opened #4024 "possible guiconfig causing crash on startup on OpenSUSE/Fedora"
### Describe the bug
I'm trying to run VisIt under OpenSUSE Leap 15.1 and KDE. Sometimes the GUI
fails to start when I launch VisIt from the command line. Instead of seeing the
usual splash screen and then the VisIt windows, all I get is a tiny window in
the top left corner of the screen and the waiting cursor appears when I hover
the mouse over it.

If I kill the VisIt process and keep trying aga

[2019-11-07 20:05] brugger1 commented on #3991
Ok, just figured out what went wrong. The "git clone" of visit creates a directory with the name "visit", since that directory already existed, it didn't do the "git clone" on the assumption that it had already been done through a previous invokation of build_visit. You may be able to recover from this running your build_visit command in a different directory. For example, you could create a direc

[2019-11-08 20:22] biagas opened #4027 "Histogram plot window should be restructured to reduce height."
The Histogram plot window's 'apply' and 'dismiss' button may not be available if running from a laptop (certainly not available when I run on my windows laptop).

The window should be restructured to utilize tabs to reduce height.

[2019-11-08 20:49] brugger1 opened #4028 "Consider adding more plugins in database plugin vs install to skip list."
The database plugin vs install test is the longest running test in the test suite, averaging 20 minutes * 3 test modes.

Kathleen mentioned that there is no need to test all the plugins that don't depend on external libraries, since testing one is sufficient. Here is a list of plugins Kathleen identified to add to the skip list. There are more, but this is a good starting point.

AMRTest
ANALYZE
A

[2019-11-08 20:55] markcmiller86 commented on #4028
I thought the whole point of the plugin vs. install test was to test the CMake logic that actually supports building *custom* plugins from an installation. If that is so, is any one plugin (perhaps one with external library dependencies) a sufficient test of that? I mean, IMHO, we should not be *iterating* over plugins and/or skipping some in such an iteration to reduce time. We should select the

[2019-11-08 21:03] markcmiller86 commented on #4028
So, maybe I don't understand the headline here but I just checked and this database list

https://github.com/visit-dav/visit/blob/04bf91aafcabe94920421e9a446365defaf5472a/src/test/tests/plugins/databasesVsInstall.py#L22

seems like a *great* selection of dbs to test and should provide sufficient coverage of the custom database plugin build capability.

I did notice however, if I understand what I

[2019-11-08 21:14] biagas commented on #4028
Sorry, that line is misleading. The dbs in the [ ] list are ones to be skipped. Generally due to the fact that their CMakeLists.txt cannot be autoregenerated.
The plugins test basically run xml2cmake, cmake and make on every plugin, except those in the skip list for a particular plugin type.

I agree this should probably be rethought.

[2019-11-08 21:30] #1800 closed, assigned to biagas

[2019-11-08 21:30] #3626 closed, assigned to biagas

[2019-11-08 21:37] biagas commented on #1461
Resolved by #4023

[2019-11-08 21:37] #1461 closed, assigned to biagas

[2019-11-08 21:41] biagas commented on #3545
Resolved by #4023

[2019-11-08 21:41] #3545 closed, assigned to biagas

[2019-11-08 23:36] #2575 closed, assigned to biagas

[2019-11-09 02:28] #3741 closed, assigned to griffin28

[2019-11-10 07:32] markcmiller86 commented on #3471
I am capturing this here because it is a fairly detailed and useful set of slides on tensors.

[Lec13.pdf](https://github.com/visit-dav/visit/files/3828174/Lec13.pdf)

[2019-11-10 17:38] markcmiller86 commented on #3471
This is been more involved than simply updating docs because in reviewing the supporting code and, more importantly, testing various of the operations in 2D and 3D, I am discovering a number of actual coding issues.

For example, there appears to be an implied way of handling all tensor data whether symmetric or not, whether 2D or 3D, as a 9 component VTK data array with relevant components all ze

[2019-11-10 23:10] markcmiller86 opened #4031 "External surfaces lost in PC plot when centering is changed from original"
### Describe the bug
This is a *curvilinear* (structured) mesh with two domains.
, [silo.tar.gz](https://github.com/visit-dav/visit/files/3829151/silo.tar.gz)

1. Open `data.nv0_step00000.root`
1. PC plot `UVelC`
1. Draw, rotate to confirm all the 6 sides of rectangular block appear normal
1. Change PC plot's center to either `Nodal` or `Zonal`
1. Rotate to a view where you can see the extreme +x

[2019-11-11 02:48] markcmiller86 commented on #3471
Ok, I ran across [this really enlightening video](https://youtu.be/f5liqUk0ZTw?t=320) which helped me to at least conceptually visualize what tensors are. I recommend everyone on the team watch it. It begins with a little review of *vectors* (which are really rank 1 tensors).

[2019-11-11 18:46] brugger1 opened #4033 "Document using build_visit to build only server components."
### Describe what needs to be documented.
We have a section of the GUI manual about how to use build_visit. It doesn't have anything about building server only components. This should be added to the advanced section. There is documentation about this on visitusers.org. It is pretty minimumal, but it should be looked at first. That page may have some additional content we may want to add to the ma

[2019-11-11 19:18] markcmiller86 opened #4034 "Not quite constant data PC plot looks really funky"
### Describe the bug

1. Open `rect2d.silo`
2. PC plot `speed`

You get the [attached picture](https://user-images.githubusercontent.com/5720676/68613622-fec07f80-0473-11ea-89c1-07ab1a73ff53.png). Note legend indicates min and max are 1.0 and query with default (`%g`) precision option agrees.

[code]
But, query with `%0.17g` indicates ever so slightly non-unity min.

[code]

A user can correct by

[2019-11-11 19:19] markcmiller86 commented on #3471
I have found and corrected a few problems in the Silo plugin w.r.t to handling tensor valued variables.

[2019-11-11 22:19] markcmiller86 commented on #3471
Regarding VisIt's `effective_tensor()` expression function, after reverse engineering the code that computes it, I see strong similarities to these refs...

* https://www.rockmechs.com/deviatoric-stress-and-invariants/
* https://pdfs.semanticscholar.org/33e5/5145038d993d30ad431f08f27b3aa7b2f6dc.pdf

With the actual numerical example in the first ref, I confirm that VisIt's `effective_tensor()` fun

[2019-11-11 23:42] biagas opened #4036 "Mpeg movie generated with built-in encoder upside down, wrong color table"
On a system without ffmpeg (or with it hidden from VisIt. On my windows system, I removed ffmpeg from the PATH environment variable).  On my local linux desktop, I don't have ffmpeg.

Open wave.visit and create a psuedocolor plot of pressure.
Draw.
Use the save -movie wizard to generate an mpeg movie.

The generated move is upside down, and has a messed up color table.

See attached image.
![wave_

[2019-11-12 23:36] brugger1 commented on #4004
Another option is to only do the open if stat says the file can't be read.

[2019-11-12 23:58] brugger1 commented on #3944
Let's remove pyqt and leave MDSplus broken until someone reports an issue.

[2019-11-13 00:13] #3910 closed, assigned to griffin28

[2019-11-13 18:21] rusu24edward opened #4056 "Power Spectral Density operator"
Coming out of #4014, this feature request is to create a power spectral density operator (psd), which could be very helpful for users.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [X] High - User productivity significantly improved

### Describe alternatives you've considered.
There's probably a way to cleverly script this using Visit's existing FFT (which is currently buggy)

[2019-11-13 18:22] rusu24edward commented on #4056
Probably related to #2285, #2351, and #2352

[2019-11-13 18:46] rusu24edward opened #4057 "[Discussion] Testing and code coverage"
Coming out of #4014, maybe we should discuss our philosophy behind testing. In other projects, I have seen the following approach to testing:

Utilize a three-tiered testing mechanism:
1. [Unit Testing](http://softwaretestingfundamentals.com/unit-testing/). Designed to test individual components of our code (e.g. creating an expression). This can significantly help with development because there i

[2019-11-13 18:51] markcmiller86 commented on #4057
Perhaps related, #3378 and #3835

[2019-11-13 18:53] rusu24edward commented on #4014
How do we gauge users' interests? Is it just by word of mouth as we interact with users who say, "You know, I would really like this feature"? Maybe we can formalize a way to document users' interest? I believe we have also talked about holding a users-developers meeting to discuss these points. I wonder if this would be a good way to prioritize some of these ideas and to introduce new ones.

Crea

[2019-11-13 19:08] rusu24edward commented on #1370
![Screen Shot 2019-11-13 at 11 04 19 AM](https://user-images.githubusercontent.com/18565891/68795446-d8324e00-0605-11ea-9bcd-425782f2afdb.png)
![Screen Shot 2019-11-13 at 11 06 48 AM](https://user-images.githubusercontent.com/18565891/68795447-d9fc1180-0605-11ea-80af-6b0868f0a827.png)

[2019-11-13 19:31] rusu24edward commented on #1370
All the expressions call `state->AddFilter(f)`, except for `avtFunctionExpr::CreateFilters(string functionName)`, which gets called from `avtFunctionExpr::CreateFilters(ExprPipelineState *state)`, so it does add the filter; and `avtVarExpr::CreateFilters(ExprPipelineState *state)`, which just pushes the name directly onto the state. So perhaps modifying `ExprPipelineState::PushName()` or `ExprPipe

[2019-11-13 20:24] markcmiller86 commented on #4004
Ah, you mean if the speculative stat inidicates the the permissions do not allow read, *then* try an (sec 2) `open()` anyways and if that succeeds, ignore the the fact that `stat()` says the file is not readable?

[2019-11-13 22:40] rusu24edward commented on #1370
Nothing seems to change in the engine until a plot is drawn, so the files above may not be the right place to look. In the gui, the expression seems to get added when new is clicked and `unnamed1` is immediately available in the dropdown list from plot. If the expression is accurately defined, then once apply is clicked (or once new is clicked), the first expression will be in the dropdown and wil

[2019-11-15 02:35] nicedaxiong opened #4059 "My VisIt suddenly failed to open."
It was very pleasant to use VisIt before.
My VisIt suddenly failed to open. Stuck in the "Starting metadata".
I can't find the problem and solve it.
I need some help, thanks.

[2019-11-15 18:37] brugger1 commented on #4059
What version and on what system are you having this issue?

[2019-11-15 18:42] brugger1 opened #4062 "Add patch to build_visit for llvm with llvm-5.0.0."
### Describe the bug

A user reported build_visit failing with llvm using Intel 2019.5.

**Impact**
- [X] Medium - User productivity partially degraded

**Likelihood**
- [X] Low - occurrence is specific to combination of multiple factors such as configuration, data, platform, etc.

### Attachments
Here is the e-mail exchange with the error, which should provide the information required to make the

[2019-11-15 18:45] brugger1 commented on #4036
I was in a user's office this morning who was using 3.0.0 on a Mac and the movie was also upside down. She mentioned that this is a well known issue.

[2019-11-15 22:27] brugger1 opened #4063 "Variable sum of mesh_quality/volume is wrong."
### Describe the bug

Perry Chodash reported a bug where the Volume query and a variable sum of mesh_quality/volume reported different values. They should be the same. I have his data. It is located in /usr/workspace/brugger/chodash_bug_2019_11_15 on the RZ. He selected out material "sample_material". When I did a Volume query I got 5. When I did a variable sum of mesh_quality/volume I got 4.5...

[2019-11-15 23:02] brugger1 opened #4064 "Splash screen and icon both have 3.0 in version 3.1."
### Describe the bug

The splash screen still has 3.0 on it for release 3.1. I saw this on Linux. Kevin reported this on the splash screen and icon.

**Impact**
- [X] High - User productivity significantly degraded

**Likelihood**
- [X] High - occurrence is not specific to platform, data, config, a combination of operators, queries, etc.

[2019-11-16 00:50] BradWhitlock commented on #4036
The movie.py test in the test suite might have caught this. The test was
put in the skip list.

On Fri, Nov 15, 2019 at 10:45 AM Eric Brugger <notifications@github.com>
wrote:

[2019-11-16 01:27] markcmiller86 commented on #4036
I think this is a dup of #3863

[2019-11-16 02:39] nicedaxiong commented on #4059
I'm sorry I didn't explain it clearly when I asked，I use visit 2.11.0 on win10, It used to work.
[
![1111111](https://user-images.githubusercontent.com/43698310/68986741-4b81cd00-085d-11ea-85cd-aae2049ae223.jpg)
](url)
Stuck in the "Starting metadata".

[2019-11-16 03:01] markcmiller86 commented on #3471
After a lot of reading up on stress tensors, I think we have some function renaming to do and so am capturing that here as well...

`effective_tensor()` would be better named `effective_stress()`. It creates a *scalar* valued expression, not a *tensor* valued one. Another common name is `von_mises_stress()`. This is related to the *second principal invariant of deviator stress*, J<sub>2</sub>. Eff

[2019-11-18 16:01] cyrush opened #4066 "install visit_writer along with the visit cli python modules"
using the visit_writer python module is confusing, we should modify visit to install it along side the modules that comprise the visit cli interface, so we can you import from the visit cli.

@jameskress

[2019-11-18 18:27] markcmiller86 opened #4067 "Enhance lineout to loop over composite variables"
Lineout works only for scalars. To do a lineout on a vector, the user has to create scalar expressions for the components and do the lineout on those components. However, you can then *list* all the components in the variables and lineout will create multiple curves, one for each component, in a single operation. I think we should just do this for vector, tensor, array variables (any composite var

[2019-11-18 19:12] biagas opened #4068 "Running 'visit -np 2' when compiled with MPICH 3.3.1 fails with 'error loading shared libraries'"
I ran the 3.1RC version of build_visit to build third party libraries on my rhel6 system, including mpich (mpich version it compiles is 3.3.1)

I compiled visit against those third party libraries.
I modified my PATH environment variable to pick up the mpirun in the mpich dir that was just built.
When I run 'visit -np 2', the parallel engine fails to launch with this error:
<pre>error while loadin

[2019-11-18 22:01] jameskress commented on #4066
@cyrush That would be great. It is not hard to use it now that I know the special steps, but it was not obvious before!

[2019-11-18 23:48] biagas commented on #4068
I started down the path of trying to fix by adding vtksys to the link targets for avtpipeline, (vtkCommonCore has a dependency on vtksys) but then I just get more messages about other shared libraries.

[2019-11-19 00:52] nicedaxiong commented on #4059
I'm sorry I didn't explain it clearly when I asked，I use visit 2.11.0 on win10, It used to work.

Now when I launch visit I'm stuck in this interface.

Thank you for your reply.

At 2019-11-16 02:38:00, "Eric Brugger" <notifications@github.com> wrote:

What version and on what system are you having this issue?

—
You are receiving this because you authored the thread.
Reply to this email directly,

[2019-11-19 13:35] markcmiller86 opened #4069 "Cannot read from any media on OSX Catalina"
### Describe the bug
See [this thread](https://elist.ornl.gov/mailman/private/visit-users/2019-November/022704.html)

User reports when launching from icon, mdserver errors with message *The MetaData server could not get the file list for the current directory* when attempting to access data on externally mounted (think usb drive) media. It is specifically failing on https://github.com/visit-dav/v

[2019-11-19 13:43] markcmiller86 commented on #4069
Ran across [this thread](https://discussions.apple.com/thread/250716806) which might be related to this and some other issues we face on OSX.

[2019-11-19 13:47] markcmiller86 commented on #4069
Maybe [this too](https://developer.apple.com/videos/play/wwdc2019/701/?irgwc=1&aosid=p239&cid=aos-us-aff-ir&irchannel=13631&irpid=27795&clickid=XrYSqo0LmxyOUpTwUx0Mo38VUkn1q6xQrXSjUs0&ircid=7613)

[2019-11-19 13:50] markcmiller86 commented on #4069
Some changes in OSX gatekeeper behavior.

<img width="1142" alt="Untitled" src="https://user-images.githubusercontent.com/5720676/69151890-6425f900-0a90-11ea-871b-7811cb51bfa2.png">

[2019-11-19 13:52] markcmiller86 commented on #4069
This looks like its going to be a problem for all catalina users until we fix our app-bundles. So, I upgraded impact to high and likelihood to high.

[2019-11-19 19:58] brugger1 opened #4070 "VisIt doesn't run on the Ale3D QA Windows machine."
### Describe the bug

I was in Al Nichols office and he showed me a VisIt bug and also mentioned that they haven't switched to 3.x since it doesn't run on their QA machines.

**Impact**
- [X] Medium - User productivity partially degraded

**Likelihood**
- [X] Medium - neither low nor high likelihood

[2019-11-19 21:08] brugger1 commented on #3991
I believe I identified the issue with me previous comment. I am now closing this ticket.

[2019-11-19 21:08] #3991 closed, assigned to brugger1

[2019-11-19 21:31] biagas commented on #4068
Checked a few mpich versions. 3.1 still works with VisIt as expected. 3.1.1 doesn't, exhibits the same behavior as 3.3.1.

[2019-11-19 21:44] biagas commented on #4059
If it used to work, but now doesn't, I suspect a change to your system is the cause.

Do you have any anti virus installed?  Sometimes Symantec flags one of VisIt's components as a problem, and automatically puts the executable in quarantine.  You would have to check the log files for your anti virus software.

You can also try moving your VisIt folder (Usually in Documents).
There may be a config

[2019-11-19 22:03] biagas commented on #4070
I tried building and debugging VisIt on their QA systems in September. The render window (down in qt-vtk) never gets created, and I wasn't able to determine why.

[2019-11-19 23:45] brugger1 commented on #4062
We should look and see if this is a C++ 11 feature or something that llvm has defined. Also, does it get compiled out with optimization.

[2019-11-20 17:26] markcmiller86 opened #4076 "-quiet launcher option has no effect"
### Describe the bug
In `visit --fullhelp`, the `-quiet` option says it should suppress all *Running* messages. It doesn't.

Run

[code]

You still get all the messages about running each VisIt component.

[2019-11-20 18:45] brugger1 commented on #4064
I e-mailed Brad and there is a gimp file in common/icons that can be modified and used to create the new images for the splash screen.

[2019-11-20 19:38] markcmiller86 commented on #4064
Yeah, thats the one I recall seeing with multiple layers. A new release involves updating those layers. I think imagemagick tools can be used to scriptify most of it. I spent a day going down this path a few years ago and hit a roadblock which I can't recall. I might have even committed some of this to repo or put on Wiki.

[2019-11-20 19:43] rusu24edward commented on #4063
Some zones have inconsistent coloring in mesh_quality/volume, but this only happens when Sample Material is selected. Without that material explicitly selected, the zones are not miscolored (verified with zonal pick). @markcmiller86 and I investigated the possibility of there being mixed-materials. There indeed mixed materials, but surprisingly not in the zones that are getting miscolored.

Curren

[2019-11-20 19:45] markcmiller86 commented on #4064
[Here is @BradWhitlock and @hankchilds notes on this on visitusers](https://www.visitusers.org/index.php?title=Update_splashscreen)

The script I started but never finished is [here](https://github.com/visit-dav/visit/blob/develop/src/common/icons/update_splash_vno.sh)

[2019-11-20 19:58] brugger1 commented on #4064
I figured out the part relating to updating the splash screen. The portion relevant to updating the icon on the mac will definitely be helpful.

[2019-11-20 21:49] #4064 closed, assigned to brugger1

[2019-11-21 08:49] nicedaxiong commented on #4059
Thank you very much for your help，I tried to delete the VisIt folder which in Documents and then I could use visit!

[2019-11-21 19:40] markcmiller86 opened #4080 "Support water-tight surface export from multi-block data"
### Is your feature request related to a problem?
We export to formats like STL. And, users want that often to go to 3D print. But, for multi-block meshes, we export multiple independent STL objects for each block. For a *surface*, this causes problems for 3D print software because the surface isn't closed. Can we fix this? And, can we do so in a streaming sort of way so that we don't necessarily

[2019-11-21 21:28] cyrush opened #4081 "minor cmake warning related to MOAB"
this has been around for a while --  it basically means we are some how passing a directory to target link libs, instead of the proper fully qualified path an actual lib.

`WARNING: Target "EMOABDatabase_ser" requests linking to directory "/usr/workspace/wsa/visit/visit/thirdparty_shared/3.1.0/toss3/szip/2.1/linux-x86_64_gcc-4.9/lib".  Targets may link only to libraries.  CMake is dropping the ite

[2019-11-21 21:55] cyrush opened #4082 "python 3 transition"
Deciding to support only Python 3
===========================

I have been mulling a few ideas related preserving python 2 support for users even after we move to Python 3.

Among them was dual support for a python 2 and python 3 cli.  This would be super complex from several angles (build_visit and cmake logic to support building both, handling for embedded python, etc).  I now think the most tra

[2019-11-22 00:04] brugger1 opened #4084 "Allow parallel VisIt builds using mpich to work in parallel out of the box."
### Is your feature request related to a problem?

I created and installed a VisIt distribution built with mpich and tried to run it in parallel using "visit -np 2" and it failed to launch the parallel engine because it couldn't find mpirun. Seems like this should work out of the box. It also seems like there should be host profile installed by default when installing a parallel version that uses

[2019-11-22 04:47] markcmiller86 commented on #4080
It looks like our STL reader has logic to remove duplicate nodes. We should just do this in the writer and this should fix the problem.

[2019-11-22 08:35] samfux84 opened #4085 "avtXRayFilter.C:192:30: error: invalid conversion from ‘const int*’ to ‘int*’ [-fpermissive]"
I am trying to compile VisIt 3.0.2 from source with the command

`./build_visit3_0_2 --thirdparty-path /cluster/apps/visit/thirdparty7/visit --openssl --xdmf --console --netcdf --szip --tbb --ospray --ispc --embree --mesagl --glu --python --boost --silo --hdf5 --cgns --fastbit --vtk --parallel --icet --qt --system-cmake --llvm --zlib --mili --boxlib --cfitsio --gdal --mfem --pidx --uintah --makefl

[2019-11-22 17:32] markcmiller86 commented on #4085
So, I am not sure its related but you have a space-saparated set of args to both `--cflags` and `--cxxflags` options to build_visit and I don't see them surrounded by double quotes. I think you need to invoke like so...

[code]

But, I don't think this has anything to do with your build error.

Can you possible cd to `src/avt/Filters` and do a `make VERBOSE=1` there and attach output here?

[2019-11-22 19:22] brugger1 commented on #4085
The error is due to the function VisIt_XRay_MPI_Alltoallv using "const int *" for some arguments and passing those along to MPI_Alltoallv, which uses "int *" in those cases. Looking at current documentation for MPI_Alltoallv for MPICH and OpenMPI, they also use "const int*", so I assume that this is an old version of MPI where the arguments weren't const qualified.
We can remove the "const" for th

[2019-11-22 19:43] #4085 closed, assigned to brugger1

[2019-11-22 19:50] brugger1 commented on #4085
The fix will be in the 3.1 release of VisIt, which should be out in 2 weeks.

[2019-11-22 21:07] markcmiller86 commented on #4080
To be clear. I think duplicate node remove is a good thing to have in *both* the reader and the writer. So, maybe re-factor it to a sep. compilation module and use it in both places.

[2019-11-22 21:19] #4062 closed, assigned to brugger1

[2019-11-22 22:45] cyrush opened #4092 "macos rpath warning for openpmd reader"
[code]

[2019-11-22 23:04] markcmiller86 opened #4093 "PickByNode returns object with bad data but Pick text/string is correct"
### To Reproduce
1. Open `rect3d.silo`
1. Define tensor expression `{{u,0,0},{0,u,0},{0,0,u}}`
1. Add tensor plot of above expression
1. Do a node pick via GUI (shouldn't matter which node. I happened to pick 14850)
1. Examine Pick window results
1. Launch CLI
1. Do a `PickByNode(<same-node-id-as-above>)`
1. The two outputs do not agree

Note the differences in the Pick window output and the CLI o

[2019-11-22 23:14] markcmiller86 commented on #4093
The only reason I set impact medium as opposed to low is that to work around, a user needs to write code to parse the text/string and doesn't necessarily have easy/familiar control over precision used there.

[2019-11-22 23:24] cyrush commented on #3917
I did some tests with Python 3 as my default interpreter.  Everything works fine.

I recalled, our current launcher will always find the version of Python that VisIt was built again and use this.  @BradWhitlock added this a while back, and I think its a sufficient defense for what I was worried about.

Orthogonal to this, we are still going to transition to Python 3 #4082

[2019-11-22 23:24] #3917 closed, assigned to cyrush

[2019-11-23 00:13] markcmiller86 opened #4096 "Cleanup support for tensor variables"
I wanna just capture here a few potential issues related to tensor variables

- VTK treates *all* tensors as 9 component quantities regardless of symmetric or not and regardless of 2D/3D? For the components that aren't relevant in a particular context, the non-relevant components need to exist with all zeros. This is consistent with their treating all vectors as 3 component quantities and likewise

[2019-11-26 00:46] #3999 closed, assigned to biagas

[2019-11-26 16:28] aowen87 commented on #4036
I was unable to reproduce this on OSX. I'm building VisIt on my Linux machine so that I can test there as well.

[2019-11-26 16:38] brugger1 commented on #4036
Do you have ffmpeg installed on your Mac? You need to use the built in encoder that comes with VisIt.

[2019-11-26 16:56] aowen87 commented on #4036
I do. I'm not sure how to disable it...

[2019-11-26 16:59] biagas commented on #4036
Remove ffmpeg from your path so VisIt cannot find it.

[2019-11-26 17:01] aowen87 commented on #4036
ffmpeg is in my /local/bin/ directory. Do you mean to remove this entire directory from PATH? I assumed this would cause other issues, but I'll give it a try.

[2019-11-26 17:13] aowen87 commented on #4036
Okay, that worked. I also see the following error messages after all of the images have been generated and the movie is being created.
![Screen Shot 2019-11-26 at 10 10 11 AM](https://user-images.githubusercontent.com/11658578/69656228-68748800-1035-11ea-9ad2-8bc5cd059dde.png)

[2019-11-26 17:26] brugger1 commented on #4036
Those messages are normal.

[2019-11-26 17:45] aowen87 commented on #4036
Really? I only see those messages when I remove ffmpeg. When ffmpeg is in my path, I see the following (but maybe these are equivalent messages):
![Screen Shot 2019-11-26 at 10 43 55 AM](https://user-images.githubusercontent.com/11658578/69658628-cefba500-1039-11ea-8199-aee352552527.png)

[2019-11-26 17:52] brugger1 commented on #4036
I definitely see the vbv_delay overflow all the time and I always get a good movie out, so I believe they are inoccuous. The built in encoder is a completely different encoder than ffmpeg, so they don't behave the same and hence different messages.

[2019-11-26 18:13] markcmiller86 commented on #3939
@cyrus and @markcmiller86 met with Jin October 22nd. He asked for some more data to play with and we gave him `specmix_ucd.silo` except exported from VisIt as VTK format. No word back on status of that.

[2019-11-26 18:13] #3939 closed, assigned to markcmiller86

[2019-11-26 18:13] #3471 closed, assigned to markcmiller86

[2019-11-26 21:11] biagas commented on #4028
I've modified the test to pass a list of plugins to build instead of passing a skip list and attempting to build everything except what's in the skip list.

The preliminary database list is:
BOV, Blueprint, CGNS,Cale, Claw, Exodus, FITS, H5Part, MFEM, Mili, SAMRAI, VTK.
I tried to choose a mix of STSD, STMD, MTSD and MTMD, as well as a mix of thirdparty dependencies.  All of those in this new list

[2019-11-26 21:59] markcmiller86 opened #4105 "View2/3DAttributes Python Objects + and * operators are likely broken"
For some reason, in the distant past, someone decided it would be useful to define addition and multiplcation operators for Python View2DAttributes and View3DAttributes objects. I think this permits someone to then do view transformation code such as...

[code]

Do we have any code actually doing this?

Should we continue to support this?

In trying to fix #3961, I discovered issues with this func

[2019-11-26 22:04] markcmiller86 commented on #4028
Can we add MOAB database to the dbs? Reason I think its a good potential one to include is that the serial and parallel versions need to link to wholly separate TPLs which are themselves implemented either for serial or parallel.

For Plots, am thinking at least one glyphing, one using areal (surfaces), one using volume rendering, and maybe one using its own renderer (spreadsheet maybe)?

[2019-11-26 22:11] markcmiller86 commented on #4105
Actually, I think it might be possible to get this to work through our XML code gen tools without enhancements to those tools.

[2019-11-26 22:20] biagas commented on #4028
MOAB currently cannot be in the test because it's CMakeLists.txt file cannot be auto-regenerated.
Thanks for the plot suggestions.

[2019-11-26 22:32] #4081 closed, assigned to cyrush

[2019-11-26 22:45] cyrush commented on #4092
looked into this and I don't see any obvious difference between how we are specifying and building OpenPMD vs other libraries where this warning does not appear.

[2019-11-26 22:57] markcmiller86 opened #4106 "Consider adding hasManualEdits flag (defaulting to false) to .xml file state objects"
Regardless of how good our code generation tools are, we will occasionally only be able to make quick progress with manual edits to code generated files. When we do this, it would be nice to enable developers to indicate this by setting a flag in the XML file. This way, we can be alerted as to danger during re-gen.

[2019-11-26 23:53] #4059 closed, assigned to nobody

[2019-11-27 00:29] cyrush opened #4107 "Several delete vs delete[] mismatch warnings in OpenPMD Plugin"
### Describe the bug
Several delete vs delete[] mismatch warnings in OpenPMD Plugin

Example:

[code]

[2019-11-27 00:47] cyrush opened #4108 "move src/tools/dev/scripts/ to scripts?"
Discuss moving `src/tools/dev/scripts/` to `scripts`?

When we refactored for git, i recommended we move our scripts dir, but I didn't communicate what I felt the final landing spot should be.

Note: we should also remove the old svn scripts from this dir

[2019-11-28 04:48] #3961 closed, assigned to markcmiller86

[2019-11-28 04:48] #4105 closed, assigned to markcmiller86

[2019-12-02 16:40] #3766 closed, assigned to aowen87

[2019-12-02 17:48] aowen87 commented on #4036
This seems to be related to VisIt's ppm image format. mpeg2encode (the utility VisIt uses to create mpeg movies) relies on ppm images, and the ones that Visit generates are upside down.

This image was created by using the "Save window" function of VisIt after changing the output format to ppm. I also needed to add the following header to the image:
[code]

![visit0000](https://user-images.githubu

[2019-12-02 18:08] aowen87 commented on #4036
Fixed the "upside down" problem by altering the vtkPPMWriter. This change didn't have an affect on the color inversion. I'm looking into that now.

[2019-12-02 18:13] brugger1 commented on #4036
Do the altered PPM images still work with ffmpeg? I don't see any color inversion issue with the image above.

[2019-12-02 18:20] aowen87 commented on #4036
When generating the image alone, there is no color inversion. This only occurs when generating the movie (generating with ffmpeg still works without issue).

[2019-12-02 18:54] aowen87 commented on #4036
The color inversion seems to be specifically related to mpeg2encode. I can save a series of ppm images (all of which look correct when viewing) and generate a movie using mpeg2encode manually, and the movie will have these inverted/incorrect colors. It might be expecting a different color range. I'll look into this.

[2019-12-02 19:00] aowen87 commented on #4036
When generating the movie manually, adding the header with the color range resolves all color issues. I'm guessing that there is either a default range which is different than what's being output or an incorrect range that we are specifying somewhere.

[2019-12-02 19:04] brugger1 commented on #4036
One thing to note, is that this works fine on Linux. It may be a compiler issue or perhaps there is some conditional code based on the compiler or operating system.

[2019-12-02 19:16] aowen87 commented on #4036
I thought that Kathleen saw this issue with Linux as well? @biagas

[2019-12-02 19:25] biagas commented on #4036
Yes, I observed this on my local linux box which doesn't have ffmpeg.

[2019-12-02 19:46] brugger1 commented on #4036
My bad. ffmpeg wasn't installed on my local system in the past, but now it is and VisIt is using ffmpeg. I also noticed that VisIt was saving png files when using ffmpeg, which explains why we aren't seeing this with ffmpeg encoded movies.

[2019-12-02 20:51] brugger1 commented on #4036
I'm closing the loop here. I tried making a movie on Linux with our built in movie encoder and it was in fact upside down and the colors were messed up.

[2019-12-02 21:13] aowen87 commented on #4036
VisIt uses its own custom vtkPPMWriter that inherits from the generic vtkImageWriter. I'm guessing this class worked well in the past but was broken during the upgrade to vtk3.0.

**The issue**
Our vtkPPMWriter overrides the file and header write methods. These methods appear to no longer be called by the base class when `Write()` is invoked.

**Solutions**
vtk now has a PPM/PNM writer of its own.

[2019-12-02 21:25] cyrush opened #4118 "default all testable things to on?"
### Is your feature request related to a problem?

I always have to hunt down the same options the nightly test suite to configure visit.

There are a handful of tests that require features that aren't on in a default config.

Each iteration of testing to get his right is a time drain, can we just default the things we test to on?

[2019-12-02 21:42] brugger1 commented on #4036
Using built in functionality in VTK that does the job is always a winner over implementing something ourselves. Let's use the VTK writer.

[2019-12-02 22:19] griffin28 opened #4120 "blueos_patch doesn't work on macOS"
### Describe the bug
The apply_qt_5101_blueos_patch in bv_qt.sh doesn't work on macOS. May need to add a conditional if $OPSYS == Linux if blueos maps to Linux machines.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [x] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User

[2019-12-02 22:40] rusu24edward opened #4121 "Update docs about python docstrings"
### Describe what needs to be documented.
Following #3324, the sphinx docs need to be updated to reflect that changes should be made in the .rst files and not the MethodDoc.C files.

[2019-12-02 22:42] rusu24edward commented on #4063
Both variable sum and mesh volume go through [avtVerdictExpression](https://github.com/visit-dav/visit/blob/develop/src/avt/Expressions/MeshQuality/avtVerdictExpression.C#L143). Still digging to see why they produce difference answers.

[2019-12-02 23:15] #3958 closed, assigned to markcmiller86

[2019-12-02 23:56] biagas commented on #4063
You might want to check the two swizzles on VMetricVolume:
Sum only positive volumes (default false)
and
Use Verdict Hex (default true)

'UseVerdictHex' to allow a different form of hex-volume calculation. Requested by a customer a long while ago. Captured by a 'volume2' expression, which I think is undocumented.

[2019-12-03 00:02] cyrush opened #4127 "indenting issues in python cli examples"
### Describe the bug
python cli examples in rst files have indents (spaces) stripped out, creating python syntax erros

Cyrus is resolving the rst source issues as part of python 3 prep, but we also need to modify the rst to MethodDoc.C gen code to preserve indents.

[2019-12-03 01:15] #4120 closed, assigned to griffin28

[2019-12-03 01:42] #4028 closed, assigned to biagas

[2019-12-03 13:12] markcmiller86 commented on #4108
What is the rationale here? If the rationale is not *unique* to the contents of `scripts`, I am wondering whats to stop us from moving `src/tools/data/datagen` to `datagen`, or `src/resources/help/en_US/` to `release_notes`, etc?

[2019-12-03 16:27] biagas opened #4130 "parallel engine cores during test-suite run"
### Describe the bug
I run the test suite on pascal with --lessverbose and capture the output to a file.
I see this error a lot when I run in parallel mode.

srun: error: pascal3: tasks 0-1: Aborted (core dumped)

[2019-12-03 16:41] markcmiller86 commented on #4130
In parallel mode, how does the script limit the number of "jobs" it has running simultaneously and does changing that number help? I think its the `-n #` option or `--num-processes=#`. Default is 8. At 2 task/job, that fits on one 18 core node. At 3 tasks/job, it does not. Not sure if that is relevant or not as I often run a *single* MPI job *oversubscribed* (more tasks than cores) without issue o

[2019-12-03 16:49] cyrush commented on #4121
@rusu24edward making changes in this area, I'll go ahead and tackle can perhaps you can review?

[2019-12-03 16:51] cyrush commented on #4121
hmm, well i just handled the functions for now. is the cli extractor still used for the `atts` and `events`?

[2019-12-03 17:03] biagas commented on #3959
Subset plot of Domains, PC plot also exhibit the problem.

[2019-12-03 17:05] cyrush opened #4131 "sphinx_cli_extractor.py just -- run in VisIt's CLI?"
`sphinx_cli_extractor.py `is currently run by importing visit, which requires setting of paths, etc in env.  With slight modifications we can also support running via `visit -cli -s` which would make updating docs easier to do.

[2019-12-03 17:18] rusu24edward commented on #4121
Yes, I believe the extractor is still used for atts and events. I can definitely review

[2019-12-03 17:45] cyrush commented on #4130
We are changing `-n` to default to `1` in #4094

There is some stream crossing going on with the multi processing case.

Just to be clear, is this an issue with `-n > 1` or just an issue with ``--lessverbose`` and an mpi launch?

[2019-12-03 17:55] biagas commented on #4130
I see the engine cores when I run with '--lessverbose -m parallel'. I do not use the -n option.

[2019-12-03 18:06] #4036 closed, assigned to aowen87

[2019-12-03 18:10] brugger1 commented on #4130
If you don't specify -n 1, I believe it will run multiple tests at once (n > 1). Can you run it with -n 1 and see if it still gives the errors.

[2019-12-03 18:14] biagas commented on #4130
My bad, I looked again at my command line and I do pass '-n 1'.

[2019-12-03 20:00] griffin28 opened #4134 "Error loading adios2 plugin"
### Describe the bug
The following error occurs when VisIt tries to load the adios2 plugin:

Running: gui3.1.0
Running: viewer3.1.0 -geometry 2207x1417+353+0 -borders 20,0,0,1 -shift 0,0 -preshift 0,0 -defer -host 127.0.0.1 -port 5600
Running: mdserver3.1.0 -host 127.0.0.1 -port 5601
Error opening plugin file: /Applications/VisIt.app/Contents/Resources/3.1.0/darwin-x86_64/plugins/databases/libMADI

[2019-12-03 20:40] rusu24edward opened #4135 "Brainstorm meeting 12/03/19"
# Volume Rendering
We spent the whole hour considering merits of volume rendering.

Frequently used in sci viz.
Not many Visit customers using volume rendering. Possible reason is because primarily doing 2D work, not 3D work.
Why are people unaware of 3D rendering? Maybe because they have never ventured out to it. Some of the stuff is unintuitive. Transfer functions are a big investment of time+ef

[2019-12-03 21:40] aowen87 commented on #3551
The attenuation is only applied to sections of the color table that have opacity < 1. Looking at the code, this seems to be intentional for this rendering method. We can fairly easily change this if needed, but I don't think it's an issue.

[2019-12-03 21:40] #3551 closed, assigned to aowen87

[2019-12-03 21:55] aowen87 opened #4136 "Trilinear RC lighting is very dark"
### Describe the bug
When performing trilinear ray casting/compositing, enabling the lighting option results in a very dark rendering (from any angle).
The ambient, diffuse, specular, and shininess options are available, but they have no noticeable affect (which may be due to the fact that it's just so dark).

**Helpful additional information**
- [ ] Did VisIt crash?
- [ ] Did you get wrong result

[2019-12-03 22:24] aowen87 opened #4137 "Volume lighting options not disabled"
### Describe the bug
When un-checking the lighting option for volume rendering, the lighting attributes (ambient, diffuse, etc.) all remain enabled. Since they don't actually do anything unless lighting is enabled, this is misleading; they should be disabled when lighting is turned off.

**Helpful additional information**
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] Hi

[2019-12-03 22:46] aowen87 commented on #3974
There appears to be an issue with a call to the mili library. It's unclear what should be handed to mc_read_results for the time state. I've asked Kevin about this and am waiting for a reply.

[2019-12-03 23:32] cyrush opened #4139 "modify build_visit check for python to also verify install modules"
right now our build_visit checks if the python install dir exits, but if possible it would be good to also check if the expected modules are installed (via an import check)

[2019-12-03 23:33] cyrush commented on #4108
things like build_visit are buried quite far down and hard to find.

At least build_visit should be easier to find.

[2019-12-04 00:29] cyrush commented on #3995
@markcmiller86 I agree this is confusing.

The problem is that the IC operator is creating a new variable, you are plotting the result of the IC operator whatever it is. It can be integration *time* like you said, which has no relation to any of the scalar vars that you could select from the mesh.  Basically, the IC operator result is like an implicitly named expression result with a funny name ("

[2019-12-04 00:34] #4127 closed, assigned to nobody

[2019-12-04 00:44] cyrush commented on #4121
resolved in #4132

[2019-12-04 00:44] #4121 closed, assigned to cyrush, rusu24edward

[2019-12-04 02:59] markcmiller86 commented on #3995
I am not sure I follow. I mean, there certainly is not any new variable in the menus. And, if the `Data Value` that is plotted *is* indeed a database variable, then all the IC operator is doing is generating new geometry upon which to paint the selected, pre-existing database variable. And, in that case, I don't see any difference between it and something like threshold or iso-surface...geometry c

[2019-12-04 06:15] #3982 closed, assigned to dpugmire, griffin28

[2019-12-04 16:08] #4137 closed, assigned to aowen87

[2019-12-04 16:19] aowen87 opened #4143 "Stagger operator useful?"
Is the Stagger operator useful? It looks like it just translates the dataset in the x,y,z directions, but it only works on structured grids. The Transform operator can do this as well, but it works on many types of grids (all of the ones I've tried so far). This seems redundant...

[2019-12-04 17:55] rusu24edward commented on #4063
I believe there is something happening with the material selection that is resulting in the mismatch between calculating volume by (1) summing over the mesh_quality vs (2) directly taking volume of the mesh. When all materials are selected, the volumes match. Even when picking a "miscolored" cell with all materials, the volume of that cell is exactly as we expect. However, when selecting only the

[2019-12-04 18:39] rusu24edward commented on #4063
The volume of each cell is the same in both volume calculations... Looking to see if there is a bug in the sum.

[2019-12-04 18:58] aowen87 commented on #3268
I've added in logic to throw an error message and not display the zone highlight for transforms that we cannot reproduce for the pick.
It looks like the transform is now incorrect under certain circumstances. I'll fix this before merging.

[2019-12-04 19:16] cyrush commented on #4143
Sounds like we can remove it ...

[2019-12-04 19:38] biagas commented on #4143
Might want to ask Marc Durant why it was added to Pseudocolor plot's ApplyOperators method.

[2019-12-04 19:41] cyrush commented on #3995
Again, I think this is confusing. The "new" variable is the funny name you have to pick, that includes the vector field. This funny name is problematic in other cases as well (DataBinning), b/c you can't nest operators given the funny name. But the primary field of these type of operators is the funny named thing (they also make new meshes, etc) -- but that is why they are different than other ope

[2019-12-04 20:23] #4134 closed, assigned to griffin28

[2019-12-04 20:30] markcmiller86 commented on #3995
Hmm. I think I may be confused becuase I don't honestly know what *this* in the above statement refers to. And, I worry you may have missed my main point.

1. I find it confusing to be doing a PC plot of a *vector* variable via the IC operator's sub-menu pulldown. Why don't vector variables appear in the PC plot's main pull-down? Because they are not scalars. But, there they are in the IC operator

[2019-12-04 21:14] cyrush commented on #3995
this == "IC" operator and these style of operators.  The same applies for all of them, an actually it can be more confusing for some: Input variables have no meaning for some operators (CCL, some cases of IC, data binning).

[2019-12-04 23:43] #3463 closed, assigned to cyrush

[2019-12-05 16:13] griffin28 opened #4149 "Redesign SPH Resample Operator"
The current SPH resample operator was implemented for a specific use case and needs to be refactored to handle different SPH datasets.

In particular, the refactored SPH resample operator needs to be able to allow the user to specify the kernel and smoothing length. Additionally, the resample operator needs to handle or generate ghost particles and implement a more performant algorithm for interpo

[2019-12-05 20:23] rusu24edward commented on #4063
The difference in the calculations is caused by the [sumFromOriginalElement](https://github.com/visit-dav/visit/blob/develop/src/avt/Queries/Queries/avtSummationQuery.C#L476) flag. When calculating the volume from mesh_quality/volume, this flag is true. When calculating the volume from the mesh, this flag is false. @biagas it [looks like you added this](https://github.com/visit-dav/visit/blob/deve

[2019-12-05 20:24] #3056 closed, assigned to brugger1

[2019-12-05 21:16] markcmiller86 commented on #4063
This probably has to do with arbitrary polyhedral cases...where we have arbitrary polyhedra in the input mesh and those get decomposed into zoo-type elements (tet, wedge, pyramid, hex). When this happens, things like "volume" of a zone need to deal with summing up the individual pieces to report the correct volume for the *original* arbitrary zone type.

[2019-12-05 21:39] rusu24edward opened #4156 "Variable sum vs Mesh volume"
### Describe the bug

This stems from #4063. I was able to duplicate the user's bug with our own data. See below for some analysis:

### To Reproduce
1. Checkout my branch origin/bugfix/rusu1/visit-4063-variable-volume-wrong.
2. Launch visit with ucd3d.silo
3. Recreate the following tables:
![Screen Shot 2019-12-05 at 1 34 55 PM](https://user-images.githubusercontent.com/18565891/70275952-0e29a480

[2019-12-05 21:41] rusu24edward commented on #4063
I was able to duplicate this with our own data in #4156. It seems to me that the sumFromOriginalElement flag is the cause of the incorrect results.

[2019-12-05 21:43] rusu24edward commented on #4063
@markcmiller86 This seems to happen when selecting material. The original mesh (which is all hexes) is decomposed into zoo elements (see above comment). However, it looks like there may be something wrong with the logic surrounding sumFromOriginalElement. The examples that I've produced so far only show cases where using sumFromOriginalElement is the WRONG thing to do. Do you know of any cases whe

[2019-12-05 23:08] markcmiller86 commented on #4063
I think we may need an example where we have arbitrary polyedra *and* mixing materials. I honestly don't know whether we have data of this ilk. We can make some. I honestly don't know how well this particular combination of things is handled everywhere in VisIt. I suspect it isn't too common and that we don't handle it well everywhere.

I think the case you have is mixing materials and so when any

[2019-12-05 23:11] rusu24edward commented on #4063
I reproduced it in #4156 with our own data which demonstrates the problem. I will also give you the users data on RZ, but I believe both examples show mixed-materials and not arb poly.

[2019-12-06 00:13] ARSanderson commented on #3995
Hi,

A few thoughts that are a tangent but addresses some of the issue. Why do we have separate plots for scalar, vector, and tensor data.  Should there not be one plot for all? Now one may say yes as the data is different. However, I would argue is a vector glyph any different from a point glyph?? Further, within the scalar data we have points, lines, surfaces. Currently with the PS plot if one i

[2019-12-06 06:54] #3874 closed, assigned to brugger1

[2019-12-06 07:06] nicedaxiong opened #4160 "Error while building QT: Could not find qmake configuration file ."
### Describe the bug
There were some errors while building qt.
I build vist3.0.1 on Ubuntu18.04
build_visit3_0_1 and visit3.0.1.tar.gz are in this directory: /home/node/桌面/visit3.0.1
I build with the following command:
./build_visit3_0_1 --thirdparty-path /home/node/visit3.0.1/thirdparty --tarball visit3.0.1.tar.gz --mesagl --openssl --llvm

There were some errors while building qt.

Here is my bu

[2019-12-06 12:47] nicedaxiong commented on #4160
I think I have found the cause of the error because my path contains Chinese.
Now I realize the importance of developing good programming habits and learning English well.

[2019-12-06 19:29] markcmiller86 commented on #4156
Can you maybe point to the body of code where the logic involving this variable is triggering the behavior?

[2019-12-06 19:30] markcmiller86 commented on #4156
Oops. Sorry, I guess I can go find it on your branch.

[2019-12-06 19:33] rusu24edward commented on #4156
My branch just has some debugging outputs. The variable gets activated [here](https://github.com/visit-dav/visit/blob/develop/src/avt/Queries/Queries/avtVariableSummationQuery.C#L145) and is involved in the summation process [here](https://github.com/visit-dav/visit/blob/develop/src/avt/Queries/Queries/avtSummationQuery.C#L292)

[2019-12-06 20:05] brugger1 opened #4161 "Reopening a database at a different time doesn't work through CLI."
### Describe the bug

A user reported this bug. I haven't investigated it.
He has a time series of files and at some later point in time a variable gets added. When in the GUI, he just reopens the file at that time and then the variable shows up in the variable list and everything works ok. He has tried this in the CLI and it doesn't work. He also tried opening the database at the specific time st

[2019-12-06 20:26] markcmiller86 commented on #4161
Do we know whether he was using `TimeSliderSetState` together with `ReOpenDatabase` (which does NOT permit the specification of a time index as an argument). Or, was he using `CloseDatabase` followed by `OpenDatabase` where the argument for time index (2nd arg) is specified. I suspect the latter works but maybe the former does not.

[2019-12-06 20:48] markcmiller86 commented on #4161
FYI...I've tried to duplicate with 3.0.1 and haven't been able to...

[code]

produces this (expected, because transient doesn't appear in the database until state 17) output...

[code]

[2019-12-06 20:52] brugger1 commented on #4161
The user reported the error with 2.13.3. Thanks for checking this out!

[2019-12-06 20:58] markcmiller86 commented on #4161
FYI...I really can't feel the love until you start using cool [GitHub emojis](https://gist.github.com/rxaviers/7360908) 🎅  🎄  🖖

[2019-12-06 21:06] brugger1 commented on #4161
I just tried your script with 2.13.3 and it worked also. I'll have to contact the user. 👍

[2019-12-07 10:25] nicedaxiong opened #4164 "A request for help on writing the STMD plug-in"
### Describe what needs to be documented.
I'm trying to write a STMD database-plugin that uses visit's parallelism to read my data.
Are there any examples for reference?
I want to domain my data, read and processed by different processes.

Thank you for your help!

[2019-12-07 11:24] nicedaxiong commented on #4164
Do I just need to pay attention to how my data is divided domain?

[2019-12-07 22:32] markcmiller86 opened #4165 "Are we tracking Apple/Mac OpenGL deprecation with Metal"
So, apple is dropping support for OpenGL and instead moving to Metal. OpenGL is deprecated but still available in 10.14 (Catalina) but after that, who knows.

https://architosh.com/2019/11/recaping-the-latest-news-apples-new-mac-pro-metal-2-and-nvidia/

And, some related activity on Android (maybe less relevant since we don't run on Android)

https://www.cultofmac.com/384817/vulkan-is-googles-answ

[2019-12-08 13:37] nicedaxiong opened #4166 "Fix instructions for running VisIt after running build_visit"
### Describe the bug

After succesfully completing a run of `build_visit`, the user was given incorrect instructions for actually running VisIt...

[code]

The user was unable to run VisIt by simply running it from its build directory. All signs seem to indicate s/he would have to do an actual *install* of the result in order for it to run correctly.

Was this supposed to work? Should the instruct

[2019-12-08 23:14] markcmiller86 commented on #4166
There *is* a *viewer* executable there though.

avtFilterExample mdserver **viewer**
avtPlotPluginExample mpeg2encode visit_composite
avtPluginExample MRUCache_test visitconvert_ser
.

I wonder if things will work better if you actually *install* that build instead of just trying to run it from the build dir...

[code]

So, can you try the above steps to a suitable `INSTALL_DIR_PATH` (maybe someth

[2019-12-09 18:15] biagas commented on #4156
My commit adding the 'sumFromOriginalElement' is from 2006. I looked up the commit log and found this explanation:
<pre>
This fixes '6968, Variable sum giving wrong answer --
due to a couple of problems:

1)  When zones split by Slicing, Clipping, MIR, etc,
    the resultant sub-cells were each contributing to the
    sum -- bad because when split, the zonal value is passed
    intact to to the re

[2019-12-09 20:38] markcmiller86 commented on #4156
Ok, so something is a bit odd about the dataset used here. Material `9` consists of 1200 hexahedra. However, only 400 of those have non-zero volume. If I select material 9 and do a variable sum of volume, I get zero, which is wrong. If I first apply threshold on volume with min of 0.001, then only 400 zones result and variable sum of those 400, non-zero, volumes does yield the correct volume for m

[2019-12-09 21:26] griffin28 commented on #4164
If you search the source code for avtSTMDFileFormat you'll find examples of STMD database plugins since they will need to inherit from the avtSTMDFileFormat class.

For a reference, download the pdf "Getting data into VisIt" located here: https://wci.llnl.gov/simulation/computer-codes/visit/manuals

[2019-12-09 21:31] griffin28 opened #4170 "Add documentation for creating a database plugin to the Developer Manual"
### Describe what needs to be documented.
There's a pdf called "Getting data in VisIt" for creating a database plugin (https://wci.llnl.gov/simulation/computer-codes/visit/manuals). This information should be added to the VisIt Developer Manual.

[2019-12-09 21:39] markcmiller86 commented on #4156
No, they aren't. Those degenerate hexahedra are all zero volume (or very tiny positive). None are negative volume.

[2019-12-10 00:10] cyrush opened #4171 "help target for testdata undermines cmake help"
I tend to rely on `make help` to list the and debug available  cmake targets.

I found there is a custom help target related to using 7z to unzip test data that overrides the default cmake listing of targets.

Given there are a ton of targets in VisIt, I think it makes sense to be able to use the standard cmake behavior.  We should rename the help target related to 7z.

[2019-12-10 00:11] biagas commented on #4156
I tried finding information on the old bug '6968 to figure out what scenario prompted the use of 'sumFromOriginalElement', but the redmine stuff is gone.  Based on my comment, I assume variable sum queries of data that had been clipped/sliced was erroneous.  Some filters changed at the same time to report that they were 'splitting cells':  Contour, CracksClipper, Cone, cylinder, Isovolume, SphereS

[2019-12-10 05:09] nicedaxiong commented on #4166
I rebuilt the VisIt.
I successfully generated visit3_0_1.linux-x86_64.tar.gz using the "make package" command.
But when I enter: tools/dev/scripts/visit-install 3.0.1 linux-x86_64 /home/node/visit_install
The error occurred: No such file or directory
Finally, I found "visit-install" in this directory: /home/node/visit3.0.1_build/visit3.0.1/src/tools/dev/scripts/
I successfully installed visit and

[2019-12-10 13:16] markcmiller86 commented on #4156
So, I am seeing potentially multiple issues here; the original one that triggered this investigation and then others as a result of investigating the original issue.

A program logical variable name like `sumFromOriginalElement` seems like it should be impacted by whether the associated mesh quantity is an [*intensive* of *extensive* quantity](https://en.wikipedia.org/wiki/Intensive_and_extensive_

[2019-12-10 13:20] markcmiller86 commented on #4156
In truth, MIR is a special case because the *original* cell, if it is *mixing* is **NOT** homogenous in material. The one scalar *density* we know for the cell (typically) is an *average* of the densities of the mixing materials and, yes, when MIR splits it, each will get a *different* density (the density variable's *mixed* values) when it is split.

[2019-12-10 15:24] markcmiller86 commented on #4156
Attached here find a histogram plot of `mesh_quality/Volume` from `ucd3d.silo`. The red, green and blue plots are for each of the materials, 1, 4 and 9, selected individually, respectively. The brown plot is when no materials are selected.

<img width="756" alt="Untitled" src="https://user-images.githubusercontent.com/5720676/70534331-abdbf580-1b0f-11ea-9167-617ecafc9b07.png">

There are a few iss

[2019-12-10 16:30] biagas commented on #4156
Perhaps an explanation of the use of original cells in the summation is in order (when sumFromOriginalElment is true):

For each cell processed, if it's Original cell value has already been used in the summation, then it is skipped.  So in the case of 1 cell being split into 4 pieces, only 1 of the pieces will contribute to the summation.  This is definitely wrong if we are looking at volume, but

[2019-12-10 16:36] markcmiller86 opened #4173 "MIR creates degenerate hexes and nowhere near any material interfaces"
### Describe the bug
1. Open `ucd3d.silo1
2. Do a Pseudocolor plot of `mesh_quality/ucdmesh3d/volume`
3. Select *only* material 9 (all hexes with material 9 are *clean* in material 9)
4. Draw plots
5. Notice two colors; red and two thin layers of blue. The below represents *new* hexahedra that have been introduced by MIR but nonetheless have zero volume.

This has negative implications for other o

[2019-12-10 16:39] markcmiller86 commented on #4173
In short, if a given material is represented in a mesh only *cleanly* (if you open `ucd3d.silo` and examine `mat1` object being used in this example, you will see only materials `1` and `4` in the `mix_mat` array associated with `mat1`) then if that material is selected, the output mesh should consists of only the *original mesh* zones that contain the given material. In the example demonstrated h

[2019-12-10 17:28] markcmiller86 commented on #4171
I hadn't realized that I could assume that through `make help` a user would see enough in the way of a target name to obtain identify a target that would help them learn more about 7z. But, once I adjusted those target names a bit, I can back off of the override of `help` target itself with reasonable confidence if someone is there wanting help on 7z, they will see enough hints to know to type `ma

[2019-12-10 17:31] #4171 closed, assigned to nobody

[2019-12-10 19:18] biagas commented on #110
Taking this out of reviewed state for new discussion.

This also comes up with a Variable sum query of Volume.  It would be good to know during the variable summation if pieces of a split zone should be summed separately (Volume) or if only 1 piece of a split zone should be used in the summation (density).  See #4156

We would need to have it in the meta data for a var, passed along to avtDataAttr

[2019-12-10 19:51] biagas opened #4175 "Pick caching broken when using cli"
If picks determine a pipeline re-execution is needed (eg to add avtOriginalCellNumbers to the output), then the pick information is cached and performed once the re-execution is finished.

I discovered a situation where the pick is cached, but never executes.

Here is the script to reproduce:
<pre>
OpenDatabase("/usr/gapps/visit/data/rect3d.silo")
DefineTensorExpression("mytensor","{{u,0,0},{0,u,0

[2019-12-10 20:08] biagas commented on #4175
If I grab the output of pick as part of the script, I get the results, so Pick is actually being performed correctly.
<pre>
p = PickByNode(14580)
print p
</pre>
With these results:
<pre>
VisIt: Warning - VisIt does not have all the information it needs to perform a pick.  Please wait while the necessary information is calculated.  All current pick selections have been cached and will be performed

[2019-12-10 20:08] #4175 closed, assigned to nobody

[2019-12-10 22:45] biagas opened #4176 "Pick sets internal info regarding variable type from num components"
Pick stores internally (PickVarInfo) the type of each variable, which aids in structuring output and such. However, in avtPickQuery::RetrieveVarInfo, it uses the number of components in the vtkDataArray to determine the variable type, instead of acquiring the type from avtDataAttributes.

This can be bad simply due to the fact that an 'array' var can have any number of components, but will be clas

[2019-12-11 01:00] cyrush commented on #4171
thanks @markcmiller86 !

[2019-12-11 16:44] biagas opened #4177 "xml tools, change comment lines to prevent uneven line endings"
Eg, xml2info (GenerateInfo.h), generates this comment line in the header
<pre>
// ************************************************************************* //
//                               FilledBoundaryPluginInfo.h                            //
// ************************************************************************* //
</pre>
Attempting to 'center' the plugin name results in unmatched // a

[2019-12-11 20:28] biagas opened #4178 "modify code-gen tools to output files with unix-style line endings."
When run on Windows, our code-gen tools generate files with windows-pc style line endings.
If you are re-generating already created files, and nothing should have changed, the files will be marked as modified due to the new line engines.

[2019-12-11 21:38] cyrush opened #4179 "modify code gen tools to limit exposure to vtk-h vtk-m inlcude paths"
when running xml2cmake for plot and operator pluigns, we now insert include paths specific to vtk-h and vtk-m.

Possible solution:
Add these  to some meta VisIt cmake include list var (when relevant), so that meta list can be generally used instead of code gening these specific includes.

[2019-12-11 21:44] biagas commented on #4179
Or, modify the current plot/opertors that need vtk-h and vtk-m, to add that info to the xml file so it doesn't need to be part of any uber-include list (which is already overly long IMO).

[2019-12-11 21:50] markcmiller86 commented on #4179
I think the above are perhaps missing the key rationale for _why_ these bolierplate includes are there to begin with.

These tools are used for *two* reasons. One is to generate boilerplate code templates for *new* plugins. The other is to regenerate existing plugins.

And, that boilerplate stuff gets carried along regardless when it should really only be there for *new* plugins to possibly help n

[2019-12-11 22:04] cyrush commented on #4179
my vote is to move the complexity out of the code gen tools.

For this specific case,  *I think*  if you are going to include parts of the avt - you might be exposed and need these include dirs.  That doesn't feel like an operator or plot specific consideration.

If there are other concerns about having to many include dirs and things being slow, I think we should measure and see what we can be do

[2019-12-12 15:45] brugger1 commented on #4165
I spoke with Berk from Kitware and they have plans to use Vulcan for the Mac. He said Vulkan can also sit on top of OpenGL, so they may at some point switch to Vulcan everywhere.

[2019-12-12 16:01] markcmiller86 commented on #4165
Ok, good. So, that answers what one of our key dependencies is doing. But, don't we (VisIt developers) have the occasion to write GL code directly? Will we then also switch to Vulcan? And, what about Qt and Qt+GL windows? Do we yet know any plans for these issues?

[2019-12-12 16:27] biagas commented on #1651
Closing because we now we require CMake 3.8 at a minimum.

[2019-12-12 16:27] #1651 closed, assigned to nobody

[2019-12-12 16:28] biagas commented on #1488
Closing because we now require CMake 3.8 at a minimum.

[2019-12-12 16:28] #1488 closed, assigned to nobody

[2019-12-12 16:42] cyrush commented on #4165
yes -- we do need to understand the qt story as well.

It also means support will force future versions of these libs.

[2019-12-12 16:53] brugger1 commented on #4165
We use a vtk class for integrating with Qt so presumably there would be a new class or they will modify the existing one. We do have a small amount of OpenGL code that we would need to port, fortunately the amount of OpenGL code has been shrinking.

[2019-12-13 17:56] aowen87 commented on #3268
This is now complete. Once 3.1 is released, I'll create a pull request so that it's in the next RC.

[2019-12-13 23:50] aowen87 opened #4187 "Let's understand OSPRay"
This came from a conversation with Eric. There are some things we don't really understand about OSPRay, so let's fill these knowledge gaps.
1. What are all of the options, and how can we control them through VTK?
2. Where is the image plane? It doesn't seem to be documented, so how do we determine the size of an object?
3. Other stuff...

[2019-12-16 14:51] biagas commented on #3744
Assigned to Cyrus, cannot help further since I cannot duplicate.

[2019-12-16 17:04] aowen87 commented on #2226
There was a simple typo causing the text box receiving the cycle value to continuously be blocked.

[2019-12-16 17:14] #4093 closed, assigned to biagas

[2019-12-16 17:16] markcmiller86 commented on #4093
Thanks @biagas 👍

[2019-12-16 17:20] aowen87 commented on #2226
Fix is on bugfix/maguire7/cmfe_zero_cycle_rc and bugfix/maguire7/cmfe_zero_cycle_dev. I'll wait until the RC release to merge.

[2019-12-16 18:14] rusu24edward commented on #4156
Thank you @markcmiller86 and @biagas for your input here. I want to summarize what I've read to make sure I understand correctly:

When a zone is split, the variables in the original zone needs to be correctly applied to the new zones. If the variable is intrinsic/intensive, then the correct thing to do is to just take the variable exactly. For example, the density of the original zone is the same

[2019-12-16 20:45] rusu24edward commented on #4156
Note to self: can add intrinsic/extrinsic switch as a windowtype in QvisQueryWindow::UpdateArgumentPanel().

[2019-12-16 21:03] biagas commented on #4070
The system is unable to create a 3.2 opengl context. I thought VTK would complain during build like it does for linux, but that is not the case. I have asked if the graphics card/drivers could be updated.

In lieu of that, some changes made in VTK (8.1.1) seem to indicate the ability to choose between mesa and opengl at runtime on Windows. I will investigate that avenue with VTK-8.2, since it is a

[2019-12-16 21:48] rusu24edward commented on #4156
avtSummartionQuery::Execute looks at the value in the variable, not at the value of the original variable. Here's the flow using mesh_quality/volume with zones:

[code]
So there are a lot of volume values being left out because of the original_zone logic, and since the value is not the volume from the original zone, it is less than the true value.

One possible fix is to try to get the volume of t

[2019-12-16 23:05] aowen87 commented on #3067
I tried manually setting the activation policy through Cocoa, as described in the 2nd and 3rd answers [here](https://stackoverflow.com/questions/620841/how-to-hide-the-dock-icon), but found no luck.

[2019-12-16 23:18] markcmiller86 commented on #4156
I think that *might* be useful in cases where the database variables themselves don't already report their intrinsic-ness or extrinsic-ness. However, in Silo anyways, data producers can already indicate whether a variable is extrinsic or intrinsic and this should simply be captured in metadata (maybe `avtBaseVarMetaData.[Ch]` and then used to control logic such as this.

At the same time, when the

[2019-12-16 23:28] rusu24edward commented on #4156
Another thought: when does it make sense to sum an intrinsic variable? It makes sense to me to average it, but what about just a raw sum?

[2019-12-17 00:49] biagas commented on #4070
The VTK solution may not even work, as based on my step-through debugging on the sqa machine, it was QT creating the OpenGL Context, not VTK.  This happens at startup during initialization of the render window due to our use of the QVTKOpenGLWidget.  Next step, I guess, is to determine if QT or VTK is loading opengl32.dll.

[2019-12-17 18:26] markcmiller86 commented on #4156
I am not sure I would put a lot of weight into the difference between a *sum* and an *avarage*. They  differ only by a constant factor. And, is your question specific to the case of handling the *parts* of some larger mesh element that was decomposed (somehow, either by MIR or arbitrary polyedral decomp into zoo elements)?

[2019-12-17 20:24] cyrush opened #4191 "src/doc/gui_manual/PythonScripts/conf.py needed?"
ref from:  https://github.com/visit-dav/visit/pull/4104#discussion_r352908103

[2019-12-17 20:30] cyrush opened #4192 "check for duplicated code in src/visitpy/examples"
ref:  https://github.com/visit-dav/visit/pull/4104#discussion_r352932035

[2019-12-17 20:42] markcmiller86 opened #4193 "we do need to clean lots up scripts"
we do need to clean lots  up scripts. Example, `src/tools/dev/scripts/yearly_commits.py`. Some are subversion specific and not needed anymore

_Originally posted by @cyrush in https://github.com/visit-dav/visit/pull/4104#discussion_r359008938

[2019-12-17 20:45] markcmiller86 commented on #4193
src/tools/dev/scripts/bvauto.py

[2019-12-17 23:23] markcmiller86 commented on #3744
FYI...I feel like I have seen this also when running locally on my OSX system. I know I've seen it in histogram plot attributes. I can't say *for sure* I've seen in IC operator attributes.

[2019-12-17 23:48] griffin28 opened #4194 "PIL error building VisIt on macOS 10.14"
### Describe the bug
Attachments show the error

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [x] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [x] High - occurrence

[2019-12-18 01:29] griffin28 opened #4195 "Enhance SPH Resample operator to be production quality"
The SPH Resample operator was initially added for small particle datasets with a limited, specific need. Now that other users want to use it with large datasets (> 5 million particles) the operator needs to be more general and redesigned with performance and scalability in mind.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [x] High - User productivity significantly improved
-

[2019-12-18 15:46] biagas commented on #4176
Resolved by #4188.

[2019-12-18 15:46] #4176 closed, assigned to biagas

[2019-12-18 16:09] aowen87 opened #4196 "Odd behavior for specific Mili dataset"
### Describe the bug
Otto Quinones-Melendez from the Naval Surface Warfare Center is experiencing some difficulties visualizing some of his datasets with the new mili plugin. The first of these datasets was fairly large (~700 domains). We've noticed that there are several oddities in his .mili file:
1. The number of reported classes was incorrect.
2. There was a class included that I've never hear

[2019-12-18 16:36] rusu24edward commented on #4156
I'm not so much asking about the numerical difference between a sum and an average. I'm thinking about it from "what a user would reasonably do." When is it reasonable to take the sum of an intrinsic variable? What physical meaning does that have? For example, what does the **sum** of all the densities physically mean?

[2019-12-18 18:15] aowen87 commented on #4196
The issue with edrate is very odd. There is an std::map<int, int> being used to keep track of some basic information. Whenever attempting to retrieve edrate from this dataset, the map appears to have been deleted (calling any of the map's methods causes a crash). This map is on the stack, though, so it might be that there is a memory issue elsewhere that is showing up here.

Using std::unordered_m

[2019-12-18 18:16] aowen87 commented on #4196
The Mili Class that I've never encountered before is called "Load Curve". Attempting to visualize it causes a crash. The superclass for this type is also very unusual compared to what I've seen. It's a "generic, node-free" object.

Scratch that; it can be visualized, but it crashes every other try.

[2019-12-19 01:49] biagas opened #4200 "tests_dir in visit_test_suite.py requires '/path/to/test/tests', then strips off 'tests'"
'tests_dir' in the test suite defaults (in default_suite_options) to:
<pre>
    tests_dir_def   = abs_path(visit_root(),"src","test","tests")
</pre>

However, in main, when joining individual test names with the tests_dir, the 'tests' part is stripped off:
<pre>
  tests = [ abs_path(pjoin(opts["tests_dir"], "..",t)) for t in tests]
</pre>

I discovered this while trying to get the test suite runni

[2019-12-19 01:57] griffin28 commented on #4194
<img width="1119" alt="Screen Shot 2019-12-18 at 5 48 09 PM" src="https://user-images.githubusercontent.com/26772741/71138280-ccffae80-21bf-11ea-93cb-36902817ba1f.png">
<img width="1121" alt="Screen Shot 2019-12-18 at 5 43 26 PM" src="https://user-images.githubusercontent.com/26772741/71138284-cffa9f00-21bf-11ea-8799-a1aa85780957.png">

[2019-12-19 02:02] markcmiller86 commented on #4194
Might be more worthwhile to pitch PIL and use an [alternative](https://opensource.com/article/19/3/python-image-manipulation-tools). PIL developed stopped in 2009 I think. I don't think there are very many (key) functions in PIL we actually use and I am not even sure if PIL is python 3 compliant.

[2019-12-19 02:07] griffin28 commented on #4194
@markcmiller86 sounds good to me.

[2019-12-19 02:10] markcmiller86 commented on #4194
For Pillow, see #1455, #1762, #2192

[2019-12-19 17:02] aowen87 commented on #4196
I've found 2 issues that I believe were causing these failures. Both of them seem to be aggravated by this particular datasets; all of our test datasets are structured in such a way that they can get by without igniting these issues (at least to the point of causing memory issues and bizarre data).
1.  There is a vector housing very small/simple classes for storing information. The vector was bein

[2019-12-19 17:38] markcmiller86 opened #4201 "Potential gotchas with order of MIR subdivisions and Arbitrary Polyhedral subdivisions"
MIR breaks original mesh zones into smaller pieces, one for each each material. Arbitrary polyhedral does a similar thing. The problem is that MIR subdivisions and arbitrary polyhedral subdivisions occur at dramatically different places in the early stages of a pipeline. This potentially creates issues for how VisIt handles things associated with *original* mesh zones vs. the *subdivided* pieces.

[2019-12-19 17:43] markcmiller86 commented on #4201
It also occurs to me that we cannot handle the *combination* of an arbitrary polyhedral mesh (e.g. one that indeed does include shapes that are not the zoo shapes) with mixing materials. In current practice, the volume fractions would wind up being distributed to each of the subdivided pieces without regard to the material *interfaces* in the original (arbitrary) case.

[2019-12-19 18:52] rusu24edward opened #4202 "Visit natively handle intrinsic/extrinsic variables"
### Is your feature request related to a problem?

This feature comes out of discussion related to #4156 #4063 #4173 #110

Per the discussion today (12/19/19), we want to track if a variable is volume-dependent or not. Some databases provide information that we can use to track this, but others do not.

**Impact**
- [X] High - User productivity significantly improved

### Is your feature request s

[2019-12-19 18:55] rusu24edward commented on #4156
As per the discussion today (12/19/19), this ticket is a good starting point for the bigger picture outlined in #4202. mesh_quality/volume is intuitively extrinsic, so we can capture that information in the meta data of a variable. The variable sum can look at that data to determine who to do the summation.

[2019-12-19 23:32] aowen87 commented on #4196
Fixed. Waiting for RC deployment before merging.

[2019-12-20 00:16] rusu24edward commented on #4156
Note to self: plan of attack: add volume-dependency variable to avtExpressionDataTreeIterator. avtVerdictExpression inherits from this and can modify that variable. Then save the meta data into vtkDataSet or avtDataRepresentation at the end of avtExpressionDataTreeIterator::ExecuteData. Then grab this meta variable from the dataset in avtSummationQuery and use that determine how to sum. Still need