[2020-05-18 21:27] biagas commented on #4500
Compilation errors all fixed. Now dealing with OSMesa issues for our LC machines.
**With VTK-8:**
Compiled VTK with VTK_USE_X (for onscreen rendering) and OPENGL_HAS_OSMESA (for offscreen).

Technically, those both can't be used, but VTK didn't prevent setting them during the build.
OPENGL_HAS_OSMESA allowed compilation of vtkOSOpenGLRenderWindow.
VTK_USE_X prevented use of vtkOSOpenGLRenderWindow

[2020-05-18 21:34] biagas commented on #4500
Test suite issues on pascal:
1) Window saves that involve a resize fail:
databases/bov.py            cases: x_02-x_04, (where x is 0...8)
databases/ffp.py            cases: all
databases/netcdf.py         cases 3_09-3_10
databases/unv.py            cases _06
hybrid/cinema-a.py          cases: all
hybrid/movie.py.py          cases: all
plots/label.py.py           cases: all
rendering/annotation.py

[2020-05-18 22:00] aowen87 commented on #4286
Getting the correct rendering attributes to VisWinRenderingWithoutWindow is pretty tricky...

The problem is that the NetworkManager likes to create its own VisWindow, which has its own version of a VisWinRenderingWithoutWindow object, and it also has its own set of rendering attributes that are not updated  when we change the rendering settings. If there's a way to get the updated rendering attri

[2020-05-18 22:14] markcmiller86-visit commented on #12106
Enclosed a small file (8x8x8 cells).
Thanks
Stéphane

Le 18/05/2020 à 16:09, Eric Brugger via visit-users a écrit :

[2020-05-18 22:24] biagas commented on #12106
I grabbed the sample data file off the users list archive, zipped it and added it here.

[dirichlet_3D_000001-0001.h5.zip](https://github.com/visit-dav/live-customer-response/files/4647194/dirichlet_3D_000001-0001.h5.zip)

[2020-05-18 22:54] aowen87 commented on #4286
It looks like the attributes can be accessed and transferred manually during the rendering setup. I've experimented with this, and it appears to resolve the issue. I'll get this checked in soon.

[2020-05-18 23:27] biagas opened #4749 "Pixie reader fails in parallel for curvilinear mesh."
This is a result of SRE # [13](https://github.com/visit-dav/live-customer-response/issues/13)

There are two meshes in this data file, a rectilinear mesh and a curvilinear mesh.

When using a serial engine, and plotting the curvilinear mesh, spatial extents reported are:
0.0625, 0.9375, 0.125, 1.875, 0.1875, 2.8125
plot looks like this:
![Pixie-1proc](https://user-images.githubusercontent.com/1707

[2020-05-18 23:28] biagas commented on #12106
Thank you very much for the data, I created a bug [ticket](https://github.com/visit-dav/visit/issues/4749).

[2020-05-19 00:06] biagas commented on #4749
Definitely something strange going on in parallel.
With 2 procs, in the GetMesh call, both attempt to go the 'CreateCurvilinearMesh' route, but the second processor fails with this exception:
[code]
then falls through to the creation of a rectlinear mesh.

[2020-05-19 17:28] markcmiller86 commented on #4749
FWIW, I took a look at same dataset on 1, 2, 4 and 8 processors and had `-debug 5` on. For a moment, I was thinking that the plugin is restricted in some way about how many processors it can run any given mesh with...that maybe it needs to be able to divide each dimension of the input mesh evenly. Given the 8x8x8 input, I though a 8 processors would yield a 2x2x2 arrangement.

My understanding of

[2020-05-19 17:33] markcmiller86 commented on #4749
Sorry but the original comment was wrong and I edited it to correct.

[2020-05-19 17:33] biagas opened #12161 "Slow Rendering in VisIt for FLASH"
Hi Rick,

Thank you for bringing this to our attention again. You should definitely be using a parallel engine.

Does the slow rendering exhibit right from the start, with the first timestep? Or does the problem get worse as you advance through time? If the second, it may indicate a memory leak. In which case, you might work-around the problem by clearing the engine cache at each timestep:  File->

[2020-05-19 17:35] biagas opened #4750 "Investigate possible memory leak with FLASH plugin."
Prompted by this [SRE](https://github.com/visit-dav/live-customer-response/issues/68)

@biagas will make sample data available (too large to attach here).

Customer is running on 12-core Mac Pro.

[2020-05-19 17:36] biagas commented on #12161
I have entered a [ticket](https://github.com/visit-dav/visit/issues/4750) to look into the possibility of a memory leak with the flash plugin.

[2020-05-19 17:59] markcmiller86-visit commented on #12161
Dear Kathleen,

The initial time step has little AMR info so it renders 3-4X faster than a later time step.

From your prior suggestions: Controls/Subset/AMR_mesh/Levels option to reduce the number of AMR levels was successful in giving me a factor of two or so improvement in Draw. This works as I limit the AMR levels used in FLASH to three. I always use this option. I have not tried the clear cac

[2020-05-19 21:45] markcmiller86-visit commented on #12161
Dear Kathleen,

I got VisIt to run multi-processor. The render is > 20X faster with 8 threads. Wow. It is now usable.

Rick

Dr. Rick B. Spielman
Senior Scientist
University of Rochester
Laboratory for Laser Energetics
250 East River Road
Rochester, NY 14623
Office: 585-275-2732
Cell: 505-715-0416
E-mail: spielman@lle.rochester.edu<mailto:spielman@lle.rochester.edu>

On May 19, 2020, at 1:36 PM, K

[2020-05-19 21:53] biagas commented on #12161
Glad you are finally running in parallel and seeing the improvement.

[2020-05-19 22:18] markcmiller86 opened #4752 "Would it make sense to warn on *big* data?"
Every now and then, we have a use that tries to run VisIt serial or small number of processors on really large data and its really slow or OOMs.

Would it make sense to add some logic to issue a one-time warning if total node/elem count divided by number of processors is above some threshold?

[2020-05-19 22:20] markcmiller86 commented on #4752
A better metric might be to check if we exceed 80% of available memory?

[2020-05-19 23:24] aowen87 commented on #3485
For panning in VisIt, it looks like we use vtkCamera's SetWindowCenter. I tried adding this method to one of my vtk/ospray demos, and I found that the pan only worked when I disabled the ospray backend. This makes me think that this method is just not implemented for the ospray camera.

There may be a workaround that we could add as a patch, but it might be better to wait until vtk integrates ospr

[2020-05-20 15:31] aowen87 commented on #3485
While using SetWindowCenter to pan doesn't work in the ospray/vtk demos, using shift-click-drag _does_ work. There must be a way to accomplish this.

[2020-05-20 16:11] aowen87 commented on #3485
It looks like vtk is panning the camera rather than the image. Doing this within VisIt/Ospray works as well, but this behavior might not be what we really want.

[2020-05-20 16:44] biagas opened #12162 "VisIt giving no errors but not rendering properly"
Hello Ivan,

Thank you for the detailed description and pictures of what's going wrong. There was a significant change in our rendering infrastructure with the 3.x versions of VisIt. Nothing in your script jumps out at me immediately.  I will pursue further investigations with your actual data, I will contact you shortly with instructions on how to send.

Kathleen

We're trying to [combine `visit-

[2020-05-20 17:25] #4286 closed, assigned to aowen87

[2020-05-20 18:57] brugger1 commented on #12162
rho-500000.png
![rho-500000](https://user-images.githubusercontent.com/1102718/82485942-01d6a100-9a91-11ea-8abd-2c71f2eac5fc.png)
rho-200000-visit-3.1.1.png
![rho-200000-visit-3 1 1](https://user-images.githubusercontent.com/1102718/82485950-0438fb00-9a91-11ea-827c-4b248b7e27fa.png)
rho-200000-visit-3.0.1.png
![rho-200000-visit-3 0 1](https://user-images.githubusercontent.com/1102718/82485953-04d1

[2020-05-20 22:30] brugger1 commented on #12102
The user tried 3.1.2 and it fixed his bug.

[2020-05-21 14:40] brugger1 opened #4757 "Modify build_visit to support Ubuntu 20."
We should update build_visit to support Ubuntu 20. Matt tried it on Ubuntu 20 and build_visit failed to apply a patch for Qt, so that is at least one issue.

[2020-05-21 20:38] biagas opened #4758 "build_visit python3/sphinx failures on rhel6"
My sytem: Linux 2.6.32-754.2.1.el6.x86_6
running build_visit from a clone of develop

pyparsing 2.4.6 fails with:
[code]

Some research seemed to suggest a missing libffi, so I compiled it myself and pointed the python3 build to the include and library location (as we do for zlib). That didn't seem to work, same error.

At the end of the Python 3 build, I see this:
[code]
If I also add the libffi

[2020-05-21 21:07] aowen87 opened #4759 "Derived variables for mili"
In the old Mili plugin, various derived variables were generated by creating expressions. We had removed these expressions during the re-write because of some concerns with how some of these variables were being generated.

It sounds like some users have been noticing their absence  and would like access to these variables again. I'm working with Kevin Durrenberger to make sure that we are correct

[2020-05-21 21:09] aowen87 commented on #4759
Kevin is looking into this and is planning on getting back to me soon.

[2020-05-21 21:37] biagas commented on #4758
References to other reports of the same problem, can we modify bv_python to handle this?

[visit-users, Jan 2020](https://elist.ornl.gov/mailman/htdig/visit-users/2020-January/022904.html)
[live-response#38](https://github.com/visit-dav/live-customer-response/issues/38)

[2020-05-22 14:02] mirenradia commented on #4757
Would you also be able to provide pre-built executables for Ubuntu 20.04 (as for older Ubuntu versions)?

Both the Ubuntu19 and Ubuntu18 versions of VisIt 3.1.2 do not work due to the following error which occurs when launching the gui:
[code]

where `xx` is `60` for the Ubuntu18 version and `63` for the Ubuntu19 version. I believe this is because the version of that library on my system is newer

[2020-05-22 14:53] brugger1 commented on #4757
Yes, I plan to modify build_visit for ubuntu 20 and then provide a pre-built ubuntu 20 version. I should have it ready by early to mid next week.

[2020-05-22 16:56] biagas opened #4761 "Crash with Filled Boundary plot in parallel."
Ben Liu reported the crash and provided data. @biagas will provide to whomever addresses this ticket.

Open the data file with parallel engine, create a Filled Boundary plot and draw.
engine cores.

[2020-05-22 19:21] griffin28 opened #4762 "macOS CLI import numpy/seedme doesn't work with the updated openssl (1.1.1g)"
### Describe the bug
Testing the macOS 3.1.2 dmg fails when trying to import numpy and seedme from the CLI. Once I reverted back to the previous openssl version (1.0.2.j) everything worked as expected.

### To Reproduce
Steps to reproduce the behavior. For example:
1. Build 3.1.2 macOS DMG with openssl (1.1.1g)
2. Start VisIt and launch the CLI
3. In the CLI, import numpy and seedme
### Desktop
 -

[2020-05-22 19:36] cyrush commented on #4551
maps from annote obj api, to the actual fields they use

### ImageObject
* transparencyColor ==> SetColor1
* useTransparencyColor ==> SetIntAttribute1
* width ==> Position2 (also sets Position1 dep on maintain aspect)
* height ==> Position1
* maintainAspectRatio ==> FontShadow
* image  ==> Text[0]

### LegendObject
* XScale ==> Position2[0]
* YScale ==> Position2[1]
* BoundingBoxColor ==> Color1
*

[2020-05-22 19:40] cyrush commented on #4762
@griffin28 thanks for logging, @brugger1 you had another from linux related to 1.1.1 vs 1.0.Z ?

[2020-05-22 20:28] brugger1 commented on #4749
The exception Mark noted that was happening on non rank 0 processors was from specifying an incorrect hyperslab when reading the coordinates. This caused the GetMesh function to treat the mesh as a rectilinear mesh. This results in the image where we have a part of the curvilinear mesh from processor 0 and part of the rectlinear mesh from processor 1.

[2020-05-22 20:29] brugger1 commented on #4749
I have a fix for the bug, I will probably get the pull request in on Tuesday (since Monday is Memorial Day).

[2020-05-22 20:30] brugger1 commented on #12106
I have found and fixed the bug causing the incorrect behavior with curvilinear meshes. I will probably have a pull request in on Tuesday (Monday is Memorial Day).

[2020-05-22 21:02] markcmiller86-visit commented on #12106
Thanks for all.
Stéphane

Le 22/05/2020 à 22:31, Eric Brugger via visit-users a écrit :

[2020-05-22 23:00] biagas commented on #4761
Crash occurring during ghost creation using global node ids.
Data is 12 blocks, 1 hex cell for each block, 1 material for each block.
Just unique enough to tickle a flaw where we don't test for a calculated min being > than max, then use the difference between max and min as size for an allocation.

[2020-05-22 23:16] biagas commented on #12162
I iterated with Ivan privately.
I was unable to duplicate his problem using his provided data. I tried various version of Visit 3.x.
Pixie reader was used, and there are > 1 billion cells.
He is going to try running in parallel.

[2020-05-26 15:52] griffin28 opened #12163 "Problem in reading Lata format"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Dear Visit Assistance,

I am Mohammed Mehdi MOUMTAJI from the French ato

[2020-05-26 15:59] markcmiller86-visit commented on #12163
Hello Mohammed…I have a few questions for you:

  1.  What type of Linux system and version?
  2.  What version of VisIt are you running?
  3.  What mode are you running in for VisIt (client/server?, in-situ?)
  4.  Are you able to share your data?

-- Kevin

From: Kevin Griffin via visit-users <visit-users@elist.ornl.gov>
Reply-To: visit-dav/live-customer-response <reply@reply.github.com>, VisIt

[2020-05-26 16:08] griffin28 commented on #12162
@biagas what method did you use to get the data from Ivan?

[2020-05-26 16:20] biagas commented on #12162
Our anonymous ftp server.

[2020-05-26 16:25] biagas commented on #12162
Ivan has reported success with using VisIt in parallel.

[2020-05-26 16:27] markcmiller86 commented on #12162
It occurs to me we should also document this method (llnl anon ftp) of getting data to visit developers.

For some user *outside* LLNL, they would upload a file to `ftp://ftp.llnl.gov/incoming` and then email us to let us know it is there and the name of the file. Those files, including the list of filenames at that ftp server, are readable only by *anyone* inside the `.llnl.gov` domain. Finally,

[2020-05-26 16:29] griffin28 commented on #12162
Thanks @markcmiller86 I was just crafting an email to ask for those details!

[2020-05-26 18:34] brugger1 opened #4766 "Add more quick recipes to CLI documentation."
Here is an e-mail from a new user of the CLI that I was helping.

Overall, I think things are working pretty well for me with surprisingly little pain.

A collection of maybe a dozen or so simple boilerplate examples would have helped me. Like fire up visit, open a database, create the compute engine, define an expression or two, make a pseudocolor plot using them and query a sum variable and save

[2020-05-26 18:52] #4761 closed, assigned to biagas

[2020-05-26 19:01] #4757 closed, assigned to brugger1

[2020-05-26 19:39] cyrush opened #4768 "test suite helper script should provide mpiexec from cmake"
### Is your feature request related to a problem?
running the test suite helper script, some tests fail b/c they can't find mpiexec.
Even if mpiexec was in my path, it would likely be the wrong one, we should
be able to provide the correct one based on what info cmake has.

[2020-05-26 20:18] cyrush opened #4769 "View3D atts python error"
### Describe the bug

Our python capi wrappers for View3DAttributes open up mul between two objects:

[code]

Not sure this case makes sense, but also the error strings are not set so only info is:
`SystemError: error return without exception set`

[2020-05-26 20:29] cyrush commented on #4769
same issue for Add, but it has to be called via the exposed `Add` func

[code]

[2020-05-26 20:30] cyrush commented on #4769
`View3DAttributes_add: One or more arguments are not View3DAttributes` is sent to `cerr`, we can change so it appears as the python error message

[2020-05-26 22:40] markcmiller86 opened #4770 "Support face- and node-centered data as zone-centered on augmented mesh"
Can we add support for face- and edge-centered data by creating _augmented_ meshes in which the *zones* of the augmented mesh are the faces (or edges) (all of them) of the original mesh?

* If we did, things like LabelPlot would just *work* without much additional coding.
* Could we easily make edge-pick or face-pick work just by doing the picks on the augmented mesh?
* Could we do contour plots o

[2020-05-26 22:51] brugger1 commented on #4752
We decided to close this.

[2020-05-26 22:51] #4752 closed, assigned to nobody

[2020-05-26 22:54] brugger1 commented on #4750
The user was having real slow rendering so this was filed speculatively. The user has switched to parallel and is having much better performance, so this likely was not the reason. Therefore, we will close this.

[2020-05-26 22:54] #4750 closed, assigned to nobody

[2020-05-26 23:04] markcmiller86 commented on #4770
@cyrush says this is similar to how same issue currently handled in blueprint.

[2020-05-26 23:12] markcmiller86 commented on #4770
@brugger1 suggests we can *dimensionally expand* the mesh down in the database stuff (either a specific plugin or, better, transform manager). When a face-centered (or edge-centered) variable is encountered, what winds up happening is that the variable is defined in avtDbMd as a zone-centered variable on a slightly different named mesh (maybe which is also hidden from the GUI). Then, when that var

[2020-05-26 23:32] markcmiller86 commented on #4746
Ok, the ADIOS plugin looks like it behaves a little like an *uber* plugin (like PDB or NETCDF), in that there are a variety of different instances it can take.

But, many of these are instances already supported by VisIt as *other* plugins such as Pixie, LAMMPS, XGC, GTC (ADIOS2)

In ADIOS (not ADIOS2) some of the logic for those *other* plugins is now still there in the plugin but disabled by com

[2020-05-26 23:35] brugger1 commented on #4757
I made a pre-built version available at:

https://github.com/visit-dav/visit/releases

under the 3.1.2 release.

[2020-05-26 23:36] brugger1 commented on #12155
No response back from the customer for 2 weeks so I'm closing this ticket.

[2020-05-27 09:19] mirenradia commented on #4757
Thanks. I have just installed it and it seems to work fine for me.

[2020-05-27 14:02] brugger1 commented on #4757
Awesome! Thanks for the feedback.

[2020-05-27 14:23] brugger1 commented on #12137
![Zrzut ekranu z 2020-04-30 14-49-41](https://user-images.githubusercontent.com/1102718/83032603-e87ea900-9fea-11ea-9137-a39c967fd9e7.png)

[2020-05-27 15:23] griffin28 opened #12164 "Displaying time in hundredth of seconds in animations"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Dear all,

Is it possible to display time in animations in hundredth of

[2020-05-27 15:24] griffin28 commented on #12164
Hello Silvia,

I suggest you add a "Time Slider" in "Controls" / "Annotations" / "Objects" and then you can set your time format, by default it is "%g" but you can set "%8.2f" for instance.
The time your video viewer shows (the video actual time) is not related to VisIt by any mean.
Hope it helps.

Olivier Cessenat

[2020-05-27 15:40] griffin28 commented on #12164
Hello Silva...you can also change how you display time (cycles, times, cycles and times) from VisIt preferences (under the File panel tab).

<img width="686" alt="Screen Shot 2020-05-27 at 8 38 15 AM" src="https://user-images.githubusercontent.com/26772741/83041739-aa3ab700-9ff5-11ea-8700-8412c70a9e54.png">

[2020-05-27 15:42] griffin28 opened #12165 "Performing averages in expressions"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hello,

I have a 3D mesh (cartesian), on which I have a scalar variable

[2020-05-27 15:49] griffin28 commented on #12165
Hello Cyril...I will do some research into this. For the time being, here's a link to our Expressions documentation (https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html?highlight=expressions#expressions).

[2020-05-27 15:51] biagas commented on #4566
For the VTK-9 investigation, I switched to HDF-4.2.15, utilizing its cmake build system, and it builds jpeg internally.  Didn't seem to cause any issues with regression tests.

[2020-05-27 16:14] brugger1 opened #4773 "Document visit_utils."
visit_utils should be documented in the CLI manual.

[2020-05-27 16:59] cyrush commented on #4551
"None" cannot be the name of a member var, None is reserved.
ex from xdmf.py

[code]

`m.smoothingLevel = m.None  # None, Fast, High`

[code]

Another one in lcs:
[code]

And mesh:

[code]

I resolved these with special logic that converts `None` to `NONE`. For Python 3, `None` is still parsed and accepted.

[2020-05-27 17:07] griffin28 commented on #12163
Thanks for your reply

LINUX version:
Scientific Linux
Release 6.10
Kernel Linux 2.6

VISIT Version :
visit/2_13_3

Mode: Running/Server

I am using the environment of the super calculator Occigen which allocate 1 node for me to use its visualization software Visit.
In fact, the CFD running is in 2 nodes (56 processors 28 each)

I cannot share the data because it is in the supercalculator environm

[2020-05-27 18:43] griffin28 commented on #12163
Mohammed...can you run VisIt in debug mode (-debug 5) and send me the log files? (https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/File_Locations.html?highlight=debugging#files-in-other-locations).

Also do you know Gauthier Fauchet or Benoit Mathieu? They worked on the LATA database and work for CEA. They may be in a better position to help you out.

[2020-05-27 19:45] griffin28 opened #4778 "Python Expression Editor"
### Describe what needs to be documented.
Add documentation on the Python Expression Editor

[2020-05-27 19:51] griffin28 commented on #12165
Cyril...VisIt doesn't support combining queries and scalars into an expression. Essentially, we would need to create a new query (level_average). Once you execute the query and get a value you would then be able to create an expression using the results of the level_average query.

[2020-05-27 19:55] cyrush commented on #12165
The horiz average can be done with what we call a ddf (or data binning), and then painted back on the mesh. Setup is tricky. I have a few examples but can't easily share them. We need to create some tutorial content related to this.

[2020-05-27 22:14] griffin28 opened #12166 "Getting range of a variable in pseudocolor plot"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi all,

We have embedded visIt windows in our application. I need to be

[2020-05-27 22:23] markcmiller86-visit commented on #12166
Hello Jenisha…I’m not sure how your embedded VisIt application is setup but if you have access to the Python CLI or Command window you can execute a MinMax query (https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/functions.html?highlight=min%20query#suppressqueryoutputoff)

--

From: Kevin Griffin via visit-users <visit-users@elist.ornl.gov>
Reply-To: visit-dav/live-cust

[2020-05-27 22:27] markcmiller86-visit commented on #12166
This is how to do it if you have access to the Query window from your application: https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/Data_Analysis.html?highlight=MinMax%20query#experiment-with-queries

-- Kevin

From: "Griffin, Kevin S. via visit-users" <visit-users@elist.ornl.gov>
Reply-To: VisIt software users community <visit-users@elist.ornl.gov>
Date: Wednesday, May

[2020-05-28 07:58] markcmiller86-visit commented on #12165
ok, thanks for the infos.
I'll try to avoid the problem either through a python script or directly in my plugin.

Cheers,

Cyril

--------------------------------------------------------
Cyril Georgy
tél. direct: +41 22 379 24 82
cyril.georgy@unige.ch
https://www.unige.ch/sciences/astro/evolution/en/members/cyril-georgy/
--------------------------------------------------------
Geneva Observatory
G

[2020-05-28 08:10] markcmiller86-visit commented on #12164
Thank you Oliver, that was useful.

Silvia

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Kevin Griffin via visit-users <visit-users@elist.ornl.gov>
Sent: Thursday, May 28, 2020 1:24:51 AM
To: visit-dav/live-customer-response <live-customer-response@noreply.github.com>
Cc: Kevin Griffin <notifications@github.com>; Subscribed <subscribed@noreply.github.com>
Subje

[2020-05-28 16:06] brugger1 commented on #4778
Example code would be the best way to present this.

[2020-05-28 16:20] markcmiller86 commented on #4744
Take care regarding GitHub URL magic pathing. We don't want to risk having those magic paths change if GitHub somehow changes its pathing magic.

We should vote on a name for this repo? `data` is not a good name due to possible confusion.

[2020-05-28 16:23] markcmiller86 opened #4780 "If we want to maintain static build option...we should probably start testing it"
Add testing for static builds of at least the engine.

[2020-05-28 16:23] brugger1 commented on #4737
We should think about the right names for these. Probably at a minimum remove "Manual" from all the sections. GUI and CLI might not be 100% clear either and the GUI section has more than just the GUI.

[2020-05-28 16:28] brugger1 commented on #4736
Probably something in the manual and the website somewhere prominent on how to get support.

[2020-05-28 16:30] #4735 closed, assigned to nobody

[2020-05-28 16:36] cyrush commented on #4778
Starting point:
http://visitusers.org/index.php?title=Python_Filters

[2020-05-28 16:39] #4712 closed, assigned to nobody

[2020-05-28 16:45] brugger1 commented on #4702
time_derivative would be simpler than using a cmfe.

[2020-05-28 16:45] #4702 closed, assigned to nobody

[2020-05-28 16:52] #4697 closed, assigned to nobody

[2020-05-28 17:01] brugger1 commented on #4688
We should create a path class that stores paths internally using unix style but which accepts and presents them in the other manner if the path is intended to represent a path on Windows. This would be a lot of work (many places to touch, especially for string literals) but worth it. Qt has a class that solves this problem, which we could use as basis for our class.

[2020-05-28 20:27] #4749 closed, assigned to brugger1

[2020-05-28 20:33] brugger1 commented on #12106
I merged the fix in. It is targeted for visit 3.1.3. You can either grab the source code from the 3.1RC and build it or I can build you a version for your platform of interest. Let me know what you would like.

[2020-05-28 21:30] markcmiller86-visit commented on #12106
I will do it. Thanks.
Stéphane

Le 28/05/2020 à 22:33, Eric Brugger via visit-users a écrit :

[2020-05-29 03:18] griffin28 opened #12167 "Having a curve show up on a Projected 3D plot?"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hi Cyrus,
Hope you are doing well! I am having issues with having a 1D c

[2020-05-29 15:56] aowen87 opened #4784 "MRI tutorial"
### Describe what needs to be documented.
We need an MRI tutorial for our upcoming VisIt tutorial.

### Is the documentation missing?
Yes. There is no MRI tutorial in our tutorials section.

[2020-05-29 17:18] markcmiller86 commented on #4744
Here are some naming options (vote your choice and/or offer some additional names)

* lfsdata
* vldata (visit large data)
* bigdata (might be confused with ML style data)
* xdata or exadata (for extra-data or extreme-data)
* moredata
* data++ (can we have `+` chars in repo names? would they get in the way of shell commands?)
* mvd8a (more visit data)
* premium-data
* bonus-data
* b1usd8a (celver f

[2020-05-29 17:42] brugger1 commented on #4744
I’d go with simpler names. My votes would be “bigdata”, “moredata” or an additional choice “largedata”.

[2020-05-29 18:31] aowen87 commented on #4744
I'd vote for "bigdata" or "largedata".

I'm working on an MRI tutorial that requires me to upload data somewhere for user access. Do you think this should be up and running before next Friday?

[2020-05-29 21:09] markcmiller86 commented on #4744
Ok, largedata it is then. Will create the repo shortly. Then will configure lfs stuff as @cyrush did for source repo and copy data from nersc for existing tutorials and confirm all working. Then, it'll be ready for @aowen87 early next week I think, Ok?

[2020-05-29 21:25] aowen87 commented on #4744
Awesome! Thanks for tackling this!

[2020-05-29 23:55] brugger1 commented on #12167
I was able to replicate this with globe.silo. I created a pseudocolor plot of u, applied the threshold operator to turn the mesh into a point mesh, then applied the project operator and drew the plot. I increased the point size to 20 just to make the points take up some space on the screen, since the points were pretty sparse. I then overlayed a curve plot from a curve I created with a line out. T

[2020-05-30 00:03] brugger1 commented on #12167
I looked at the curve plot code and saw that it wasn't setting a shift factor, whereas most other plots were setting the shift factor between 0.5 and 0.9 so that they would always be in front of pseudocolor plots, which had a shift factor of 0.

I modified avtCurvePlot.C to set behavior->SetShiftFactor(0.9) in CustomizeBehavior. This fixed the problem. This fixes the problem, but we should have a

[2020-06-01 08:03] markcmiller86 commented on #4744
I've added the repo here, https://github.com/visit-dav/largedata and the associated web site generated from that repo is here, https://visit-dav.github.io/largedata/.

@aowen87 go browse that site for help on adding new data. Lemme know what you think.

[2020-06-01 08:03] #4744 closed, assigned to markcmiller86

[2020-06-01 08:21] markcmiller86 commented on #4744
Note, will fix the current links in manual to new largedata repo later this week.

[2020-06-01 15:21] biagas commented on #12167
@brugger1 I think the Render order behavior should be investigated to determine if Curve plots are indeed being added to the renderer in last position.

I don't think Curve plot should always be shifted.  Perhaps the shift factor could be set for Curve plots only if non-curve plots are present in the same window? (If Render order is being maintained, and using shift is the only way to fix.)

[2020-06-01 16:27] griffin28 commented on #12166
Hello Jenisha,

The easiest way to get the min max of a variable is to perform a query.

SetQueryFloatFormat("%g")
Query("MinMax", use_actual_data=1)

If you want the min and max over all time steps you  can do those as well but as individual queries.

QueryOverTime("Min", end_time=6, start_time=0, stride=1, use_actual_data=1)

QueryOverTime("Max", end_time=6, start_time=0, stride=1, use_actual_da

[2020-06-01 16:32] aowen87 commented on #4744
@markcmiller86 Looks great! The only issues I saw were that the front page readme has some odd text in it (see image), and I think I saw small typo somewhere, but I can't find it now... I'll fix it if I come across it again.

![Screen Shot 2020-06-01 at 9 27 31 AM](https://user-images.githubusercontent.com/11658578/83430551-b30efc80-a3ea-11ea-8dd2-741daa9ebc93.png)

[2020-06-01 17:20] markcmiller86 commented on #4744
Thats looking at the markdown+Liquid in the GitHub repo. That is NOT the [rendered site](https://visit-dav.github.io/largedata/).

[2020-06-01 17:38] brugger1 opened #4789 "Enhance CI to check for C90 compliance."
### Is your feature request related to a problem?

Some C code was checked in that wasn't C90 compliant. It passed the CI, but failed in the regression suite since it sets the C90 flag. It would be good if the CI also failed to catch this earlier.

[2020-06-01 18:40] markcmiller86-visit commented on #12167
I believe the render order is being handled properly. I looked at VisWinPlots::OrderPlots and I don’t see why this would fail given the Render order values for Pseudocolor and curve. Also, the ordering is correct when using pseudocolor plots of polygons in 2d. The problem is only with all points. I suspect the problem is the fact that we are using z buffering in this case, which would explain why

[2020-06-01 19:55] brugger1 commented on #4789
The regression suite doesn't explicitly set C90. I looked at the documentation for gcc and --std=c90 is the default, which means the C90 standard with gnu extensions. We also set the --pedantic flag, which says to use the strict standard, which in this case is the C90 standard. So this ticket should really be to set --pedantic.

We could also go to a later standard, but we should probably discuss

[2020-06-01 20:06] brugger1 commented on #4789
The above is the case with gcc 4.9, which is what quartz uses. Newer versions of gcc default to gnu11.

[2020-06-01 20:21] brugger1 opened #12168 "Problem with Ospray Visit build"
Hello,

I want to use Visit + Ospray. From my understanding of Visit documentation is that I have to build visit from source to get Ospray.

I tried building it using the following command on macOS Catalina:
/.build_visit3_0_0  --ospray  --ispc --embree --tbb

But I get the following error:
Error: Cannot obtain source for embree.
Unable to build embree.  embree-3.2.0.x86_64.macosx.tar.gz not found

[2020-06-01 20:24] brugger1 commented on #12168
Hi,

All the distributions post 3.0.0 should have ospray built in to all our download versions. It's possible some of the early 3.0.x versions for macOS didn't have it. I would try the latest version of VisIt (3.1.2) if the version you downloaded doesn't have OSPRay support. Also, the versions of build_visit after 3.1.0 download all the third party libraries from GitHub and I just checked and the

[2020-06-02 22:05] cyrush opened #4792 "LineSurface Operator isn't enabled or able to be compiled"
### Describe the bug

Seems like its not wired up in cmake lists, even with optional.

Should we remove?

[2020-06-02 22:39] cyrush commented on #4551
https://github.com/visit-dav/visit/issues/1692

[2020-06-02 23:02] brugger1 commented on #4789
@ARSanderson , @BradWhitlock is it ok if we upgrade to the c11 standard. This is very simple to specify with CMake and would allow more modern C coding.

[2020-06-03 02:03] markcmiller86-visit commented on #12168
Thanks, the last version worked for me.

On Mon, Jun 1, 2020 at 1:25 PM Eric Brugger via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-06-03 13:50] brugger1 commented on #12168
Great! Thanks for closing the loop.

Eric

[2020-06-03 14:06] ARSanderson commented on #4789
Fine with me as I typically now try to think as everything being C++11

[2020-06-03 14:20] brugger1 opened #4793 "Build SDF database plugin on LC systems."
A user on the LC who uses the EPOCH code uses VisIt to visualize the results of the simulations. They output SDF files. The SDF project provides a VisIt database plugin for reading SDF files. It apparently builds fine against 2.13.3 but not 3.1.2. We should build and install it on the CZ and RZ and provide any patches back to the SDF group. Here is the link to the repo:

https://cfsa-pmw.warwick.a

[2020-06-03 14:22] brugger1 commented on #4793
The user is Joohwan Kim (kim67@llnl.gov, jok0356@ucsd.edu).

[2020-06-03 18:12] #4784 closed, assigned to aowen87

[2020-06-03 21:39] cyrush opened #4796 "reminder: a few things for bp plugin"
* add material support
* double check support for implicit point topos.

[2020-06-03 22:22] brugger1 commented on #4793
Hi Eric,

I'm actually not familiar with this, couldn't make any change in the build script. When I typed "make visit" to run build script as shown in the manual below, obviously it didn't work out. I believe someone in the LC support team helped our intern to get this done last year.

![image](https://user-images.githubusercontent.com/1102718/83694981-0b422c00-a5ae-11ea-99fc-32faaf9c3329.png)

Th

[2020-06-04 20:24] markcmiller86 opened #12169 "Saved image colors don't honor color table"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

I'm using VisIt 3.0.0 and I'm trying to plot magnetic field lines with t

[2020-06-04 20:41] markcmiller86 commented on #12169
Kyle, first, would it easy for you to upgrade to [VisIt 3.1.2](https://github.com/visit-dav/visit/releases/tag/v3.1.2)?

Also, what `Color by` option are you using in the IC operator?

[2020-06-04 21:57] biagas commented on #3307
Difference between the two scenarios above is that (1) doesn't produce normals, while (2) does. This is due to the use of Topological Dimension by avtVertexNormalsFilter to screen out instances where normals shouldn't be created (topodim != 2).

1) First scenario
  Silo reader sets Topodim to 3 (make sense, its a volume).
  External surface decrements topodim (now 2)
  ThreeSlice decrements topodi

[2020-06-05 00:49] knelli2 commented on #12169
Unfortunately not. I am working on NASA's supercomputer Pleiades, and the only versions of VisIt they have installed are 2.13.0 and 3.0.0. We are currently trying to have support as NASA install other versions but I don't know if that will happen.

I don't seem to be able to find the `Color by` attribute in the IC Attributes. For the Pseudocolor plot though, we are using our own colortable (attach

[2020-06-05 15:54] brugger1 opened #12170 "Visit build/install Ubuntu 20.04 LTS"
Good day,

I have recently tried to install/build visit on Ubuntu 20.04 LTS. When building visit I do:

sudo ./build_visit3_1_2 --thirdparty-path /path/thirdparty --silo --required --mpich

but get stuck on the qt5 installation. I have also tried to build qt5 myself, without success. Is there anyone else who has this problem or with a solution to it, please? I attach the build log (compressed .gz)

[2020-06-05 16:00] brugger1 commented on #12170
Hi Leon,

The build_visit script for 3.1.2 didn't compile Qt properly on Ubuntu 20. We have added a fix for build_visit for the next release. Unfortunately, that is probably a month away. I can send you an updated build_visit script that has the fix.

Regarding the version you downloaded and installed. Was this the ubuntu20 version? After I made the fix to build_visit I added an ubuntu20 version t

[2020-06-07 12:53] markcmiller86-visit commented on #12170
Hi Eric,

Previously, ubuntu20 was not available and I tried 18 and 19 (both without success). I now installed the ubuntu20 version successfully. Thank you very much, I appreciate your assistance.

Best regards,

Leon MALAN, Ph.D | Senior Research Officer
Industrial CFD Research Group | Dept. Mechanical Engineering

[cid:de7f7de6-48a5-4432-a7b5-3e9b5061a7c8]      [cid:8f8facc0-3a4b-477d-a50e-9e69f

[2020-06-08 14:25] brugger1 commented on #12170
Great! Glad to help.

Eric

[2020-06-08 16:15] rusu24edward opened #12171 "iBlank support for Plot3D input file in the new VisIt3.1.2"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,

So I was hoping that the issue with reading a Plot3D that has iBlank

[2020-06-08 16:20] rusu24edward commented on #4632
Possibly related to #2156

[2020-06-08 16:22] rusu24edward commented on #12125
Pinged again in visit-dav/live-customer-response#78

[2020-06-08 16:24] rusu24edward commented on #12171
Hi Motti,

Sorry for your troubles with iBlanking. As you know, we've added this as an [issue in our issue-tracker](https://github.com/visit-dav/visit/issues/4632). I've added the priority label to it, and our team should review it this week and plan steps forward.

For the time being, do you have a workaround for what you need?

Eddie

[2020-06-08 17:05] markcmiller86-visit commented on #12171
Hi Eddie,

Thank you.
Yes, for the time being we are using a different code that is much more limited with regard to its visualization capabilities.

Best regards,
Motti

[2020-06-08 17:46] markcmiller86 commented on #12169
@knelli2 apologies for delays in responding. Will investigate later today. Thanks for attaching script to test.

[2020-06-08 18:33] griffin28 opened #4799 "VisIt crashes when not connected to VPN"
### Describe the bug
VisIt crashes when not connected to the VPN (local build and releases). When I connect to the VPN VisIt will run, however, I can't run in parallel due to gethostname conflict (see attachment). When I connect onsite everything works for local builds and DMG releases.

I used **lldb** to track down where the error was occurring and it was throwing a QT exception that wasn't bein

[2020-06-08 18:53] rusu24edward commented on #4736
There is also some good content in the [SRE wiki](https://github.com/visit-dav/live-customer-response/wiki) pages (in the box on the right).

[2020-06-08 19:59] rusu24edward commented on #4745
Each of these databases use h5tequal to compare to native data types:
./BATL/avtBATLFileFormat.C
./Enzo/avtEnzoFileFormat.C
./FLASH/avtFLASHFileFormat.C
./PFLOTRAN/avtPFLOTRANFileFormat.C
./Pixie/avtPixieFileFormat.C
./Vs/VsUtils.C
./Vs/avtVsFileFormat.C

[2020-06-08 20:04] markcmiller86 commented on #4745
Ok, we need to audit these instances. The mere appearance of `H5T_NATIVE_XXX` in an `H5Tequal()` comparison isn't necessarily a problem.

The real problem is when the reader is using such a comparison with type stored for an attribute or dataset in the file.

[2020-06-08 20:42] rusu24edward commented on #4323
This just calls getenv() under the hood. What is the benefit of this replacement?

[2020-06-08 20:47] markcmiller86 commented on #4745
@qkoziol if you have a moment, can you pls confirm...for a type-specific code-block in a *reader* using `H5Tequal(file_type, H5T_NATIVE_XXX)` comparison is not as portable as it should be because it returns true only when *reader* is **same numeric architecture** as *writer* whereas comparing with `H5Tget_class()/H5Tget_size()` is more portable?

[2020-06-08 21:00] markcmiller86 commented on #4323
Well, here's my two cents...

1. Consistency throughout the code base. We should probably do it the same way everywhere.
1. Someone apparently decided it was important to abstract this and created `Environment::Get()` so its probably a good idea the rest of us follow that even if the original rationale for it is lost.
1. Isolation/Portability to either variations in behavior across platforms or ch

[2020-06-08 21:05] markcmiller86 commented on #4736
Am working on this along with the update regarding *first* contacts vs. *ongoing* dialog with users.

[2020-06-08 21:50] rusu24edward commented on #4200
It looks like tests can be given on [--index](https://github.com/visit-dav/visit/blob/develop/src/test/visit_test_suite.py#L1010) or [--retry](https://github.com/visit-dav/visit/blob/develop/src/test/visit_test_suite.py#L1014). Can anyone speak to whether we still support these options, maybe @cyrush? It seems like we might not because they call [TestSuiteResults](https://github.com/visit-dav/visi

[2020-06-08 22:13] rusu24edward commented on #4200
Oops, didn't know this was already being worked on in #4798

[2020-06-08 22:25] biagas commented on #4200
#4798 didn't fix the problem listed here.

[2020-06-09 16:02] biagas commented on #1855
For this particular ticket, Lineout query definitely should print out a warning.

For the problem in general (not allowing commas in qlineedits lists of values), I think we should
audit our lineedit parsing, and use a consistent interface (like GUIBase::QStringToDoubles when we expect doubles).  Then modify that interface to allow commas.  For double/floats locale should be taken into account as s

[2020-06-09 20:59] rusu24edward opened #12172 "PLOT3D file problem"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I have been using visit with plot3d x files that are of the default open

[2020-06-09 21:54] rusu24edward commented on #12172
Hi Alan,

Sorry for your troubles with this. I have been trying to duplicate, but I have not been able to with the multi-grid PLOT 3D x data that I have access to. Can you share your data with me, including the plot3d x files and the session files? You can upload them to this page on github as a .zip file or you can send them via email.

Eddie

[2020-06-09 22:09] qkoziol commented on #4745
If you want to make certain that the types are exactly the same, then yes, H5Tget_class/H5Tsize/H5Tget_precision/etc is the right direction to go.

However, I have a feeling that an "equivalent" native datatype would be sufficient for your use case.  If that's the case, then you could use H5Tget_native_type, like so:

[code]

(You'll need to call H5Tclose on the temporary native datatype that you

[2020-06-09 22:37] #4746 closed, assigned to nobody

[2020-06-10 01:07] markcmiller86-visit commented on #12172
Eddie,

The attached file is asci , 3d, multi block. It is a simple representation of 4 helicopter rotor blades equally spaced around the z axis.

From: Edward Rusu via visit-users [mailto:visit-users@elist.ornl.gov]
Sent: Tuesday, June 9, 2020 5:54 PM
To: visit-dav/live-customer-response <live-customer-response@noreply.github.com>
Cc: Edward Rusu <notifications@github.com>; Subscribed <subscribed

[2020-06-10 15:16] rusu24edward commented on #12172
Alan,

I've been able to duplicate this with a slight variance. In your description above, you mention that using default loading will display the data correctly. For me, I was **only** able to display the data correctly when I explicitly loaded Plot3D with multigrid turned on. I **do** see the same problem as you where this session file does not load the data correctly. I will investigate this fu

[2020-06-10 16:20] rusu24edward opened #12173 "Trouble connecting Visit to remote clusters"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Receiving error message that says the server isn't valid.

[2020-06-10 16:35] rusu24edward commented on #12173
User was attempting to connect to an rz machine using version 2.13. The `use gateway` box is default checked in the host profiles on 2.13 because of rzgw. By unchecking this box, the user was able to connect to rz machines.

[2020-06-10 16:52] rusu24edward opened #4801 "Patch 2.13 to handle rzgw"
### Describe the bug
The default host profiles for older versions of Visit have `use gateway` box checked for the RZ machines because we used to jump through `rzgw`. This is no longer the case. This is easy enough for the user to fix--just uncheck the box--but it would be nice if we could update the defaults. Is it possible to patch previous versions of Visit with a "hotfix" type of change? Not su

[2020-06-10 16:59] rusu24edward commented on #3863
I agree with @markcmiller86 that this is duplicated in #4036. I emailed Salvador to confirm that he can make movies in version 3.1+ without issue. Treating this like an SRE issue.

[2020-06-10 17:01] rusu24edward opened #12174 "VisIt build for Ubuntu 20.04 LTS x86_64"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,

Will there be a downloadable version of the VisIt 3.1.2 executable f

[2020-06-10 17:03] rusu24edward commented on #12174
[build_visit3_1_2_log.xz.zip](https://github.com/visit-dav/live-customer-response/files/4760085/build_visit3_1_2_log.xz.zip)

[2020-06-10 17:15] rusu24edward commented on #12174
Hi Wileam,

I believe we have released a version of 3.1.2 for Ubuntu 20. Can you take a look here (https://github.com/visit-dav/visit/releases/tag/v3.1.2) and let me know if this is what you're looking for?

Thanks,
Eddie

[2020-06-10 17:26] rusu24edward commented on #12174
Hi Edward,

Yes, thanks a lot! I guess the main download page at https://wci.llnl.gov/simulation/computer-codes/visit/executables needs to be updated?

Thanks, Wileam Y. Phan

[2020-06-10 17:27] rusu24edward commented on #4757
Came up again in [this SRE issue](https://github.com/visit-dav/live-customer-response/issues/81). I pointed the user to the build in the releases, and he said that works for him.

[2020-06-10 17:32] rusu24edward commented on #12174
Glad to hear that Wileam! Thanks for the heads up on the visit website, we do need to update that to include the Ubuntu 20 release.

Regarding the failure to build using the build_visit script, this is a [known issue](https://github.com/visit-dav/visit/issues/4757) and will be fixed in the next release. If you need to use the build_visit script for Ubuntu 20 before the next release, you can apply

[2020-06-10 19:38] biagas opened #4802 "ospray causing parallel engine cores on exit"
This is with the test suite being run in parallel in batch from pascal. I haven't tested other systems.

I noticed while monitoring a parallel test-suite run that the engine was creating core files at completion of every test.  I limited my run to a single test so I could try to track down the problem.
I decided to run plots/contour.py and and piped the output to a file.

Here's what I saw being p

[2020-06-11 00:03] rusu24edward opened #12175 "nv-glx error over vnc"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Darwin Ho is getting the same error as visit-dav/visit#12118
[code]

[2020-06-11 00:03] rusu24edward commented on #12175
I directed him to use `-v 3.1`, and that solved his problem, but he is still getting this warning:
[code]

I am not able to reproduce this warning.

[2020-06-11 00:48] rusu24edward opened #4804 "plot3d multigrid session"
### Describe the bug
A Plot3D x dataset is loaded correctly with multigrid turned on when doing so via the gui. A session file is then saved. Loading this saved session file does not produce the same results.

This comes from [this SRE issue](https://github.com/visit-dav/live-customer-response/issues/79).
Related to #3252.

### To Reproduce
Steps to reproduce the behavior. For example:
1. Open the

[2020-06-11 00:56] rusu24edward commented on #12172
Hi Alan,

I've been digging into this today, and here's what I know so far. I believe the session file is correctly storing the Multi Grid On option. The attached image shows a diff between one session file that uses it and other that doesn't; you can see a difference in the `optBools`.

![Screen Shot 2020-06-10 at 5 52 09 PM](https://user-images.githubusercontent.com/18565891/84333047-74dcb000-ab

[2020-06-11 01:30] markcmiller86-visit commented on #12172
Eddie,

I did say that I was using the defaults settings! That was a mistake on my part. Sorry for the confusion.  Never the less you can replicate are seeing my problem.  I am running on a Window 10 machine with version 3.1.1 of visit

From: Edward Rusu via visit-users [mailto:visit-users@elist.ornl.gov]
Sent: Wednesday, June 10, 2020 11:17 AM
To: visit-dav/live-customer-response <live-customer-r

[2020-06-11 08:57] philip-blakely opened #4805 "Memory leak for Lines database"
### Lines Database format does not free memory.

When plotting a .lines file, the vtkPloyData objects are not freed, resulting in large memory usage.

For example, open the attached set of blocks:
[block_mem_test.tar.zip](https://github.com/visit-dav/visit/files/4763692/block_mem_test.tar.zip)

This is a set of 100 identical files, just to demonstrate the principle; it's a zipped tar-ball to reduc

[2020-06-11 09:28] ccrethu opened #4806 "build_visit3_1_2 fails comparing gcc/g++ versions"
### Describe the bug
I am trying to build visit from scratch on Manjaro Linux (Arch Linux derivative) that has a recent gcc (Version 10.1.0) installed:

    visit]$ pacman -Q gcc
    gcc 10.1.0-2

Running build_visit3_1_2 then refuses to run because of the wrong compiler version which is obvious wrong:

    visit]$ ./build_visit3_1_2 --optional
    Processing bsd license.
    executing group optio

[2020-06-11 16:18] markcmiller86 commented on #4806
@ccrethu ... thanks so much!

[2020-06-11 16:18] #4806 closed, assigned to nobody

[2020-06-11 23:24] rusu24edward commented on #3863
No response from the user, and we fixed this problem, so closing.

[2020-06-11 23:24] #3863 closed, assigned to rusu24edward

[2020-06-11 23:47] markcmiller86 commented on #12169
@knelli2 ok just debugging this now. Haven't been able to run your script just yet but am getting closer. A few questions...

From this command line...

[code]

`$dir` is arg index `1` once in VisIt's CLI Python interpreter. `$xmldir` is arg index `2` and so forth. However, the hard-coded array indices used in `run.py` seem to be using `13` and `14` to access those arg indices and this is confusin

[2020-06-12 00:46] markcmiller86 commented on #12169
Answering my own question here...VisIt will get this right. You do NOT have to copy the color table file to the server machine.

[2020-06-12 03:14] knelli2 commented on #12169
@markcmiller86 Sorry about the confusion. We've fallen victim to not keeping the comments in our code fully up to date. We've updated the arguments submitted to our python scrip since that comment was written. We can a somewhat complicated setup built to submit jobs but the main command we use to run visit is this:

`visit -cli -nowin -forceversion 3.0.0 -s $visitScript $PlotDensAsVol $PlotDensAsI

[2020-06-12 04:40] markcmiller86 commented on #12169
Ok, I've tried to duplicate the behvior you are seeing by running 3.0.1 client on OSX and launching a 3.0.2 server (serial engine) on a remote resource in Livermore Computing. The script I am running is very simple, using a test data file, `globe.silo`. Here is my script...

[code]

I get an image with white streamlines. So, maybe the issue is in how you are instantiating the intergral curve opera

[2020-06-12 16:36] knelli2 commented on #12169
[code]
From one of my previous replies, this is the function we use. `BVec` is a simple vector expression created from three scalar fields `Bx`, `By`, `Bz`. We create a PC plot of `BVec`, set all the PC attributes, add an IC operator, and then return an ICAttributes object to be used later in the script to load in a custom pointlist. (This can all be found in `runModule.py` if you want to take a l

[2020-06-12 17:03] markcmiller86 commented on #12169
Ok, lemme add the use of an *expression* to the process to see if that might make a difference. Then, I'll try explicitly manipulating the IC operator as you have too.

[2020-06-12 17:21] markcmiller86 commented on #12169
Ok, I've tried various combinations of *expressions* as well as *explicitly* adding the IC operator and in all my tests, the coloring of the streamlines still comes out white.

Can you add some calls to get and print active plot options just before `DrawPlots()`

[code]

[2020-06-12 17:47] knelli2 commented on #12169
[bringleout.txt](https://github.com/visit-dav/live-customer-response/files/4772365/bringleout.txt)
I actually did that as one of my tests before I came here. This file contains the output from our script when it is run. I printed out the PC attributes at multiple stages of the script. You'll want to search for the phrases

`after operator options is set`
`after DrawPlots`
`after SaveWindow`

These

[2020-06-12 17:58] markcmiller86 commented on #12169
Ok, so here is what I have most recently tested, including setting `pcAtts.lineType = pcAtts.Line`. Pls copy this code to `foo.py` and adjust `OpenDatabase(...` line to specify correct machine name and file path for `globe.silo`. Am attaching the test data file too, `globe.silo` so you can perform same test.

[code]

Then run from your local machine like so...

[code]

[globe.silo.gz](https://gith

[2020-06-12 18:42] markcmiller86 opened #4809 "Migrate developer tips from wiki"
We have some great developer tips here...

https://www.visitusers.org/index.php?title=Developer_Tips_and_Tricks

We should migrate this to our manual.

In particular, we should make searching for a command easier by taking the tip about `lsearch` in the above reference and doing the following

- Make it case-insensitive
- Tie it into Python's builtin `help()` function somehow or create our own `vh

[2020-06-12 21:38] knelli2 commented on #12169
So I ran the sample script you gave me with globe.silo and it came out correct. The lines look a tad weird, but they are white.
![mark_test_line0000](https://user-images.githubusercontent.com/31455476/84540217-80061c00-acba-11ea-9b89-5d8e5bb2b3a3.png)

In the debug files `A.viewer.4.vlog` and `A.viewer.5.vlog` there is the line
[code]
so it seems to be importing the colortable correctly. I tried r

[2020-06-12 22:48] markcmiller86 commented on #12169
Ok, those white lines from `globe.silo` look correct. Yeah, they are funny. Its a contrived vector expression which has the same variable for all three components.

Thanks for running that test. That explains why I am unable to reproduce also.

@ARSanderson can you maybe lend an eye here and suggest anything that might be going amiss with IntegralCurve operator under these conditions?

[2020-06-12 23:25] markcmiller86 commented on #12169
Ok, I'v modified my test further trying to narrow in on a reproducer (for color issue or shorter line issue you're now seeing). I've adjusted my IC operator to use a point list and I've adjusted the annotation attributes a bit more. Am also adding a volume plot, which I think you have there aslo for the center object.

Forgot to ask, where is the red coloring coming from for the torus shaped objec

[2020-06-12 23:33] knelli2 commented on #12169
The red object in the middle is a star which can be approximated to an oblate spheroid. We use a volume plot with RayCasting to represent this. The volume plot has a custom xml with color control points and custom opacity profile. Yes it is the correct color.

[2020-06-12 23:39] markcmiller86 commented on #12169
Ok, my latest attempt to reproduce is now using also a volume plot

[code]

which still gives white for the one and only streamline it winds up producing 😕

![image](https://user-images.githubusercontent.com/5720676/84553989-c4011d00-acca-11ea-979e-775c5e8cecc9.png)

[2020-06-12 23:57] knelli2 commented on #12169
Haha I love when VisIt decides to plot only one of the many streamlines you had.

Well plotting the PC plot and IC operator all at once fixed the color issue, but now I'm not sure why they are terminating prematurely when they were integrating to full length before (regardless of line/tube/ribbon). I tried doubling the `maxSteps` in the ICAttributes, but that didn't do anything so now I'm at a los

[2020-06-13 08:06] markcmiller86 commented on #12169
I suspect that is an artifact of the particular points I specified and the contrived vector field I was working with. I specified points almost *randomly* w.r.t. actual dataset geometry. As long as I was generating a streamline of some kind to reveal coloring, I was fine. That doesn't help debug possible early termination though.

[2020-06-13 14:49] ARSanderson commented on #12169
Hello, I have nothing substantive to add. Other than when using Python adding the plot with

AddPlot("Pseudocolor","BVec")
AddOperator("IntegralCurve")

or

AddPlot("Pseudocolor","operators/IntegralCurve/BVec")

should in theory both work. The latter is needed simply for the GUI which restricts showing variables that are only possible for that plot type.

However, I could see for the former that P

[2020-06-15 18:06] brugger1 opened #12176 "VisIT Movie Generation Failed"
Sear VisIT Help Desk and Users,

I am trying to create a movie based on screen capture png stills. The screen display is fine and the PNGs appear to be fine (thumbnail). When I look at the movie (Quicktime or VLC) I get the frames shown below. Clearly, there is a rastering error.

<img width="973" alt="live_customer-response-2020-06-15" src="https://user-images.githubusercontent.com/1102718/846910

[2020-06-15 18:12] brugger1 commented on #12176
Hi Rick,

It looks like you are using the mpeg encoder that ships with VisIt. It is not the best movie encoder, although it should work properly. I frequently see the vbv_delay errors and those don't seem to affect the output.

VisIt can also use the ffmpeg movie encoder which is a better encoder. If VisIt finds it in your search path, it will use it over the built in one. We don't ship VisIt with

[2020-06-15 18:15] brugger1 commented on #12176
If you need help with installing ffmpeg, I can provide help if you let me know what operating system you are running on (Linux, Mac, Windows).

Eric

[2020-06-15 18:18] markcmiller86-visit commented on #12176
Eric,

I am running on a MacBook Pro with Mojave. I run the multi-processor VisiIT from the terminal.

I could use the help installing ffmpeg.

Rick

On Jun 15, 2020, at 12:16 PM, Eric Brugger via visit-users <visit-users@elist.ornl.gov<mailto:visit-users@elist.ornl.gov>> wrote:

If you need help with installing ffmpeg, I can provide help if you let me know what operating system you are running on

[2020-06-15 18:36] brugger1 commented on #12176
You can go to https://www.ffmpeg.org/download.html and the scroll a bit down until you get to a section labeled "Get packages & executable files".

Now click the Apple logo on the right side. This change the text below the 3 logos to "macOS". Under that click on "Static and shared builds for macOS 64-bit".

There are now several pull downs to set. Select "4.2.3" for the Version, "macOS 64-bit" for

[2020-06-15 18:59] markcmiller86-visit commented on #12176
Dear Eric,

I have downloaded the zip filem for the Static and Shared build and unzipping gives me a folder containing multiple items. The /bin/ directory has the juicy stuff but I am unsure where to install the Unix Executible. In fact, I am not sure what the app does.

[cid:C2B907B5-922D-4984-BA37-9CB3E112F898@hsd1.nm.comcast.net.]

Double clicking on the ffmpeg app gives. I could open it from a

[2020-06-15 19:46] brugger1 commented on #12176
Hi Rick,

I believe all you need to do is copy the ffmpeg executable into a directory that is in your search path. You could even install it into the VisIt bin directory, which, for example, would be visit/3.1.2/darwin-x86_64/bin for VisIt 3.1.2.

[2020-06-15 19:48] markcmiller86-visit commented on #12176
Eric,

I am not sure what my VisIT search path is as I never set it or changed it. I can easily place the executable in the /visit/…./bin/ path. I’ll give that a try.

Rick

On Jun 15, 2020, at 1:46 PM, Eric Brugger via visit-users <visit-users@elist.ornl.gov<mailto:visit-users@elist.ornl.gov>> wrote:

Hi Rick,

I believe all you need to do is copy the ffmpeg executable into a directory that is in

[2020-06-15 20:03] markcmiller86-visit commented on #12176
Further to Eric's suggestation, this is a good link with different options
to install ffmpeg on macOS,

 	https://superuser.com/questions/624561/install-ffmpeg-on-os-x

Regards,
Marcelo

On Mon, 15 Jun 2020, Spielman, Rick via visit-users wrote:

[2020-06-15 20:13] markcmiller86-visit commented on #12176
Dear Eric,

The actual path on a Mac is:

/Applications/visit.app/Contents/Resources/bin/

When I placed the binary in /bin/ everything worked just fine!! Thanks for your help.

Rick

Dr. Rick B. Spielman
Senior Scientist
University of Rochester
Laboratory for Laser Energetics
250 East River Road
Rochester, NY 14623
Office: 585-275-2732
Cell: 505-715-0416
E-mail: spielman@lle.rochester.edu<mailto:

[2020-06-15 20:54] griffin28 opened #4810 "Color table selection not obvious?"
In the Pseudocolor plot attributes dialog there is an option to choose different color tables. The widget is a button with "Default" as the label. I had a user call the hotline and thought that there was no way to select a different color table because it wasn't obvious that you need to click the button. He was use to having some indication that there are more options, usually indicated by an upsi

[2020-06-15 23:34] brugger1 commented on #12176
Awesome! You're welcome and thanks Marcelo!

[2020-06-16 00:51] markcmiller86 opened #12177 "Would any left-handed users be willing to comment"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hello VisIt Users...

I am writing to inquire if we have any left-hander

[2020-06-16 13:11] markcmiller86-visit commented on #12177
I have switched the buttons on my mouse, which is kept to the left of my keyboard, and so I can use my left hand easily without any problems. This has the added benefit of frustrating right-handed users whenever they temporarily try to navigate with my mouse.

Don Frantz

From: Mark C. Miller via visit-users <visit-users@elist.ornl.gov>
Sent: Monday, June 15, 2020 8:52 PM
To: visit-dav/live-custom

[2020-06-16 15:12] #3307 closed, assigned to biagas

[2020-06-16 15:12] #4464 closed, assigned to biagas

[2020-06-16 20:57] biagas commented on #4315
Windows testing moved to windows 10, does not happen with this OS, so closing.

[2020-06-16 20:57] #4315 closed, assigned to biagas

[2020-06-16 21:01] biagas commented on #3564
Requires patching VTK classes. Punting to a later version.

[2020-06-16 22:33] markcmiller86 commented on #12169
I've tried several other things...

- Added Camera light and set specific direction
- Tried various of the ray-casting volume plot methods for the volume plot
- Changed order of Volume plot relative to PC plot
- Tried both ribbon and line type for PC plot

I've also switched to `vel` variable in `globe.silo` (which is not an expression) which is a more *normal* vector field. After updating the poi

[2020-06-16 23:24] knelli2 commented on #12169
Wow that was extremely thorough, thank you. You're right that is somewhat similar to the issue I was having, but not exactly. Some very valuable info though.

I don't think I've mentioned this before, but we are using .h5 files of the form
rho_b.file_0.h5
rho_b.file_1.h5
...
rho_b.file_95.h5

and loading them in as a database. While I doubt this is the issue, do you think that could be causing it?

[2020-06-16 23:33] markcmiller86 commented on #12169
I am reasonably confident the data source has no bearing here.

In chatting with another developer, yes, we did have problems with lighting and lines in 3.0.0.

In all my testing I've been using a 3.0.1 client and a 3.0.2 engine. If I can find the time, I will try to test a 3.0.0 client/engine.

[2020-06-16 23:41] knelli2 commented on #12169
Thank you Mark, you've been extremely helpful! If you can't find the time, don't worry about it. I'm pretty satisfied with there being a small bug in 3.0.0. In my opinion, it wasn't very smart for a supercomputer to use the first release of a completely new version of VisIt, and not have the subsequent patches. However, this thread has narrowed down the problem significantly and I've found a usefu

[2020-06-16 23:43] brugger1 commented on #4810
We discussed this and decided it would be good if the button had a downward arrow on it to make it clear it could be pressed.

[2020-06-16 23:59] brugger1 commented on #4802
We should limit the core file size when running the test suite.

[2020-06-17 00:02] biagas commented on #4810
src/winutil/QvisColorTableWidget or src/winutil/QvisColorTableButton should be the culprit.

[2020-06-17 04:29] markcmiller86 commented on #4802
Happened to find [this very similar report](https://stackoverflow.com/questions/35229310/sigsegv-in-dl-fini)

[2020-06-17 04:50] markcmiller86 commented on #4802
We appear to be using a 2 year old version of [Ospray. 1.6.1 is from Jun, 2018](https://github.com/ospray/ospray/releases/tag/v1.6.1). Any reason not to at least upgrade to latest?

Next, @cyrush mentioned in call today that we *have* to use pre-compiled binaries. But, in my searching, I am seeing all the source, including dependencies, on GitHub. Should we be using that instead of pre-compiled bi

[2020-06-17 06:23] markcmiller86 commented on #12169
Ok, I think I have sufficient justification now to close this issue.

We no longer have 3.0.0 installed on our servers.  So, I downloaded 3.0.0 and ran it all locally on my laptop and confirmed that at least *some* of the streamlines, those that overlap with the volume plot, appear to have been colored incorrectly. But, the problem appears to be corrected in 3.0.1. See the images below.

### 3.0.0

[2020-06-17 14:14] brugger1 opened #12178 "Visit with AMR"
Dear Colleagues,

I’m trying to extract data along a straight line from a 3-D data set which involves AMR. I do thi the following way.

1.	Load my HDF5 file.
2.	Create new variables.
3.	Add Pseudocolor for one of the variables and draw it.
4.	Run the following script

SetActiveWindow(1)
SetActiveWindow(1)
Query("Lineout", end_point=(1264.3,827.5,1019.8), num_samples=200, start_point=(1082.1, 842.5

[2020-06-17 14:28] brugger1 commented on #12178
Hi Nick,

The non-sampled case tries to minimize the interpolation and works as follows.

For a nodal variables:
Points are sampled wherever the line intersects a face. It does bi-linear interpolation on the face to come up with the value of the variable.

For a zonal variable:
As the line traverses the zones line segments are created along the line, where the ends of the segments come from line i

[2020-06-17 18:28] markcmiller86-visit commented on #12178
Thank you for this general overview.

This doesn’t answer the question whether the finest available grid is used. I have an impressions from your answer that all points are used, which is not really good. There is no problem to create a smooth plot per se in Tecplot. However, it doesn’t use any lavel above 0. In my case, I know for sure that the line belongs to the third level of refinement. This

[2020-06-17 22:50] markcmiller86-visit commented on #12178
In addition, the choice of no-sampling makes the curve much smoother than in the sampled case. Contrary to the Visit manual.

Nick.

From: Eric Brugger via visit-users [mailto:visit-users@elist.ornl.gov]
Sent: Wednesday, June 17, 2020 9:28 AM
To: visit-dav/live-customer-response
Cc: Eric Brugger; Subscribed
Subject: [visit-users] [EXTERNAL] Re: [visit-dav/live-customer-response] Visit with AMR (#8

[2020-06-18 05:25] markcmiller86 opened #4812 "Warning about potential ambiguous conditional logic"
Happend to see this code flagged...

https://github.com/visit-dav/visit/blob/408ac0bf09c1f74d5b0dc8565b3e9f5cfa157a8d/src/plots/Mesh/avtMeshPlotMapper.C#L294

on OSX with warning...

[code]

I believe the two lines or-ing the comparison of label strings need to be combined with parens `()` but I honestly wasn't sure.

[2020-06-18 13:47] brugger1 commented on #12178
Hi Nick,

Sorry I misunderstood your question.

I believe the line-out will go down to the finest resolution of the data. I don't know how much data you have at your desired resolution, but you could use the subset selection to only go down to the desired level and then export the data. Then when you read it back in it won't have the finer refinement levels and it should give you the desired resul

[2020-06-18 16:15] biagas commented on #4812
Thanks Mark, that's the issue causing the regression failure.

[2020-06-18 16:49] aowen87 opened #4815 "Mesh quality metric Pick Through Time issue"
### Describe the bug
The Pick Through Time method fails for mesh quality metrics when tracking the element rather than the coordinates. The issue appears to be that the variable being passed down the pipeline is the name of the mesh rather than the name of the variable.

**Helpful additional information**
 - Did VisIt crash: No
 - Did you get wrong results: Yes. VisIt should be able to plot this c

[2020-06-18 17:01] aowen87 commented on #4815
I believe this has to do with the fact that we're using our expression system to calculate the verdict variables, so the DirectDatabaseQOT has no way of retrieving these variables directly from the database. Removing the verdict metric expressions from compatibility with DirectDatabaseQOT should fix this issue.

[2020-06-18 17:01] #4812 closed, assigned to nobody

[2020-06-18 17:14] markcmiller86 commented on #4815
I suppose its worth asking, however, if it is possible for the DDQoT stuff to tease a tiny bit of the mesh+var *primals* (e.g. leaves in expression tree) from the database and perform the expressions on these tiny bits and pieces (worst case...just the *domains* containing the QoT relevant bits) to service a QoT. Thats obviously re-working more internal stuff in VisIt but is potentially worth disc

[2020-06-18 17:15] #3754 closed, assigned to griffin28

[2020-06-18 17:26] markcmiller86-visit commented on #12178
Hi Eric,

It looks like Visit uses the fines resolution indeed. I deactivated the coarser meshes and the results is identical.

I saved all files long ago. I actually do not use the Visit plots, only the lineout curves, which I plot with another, more user-friendly, software. I created the sampled lines for a different number of sampling points. The curve, indeed, becomes smoother if the number of

[2020-06-18 17:52] aowen87 commented on #4815
@markcmiller86 Hmm I'm not quite sure I follow. Do you mean allowing the DDQoT to retrieve some info from the database needed for a particular expression, allowing the expression to act on that info, and then returning the post-expression data for that query?

[2020-06-18 17:54] markcmiller86-visit commented on #12178
Hi Eric,

I am also suspicious that lineouts from a slice work better than 3-D lineouts.

Anybody had this issue?

All the best,

Nick.

From: Eric Brugger via visit-users [mailto:visit-users@elist.ornl.gov]
Sent: Thursday, June 18, 2020 8:48 AM
To: visit-dav/live-customer-response
Cc: Eric Brugger; Comment; markcmiller86-visit
Subject: [visit-users] [EXTERNAL] Re: [visit-dav/live-customer-respons

[2020-06-18 18:00] markcmiller86 commented on #4815
Yes, basically. The ability to do it on an element-by-element basis would be ideal. Of course, for expressions involving neighbors (e.g. gradients), the DDQoT would need to request *more* than just the elements of interest.

Was aiming to just capture the idea somewhere and this seemed like the right place. Not suggesting its the right answer to this issue ticket though. For this issue, removing a

[2020-06-18 18:04] aowen87 commented on #4815
Yeah, that would be a really cool feature. I'm curious what other types of QoT could benefit from this. I'll create a ticket for further discussion.

[2020-06-18 18:14] aowen87 opened #4817 "DirectDatabaseQOT with expressions"
While fixing issue #4815 , Mark brought up the idea of possibly allowing the DirectDatabaseQOT to (someday) work more closely with the Expression system.

The current setup for DDQOT is this:
1. Retrieve the requested variables from the database over a requested period of time.
2. Pass variables through expression system.
3. Generate our curve.

This works for most Expressions, but there are some

[2020-06-18 18:22] aowen87 commented on #3588
The library has been updated: https://github.com/durrenberger1/Mili
I'll start working on getting this into VisIt soon.

[2020-06-18 20:23] brugger1 commented on #12178
Hi Nick,

It's certainly possible that line-outs on a slice could work a little better. In 3D I believe it does a 3D interpolation, which could be more complex than first slicing it and then doing a simpler well-defined 2D interpolation.

Can you explain what you mean by changing from original to nodal? Are these settings in the pseudocolor plot? Also, can you tell me where in the manual you are f

[2020-06-18 21:09] #4810 closed, assigned to biagas

[2020-06-18 21:43] markcmiller86-visit commented on #12178
Hi Eric,

It looks like the lineout works fine on slices parallel to coordinate axes.
In this case the more sampling points I use the smoother the curve is.

I applied lineout to an arbitrary slice. The figure is attached. All lines
except the green one used sampling. The green line uses no sampling because
I unchecked Use Sampling while checking Override Global Lineout Settings,
whatever it means

[2020-06-18 22:32] aowen87 commented on #4235
This appears to be resolved. I'm guessing something fixed this during the DDQOT update.

[2020-06-18 22:32] #4235 closed, assigned to aowen87

[2020-06-18 22:36] biagas commented on #2724
I think this can be closed. The ticket mentions seeing this on trunk for 2.10.0, so I ran it with VisIt 2.9.2, 2.10.3 and current develop (3.2.0) and the images all look the same to me.

I also tried disabling avtPolylineCleanupFilter in Pseudocolor plot on develop and didn't see any differences.

@BradWhitlock any comments? Can it be closed?

From 2.9.2:
![VisIt_2 9 2_bug2724](https://user-images

[2020-06-18 22:48] markcmiller86-visit commented on #12178
Hi Eric,

I’m talking about Section 8.4.3.2. Setting the number of lineout samples

I think my results may contradict it. However, this section correctly describes what happens if lineout is applied to 2-D data.

All the best,

Nick.

From: Eric Brugger via visit-users [mailto:visit-users@elist.ornl.gov]
Sent: Thursday, June 18, 2020 3:24 PM
To: visit-dav/live-customer-response
Cc: Eric Brugger; C

[2020-06-19 14:29] brugger1 opened #12179 "ffmpeg and MP4 on Windows 10"
Hi!

I just installed Visit 3.1.2 on a machine running Windows 10, and I'm not seeing an option to create mp4 encoded movies. I have ffmpeg version
4.3.2 installed and can access it from the command line. Is there something else I need to do allow VisIt to use ffmpeg?

Cheers,
Reiley

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-r

[2020-06-19 14:48] brugger1 commented on #12179
Hi Reiley,

You will need to add it to your search path. Another option that may be simpler is to copy the executable to the VisIt bin directory. For example, I have VisIt 3.1.1 installed in

\Users\brugger1\LLNL\VisIt 3.1.1\

If you copy "ffmpeg.exe" into that directory, VisIt should find it.

Here are the directions for installing ffmpeg and adding it to your search path.

You can download ffmpe

[2020-06-19 15:08] brugger1 opened #4821 "Modify VisIt launch script to unset LD_PRELOAD."
### Describe the bug

I had a user that was using VisIt on VNC and whenever he went to draw his first image VisIt would crash. He talked to some other users and they told him to check LD_PRELOAD. Sure enough he had is set for another OpenGL application and when he unset it, VisIt worked. We should do this in our launch script to avoid this in the future. Here is his e-mail.

All,

I was talking wi

[2020-06-19 15:10] brugger1 opened #4822 "Add ability to revolve point meshes."
A user called me today and said he wanted to revolve his 2D particle data and VisIt gave an error message. If effectively said that points are not supported. We should enhance the operator to support points.

[2020-06-19 15:52] brugger1 opened #12180 "Is there anyway to launch the GUI if you import visit into python."
A user was asking if it is possible to launch the GUI if you import visit into python. He used "Launch()", but that only launched the viewer and not the GUI. I looked through the documentation and couldn't find anything along the lines of LaunchGUI().

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-v

[2020-06-19 16:36] brugger1 commented on #12180
It's OpenGUI(). Thanks a lot Kathleen!!!

[2020-06-19 19:23] #4815 closed, assigned to aowen87

[2020-06-19 22:52] #4822 closed, assigned to aowen87

[2020-06-19 23:10] markcmiller86 opened #4829 "Add session files to tutorials"
Just thinking out loud here but wondering if it would be worthwhile to attach saved session files for key points in our tutorials?

Reason I ask is that I wanted to go produce the same image from a tutorial and found the only way I could do it was to follow the tutorial. Would have been great to be able to just run a session that produced it.

[2020-06-22 14:07] brugger1 opened #4830 "Improve line-out sampling description in manual"
### Describe what needs to be documented.

The description of the line-out sampling should be improved. It says sampling will give a smoother curve, which isn't always correct and probably isn't for low sampling numbers (which is probably the case by default). There should be a fuller description of the sampling and we should go into more detail on what situations one would be smoother than the ot

[2020-06-22 14:08] brugger1 commented on #12178
Thanks for the additional information. I submitted the following ticket to update the documentation.

https://github.com/visit-dav/visit/issues/4830.

[2020-06-22 16:24] griffin28 opened #12181 "Problem when install visit with my ubuntu18.04(WSL)"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Dear Sir/Madam,

I need to install visit with my Ubuntu18.04（Windows Sub

[2020-06-22 16:24] griffin28 commented on #12181
Hi,

Did you install the ubuntu 18 version? Is this the first time you have ever installed and run VisIt on your system? Can you try `visit -noconfig` and see if VisIt starts then?

Eric (@brugger1 )

[2020-06-22 17:28] TaigoFr commented on #2198
I am experiencing this as well. I've been a user for about 2 years now. All the color tables defined in `resources/colortables` appear wrongly (they appear exactly as in the picture in a previous comment). Only a few (like 'hot', 'bluehot') that are set probably in some other way are correct. My LANG env varible is en_US.UTF-8 . I guess it's the UTF-8 part that is causing the trouble as it changes

[2020-06-22 18:23] markcmiller86-visit commented on #12178
Hi everyone,

A lot of experiments have been performed and I’d like to let you know about their results.

1.       Visit, indeed, uses the finest AMR mesh. This is nice to know, since, say, Tecplot requires one to blank out the underlying levels and uses the lowest resolution otherwise. Too bad for it!

2.       Lineout with sampling seems to give a smoother curve only if one draws functions direc

[2020-06-22 19:46] #1555 closed, assigned to biagas

[2020-06-22 21:11] brugger1 commented on #12178
Hi Nick,

By grid functions do you mean cell centered variables defined by the simulation? I think we will have to dig in on this and see how it is implemented, since it isn't behaving as I would expect.

Eric

[2020-06-22 22:10] aowen87 commented on #2198
I'm unable to reproduce this locally on my Mac or remotely on our Linux clusters. The default setting for LANG in both environments is en_US.UTF-8. I also tried setting it to de_DE.UTF-8 and saw no differences.

@TaigoFr which version of VisIt are you using?

[2020-06-23 00:11] markcmiller86 opened #4836 "Is quartz1922.cmake still needed"
I happened to be debugging #4802 and was looking at config-site file and noticed that we have two for quartz, `quartz386.cmake` and `quartz1922.cmake`. Ordinarily, I'd expect one to be a symlink to the other but both are unique and the latter hasn't been modified for a year and it was confusing me when I was looking at it.

[2020-06-23 00:22] brugger1 commented on #4836
It uses a different MPI library. It would probably need updating for the current develop. A comment would also be in order.

[2020-06-23 00:26] biagas commented on #4436
@markcmiller86 If you instead make it a 'Continuous' color table with 'Smoothing' set to 'None', does it behave more like you would expect?  Although 'position' is stored and can be changed in the xml file, I believe it is ignored by any code processing discrete color tables (including the colortable window itself).

[2020-06-23 00:38] markcmiller86 commented on #4436
Yes, I get the behavior I expect. See images below...

### Unexpected result (using *discrete* color table)
![image](https://user-images.githubusercontent.com/5720676/85347906-d50e1300-b4ae-11ea-9425-423b76488a03.png)

### Expected result (using continuous with no smoothing as @biagas suggests)![image](https://user-images.githubusercontent.com/5720676/85347941-ea833d00-b4ae-11ea-956b-d40e26f38e8c.

[2020-06-23 00:40] markcmiller86 commented on #4436
BTW...it was *nice* that the numerical intervals still came through from the *discrete* `gorfo.ct` because when I switched to *continous*, they showed up and I didn't have to do more work to get those numerical thresholds set correctly, even though it was from a *discrete* load.

[2020-06-23 00:51] biagas commented on #2925
Cannot duplicate with current versions of VisIt (tried 2.13, 3.1.2), so will close.

[2020-06-23 00:51] #2925 closed, assigned to nobody

[2020-06-23 02:46] markcmiller86 opened #4837 "Is this build_visit ospray variable incorrect?"
In eye-balling `bv_ospray.sh`, I noticed that both `OSPRAY_DOWNLOAD_URL` and `OSPRAY_VISIT_MODULE_DOWNLOAD_URL` point to the *same* URL.

https://github.com/visit-dav/visit/blob/4eaf1fdec718ffe7249c479721d800dd60546b72/src/tools/dev/scripts/bv_support/bv_ospray.sh#L63

However, I think the first one, for the ospray library itself, should point to the opsray library itself and not the visit_module

[2020-06-23 02:55] markcmiller86 commented on #4802
@biagas I have manually built ospray from sources with debugging enabled and installed here...

[code]

I wonder if you can try building against this debug version and attempt to get the same stack trace as above or, maybe run single-processor parallel and valgrind the engine too? I suspect the cause of the problem is a memory corruption for some static/global objects.

[2020-06-23 02:56] markcmiller86 commented on #4802
@cyrush just because I recall you mentioning the TBB dependence here in a couple of recent discussions...did you know we can build ospray **without** TBB or **OpenMP**. There is an `Internal` tasking option that requires neither. I dunno if that somehow means we loose functionality that VisIt needs but I thought I'd mention in case its worthwhile exploring.

[2020-06-23 06:59] markcmiller86 commented on #4802
@biagas ... I have now tested what I believe to be same configuration you teste *except* using the newly compiled ospray and am not reproducing the engine coring or corefiles.

Below are relevant config items.

### Ospray

[code]

### VisIt

Symlink used in install dir above picked up the ospray that I built

I did get a *ton* of warnings from cmake about mesa-gl not being properly found

[code]

[2020-06-23 06:59] markcmiller86 commented on #4802
Oh, I think because I enabled debug in ospray, it changed behavior

[2020-06-23 09:36] TaigoFr commented on #2198
Thanks or trying it :)

I'm running VisIt 3.0.2
So the conclusion is that it's not the LANG environment but something else. This is my `locale`:
[code]
It's definitely related to me having Portuguese stuff around. I'd guess the `LC_NUMERIC` to be the one responsible for changing the decimal separator from dot to comma, but not sure. And this is the same problem in German, Spanish, etc. I've actual

[2020-06-23 15:11] biagas commented on #4802
I just tried, but CMake can't find your version of OSPray, probably due to permissions.

[2020-06-23 15:32] aowen87 commented on #2198
@TaigoFr Thanks for putting some effort into this! I'll take a closer look on my end as well.

[2020-06-23 15:37] #4805 closed, assigned to griffin28

[2020-06-23 15:45] brugger1 opened #4842 "Lineout not captured with command recording"
### Describe the bug

I turned on command recording to see what the command was to generate a Lineout and it never recorded it.

### To Reproduce

1. Open rect2d.silo.
2. Create a pseudocolor plot of d.
3. Bring up the command window and turn on recording.
4. Switch to lineout mode and perform a lineout.
5. Turn off recording.

The lineout command is not recorded.

### Desktop
 - OS and version:

[2020-06-23 15:50] griffin28 opened #12182 "VisIt cluster build, AMD and intel/2019"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Greetings,

Our admins are having trouble installing visit on a new clus

[2020-06-23 16:10] griffin28 commented on #12182
Hello Robert...this looks like an issue down at the kernel level. It looks like the Streaming SIMD Extensions aren't supported which I believe affects floating point operations in the kernel. Have you tried looking at adding/removing CFLAGS like -mno-sse?

I'm not familiar with EasyBuild, does it leverage the build_visit scripts? Do you have any build logs you can share?

[2020-06-23 17:33] griffin28 opened #12183 "How to report bug in VisIt?"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I believe I might have found a bug in VisIt. How should I report it? I
wa

[2020-06-23 17:34] griffin28 commented on #12183
Erik...you can create an issue ticket here: https://github.com/visit-dav/visit/issues

[2020-06-23 17:42] #3588 closed, assigned to aowen87

[2020-06-23 18:08] markcmiller86 commented on #4802
Hmmm...I checked those and thought (though didn't look too closely) they were good. Nonetheless, I just now went there and ran...

[code]

So, can you maybe try again?

[2020-06-23 18:08] markcmiller86 commented on #4802
I asked above and I will ask here again...anyone know of reason NOT to update to latest ospray?

[2020-06-23 18:13] eschnett opened #4845 "Visit visualization error with Silo time series"
I have a time series of 3d data in Silo format, with one iteration per file. When I visualize the file for one particular iteration (192) directly, I see the expected result. When I open all files together (as "database") and choose the respective iteration, then the output is wrong. This error does not occur when I output the data as Plotfile instead of Silo.

 - Did VisIt crash: no
 - Did you ge

[2020-06-23 18:20] brugger1 commented on #4802
You can probably update to the latest 1.x version. With 2.0, there were a lot of API changes, so that would require potentially significant code changes.

[2020-06-23 18:21] griffin28 commented on #12183
Issue reported here: https://github.com/visit-dav/visit/issues/4845

[2020-06-23 18:26] markcmiller86 commented on #4845
@eschnett thanks for this super detailed report and associated data! Very helpful in diagnosing cause.

Just curious...did you happen to try the *nuclear option*...`VisIt->Preferences->Databases...` check the box for `Treat all databases as time varying`? Its a potential performance killer but am wondering if it might fix your current issues

[2020-06-23 18:33] eschnett commented on #4845
I confirm that this preference corrects the problem! Thank you.

Do you think that this is an issue in VisIt, or is there a setting missing in the Silo files? For example, could there an "iteration" tag missing on one of the grid structures?

Each Silo file corresponds to a single iteration and is written independently, then these files are "stitched together" via a `*.visit` file. Is there a way

[2020-06-23 18:34] eschnett commented on #12183
Thanks. Did that. I couldn't find a pointer to Github from the VisIt pages or VisIt wiki.

[2020-06-23 18:53] markcmiller86 commented on #4845
You can have the Silo *database* tell VisIt to treat it is time varying by having the data producer do the following...

[code]

in every file.

I suspect *always* doing this for an AMR code like AMReX is probably ok. But, in truth, it only needs to be done for those time series where *metadata* is indeed time varying. Thats a bit of a squishy subject though. If material names or counts change, nu

[2020-06-23 18:54] #1197 closed, assigned to biagas

[2020-06-23 19:01] markcmiller86 opened #4846 "Treat any database with AMR mesh as time-varying metadata"
`avtFileFormat::HasInvariantSIL()` and `avtFileFormat::HasInvariantMetaData()` are the functions VisIt calls down into a plugin to ask if the *current* database is timevarying in SIL or MD.

A potential hedge against #4845 (which I think comes up for a lot of users) would be to have these methods return true whenever there is a mesh of type `AVT_AMR_MESH` in the database.

A minor problem with the

[2020-06-23 19:22] rmrsk commented on #12182
Hi Kevin - I don't have those as these things are handled by our admins, who have more knowledge about this than I do.

Is it OK if I put them in direct contact with you? Is this github issue a good arena for discussion, or would you rather communicate over email? If you want, we could also pick up the phone/zoom/skype...

[2020-06-23 19:26] biagas commented on #4802
I can configure, but I think there are bad things happening, because even though I changed VISIT_OSPRAY_DIR to point to yours, CMake is picking up references to the original one (through embree, ispc, or tbb?)  Does your ospray version depend on those? Or should I remove them from the config-site file and modify FindOSPray to not search for them as a proper test of your ospray build?

[2020-06-23 19:45] markcmiller86 commented on #4802
Yeah, my ospray install uses the embree, ispc and tbb that is installed there for your original install. What I didn't explore was whether ospray is a *leaf* dependency or whether there is perhaps something else there that *depends on* ospray.

So, lets do this...don't spend more time on it now. If it was easy, I thought having a look from your end might be worthwhile but not if it takes anything

[2020-06-23 19:45] eschnett commented on #4845
Thanks for the quick help. The `MetadataIsTimeVarying` does the trick.

I wonder whether this is documented somewhere, or whether this is one of these gems that gets passed orally from mage to apprentice.

[2020-06-23 19:45] #4845 closed, assigned to nobody

[2020-06-23 19:53] brugger1 commented on #4802
VTK depends on OSPRay. OSPRay depends on tbb, embree and ispc.

[2020-06-23 19:56] markcmiller86 opened #4847 "Document database specific features"
There are features of databases that are either specific to a given plugin type or perhaps just specific to databases or their data which are not well documented.

Some examples...

- MetaDataIsTimeVarying variable in Silo plugin but is not documented even in Silo manual like [`ConnectivityIsTimeVarying`](https://wci.llnl.gov/content/assets/docs/simulation/computer-codes/silo/LLNL-SM-654357.pdf?#p

[2020-06-23 19:57] markcmiller86 commented on #4845
That specific case, no, I don't think it is documented *anywhere*. Just added #4847. There are other such variables documented in the [Silo User's Manual](https://wci.llnl.gov/content/assets/docs/simulation/computer-codes/silo/LLNL-SM-654357.pdf?#page=299)

[2020-06-23 19:58] markcmiller86 commented on #4802
Ok, well, I didn't also re-build VTK with the ospray I installed. That said, when I ran the `contour.py` test, I did get valid pictures and all `PASSED` status from tests.

[2020-06-23 20:04] aowen87 opened #4848 "bv_mili odd patch system"
While #4827 was being reviewed, @biagas pointed out that bv_mili.sh has several patches that are specific to versions and that we might not need this. For instance, here is a patch function:

[code]

This seems a bit odd... Do we really need our latest VisIt release to be capable of building the older mili libraries? Even if we do, this script isn't fully set up to handle that.

[2020-06-23 20:17] brugger1 commented on #4802
I suspect that was ok, since it should have been the same source.

[2020-06-23 20:20] griffin28 commented on #12182
@rmrsk ...my email is griffin28@llnl.gov. Send me an email and I'll setup a time for tomorrow. I will basically be looking to determine if there's something particular to VisIt that's causing the issue. Your admins will need to figure out any system specific issues. The build_visit (https://github.com/visit-dav/visit/tree/develop/src/tools/dev/scripts) and bv_*.sh (https://github.com/visit-dav/vis

[2020-06-23 20:21] markcmiller86 commented on #4802
Ok, I am re-producing @biagas issues by re-building against the original ospray install.

[2020-06-23 20:34] cyrush commented on #4802
@markcmiller86 with respect to not using tbb, embree, etc. My understanding is these are core to how they can use multi-threading and vectorization and get decent performance. I am not sure if there are features that require these, that could be the case, or it could be that you can build w/o and things would be slower.

[2020-06-23 20:47] markcmiller86 commented on #4802
Ok, got a valgrind snapshot of what is happening too. Its attached (7z compressed but with faked gz extension)

[valgrind.7z.fake.gz](https://github.com/visit-dav/visit/files/4821818/valgrind.7z.fake.gz)

I see a bazillion of `conditional jump or move depends on uninitialized memory` like this one...

[code]

But, the real show-stopper appears to be...

[code]

[2020-06-23 21:04] markcmiller86 commented on #4802
I am thinking the problem is related to this code in ospray in `renderer/LoadBalancer.h` and in particular, the `static std::unique_ptr<>` instance member in this struct.

[code]

[2020-06-23 21:13] rusu24edward opened #4849 "What is this danger sign in the expressions doc?"
<img width="834" alt="Screen Shot 2020-06-23 at 2 11 14 PM" src="https://user-images.githubusercontent.com/18565891/85463544-9c784300-b55b-11ea-8769-e61a049949e7.png">

[2020-06-23 21:14] aowen87 opened #4850 "Crash when plotting (Engineering)"
### Describe the bug
Ryan Felini is running into some strange issues with plotting anything in VisIt. Basically, he can open a dataset, but VisIt will crash when he tries to plot anything.

Ryan gave me a copy of the dataset to try out myself (a mili dataset), and I haven't encountered any issues with it (everything plots without issue). He's running VisIt through Remote Desktop and Exceed. I'm no

[2020-06-23 21:28] rusu24edward commented on #4849
<img width="823" alt="Screen Shot 2020-06-23 at 2 28 26 PM" src="https://user-images.githubusercontent.com/18565891/85465631-dc402a00-b55d-11ea-992f-bfc511926714.png">

[2020-06-23 21:49] rusu24edward commented on #1370
Expressions defined in the cli will automatically appear in the gui and be treated like any other expression in the expression list. Expressions defined in the gui or db will be overwritten by what is typed in the cli.

Duplicate expressions now handled well for conflict with db expressions, but still not handled very well for conflict with expression native db variables.

[2020-06-23 22:33] brugger1 commented on #110
This and #4202 should both be addressed.

[2020-06-23 22:56] #4314 closed, assigned to nobody

[2020-06-23 22:59] biagas commented on #4143
Pseudocolor plot actually uses avt/Filters/avtStaggeringFilter, not the Stagger operator.
They may be functionally equivalent, except for how the filter receives its offset options. The operator receives it from atts, the filter from OFFSET_ 3 in avtVariableCache.

[2020-06-23 23:08] aowen87 commented on #4850
We had a quick webex meeting so that he could screen share his actions, and everything he's doing looks fine. My first thought was that it could be a file permission issue, but the permissions looked fine. Another thought is that it might be related to some settings in Exceed. Ryan is planning to compare his configuration to a co-worker's configuration (who can open these files) to look for discre

[2020-06-23 23:11] aowen87 commented on #4850
@brugger1 also mentioned the use of the LD_PRELOAD in a potentially similar case. Eric, do you have any instructions I can send to Ryan to try out (maybe clearing the LD_PRELOAD variable)?

[2020-06-23 23:25] brugger1 commented on #4850
I think he can just do a unsetenv LD_PRELOAD.

[2020-06-23 23:35] aowen87 commented on #2198
I'm still having a hard time replicating this... @TaigoFr do you see any difference if you set LC_ALL to en_US.UTF-8?

[2020-06-24 00:11] markcmiller86 commented on #4143
There are a few different things in VisIt with the word `Stagger` associated with them.

The upshot is that I think we should keep Stagger operator but maybe not have it be enabled by default. Am closing this issue but with the added info here...

* The Stagger operator (`operators/Stagger`)
  * Added by Brad in 2012
  * Accepts 3 offset values for `X`, `Y` and `Z`.
  * Not tested anywhere
  * Imp

[2020-06-24 00:11] #4143 closed, assigned to nobody

[2020-06-24 00:14] markcmiller86 opened #4853 "Make Stagger operator disabled by default"
The [stagger operator](https://github.com/visit-dav/visit/issues/4143#issuecomment-648491793) is pretty highly specialized. Its not likely to be used by many users. I think its best if we make it disabled by default.

[2020-06-24 02:18] griffin28 opened #12184 "Question about time slider"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hi,
I have a plot with two open databases and I would like the time to a

[2020-06-24 02:23] griffin28 commented on #12184
Hello Betsy...yes it is possible to advance time for both plots simultaneously. You will need to do a time lock (https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/MultipleDatabaseAndWindows/Multiple_Window_Operations.html?highlight=Lock%20time#locking-time)

It is the **lock** icon at the far right end of the tool bar. Once you've activated it the *Active time slider* wi

[2020-06-24 02:25] markcmiller86-visit commented on #12184
Hi Betsy,

The Database Correlation option under the "Controls" menu will do this for
you, I believe. In the menu click "new" then select the two sliders you
wish to attach to each other. This will create a third time slider that
moves both at once. If you have more than one window, you may also wish to
click the "lock time" to make all your windows change time simultaneously.
(Not a developer, ju

[2020-06-24 16:03] eschnett opened #4854 "Making a movie slows down after about 100 frames"
I am making a movie from a time-dependent simulation. The setup is quite simple (2d slice of 3d data using Pseudocolor and Slice, no camera movement etc.). Each frame is written to a separate png file. The first 150 frames or so are produced quite quickly (several frames per second), and then things slow down dramatically. During this slow-down, my laptop becomes almost unresponsive, my web browse

[2020-06-24 16:57] TaigoFr commented on #2198
Thanks as well for the effort :)
If I set LC_ALL to en_US.UTF-8, it all works as it should! I don't know why Ubuntu is not setting that one (as i guess you saw from my previous comment).

[2020-06-24 17:45] aowen87 commented on #2198
I was finally able to reproduce this, but I'm only able to do so on Ubuntu. I'll start looking for a more permanent fix.

[2020-06-24 17:50] griffin28 opened #12185 "Building VisIt on SUSE"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Dear friends,

   I am building visit on suse with the following options

[2020-06-24 17:51] aowen87 commented on #2198
To reproduce on Ubuntu19.1, you just need to set the LC_ALL to something other than English:
[code]

[2020-06-24 17:55] griffin28 commented on #12185
Hello Manel...your attachments were removed by our filters. Please upload your log files here: `ftp://ftp.llnl.gov/incoming` and then let me know it is there and the name of the file.

[2020-06-24 18:02] markcmiller86 commented on #12185
Or, better yet, just attach the logs here as `.tar.gz` file if practical.

[2020-06-24 18:25] #1370 closed, assigned to rusu24edward

[2020-06-24 18:38] griffin28 commented on #12182
Hi,

I have been trying for some time to install VisIt 3.1.2 using EasyBuild. In order to reduce the number of unknowns, I have recently moved the attempts of installing Visit from the new AMD cluster Betzy to our old and reliable Intel cluster Fram.

I have placed the EasyBuild scripts and the resulting build logs on the Internet for my last two attempts:

http://folk.ntnu.no/hrn/visit/intel-2018

[2020-06-24 18:38] griffin28 commented on #12182
Henrik...it looks like the build doesn't like the system python. Try having VisIt build its version of python. Remove --system-python and add --python and --openssl.

-- Kevin

[2020-06-24 20:19] eschnett opened #4855 "Silo library does not build with HDF5 1.12"
The Silo library does not build with HDF5 1.12; it requires HDF5 1.10 or earlier.

- Is the Silo library still supported? The last release is from 2014.
- Do you know whether there is a Silo bug tracker? The Silo documentation https://wci.llnl.gov/simulation/computer-codes/silo/documentation points to https://visitbugs.ornl.gov/projects/silo, which does not exist.
- Is there a way to submit a pull

[2020-06-24 20:24] markcmiller86 commented on #4855
Yes, working on new release. Thanks for patience

Oh, thanks for pointing out. The new issue tracker is [temporarily being managed here](https://github.com/markcmiller86/silo-issues/issues)

Not yet. You can send a patch to @markcmiller86

Depends on what you are doing and whether other formats support it (well). I don't know too many formats that support AMR other than Silo, AMReX native (which I

[2020-06-24 20:28] eschnett commented on #4855
Thanks! Will the new Silo support newer HDF5 libraries, or are you looking for a pull request for this?

For the record: AMReX native it not yet HDF5, but should be really soon https://github.com/AMReX-Codes/amrex/pull/1048.

[2020-06-24 20:41] markcmiller86 commented on #4855
Yes, and older versions too. Newer HDF5 stuff is needed for improved performance with certain cases of metadata.

Be aware that if you have workflows with software components still on HDF5-1.8 or HDF5-1.10 and wind up using *newest* features of HDF5-1.12, you can create files that will not be readable in those software components using older HDF5 versions.

This is *most easily* ensured with a dat

[2020-06-24 21:30] griffin28 commented on #12185
Looking at the log files and if my translation is correct: `no s'ha trobat l'ordre => command not found` It looks like you need to install **patch** and **autoconf** on your SUSE system.

VisIt build scripts use the patch command to patch third-party software and autoconf to build some third-party libraries.

[2020-06-24 22:05] markcmiller86 commented on #4855
This is now resolved. Thanks again for pointing out. Since this was the only issue here requiring immediate action, I am now closing.

[2020-06-24 22:05] #4855 closed, assigned to nobody

[2020-06-24 22:33] aowen87 commented on #2198
In the original bugfix that was applied, we are setting locale to "en_US". This appears to work fine for most systems, but Ubuntu is not happy with this. Adding a check for the result of setlocale shows that this function succeeds for Mac and RedHat, but it fails for Ubuntu.
Changing the fix from setlocale(LC_ALL, "en_US") to setlocale(LC_ALL, "en_US.UTF-8") appears to resolve this issue. I'll get

[2020-06-24 23:31] #2198 closed, assigned to markcmiller86, aowen87

[2020-06-25 08:37] markcmiller86 opened #12186 "Unable to make movie from command-line on quartz"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

A user (Niel Hodge) is unable to create a movie from command-line on qua

[2020-06-25 15:15] aowen87 commented on #4850
It was indeed the LD_PRELOAD library. A colleague had recently suggested he set this to a mesa build to help with Cubit performance. Clearing this variable resolved the issue, but he's wondering if it's possible for VisIt to raise a warning in the future in case anyone else encounters this. @brugger1 @markcmiller86 Any thoughts on checking this environment variable within VisIt?

[2020-06-25 15:49] griffin28 commented on #12182
New tests also failed: http://folk.ntnu.no/hrn/visit/2/

R

-----Original Message-----
From: Henrik R. Nagel via RT <support@metacenter.no>
Sent: torsdag 25. juni 2020 09:13
To: Robert Marskar <Robert.Marskar@sintef.no>
Subject: [uninett.no #213754] Betzy, VisIt for visualisering

Hi,

I have recompiled VisIt and have new results in:

https://eur03.safelinks.protection.outlook.com/?url=http%3A%2F%

[2020-06-25 15:51] griffin28 commented on #12182
@cyrush Looks like the openssl update is biting us again.

Ok...looks like you're getting closer. The Openssl version was updated and I've ran into this issue also. Attached is a file (bv_openssl.sh) that will download the previous openssl version. Can you replace your current bv_openssll.sh file located under src/tools/dev/scripts/bv_support with this one? It downloads the previous openssl versio

[2020-06-25 16:00] cyrush commented on #12182
@griffin28 yes, there it is again. Some how we must be using two versions of openssl. We are trying to use a newer version but some part of the change is linked to an older system version.

For the intel 19 case, looking deeper, that case has a different openssl issue.

There is an openssl related failure in build of cmake itself.  We don't actually pass the build_visit version of openssl lib to c

[2020-06-25 16:24] griffin28 commented on #12182
@cyrush I wonder if setting `-DCMAKE_USE_OPENSSL=1` is causing the issue in the intel 19 case? I don't set this variable explicitly during my builds.

[2020-06-25 16:27] cyrush commented on #12182
@griffin28 could be, but I think the default is on (should be equiv to 1). It would be good to know why that flag was provided.

[2020-06-25 17:37] brugger1 commented on #4850
I believe we can just unset LD_PRELOAD in our launch script. I submitted ticket #4821 with this suggestion.

[2020-06-25 17:48] #4850 closed, assigned to aowen87

[2020-06-25 21:24] #1901 closed, assigned to rusu24edward

[2020-06-26 10:53] TaigoFr commented on #2198
Thank you very much for the prompt help :)

[2020-06-26 15:15] aowen87 commented on #2198
You're welcome! Definitely let us know if you continue to have issues.

[2020-06-26 15:47] griffin28 commented on #12182
Hi,

I added the file to the VisIt tarball and I patched the build-script with the information about the older version of OpenSSL. These are the results:

https://eur03.safelinks.protection.outlook.com/?url=http%3A%2F%2Ffolk.ntnu.no%2Fhrn%2Fvisit%2F3%2F&amp;data=02%7C01%7CRobert.Marskar%40sintef.no%7C7b2cb1389e384e8adab408d819c93909%7Ce1f00f39604145b0b309e0210d8b32af%7C1%7C0%7C637287699322012991&a

[2020-06-26 16:31] griffin28 commented on #12182
For the intel-2018b the Meta-Object Compiler doesn't appear to be installed. This is probably due to your use of --system-qt instead of having visit build qt for you.
I'm not sure what your system QT has but you may want to check that you have the "development tools" installed to include /bin/moc. Alternatively, try removing --system-qt and adding --qt.

For the intel-2019 cases there's an issue w

[2020-06-26 16:50] griffin28 commented on #12182
The links below may help provide insight for your intel-2019a build issues. Also, instead of reverting to an earlier version of openssl, try using the latest for this build. In the build_visit log file the relevant details are above the line: `make[2]: *** [Utilities/cmcurl/LIBCURL] Error 1`

https://github.com/curl/curl/issues/1128

https://github.com/curl/curl/issues/860

[2020-06-26 17:39] griffin28 opened #12187 "Compute Engine Exits Abnormally"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

I have compiled Visit 3.1.0 on rhel 7.2 workstation using a simple build

[2020-06-26 17:42] griffin28 commented on #12187
Kevin...use `-debug 5` that should generate log files. Please tar.gz them up and attach them to this issue. I will look at those files and see if I can see what's going on.

[2020-06-26 18:42] markcmiller86 opened #4860 "Sanity check session file used in -movie before launching movie"
### Describe the bug
This is related to [this SRE issue](https://github.com/visit-dav/live-customer-response/issues/93)

The command...

[code]

failed in a SEGV in viewer on quartz.

@brugger1 debugged the problem to the fact that when the session was saved, the viewer window was in pick mode. What @brugger1 discovered was that changing this line...

[code]
to this line...
[code]
in the `movie.se

[2020-06-26 19:15] brugger1 commented on #4860
I was able to reproduce the behavior with dbA00.pdb. Here are the session files (with a "txt" extension, so that GitHub will like it).

[movie.session.txt](https://github.com/visit-dav/visit/files/4838848/movie.session.txt)
[movie.session.gui.txt](https://github.com/visit-dav/visit/files/4838849/movie.session.gui.txt)

Here is the execute line to make the movie on quartz.

/usr/gapps/visit/bin/vis

[2020-06-26 19:25] brugger1 opened #4861 "Strangeness with session files saved for later movie making."
### Describe the bug

I went through the movie creation wizard and told VisIt I would make the movie later. It saved a session file and gave the command to execute to make the movie. I was on quartz and if I was on the same node as I used to create the session files, all was right with the world. If I was on another node, it ssh'ed to the node I was on and launched a batch job from there. This is

[2020-06-26 19:57] markcmiller86 opened #4862 "Add to docs info about getting circles and spheres"
### Describe what needs to be documented.
Many times, users have inputs that they know the X and Y scaling on and expect to see visualized in front of them an object that is proportioned to the scaling they are accustomed to thinking about (and maybe seeing in other context). The classic example of this is a 2D circle. They plot it in VisIt and it doesn't look like a circle, or semi-circle, or wha

[2020-06-26 20:02] markcmiller86 opened #12188 "How do I get proper scaling for cicularized output"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

This came in on [MS Teams](https://teams.microsoft.com/l/message/19:18e9

[2020-06-26 20:03] markcmiller86 commented on #12188
I've helped this user and added [this product development issue](https://github.com/visit-dav/visit/issues/4862)

[2020-06-26 20:06] markcmiller86 commented on #12186
@brugger1 and @markcmiller86 spent time (probably a few hours between us) debugging and resolved but filed this [product development issue](https://github.com/visit-dav/visit/issues/4860)

[2020-06-26 22:47] brugger1 commented on #12178
Hi Nick,

I've been investigating the lineout interpolation for nodal and zonal quantities and I believe I understand the sampled lineouts, but the non-sampled lineouts are not working as I expected and will require further investigation. I will keep on working on this next week and update this issue as I learn more information.

Eric

[2020-06-27 22:04] markcmiller86 opened #4863 "Should we create a visit-help@llnl.gov alias"
This came up as a result of an email exchange with Ines. She was somewhat confused and worried that other users would be confused that `visit-help` was `@ornl.gov` and not `@llnl.gov`.

[2020-06-29 13:14] vsisl opened #12189 "troubles using XDMF to read HDF5 data"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Dear VisIt community,

I would like to share my difficulties when using t

[2020-06-29 13:16] vsisl commented on #12189
My data and reader.xmf is here:
[data_and_reader.tar.gz](https://github.com/visit-dav/live-customer-response/files/4845716/data_and_reader.tar.gz)

[2020-06-29 15:16] biagas commented on #12189
Thank you for providing the data. It looks like VisIt is reading NAN for most of the values for your field 27060.  I noticed your field dimensions are listed as (52 45 45) in the .xmf file, but it seems like it should be listed as 45 45 52 (according to the sizes of your coordinate arrays).  Simply changing the numbers in the .xmf file didn't help, so I'm still digging, and will get back with you.

[2020-06-29 15:37] markcmiller86 commented on #12189
@vsisl it looks like the HDF5 file itself is bad...

[code]

[2020-06-29 15:41] markcmiller86 commented on #12189
Alternatively, if you are using a `nan` value for the *missing value* functionality from Silo...that does not translate to XDMF, at least not that I am aware of. In which case, re-write the data using some value, like maybe -999, outside the desired range of the variable in place of all those nans and then when displaying with PC plot, add an threshold operator that removes all cells with value -9

[2020-06-29 15:42] markcmiller86 commented on #12189
Also, can you attache the Silo version of you data too? That could help debug what is going on with the xmf data.

[2020-06-29 15:55] vsisl commented on #12189
Hello @biagas @markcmiller86

Thank you so much for looking into this!

I was following [an example from visitusers.org](https://visitusers.org/index.php?title=Using_XDMF_to_read_HDF5), but maybe I interpreted the instructions wrong...
_Note that the order of the coordinates when using HDF5 and the XML file is: Z, Y, X (with Z being optional)._

I didn't realize nan values might be causing this. I

[2020-06-29 15:56] markcmiller86 commented on #12189
@biagas and @vsisl sorry to dribble this out. I just happened to notice that the `.xmf` file says that dataset `27060` has `NumberType="Float" Precision="4" ` but the actual hdf5 file shows it is a `double`. You might also try just manually changing precision to `8` in the `.xmf` file. Or, maybe the data producer told HDF5 the wrong thing and actually handed it `float` type data but told HDF5 the

[2020-06-29 16:03] markcmiller86 commented on #12189
Yes, right. VisIt can. However, not all database formats can. I honestly do not know if XDMF can. If it does, however, I see nothing in the `.xmf` file you provided that indicates it is *capturing* that information.

Finally, even *if* XDMF *does* support missing data (maybe it was a feature recently added), the existing reader(s) in VisIt do not appear to be processing  that so they would require

[2020-06-29 16:11] biagas commented on #12189
Thanks @markcmiller86, I appreciate you jumping in, you know more about our HDF5 readers than I.

[2020-06-29 16:15] markcmiller86 opened #4864 "Automatically support Nan's in fields as missing values"
VisIt supports [missing data](https://visitusers.org/index.php?title=Missing_Data_Implementation) in fields (as an aside, is this documented in our main docs?). We should use this feature to automatically treat Not-a-number (NaN) values in variables as missing data, perhaps with a warning message. Maybe have a global pref that controls the default behavior of this.

[2020-06-29 17:30] vsisl commented on #12189
I tried the following:

- Changing `Precision="4"` to `Precision="8"`,
- changing `NumberType="Float" Precision="8"` to `NumberType="Double" Precision="8"`,
- generating a new h5 file with -999 replacing nan values (attaching here: [data_and_reader.tar.gz](https://github.com/visit-dav/live-customer-response/files/4847081/data_and_reader.tar.gz)
).

Unfortunately, none of these changes worked and I

[2020-06-29 17:45] markcmiller86 commented on #12189
Ok, thanks for attaching the data. Am thinking @biagas observation regarding the indexing is still an issue. Playing with things a bit.

[2020-06-29 18:27] markcmiller86 commented on #12189
Ok, when I open the raw `db_file-no_nan.h5` file with our Pixie reader, I get what we expect...

### No-NaNs

![Untitled](https://user-images.githubusercontent.com/5720676/86040870-9bcb2b00-b9f9-11ea-9a96-4880db973361.png)

### NaNs

![Untitled 2](https://user-images.githubusercontent.com/5720676/86041566-ad610280-b9fa-11ea-911b-c46df0d0f1a6.png)

* Top-left: Pseudocolor plot of variable
* Top-rig

[2020-06-29 18:46] markcmiller86-visit commented on #12189
[Earlier on I sent this to the list only, but not sure if it is better
to send it to the github-issue address as well. Apologies for the
duplicated message, but just in case. I hope the github-issue address is
not only for developers?]

Hi,

I was just playing the other day with XDMF files, so I decided to give
it a try.

With the .xmf file changed as per the attached version and filtering out
the

[2020-06-29 19:29] markcmiller86 commented on #12189
Thank you Angel de Vicente!!

I've pasted your attachments here...

![image](https://user-images.githubusercontent.com/5720676/86047400-b60a0680-ba03-11ea-814b-5f52483a5099.png)

[code]

[2020-06-29 19:31] markcmiller86 commented on #4864
Am closing because guess what...it looks like VisIt already [does this!!](https://github.com/visit-dav/live-customer-response/issues/96#issuecomment-651285773)

[2020-06-29 19:31] #4864 closed, assigned to nobody

[2020-06-29 19:54] vsisl commented on #12189
I confirm that this is the solution! Many thanks to all involved! @markcmiller86 @biagas Ángel de Vicente

[2020-06-30 17:56] griffin28 commented on #12187
Hello - Please see my Debug 5 log files attached.

Thank you

Kevin Mueller

[log.tar.gz](https://github.com/visit-dav/live-customer-response/files/4853636/log.tar.gz)

[2020-06-30 19:39] biagas commented on #12187
Attaching the original build log files that were sent to the users list.
[visit_build_log.tar.gz](https://github.com/visit-dav/live-customer-response/files/4854071/visit_build_log.tar.gz)

[2020-06-30 19:59] biagas commented on #12187
Thank you for providing the log files.
For your build_visit problem with sphinx, you can add ''--no-sphinx" next time to avoid the issues.

As for the debug log files, I don't see anything in them that indicate the problem. I think your best best is to run it through gdb.
You will need to re-build visit in debug mode. Don't use the build_visit script, just follow the directions below.
It uses the

[2020-06-30 20:57] biagas commented on #4640
I am unable to duplicate this on my local linux (rhel6) machine, using installed visit 3.1.2.
I removed ~/.visit/config and ~/.visit/guiconfig
I ran visit 3.1.2, turned on the 'Post Windows when shown' and save settings. I then opened a window, it was posted.
I closed visit and reran. My settings were preserved and windows were posted when opened.

[2020-06-30 22:55] #4378 closed, assigned to nobody

[2020-06-30 23:16] markcmiller86 commented on #4380
Ok, the gist of this issue is that one does not get the same startup behavior between `-cli` and non-`-cli` runs.

Create this `~/.visit/visitrc` file...
[code]

Now run these two commands...

[code]

You get a plot with no annotations

Now, do the same thing but remove `-cli` from the above VisIt command line. You get a plot *with* the annoations.

[2020-06-30 23:25] griffin28 commented on #4380
@markcmiller86 yes, https://github.com/visit-dav/visit/issues/2270 changed the GUI behavior to no longer start the CLI on the existence of the visitrc file.

[2020-06-30 23:31] markcmiller86 commented on #4380
Ok, so, I think what we need to change that slightly and find some way so that `~/.visit/visitrc` gets processed *always* **and** that we don't create surprises like extra clients, funky shut-down behavior and/or orphaned process (all of which I mention because I think those behaviors have been associated with `visitrc` file processing in the past). In particular, maybe the right thing to do for t

[2020-06-30 23:39] markcmiller86 commented on #1887
Closing because there is no longer any references to the `int64_t` type in the Exodus plugin

[2020-06-30 23:39] #1887 closed, assigned to nobody

[2020-07-01 17:48] brugger1 opened #4866 "Ability to threshold points within a range, not just zones."
I had a user requesting a way to display the nodes that are shared by two specific variables. I created a variable that was 1 if it was shared by the two materials and 0 otherwise. I wanted to threshold the nodes that were 1. I couldn't do this, since the Threshold operator only works on zones. It seems like thresholding nodes also makes sense. The result would be a point mesh, but that seems reas

[2020-07-01 17:56] brugger1 opened #4867 "Improve non sampled Lineout interpolation for nodal variables."
### Is your feature request related to a problem?

I was performing a Lineout with sampling turned off of a nodal variable that represented a smooth function and was surprised when the resulting line was rather jagged. I dug into the code and found out that it choose the intersection points based on where the line intersected the boundaries of the cell with the function value chosen as the average

[2020-07-01 20:31] brugger1 commented on #12178
I explored the behavior of the Lineout operator and replaced the existing Lineout documentation with detailed explanations and examples of how it behaves. Here is the link to the new documentation.

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Lineout.html#lineout-operator

[2020-07-02 14:11] biagas opened #12190 "Schlieren Post Processing of Hydrodynamics Simulations"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Does anyone know about a way to post process density results from hydrody

[2020-07-02 15:14] biagas commented on #12190
Response from Tomek Plewa
=========================
Use Controls -> Expression to create a mesh variable; in 2D,

constA*exp(constB*magnitude(ij_gradient(<var>))

Tomek
=====================

Rick indicated Tomek's solution worked.

[2020-07-02 15:45] cyrush commented on #12190
depending on the mesh type ,the ij gradient isn't a good choice -- it doesn't calc the right dx, dz, dy factor -- I would compare against the standard gradient.

[2020-07-02 15:45] cyrush commented on #12190
well not the mesh type, but the nature of the mesh. Depends on how dx,dy,dz compare to logical deltas.

[2020-07-02 16:59] #4576 closed, assigned to biagas

[2020-07-03 17:16] vsisl commented on #12189
I'm sorry to reopen this issue, but I realized that there is another bug in the solution kindly provided by Ángel de Vicente.

@markcmiller86 looking at your latest screenshot, I noticed that the coordinate system is rotated. (I highlighted this in the picture attached below - **the correct coordinate directions are marked in red**.)
![image](https://user-images.githubusercontent.com/28457179/8648

[2020-07-03 17:49] markcmiller86-visit commented on #12189
Hello,

vsisl via visit-users <visit-users@elist.ornl.gov> writes:

That's why I told you that you had somehow mixed the precision and the
coordinates order.

If you look at your file:

,----
| HDF5 "db_file.h5" {
| GROUP "/" {
|    GROUP "data" {
|       GROUP "component1" {
|          GROUP "2024-01-01" {
|             GROUP "fields" {
|                DATASET "27060" {
|                   DATAT

[2020-07-03 18:48] vsisl commented on #12189
Thank you for your prompt reply Ángel de Vicente! I really appreciate your effort!

I was convinced, that my `db_file.h5` was correct. The mesh definition

- /data/component1/mesh/x: (46)
- /data/component1/mesh/y: (46)
- /data/component1/mesh/z: (53)

**is correct.**

And I believed that also my dataset

- /data/component1/2024-01-01/fields/27060: (45, 45, 52)

was correctly defined...

I'm surpr

[2020-07-04 10:50] markcmiller86-visit commented on #12189
Hi,

vsisl via visit-users <visit-users@elist.ornl.gov> writes:

Nothing wrong with your file, as far as you stick with codes that follow
the "C" array convention for data storage. In a HDF5 file, by default,
the first dimension stored in the list of dimensions is the slowest
changing dimension and the last dimension stored is the fastest changing
dimension.

This still gets me a bit confused, to

[2020-07-06 22:25] brugger1 opened #12191 "Visit on Pleiades"
Hello,

I’m trying to load a 500 Gb file into Visit on Pleiades. Unsuccessfully so far. The same file works fine on Comet with 10 Haswell nodes (240 cores). I use supposedly the same haswell nodes on Pleiades and it’s not enough memory. In reality, I asked 10 times more memory using Ivy nodes with the same failure.

Has anybody any idea about what’s going on?

All the best,
Nick.

Nikolai V Pogore

[2020-07-06 22:25] brugger1 commented on #12191
Hi Nick,

Can you give a little bit more information.

What is the file format of the data?
Are you also using 10 haswell nodes on Pleiades?
Does Pleiades have the same amount of memory per node as Comet?
What are the versions of VisIt you are using on Comet and Pleiades?

Eric

[2020-07-07 00:49] SeifIbrahim opened #4872 "Different DataBinning results for different menu paths"
### Bug Description
When using the DataBinning operator and outputting on the mesh, the result will be incorrect for one menu path but not the other.

Correct menu path: `Add->Pseudocolor->operators->DataBinning->2D->mesh_mesh`

Incorrect menu path: `Add->Pseudocolor->mesh_mesh->braid` followed by right-clicking the plot then `operators->analysis->DataBinning`

### To Reproduce
1. open the databas

[2020-07-07 03:24] markcmiller86-visit commented on #12191
Hi Eric,

The details are below.

Comet.

![comet](https://user-images.githubusercontent.com/1102718/86794266-28d93a00-c021-11ea-88ac-1bba5a461ce6.png)

Pleiades.

![pleiades](https://user-images.githubusercontent.com/1102718/86794300-34c4fc00-c021-11ea-9098-521e9f9e9677.png)

I used 3.0.5 on Comet and 3.0.0 on Pleiades.

All the best,
Nick.

From: Eric Brugger via visit-users [mailto:visit-users@

[2020-07-07 16:34] brugger1 commented on #12191
Hi Eric,

There’s one more difference. On Comet, we run Visit using the client/remote-host model. On Pleiades, I run Visit there through VNC.

All the best,
Nick.

[2020-07-07 16:41] griffin28 commented on #12191
Nick...what is the file format (e.g. silo)? Also, I'm assuming you meant VisIt version 3.0.2 instead of 3.0.5. This is important because I can compare the changes between versions to see if anything sticks out that could cause this issue.

Also, have you verified that you are actually running in parallel on Pleiades?

-Kevin

[2020-07-07 16:47] griffin28 commented on #12187
I have finished compiling in debug mode. I ran the debug build using the following command:

vglrun visit -debug 5 -gdb engine_ser –xterm

And when I attempt to load and visualize my file, the compute engine fails to start and hangs with the ‘compute engine launch progress’ dialog box cycling.

Removing the –xterm and running with:

vglrun visit -debug 5 -gdb engine_ser

Yields the following error

[2020-07-07 16:47] brugger1 commented on #12191
Hi Nick,

It looks like Comet and Pleiades have the same amount of memory per node, so I wouldn't expect it to be related memory usage. Client/server versus VNC could certainly affect the rendering. Are you able to render any images when you run on Pleiades, or is it just that particular dataset? Assuming that VisIt works for viewing some datasets, then the most likely thing I can think of is the

[2020-07-07 16:51] griffin28 commented on #12187
Kevin...did you try using **gdb** to figure out where the SEGV is occurring?

[2020-07-07 17:00] markcmiller86-visit commented on #12191
Hi Kevin,

Thank you.  Indeed, this is 3.0.2 on Comet. I use Visit 3.0.0 on Pleiades. I use HDF5 files. Last night, I actually managed to succeed on Pleiades with 20 Haswell nodes, but only 80 processors.

All the best,

Nick.

From: Kevin Griffin via visit-users [mailto:visit-users@elist.ornl.gov]
Sent: Tuesday, July 7, 2020 11:42 AM
To: visit-dav/live-customer-response
Cc: Kevin Griffin; Comment

[2020-07-07 21:52] brugger1 opened #12192 "VisIt Plotting Question"
Visit Help:

I am validating a channel flow model where water is flowing past a blunt body. How would I go about plotting the local pressure coefficient along the surface of the body, as in the first slide of the attached powerpoint?  I found how to visualize the surface pressure field as shown in the second slide, but I don’t know how to get this data into a nondimensionalized graph of Cp vs s/D

[2020-07-07 22:38] #4395 closed, assigned to nobody

[2020-07-07 22:46] #4400 closed, assigned to nobody

[2020-07-07 23:01] brugger1 commented on #4620
Another thought is to come up with a policy and then support that everywhere in addition to any existing cases are.

[2020-07-07 23:21] markcmiller86 commented on #4565
@cyrush I've confirmed indeed this *does* work with *both* expressions deferred. So, I've just adjusted the ticket to focus on improving docs.

[2020-07-07 23:55] brugger1 opened #4875 "Add information about slice plane as an annotation"
Here is the e-mail from Willy Moss.

When I do a slice, it would be real nice if the coordinate of the slice and/or slice info could be printed (automatically) in the window…otherwise if I take a snapshot, at some time in the future I am left guessing…..
Not a big deal, but something to make things a little easier

[2020-07-07 23:56] cyrush opened #4876 "minor test suite issue with visit path replacement in launch.py"
### Describe the bug

to allow the baselines to match reguardless of where visit is built, we have logic that replaces the path of the current visit exes with a generic string ( $VISIT_EXE_DIR).

Not sure why, but that logic did not work for me during my test runs.

Here is an example  here the magic did not kick in:

expected:
[code]

actual:
[code]

I ran on pascal, following the cmake configure

[2020-07-08 00:16] cyrush opened #4877 "test suite: leading space causes diff, but diff isn't shown b/c of html"
text-based test, the current differed from the baseline with a leading space. I confirmed this using git diff:

[code]

our test suite web pages show there is a difference, however due to how we show them with HTML, you can't actually see the space:

![Screen Shot 2020-07-07 at 5 11 57 PM](https://user-images.githubusercontent.com/1194526/86858338-52bc4c00-c075-11ea-84ab-13575c380eb2.png)

We shou

[2020-07-08 02:28] griffin28 commented on #12192
Adam...VisIt doesn't have a built-in interface to take two variables from a dataset and create a graph. Here are the steps you will need to take:

1. If needed, create the *s/D* variable using VisIt expressions [Expressions](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html?highlight=expressions#expressions)
2. You must have an active plot l

[2020-07-08 03:05] markcmiller86-visit commented on #12192
Good evening.

I use the following procedure for a possibly similar purpose with the
Lineout along a straight line. I suppose this can be done along an arbitrary
line as well, with some effort.

1.       I read a 3D data file, create additional variables if necessary,
and Add Pseudocolor(any variable).

2.       Once this is done, the following is executed in Commands window

SetActiveWindow(1)

S

[2020-07-08 16:22] griffin28 opened #12193 "Import/launch problem with Python-3.8.3 on Windows 10"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hello,

Could you please help me get Visit to work with Python?

Transcr

[2020-07-08 16:24] griffin28 commented on #12193
Tarun...VisIt is not compatible with Python 3, you will need to use Python 2. @cyrush is currently working on getting VisIt compatible with Python 3.

-Kevin

[2020-07-08 16:34] griffin28 opened #12194 "VisIt Hotline: VisIt crashes when Plotting"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Robert Canaan transitioned from Windows 7 to Windows 10 and when he goes

[2020-07-08 16:37] griffin28 commented on #12194
Advised Robert to update his X-Win settings and restart.

![image001](https://user-images.githubusercontent.com/26772741/86946020-a0c96200-c0fe-11ea-8368-0f37ee322ff0.png)

[2020-07-08 17:11] griffin28 commented on #12194
The x-win32 settings changes fixed the problem.

[2020-07-08 18:58] markcmiller86-visit commented on #12193
Kevin,

Thanks for the quick response.

I’ll see if I can get permission to have Python 2 installed.

Regards,

--Tarun

From: Kevin Griffin via visit-users <visit-users@elist.ornl.gov>
Sent: Wednesday, July 8, 2020 12:25 PM
To: visit-dav/live-customer-response <live-customer-response@noreply.github.com>
Cc: Kevin Griffin <notifications@github.com>; Subscribed <subscribed@noreply.github.com>
Subje

[2020-07-08 18:59] cyrush commented on #12193
Tarun -- VisIt should have its own version of Python, you can access with `visit -nowin -cli`

[2020-07-08 19:23] markcmiller86-visit commented on #12193
Thanks Cyrus, I’ll check it out.

I’m new to both VisIt and Python.  My goal is to be able to launch VisIt and run a macro/script to automate generation of plots.  I have recorded, modified, and successfully got the macro/script working from within VisIt; looking for a way to get it working from the powershell command line or a Python file.

Regards,

--Tarun

From: Cyrus Harrison via visit-users

[2020-07-08 20:15] cyrush commented on #12193
Tarun, in that case, if you have a script, you can save the contents to a file and use:

`visit -nowin -cli -s script.py`

You may need to iterate a bit (making sure our macro process captured opening the database, etc)

[2020-07-08 20:31] markcmiller86-visit commented on #12193
Cyrus,

That worked great!  No iteration/tweaking necessary.  Thanks so much!

Regards,

--Tarun

From: Cyrus Harrison via visit-users <visit-users@elist.ornl.gov>
Sent: Wednesday, July 8, 2020 4:15 PM
To: visit-dav/live-customer-response <live-customer-response@noreply.github.com>
Cc: Cyrus Harrison <notifications@github.com>; Comment <comment@noreply.github.com>; markcmiller86-visit <visit-users

[2020-07-08 22:17] cyrush commented on #12193
Glad that helped!
-Cyrus

[2020-07-09 15:18] mpbelhorn opened #4881 "Patch `apply_qt_5101_centos8_patch` on RHEL8 not applied"
### Describe the bug
The QT build issues that affect CentOS 8, Ubuntu 19, and Debian 10 (#3980, #3985, #4032, #4638) also apply to RHEL8. However, the checks to identify if the host on which VisIT 3.1.0+ is being built do not correctly identify and apply the necessary patch on RHEL8.

I've used the following patch to the [`build_visit3_1_2`](https://github.com/visit-dav/visit/releases/download/v3.

[2020-07-09 21:31] ag006 opened #12195 "surface pressure coefficient"
I am validating a channel flow model where water is flowing past a blunt body. How would I go about plotting the local pressure coefficient along the surface of the body, as in the first slide of the attached powerpoint?  I found how to visualize the surface pressure field as shown in the second slide, but I don’t know how to get this data into a nondimensionalized graph of Cp vs s/D (where Cp is

[2020-07-09 22:01] griffin28 commented on #12195
@ag006 ...the original responses to this issue are here: https://github.com/visit-dav/live-customer-response/issues/99

[2020-07-10 16:26] griffin28 opened #12196 "Reading Plot3d Function format"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

  I am trying to read Plot3D function format data in Visit but I

[2020-07-10 16:36] griffin28 commented on #12196
Rahul...the file formats that VisIt supports is [here](https://www.visitusers.org/index.php?title=Detailed_list_of_file_formats_VisIt_supports). Plot3D is on the list.

Try manually selecting the Plot3D file format as shown below and see if that works for you.

![Picture1](https://user-images.githubusercontent.com/26772741/87177590-c8e8ca80-c290-11ea-8b20-8edc6c1ef483.png)

[2020-07-10 17:07] sullan2 opened #12197 "Visit timeout"
I am running a python script in Visit via the command line. The script stops running and visit errors out with the message below. Does this mean something in the code is taking longer than 30 minutes to complete? Or is this an an allocation issue? I do not see any other errors besides what is printed below, is there a way to get more details on the error? Thanks for your help!

0: ENGINE exited du

[2020-07-10 18:12] griffin28 commented on #12197
@sullan2 ...you can increase the execution time to run longer. Use `-exec-timeout 900` with your visit command. 900 represents the number of minutes so adjust accordingly.

Yes, execution is taking longer than 30 minutes to complete, adding more processors should help if you have more than 5 domains.

To get more details you can also add -debug 5 to generate debug logs.

[2020-07-10 20:59] markcmiller86-visit commented on #12172
Eddie,

Any chance of a resolution for this problem?

From: Edward Rusu via visit-users [mailto:visit-users@elist.ornl.gov]
Sent: Wednesday, June 10, 2020 8:57 PM
To: visit-dav/live-customer-response <live-customer-response@noreply.github.com>
Cc: Edward Rusu <notifications@github.com>; Comment <comment@noreply.github.com>; markcmiller86-visit <visit-users@ornl.gov>
Subject: [visit-users] [EXTERNA

[2020-07-10 20:59] brugger1 opened #12198 "Tecplot reading issue."
I have been having trouble with reading tecplot files. Specifically with the "FILETYPE" attribute. The simple example below does not work with the error message "The record type 'FILETYPE' found in the file was unknown." If the line with FILETYPE is removed the input is read fine. I am using Visit 3.1.2 though happy to use a newer or different version.

TITLE="test_with_filetype.tec"
FILETYPE=FULL

[2020-07-11 02:25] markcmiller86-visit commented on #12196
Dear Kevin,

 Thanks very much for the information on the formats supported by VIsit and
for the pointer on how to open Plot3D files on Visit.

 I have been using visit to read Plot3D grid and Q data for over a year. I
am having difficulty opening the Plot3D function files on Visit.

 The format of Plot3D function files is a little different from Plot3D Q
files.
 Is it possible to alter Visit's Pl

[2020-07-11 16:09] mclarsen opened #4882 "Blueprint database reader and variables with parens"
### Describe the bug
Visit mangles variable names with parens. Example: `rho(H20)` becomes `rho_lp_H2d_rp`. The variable shows up in the gui, but cannot be plotted. i suspect this is due to the database reader not knowing how to translate the name in the opposite direction.

Small dataset attached.
[test_data.tar.gz](https://github.com/visit-dav/visit/files/4907097/test_data.tar.gz)

[2020-07-12 06:50] griffin28 opened #4883 "Support Plot3D function files"
Hello,

I am trying to read Plot3D function format data in Visit but I could not figure out how. I am not sure whether Visit supports Plot3D function format. However, I have been using Visit to visualize Plot3D Q files for a while now.

With regards to this, can anybody help me by answering the following questions.

Does Visit support Plot3d Function format? If so, how does it work?
If it is not s

[2020-07-12 06:52] griffin28 commented on #12196
Not sure Rahul...I've created a ticket (https://github.com/visit-dav/visit/issues/4883) to discuss with the VisIt team.

[2020-07-12 12:36] markcmiller86-visit commented on #12196
Dear Kevin,

 Thanks a ton for raising a ticket on the topic.

 Hope to see the Plot3D function reader in a future version of visit.

Best regards,
Rahul

On Sun, Jul 12, 2020 at 3:52 PM Kevin Griffin via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-07-13 18:31] brugger1 commented on #12198
The Tecplot reader doesn't support the FILETYPE keyword. I am working on adding support for it.

[2020-07-13 21:01] #4560 closed, assigned to nobody

[2020-07-14 14:05] brugger1 commented on #12198
Added support for the FILETYPE keyword it commits #4886, #4887. It will be in the 3.1.3 release.

[2020-07-14 15:35] rusu24edward commented on #12172
Hi Alan,

We still need to dig into the codebase to see what is going on here. Do you have a workaround?

Eddie

[2020-07-14 20:08] biagas opened #4888 "Revisit PySide2 support in Visit"
PySide2 versions now tied to Qt versions, so the process should be easier.
In previous project meeting we decided to go with newest Qt version that isn't absolute latest, 5.14.2 is a good candidate.

Notes on my attempts for building on CZ:

Qt 5.14.2

* Requires at least gcc-6 for webengine (gcc-6 available via module load).
* Requires a patch to correctly locate X11 on CZ (It was looking in /usr

[2020-07-14 21:13] brugger1 commented on #4830
Resolved with checkins #4865, #4868.

[2020-07-14 21:13] #4830 closed, assigned to brugger1

[2020-07-14 21:48] #4821 closed, assigned to brugger1

[2020-07-14 22:17] brugger1 commented on #4565
We should add documentation on the DeferExpression operator and then put a reference to it from the expressions section of the manual.

[2020-07-14 22:20] #4801 closed, assigned to nobody

[2020-07-14 22:21] brugger1 commented on #4625
This will have dimishing value over time and we have probably already missed the opportunity to have much of an impact, so we are closing this.

[2020-07-14 22:21] #4625 closed, assigned to nobody

[2020-07-14 22:33] brugger1 commented on #4627
Let's add both the original and current range to the legend. For example: Original data on one line, then min and max for the original data and then Current data on the next line and then the min and max for the current data.

[2020-07-14 22:38] brugger1 commented on #4630
Possibly also in the host profile section as well.

[2020-07-14 22:45] brugger1 commented on #4632
It might be easy to look at the current VTK reader and see how they handle iblanking and incorporate it in VisIt. Iblanking would tag the zone as ghost but instead of the more common ghost duplicate zone type designations it would be something like `ZONE_NOT_APPLICABLE_TO_PROBLEM` or `NODE_NOT_APPLICABLE_TO_PROBLEM` from the enum types in `avtGhostTypes.h`

[2020-07-14 22:55] #4642 closed, assigned to nobody

[2020-07-15 02:25] einzigsue opened #4891 "visit_vtk/lightweight build failed because of type mismatch"
Hi There,

In line `https://github.com/visit-dav/visit/blob/45401dede4d413f76490b31d6041f664fb280cbb/src/visit_vtk/lightweight/vtkSkewLookupTable.h#L58`

I have only `virtual const unsigned char* vtkSkewLookupTable::MapValue(double)` defined in vtkLookupTable.h

Do you have the same problem? The mismatch causes the build crash.

Cheers
Yue

[2020-07-15 03:16] markcmiller86 commented on #4891
@einzigsue can you please provide compiler name/version or `build_visit` command-line and system you are running it on?

[2020-07-15 03:22] markcmiller86 commented on #4631
Unable to reproduce. This involved mixed centering and I think recent changes to deal with mix centering expressions have fixed it.

[2020-07-15 03:22] #4631 closed, assigned to nobody

[2020-07-15 04:29] einzigsue commented on #4891
@markcmiller86 Thank you for the quick response.

I was running the following command under CentOS 8 using system cmake/3.16.2, netcdf/4.7.4, openmpi/4.0.2, vtk/8.2.0, boost/1.72.0, and python2/2.7.17.
"""
export C_COMPILER=gcc
export CXX_COMPILER=g++
export PAR_COMPILER=mpicc
export PAR_COMPILER_CXX=mpicxx
export PAR_INCLUDE="-I${OPENMPI_ROOT}/lib"
export PAR_LIBS="-lmpi -lmpi_cxx"

./build_visit

[2020-07-15 15:57] aowen87 commented on #4759
Kevin has given the green light on adding node based derived variables. They should be the same as before.

[2020-07-15 16:17] brugger1 opened #12199 "Does Visit Ospray renderer have support for materials?"
Hello,

I know that there are two types of Ospray renderers in Paraview scivis and pathtracer. The pathtracer renderer supports realistic materials, does VisIt have a renderer that supports the use of materials?
If yes, are there any examples for it?

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-vi

[2020-07-15 16:21] brugger1 commented on #12199
Hi,

The OSPRay renderer in VisIt doesn't support the use of materials. We will upgrade VisIt to OSPRay 2.x when VTK 9.1 is released and then add support for materials at that time. It will most likely be the end of 2020 when this happens.

Eric

[2020-07-15 16:29] cyrush commented on #4891
Sorry you hit this -- VTK 8.1 and VTK 8.2 have API differences, here are some more examples:

https://github.com/visit-dav/visit/issues/3498

On top of that, we have patches in build_visit that also smooth out other VTK situations.

We recommend using build_visit to build VTK. Boost may also become and issue depending on how much API changes between versions, I don't recall what version of boost w

[2020-07-15 16:48] griffin28 commented on #4888
Kathleen…I believe the reason you are getting the error “The pyside tests fail with: NameError: global name 'QApplication' is not defined” is because the imports for QT have changed. For pyside you would do: from PySide.QtCore import *  with pyside2 you need to do: from PySide2.QtCore import *. I ran into this with PyDV when I upgraded to pyside2. So, whatever code that is using pyside will need t

[2020-07-15 16:54] biagas commented on #4888
@griffin28 Thanks for the suggestion, but those changes to import PySide2 were already made when we first supported pyside2 awhile ago.

[2020-07-15 17:03] markcmiller86 opened #4892 "Upgrade UNV plugin"
I have improved the "unv" plugin so as to read "iv" files that are
produced by "FreeCAD" when exporting a mesh (strangely FreeCAD does not
save a mesh in unv format).

Reference for FreeCAD can be found here:

Mesh: https://wiki.freecadweb.org/Mesh_Workbench

File formats: https://wiki.freecadweb.org/Import_Export

I have added a script "script_iv.py" that reads "essai.iv" and produces
"essai_iv00

[2020-07-15 17:07] aowen87 opened #4893 "Expressions missing in docs and menu"
I noticed that the displacement expression appears to be missing from the "Insert function" menu in the Expressions window. You can still use this expression by typing in the function yourself, but then you have to know it exists somehow. I only know it exists because I saw it being used in one of VisIt's plugins. Looking over the docs, it seems like there might be some others missing as well.

Th

[2020-07-15 17:10] markcmiller86 commented on #4893
I am not sure if these are related but see #4570 regarding the helper/hinter strings that expression system inserts when you select an expression function to insert.

If a similar situation exists for the menus (e.g. edit expressions over there but stuff related to expression gui somewhere else), its easy to have developers add expressions (that still will work when they are manually typed in) tha

[2020-07-15 17:32] brugger1 opened #12200 "Compute Engine Exits Abnormally (#94)"
Hi all –

gdb appears to be grumpy as it was not compiled with the same Python Visit was…

Either way, I was able to trace the issue to when I invoke the MPI option during start – the compute engines will crash and then a serial engine will run stably. Additionally, it appears as though this issue is related to my using VirtualGL to run Visit – I was able to go into my office and run Visit locally

[2020-07-15 17:50] brugger1 commented on #12200
Hi Kevin,

I would normally say there is an issue with the rank 0 mpi process not being able to connect to the viewer, but the error message comes out 7 times, which implies that rank 0 may have been successful and the other ranks may have been unsuccessfully trying to connect to the viewer. The bizarre part is that only rank 0 should be trying to connect to the viewer. Can you run without valgrin

[2020-07-15 19:04] biagas commented on #4888
I tried a stand-alone pyside2 test script, and saw this error:
ImportError: libLLVM.so: cannot open shared object file: No such file or directory
When I copied this into visit's lib directory, then the pyside tests in run_visit_tests.sh work.
Not sure copying into lib is the best way, as it is already in lib/mesagl lib/osmesa.  I guess we can remove it from the subdirs if pyside is enabled in the

[2020-07-15 19:40] brugger1 commented on #4302
Not worth the effort. Building binutils is covered in the manual for the couple of platforms that need it.

[2020-07-15 19:40] #4302 closed, assigned to brugger1

[2020-07-15 20:56] aowen87 opened #4895 "Mili 19.2 compile error on Pascal"
### Describe the bug
Building mili 19.2 works fine on Pascal, but errors crop up when VisIt tries to compile against it. All errors are of the form:
"'some_file' can not be used when making a shared object; recompile with -fPIC".
The odd thing is that both VisIt's CXXFLAGS and CFLAGS are being used when compiling mili, which should include -fPIC.

### To Reproduce

1. Build visit libraries (includ

[2020-07-15 23:27] brugger1 commented on #4161
I couldn't find the e-mail from the user that reported the bug and since Mark couldn't reproduce this, I am closing this issue.

[2020-07-15 23:27] #4161 closed, assigned to nobody

[2020-07-16 00:57] griffin28 opened #4898 "Mili Build Error on macOS Mojave"
### Describe the bug
When building the third party libraries for 3.1RC Mili failed. Below is the error message from the build_visit log:

[code]

Here's the `build_visit` command:

[code]
### To Reproduce
Steps to reproduce the behavior. For example:
1. Run the above `build_visit` command on macOS Mojave (10.14.6)

### Desktop
 - OS and version: macOS Mojave 10.14.6
 - VisIt Version: 3.1RC

[2020-07-16 01:19] markcmiller86-visit commented on #12172
No work around. Don't know enough about this tool.

On Tue, Jul 14, 2020, 11:36 AM Edward Rusu via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-07-16 02:16] griffin28 commented on #4305
I've confirmed that QT 5.14.2 fixes the dark mode issue on macOS.

[2020-07-16 10:43] selbypa commented on #4895
This hit me on CentOS 7 too.

I took a quick look and as far as I can tell it is down to the mili 19.2 Makefile.Library setting CC_FLAGS to @CC_FLAGS_OPT@ for the opt target whereas in 15.x it included @CFLAGS@ as well.

`opt:   CC_FLAGS = @CFLAGS@ @CC_FLAGS_OPT@`

I suspect patching this back in via bv_mili.sh would do the trick but I haven't tried it

[2020-07-16 15:31] aowen87 commented on #4895
@selbypa Thanks! I'll try this out today.

[2020-07-16 15:45] aowen87 commented on #4898
Hmm... This is odd. I was able to build on Mojave without any issues. I'll check if anything's changed since then.

[2020-07-16 15:47] aowen87 commented on #4895
Adding the CFLAGS back in appears to resolve this issue. I'll go ahead and let the mili developers know about this.

[2020-07-16 15:54] rusu24edward commented on #12172
Thanks for the additional info, Alan. I will bring this up with the group and hopefully we can prioritize this.

[2020-07-16 16:12] cessenat commented on #4892
Thank you Mark for posting ; the unvAddsiv.tar.gz file is indeed a unvAddsiv.tar file only.

[2020-07-16 16:27] aowen87 commented on #4898
@griffin28 Your output looks quite a bit different than mine (much more verbose). Is there a particular setting you use to produce that? I'm also not sure what the "console" flag does (I don't see it in the help options...). Can you share any details about that option?

[2020-07-16 16:29] biagas commented on #4898
Hi Alister,

console is an old flag (when we used to have a curses-based gui option
for build_visit). It isn't needed anymore.

Kathleen

On Thu, 2020-07-16 at 16:27 +0000, Alister wrote:

[2020-07-16 16:30] #4881 closed, assigned to brugger1

[2020-07-16 20:59] brugger1 opened #12201 "Running VisIT on a remote host"
Hi all,

I am trying to run VisIT on a remote host. I can easily connect my VPN to the internal network. I can easily SSH to the remote host in the usual fashion through the terminal window. Once ssh’ed in I can access all SSD locations and files. I can run codes like FLASH remotely at this point with standard mpirun or nohup mpirun. I can launch VisIT on the remote host via an SSH connection with

[2020-07-16 21:12] brugger1 commented on #12201
Hi Rick,

You probably want to specify the path as:

/Applications/VisIt.app/Contents/Resources

When running a remote version it will add "bin/visit" to the path you specified to get the location of the launch script.

If that doesn't work, then it would be useful to know what OS you are running on the remote system.

Eric

[2020-07-16 21:30] rusu24edward commented on #12172
Alan,

As a workaround, you may be able to convert your data to a different file type and use that going forward. Is there a specific reason you are sticking with plot3d type?

Eddie

[2020-07-17 10:21] markcmiller86-visit commented on #12172
I used to use plot3d formatted data from government cfd codes and Fieldview
for graphical display of results when I was working. Also wrote company
codes to use this format. I will look at other possible formats.

Thanks

On Thu, Jul 16, 2020, 5:31 PM Edward Rusu via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-07-17 13:58] markcmiller86-visit commented on #12201
Dear Eric,

I tried your suggestion and things still did not work. I got nearly the same error message:

********
The metadata server on host xxxxx.lle.rochester.edu<http://xxxxx.lle.rochester.edu> could not be launched or it could not connect back to your local computer. This can happen for a variety of reasons.

The specific error was: "<The reason for the exception was not described>"

It is po

[2020-07-17 16:24] aowen87 commented on #4898
I believe mili is sneakily using my fortran compiler, which I'm guessing is why this works for me but not Kevin.

There is a very large patch for the old configuration file that basically eliminates the fortran compiler. The logic was very odd, though, and it was set up to never apply the patch, so I ignored it earlier. It turns out that someone had applied the patch at some point in the past and

[2020-07-17 17:30] brugger1 commented on #12201
Hi Rick,

Can you check if there are any vlog files on the remote host? They would be in your home directory on a Linux system. I don't know where they would be on another system. That would at least let us know if VisIt is successfully logging into the remote system and finding VisIt.

Another thing to try is running directly on the remote system with your host profiles. This would make it easier

[2020-07-17 18:06] markcmiller86-visit commented on #12201
Dear Eric,

There is no vlog file on the remote host.

Running VisIT on the remote host with the localhost works perfectly.

The path on the open dialog is correctly to the data files.

If I try create a new host profile in VisIT on the remote host directly it does not work. Again, it is likely the path.

If you have explicit things for me to try I will do that.

Rick

On Jul 17, 2020, at 1:30 PM,

[2020-07-17 18:19] brugger1 commented on #12201
Hi Rick,

Can you tell me what OS you are running on the remote system? Also, can you list the contents of

/Applications/VisIt.app/Contents/Resources

Eric

[2020-07-17 18:20] brugger1 opened #12202 "Visit build error: numpy build failed"
Hello,

I'm trying to build visit.3.1.2 from source on linux using the build script with the following command: ./build_visit3_1_2 --mesagl --zlib --llvm --mpich . The script fails to build numpy.

This is the output related to numpy from the log file.

Finished processing dependencies for Cython==0.25.2
+ test 0 -ne 0
+ popd
+ pushd numpy-1.14.1
+ info 'Installing numpy (~ 2 min) ...'
+ [[ yes ==

[2020-07-17 18:21] brugger1 opened #12203 "Visit build error: numpy build failed"
Hello,

I'm trying to build visit.3.1.2 from source on linux using the build script with the following command: ./build_visit3_1_2 --mesagl --zlib --llvm --mpich . The script fails to build numpy.

This is the output related to numpy from the log file.

Finished processing dependencies for Cython==0.25.2
+ test 0 -ne 0
+ popd
+ pushd numpy-1.14.1
+ info 'Installing numpy (~ 2 min) ...'
+ [[ yes ==

[2020-07-17 18:25] brugger1 commented on #12203
Hi,

Searching on the internet it looks like the issue may be related to using openssl 1.1.1.

Let's try patching build_visit3_1_2 to use an older version.

Find the function bv_openssl_info
Change the OPENSSL_VERSION from 1.1.1g to 1.0.2j
Remove the MD5 and SHA256 checksums between the quotes.

Start over from scratch running build_visit3_1_2 (remove the directory you used and create a new one).

[2020-07-17 18:28] markcmiller86-visit commented on #12201
Dear Eric,

I am running macOS Catalina on the remote host and macOS Mojave on the local machine. The local machine is running VisIT 2.13 and the remote host is running VisIT 3.1.

blackbuild:Resources spielman$ ls
3.1.1 VisIt.icns bin data

Rick

On Jul 17, 2020, at 2:19 PM, Eric Brugger via visit-users <visit-users@elist.ornl.gov<mailto:visit-users@elist.ornl.gov>> wrote:

Hi Rick,

Can you tell

[2020-07-17 18:43] aowen87 commented on #4866
@brugger1 was the variable you created node centered or zone centered?

[2020-07-17 18:43] brugger1 commented on #12202
Duplicate.

[2020-07-17 18:45] brugger1 commented on #12201
Hi Rick,

Ah, just got the key piece of information.

When running client server the versions of VisIt must match in the first 2 digits. So, 3.1 and 2.13 won't work together. You must use either 3.1 for both local and remote or 2.13 for both local and remote.

Eric

[2020-07-17 18:52] BradWhitlock opened #4902 "FastGradient makes vtkDoubleArray always, which can cause scalars to be stripped out in avtCompactTreeFilter."
### Describe the bug
I create an expression that takes a gradient component and on some domains, it makes floats and on another domain, it makes a double. This causes avtCompactTreeFilter to strip away the scalar when it merges the dataset. The float and double versions of the scalar hash to different names and VTK throws away the scalar rather than type converting. You get a white Pseudocolor plo

[2020-07-17 18:53] BradWhitlock commented on #4902
I have an incoming fix for this.

[2020-07-17 19:01] aowen87 commented on #4866
I might be misunderstanding the problem, but it seems like I can threshold on points using the current operator.

In the operator attributes, setting the output mesh to point mesh seems to do this for me (but this only works if the variable is node centered).

Below are two plots of ucd3d's variable v (which is node centered). The first plot has a threshold applied for the range .2 -> .35, the out

[2020-07-17 19:16] markcmiller86-visit commented on #12201
Dear Eric,

I have deleted the newer version of VisIT and have V2.13 on both machines.

My VPN is good and I can ssh into my remote host perfectly

vpn92:~ rbspielman$ ssh spielman@blackbuild.lle.rochester.edu<mailto:spielman@blackbuild.lle.rochester.edu>
Password:
Last login: Fri Jul 17 14:26:28 2020

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s

[2020-07-17 20:12] brugger1 commented on #4866
You are correct. It already does what I want. It just wasn't obvious to me that it would. I'll close this now.

[2020-07-17 20:12] #4866 closed, assigned to aowen87

[2020-07-17 20:22] aowen87 commented on #4898
I've confirmed that using the old configuration file works on both my Mac and LC, and the VisIt mili plugin does not seem to care. I'll wait for Kevin Durrenberger's thoughts on this before proceeding, but using the old configure file is probably the easiest route forward.

[2020-07-17 21:07] #4902 closed, assigned to nobody

[2020-07-17 21:40] aowen87 commented on #4883
Does anyone know what "the standard 5 variables" are? The PLOT3D datasets in our test data have quite a lot of variables, so I'm not sure what this is referring to.

[2020-07-17 21:48] brugger1 commented on #12201
At this point the only thing I can suggest is to install 3.1.1 on both the local and remote systems, since you got further logging into the remote system with 3.1.1. I'm have no experience running client/server between 2 mac systems, so I will need to see if anyone else has any ideas on what the correct path should be.

[2020-07-20 09:02] cessenat commented on #4892
Beyond the Inventor Reader included in the unv plugin, there now is a gmsh native files ".msh" reader for legacy1, 2 (gmsh 2 to 3 series) and current with gmsh 4. It reads linear elements. In the attachment there are two scripts for msh files as well as views. Thanks to Christophe Geuzaine for his help.
[unv.tar.gz](https://github.com/visit-dav/visit/files/4946611/unv.tar.gz)

[2020-07-20 16:56] aowen87 commented on #4882
VisIt appears to be handling these name correctly; it first changes its name to exclude unwanted characters, and it later puts these characters back in correctly before reading from the database. The issue appears to come from retrieving the mesh name from "metadata" within the blueprint reader.

@mclarsen @cyrush  Are variables with parentheses allowed in blueprint?

[2020-07-20 17:00] markcmiller86 commented on #4892
Hi @cessenat ... I am curious, what would you say about maybe trying to assemble a [pull request](https://www.freecodecamp.org/news/how-to-make-your-first-pull-request-on-github-3/) yourself? This would certainly make it easier at our end to incorporate your needed changes and would make it more likely those changes will get included in the next release.

[2020-07-20 17:03] aowen87 commented on #4882
Scratch that above question. I think this issue is still VisIt related (in avtDatabaseMetaData).

[2020-07-20 17:16] aowen87 commented on #4882
The issue:
The avtBlueprintFileFormat is directly calling MeshForVar from avtDatabaseMetaData to get the mesh name. This in itself isn't really a problem, but the variable that is given to the blueprint reader is the original variable with forbidden characters, and the variable that MeshForVar expects is the mangled version (I think MeshForVar is typically used internally, where the variable is ma

[2020-07-20 17:54] markcmiller86 commented on #4882
On lines [1447](https://github.com/visit-dav/visit/blob/25866f754cddc2f12ca0e4a403b948c61fe2f307/src/databases/Blueprint/avtBlueprintFileFormat.C#L1447) and 1523, there are notes about this (or perhaps a similar) issue.

We do this in other plugins too. I think each metadata object has its `originalName` and its `name` members where `originalName` is what it read from the database and `name` is wh

[2020-07-20 19:01] aowen87 commented on #4895
The Mili library has been updated with the fix from above.

[2020-07-20 20:22] cyrush commented on #4882
I think it would be great to solve this once and for all by adding smarts into avtDatabaseMetaData

[2020-07-20 20:49] aowen87 commented on #4882
It looks like avtDatabaseMetaData is actually pretty smart with handling name mangling, and it's doing a good job of checking all name versions.

The problem is that VarIsCompound is called in MeshForVar before the names are rigorously checked. VarIsCompound just determines if the variable is of the form CategoryName(MeshName). If it is, MeshForVar will just return MeshName without checking forbid

[2020-07-20 20:52] markcmiller86 commented on #4882
So, with my *once and for all* hat on, I might recommend a different approach from the one I suggested above. Why do we need to mangle variable names at all? Do we know for sure?

1. I know that at one time in the distant past, the expression system played some kind of a role in this but since then we've added escaping to the expression parser using `<` and `>` to bracket variable names.
1. The GU

[2020-07-20 21:03] aowen87 commented on #4882
I realized this format is often used for subsets.. I'll see if there's a way around this issue.

[2020-07-20 21:17] aowen87 commented on #4882
Simply moving the VarIsCompound check to _after_ the more rigorous name checking resolves this issue. Basically, if the variable (mangled or not) isn't found in scalars, mesh names, vectors, etc., the compound check will be performed.

This fix doesn't address @markcmiller86 's comments, but it serves as a quick fix that should resolve these types of issues. Maybe we can open a new issue that addr

[2020-07-20 21:19] #4898 closed, assigned to aowen87

[2020-07-20 21:22] aowen87 commented on #4898
@griffin28 I believe it should be good to go now, but definitely let me know if you run into issues again.

[2020-07-20 21:24] griffin28 commented on #4898
Thanks @aowen87 ! Will do.

[2020-07-20 22:04] markcmiller86-visit commented on #12203
I'm building on linux red hat.

That fixed the previous issue but now I get a new error: "pyparsing build
failed"

This is the output from the log file:

Processing dependencies for numpy==1.14.1

Finished processing dependencies for numpy==1.14.1

+ test 0 -ne 0

+ popd

+ [[ no == \y\e\s ]]

+ return 0

+ [[ 0 != 0 ]]

+ info 'Done building the numpy module.'

+ [[ yes == \y\e\s ]]

+ echo 'Done

[2020-07-20 22:34] aowen87 opened #4908 "Name mangling still needed?"
A conversation from #4882 began branching into a larger conversation regarding whether or not we still need to mangle names in VisIt. @markcmiller86 had some useful thoughts here: https://github.com/visit-dav/visit/issues/4882#issuecomment-661326937

[2020-07-21 15:54] #4882 closed, assigned to aowen87

[2020-07-21 17:58] aowen87 opened #4910 "Mili repeat materials"
### Describe the bug
I've noticed that the explode operator lists twice as many materials as it should with Mili datasets, and the extras are just repeats of the originals. In the Mili plugin, the materials were being added to each mesh, but this is apparently not needed; adding them to just one seems to be enough.

**Helpful additional information**
 - Did VisIt crash: No
 - Did you get wrong res

[2020-07-21 19:06] #4910 closed, assigned to aowen87

[2020-07-21 21:43] brugger1 commented on #4664
Will ping the SeedMe folks for Python 3 support.

[2020-07-22 00:04] brugger1 commented on #2812
I have an initial implementation of the Tessellate operator working. Here is an image with 4 biquadratic quads representing a half pipe.

![Biquadratic_quad](https://user-images.githubusercontent.com/1102718/88119056-2f64c700-cb74-11ea-8097-66de3b9e232c.png)

[2020-07-22 00:14] markcmiller86 commented on #2812
Is the `chord error` absolute or relative?

[2020-07-22 14:01] brugger1 commented on #2812
No idea. The documentation doesn’t say. I will need to do some exploration. I believe I could scale the mesh before the operator and see if anything changes.

[2020-07-22 16:25] markcmiller86 opened #4914 "Ensure correct dimension ordering in Xdmf plugin"
### Describe the bug
See last couple of comments in [this conversation](https://github.com/visit-dav/live-customer-response/issues/96)

It appears VisIt winds up transposing the dimension ordering in Xdmf files and produces images user's don't expect.

We should confirm and correct if so.
### To Reproduce
1. Find an non-square xdmf dataset so you can tell which dimension is which when viewed.
2. P

[2020-07-22 16:27] markcmiller86 commented on #12189
@vsisl and Angel de Vicente...are you dealing with data coming from a Fortran code or a C code?

I am guessing its a Fortran code and VisIt is assuming a C array dimension ordering convention.

I've filed [this product development issue](https://github.com/visit-dav/visit/issues/4914) to have it addressed and so am closing this issue.

[2020-07-22 17:17] aowen87 commented on #4895
@biagas is still seeing this error when compiling with gcc-6.1.0 on pascal.

[2020-07-22 18:03] griffin28 commented on #12201
Hello Rick...this looks more like an SSH issue now than an issue with VisT or maOS. Here's a link that can help you fix your 'Host key verification failed' issue: https://www.thegeekdiary.com/how-to-fix-the-error-host-key-verification-failed/

[2020-07-22 18:09] aowen87 commented on #4895
The third-party release appears to still be pointing to the old tag. I'll try to update it again.

[2020-07-22 18:22] brugger1 commented on #4895
I believe it gets it from the release. The files are manually copied to the release, so you would need to replace it yourself.

[2020-07-22 18:24] aowen87 commented on #4895
Yeah, I just realized that. I updated the release, and I'll open a PR with the updated checksums.

[2020-07-22 18:49] biagas commented on #4895
I downloaded the mili tarball directly from github, and tried again. It works, thanks!

[2020-07-22 18:59] #4895 closed, assigned to aowen87

[2020-07-22 22:09] markcmiller86 opened #12204 "VisIt 3.1.2, OSX:Mojave. Grant VisIt permission to modify terminal"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

When you execute VisIt 3.1.2 for the first time and open the CLI window

[2020-07-22 22:23] griffin28 commented on #12204
@markcmiller86 ...you can do it under the *Privacy* tab in the *Security and Privacy* Settings. This sounds all too familiar and gets even better in the next release!

![Screen Shot 2020-07-22 at 3 21 38 PM](https://user-images.githubusercontent.com/26772741/88235211-3f8dac80-cc2f-11ea-89ec-da683be0167d.png)

[2020-07-22 23:30] markcmiller86 commented on #2812
Well, it probably doesn't really matter. I assume a smaller number means it subdivides more. I am just wonder whether there is a better user-interface we could define than raw number. Indeed, I wonder if that number is the fraction of the radius between the chord and the actual surface as in ...

![Untitled](https://user-images.githubusercontent.com/5720676/88239234-abc0de00-cc38-11ea-8e7d-ca49146

[2020-07-22 23:45] markcmiller86 commented on #12204
Thanks @griffin28! Can't wait for next release ;)

Todd Harman...does this resolve your inquiry?

[2020-07-23 22:22] biagas commented on #2999
Removing Reviewed label for further discussion.

Investigating Windows regression testing errors with this mfem dataset.  The generated image from a Pseudocolor plot seen on Windows is just like the one below I captured from my local linux box (uses system gl).

![StarSurf-3 1RC-systemgl](https://user-images.githubusercontent.com/17075318/88342515-6366f600-ccf4-11ea-8368-0edd6145d7db.png)

And her

[2020-07-23 22:49] biagas opened #4919 "Sliced tensor rendering different depending on system (system-gl vs mesa ?)"
Investigating regression test issue with plots/label.py on Windows. The tests in question involve sliced tensors.
I see strange shadows/black sections in the render plots.

I created a tensor plot of grad_tensor from noise.silo.
Set stride to 1 in the Tensor plot atts.
Add slice operator.

Zoomed in on a cluster of the glyphs.

Here's what I see on Windows and my rhel6 desktop:
![rhel6-systemgl](h

[2020-07-24 01:56] markcmiller86 opened #4920 "Consider better alternative to `NONE` after #4781"
We use the symbol `None` in many different enums in VisIt. `None` is also a Python 3 keyword. So, to finish #4781, we replaced `None` everywhere with `NONE`. But that now means this one symbol's case is handled differently than all others, something we argued we should try to standardize in #4765

### Possible compatability consequences

1. The use of `NONE` as a replacement for `None` may have be

[2020-07-27 15:36] rusu24edward opened #12205 "Catalina update mds crashes on open"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,

Ever since updating my Mac to Catalina, I am unable to use VisIt.
Ev

[2020-07-27 15:42] rusu24edward commented on #12205
Hi Enoch,

Can you provide me with some more information about your system? What version of Visit are you using? How did you install Visit?

Thanks,
Eddie

[2020-07-27 15:46] rusu24edward commented on #12205
Enoch,

This is a [known issue](https://github.com/visit-dav/live-customer-response/issues/29#issuecomment-610030278) for Catalina users visit-dav/visit#12122. The workaround is to run Visit from the command line: /Applications/VisIt.app/Contents/Resources/bin/visit

[2020-07-27 15:47] rusu24edward commented on #12205
Can you give this a try and let me know if it works for you?

[2020-07-27 21:12] cyrush opened #4922 "further harden cmake find python logic"
Mark suggested we could have more error handling in our cmake logic:

https://github.com/visit-dav/visit/pull/4781#discussion_r459062923

[2020-07-27 21:40] brugger1 commented on #4664
I pinged Amit and he said SeedMe was Python 3 safe from the get go. He has checked that recently, so he'd like to check to make sure. He's occupied for the next couple of weeks, but he will test it after that and let us know definitively.

[2020-07-27 22:52] markcmiller86-visit commented on #12205
Hi,

Thank you. Your proposed solution worked!

I downloaded the most recent Visit .dmg from the website.
I was also wondering if compiling Visit from the source code will give me any significant performance benefits on a late 2013 Macbook Pro?

Sincerely,
Enoch Jo

[2020-07-27 23:00] rusu24edward commented on #12205
Hi Enoch,

Glad to hear that solution worked for you! I'm not sure that you will see any performance benefit by building from source. Maybe if you have specialized hardware, but if it's just a consumer macbook then I wouldn't think so. Pinging @griffin28 who is our mac expert and he might have more insight on that.

If you have access to a remote HPC machine, such as a dedicated workstation or an

[2020-07-27 23:08] markcmiller86-visit commented on #12205
Hi,

Sorry to bother you further, but could you perhaps point me towards a resource to how to run Visit in client-server mode if the HPC machine presets are not pre-installed in Visit?

Sincerely,
Enoch Jo

[2020-07-27 23:52] brugger1 commented on #12203
Hello,

I'm trying to build visit.3.1.2 from source on linux red hat using the build script with the following command: ./build_visit3_1_2 --mesagl --zlib --llvm --mpich .
The script used to fail for numpy and this was solved by following the directions from the visit list.

The script now fails to build pyparsing. Error: "pyparsing build failed"

This is the output from the log file:

Processing

[2020-07-27 23:57] rusu24edward commented on #12205
It's no bother, I'm glad you asked! Here is a resource for how to [create your own host profiles in Visit](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/ClientServer/Host_Profiles.html?highlight=host). Let me know if this is unclear or if you would like more information.

Eddie

[2020-07-28 00:00] brugger1 commented on #12203
Hi,

I'm not quite sure what is going wrong. Looking at the output above, there is an error mentioned from line 18464 of the script and if I look at these lines:

    if ! test -f ${PYPARSING_FILE} ; then
        download_file ${PYPARSING_FILE}
        if [[ $? != 0 ]] ; then
            warn "Could not download ${PYPARSING_FILE}"
            return 1
        fi
    fi
    if ! test -d ${PYPARSING

[2020-07-28 00:04] brugger1 commented on #12203
You will need to remove "build/third_party/python", "Python-2.7.14" and "pyparsing-1.5.2" and any other unpacked tar files related to python.

[2020-07-28 02:07] brugger1 commented on #2812
Resolved with commits #4921 and #4923.

[2020-07-28 02:07] #2812 closed, assigned to brugger1

[2020-07-28 15:22] rusu24edward opened #12206 "Ospray volume renderer with unstructured data"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,
I’m trying to volume render some data from an Exodus file.

A couple

[2020-07-28 16:14] tharman-git commented on #12204
Greetings,
The instructions above worked for me.  Another user in our group that was having issues.  I'll report back if there is still a problem.
Thanks for the nugget of info.
Todd

[2020-07-28 16:15] rusu24edward commented on #12206
Hi Dave,

Regarding your need to resample, we have a [ticket](https://github.com/visit-dav/visit/issues/4287) to investigate ospray's capabilities with unstructured data.

The offset that you are seeing *may* be related to an old issue [here](https://github.com/visit-dav/visit/issues/930) with ray casted volume rendering. However, I'm a bit skeptical given how old this ticket is and the problem do

[2020-07-28 16:18] markcmiller86 commented on #12204
Ok, thanks for info. Will close this issue then.

[2020-07-28 16:55] markcmiller86-visit commented on #12206
Hi,
Thanks for the info.

The red volume is an iso surface.
I’m running on my local machine.
I’m running with a post-3.1 version of develop from GitHub. I’ll try and create a smaller version of the dataset that has the same problem.

thx
-d

On Jul 28, 2020, at 12:15 PM, Edward Rusu via visit-users <visit-users@elist.ornl.gov<mailto:visit-users@elist.ornl.gov>> wrote:

Hi Dave,

Regarding your nee

[2020-07-28 17:40] griffin28 commented on #12205
@rusu24edward ...I concur with your assessment. The performance increase will come from running in parallel as opposed to compiling source. I doubt you will notice any performance increase between the dmg and compiling the source.

[2020-07-28 21:56] markcmiller86 commented on #12204
@griffin28 I am curious about one thing...the user reports that the app is trying to *modify* something in the `Terminal` app's settings. Specifically...

I am wondering...why is VisIt trying to *modify* anything associated with `terminal.app`? Is there any way we can adjust things at our end so that this permissions issue simply *goes away*?

[2020-07-28 22:07] markcmiller86 commented on #12204
Chatted with @griffin28 during this week's telecon...current assessement is that there is nothing VisIt is doing (strange) to somehow exacerbate this. It is all external to VisIt and the fact that VisIt is launching another app.

[2020-07-28 23:08] rusu24edward commented on #12206
Dave,

I'm not seeing any data, even when I resample it. Can you attach a sessionfile for the smaller dataset?

Pinging @aowen87 here, who is the ospray guru in case he has some additional insight. Alister, I gave you the data on CZ.

Eddie

[2020-07-29 11:37] markcmiller86-visit commented on #12206
Hi,
Sure, here it is:

On Jul 28, 2020, at 7:08 PM, Edward Rusu via visit-users <visit-users@elist.ornl.gov<mailto:visit-users@elist.ornl.gov>> wrote:

Dave,

I'm not seeing any data, even when I resample it. Can you attach a sessionfile for the smaller dataset?

Pinging @aowen87<https://github.com/aowen87> here, who is the ospray guru in case he has some additional insight. Alister, I gave you th

[2020-07-29 15:54] rusu24edward commented on #12206
Hmm... I'm still not able to duplicate the issue. I don't see any data at all from either the contour or the resampled volume. Let's setup a webex meeting where you can show me what you're seeing and I can get a better idea of how to duplicate it.

![Screen Shot 2020-07-29 at 8 46 30 AM](https://user-images.githubusercontent.com/18565891/88822476-c33c2180-d178-11ea-985c-becb7711591a.png)

[2020-07-29 16:42] rusu24edward commented on #12206
Reproduce:
1. Create a contour plot of `q_criterion`
   1. Select by values: 0.05
2. Volume plot `q_criterion`
   1. Transfer Function -> Scale -> min and max: 0.01 to 0.5
   2. Render Options: Ospray
   3. Resample operator to volume plot: 300x300x300
3. Rotate view 180 degrees
4. Zoom in and out.

At different zoom levels, the contour plot and volume will move around respective of each other.

R

[2020-07-29 17:26] rusu24edward opened #12207 "metadata server on localhost cannot change directory"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
When attempting to load a pre-run file session, I’m generating the error:

[2020-07-29 17:39] rusu24edward commented on #12207
Hi Jason,

It looks like the metadata server is running on your local machine, but the session file is trying to load data on a remote machine. It seems that the session file may have been generated for a run that was using client-server mode. Can you try [running in client server mode](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/RemoteUsage.html#using-client-server

[2020-07-29 18:23] rusu24edward opened #12208 "Spheral dataset pseudocolor nodal databasese cannot be compared different number of domains"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Mary is attempting to plot as pseudocolor with data from a spheral simula

[2020-07-30 16:08] rusu24edward opened #12209 "Elevate operator with VTU"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,
I am trying to apply the elevate operator on a 2D plot that I've crea

[2020-07-30 16:08] rusu24edward commented on #12209
![visit0000](https://user-images.githubusercontent.com/18565891/88946586-48d8d380-d244-11ea-86cd-15c583b61d49.png)

[2020-07-30 16:11] rusu24edward commented on #12209
[sol-028.vtu.txt](https://github.com/visit-dav/live-customer-response/files/5002455/sol-028.vtu.txt)

[2020-07-30 16:14] griffin28 opened #4926 "Add test cases and data to test suite for External surfaces lost in PC plot fix"
Add test cases to the test suite for #4680. Also add the sample data and baseline images.

[2020-07-30 16:29] rusu24edward opened #4927 "Build on RZ systems fail"
I tried building on RZTopaz but got this error.

/usr/bin/ld: cannot find -lmpich
/usr/bin/ld: cannot find -lmpl
collect2: error: ld returned 1 exit status
/usr/bin/ld: cannot find -lmpich
/usr/bin/ld: cannot find -lmpl
collect2: error: ld returned 1 exit status
make[2]: *** [plugins/databases/libMIDXDatabase.so] Error 1
make[2]: *** [plugins/databases/libEIDXDatabase_ser.so] Error 1
make[1]: ***

[2020-07-30 17:08] rusu24edward commented on #834
Duplicate of #475

[2020-07-30 17:08] #834 closed, assigned to nobody

[2020-07-30 17:08] rusu24edward commented on #475
Extra comments from duplicate #834:

The implicit recentering of the Elevate operator can create 'spikey' features in some instances. It would be nice to have an elevate option that raises the zones in piece-wise constant manner & builds the proper 'walls' to fill in any holes.

[2020-07-30 17:36] rusu24edward commented on #12209
Hi Shashwat,

Sorry for your trouble with the elevate operator. I agree, it would be nice to have a smooth surface. The disconnected visualization is a [known issue](https://github.com/visit-dav/visit/issues/475) with the elevate operator. I've tried this with other datasets that also have unstructured meshes, but the interpolation seems to work fine there, so it is not immediately clear to me wha

[2020-07-30 18:32] #4680 closed, assigned to griffin28

[2020-07-30 21:27] rusu24edward commented on #12209
Hi Shashwat,

I looked deeper at your vtk file, and I noticed that you have some ~6000 cells and exactly 4x as many points. Each cell enumerates its own unique points, as opposed to sharing points, which is causing the disconnection you're seeing. These duplicate points can be merged together when you load the data within Visit's preferences:

Options -> Preferences -> Database -> Automatically re

[2020-07-31 03:39] markcmiller86-visit commented on #12209
Hey Edward,
That is exactly what I needed. I removed the duplicate nodes and now it
works as expected. Thanks for the great help.

Regards,
Shashwat

On Fri, Jul 31, 2020 at 2:58 AM Edward Rusu via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-07-31 23:14] rusu24edward opened #12210 "Mdsersver loading issue in client server"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Blake Christierson is trying to run Visit in client-server on AWS virtual

[2020-07-31 23:21] rusu24edward opened #4934 "Smarter CMFE with Spheral data"
### Is your feature request related to a problem?
Visit doesn't play well with data created by Spheral. There are variables CELLS/<x> and POINTS/<x>, where POINTS/<x> is defined with a CMFE from the cells mesh to the points mesh. The CMFE doesn't work because the Points mesh has more domains than the cells. This isn't just a single dataset problem, it seems to happen with all data created by spher

[2020-07-31 23:22] rusu24edward commented on #12208
CMFE did not work because the meshes have a different number of domains. Seems like this is common problem with spheral datasets because she said it happens all the time. Created a [ticket](https://github.com/visit-dav/visit/issues/4934) to track this.

[2020-07-31 23:22] rusu24edward commented on #12210
Pointed user to our [remote usage tutorial](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/RemoteUsage.html)

[2020-07-31 23:23] rusu24edward commented on #12209
Glad to hear that it worked!

[2020-07-31 23:24] rusu24edward commented on #475
Each cell enumerates its own unique points, as opposed to sharing points, which is causing the disconnection. These duplicate points can be merged together when you load the data within Visit's preferences:

Options -> Preferences -> Database -> Automatically remove duplicate nodes from full disconnected unstructured grids.
After selecting this option, then open your file.

[2020-07-31 23:24] #475 closed, assigned to rusu24edward

[2020-07-31 23:48] brugger1 commented on #4927
The IDX reader on the 3.1RC builds fine on rztopaz. It fails as shown above on develop. I looked at the CMakeLists.txt file for the IDX reader and the one on the 3.1RC looks autogenerated, whereas the one on develop has been hand tweaked after the fact. I want to investigate that. I don't know why that would be necessary.

I found a fix for develop by changing:

LINK_DIRECTORIES(${VISIT_LIBRARY_DI

[2020-08-01 00:25] markcmiller86 commented on #12208
Hmmm...I would think a *position* based (as opposed to *connectivity* based) CMFE would work across differing numbers of domains. Did the user try a `pos_cmfe()`?

[2020-08-03 13:35] brugger1 commented on #4934
@rusu24edward Can you tell me where the data is located?

[2020-08-03 16:40] brugger1 commented on #4643
Added a Debian 10 build to our releases. This was done with commits #4718, #4719, #4755.

[2020-08-03 16:40] #4643 closed, assigned to brugger1

[2020-08-04 17:10] griffin28 opened #4940 "Use VisIt ZLIB when building PIL?"
When building PIL it uses system search paths to find optional support for **TKINTER**, **JPEG**, **ZLIB**, **FREETYPE2**, and **LITTLECMS**. For macOS, Xcode Command Line tools no longer installs needed headers in /include. You have to run a separate command to install the needed headers:
`sudo installer -pkg /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg -targ

[2020-08-04 17:27] cyrush commented on #4940
I had to change to use pillow for Python 3, those changes should be in develop now.
I believe I set it up to use VisIt's zlib, but not 100% sure.

[2020-08-04 17:29] cyrush commented on #4940
Yes, this support is on develop (but not the 3.1RC)
https://github.com/visit-dav/visit/blob/175eb3bbf7f6c7a6fc828da4736302fc772ab983/src/tools/dev/scripts/bv_support/bv_python.sh#L690

[2020-08-04 17:35] griffin28 commented on #4940
Great....thanks @cyrush!

[2020-08-04 20:59] #4926 closed, assigned to griffin28

[2020-08-04 22:54] #4789 closed, assigned to nobody

[2020-08-05 07:54] pj097 opened #4943 "Visit GUI with Python"
When launching Visit via Python, is it possible to have the GUI?

I have tried AddArgument("-gui"). However, all this gives is a blank visit window and the rest of the script is ignored.

If not, can Customize > Toolbars > Operators be activated via Python?

Apologies if I have missed this in the manual.

Many thanks,
Pedro

[2020-08-05 07:54] pj097 opened #12211 "Visit GUI with Python"
When launching Visit via Python, is it possible to have the GUI?

I have tried AddArgument("-gui"). However, all this gives is a blank visit window and the rest of the script is ignored.

If not, can Customize > Toolbars > Operators be activated via Python?

Apologies if I have missed this in the manual.

Many thanks,
Pedro

[2020-08-05 13:23] markcmiller86 opened #4944 "Document OpenGUI()"
`OpenMDServer()` and `OpenComputeEngine()` are documented but not `OpenGUI()`

[2020-08-05 13:24] markcmiller86 commented on #12211
You want `OpenGUI()`. I was going to send you a link to where that function is documented in our [user manual](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/index.html) but I couldn't find it so filed [this issue](https://github.com/visit-dav/visit/issues/4944)

[2020-08-05 15:35] rusu24edward commented on #4944
I think we should also have it so that `-gui` doesn't ignore the `-cli`, so that if we do both `visit -gui -cli -s script.py`, the cli and gui both launch.