[2020-10-15 20:53] biagas commented on #2795
Just for clarification, you turned on "VISIT_JAVA" for your build? It's off by default.

[2020-10-15 20:58] rusu24edward commented on #2795
I just used the [pascal-83 config site file](https://github.com/visit-dav/visit/blob/develop/src/config-site/quartz386.cmake). This doesn't look like it has java enabled since it doesn't say anything about it (none of the config-site files do). Can I modify the config site file to enable java?

[2020-10-15 21:10] biagas commented on #2795
For settings not part of the config-site file, it's better to pass them to the cmake-configure line as -DXXX_VAR=
so:
-DVISIT_JAVA=true

[2020-10-15 21:22] rusu24edward commented on #2795
Just to confirm, for my out of source build, I would do something like this?
[code]

[2020-10-15 21:26] biagas commented on #2795
Yes, that will work. If you are building (running cmake) on the login node pascal83, then cmake will automatically load config-site/pascal83.cmake, otherwise you would need to specify which config-site file to use by add -DVISIT_CONFIG_SITE=/path/to/config-site/pascal83.cmake.

[2020-10-15 21:34] rusu24edward commented on #2795
Great! I'm seeing the warnings now. Thanks Kathleen!

Just a note: I couldn't get it to work on pascal. After configuring, the build would fail. But I do get it to work on my local build, so using that.

[2020-10-15 21:39] markcmiller86 commented on #5165
I can't tell for sure from the picture but its conceivable that sorting is performed only among *valid* variables...which when there are no non-valid variables would go unnoticed. But, when there are many, it would stand out as a problem. The logic to handle this I think is in `src/winutil/VariableMenuPopulator.C`

[2020-10-15 21:48] brugger1 commented on #4934
On August 3rd I looked at the problem and found an error in the file. I sent e-mail to the user (Mary Burkey) and Mike Owen about the problem. Mike fixed the problem and was able to do many plotting operations at that point, but there were a couple of use cases that didn't work. I filed and fixed those issues with tickets #5139 and #5140

I am going to close this ticket since the problem encounter

[2020-10-15 21:48] #4934 closed, assigned to brugger1

[2020-10-15 23:02] aowen87 opened #12255 "Unable to interact with VisIt on VNC"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

I'm suddenly unable to interact with VisIt when on RZ VNC... I can launc

[2020-10-15 23:04] rusu24edward commented on #12255
I had the same issue. I emailed LC hotline about it, here's the response I got:

"General slowness can be caused by a number of things.  It could be a load issue with VNC, whether or not you're using VPN, your ISP, etc.

As a last resort, you can restart your VNC session by first issuing the vnckill command, then start from scratch.
Barna"

I was able to launch from an mxterm without issue.

[2020-10-15 23:09] brugger1 commented on #12255
I've been have slowness problems just now as well and it looks like it just got better again. Typing in the terminal was slow, refreshing the terminal window was slow and the background would change into strange colors.

[2020-10-15 23:10] aowen87 commented on #12255
Strange... It sounds like there's just some issues going on with VNC today. Thanks for the feedback!

[2020-10-15 23:19] brugger1 commented on #4934
Thanks for the location of the data.

[2020-10-15 23:35] rusu24edward commented on #2795
I went through all the classes and added typing to the `Vector` calls. However, the warnings continue to appear. I searched online, but everything I found indicated that it was an issue with the generic types, like we initially thought, yet the warnings continue. I couldn't figure out how to add `-Xlint:unchecked` to the build, so I stripped down DeferExpressionOperator.java to a form that compile

[2020-10-17 00:53] #5073 closed, assigned to griffin28

[2020-10-17 01:02] griffin28 opened #5170 "Update VisIt, GUI and Viewer Info.plist and related files"
In preparation for notarization, need to update the VisIt, GUI, and Viewer Info.plist files to have a standard bundle Identifier and correct copyright date.

Also update some **CMake** variables in the related `CMakeLists.txt` files.

Files that need updating:

1. `gui/main/CMakeLists.txt`
2. `viewer/main/CMakeLists.txt`
3. `include/ViewerInfo.plist.in`
4. `tools/dev/scripts/Info.plist.in`

[2020-10-19 13:53] brugger1 opened #12256 "multiproc on linux"
Hello

I am on ubuntu 18 with openmpi 3.0 and visit 3.0.1, this runs on single proc well.  However, i cant run with more than one core.   using the host profiles i can ask it to use 2 or 4 or more processors but it does not work

this is on a vm as well as on a directly installed linux workstation.

ive tried telling it to run mpirun and mpiexe but no effect

thanks

Sal

We're trying to [combine

[2020-10-19 14:01] brugger1 commented on #12256
Hi Sal,

We recently fixed an issue in our launcher script with running in parallel using the built in version of MPICH in VisIt.

I have attached a version of the internallauncher script, which should be to the following location in your VisIt installation. (you might want to make a copy of the old file in case something goes wrong). You will want to remove the ".txt" extension and make sure that

[2020-10-19 15:10] brugger1 opened #5171 "Add documentation on XRayImage query."
### Describe what needs to be documented.

I've had several people ask me about the XRayImage query in the last couple of months. I have some content from explaining it to folks, so I should put it in the document for future reference.

[2020-10-19 15:18] biagas opened #12257 "Rotation of pseudocolor particles turns black"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi

loading a set of particle trajectories from exodus files and drawing

[2020-10-19 15:20] biagas commented on #12257
Hello Sal,

Can you tell me what options you are using for the Pseudocolor plot?
Also, would you be willing to provide sample data to aid in diagnosing the problem?

[2020-10-19 18:02] #5170 closed, assigned to griffin28

[2020-10-20 15:16] biagas commented on #12257
Hi Kathleen,

I am using the standard out of the box configuration of pseudocolor plot attributes.  Linear, use original data, default color table, lighting, etc. However, I just solved it.  Its the lighting attribute flag that is normally checked and this leads to loss of color under rotation.  If i uncheck it on my mac the colors remain regardless of rotation.  Perhaps this is how this flag is m

[2020-10-20 15:17] biagas commented on #12257
Hi Sal,

No, you shouldn't have to uncheck the lighting attribute flag. If you could supply a small dataset, that would be most appreciated.

Kathleen

[2020-10-20 15:32] doutriaux1 opened #12258 "Running python scripts using Visit and argparse"
Hello,

I have a python script that uses both visit and argparse up until this week my script had the following lines to make it work

[code]

And everything worked fine with my regular python

But today the `visit.LaunchNoWin()` line returns (on rztopaz and rzalastor):
[code]

visit launches fine from the command line. So I figured I would just launch via -cli -s

Unfortunately using
[code]

Lead

[2020-10-20 15:41] doutriaux1 commented on #12258
Adding:
export LD_LIBRARY_PATH=/usr/tce/packages/gcc/gcc-4.9.3/lib64
To my path fixed the loading issue. (figured out this path by using `ldd` on the problematic library

[2020-10-20 15:41] doutriaux1 commented on #12258
I would still like to hera about using visit -cli and argparse together though.

[2020-10-20 15:43] doutriaux1 commented on #12258
Or how to specify a specific version of visit, right now I need the 'visit' executable to be in my path, but pointing to /usr/gapps/visit/3.1.3 does seem to find ny `visit` executable.

[2020-10-20 15:48] cyrush commented on #12258
The std lib path issue is a result of the system python being compiled with different compilers and or different settings than VisIt's python.  Glad you could fix with LD_LIB, depending on how much the compilers or the config args change between the two, importing might not even be possible.

visit uses the same launcher to launch all installed version.

If you want the equiv of:

`/usr/gapps/visi

[2020-10-20 17:49] griffin28 opened #5175 "Enable Hardened Runtime for macOS binary"
Enabling the **Hardened Runtime** will compile the binary in a way that makes it harder for external process to inject code. This is a requirement for successful notarization.

In support of #4069

[2020-10-20 18:02] #5175 closed, assigned to griffin28

[2020-10-20 18:23] biagas opened #5178 "GUI Manual, query window needs Python query"
### Describe what needs to be documented.
The screenshots and documentation for the Query window do not include Python Query.

[Query](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Query.html)

### Additional context
Should screenshot the PythonQuery tab, and document its features/settings.
Document PythonQuery template and SimplePythonQuery template.
Sh

[2020-10-20 23:19] biagas commented on #5090
@markcmiller86 I fixed the OpenDatabase path with PR #5114.
It remains to fix the parallel hang.

[2020-10-20 23:21] #4920 closed, assigned to nobody

[2020-10-20 23:25] #4863 closed, assigned to nobody

[2020-10-20 23:43] #3956 closed, assigned to nobody

[2020-10-20 23:45] markcmiller86-visit commented on #12253
Hello,

I have the following query: I have 2D map for which I am plotting a Lineout curve along the X direction, my endpoints being (-300, 0, 0) and (200, 0, 0). Lineout plots distance on X axis from 0 to 500 (length in the x dimension). However, I wish to change the X axis range of the plot to look similar to the x axis of my 2D map,  that is, going from -300 to 200 instead of being shifted by 30

[2020-10-20 23:45] brugger1 commented on #3475
This should be possible. I will verify and close if so.

[2020-10-20 23:55] brugger1 commented on #2999
We should change the root file.

[2020-10-21 00:03] biagas opened #12259 "Lineout plot X axis range query"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

I have the following query: I have 2D map for which I am plotting

[2020-10-21 00:21] biagas commented on #12259
Hello Riddhi,

There isn't a way to do it directly.
You can save the curve as a vtk file, open it in VisIt, create a Mesh plot, then apply the Transform operator using the Scale option.

To save the curve as vtk, make sure the window that contains the lineout is active, then open File->Set save options
Make note of where the file is being saved, enter a filename, turn off family if desired (it app

[2020-10-21 00:56] markcmiller86 commented on #4655
Was fixed by @biagas in #4661

[2020-10-21 00:56] #4655 closed, assigned to biagas

[2020-10-21 01:04] #2999 closed, assigned to markcmiller86

[2020-10-21 13:27] markcmiller86-visit commented on #12259
Hi Kathleen,

Thank you very much for a detailed response! I think however, that the Translate option is appropriate for the task I want to achieve rather than the Scale since I want to translate the entire x-axis by -300 to match my 2D bounds. But the procedure you outlined was extremely helpful to achieve that.

However, I have one more question. When I create the Mesh plot it is quite tiny, see

[2020-10-21 14:49] biagas commented on #12259
Good catch on Translate being the correct option instead of Scale. Sorry about that.

You may want to turn on 'full frame mode' if it isn't turned on already.  There are two ways to accomplish this:

You can right-click in the window with the plot to access the pop-up menu:

![RightClickView](https://user-images.githubusercontent.com/17075318/96735147-1b498500-1370-11eb-834e-9c7d1bdd938b.PNG)

Or

[2020-10-21 16:00] markcmiller86-visit commented on #12259
No problem at all!

And the Full Frame View worked wonderfully. Thanks a lot for the help. I greatly appreciate it 😊

Riddhi

From: Kathleen Biagas via visit-users <visit-users@elist.ornl.gov>
Date: Wednesday, October 21, 2020 at 10:49 AM
To: visit-dav/live-customer-response <live-customer-response@noreply.github.com>
Cc: Kathleen Biagas <notifications@github.com>, Comment <comment@noreply.github.

[2020-10-21 22:38] #5066 closed, assigned to biagas

[2020-10-21 23:34] biagas commented on #5165
I am unable to replicated the greyed out variables on Windows.

I did a comparison between the variable menus on 3.0.0 and current 3.1RC.
All are the same except these:

from 3.0.0, (sorting is case-sensitive) Highlighted entry, it matches first entry in submenu

![vars_300_2](https://user-images.githubusercontent.com/17075318/96800442-393bd780-13ba-11eb-976c-f7ad6f10ad71.PNG)

from 3.1.3, (sortin

[2020-10-21 23:51] brugger1 commented on #5165
I just figured out why I got the greyed out variables on Windows. When I unpacked the zip file I only extracted the top level silo file and not the directory. When I also extracted the directory, then the variables show up properly.

Sorry about the rabbit hole Kathleen!

I think the entries in the expanded subentry were correct based on the old case sensitive sorting, but the XSPH... variables sh

[2020-10-22 00:17] biagas commented on #5006
Can modify the script to use io.open, and add this argument:  'newline='\n'
This works if the functions_to_method_doc.py script is run using python 3, but with python 2.7.14 (current default), I get this error:
TypeError: write() argument 1 must be unicode, not str

[2020-10-22 00:25] markcmiller86 commented on #5165
It looks the relevant commit is #3550. I believe the *grouping names* (as you are calling them) (e.g. the intermediary menu names between the **Plot** object's entries and the leaves) *should* simply by the top-entry in each group. Its concievable #3550 was syntactically compatible but functionally incompatible with logic in `VariableMenuPopulator::IsGroupingRequired" here, https://github.com/visi

[2020-10-22 00:34] biagas commented on #5165
Thanks @markcmiller86

[2020-10-22 14:33] doutriaux1 opened #12260 "Draw a Box on a plot"
Hello,

I'm trying to draw a box on a region of interest (in Python) . The closet thing I found is CreateAnnotationObject("Line2D")

But the coordinates seem to be in % of the window.

Is there a function in Visit to go from world coordinate (I'm doing 2D plot at the moment, but I will eventually need to know how to do 3D as well) to image coordiante to feed to the Annotation Object.

Thanks!

[2020-10-22 15:23] biagas commented on #12260
Hello Charles,

Unfortunately, there isn't a way to specify world coordinates for the 2D line objects.
For a box, your best bet is to use a vtk file that defines the desired coordinates for your box because it is easy to create and modify.

Open it in VisIt and create a Mesh plot, modify the Mesh Plot's color if desired, as well as line width. If you need to reposition it, just make changes to the

[2020-10-22 15:25] doutriaux1 commented on #12260
@biagas thanks I can work with that!

[2020-10-22 15:55] #4853 closed, assigned to markcmiller86

[2020-10-22 16:17] brugger1 commented on #2268
One possible solution would be to export the scripts to our users manual.

[2020-10-22 16:19] #2257 closed, assigned to nobody

[2020-10-22 16:21] #2238 closed, assigned to nobody

[2020-10-22 16:23] #2228 closed, assigned to nobody

[2020-10-22 16:28] brugger1 commented on #2135
Probably the ability to import color tables is a higher priority.

[2020-10-22 16:34] biagas commented on #2079
https://elist.ornl.gov/mailman/private/visit-users/2014-November/016711.html

[2020-10-22 16:35] biagas commented on #2079
here's the original posting:

Hi,

we found an issue when trying to generate streamlines in parallel, and
I'm wondering if anyone can give me some help as to how to proceed.

To reproduce the issue (I'm using version 2.8.0):

* we can use the file pulse_0000.h5, downloadable at:
http://we.tl/Tm82dxNGan (which by default is opened with the Pixie
reader).

* the file does not have velocity vectors,

[2020-10-22 16:40] brugger1 commented on #2079
Can no longer get to the data.

[2020-10-22 16:40] #2079 closed, assigned to nobody

[2020-10-22 16:41] #1959 closed, assigned to nobody

[2020-10-22 16:42] #1914 closed, assigned to nobody

[2020-10-22 16:43] #1860 closed, assigned to nobody

[2020-10-22 16:49] #1075 closed, assigned to nobody

[2020-10-22 21:28] biagas commented on #5165
@markcmiller86 do you remember why you decided to use tolower instead of something like strcasecmp here:
https://github.com/visit-dav/visit/blob/1ebf4aaab5adb748c24c9559fb0d4b1f1fbef0f6/src/winutil/VariableMenuPopulator.h#L134-L142

[2020-10-22 21:30] markcmiller86 commented on #5165
I think because this is C++ code (`std::string`) and strcasecmp is C lib (`char *`) string library.

[2020-10-22 22:09] markcmiller86 commented on #5165
Oh, wait, you mean why didn't I just implement as...

[code]

Hmmm...good question. I may have been wanting to understand how to do it with C++ and so just used it as an opportunity to do that.

[2020-10-22 22:13] biagas commented on #5165
You don't think the extra string copy's add unnecessary overhead? That said with the caveat that I don't know how strcasecmp (or stricmp on Windows) performs in comparison.

[2020-10-22 22:18] markcmiller86 commented on #5165
Oh, good catch! Yes, they do for sure. And, its happening every time we iterate variable menus and compare strings. So thats really bad.

`strcasecmp` would be way better now that you've pointed this out.

I'm just stunned that same ops in C++ aren't possible? Or, maybe I just didn't know enough about how to do equiv. in C++ to get it performant.

[2020-10-22 22:23] markcmiller86 commented on #5165
Yeah, its the latter...I didn't know enough when I wrote this, nor apparently think or care about performance here. There are [some nice C++ ways of doing it](https://thispointer.com/c-case-insensitive-string-comparison-using-stl-c11-boost-library/)

[2020-10-22 22:38] doutriaux1 commented on #12260
@biagas I'm almost there. I do see the box on my first plot but for the next plot the window is stil at the same location

I have the following code to clean my windows and plots:

[code]

But the CloseDatabase call tells me the file is in use. I'm not sure why, any pointer appreciated.

[2020-10-22 22:46] biagas commented on #12260
@doutriaux1 Have you deleted the plots before you close the database?

[2020-10-22 22:49] doutriaux1 commented on #12260
@biagas  isn't it what `ClearAllWindows()` is supposed to do for me? Sorry i'm still fairly new to Visit.

[2020-10-22 22:53] doutriaux1 commented on #12260
@biagas you're right (of course) looking at https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/functions.html#clearwindow I do need to delete my plots as well.

[2020-10-22 22:53] biagas commented on #12260
@doutriaux1 Clearing a window does remove drawn plots from the window, but it doesn't remove the plot from the active plot list. It basically puts the plot back in the 'new' state (pre-Draw), and the database cannot be closed as you have observed.  Calling 'DeleteAllPlots()' for any  active Window will not only clear the drawn plots from the Viewer window, but also remove all the plots from the ac

[2020-10-22 23:03] doutriaux1 commented on #12260
@biagas ok almost there, my issue is my original data is not in x/y but r/z and I'm not sure what do I need to change.

[2020-10-22 23:03] markcmiller86-visit commented on #12260
Hi Charles,

Maybe you already know and used it. Just wanted to tell that there is a
macro record feature that is useful to know. Controls -> Commands ->
Record, and then do all the things on the GUI. When done, click stop. That
will output all the python commands on to the recording console, and then
you can put that in a python script in a for loop.

On Thu, Oct 22, 2020 at 4:53 PM Kathleen Biag

[2020-10-22 23:06] doutriaux1 commented on #12260
@markcmiller86 yes I use it quite a bit. but I'm probably more illiterate on the GUI than the CLI 😝

[2020-10-22 23:10] biagas commented on #12260
@doutriaux1 Are you saying that the Box vtk dataset isn't appearing correctly or is your data itself not displaying correctly?

[2020-10-22 23:25] biagas commented on #12260
If its the vtk box I gave you previously, VisIt has a convention for vtk datasets with non x/y coordinate systems. We define a MeshCoordType Field data, if the value is '1', VisIt will treat it as an r-z mesh, if '2', then z-r.

The 2D box defined before would look like this:
[code]

[2020-10-22 23:26] doutriaux1 commented on #12260
I can't really upload the picture is but the idea is that I plot the "full" problem and also a "zoomed" region of interest. What I'm trying to do is plot a box on the "full" plot that represents the area zoomed. I have some "picked nodes" in the area of interest and the plotted box is not at the right place (not encompassing the picked nodes)

[2020-10-22 23:27] doutriaux1 commented on #12260
@biagas I think that's what I was missing. Thanks!

[2020-10-23 00:07] doutriaux1 commented on #12260
Hurray! It works! thank you so much for your help!

[2020-10-23 00:10] biagas commented on #12260
You are very welcome!

[2020-10-23 17:17] brugger1 commented on #1550
I ran the build_visit script on quartz with the following command line.

./build_visit3_1_3 --mesagl --llvm --makeflags -j36

and got the following output when it finished building VisIt.

Creating host.conf
Creating quartz3000.cmake
Building VisIt (~50 minutes)
Unzipping/untarring visit3.1.3.tar.gz . . .
Building VisIt in visit3.1.3/build . . .
Configuring VisIt . . .
Building VisIt . . . (~50 mi

[2020-10-23 17:17] #1550 closed, assigned to brugger1

[2020-10-23 19:43] markcmiller86 commented on #3475
FYI...I happened to be testing something else regarding variable sorting and so opened `sesame.pdb` and tried to plot a material's curve plot on top of a 2D EOS plot. It succeeds in plotting both in same window but doesn't produce the curve *on top* of the 2D plot. Change opacity of the 2D plot doesn't help. Same thing happens with combination of Mesh plot and curve plot. Chaning order of plots in

[2020-10-23 20:08] brugger1 commented on #3475
On windows I created a pseudocolor plot of d and did a line out. I then went to window 2 and added a pseudocolor plot so that I had a curve plot and a pseudocolor plot from a 2d dataset. The curve was on top of the pseudocolor plot, so in this case it worked.

I will mark this a priority and un-assign it since I was hoping to just verify that it worked, which it doesn't.

[2020-10-23 20:14] brugger1 opened #12261 "Feature request"
Hi,

When plotting microstructure information, it is desirable to get a clean figure like this:

![issue_image1](https://user-images.githubusercontent.com/1102718/97050043-87bfb200-1531-11eb-80b9-70c86ad76665.png)

Instead, visit, associates values to colors and at the grain boundaries, going from one color to another, visit does an interpolation in values, giving a stair step effect that shows in

[2020-10-23 20:18] brugger1 commented on #12261
Hi Saad,

It looks like you are doing a pseudocolor plot of probably an integer field, where the integer represents a grain. When you plot a zone centered variable, it displays each zone a solid color with no interpolation. When you plot a node centered variable, it interpolates linearly within zones. My guess is that you have a node centered variable. If you were to change it to a zone centered v

[2020-10-23 21:34] brugger1 opened #5189 "Pseudocolor plot limits wrong when plotting material selected expression."
### Describe the bug

If you plot a material selected Pseudocolor plot of an expression variable, the minimum in the color bar will always be zero if the minimum should be above zero.

Here is a Pseudocolor plot of d from rect2d.silo. The data limits in the legend are correct.

![d_all_materials](https://user-images.githubusercontent.com/1102718/97055011-bf7f2780-153a-11eb-9479-2c5522a319ed.png)

[2020-10-23 23:52] #5165 closed, assigned to biagas

[2020-10-26 17:58] #3492 closed, assigned to brugger1

[2020-10-26 20:07] biagas commented on #4413
@markcmiller86 I merged changes addressing this to 3.1RC, but when creating the same changes on develop, I noticed you made a change to doc/CMakeLists.txt in June to add 'linkcheck_builder'.  Makes me wonder now about my changes.  Is this linkcheck_builder something that is this needed for the python3 way building of manuals as well? Is it already part of that? Can I go ahead with merging the 3.1R

[2020-10-26 20:13] markcmiller86 commented on #4413
Sphinx supports a variety of builders...`html`, `latex`, `xml`, `spelling`, etc. `linkcheck` is yet another builder to check all the links in the docs to make sure they are valid. I eventually want to make it part of CI testing for PRs. I haven't closed that loop yet. So, now I just occasionally run it manually and find and fix bad links.

While I don't understand the interplay between Python 3 an

[2020-10-26 20:27] aowen87 opened #5193 "Pick through time issue"
### Describe the bug
I received the following email from Kevin Durrenberger. It looks like Jerome is having trouble performing a pick through time with one of his dataset variables:

![image](https://user-images.githubusercontent.com/11658578/97224736-d1590880-178e-11eb-8589-40a0eafb79e7.png)

[2020-10-26 21:40] #4413 closed, assigned to biagas

[2020-10-27 15:42] #5052 closed, assigned to biagas

[2020-10-27 22:45] #3375 closed, assigned to nobody

[2020-10-27 22:54] markcmiller86 commented on #2876
Clip optimizes from multi-block spatial extents. We could use data extents to prime legend in this case. The only way to foil this approach would be a database there spatial extents existed but data extents did not exist...which we suspect is unlikely.

[2020-10-27 22:57] #2556 closed, assigned to rusu24edward

[2020-10-27 22:57] #1447 closed, assigned to rusu24edward

[2020-10-27 22:59] #985 closed, assigned to rusu24edward

[2020-10-27 23:04] brugger1 commented on #4084
This is a duplicate of #5122 and was resolved in #5124 and #5126.

[2020-10-27 23:04] #4084 closed, assigned to brugger1

[2020-10-28 15:40] rusu24edward commented on #4632
@brugger1 How can you find VTK's implementation of this? I can find their .h file, but I can't find the implementation.

[2020-10-28 15:54] rusu24edward commented on #4632
Searched a little more and found it [here](https://github.com/Kitware/VTK/blob/master/IO/Parallel/vtkMultiBlockPLOT3DReader.cxx).

[2020-10-28 19:13] markcmiller86 commented on #4632
@rusu24edward I could be wrong but I think that VTK implmentation you found may be only partially helpful at informing how to implement this here. Looking at that VTK code you found,

https://github.com/Kitware/VTK/blob/a8597e0cdc3305c88054edd89c600d4de4207dcd/IO/Parallel/vtkMultiBlockPLOT3DReader.cxx#L1841

it seems to rely on the VTKism `vtkDataSetAttributes::HIDDENCELL` and there are no refs to

[2020-10-28 19:45] rusu24edward commented on #4632
@markcmiller86 Thank you for your thoughts on this!

I believe that the vtk implementation uses the "iblank" array for the nodes. It appears to be populated at [ReadIntScalar](https://github.com/Kitware/VTK/blob/a8597e0cdc3305c88054edd89c600d4de4207dcd/IO/Parallel/vtkMultiBlockPLOT3DReader.cxx#L1831), which calls [ReadIntBlock](https://github.com/Kitware/VTK/blob/a8597e0cdc3305c88054edd89c600d4de4

[2020-10-28 23:31] markcmiller86 commented on #4632
I took a deeper look at that VTK code. My read...its using the input VTK data objects `"IBlank"` array (apparently centered on the nodes) to turn around and populate a *cell* array for VTK *ghost* data (named `"vtkGhostType"`). It does this by examining all the points for a cell and if any point is iblanked, then the associated cell gets set to `vtkDataSetAttributes::HIDDENCELL` (though I am confu

[2020-10-29 00:24] rusu24edward commented on #4632
I thought this was strange too. I made some changes on my branch and waiting for a user to provide some data to test it on. That should provide a better sense of how the blanking is configured.

Thanks for the link! I'll investigate that further tomorrow.

[2020-10-29 13:28] markcmiller86 commented on #4632
I missed this part earlier. My interpretation of these lines...

https://github.com/visit-dav/visit/blob/848f4aa99040ed51b1fee9409cf4fc78b5cf26b6/src/databases/PLOT3D/vtkPLOT3DReader.C#L799

is that `if (this->Internal->IBlanking)` *is* effectively the required introspection and we do in that conditional block effectively the same logic we see here...

https://github.com/Kitware/VTK/blob/a8597e0cd

[2020-10-29 17:26] flow-phys opened #12262 "Running Visit from bsub allocation"
I'd like to run a visit post-processing script as a batch job on rzansel/lassen (blueOS) using the bsub command.

I request an allocation and then pass a python script to the visit command:

visit -cli -nowin -s [pythonFile] [args]

I use the OpenComputeEngine() in the visit script when I run without an allocation, which requests nodes/time on a machine.

Question:
How do I attach to the allocated

[2020-10-29 17:46] griffin28 commented on #12262
Instead of using OpenComputeEngine() in the visit script try:

[code]

I believe this should look at the slurm env vars and launch the engine with the number of allocated nodes. Let me know if this works.

[2020-10-29 18:17] flow-phys commented on #12262
@griffin28 , thanks for the quick reply!  The above appears to work on the TOSS machines but I get the following error on BlueOS:

raise VisItException("engine.open(method='slurm') requires "
visit_utils.common.VisItException: <VisIt Error> engine.open(method='slurm') requires SLURM_JOB_NUM_NODES and SLURM_CPUS_ON_NODE env vars

Any thoughts?

Thanks

[2020-10-29 18:21] griffin28 commented on #12262
Hmmm..@brugger1 or @cyrush...is `slurm` the correct workload manager for BlueOS?

[2020-10-29 18:41] flow-phys commented on #12262
Not sure this is the blessed solution, but if i set my environment variables:
SLURM_JOB_NUM_NODES
SLURM_CPUS_ON_NODE
to their appropriate values for the blueos nodes, the script appears to run.  Its a bit of a hack, but when I inspect the Compute Engines through the GUI, it appears to be using what I've requested.
Solved?

[2020-10-29 18:49] griffin28 commented on #12262
Ok. I'm not familiar with BlueOS, once Cyrus or Eric get some free cycles they may be able to shed some light on why these env vars aren't being set.

[2020-10-29 18:58] cyrush commented on #12262
`slurm `won't work out of the box -- but @flow-phys  clever to emulate those vars.

We would need to understand the magic env vars for LSF to provide a similar setup.

@flow-phys  Do you know which ones we should pull off hand?

[2020-10-29 19:01] brugger1 commented on #12262
I think you should be able to get OpenComputeEngine to work. I'll see if I can get you the correct set of flags to run with.

[2020-10-29 19:03] rusu24edward commented on #4632
@visit-dav/visit-developers Is [DUPLICATED_NODE](https://github.com/visit-dav/visit/blob/f835d5132bdf7c6c8da09157ff86541290675a6f/src/avt/Pipeline/Data/avtGhostData.h#L25) the right choice for nodes in the avtGhostNodes array that are actually not ghost nodes?

[2020-10-29 19:03] griffin28 opened #5198 "SLURM env variables not being set on BlueOS"
### Describe the bug
@flow-phys was trying to launch the engine with pre-allocated nodes from a Python script with the command:
[code]

This works on TOSS machines but he encountered the following error on **BlueOS**:
[code]
He resolved this by manually setting the **SLURM_JOB_NUM_NODES** and **SLURM_CPUS_ON_NODE** env vars. See [SRE Issue](https://github.com/visit-dav/live-customer-response/issue

[2020-10-29 19:10] brugger1 commented on #12262
The following encantation of OpenComputeEngine launched a batch job for me on lassen.

OpenComputeEngine("localhost", ("-np", "80", "-nn", "2", "-l", "bsub/mpirun", "-b", "wbronze", "-p", "pbatch"))

[2020-10-29 20:18] griffin28 commented on #12262
@brugger1 will this use pre-allocated nodes?

[2020-10-29 20:54] griffin28 commented on #4069
Related to #3421

[2020-10-29 20:58] brugger1 commented on #12262
This will allocate nodes. I missed that part of the original submission.

[2020-10-29 21:11] aowen87 commented on #4632
@rusu24edward I think that DUPLICATED_NODE is just another type of ghost node that we can add (actual ghost node).

[2020-10-29 21:27] #3421 closed, assigned to griffin28

[2020-10-29 21:28] #4069 closed, assigned to griffin28

[2020-10-29 23:32] brugger1 opened #5201 "Can't run VisIt directly on trinity."
### Describe the bug

I had a user want to run the VisIt cli from a batch job on trinity. He got an error message that that library libicui18n.so.52.1 could not be found. I checked and libicui18n.so.60.2 is installed, so it looks like the system got upgraded and the old versions of the libraries are not available.

[2020-10-29 23:34] brugger1 commented on #5201
It looks like I need to rebuild all the third party libraries and visit, since the compilers and many of the supporting libraries have been upgraded. I have started a build of the third party libraries using build_visit3_1_3.

[2020-10-30 00:47] flow-phys commented on #12262
@cyrush , there is an environment variable that get created when you have an allocation that may work.  Here's what I see:
"LSB_MCPU_HOSTS=rzansel62 1 rzansel47 40"
The "1" is the number of nodes and the "40" is the number of CPUs.

I didn't see anything else from printenv.

[2020-10-30 16:45] griffin28 opened #12263 "Using variables across databases for post-processing"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hi all,

I am trying to import multiple databases (parallel vtu files),

[2020-10-30 16:57] griffin28 commented on #12263
Hello Balaji...you will want to use VisIt's **CMFE (Cross-Mesh Field Evaluation)** expressions.

It's probably best to start out with the [Data-Level Comparisons Wizard](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/DataLevelComparisonsWizard.html?highlight=CMFE) and then once you get comfortable with that, you can create your expressions directly using

[2020-11-02 17:40] markcmiller86 commented on #3576
Am attaching a [paper I found](https://github.com/visit-dav/visit/files/5476891/10.1061_9780784412992_070pp.pdf) that goes into some details regarding visualization of bricks with IPs.

Full disclosure...the abstract mentions *fiber bundles* of all things but that isn't what caughy my eye 😮

[2020-11-02 19:07] markcmiller86 commented on #3576
Also, MFEM team has been investing some similar issues...

- https://github.com/mfem/mfem/issues/1477
- https://github.com/mfem/mfem/issues/679.

[2020-11-02 21:04] markcmiller86 commented on #3576
Including here some remarks from an email exchange with @tzanio...

And, in response to my questions...
* But, is there a 4th option...interpolate the 8 point data to the nodes and then perform a “nodal-averaging perhaps wegithed by zone volume” to arrive at a tri-linear *continuous* representation?
* Also, what about numerical operations like Queries in VisIt? In these cases, we’re computing thin

[2020-11-02 22:44] markcmiller86 opened #5206 "Unify handling of color"
### Is your feature request related to a problem?
We have what appears to be a free for all in the way different classes handle/manage color as briefly touched on here, https://github.com/visit-dav/visit/pull/5205#issuecomment-720763011.

This should probably be cleaned up to use the same, consistent representation and storage for color *everywhere*. I would recommend that *internally* in VisIt, w

[2020-11-02 22:48] brugger1 opened #5207 "Revolving a "1D" mesh of quads crashes Revolve operator."
### Describe the bug

A user wanted to create a 2D RZ mesh from a 1D mesh of quads. It always crashed. I don't believe the Revolve operator in its current state would do what the user wanted, but it shouldn't crash. The user was able to do what she wanted with a revolve and a slice. (Revolve from -90 -> 90, Slice Z = 0). Since the output of the Revolve operator was able to be sliced successfully,

[2020-11-02 23:12] brugger1 commented on #5201
I built visit3.1.1 against the libraries generated by build_visit3_1_3 and that was successful (File transfer was broken to trinity, so I used the latest version I had on the machine). I replaced the installed 3.1.1 version and it ran successfully in serial on a login node as well as in parallel in a batch submission.

[2020-11-02 23:22] brugger1 commented on #5201
The user reported a link error at runtime.

/opt/gcc/9.3.0/snos/lib64/libstdc++.so.6 version 'GLIBCXX-3.4.26' not found, required by …/bin/cli/libvisitcommon.so

I suggested he try

module swap PrgEnv-intel/6.0.8 PrgEnv-gnu/6.0.8

which fixed the problem. I will see if I need to add some path information for gcc to the custom launcher for trinity.

[2020-11-03 02:27] rusu24edward commented on #1903
@markcmiller86 I'm reopening this because the attributes don't seem fixed to me. I still see this same issue where updated the attributes in the gui and hitting "apply" does nothing to the viewer. Do you know who you were thinking of who might have fixed the attributes?

[2020-11-03 04:09] rusu24edward commented on #3881
![Screen Shot 2020-11-02 at 6 23 18 PM](https://user-images.githubusercontent.com/18565891/97943494-561cc700-1d39-11eb-90c4-218d4de41ad9.png)
Seems like one of the main issues is that the data object is always treated like the original, non-operated object, which is why the bounds don't update, the number of bins is off, etc.

[2020-11-03 04:59] markcmiller86 commented on #1903
Hmmm...I cannot recall. That said, just wanna check...are we talking `develop` branch or `3.1RC`? I wonder if my comments apply maybe only to `develop`?

[2020-11-03 15:50] rusu24edward commented on #1903
I checked on develop.

[2020-11-03 15:58] markcmiller86 opened #5208 "Is this logic right?"
I happened to notice this in `avtMeshPlot.C`

https://github.com/visit-dav/visit/blob/dfc29a1457ea9fc330befa7fc0b21ba1705946f7/src/plots/Mesh/avtMeshPlot.C#L242-L246

Can someome sanity check this?

First, shouldn't we be testing for 0 in *topological* dimension, not spatial? It is for *point* meshes that we glyph them. Next, doesn't poly count for a glyph vary with glyph type? For example, sphere

[2020-11-03 17:29] brugger1 commented on #5208
I agree with all your points. Topological dimension 0, not spatial dimension to determine if glyphing. The multiplier will change based on the glyph type. An additional issue now is that we now support unstructured grids with mixed cell types ranging from topological dimension 0 to 3, so in theory we should only apply the multiplier to the actual cells that have a topological dimension of 0. It's

[2020-11-03 17:42] markcmiller86 commented on #5208
I think the `6` may have been chosen as a decent *average* value over all glyph types anyways 😮

[2020-11-03 23:10] Jspinti commented on #12204
I have tried all of the suggestions in the various posts, but the problem hasn't gone away. The Privacy and Firewall tabs are the same between the two accounts and I have "FullDiskAccess" turned on for Terminal. I also have XQuartz installed (I read about xterm issues being one cause of the behavior). Thanks in advance for any further help that you can provide.

[2020-11-04 15:14] aowen87 commented on #5193
I'm not able to reproduce this issue. I'll get in touch with Jerome to get more details.

[2020-11-04 16:35] biagas commented on #2730
On pascal, using publicly installed 3.1.3, I tried opening our flash testdata:
visit -o testdata/FLASH_test_data/orbit_hdf5_chk_0000,FLASH_1.0

and it worked. It also worked with 2.13.3 and 2.12.3
FLASH  was the only format I could think of that requires specifying the reader format.

@markcmiller86, do you still have that foo.exo file I can test with Silo?

[2020-11-04 16:48] markcmiller86 commented on #2730
Nope. But, that specific file isn't necessary. Try this...

[code]

[2020-11-04 17:07] biagas commented on #2730
Thanks for the idea of copying an existing silo file, I didn't think of it.
Opening a single file as specified in the original text of this ticket works just fine.
So does visit -o "foo*.exo",Silo_1.0 (without the -cli).

[2020-11-04 19:48] #5016 closed, assigned to aowen87

[2020-11-04 20:58] markcmiller86 commented on #4525
I've decided I need to do this over a late weekend evening where I can safely temporarily disable traffic on visit-users. That is the email address associated with @markcmiller86-visit GitHub user. And, creating a new GitHub username and getting it connected up to visit-users will generate several emails there that may confuse users.

[2020-11-04 21:05] aowen87 commented on #5193
Here are Jerome's exact steps:

1. Open up your dataset using VisIt (**in parallel**)
2. Add Pseudocolor plot of Primal/brick/stress/sz and Draw
3. Switch to Zone pick.
4. Pick an element of interest.
5. Open Controls->Pick, enable time curve, set time curve to use picked element
6. Click “Repeat Pick”

What happens is that the first result is "unable to find data". If you click "Repeat Pick" agai

[2020-11-04 21:35] #2730 closed, assigned to biagas

[2020-11-04 21:36] aowen87 commented on #5193
I found a separate and possibly related issue while investigating this:
regardless of whether or not you're running in serial or parallel, the first curve drawn when you click "Repeat Pick" appears correct, but all subsequent clicks of "Repeat Pick" result in a completely different curve that doesn't match the original one. I'm assuming the original one is correct because it also matches the resul

[2020-11-04 21:55] aowen87 opened #12264 "Build fails on rzgenie"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

I'm trying to build VisIt on rzgenie, which I've done without issue in t

[2020-11-04 21:57] aowen87 commented on #12264
I've commented out the vtkm option in rzgenie.cmake to see if that resolves the issue for now.

[2020-11-04 22:08] aowen87 commented on #12264
Commenting out vtkh and vtkm in rzgenie.cmake lets me get past that failure.

[2020-11-04 22:14] aowen87 commented on #5193
I'm unable to reproduce either of these issues on develop. I'll check RC to be safe, but it's looking like these may have already been fixed.

[2020-11-04 22:16] aowen87 commented on #5193
Scratch that. I'm able to reproduce the first issue (Jerome's) if I bump the number of processors up to 36.

[2020-11-04 22:50] brugger1 commented on #12264
Is this with develop or the 3.1RC?

[2020-11-04 22:55] aowen87 commented on #5193
I'm pretty sure I've tracked down Jerome's issue. The DDQOT avoids excess work by only performing the actual query on the rank that owns the element of interest. This happens down in the database level, but, back in the query portion of the pipeline, the filter that actually sets up the plot doesn't realize this, and it looks for the data on rank 0. This was missed when using 2 ranks of paralleliz

[2020-11-04 23:00] aowen87 commented on #12264
This is develop.

[2020-11-04 23:10] markcmiller86 opened #5213 "ViewerPlot::SetBackgroundColor not reliably updated"
### Describe the bug
The `ViewerPlot` class has members for foreground and background colors, `fgColor` and `bgColor` and there are methods to set and get these values. However, I happened to put a `printf` statement in the set methods and then changed annotation's background color. Those methods were never called making the members that supposedly store that information unreliable. I didn't debug

[2020-11-05 17:15] #5193 closed, assigned to aowen87

[2020-11-05 18:11] Jspinti commented on #12204
I have found a workaround on one of your user's sites. I run visit from the command line (visit -cli). Then I open the gui (OpenGUI()). From there, I can open the command window and can record commands or run python code. I'm still not sure why the more direct method just hangs, but I'm happy to have something working.

[2020-11-05 18:20] brugger1 commented on #12204
Thanks a lot for updating us on your workaround!

[2020-11-05 20:35] #5189 closed, assigned to brugger1

[2020-11-05 21:25] brugger1 commented on #12264
I used the rztrona5 config site file and ran into the PIDX failure you mentioned. I commented out PIDX and things built fine after that.

[2020-11-05 22:13] Jspinti commented on #12204
With help from our IT person, I was able to solve the original problem. In the "Terminal->Preferences->General->New windows open with," the "Command" option was selected and the pathname had some garbage in it. When I switched the selection to "Default login shell," the problem was solved.

[2020-11-06 05:16] markcmiller86 opened #5218 "Improve Mesh plot legend"
The legend for the mesh plot could be improved a bit to show the opaque and line colors.

The curve plot legend shows the curve color

![Screen Shot 2020-11-05 at 9 11 34 PM](https://user-images.githubusercontent.com/5720676/98329008-02fe7a80-1fac-11eb-8311-2db4894fbd29.png)

The mesh plot legend could show the opaque and line colors as in the image below...

![Screen Shot 2020-11-05 at 9 13 46 PM

[2020-11-06 14:12] #5171 closed, assigned to brugger1

[2020-11-06 15:48] brugger1 commented on #12261
The data was saved as structured points in a vtk file as point data. I changed the file to add an extra point in each direction and change the data to cell data. With that change the colors were no longer interpolated and Saad was happy with the results.

[2020-11-06 16:50] aowen87 commented on #4817
This is basically complete. I need to write some tests and make sure that all the verdict metrics are now enabled to take this route.

[2020-11-06 18:08] aowen87 commented on #4848
I'm still unable to build VisIt libs on Catalina. I'm going to postpone this ticket for now.

[2020-11-06 21:04] aowen87 commented on #4817
@brugger1 I think this will be ready for review today, but it's cutting it kind of close for 3.1.4. Should I hold off until after we release or move forward?

[2020-11-06 21:50] brugger1 commented on #4817
I think we can add it to 3.1.4.

[2020-11-06 23:50] markcmiller86 commented on #3375
This isn't quite right...I'd like the infinity symbol to be shaded light/dark with dark being the `s`. But, its another idea.

![Screen Shot 2020-11-06 at 3 49 07 PM](https://user-images.githubusercontent.com/5720676/98424770-aea8d880-2047-11eb-804d-cc01bee9fe03.png)

[2020-11-09 09:18] ccrethu commented on #4806
Tried with build_visit3_1_3. The error is still present, why?

[2020-11-09 15:43] rusu24edward opened #12265 "Draw arbitrary shapes in plots"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Is there a way that I can get visit to draw arbitrary simple shapes on my

[2020-11-09 15:58] rusu24edward commented on #12265
I don't think there is a straightforward way to accomplish this. You may be able to hack something using [Interactive Tools](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/InteractiveTools/index.html) at the top of the window (e.g. Sphere tool will draw a sphere). [Annotations](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/MakingItPretty

[2020-11-09 16:03] aowen87 commented on #12265
I think @biagas recently came up with a strategy to accomplish drawing arbitrary boxes in VisIt by writing simple vtk files. I'm not sure how well this would work for more complicated shapes, but this may be a good workaround for simpler ones.

[2020-11-09 17:38] he-b opened #5224 "How to use the Wellbore plot?"
Hello,

First of all thanks for such a wonderful tool!

I want to use the Well Bore plot, however, I have not found a concise explanation on how to use it.

### Describe what needs to be documented.
- How to use the Well Bore plot
- What kind of input it requires
- What kind of grids are allowed
- Additional data
- Description of well bores file format
- An example data-set would be very helpful

[2020-11-09 18:41] biagas opened #5225 "Remove VISIT_LONG_LONG"
Defined in avt/Pipeline/data/pipeline_exports.h

It was added because old MSVC compiler didn't have 'long long'. This is no longer the case with the MSVC compiler being used for VisIt, so I think this define and it's use can be removed.

[2020-11-09 19:43] mehdivahab opened #5226 "Value mismatch of BoxLib imported data"
### Describe the bug
The values of imported data from a BoxLib2D data file does not match the data written to the file. I also tried reading the file with Amrvis and ParaView and they show the correct values.

**Helpful additional information**
 - Did VisIt crash: No
 - Did you get wrong results: Yes

### To Reproduce
Steps to reproduce the behavior:
1. Load the "plt0000000/Header" using Boxlib2D

[2020-11-09 20:30] brugger1 commented on #4806
The patch was only put on develop, hence it would only be available in VisIt 3.2. I just added the patch to the 3.1RC, so it will be available in VisIt 3.1.4, which will be released next week. Sorry about not getting your patch into an earlier release.

[2020-11-10 00:39] rusu24edward opened #12266 "Ignore zones that are duplicated at the domain boundaries"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Genesis Rosado-Martinez is using a python script to load silo files into

[2020-11-10 01:02] rusu24edward commented on #12266
Further clarification: The user is writing out data to numpy for training ML. The zones are duplicated in the numpy output, which is bad for training.

[2020-11-10 01:07] markcmiller86 commented on #12266
Hmmm...how does she know the zones are duplicated? Looking at `ZoneId` alone I don't think is enough. **Global** zone-ids would be sufficient. Otherwise, I think each domain numbers its zones 0...numZones-1.

Next, would the `Inverse Ghost Zones` operator help here? Thats not the best name of the operator as it has controls for many types of ghost zones and is generally designed to output *only* g

[2020-11-10 01:19] rusu24edward commented on #12266
I've requested the extraction script from the user, so we'll see if Global zone id is being used. I think `vtk_to_numpy` might provide the path forward here.

We did look into Inverse Ghost Zones operator, although not to identify if the zones are ghost because I assumed they were.

[2020-11-10 01:28] rusu24edward opened #5236 "Add arbitrary simple shapes to plots"
Michael Hohensee would like the ability to add arbitrary simple shapes to the plots. For example, add a sphere or a cylinder.

### Describe alternatives you've considered.
Considered the sphere/line/box tool, but those are more for analytics. Also considered annotations, but that's not gonna work.

### Additional context
Michael wants this feature for visualization AND he would arbitrary shapes to

[2020-11-10 01:34] rusu24edward commented on #4633
Was this ticket made before the vp3d file was supported?

[2020-11-10 15:21] markcmiller86 commented on #4633
Nope. This ticket was added April of this year and vp3d [looks like it was added](https://github.com/visit-dav/visit/blame/develop/src/databases/PLOT3D/PLOT3D.xml#L6) back in 2009.

[2020-11-10 19:27] biagas commented on #3164
Related tickets: #3055 and #3053

[2020-11-10 23:04] #4632 closed, assigned to rusu24edward

[2020-11-10 23:23] rusu24edward commented on #12125
Resolved with [5204](https://github.com/visit-dav/visit/pull/5204). Should be released in 3.1.4.

[2020-11-10 23:23] rusu24edward commented on #12171
Resolved with [5204](https://github.com/visit-dav/visit/pull/5204). Should be released in 3.1.4.

[2020-11-11 00:10] rusu24edward commented on #12266
The user is using the global zone id. The Ghost Zone operator is a good idea. Do you know how one might use a python filter to determine if a zone is ghost?

[2020-11-11 00:23] rusu24edward commented on #12266
Directed user to use `GetCellData()->GetArray("avtGhostZones")`, which I believe will work here.

[2020-11-11 00:24] rusu24edward commented on #12266
Pointed user to [numpy support module](https://github.com/Kitware/VTK/blob/master/Wrapping/Python/vtkmodules/util/numpy_support.py) for reference.

[2020-11-11 00:58] rusu24edward opened #12267 "Visit crashes when adjusting opacity of filled boundary big scale"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
A user was adjusting the opacity of some materials in a filled boundary p

[2020-11-11 01:11] rusu24edward commented on #4633
Got it. Thanks for following up. I only ask because I believe VisIt already handles binary PLOT3D files automatically, and it seems like the .vp3d file, which the user can create himself, does what this ticket suggests.

[2020-11-11 14:06] brugger1 opened #5242 "Add support for a string info to replace cycle info on a plot"
### Is your feature request related to a problem?

Neil Hodge would like to add a general string to a database that would replace the cycle information that VisIt displays. He is storing multiple runs in a single ".visit" file and is unable to distinguish them between them based on cycle alone.

Here is a sample ".visit" file

RUN1/abc0000.silo
RUN1/abc0010.silo
RUN1/abc0020.silo
RUN2/abc0000.silo

[2020-11-11 15:45] brugger1 commented on #12266
The user sent me her scripts as well and I took a look at them. She is using a Python Query to output the csv file. In the case of zones, the script can be modified to use  "avtGhostZones" to check if the zone is a ghost zone.

The code fragment from her script with the modification is:

    def export_csv(self, data, num_elem, file_name):
        names = [n for n in self.input_var_names if data.H

[2020-11-11 16:05] rusu24edward opened #12268 "Saving to Cinema"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,

Using pseudocolor plot on a time series particle trajectory and then

[2020-11-11 16:43] rusu24edward commented on #3053
Referenced in [SRE 175](https://github.com/visit-dav/live-customer-response/issues/175)

[2020-11-11 16:55] rusu24edward commented on #12268
Hi Sal,

In VisIt 3.0 we upgraded to VTK8, but the cinema C spec did not get updated. So in 3.0.1 we greyed out that option since we do not support it yet. If you want to use it, you'll have to use VisIt 2.13. Sorry about that :/

Can you direct me to this issue or provide more details? I have not heard anything about it and was unable to find it in our issue tracker. I would like to investigate i

[2020-11-11 17:14] markcmiller86 commented on #5242
Saw the email chain but hadn't read in detail. Hmm...we do support database *comments* in VisIt already don't we. There is a call, `avtDatabaseMetadata::SetDatabaseComment()` and Silo plugin does make that call to set it. I dunno where in VisIt annotations that might be supported though. Some thoughts that come to mind...

1. Add a new `AnnotationObject` for a database comment
1. Add some new `$`

[2020-11-11 18:06] cyrush commented on #5242
To echo @markcmiller86  -- path expansion options may help here, there were added to to address a case exactly like this.  But I am not sure if the `.visit `file gets in the way

[2020-11-12 17:17] aowen87 commented on #12264
Hmm.. That's kind of strange. I wonder why I was having trouble with VTK libs. I can try building again today.

[2020-11-12 17:20] #4817 closed, assigned to aowen87

[2020-11-12 17:28] aowen87 commented on #12264
I just realized that I had copied the rztrona config file to an "rzgenie" config file a long time ago, and I just forgot that there wasn't an actual rzgenie config file in VisIt's repo. So, my configuration was just really old. This is an Alister issue, not a VisIt issue.

[2020-11-12 17:46] aowen87 commented on #12264
I re-cloned VisIt, updated my config file to rztrona5, and I'm still running into that failure from VTKM/H.

[2020-11-12 18:40] rusu24edward commented on #1633
Is this something that we still want to do given that we have pydv?

[2020-11-12 18:51] cyrush commented on #1633
I think PyDV does fill this need.

If anything, I would say we could distribute PyDV with visit.

[2020-11-12 19:03] brugger1 commented on #1633
I agree, PyDV fills this role. Is there stuff we can do in VisIt to improve the integration? Then the ticket would be simplify integration between VisIt curve data and PyDV.

[2020-11-12 19:06] cyrush commented on #1633
from our cli: providing a path for any visit curve to be pushed into PyDV.

[2020-11-12 20:34] #5164 closed, assigned to aowen87

[2020-11-12 20:41] aowen87 commented on #4393
Documentation on the Qt Help framework: https://doc.qt.io/qt-5/qthelp-framework.html
It looks like this is a fairly different approach and would require us to create some extra files for Qt to digest. It's not quite clear to me if we would need to alter our html files to fit into this other framework.
Some of the files we would need to create for Qt:
https://doc.qt.io/qt-5/qthelpproject.html
https

[2020-11-12 21:26] markcmiller86 commented on #5067
Was fixed in #5205. The problem was that auto-color selection logic was getting triggered sometimes when the plot's atts *updated*, not just at *creation* time. This was fixed to only work at creation time. The fix involves **Curve** and **Mesh** plots and **Lineout** query/operator.

[2020-11-12 21:26] #5067 closed, assigned to markcmiller86

[2020-11-12 21:41] rusu24edward commented on #2968
Duplicate of #4778

[2020-11-12 21:41] #2968 closed, assigned to nobody

[2020-11-12 21:47] rusu24edward opened #5252 "Improved python filter abstraction"
### Is your feature request related to a problem?
Python Filters are hard to use because:
1. The docs need to be updated #4778
1. They require good vtk knowledge.

### Describe the solution you'd like.
The second point can be addressed with improved abstraction. This ticket proposes enhancing our python filter utilities to cover more use cases.

Attached are some scripts that show abstracting the

[2020-11-12 22:14] #4574 closed, assigned to aowen87

[2020-11-12 22:35] aowen87 commented on #3311
Is this still an issue? It looks like using "-1" does the trick.

[2020-11-12 22:37] aowen87 commented on #3311
We could update the documentation to mention the use of -1.

[2020-11-12 22:47] markcmiller86 commented on #3311
It looks like hitting the down button passed zero also does the trick.

Hmmm...it isn't clear that any user would actually think to try these options (or, frankly, to try typing `m` or `M`).

While documenting this *could* help, I think the right answer is a slightly better `QSpinBox` that shows not only up/down arrows to inc/dec the value but also something like a cieling and a floor or even just

[2020-11-13 02:03] rusu24edward opened #5253 "Improve integration between Visit and PyDV"
### Is your feature request related to a problem?
Coming out of #1633, we want to improve the integration between VisIt and PyDV. Suggestions are:
1. Distribute PyDV with VisIt
1. Providing a path in our CLI for any VisIt curve to be pushed into PyDV.
   * Can we go the other way too?

[2020-11-13 02:04] rusu24edward commented on #1633
Added a new ticket for clarity on what is being requested #5253

[2020-11-13 02:04] #1633 closed, assigned to nobody

[2020-11-13 13:52] brugger1 opened #12269 "No display with linux-x86_64-rhel7 version"
Hello,

We downloaded the tar of visit 3.1.3 and 3.1.2 linux-x86_64-rhel7 version (our platform is centos7), untarred and started visit with "./visit" command under the bin folder. The interface shows successfully and it can read the data files (we tested with .silo). But when clicking “Draw", it shows no graph and prints no error message (neither with -verbose option).

We also tried to build fro

[2020-11-13 13:59] brugger1 commented on #12269
Hi Kaiyue,

It sounds like your system doesn't have a suitable opengl driver. You should try installing the

https://github.com/visit-dav/visit/releases/download/v3.1.3/visit3_1_3.linux-x86_64-rhel7-wmesa.tar.gz

version. It uses mesa for rendering and should solve your problem. If that doesn't work, then you could try building again adding "--optional --mesagl" to the command line for build_visit

[2020-11-13 17:24] aowen87 commented on #3072
I've taken a look at this, and here's what seems to be happening:

The Mesh attributes _are_ being updated at the appropriate time, signifying when the opaque color buttons should/shouldn't be disabled, but the Mesh Plot's Attributes Window is not being updated to reflect these attribute changes. A simple workaround is to click on the plot's "expand" button, which initiates an UpdateWindow with do

[2020-11-13 17:51] aowen87 commented on #2860
Our clip filter actually has an option to remove whole cells. I think we just need to add this to the attributes window and turn this on when requested.

[2020-11-13 17:53] aowen87 commented on #2860
Well, removing whole cells along the clip plane is slightly different, but the same effect could be achieved by just moving the clip plane slightly. @brugger1 Do you think this is sufficient, or should I update the clipper to have an option that leaves the cells in place?

[2020-11-13 17:58] brugger1 commented on #2860
Just to make sure I understand. The current behavior is to remove cells intersected by the clip plane and you're asking if it should leave those cells and only clip cells completely on the wrong side of the clip surface.

[2020-11-13 18:04] aowen87 commented on #2860
Yeah, that's correct.

[2020-11-13 18:14] brugger1 commented on #2860
I would try to match ParaView. I brought up the ParaView docs on CrinkleClip and it wasn't clear from the description which case it did. Can you try it out and see?

[2020-11-13 18:18] aowen87 commented on #2860
Yeah, I'll take a look.

[2020-11-13 19:07] aowen87 commented on #2860
VTK keeps the cells being intersected by the clip plane when crinkle is enabled. I added an option into the vtkVisItClipper to allow for this and to compare to VTK's version. There are some slight differences, but I'm imagining these are edge case decisions? It's kind of unclear. Here is globe in being crinkle clipped at (0, 0, 0) with normal (1, 0, 0) in both VisIt and VTK:

VTK:
![Screen Shot 20

[2020-11-13 19:10] aowen87 commented on #2860
They look much more similar at other clip planes. I think this supports the idea that the differences seen in the first example are coming from edge case decisions about which cells to keep and not keep when the cells are exactly on the boundary. Here is (2, 0, 0) with normal (1, 0, 0):

VTK:
![Screen Shot 2020-11-13 at 11 08 41 AM](https://user-images.githubusercontent.com/11658578/99111279-ac430

[2020-11-13 19:37] brugger1 commented on #2860
That looks close enough to the VTK case. The case of slicing through the origin would be subject to floating point differences since a bunch of cells have faces in the plane x = 0.

[2020-11-13 22:25] aowen87 commented on #2860
I'm guessing we want to keep the same name, "Crinkle clip"?

[2020-11-13 22:35] brugger1 commented on #2860
Yes.

[2020-11-14 00:03] aowen87 commented on #2860
With and without crinkle on curv3d.silo:

![Screen Shot 2020-11-13 at 4 01 50 PM](https://user-images.githubusercontent.com/11658578/99132029-bcbba380-25c9-11eb-9eee-f958d6de83b0.png)

![Screen Shot 2020-11-13 at 4 01 42 PM](https://user-images.githubusercontent.com/11658578/99132033-bfb69400-25c9-11eb-9206-4234752eb683.png)

[2020-11-17 15:17] biagas opened #12270 "everything is dark when draw a big mesh"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Sir:

I want draw mesh using visit. I found that if the mesh is too large

[2020-11-17 15:57] biagas commented on #12270
Basically, you need to reduce the amount of data until you zoom in on your area of intereset.

If your Mesh is an AMR Mesh, you can try using the MultiRes Control operator to remove the finer-grain portions of the mesh until you zoom in. Or you can turn off levels via the [Subset controls](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Subsetting/Using_the_Subset_Wind

[2020-11-17 20:12] griffin28 opened #5262 "Error compiling numpy on macOS 10.15"
### Describe the bug
After building and notarizing VisIt 3.1.4 on macOS 10.15 importing numpy 1.14 from the CLI fails.

Some build_visit log output:

[code]

### To Reproduce
Steps to reproduce the behavior. For example:
1. Run VisIt 3.1.4 build on macOS 10.15
2. Open CLI and import numpy

### Desktop
 - OS and version: macOS 10.15
 - VisIt Version: v3.1.4

<img width="1018" alt="Screen Shot 2020-

[2020-11-18 00:42] cyrush opened #5263 "issue with openpmd in visit 3.1.3"
### Describe the bug

See details mentioned in PR
https://github.com/visit-dav/visit/pull/4730#pullrequestreview-532908407

[2020-11-18 00:43] brugger1 commented on #5207
I'm not sure there is an issue here other than it shouldn't have crashed.

[2020-11-18 00:45] brugger1 commented on #5208
We agreed that this should be topological dimension, not spatial.

[2020-11-18 00:58] brugger1 commented on #5236
Some thoughts are to provide python functionality to generate either VTK or STL files for easy importation.

[2020-11-18 01:40] qzxuhui commented on #12270
Sir, my application is a big one level unstructured grid (not AMR), seems there is no way like resample.

[2020-11-18 01:44] markcmiller86-visit commented on #12270
This is definitely not a fix for the resampling issue that you mention, but
you may be able to get a better view by turning the opacity down. How
effective this will be is very dependent on your specific mesh and what you
may wish to plot behind or inside of it.

Best,
Alex

On Tue, Nov 17, 2020 at 5:41 PM qzxuhui via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-11-18 15:36] biagas opened #12271 "gui libraries"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

I had a question about running VisIt in bash.

When I go into the

[2020-11-18 15:40] biagas commented on #12271
Hello Joseph,

Just to confirm, you downloaded one of the visit tarballs and ran the visit-install script on it? Or did you compile VisIt yourself?
What OS are you running from?

You can run './visit -env' and VisIt will print out the environment variables it uses to run.  The environment variables used to find libraries will be the LD_LIBRARY_PATH (and its 32/64 variants) and LIBPATH variables. T

[2020-11-18 15:51] biagas opened #12272 "Visit dumps core applying operators to defined expressions"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I am reporting the following behavior in Visit 3.1.3. The example discuss

[2020-11-18 16:00] angel-devicente commented on #12272
Hello,

could this be related to the issue I reported some time ago?  https://github.com/visit-dav/live-customer-response/issues/157

In my case VisIt would not core dump, but the plot would not be produced and would get the error "[...] could not be generated by the compute engine on host "localhost"."

Cheer,
AdV

[2020-11-18 16:10] biagas commented on #12272
Hello Vladimir,

When you say your software environment includes VTK-8.2, does that mean you have compiled VisIt from source against VTK-8.2? Did you use the build_visit script?

VisIt currently only supports and is known to work with VTK-8.1, so using 8.2 could be the source of the problem.

Are you able to work with a VisIt release tarball on your system?
If not, can you rebuild VisIt with vtk-8

[2020-11-18 18:16] markcmiller86-visit commented on #12272
Kathleen,

I do not use build_visit, in part because it did not work for me in the
past, but mainly because it adds an extra layer above cmake, which should
do the job on its own as designed. Basically, I proceed like this:

... a lot of patching applied to make the code to compile ...
cmake -Wno-dev \
      -DVISIT_PARALLEL:BOOL=ON \
      -DVISIT_MPI_COMPILER:STRING="mpicc" \
      -DVISIT_PYTHO

[2020-11-18 18:49] biagas commented on #12272
Yes, VisIt itself can be built quite successfully without the build_visit script. However, some thirdparty libaries (like VTK) need to be built with our script to ensure visit-centric patches and build settings are used.

Did you use the build_visit script to build third party libraries like VTK and QT? Or are you using pre-installed versions?
Which version of QT and python are you using with VisI

[2020-11-18 19:01] markcmiller86 commented on #12272
@angel-devicente, from our prespective, the two are related because they are built by means other than build_visit. IMHO, Spack is still experimental and building your own as Vladimir is doing makes it difficult for us to reproduce the behavior. We simply do not have the resources to support every possible configuration and so have to make choices.

[2020-11-18 19:11] angel-devicente commented on #12272
Of course, I understand. In my case I use Spack because the build_visit script  was failing badly in my system (ArchLinux, the problems of living on the bleeding edge, I guess :-) ), but I thought maybe it was not a coincidence that in both cases Pseudocolors of regular variables worked no problem, but VisIt failed the moment we added expressions?

[2020-11-18 19:16] biagas commented on #12272
Vladimir,

Can you provide more information about the expressions you are creating that cause VisIt to crash?

[2020-11-18 19:29] JackStallion opened #5265 "Compiler check fails for build_visit3_1_3 with gcc 10"
I was playing around trying to build visit on Fedora 33.  While there are other other issues that cause the build to fail with this OS and gcc 10.2.1 (that will hopefully be addressed by moving to qt 5.14 and vtk 9.2), the following may affect future releases.

The script checks the gcc version  and fails with "Need g++ version >= 4.8".  The culprit appears to be the function vercomp.  In lines 17

[2020-11-18 19:42] biagas commented on #5265
@JackStallion Thanks for the report. This has been fixed for our 3.1.4 release.

[2020-11-18 19:42] #5265 closed, assigned to nobody

[2020-11-18 19:42] markcmiller86 commented on #12272
@biagas... one thing I noticed about Vladimir's stack dump is that it appears to be happening when gathering the data on the engine to ship back to the viewer. I wonder...if the user set SR mode to `Always`, would they still see this error?

[2020-11-18 19:55] markcmiller86 commented on #12272
Vladimir...sorry to be so cryptic in my comment here. What I mean is, go to `Options->Renderin...` and follow [these instructions](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/Rendering_Options_Window.html?highlight=scalable%20rendering#advanced-rendering-options) to set `Scalable Rendering` mode to `Always`. See if that doesn't somehow work-around this

[2020-11-18 20:28] markcmiller86-visit commented on #12271
Hi Kathleen,

Yes I did run the visit-install script with the .tar.zip file. I am using
Linux OS.

I will try what you said once TACC's maintenance is completed. Will that
give me the path to the libraries that visit uses?

Thank you for your help!

Joseph

On Wed, Nov 18, 2020 at 10:40 AM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov> wrote:

--
Joseph Samara
Materials Science and

[2020-11-18 21:04] brugger1 opened #12273 "Fady is reporting that there isn't a pdebug queue option for magma."
Fady reported that there is not option to select the pdebug queue on magma in VisIt 3.1.3.

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-custome

[2020-11-18 23:49] markcmiller86-visit commented on #12272
Thank you for looking into my problem. Here is the extra information you
requested.

First, my Visit installations do not make any changes to VTK. Some
wrangling is required to get Visit to build, but the changes are miniscule
and they don't affect VTK at all. For example, adding
vtkRenderingGL2PSOpenGL2 library in one CMakeLists.txt or changing some
member functions to use "unsigned char*" argume

[2020-11-19 01:10] markcmiller86 commented on #12272
Ok, good to know. Thanks. That is because it winds up taking a different logic path during that data gathering step on the engine and avoiding whatever was causing the segv altogether. The downside is that you won't have GPU-accelerated rendering for the smaller datasets that might possibly benefit from it. I am sure when we upgrade to VTK-8.2 (or 9), we'll be able to reproduce and correct the pro

[2020-11-19 04:31] griffin28 commented on #5262
The issue is in: `/Applications/VisIt.app/Contents/Resources/3.1.4/darwinx86_64/lib/python/lib/python2.7/ctypes/__init__.py`

Need to comment out line 276 to fix the problem:
[code]

[2020-11-19 05:56] agardelein opened #5266 "Floating point number rounding in PlainText"
When reading file with large floating point number, it seems that data is rounded

**Helpful additional information**
 - Did VisIt crash: no
 - Did you get wrong results: yes

### To Reproduce
Input File:
1605256463.219	82.410
1605256463.700	82.410
1605256464.196	82.574
1605256464.692	82.574
1605256465.188	82.570
1605256465.684	82.570
1605256466.164	82.467
1605256466.644	82.467
1605256467.124	82.4

[2020-11-19 07:26] markcmiller86 commented on #5266
Looks like the issue is that its reading into `float` only.

https://github.com/visit-dav/visit/blob/6554569425c03ce3a5597f8663733b1e403d528c/src/databases/PlainText/avtPlainTextFileFormat.C#L512

The code in this plugin probably pre-dates VisIt's ability to handle doubles internally.

We should fix this and add support for compressed input data too.

[2020-11-19 19:04] biagas commented on #4984
FMS library itself has link dependency on the conduit libraries.

[2020-11-19 19:08] #5225 closed, assigned to biagas

[2020-11-19 19:47] biagas commented on #4984
Fixing FMS libdep resolves issues with using the plugin.
I opted for the simple route as switching to using the libraries cmake find_packages requires much more testing to get right it right.

[2020-11-19 22:06] #4984 closed, assigned to biagas

[2020-11-19 23:45] #1500 closed, assigned to biagas

[2020-11-20 15:20] brugger1 opened #12274 "Centroid zero with projected mesh."
I had a user Project a 3d mesh to 2d and he now wants to calculate the centroid, but it is coming up zero. Here is the user's e-mail.

Thanks, Eric. The Transform operator followed by the Project operator to create a projection on a coordinate plane can be used in lieu of a projection to the viewing plane.

As a follow up, I noticed that the query results for the projection produce results that ar

[2020-11-20 16:14] biagas opened #12275 "dependencies for build_visit to run"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
i have a fresh laptop with a new linux mint install.

i am trying to buil

[2020-11-20 16:16] biagas commented on #12275
This [wiki](https://visitusers.org/index.php?title=Building_on_Ubuntu_12.04) on packages needed for ubuntu in order to build visit might be helpful.

[2020-11-20 18:26] biagas commented on #12274
In regards to the 2D area, the Project operator doesn't remove cells, in the simple case of XY Cartesian plane, it simply sets all the z-coordinates to 0. The 2D area query calculates the area on all the cells given, so that's why it is returning incorrect results in this instance.

For Centroid query, I see a couple of problems: First, the logic to determine whether to use volume or area in the c

[2020-11-20 21:59] biagas opened #12276 "build_visit fails with Qt on Linux Gentoo"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,
I am having problems getting qt5-everywhere-src-5.10.1 compiled on

[2020-11-20 22:18] biagas commented on #12276
Hello Valmor,

Looks like the compiler was complaining about redefinition of 'statx'.
Searching the qt forums, it seems there was a problem with qt and glibc 2.28 that has been fixed in qt newer than the one currently used in visit 3.x versions.  Do you know if your sytem is using glibc 2.28?

Just in case, I'm attaching a modified build_visit script for 3.1.4, utilizing qt 5.14.2 instead of qt 5.

[2020-11-21 03:53] markcmiller86-visit commented on #12276
Hi Kathleen,

Thanks for the build script. Still no luck; maybe another third party
package needs to be updated too?

My current version of glibc is 2.32-r2

Log attached.

Thanks,

--

Valmor

On 11/20/20 5:18 PM, Kathleen Biagas via visit-users wrote:

[2020-11-21 12:28] charlsonkim commented on #12275
yes, that wiki is exactly what i am looking for
thanks

[2020-11-23 18:27] biagas commented on #12276
I saw in the log file that numpy failed to compile. Not sure what the problem is there. Shouldn't have a problem building visit without numpy, it just won't be available.

Qt also appears to have failed to build webengine, even though it indicated it wouldn't be built.
I've attached another build visit file, the only difference betweeen the last one is that it adds '-skip webengine' to the QT conf

[2020-11-23 18:27] biagas commented on #12276
forgot the attachment
[build_visit_314_qt5142.gz](https://github.com/visit-dav/live-customer-response/files/5584996/build_visit_314_qt5142.gz)

[2020-11-23 20:12] charlsonkim commented on #12275
still missing something, build_visit crashes with same output

[2020-11-23 20:43] markcmiller86 commented on #12275
Any chance you can run `build_visit` with debugging enabled?

Please do the following...

[code]

Then attach `typescript.txt` to a comment in this issue.

[2020-11-23 23:36] brugger1 opened #5274 "Host profile for magma is missing an entry for pdebug."
### Describe the bug

There is a pdebug queue on magma, but there isn't one in the host profile for magma for it.

[2020-11-23 23:37] brugger1 commented on #12273
I logged into magma and there is in fact a pdebug queue and the host profiles for magma do not include one. I have added ticket #5274 for this and I'm closing this ticket.

[2020-11-24 18:27] markcmiller86 commented on #12270
When you have a situation where each mesh element is about the same size as (or smaller than) a single pixel, plotting the *mesh lines* as a **Mesh Plot** means that every pixel will get whatever the mesh line color is.

To *fix* this, you have a few options...
* Zoom the view in far enough that your mesh elements are much bigger than a single pixel. The price you pay is that you may not be able t

[2020-11-24 18:34] markcmiller86 opened #12277 "Problems making movies on macOS Catalina"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Dear VisIt developers,

I am having the following error when trying to e

[2020-11-24 18:49] markcmiller86 commented on #12277
Hmmm....are you using macOS `Terminal` app there or something else?

I suspect error1 and error-1b are both a manifstation of the same issue...It would appear you are trying to run `/Applications/VisIt.app/MacOS/visit` and it seems to find and run the `viewer` and `mdserver` processes ok. However, when it tries to launch the `engine` process, it seems to be trying to run `/Users/igriotto/ICTP_TMP/

[2020-11-24 19:08] #5274 closed, assigned to brugger1

[2020-11-24 20:35] markcmiller86 opened #5279 "Reduce mesh line density"
Based on [this SRE issue](https://github.com/visit-dav/live-customer-response/issues/177)

For meshes where the elements are smaller than a few pixels, plotting the *mesh* as constant colored lines leads to an opaque blob of color.

There are some ways to apply operators or do subsetting to help address this issue. But, if a user wants what amounts to a mesh plot and to see the whole of the object

[2020-11-25 19:09] igirotto commented on #12277
Thanks, I didn't spot this "/Users/igriotto/ICTP_TMP/Visit_temp/bin/visit". There is definitely still some link with older versions of VisIt I had installed. The "host profile" should be clean as the one I am trying to run is a new version. Maybe some ".config" file related to VisIt I do not recall I edited?

[2020-11-25 19:18] igirotto commented on #12277
I reckon I am using macOS terminal:

pb-girotto:~ igirotto$ echo $TERM
xterm-256color

[2020-11-25 19:36] igirotto commented on #12277
Hi Mark, I fixed it. I removed the folder $HOME/.visit on which I had nothing important and lunched visit again. Now everything works also with my user, including the option of making videos. Therefore, thanks to your help all is now working as expected. You can kindly close this issue. Thanks again for your valuable help.

[2020-11-26 01:46] markcmiller86 commented on #12277
@igirotto glad you fixed it. Thanks for letting us know.

[2020-11-30 18:39] markcmiller86 commented on #4892
Hi @cessenat have you tried creating a pull request?

Here are the basic steps...

1. Fork this repo to your own personal space using the `Fork` button in the upper right of this page.
2. clone your forked repo to your local machine using the green `Code` button you will see at top-right of your fork
   * Execute this command on your local machine `git clone git@github.com:cessenat/visit.git`
2. S

[2020-12-01 07:52] cessenat commented on #4892
Hello Mark,

I made it, I think (or hope, this is my first time with git...) with #5280.

Just for info (or check), here is what I did :

     Fork this repo to your own personal space using the Fork button in
the upper right of this page.
     Execute this command on your local machine git clone
git@github.com:cessenat/visit.git
     $ cd /home2/cessenat/VISITCOMPIL/myvisit
     $ git clone https

[2020-12-01 15:11] markcmiller86 commented on #4892
Ok, great job! Thanks for sticking with this and getting this far. There were just some changes I needed to make...I closed your original PR (#5280) because it was set up to merge into `visit-dav:develop` instead of `visit-dav:3.1RC`. And, I created a new PR (#5281). That PR will get reviewed by one or two other VisIt developers (and they may request changes) and then we can get it merged.

[2020-12-01 15:13] markcmiller86 commented on #4892
BTW...if you still need to make changes for this PR, you can make them on your local system, commit and then push them and they will appear in the PR. This is possible as long as the PR has not yet been merged.

[2020-12-01 15:15] cessenat commented on #4892
Thanks a lot Mark.

I do not understand when it went wrong after

     Switch to the3.1RC branch
cd visit ; git checkout 3.1RC

     Create a branch off of 3.1RC branch
git checkout -b feat-cessenat-30nov20-unv-update

     Do all your work there :
git commit -a -m 'updating UNV plugin'

git push --set-upstream origin feat-cessenat-30nov20-unv-update

No other change for the time being...

Olivier

[2020-12-01 18:54] rusu24edward commented on #3881
GUI issues:
- [x] Not sure if Limits change with current plot/ original data will update on apply because changing that selection doesn't yet do anything (see bug above).
- [x] Change the number of bins by directly changing the number (ie.e text change) and hit apply. Nothing happens. You have to change the bins with the arrow keys. Then when you hit apply it will update. Apply should work when th

[2020-12-01 19:02] markcmiller86 commented on #3881
What if you hit `return` key while the cursor is still in the number-of-bins text box? I bet then it takes the value. At least that has been my experience in the past. I think this is mentioned in one or two other issues where numerical values have arrow keys in our GUI.

[2020-12-01 19:03] rusu24edward commented on #3881
Ya, the value will change if you hit return.

[2020-12-01 19:28] markcmiller86 commented on #5266
@visit-dav/visit-developers does anyone know if VTK supports a `vtkRectilinearGrid` object where the coordinate arrays are `vtkDoubleArray` instead of `vtkFloatArray`?

[2020-12-01 19:32] brugger1 commented on #5266
The coordinates are of type vtkDataArray, so I would expect it to take doubles.

[2020-12-01 19:33] rusu24edward commented on #5266
Some useful links:
Coordinates: https://vtk.org/doc/nightly/html/classvtkRectilinearGrid.html#a71faa2e4cbcb78383a6303aea4e27f0c
DataArray: https://vtk.org/doc/nightly/html/classvtkDataArray.html

[2020-12-01 19:34] cyrush commented on #5266
I think it takes an abstract data array, which can be either concretely.

[2020-12-01 19:41] biagas commented on #3881
The editingFinished signal might be a good fit here.  It will trigger when return is pressed or when widget loses focus.
BTW, Number of Bins works just fine on Windows without pressing return.

[2020-12-01 19:42] markcmiller86 commented on #5266
Ok, even after updating PlainText plugin to load data as double, I still get Spreadsheet plot displaying the data as `%f` and changing the spreadsheet's `format` attribute to something like `%16.16g` seems to effect the X column in some ways but doesn't reveal the data in its true precision.

[2020-12-01 19:57] brugger1 commented on #5266
How about trying %20.16f and seeing what that outputs.

[2020-12-01 20:22] griffin28 opened #5283 "Wrap notarization code into a masonry action (NotarizeAction)"
Need to wrap the notarization code into a masonry action (NotarizeAction) so it can be added to the masonry context and executed in order with the rest of the actions. Masonry will try to do the notarization before running all of the prerequisite steps (source checkout, build, install, manuals, package) since the notarize code isn't part of the overall masonry context.

Currently masonry is run in

[2020-12-01 21:00] markcmiller86 commented on #5266
No improvement but thanks for suggesting. I think the plot is failing to apply the format selection to the X column for some reason. It seems to be changing behavior of the Y column in the spreadsheet plot though.

And, If I load the PlainText data as two-column, I can plot both columns as curves in their full precision.

[2020-12-01 23:19] #5263 closed, assigned to nobody

[2020-12-02 05:04] markcmiller86 commented on #5266
Ok, so the problem appears to be in `avtCurveConstructorFilter`. I have the PlainText reader serving up `double` data and the input dataset to `avtCurveConstructorFilter` has `double`. But, the output is `float`. Before I dig in, am wondering if anyone in @visit-dav/visit-developers has comments on why `avtCurveConstructor` filter might be changing the type.

[2020-12-02 05:13] markcmiller86 commented on #5266
Ok, no. I am wrong. The problem was a stray `VTK_FLOAT` I neglected to correct in PlainText reader. I will submit a fix for that and then we can resolve this.

[2020-12-02 05:23] markcmiller86 commented on #5266
@agardelein thanks for the detailed bug report. Easily reproduced and fixed now.

[2020-12-02 05:23] #5266 closed, assigned to markcmiller86

[2020-12-03 18:27] brugger1 opened #5290 "We should develop a policy for supporting old versions."
We currently don't have a policy on how long we support old versions. We make old versions available but don't indicate what level of support we provide.

Some issues related to supporting old versions.

Will we fix bugs in old versions?
Will we investigate bugs for old versions?
Will we try to find work arounds or answer questions for old versions?

We should develop a policy and document it.

[2020-12-03 19:04] rusu24edward commented on #3881
I've resolved all the issues in this bug except for one: when applying a threshold operator to the histogram, the axes do not snap to the data extents like they do if specifying the min and max. Here is an example to show the difference:

Using max in histogram:
![Example with max](https://user-images.githubusercontent.com/18565891/101073877-f04c7680-3554-11eb-9a7a-2bf90134ab13.png)

Using max in

[2020-12-03 20:18] #2860 closed, assigned to aowen87

[2020-12-03 21:04] brugger1 commented on #3837
@markcmiller86 is this resolved?

[2020-12-03 21:48] brugger1 commented on #4736
@markcmiller86 is this finished?

[2020-12-03 21:49] aowen87 commented on #3719
@brugger1 Do you still have an example dataset for this?

[2020-12-03 21:51] markcmiller86 commented on #3837
Yes, I believe so but let me confirm.

[2020-12-03 21:52] markcmiller86 commented on #4736
I have it on a branch. Haven't pushed anything yet. Let me go dust off.

[2020-12-03 22:05] aowen87 commented on #3719
Actually, I think I can probably make my own silo file with negative materials just using vtk. I'll try that first.

[2020-12-03 22:09] aowen87 commented on #3719
Okay, that didn't seem to work. I can easily create a vtk dataset with negative materials, but, if I convert it to silo, the FilledBoundary plot is grayed out.

[2020-12-03 22:32] markcmiller86 commented on #3837
Yes, this is fixed. I just ran @biagas example (thanks for that!) and it produces ...

![visit0000](https://user-images.githubusercontent.com/5720676/101096352-4c72c300-3574-11eb-988d-4ced4ab92b33.png)

and then...

![visit0001](https://user-images.githubusercontent.com/5720676/101096366-51d00d80-3574-11eb-80f1-9f81e1a1603b.png)

[2020-12-03 22:32] #3837 closed, assigned to markcmiller86

[2020-12-03 22:39] brugger1 commented on #3719
I probably do. I may need to look for it, but I’ll do so this afternoon.

[2020-12-03 22:40] brugger1 commented on #3719
The bug was specific to Silo files, so a vtk dataset wouldn’t test it. It may also have been specific to it being in the multimat object rather than a material object.

[2020-12-03 22:44] aowen87 commented on #3719
I had created a vtk dataset with negative material numbers and then used VisIt to convert that dataset to Silo. I was hoping the conversion process would pick up the materials, but it didn't seem to.

[2020-12-03 22:47] aowen87 commented on #3775
What is the final consensus here? It looks like there are 3 options mentioned:
1. Use vtkOBJExport, which requires a render window instead of a dataset.
2. Update VisIt's OBJ writer so that it handles materials similarly to the reader, which seems to be assigning "groups" that allow color associations (@markcmiller86  did I get that right?)
3. Use texture coordinates. This one isn't quite as clear

[2020-12-03 22:51] brugger1 commented on #3719
I gave you the file on the RZ.

[2020-12-03 22:52] aowen87 commented on #3719
Thanks! I'll try it out.

[2020-12-03 22:53] aowen87 commented on #4516
I've been unable to build qt 5.14.2 on Catalina so far. I keep running into the following issue:
[code]
I've tried installing hunspell with brew and following instructions from [here](https://github.com/blatinier/pyhunspell/issues/33#issuecomment-357425747) to get it linking properly. This worked for pip, but it hasn't worked for Qt.

[2020-12-03 23:11] markcmiller86 commented on #3775
My two cents...

First, I think we need to decide...is this a `Save Window...` operation or an `Export Database...` operation? If answer is `Save Window`, I think option `1`, `vtkOBJExport` is probably right way to go...just integrate it into our window saving logic. That may be easier said than done. OTOH, if `Export  Database` is right answer, then integrating into OBJ plugin *writer* is correct

[2020-12-03 23:17] aowen87 commented on #3775
That makes sense to me. I'm going to remove the reviewed label so that we can discuss this more in our next meeting.

[2020-12-03 23:23] markcmiller86 commented on #4736
I think I am recollecting wrong. I eventually added some paragraphs to our [new website](https://visit-dav.github.io/visit-website/support/#methods-of-contact-for-support) including this verbiage on communications...

But, there other details that need to be distilled down to an outward facing, user-oriented short description of support. And, since we just this week realized the need for policy on

[2020-12-03 23:45] brugger1 commented on #4736
Let's move this 3.2 then and plan to have a discussion on the relevant issues.

[2020-12-04 15:56] brugger1 opened #12278 "Connecting to LC CZ"
Hi Visit folks,

I'm having trouble connecting to the CZ, Quartz in particular. Even with the pre-set configuration settings I cannot get a metadata server to launch.

With "Tunnel through SSH" unchecked I can get it to request a password but no metadata server. With tunneling checked I don't even get a password prompt.

I can connect to Quartz with Putty and run Visit through X11 but it's crazy s

[2020-12-04 16:00] brugger1 commented on #12278
Hi Dave,

You most likely want "Tunnel through SSH" checked. You should get a password prompt in both cases, but with "Tunnel through SSH" unchecked most firewalls will block the connection from the remote system (Quartz in this case).

I assume you are running on Windows. What version of VisIt are you running?

Eric

[2020-12-04 16:08] markcmiller86-visit commented on #12278
I’ve tried with 2.8.0, 2.10.2 (a portable version made by DAAC) and 3.1.2

2.8 was what I used to use on Cab and then later Quartz but it’s been a while and something has probably changed.

Yes, Windows 10, 1909

From: Eric Brugger via visit-users <visit-users@elist.ornl.gov>
Sent: Friday, December 4, 2020 11:01 AM
To: visit-dav/live-customer-response <live-customer-response@noreply.github.com>
Cc

[2020-12-04 16:19] brugger1 commented on #12278
The oldest version currently installed on Quartz is 2.12.3, so of those versions the only one that has a chance of working is 3.1.2. Can you run "VisIt with Debug logging"?

![VisIt_Start_Menu](https://user-images.githubusercontent.com/1102718/101187577-63afc000-3609-11eb-89bd-1858a4854d64.png)

It will create some "vlog" files in you "visit" folder, most likely under your "Documents" folder.

[2020-12-04 19:16] charlsonkim commented on #12275
it looks like the "script" function unlocked whatever was crashing the build script.  the build is now chugging along.

[2020-12-04 20:14] charlsonkim commented on #12275
spoke too soon, crashes on qt build (from bash_log) :
Building Qt (~60 minutes)
prepare_build_dir: qt-everywhere-src-5.10.1 qt-everywhere-src-5.10.1.tar.xz
Found qt-everywhere-src-5.10.1 . . .
Patching qt . . .
patching file qtbase/src/corelib/global/qrandom.cpp
Reversed (or previously applied) patch detected!  Assume -R? [n]
Apply anyway? [n]
Skipping patch.
1 out of 1 hunk ignored -- saving reje

[2020-12-04 22:12] brugger1 opened #5292 "SETUP_APP_VERSION in cmake files gives warning with TBB"
I ran cmake on quartz on develop and got the following warning messages:

CMake Warning (dev) at CMakeLists.txt:593 (math):
  Unexpected character in expression at position 2: t

  Unexpected character in expression at position 3: b

  Unexpected character in expression at position 4: b

  Unexpected character in expression at position 9: o

  Unexpected character in expression at position 10: s

[2020-12-04 22:22] biagas commented on #5292
That's strange. I don't see that warning when I run cmake from pascal (it uses the same config-site).
Which cmake are you running?

I agree, though, SETUP_APP_VERSION shouldn't be used in this case. It has actually started being used in ways unintended from the beginning (to distinguish between two supported versions of a TP lib).

[2020-12-04 22:26] brugger1 opened #5293 "Upgrade VTKh and VTKm used by VisIt."
The versions of VTKh and VTKm that VisIt uses are now about 2 1/2 years old. James Kress asked that we update since he is adding more VTKh functionality to VisIt and it would be good if VisIt was using a more current version.

[2020-12-04 22:29] brugger1 commented on #5293
I spoke with Matt and he recommends using VTKh v0.6.6. It recommends a hash of VTKm, so I will use the one specified.

The associated VTKm requires a newer version of CMake than we are currently using. Matt recommended CMake 3.14, so I'm going to use 3.14.7.

[2020-12-04 22:31] brugger1 commented on #5292
I’m using CMake 3.14.7. I’m upgrading VTKh and VTKm and those require a later version of CMake.

[2020-12-04 22:41] brugger1 opened #5294 "Upgrade CMake to a newer version."
We currently use CMake 3.9.3, which is quite old. For the latest version of VTKm we need at least CMake 3.12. Matt recommends 3.14 for VTKm. I suspect there are other reasons to upgrade CMake. We should decide on the best version to upgrade to.

[2020-12-04 22:48] biagas commented on #5292
Cool, newer cmake, I'm all for it. Been using 3.12 on Windows for awhile now.

[2020-12-04 23:19] cyrush commented on #5294
for ascent and conduit, we have used 3.14 in many places and things seem to be fine.

also some some experience with 3.18.x  --  3.18.0 and 3.18.1 had some issues, but i think think those were fixed in 3.18.2.

[2020-12-07 15:51] rusu24edward commented on #12264
@aowen87 is this still failing?

[2020-12-07 16:15] aowen87 commented on #12264
It was the last time I checked a few weeks ago. I've just started commenting out those VTKH/M links to build there.

[2020-12-07 16:43] rusu24edward commented on #12264
I was able to build rzgenie just now without any issues. I used `rztopaz194.cmake` as the config file. For what it's worth, I had to blow out my build directory and create one from scratch because of the upgrades to qt a few weeks ago.

[2020-12-07 16:45] aowen87 commented on #12264
Thanks, Eddie. I'll try again when I'm back on VisIt.

[2020-12-07 16:45] aowen87 commented on #12264
I think it's safe to close this now.

[2020-12-07 19:18] rusu24edward opened #12279 "Visit crash in client-server with pseudocolor"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Barbara Kornblum has been having an issue for several days where Visit cr

[2020-12-07 19:38] markcmiller86 commented on #12279
Some thoughts.
* Is she truly certain which version she is running?
* Can she think of anything thats recently *changed* on the system(s) she is running on?
   * Are the data files she is now using *new* (or from a new version of the data producer) or has she looked at these specific files before?
* Does falling back to an earlier version fix this?
* If she can run with `-debug 5`, its concievable

[2020-12-07 19:53] rusu24edward commented on #12279
Turns out the user was running with scalable rendering set to Never, so it's likely that Visit crashed from out of memory issue. I had her turn on scalable rendering, and the problem went away. I also emailed her the [advanced scalable rendering docs](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/Rendering_Options_Window.html?highlight=scalable%20renderin

[2020-12-07 20:36] rusu24edward opened #12280 "Script failes when analyzing ALE3D abort results"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Gensis Rosado-Martinez's script for exporting nodal and zonal values (see

[2020-12-07 21:46] rusu24edward opened #12281 "Modifying variable values"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Don Fujino wanted to know how to modify the values of a variable, such as

[2020-12-08 14:08] markcmiller86-visit commented on #12278
I was shown how to run visit through VNC Viewer which seems like a better way, unless you still want to figure out what’s going on with this method?

From: Eric Brugger via visit-users <visit-users@elist.ornl.gov>
Sent: Friday, December 04, 2020 11:20 AM
To: visit-dav/live-customer-response <live-customer-response@noreply.github.com>
Cc: Eric Brugger <notifications@github.com>; Comment <comment@no

[2020-12-08 15:12] brugger1 commented on #12275
The build_visit script if failing to apply a patch required to build Qt on your system. It is a pretty simple fix to the script to fix the issue.

Search for the function "apply_qt_patch" and add the line

    apply_qt_5101_centos8_patch

as the first line in the function. You need to make sure that there are exactly 4 spaces at the beginning of the line.

You should remove the directory "qt-every

[2020-12-08 15:15] brugger1 commented on #12278
Thanks for letting us know you found a work around to the problem.

If the VNC viewer works better for you, then I don't see any reason to pursue this issue. I'll go ahead and close the issue.

[2020-12-08 17:27] markcmiller86 opened #5295 "Examples of ways to indicate non-applicable check-list items"
I wasn't able to make a strikethrough approach work.

The two approaches below are simple and don't involve a lot of typing.

### Several options for indicating not-applicable items in lists

- [ ] My code follows the style guidelines of this project
- [ ] I have performed a self-review of my own code
- [x] I have commented my code, particularly in hard-to-understand areas
Option Z: just remove `-

[2020-12-08 18:29] biagas opened #5296 "3.1.4 broke compatibility with 3.1.3"
### Describe the bug
In trying to help a customer running VisIt 3.1.3 on Windows, I modified a database plugin, compiled it with latest 3.1RC (basically 3.1.4), and sent him the dll's to use as a 'private' plugin on his system in order to test if the database plugin modifications were helpful.

When he tried to run visit after installing the dll's to his visituser directory he received this error:

[2020-12-08 18:44] markcmiller86 commented on #5296
Whoops...yeah modifying that `avtFileFormatInterface.h` in a patch release is creating the compatability issue. I can't recall but I thought in the SVN days we had a hook that would have caught this. In general, whenever we are modifying *header* files in patch releases, we have to be really, really careful. Not modifying *any* header files in patch releases is probably *sufficient* but not *neces

[2020-12-08 18:51] markcmiller86 opened #5297 "Improve test skipping practices"
This was inspired from discussions following the SQA audit...

- [ ] document how test skipping works in dev docs
- [ ] develop and implement process for managing skip rationale(s) text
- [ ] develop process to review/address skips on periodic basis
- [ ] ensure skip info is included with release testing artifacts
- [ ] There are various forms *skipping* a test to consider. One is just *skipping*

[2020-12-08 18:53] markcmiller86 commented on #5295
BTW, either of the two approaches will have the positive side effect of showing 100% completion progress in associated PRs because only boxed items are counted.

[2020-12-08 19:40] biagas opened #5298 "Look into digital signing of Windows installers."
Windows 10 Smartscreen flags VisIt installers as potential threat due to lack of signing (unknown publisher).

Here's a snapshot when I attempted to run the source-code installer:
![WindowsDefender](https://user-images.githubusercontent.com/17075318/101529667-ba890280-3945-11eb-98eb-e9857ba565ed.PNG)

From [Smartscreen faq:](https://fb.smartscreen.microsoft.com/smartscreenfaq.aspx)
![SmartScreen1]

[2020-12-08 19:41] markcmiller86 opened #5299 "Should we start weekly meeting note-taking"
I think it would be best to start keeping notes from weekly meetings. I can volunteer to try to do for a while but not in perpetuity so am hoping we can rotate.

Am wondering *where* is best place. Some options are

1. Start a wiki page here as part of our GitHub project
1. Handle as comments in an issue, maybe each new meeting is a new issue
   - I think we started doing something similar for our

[2020-12-08 19:42] markcmiller86 commented on #5299
Well, score one for AI maybe...just after submitting this issue...GitHub then presented me with...

![Screen Shot 2020-12-08 at 11 42 05 AM](https://user-images.githubusercontent.com/5720676/101533208-66cce800-394a-11eb-96a8-4813c6cfbbfe.png)

So, a 4th option is to enable `Discussions` in our repo and do it there.

[2020-12-08 20:25] brugger1 commented on #5299
Funny!!

[2020-12-08 21:52] rusu24edward opened #12282 "Memory leak in engine_ser when creating animations via script"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I am using Visit 3.1.3 on Mac OS X, installed from binary.

I use a simpl

[2020-12-08 22:14] rusu24edward commented on #12282
Hi Srdjan,

Since the strange behavior manifests itself over time and not at the beginning, and since the engine_ser blows up to use a ton of resources, I would guess you're experiencing a memory leak bug in VisIt. In addition to the work around you have described, you can try clearing the engine cache at each iteration in your loop. You can try [ClearCache](https://visit-sphinx-github-user-manual

[2020-12-08 22:25] aowen87 commented on #12282
I've also encountered this issue while saving out png images from silo files. I used the same workaround as Srdjan.

[2020-12-08 22:28] rusu24edward commented on #1923
I did my best to format the original text into something readable, including the user's script.

[2020-12-08 22:40] charlsonkim commented on #12275
made it past the patch, but looks like it is crashing on the Python 3 install (tail of bash_log):

Collecting setuptools
Collecting pip
Installing collected packages: setuptools, pip
Successfully installed pip-19.2.3 setuptools-41.2.0
Done with Python3
Done building python3.
Extracting six ...
Extracting pyparsing ...
Extracting sphinx ...
running install
running build
running build_py
creating bu

[2020-12-08 22:42] charlsonkim commented on #12275
previously building with --parallel-build but that looks like it caused the qt build to get ahead of the Python installs.
build line:

[2020-12-08 22:59] brugger1 commented on #12275
You need to install "libffi-dev" on your system. If you use apt-get to install on your system, the command would be:

apt-get update && apt-get install -y libffi-dev && rm -rf /var/lib/apt/lists/*

The other solution is to add "--no-sphynx" to build_visit, which will cause the Python 3 build to be skipped. We only use Python 3 for generating documentation for the help system, so this isn't critica

[2020-12-08 23:00] brugger1 commented on #12275
Also, you should blow away the Python 2 and 3 directories in the directory you are running build_visit and also in the installation directory.

[2020-12-08 23:35] simunovics commented on #12282
I first tried ClearCacheForAllEngines, at the end of each loop
`foreach`
`     ...`
`    CloseDatabase(db)`
`    ClearCacheForAllEngines()
`

Then added:
`    CloseDatabase(db)`
`    ClearCache("localhost")`
`    ClearCacheForAllEngines()
`

And finally put
`SetPipelineCachingMode(0)`
at the beginning of the script.

Still engine_ser memory grows and crashes the computer.
I also tried 3.1.4 versio

[2020-12-08 23:47] rusu24edward commented on #12282
@simunovics Thanks for trying those steps! What you are describing is documented in an active issue [here](https://github.com/visit-dav/visit/issues/1923). Can you try one more thing for me? Can you try using the [CloseComputEngine](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/functions.html#closecomputeengine) and [OpenComputeEngine](https://visit-sphinx-github-use

[2020-12-09 00:22] simunovics commented on #12282
@rusu24edward I used the script below (main parts shown only) and still had the same memory growing for engine_ser. Am I using a correct sequence?

[code]

[2020-12-09 01:01] rusu24edward commented on #12282
@simunovics That's not what I expected, but there is nothing in your script that I would do differently. Thanks again for trying out these efforts--more data points for us to fix the underlying issue. Sorry I couldn't help mitigate the workflow. I've prioritized this issue for the developers team, and I hope we can get a fix in soon!

[2020-12-09 01:02] rusu24edward commented on #1923
From [SRE 189](https://github.com/visit-dav/live-customer-response/issues/189), the user's script:
[code]

[2020-12-09 01:04] biagas commented on #5298
There are other options besides Digicert.
Comparison of a few different providers at [sslshopper](https://www.sslshopper.com/microsoft-authenticode-certificates.html)
[Comodo](https://comodosslstore.com/codesigning.aspx) is another provider.

[2020-12-09 21:04] markcmiller86 commented on #5290
First, what do we mean by old? That, of course, depends on what the current release is. But, if the current release is `3.1.4` is `3.1.3` old? Is `2.13.3` old? Since we attempt to maintain compability between patch releases, I think any version in the current release *series* should be considered *current*. Anything older than that is *old*. What about across a *major* release boundary where curre

[2020-12-09 21:09] rusu24edward opened #12283 "Anybody using GOES satellite data in Visit"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I have previously used VisIt from 2009-2015 on combustion and climate pro

[2020-12-09 21:18] rusu24edward commented on #12283
Hi Shaheen,

Emailing the visit user community, as you have done, is probably the best way to find out about this. Many of our users (hundreds) subscribe to this email list, so if any of them are using GOES data, they will have seen this email. I'm not personally familiar with anyone using this type of data, but I've pinged the @visit-dav/visit-developers team to see if anyone else knows.

Are you

[2020-12-09 21:18] markcmiller86 opened #5302 "Please include release date in release notes"
I wanted to find when `2.10.1` was released. Does anyone know how to easily find that out?

I would like to request it be included somewhere in the release notes document itself.

[2020-12-09 21:46] brugger1 commented on #5302
It’s on the following web page.

https://wci.llnl.gov/simulation/computer-codes/visit/releases

It goes all the way back to 2005.

Also, you can go to the releases in GitHub and look at the tag date.

[2020-12-09 21:47] rusu24edward opened #12284 "Reading ghost data from ale3d abort file"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Genesis was trying to read ghost data from an ale3d abort file. We confir

[2020-12-09 21:50] markcmiller86 commented on #5302
Ah, well, I guess I didn't know I had to go look there. I went to where I can get the release downloads. No dates there. Then I went to the release notes files that link to that from the downloads. No dates there. I ultimately logged into visit-announce email archive to find what I needed. So, I guess I will say that wasn't obvious that I was simply looking in the wrong place.

Yes, for releases f

[2020-12-09 22:29] cyrush commented on #5302
This is one benefit to the keep a change log format:

https://keepachangelog.com/en/1.0.0/

https://github.com/LLNL/conduit/blob/develop/CHANGELOG.md

-Cyrus

From: "Mark C. Miller" <notifications@github.com>
Reply-To: visit-dav/visit <reply@reply.github.com>
Date: Wednesday, December 9, 2020 at 1:51 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
S

[2020-12-10 21:13] charlsonkim commented on #12275
a little further but crashes at Qt5:
erator=(const QList<QApplicationArgument>::iterator&)’ is deprecated [-Wdeprecated-copy]
  387 |     start = low + 1;
      |     ~~~~~~^~~~~~~~~
In file included from /home/charlson/bin/VisIt/qt-everywhere-src-5.10.1/qtbase/include/QtCore/qlist.h:1,
                 from /home/charlson/bin/VisIt/qt-everywhere-src-5.10.1/qtbase/include/QtCore/../../src/corelib/

[2020-12-10 23:35] brugger1 commented on #12275
It looks like you are missing python. The command with apt-get is:

apt-get update && apt-get install -y python  && rm -rf /var/lib/apt/lists/*

[2020-12-10 23:39] charlsonkim commented on #12275
but i am building python in visit

On Thu, Dec 10, 2020 at 3:35 PM Eric Brugger <notifications@github.com>
wrote:

[2020-12-10 23:47] brugger1 commented on #12275
Yes, you're correct. My guess is that our Qt build isn't set up to use the python we build. We should fix that. I do see that all our containers used for building VisIt on different operating systems all install python, so I assume it's necessary.

[2020-12-10 23:59] charlsonkim commented on #12275
???!!!*$*$*$???!!!

ok

On Thu, Dec 10, 2020 at 3:47 PM Eric Brugger <notifications@github.com>
wrote:

[2020-12-11 00:11] brugger1 commented on #12275
Sorry!

[2020-12-11 16:42] cyrush commented on #12275
In the past some 3rd party libs have required python as part of their build system or build process -- even if they have nothing else to do with python.  These cases were also not advertised well and pretty elusive ( I think one case was old mesa build when trying to parse xml). So system python is a good hedge.  Regardless, life is complicated :-(

[2020-12-11 20:29] burton29-LLNL commented on #12239
Hi,

It appears that my link to submit new questions/items to the Visit Help Desk on GitHub is busted.  Can you give me the new link to submit a new ticket?

Greg

============================================
Gregory C. Burton, Ph.D.
Turbulence Analysis & Simulation Center (TASC), Head
Thermal Fluids Group, Group Leader
Computational Engineering Division
Lawrence Livermore National Laboratory
7000

[2020-12-11 20:35] brugger1 commented on #12239
Here it is.

https://github.com/visit-dav/live-customer-response

Eric

[2020-12-12 00:41] cyrush commented on #4954
I back on the hunt, I figured out this issue. Stay tuned :-)

[2020-12-13 22:13] markcmiller86 commented on #16
Lets not forget about these pages on llnl wci pages also...

https://wci.llnl.gov/simulation/visualization

[2020-12-14 16:34] biagas opened #12285 "build_visit failure with packaging VisIt"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

Could someone take a look at the attached failing build script/lo

[2020-12-14 16:34] biagas commented on #12285
Another email from Valmor:
------------------------------------
Hello,

The build process is failing towards the end:

[snip]

[100%] Built target visit_testing_py_setup Run CPack packaging tool...
CPack: Create package using TGZ
CPack: Install projects
CPack: - Run preinstall target for: VISIT
CPack: - Install project: VISIT
Symlinking current to 3.1.4
CMake Error at
/usr/local/packages/visit-3.1

[2020-12-14 16:58] biagas commented on #12285
Hello Valmor,

I looked into the build_visit log you provided (thanks for that).

Based on this section of the Qt build summary, your system may be missing the X11 development package (libx11-dev).

[code]
and this section shows that Qt isn't building the glx plugin
[code]

[2020-12-14 18:32] biagas opened #12286 "VR"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
From Charlson C Kim:

are there any plans for VR for visit?

[2020-12-14 18:33] biagas commented on #12286
When you say 'VR', do you have anything specific in mind?

[2020-12-14 20:32] burton29-LLNL commented on #12239
Eric, All,

There appears to be a bug  in November 2020 Visit release:  When outputting frames for a movie, and the debug partition session expires, Visit just hangs.  Whereas in older versions, it prompts the user to submit another job, and once new job starts, the outputting of frames continues without pause.  Now I just get the  spinning ball.

Greg

============================================

[2020-12-14 20:51] biagas opened #12287 "Visit hangs outputting frames for a movie"
Eric, All,

There appears to be a bug  in November 2020 Visit release:  When outputting frames for a movie, and the debug partition session expires, Visit just hangs.  Whereas in older versions, it prompts the user to submit another job, and once new job starts, the outputting of frames continues without pause.  Now I just get the  spinning ball.

Greg

[2020-12-14 20:52] biagas commented on #12287
@burton29-LLNL I created a new issue for this.

Which previous version of VisIt did  you get a prompt to submit another job?

[2020-12-14 21:00] burton29-LLNL commented on #12287
Hi Kathleen,

It worked fine on the December 2019  release (2.13?).  It also may have worked fine on an earlier variant of release 3, for example one from April 2020, but I’ve lost complete recollection of when I uploaded the new releases in 2020.  Today is the first time I’m seeing this behavior, and I just uploaded the newest release this morning.

Greg

=========================================

[2020-12-14 21:08] biagas commented on #12287
Thanks for the info. I want to try to reproduce ... are you generating a time-series movie? How many timesteps? Types of plots?
Sounds like you are running on LC is that correct?

[2020-12-14 21:30] biagas opened #12288 "Reading a netcdf4 file"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I am reading a Netcdf4 file with Visit 3.1.4, using the "Netcdf" database

[2020-12-14 21:41] biagas commented on #12288
The current NETCDF library version being used with Visit is 4.5.0., do you know which version of NETCDF is being used by your data producer?

When you choose 'NETCDF' plugin to read netcdf files, there are actually several flavors of netcdf files that may be read. It would be helpful to know which flavor VisIt used to read your data.  Running visit with debug logging (add -debug 5 to the command l

[2020-12-15 01:00] #4954 closed, assigned to cyrush

[2020-12-15 01:25] biagas commented on #12288
The logs (and other stuff) are in the attached zip file: Tonse Netcdf 14Dec2020.zip

The mdserver logs 4 and 5 seem to show that the db reader can see quite a lot of what is in the file,
although there are many "attribute not found" errors near the end.

I could not find a netcdf version number in the log file. I do see "netcdf_1.0" but I think that is your internal versioning of it?

If it helps:

[2020-12-15 09:59] markcmiller86-visit commented on #12285
Hi Kathleen,

Thanks for the help.

No luck in installing additional X11 libraries. I have installed just
about everything I can. There is no libx11-dev in my linux distro.

I have tried this option

./build_visit --system-qt --system-cmake --no-sphinx

I would like to use my system's libraries as much as possible. Is there
a way to to use the build_visit script to only build vtk and python2.7
and

[2020-12-15 15:30] biagas commented on #12285
To build only required libraries, using system locations for some:
[code]

For other IO libraries, you would have to know which Database readers you wanted built.
You can see the full list of options by running
[code]

[2020-12-15 16:09] biagas opened #12289 "crashes when applying sph resample operator to xdmf dataset"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hi,
I want to visualize an SPH dataset that I've described with an xdmf f

[2020-12-15 16:10] biagas commented on #12289
Hello Ben,

I cannot see anything amiss with the xdmf file. Can you run with debug logging turned on (-debug 5), zip up the log files and attach them?
Also, does a Pseudocolor plot without the SPHResample operator work correctly?

Kathleen

[2020-12-15 18:42] biagas commented on #12257
Hi Sal,

Never heard back with data for a reproducer. Did you upgrade to latest VisIt? Are you still experiencing the problem?

[2020-12-15 18:44] biagas commented on #12271
Hi Joseph,

Just checking in. Did you resolve your issue?

[2020-12-15 20:00] markcmiller86-visit commented on #12271
Hi Kathleen,

Thanks for checking in!

I was not able to resolve the issue yet. I found out that TACC has a visit
module so I tried using that. However I have had trouble setting up the
remote connection(VNC). I tried installing TigerVNC but I still get an
error that MIT-SHM is missing. Do you know how to resolve this?

Thanks so much for your help,
Joseph

On Tue, Dec 15, 2020 at 1:44 PM Kathleen

[2020-12-15 20:18] biagas commented on #12288
Hello Shaheen,

Thanks much for providing sample data and VisIt log files. Based on the information dumped to the mdserver log files (the results of PrintFileContents), I don't believe any of our readers will be able to read your data correctly.

A GOES-flavored Netcdf variant would need to be created, and for that,  more information on the file contents and meaning would be needed.  Perhaps the C

[2020-12-15 20:46] biagas commented on #12271
Hello Joseph,

Sorry, I won't be able to help with your VNC issues.  My only experience is with LLNL supplied RealVNC connecting to LLNL, and it worked out-of-the-box for me.

Did you ever run 'visit -env' for the installation of VisIt where it claimed not to be able to load 'libQt5Core.so.5' ?

[2020-12-15 20:55] markcmiller86-visit commented on #12271
Hi Kathleen,

Yeah I was able to get past that issue. Now when I load visit a window
appears but when I try to do anything, it lags so much that I am unable to
open any files on it.

Best,
Joseph

On Tue, Dec 15, 2020 at 3:46 PM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov> wrote:

--
Joseph Samara
Materials Science and Nano Engineering
Class of 2022
jms29@rice.edu

[2020-12-15 21:24] biagas commented on #12271
What OS is your local desktop? Have you tried running client-server to the machine where your data resides?

[2020-12-15 21:31] markcmiller86 commented on #12288
I was able to make a tad of progress with the xdmf plugin. But, I am seeing some funky behavior in VisIt too.

The image below is a 2D, uniform, cell-centered PC plot of the `DSR` variable from the user's file with a threshold operator of `-65000:-2,2:65000` applied.

![Screen Shot 2020-12-15 at 1 29 14 PM](https://user-images.githubusercontent.com/5720676/102275027-a612b000-3ed9-11eb-8a14-ddd2a54

[2020-12-15 21:36] markcmiller86 commented on #12288
BTW...I used `ncdump` and `h5ls` to browse the data textually for a bit. I found only two variables, `DQF` and `DSR` that had any dimensions suggestive of *real problem data* as opposed to scalar attribute data. The `DQF` data is all `1` which is why it compresses so well in HDF5 (the gzip filter is being used there).

I used the command `od -c` and examined the first few bytes..seeing `HDF` there

[2020-12-15 21:50] markcmiller86 commented on #12288
I see how it looks like I simply dup'd the user's original attempts. Well, all is not lost. I learned a bit more about Xdmf in the process.

Also, once in VisIt, I believe we should be able to use transform operator to adjust to different coordinates and coordinate system.

[2020-12-15 21:56] markcmiller86 opened #5306 "Data from Xdmf plots strangely"
### Describe the bug
Open `rect2d.xmf` in the attached tarball. Try to PC plot either `DSR` or `DQF`. Here are some issues...

1. Plots are not centered in the screen. Its like the extents are wrong.
2. Both `DSR` and `DQF` have data *variation* in them. To confirm, plot both with Histogram plot. You can see there are multiple ranges of values.
3. However, both PC plots appear all single color.
4.

[2020-12-15 22:15] markcmiller86 commented on #5306
Hmm...well, this could be that the xdmf file is not correctly specified...though I don't get any error messages about that. However, using the xdmf file below, it all seems to start working...

[code]

[2020-12-15 22:16] markcmiller86 commented on #12288
There is a better xdmf file for this data in [5306](https://github.com/visit-dav/visit/issues/5306)

[2020-12-15 22:18] #5293 closed, assigned to brugger1

[2020-12-15 22:43] markcmiller86-visit commented on #12271
It runs on Windows 10. I don't think I've tried running client-server to
TACC. How would I go about doing that?

Thanks again for your help

On Tue, Dec 15, 2020 at 4:24 PM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov> wrote:

--
Joseph Samara
Materials Science and Nano Engineering
Class of 2022
jms29@rice.edu

[2020-12-15 23:05] biagas commented on #12271
Take a look at the [Client Server](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/ClientServer/index.html) section of our user manual.

You may need to ask the folks at TACC if they have host-profiles you can install, otherwise you will need to create one from scratch. There is information in the manual for that, too.

If you don't already have VisIt installed on your

[2020-12-15 23:50] #5306 closed, assigned to nobody

[2020-12-16 00:44] brugger1 commented on #4525
Kathleen proposes visit-support. I like that as well.
Eddie brought up that this may not be a good idea if the user replies, it may look like visit-support responded instead of the user.
How about visit-users?

[2020-12-16 00:59] #4475 closed, assigned to rusu24edward

[2020-12-16 01:29] rusu24edward commented on #3744
On both develop and 3.1RC on my local mac, when drawing pseudocolor of potential flow v_mag, I get this error:
[code]
Anybody else see this? I do not get this error in 3.1.4 on pascal.

[2020-12-16 02:44] markcmiller86-visit commented on #12271
I'll try that, thanks!

On Tue, Dec 15, 2020 at 6:06 PM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov> wrote:

--
Joseph Samara
Materials Science and Nano Engineering
Class of 2022
jms29@rice.edu

[2020-12-16 15:04] brugger1 opened #5308 "src/test/runtest is no longer available on develop, should document replacement"
### Is your feature request related to a problem?

James Kress sent me e-mail asking how to run the test suite since he couldn't find runtest (this was on develop). We should document the new mechanism. In fact, we should probably add a section to the developer manual on running the test suite and adding new tests. We should make it as easy as possible to do this, since we want to encourage develo

[2020-12-16 16:22] biagas commented on #5308
Take a look at script build-dir/test/run_visit_test_suite.sh
It captures most of the command line needed to run the test suite.
With no arguments it will run the entire suite, or you can pass an individual test or glob as an argument like so:
./run_visit_test_suite.sh tests/plots/pseudocolor.py
./run_visit_test_suite.sh tests/plots/*.py

[2020-12-16 18:23] brugger1 opened #12290 "Automate ability to set min max based on expression of maximum."
I got the following question from a user.

As I am visualizing a variable intensity and go through the different times, it would be useful, as I change the time, to keep a range fixed, not by numbers but by functions, like I would like to display   from  0.001*max(var) to max(var)  for example.   How do I do this,  everytime I change the time, max intensity changes and I have to redo the max/min.

[2020-12-16 18:29] markcmiller86 commented on #12290
Wouldn't this be possible using the `IF` conditional expression and creating a new variable that is clamped to the desired range.

[2020-12-16 18:39] brugger1 commented on #12290
I believe it's actually simpler than that. I think setting the min and max for the pseudocolor plot is all that is needed.

[2020-12-16 18:41] markcmiller86 commented on #12290
Hmm...those are specific numerical values that don't change with time. This user seems to want to set the *min* to 0.1% of the maximum value. Can we do that?

[2020-12-16 18:43] biagas commented on #12290
Probably would have to create a python script to query the max and set the Pseudocolor plot's min/max at each time state.

[2020-12-16 18:49] cyrush commented on #12290
If we had a max expression that takes the max of all values, and then paints it back onto the mesh as a fully populated field value, then I think user could construct an expression that accomplishes this w/o scripting or changing the plot atts.

Max in this way is not the most efficient, but it would be straight forward to add and use.

[2020-12-16 18:50] cyrush commented on #12290
the thing that makes this hard now (and pushes towards python scripting) is the fact that the max is a query and can't be easily interwoven in an expression.

[2020-12-16 18:52] biagas commented on #12290
Could even make it use the callback feature so it is called at every time state change.
Something along the lines of:
[code]

[2020-12-16 18:53] markcmiller86 commented on #12290
I thought we indeed *did* have a `max()` expression. We don't. We do have a `max_over_time()` expression and that doesn't help here.

[2020-12-16 18:56] markcmiller86 commented on #12290
Well, we do have a `max(var1, var2)` expression but that is computing the max between two values at every point in the mesh, not the max over all values.

[2020-12-16 19:04] brugger1 commented on #12290
I believe Kathleen's coding is what the user is after. I believe that the user wants to use the max from the current time state, not over all time.

[2020-12-16 19:06] cyrush commented on #12290
@markcmiller86 yeah, max is a pairwise thing, not a reduction.  If we added a new max, it would have to have a clear (somehow :-) ) name to differentiate

[2020-12-16 19:25] rusu24edward commented on #12290
To map one range of values to another, you can use the following equation:
[code]
where
`output_start = 0.001*max(input)`,
`output_end = max(input)`,
`input_end = max(input)`,
`input_start = min(input)`
I believe we can generate the `min` and `max` of the variable using expressions with the second variable something higher/lower than any value in the user's time-series (do we expose DBL_MIN and DB

[2020-12-16 19:26] rusu24edward commented on #12290
Something I missed: does the user want to use the max over all time?

[2020-12-16 19:29] rusu24edward commented on #12290
Forget what I said. Min and max don't work the way I thought they did. Sorry for the noise :)

[2020-12-16 19:43] markcmiller86 commented on #12290
Just off the top of my head, how 'bout `no_the_real_max_of_just_this_variable_over_the_whole_mesh(<var>)`

[2020-12-16 19:46] brugger1 commented on #12290
Kathleen's solution was close. SetTimeSliderStateRPC only applies when the time slider is dragged to a new state. If you use the previous and next frame buttons it doesn't apply. There are different callbacks for those events. The following captures those additional events. Note also that SetTimeSliderStateRPC takes 1 argument and the others take 0 arguments, hence 2 functions.

def set_pc_plot_mi

[2020-12-16 19:57] markcmiller86 commented on #16
Remaining tasks for web-site switch over...

- [ ] set correct access permissions on website repo
- [ ] set branch protection rules on website repo
- [ ] decide/finalize website repo name...that website's *native* URL is `https://visit-dav.github.io/<repo-name>`
- [ ] contact correct LLNL people to setup redirect of `visit.llnl.gov` to new web site
- [ ] decide what content to remain on WCI web pa

[2020-12-16 19:58] markcmiller86 commented on #16
@brugger1 I've made a check list for website items. Please feel free to *edit* that comment if you need to add more items or you can check/uncheck (which does an *edit* operation behind the scenes anyways).

[2020-12-16 20:25] biagas commented on #12288
From Shaheen Tonse:
[code]

[2020-12-16 20:33] biagas commented on #12288
Just wanted to let you know I am looking into your questions.
In terms of differentiating your data from CCSM, we might go the route of checking the 'project' attribute to see if its "GOES".
Something along the lines:

[code]
If a new GOES-specific file format is added, this code could be added to it's Identify method.
Would have to test before the CCSM format.
I added it temporarily in the CCSM f

[2020-12-16 20:37] #5208 closed, assigned to markcmiller86

[2020-12-16 20:50] markcmiller86 commented on #16
FYI...I've reviewed the [one page about WCI visualization tools](https://wci.llnl.gov/simulation/visualization) and find...
* some useful concepts and verbiage but seems to *SND* specific. I don't even know what *SND* is.
* Probably a lot of verbiage here is dated.
* Only the link to visit works. The other two are broken.
* The image is pretty poor quality and not even sure what it is an image of

[2020-12-16 21:11] biagas opened #12291 "python version in VisIt"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hello,

Just to double check. Is python2.7.14 the only version used by V

[2020-12-16 21:13] biagas commented on #12291
Python 3 support is in the works and is currently available in our develop branch (using Python 3.7.7), experimentally.
It is tentatively scheduled to be fully operational for our 3.2 release.
Kathleen

[2020-12-16 21:25] brugger1 commented on #16
I agree, that page should probably be removed. I don't know what SND is and they don't actually define the term or give anymore information about it. I tried searching for it and found nothing. Since I don't know anything about it, I have no idea who "owns" that content. I will mention it though. It seems like if the page exists, VisIt should be mentioned.

[2020-12-16 21:41] rusu24edward commented on #3744
Blew out my `.visit` file and it went away. I believe it was because I had `Automatically remove duplicate nodes from fully disconnected unstructured grids` selected

[2020-12-16 21:50] markcmiller86-visit commented on #12291
Thanks.

Is there a build_script I can use with the dev branch?

--

Valmor

On 12/16/20 4:13 PM, Kathleen Biagas via visit-users wrote:

[2020-12-16 22:03] biagas commented on #12291
If you checkout our develop branch, you can run the build_visit script there, with --write-unified-file <script file name> to create the latest build script for develop, eg:

visit/src/tools/dev/scripts/build_visit --write-unified-file build_visit_dev

Then run 'build_visit_dev' with whatever options you need. (--help to see all the options).

[2020-12-16 22:07] markcmiller86-visit commented on #12291
Got it.

Thanks for the prompt response.

--

Valmor

On 12/16/20 5:03 PM, Kathleen Biagas via visit-users wrote:

[2020-12-16 23:17] markcmiller86 commented on #16
I am completely baffled by how this comment was removed/lost.

It was there earlier and now its gone and no record

"Mark C. Miller" wrote:

Remaining tasks for web-site switch over...

·         set correct access permissions on website repo

·         set branch protection rules on website repo

·         decide/finalize website repo name...that website's native URL is https://visit-dav.github.i

[2020-12-16 23:20] markcmiller86 commented on #16
Ok, putting this check list back in

- [x] set correct access permissions on website repo
- [x] set branch protection rules on website repo
- [x] decide/finalize website repo name...that website's native URL is `https://visit-dav.github.io/<repo-name>`
   * We could define the site for our `visit-dav` GitHub [*organization*](https://docs.github.com/en/free-pro-team@latest/github/working-with-githu

[2020-12-16 23:23] brugger1 commented on #16
I saw it there earlier as well.

[2020-12-16 23:53] cyrush opened #5312 "tbb version vs SETUP_APP_VERSION"
TBB has a very long version descriptor (tbb2018_20171205oss)

This is triggering a bunch of warnings in `SETUP_APP_VERSION`

Such as:

![Screen Shot 2020-12-16 at 3 48 48 PM](https://user-images.githubusercontent.com/1194526/102420229-7dacb380-3fb6-11eb-84e2-d8db452be9d0.png)

Not sure if this has always been the case, it may be something that we are seeing b/c are now using cmake 3.14.

[2020-12-17 00:02] brugger1 commented on #5312
This is a duplicate of #5292

[2020-12-17 00:04] brugger1 commented on #5312
I agree, it is new with the upgrade to cmake 3.14. SETUP_APP_VERSION is designed to take a version number of the form (X.Y.Z), so it shouldn't be used with tbb.

[2020-12-17 00:10] cyrush commented on #5312
thanks @brugger1  -- we can close since it's a duplicate.

[2020-12-17 01:08] markcmiller86 opened #5314 "Warnings from use of register storage class in TPL header obscures VisIt issues"
### Describe the bug
There are some python header files (for version 2.7) that use `register` storage class which has been deprecated. However, it winds up generating a slew of warnings obscuring real warnings from VisIt sources.

Some options
* Patch the TPL (more bv logic)
* adjust VisIt CXX flags to remove `-Wdeprecated-register` (or maybe add it)
* leave it...we'll abandon python 2.7 soon enou

[2020-12-17 02:20] markcmiller86 commented on #4165
FYI...am seeing these GL symbols now deprecated on 10.14...

[code]

coming from these files...

[code]

error message is...

[code]

[2020-12-17 02:30] markcmiller86 commented on #4165
Maybe the only worrisome call here is `glGetString` in the `VisWindow` classes. The other classes are for a developer tool written by @jsmeredith years ago to develop clipping tables which I don't think anyone but he used and we've never re-generated those tables either. So, we can probably simply remove `clipeditor` from the build.

[2020-12-17 16:00] charlsonkim commented on #12286
https://drive.google.com/file/d/1xwC3rqw8ezmunYj2Buwla9VT0hnLU5IM/view?usp=sharing

something a collaborator is working on, using paraview

[2020-12-17 19:23] biagas opened #5317 "New CMake OpenGL related warnings"
While running build_visit on rz, Ice-T failed.  While looking into the reason I noticed warnings related to OpenGL.
I then double-checked the VTK build and it received similar warnings.
The generated link line for VTK is using mesa as specified (so I don't think the warnings are affecting the outcome).

We may want to investigate and find a way to set CMake's CMP0072 policy when we are building op

[2020-12-17 20:39] griffin28 commented on #12286
@charlsonkim From the NVIDIA side, one the goals in the next year or two is to make this capability available through Omniverse (https://developer.nvidia.com/nvidia-omniverse-platform). I will be working on a VisIt-Omniverse bridge that will allow VisIt data to be rendered in Omniverse. From there you will be able to use Omniverse's VR capabilities. One of the cool things is that you will also be

[2020-12-17 21:20] biagas opened #5318 "icet build failure with new cmake"
### Describe the bug
Seems the Find module for MPI has changed, and how we build ice-t no longer works.
Here's the error from build_visit log:
[code]

### To Reproduce
run build_visit with your favorite options, as well as '--parallel --icet'

### Expected behavior
Ice-T to compile.

### Desktop
 - OS and version: Linux (rzalastor)
 - VisIt Version: develop

[2020-12-17 21:40] biagas commented on #12288
Hello Shaheen, in regards to your first bullet point:
[code]
Does this image conform more to what you are expecting?
I modified CCSM flavor to read and apply 'scale_factor' and 'add_offset' for the coordinates.  Just a test to see what would be involved in making a GOES-flavor netcdf reader.

For this screenshot, I also modified the [View](https://visit-sphinx-github-user-manual.readthedocs.io/en/

[2020-12-17 22:01] charlsonkim commented on #12286
looking forward to your progress

[2020-12-17 22:38] biagas opened #5319 "Create GOES-flavor NetCDF reader"
From SRE [#195](https://github.com/visit-dav/live-customer-response/issues/195)

Could be similar to CCSM flavor.

Requirements:
- [ ] Since CCSM reader can currently read the file (though not completely) a GOES flavor would have to be tested before the CCSM
- [ ] Sample data has 'project' attribute with a value of 'GOES', which could be used in Identify method, but would take further research to

[2020-12-17 22:40] biagas commented on #12288
Hello Shaheen,

In regards to your second bullet point:
[code]
The CCSM flavor is rejecting any variable whose ndims < 2.

I've created a [Feature request](https://github.com/visit-dav/visit/issues/5319) to gather requirements for implemenation of a GOES reader.

[2020-12-17 23:42] markcmiller86 commented on #5295
@biagas writes...

I think I prefer strikethrough, because the big red x draws your eye more to the items that weren’t applicable, than the items that were checked.

[2020-12-17 23:42] markcmiller86 commented on #5295
Can you get strikethrough to actually work/render correctly or know of an example where it des?

I wasn’t able to.

BTW...strike through I think will require editing in multiple places. Doing the red X requires only a single edit on each line that requires it. I copy :x: into clipboard and just ctrl-v over [ ] wherever I need to. Very easy!

[2020-12-17 23:42] rusu24edward commented on #3744
@cyrush I believe I have duplicated the issue you saw and tracked it down to keyboard tracking disabled for spinboxes. If you manually change the value of the text instead of using the arrows to increment values, then the change is not registered after the textbox loses focus. This happens the first time you click Apply, so changes won't go into effect until the second time you click Apply.

Keybo

[2020-12-17 23:52] markcmiller86-visit commented on #12285
No matter what build_script and option I use I end up getting back to
this X11 issue. I believe what is happening is that my system had 32 bit
and 64 bit libX11:

->  file /usr/lib64/libX11.so.6.4.0
/usr/lib64/libX11.so.6.4.0: ELF 64-bit LSB shared object, x86-64,
version 1 (SYSV), dynamically linked, stripped

->  file /usr/lib/libX11.so.6.4.0
/usr/lib/libX11.so.6.4.0: ELF 32-bit LSB shared objec

[2020-12-17 23:55] markcmiller86 commented on #5295
Ok, added an example of strikethrough to opening comment too.

IMHO, I don't like that it idents those because they all then seem sub-parts of the one just above. That seems like a bug in their rendering of it. Those extra chars `~~` at beginning shouldn't be treated as extra chars.

And, I don't really like having to edit in two places.

BTW...I did submit an enhancement request to GitHub to make

[2020-12-18 00:09] markcmiller86 commented on #5295
Ok, I've updated orig. comment here and added voting. Please everyone go check the boxes to indicate your votes (and please don't uncheck someone elses vote(s))

[2020-12-18 00:11] markcmiller86 commented on #5295
BTW...@biagas, can you maybe find a better [github emoji](https://gist.github.com/rxaviers/7360908) to use in place of :x:. Maybe that would address your concerns.

[2020-12-18 00:12] biagas commented on #3744
@rusu24edward Did you also try adding a connection to the editingFinished signal? This is the signal that should trigger when the spinbox loses focus.

From QT docs:
[code]

[2020-12-18 00:14] markcmiller86 commented on #5295
Here are a couple of (smaller) options `:no_entry_sign:` (:no_entry_sign:) or `:no_entry:` (:no_entry:)

[2020-12-18 00:22] biagas commented on #5295
If you remove the – in front of the [] when using any of the options, it will remove the bullet. That might be nicer, make it not appear like a sub-point of the checked item above.

From: Mark C. Miller <notifications@github.com>
Sent: Thursday, December 17, 2020 4:15 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Biagas, Kathleen <biagas2@llnl.gov>; Mention <mention@noreply.github.com>
Sub

[2020-12-18 00:31] cyrush commented on #5295
:waxing_gibbous_moon:

[2020-12-18 01:12] markcmiller86 commented on #5295
I added example of that too (Option Z now). Seems to work ok. There is some potential for confusion in that it doesn't make clear that the text on such a line is wholly separate from a possible check-boxed line above it.

[2020-12-18 09:09] markcmiller86 opened #5320 "Should we get rid of (or archive) the issues-test repo"
We still have the [issues-test repo](https://github.com/visit-dav/issues-test).

Can we just delete it? If not, maybe we should archive it.

[2020-12-18 16:05] biagas commented on #12288
From Shaheen:

Shaheen.

[2020-12-18 16:10] biagas commented on #12288
From Shaheen:
[code]

[2020-12-18 16:35] markcmiller86 commented on #12288
FYI...when I examined the data textually with `ncdump`, I found...

[code]

Looking at *just* longitude data `65.125 + 565 * 0.05 = 93.75`. That is plausible. The plot above appears to extend to an eastern-most (right most) value of just around `90` but I believe a portion further to right is not plotted due to it being all *fill value*. Also, based on the *westbound* and resolution, I compute a *

[2020-12-18 17:49] rusu24edward commented on #3744
Yes, I did try that. If the user hits enter or clicks into another textbox/setting, then the spinbox will "lose focus", and the update will be fine. However, it's more natural (for me at least, and maybe for some other users) to change the value and immediately hit apply.

[2020-12-18 18:34] biagas commented on #3744
There must be a difference between the order in which Mac sends signals then Windows/linux.
When I add editingFinished signal for the 'samples along line' spinbox, and I change the text manually, I don't have to click enter or any other button.  As soon as I  click Apply , the changes  take effect.

[2020-12-18 21:12] markcmiller86 commented on #5295
FYI...I've tried a couple of PRs using Option B (removing `- [ ]` and adding `~~` to beginning and end of line). Too much editing!

[2020-12-18 21:49] biagas commented on #5312
Can change the line to simply be
set(TBB_VERSION tbb2018_20171205oss)
in any config files, and modify bv_tbb.sh setup of host profile to use the simpler set command.

[2020-12-18 22:30] #3881 closed, assigned to rusu24edward

[2020-12-18 22:41] rusu24edward commented on #3744
Yes, I confirmed this. The Apply from the click will execute before the apply from the lose focus on my mac.

[2020-12-18 22:51] biagas commented on #3744
Weird. On Windows at least, the Apply is performed (no call to SetOperatorOptions), then the editingFinished gets triggered which connects to my slot, which updates the atts with the new value and triggers a new Apply, and this second call to Apply triggers the call to SetOperatorOptions.
How did you define the slot connected to editingFinished?
Here's the changes I made:
first the connection in C

[2020-12-18 23:08] rusu24edward commented on #3744
Yup, that's how I did it too. `editingFinished` is worse that `valueChanged`: if I type a different value and then I hit apply before losing focus, then the textbox updates back to what it was before my typed my change, lol. Even worse, after changing a bunch of settings and toggling auto apply a few times, this stranger behavior went away.

Yes, with keyboard tracking set to true and auto apply o

[2020-12-19 00:13] cyrush opened #5327 "expand use of test suite in azure ci"
### Is your feature request related to a problem?

With the merge of #5311,  we are now running a very limited subset of our nightly test suite as part of CI checks in Azure.

There are several ways we can expand this.

Mark had some good ideas in the the #5311 PR.

This ticket can serve as a place to discuss.

[2020-12-19 03:56] markcmiller86 commented on #4892
This was resolved in #5281

[2020-12-19 03:56] #4892 closed, assigned to markcmiller86, cessenat

[2020-12-19 04:05] markcmiller86 commented on #5226
It looks like BoxLib readers summarily *always* read input data as `float` (32 bit) precision. https://github.com/visit-dav/visit/blob/e5f057767fe631f7e2d8238c0fb8c36d09f28daa/src/databases/Boxlib3D/avtBoxlibFileFormat.C#L1298-L1303

I believe that is cause for behavior here. The number reported by Spreadsheet plot is the closest 32bit value to `295.410000000000`.

I spent 45 mins looking over Box

[2020-12-19 19:33] dealmeidavf opened #12292 "GitHub discussions"
Hi, there is a new feature in GitHub for discussions. You may be interested in enabling it.
Just a thought.
Thanks.

[2020-12-19 20:03] markcmiller86 commented on #12292
Thanks for the suggestion. Can you maybe elaborate on why? What is the benefit or value added over issue conversations?

As currently used, our `live-customer-respons` is an *issues-only* repo (e.g. no code) (admittedly isn't the best name...mayb we should change it) that is intentionally integrated with our `visit-users` email list. That is because we are encouraging our users to use GitHub for i

[2020-12-19 20:09] dealmeidavf opened #12293 "python 3 on build_script_dev"
This section

[code]

does not identify the `python` system on my machine. The output results are:

It seems to get passed if I set:

[code]

Just some feedback on using the future `python 3` build.
Thanks.

 --
 Valmor

[2020-12-19 20:24] dealmeidavf commented on #12292
Your intended use of GitHub issues works well in a separate repo. The Discussion feature allows you to setup categories; which helps organizing the topics for discussion. There is also an *answer*  event for Q&A which helps identify which posting answered a question. Some examples [here](https://github.com/idaholab/moose/discussions).

Your current setting works well; thanks for the user support.

[2020-12-19 23:44] griffin28 opened #5328 "Port masonry scripts to Python 3"
Port masonry scripts to Python 3

[2020-12-21 22:00] dealmeidavf commented on #12276
Hi,
I went back to this build version since it is the one that gets me closer to an install. The line in the build script that makes the difference is:

`qt_flags="${qt_flags} -skip qtwebengine`

However, this is as far as it gets (please see attached log file below):

From the foregoing, `VisIt` may be all built and it is just the install that did not work correct?

[build_visit-3.1.4-qt5142_log.

[2020-12-23 01:01] #5283 closed, assigned to griffin28

[2020-12-28 17:52] brugger1 commented on #5011
Resolved with commit #5249

[2020-12-28 17:52] #5011 closed, assigned to brugger1

[2020-12-28 18:57] brugger1 opened #5332 "Why did we remove "--debug" as an option to build_visit?"
I went to run build_visit on develop with debug and tried "--debug". That no longer exists. I had to use "--build-mode Debug". This may be removing redundant code, but it seems like it is making things harder. I also noticed that "--debug" used to set CFLAGS and CXXFLAGS.

[2020-12-28 19:19] brugger1 commented on #5312
Duplicate of #5292

[2020-12-28 19:19] #5312 closed, assigned to nobody

[2020-12-30 18:03] rusu24edward opened #5333 "Operators that modify original bounds"
Visit keeps track of {Original, Actual, Desired}x{Data,Spatial}Extents of variables. Many of the operators we have either (1) don't update the extents at all even though they have changed them or (2) update the original extents. For example, the Threshold Operator does not update the extents at all, even though it has clearly modified the data extents.

I propose a careful examination of how the o

[2020-12-30 18:24] rusu24edward opened #5334 "GUI issues on mac"
### Describe the bug
#3744 and #3881 report strange behavior with the gui on mac machines. The problem is with (at least) the spin boxes: when you use the keyboard to change the value and then hit apply, Visit will not use the new value but will use the old one instead. This is because there was not a "change of focus" until the apply button was clicked. At that point, two signals have been sent:

[2020-12-30 18:36] rusu24edward commented on #3744
Closing this because it is addressed as part of #5334

[2020-12-30 18:36] #3744 closed, assigned to rusu24edward

[2020-12-30 20:33] rusu24edward opened #5336 "Branch restrictions applied to admin"
Hi team,

I recently pushed some changes directly to develop instead of going through the PR route. This has actually happened twice to me in the last two weeks, so I looked into the branch settings to see if we could apply the restrictions to admin/owners. There is indeed a setting to include administrators, which enforces the branch rules for admin/owners as well:

![Picture1](https://user-image

[2021-01-04 15:29] biagas commented on #5332
See PR #4386

[2021-01-04 15:46] biagas commented on #12276
From the log files you provided:
[code]
Which is related to visit-dav/live-customer-response#192

Did you ever get the 32bit vs 64bit X11 sorted out?

[2021-01-04 16:09] aowen87 commented on #3719
Hi Eric,

Would you mind sending this to me again? I can't seem to find the file anywhere...

Thanks,
Alister
________________________________
From: Eric Brugger <notifications@github.com>
Sent: Thursday, December 3, 2020 2:51 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Maguire, Alister Owen <maguire7@llnl.gov>; Assign <assign@noreply.github.com>
Subject: Re: [visit-dav/visit] Silo reade

[2021-01-04 16:31] #3977 closed, assigned to rusu24edward

[2021-01-04 16:34] brugger1 commented on #3719
Just gave you the file again. It's crash.tar, not particularly descriptive, but it's the name Mike gave me the file as.

[2021-01-04 16:36] aowen87 commented on #3719
Thanks! I'll check it out.

Alister
________________________________
From: Eric Brugger <notifications@github.com>
Sent: Monday, January 4, 2021 8:34 AM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Maguire, Alister Owen <maguire7@llnl.gov>; Assign <assign@noreply.github.com>
Subject: Re: [visit-dav/visit] Silo reader crashes with a negative material number in a multimat. (#3719)

Just gave y

[2021-01-04 17:52] markcmiller86 commented on #5226
I am inquiring with Boxlib and AMReX teams regarding boxlib file format support for variable precision.

[2021-01-04 18:21] aowen87 commented on #1888
The issue in the xdmf_writer appears to have been fixed. Here is a snippet of the relevant code:
[code]

The issue in the paradis database still exists. I'll look into fixing this one.

[2021-01-04 19:12] markcmiller86 commented on #5226
Ok, I have a better understanding of the data files here.

We read BoxLib data via the BoxLib library. A `VisMF` BoxLib *object* is instantiated to read the data into. AFAICT, that object, once instantiated, containes *all variables* from all boxes in memory. So, this isn't an interface that allows VisIt to read only the data needed in any given plot. It reads everything even if only some of the d

[2021-01-04 19:26] #3719 closed, assigned to aowen87

[2021-01-04 20:48] aowen87 commented on #4848
I have a branch with the desired changes on it, but I won't be able to fully test this until I can build on a Mac again. My Mac is currently in for repair, and I also haven't been able to build on Catalina.

[2021-01-04 21:25] markcmiller86 commented on #5226
Ok, after updating the plugin. I am getting better results than reported but I am also not getting *identical* results to reported. This may have to do with differences in numerical architecture of my Intel Core i7 Mac and the machine where the data was produced? 😕

For spreadsheet plot of `temperature1`, and format set to `%16.15f`, I get `295.410000000000025` for all values including min and max

[2021-01-04 21:30] markcmiller86 commented on #5226
Oh, and the spreadsheet plot shows only one patch at a time. When I set it to plot patch 2, I get the same min/max there I do from querying. So, all is good  I think.

[2021-01-04 21:31] aowen87 commented on #1888
Is there any reason that we're keeping a local copy of the paraDIS library in VisIt and editing that directly instead of incorporating changes/updates from the actual project: https://github.com/LLNL/paraDIS_lib

It looks like we have a very old version of the library, and we've also made some edits. The problem pointed out in this ticket is fixed in the newer versions of paraDIS (starting at 2.6.

[2021-01-04 21:58] markcmiller86 commented on #1888
Was 😕 at first because the headline for this ticket has to do with `xdmf_writer.c` but you are talking about `paraDIS_lib`. Looks like both code bases contain same bug.

[2021-01-04 22:01] aowen87 commented on #1888
@markcmiller86 the xdmf_writer bug has already been fixed. The paraDIS bug is the one that remains in VisIt, but it's fixed in the paraDIS repo.

[2021-01-04 22:16] aowen87 commented on #3756
There is a vtkPVDReader, but it's kept inside of Paraview for some reason.

The reader dependency looks like this:

vtkPVDReader (**Paraview)** -->  vtkXMLCollectionsReader (**Paraview**) --> vtkXMLReader (**VTK**) ...

So, vtkPVDReader and vtkXMLCollectionsReader are the only two modules that exist within Paraview and not VTK. I don't see any obvious dependencies on Paraview, so I'm not sure why

[2021-01-04 22:43] aowen87 commented on #4412
@biagas It looks like this is fixed. Can you confirm/deny?

[2021-01-04 23:06] aowen87 commented on #5308
It looks like we have a section on this in our developer manual.

Running the test suite is covered [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/dev_manual/test_suite.html#how-to-run-the-regression-tests-manually). It's not comprehensive (skips over running individual tests, setting your output directory, etc), but it gives an overview of the basics.

I don't see explic

[2021-01-04 23:09] biagas commented on #4412
Not fully.
The manuals are now created in the build dir, so part of point 1 is addressed.
The linux-path doesn't have an install command for the manuals (is it needed?) Second part of point 1.
Point 2 still needs to be addressed.

[2021-01-04 23:10] brugger1 commented on #5074
We should disable ghosts for t intersections, remove -disable-ghosts-for-t-intersections and add a new option -enable-ghosts-for-t-intersections. As far as adding it as a GUI option, we should see where the work is done. I believe it is at file open, so the user would probably have to reopen the file to have the change take effect.

[2021-01-04 23:12] biagas commented on #4412
The logic is no longer in the root CMakeLists.txt, it was moved into doc/CMakeLists.txt

[2021-01-05 16:38] #5226 closed, assigned to markcmiller86

[2021-01-05 17:10] markcmiller86 opened #5345 "Upgrade HDF5 plugins to newest API"
All (most) HDF5 plugins in VisIt are using HDF5’s 1.6 API (about 17 years old now). We are able to continue to build them against newer HDF5 libraries using the #define H5_USE_16_API macro before #include <hdf5.h>. However, this is beginning to show its age and it doesn’t work for methods added to HDF5 API *after* 1.6. So, those methods, if they wind up getting changed in a later release, wind up

[2021-01-05 18:04] markcmiller86 opened #5346 "Help resolving missing functionality"
I don't understand the RCS story about what is happening with [this file](https://github.com/visit-dav/visit/blob/develop/data/CMakeLists.txt) between the `develop` and `3.1RC` branches.

I updated this file on December 10th, 2019 (more than a year ago) in [this commit](https://github.com/visit-dav/visit/commit/5ee98b6109bf8655f755caf3813b09d9ec8540e4#diff-73ae6c5cba1a727739df93d02583e287c8c48434f

[2021-01-05 18:29] brugger1 commented on #5346
I used

git log develop..3.1RC --decorate | tail -10

and got

commit c12ea91ba9cd833ba1e81e6d5dde4def48b22bb4
Author: Kathleen Biagas <biagas2@llnl.gov>
Date:   Tue Nov 12 19:10:23 2019 -0700

    Revert a change I made to avtTransparencyActor::InputWasModified. (#4051)

    It could cause a parallel engine crash.

as the first commit, which is consistent with what you got. So, I would say the 3.

[2021-01-05 18:51] #5074 closed, assigned to aowen87

[2021-01-05 18:57] aowen87 commented on #3756
It sounds like they don't have plans to take the vtkPVDReader out of Paraview, so we would probably need to come up with our own methods for reading these files. I'm not sure if that's worth it or not. Do we have a sense of how useful this would be?

[2021-01-05 19:51] markcmiller86 commented on #3775
VTK sort of defines (at least) two kinds of file outputs, [*exporters*](https://vtk.org/doc/nightly/html/classvtkExporter.html) and [*writers*](https://vtk.org/doc/nightly/html/classvtkWriter.html).

The *exporters* appear to be concerned with what amounts to writing a *scene graph* (surface geometry, colors, textures, light sources and lighting, camera, etc.). Their main input is a [vtkRenderWind

[2021-01-05 20:07] aowen87 opened #5348 "GUI option for enable-ghosts-for-t-intersections"
### Is your feature request related to a problem?
No. It was suggested that we create a GUI option for the enable-ghosts-for-t-intersections. More info can be found in #5074. It's unclear how useful this would be or how often this feature is used in the first place.

### Is your feature request specific to a data set?
Yes, AMR.

### Describe the solution you'd like.
The suggested solution is to cr

[2021-01-05 22:02] aowen87 commented on #5020
Another interesting thing is that querying the "actual data" from the Filled Boundary will give you 3200 (zones + exterior faces), while setting the query to "original data" will give you 2000 (just zones).

Does this make more or less sense?
I might just not understand this process well enough, but it seems a bit odd that changing between actual and original data has no effect when querying the M

[2021-01-05 22:07] aowen87 commented on #5020
Enabling "clean zones only" in the Filled Boundary plot also results in 2000 zones when querying both actual and original data, matching the other plots.

[2021-01-05 23:14] cyrush commented on #1455
we now use pillow on develop, which will be leveraged in 3.2

[2021-01-05 23:14] #1455 closed, assigned to cyrush

[2021-01-05 23:14] #2032 closed, assigned to nobody

[2021-01-05 23:18] brugger1 commented on #4082
All the tasks except having a command line option to convert python 2 to 3. We will consider this complete.

[2021-01-05 23:18] #4082 closed, assigned to cyrush

[2021-01-05 23:28] cyrush commented on #4329
We actually did this, but ran into several issues with platforms getting confused due to older system installs of openssl leaking into one of our TPLs. I didn't get to run it down, I though it may have been QT.

https://github.com/visit-dav/visit/pull/4986

[2021-01-05 23:34] brugger1 commented on #4551
We consider this complete.

[2021-01-05 23:34] #4551 closed, assigned to cyrush

[2021-01-05 23:35] #2192 closed, assigned to cyrush

[2021-01-05 23:47] #4736 closed, assigned to markcmiller86

[2021-01-06 03:59] griffin28 opened #5349 "Error building moab on Linux (Ubuntu 18)"
### Describe the bug
Error building moab (moab-4.9.2-RC0.tar.gz) on Ubuntu 18.04.5 LTS.

[code]

Build VisIt command:
[code]

### To Reproduce
Steps to reproduce the behavior. For example:
1. Execute the **build_visit** command on Ubuntu 18

### Desktop
 - OS and version: Ubuntu 18.04.5
 - VisIt Version: 3.1RC

### Additional context
I looked through the moab source code and couldn't find any plac

[2021-01-06 16:50] aowen87 commented on #5318
This looks very similar to https://github.com/spack/spack/issues/12120, which was an issue fixed in cmake version 3.15.1.
@brugger1 It looks like cmake was updated for vtkm support. Is there any reason to avoid going up to 3.15.1 to see if that resolves the issue?

[2021-01-06 16:51] biagas opened #5352 "Visit won't build without icet"
### Describe the bug
If VISIT_PARALLEL is on (default) but ICET doesn't exist, VisIt won't compile.

Think this can be fixed by having the FindIceT.cmake module first check if VISIT_ICET_DIR is set.

I ran across this when using build_visit from develop to build everything.
Due to #5318 (icet comile failure with new cmake) I specified  --no-icet for the build_visit command line.
Got the needed thi

[2021-01-06 17:31] markcmiller86 opened #5353 "Txt results not copied to dashboard so cannot rebaseline them"
### Describe the bug
When we run nightly tests, for any test that fails, we copy the currently produced image to the dashboard. However, we are not doing this for `txt` results. We do get the HTML diff of the txt results there but not the original `.txt` files which then makes it impossible to re-baseline to the new (current) result.

I tried to parse the copying logic in `visit-copy-test-results.

[2021-01-06 17:50] brugger1 opened #5355 "How to contour randomly placed points on a cone"
Kambiz Salari called me with the following visualization question.

He has a bunch of points randomly distributed on a cone. The point density is pretty high. He would like to contour the points.

I believe we would have to form a mesh from the points and then contour them. I can see 2 ways to do this.

1) Map them to 2D, do a Delaunay triangulation, transform this mesh back to 3D and then contour

[2021-01-06 17:53] aowen87 commented on #1888
The proposed solution here is to add paraDIS as a third party library and keep it up-to-date.

There are two dependencies for paraDIS:
1. boost: this is already a third-party library in VisIt, so this dependency would be met.
2. tclap: we would need to add this as another third-party library.

[2021-01-06 17:54] markcmiller86 commented on #5355
You mean to contour a field defined over those points? Is the field defined truly in 3D or only over the 2D surface of the cone? If latter, option 1 sounds best. If former, can't we just resample those with our resample operator (which I don't think is really good quality for point data).

[2021-01-06 17:57] biagas commented on #1888
Should the paraDIS aspects of this be a new ticket?

[2021-01-06 17:57] brugger1 commented on #5318
CMake 3.14.7 was the version recommended by @mclarsen to build VTKh/VTKm. We could try 3.15.1 with icet and VTKh/VTKm and if both work, move up to it.

[2021-01-06 18:01] brugger1 commented on #5355
Only on the 2D surface of the cone.

[2021-01-06 18:01] cyrush commented on #5318
FYI: We have only vetted 3.14.x, or 3.18.2
Not to say 3.15 wont work, but -- for example, I know there were issues with 3.18.0

[2021-01-06 18:03] aowen87 commented on #1888
I think that's a good idea.

[2021-01-06 18:03] markcmiller86 commented on #5355
For option 2, how is the surface of the cone *known*? Does user have an analytic equation? Do we need to solve a least squares problem by *fitting* an equation to the points?

[2021-01-06 18:09] brugger1 commented on #1888
I agree. I think we should re-evaluate the priority of the new ticket, since this is no long low hanging fruit.

[2021-01-06 18:09] aowen87 opened #5356 "paraDIS compiler error"
### Describe the bug
A user pointed out a compiler error coming from the paraDIS plugin in #1888. After taking a closer look, we realized that the paraDIS plugin contains a local copy of a very old version of the paraDIS library. Instead of continuing to make our own adjustments to this local copy, we think it's a good idea to add the paraDIS library as a third-party library. The latest versions o

[2021-01-06 18:11] aowen87 commented on #1888
Should I hold off on making the paraDIS update until we review the new ticket as a group?

[2021-01-06 18:14] brugger1 commented on #1888
Yes.

[2021-01-06 18:15] aowen87 commented on #1888
Closing this ticket as the primary reported issue is resolved. The secondary issue is now being tracked by #5356.

[2021-01-06 18:16] #1888 closed, assigned to aowen87

[2021-01-06 18:23] markcmiller86 commented on #5355
For only on 2D surface...I worry about distance computations on surface of cone vs. on projected 2D plane used for Delauny. For small numbers of points, that probably isn't a big issue but as point density gets higher, I wonder if concept of closest neighbors, etc. winds up getting confused due to differences in curved surface of cone vs. flat surface of 2D plane. This would definitely be an issue

[2021-01-06 19:30] brugger1 opened #5357 "Enhance CGNS reader to support 2D polygons."
A user gave me a CGNS file that contains 2d polygon data. I looked at the reader code in avtCGNSFileReader::GetUnstructuredMesh and there was an explicit list of elements that it handled and the polygon type was not one of them. We should add support for this.

I have a sample CGNS file to check my assessment and verify the new feature.

I also notice a commented out debug statement for the triang

[2021-01-06 19:39] biagas opened #5358 "build_visit, cannot use --alt-python-dir with python 3"
### Describe the bug
If you run build_visit with --alt-python-dir pointing to python 3 , build_visit says it cannot find python at the specified location.

Due to this logic:

[code]

This  modification allows it to work:

[code]

Since we are making the switch to python 3 soon, not sure if the module still needs to support both 2 and 3.

### Desktop
 - OS and version: linux
 - VisIt Version: deve

[2021-01-06 19:56] brugger1 commented on #5355
The cone is made in a CAD package and consists of a hemispherical tip and a constant angled cone.

[2021-01-06 20:09] aowen87 commented on #5318
I tried building cmake 3.18.2 on Pascal and ran into the following error. This occurred when building inside and outside of VisIt:
[code]

I found a ticket related to this issue here: https://gitlab.kitware.com/cmake/cmake/-/issues/21323

I'll try building 3.15.1.

[2021-01-06 20:24] markcmiller86 commented on #5349
I think `HUGE` is defined in earlier versions of gcc. I think its been removed in gcc 7.

We could probably patch it replacing use of `HUGE` with `std::numeric_limits<double>::max();`

OTOH, maybe we should update MOAB also, https://sigma.mcs.anl.gov/moab/moab-release-5-2-0/

[2021-01-06 20:44] aowen87 commented on #5318
I see the same error with cmake 3.15.1, but the error is resolved for both versions by using gcc versions >= 7.1.0.

[2021-01-06 21:28] markcmiller86 commented on #3775
@mclarsen I wonder if you could help me understand a bit deeper how *textures* could play a role here? In particular, since our OBJ exporter uses VTK's [`vtkOBJWriter`](https://vtk.org/doc/nightly/html/classvtkOBJWriter.html#details), does the description at that link suggest to you in any way how to proceed to ensure a companion `.mtl` file gets written during the write?

What I think I need to d

[2021-01-06 21:35] aowen87 commented on #5357
Taking a closer look, it appears that the section of code that reads the elements is never actually reached when we encounter polygonal elements.

The polygonal mesh contains 5 "sections" of elements that are read in. After each section read, the status of that read is checked. 4 of the 5 sections contain "BAR" type elements (simple lines), appear to make up the circular section of the mesh, and a

[2021-01-06 21:52] aowen87 commented on #5357
The element section that's failing to be read contains elements of type "NGON_n". From the CGNS documentation:

`Arbitrary polyhedral elements may be defined using the NGON_n and NFACE_n element types.`

This seems to confirm my suspicion that section 5 contains the polygons. It also seems that these are explicitly ignored in the reader for some reason. An error is just passed forward instead of a

[2021-01-06 22:52] brugger1 commented on #5357
There is a ticket assigned to me to upgrade the version of the CGNS library. Upgrading was pretty simple, but I got different results. I was digging down into the CGNS code and was close to the code block where things were changing, but then I got side tracked and never found the problem.

[2021-01-06 23:21] aowen87 commented on #5318
Using a newer version of cmake resulted in the same error.

I did find something pretty odd happening in bv_icet.sh that seems to be related, though. At line 189, a "fake" mpi library is created using touch
[code]

This fake library is then passed to cmake when compiling icet and is immediately deleted afterwards:

[code]

Does anyone have any ideas why this was added? Removing this line allows Ic

[2021-01-06 23:28] aowen87 commented on #5357
It looks like we can read the polygons using our current version of CGNS, but I don't see an obvious way of knowing how many nodes are contained in a given element. I'm guessing this is why we avoided supporting them in the first place. I'll do some more digging to see if I can figure something out.

[2021-01-06 23:47] biagas opened #5359 "warnings during sphinx generation of manuals"
From a manuals build of 3.1RC on  Windows:

[code]

[2021-01-06 23:48] aowen87 commented on #5318
VisIt successfully builds. I also ran the vtk tests using the `-m 'icet'` option, and the tests passed.

This was built using gcc 7.1.0 and cmake 3.18.2. I'll confirm that everything still works with the current version of gcc and cmake in VisIt before proceeding.

[2021-01-07 00:18] brugger1 commented on #5318
We could probably upgrade to gcc 7.1.0, since the only OS where we use a gcc between 6.1.0 (minimum for develop) and 7.1.0 is Debian 9. Can you check if VTKm/VTKh build as well?

[2021-01-07 00:23] qkoziol commented on #5345
Happy to join in! :-)

I'm attaching our development document for how API versioning is implemented.   As Mark says, the current version of the library can always read/write files that are produced with earlier versions of the library.

How would you like to proceed from here?

[APICompat5.txt](https://github.com/visit-dav/visit/files/5778820/APICompat5.txt)

[2021-01-07 00:30] markcmiller86 commented on #5345
Super. Thanks @qkoziol.

Also, @visit-dav/visit-developers by *next major release*, I mean 3.2 or 3.3, not 4.0

[2021-01-07 00:32] markcmiller86 commented on #5345
Maybe its worth submitting a draft PR on just one HDF5 plugin (not sure which among the 20+ HDF5 plugins we have which would be the most illustrative) to demonstrate the work involved and continue the conversation there?

I am taking a guess that [SAMRAI plugin](https://github.com/visit-dav/visit/blob/develop/src/databases/SAMRAI/avtSAMRAIFileFormat.C) might be best first case for illustrative pur

[2021-01-07 01:00] markcmiller86 commented on #3775
I've experimented with round trips from OBJ input that includes colors and texture coordinates to OBJ *saves* and *exports* with existing code base.

* We appear to only *read* texture coords and then produce from these scalar variables. I don't see any means for texture coordinates to be output either via *saves* or *exports*.
* If the input OBJ file has multiple *groups* (e.g. wholly separate ob

[2021-01-07 15:13] aowen87 commented on #5318
Sure thing.

[2021-01-07 17:05] #5332 closed, assigned to nobody

[2021-01-07 17:08] brugger1 commented on #5320
We didn't see any reason to keep it so let's delete it.

[2021-01-07 17:30] brugger1 commented on #5348
This would probably go with the mesh management options.

[2021-01-07 17:32] #5346 closed, assigned to nobody

[2021-01-07 17:51] rusu24edward commented on #5336
To install local hooks: `/scripts/git-hooks/install-hooks.sh`

[2021-01-07 17:52] #5336 closed, assigned to rusu24edward

[2021-01-07 17:58] rusu24edward commented on #5334
Possible solution: When apply is clicked, go through and trigger all the "value changed events" to ensure proper order of events.

[2021-01-07 18:31] markcmiller86 opened #5361 "Centroid, CG, or First Moment"
We have a query named `Centroid`. The purpose is to compute the *center* (by some measure) of something. It is often used to compute a CG. However, the term *Centroid* means *geometric* center and is the same as the CG *only* when the density variable used is constant over the whole of the object. So, the name is misleading in that it is a true centroid only if the user selects an appropriate (con

[2021-01-07 20:07] #5352 closed, assigned to biagas

[2021-01-07 21:20] #4412 closed, assigned to biagas

[2021-01-07 22:25] cyrush commented on #3430
should we close this?

[2021-01-07 22:31] markcmiller86 commented on #3430
It works for me in macOS and Linux

[2021-01-07 22:31] #3430 closed, assigned to nobody

[2021-01-07 23:07] qkoziol commented on #5345
OK, I can start there - which version of the HDF5 Library’s API should I use?  The API routines from the latest version (1.12.0) or do you need the plugin to link with an earlier release of HDF5?

[2021-01-07 23:09] markcmiller86 commented on #5345
I am inclined to go with latest version (1.12.0) and see if we need for some reason to back away from that. I don't think we will since 99.9% of the cases for VisIt are read-only.

[2021-01-07 23:30] #5358 closed, assigned to biagas

[2021-01-08 17:48] brugger1 opened #5365 "Not rendering 2D non-convex quads properly"
Matt Obrien reported that VisIt isn't rendering 2D non-convex quads properly. In particular he has some boomerang quads in his mesh and those are being rendered with the convex portion filled in. I have a sample file on the RZ and some images of the bug, but this should be easy to create a sample dataset for.

We should probably just handle this properly. We can do it in a staged manner. First by

[2021-01-08 18:17] markcmiller86 commented on #5365
We have issues with big quads (#2903) that similarly require breaking them into triangles. In both cases, one challenge is picking the *right* diagonal to split a quad on. For non-convex quads, the mesh geometry itself tells us which diagonal. For correct contouring (#2903) the correct diagonal can depend on the *variable* being contoured over the quads. Of course, you can have all these cases con

[2021-01-08 19:25] whophil opened #5366 "TecPlot binary files with FE cell-centered block data don't load properly"
### Describe the bug
TecPlot binary files with FE cell-centered block data don't load properly.

### To Reproduce
Steps to reproduce the behavior. For example:
1. Open a file containing TecPlot binary FE cell-centered block data (example data attached)
2. In Plots: Add -> Mesh -> Surface
3. Draw
4. See error ("The compute engine running on localhost has exited abnormally")

### Expected behavior
P

[2021-01-11 16:47] #5198 closed, assigned to cyrush

[2021-01-11 19:16] biagas commented on #4888
There is a problem importing PySide2 when python/pyside/visit not compiled with the default compiler on the machine:

Here's the error (path changed for readability)

[code]

If I set LD_LIBRARY_PATH environment var to point to the gcc lib used during compilation then the import works.

Is this a problem in how PySide2 was built?
A setting perhaps that was missed? Or will a patch be needed?
Or wil

[2021-01-11 19:39] biagas commented on #4888
If I run VisIt's cli and call 'import PySide2', I don't run into the same problem.

The problem is biting me in the current version of FindPySide.cmake module on my branch, as it attempts to discover if pyside is installed with python via execution of 'python -c "import PySide2"'.

I will attempt to see what is different in running the import from python vs within VisIt's cli.

[2021-01-11 20:46] brugger1 opened #12294 "Hohlraum flux query"
To whom it may concern:

Is there any information about VisIt’s “Hohlraum Flux” query?  I can’t seem to find any documentation.  I was able to setup opacity values for the query from a hohlraum simulation using the HYDRA rad-hydro code and results of some sort were spat out, but I have no idea what physical units of inputs and outputs of the query are supposed to be.  The name of the query suggest

[2021-01-11 21:15] brugger1 commented on #12294
Hi Jay!

That was implemented in 2006-2007 by someone who is no longer in the group.  I had a minor role, but cannot recall all of the details.

Here is some documentation in the code:
//    This query calculates flux from a hohlraum capsule by integrating
//    random rays, accumulating radiation bin by bin.  It may be extended
//    to be applied to one or more response functions, to match detec

[2021-01-11 23:06] brugger1 commented on #12294
The Hohlraum flux query integrates uniformly distributed rays in a cylinder. The query takes 2 variables, the absorbtivity and the emissivity. These are “array” variables, where there can be multiple values per zone for each corresponding to energy bins.

The arguments for the query are as follows.

Number of Lines – The number of rays to place in the cylinder.
Divide Emis by Absorb – This effects

[2021-01-11 23:09] brugger1 commented on #12294
Here is a link to our test suite for the Hohlraum flux query that shows how to use it from Python.

https://visit-dav.github.io/dashboard/2021-01-10-22:00/pascal_trunk_serial/queries_hohlraum_py.html

[2021-01-11 23:29] brugger1 commented on #12294
I found this comment in the code regarding units:

Flux values in Eu / (ms * cm2  * keV).

Eric

[2021-01-12 01:03] biagas commented on #4888
I can fix the problem in FindPySide.cmake by changing the logic.

However, we run into the same problem using the shiboken generator during the build of the visitpy/pyui/pyside modules.

[2021-01-12 16:49] doutriaux1 opened #12295 "Getting Variables Names out of silo files"
I am writing a script to plot variables from a silo database. My issue is that dependending on the simulation, the same variable might have a slightly different name. Is there a way to Query a visit opened database to access the variables available?

This would allow me to make sure the script requested variable is matched to the correct name in the file.

[2021-01-12 17:25] brugger1 commented on #12295
You can get the list of variables with the GetMetaData() function. To print the list of scalars from /usr/gapps/visit/data/rect2d.silo:

md = GetMetaData("/usr/gapps/visit/data/rect2d.silo")
for i in range(0, md.GetNumScalars()):
    md.GetScalars(i).name

Similarly, you can do the same with:

Meshes
Vectors
Tensors
SymmTensors
Arrays
Materials
Species
Curves
Labels

by substituting the above name

[2021-01-12 18:00] brugger1 commented on #12294
From Dan Laney:

The units are derived from the emissivity units, whatever those are.  I don’t have the notes from the scripts I front of me so I can’t verify exactly, but you can derive them from the 1-D transport equation:

I_1 = I_0 e ^ (-length * opacity)

So whatever units the code spits out for emission *should* be the correct ones.  The caveat:  a multi group emission may or may not be weig

[2021-01-12 18:45] markcmiller86 opened #5374 "Anyone using git worktree"
I just read about [`git worktree`](https://stackoverflow.com/questions/2048470/git-working-on-two-branches-simultaneously) and am wondereing if this could in any way be helpful for our cases where we are building out of source? Or, maybe it is a way to build *in* source and and easily switch? Anyone using `git worktree`.

[2021-01-12 20:00] markcmiller86 commented on #5366
Fixed in #5375

[2021-01-12 20:00] #5366 closed, assigned to whophil, markcmiller86

[2021-01-12 21:23] griffin28 opened #5377 "Volume plot showing thread boundaries (OSPRay)"
### Describe the bug
Thread boundaries are visible in the **Volume Plot** when `Ray casting: OSPRay` **Rendering Method** is selected and/or either **Shadow** or **Single Shade** is selected in the **OSPRay Options** section of the Volume plot attributes (See attachments).

### To Reproduce
Steps to reproduce the behavior. For example:
1. Open the [volume_testdata.h5 dataset](https://github.com/vi

[2021-01-12 22:26] brugger1 opened #5378 ""useExtents" ignored in ResampleAttributes in CLI."
I used the resample operator in a script and I wanted to resample the entire extents. Instead of doing the entire extents it did the user specified limits, which are the unit cube.

The following script generates a resampled output in the range 0 - 1 in X, Y and Z. It should be -10 - 10 in X, Y and Z.

OpenDatabase("/usr/gapps/visit/data/globe.silo")
AddPlot("Pseudocolor", "u")
AddOperator("Resamp

[2021-01-12 23:46] rusu24edward commented on #1923
* Issue may be with `DeleteAllPlots` not behaving correctly?
* Is `CloseComputeEngine` closing the correct engine? Check the output

[2021-01-12 23:50] cyrush commented on #1923
Closing `localhost` may not work (but we should try to make it work)

[code]

[2021-01-12 23:51] cyrush commented on #1923
you can use:

`CloseComputeEngine(GetEngineList()[0])`

[2021-01-13 11:12] bharath-kumarn commented on #4648
i solved this problem by upgrade python pip:

pip install --upgrade pip
pip install -U PyMuPDF

[2021-01-13 16:01] brugger1 commented on #4648
Thanks for passing that along.

[2021-01-13 18:16] biagas opened #5379 "Process for creating a new build_visit module"
### Describe what needs to be documented.
How to create a build_visit module when new i/o library or other sort of third-party dependency is added.
Should include
* information about the template creator (construct_build_visit_module.sh)
* pros-cons of copying from an existing module
*  setting dependencies
*  supporting system version of the library
*  extra arguments
*  host profile entries
   *

[2021-01-13 21:54] shots47s opened #12296 "build_visit3_1_4 fails adding subdirectory in building visit"
I am trying to use the build_visit3_1_4 script and am seeing an error.

I am using the following build command:

 `./build_visit3_1_4 --server-components-only --parallel --static --skip-opengl-context-check --thirdparty-path /opt/packages/Visit --makeflags -j16`

The code works fine until building the actual visit package until I get to the following error:
`CMake Error at CMakeLists.txt:2126 (ADD

[2021-01-13 21:55] shots47s opened #12297 "build_visit3_1_4 script failing on adding tools/DataManualExamples/Simulaitons directory"
I am trying to use the build_visit3_1_4 script and am seeing an error.

I am using the following build command:

 `./build_visit3_1_4 --server-components-only --parallel --static --skip-opengl-context-check --thirdparty-path /opt/packages/Visit --makeflags -j16`

The code works fine until building the actual visit package until I get to the following error:
`CMake Error at CMakeLists.txt:2126 (ADD

[2021-01-13 21:56] shots47s commented on #12296
I apologize for the duplicate issue, I got a 404 when submitting the first one. Please feel free to close one.

[2021-01-13 22:16] brugger1 commented on #12297
Looking at the build_visit command line, my guess is that the "--static" is causing the issue. This is not a configuration we use very frequently. Would it be possible to remove the "--static" option or could you describe the use case you have for building static? Also, it would be useful to know what OS you are encountering this problem on.

[2021-01-13 22:21] brugger1 commented on #12297
Looking a little more closely at the error message, that path should be in the VisIt source code and it isn't since the code has been reorganized. I suspect there may be some code that is dependent on static builds that may not have gotten updated. I will check the source code to see what I can discover.

[2021-01-13 22:22] shots47s commented on #12297
Sure, I will try that, it was a legacy from a previous build, I am not sure it is needed.

This is on Centos8.

[2021-01-13 23:53] #5292 closed, assigned to biagas

[2021-01-14 16:36] biagas opened #5382 "OpenGL warning with new CMake"
### Describe the bug
This is on a system using system-gl not MesaGL.
When I build visit, I see this CMake warning regarding OpenGL.

[code]

[2021-01-14 17:12] brugger1 commented on #5295
We decided option C is the preferred method. This should be documented in the PR procedures.

[2021-01-14 17:13] shots47s commented on #12297
That worked, thank you.

Details:
OS: CentOS8
Kernel:  4.18.0-193.28.1.el8_2.x86_64
Compiler: intel 20.4
Build command:
`build_visit3_1_4 --server-components-only --parallel --skip-opengl-context-check --thirdparty-path /opt/packages/Visit --no-sphinx --makeflags -j16`

Thanks for your help.

[2021-01-14 17:17] brugger1 commented on #5296
Let's put an item in the PR checklist to check that the protocol (or public interface) wasn't changed if this work is on an RC branch.

[2021-01-14 17:23] biagas commented on #5382
Duplicate of #5317.

[2021-01-14 17:23] #5382 closed, assigned to nobody

[2021-01-14 17:27] markcmiller86 commented on #5299
We discussed this and decided the effort in maintaining notes of any detail may not be worth it. Simply summarizing a discussion that occurred is not useful. However, we also agreed that we should adopt the practice of ensuring, at the end of the meeting, that any important decisions or actions will then be captured in issue tickets either as new tickets or comments to existing ones. This will be

[2021-01-14 17:27] #5299 closed, assigned to nobody

[2021-01-14 17:27] brugger1 commented on #5302
I will add the date to the 3.2.0 release notes and then going forward that information will be updated when the release is finalized.

[2021-01-14 17:31] brugger1 commented on #5308
Looks like Cyrus already documented how to run it. It should be enhanced to cover things like running only a single test and possible how to run in different modes, etc.

[2021-01-14 17:33] markcmiller86 commented on #5299
It occurrs to me, we could adopt the practice of adding the :eyes: emoji reaction to any issue comments that were derived from a meeting discussion. This would allows to find them as a group, easily.

[2021-01-14 17:36] brugger1 commented on #5314
We are moving to Python 3 so this is no longer relevant.

[2021-01-14 17:36] #5314 closed, assigned to nobody

[2021-01-14 17:42] brugger1 opened #5383 "We need to switch the development branch to use python 3."
We are currently still building against python 2 on quartz and running the test suite using python 2. The third party libraries on quartz should be rebuilt with python 3 and the config site file updated. The CI should also be built with python 3.

We should remove the python 2 stuff at some later date once we have confidence that the python 3 stuff is solid. This may be in a few months.

[2021-01-14 17:50] brugger1 commented on #5355
I sent an e-mail to Kambiz asking for more information and haven't heard back. I will ping him again.

[2021-01-14 18:00] brugger1 commented on #5361
We should improve the documentation for centroid.

[2021-01-14 21:16] markcmiller86 opened #12298 "MetaData server error help"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

I recently upgraded my computer and, as usual, nothing works anymore.  W

[2021-01-14 21:16] markcmiller86 opened #12299 "MetaData server error help"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

I recently upgraded my computer and, as usual, nothing works anymore.  W

[2021-01-14 21:18] markcmiller86 commented on #12298
Adrianna sorry you are running into this. Please have a look at [this issue](https://github.com/visit-dav/visit/issues/4069) and see if that doesn't help.

[2021-01-15 00:29] biagas opened #5386 "visit_utils pyside test failures with python 3"
### Describe the bug
Trying to test the pyside install.
Running visit_utils/run_visit_tests.sh with the pyside tests:
(I've shortened path for easier reading)

qannote tests fail with:
[code]
qplot_scene fails with:
[code]

### To Reproduce
Build on pascal/quartz, using attached quartz386.cmake config-site file.
Try to run the qannote/qplot tests in visit_utils.

### Expected behavior
Tests should

[2021-01-15 00:35] biagas commented on #5386
Just realized you probably need the [branch](https://github.com/visit-dav/visit/tree/task/biagas/pyside_py27_qt5142)

[2021-01-15 00:56] #5296 closed, assigned to brugger1

[2021-01-15 15:45] #5320 closed, assigned to markcmiller86

[2021-01-15 15:46] brugger1 opened #5387 "CMake error with static engine only or static server only components build."
A user tried doing static server only components build and it failed trying to package the distribution.

The command and error message is:

`./build_visit3_1_4 --server-components-only --parallel --static --skip-opengl-context-check --thirdparty-path /opt/packages/Visit --makeflags -j16`

`CMake Error at CMakeLists.txt:2126 (ADD_SUBDIRECTORY): ADD_SUBDIRECTORY given source "tools/DataManualExampl

[2021-01-15 15:47] brugger1 commented on #12297
You're welcome. Thanks for the update.

I submitted ticket #5387 for the CMakeLists.txt error.

[2021-01-15 15:53] brugger1 commented on #5387
The path should be changed to `tools/data/DataManualExamples`.

[2021-01-15 15:57] brugger1 commented on #5387
It looks like some paths in `src/tools/data/DataManualExamples/Simulations/contrib/pjacobi/README.txt` should also be updated.

[2021-01-15 16:49] #5361 closed, assigned to nobody

[2021-01-15 21:39] brugger1 opened #5389 "Unable to read legacy VTK files created by ParaView 5.9 RC3"
I read globe.silo into ParaView 5.9 RC3 and created the equivalent of a pseudocolor plot of u. I then exported that to a legacy ASCII VTK file. I then read that into VisIt and it displayed the mesh as points and the variable u didn't show up in the variable list. My guess is that they have added new keywords to the "legacy" VTK file format that our VTK 8 based readers don't understand.

I tried th

[2021-01-15 23:27] brugger1 opened #5390 "Add ability to strip ghost zones."
Jeremy White wants to export data for further processing in other tools. Unfortunately, when exporting data it includes the ghost zones (and marks it with avtGhostZones). The ghost zones (and associated nodes) are causing him problems. I've had several people encounter this over the last few years, so this is definitely a use case. Stripping the ghost zones isn't easily done. The natural thing wou

[2021-01-15 23:30] markcmiller86 commented on #5390
#3224 is already in the system as your option 1. I think it is best added as an expression.

As an immediate work-around for the user...export to ascii VTK (or another easily edited file format). Change the name of the `avtGhostZones` to something like `foo`...read back into VisIt, threshold on `foo` and write back out. Did you already try that? Will that work?