[2020-04-03 15:39] brugger1 opened #12120 "Problem running Ubuntu19 version on Ubuntu19.3."
Hello,

on ubuntu 19.3, installed Linux - x86_64 64 bit Ubuntu 19, 4.9.184-linuxkit visit-dav/visit#12095 SMP, gcc 8.3 using the install script. however there is this error:

./../current/linux-x86_64/bin/python: /lib/x86_64-linux-gnu/libm.so.6:
version `GLIBC_2.29' not found (required by
./../current/linux-x86_64/lib/libpython2.7.so.1.0)
./../current/linux-x86_64/bin/python: /lib/x86_64-linux-gnu

[2020-04-03 15:50] cyrush opened #12121 "issue with missing domains"
LLNL user reached out, not able to plot all domains for time steps beyond 0.

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

[2020-04-03 15:50] cyrush commented on #12121
Using:  "Treat All Databases as Time Varying" resolved the issue

[code]

This was a silo database, I expected the equiv TreatAllDbs flag to be set the output files, but that didn't appear to be the case.

[2020-04-03 16:23] brugger1 opened #4576 "Remove SVN scripts from tools/dev/scripts."
We have a bunch of scripts that have to do with using SVN in the tools/dev/scripts directory. They should be removed. Searching on visit_svn_helper should find most of the scripts.

There is a mapping from nersc user name to e-mail for the test suite failure scripts. I'm not sure if that needs updating. It's most likely it doesn't, but it should be checked.

There is also probably content on visit

[2020-04-03 17:37] #796 closed, assigned to nobody

[2020-04-03 17:59] #778 closed, assigned to brugger1

[2020-04-03 18:01] griffin28 commented on #777
We've moved to GIT. Issue #4576 captures work to remove SVN scripts.

[2020-04-03 18:01] #777 closed, assigned to brugger1

[2020-04-03 18:08] markcmiller86 commented on #4523
I discovered something about checklists in GitHub issues.

![Untitled](https://user-images.githubusercontent.com/5720676/78391693-b5e0a300-759b-11ea-91e0-37b3b647e55b.png)

The *progress bar* shows in a list of issues only if the checklist is in the *original* issue post and not buried in the conversation comments that follow it. As such, I've moved the comment where I had each developer's part to

[2020-04-03 18:33] #765 closed, assigned to nobody

[2020-04-03 19:03] aowen87 commented on #4187
This is part of a conversation I had with Allen that contains some interesting/relevant information. This also includes a conversation Allen had with Qi, the original writer of the volume rendering portion of VisIt's OSPRay integration:

"
One more comment from Qi -

From: Allen Sanderson <allen@sci.utah.edu>
Date: Friday, April 3, 2020 at 11:51 AM
To: "Maguire, Alister Owen" <maguire7@llnl.gov>
C

[2020-04-06 00:42] ghost commented on #4301
Hi,

I ran into the same issue today with random.h causing "template argument deduction/substitution failure".

Desktop:

- OS and version: Arch linux with kernel 5.5.10-arch1-1
- VisIt version: 3.1.1
- gcc version: 9.3.0

If you have time please check my log file attached as well. Thanks a lot!

Best regards,
Greg

[build_visit3_1_1_log.zip](https://github.com/visit-dav/visit/files/4435358/build_

[2020-04-06 14:06] brugger1 commented on #12120
Hi Eric

on the issue of ubuntu 19 being compiled with a different gcc than the Visit install, your suggestion to install visit 3.1.1 for ubuntu 18 did the trick.  thanks for the help

Sal
--------------------------------------------------------------------------------------------------
Hi Sal,

I'm glad that fixed the problem. Thanks for providing the feedback, that will be useful to others that

[2020-04-06 14:23] brugger1 commented on #4301
A patch was added to build_visit that makes a one line change in Qt that resolves the issue. The change is in commits #4493 (3.1RC) and  #4510 (develop) . The fix will be in release 3.1.2. You could also apply the change manually to the 3.1.1 build_visit script.

[2020-04-06 14:23] #4301 closed, assigned to brugger1

[2020-04-06 16:00] markcmiller86 commented on #12119
Hi Solal,

Wasn't sure if you saw this response...

"Mark C. Miller" wrote:

I am puzzled by what is not correct in the attached image. It sure looks correct to me. Is maybe the bounding box annotation throwing off your interpretation? If so, go to Controls->Anntoations and click the No annotations button and then hit the Apply button and see if that doesn't make it easier to interpret.

—
You are

[2020-04-06 17:49] rusu24edward opened #4585 "Docs for named selection"
### Describe what needs to be documented.
There is some brief documentation for named selections in the cli functions page, but it is not entirely clear what is a named selection and how to create one in the gui.

### Is the documentation there but needs improvement?
There are several functions that deal with named selections. They can be found in the cli functions docs with a search for "named se

[2020-04-06 20:38] rusu24edward commented on #4445
Note in index about mac combining the tabs is wrong. It was based on an older version of the code. Mac and linux both have 4 tab.
- [x] Fix note in index about mac 4 tab

[2020-04-06 20:43] rusu24edward commented on #4445
- [x] Pseudocolor -> Geometry tab -> lines : the docs specify poincare or ICO, but we should just specify ICS and link to the docs of it.

[2020-04-06 20:50] griffin28 opened #12122 "Visit error message while loading Desktop Data in Mac machine"
Hello,

My name is Akshit Jariwala and I am currently working in Los Alamos National Lab. I am using VisIt 3.0 in MacBook and when I try to load the desktop content VisIt gives me this error: The MetaData server running on localhost could not get the file list for the current directory.

Could you help me resolve this issue?

Thank you,
Akshit Jariwala.
T-3: Solid Mechanics and Fluid Dynamics
Los

[2020-04-06 20:51] griffin28 commented on #12122
Hello Akshit…I’m assuming you are using macOS Catalina, in that case, you need to run VisIt from the command line (/Applications/VisIt.app/Contents/Resources/bin/visit)

This is a known issue for Catalina and this is the work-around until we get time to investigate the root cause.

(see https://github.com/visit-dav/visit/issues/4069)

[2020-04-06 21:13] rusu24edward opened #4587 "Update aneurysm and potential flow ICO pictures"
### Describe what needs to be documented.
The Integral Curve Operator pictures in the [aneurysm](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/Aneurysm.html#) and [potential flow](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/PotentialFlow.html#) tutorials are off because the tabs have recently changed. There are now 4 tabs instead of 3.

[2020-04-06 21:24] griffin28 commented on #12122
Hello Kevin,

Yes, I am running Catalina on my mac your solution worked for me. Thank you for quick response.

-Akshit.

[2020-04-06 22:37] #4558 closed, assigned to biagas

[2020-04-07 05:17] cyrush opened #4593 "blueprint plugin: add support for implicit points style topo"
newer versions of blueprint support an implicit way to specify  a topology of all points.
Add support to the bp plugin

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [ ] High - User productivity significantly improved
- [x] Medium - User productivity partially improved
- [ ] Low - User productivity trivially improved

[2020-04-07 05:25] corbett5 commented on #4593
Commenting so I follow this thread.

[2020-04-07 19:30] biagas opened #4596 "Importing host profiles is broken again."
Tried 3.1.1 linux and windows. The update button doesn't display any hosts. Tried using 3.1.1 path and develop path.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [X] Did you get wrong results?

**Impact**
- [X] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User pro

[2020-04-07 20:20] biagas commented on #4596
Added some print statements to QvisHostProfileWindow::downloadHosts

I verified the full url used is correct:
https://raw.githubusercontent.com/visit-dav/visit/develop/src/resources/hosts//networks.json
and plugging that url directly into a browser gives the correct raw content of networks.json

However, the network reply results string being used to parse into a json document is clearly wrong:
``

[2020-04-07 21:50] griffin28 opened #12123 "Visit Connection Issue"
From: Colon Quinones, Roberto Alejandro <colonquinone1@llnl.gov>

<img width="549" alt="window1" src="https://user-images.githubusercontent.com/26772741/78723704-d2a11180-78e0-11ea-80b6-118eadaf8cb6.png">

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When reply

[2020-04-07 22:27] rusu24edward opened #4598 "Rework the template"
The issue templates include checkboxes to guide the user to provide important information for us in understanding and evaluating the ticket. Such information is the impact that it has on the user's workflow, the likelihood of it occuring, and some more info about whether Visit crashed or the user got the wrong results (for a bug). Some info, such as if Visit crashed, is important for us to know fr

[2020-04-07 23:02] biagas commented on #4566
Discovered hdf 4 requires jpeg. If we don't use --with-jpeg to specify vtk's jpeg (or another version we can package up with VisIt) it will find and link with a system jpeg.
If we try to disable it with --without-jpeg, configure fails saying jpeg is required.

[2020-04-07 23:44] markcmiller86 commented on #4523
Ping @brugger1 @rusu24edward @aowen87 @cyrush @mclarsen ... you can find your assignment of the label-palooza in this issue.

Also, if anyone wants some *relief* in their assignment, please let me know and I might be able to help.

[2020-04-08 01:05] markcmiller86 commented on #4523
@mclarsen do you mind now if I swap your assignment here with Cyrus' and give him the less than two pages worth of leftovers from my mis-counting?

[2020-04-08 15:44] cyrush opened #4600 "client / server allow save of images on remote system"
we can now save sessions to remote systems, also allow this to be the case for the images we save as well.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [x] High - User productivity significantly improved
- [ ] Medium - User productivity partially improved
- [ ] Low - User productivity trivially improved

[2020-04-08 16:07] rusu24edward commented on #1853
@BradWhitlock resolved this [in this commit](https://github.com/visit-dav/visit/commit/3619a40ddbf69e71eaa6b00a64b6e0b1b6e0b68a#diff-0e4937b797020cd5071722ccec62aca7).

[2020-04-08 16:07] #1853 closed, assigned to nobody

[2020-04-08 16:13] rusu24edward commented on #1856
@rusu24edward will test this on newer version of visit when we are back in the office and have the capability to print.

[2020-04-08 16:15] rusu24edward commented on #1857
All the text in this ticket is boilerplate. It's not clear to me what this is about. @cyrush can you provide insight here? This is from 6 years ago...

[2020-04-08 16:18] rusu24edward commented on #1860
I'm removing the label tag so we can discuss this again. I think we should close for two reasons:
1. This ticket is very specific and very old that it is likely irrelevant
2. The lab is moving from Windows 7 to Windows 10

[2020-04-08 16:41] rusu24edward commented on #1861
CGetDataExtents is called [here](https://github.com/visit-dav/visit/blob/develop/src/avt/Pipeline/AbstractFilters/avtSIMODataTreeIterator.C#L434) with an arg that is double[2]. This gets cast to [GetVariableRangeArgs](https://github.com/visit-dav/visit/blob/develop/src/avt/Pipeline/Data/avtCommonDataFunctions.h#L220) pointer [here](https://github.com/visit-dav/visit/blob/develop/src/avt/Pipeline/D

[2020-04-08 17:19] aowen87 commented on #3802
This is even worse for other datasets. I'm trying to generate a simple shock tube movie, and, around frame 150, my entire laptop freezes and needs to be restarted. I have two plots—one pseudocolor and one filled boundary—and a single transform operator.

[2020-04-08 17:22] rusu24edward commented on #1874
Is this not simply volume of the projected grid?

[2020-04-08 17:22] markcmiller86 commented on #3802
@aowen87 did you watch with Activity Monitor to see if you noticed anything unusual there?

[2020-04-08 17:31] rusu24edward commented on #1887
Removing the reviewed tag so we can discuss because I believe this issue is either resolved or irrelevant.

[2020-04-08 17:32] aowen87 commented on #3802
Unfortunately, no. I would have started to had I still been able to control my mouse. I can try repeating this again with the monitor up, but I'd prefer to wait until the end of the day so that I don't lose all of my sessions again.

[2020-04-08 17:36] rusu24edward commented on #1889
@cyrush Has this been changed with our recent fixes to the gui heights? I can see the streamlines attributes window just fine, but I don't have a low resolution screen.

[2020-04-08 17:41] aowen87 opened #12124 "Reset view when playing cycles"
Hello everyone,

Does anyone know of a way to have VisIt automatically reset the view for each cycle after pressing the "play" button? I have a mesh that shrinks over time, and it would be nice if the view was re-centered around the new bounds for each cycle. Otherwise, the details get pretty small pretty fast.

Alister

We're trying to [combine `visit-users` email list with GitHub issues](https:/

[2020-04-08 17:41] rusu24edward commented on #1901
Related to #1370

[2020-04-08 17:43] rusu24edward commented on #1903
Related to #3881

[2020-04-08 17:50] biagas commented on #12124
Does changing "Controls->View->Advanced->View based on" to "Actual spatial extents" help?

[2020-04-08 17:51] rusu24edward commented on #1894
Even worse, closing and opening the simulations box does not reset the window, so the controls are gone until visit is restarted.

[2020-04-08 17:51] markcmiller86 commented on #12119
Closing for lack of response.

[2020-04-08 17:54] rusu24edward commented on #1905
@markcmiller86 Is this ticket still relevant? The build version is quite old.

[2020-04-08 17:55] #1905 closed, assigned to nobody

[2020-04-08 17:56] aowen87 commented on #3802
Okay, I just ran it again but only saved 50 frames. About halfway through, VisIt's viewer becomes unresponsive. It did complete, though.
![Screen Shot 2020-04-08 at 10 52 00 AM](https://user-images.githubusercontent.com/11658578/78817046-6c22fe80-7987-11ea-9304-6f704bbc1694.png)

[2020-04-08 17:58] rusu24edward commented on #1909
@cyrush Is this ticket still relevant?

[2020-04-08 17:59] aowen87 commented on #12124
Doesn't seem to...

[2020-04-08 18:03] rusu24edward commented on #1913
I marked as low hanging fruit because this could be something that is iteratively done over time, with new tests incrementally being added.

[2020-04-08 18:04] rusu24edward commented on #1914
Removed the reviewed tag so we could discuss to see if it is still something that we want to do.

[2020-04-08 18:08] rusu24edward commented on #1919
No longer relevant

[2020-04-08 18:08] #1919 closed, assigned to nobody

[2020-04-08 18:16] rusu24edward commented on #1927
This has been resolved

[2020-04-08 18:16] #1927 closed, assigned to nobody

[2020-04-08 18:23] rusu24edward commented on #1931
We will likely need his datafile in order to duplicate. I could not duplicate it with our test data.

[2020-04-08 18:25] rusu24edward commented on #1938
@cyrush @griffin28 is this still an issue?

[2020-04-08 18:29] biagas commented on #1646
This has been resolved. There is an import button.

[2020-04-08 18:29] #1646 closed, assigned to nobody

[2020-04-08 18:30] rusu24edward commented on #1948
Very closely related to #1947

[2020-04-08 18:37] griffin28 commented on #1938
@rusu24edward this is OBE. I'm closing it.

[2020-04-08 18:37] #1938 closed, assigned to nobody

[2020-04-08 18:39] rusu24edward commented on #1967
@cyrush Is this still relevant?

[2020-04-08 18:45] rusu24edward commented on #1975
This seems outdated

[2020-04-08 18:45] griffin28 commented on #1967
This can be closed. In cli.C a warning message was added to provide information about the potential conflict:

        FileFunctions::VisItStat_t vstat_info;
        if(FileFunctions::VisItStat("visit.py", &vstat_info) != -1)
        {
            std::ostringstream oss;
            oss <<"!!!! - WARNING - !!!!"
                << std::endl
                <<"You have a file named 'visit.py' in yo

[2020-04-08 18:48] griffin28 commented on #1975
It is.

[2020-04-08 18:48] #1975 closed, assigned to nobody

[2020-04-08 18:51] biagas commented on #2594
We could key off the http status code specific to LLNL blocking web access, I think it might be one of these?
407 Proxy Authentication Required
511 Network Authentication Required

Perhaps error messages should always be generated, (can print out the http status code and 'reason').  Then if the error code is one that is generated in the LLNL situation, we could also print out the information about

[2020-04-08 19:10] griffin28 commented on #3802
Any memory/stack issues?

-- Kevin

From: Alister <notifications@github.com>
Reply-To: visit-dav/visit <reply@reply.github.com>
Date: Wednesday, April 8, 2020 at 10:56 AM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [visit-dav/visit] Save movie with 3-slice template hits a wall (#3802)

Okay, I just ran it again but only saved 50 frames

[2020-04-08 20:30] cyrush commented on #1967
@griffin28 thanks for finding the exact details

[2020-04-08 20:30] #1967 closed, assigned to nobody

[2020-04-08 20:30] markcmiller86 commented on #4600
Saving an image on remote does require a possible *forcing* of SR mode for that save, doesn't it? Or, when not in SR mode, maybe we should just ship the viewer's image back to remote for the save?

[2020-04-08 20:41] markcmiller86 commented on #3383
@brugger ... I wasn't sure...did you put this on *your* to do list?

[2020-04-08 20:41] markcmiller86 commented on #3383
@brugger1 ... I wasn't sure...did you put this on *your* to do list?

[2020-04-08 20:43] #4550 closed, assigned to biagas

[2020-04-09 00:14] cyrush commented on #4600
i think we should be able to ship back, regardless of render method.

[2020-04-09 15:22] aowen87 commented on #3802
Memory looks similar. This was after saving ~70 images.
![Screen Shot 2020-04-09 at 8 20 03 AM](https://user-images.githubusercontent.com/11658578/78911400-1c057400-7a3b-11ea-8409-b71bf2e372a1.png)

[2020-04-09 16:57] #4596 closed, assigned to biagas

[2020-04-09 18:09] rusu24edward commented on #1984
Either duplicate or very closely related to #3064

[2020-04-09 18:22] rusu24edward commented on #1989
May be related to #4506

[2020-04-09 18:28] rusu24edward commented on #2000
Looks like a y2k glitch caused this ticket to duplicate #1999

[2020-04-09 18:28] #2000 closed, assigned to nobody

[2020-04-09 18:30] rusu24edward commented on #2003
Duplicate of #2002

[2020-04-09 18:30] #2003 closed, assigned to nobody

[2020-04-09 18:46] rusu24edward commented on #2008
Either duplicate or very closely related to #3064

[2020-04-09 18:48] markcmiller86 commented on #2000
Am wondering though...its been 6 years and thread-safety throughout VisIt hasn't risen to the level required to address it so I wonder if this really requires works.

If it does, note that the code has since been refactored to `src/common/misc/FileFunctions.C`

[2020-04-09 18:54] rusu24edward commented on #2007
Should be considered with #3515

[2020-04-09 18:55] rusu24edward commented on #2017
Should be considered with #3515

[2020-04-09 19:08] rusu24edward commented on #2032
I am not able to reproduce because I don't have a low res screen. @markcmiller86 is this still an issue?

[2020-04-09 19:20] rusu24edward commented on #2044
I reviewed the [wci website](https://wci.llnl.gov/simulation/computer-codes/visit) and it seems that the issues listed here have been resolved.

[2020-04-09 19:20] #2044 closed, assigned to nobody

[2020-04-09 19:22] rusu24edward commented on #2050
Reopening because this is likely related to #3064 and should be considered

[2020-04-09 19:25] rusu24edward commented on #2051
I checked in /usr/gapps/visit and there is no longer a directory called bug_data. So this can probably be closed.

[2020-04-09 19:29] rusu24edward commented on #2054
Either duplicate or very closely related to #2055

[2020-04-09 19:30] rusu24edward commented on #2057
Closing because this was 6 years ago.

[2020-04-09 19:30] #2057 closed, assigned to nobody

[2020-04-09 19:33] rusu24edward commented on #2059
Not sure if I followed the instructions correctly, but I was not able to duplicate. @markcmiller86 can you verify that this is still an issue?

[2020-04-09 19:35] rusu24edward commented on #2065
/usr/gapps/visit/bug_data doesn't exist anymore, so I'm not sure how to duplicate. Any thoughts @markcmiller86

[2020-04-09 19:36] markcmiller86 commented on #2065
I think `bug_data` may have been moved to somewhere in `/usr/workspace/visit/visit`

[2020-04-09 19:40] rusu24edward commented on #2065
Yup it has been moved there. @brugger1 this directory is owned by you and I don't have permission to enter it.

[2020-04-09 19:42] markcmiller86 commented on #2059
So, lets close this as I am no longer able to reproduce this either. That said, I still see a lot of funky behavior on OSX. VisIt simply does not behave like *native*, multi-window, OSX applications do.

[2020-04-09 19:42] #2059 closed, assigned to nobody

[2020-04-09 19:42] rusu24edward commented on #2051
Edit: the directory seems to have been [moved to usr/workspace/visit/visit](https://github.com/visit-dav/visit/issues/2065#issuecomment-611715524). It looks like it is only 4 kilobytes large now...

[2020-04-09 19:46] rusu24edward commented on #2079
Not sure how to do this...

[2020-04-09 19:47] markcmiller86 commented on #2051
Here is what I see there...

[code]

That said, the real problem was that this dir was taking space from our installs and since the dir's contents have been moved (we need to confirm where the *actual* data files are now), I think we can close this issue because it is no longer taking space from our installs

[2020-04-09 19:47] #2051 closed, assigned to brugger1

[2020-04-09 19:48] rusu24edward commented on #2092
@cyrush Is this still an issue?

[2020-04-09 19:49] rusu24edward commented on #2096
@biagas is this still an issue?

[2020-04-09 19:51] rusu24edward commented on #2098
@biagas is this still an issue?

[2020-04-09 19:52] rusu24edward commented on #2099
See also #2096 and #2099. @biagas is this still an issue?

[2020-04-09 19:54] rusu24edward commented on #2100
@biagas is this still an issue?

[2020-04-09 20:03] rusu24edward commented on #2103
Updated the list of tools to make it a little more readable since the conversion from redmine clumped them all together.

[2020-04-09 20:08] rusu24edward commented on #2119
Perhaps we should only present the encoding options that are available on the user's machine?

[2020-04-09 20:15] rusu24edward commented on #4523
My bunch of tickets spans 2014-2015. While reviewing them, I noticed that a lot of them are marked priority yet still open. They may have been a priority when reviewed, but the fact that they haven't been done in 5-6 years seems to me that they are not really a priority. This is likely an issue with many older tickets. Perhaps we should do a label palooza for priority tickets and define what the p

[2020-04-09 20:18] cyrush commented on #2092
lets close, since we have had multiple releases with unitah working for macOS

[2020-04-09 20:18] #2092 closed, assigned to nobody

[2020-04-09 20:19] rusu24edward commented on #2135
Isn't this possible to do in the cli? See [here](https://github.com/visit-dav/live-customer-response/issues/23) for example.

[2020-04-09 20:21] rusu24edward commented on #2137
@markcmiller86 Do you know if tickets were ever generated from these notes?

[2020-04-09 20:24] markcmiller86 commented on #2137
I don't think the majority of isses here got turned into their respective issue tickets. Maybe we should review this at an upcoming project meeting.

[2020-04-09 20:26] markcmiller86 commented on #2137
I've added the `low-hanging fruit` issue because I think anyone can run a current version of VisIt and assess prevelance of any of the issues described here, filing new issues as appropriate.

[2020-04-09 20:34] rusu24edward commented on #2147
@markcmiller86 I'm trying to reproduce this, but I think the exact details of the expression you defined got lost in the move from redmine to git. Can you remember what operation you are doing to the matvf's? Perhaps multiplying them together?

[2020-04-09 20:41] rusu24edward commented on #2148
It doesn't work with a "tab out" but it does work with an "enter". The suggested text here can probably be done by changing the relevant qt signal, possibly using textEdited.

[2020-04-09 20:43] rusu24edward commented on #2151
@biagas is this still an issue?

[2020-04-09 20:50] rusu24edward commented on #2154
@aowen87 can you speak to how much of your work with Picks have resolved the concerns here?

[2020-04-09 20:54] biagas commented on #2151
There are currently no problems building cgns with the current bv_cgns.sh that I know of.

That said, when we update cgns to a newer version, we might want to consider using their cmake build system.

[2020-04-09 21:04] biagas commented on #2148
textEdited may not be a good choice, I think it is sent with every character typed.
editingFinished might be a better choice, as it will be sent when the widget loses focus (eg tab to a new widget, mouse move to new widget)

[2020-04-09 21:08] rusu24edward commented on #2155
I believe this is currently the practice. I broke a test locally and here is the what the html shows me:
![Screen Shot 2020-04-09 at 2 06 54 PM](https://user-images.githubusercontent.com/18565891/78940914-7e766880-7a6b-11ea-988e-53cff8c93fc8.png)

@markcmiller86 is this what you had in mind?

[2020-04-09 21:44] rusu24edward commented on #2222
Pick labels in the viewer don't changes size when zooming. This might be a good place to start.

[2020-04-09 22:20] aowen87 commented on #2154
I believe all of these concerns are still active. Most of my work was on speeding up the pick through time and fixing random bugs, which didn't change any of this.

[2020-04-09 22:23] rusu24edward commented on #4445
Things to investigate:
1. More intelligent seeding, especially when wanting a general picture of vector field.
2. "You should always get a picture." So why do the integral curves fail so often?

[2020-04-09 22:33] rusu24edward commented on #2260
I duplicated this with 3.1.1 on LC. As Kathleen points out, I had to use an installed version to duplicate this issue.

[2020-04-09 22:50] rusu24edward opened #4607 "Trouble setting appearance colors on mac"
### Describe the bug
Changing the appearance colors on a mac does not apply when click apply.

### To Reproduce
Steps to reproduce the behavior. For example:
1. Options -> Appearance
2. Deselect "Use default system appearance"
3. Change the GUI background and foreground colors.
4. Click apply. Notice that the colors do not change (but the font does).
5. Change GUI style to either Windows or Fusion

[2020-04-09 22:53] markcmiller86 opened #4608 "Better containerization of state to enable users to share everything"
A session file saves a lot of state but not everything. In many cases, what a session file saves is the equivalent of a *pointer* (e.g. a name) to a resource that is available elsewhere like a color table name in `~/.visit` or a database name or a host profile either in one machine's install point but must be tweeked to use on another machine.

We need to be able to *containerize* (not to be confu

[2020-04-09 22:56] rusu24edward commented on #2007
Could not duplicate on linux or on mac:
![Screen Shot 2020-04-09 at 3 55 35 PM](https://user-images.githubusercontent.com/18565891/78947574-97d2e100-7a7a-11ea-98e8-c21d49dbc920.png)

[2020-04-09 22:56] #2007 closed, assigned to nobody

[2020-04-09 22:58] markcmiller86 commented on #4608
Other possible things to include...

- custom plugins (source would need to get compiled at recipients end)
- database files themselves (if very large, its a potential issue)
- expressions
- preferences
- environment variables
- color tables
- Python expressions or python command window tab contents
- macros
- the plot list of course with all operators, etc.
- state of global controls (e.g. auto-u

[2020-04-09 22:59] rusu24edward commented on #2268
The code is open source on github now, so any user can see the test code.

[2020-04-09 23:00] rusu24edward commented on #2273
No sure if this is still relevant since we don't have blue gene q.

[2020-04-09 23:12] rusu24edward commented on #2297
I was not able to duplicate this with 3.1.1 on LC. @markcmiller86 can you confirm this is still an issue?

[2020-04-09 23:15] rusu24edward commented on #2302
Duplicates #2301. Some extra comments from there:

VTK has several classes related to X3D in their IO/Export folder:vtkX3D.cxx vtkX3DExporterJavaHelper.cxxvtkX3D.h vtkX3DExporterJavaHelper.hvtkX3DExporter.cxx vtkX3DExporterWriter.cxxvtkX3DExporter.h vtkX3DExporterWriter.hvtkX3DExporterFIWriter.cxx vtkX3DExporterXMLWriter.cxxvtkX3DExporterFIWriter.h vtkX3DExporterXMLWriter.hvtkX3DExporterFIWriterHe

[2020-04-09 23:15] rusu24edward commented on #2301
Duplicates #2302

[2020-04-09 23:15] #2301 closed, assigned to nobody

[2020-04-09 23:21] rusu24edward commented on #2317
#4445

[2020-04-09 23:22] cyrush commented on #4523
@markcmiller86  since these are being closed as well due to the review, the page numbers for the query aren't really meaning full anymore -- is there a way to query a range of issue #'s that are open? There are many closed in the ranges as well, don't want to have to check the range.

I tried to google and look at the github docs but the answer wasn't apparent quickly. But if someone is already a

[2020-04-09 23:29] rusu24edward commented on #2321
I tried duplicating this on 3.1.1 and couldn't find any artifacts. Actually, I don't see any artifacts in the attached images either. @biagas am I missing something?

[2020-04-09 23:31] rusu24edward commented on #2324
Marked as low-hanging-fruit because this an be done incrementally over the image formats.

[2020-04-09 23:32] rusu24edward commented on #2325
Closely related to #2216

[2020-04-09 23:34] rusu24edward commented on #2326
Should be done with #2216 and #2325

[2020-04-09 23:51] rusu24edward commented on #4523
Oddly, github doesn't seem to provide a way to limit the range by the actual ticket number itself. See [here](https://help.github.com/en/github/searching-for-information-on-github/searching-issues-and-pull-requests) and [here](https://help.github.com/en/github/searching-for-information-on-github/understanding-the-search-syntax). Fortunately, we can be a little creative by searching based on date.

[2020-04-09 23:51] cyrush commented on #4551
Milestone: I got the cli running today and made a plot :-)

[2020-04-09 23:54] biagas commented on #2321
I don't know what I was seeing when I wrote the ticket, and I agree, the attached images don't seem to show any artefacts. Nor could I reproduce.

[2020-04-09 23:54] #2321 closed, assigned to nobody

[2020-04-09 23:54] brugger1 commented on #2273
I agree, no longer relevant and can be closed.

[2020-04-09 23:55] #2273 closed, assigned to nobody

[2020-04-09 23:56] markcmiller86 commented on #4523
@rusu24edward nice! 👍

[2020-04-09 23:57] markcmiller86 commented on #2297
I believe you.

[2020-04-09 23:57] #2297 closed, assigned to nobody

[2020-04-10 00:01] markcmiller86 commented on #2268
I think I will re-open and adjust title here...lets have some basic documentation explanations with references to our test suite code so users have an idea how to go look at how something is handled there. Basically an extra paragraph somewhere in the documentation that explains a few key steps in searching for how to do something with VisIt from the test suite (and examples) codes.

[2020-04-10 00:02] cyrush commented on #4608
Think we often have an opposite problem as well - the session file is too specific that the same person cant restore it on another machine without editing it. It would be good to outline a better approach.

I think this is tricky given the web of settings at play. Recall things like host profiles can contain per-user settings that won't work for another user (such as their username, or even banks

[2020-04-10 00:04] markcmiller86 commented on #2268
Should include stuff from [here](http://visitusers.org/index.php?title=Developer_Tips_and_Tricks#Searching_for_CLI_Commands)

[2020-04-10 00:05] cyrush commented on #4523
thanks @rusu24edward !

[2020-04-10 00:08] markcmiller86 commented on #2155
No. The problem is that `TestText()` in the test suite produces an ASCII `.txt` file and it is that file (not the html) that needs to be rebaselined. And, it is never carried over from wherever the tests are run to wherever the tests are *posted* to our *dashboard*. So, there is no way to *easily* produce the `.txt` file that needs to become the *new* baseline `.txt` result.

I think it is still a

[2020-04-10 00:15] brugger1 commented on #2155
Yes, that is exactly the case. Unfortunately, this may mean we need a “txt” and an “html” version of each text result. One for easily rebaselining and one to display on the web. Bummer!

[2020-04-10 00:15] markcmiller86 commented on #2147
Yeah, some the translation from redmine didn't like certain characters in the comment string. The expression this was about was sorta...

[code]

Which should all be around zero.

I just tested on 3.0.1 and it works for me so am closing.

[2020-04-10 00:15] #2147 closed, assigned to markcmiller86

[2020-04-10 00:18] markcmiller86 commented on #2155
I suspect we can stop producing the *diff html* file as part of the testing/posting process and instead just carry over current and baseline text results and have the back-end *render* the diffs for us on demand whenever we drill into such a test result. I think there is a way we might be able to do this. We should talk about it.

[2020-04-10 00:29] brugger1 commented on #2051
The permissions on the directory are now

drwxrws--- brugger visit

I believe anyone in the group should be able to access it.

[2020-04-10 18:10] brugger1 opened #4609 "Windows movie encoding issues."
### Describe the bug

I noticed several strange behaviors when encoding movies on Windows.

1) When you select the path to save the movie it uses Unix directory separators. Then it adds a Windows directory separator at that end. For example:

/Users/user1/movie\

This looks strange, but actually works.

2) When the movie is finished running, Windows puts up a window saying the Python interpreter h

[2020-04-10 18:51] markcmiller86 commented on #2135
I think this should become part of the solution for #4608

[2020-04-10 19:02] brugger1 commented on #4609
I also encountered a bug where I specified an absolute path to encode and the error message had the path garbled. I didn't check the command it issued so I don't know if the path it tried to open was garbled in the same way.

[2020-04-10 19:05] markcmiller86 commented on #4523
I am making a pass over *most* of these, those I can find with

[code]

[2020-04-10 19:12] markcmiller86 commented on #2609
@cyrus ... there is a comment from original redmine import that indicates

Can this be closed

[2020-04-10 19:22] markcmiller86 commented on #1903
@visit-dav/visit-developers I know someone among us fixed historgram attributes recently to properly update as user changes inputs. Anyone know if that means this issue is now fixed?

[2020-04-10 19:25] markcmiller86 commented on #1857
I suspect problem was that use of **Threshold** operator is forcing output data to be all single precision and the user wanted double precision because his input data was double precision. If correct, I still dunno if this is true today though.

[2020-04-10 19:27] markcmiller86 commented on #1759
@biagas ... are we still supporting Windows 7?

[2020-04-10 19:28] markcmiller86 commented on #1708
Closing... @cyrush is working on updating to Python 3 now anyways.

[2020-04-10 19:28] #1708 closed, assigned to nobody

[2020-04-10 19:31] markcmiller86 commented on #1323
@brugger1 isn't this worked-around by resampling and then doing a lineout on the resampled data?

[2020-04-10 19:31] markcmiller86 commented on #1250
OBE

[2020-04-10 19:31] #1250 closed, assigned to nobody

[2020-04-10 19:32] biagas commented on #1759
Yes.

On Fri, 2020-04-10 at 12:27 -0700, Mark C. Miller wrote:

[2020-04-10 19:36] markcmiller86 commented on #4523
Ok, I finished that and there are still 109 issues with the priority label. And, a few of those do go way back in time. A few are even low-hanging fruit. IMHO...there are a lot of *gems* in there which I think if addressed would improve VisIt in visible/valued ways.

My suggestion...take some time as a team maybe at an upcoming project meeting or creating an additional meeting for this purpose and

[2020-04-10 19:52] brugger1 commented on #1323
Yes, that seems like a reasonable workaround. You can close it.

[2020-04-10 20:16] cyrush commented on #2609
yes

[2020-04-10 20:16] #2609 closed, assigned to nobody

[2020-04-10 20:52] cyrush commented on #4551
reminder: code gen tools have old paths commented out that need to be cleaned up after testing against python 2

[2020-04-10 21:16] cyrush commented on #1857
the email thread includes several emails that provide context. Sorry I can't easily pull it here.

The problem seems to be related to mixing variables.

Perhaps having one variable in single prec was forcing others to also be single prec, but double was important in this case.

[2020-04-10 21:34] cyrush opened #4612 "integral curve op, can't use circle source"
### Describe the bug
From  https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/Aneurysm.html

I try to set circle source, however the result looks like a line.

Recall: I had prior issues with needed to hit apply multiple times for the atts to take.
But the situation is worse here, b/c I can't seem to get the circle option to work at all.

Atts:
<img width="815" alt="Screen

[2020-04-10 21:55] cyrush commented on #4612
@brugger1  can you see if you have this problem on windows with the Integral Curve Op?

[2020-04-10 22:10] cyrush commented on #723
closing, since this is a rendering related crash and we have a totally new rendering stack since 2011

[2020-04-10 22:10] #723 closed, assigned to nobody

[2020-04-10 22:12] cyrush commented on #719
closing, we now can open a remote session using a similar dialog that allows browsing the remote host

[2020-04-10 22:12] #719 closed, assigned to BradWhitlock

[2020-04-10 22:14] cyrush commented on #704
@biagas did we squash this issue?

[2020-04-10 22:17] cyrush commented on #694
closing, not sure the need is still there for this

[2020-04-10 22:17] #694 closed, assigned to nobody

[2020-04-10 22:18] cyrush commented on #691
reading, it seems this is resolve. @biagas  what do you think>

[2020-04-10 22:19] cyrush commented on #684
closing, since we are no longer using SVN

[2020-04-10 22:19] #684 closed, assigned to brugger1

[2020-04-10 22:21] cyrush commented on #682
closing, much has changed -- we can open up a new ticket of something similar arises.

[2020-04-10 22:21] #682 closed, assigned to nobody

[2020-04-10 22:22] cyrush commented on #673
closing, we have new VR logic

[2020-04-10 22:22] #673 closed, assigned to nobody

[2020-04-10 22:22] brugger1 commented on #4612
I’m able to use a circle source on Windows with 3.1.1.

![image](https://user-images.githubusercontent.com/1102718/79027096-d41c4500-7b3f-11ea-9ae5-8939af037033.png)

[2020-04-10 22:23] cyrush commented on #647
closing, no longer a need for ale3d

[2020-04-10 22:23] #647 closed, assigned to nobody

[2020-04-10 22:24] biagas commented on #704
Doesn't seem to be a problem now.

[2020-04-10 22:24] #704 closed, assigned to nobody

[2020-04-10 22:25] biagas commented on #691
I say close.

[2020-04-10 22:26] cyrush commented on #614
closing, we have much newer rendering infra now, details aren't relevant after updates

[2020-04-10 22:26] #614 closed, assigned to nobody

[2020-04-10 22:28] cyrush commented on #602
@markcmiller86  this is a blast from the past, but isn't also an issue you resolved in the last few months?

[2020-04-10 22:29] cyrush commented on #580
closing, we have a few options to shorten, but in this case the custom text label seemed sufficent

[2020-04-10 22:29] #580 closed, assigned to nobody

[2020-04-10 22:31] cyrush commented on #556
@biagas do we know if this is still an issue with newer vtks?

[2020-04-10 22:32] brugger1 commented on #4612
Works fine on Linux with 3.1.1 also.

[2020-04-10 22:33] cyrush commented on #529
closing, I assume we tackled this -- visitmodule has had many updates since report

[2020-04-10 22:33] #529 closed, assigned to nobody

[2020-04-10 22:36] cyrush commented on #494
we should revisit when we port the GDIV manual to sphinx

[2020-04-10 22:36] cyrush commented on #493
closing, i am not aware of other requests for this in quite some time

[2020-04-10 22:36] #493 closed, assigned to BradWhitlock

[2020-04-10 22:38] cyrush commented on #474
we have python query code to do this, but not sure we ever shipped it with visit

[2020-04-10 22:40] cyrush commented on #465
this is a great idea, but i think it would be hard to refactor to support this

[2020-04-10 22:40] #465 closed, assigned to nobody

[2020-04-10 22:41] cyrush commented on #457
closing, old machine

[2020-04-10 22:41] #457 closed, assigned to BradWhitlock

[2020-04-10 22:41] biagas commented on #556
I don't know from reading this.

[2020-04-10 22:52] cyrush commented on #4612
thanks eric, we still have some oddness on macOS

[2020-04-10 22:55] cyrush commented on #435
closing since vacet effort is over

[2020-04-10 22:55] #435 closed, assigned to nobody

[2020-04-10 22:57] cyrush commented on #421
closing, probably a fs issue and quite old

[2020-04-10 22:57] #421 closed, assigned to brugger1

[2020-04-10 22:59] markcmiller86 commented on #556
In doing the work to write the chapter of the manual on [Expressions](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html), I wound up running into the issue where the logical themselves are [not really plottable](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html#relational-conditional-a

[2020-04-10 23:06] markcmiller86 commented on #602
I don't recall doing any coding work in this regard. I did suggest we have a way to signify in the `.xml` file if resulting *generated* files have manual edits (#4106) and @biagas made some progress along those lines but also ran into some wrinkles that I don't think we've ironed out as a team.

[2020-04-10 23:09] cyrush commented on #401
I checked with VisIt 3.2 and this appears to now be the case (at least with the active source UI, not sure about older selected files ui)

[2020-04-10 23:09] #401 closed, assigned to nobody

[2020-04-10 23:11] cyrush commented on #387
was rejected before :-)

[2020-04-10 23:13] cyrush commented on #379
old ticket, not sure the need still exists

[2020-04-10 23:13] #379 closed, assigned to nobody

[2020-04-10 23:13] cyrush commented on #376
No more AIX :-)

[2020-04-10 23:13] #376 closed, assigned to brugger1

[2020-04-10 23:15] cyrush commented on #4573
related to this old one:
https://github.com/visit-dav/visit/issues/357

[2020-04-10 23:15] markcmiller86 commented on #387
So, I think this situation has changed enough now that this is actually the correct thing to start doing. Why? Any developer can slurp the baselines from the posted results and is not required to create a *compatible* local build in order to produce the re-baselines.

So, I say we re-open this ticket and adjust our testing to test with optimizations on, debugging off, etc...everything that our use

[2020-04-10 23:15] cyrush commented on #353
closing, since this is quite old and about the skip list.

[2020-04-10 23:15] #353 closed, assigned to nobody

[2020-04-10 23:19] cyrush commented on #351
closing, we have xwin32 stuff documented , vnc, etc

[2020-04-10 23:19] #351 closed, assigned to brugger1

[2020-04-10 23:20] cyrush commented on #348
closing, quite old and lots of os + visit changes since report

[2020-04-10 23:20] #348 closed, assigned to nobody

[2020-04-10 23:21] cyrush commented on #323
closing, we won't tackle deploying hdf5view

[2020-04-10 23:21] #323 closed, assigned to nobody

[2020-04-10 23:22] cyrush commented on #315
closing, would be convenient in some cases, but would also cause confusion in others

[2020-04-10 23:22] #315 closed, assigned to nobody

[2020-04-10 23:28] cyrush commented on #305
closing, quite old and no new reports

[2020-04-10 23:28] #305 closed, assigned to nobody

[2020-04-10 23:28] cyrush commented on #298
closing, quite old and no new reports

[2020-04-10 23:28] #298 closed, assigned to nobody

[2020-04-10 23:30] cyrush commented on #288
we should double check this is still not an issue for 3.2.

[2020-04-10 23:31] cyrush commented on #286
i think this has been resolved, i have been able to save large pngs (8Kx8K)

[2020-04-10 23:31] #286 closed, assigned to nobody

[2020-04-10 23:36] cyrush commented on #251
@aowen87 is this still a concern with newer milli support?

[2020-04-10 23:37] cyrush commented on #246
closing, we not longer have files.

[2020-04-10 23:37] #246 closed, assigned to nobody

[2020-04-10 23:41] cyrush commented on #227
closing, things have evolved since issue reported

[2020-04-10 23:41] #227 closed, assigned to nobody

[2020-04-10 23:42] cyrush commented on #203
this would still be useful

[2020-04-10 23:45] cyrush commented on #183
graphical mode of build_visit is no more

[2020-04-10 23:45] #183 closed, assigned to nobody

[2020-04-10 23:47] cyrush commented on #181
i understand the windows issue with updated files, -- however reopen can actually be useful tin cases where metadata needs to be force-updated at a new timestep, even on windows.

[2020-04-10 23:47] #181 closed, assigned to nobody

[2020-04-10 23:48] cyrush commented on #175
closing, lots has changed with rendering infra and we don't have the files to reproduce.

[2020-04-10 23:48] #175 closed, assigned to nobody

[2020-04-10 23:49] aowen87 commented on #251
I don't think so. We now handle grouping in the same way that Griz does.

[2020-04-10 23:49] cyrush commented on #174
closing, we have new docs now

[2020-04-10 23:50] cyrush commented on #165
@markcmiller86 do you know if this is still the case? I suspect lots has changed since this issue.

[2020-04-10 23:51] cyrush commented on #156
closing, i don't think we have mpi-2 woes any more

[2020-04-10 23:51] #156 closed, assigned to nobody

[2020-04-10 23:52] cyrush commented on #150
closing, we no longer have data

[2020-04-10 23:52] #150 closed, assigned to nobody

[2020-04-10 23:52] cyrush commented on #146
we have better encoding logic now

[2020-04-10 23:52] #146 closed, assigned to nobody

[2020-04-10 23:53] cyrush commented on #137
closing, sphinx supports this and google helps as well

[2020-04-10 23:53] #137 closed, assigned to nobody

[2020-04-10 23:54] cyrush commented on #136
still there, and still catching folks :-(

[2020-04-10 23:58] cyrush commented on #691
done

[2020-04-10 23:58] #691 closed, assigned to biagas

[2020-04-11 00:03] cyrush commented on #387
Ok, well i just reviewed the text which indicated reject.

Some more detective work, we are running our regression tests with `Release` builds:

https://github.com/visit-dav/visit/blob/develop/src/tools/dev/scripts/regressiontest_pascal

[2020-04-11 02:29] markcmiller86 commented on #387
Ah, ok, well that is perfect then.

[2020-04-11 02:29] #387 closed, assigned to nobody

[2020-04-11 02:38] #165 closed, assigned to nobody

[2020-04-11 05:39] markcmiller86 commented on #4523
@brugger1 taking @rusu24edward lead...here is the query that returns your batch of issues...

[code]

[2020-04-11 05:45] markcmiller86 commented on #4523
@aowen87 this query gets you your batch (more or less)

[code]

[2020-04-13 14:52] mclarsen commented on #16
@brugger1 Would you consider this half done with the test suite results on github pages? Are we still considering moving the main visit.llnl.gov site to github pages?

[2020-04-13 15:13] mclarsen commented on #4523
Having the bottom issues, I have noticed that they are very old. I think it might be worthwhile to see it we can still duplicate these issues and see if they have magically gone away.

[2020-04-14 13:42] #1323 closed, assigned to nobody

[2020-04-14 13:45] markcmiller86 commented on #1323
Although I did close...it occurs to me that a full dataset resample to obtain possibly a handful of lineouts may represent an unnecessarily large computational burden to obtain the desired results. So, one question is whether the lineout could emply an *on-demand* approach to resampling and employ the resample operator but only for points *near* the line. Might be more trouble than its worth.

[2020-04-14 15:41] brugger1 commented on #16
Yes, this is half done and we still want to move our main website to github. I expect we will keep the existing one, greatly reduced with pointers to the GitHub one. I expect the LLNL one wouldn’t need updating very often and definitely not with each new release.

[2020-04-14 16:24] aowen87 commented on #1354
@markcmiller86 were you able to get a dataset to reproduce this issue?

[2020-04-14 16:48] brugger1 commented on #12106
Hello,
Instead of ADIOS bp file, is xdmf+hdf5 VisIT reader OK above 2 billion cells ?
Thanks for your answer, regards
Stéphane

[2020-04-14 16:49] brugger1 commented on #12106
While any particular file format *may* support over 2 billion cells, the problem is that VisIt internals as well as the VTK classes/APIs VisIt is using presently do not.

Out of curiosity...are GPUs involved in any way with creating the >2b cell datasets you have?

Mark

[2020-04-14 16:53] brugger1 commented on #12106
Hi Stéphane,

The Pixie reader is a basic HDF5 reader that will automatically split structured grids when run in parallel. For example, if you have a grid with 16 billion cells and run VisIt with 16 processors, VisIt will split the data into 16 1 billion cell grids, which will work with VisIt. You could take your HDF5 file and specify the Pixie reader when opening the file, using enough processors

[2020-04-14 16:57] aowen87 commented on #1359
This seems to be missing information. @markcmiller86  Is there anything you want to add?

[2020-04-14 17:02] aowen87 commented on #1367
This _should_ be simple... Around line 605 in avtTecplotFileFormat is where the cell types are pulled out and the VTK equivalents are created.

[2020-04-14 17:12] aowen87 commented on #1369
The comment suggests that this is resolved. I've checked for myself, and it appears to be true.

[2020-04-14 17:12] #1369 closed, assigned to nobody

[2020-04-14 20:22] brugger1 commented on #2841
No longer using Qt4.

[2020-04-14 20:22] #2841 closed, assigned to nobody

[2020-04-14 20:25] brugger1 commented on #2860
This could be done internally by using the threshold operator instead of the clip operator. This should be straight forward.

[2020-04-14 20:31] brugger1 commented on #2917
Fastbit has been broken for several years and it is no longer supported. We should remove this.

[2020-04-14 20:37] markcmiller86-visit commented on #12106
OK thanks, I will try a basic HDF5 file since I have a rectilinear grid.
Regards
Stéphane

Le 14/04/2020 à 18:53, Eric Brugger via visit-users a écrit :

[2020-04-14 20:42] brugger1 commented on #2998
VisIt installed on lassen, rzansel and sierra.

[2020-04-14 20:42] #2998 closed, assigned to brugger1

[2020-04-14 20:43] brugger1 commented on #3009
Closing. Not actionable.

[2020-04-14 20:43] #3009 closed, assigned to nobody

[2020-04-14 20:45] brugger1 commented on #3013
@aowen87 I assume this is completed.

[2020-04-14 20:47] aowen87 commented on #3013
@brugger1 I believe this was from @BradWhitlock

[2020-04-14 20:51] brugger1 commented on #3048
I acutally shows the username on Windows. I agree, this could be made a lot simpler and easier to use.

[2020-04-14 20:59] brugger1 commented on #3166
This is now faq 4. It no longer points to the old pdf file. It now has its own list, but I agree that it should point to the most authoritative list we have.

[2020-04-14 21:06] brugger1 commented on #3311
This can be done with "-1". I agree that it isn't obvious though.

[2020-04-14 22:02] #4612 closed, assigned to nobody

[2020-04-14 22:15] markcmiller86 commented on #4609
Another issue to address here is to update [this part of the manual](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/File_Locations.html) to include a section on movie file generation locations.

[2020-04-14 22:15] markcmiller86 commented on #4608
Maybe paraphrasing @cyrush here but better understanding of *private* (or maybe *user-specific*) vs. *reproducible* state would help here.

[2020-04-14 22:23] rusu24edward commented on #4598
Still want "wrong results" and "visit crashed". Don't use checkboxes. Just have text that explicitly asks the user to indicate if it crashed or if it got wrong results. Can put these down at the bottom near the os and version, etc.

[2020-04-14 22:53] #4403 closed, assigned to nobody

[2020-04-14 22:54] rusu24edward commented on #4359
Related to #4403

[2020-04-14 22:57] rusu24edward commented on #4359
I am skeptical that this is a low-hanging fruit ticket. Having investigated this ticket, I believe there is quite a bit of code refactoring required, and I don't think that can be done within a few hours.

[2020-04-14 22:57] #103 closed, assigned to nobody

[2020-04-14 22:58] mclarsen commented on #103
This no longer occurs.

[2020-04-14 23:10] brugger1 commented on #3013
@BradWhitlock Do you have the new IceT version we should be using?

[2020-04-14 23:11] markcmiller86 opened #4620 "Improve string interface in CLI by a) consistifying and b) using less strict matching logic"
Its difficult to code the string names of plots, operators, queries, expression function names, or other parts of the CLI interface where the user is expected to type in a literal string which names a feature in VisIt. Part of the reason for this is that for multi-word names, there is no consistency in use of captialization, spaces, underscores, hyphens, etc. So, even if you can remember the name

[2020-04-14 23:35] aowen87 commented on #1373
@cyrush Do you know if the data to reproduce this is still around somewhere?

[2020-04-14 23:39] cyrush commented on #1373
not sure, we would have to check scf.

[2020-04-14 23:43] aowen87 commented on #1391
Comment suggests this ticket is resolved.

[2020-04-14 23:43] #1391 closed, assigned to nobody

[2020-04-14 23:45] aowen87 commented on #1392
This issue is related to an old VTK version.

[2020-04-14 23:45] #1392 closed, assigned to nobody

[2020-04-14 23:47] aowen87 commented on #1395
@markcmiller86 I haven't run into this issue. Is this still a problem?

[2020-04-14 23:48] markcmiller86 commented on #4403
Just wanna record my final thought on this. Given any *active* plot, these two queries...

1. `Measure of boundary`
1. `Measure of interior`

could replace these...

1. `2D area`
1. `3D surface area`
1. `Volume`
1. `Total length`
1. `Revolved volume`
1. `Revolved surface area`

And would *add* functionality such as being able to return the `length` of the boundary of a 2D object.

Regarding the `R

[2020-04-14 23:49] #1395 closed, assigned to nobody

[2020-04-14 23:58] aowen87 commented on #1408
It looks like we don't have a bv_exodus or FindExodusII.cmake anymore... @biagas can we close this?

[2020-04-15 00:03] biagas commented on #1408
yes.

On Tue, 2020-04-14 at 16:58 -0700, Alister wrote:

[2020-04-15 15:13] #1408 closed, assigned to nobody

[2020-04-15 15:14] aowen87 commented on #1409
NetCDF3C seems to no longer be present.

[2020-04-15 15:14] #1409 closed, assigned to nobody

[2020-04-15 15:37] markcmiller86 commented on #4598
So, I started re-thinking my remarks in yesterday's project meeting about this. I took a look at the bug template and started thinking there is another way to go...more checkboxes of a slightly different sort. Some of which we might need to *maintain* over time. So, another option is to remove the labeling questions and just use GitHub labels (so only developers can make those assertions and that

[2020-04-15 16:17] aowen87 commented on #1410
This is outdated.

[2020-04-15 16:17] #1410 closed, assigned to nobody

[2020-04-15 16:20] aowen87 commented on #1417
We use sphinx and git now.

[2020-04-15 16:20] #1417 closed, assigned to nobody

[2020-04-15 16:23] aowen87 commented on #1435
Outdated.

[2020-04-15 16:23] #1435 closed, assigned to nobody

[2020-04-15 16:25] aowen87 commented on #1436
I've confirmed that GetTime and GetCycle are not implemented. There is a note about the database not always having this information on hand.

[2020-04-15 16:33] aowen87 commented on #1470
No longer an issue.

[2020-04-15 16:33] #1470 closed, assigned to nobody

[2020-04-15 16:34] aowen87 commented on #1478
Outdated.

[2020-04-15 16:34] #1478 closed, assigned to nobody

[2020-04-15 16:38] aowen87 commented on #1485
This seems to be resolved; I don't see these compiler warnings anymore.

[2020-04-15 16:38] #1485 closed, assigned to nobody

[2020-04-15 16:40] aowen87 commented on #1486
This seems to be resolved; I don't see these compiler warnings.

[2020-04-15 16:40] #1486 closed, assigned to nobody

[2020-04-15 16:48] aowen87 commented on #1489
Our test suite is now split into serial, parallel, and IceT versions.

[2020-04-15 16:48] #1489 closed, assigned to nobody

[2020-04-15 16:49] aowen87 commented on #1492
@biagas Is this still an issue on Windows?

[2020-04-15 16:53] aowen87 commented on #1495
This appears to be working now.

[2020-04-15 16:53] #1495 closed, assigned to nobody

[2020-04-15 16:55] aowen87 commented on #1498
@cyrush Is this meeting still needed?

[2020-04-15 17:00] aowen87 commented on #1521
@rusu24edward Do you still see this issue? I'm wondering if it was resolved when we turned threads off; I've been able to kill the tests pretty easily lately.

[2020-04-15 17:02] aowen87 commented on #1527
I encounter this all the time on Mac.

[2020-04-15 17:02] cyrush commented on #1498
i think we can close.

[2020-04-15 17:02] #1498 closed, assigned to nobody

[2020-04-15 17:03] aowen87 commented on #1530
Outdated.

[2020-04-15 17:03] #1530 closed, assigned to nobody

[2020-04-15 17:05] rusu24edward commented on #1521
No, I don't see this anymore. Now I can kill it with a ctrl+c and the process dies.

[2020-04-15 17:06] aowen87 commented on #1538
They no longer differ.

[2020-04-15 17:06] #1538 closed, assigned to nobody

[2020-04-15 17:07] #1521 closed, assigned to nobody

[2020-04-15 17:16] aowen87 commented on #1550
Removing the reviewed label. This is probably no longer an issue.

[2020-04-15 17:18] biagas commented on #1492
There is still a problem.
When wave_1file.visit is opened on Windows, the 'cycles' are treated as separate meshes.
The tests that utilize this file are skipped on Windows.

[2020-04-15 17:24] aowen87 commented on #1574
@biagas Is this still an issue on Windows?

[2020-04-15 17:33] aowen87 commented on #1585
This issue is resolved.

[2020-04-15 17:33] #1585 closed, assigned to nobody

[2020-04-15 17:34] aowen87 commented on #1589
Outdated.

[2020-04-15 17:34] #1589 closed, assigned to nobody

[2020-04-15 17:37] biagas commented on #1574
Yes, -clobber doesn't work. It should check for any instances of our .vlog files and remove them.

[2020-04-15 17:38] aowen87 commented on #1590
Setting height/width now works, and the test suite should automatically create the correct image sizes.

[2020-04-15 17:38] #1590 closed, assigned to nobody

[2020-04-15 18:14] markcmiller86 opened #4624 "Optimized PDF file for slides"
[2020_04_15_llnl_visit_tutorial_intro_smaller.pdf](https://github.com/visit-dav/visit/files/4482967/2020_04_15_llnl_visit_tutorial_intro_smaller.pdf)

[2020-04-15 19:06] cyrush opened #4625 "audit for gateway rzgw in old host profiles?"
as part of 3.1.2:

How hard would it be to write a pass that audits for rzgw and removes that option?
On install won't work, it might have to be run by users. Not sure how feasible this is.

[2020-04-15 20:21] aowen87 commented on #1523
This was also mentioned today in the VisIt tutorial by one of our viewers.

[2020-04-15 20:24] aowen87 commented on #1592
We now use a complete different scheme for mili header files.

[2020-04-15 20:24] #1592 closed, assigned to nobody

[2020-04-15 20:38] #4624 closed, assigned to nobody

[2020-04-15 20:39] aowen87 commented on #1602
This makes sense to me. I'm removing the reviewed label for group feedback.

[2020-04-15 20:52] aowen87 commented on #1613
Our test suite magically alphabetizes now.

[2020-04-15 20:52] #1613 closed, assigned to nobody

[2020-04-15 20:59] aowen87 commented on #1614
This appears to be resolved.

[2020-04-15 20:59] #1614 closed, assigned to nobody

[2020-04-15 21:23] aowen87 commented on #1621
Loading the session file works, but I don't see a save option in the View section (maybe it was removed?). @markcmiller86 Is this sufficient to close the ticket?

[2020-04-15 21:26] aowen87 commented on #1634
It appears that all occurrences of EXPORT_LIBRARY_DEPENDENCIES have been removed/replaced.

[2020-04-15 21:31] biagas commented on #1634
It is still being used (lower case version) by CMake/PluginVsInstallHelpers.cmake.

[2020-04-15 21:31] aowen87 commented on #1638
This is no longer an issue.

[2020-04-15 21:31] #1638 closed, assigned to nobody

[2020-04-15 21:37] aowen87 commented on #1639
This is still an issue. Potentially low-hanging fruit, but it's hard to tell.

[2020-04-15 21:40] aowen87 commented on #1634
I just discovered that my grep alias doesn't allow lower case searches. Thanks for catching this!

[2020-04-15 21:41] #4598 closed, assigned to rusu24edward

[2020-04-15 21:47] aowen87 commented on #1659
No longer an issue.

[2020-04-15 21:47] #1659 closed, assigned to nobody

[2020-04-16 14:45] markcmiller86-visit commented on #12106
Hi,

I have done a small .h5 file test that contains the mesh coordinates of
a rectilinear grid and a scalar associated (temperature).
The file is read with pixie reader, temperature field is ok, but the
domain appears as a cube, with cubic cells, coordinates are not OK
(instead I have the number of cells in each direction)

So the grid is not properly read. I did not find any documentation on
the

[2020-04-16 15:35] brugger1 opened #12125 "Plot3D in VisIt"
Hi

How do you read a plot3D file? As far as I know it is also required to read both grid file and solution file when reading a plot3D file and there are more parameters like if it binary or ascii, unformatted or formatted etc’ and I didn’t see all these options when I tried to read a plot3D file.

Also, can you read plot3D with iBlanks and address it in the visualisation?

One last question - sin

[2020-04-16 15:36] aowen87 commented on #1674
Comment suggests that this has been resolved.

[2020-04-16 15:36] #1674 closed, assigned to nobody

[2020-04-16 15:38] aowen87 commented on #1685
Outdated.

[2020-04-16 15:38] #1685 closed, assigned to nobody

[2020-04-16 15:41] aowen87 commented on #1689
There's no attached file to reproduce this behavior. I'm closing for now. We can re-open this or tag it if the issue is encountered again.

[2020-04-16 15:41] #1689 closed, assigned to nobody

[2020-04-16 15:46] brugger1 commented on #12125
Hi Motti,

In order to read a PLOT3D file, you can open either the grid file or the vp3d file. When you open the file you will need to specify the file type as "PLOT3D" at the bottom of the "File open" window.

![OpenPlot3D_1](https://user-images.githubusercontent.com/1102718/79477044-8b8cdd80-7fbe-11ea-91da-b7fcf936fb20.png)

You will then need to bring up the default open options for the PLOT3D

[2020-04-16 16:07] aowen87 commented on #1690
This appears to be fixed.

[2020-04-16 16:07] #1690 closed, assigned to nobody

[2020-04-16 17:00] aowen87 commented on #1719
Removing reviewed label as comment suggests this is intended behavior.

[2020-04-16 17:29] cyrush opened #4626 "allow user to select font for time slider annotation"
provide a font option like what is available for text annotations.

[2020-04-16 18:09] cyrush opened #4627 "annotation option for min max of current plot"
the annotation at the bottom of our db legends always shows the full scalar range.

If folks change their plot settings (say pin the color range) it would be nice to have an option to
display the current range for reference.

[2020-04-16 18:21] biagas commented on #4627
Would this be a plot-specific option or a legend option?

[2020-04-16 18:36] aowen87 commented on #1724
I don't see this on Mac or Linux. @biagas can you test this on Windows?

[2020-04-16 18:41] aowen87 commented on #1736
Outdated.

[2020-04-16 18:41] #1736 closed, assigned to nobody

[2020-04-16 18:44] biagas commented on #1724
Not a problem with latest versions of VisIt on windows.

[2020-04-16 18:47] aowen87 commented on #1752
I'm unable to reproduce this. @biagas can you still reproduce this issue?

[2020-04-16 18:48] aowen87 commented on #1756
@markcmiller86 was this completed?

[2020-04-16 18:50] #1724 closed, assigned to nobody

[2020-04-16 18:51] markcmiller86 commented on #1756
No and I suspect there isn't much interest in doing this either so will close this issue and create a Silo issue to somehow use this code as part of Silo's testing.

[2020-04-16 18:51] #1756 closed, assigned to nobody

[2020-04-16 18:58] brugger1 opened #4628 "Add information about installing ffmpeg to movie making tutorial."
### Describe what needs to be documented.

I have some documentation on installing ffmpeg in an e-mail response on visit-users. I should add that to the movie making tutorial.

The e-mail is from 1/23/2020 at 12:14PM and was to visit-users.

[2020-04-16 18:58] cyrush opened #4629 "post LLNL tutorial: reach out to CT folks at LLNL that expressed interest"
Note to all, Cyrus has details.

[2020-04-16 19:02] brugger1 opened #4630 "Document clearing old saved host profiles."
### Describe what needs to be documented.

We should document how to fix corrupted host profiles (which usually occurs when users modify their host profiles and then save them or they just save them and then something about the machine changes). This would involve telling them where they are installed on Linux, Windows and Mac OSX and telling them to delete them. The section on client/server in th

[2020-04-16 19:05] brugger1 commented on #4627
Here is some additional information from an e-mail exchange with the person requesting the enhancement.

Hi Eric and Cyrus,

I enjoyed the webex today.

I guess I just want to clarify why I think it is an important feature/option to have the min and max below the legend be reflective of what is currently being plotted (when Use Current Plot is selected).  For me it would be most useful when we are

[2020-04-16 19:11] markcmiller86 commented on #4630
That is already documented [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/File_Locations.html#host-profile-files)

We probably need a whole section in docs about how to manipulate saved state

[2020-04-17 02:15] markcmiller86 commented on #4540
@ARSanderson sorry for delays in responding...

So, this issue was discussed by the team and we reached a similar conclusion. That said, the reason for the question about scale was whether the particular approach really lends itself to the kinds of *large scale parallelism* that tends to be VisIt's *wheelhouse*? If not, it is harder to make arguments to explicit enhancements to handle this case as

[2020-04-17 03:30] ARSanderson commented on #4540
Hi Mark,

I disagree with the finial analysis.  Say I have 5 values, the database produces a line segment ABCDE for each rank. Each letter corresponds to some segment. The user wants to see A, C and E only, so the sub setting is going to remove B and D and what is going to be displayed is “A C E” which is not what the user will want to see. That is there will be gaps between the segments, They wan

[2020-04-17 14:17] markcmiller86-visit commented on #12125
Thank you. This was very helpful.

How do I make sure that areas of the domain that are blanked out would not be displayed?

Best regards,
Motti

[2020-04-17 15:01] brugger1 opened #12126 "Using VisIt in Windows Linux subsystem."
Has anyone had any success running visit from windows to access results files on a windows linux subsystem?

Pierson

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that include

[2020-04-17 15:03] brugger1 commented on #12126
Hi Pierson,

I don't know that anyone on the team has any experience with using the Windows Linux subsystem. Can you provide some information about what makes it different than accessing files in a normal Windows folder?

Eric

[2020-04-17 15:11] brugger1 commented on #12106
Hi Stéphane,

I'll have to take a look at the Pixie reader to see if there is anyway to associate arrays with in the HDF5 file with the coordinates. I suspect that the XDMF reader doesn't automatically decompose arrays in parallel like the Pixie reader, but I'll need to check the code for that as well.

One thought is that if the coordinates have constant spacing in each of the three coordinate di

[2020-04-17 15:17] markcmiller86-visit commented on #12106
Hi,
OK thanks (mesh can be stretched)
Regards
Stéphane

Le 17/04/2020 à 17:11, Eric Brugger via visit-users a écrit :

[2020-04-17 15:50] markcmiller86 opened #4631 "Transform 2D mesh by 90 rotation + Displace in Z crashes engine"
1. Open `rect2d.silo`
1. Mesh plot `quadmesh2d`
1. Add **Transform** operator with 90 degree rotation about x axis
1. Define vector extpression `{0,0,d}` as `foo`
1. Add **Displace** operator using `foo`
1. Draw

The engine will crash. This is happening on `develop`. I am using the 90 degree rotation to *promote* a 2D mesh to 3D because I want to have z-oriented vectors defined on it.

Top of stac

[2020-04-17 19:24] markcmiller86 commented on #4540
Yes, I see that now. But, I am not deterred in the belief that there is a better way to support this and am still working on some of those alternatives. As we may have considered in a conversation in the distant past, I think this is a minor swizzle on a **Vector** plot and am close to proving that to myself *without* any modification to VisIt.

[2020-04-17 19:51] markcmiller86 commented on #4540
I am attaching here a picture with basically the same idea which required no-change in VisIt but was a bit kludgy to construct. I am plotting two quantities over a 2D mesh using a **Vector** plot combined with a **Displace** operater on the second quantity only to *push it out to the ends* of the first quantity's vectors.

I am not saying this is a solution. But, I am saying minor changes to **Vec

[2020-04-17 19:52] markcmiller86 commented on #4540
Crap...should have attached the session file for this plot and just exited VisIt. Sorry for not thinking.

[2020-04-17 21:30] brugger1 commented on #12125
I believe that VisIt will automatically remove the blanked out cells when you specify that the file has iblanking (or the vp3d file specifies iblanking is present).

[2020-04-17 21:53] markcmiller86-visit commented on #12125
It didn’t happen. The cells were not automatically removed.
What is the vp3d file?

‫ב-18 באפר׳ 2020, בשעה 0:31, ‏‏Eric Brugger via visit-users ‏<visit-users@elist.ornl.gov> כתב/ה:‬

[2020-04-17 23:37] brugger1 commented on #12125
I'm not sure if its a standard plot3d meta file or something that the plot3d reader implementer developed. Here is a link to a description.

https://www.visitusers.org/index.php?title=Plot3D

I'll check the reader and see what should happen when iblanking is specified as a read option. Just to verify, you did specify iblanking in the reader options.

[2020-04-17 23:52] brugger1 commented on #12125
I just looked through the plot3d reader and found the following piece of coding in vtkPLOT3DReader.C:

  // This is where we would read IBlanking information, but VisIt currently
  //  doesn't do anything with it
  //
#if 0
  if (this->Internal->IBlanking)
    {
    }
#endif

Based on this, I would say that our reader doesn't support eliminating zones based on iblank.

I will submit a ticket to en

[2020-04-17 23:55] markcmiller86 commented on #12125
Not sure if *iblanking* in plot3d speak is quite the same as *missing value* functionality in VisIt but they might be close enough that we could implement this with VisIt's [missing value](https://github.com/visit-dav/visit/blob/b3d29a21c15c2e2a3d4d5ff5f0279800b2df2e16/src/databases/Silo/avtSiloFileFormat.C#L2659) functionality.

[2020-04-17 23:58] brugger1 opened #4632 "iblanking not supported in PLOT3D reader."
### Describe the bug

The PLOT3D appears to not support iblanking. There is a reader option that specified if iblanking is present and it is used to skip over the iblanking information in the file, but the actual iblanking data isn't read in and nothing is done with the information.

The PLOT3D reader has a vtkPLOT3DReader.[Ch] class that I assume is a copy of the one from VTK at some point in tim

[2020-04-18 00:00] brugger1 commented on #12125
I assumed iblanking was the same as missing value. Do you have any references on what iblanking means if it isn't.

I submitted issue [4632](https://github.com/visit-dav/visit/issues/4632) to add support for iblanking to the PLOT3D reader.

[2020-04-18 00:08] markcmiller86 commented on #12125
Well...I guess I thought that *iblanking* is more about not showing/removing parts of a mesh without regard for reason/cause (for example, allowing finer resolution blocks to bleed through coarser resolution blocks in AMR) whereas VisIt's missing-value functionality is more about indicating a given mesh variable dof is not present (as can often be the case in experimental data) and so VisIt can de

[2020-04-18 02:53] ARSanderson commented on #4540
Hi Mark,

I see where you are going with this, the question is how does it scale to multiple variables? With two variables it is easy (?) but what about with 3 or more? At the end of the day, one really needs to balance reuse vs new and ease of usage to get what is needed. Personally, I see a clean operator interface to select variables to “stack” how it is actually gets done under the hood does n

[2020-04-18 02:57] markcmiller86 commented on #4540
@biagas, @cyrush and @brugger1 ... do you have any thoughts on these most recent revelations?

[2020-04-18 08:03] markcmiller86-visit commented on #12125
Sorry for the late response it was night in this part of the world.

So, iBlanking is not a missing value but is a “missing” mesh. It is areas in the mesh where the solver is not solving the equations. So, even if, for some reason, there are values in the solution file they are considered as non existing. I am not familiar with the VisIt’s missing-value functionality, being a new user, but it does

[2020-04-18 09:12] markcmiller86-visit commented on #12125
Hi,

I am attaching 2 figures of the example I am using to check out the plot3D capabilities in VisIT.
The example has 3 meshs in the file. A far field mesh and 2 meshs for a wing.
One figure was created with a different visualisation code that support iBlanking and another one is created with VisIt.
You can see how the blanked out areas in the far field mesh looks like (this is on one plane of th

[2020-04-18 09:30] markcmiller86-visit commented on #12125
Hi,

I am attaching 2 figures of the example I am using to check out the plot3D capabilities in VisIT.
The example has 3 meshs in the file. A far field mesh and 2 meshs for a wing.
One figure was created with a different visualisation code that support iBlanking and another one is created with VisIt.
You can see how the blanked out areas in the far field mesh looks like (this is on one plane of th

[2020-04-19 01:55] markcmiller86 commented on #12125
Copied images from email. It is a bit hard to see but I think the issue is the zones *inside* the wing. In the top image, they are *blanked* out. In the VisIt image, they are not. Also, there appears to be a region of the *rectangular* mesh that is also *blanked* out in the top image but not in the bottom image.

![image](https://user-images.githubusercontent.com/5720676/79677361-5393bf00-81a5-11e

[2020-04-19 02:21] markcmiller86 commented on #12125
Actually, I took another look for instances of `iblank` in VisIt and found logic in `avtOVERFLOWFileFormat.C` and there this is handled using VisIt's *ghosting* logic and, in particular, the ghost value `NODE_NOT_APPLICABLE_TO_PROBLEM`. There is also an associated `ZONE_NOT_APPLICABLE_TO_PROBLEM` for zone centering. And, that sounds like the best way to handle this for Plot3D.

[2020-04-19 13:20] markcmiller86-visit commented on #12125
Thank you Mark. I don’t think I can use this because I am not sure if the plot3D file format is compatible with overflow format.
I understand that Eric Brugger submitted issue #4632 to add support for iblanking and I hope this finding will help.

I hope it can be updated easily and in the near future.

Thanks a lot.

Best regards,
Motti

[2020-04-19 16:45] markcmiller86 commented on #12125
Correct. Apologies for confusion. This was more or less a note to myself and our development team.

I was capturing my thoughts here about how to best we can proceed to *add* support for iblanking for Plot3D reader. Originally, I suggested VisIt's missing value functionality. But, the right way to go is with VisIt's *ghost* functionality and an example to follow is available to us in `avtOVERFLOWF

[2020-04-19 16:48] markcmiller86 commented on #4632
Apologies for not seeing this but I wound up capturing design thoughts about how to fix in the [original SRE issue](https://github.com/visit-dav/live-customer-response/issues/32#issuecomment-616009315)

[2020-04-19 16:55] markcmiller86 opened #4633 "Audit Plot3D read options for automation"
The Plot3D reader has a number of options that kinda seem like they should just be automagically handled...

* Iblanking...is there any reason VisIt should *not* iblank if the associated field is defined?
* 3D...is there any reason we can't *effectiently* detect this during open/popmd?
* Big endian...is there nothing *in* the format itself that tells us this?
* Double precision...for ascii isn't t

[2020-04-19 19:40] markcmiller86 commented on #4633
Another option is the C vs. Fortran ordering (and maybe array indexing if that is relevant in Plot3D files).

One alternative to customizing the format is to defeine a json *wrapper* file like so...

[code]

Any file VisIt is asked to open that has the original PLOT3D extensions (`.q`, `.x` or `.vp3d`) with a `.json` or maybe a `-json` following it would be processed similarly to options.

In fact

[2020-04-20 10:47] markcmiller86-visit commented on #12125
Ok. Great.
I hope to see an update soon.

Best regards,
Motti

[2020-04-20 11:42] andymwood opened #12127 "VisIt (Python 3) fails to build with Intel compiler under CentOS 7."
I'm trying to build VisIt with the Intel compiler under CentOS 7.

It fails when it tries to build Python 3, reporting this error message in the log file:
[code]

This appears to be an [resolved issue in Python](https://bugs.python.org/issue37415). The last comment on that bug report suggests that there's already a patch available that has been merged into the most recent version of Python.

We're

[2020-04-20 14:24] andymwood commented on #12127
I've now managed to build VisIt using Python 3.7.7 instead, setting the following environment variables prior to calling the build script:
[code]

[2020-04-20 15:20] biagas commented on #4632
Regarding using the VTK reader directly, it is a MultiBlock reader, tied to VTK's parallel subsystem. There are notes in our vtkPLOT3DReader.h as to why it wasn't subclassed.
There may very well be improvements in the native VTK file that can be incorporated into ours.
Or perhaps someone can figure out how to utilize the native file within the confines of VisIt's pipeline.

[2020-04-20 15:21] griffin28 commented on #12127
Thanks @andymwood for updating us on what worked for you. What VisIt branch did you compile?

[2020-04-20 15:28] brugger1 commented on #4632
Yes, now I remember that. I also have had problems getting their multiblock readers to work within VisIt. Thanks for the reminder.

[2020-04-20 15:33] griffin28 opened #4634 "Patch needed for compiling Python 3 on CentOS 7?"
### Describe the bug
A user ran into an error with Python 3 when building [VisIt 3.1.1](https://wci.llnl.gov/simulation/computer-codes/visit/source) on CentOS 7 (see https://github.com/visit-dav/live-customer-response/issues/34). From the user comments there appears to be a patch available that has been merged into the most recent version of Python.

Does the patch need to be incorporated into our

[2020-04-20 16:08] andymwood commented on #12127
I compiled from the source for 3.1.1 downloaded from [here](https://wci.llnl.gov/simulation/computer-codes/visit/source).

[2020-04-20 16:47] griffin28 opened #12128 "Compilation Error when building visit with spack"
Hi,

I’m trying to build VisIt with spack as follows on an Ubuntu 16.04 with gcc 8.2.1:

`spack install visit~gui ^mesa~llvm`

This tries to install visit 3.0.1. All the dependencies build fine, but the visit build fails with the following errors:

[code]

Thanks,

Matthieu

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wi

[2020-04-20 17:20] griffin28 commented on #12128
Hello Matthieu…what version of VTK are you building?

We don’t currently support spack because our build_visit scripts do custom things during our builds, like apply patches, that resolves these types of build errors.

Have you tried using our build_visit script to build 3.0.1? It will download, patch, and build all of the needed dependencies.

[2020-04-20 17:21] cyrush commented on #12128
@griffin28 + Matthieu.

There are API breaking changes between VTK-8.1 and VTK 8.2.

I don't expect VisIt 3.0.1 to build without a patch.

This PR has a commit that outlines the const changes (and others) related to VTK 8.2:

https://github.com/visit-dav/visit/pull/4623/commits/4017bb7e44c5d523668fce0d8d7bb2610fbc3904

[2020-04-20 17:22] griffin28 commented on #12128
I haven’t tried the build_visit script. I wanted to check if I could install visit with spack as part of the installation of Damaris.
Thanks,

Matthieu

[2020-04-20 18:10] griffin28 opened #12129 "Questions for plot issues in VisIt"
Dear VisIT guys,

I am trying to use VisIT to plot large Flash files. I have no problems opening the files. I do have the following questions:

1. Why is the Controls/Annotations/Objects information needed in pseudocolor plots not saved as default?  After working to place and size the color bar in one plot, all info is lost for the next plot.

2. Why is the Control/View 2-D info not allowed to be

[2020-04-20 18:42] griffin28 commented on #12129
Hello Rick...see my responses below.

To persist the annotation object between plots you'll need to press 'Make Default', 'Apply', and also do a 'Save Settings' (Options->Save Settings). If your questions is more along the line of why isn't this automatically done for you, then it's a matter of design choices that we need to make. There are users who would have the opposite request. Which one is r

[2020-04-20 18:51] griffin28 opened #4635 "Persist Control/View... 2-D view settings"
A user (Rick Spielman) raised a question about why the Control/View 2-D view settings are not allowed to be saved (see https://github.com/visit-dav/live-customer-response/issues/36).

[2020-04-20 18:58] markcmiller86 commented on #12129
Just wanted to also mention that some of the behavior in question here is described in [this](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/index.html) section of the manual.

In particular...

Is needed to ensure the *next* plot of that type in the *current* session has the same values.

Is needed to ensure that (all) defaults are saved for the *next tim

[2020-04-20 19:04] griffin28 opened #4636 "Lost data frames when saving a movie"
### Describe the bug
In the Save Movie option, with mpg chosen, the last several frames of data are always lost. The number lost is variable but can be large. Can this be fixed? My workaround is to keep the sequential files for the movie by setting the number of frames used in Save Movie to be larger than the actual number. This causes a script error and happily leaves the sequential image files i

[2020-04-20 20:26] corbett5 opened #4637 "Symmetric tensor + blueprint"
When plotting a symmetric tensor from a blueprint file I got the following message

[code]

I found the following in A.engine_ser.5.vlog

[code]

After doing some digging through VTK 6.1.0 it seems that a VTK tensor must have exactly nine components.

I used Visit 2.13.3 on Quartz.

[2020-04-20 21:29] cyrush commented on #4637
thanks @corbett5 !

[2020-04-20 22:21] griffin28 opened #12130 "Debian 10: VisIt 3.1.1"
Greetings VisIt Developers,

I've downloaded and installed VisIt 3.1.1 using the installation script
from the LLNL web page. The OS is Debian 10, buster, stable. When I fire
up VisIt it returns:

[code]

Thanks,

Todd

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works

[2020-04-20 22:23] griffin28 commented on #12130
Hello Todd...try creating a soft link for `libicui18n.so.57` that points to `libicui18n.so.63`:

`ln -s /usr/lib/x86_64-linux-gnu/libicui18n.so.63 libicui18n.so.57`

[2020-04-21 09:03] jmackey-astro commented on #12130
I have the same issue, also with libraries: libicuuc.so.57 libicudata.so.57
If I add soft links to *.so.63 for these, then I get a QT error:
/usr/local/visit/3.1.1/linux-x86_64/bin/gui: symbol lookup error: /usr/local/visit/3.1.1/linux-x86_64/lib/libQt5Core.so.5: undefined symbol: ucnv_getDefaultName_57
I have not managed to get VisIt 3.1.X working on debian 10 yet.

[2020-04-21 15:58] griffin28 commented on #12130
My assumption is that you downloaded the executable built for `Debian 9 - Linux - x86_64 64 bit
Debian 9, 4.9.184-linuxkit visit-dav/visit#12095 SMP, gcc 6.3 (Works on Debian 9 and 10.)`. If not, please do so and see if it works for your system.

If that's not the issue you may need to build from source on your system. @brugger1 handles the Debian builds so I'll file a ticket so he can look into t

[2020-04-21 17:12] markcmiller86-visit commented on #12130
If I remember it correctly, I am able to run the centos8 binary on my Debian 10 system. None of the Debian binaries worked. You might try the centos8 binary from the Visit website.

Best
praveen

[2020-04-21 17:16] brugger1 opened #12131 "Problems building VisIt on Debian 10."
Greeting VisIt Developers,

I'm trying to compile VisIt 3.1.1 on a machine running stock Debian 10
(stable) using:

/build_visit --parallel --fortran --uintah --no-icet --mesagl --openssl --llvm --system-cmake --no-visit --console --makeflags -j20

On the first attempt I ran into an error compiling python:

+ info 'Installing pyparsing ...'
+ [[ yes == \y\e\s ]]
+ echo 'Installing pyparsing ...'
+

[2020-04-21 17:20] brugger1 commented on #12131
Those errors are handled by the patch function "apply_qt_5101_centos8_patch" in build_visit. It only gets applied with centos 8 and ubuntu 19. It looks like it need to get applied on debian 10 as well. You can search build_visit for "apply_qt_5101_centos8_patch" and move it outside of the tests that determine if it is centos 8 or ubuntu 19.

I am submitting a ticket to also apply the patch for deb

[2020-04-21 17:24] brugger1 opened #4638 "Modify build_visit to also apply "apply_qt_5101_centos8_patch" on debian 10."
### Describe the bug

A user tried to use build_visit to build visit on debian 10 and ran into a Qt compile issue. We have a patch in the script for this error but it is only getting applied for centos 8 and ubuntu 19. We should also apply it in this case.

### Desktop
 - OS and version: Debian 10
 - VisIt Version: 3.1.1

[2020-04-21 17:30] brugger1 commented on #12131
I submitted ticket 4638 to fix build_visit for debian 10.

[2020-04-21 20:09] rusu24edward commented on #4445
- [ ] Remove NIMROD interface because it does not work.

[2020-04-21 20:10] rusu24edward opened #4639 "Remove NIMROD Field interface"
- [x] Is NIMROD still a future implementation? (source->field)

I emailed Allen about this. It has not been implemented yet.

_Originally posted by @rusu24edward in https://github.com/visit-dav/visit/issues/4445#issuecomment-599678852_

This has not been fully implemented yet and it does not work. So remove it from the GUI/CLI until it is implemented.

[2020-04-21 20:29] griffin28 opened #12132 "Part of Set save options dialog off-screen"
Hello,

I am running into an annoying problem with the "Set save options" dialog. When it pops-up, the bottom part of the dialog is off-screen, so I cannot click on "Save" "Apply", "Dismiss" etc. (see screenshot image below). I am aware that for some GUIs, shift-clicking on the side of the dialog and then dragging it solves the problem, but not on VisIt. Also, I can solve the problem by maximizing

[2020-04-21 20:37] markcmiller86-visit commented on #12132
David…here’s a couple of suggestions:

  1.  Remove your ~/.visit directory and see if you still have that issue (you may want to make a copy of your ~/.visit directory first)
  2.  If possible, try using VisIt 3.1.1 that was built on macOS Mojave

If neither one of those work I will file a ticket.

-- Kevin

From: Kevin Griffin via visit-users <visit-users@elist.ornl.gov>
Reply-To: visit-dav/live

[2020-04-21 21:04] brugger1 commented on #12132
I notice that you are using VisIt on a low resolution screen. You might try setting "Post windows when shown" on the "General" tab of the "Preferences" window (under Options->Preferences...).

That will cause cause the window to get posted when you bring it up. When it's posted you should get scroll bars that allow you to scroll to the bottom of the window. I tried this on Windows and it worked. I

[2020-04-21 21:09] brugger1 opened #4640 "Post windows when shown doesn't work on Linux."
### Describe the bug

I set "Post windows when shown" on the "General" tab of the "Preferences" window and then brought up various windows and it always showed the windows normally on Linux. On Windows, it brought up the windows on the notepad.

### Desktop
 - OS and version: Linux
 - VisIt Version: 3.1.1

[2020-04-21 21:11] brugger1 opened #4641 "Allow way to control posting of main window."
When you are on a low resolution screen, VisIt comes up in a configuration where the entire main window is a notepad and the main window is posted on it. It would be nice if there was a setting to force VisIt into that mode.

[2020-04-21 21:16] markcmiller86-visit commented on #12132
Great!

Thank you for your help!

On Tue, Apr 21, 2020, 5:05 PM Eric Brugger via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-04-21 21:16] markcmiller86 commented on #4640
Niether 3.0.1 nor current develop branch appear to behave as desired on OSX either.

Worse, as I post windows manually...I don't see anything in the main panel. Thats because the post area is all collapsed. One has to *know* to go there and drag it up before you see anything posted there.

[2020-04-21 21:20] markcmiller86 commented on #12132
@brugger1 are you sure this is a low-res screen? I checked the attached screen capture and it is ~3k x 2.5k and the *tray* at the bottom of the screen seems to show a *ton* of items. My impression is that its actually a high res screen that VisIt's GUI windows are for some reason taking up far more screen realestate than they should.

[2020-04-21 21:34] brugger1 commented on #12132
Hmm! I was going on the fact that there was no notepad and there is a "Main" right below the title bar of the main window, which to me implies that VisIt has decided that it is a low resolution screen and is posting the main window. I agree, it does look high resolution now that you mention it. Perhaps it is some sort of Retina screen issue.

[2020-04-21 21:49] markcmiller86 commented on #12132
Ok, well...now that you're talking about it...VisIt on my system does not appear to startup with a *notepad* area. Whether it is a build of my own or a released binary from VisIt's executable downloads, I get a main panel that looks like below. I never knew (or maybe just forgot) about that *notepad* area and I have to go with the mouse over that little dot at the bottom to grab a handle to drag t

[2020-04-21 21:52] brugger1 commented on #12132
For whatever reason, when you start up the plot list has been increased to take up the entire bottom portion of the window. Maybe you did that once and then saved settings. What happens when you start with "-noconfig"?

[2020-04-21 21:53] markcmiller86-visit commented on #12132
Unfortunately, none of the options below worked.

   1. Remove your ~/.visit directory and see if you still have that issue
   (you may want to make a copy of your ~/.visit directory first)
   2. If possible, try using VisIt 3.1.1 that was built on macOS Mojave

I managed to fix the problem by scaling the resolution, although the bottom
end of the dialog is not visible.

By the way, I noticed that

[2020-04-21 21:56] markcmiller86 commented on #12132
Ok, tried that and indeed, I do see some space there now though it does look a bit funky. There is an empty **Tab** at the top and the **Output** button is sorta cut off too.

![Untitled 2](https://user-images.githubusercontent.com/5720676/79917830-20893f80-83e0-11ea-9807-3743db83ab7d.png)

[2020-04-21 22:05] markcmiller86 commented on #4523
Thanks everyone for your help in resolving this.

[2020-04-21 22:05] #4523 closed, assigned to markcmiller86

[2020-04-21 22:05] griffin28 commented on #12132
Are you using the retina display on a laptop or are you using an external monitor? Can you also provide a screen shot of your ‘About This Mac’ window with the ‘Overview’ tab selected?

The dark mode issue is known (https://github.com/visit-dav/visit/issues/4305) and we are working on it.

-Kevin

From: markcmiller86-visit <notifications@github.com>
Reply-To: visit-dav/live-customer-response <reply

[2020-04-21 22:15] markcmiller86-visit commented on #12132
I am using my laptop retina display.

Here is the screenshot

[image: Screen Shot 2020-04-21 at 6.14.06 PM.jpg]

On Tue, Apr 21, 2020 at 6:06 PM Kevin Griffin via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-04-21 22:22] markcmiller86-visit commented on #12132
If I switch GUI style to "Windows" or "Fusion" and then back to macintosh
it fixes it but then if I save the settings and close and reopen visit. It
goes back to the wrong appearance.

On Tue, Apr 21, 2020 at 6:15 PM David Montiel Taboada <dmontiel@umich.edu>
wrote:

[2020-04-21 22:32] brugger1 commented on #4639
Eddie mentioned that there is a partial implementation of the NIMROD option, but it doesn't work. That should be removed as well.

[2020-04-21 22:36] markcmiller86 commented on #4640
Adding `-noconfig` makes it work on OSX

[2020-04-21 22:45] brugger1 commented on #4636
This can happen if some intermediate frames are missing, then the encoding will stop at the first break in sequential numbering, leaving any frames after that missing.

[2020-04-21 22:46] markcmiller86 commented on #4636
If this is related to garbled/failed renders...its hard to robustify but we could add logic to check for

* number of saved images is same as expected time series
* no saved image is zero or close to zero size (suggesting a garbled image)

[2020-04-21 22:55] markcmiller86 commented on #4635
I still think there is some minor adjustments we could make to the interface here. Many/most other windows have a **Save** button. *And*, that button means to persist that particular state object to a file somewhere on disk.

For these *saved* views, **Save** (which is not a button anywhere in the View GUI windows but is instead a pull-down from the right-clicked menu in the viewer), doesn't mean

[2020-04-22 00:22] griffin28 commented on #12127
This will be taken care of with https://github.com/visit-dav/visit/issues/4634.

[2020-04-22 05:02] markcmiller86 commented on #4635
OTOH, if we compare the way *named views* are handled to the way [command tabs](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/File_Locations.html#command-window-tabs-script-files) are handled...

* Command-tab behavior
   * Command tabs are *remembered* automatically whenever anything is entered into a tab text box.
   * There is a **Clear** button to cle

[2020-04-22 08:10] jmackey-astro commented on #12130
Yes that's right, I'm using the debian 9 binary.  I tried building from source but encountered errors that I was unable to work through.  I just downloaded the centos 8 version and it works!

[2020-04-22 15:13] markcmiller86 opened #4642 "Why duplicate GUI functionality in the viewer"
So, in looking at #4635 I started wondering...why do we *duplicate* a lot of our GUI in both the GUI and the viewer? The icons-bar across the top of the viewer and its right-click pull-down menu duplicate a lot functionality in the GUI. Worse, even though the *functionality* is in many cases duplicated, the implementation is not in any way shared. I think implementation of GUI-like functionality i

[2020-04-22 15:52] griffin28 opened #4643 "Debian builds don't work on Debian systems"
### Describe the bug
The Debian builds are reported to not work on Debian systems. However, the Centos 8 builds are working on Debian systems.

**Helpful additional information**
See https://github.com/visit-dav/live-customer-response/issues/37
### Desktop
 - OS and version: Debian and CentOS
 - VisIt Version: 3.1.1

[2020-04-22 15:55] griffin28 commented on #12130
Created a ticket (https://github.com/visit-dav/visit/issues/4643) to hopefully resolve this and get Debian binaries to work on Debian systems.

[2020-04-22 16:06] griffin28 opened #12133 "Azimuthal Velocity"
**From Mahesh Natarajan:
Go to this http://visitusers.org/index.php?title=VisIt-tutorial-data-analysis#Accessing_coordinates_.28of_a_mesh.29_in_Expressions

And see the section - Accessing coordinates (of a mesh) in Expressions, and follow those steps. It shows how to extract the x, y, z coordinates from the mesh data.**

Thank you Mahesh for your helpful responses!

We're trying to [combine `visi

[2020-04-22 16:09] griffin28 opened #12134 "Is it possible to visualize in spherical coordinate system?"
**From Mahesh Natarajan:
VisIt docs https://visit-sphinx-github-user-manual.readthedocs.io/en/latest/Operators/OperatorTypes/Transform_operator.html tells

"Ultimately, when a plot is rendered in the visualization window, its coordinates must be specified in terms of Cartesian coordinates due to the implementation of graphics hardware."

You could use the clip and slice operators to make plots lik

[2020-04-22 16:10] griffin28 commented on #12134
Again, Thanks Mahesh for the helpful response!

[2020-04-22 16:54] brugger1 commented on #12133
![live-customer-response-40](https://user-images.githubusercontent.com/1102718/80010373-2e41d200-847f-11ea-8cd2-6b4a5bb21932.png)

[2020-04-22 17:09] brugger1 commented on #12134
Hi Silvia,

If the coordinates in your data are r, theta, phi  then you can transform them to look like a sphere using

x = r * sin(theta) * cos(phi)
y = r * sin(theta) * sin(phi)
z = r * cos(theta)

You can do this with a combination of expressions and the Displace operator.

First define:

r = coord(mesh)[0]
theta = coord(mesh)[1]
phi = coord(mesh)[2]
x = r * sin(theta) * cos(phi)
y = r * sin(th

[2020-04-22 17:49] rusu24edward commented on #4639
There is also an H5Nimrod database. @markcmiller86 do you know anything about this? Should this also be removed?

[2020-04-22 18:02] markcmiller86 commented on #12134
@brugger1 this is awesome! We need to put this in the manual somehow.

[2020-04-22 18:29] griffin28 opened #4644 "Add documentation for visualizing in a spherical coordinate system"
### Describe what needs to be documented.
Add Eric's process for visualizing in a spherical coordinate system to the manual. The associated image that can be used in the manual is located [here](https://github.com/visit-dav/live-customer-response/issues/41).

From Eric:

Hi Silvia,

If the coordinates in your data are r, theta, phi then you can transform them to look like a sphere using

x = r * s

[2020-04-22 18:32] griffin28 commented on #12134
I agree @markcmiller86 ...I added a [ticket](https://github.com/visit-dav/visit/issues/4644) for adding the documentation. I will do it if time permits after I add documentation for building with masonry.

[2020-04-22 19:37] markcmiller86 commented on #4639
Well, when you mentioned NIMROD...I had assumed it was in relation to that database and so didn't even bother to mention. I honestly have no idea if the two are related. They could be.

[2020-04-22 20:36] brugger1 commented on #4639
The NIMROD reader is separate from the NIMROD option in the integral curve operator. We shouldn’t remove the NIMROD reader.

[2020-04-22 21:30] markcmiller86 commented on #12134
@brugger1 any chance you have a session file from this lying around you can attach?

[2020-04-23 00:18] markcmiller86-visit commented on #12134
Hi Eric,

Thank you very much. Your explanation is extremely clear and useful.

In my case, the coordinates in my data are  x, y, z. But I assume I can go inversely? So I would use

r = sqrt(x*x+y*y+z*z)
theta = arctan(sqrt(x*x+y*y)/z)
phi = acrtan (y/x)

and my sphere displacement would be

sphere_displacement = {r -x, y - theta, z - phi}.

Thank you.

Kind regards,
Silvia

______________________

[2020-04-23 06:32] sullan2 opened #12135 "Command line arguments for visit scripts"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,
Is it possible to specify arguments for visit scripts launched fro

[2020-04-23 06:41] sullan2 commented on #12135
Never mind, it works as expected.

[2020-04-23 15:47] cyrush commented on #12135
@sullan2  -- glad it worked for you, more context in case others land here:
Everything after "-s script.py" should exist are arguments.
You can access via `sys.argv` or `Argv()`

[2020-04-23 16:06] #4639 closed, assigned to rusu24edward

[2020-04-23 17:12] sullan2 opened #12136 "Access to MPI in VisIt Scripts"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,
I am running a script to capture lineout values of 512x512 lines,

[2020-04-23 18:05] griffin28 commented on #12136
If you have a spatially partitioned dataset and VisIt is running in parallel my assumption is that any call to the Lineout function should be executed in parallel without any additional work on your end.

@brugger1 is this a correct assumption?

[2020-04-23 18:10] griffin28 commented on #12136
To clarify, If you have a dataset that is already spatially partitioned (has multiple domains) and you read it into VisIt that is running in parallel, the lineouts should execute in parallel and there's nothing you need to do programmatically.

[2020-04-23 18:21] sullan2 commented on #12136
Ok, my script may beed to be optimized then. I loop through the list of lineouts that I want to complete and it seems like the next lineout is not run until the pervious one has completed. Is there a better way to do this?

[2020-04-23 18:28] cyrush commented on #12136
@sullan2  are you trying to get grids of data out? There might be a better way than line outs.

[2020-04-23 18:30] sullan2 commented on #12136
Yes, essentially I am building a grid with information from the lineouts.

[2020-04-23 18:38] cyrush commented on #12136
@sullan2 are the meshes regular enough (like a uniform grid) that a resample operator can capture what you are looking for? If that is the case you can resample and save out a BOF (brick of floats) to easily process.

[2020-04-23 18:39] cyrush commented on #12136
you could also launch multiple versions of visit with your current setup -- more bookkeeping (to know what instance needs to do what lineoues) -- not sure what the speed ups would look like.

[2020-04-24 00:27] griffin28 commented on #12134
@brugger shouldn't the Transform operator with the attributes shown in the attachment do the same thing?

<img width="625" alt="Screen Shot 2020-04-23 at 5 18 04 PM" src="https://user-images.githubusercontent.com/26772741/80162274-bad7b780-8587-11ea-9974-0ed7832c664d.png">

[2020-04-24 00:32] markcmiller86 commented on #12134
@griffin28 yes...and I believe it is possible though I think you may need to take care with offsets by including a second transform operator that performs a *translation* too. Note that I don't think you can perform *both* translation and coordinate transformation in a *single* **Transform** operator instance. You get one or the other.

I was going to ask why @brugger1 used Expressions + **Displac

[2020-04-24 00:47] griffin28 commented on #12134
Thanks @markcmiller86 I applied Eric's prescription on the rect3d.silo dataset and also applied the Transform operator and got the attached results. The mesh was produced by the Transform operator and the pseudo color plot is using Eric's method. I didn't expect them to be that different.

<img width="1191" alt="Screen Shot 2020-04-23 at 5 24 23 PM" src="https://user-images.githubusercontent.com/2

[2020-04-24 15:02] brugger1 commented on #12134
They are different because my equations are for spherical to cartesian and the transform operator for the above image is set to cylindrical to cartesian. I believe the image is correct for that case.

[2020-04-24 15:05] brugger1 commented on #12126
Closing since I never got a response back.

[2020-04-24 15:19] brugger1 opened #12137 "Restore Session Issue"
Hello VisItors!
I am using VisIt (v2.13.2) as my daily tool in my scientific work. Recently I have experienced a OS crash (Ubuntu18). After restoring it I  have got into some troubles with restoring saved session.

I am working in client-server mode. Moreover I am using own plugin.

Here one can see my presented data before saving session: attachment: visit0000.png
Once I restore data after reopen

[2020-04-24 15:20] brugger1 commented on #12137
Hi Andrzej,

Do you get any messages when restoring the session? Do you have your own plugin installed in both the local and remote machines?

Eric

[2020-04-24 15:30] markcmiller86-visit commented on #12137
I attach my full terminal output. Just to point out that that visit command is my .bashrc just to call: /usr/local/visit/bin/visit.
Now I have it installed only on remote machine as all the data is stored there. I believe no one from my group installed plugin locally.

Andrzej Makowski

[2020-04-24 15:30] rusu24edward commented on #4475
My thought here is to do something similar to what I did for the Remap operator. We can map the disconnected grid onto the grain boundaries grid (or a rectilinear grid, it's not clear how exactly he wants it) to establish a _discretization_ of the disconnected mesh. We might be able to use the clipping operator in the same way that we do for the Remap operator.

Once the disconnected mesh has been

[2020-04-24 15:43] fluxlimited opened #4648 "Python Interface Error. ModuleNotFoundError: No module named 'frontend'"
### Describe the bug
Running VisIt 3.3.1 with Python 3.8.2 (part of a conda environment) I ran the following

[code]

I get the error:
[code]

### To Reproduce
See above.

### Expected behavior
VisIt should launch.

### Attachments
N/A

### Desktop
 - Windows 10
 - VisIt Version: 3.3.1

### Additional context
N/A

[2020-04-24 16:05] brugger1 commented on #12137
Attaching image from Andrzej.

![Zrzut ekranu z 2020-04-24 17-24-16](https://user-images.githubusercontent.com/1102718/80233022-b0aacd00-860a-11ea-98bd-1131d9207c22.png)

[2020-04-24 22:10] brugger1 opened #12138 "Export Database question."
Good Afternoon,

My goal is to output a file (or files) that contain density plots of my HYDRA simulation.  I am presently able to draw the image on Visit, but I wish to post-process the image using Matlab or Python on my local machine. A screenshot of the image is insufficient for the post-processing I wish to do.

I see that there is an "Export Database" control.  However, when I "Export to Imag

[2020-04-24 22:22] brugger1 commented on #12138
Hi Adrianna,

Exporting databases is for outputting mesh based data. In the case of exporting a Tiff file, this would require a regular grid, which you most likely do not have. What you want to do is save an image as a Tiff file.

You can do that with the "Set save options" window.

1. Go to "File->Set save options..." to bring up the "Set save options" window.
2. Set the "File type" to "tiff".
3.

[2020-04-24 23:20] teba103 opened #12139 "zeynep99_867@hotmail.com"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

[2020-04-24 23:23] teba103 commented on #12139
https://github.com/visit-dav/live-customer-response.wiki.git

[2020-04-26 00:15] #4505 closed, assigned to griffin28

[2020-04-27 16:11] biagas opened #12140 "Cannot run parallel engine on suse"
Hi all,
   after a month I managed to come to the office and try the parallel engine. The problem persists and I think I found out that the issue is that the local engine does not start. Is it possible that my linux version is suse and I am using visit for debian? I have tried several and some work in suse only in sequential -ubuntu, fedora- and other directly do not work...

At start, I get the f

[2020-04-27 16:39] biagas commented on #12140
Hello Manel,

How are you launching Visit in parallel on the Suse system? Do you have a host profile installed?
Here's a link to information on [Host Profiles](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/ClientServer/Host_Profiles.html)

Which install tarballs have you tried?

Have you ever tried using the build-visit script to build and install VisIt specifically

[2020-04-27 23:05] aowen87 commented on #4355
clicking "Draw" seems to bypass this problem completely; the shadows will vanish/appear immediately.

[2020-04-28 17:02] biagas opened #4650 "Investigate removal of static vtkTrivialProducer"
avtGenericDatabase::GetMesh,
logic to set a static vtkTrivialProducer was commented out at request of Paraview.
Our comments say its usage was added for performance reasons.

Have we taken a performance hit by commenting out the logic?
If not, we should remove the commented out logic.

After commenting out this code block, I later discovered similar code in avtCommonDataFunctions::CBreakVTKPipelin

[2020-04-28 17:17] biagas opened #4651 "CConvertUnstructuredGridToPolyData needs to handle higher order elements"
avtDataObjectToDatasetFilter::PostExecute calls avtCommonDataFunctions::CConvertUnstructuredGridToPolyData when spatial and topological dimensions don't match (no-op for mesh types other than Unstructured grids).

* Is this actually necessary?
* If it is necessary, then the conversion code needs to handle higher-order elements.
  * Currently it just copies cells directly from the unstructured grid

[2020-04-28 17:23] biagas commented on #4651
I ran across this running the xdmf test with my vtk-9 investigation branch.
I noticed this error printed to the screen when the two skipped xdmf test cases are run:

[code]
A little investigation brought me to the logic that converted the unstructured grid to polydata incorrectly.

[2020-04-28 17:45] biagas commented on #4648
VisIt 3.1.1 for windows was compiled with Python 2.7.14,
you will need to install that version of python in order to import visit into python.  If you cannot install Python 2.7, then you will need to run VisIt's cli directly in order to control it via python.

From a command prompt run '\path\to\visit.exe -cli', or use the Start menu shortcut 'Visit 3.1.1/VisIt command line interface'

We are curr

[2020-04-28 18:04] fluxlimited commented on #4648
Thank you!

[2020-04-28 18:29] aowen87 opened #4652 "OSPRay unable to fully remove axes box"
### Describe the bug
It looks like OSPRay draws its axes box over VisIt's native one, and, when you try to remove the axes box while OSPRay is enabled, you end up seeing VisIt's underlying box instead.

**Helpful additional information**
 - Did VisIt crash: No
 - Did you get wrong results: Not exactly?

### To Reproduce

1. Open globe.silo
2. Open the Rendering options menu, enable OSPRay renderin

[2020-04-28 20:06] fluxlimited commented on #4648
@biagas so I installed Python 2.7 and the `Launch()` command opens a visit window but quickly disappears. I tried the following

[code]
and I get the error
[code]
Not sure if this is installation issue or not so I am continuing this thread here.

[2020-04-28 20:55] biagas commented on #4648
Thanks for the info, let me try a few things and get back with you.

[2020-04-28 20:57] cyrush commented on #4194
FYI: PIL 1.1.7, the last release (2009), does not support Python 3. I will be moving to Pillow

[2020-04-28 20:57] cyrush commented on #1455
FYI: PIL 1.1.7, the last release (2009), does not support Python 3. I will be moving to Pillow

[2020-04-28 21:26] biagas commented on #4648
In your scenario, you need to call 'Launch()' before using any Visit commands.

Also, please be aware, if you enabled parallel when you installed VisIt, then the OpenDatabase call will prompt VisIt to open a dialog asking you to choose between the serial and parallel engines.  This dialog may be hidden behind your python terminal window.

[2020-04-28 21:35] fluxlimited commented on #4648
I added `Launch()`. A VisIt window is created and I get the prompt to choose between serial and parallel engines. I choose serial and then VisIt exits. Nothing is drawn. I see no error in the Python interpreter either. The plot works in the VisIt GUI.

[2020-04-28 21:47] biagas commented on #4648
Can you try opening one of the sample files included with the VisIt installation, say \\path\\to\visit 3.1.1\\data\\globe.silo, create  Pseudocolor plot of "u", and add arguments before Launch so that VisIt will create debug logs.

[code]
The generated log files will be in your Documents directory, in a VisIt folder.
If Visit succeeds with this, then try again with your data.
You can attach the zi

[2020-04-28 22:09] fluxlimited commented on #4648
The logs are below. Same thing happens with the sample files. VisIt pops open for a second after selecting serial and then disappears.

[visit_logs.zip](https://github.com/visit-dav/visit/files/4548838/visit_logs.zip)

[2020-04-28 22:11] aowen87 commented on #4652
I believe I was wrong when initially thinking that OSPRay draws over VisIt's native axes box. We have a class called vtkVisItCubeAxesActor which inherits from vtkActor, and it allows us to basically set up our bounding and axes box. We also added the ability to turn on/off the visibility for individual characteristics.

Technically, when SetVisibility is called, it should also affect the individua

[2020-04-28 22:26] biagas commented on #4648
Sorry, but the log files aren't indicating what's going wrong.
Can you try again, but using visit's cli directly instead of importing from python.
Launch a command prompt and  run:
[code]
Then enter the same visit commands as before starting from 'OpenDatabase'.
There should be similar log files as before, with the additions of logs from 'cli' process.

You might want to clear out the old .vlog fi

[2020-04-28 22:41] brugger1 opened #4653 "Create OpenMPI version of VisIt for quartz."
Jose would like a version of VisIt built with OpenMPI on quartz.

[2020-04-28 22:53] fluxlimited commented on #4648
Using the cli directly allows the plot window to stay up and I am able to manipulate it as expected. Logs are below.

[visit_cli_logs.zip](https://github.com/visit-dav/visit/files/4548964/visit_cli_logs.zip)

[2020-04-28 23:47] biagas commented on #4648
So, it's a problem while importing VisIt, not directly the cli.
Are you willing to use VisIt's cli instead of importing to python?

I've tried importing VisIt 3.1.1 into python on two Windows 10 systems: one my normal develop machine (using Python 2.7.14) , and another a non-development machine(with Python 2.7.18 installed). In both cases, I had no problems importing and using VisIt from python.

[2020-04-28 23:52] cyrush opened #4654 "bv_glu -- still needed?"
### Describe the bug

Long ago we used for tessellation support, but we now have built in lib for that (libtess2)

Not sure we need a glu build_visit support any more.

The host config part is commented out, so even if built it wouldn't be used by visit.

[2020-04-29 00:39] fluxlimited commented on #4648
@biagas seems to be something with VS Code and not VisIt. I am running Python 2.7.18 from a conda environment and using VS Code as my IDE. I installed IDLE in the conda environment, ran it from there and it works as expected. Sorry for the runaround. I really appreciate your help.

[2020-04-29 00:43] biagas commented on #4648
You are welcome, glad you found a way to get things working.

[2020-04-29 00:43] #4648 closed, assigned to nobody

[2020-04-29 01:07] markcmiller86 commented on #4653
What is the rationale for this? I mean, how is the version of MPI VisIt is using relevant to an end user? Is it because this user is using the sim interface and that interface needs to play nice with the rest of the app? If so, doesn't that suggest we have multiple *install* targets. One is the turnkey VisIt tool and the other(s) are variations on the sim interfaces that apps link to?

[2020-04-29 13:35] brugger1 commented on #4653
It has to do with using the mpirun associated with OpenMPI, which allows VisIt to run in parallel on a login node.

[2020-04-29 13:39] brugger1 commented on #4654
I believe glu is needed with MesaGL. I'm 99% sure I see it getting built, but Kathleen would know for sure.

[2020-04-29 14:44] bourdin opened #4655 "len_string is no longer part of exodus format"
https://github.com/visit-dav/visit/blob/629922a7ac2219d9f312aacbd2486e5f2a1c99f0/src/databases/Exodus/avtExodusFileFormat.C#L141

I think that "maximum_name_length" is the parameter needed here.

I asked Greg Sjaardema and it looks like len_str is only added when QA records are added to a file and was mistakenly added to files by ex_copy until some point between v 7.08 and v 7.18.
With the current

[2020-04-29 15:07] markcmiller86 commented on #4655
@gsjaardema can you confirm `maximum_name_length` is preferred over `len_string` in inquiring about length of Exodus variable names?

[2020-04-29 15:09] markcmiller86 commented on #4653
Ah, ok, that makes *some* sense. OTOH, do we really want to enable users to do this? Yes, it makes it easier or them to launch parallel engines. But, that means it also makes it possible/easier for them to use VisIt to *abuse* login nodes.

[2020-04-29 15:14] bourdin commented on #4655
my bad, it should be ```len_name```:
[code]

[2020-04-29 15:32] cyrush commented on #4654
ahh, that would explain why host config is commented out

[2020-04-29 16:59] cyrush opened #4657 "add cmake configure time error if python needed but not found"
### Describe the bug
Trying to build w/o python, I didn't have all the options turned off.

Instead of a configure time error, we get a build error:

 cd /private/var/folders/wj/jjhjt_0d3kg1vmk56d5bq_38001kr8/T/harrison37/spack-stage/spack-stage-visit-3.1.1-pai66quozip3qmblp3z2gb3vrkakzmve/spac
              k-src/src/test && PYTHON_EXECUTABLE-NOTFOUND setup.py -v build --build-base=/private/var/f

[2020-04-29 17:02] cyrush commented on #4657
additional info, testing stuff isn't guarded against presence of python

     469      Unknown CMake command "PYTHON_ADD_DISTUTILS_SETUP".
     470
     471

[2020-04-29 17:08] biagas opened #12141 "Error reading exodus data"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hi,

I am running into a problem with the exodusII with new-ish version

[2020-04-29 17:13] biagas commented on #12141
@bourdin
Thanks for the question and for providing sample data files.

VisIt's exodus reader doesn't actually utilize the exodus libraries, but instead uses netcdf libraries (currently version 4.1.1).

I can submit a ticket to update our reader to account for format changes.
Will send you a link when that ticket is created.

Kathleen

[2020-04-29 17:18] bourdin commented on #12141
Hi Kathleen,

Is there a specific reason why the exodus reader does not use the exodus library?
It seems counterproductive to reimplement a full reader, and this specific example shows how it can be a source of incompatibilities.
FWIW, the VTK reader does rely on the official exodus implementation (which does not suffer from the bug I highlighted). Can visit use VTK readers instead of its own?

Re

[2020-04-29 17:22] biagas opened #4658 "Update Exodus reader to handle files generated by newer versions of libraries"
### Describe the bug
@bourdin submitted the attached data files. One is generated with newer versions of exodus library.

I know our Exodus plugin uses netcdf and not exodus libraries, but perhaps the reader can be updated to handle the new version without necessarily updating support libraries?

[Uniaxial.zip](https://github.com/visit-dav/visit/files/4553261/Uniaxial.zip)

[2020-04-29 17:24] biagas commented on #12141
I believe @markcmiller86 would be better able to answer regarding the decision not to use the exodus libraries.

[2020-04-29 17:37] biagas commented on #4658
More information from @bourdin original email:

Both files open OK in visit, but nodal and zonal fields do not display in the variable list in the later one (try Displacement_X at the last step for a non-zero variable).

[2020-04-29 17:44] aowen87 commented on #4355
This issue is not just with shadows. It also exists with the ambient occlusion samples, annotation objects, and probably others.

[2020-04-29 17:57] markcmiller86 commented on #4658
@biagas is probably right. We've opted **not** to use Exodus library to read Exodus data and instead read it directly with netCDF. If something has changed in the way Exodus uses netCDF, then that is likely missing from our plugin and needs updating.

@bourdin ...I won't have time to investigate until early next week because I am at (virtually) a conference. Ok? And, *thanks so much* for the data

[2020-04-29 17:58] biagas commented on #12141
Based on the sample files and your comment regarding missing dimension lines in newer files, I think I can get a fix in for our next release 3.1.2.  Barring any other significant changes in newer files.

[2020-04-29 18:18] biagas commented on #4658
@bourdin  I believe I have been able to fix our reader, based on your sample data.
It simply involves not err'ing out if len_string dim isn't present.
Our current tests/data still work with this change.
I can provide a modified reader for you to test, if you have more complex data that would make the effort worthwhile. You would need to compile it against your installed version of visit (requires

[2020-04-29 18:22] biagas commented on #12141
entered ticket [4658](https://github.com/visit-dav/visit/issues/4658)

[2020-04-29 18:55] bourdin commented on #4658
@markcmiller86 if you can provide me with
a patch or a new version of the reader, I can try to build visit from source until the next release.

[2020-04-29 20:02] #3711 closed, assigned to aowen87

[2020-04-29 20:47] biagas commented on #12141
@bourdin
Here is a zip file with the modified Exodus reader.
[Exodus.zip](https://github.com/visit-dav/live-customer-response/files/4554472/Exodus.zip)

See the [wiki](http://visitusers.org/index.php?title=Building_plugins_using_CMake) that describes how to build the plugin against an installed version of VisIt.

Let me know if you need help building, or if you encounter problems with the new read

[2020-04-29 21:22] bourdin commented on #12141
Thanks for sending the plugin and the instructions. I was able to install it on my machines

Regards,
Blaise

On Apr 29, 2020, at 3:47 PM, Kathleen Biagas <notifications@github.com<mailto:notifications@github.com>> wrote:

@bourdin<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fbourdin&data=02%7C01%7Cbourdin%40lsu.edu%7Cf399d33f27a44ed53dda08d7ec7e83d6%7C2d4dad3f50a

[2020-04-29 23:57] cyrush opened #4664 "seedme doesn't seem to work with python 3"
### Describe the bug

seedme doesn't seem to work with python 3

[code]

Maybe it could be ported - we can ping seedme folks

[2020-04-30 00:37] gsjaardema commented on #4655
`len_name` is the correct dimension.  It will be 33 or greater.  The `maximum_name_length` is an attribute which will be less than `len_name` and is the length of the maximum name used in the database.

Although, the *best* method would be to actually use the Exodus library which takes care of all of this including older models and current models...   There is no guarantee that the internals will

[2020-04-30 12:51] markcmiller86-visit commented on #12137
I have saved session on my machine then send it to another one and restored correctly there. Does anyone have any idea why I get that kind of issue ?
Moreover I can not save a movie in client-server mode. I get the following error:
VisIt could not connect to the new client /usr/local/visit/bin/visit.
My terminal output is the following:

I would like to add that I can produce single image, but not

[2020-04-30 16:10] biagas opened #12142 "VisIt quirks and problems."
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I am using VisIT to process data from the Flash code. I have run across t

[2020-04-30 16:16] biagas commented on #12142
Regarding (1)
If you click 'Make Default' in the Annotation Window before you Save settings, then the changes you made will be there when you restart VisIt.

Regarding (2):
Views in Visit aren't persisted in the Saved settings as you have discovered.  They can be saved via session files, and  can be restored that way.

[2020-04-30 16:23] biagas commented on #12142
Regarding (3):
Was your input vector to the curl expression a 2D vector? If that is the case, the return value is a scalar.
From our documents on the curl expression:
[code]
Documentation can be found in our online [docs](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html#built-in-expressions)

[2020-04-30 16:40] biagas commented on #12142
Regarding (4):
I think more information on the vectors being used to form the dot expression might be helpful.
I haven't been able to duplicate your issue.

Regarding (5):
Would you be able to provide sample data for testing?  Pseudocolor plots should definitely not take so long to render.

[2020-04-30 16:44] markcmiller86-visit commented on #12142
Regarding visit-dav/visit#12095, I did indeed Set Default before Save settings. Everything in Annotations is saved except those particular settings.

Regarding visit-dav/visit#12094, when you are doing lots of plots it is nice to create exactly the View desired. I just keep the View settings on a sticky on the monitor.

On Apr 30, 2020, at 10:16 AM, Kathleen Biagas via visit-users <visit-users@eli

[2020-04-30 17:49] biagas commented on #12142
My bad, you are correct. I am looking into the problem.

There actually is a way to save views in your settings.  If you first save your view before saving your settings.

To save your view, use the camera icon with the blue disk:
![viewtoolbar](https://user-images.githubusercontent.com/17075318/80742287-f87c9900-8acf-11ea-94a3-d842f1fd88b8.png)

Or  the popup view menu accessed by right-clicking

[2020-04-30 18:54] biagas opened #4667 "2D Axis annotation font defaults prevent saving to config"
FontAttributes defaults for font, bold and italic are:
Arial, false,false.

When 2D axes annotation are created, they set their font default for the same settings to:
Courier, true, true

When CreateNode is called (the method that sets up the data written to config files),
the axes font settings are only saved if they differ from the FontAttributes default (because saving to config does not do a '

[2020-04-30 18:55] biagas commented on #12142
For the font saving issue (1), I have created this [ticket](https://github.com/visit-dav/visit/issues/4667)

[2020-04-30 19:40] brugger1 commented on #4667
How about changing the FontAttributes defaults to Courier, true, true and then having Axes2D set its defaults from FontAttributes defaults. This would preserve the current defaults and fix saving.

[2020-04-30 19:45] #4657 closed, assigned to nobody

[2020-04-30 19:46] biagas commented on #4667
Except that would change the behavior of other state objects that also use FontAttributes
(Axes3D annotations, etc).

[2020-04-30 19:48] cyrush commented on #4654
closing, mesagl does built GLU, and installs it into its path. Still needed

[2020-04-30 19:48] #4654 closed, assigned to nobody

[2020-04-30 19:50] brugger1 commented on #4667
I didn’t realize that. Let me ponder some more.

[2020-04-30 19:51] biagas commented on #4667
I'm thinking the 2nd option might be best, at least for 3.1.2, as it doesn't change default appearance of 2d axis annotations, but still allows for saving the settings.

[2020-04-30 22:07] #4652 closed, assigned to aowen87

[2020-04-30 22:19] markcmiller86-visit commented on #12142
(4) The vector problem seems to crop up because I am presently running 2-D sims in Flash.

(5) I am happy to send a data set. It is large. How to proceed?

On Apr 30, 2020, at 10:41 AM, Kathleen Biagas via visit-users <visit-users@elist.ornl.gov<mailto:visit-users@elist.ornl.gov>> wrote:

Regarding (4):
I think more information on the vectors being used to form the dot expression might be helpful.

[2020-04-30 22:36] aowen87 commented on #3485
I've tested out using the vtkInteractorStyleTrackballCamera (the class we inherit from in VisIt) in a VTK script using OSPRay outside of VisIt, and zoom works well. This suggests that the problem probably resides in VisIt rather than VTK/OSPRay.

[2020-04-30 22:52] brugger1 commented on #3485
We do zooming (and panning) differently in VisIt. My guess is that VTK moves the camera closer to the object, whereas in VisIt we enlarge the image we generate. The difference is that the perspective doesn’t change in our zooming.

[2020-04-30 22:55] aowen87 commented on #3485
Hmm... That's good to know. I'll look into this. Thanks!

[2020-05-01 00:08] #4667 closed, assigned to nobody

[2020-05-01 00:50] markcmiller86 opened #4671 "Lets replace FAQ with proper documentation"
Happened to find [this article about the dangers of FAQs](https://thegood.com/insights/faq-pages/).

We have certainly widdled ours down over the years from 20+ items to 9 today. But, I think we should probably just ensure everything in our FAQ is properly documented in our manual and then let the FAQ go.

This is part of my suggestions for the new web site.

[2020-05-01 14:39] brugger1 commented on #4671
Interesting article. I agree, I did a cleanup of it a year or 2 ago and found I could reduce it around 30 to the current 9. Even what is remaining could be moved somewhere else. About half the information is or should be available elsewhere and the rest would be in a proper getting data into VisIt section, which we really should prioritize doing.

[2020-05-01 15:23] rusu24edward opened #12143 "Variables menu becomes unusable"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hello,

When I click the "Variables" button while an image is rendering,

[2020-05-01 15:23] rusu24edward commented on #12143
Hello,

I've faced with the same problem for v.3.1.0 on Linux desktop (Centos 8) remotely connected to Centos 7 server.
As a work-around - in my case it is still possible to change the plotting variable by mouse right button -> Variables -> ...

--
Boris

[2020-05-01 15:24] rusu24edward commented on #12143
Same here for the last several versions of VisIt on CentOS 7.x.

Tomek

[2020-05-01 15:40] rusu24edward commented on #12143
Hi Ed, Boris, and Tomek,

Sorry for your troubles with the variables button. I was able to reproduce this same problem. We [have a ticket](https://github.com/visit-dav/visit/issues/3227) open to fix this issue.

This may work for you as a workaround for now: I was able to horizontally shrink the gui window with the variables control so that the variables icon disappears behind behind a >> dropdown

[2020-05-01 15:42] aowen87 commented on #3485
In avtViewInfo.C, I found the section of code that Eric mentions above. However, it seems someone put an OSPRay conditional in here to zoom differently when OSPRay is enabled (which doesn't seem to be working...).

Here's the code:
[code]

[2020-05-01 15:49] aowen87 commented on #3485
Changing the above conditional to
[code]
results in being able to zoom. However, with zooming enabled, the issues I've been tracking in #4355 are exemplified and become very obvious. That is, it looks like previous renderings hang around until you either hit "Draw" or rotate the camera.

Here is a screenshot of globe right after zooming in and out:
![Screen Shot 2020-05-01 at 8 44 38 AM](https://u

[2020-05-01 15:50] rusu24edward commented on #3227
I was able to reproduce on 3.1 and dev(f58bdc4989). On my mac, the icon actually grays out, while on LC it does not gray out but is still unusable. See [the customer issue](https://github.com/visit-dav/live-customer-response/issues/50) for a silly workaround I found on LC. This does not work on my mac because I cannot shrink the window. Using `ChangeActivePlotsVar()` in the command or cli window w

[2020-05-01 15:53] rusu24edward commented on #12143
If you are unable to use the "shrinking method" I mention above, you can use the `ChangeActivePlotsVar()` in the command or cli window to achieve the same thing. See [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/functions.html#changeactiveplotsvar) for details on this function.

[2020-05-01 17:06] aowen87 commented on #3485
More oddness: when rendering a mesh plot, the zoom now works fine and does not show the "history blur", but the issues I see in #4355 persist... Maybe they aren't as related as I thought.

[2020-05-01 17:20] aowen87 commented on #3485
Even stranger: If I add both a pseudocolor  and mesh plot, the zoom works perfectly fine for both plots.

[2020-05-01 17:27] aowen87 commented on #3485
Filled boundary, vector, subset, contour, truecolor plots (and probably others) all behave like pseudocolor when zooming: strange history blur unless used with the mesh plot.

[2020-05-01 18:14] aowen87 commented on #3485
When generating the mesh plot, we often create an avtDataTree that contains 2 datastes—one for the lines, and one for the polygons. Removing the lines dataset results in the mesh plot behaving the same as pseudocolor and the rest.

[2020-05-01 18:38] brugger1 opened #12144 "Time dependent .visit file for vtk database"
Hi,

Is it possible to read an xml VTK time dependent database into visit using a master ‘.visit’ file?

I have a set of .vtr files for a rectilinear vector field that use the .visit file below, but I get the following error:

Pseudocolor: (InvalidFilesException)
viewer: There was an error opening !TIME 1.5 : could not match extension to a VTK file format type

out.visit

!NBLOCKS 1
!TIME 0.0
vec_

[2020-05-01 18:39] brugger1 commented on #12144
I've been able to replicate your failure. I'm looking into it now.

[2020-05-01 19:04] aowen87 commented on #3485
I've tracked this down to the ghostZoneAndFacelistFilter. When it's used (in avtPlot), the zoom behaves this way. When it's not used, zoom works correctly. I've verified this with the pseudocolor plot by force disabling the filter.

[2020-05-01 20:21] brugger1 opened #4672 "!TIME and !ENSEMBLE keywords not recognized in ".visit" file."
### Describe the bug

The !TIME and !ENSEMBLE keywords are interpreted as file names in ".visit" files. The following ".visit" file will correctly plot the 1st, 3rd, 5th, 7th, etc. time state properly and report that the 2nd, 4th, 6th, etc. time states are not VTK files.

!NBLOCKS 1
!TIME 0.0
visit_ex_db_0000.vts
!TIME 1.0
visit_ex_db_0001.vts
!TIME 2.0
visit_ex_db_0002.vts
!TIME 3.0
visit_ex_db_0

[2020-05-01 20:26] cyrush opened #4673 "more cli docs"
digested user feedback:

Add docs about creating reusable scripts, things like passing args:

* Add docs about  Argv() or (sys.argv)

* Add docs about lineouts and how to save the data to files
(This is a very common ask: This could be a ~tutorial)

[2020-05-01 20:27] brugger1 commented on #12144
I have submitted ticket https://github.com/visit-dav/visit/issues/4672

[2020-05-01 20:51] brugger1 opened #4674 "Times specified in ".visit" file don't override times in the files they reference."
### Describe the bug

I created a ".visit" file for several vts files, specifying !TIME for each time state in the ".visit" file. The vts files had times associated with them and when VisIt displayed the plots it used the times from the vts files and not the ".visit" file. It seems like the ".visit" file should override what is in the individual files. For information on how the vts and ".visit" f

[2020-05-01 21:01] brugger1 commented on #12144
I resolved the issue and submitted pull request #4675. It will be in the 3.1.2 release, which should be out in a week or two.

[2020-05-01 21:03] brugger1 commented on #12139
@teba103 there isn't any text associated with your submission. Can you add some?

[2020-05-01 21:22] brugger1 opened #12145 "Export VTK database."
I am using Visit on my desktop to access files on the LC system. If I wish to “save Window” from the “file” menu, it is saved on my desktop machine. When I wish to export a VTK database, the file apparently does not exist on either my local desktop or on the remote LC system. How can I specify where to export the information?
Many thanks,
Jack

We're trying to [combine `visit-users` email list wit

[2020-05-01 21:26] brugger1 commented on #12145
Hi Jack,

Export database will export the data to the directory you specify for "Directory name" in the window on the remote system. By default it uses ".", which is your home directory on the remote system. You can type the path directly into the text field of a directory that exists on the remote system. Unfortunately, if you click on "..." it will bring up a file browser on your local system, w

[2020-05-01 21:31] brugger1 opened #12146 "SILO Multimeshadj in 2.13.3 and 3.0.2"
Hi,

As I see, the issue I've reported some time ago has been fixed in 3.1.1 release.
So, I've updated VisIt (visit3_1_1.linux-x86_64-centos8.tar.gz, desktop has also been updated from C7 to C8) and performed some experiments with the same data set.
The simple pseudocolor plot for UVelC variable looks correct for both Nodal and Original locations. Than, I've added new scalar variable "dUdy = gradi

[2020-05-01 21:32] brugger1 commented on #12146
Hi Boris,

Our Silo expert off today and will be able to respond in a more meaningful manner than I can.

Eric

[2020-05-01 21:54] brugger1 commented on #12137
Hi Andrzej,

I'm not really sure what is wrong with the restoring of sessions with client/server. Restoring of sessions sometimes doesn't work in rare situations and without detailed information they are hard to track down.

When you are saving movies in client-server mode are both clients Linux?
Can you save a series of image from the movie wizard in client-server (For example, png files)?

I don

[2020-05-01 21:56] aowen87 commented on #3485
Using the pick operator to either highlight a zone or place a glyph in the plot also resolves the blur issues with zooming.

[2020-05-03 10:39] markcmiller86-visit commented on #12137
Terminal output is attachmed. Yes there are both linux OS.

I can not save a movie as series of png's, but I can save one png using 'ctrl+s' key shortcut. Once I try to export it as mpeg, avi, png, jpeg or atnything else I get the following error:
VisIt could not connect to the new client /usr/local/visit/bin/visit.
which is path to visit on my local machine.

Andrzej Makowski

On maj 1 2020, at 1

[2020-05-04 16:01] rusu24edward opened #12147 "Setting xml and binary data options with ExportDBAttributes"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

I am trying to use ExportDBAttributes with the visit cli and pyth

[2020-05-04 16:01] rusu24edward opened #12148 "Consolidating vtk files to single file when converting from samrai"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

I have a parallel simulation which outputs data in SAMRAI format,

[2020-05-04 16:15] #2816 closed, assigned to biagas

[2020-05-04 16:43] cyrush opened #4677 "add cmake option to skip osxfixup"
add cmake option to skip osxfix to support spack builds.

osxfixup has logic that excludes system or compiler libs, since we don't redistribute those during our packaging process. The logic uses well known paths to exclude these libs from rpath fixes.

This doesn't work well for spack, since spack builds out an extensive tree of dependencies, which are not installed in known system locations.

Our

[2020-05-04 16:50] biagas commented on #4658
Resolved by #4661.

[2020-05-04 16:50] #4658 closed, assigned to nobody

[2020-05-04 16:53] biagas commented on #4651
I tried a test by removing the call to convert. A lot of tests failed with the regression suite, so the conversion is still necessary.

[2020-05-04 17:22] cyrush commented on #4677
this is already there, its called FIXUP_OSX, however its not treated with our visit option logic.

[2020-05-04 17:29] rusu24edward commented on #12147
Hi Alex,

You can set the export options in this way:

[code]

[2020-05-04 17:30] rusu24edward commented on #3878
This came up again as an [SRE inquiry](https://github.com/visit-dav/live-customer-response/issues/54)

The recorder should also record the export options and not just the export atts.

[2020-05-04 17:36] rusu24edward opened #4678 "cli docs for export options and improved docs for export atts"
### Describe what needs to be documented.
There is some cli documentation for exporting with export attributes (see [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/attributes.html) and [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/functions.html?highlight=GetExportOptions#exportdatabase)). This documentation could be improve

[2020-05-04 17:37] rusu24edward commented on #3878
Related to #1054 and seems to duplicate #2804

[2020-05-04 17:45] markcmiller86 commented on #4677
While this makes complete sense, I am wondering...does this then mean when/if we reach a point we can build entirely *with* Spack, we will still have to maintain build_visit/masonry, etc. so we can make releases?

[2020-05-04 18:18] cyrush commented on #4677
this is just a statement about near term path forward.

Building our releases from spack isn't impossible, but it is a long ways off.

Given the sanity checks and automation built into masonry + build_visit, still pretty big task to think about transitioning. Masonry might actually help as a way to automate spack, or we could use uberenv.

[2020-05-04 18:31] rusu24edward commented on #12148
Hi Alex,

I am not aware of this capability in visit. Do you have a specific reason for wanting to have a single vtk file instead of the samrai summary file?

[2020-05-04 18:48] rusu24edward opened #12149 "Visit build script fixes"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
The build script for VisIt 3.1.1 is broken for GCC 9.0+ compilers.
The ve

[2020-05-04 18:49] rusu24edward commented on #12149
[visit.sh.zip](https://github.com/visit-dav/live-customer-response/files/4576658/visit.sh.zip)

[2020-05-04 19:01] rusu24edward opened #4680 "External surfaces lost in PC plot when using gradient expression"
### Describe the bug
This follows #4031. The external surface disappears on PC plot of gradient.
This was reported in [this SRE issue](https://github.com/visit-dav/live-customer-response/issues/53)

### To Reproduce

1. Open `data.nv0_step00000.root` (may need to explicitly select Silo reader)
1. Create expression "dUdy = gradient(UVelC)[1]"
1. PC plot `dUdy`
1. The extreme +x surface. It has disa

[2020-05-04 19:02] rusu24edward commented on #12146
Hi Boris,

Thanks for making us aware of this. I've created a [ticket](https://github.com/visit-dav/visit/issues/4680) in our system.

Eddie

[2020-05-04 19:07] markcmiller86-visit commented on #12148
Dear Edward,

I was having problems with getting the data to read as one block (not as a
piece of a decomposed domain) when exported to vtr in some scripts. However
I believe have found workarounds and it seems to be going fine. The other
issue is that it is quite easy to fill the cluster allocation for number of
files if running lots of simulations. This can be mitigated with some
movement, zip f

[2020-05-04 19:17] markcmiller86-visit commented on #12146
Hi Eddie,

Ok, thank you. Will wait for the fix.

--
Boris

On 5/4/20 10:02 PM, Edward Rusu via visit-users wrote:

[2020-05-04 20:57] rusu24edward commented on #12149
Hi William,

Sorry for your troubles with the build script. Thank you for providing this helpful patch. I believe this issue has been resolved in [this commit](https://github.com/visit-dav/visit/pull/4493), which will come with the next Visit release soon.

[2020-05-04 21:39] biagas opened #4681 "Rendering options preferences needs updating."
[Rendering options](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Preferences/Rendering_Options_Window.html)

Discussion of these options on the Basic tab are missing:
- Compositer Settings
- Depth Peeling
- Multi resolution

16.6.1.2, display lists is no longer applicable and should be removed.
The image needs updating.

Discussion of these options on the Advanced t

[2020-05-04 22:10] biagas commented on #12142
Thank you for providing  data. I did observe the slow rendering as you described.

I see that with the small sample you sent, there are 7 refinement levels and 8846 total blocks.
Depending on the number of processors you are using for the engine, I can see this taking a bit of time to read, though I am really not familiar enough with our FLASH reader to speak of its efficiency.

How many processor

[2020-05-04 22:16] markcmiller86-visit commented on #12142
1. The Refinement Levels described in the file name refer to the Refinement levels used in FLASH not VisIT.

2. My usual FLASH refinement is 8 or 9 with commensurate slower renders.

3. As far as I can tell VisIT is using a single processor core and is running in serial. I have a 4 core CPU but do not know how to change the VisIT core allocation.

4. The Rendering options are the default options.

[2020-05-04 22:57] biagas commented on #12142
I believe you can launch visit with '-np x' command argument to launch in parallel, with x being the number of processors desired. (I am not Mac familiar).

As for lineout, if you are using the mouse, VisIt starts with the screen coordinates obtained from the mouse, then uses coordinate conversions and ray-intersection to determine the closest corresponding points in your data.  You can use physic

[2020-05-04 23:28] markcmiller86-visit commented on #12142
Kathleen,

I tried the usual

and the error was “cannot execute binary file”. I can see the binary file. I successfully use the same command with FLASH and other Fortran codes I use.

As for the line out, I do exactly what you say with the mouse and then use the Operator Attributes/Analysis/Lineout to precisely set the start and end points of the line out. This gets to exactly the same settings yo

[2020-05-05 00:04] markcmiller86 opened #4682 "remove visit/docs/UserManual"
We still have the OpenOffice docs from which we began the conversion to Sphinx a few years ago. We should remove these. No reason to keep them lying around.

[2020-05-05 00:05] markcmiller86 commented on #4682
Ditto for `visit/docs/PythonManual`

[2020-05-05 00:36] biagas commented on #12142
Lineout performs on the geometrical data, not the screen rendered image.
It will take into account any modifications made to the geometry, by operators or Subset removals for instance.

[2020-05-05 14:43] rusu24edward opened #12150 "cli commands for serial/parallel prompt"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Good morning,

Is there any Python command to interact with (select and c

[2020-05-05 15:27] rusu24edward commented on #12150
Hi Luis,

I am not aware of a cli command to interact with the prompt. However, you can explicitly request engine resources in your workflow using the [OpenComputeEngine](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/cli_manual/functions.html#opencomputeengine) command. Alternately, you can use [host profiles](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gu

[2020-05-05 15:41] markcmiller86 commented on #12148
Alex, you mention SAMRAI and I am somewhat familiar with that framework's HDF5 output. Typically, it creates a file-per-processor *plus* a *summary* (or sometimes also called a *master* or *root*) file that contains information about all the different mesh pieces and their files.

Depending on the scale at which the SAMRAI-based simulation runs (a few tens of MPI-ranks versus tens of thousands of

[2020-05-05 15:45] brugger1 commented on #12150
Hi Luis,

When you run the cli with a window present and host profiles defined for the machine you are running on, then VisIt will give you the standard prompt allowing you to choose the profile and if parallel, the number of nodes, processors and time limit. If you are running in "nowin" mode then it won't prompt you under the assumption that you don't have a display and can't respond to the prom

[2020-05-05 15:50] markcmiller86-visit commented on #12150
Eric, Edward,

Thanks for your suggestions. I got the behavior I wanted by adding:

    import socket

    hostname = socket.gethostname()

    args = ("-np", "1")

    OpenComputeEngine(hostname, args)

Thank you.

Regards,

Luis Costa

________________________________
From: Eric Brugger via visit-users [visit-users@elist.ornl.gov]
Sent: Tuesday, May 05, 2020 11:45 AM
To: visit-dav/live-customer-

[2020-05-05 15:56] markcmiller86 commented on #12148
Alex, on this issue...

Does your workflow involve *local burst buffers* by any chance? And, is the *allocation* you mention filling related to an *i-node* quota or a total storage quota or something else?

[2020-05-05 15:56] brugger1 commented on #12150
You can get the same behavior with OpenComputeEngine("localhost", ("-np", "1")) if you are running on local machine.

[2020-05-05 16:06] cyrush commented on #12150
You can also use:

[code]

This will use the host profile that matches your host name (assuming it exists).

[2020-05-05 19:47] brugger1 commented on #4567
This was resolved with the addition of the Remote Usage tutorial to the VisIt User Manual. There were a number of commits over a slightly more than a week, with the last ones being #4613, #4614 on April 10, 2020.

[2020-05-05 19:47] #4567 closed, assigned to brugger1

[2020-05-05 19:52] brugger1 commented on #4672
Resolved in #4675, #4679.

[2020-05-05 19:52] #4672 closed, assigned to brugger1

[2020-05-05 23:47] brugger1 opened #4683 "Add host profiles for the new LLNL machine boraxo."
LLNL has a new system on the CZ named boraxo. We should add host profiles for it.

[2020-05-06 04:48] markcmiller86 commented on #4472
Using `blueprint_v0.3.1_test_data/braid_2d_json_examples.root`, I have taken a quick look at the blueprint index.

Below a mesh object, there is a list of objects named `fields`. Expressions basically create new fields from existing fields (on the same mesh as those existing fields). So, we can add an `expressions` node *next to* a `fields` node which is *optional* and if it exists, is a list of e

[2020-05-06 14:35] brugger1 opened #12151 "curve file from lineout in CLI"
Good morning,

I am trying to output a curve file from a lineout using the CLI on VisIt 3.1.1 for Windows. I do not seem to be producing a curve file with the code snippet below.  It is not clear to me from the CLI manual how to accomplish this.

    AddPlot("Pseudocolor","p")
    DrawPlots()
    s = SaveWindowAttributes()
    s.format = s.CURVE
    s.fileName = workdir+"\\mycurvefile"
    SetSave

[2020-05-06 14:37] brugger1 commented on #12151
Hi Luis,

The curve from the Lineout goes to a new window, which assuming you have only 1 window would be window 2. You will need to change the active window to window 2 before saving the curve. You can replace

SetActivePlots(1)

with

SetActiveWindow(2)

since the save window will save all the curves in the active window.

Eric

[2020-05-06 14:57] markcmiller86-visit commented on #12151
Eric,

Thanks. That works.

Do you know how to get VisIt to run without opening or drawing any windows purely in a python module, i.e. python -m myscript.py, and not using visit -cli -nowin?

Regards,

Luis Costa

________________________________
From: Eric Brugger via visit-users [visit-users@elist.ornl.gov]
Sent: Wednesday, May 06, 2020 10:40 AM
To: visit-dav/live-customer-response
Cc: Eric Brug

[2020-05-06 15:07] markcmiller86-visit commented on #12151
Eric,

Sorry. Figured it out.

AddArgument("-nowin")

Regards,

Luis Costa

________________________________
From: Costa, Luis CIV USARMY CCDC AC (USA)
Sent: Wednesday, May 06, 2020 10:56 AM
To: visit-dav/live-customer-response; VisIt software users community; visit-dav/live-customer-response
Cc: Eric Brugger; Subscribed
Subject: RE: [Non-DoD Source] [visit-users] [EXTERNAL] Re: [visit-dav/live-cu

[2020-05-06 15:58] markcmiller86 opened #4686 "Mixed centering expression crashes engine"
1. Open `globe.silo`
1. Define **Vector** expression `vec` as `{dx, u, u}`
1. **Vector** plot `vec`

The engine crashes.

Am seeing this on 3.1RC. I've looked at only on my mac so don't know if it is specific to OSX or not.

[2020-05-06 16:06] brugger1 opened #4688 "Create a path class in VisIt to handle path strings internally always as unix-style"
### Describe the bug

I tried to open a file on Windows and the obvious failed and I had to replace all the slashes with double slashes. This seems really unintuitive. Here is what I tried.

![command](https://user-images.githubusercontent.com/1102718/81200373-ba242580-8f78-11ea-988e-d22590c5741a.png)

### Desktop
 - OS and version: Windows
 - VisIt Version: 3.1.1

[2020-05-06 16:22] biagas commented on #4688
This is the case for most everything we do with paths via python on Windows.

[2020-05-06 16:26] markcmiller86 commented on #4688
I believe Python itself has best practices and modules for dealing with this in an OS/file system agnostic sort of way.

Can we maybe either define/document a *best practice* in the use of *existing* python modules to deal with file system paths in an OS agnostic way or maybe create a *path utility* python function that allows VisIt python code to be easily (maybe more easily than using existing p

[2020-05-06 16:31] #4359 closed, assigned to rusu24edward

[2020-05-06 16:47] brugger1 commented on #4688
It just seems like there are a lot of gotchas to using VisIt on Windows and this is another example that we should try to make better, or at a minimum document. Even when using the GUI this type of stuff sometimes leaks in because we are using Python under the covers.

[2020-05-06 16:51] markcmiller86 commented on #4688
FWIW...I think these are less specific to VisIt and more related to Python and OS portability in Python itself.

IMHO, this is a *common issue* in Python. So much so, Python does have modules and best practices for handling it. For example, use the `os.path` module. But, if one is not accustomed to using those modules in their python code to handle strings related to file system paths, it is a bit

[2020-05-06 16:54] markcmiller86 commented on #4688
I guess its concievable we could add logic wherever a user passes a string representing a path to a VisIt CLI function to *do the right thing* with that string in terms of interpreting things like `C:` and slash characters.  I dunno how involved that would be and how good a result we could achieve doing that.

In the VisIt test suite, we handle this the *pythonic* way (well, @cyrush did when he ov

[2020-05-06 17:31] brugger1 commented on #4688
Yes, that might be a good idea.

Another thing about my specific use case, I thought I was using the windows path separator and since the path was quoted, spaces should be ok.

Using os.path.join() would probably also have done it, but seems harder than it should be.

[2020-05-06 18:05] biagas commented on #4688
Problem with Windows-style separators are the fact that they are escape characters, hence the need to use '\\\\' in strings.

Python 3 has [pathlib](https://docs.python.org/3/library/pathlib.html?highlight=path#module-pathlib) which should be helpful.

Overall, I think VisIt should also use some sort of Path class so that handling filenames/paths and os-specific conversions can all happen in one p

[2020-05-06 18:21] markcmiller86 commented on #4688
As long as Windows users can write paths *naturally* for their world and Unix users for their world...I think this makes sense.

That said, I think there are basic problems for Windows case to be *natural*...

[code]

In the first case, one of the backslashes is interpreted as an escape character on `a`. In the second case, all backslashes are interperted as backslash characters. So, without creat

[2020-05-06 19:08] cyrush commented on #4688
Do python raw strings help:

`f=r"This\is\a\path"`

?

[2020-05-06 19:10] markcmiller86 commented on #4688
Oh, good idea...and yes they do...

[code]

And, BTW...I neglected to mention the bad behavior (e.g. without *raw* string) occurs in both Python 2 and Python 3. But, the raw string works in both.

[2020-05-06 21:16] biagas commented on #12142
Can you provide a reproducer for (4) where dot expression yields an error?

[2020-05-06 21:25] markcmiller86-visit commented on #12142
Dear Kathleen,

Here are my working expressions.

[cid:3E24A906-8140-467E-80D9-D9DBF59E5B85@hsd1.nm.comcast.net.]

You’ll notice that I added a “,2" after the two vectors, vel & vort. This works. If you take the 2 out the expression breaks. It then gives the error that helicity with type scalar should be a vector. Breaks.

Rick

On May 6, 2020, at 3:16 PM, Kathleen Biagas via visit-users <visit-us

[2020-05-06 21:31] biagas commented on #12142
How are vel and vort defined?

[2020-05-06 21:33] #4683 closed, assigned to brugger1

[2020-05-06 21:43] markcmiller86-visit commented on #12142
vel = velx (the velocity field in the x direction)
vort = curl (vel)

[cid:EFFAC460-A454-41BE-8945-EBBC1B11CE01@hsd1.nm.comcast.net.]

[cid:073AA01C-E0C3-439E-9070-416714477B82@hsd1.nm.comcast.net.]

On May 6, 2020, at 3:31 PM, Kathleen Biagas via visit-users <visit-users@elist.ornl.gov<mailto:visit-users@elist.ornl.gov>> wrote:

How are vel and vort defined?

—
You are receiving this because you

[2020-05-06 21:45] #4559 closed, assigned to rusu24edward

[2020-05-06 22:01] rusu24edward commented on #3395
One of the items on this list is the `neighbor` function, which I cannot get to work. The [documentation for it](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Expressions.html?highlight=neighbor#mesh-quality-expressions) doesn't really show anything. The [verdict manual](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/_downloads/26b49f6

[2020-05-06 22:19] rusu24edward opened #4697 "Smarter cmake reconfigure trigger"
### Is your feature request related to a problem?
If you only changes source code, then running make will not trigger the reconfiguration. If you also modify a CMakeLists.txt file, then running make will trigger a full configuration and build. Most of the time, this is what should happen, but sometimes it "false triggers" when the CMakeLists.txt have been changed due to switching branches. For exa

[2020-05-06 22:20] markcmiller86 commented on #3395
So, be aware that over time, there have probably been a few functions *added* to the *mesh quality* expressions menu that were not/are not part of Verdict. I know for sure the `face_planarity` and `relative_face_planarity` I added to (heurstically) measure how *planar* hexahedral faces are. This was quick-n-dirty and non-rigorous but helpful in dealing some datasets.

I looked at `neighbor` code a

[2020-05-06 22:23] rusu24edward commented on #3395
Ah, I see. So that's why it is not in the manual.

[2020-05-06 22:49] biagas commented on #4697
It appears to me that 'git checkout' modifies timestamps on files. IIRC cmake triggers off mod times on CMakeLists.txt to know if it should reconfigure.

[2020-05-06 23:09] biagas commented on #4697
Might want to look into setting CMAKE_SUPPRESS_REGENERATION to true for your builds. It means you would have to manually call cmake to reconfigure when you change CMakeLists.txt files, but would prevent reconfigure when you switch between checked out branches. Probably wouldn't prevent recompiling everything, since I think that is determined by file timestamps, too.

[2020-05-07 01:01] markcmiller86 commented on #4697
@biagas thanks for that tip!

[2020-05-07 01:31] markcmiller86 opened #4701 "Refactor auto-expression generation to expression system"
### Is your feature request related to a problem?
We have a lot of logic in `avtDatabase.C` to define convenient expressions (time-derivatives, vector magnitudes, mesh quality). But, that means we have some funky coding such as `avtDatabase.C` hard-coded with the names of mesh-quality expressions.

We should refactor this logic back to the expression system. Each expression can be enhanced to know

[2020-05-07 01:32] markcmiller86 opened #4702 "Define a time-derivative expression helper for the expression system"
VisIt's database sub-system has logic to automagically define *time-derivative* expressions for all database variables here...

https://github.com/visit-dav/visit/blob/faf9258271cf144fc73a8813d0a2fbca5cb089a7/src/avt/Database/Database/avtDatabase.C#L1591

But, that means the expression system itself really has no concept of a time-derivative. We do not have an expression function to, given a varia

[2020-05-07 01:33] markcmiller86 commented on #4697
What about defaulting to `CMAKE_SUPPRESS_REGENERATION` true for development builds?

[2020-05-07 02:28] markcmiller86 commented on #4686
This appears to be related to my config file, [config.gz](https://github.com/visit-dav/visit/files/4590364/config.gz). With `-noconfig`, the issue does not occur

[2020-05-07 02:31] markcmiller86 opened #4703 "Serial launched as engine_par with mpiexec -n 1"
This is somehow related to config file, [config.gz](https://github.com/visit-dav/visit/files/4590371/config.gz), the same config file causing #4686 becuase with `-noconfig` it does not occur.

But, on the 31RC on my OSX system, if I select a *serial* engine, it instead launches a parallel engine as `mpiexec -np 1`. With `-noconfig`, I get normal/expected behavior.

[2020-05-07 15:08] biagas commented on #4697
I think defaulting it might surprise collaborators, and they wouldn't necessarily know what happened to their automatic reconfigure.

It can always be added to your own config-site file, then it becomes your default without affecting someone else's preferences.

Might need a newer CMake, as support for Makefiles was only added a couple years ago.

[2020-05-07 15:34] rusu24edward opened #12152 "Artifact in visualization"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
I have encountered some issue with VisIt.
After I produced a VTU file, wh

[2020-05-07 15:35] rusu24edward commented on #12152
![Unknown](https://user-images.githubusercontent.com/18565891/81314252-bf977380-903d-11ea-9b31-6e44b0010b84.png)

[2020-05-07 15:40] rusu24edward opened #12153 "Compiling 3.1.1 git request error"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Hello,

1) On misc systems (Raspberry Pi Ubuntu Mate 18.04, CentOS 7.8, U

[2020-05-07 15:41] cyrush commented on #4697
I agree with @biagas, I am pretty sure I would get tripped up by this if it was the default.

I think its good to document the option and also tell folks buyer beware.

I appreciate that reconfigure can take a while, but I also know that cmake is much better than me at tracking when to trigger reconfigure. Also even between branches subtle changes can cause compile errors.  I don't trust myself :-

[2020-05-07 15:45] rusu24edward commented on #12152
Hi Chang,

Can you please provide me with the .vtu files? I would like to get a better understanding of this issue by reproducing it with the rotations you mention.

Thanks,
Eddie

[2020-05-07 15:52] biagas commented on #12142
The dot expression is failing, due to 'curl' being used in the expression for 'vort'. Because your data has topological dimension of 2, the curl expression is actually creating a scalar variable, not a vector variable.

You can work around this limitation with curl by defining vort as:
[code]
Which is what VisIt is doing when curl is used for data with topological dimension of 3.

[2020-05-07 16:05] rusu24edward commented on #12153
(1) It looks like `git clone` failed in the build script. We have encountered this before in [this ticket](https://github.com/visit-dav/visit/issues/3991). Please try Eric's suggestion [here](https://github.com/visit-dav/visit/issues/3991#issuecomment-551241827) and let me know if that works for you.

[2020-05-07 16:20] rusu24edward commented on #12153
(2) Sorry to hear that you are still having issues with << Set Save Options >> missing in the menu. This was resolved [here](https://github.com/visit-dav/visit/issues/3317) and released with Visit 3.0.1. Can you confirm for me that you are still seeing this issue on a version of visit >= 3.0.1?

Regarding the session files, can you please provide me with an example file?

[2020-05-07 16:25] #3395 closed, assigned to rusu24edward

[2020-05-07 17:46] biagas opened #4707 "Add VisItExpressions to VTK writer options"
I just noticed that VisItExpressions are now being written to VTK files.
I would like this to be made a DBOption so that it can be turned off.

[2020-05-07 20:38] griffin28 commented on #4305
A couple of issues and a work-around for dark mode on macOS.

Work-around:
To ignore dark mode and have VisIt always render in normal (light) mode update your Info.plist for the gui and viewer with the key and string below. I’ve tested this and it works.
[code]

[code]
This will eliminate the need to switch between light and dark mode

Issues:
There’s no way to determine when the user is switching

[2020-05-07 21:12] markcmiller86 commented on #4305
@griffin28 great work hunting this down! Am wondering...it seems like the above guidance seems like it will need to be in force for a *while*. Do we have a way to handle documentation things like this in VisIt? Any ideas how best to proceed?

[2020-05-07 21:19] griffin28 commented on #4305
This is a good question @markcmiller86 . What complicates things even more is that the documentation would only apply to a subset of our users. One thought was to have a note on our downloads page, in the row with the DMG links, stating that it doesn't support dark mode.

[2020-05-07 21:21] rusu24edward opened #12154 "Example of diplaying vectors with reading in U and V vector data from ocean models"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---
Visit,

Looking for examples  of reading in and displaying vector data. W

[2020-05-07 21:45] rusu24edward commented on #12154
Hi Peter,

Sorry for your trouble with reading vectors out of netcdf files. If possible can you share your data files with me so I can explore them in more detail?

For the time being, you can define a vector expression for the components being read as scalars. See image below for an example:
![Screen Shot 2020-05-07 at 2 43 28 PM](https://user-images.githubusercontent.com/18565891/81347552-3e59d4

[2020-05-07 22:48] markcmiller86 commented on #4305
You mean only OSX users or only macOS running 10.14? That is fine. We already deal with this to some extent in our manual though we could devise a better strategy.

I am just wondering *where* is best place to host key documentation content like this that is likely to change in near future and isn't really best hosted in our *manuals*.

[2020-05-07 23:03] cyrush commented on #4305
seems like more fuel to move our FAQ into our manuals?

[2020-05-08 01:31] ax3l opened #4710 "macOS GUI Issues"
Hi,

we did a little in-group tutorial session today and encountered a few problems with macOS and Linux users that we would like to summarize here. We all used the pre-compiled binaries for VisIt 3.1.1 from the LLNL homepage and the issues are all GUI specific.

### [1] General Host Config Import Issue (1)

Linux and OSX: After importing host setups via "Options -> Host profiles and Configuration

[2020-05-08 02:47] cyrush commented on #4710
thanks for the report @ax3l !

[2020-05-08 02:53] cyrush commented on #4710
FYI: 3.1.2 will have a work around for the dark mode issue:
https://github.com/visit-dav/visit/pull/4708

A better final solution will require us to update Qt, which we will do in a future release.

[2020-05-08 04:22] RemiLehe commented on #4710
Regarding issue number 3 (Local File Browser Blocked), this was indeed on OSX 10.15. @LDAmorim pointed out to me that there is in fact already an issue for this: #4069

[2020-05-08 05:25] cyrush commented on #4710
@RemiLehe thanks for linking to the existing issue/discussion!

[2020-05-08 15:37] cyrush commented on #4634
resolved in PR #4668  for 3.1.2

[2020-05-08 15:37] #4634 closed, assigned to cyrush

[2020-05-08 16:49] markcmiller86 commented on #4305
Another example of this kind of documentation is the [Indirect GLX Rendering issue](https://www.visitusers.org/index.php?title=Re-enabling_INdirect_glx_on_your_X_server).

Well, since our *manual* content goes *live* on a timescale that we can easily coordinate with VisIt releases, there is an argument to be made for putting this kind of *transient* content even in our *manuals*.

The thinking cap

[2020-05-08 16:59] cyrush commented on #4305
Q: Are we also thinking about moving release notes to the manual?

[2020-05-08 17:30] markcmiller86 commented on #4305
Depends on what we mean by "move".

1. Manual should definitely include them, somehow.
2. I find markdown easier than html (obviously) and even reStructuredText (rst) for composing release notes which means they maybe would *not* go into `src/docs` per se but stay where they are (or thereabouts) `src/resources/help/en_us`.
3. An example of markdown (and rendered) release notes on new site is [here

[2020-05-08 18:21] markcmiller86 commented on #12124
@aowen87 did you find a resolution here?

[2020-05-08 18:26] aowen87 commented on #12124
@markcmiller86 As a workaround, I created a python script that reset the view after each cycle update, and I saved out all of the frames to manually create a movie. It's a bit cumbersome, but it works.

[2020-05-08 20:23] markcmiller86 opened #4711 "Maintain view limits based on actual extents not honored"
This issue was triggered by [this SRE issue](https://github.com/visit-dav/live-customer-response/issues/31#issuecomment-625952721)

I modified `wave.C` ([attached](https://github.com/visit-dav/visit/files/4601350/wave.C.gz)) to accept a new CL arg, `-scale <double>`.

1. Run the attached `./wave -scale 0.75`
1. Open `wave_tv.visit`
1. Plot `quadmesh`
1. Move forward in time and confirm mesh shrink

[2020-05-08 20:24] markcmiller86 commented on #4711
When this work is completed, the new `wave.C` here should be commited with the fix too and the `silo_pdb_data.tar.7z` and `silo_hdf5_data.tar.7z` files should be updated to contain the new `wave_tv.visit` a run of `./wave -scale 0.75` produces.

[2020-05-08 23:38] cyrush commented on #3878
Another issue: recoding includes the opts help, which is html and may break python string containment:

`ExportDBAtts.opts.help = "<p><b>Driver</b>:<ul><li>PDB: Silo library will create a PDB file.</li><li>HDF5: Silo library will create an HDF5 file.</li></ul><p><b>Checksums</b>:<ul><li>Valid only for HDF5 files.</li><li>Enables HDF5's Fletcher32 checksum filter.</li></ul><p><b>DBSetCompression()<

[2020-05-09 00:09] cyrush commented on #3878
Update: I have path forward + solution on this for the 3.1.2 release. Needs some cleanup --
I expect to get to it this weekend or Monday.

[2020-05-09 00:37] biagas opened #4712 "Alternate default volume renderer for unstructured grids."
The default volume renderer has this option: Sample data onto regular grid.
Makes me think that unstructured grids won't be resampled if I turn that option off, but that isn't true.

There is a vtk class: vtkUnstructuredGridVolumeRayCastMapper that doesn't require resampling.
It does however, require tetrahedralizing (vtkDataSetTriangleFilter can do this).

Have we ever considered using this class

[2020-05-09 00:40] changliao1025 commented on #12152
I have identified that this artifact was caused by the mesh distance being too close.
I increased the distance slightly and the artifact is gone.
Thanks.

[2020-05-09 07:22] markcmiller86-visit commented on #12153
Hello Edward,

This happens on Mac when I run visit from a terminal (where I am in French), not from Menu/Apps/VisiT where I’m in English.
On Linux it does not happen, even in French.
All tests are in 3.1.1.

Included is the session file: load curve3d.silo, draw Pseudocolor, save session and quit.

[visitcurv3d.session.gz](https://github.com/visit-dav/live-customer-response/files/4603006/visitcurv

[2020-05-09 19:06] markcmiller86-visit commented on #12153
Hello Edward,

Yes indeed it worked fine : I completely restarted VisIt compilation and went through (at least on Linux Ubuntu 18,04 x86_64).

Cheers,

Olivier Cessenat.

[2020-05-11 11:50] markcmiller86-visit commented on #12154
Edward,

The link didn't work:

https://wci.llnl.gov/simulation/computer-codes/visit/FAQ.html

This one worked:

https://wci.llnl.gov/simulation/computer-codes/visit/faqs

I will work on reading the FAQs.

Thank you,

Peter.

Peter Flynn (N51) Regional Modeling Division
Fleet Numerical Meteorology and Oceanography Center (FNMOC)
1002 Balch Blvd., Stennis Space Center, MS 39522
(228) 688-6125 (DSN

[2020-05-11 12:02] markcmiller86-visit commented on #12154
Edward,

I will try this today.

Thank you,

Peter.

Peter Flynn (N51) Regional Modeling Division
Fleet Numerical Meteorology and Oceanography Center (FNMOC)
1002 Balch Blvd., Stennis Space Center, MS 39522
(228) 688-6125 (DSN 828-) peter.m.flynn@navy.mil<https://b8b17ec8-ad06-44c8-b0d1-54f3ad2ef661/?REDIRECT=x-owacid2://0D4B0000/jmp:https://cas-chrl.nadsusea.nads.navy.mil/owa/redir.aspx?C=TwZscrW

[2020-05-11 14:46] brugger1 commented on #4305
Having a section titled release notes would be an obvious location. They are currently linked to from the releases down load page on the VisIt web site, the releases page on GitHub, the releases archive from the VisIt web site, and the what's new page on the VisIt web site.

[2020-05-11 15:09] rusu24edward commented on #3317
@brugger1 Oliver indicates in [this SRE issue](https://github.com/visit-dav/live-customer-response/issues/60#issuecomment-626121057) that he is still having issues with the menu in French, even when running 3.1.1.

[2020-05-11 15:11] rusu24edward commented on #12153
Hi Oliver,

Glad that the compilation has worked for you! I'm sorry to hear about the menu bug still not being fixed. I will make a note of this in our issue tracker so we can investigate a solution.

[2020-05-11 15:25] markcmiller86-visit commented on #12142
I’m getting a lot of emails of this kind for which I haven’t commented anything...

Sent from my iPhone

[2020-05-11 15:30] mclarsen commented on #12142
Maybe it is just a bad "message". You are subscribed so I think  you should be getting the emails. That said, the message I received was different:

'''
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
'''

[2020-05-11 15:30] markcmiller86-visit commented on #12142
Hello Bradley,

Apologies for any surprises here.

Since you've mentioned it, I will take this opportunity to re-send the following email...

Hello VisIt users (subscribers to visit-users@ornl.gov<mailto:visit-users@ornl.gov>)

You may have noticed the VisIt project has made some adjustments in our development processes<https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/dev_manual/S

[2020-05-11 15:34] markcmiller86-visit commented on #12154
Edward,

The vectors are showing.

I am working on scalar for magnitude next.

You can close the ticket.

Thank you,

Peter.

Peter Flynn (N51) Regional Modeling Division
Fleet Numerical Meteorology and Oceanography Center (FNMOC)
1002 Balch Blvd., Stennis Space Center, MS 39522
(228) 688-6125 (DSN 828-) peter.m.flynn@navy.mil<https://b8b17ec8-ad06-44c8-b0d1-54f3ad2ef661/?REDIRECT=x-owacid2://0D4B

[2020-05-11 16:18] brugger1 commented on #4305
Since a lot of people will most likely be running into this, I think making it as obvious as possible to minimize user frustration and support calls. Putting it at the top of the release page for 3.1.2 or next to the Mac download would probably accomplish that.

[2020-05-11 17:17] brugger1 opened #12155 "Question about VisIt"
Hello!

I am new to VisIt and am now in need of some scientific visualization.

I am mainly a Matlab user and can only write simple vtk files for VisIt to do 3D rendering and plot some vector fields.

Currently I want to visualize the pathlines of some particles (the x-y-z coordinates of the pathlines of these particles are already calculated in Matlab). So how can I transfer the pathlines from Ma

[2020-05-11 17:29] brugger1 commented on #12155
Hi Xinan,

Can you be more specific about what you mean that it cannot plot anything? Did nothing show up in the menu after "integral curves" or did you create the plot and you didn't get any output?

I have attached an example VTK file with 8 streamlines if you would like to output your streamlines from Matlab using VTK (you should change the extension from "txt" to "vtk". GitHub doesn't support

[2020-05-11 17:35] brugger1 opened #12156 "Extracting number of interconnected domains"
Hello I have a scalar variable ("n") defined in an adaptive mesh (shown below). This variable varies between 0 and 1.

I would like to be able to use VisIt to count the number of interconnected regions where, n>0.5 via a query or some other method. For example, in the figure attached, that would be the number of red regions (3 in this case).

I tried to do this by using a single-value contour plot

[2020-05-11 17:46] brugger1 commented on #12156
Hi David,

I notice that from the name of the file, that it is a vtu file. Assuming it's an collection of quads, then based on the image, my guess is that the cells are not connected and there are hanging nodes where there are changes in resolution. The connected components filter needs the cells to be connected. I don't have any good suggestions on how to proceed other than possibly to store the

[2020-05-11 17:58] markcmiller86-visit commented on #12156
Thank you, Eric

I think I understand. Could the resample operator help with connecting
between cells?

David

On Mon, May 11, 2020, 1:51 PM Eric Brugger via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-05-11 18:00] brugger1 commented on #12156
Hi David,

Yes, resampling would definitely get things to work.

Eric

[2020-05-11 18:03] brugger1 opened #12157 "Troubles launching parallel visit remotly"
Dear all,

I’m having troubles when I try to start a parallel engine on a remote machine from my own computer. Here are a few details :

LOCAL MACHINE :
Mac OS X Catalina, Visit 3.1.2 installed and working fine (parallel build compiled by myself following advices from Gunther a while ago).

REMOTE MACHINE :
CentOS Linux release 7.7.1908, Visit 3.1.2 installed and working fine (same method I follow

[2020-05-11 18:17] brugger1 commented on #12157
Hi Cyril,

I can see a couple of solutions to solving this problem.

The first is to copy "libvtksys-8.1.so.1" to "/path/to/visit/3.1.2/lib" where "/path/to/visit" is the path to the directory that contains the VisIt installation.

The second is to create a "customlauncher" and install it in "/path/to/visit/3.1.2/bin", where the customlauncher contains code to set the LD_LIBRARY_PATH that contains

[2020-05-11 18:24] markcmiller86-visit commented on #12157
Hi Eric,

I'll get a try with both your options. I installed visit as followed :

1. git clone -b 3.1RC git@github.com:visit-dav/visit.git

2. Possibly export the following environment variable :
   export LD_LIBRARY_PATH="/home/evol/georgy/MySofts/VisIt3.1.1/third_party/openssl/1.1.1g/linux-x86_64_gcc-4.8/lib/:"$LD_LIBRARY_PATH

3. ./visit/src/tools/dev/scripts/build_visit --no-visit --openssl  -

[2020-05-11 18:51] cyrush commented on #12156
yes, things have to be topologically connected with in a domain, but the do not need to be across domains.  @brugger1 do you think a merge operator could help? Never had much luck, but it seems like it would be helpful for this type of scenario .

[2020-05-11 19:36] brugger1 commented on #12156
That’s an interesting idea. Do you know if it would handle the T junctions when there are changes in resolution?

[2020-05-11 19:42] brugger1 commented on #12157
Hi Cyril,

I would start modify things slightly starting with your last step.

8. make package
9. ../src/tools/dev/scripts/visit-install 3.1.2 linux-x86_64 /path/to/install/visit

You would then modify the host profile you have already created to set the "Path to VisIt installation" to "/path/to/install/visit"

Hopefully, everything will just work at that point.

Eric

[2020-05-11 20:08] markcmiller86-visit commented on #12156
Thank you, I will try some of your suggestions.

David

On Mon, May 11, 2020, 3:36 PM Eric Brugger via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-05-11 20:33] cyrush commented on #12156
@brugger1, hmm, hadn't thought of that. If duplicated points are removed and the topology is defined in terms of the new points,  it merging could still work.  You only need one shared point between cells in topology.

We could also implement a more expensive local search that doesn't assume connected topology, but that wouldn't work out of the box (would need code changes)

[2020-05-11 22:04] markcmiller86-visit commented on #12156
It may not be the optimal solution but I managed to do what I wanted by
applying a resample operator and then an isovolume operator to a
pseudocolor plot.

Thank you all for your input.

David

On Mon, May 11, 2020 at 4:33 PM Cyrus Harrison via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-05-11 22:17] brugger1 commented on #12156
Glad you got it to work. Thanks for closing the loop.

[2020-05-12 10:52] markcmiller86-visit commented on #12157
Hi Eric,

thanks for your prompt answer.
I tried what you've written :

and it seems that the process worked well. In my local machine, I've changed the path to the visit installation accordingly, and it points now to a directory where I find the following directories :
3.1.2  bin  current  data

I tried launching a parallel engine remotely from my local machine. First, I have to keep the --export

[2020-05-12 13:22] brugger1 commented on #12157
My guess is the environment variables aren't getting exported to the batch job. Can you try adding something along the lines of "export=LIBPATH" and "export=LD_LIBRARY_PATH". I'm not sure on the exact syntax for that, so I don't know if you can specify multiple export options or have somehow combine them into a single command.

[2020-05-12 13:38] markcmiller86-visit commented on #12157
Hi Eric,

yeah, I should have guessed this one by myself.
I guess that if when plotting the "procID" of my mesh, I get the right number of different blocks, means that everything is going well (see attached plot) ?

Thanks a lot for your help !

Cheers,

Cyril

<img width="1106" alt="visit_support_image" src="https://user-images.githubusercontent.com/1102718/81703130-09f36880-9421-11ea-90cd-14e07a

[2020-05-12 14:22] brugger1 commented on #12157
Yes, based on that plot, everything is working properly.

Eric

[2020-05-12 14:48] brugger1 commented on #4638
Resolved on 3.1RC and develop with commits #4718, #4719.

[2020-05-12 14:48] #4638 closed, assigned to brugger1

[2020-05-12 18:29] markcmiller86 commented on #4472
Resolved in #4684

[2020-05-12 18:29] #4472 closed, assigned to cyrush, markcmiller86

[2020-05-12 18:54] cyrush opened #4724 "xmltools: xml2python doesn't support adding header includes"
### Describe the bug

you can add includes to generated source, but for the headers they are ignored.

[2020-05-12 22:15] cyrush opened #4727 "add docs about building with spack"
### Describe what needs to be documented.

recommendation invocations and what is not supported

[2020-05-12 22:39] cyrush commented on #3878
New Examples:

w/o opts:
[code]

with opts:
[code]

[2020-05-12 23:01] markcmiller86 opened #4728 "Should actual spatial extents view tracking be the default (for time step changes)"
This is related to #4711

A key question is why VisIt's *gets it right* by default when the spatial extents *enlarge* with time but not so when spatial extents *shrink* with time.

Having spatial extents tied to *actual* data might be seen as a solution to this. Howeveer, *actual* extents can vary for many reasons including SIL selections, **Operators**, etc. Users would be surprised if VisIt defa

[2020-05-13 00:05] cyrush commented on #3878
Closing, I merged a fix for 3.1RC in #4725 , PR in progress for develop.

[2020-05-13 00:05] #3878 closed, assigned to cyrush

[2020-05-13 14:01] brugger1 opened #12158 "Problem in saving a movie"
Dear all,

I am trying to save a movie. The last stage of the saving process ends with the "CLI launch process" (see screenshot.png attached) which goes on in a loop, without an end. Eventually it doesn't save the movie.

Why do you think this happens?

Thank you.

Kind regards,
Silvia

![screenshot](https://user-images.githubusercontent.com/1102718/81822073-83ee2500-94e7-11ea-9a25-e8a2c770625e.pn

[2020-05-13 14:08] brugger1 commented on #12158
Hi Silvia,

When VisIt creates a movie it uses the Python interpreter (CLI). It does that launching a terminal window. That is apparently failing. On Windows this is a command window and on Mac and Linux I believe it is an xterm. I believe we have had users encounter the situation on Mac systems where they do not have an xterm installed. The solution is to install xterm.

Eric

[2020-05-13 15:06] brugger1 opened #12159 "Gui fails at startup in libQtGui.so.4.8.7 CentOS 7.8"
Good morning,

I'm compiling VisIt for CentOS7, with or without --system-qt I get an error when running the gui. In server mode it works fine. Here is what I
did:

build_visit3_1_1 --mesagl --llvm --fortran --szip --zlib --silo --silex --netcdf --h5part --hdf5 --boxlib --cgns --java --python --openssl --console --parallel

./visit-install 3.1.1 linux-x86_64 /opt/visitbis

/opt/visitbis/bin/visit

[2020-05-13 19:36] markcmiller86 opened #4735 "Should we tag new, non-native baselines?"
This is motivated by #4734 where yet again, a non-native test baseline image needed to be rebaslined.

We can use Imagemagick's `convert` method (which is available for all platforms) to manipulate png metadata. For example...

[code]

This provides a means for us to _tag_ baseline images in a way that we can know whether an image is *native* (e.g. produced on the same configuration where the test

[2020-05-14 02:35] brugger1 commented on #12158
Hi Eric,

I am on a Linux machine and installing xterm solved the problem.

Thank you.

Kind regards,

Silvia

[2020-05-14 02:36] brugger1 commented on #12158
Hi Silvia,

Great! Happy to help.

Eric

[2020-05-14 04:42] markcmiller86 opened #4736 "Outward facing SRE processes for users"
We have detailed docs on our SRE processes. But, those are written for *developers*.

We need a brief/summary of the key parts tor *users* to put in the user's manual.

A good starting point might be found in [this SRE comment](https://github.com/visit-dav/live-customer-response/issues/49#issuecomment-626776938) which was also an email to visit-users

[2020-05-14 04:48] markcmiller86 opened #4737 "We have a GUI manual and a CLI manual but not just a manual"
We have documentation that is not specific to GUI or CLI. So, where do we put that?

I would say it goes in the VisIt *manual*. But, we really don't have or label our docs as a single *manual*. I think this confuses where we put stuff that is not specific to GUI or CLI as well as users who might wanna go find something that is obviously not specific to either GUI or CLI.

![Untitled](https://user-

[2020-05-14 17:33] mathstuf opened #4738 "vtkUnstructuredGridFacelistFilter.C's Quad conflicts in static builds with Python included"
### Describe the bug

Duplicate symbols have been reported against this class. Since it is internal, making the name less generic shouldn't break anything.

https://github.com/microsoft/vcpkg/pull/9960#discussion_r425260576

[2020-05-14 17:49] markcmiller86 commented on #4738
@cyrush did you by chance already encounter this in your python 3 work? Reason I ask is that the above reference suggests a patch to this source file to avoid a conflict in Python 3.

[2020-05-14 17:50] mathstuf commented on #4738
Actually, all of the classes in that file should probably just go into an anonymous namespace or something to avoid other potential conflicts (`Tri` looking quite ripe for it).

[2020-05-14 20:16] cyrush commented on #4738
@markcmiller86  I did not, I haven't been building statically.

Sounds like there is a general symbol conflict when using all of these things together.

[2020-05-15 20:49] markcmiller86 opened #4744 "Create new repo for holding large datasets via LFS"
I would like to create a new repo in visit-dav organization for the sole purpose of holding large datasets which are useful for examples, testing, or related to bugs.

[2020-05-15 21:07] markcmiller86 commented on #4644
I finally did find my example of how to handle a spherical transformation for some climate data we had and am attaching it here...

[spherical_transform_data_and_session.tar.gz](https://github.com/visit-dav/visit/files/4637117/spherical_transform_data_and_session.tar.gz)

It is more complex than other examples. I had to resample the original data to make it small enough to fit here in a github iss

[2020-05-16 15:15] markcmiller86-visit commented on #12106
Hi,
So I have written a Pixie hdf5 file output. It works fine with our
parallel code.

VisIt 3.1.1 can open pixie files on 1 processor but, on several
processors, only one sub domain is plotted, whatever the partitioning
X,Y or Z Slab choice.
Enclosed the outputs with  4 processors, with Z Slab and Y slab. One
fourth of the domain is plotted, coordinates are not good
(domain should be rectangular

[2020-05-16 22:15] markcmiller86-visit commented on #12106
Hi,
To complete previous mail, I have switched to "Regular" pixie file and
VisIt works fine on several processors (using coordinate scaling to get
the correct ones).

So display problem is only relative to "Curvilinear" pixie file (that is
necessary for a non-uniform rectilinear mesh).

Thanks, regards
Stéphane

Le 16/05/2020 à 17:11, Stéphane Glockner a écrit :

[2020-05-18 14:00] brugger1 commented on #12159
Hi Olivier,

It looks like you have done everything correctly.

The libQtGui.so.4.8.7 implies Qt 4.8, which I assume is the system Qt. Build_visit builds Qt 5.10. Looking at your arguments to build_visit, you were using the Qt that build_visit builds. Based on that, it looks like it is mixing references between the Qt 5.10 that build_visit builds and the system Qt 4.8. I would check that you don't

[2020-05-18 14:00] brugger1 commented on #12159
In my env I have :
QT_GRAPHICSSYSTEM_CHECKED=1
QT_IM_MODULE=ibus

OK, I started the full build process again ; and it now works perfectly.

Thank you

Olivier Cessenat

[2020-05-18 14:01] brugger1 commented on #12159
Great! Glad you got it working.

Eric

[2020-05-18 14:08] brugger1 commented on #12106
Yes, a small file would be useful.

[2020-05-18 15:56] biagas opened #12160 "Visualize AMR structured mesh in visit"
Hello Shiqi He,

Thank you for the detailed description and sample data files.
If you open Options->Preferences->Database, and select 'Treat all databases as time-varying' before opening your data and creating plots, you should see the desired outcome.

![Preferences-Database](https://user-images.githubusercontent.com/17075318/82233765-59d0a480-98e5-11ea-9894-7ca43a532611.png)

We're trying to [co

[2020-05-18 16:35] markcmiller86 opened #4745 "Replace H5Tequal comparisons with comparison of H5Tget_class/H5Tget_size in Pixie"
### Describe the bug
In the Pixie plugin, we are doing some data type comparisons using [`H5Tequal()`](https://github.com/visit-dav/visit/blob/5bfaa765c168832ef018cddde838817b60e54ab8/src/databases/Pixie/avtPixieFileFormat.C#L1572) like so here...

https://github.com/visit-dav/visit/blob/5bfaa765c168832ef018cddde838817b60e54ab8/src/databases/Pixie/avtPixieFileFormat.C#L1572

However, I am concerne

[2020-05-18 16:37] markcmiller86 opened #4746 "Why is there a copy of avtPixieFileFormat in ADIOS plugin"
We appear to have copies of (an old) version of our Pixie plugin in the ADIOS plugin. Anyone know why? Do we need to keep it? Should it be updated?

[2020-05-18 18:15] markcmiller86-visit commented on #12160
Hi Kathleen:
Thank you so much! It all worked out!.

Have a nice day,
Shiqi He

On Mon, May 18, 2020 at 11:57 AM Kathleen Biagas via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-05-18 18:18] biagas commented on #12160
You are welcome.

[2020-05-18 18:23] aowen87 commented on #4286
This issue revolves around the differences between VisWinRendering and VisWinRenderingWithoutWindow.
VisWinRendering is where all of the OSPRay (non-volume) rendering is setup, and this class is used for most interactive rendering. When performing a Save Window, though, VisWinRenderingWithoutWindow is used. While this class inherits the OSPRay initializations from VisWinRendering, it does not appr