[2019-12-20 04:44] tanimislam commented on #3515
Just found the discussion for this suggested enhancement. I have an (I think) practical, for me, use case. I identify a cone in an RZ geometry where the profile has radial symmetry. Coerce, in this case, fields I specify (density, pressure, temperature, velocity components), into an RZ mesh that reflects that spherical symmetry about a point and over an opening polar angle. Interpolate fields onto

[2019-12-21 00:24] biagas opened #4209 "IDX reader compile errors"
The IDX reader attempts to link MPI libs with the mdserver and serial engine targets, so compile fails due to inability to locate mpi library.  These are serial targets and should not link with MPI.

The reader's CMakeLists.txt file states 'This reader always depends on MPI'.

The mdserver target and both serial and parallel engine targets for this reader have include-dependency on mpi, in part du

[2019-12-24 01:46] kennyweiss opened #4212 "Blueprint reader should be more resilient when loading zero-sized arrays"
### Describe the bug
I have a domain-decomposed blueprint database with two topologies: ``mesh`` and ``boundary``.
* The ``mesh`` topology has elements on all domains
* The ``boundary`` topology has elements on some, but not all, domains.

If the zero-sized arrays have a corresponding ``hdf5`` dataroup of size 0, ``VisIt`` is able to correctly render the mesh.

However, if there is no correspondin

[2019-12-26 17:15] #4178 closed, assigned to biagas

[2019-12-31 00:48] biagas opened #4215 "xmledit write wrong 'file' for Includes"
If you use xmledit to add an Include, it always writes _header_ never _source_ as the _file_, even if the _.C_ file is chosen.

I found this while trying to get avtMeshMetaData atts to auto-regen.  Needs <algorithm> to be included in the source file.  I forgot the syntax for includes, so used xmledit to add it instead of editing the xml file directly.

[2019-12-31 00:59] biagas opened #4216 "Regenerating DB Info files adds unneccessary 'GetLicense' method."
If you regenerate Info files for a DB reader, it will add 'GetLicense' to the XXXPluginInfo.h and XXXCommonPluginInfo.C which returns an empty string.

The GetLicense method is already defined in DatabasePluginManager.h, by default it returns an empty string.

This was added to accommodate FieldViewXDB, the only plugin to currently utilize GetLicense and not return an empty string.

I think a new

[2020-01-02 16:50] biagas opened #4220 "new gen_cpp_all cmake target creates new files in sim/V2/lib"
gen_cpp_all creates these files in sim/V2/lib:

CommandMetaData.[C,h]
CurveMetaData.[C,h]
ExpressionMetaData.[C,h]
MaterialMetaData.[C,h]
MeshMetaData.[C,h]
MessageMetaData.[C,h]
NameList.[C,h]
SpeciesMetaData.[C,h]
VariableMetaData.[C,h]
View3D.[C,h]

These generated files don't seem to have an equivalent in the sim/V2 source tree.
I don't think there should be gen_cpp targets for sim.

[2020-01-02 16:56] biagas opened #4221 "gen_cpp_all targets that cannot be auto-gened."
After running gen_cpp_all, looking at mods and fixing ones that were easy, these cpp targets
still cannot be auto-generated:

src/avt/DBAtts/MetaData/avtScalarMetaData.h
* uses std::map<std::string, int>
* Can possibly use the StringIntMap defined in common/utility/maptypes.h to define a
    new Field type for use with our xml tools.

src/avt/DBAtts/MetaData/avtSimulationCommandSpecification.h
* h

[2020-01-02 19:47] #4196 closed, assigned to aowen87

[2020-01-03 00:15] biagas opened #4227 "gen_info_all targets that cannot be autogenerated"
After running gen_info_all, looking at mods and fixing ones that were easy, these info targets
still cannot be auto-generated:

src/databases/VTK/VTKPluginInfo.h
src/databases/VTK/VTKCommonPluginInfo.C
* has custom constructor and DatabaseType ivar.

src/databases/OVERFLOW/OVERFLOWEnginePluginInfo.C
src/databases/OVERFLOW/OVERFLOWMDServerPluginInfo.C
src/databases/OVERFLOW/OVERFLOWPluginInfo.C
* h

[2020-01-03 22:21] #3268 closed, assigned to aowen87

[2020-01-06 15:59] #2226 closed, assigned to aowen87

[2020-01-06 16:26] aowen87 commented on #3588
Kevin's given this link for the new mili library: https://github.com/durrenberger1/Mili

This version isn't yet released on LC, though. We may want to wait until it is to release with VisIt.

[2020-01-06 18:42] aowen87 opened #4234 "Time pick actual vs original"
**Description**
I recently updated the query over time to be capable of using a faster "direct database" route that directly queries a database instead of using VisIt's pipeline structure. This was primarily to help speed up Picking through time, but it can be used with general queries as well.

The older "Pick through time" format will pick from "actual data" (the state after all operators have b

[2020-01-06 18:56] biagas commented on #4106
There should probably be separate flags for atts/info/python/java/cmake, as most 'customizations' only apply to one generator or two.

[2020-01-06 19:09] brugger1 commented on #4234
I'm a bit confused by the first paragraph. In the first sentence you say the old "Pick through time" supported actual and orginal data, but then in the last sentence you also say you added an option to pick through time to use either actual or original data.

I assume that you are talking about pick through time using a zone or node id. In this case operators that change the mesh coordinates would

[2020-01-06 19:15] aowen87 opened #4235 "Pick through time oddities"
### Describe the bug
When using the old method for picking through time, I've noticed a very strange behavior. After adding a selection operator (I've tried two so far) and selecting some reduced section of the dataset, whatever cycle the time slider state is set to will cause dramatic spike (negative or positive) in the curve plot at that cycle.

**Helpful additional information**
- [ ] Did VisIt

[2020-01-06 19:23] aowen87 commented on #4234
Yeah, sorry about that.. it's a bit confusing. In the code, there was capability for Picking through time using actual or original data. I don't believe this option was exposed to users, though, and it doesn't seem like original data was ever actually used when Picking through time. This section of code is also used by queries over time in general, so I believe this toggle was mainly used by other

[2020-01-06 20:51] aowen87 commented on #4234
If this is the only operator that could have an effect on these results, I could look into having the Pick through time use actual data whenever this operator is being applied. In all other cases, it would use original data.

[2020-01-06 21:14] aowen87 commented on #3525
I noticed that our bv_mfem script (for version 3.4) was only building the serial version (unless there's some tricky business happening somewhere that I'm not seeing). Is there a reason we're not building the parallel version when we build parallel VisIt?

[2020-01-06 21:47] brugger1 commented on #3525
I can't speak directly for the mfem reader, but our readers are typically serial so we only build the serial versions of libraries.

[2020-01-06 22:06] aowen87 commented on #3525
Got it. That makes sense.

The only remaining issue is that I can't seem to find checksums for the tarball...

[2020-01-06 22:48] brugger1 commented on #3525
I just compute them with md5sum and sha256sum.

[2020-01-06 23:05] aowen87 commented on #3525
Sounds good. I'll go ahead and do that and then check to make sure that these changes work on LC.

[2020-01-07 00:50] biagas opened #4236 "Add user-specified 'Include' support to xml2info"
'Include' can be specified in xml file for xml2atts and xml2java targets.
We have at least 1 use case (VTK reader) where it would be helpful to have the same support in xml2info.

There is a slight hitch: xml2info generates one header, but mulitple source files, so there would need to be a mechanism for specifying which source file if the include should be generated for source.

For the VTK reader

[2020-01-07 16:10] #4177 closed, assigned to nobody

[2020-01-07 16:10] #4215 closed, assigned to biagas

[2020-01-07 16:10] #4216 closed, assigned to biagas

[2020-01-07 21:45] biagas opened #4239 "Brainstorm meeting 1/7/2020"
### CI-testing
Start with a short-list of current tests to run.

- Store the list in a file
- Add a flag to the test suite to run the short-list.
- To start, should include:
   - tests in plots dir
   - tests in operators dir
   - silo.py
- Then expand to other database tests as the necessary third party libraries are added to the ci-image.

If the short list doesn't consume too much time, expand

[2020-01-07 21:58] rusu24edward commented on #4156
- [x] databases/bov
- [x] databases/export_db
- [x] databases/samrai
- [x] databases/xyz
- [x] hybrid/curve_expressions
- [x] hybrid/expressions ->
- [ ] queries/queriesOverTime -> Not sure if this was caused by me...
- [x] queries/variable_sum_volume -> Wrong folder in baselines

[2020-01-07 22:19] biagas commented on #4106
How should the flag be used?
- Causes the files NOT to be regenerated and generates a warning message?
- Performs the regeneration anyways and issues a warning message?

[2020-01-07 22:53] markcmiller86 commented on #4106
I'd vote for the first option but where `-clobber` CL switch would cause overwrite to happen and error message would still be generated.

[2020-01-07 23:24] cyrush commented on #4239
we also talked about having a day long container hackathon, we can share details on using containers for CI, releases, etc.

[2020-01-07 23:26] #4236 closed, assigned to nobody

[2020-01-08 23:45] brugger1 opened #4245 "Ability to specify units for an expression."
### Is your feature request related to a problem?

Here is the e-mail from Olivier Cessenat:

Dear VisIt developers,

When setting an expression, either interactively with the VisIt expression menu, or in the database using Silo's DBPutDefvars, I would like to be able to change the default unit.
For the moment VisIt guesses the unit from the first met variable in the expression.
Typically I would

[2020-01-09 01:18] biagas commented on #4070
I compiled LLVM (5.0.0) and Mesa (17.3.0) following instructions I found on a Qt wiki page.
I then compiled VTK with the VTK_USE_OPENGL_DELAYED_LOAD flag.
I copied this all to the sqa machine, along with a stand alone VTK program that fails with the normal VTK.
When built with the new VTK using delayed load for opengl, the program runs as expected.

Next step, trying VisIt.

[2020-01-09 02:26] markcmiller86 commented on #4245
So, we support units in *ordinary* Silo variables and those get handled in https://github.com/visit-dav/visit/blob/46fce7ae5e82cd2393bf9fc0d737f9c9f389b2e9/src/avt/DBAtts/MetaData/avtVarMetaData.xml#L9
as an opaque (e.g. non-interpreted) string. We could add the ability for a user to specify a units string for an expression in the expression GUI. On the Silo side, for `DBPutDefvars` we'd need to s

[2020-01-09 16:23] markcmiller86 opened #4250 "problem with libGLU dependencies in 3.0.2"
### Describe the bug
Two different users this week reported issues in running VisIt after installing our pre-built binaries due to libGLU for `viewer` and `gui` processess...

[code]

For another user working on an (possibly incompatible) AWS instance

[code]

When I examine either the non-`wmesa` and the `wmesa` 3.0.2 release tarballs, I don't see any libGLU...

[code]

Note that both tarballs un

[2020-01-09 21:29] biagas opened #4253 "Add ability to disable tools / utilities / examples / more from a build"
We have this in part with VISIT_DATA_MANUAL_EXAMPLES, VISIT_BUILD_AVTEXAMPLES. VISIT_BUILD_DIAGNOSTICS.

For down-and-dirty debug sessions of Visit (especially on Windows) it would be nice to have the ability to disable MORE of the stuff that isn't needed for running visit in a strictly debug session:

- libsim and its reader plugin
- manuals
-- this depends on VISIT_PTYHON3_DIR, so it shouldn't e

[2020-01-09 23:57] biagas commented on #1600
Resolved by #4228

[2020-01-09 23:57] #1600 closed, assigned to nobody

[2020-01-11 01:00] kennyweiss commented on #4212
Quick update: I was able to work around the immediate problem by regenerating my blueprint datasets in a slightly different way, so this issue is less urgent for me.

I think improving the blueprint reader's robustness around its handling of zero-sized arrays would still be beneficial though.

[2020-01-13 19:15] aowen87 commented on #3525
The only tests that fail with this update are the 4 using the mfem inline quads dataset. This is a checkerboard, and the checker colors are flipped. @cyrush, Eric suspected this was due to a random number generator and is likely okay. Can you confirm this?
![Screen Shot 2020-01-13 at 11 11 39 AM](https://user-images.githubusercontent.com/11658578/72284427-c9f8b200-35f5-11ea-931f-7777639040b3.png)

[2020-01-13 19:46] markcmiller86 commented on #4250
Uploading the missing file here in case it might be useful to others.

[libGLU.so.1.gz](https://github.com/visit-dav/visit/files/4055474/libGLU.so.1.gz)

[2020-01-13 21:23] cyrush commented on #3525
yes, this can change between mfem versions, but I expect consistently run to run for the same build.

[2020-01-14 00:19] #3525 closed, assigned to aowen87

[2020-01-14 23:49] markcmiller86 commented on #4212
@kennyweiss just wanted say...Great bug report! Thanks for the time and detail.

[2020-01-14 23:55] brugger1 commented on #4200
Yes, this seems odd. Perhaps, the -t option should specify the path to the "test" directory, then it would be /path/to/visit/src/test and then specifying tests for the individual test wouldn't seem weird.

[2020-01-15 02:28] #4194 closed, assigned to griffin28

[2020-01-15 02:32] griffin28 opened #4266 "Qt error building VisIt on macOS 10.14"
### Describe the bug
See attachments

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [x] High - occurrence is not specific to platform, data, config, a combination of operators, queries, etc.
- [ ] Medium - neither low nor high likelihood
- [ ] Low - occurrence i

[2020-01-15 19:44] rusu24edward commented on #1928
Doesn't appear to be an issue anymore. Cannot reproduce.

[2020-01-15 19:44] #1928 closed, assigned to rusu24edward

[2020-01-16 00:28] rusu24edward commented on #2160
src/viewer/core/ViewerStateManager.C
ViewerStateManager::RestoreSession(hostname, filename, inVisItDir, source)

If there is a session.gui file, then the filename is exactly what we passed in the arg (e.g. 'visit000.session'). However, if there is no session.gui file, then the filename is modified so that it is pointing to the user's home directory (e.g. '/Users/rusu1/.visit/visit0000.session')

V

[2020-01-16 00:57] markcmiller86 opened #12095 "Update other resources listed on visit-users admin page"
If you go to visit-users email list [admin page](https://elist.ornl.gov/mailman/listinfo/visit-users), there is a list of other places to go for help.

This list should probably be updated to include new RTD docs and maybe remove some older items. I think only @hankchilds @brugger1 or @dpugmire have permissions to do that.

[2020-01-16 16:51] markcmiller86 commented on #12095
I am mentioning the customer-response team here with @visit-dav/live-customer-response

Eddie, let me know if you got an email.

[2020-01-16 16:52] #4063 closed, assigned to rusu24edward

[2020-01-16 16:52] #4156 closed, assigned to rusu24edward

[2020-01-16 16:53] rusu24edward commented on #12095
Yup! I got an email.

[2020-01-16 21:52] rusu24edward commented on #1370
- [x] Change nameEdit signal from textChanged to textEditted so that the slot doesn't call when simply clicking through the expressions.

[2020-01-16 21:57] #4266 closed, assigned to griffin28

[2020-01-16 22:17] rusu24edward commented on #1370
If editingFinished signal works, then we can update the expressionListBox and expressionList whenever the variable name is done being editted.
If editingFinished signal doesn't wokr, then we can do the same update whenever Apply is pressed.

[2020-01-16 22:26] griffin28 opened #4273 "NetCDF build error for macOS 10.14"
### Describe the bug
Unable to build or install NetCDF (3 errors). The attachments show the error

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [x] High - occurrence is not specific to platform, data, config, a combination of operators, queries, etc.
- [ ] Medi

[2020-01-17 18:21] markcmiller86 commented on #3515
@tanimislam thanks for your remarks here. I agree... that sounds like a nifty use case. A basic underlying issue we've discovered in investigating this is that for UNstructured grids, all the infrastructure we might develop to support this is lost because the data model in numpy is really just for regular, structured grids. So, while we might be able to make a path that makes it easy to go from nu

[2020-01-17 20:53] biagas commented on #4070
Using the DELAYED_LOAD option didn't work with a stand-alone VTK & QT combined example.
Using Mesa's opengl32.dll as a drop-in replacement (eg in same dir as the executable) worked as long as MESA_GL_VERSION_OVERRIDE=3.3 was set in the environment.

Will need to do the same thing for VisIt:
1) Have Mesa3D's opengl32.dll available during install.
2) Have installer perform a check of the sytem OpenG

[2020-01-17 21:36] brugger1 opened #4277 "Couldn't download remote profiles on Windows."
### Describe the bug

I brought up the Host profiles window and went to the Remote Profiles tab to see if I could download some remote profiles. The Profiles list was empty and pressing the Update and Import buttons didn't have any effect. I tried this with both paths specified, the v3.1.0 ones and the ones on develop. This was on Windows. I tried the same thing on Linux and it worked fine, so I b

[2020-01-17 23:09] rusu24edward commented on #1370
- [X] Remove name duplication in gui.
- [x] Still need to look at the cli.
- [ ] Also, conflicts with database native variables is still possible and not handled well.

Issue here is that we need to check among the clients (gui, cli, etc.) and the database to ensure unique names. The Viewer coordinates the states between the clients, so I should look there.

[2020-01-18 01:57] #4070 closed, assigned to biagas

[2020-01-19 02:46] cpraveen commented on #3653
This is a very important feature that I have used many times. Hope it will come back in future.

[2020-01-21 17:39] biagas opened #4281 "build_visit has multiple ways of specifiying a debug build"
build_visit has
-  --debug' to add '-g' to CXXFLAGS (also sets build-mode to Debug)
-  --flags-debug (undocumented) to add '-g' to CXXFLAGS (also sets build-mode to Debug)
-  --build-mode to specify Release (default) or Debug

Should these all be merged into just the build-mode?

For CMake builds, build-mode informs the CMAKE_BUILD_TYPE var. (already seems to be handled in a number of TP modules)

[2020-01-21 17:46] markcmiller86 commented on #4281
* I like removing `--debug` and `--flags-debug` and having just `--build-mode` on `build_visit_` command line.
* Should that same switch control *all* TPLs that `build_visit` builds too? I think a common scenario is to have VisIt itself built for debug but few, if any, of its TPLs built that way. So, inferring `--build-mode Debug` on `build_visit` to mean `CXXFLAGS=-g` for all TPLs might rarely be

[2020-01-21 17:56] brugger1 opened #4282 "Have zipwrapper understand compressed tar files."
### Is your feature request related to a problem?

Robert Casperson from LLNL called and was trying to open a compressed multipart silo file and this didn't work. He was compressing the files because he wanted to save disk space. The problem is that only the root file got decompressed and any files that were referenced by the root file weren't found. I e-mailed Mark about this and he suggested enh

[2020-01-21 18:01] brugger1 commented on #4281
I think that if you specify the build mode to build_visit it should apply to VisIt and all the TPLs. If you only care about VisIt, then you should specify the build type to cmake (CMAKE_BUILD_TYPE as Debug or Release). If you were doing a debug build to do debugging or find memory leaks, doing it for all the TPLs would be the most useful. Doing it for a subset of TPLs would be problematic in terms

[2020-01-21 18:14] biagas commented on #4281
The current behavior is to apply the debug flags to all TP and VisIt.

[2020-01-21 18:17] markcmiller86 commented on #4281
Ok, well, I guess ignore me then.

[2020-01-21 23:25] brugger1 commented on #4281
We had a discussion and the winner was to reduce it the single option "--build-mode", which takes Release or Debug.
We should also update the documentation on debugging memory leaks in the developers manual.

[2020-01-21 23:29] brugger1 commented on #4281
We should also add a message about setting the build type for VisIt when build_visit finishes as suggested in the ticket.

[2020-01-21 23:33] brugger1 commented on #4253
We discussed this and decided that this is ok as long as any new options are on by default. This would just give the ability to turn things off.

[2020-01-21 23:44] brugger1 commented on #4220
We discussed this and since the files are not used, they shouldn't be generated. We should ping Brad and see if the xml files used to generate them should be removed.

[2020-01-21 23:51] brugger1 commented on #4209
Eric will contact Steve about this.

[2020-01-21 23:53] brugger1 commented on #4164
Did the manual and pointer to the examples help you out?

[2020-01-21 23:56] #4160 closed, assigned to nobody

[2020-01-22 16:14] aowen87 opened #4286 "OSPRay window save is wrong"
### Describe the bug
When OSPRay rendering is enabled, saving the window results in an incorrect image. I've tried this with pseudocolor plot, contour plot, and volume plot. The first two are clearly wrong; the bounding box loses its thickness, the shadows vanish, and, in the pseudocolor case, the resulting image actually looks identical to rendering _without_ OSPRay enabled. The volume plot is th

[2020-01-22 16:27] aowen87 opened #4287 "OSPRay volume issues"
### Describe the bug
1. The OSPRay volume renderer seems to only work with structured grids. When trying to plot anything else, the rendered image is just empty (no error or warning messages).
1. When using the OSPRay volume renderer on a structured grid, adding a threshold operator causes the volume to completely vanish, even if the threshold accepts the entire range of data. I'm guessing the thr

[2020-01-22 20:32] aowen87 commented on #4235
This appears to be tied to the PickByZone method. I can't reproduce this using the Query Pick interface in the GUI.

[2020-01-22 20:49] #4179 closed, assigned to biagas

[2020-01-22 21:23] biagas commented on #4220
Brad informed me that the .xml and .code files in sim/V2/lib are for use with xml2sim.

[2020-01-22 21:48] #4273 closed, assigned to griffin28

[2020-01-22 22:02] griffin28 opened #4291 "Xdmf build error for macOS 10.14"
### Describe the bug
Details in attachments

**Impact**
- [x] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degraded

**Likelihood**
- [x] High - occurrence is not specific to platform, data, config, a combination of operators, queries, etc.
- [ ] Medium - neither low nor high likelihood
- [ ] Low - occur

[2020-01-22 22:03] griffin28 commented on #4291
<img width="1188" alt="Screen Shot 2020-01-22 at 2 00 23 PM" src="https://user-images.githubusercontent.com/26772741/72938541-fca25900-3d1f-11ea-8d0d-80e02da149ef.png">

[2020-01-22 22:07] aowen87 opened #4292 "Mili pick oddities"
### Describe the bug
This is a very particular and odd error. Open up d3samp6.plt.mili, create an expression that is one of the shared variables (these are all element sets) multiplied by some value, and plot this expression. Next, change to a cycle other than the first, and perform a pick through time. VisIt will crash.

This does not occur with any of the non-shared variables.

**Helpful additio

[2020-01-22 23:09] biagas commented on #4277
QNetwork depends on ssl, but the dlls aren't installed. (Also aren't part of windowsbuild).

[2020-01-22 23:13] aowen87 opened #4293 "Defer expression issues with wave dataset"
### Describe the bug
Maybe I'm missing something, but I can't seem to plot surface normals using the DeferExpression operator on the wave.visit dataset. It's very easily done with other silo datasets in our test suite by following the directions here: https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Operators/OperatorTypes/DeferExpression_operator.html

When I do try to

[2020-01-22 23:21] cyrush commented on #4220
aha, well we can wire up a target for that as well!

[2020-01-22 23:32] #4220 closed, assigned to biagas

[2020-01-22 23:47] #4291 closed, assigned to griffin28

[2020-01-23 02:20] #4277 closed, assigned to biagas

[2020-01-23 02:59] markcmiller86 opened #12094 "Test issue to assess behvior with visit-users"
Just a test issue

[2020-01-23 03:01] markcmiller86 commented on #12094
comment for test issue

[2020-01-23 03:03] markcmiller86-visit commented on #12094
comment from markcmiller86-visit

[2020-01-23 17:40] brugger1 opened #4301 "Error compiling Qt 5.10.1 in build_visit with gcc 9.2."
### Describe the bug

A user was trying to compile VisIt 3.1.0 with build_visit and the build failed down in Qt. The compiler was gcc 9.1 and I believe this was an Ubuntu 19 system. Here is the e-mail.

Hi Eric,

Sorry for the delay in responding! I've only been using my system qt libraries. I'm still having issues compiling qt from the build_visit script. Something having to do with a header file

[2020-01-23 18:07] brugger1 opened #4302 "Add support for building binutils to build_visit, which is need on some systems."
### Describe the bug

There are some Linux systems that have a linker bug that causes the VTK build to fail. The work around is to manually build binutils and then patch build_visit, to use it for linking VTK. This bug has  existed for a while and it seems to be more common than I would have expected. We should add support for building binutils and doing the patch to build_visit. Here is a link wi

[2020-01-23 18:10] brugger1 opened #4303 "Add support to build_visit to turn of building python3 and sphinx."
### Is your feature request related to a problem?

There are some systems that the python3 build fails to build the ctypes module, which is required by sphinx. This causes the sphinx install to fail. I don't know of a work around, so we should have flags to disable this, since python3 and sphinx are only needed for the documentation.

**Impact**
- [X] Medium - User productivity partially improved

[2020-01-23 19:17] aowen87 opened #4304 "Mili plt file error message"
### Describe the bug
A Mili user has a dataset that is eliciting an odd error message:

[code]

The odd thing about this is that his dataset doesn't seem to contain this file (at least not with this many 0's). I was able to reproduce this error message once, but it did not appear again, even with a subsequent re-opening of VisIt. After dismissing the message, everything appears to work fine.

This

[2020-01-23 19:23] griffin28 opened #4305 "Text color issues with VisIt in "Dark Mode" on macOS 10.14"
### Describe the bug
For macOS 10.14 there is an option to switch to a dark appearance for buttons, menus, and windows. With VisIt, there are some text color issues such that it makes the text hidden (e.g., white text in a white textbook).

**Impact**
- [ ] High - User productivity significantly degraded
- [x] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially de

[2020-01-24 15:33] griffin28 opened #4309 "Memory leak in VisIt 3.1.0"
### Describe the bug
Dear all,

While using the older  versions of VisIt I oftern suffered from memory leaks when switching frames, often resulting in RAM overload depending on domain size and numbers of frames.
Hence I was very happy, that the release notes of version 3.1.0 mention, that memory leaks regarding Pseudocolor plots and Ghost Cells have been fixed. Reading through the archive I think

[2020-01-24 18:11] griffin28 commented on #4309
I think can narrow the field when the memory leak is happening: It seems I only experience it when I plot data based on vector data, i.e. when I plot glyphs or if I do a pseudocolor plot based on vectors as e.g. the magnitude.

For pure scalar data the memory usage stays about the same with some fluctuations when varying the frames.

- Felix

[2020-01-25 02:30] markcmiller86 opened #12096 "Testing new issue behavior with visit-users"

[2020-01-25 02:30] markcmiller86 commented on #12096
Comment visit-dav/visit#12095

[2020-01-25 02:31] markcmiller86-visit commented on #12096
Comment visit-dav/visit#12094

[2020-01-25 02:32] markcmiller86-visit commented on #12096
comment 3

[2020-01-25 02:35] markcmiller86 commented on #12096
email Reply to visit-dav/visit#12094

"markcmiller86-visit" wrote:

Comment visit-dav/visit#12094<https://github.com/visit-dav/live-customer-response/issues/2>

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/visit-dav/live-customer-response/issues/3?email_source=notifications&email_token=ABLUUZE2PGSQHEYTOV6XWTTQ7OQAZA5CN

[2020-01-25 18:32] markcmiller86 commented on #12096
mail-test

[2020-01-27 17:00] rusu24edward opened #12097 "Test issue from Eddie"
I do not have the email from gilcu about font config (not sure why I didn't get it...), so here is just a test issue with an image of some sand:

![Screen Shot 2020-01-27 at 8 59 14 AM](https://user-images.githubusercontent.com/18565891/73195870-7604c780-40e3-11ea-889d-70c1f4191e84.png)

[2020-01-27 17:00] rusu24edward commented on #12097
Here is a comment from Eddie

[2020-01-27 17:02] rusu24edward commented on #12097
replying to the email to see if it becomes a comment

From: Edward Rusu <notifications@github.com>
Reply-To: visit-dav/live-customer-response <reply@reply.github.com>
Date: Monday, January 27, 2020 at 9:01 AM
To: visit-dav/live-customer-response <live-customer-response@noreply.github.com>
Cc: "Rusu, Eddie" <rusu1@llnl.gov>, Your activity <your_activity@noreply.github.com>
Subject: Re: [visit-dav/l

[2020-01-27 17:03] rusu24edward commented on #12097
Wow, that's impressive!

[2020-01-27 17:16] mclarsen commented on #12097
What is impressive?

From: Edward Rusu <notifications@github.com>
Reply-To: visit-dav/live-customer-response <reply@reply.github.com>
Date: Monday, January 27, 2020 at 9:04 AM
To: visit-dav/live-customer-response <live-customer-response@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [visit-dav/live-customer-response] Test issue from Eddie (#4)

Eddie

Wow, that's i

[2020-01-27 18:01] aowen87 commented on #4304
I received permission to copy this data to my mac for testing. After opening up the file permissions, I was unable to reproduce this error message. I did see it once on LC, though, which is odd... I'll try to reproduce on LC after opening up permissions on my own copy.

[2020-01-27 20:18] aowen87 opened #4312 "Direct QOT on vectors/tensors"
We should update the direct database query over time to handle vectors/tensors/arrays. In the original query over time, this was handled by the pick operator. For vectors and arrays of length < 9, the magnitude was plotted. For arrays/tensors with lengths >= 9, the major eigenvalue was plotted. We should be able to easily produce these results with the direct route.

**Impact**
(*Please click chec

[2020-01-27 22:30] cyrush commented on #12097
are you sure that is sand? When I ask google to search using that image, it is pretty confident that it is actually Suede.

![suede](https://user-images.githubusercontent.com/1194526/73219652-7d42ca00-4111-11ea-9d03-c221aa394eb1.png)

[2020-01-27 22:50] aowen87 opened #4313 "OSPRay and SLIVR doc strings"
It looks like the doc strings for avtOSPRayRayTracer and avtSLIVRRayTracer were copied verbatim from avtRayTracer. It even keeps Hank Childs as the original author in 2000. Should this be left as is??

[2020-01-27 23:14] aowen87 commented on #4187
I'm creating some simple demos of using OSPRay from scratch (creating all geometry and necessities for rendering) and am uploading them here: https://github.com/aowen87/ospray_demos

So far, these include:
1. Basics: cameras, lighting, renderers, frame buffers, etc.
2. Creating geometry and structured volumes (unstructured on the way).
3. Adding and rendering materials.
4. path tracing vs sci vis

[2020-01-27 23:18] aowen87 commented on #4187
The vtkOSPRay objects appear to be simple wrappers that merely take existing vtk objects and create ospray objects from their attributes.

If you look at the source code for [vtkOSPRayCameraNode.cxx](https://github.com/Kitware/VTK/blob/master/Rendering/RayTracing/vtkOSPRayCameraNode.cxx), you can see this in action; Line 85 instantiates the OSPRay camera; Line 112 adds the camera to the renderer.

[2020-01-27 23:46] markcmiller86 commented on #12097
Ok, so things are not working as I expected. Neither @rusu24edward or @cyrush comments here came through on visit-users.

[2020-01-27 23:49] markcmiller86 commented on #12097
I am trying something else to see if comments come through on visit-users

[2020-01-27 23:55] markcmiller86 commented on #12097
Ok, yet another comment to test visit-users behavior

[2020-01-27 23:58] markcmiller86 opened #12098 "Test GitHub Issue #5"

[2020-01-28 03:08] markcmiller86 commented on #12098
I will close this issue shortly. Testing one minor adjustment to visit-users email list.

[2020-01-28 15:33] aowen87 commented on #4304
I changed the file permissions on the LC dataset, and I can't reproduce the error anymore. I believe this was just a file permission issue. Closing until further notice.

[2020-01-28 15:33] #4304 closed, assigned to aowen87

[2020-01-28 23:46] brugger1 commented on #4313
It's not worth the effort to change this.

[2020-01-28 23:46] #4313 closed, assigned to nobody

[2020-01-29 16:00] markcmiller86 opened #4314 "Ensuring .visit files work with MD plugins"
XTMD plugins are NOT always compatible with the `.visit` file approach. If every subfile serves up identicle metadata, it can probably work ok. But, depending on how the XTMD plugin is coded, this may not be the case. So, the question is whether under the `.visit` file approach condition, we can a) detect it and b) automagically adjust behvaior of any XTMD plugin to enforce this identical md requi

[2020-01-29 17:47] biagas opened #4315 "Pseudocolor mixed cells test failure on Windows"
In the pseudocolor mixed cells test, there is a green bar that is yellow on Windows.
I've verified that the scalar values are all being passed correctly to the renderer, but haven't investigated VTK internals yet.

I've attached pictures of the baseline and the Windows results for pseudcolor_mixed_cells_01, but _02 also has the same problem.

baseline ![pseudocolor_mixed_cells_01](https://user-ima

[2020-01-29 21:21] markcmiller86 opened #12099 "Can't make scatter plot - as GitHub issue"
We're trying a new approach to handling visit-users email issues as GitHub issues. See [New Approach](#new-approach)

---

I'm trying to make scatter plots in VisIt using this page http://visitusers.org/index.php?title=VisIt-tutorial-data-representations and I'm at this point:

![image](https://user-images.githubusercontent.com/5720676/73397946-63cc8a00-4299-11ea-9fc3-bd205687f913.png)

but I don'

[2020-01-29 21:40] markcmiller86 commented on #12099
You need to have opened a databas first.

You start by going to ``Plots:Add``->``Scatter``->``<some variable in your database>``. This will bring up the scatter plot *wizard*. From there you select additional variables for Y and (for 3D) Z axis.

If your database has only a single variable, I am not sure the scatter plot menu will even activate. You need at least two mesh variables to do a scatter

[2020-01-29 21:43] markcmiller86-visit commented on #12099
Where is Plots:Add->Scatter?  And the file I am using is example.silo.  Is
that a database?

On Wed, Jan 29, 2020 at 2:41 PM Mark C. Miller via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-01-29 21:47] markcmiller86-visit commented on #12099
Wait... I see it now

On Wed, Jan 29, 2020 at 2:43 PM Kamron Brinkerhoff <kgbrinkerhoff@gmail.com>
wrote:

[2020-01-29 22:10] markcmiller86 commented on #12099
I am not familiar with `example.silo`. Can you mention where you found that?

[2020-01-29 22:26] cyrush commented on #12099
@markcmiller86 -- it's from our tutorial material (a renamed noise.silo)

[2020-01-30 00:58] markcmiller86 commented on #12099
Kamron, were you able to resolve your issues here and create a scatter plot?

[2020-01-30 02:13] biagas opened #4318 "Flux operator options not saved to session file"
I followed the last part of the Anuerysm tutorial:

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/Aneurysm.html#calculating-the-flux-on-the-slice

After drawing the plot, I saved it to a session file.
Attempting to restore the session resulted in an error
Pseudocolor:  (VisItException)
viewer: engine_ser: You can't set the flow field as "default" since the default fie

[2020-01-30 02:40] tanimislam commented on #3515
@markcmiller86 actually the expertise lives in-house! In our codes that do interpolation on unstructured meshes (such as dones by ARES or KULL or HYDRA -- I am only mentioning the codes I use or to which I have been exposed) and especially by OVERLINK. I gather that OVERLINK must have (very sophisticated) smarts to perform interpolation and boundary reconstruction!

[2020-01-30 15:41] markcmiller86 commented on #3515
@tanimislam thanks for comments. The issues here aren't whether we have local expertise that would know how to implement any given functionality. The issues are the software engineering costs to affect the kinds of integrations described here. Yes, a lot of functionality exists in some shape or form in a lot of our codes and expertise in our code teams. No one is free, however, to go reimplement t

[2020-01-30 16:12] markcmiller86-visit commented on #12099
yes

On Wed, Jan 29, 2020 at 5:59 PM Mark C. Miller via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-01-30 22:47] #4318 closed, assigned to biagas

[2020-01-30 23:19] #2842 closed, assigned to biagas

[2020-01-31 00:37] biagas commented on #3489
Resolved by #4322

[2020-01-31 00:37] #3489 closed, assigned to biagas

[2020-01-31 03:04] markcmiller86 opened #4323 "Replace use of getenv() everywhere with Environment::get()"
We use `getenv()` in many places. But, there has been a standard interface available for this in `common/misc/Environment.[Ch]` for a long time. We should replace use of `getenv()` everywhere with this to clean up the code a bit.

[2020-01-31 16:29] griffin28 opened #4324 "Launcher failure due to path names with spaces"
### Describe the bug
I installed VisIt 3.10 on macOS via a downloaded binary. Since I
didn't want to overwrite a previous installation, macOS renamed the
package to "VisIt 2", a name with a space in it. I was then unable to
start this program: it failed in the launcher. Very briefly, an error
message flashed by stating something about "file not found". When I
renamed the package to "VisIt-3.1.0" (

[2020-01-31 16:30] griffin28 commented on #4324
Same as - #2303

[2020-01-31 16:38] griffin28 commented on #4324
I would also recommend changing:

exec $(dirname $0)/../Resources/bin/visit $* &

to something like:

exec $(dirname "$0")/../Resources/bin/visit "$@" &

where the quotes around "$@" are important to forward arguments properly to the binary.
.
https://stackoverflow.com/a/448415/104910

Regards,

Juan

[2020-02-01 17:19] eschnett opened #4329 "build_visit script downloads outdated OpenSSL 1.0.2j"
### Describe the bug
The build_visit script downloads the outdated OpenSSL 1.0.2j. It should download version 1.0.2u instead.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degraded
- [ ] Low -

[2020-02-01 17:26] eschnett opened #4330 "build_visit script fails -- wrong checksum for VisIt tarball"
### Describe the bug
When I run the build_visit script, it aborts after downloading the VisIt tarball, complaining about a checksum error.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - User productivity significantly degraded
- [ ] Medium - User productivity partially degrade

[2020-02-01 18:11] eschnett commented on #4330
It might be that the download failed. A manual download outputs:
[code]

Maybe the download tool does not handle `301` conditions?

Things are working after downloading the tarball manually into the directory, as described above.

[2020-02-03 16:42] griffin28 commented on #4069
I don't have access to Catalina, moving to a later release. macOS Catalina is the newest OSX release (10.15). We are currently on 10.13 and will upgrade to 10.14 in February.

[2020-02-03 17:20] ARSanderson opened #4332 "Query over time for flux values"
The very last example 4.7 of the aneurysm case is to obtain the flux through a velocity field:

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/Aneurysm.html

At the very end one gets the Weighted Variable Sum. That works great but only for a single time step. if one queries over multiple time steps they get the following error:

Curve: (VisItException)
viewer: engine_p

[2020-02-03 19:06] biagas commented on #4332
Related to ticket #3489
Resolved by commits #4320 (3.1RC) and  #4322 (develop).

[2020-02-03 19:06] #4332 closed, assigned to nobody

[2020-02-04 01:09] biagas opened #4335 "Host profiles for RZ will need updating"
Due to the retirement of rzgw of Feb 18th. Direct ssh access to rz systems is available.

[2020-02-04 17:06] biagas opened #4336 "Add support for 3DConnexion mouse."
Customer recently asked about it, but it has also been requested in the past.

VTK has native support via interactors with 'TDx' in the name.
Here's a link with more info.
https://vtk.org/Wiki/VTK/3DConnexion_Devices_Support

For best results, we would have to obtain such a device for testing.

[2020-02-05 19:35] #4031 closed, assigned to griffin28

[2020-02-06 00:03] ARSanderson opened #4341 "Operator that change the variable type"
Operators that change the variable type, such as the integral curve operator can often be misapplied. For instance, a user creates a Vector plot then adds the integral curve operator that produces no results because no vector data is produced, only scalar data. Conversely a user creates a scalar (pseudocolor) plot then adds the integral curve operator that produces no results because the input dat

[2020-02-07 17:11] #4303 closed, assigned to brugger1

[2020-02-07 17:17] brugger1 commented on #4335
Closed this in #4343

[2020-02-07 17:17] #4335 closed, assigned to brugger1

[2020-02-07 21:44] brugger1 commented on #3948
I removed the obsolete documentation. VisIt requires VTK 8.1. Unfortunately, VTK changes their interface in subtle ways every time they make a new release, so the VTK 8.x versions are not interchangeable. There is updated building information in the sphinx documentation in:

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Building/index.html

There is also some buildin

[2020-02-07 22:06] aowen87 commented on #4187
The current OSPRay in VisIt is version 1.6.1. The latest release is 2.0.1. The alpha version of 2.0 was released back in September, and the stable version was released just under a month ago. There are a number of significant (and API breaking) changes in this release, which are documented here:
https://github.com/ospray/ospray/releases

A couple of the more interesting changes that I've seen are

[2020-02-07 23:14] #4166 closed, assigned to brugger1

[2020-02-07 23:16] ARSanderson commented on #3995
Hi,

After helping a user this past week who was having problems with the IC operator I submitted this bug report:

https://github.com/visit-dav/visit/issues/4341

Nutshell, they created a vector plot to first see their vectors, then added the Integral Curve operator. That does not work with a vector plot as the output data is scalar. They were drawing a blank on the Pseudocolor->operator->PICS->I

[2020-02-08 02:46] markcmiller86 commented on #3995
If there is a lot in common among the three types of plots, that is definitely an argument for finding some way to *implement* them with shared code but not necessarily an argument that they should *also* be collapsed to a single uber plot type in the user interface.

Currently, the way plot plugins work, I am not sure there is a way for them to easily share common pieces. Maybe being able to have

[2020-02-10 04:13] ARSanderson commented on #3995
Mark,

Good observations. IMHO, both are important. From the code side the maintenance gets more involved. For instance, in the Pseudocolor plot Kathleen implemented the option to color values outside the min/max. A great option that I have already made use of. Conversely, the Vector/Tensor plots have the option of a single color. Also useful. I want it all in all the plots. Setting up the GUI for

[2020-02-10 18:35] aowen87 commented on #4187
Unstructured volumes have been added to the tutorials. I've added examples for both interfaces (C and CPP). In VisIt, it looks like the C interface was used, so I was planning on continuing to build off of that. Apparently, you can mix the two interfaces, though, so we can try using the CPP at some point if desired.

[2020-02-10 19:15] aowen87 opened #4355 "OSPRay shadows accumulate"
### Describe the bug
This is related to #3480
When rendering with OSPRay, shadows have some odd behaviors. When shadows are first enabled, the rendered shadows are fairly faint. If you click on the render screen once, the shadows get slightly darker. If you continue clicking, the shadows continue to get darker until they are fully black. The same behavior occurs when disabling shadows; they slowly

[2020-02-10 21:43] markcmiller86 opened #4356 "Full frame not honored by label plot"
### Describe the bug
1. Open the attached file with Exodus plugin (this mesh contains both areal (2D) and linear (1D) elements and that might be part of the problem.
   -  [Rectangle.gen.gz](https://github.com/visit-dav/visit/files/4183180/Rectangle.gen.gz)
1. Plot the mesh. Set 2D view to fullframe mode.
1. Add a Label plot for `coordx` variable.
   - As an aside, in the Label plot attributes (co

[2020-02-10 21:47] aowen87 commented on #4187
avtOSPRayCommon is where most of the meat of OSPRay lives within VisIt. This module defines multiple structs that inherit from common OSPRay classes. These structs serve as wrappers around their base OSPRay implementations and handle all of the OSPRay specific calls needed setup and run the rendering.

[2020-02-10 21:48] markcmiller86 opened #4357 "zonetype_rank() expression plotting as blanks"
1. Open `rect2d.silo`
1. Create `zonetype_rank(quadmesh2d)` expression as `zr`
1. PC plot `zr` and note all constant value of `13`
1. Pick a zone, any zone. It displays `zr = ` with no value after the equals sign
1. Label plot `zr`. It displays nothing.

I am seeing on OSX. Haven't tried others.

This is in VisIt 3.0.1. I didn't test 3.1.

[2020-02-10 22:02] #3709 closed, assigned to biagas

[2020-02-10 23:03] markcmiller86 opened #4359 "Weighting used in WVS for 1D cells is -1 by fiat but should be length"
For Weighted Variable Sum (WVS) query, VisIt uses volume as weight for 3D cells and area as weight for 2D cells but for 1D cells it seems to sort of *punt* and use identically `-1` as the weight. This corrupts attempts to use WVS on meshes which contain a a mix of zone types including 1D zones.

For the attached Exodus file, compute WVS of `xcoord` with SIL restriction set to set `1`, `10` and `20

[2020-02-10 23:45] #4330 closed, assigned to brugger1

[2020-02-11 17:07] aowen87 commented on #4187
It looks like volumes are the only types of renderings that are explicitly handled through the OSPRay interface within VisIt. Other types of renderings are accomplished through vtk classes that handle all of the OSPRay conversion in the background.
Within visWinRendering, there is a vtkViewNodeFactory which appears to map standard mappers and actors to their OSPRay equivalents.

[2020-02-11 17:13] aowen87 commented on #4187
There does appear to be a vtk interface for volumes as well, so it's not clear why this wasn't used within VisIt. It's also not clear why unstructured volumes aren't supported in either the vtk interface or in VisIt's implementation. Both are using an older version of OSPRay, which might have something to do with this.

[2020-02-11 22:23] #4250 closed, assigned to brugger1

[2020-02-11 23:38] aowen87 commented on #4234
Tagging this as reviewed until I complete the research needed for discussion.

[2020-02-12 02:09] markcmiller86 commented on #3439
Putting back into un-reviewed state to be sure we consider this issue again.

[2020-02-12 19:33] aowen87 commented on #4187
I've added a couple of demos using the older 1.x version of OSPRay, and I've also included some examples using vtk.

[2020-02-12 20:37] markcmiller86 opened #4371 "Download host profiles from GitHub, not Ilight subversion servers"
### Describe the bug
In `Options->Host Profiles`, if you hit the `Remote Profiles` button (in middle of window), you get a dialog that indicates its attempting to download them from http://visit.ilight.com/svn/visit/tags/3.0.1/src/resources/hosts/. Which used to be a mirror of our NERSC subversion repo but since moving to GitHub is no longer functional.

[2020-02-12 20:52] biagas commented on #4371
What version are you looking at? This has been fixed in 3.1

[2020-02-12 20:52] brugger1 commented on #4371
What version was this and on what platform. I believe we have this fixed in all platforms except windows with 3.1 and we have a fix for Windows coming with 3.1.1.

[2020-02-12 20:53] markcmiller86 commented on #4371
Oh, well, indeed 3.0.1 is where I saw it. Sorry if thats old news. Please close if so.

[2020-02-13 02:39] biagas opened #4375 "Cannot save a movie template on Windows"
### Describe the bug
I was trying to create a movie template in the Save Movie Wizard while running on Windows.
There is an option to save the template, and I selected that, hoping to save myself some steps with the next go-round of testing.

When it came to choose the location/name of the movie template file, I used the ... chooser so I could change the name from the default 'visitmovietemplate.p

[2020-02-13 18:40] biagas opened #4377 "movie test 5 strange results on Windows"
I've attached a picture of the results on Windows, and the expected results.

Windows results.
![movie_5_01](https://user-images.githubusercontent.com/17075318/74466861-4c72cc80-4e55-11ea-87e3-f1d74b3076c6.png)

Expected results
![movie_5_01](https://user-images.githubusercontent.com/17075318/74466973-7d530180-4e55-11ea-8184-98436692dbf1.png)

[2020-02-13 19:54] markcmiller86 opened #4378 "Replace CC summary query file output with normal save and option to truncate"
Connected Components summary query is a bit odd in that instead of rendering the query string result to the Query output window, it writes it to a file the path of which is not selectable by the user. By fiat, it does to `~`

I suspect this may have been done because there is no clear idea on how big the query result string will be and for very large cases could overwhelm our Query string infrastr

[2020-02-13 20:38] markcmiller86 opened #4380 "Revisit visitrc file behavior"
Broadly speaking, the intention of Python commands in `~/.visit/visitrc` is to allow users to effect how VisIt *starts up*.

A challenge is that in order to process the contents of `visitrc` file, the CLI must be launched. For GUI startups, this means a second client gets created. In past releases this second client has either surprised users, impacted smooth termination and/or left stray processe

[2020-02-14 04:43] nicedaxiong opened #4390 "How do I run VisIt in parallel on an MPI cluster"
### Describe the bug
How do I run VisIt in parallel on an MPI cluster?
I've built a small MPI cluster and successfully parallelized the cpi sample program.
I've built a parallel version of Visit3.0.1, and use the `visit -np 2` command to successfully start the VisIt in parallel on one computer.
Now I want to run VisIt in parallel on the cluster.
I tried using the following command to start with th

[2020-02-14 15:11] markcmiller86 commented on #4390
Did you create a [host profile](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/ClientServer/Host_Profiles.html) for our system. If not, you need to do that so VisIt knows how to launch the parallel engine there.

[2020-02-14 17:58] markcmiller86 opened #4393 "Sphinx+Qt integration support"
Happened to run across this and wanted to bring it up as possible way to handle Sphinx<->Qt help integration...

https://www.sphinx-doc.org/en/master/usage/configuration.html#options-for-qthelp-output

[2020-02-14 18:36] markcmiller86 opened #4394 "Better sphinx strategy for multi-platform, multi-context"
Most of our documentation is platform-independent. But, not all of it. Sometimes, we need to have specific documentation for a given Platform (Windows, Unix, OSX) or maybe even specific to variants of Unix.

Currently, where we need to do this, we just write something like *On Windows... but on Unix...*. This is unsatisfactory and, worse, can get unwieldly. I wonder if there is a better strategy a

[2020-02-14 18:48] markcmiller86 commented on #4394
I could potentially see some merit in having platform-specific screen shots. If we were able to [automate the process of collecting screen shots](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Contributing/index.html#things-to-consider-going-forward) then it could potentially make for higher quality manual and then generating wholly new Windows manual, a Unix manual a

[2020-02-14 21:47] markcmiller86 opened #4395 "Combine File->Save window and File->Set save options to a single File->Save window..."
In any application I use, `File->Save` brings up a file dialog to a) specify the name of the file and b) specify where to save it on the file systme. VisIt's `File->Save` does **not** do this however and instead just saves a window. It might as well be a button somewhere else in the interface.

We have two menu options under the File menu related to saving a window. One is the *operation* to perfo

[2020-02-15 13:45] nicedaxiong commented on #4390
Thank you very much for your guidance. According to the manual, I created my own host profile and successfully launched the VisIt on the cluster

[2020-02-16 18:41] markcmiller86 opened #4398 "Audit/overhaul config file management and verbiage"
There are a variety of minor inconsistencies in how we do business with these files and features that we should consider addressing...

We have a lot of files related to *behavior*. These are described in detail in the [File Locations](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/using_visit/Preferences/File_Locations.html?highlight=file%20locations) section of the manual.

[2020-02-17 13:38] NAThompson opened #4399 "Document CSV and other file format support in our main docs"
I was going through the [first page of the documentation](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Intro/Getting_started.html), and decided to try the simplest thing I could, namely getting a scatterplot of a .csv file:

[daubechies_2_scaling_convergence.txt](https://github.com/visit-dav/visit/files/4213953/daubechies_2_scaling_convergence.txt).

Scatterplots ar

[2020-02-17 16:42] markcmiller86 commented on #4399
@NAThompson sorry you had troubles. And thanks for the encouraging comments.

I was able to get your data to plot. I used the PlainText reader to open it using File->Open As..., explicitly setting PlainText as the format and then bringing up the default read options and checking the box for `First row has variable names`.

Next, default attributes of scatter plot don't seem to render anything for

[2020-02-17 16:44] markcmiller86 commented on #4399
Oh, and to answer your question...Yes, CSV is supported, in a few different ways. What is missing is documentation for it. So, I will adjust the header of this issue a bit.

[2020-02-17 18:03] NAThompson commented on #4399
@markcmiller86 : Hugely helpful, thanks so much! I'll leave the issue open but feel free to close since my problems have been resolved.

[2020-02-17 19:52] markcmiller86 opened #4400 "build_visit should support --version develop"
Currently, I think `build_visit` supports building only a tag or release.

Before moving to github, `build_visit` supported the idea of building a subversion revision number including `--version trunk`. At least I think it did. I recall seeing logic in the code that appeared to do this though I never tried it.

Now, I think it should support `--version develop` or maybe even `--version <gh-commit-

[2020-02-18 18:44] aowen87 commented on #4187
I've added some examples that show how to enable OSPRay within VTK. In general, the pattern looks like this:
[code]

We can also create materials and access their attributes through VTK. I've added an example of how to do this on the demos page, but here is a quick look:
[code]

The full examples can be found here: https://github.com/aowen87/ospray_demos/tree/master/version-1.x/vtk
VTK documentati

[2020-02-18 19:05] markcmiller86 opened #4403 "Why is there a 2D Area and 3D Area Query"
We have two queries that I think do *exactly* the same thing one named `2D Area` and the other named `3D Area`. Can we get rid of one and just call the other `Area`?

[2020-02-18 19:29] aowen87 commented on #4187
As mentioned earlier, OSPRay is handled in two different ways within VisIt. Here is some more information about how this is split up.

- **General Case**:
This is largely contained within the _VisWinRendering_ class. In the constructor, you'll find a _vtkViewNodeFactory_ being created, and several mappers and actors are being registered to use OSPRay. The _vtkVisItViewNodeFactory_ is also at play

[2020-02-19 18:25] aowen87 commented on #4187
**Paths Forward**
There are several pathways forward, all of which have their own pros, cons, and other considerations. Here is what comes to mind:

1. **Maintain the current infrastructure**
    * Pros:
       * Very little refactoring needed.
    * Cons:
        * Interfacing with both VTK and OSPray directly isn't very clean.
        * VTK is currently using OSPRay version 1.x. If/When they dec

[2020-02-19 19:35] rusu24edward commented on #4359
I believe what you are describing here is already implemented, but it's buggy. Take a look [here](https://github.com/visit-dav/visit/blob/develop/src/avt/Queries/Queries/avtWeightedVariableSummationQuery.C#L178). Basically, if `topo` is 0, use constant 1; if `topo` is 1, use length; etc. The problem here is that this is not done on a per element basis, but rather on the dataset being queried. `top

[2020-02-19 22:50] aowen87 commented on #3485
When volume rendering, the zoom _does_ work, but the bounding box behaves very oddly. First, the second you zoom in, the bounding box appears to revert to the non-ospray version (thinner lines). Second, when you click and drag the rendering screen to change views, the current render will  disappear (as expected), but the ospray bounding box will appear again in its place.

Example:
this is a scree

[2020-02-19 23:32] rusu24edward commented on #4359
Yup, this is just designed to [sum only positive values](https://github.com/visit-dav/visit/blob/develop/src/avt/Queries/Queries/avtSummationQuery.C#L576) if the query is volume/area. Cannot enforce this for variable summing though.

[2020-02-19 23:56] rusu24edward commented on #4359
@markcmiller86 Let's chat more about this. I don't think that elements of different dimensions should be considered together. Not sure what is a use case for this.

[2020-02-20 00:02] markcmiller86 commented on #4359
Hmm...in a mesh with mixed dimensional elements (e.g. some edges, some faces, some volumes), I agree. But, what if subset-selection is such that *only one* dimensional type exists? I think that could return a useful number? And, I don't think it'd be such a bad thing if it wound up summing lengths+areas+volumes for the mixed case. That would certainly give desired result if conditions were such th

[2020-02-20 00:10] rusu24edward commented on #4359
Perhaps... Upon each subselection, we would have to recalculate the topological dimension. We could do this, I'm just trying to get a better sense of a real-life use case.

The one-type subselection case would fall out from this, but I'm still concerned about the mixing because (1) units and (2) this would break volume/area queries.

[2020-02-20 00:18] markcmiller86 commented on #4359
I think it would *break* them only when the queries didn't themselves make sense anyways, which I think the user should have a decent handle on anyways. I mean, yes, mixing values from the different dimensional elements is meaningless but then, so is even asking for the associated query under those conditions, right?

Now, maybe we have cases where users ask for volume (3d) query and *expect* any

[2020-02-20 04:38] markcmiller86 commented on #4359
Ok, thought about this a bit more and I think I was confusing VS and WVS queries with Len,Area,Vol queries.

For WVS, if the mesh is mixed, have it return multiple values; one for each dimension. So, if the mesh has linear and areal elements, you get back two values; one is the weighted variable sum over *just* the linear elements, weighted by their lengths. The other is the weighted variable sum

[2020-02-20 05:06] markcmiller86 opened #4410 "Database expressions for VTK files"
Requested by @rrsettgast

A quick look suggest we might be able to implement as [vtkInformation](https://vtk.org/doc/nightly/html/classvtkInformation.html#details) member of a vtkDataSet object. A question is whether VTK's writers/readers persist the vtkInformation member perhaps as a vtkInformationStringVectorKey.

If this worked, we'd need to update both VTK reader and VTK writer.

[2020-02-20 16:39] markcmiller86 commented on #4314
Talked a bit with @brugger1 about this yesterday. Here is a summary.

VisIt supports 4 kinds of database plugins; single-timestep-single-domain (STSD), single-timestep-multiple-domain (STMD), multiple-timestep-single domain (MTSD) and multiple-timestep-multiple-domain (MTMD). The differences among these have to do with how the work of finding timesteps and domain-level pieces is delegated to the d

[2020-02-20 16:44] griffin28 opened #4411 "Add "make manuals" to masonry"
Need to add the "make manuals" step when creating DMGs for macOS. This adds the necessary Sphinx documentation to the VisIt help manual.

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [ ] High - User productivity significantly improved
- [x] Medium - User productivity partially improved
- [ ] Low - User productivity trivially improved

[2020-02-20 17:35] biagas opened #4412 "new sphinx documenation build using python3 needs some changes"
Root CMakeLists.txt file contains a command to add the 'manuals' target, which executes sphinx-build from a python3 install.
1) It builds the docs in src/resources/help/en_US/manual
  It should create them in ${CMAKE_BINARY_DIR}/resources/help/en_US/manual instead
  There should also be an install command to ensure the generated files are installed (if this isn't handled automatically)

2) It does

[2020-02-20 17:38] #4390 closed, assigned to nobody

[2020-02-20 17:41] #4371 closed, assigned to nobody

[2020-02-20 17:53] brugger1 commented on #4164
@nicedaxiong We are going to close this. Please let us know if you need more help.

[2020-02-20 17:53] #4164 closed, assigned to nobody

[2020-02-20 18:01] biagas opened #4413 "Do we still need the VISIT_SPHINX triggered way of building docs?"
Setting VISIT_SPHINX to true triggers the addition of the 'doc' directory to the build.
src/doc/CMakeLists.txt  calls FindSphinx.cmake sets some CMake vars and creates a 'user_manuals' target.

Is this still needed since the addition of the 'manuals' target when VISIT_PYTHON3_DIR is available? (This logic is located in root CMakeLists.txt)

If not, should we move the python3-style build to  doc/CM

[2020-02-20 19:20] biagas opened #4414 "On-Board help poorly formatted"
See the image below. (screenshot from Windows)

Seems like the top section is a duplicate of the bottom.
Plus there is a duplicated 'VIsIt User Manual' circled in red.

![OnBoardHelp](https://user-images.githubusercontent.com/17075318/74969797-0f1cba80-53d2-11ea-84a5-72a9bef6b34b.PNG)

When I click on any of the links (top or bottom), the content appears in the bottom half, but I think it would be

[2020-02-20 19:24] griffin28 commented on #4414
The copyright should be updated to 2020 also

[2020-02-21 00:25] markcmiller86 commented on #4314
I took a look at user's data files for this case; 216 CGNS files named like so `volume.cgns.216.xxx` where `xxx` in `[000...215]`. And, it turns out these are HDF5 files!

What I see is that all the *variables* are consistently named between files. They all use the *same* variable names and structure.

As VisIt's CGNS plugin sees it, a file has a single *mesh* and those files name the mesh differe

[2020-02-21 01:14] brugger1 commented on #4314
Yeah, I looked at the mesh names from 2 of the files and saw that the names weren’t particularly useful. That each file has a single mesh is definitely a good thing. I’ve been looking at the relevant code for handling .visit files to understand how it works and determine a path forward. I also got an error when I opened the .visit file, which I believe maybe from trying to open the .visit file wit

[2020-02-21 04:27] markcmiller86 opened #4418 "Distinguish hosts by hostname and then nickname"
User reports...I have set up several host profiles as below. They all have same “remote host name" but connect to different machines via different ports

host nickname: euler
remot host name: abc.com
ssh command: ssh -p 2261

host nickname: newton
remot host name: abc.com
ssh command: ssh -p 2262

If I open “euler” in file open dialog, it connects to “euler”.

But, if I open “newton” in file open

[2020-02-21 18:55] cyrush commented on #4418
I have seen this --- and it is a source of confusion.

[2020-02-22 02:39] markcmiller86 commented on #3097
Resolved in #4369

[2020-02-22 02:39] #3097 closed, assigned to markcmiller86

[2020-02-23 06:20] markcmiller86 opened #4422 "Something seriously odd about cutoff behavior for resampling of point data"
Do a PC plot of a 1000x1000 resample of `PointVar` from `noise2d.silo` and you get something a bit odd looking...

![Untitled](https://user-images.githubusercontent.com/5720676/75097833-ffcd7680-5563-11ea-9599-54593dda71bc.png)

There are a bunch of circular shaped regions. You'd expect this to some extent but the extent of the regions seem to just clamp off at some distance is a bit pronounced. L

[2020-02-23 06:24] markcmiller86 commented on #4422
Another interface issue with resample operator is that if you accidentally have `3D` resampling enabled (which is the default) for a 2D plot, you get no data. Why can't the plot just do the right thing based on input?

[2020-02-24 05:11] markcmiller86 commented on #4422
A couple of other issues discovered with this data and plot.

- You cannot Pick the resampled PointVar plot. You get `Glyph pick could not find a valid intersection.`
- If you pick the original PointVar as a PC plot *without* the resample, you get a very different value than you get with the resampled data. For example consider Pick `B` in plot below. The pick gives (incident node 9) value 1.03031

[2020-02-24 17:38] biagas opened #4424 "Still have Makefile.in files"
I don't know if there was some reason these were left in place when we moved to CMake.

They are located here:

/src/sim/examples
/src/tools/data/DataManualExamples
/src/tools/data/DataManualExamples/CreatingCompatible
/src/tools/data/DataManualExamples/CreatingCompatibleAdvanced
/src/tools/data/DataManualExamples/Simulations

They should be removed if they are no longer needed.

[2020-02-24 23:44] brugger1 opened #4425 "Printing is broken in 3.X."
### Describe the bug

A user (John Fields) tried to print to a pdf and he couldn't get it to work. I tried it and it pretended to do something, but I never got a file. I then tried printing to the printer and that also pretended to do something, but no print out. This all worked in 2.13.2 on Windows. I didn't try this on Linux. I assume it is related to Qt 5.

**Impact**
- [X] Medium - User produc

[2020-02-24 23:56] markcmiller86 commented on #4425
I just tried 3.0.1 on OSX and it did not print there. I was expecting to at least see a print dialog come up for me to select a printer. It didn't. It just did nothing.

If user needs a quick work-around for raster (image) saves, he can of course `File->Set save options...`, select `jpg` or `png` output, creating an image file and then open that file in a Windows native app and print from that.

[2020-02-24 23:58] brugger1 commented on #4425
Good idea!

[2020-02-24 23:59] brugger1 commented on #4425
On Windows the print dialog comes up and it looks like it works, but no output.

[2020-02-25 00:01] griffin28 commented on #4425
This is the warning I get when trying to print on macOS:

Qt: Warning: QPrintDialog: Cannot be used on non-native printers
Qt: Warning: QPrintDialog: Cannot be used on non-native printers

[2020-02-25 15:56] #4411 closed, assigned to griffin28

[2020-02-25 16:08] #4149 closed, assigned to griffin28

[2020-02-25 16:09] griffin28 commented on #4149
Duplicates #4195

[2020-02-25 16:10] #3521 closed, assigned to griffin28

[2020-02-25 16:19] #3277 closed, assigned to griffin28

[2020-02-25 16:21] #2912 closed, assigned to griffin28

[2020-02-25 16:42] #2507 closed, assigned to griffin28

[2020-02-25 16:43] #2920 closed, assigned to griffin28

[2020-02-26 01:54] #4281 closed, assigned to biagas

[2020-02-26 03:33] markcmiller86 opened #4431 "What's changed in volume plot since 2.9.2"
User reports...

VisIt 2.9.2 is from June 2015.

* [history of changes in volume plot](https://github.com/visit-dav/visit/commits/develop/src/plots/Volume/avtVolumePlot.C)
* [history of changes in volume plot filter](https://github.com/visit-dav/visit/commits/develop/src/plots/Volume/avtVolumeFilter.C)
* [history of changes in volume renderer](https://github.com/visit-dav/visit/commits/develop/src

[2020-02-26 03:34] markcmiller86 commented on #4431
@aowen87 ... I wonder if anything jumps out at you as to possible cause?

[2020-02-26 06:23] markcmiller86 opened #4432 "Remove gzstream"
I happened to be tracking an [MFEM issue](https://github.com/mfem/mfem/pull/1315) where they are re-licensing from LGPL to BSD. And, they needed to deal with my implementation of gzstream there. I disocvered we need to do same for VisIt

[2020-02-26 15:51] aowen87 commented on #4431
These are two complete different renderers, so I'm not sure that there's an easy recipe to get them to match up.

I believe the 2.9 version defaulted to using our old openGL3DTextureVolumeRenderer, which was all in house code (including incorporating lighting effects) and no longer exists. The new renderer is a vtkSmartVolumeMapper which chooses the backend method based on the currently available

[2020-02-26 16:45] aowen87 commented on #4292
I'm actually not sure if this is related to shared variables or not. This problem appears when using any of the variables that I've tried from d3samp6 (shared or not). The other mili datastes do no exhibit this behavior. I'm updating the ticket name to reflect this.

[2020-02-26 16:54] aowen87 commented on #4292
Using a node variable from this dataset doesn't result in the crash, but the results of the pick are wrong for node velocity and acceleration. Even doing a regular pick (no time involved) returns 0 for all nodal values, which is clearly incorrect. Other node variables seem correct so far.

[2020-02-26 17:04] aowen87 commented on #4292
More oddities with a different dataset...
When picking from m_plot, the highlights show up in mid-air and in a completely different area from where I mouse-clicked. It actually looks like it might be picking from the _sand _mesh__ rather than the regular mesh, even though I'm plotting the regular mesh.

Here's an image of the original plot that I was picking from:
![Screen Shot 2020-02-26 at 10 01

[2020-02-26 17:07] aowen87 commented on #4292
Definitely picking from the sand mesh:
![Screen Shot 2020-02-26 at 10 06 06 AM](https://user-images.githubusercontent.com/11658578/75368900-b2ad1580-587f-11ea-83b0-1fe0a81c93ad.png)

[2020-02-26 19:57] #4312 closed, assigned to aowen87

[2020-02-26 20:42] #3149 closed, assigned to biagas

[2020-02-26 23:10] markcmiller86 opened #4436 "Numerical intervals ignored in discrete color tables"
### Describe the bug
Discrete color tables are mostly used for categorical data (e.g. data that isn't thought of as a *range* of values or, at least that differences in that range are not seen as having any meaning). However, discrete color tables are often useful in plotting real numerical data. And, our discrete color tables certainly support specifying the numerical intervals to which each colo

[2020-02-26 23:21] #4432 closed, assigned to nobody

[2020-02-27 16:47] markcmiller86 opened #4438 "Add section on database write options"
The section on database read options is already written. But, we need on on database write options.

[2020-02-27 17:08] markcmiller86 commented on #4356
Ok, I apparently neglected to mention something important here. I think the issue is with fullframe mode. I had it in effect here and it looks like fullframe was being applied to the mesh plot but somehow not to the label plot.

[2020-02-27 19:23] markcmiller86 commented on #4431
@jarrah42 mentioning you because of your interest in reproducibility

[2020-02-28 18:53] ARSanderson opened #4442 "Expressions and incorrect var type at the plot level"
When at the plot level on the engine side when evaluating an expression the variable type is typically based on the expression's input primitives and not the variable the expression is creating. This is problematic. First an expression's input primitives could be from scalars, vectors, and tensors so depending on how the expression is formed the type could be anything.

That issue aside it seems t

[2020-02-28 19:07] markcmiller86 commented on #4442
@ARSanderson thanks for adding. I've unassigned everyone until we review this at next team meeting as per our normal workflow. Ok?

[2020-02-28 19:26] biagas opened #4443 "Document CMake vars that VisIt uses"
Things like CMAKE_BUILD_TYPE may not be known by users building VisIt independently of build_visit, especially if they are new to CMake.

There are also a number of vars that control what is built, or control specific features:
VISIT_PARALLEL
VISIT_OSPRAY
VISIT_BUILD_MINIMAL_PLUGINS
VISIT_SELECTED_DATABASE_PLUGINS (and similar for plots and operators)
CMAKE_SUPPRESS_REGENERATION (useful on Windows

[2020-02-28 20:17] brugger1 opened #12100 "Can netcdf reader pull out a 3d block of a 4d array?"
I had a user call that has netcdf files. He has a 4d array in it and would like to pull out a 3d block from it. Is there any way to do this?

[2020-02-28 20:28] biagas commented on #4425
I  stepped through with VS debugger, and it seems that our vtkQtImagePrinter's WriteFile method is never called (its a subclass of vtkImageWriter). I am going to use a debug version of vtk to see if I can figure out why the subclass methods aren't called.

[2020-02-28 21:25] markcmiller86 commented on #12100
Is the question about whether the netCDF API supports doing this or whether one of the flavors of the uber-netCDF plugin can do it?

If the 4th dimension is *time* (or in netCDF parlance the *unlimited* dimension), then yes, that is the natural modality of access for netCDF and our plugins likely also handle that. Otherwise, read on...

If the netCDF file is an HDF5 file (newer versions of netCDF

[2020-02-28 22:44] brugger1 commented on #12100
The question is whether our generic netcdf reader handles it. I know the BOUT reader handles 4d arrays with one of the dimensions being time just as you mentioned.

[2020-02-29 00:36] markcmiller86 commented on #12100
The code at our around this line in `avtBasicNETCDFReader.C` suggest no...we handle only up to 3 spatial dimensions...

https://github.com/visit-dav/visit/blob/b56dfd2f7dda9f6428f7a0d755ea1c2f34ecedab/src/databases/NETCDF/avtBasicNETCDFReader.C#L440

[2020-03-02 16:01] rusu24edward opened #4445 "Document Integral Curves"
Update/create documentation on integral curves.

[2020-03-02 16:35] markcmiller86 opened #4446 "Cannot Transform spherical coordinate vector field back to Cartesian"
### Summary
Use **Expressions** to create a vector variable whose values represent the vector's component directions in a *Spherical* coordinate basis (e.g. Radius,Theta,Phi). Then, try to use Transform operator to plot this vector variable converting back to *Cartesian* coordinate basis. This doesn't seem to work.

### Details
1. Open globe.silo
1. Vector plot `vel` and note that it is a vector f

[2020-03-02 16:40] markcmiller86 commented on #3453
@brugger1 has moved the TPL repo to GitHub and future invocations of `build_visit` should mostly be taking from there. We should re-check this in future to see if we notice an uptick in our bandwidth usage on GitHub.

[2020-03-02 16:40] #3453 closed, assigned to nobody

[2020-03-02 16:47] markcmiller86 opened #4447 "Fix color reversal in color table example"
[Here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/MakingItPretty/Color_tables.html#numerically-controlled-banded-coloring) in the documentation, for some reason I accidentally reversed the meaning of the colors over the range of values. We need to re-do those images.

[2020-03-02 17:03] rusu24edward opened #4448 "Update aneurysm and potential flow docs"
### Describe what needs to be documented.
[Aneurysm](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/Aneurysm.html#visualizing-the-velocity-vector-field) and [Potential Flow](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/PotentialFlow.html#visualizing-the-velocity-vector-field) are really nice tutorials. The [visit users docs](http://visitu

[2020-03-02 19:13] #4448 closed, assigned to rusu24edward

[2020-03-02 19:29] rusu24edward commented on #4445
"Go to the Source section on the Integration tab." in https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/Aneurysm.html#visualizing-the-velocity-vector-field doesn't make sense because source is now its own tab

Same thing for Potential flow

The images need to be updated too, so I made #4587 to track this.

[2020-03-02 19:30] aowen87 commented on #12100
It looks like the first dimension in this variable is a laser. He also would like the ability to plot variables of X-dimension. Is there a reason that the reader currently doesn't handle higher dimension variables (tensors, arrays, etc.)?

[2020-03-02 19:33] rusu24edward commented on #4445
- [x] Sampling along and sampling type should be on different lines in the integral curve operator attributes.
![Screen Shot 2020-03-02 at 11 32 45 AM](https://user-images.githubusercontent.com/18565891/75710522-92af9480-5c79-11ea-9813-5a322c5651e9.png)

[2020-03-02 19:43] cyrush commented on #3453
@markcmiller86 -- where they are currently stashed, I don't think it will hit our LFS quotas.

(They are hosted as static tarballs as part of a release)

But I agree, we should verify that by checking our usage.

[2020-03-02 19:54] rusu24edward commented on #4445
- [x] Add sphinx docs for https://www.visitusers.org/index.php?title=Parallel_Integral_Curve_System_in_VisIt

[2020-03-02 19:58] markcmiller86 commented on #12100
Well, then maybe our notion of *multi-block* would work where each *laser* is one block of a multi-block object???

We have to be careful where in the variable's *domain* (spatial or topological dimension) or *range* ([tensor rank](https://en.wikipedia.org/wiki/Tensor_(intrinsic_definition)#Tensor_rank) or sometimes also called *dimension*) we are talking about *dimension*. The original inquiry he

[2020-03-02 20:52] markcmiller86 commented on #3453
Agreed.

[2020-03-02 21:21] biagas opened #4453 "Print Window's Print to file doesn't allow specification of file name or location."
While working on #4425, I decided to try 'Print to file' option that was available in the dialog.
The dialog didn't have any options for choosing a file name or location.

![PrintDialog](https://user-images.githubusercontent.com/17075318/75718530-f93baf00-5c87-11ea-853a-5c09f0a5f2ed.PNG)

After clicking 'Print', I see this message: "Window 1 saved to FILE:", but no such file could be found on the

[2020-03-02 21:37] biagas commented on #4453
In other print dialogs I tried on this Windows 10 system, clicking the 'Print' button opened a file dialog allowing choice of file name and location.  If the 'print to file' option was chosen for a normal printer, the default file type was '*.prn'.  If the chosen printer was instead 'Microsoft Print to PDF', then the output file type was pdf.

[2020-03-02 22:55] biagas commented on #4453
Print to file works fine on my linux box. It allows selecting location and filename as well.

[2020-03-03 16:29] biagas opened #4454 "Add links to github issues resolved in our Release notes."
I've seen this with other projects.  Release notes contain a brief blurb regarding what was fixed, with a link to the issue(s).

[2020-03-03 17:05] markcmiller86 commented on #4454
Love this idea :heart:. We can probably automate some of this with a script using GitHub APIs.

[2020-03-03 18:24] #4425 closed, assigned to biagas

[2020-03-03 18:29] #4453 closed, assigned to biagas

[2020-03-03 21:03] biagas opened #4457 "Enable code gen targets on Windows"
Code gen  targets are currently disabled on Windows because they always build, even though excluded from ALL.  This is a strangeness with CMake and Visual Studio.

If they are excluded from the DEFAULT BUILD as well, then they won't build when building VisIt, and individual codegen targets can be built separately (eg gen_info_Curve).

Fine in theory, except: who wants to then go and build each ind

[2020-03-03 23:55] markcmiller86 opened #4458 "Forbidden chars in curves not handled"
### Summary
- Forbidden character substitutions in variable names are being handled inconsistently and in different places.
   - The GUI appears to be doing it. The database stuff does it. But they deal with different characters and in different ways.
- Default for `replacementMask` seems wrong as it means no curve variable names from any plugins get processed meaning their forbidden chars *leak*

[2020-03-04 04:33] biagas commented on #4457
Corrections: The CMake strangeness with VS I observed is due to my use of a hacked-cmake that does not create the ALL_BUILD project.  I found the ALL_BUILD project caused extreme slowness in loading VisIt into the VS IDE when building all of VisIt, so created the hack to prevent its creation. I also never found the project useful, always telling VS to build the solution file.  I have been using th

[2020-03-04 20:45] cyrush commented on #4457
Sounds good!

[2020-03-04 21:48] biagas commented on #4457
Did you see my request for review on PR #4459 ?

[2020-03-04 22:07] #4457 closed, assigned to biagas

[2020-03-04 22:20] biagas commented on #4357
avtZoneTypeRankExpression sets 'TreatAsASCII'  to true.  Due to this flag, Pick attempts to convert the value to a 'char' when printing the output. Label Plot does the same conversion.

[2020-03-04 22:44] biagas opened #4462 "avtLabelFilter utlilizes a never set var 'labelVariable'"
The variable controls logic, but there is no place in the code where it is ever set,

starting at line 186 in 3.1RC version of the file:
[code]

It wasn't a change introduced with the VTK-8 update, I looked at several versions prior and it wasn't set in those versions either.

Since the 'variableProbablyIsAMesh' code path is always used, seems like the logic should be reworked. Or figure out where

[2020-03-04 23:33] markcmiller86 commented on #4357
Hmm...We have two zone-type related expressions. One is intended to return an ascii-like label (e.g. `t` for *triangle*, `T` for *tetrahedra*, `q` for *quadrilateral*, lower case for 2D and upper case for 3D). That is the `zonetype()` expression function. The other, which returns the type *rank* is supposed to return a numerical value that is the same as the value of the `VTK_XXX` element type. So

[2020-03-05 02:21] griffin28 commented on #3111
@brugger1 do you have the image that this ticket refers to?

Was this when we were first upgrading to VTK8? I believe @biagas VTK8 updates have resolved this?

[2020-03-05 02:36] #4357 closed, assigned to markcmiller86

[2020-03-05 02:37] markcmiller86 commented on #4357
Thanks for diagnosis @biagas. Fixed now.

[2020-03-05 14:52] biagas commented on #3111
I don't know if this was resolved,and don't recall what test was referenced.

[2020-03-05 14:59] biagas commented on #3111
Looks like it is referring to simulations/batch.py tests, batch_6 series ?

[2020-03-05 17:10] #4431 closed, assigned to nobody

[2020-03-05 23:55] cyrush opened #4464 "point size ignored in subset plot"
### Describe the bug
I am using a subset plot to look a point mesh that is domain decomposed.
The default point size is very small so I can't really make out the domain coloring:

![subset](https://user-images.githubusercontent.com/1194526/76035931-981a1280-5ef7-11ea-9427-a07e2cda042f.png)

I tried to change the point size to 20, but nothing happens.
I also tried all of the other point rendering m

[2020-03-06 00:36] markcmiller86 commented on #4464
If you go to `File->File information...` and look at the details of the points mesh (or lines mesh) you see topological dimension for these is 3 when I think they should be 0 and 1 respectively. I dunno if that is playing a role here but I thought I would mention because I saw it.

[2020-03-06 01:19] griffin28 commented on #3111
Okay...I pulled the simulations/batch.py batch_6 (https://portal.nersc.gov/project/visit/tests/2020-01-07-22:00/pascal_trunk_serial/batch_6_00.html) test results from 1/8/2020 and they passed. I'm going to assume this issue is OBE.

![Screen Shot 2020-03-05 at 5 18 00 PM](https://user-images.githubusercontent.com/26772741/76040834-4aa4a200-5f05-11ea-8694-aa1eb6abf5ba.png)

[2020-03-06 01:19] #3111 closed, assigned to brugger1, griffin28

[2020-03-06 01:54] biagas commented on #3111
except that the images were rebaselined after the vtk 8 merge.
The point of the ticket was that we were supposed to verify that
the rebaselining was okay. Guess we never expected it to take so long to
get to the tickets and that the original baselines /html showing diffs
would no longer be available.

Kathleen

On Thu, 2020-03-05 at 17:19 -0800, Kevin Griffin wrote:

[2020-03-06 01:55] #4253 closed, assigned to biagas

[2020-03-06 17:21] cyrush commented on #4464
that is correct, in this case we don't know the difference between a general unstructured mesh or a points only mesh without reading the data, its not known in the metadata.

It could be both some unstructured volumetric elements and some points.

[2020-03-06 17:36] markcmiller86 commented on #4464
Ok, so maybe I was inferring too much from the mesh names themselves.

[2020-03-06 18:08] aowen87 commented on #4292
I think what's happening here is that the pick operator is not respecting ghosts.

[2020-03-06 18:55] aowen87 commented on #4292
The pick operator _is_ respecting ghost zones, but not ghost nodes, which is all the mili meshes have been defining. I've added ghost zones as well, and this resolves the issue.

[2020-03-06 19:01] cyrush commented on #4464
my hope is that based on the fact that it works in the PC plot, there should be a path paved for the subset plot

[2020-03-07 00:57] cyrush opened #4472 "add support for expressions in the blueprint plugin"
add support for defining expressions via the blueprint_index, in the blueprint plugin.

Requested by geosx folks.

Strawman format:

[code]
(Largely follows the MFEM JSON Root file pattern for defining expressions)

**Impact**
(*Please click check boxes AFTER submitting ticket*)
- [ ] High - User productivity significantly improved
- [x] Medium - User productivity partially improved
- [ ] Low - Us

[2020-03-08 05:59] markcmiller86 opened #12101 "Set CWD from CLI on Windows"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that ends with `- as GitHub issue (#K)` where `K` is some number.

---

How did you launch VisIt and the CLI? If by clicking on an

[2020-03-08 06:15] markcmiller86-visit commented on #12101
It worked!  I guess I was thinking too hard about it

On Sat, Mar 7, 2020 at 10:59 PM Mark C. Miller via visit-users <
visit-users@elist.ornl.gov> wrote:

[2020-03-08 17:21] markcmiller86 opened #4474 "Add dimension role option to basic netCDF reader"
This came in as a [user inquiry](https://github.com/visit-dav/live-customer-response/issues/7
)

Extra variable dimensions (those above 3 for a spatially 3D dataset or above 2 for a spatially 2D dataset) often represent *tensor rank* dimensions to store the 2|3 components of a vector or the 4|9 components of a tensor or maybe the 256 scattreing angles of some other variable.

Currently, the netCDF

[2020-03-09 16:21] rusu24edward opened #4475 "Visualize dislocation density in 3d space"
Cho, Jaehyun would like to visualize dislocation clustering onto grain boundaries. To calculate the density of the dislocation, we need to be able to calculate the length of the dislocation on the finite element mesh. The idea is to:
1. Map the dislocations onto a rectilinear mesh (maybe using Remap?)
1. Calculate the total length of each dislocation in each cell.

Related to #3581

He shared data

[2020-03-09 16:22] biagas commented on #4464
Is it not possible in the Blueprint plugin to determine if a unstructured mesh or polydata mesh is homogeneous? If homogeneous and all vertices, then mesh type can be set to AVT_POINT_MESH and topological dimension set to 0. If homogeneous and all lines then topological dim set to 1.

The PC plot has special logic for handling mixed topology meshes.  The PC plot has a filter that separates points,

[2020-03-09 16:38] markcmiller86 commented on #4464
I suspect that means problem-sized work during PopMD and @cyrush wants to avoid that. I would agree. Because I know `topo-dim` has impacted this behavior in the past, I thought it might be playing a role here too. That said, for mixed element type dimension mesh, we should be able to set `topo-dim` appropriate (maybe we need this to be a 4-bit value where each bit represents *known* or *probable*

[2020-03-09 18:37] markcmiller86 commented on #4410
@biagas I recall discussing this briefly last week and you raised a question about it that I think I needed to do some homework on but now can't remember. Do you recall?

[2020-03-09 19:08] biagas commented on #4410
I was wondering what exactly is meant by the request.  Is customer requesting a way to specify an expression within a VTK file that could then be read by the VTK plugin, and passed to VisIt? Or something different?

[2020-03-09 19:12] markcmiller86 commented on #4410
Yes, exactly. They have Silo, Blueprint and VTK output options and they want to be able to handle expressions *equivalently* in all of these output formats. By *equivalently*, I mean that each format has a way of passing expressions on to VisIt.

[2020-03-09 19:42] cyrush commented on #4410
Note: I am working on adding expressions to the blueprint db plugin https://github.com/visit-dav/visit/issues/4472

[2020-03-09 19:46] biagas commented on #4410
vtkInformation is associated with a vtkDataSet in a VTK pipeline. It has nothing to do with the data stored in a VTK file format.

We will need to agree on syntax and naming conventions that the VTK plugin will look for in the file. Probably stored as FIELD data (not associated with cells or points), as was done for TIME, CYCLE and MeshName fields.  When parsed, a normal VisIt expression would be

[2020-03-09 20:04] markcmiller86 commented on #4410
Ah, ok, so maybe a FIELD data of type char with a semicolon separated set of strings? Can you point me to where there are examples of TIME, CYCLE and MeshName handled similarly?

[2020-03-09 20:04] markcmiller86 commented on #4410
Ah, so that is in response to a request from @rrsettgast also?

[2020-03-09 20:13] biagas commented on #4410
vtk_test_data/higher_order_triangles.vtk is an example using MeshName
vtk_test_data/visitfile/dbA.00.0000.vtk is an example using CYCLE and TIME.
vtk_test_data/block1.vtu is an example of MeshName in an xml file.

[2020-03-09 21:02] markcmiller86 commented on #4410
Ok, so I see a simple path now to to this. Thanks @biagas.

I am curious...what happens when a `.visit` file is used with a bunch of single-domain VTK files? Is it the zeroth file that VisIt looks for things like `MeshName`, `CYCLE` and `TIME`? Or, are all VTK files required to have that same data?

[2020-03-09 21:04] biagas commented on #4410
I don't recall offhand.

[2020-03-09 22:09] #4292 closed, assigned to aowen87

[2020-03-09 22:11] cyrush commented on #4410
@markcmiller86 yes

[2020-03-09 22:15] aowen87 commented on #4234
Eric and I had a conversation about this and decided to move forward with making the direct route the default for picking through time. The time loop route will still be used when tracking coordinates rather than elements as well as other queries that currently rely on this route.

[2020-03-10 16:26] aowen87 opened #4481 "Pick Through Time updates"
### Describe what needs to be documented.
There have been some updates to the pick through time. We should document this so that users know performance implications.

[2020-03-10 17:23] aowen87 commented on #4187
I had a conversation with Eric about next steps, and here's what we came up with:

VTK has incorporated the latest OPSRay in their latest release (8.2.0). We'd like to leverage this, but we also would like to avoid updating all of VisIt to VTK 8.2 if possible, as there are likely some interface breaking changes. As a first step forward, we'd like to see if we can copy all of the new VTK/OSPRay wra

[2020-03-10 18:14] #4410 closed, assigned to markcmiller86

[2020-03-10 20:15] markcmiller86 opened #4486 "Fix leak of Expression objects in VTK plugin"
This looks like a leak...

https://github.com/visit-dav/visit/blob/171201fb02b33e3282597320540648e99c373b8b/src/databases/VTK/avtVTKFileReader.C#L1579

I noticed and then promptly forgot in my last update. Will fix now but only on develop

[2020-03-10 20:38] #4234 closed, assigned to aowen87

[2020-03-10 20:44] brugger1 opened #12102 "Crash plotting from a Silo filo."
I got the following bug report from a user.

I have a certain material that contains more plot variables being output to a SILO file than other materials within the same simulation.  If I run the simulation on multiple processes and output to SILO, then it behaves fine and I am able to view those extra plot variables in Visit for only the material which has them (see screenshot below, only the col

[2020-03-10 20:46] brugger1 commented on #12102
There shouldn’t be any difference in behavior when running in serial or parallel. Can you give me the silo files? When you created the  pseudocolor plot, did you material select to only the materials that have the variable or did you do it over the entire mesh?

[2020-03-10 20:46] brugger1 commented on #12102
I gave you an example of the SILO files created when I run with 2 procs vs 1 proc.  The variable I plotted below is pseudocolor “eeyy”.

Regarding the pseudocolor plot, I did not do any special selection of materials. It should be covering the whole mesh.  In our code it seems that we currently pass a NULL ptr into the SILO routines for element sets which do not contain the variable, though this s

[2020-03-10 20:53] #4486 closed, assigned to nobody

[2020-03-10 21:14] aowen87 commented on #4187
I've been looking at the VTK 8.2 release, and, as far as I can tell, it's still using OSPRay 1.x. We might be mistaken about the upgraded OSPRay being in 8.2.

[2020-03-10 21:17] brugger1 commented on #4187
I don’t think 8.2.0 is new enough. Take a look at the 9.0.0 release candidate.

[2020-03-10 21:20] aowen87 commented on #4187
I only see up to 8.2 on git/gitlab. Are you seeing a 9.0 somewhere?

[2020-03-10 21:27] aowen87 commented on #4187
I see there is mention of 9.0 rc on their downloads page, but it's currently empty, with a "coming soon" message. I thought master might have these changes, but I'm not seeing evidence of the new OSPRay there either. I'll look a little closer.

[2020-03-10 21:28] biagas commented on #4377
Discovered this has nothing to do with movies.
Certain image sizes produce the wrong results, in fact produce images with different size than requested: the movie test requests a widthxheight of 76x63 for Window 2 (upper left corner).
Actual image size is  116x63 (for all image formats we support writing).
I tried saving at 100x100 and got 116x100.
There appears to be a minimum width of 116.
Reque

[2020-03-10 21:33] brugger1 commented on #4187
At the top of the page https://vtk.org/download/

[2020-03-10 21:34] aowen87 commented on #4187
Yeah, that link takes you to an empty download box. They don't yet have anything available.

[2020-03-10 21:34] brugger1 commented on #4187
Ok, I see the coming soon as well.

[2020-03-10 21:38] brugger1 commented on #4187
How about looking at the latest paraview (probably on master or a very recent RC)?

[2020-03-10 21:42] aowen87 commented on #4187
They have surprisingly few branches, which makes me think that they might have an unusual workflow. They do have a "release" branch, which I'm looking into now. At first glance, it appears to still be using ospray 1.x, but I'll keep looking.

[2020-03-10 21:48] aowen87 commented on #4187
Found it. It's actually not expected to be available until release 9.1, which should be sometime around June. Here is a link to more information, including an active merge request that seems to be treated like a development branch (I guess this is their workflow...):
https://discourse.vtk.org/t/ospray-2-0-vtk-9-0/2789

[2020-03-10 22:34] cyrush opened #4488 "extra pop db metada calls?"
### Describe the bug
(This happed with the blueprint plugin)

visit -debug 5 -o {first of a set of files}.root

Create a PC plot of a variable.
Create  Volume plot of a variable.
Close visit.

Examine A.engine_ser.vlog

When we create the Volume plot, PopulateDatabaseMetaData is called again on the plugin, even though the timestep has not changed.

**Helpful additional information**
(*Please click

[2020-03-10 22:37] cyrush opened #4489 "play and rewind buttons not worrking?"
### Describe the bug

![Screen Shot 2020-03-10 at 3 36 43 PM](https://user-images.githubusercontent.com/1194526/76365644-06d6e180-62e5-11ea-8878-690765ec8d75.png)

Not sure why, but I can advance on step at a time, but I can click play.

**Impact**
- [ ] High - User productivity significantly degraded
- [x] Medium - User productivity partially degraded
- [ ] Low - User productivity trivially degra

[2020-03-10 23:24] biagas commented on #4489
Have you drawn a plot? PR #3936, in response to bug #3864 disabled the play buttons if there are no drawn plots.

[2020-03-10 23:35] biagas commented on #4489
Also, you should be able to use the time slider to advance to the desired timestep before drawing.

[2020-03-11 01:54] markcmiller86 opened #4490 "File Format Class issues"
A long while back I did some diagnosis of funky behavior of our File format classes and recorded some notes on the user's wiki.

I am attaching links to those notes here because the information contained theirin may be useful to recently added issues

* [file descriptor usage](https://www.visitusers.org/index.php?title=Managing_open_file_descriptors_among_readers_and_writers)
* [memory bloat due t

[2020-03-11 16:00] cyrush opened #4491 "build_visit:p7z build fails on macOS 10.14 (Xcode 11.3)"
### Describe the bug
Tons of unresolved symbols from std libs --- example:

[code]

I think it is related to p7z using the -m32 flag, when the dev environment only has 64-bit libs.

[code]

[code]

### Desktop
 - OS and version: macOS 10.14
 - VisIt Version: 3.2.x (develop)

[2020-03-11 16:00] cyrush commented on #4491
Seems we should make a different decision here for 10.14 and beyond:
`cp makefile.macosx_gcc_32bits makefile.machine`

[2020-03-11 16:07] cyrush commented on #4491
looks like this might be failing to take the right path:

    cd $P7ZIP_BUILD_DIR || error "Can't cd to P7ZIP build dir."
    if [[ "$OPSYS" == "Darwin" ]] ; then
        DTDIGITS=$(echo ${MACOSX_DEPLOYMENT_TARGET} | tr -d'.')
        if [[ $DTDIGITS -le 109 ]]; then #
            cp makefile.macosx_gcc_32bits makefile.machine
        else
            cp makefile.macosx_llvm_64bits makefile.machin

[2020-03-11 16:08] markcmiller86 commented on #4491
Might this get you past this for time being...

https://apps.apple.com/us/app/the-unarchiver/id425424353?mt=12

Mark

[2020-03-11 16:09] aowen87 commented on #4187
@brugger1 Since VTK won't have a fully functional version of OSPRay 2.0 wrapping until around June, should we put a hold on this?

[2020-03-11 16:31] cyrush commented on #4491
[code]

[2020-03-11 16:32] markcmiller86 commented on #4491
Add a space between `-d` and `'.' in the `DTDIGITS=` line

[2020-03-11 16:38] cyrush commented on #4491
I think the input isn't set (MACOSX_DEPLOYMENT_TARGET) - which is strange, but Since this test looks for 109, which is quite old -- I think it makes sense to cut out the 32-bit path and just use the 64-bit path.

[2020-03-11 16:41] markcmiller86 commented on #4491
That make sense. What version of OSX is ARL on?

[2020-03-11 16:44] markcmiller86 commented on #4491
How about this....

[code]

[2020-03-11 16:53] cyrush commented on #4491
i think it *was* the space :-), but this logic looks good, I'll test and use it.

[2020-03-11 17:12] brugger1 commented on #4187
It sounded like it was complete, perhaps it just won’t be released until June, since that’s when 9.1 will be released. It is probably useful to take a look at it. Can you file an issue asking if it is ready or what state it is in?

[2020-03-11 17:15] aowen87 commented on #4187
Sure thing.

[2020-03-11 17:21] aowen87 commented on #4187
**Notes on VisIt's VTK/OSPray patches:**

- **vtkOSPRayPass**: we expose the vtkViewNodeFactory which contains the "RegisterOverride" method. This method tells VTK to replace specific objects in the pipeline with others. For instance, calling _RegisterOverride("vtkAMRVolumeMapper", myAMRVolumeMapperCreator)_ will replace vtkAMRVolumeMapper with whatever mapper the function myAMRVolumeMapperCreator

[2020-03-11 18:55] cyrush opened #4494 "Consistify OS name/version queries in build_visit"
### Describe the bug
context:
https://github.com/visit-dav/visit/pull/4492

we have multiple ways to probe macOS environment issues.
I think in most cases we use MACOSX_DEPLOYMENT_TARGET, but in XDMF -- we use

`/usr/bin/xcodebuild -version`

MACOSX_DEPLOYMENT_TARGET is the version of macOS, i think thats easier to manage than the version of xcode.

We can investigate if MACOSX_DEPLOYMENT_TARGET i

[2020-03-11 18:59] markcmiller86 commented on #4494
My recollection from the distant past is that down in the bowels of CMake, it too uses (used to use) `MACOSX_DEPLOYMENT_TARGET` (and friends) as well and also that there were cases, perhaps having to do with how or if Xcode was installed, that impact the existence and validity of this variable and then ultimately how CMake behaved.

[2020-03-11 20:10] #4375 closed, assigned to biagas

[2020-03-11 22:20] brugger1 opened #12103 "Problem building VisIt on mac OS X Catalina."
Dear VisIters,

I’m currently trying and building VisIt on my mac OS X Catalina. I’m using the build_visit script as follows :

./build_visit3_1_1 --parallel --openssl  --mesagl --icet --llvm --mpich

However, the script is crashing when building mesagl libraries, complaining that the llvm shared libraries are not found. It seems however that the llvm libraries where correctly build by the script

[2020-03-11 22:21] brugger1 commented on #12103
Hi Cyril,

I believe we've seen this before. I'll do some research and see if I can find the fix.

Eric

[2020-03-11 22:28] brugger1 opened #12104 "Unable to get transform operator to transform cartesian to cylindrical."
Walt Nissen stopped by my office and said he want to unwrap a cylindrical mesh. I tried to do this with ucd3d.silo and couldn't get it to work. The cylinder is aligned on the z axis and it is centered on (x,y) = (0,0), so I believe this should be exactly a coordinate transform. I tried both cartesian to cylindrical and cylindrical to cartesian and neither worked.

We're trying to [combine `visit-u

[2020-03-12 00:17] biagas opened #4500 "Begin investigation of port to VTK-9"
We've already had a discussion about the new ospray modules being put into 9.1 version of VTK.

We should begin looking into the port, starting with 9.0.0RC or a clone of master, and keep track of any gotchas or problems encountered.

[2020-03-12 14:42] biagas commented on #4500
I downloaded vtk-master and attempted a build.
They way modules are requested has changed significantly.
Our current practice: turn off all module groups, then enable only the modules we know we want. Any dependent modules are then enabled automagically by vtk.

New system:
- The new Module flags have new names eg:  VTK_MODULE_ENABLE_VTK_RenderingOpenGL2.
- They are no longer boolean flags(on/off,

[2020-03-12 16:13] cyrush commented on #4475
![grains](https://user-images.githubusercontent.com/1194526/76542137-cccf2200-6441-11ea-996d-ee36f91fa272.png)

[2020-03-12 16:16] cyrush commented on #4475
cyrus has the data on the llnl cz, an exodus file and the dislocation lines mesh (*meta) files.

[2020-03-12 16:22] cyrush commented on #4489
In my case the plot was drawn -- by maybe drawn then errored.

Things got into some horrible state that I can no longer reproduce.  I am closing, since I think this was a strange case.

[2020-03-12 16:22] #4489 closed, assigned to nobody

[2020-03-12 16:23] griffin28 commented on #4494
Here's another way:

if [[ "$OPSYS" == "Darwin" ]]; then
             if [[ `sw_vers -productVersion` == 10.14.[0-9]* ]]; then
                 apply_qt_5101_macos_mojave_patch
                 if [[ $? != 0 ]] ; then
                     return 1
                 fi
             fi
fi

[2020-03-12 16:26] cyrush commented on #4475
![disloc](https://user-images.githubusercontent.com/1194526/76543280-87135900-6443-11ea-96a7-f6943bca786d.png)

[2020-03-12 16:28] cyrush commented on #4491
Resolved for 3.1.2 in #4492 and on develop with #4499

[2020-03-12 16:28] #4491 closed, assigned to cyrush

[2020-03-12 16:33] markcmiller86 commented on #4443
This feels like it should go into a *maintainers* section of the manual

[2020-03-12 16:40] markcmiller86 commented on #4442
From @ARSanderson

Below is a discussion between Mark and I on an issue with the var type and expressions. Nut shell if in a avtPlot one checks the variable type for an expression via the data object attributes:

    avtVarType varType = input->GetInfo().GetAttributes().GetVariableType();

what is returned for an expression is the variable type of I “believe” is the first variable used in the expr

[2020-03-12 16:47] rusu24edward commented on #4442
Here is a follow up:

Feb 24, 2020 from Eddie:
It looks like src/avt/Expressions/Abstract/avtExpressionFilter.C makes use of the SetVariableType function from avtDataAttributes. This is most likely where the variable type is being set for expressions. Have you looked at this file already?

Feb 24, 2020 from Allen:
Thanks for that. It is part of the equation but not all. The expression filter gets

[2020-03-12 19:04] #4424 closed, assigned to markcmiller86

[2020-03-12 21:25] brugger1 opened #12105 "Ability to read lines to render on top of a 2d plot."
A user called asking if he could read a file with descriptions of lines to render on top of a 2d plot.

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/

[2020-03-12 21:28] brugger1 commented on #12105
I called him back and described to him the curve format, which I could render on top of 2d plots in my tests. . It turns out his data isn't monotonically increasing in X, which is required for curve plots. I said I would send him an e-mail with a format that worked that was more complex than I could describe over the phone.

[2020-03-12 21:34] brugger1 commented on #12105
I knew the vtk format would work, but figured I would look for another format and saw the Lines format. It isn't described anywhere, but I looked at the code and found that the lines start with a name, followed by one 3d comma separated point per line. I created an example with all the z coordinates zero and plotted it and found it rendered it in 2d. I saw 3 was hard coded for the spatial dimensio

[2020-03-12 21:34] brugger1 commented on #12105
I sent the user the following e-mail:

Hi,

You can use the vtk format. Below is an example.

The “POINTS” section consists of your points. The “5” is the number of points. The points are x, y, z for each point and if all the z coordinates are zero, then it’s considered 2d data.

The “Lines” section is 0 origin indexes into the points. The “4” is the number of lines, the “12” is the total number o

[2020-03-12 21:35] brugger1 commented on #12105
I should submit some bugs regarding the "Lines" format.

[2020-03-12 21:58] brugger1 opened #4504 "Consider adding more labels to issues to identify tickets to work on when doing SRE."
I would like to add more labels to categorize issues so that we can easily identify tickets to work on while we are on SRE duty and we don't have any customer support issues to address. I would like to propose:

housekeeping - Improving some quality aspect of the code
usability - A usability issue

These along with "docs" would be good things to search for when looking for tasks to do while on SRE

[2020-03-12 22:03] griffin28 opened #4505 "Add Building on macOS with masonry documentation"
Add a section to the Sphinx documents on building on macOS using masonry scripts.

[2020-03-12 22:29] brugger1 opened #4506 "Coordinate transform from Cylindrical to Cartesian appears broken."
### Describe the bug

I wanted to convert the cylinder from ucd3d.silo to a brick and expected that the transformation operator doing a Cylindrical to Cartesian conversion would work. I tried it in both directions and neither worked. ucd3d.silo has a hollow cylinder aligned with the Z axis and the cylinder is centered on (x,y) = (0,0), so I would expect this to match exactly what the operator is e

[2020-03-12 22:37] brugger1 opened #4507 "Improve Transform operator documentation."
### Describe what needs to be documented.

The Transform operator is poorly documented for coordinate transformations. It should say exactly what it expects, what it does in the various cases and show some examples. There is actually one coordinate system transform, but doesn't say what it is and it's a nonsensical example that shows a plane for one case and a horribly distorted version of it as t

[2020-03-12 22:38] brugger1 commented on #12104
Walt has a work around using lineouts. I submitted a bug ticket and a documentation update ticket.

[2020-03-12 22:49] brugger1 opened #4508 "A couple of bugs with Lines file reader."
### Describe the bug

I created a "Lines" file and read it into VisIt and noticed a couple of bugs. They should both be easy to fix, so I made one ticket for both.

1) There is logic to remove duplicate consecutive points. Unfortunately this is across separate lines, so if the last point of the previous line is the same as the first point of the current line, the first point of the current line is

[2020-03-12 22:55] brugger1 opened #4509 "Document the Lines format."
### Describe what needs to be documented.

I couldn't find any documentation on the Lines format. It looks like a simple text format for describing lines, which would be generally useful.

### Is the documentation missing?

Yes, the documentation is missing. We should add a "Getting Data into VisIt" manual into our Sphinx documentation. We could start with some of the high level content from the e

[2020-03-12 22:56] brugger1 commented on #12105
The user was able to do what he needed with the "Lines" format. I submitted a bug ticket with the 2 bugs mentioned and a documentation ticket to add documentation for the "Lines" format.

[2020-03-13 00:32] markcmiller86 commented on #4494
Ok, so @griffin28  found a 3rd approach. And, from [this ref](https://www.digitalcitizen.life/macos-version) there is a 4th approach `system_profiler SPSoftwareDataType`...

[code]

[2020-03-13 00:35] markcmiller86 commented on #4494
And [another](https://coderwall.com/p/4yz8dq/determine-os-x-version-from-the-command-line)...

[code]

[2020-03-13 01:20] markcmiller86 commented on #4494
Inventory

* Using `sw_ver`
   * bv_advio.sh
   * bv_netcdf.sh
   * bv_qt.sh
   * bv_uintah.sh
* Using `MACOSX_DEPOLYMENT_TARGET`
   * bv_cmake.sh
   * bv_conduit.sh
   * bv_main.sh
   * bv_p7zip.sh
   * bv_vtk.sh
* Not used
   * `system_profiler`
   * `defaults read loginwindow SystemVersionStampAsString`

`bv_main` defines value for `MACOSX_DEPLOYMENT_TARGET` by doing `uname -r` which returns a

[2020-03-13 01:30] markcmiller86 commented on #4494
Regarding the importance of `MACOSX_DEPLOYMENT_TARGET`, I found this [authoritative reference](https://wiki.herzbube.ch/index.php/Mac_OS_X_Programming) which verifys the that this variable *must be set explicitly* when building a project *outside* of Xcode.

[2020-03-13 15:03] brugger1 opened #12106 "ADIOS reader, large file, INT_MAX problem."
Dear all,

I have a large file .bp file containing 1 concentration field associated to a rectilinear mesh. The total amount of mesh points is above single integer limit (4.2 billion)

I can't open the file with visit 2.13.3 (I can open a smaller file of 2 billion cells below, single integer limit)

The error message is the following :

The compute engine running on host n4368.occigen issued the fo

[2020-03-13 15:13] brugger1 commented on #12106
Hi Stéphane,

VisIt had a lot of code that used int for sizes instead of size_t. I suspect a lot of that code has been fixed, but there may still be instances where it is an issue. That change comment probably refers to a specific case where that was fixed. Judging from the error message you are seeing the ADIOS reader has been coded to be conservative in this regard.

I believe at this point we s

[2020-03-13 16:14] biagas commented on #4464
@cyrush Is there a blueprint sample dataset in our repo that would be good for testing this?

[2020-03-13 16:40] cyrush commented on #4494
Yes, but I think we do set MACOSX_DEPLOYMENT_TARGET?

[2020-03-13 17:09] biagas commented on #4500
I've started a dialog on VTK's discourse to figure out the correct way to specify modules.

[2020-03-13 18:52] brugger1 commented on #12106
Hi Eric,

Thanks for you answer. Yes I can run it in parallel.

Best regards
Stéphane

[2020-03-13 18:58] brugger1 opened #12107 "Index Select on Particles"
From: Allen Sanderson <allen@sci.utah.edu>
Sent: Friday, March 13, 2020 11:12 AM
To: Tony Saad <tony.saad@chemeng.utah.edu>
Cc: Biagas, Kathleen <biagas2@llnl.gov>; Maguire, Alister Owen <maguire7@llnl.gov>
Subject: Re: Index Select on Particles

Hi Tony,

I just tried using the index select on some particle data and while it does do the index select the scalar values are lost and the particles ar

[2020-03-13 18:59] brugger1 commented on #12107
I'm not familiar with that issue. I'll look into it. It will probably be Monday.

[2020-03-13 19:04] markcmiller86 commented on #12107
I will try to take a quick look

[2020-03-13 19:11] markcmiller86 commented on #12107
@ARSanderson I am unable to reproduce with 3.0.1. Here is what I tried...

1. Open `noise2d.silo` (one of our silo_hdf5_test_data files)
2. PC plot `PointVar`
3. Add index select, set to 1D and incr to 2.
4. Draw. It looks good. No all black
5. Try switching point type to sphere. It still works

Honestly what it looks like in @ARSanderson example above is that the point density is so high, maybe t

[2020-03-13 19:26] brugger1 commented on #12103
Here is the log file.

[build_visit3_1_1_log.txt](https://github.com/visit-dav/live-customer-response/files/4331305/build_visit3_1_1_log.txt)

[2020-03-13 19:31] brugger1 commented on #12107
What version of VisIt are you using and what did you use for the point glyph type? It looks like it was run on a Mac.

[2020-03-13 19:48] markcmiller86 commented on #12107
Is this a question for @markcmiller86 or @ARSanderson?

[2020-03-13 20:01] brugger1 commented on #12103
I couldn't find anything similar in the issue tracker or in the e-mail list. I looked at the log file and I noticed that the script had been run multiple times. I'm assuming something must have gone wrong to cause that. Can you provide more information on that?

Also, can you show me the contents of the directory below?

/Users/cyrilgeorgy/Documents/Informatique/Visit3.1.1/VisitBuild/third_party/l

[2020-03-13 20:06] brugger1 commented on #12107
For Allen. You stated you were using 3.0.1 and from the image I can see it was running on a mac.

[2020-03-13 21:00] ARSanderson commented on #12107
I am running on 3.1 on OS X. The original image was with point glyphs.

I just switched to spheres and got the following image. The square in the middle is perspective bounding box. When I have seen gooblygook like this in the past we figured out that double arrays were being stuffed into float arrays or visa-versa. This issue has nothing to do with the index select though I though it got fixed.

[2020-03-13 21:35] ARSanderson commented on #12107
I figured out the issue. From: https://vtk.org/doc/nightly/html/classvtkMaskPoints.html

vtkMaskPoints <https://vtk.org/doc/nightly/html/classvtkMaskPoints.html> is a filter that passes through points and point attributes from input dataset. (Other geometry is not passed through.)

Emphasis added. This issue is the same as what we discovered within VisIt proper, that is when it comes to a mesh tha

[2020-03-13 22:04] brugger1 commented on #12107
Thanks for the update. I'll close this issue since you have a work around.

[2020-03-13 23:25] brugger1 commented on #12102
I have a fix that allows creating a pseudocolor plot of "eeeyy". The fix involved more changes than I thought, fortunately in just 3 files. There are 2 more spots that don't affect your data that I need to fix. I can make a version available now if you need it or in a little bit when I finish all the changes for you to test.

[2020-03-13 23:40] brugger1 opened #4513 "Remove a check for less than INT_MAX nodes in a block in ADIOS reader."
### Describe the bug

The ADIOS reader has a check that sets the mesh to NULL if the number of nodes in a block is more than INT_MAX. We should remove that since in theory we should be able to handle this, at least for rectilinear meshes. If we run into problems we can fix those.

**Impact**
- [X] Medium - User productivity partially degraded

**Likelihood**
- [X] Medium - neither low nor high lik

[2020-03-13 23:48] brugger1 opened #4514 "Enhance ADIOS reader to automatically decompose structured grids in parallel."
### Is your feature request related to a problem?

An ADIOS2 user has a db file with 4.2 billion zones. Right now he can't visualize the data because the reader doesn't handle meshes greater than 2 billion zones. Even if we addressed that, the performance wouldn't be great. If we decomposed the data in parallel he would be able to view his data with reasonable performance.

I don't have any data s

[2020-03-14 00:08] biagas commented on #4500
To use the new module system:
- use DONT_WANT to turn off groups
- use YES to enable desired modules
- set VTK_BUILD_TESTING to OFF

[2020-03-14 00:50] markcmiller86 commented on #4513
Hmmm...I am not sure I agree with this, even for rectilinear grids. The challenge is that we use `int` for sizing things *other than* arrays holding mesh variables. For example, the size of a serialized version of the dataset in `avtDataRepresentation` (#3187).

That said, ensuring the ADIOS reader stays *below* `INT_MAX` sized meshes is no guarantee any serialized version of the data in `avtDataR

[2020-03-16 16:45] griffin28 commented on #12103
Catalina (10.15) is the latest MacOS and I'm sure there will be build errors since we haven't even looked at building on it. I've just recently been able to update the build scripts to support MacOS 10.14 and won't be looking at Catalina for several months at least.

[2020-03-16 17:46] rusu24edward commented on #4445
- [ ] Under source->field->flash, it is not clear what the velocity property does.

Trying this on aneurysm, by selecting Flash and leaving default options, I get this error:
[code]

[2020-03-16 17:56] rusu24edward commented on #4445
- [x] Is NIMROD still a future implementation? (source->field)

I emailed Allen about this. It has not been implemented yet.

[2020-03-16 18:03] biagas commented on #4443
Also document how to use the new codgen targets.

[2020-03-16 19:12] rusu24edward commented on #4445
- [ ] Not really clear what is bounding box absolute tolerance for the integrator.
- [ ] What is Adams-Bashforth and MD3-C1 tolerance? Is it just a clip on the step length?

[2020-03-16 19:54] rusu24edward commented on #4445
It is not clear if Pathline options in Appearance tab are for  both streamlines and pathlines.
- [ ] Determine if pathline options are for both pathlines and streamlines or just the one.

[2020-03-16 20:24] rusu24edward commented on #4445
- [ ] Under advanced, warnings, why would we issue a warning when the maximum number of steps is reached?

Edit: this makes sense for LCS, Limit Cycle, and Poincare because they use analysis for determining when the integration is done. So it could be good to see a warning saying "We did not find a limit cycle before max number of steps reached." However, with a normal ICO, we don't want this warn

[2020-03-16 20:33] rusu24edward commented on #4445
- [x] Remove details of stiffness warning from the gui and add to the docs.

[2020-03-16 20:34] rusu24edward commented on #4445
- [ ] What is speed cutoff for critical points?

[2020-03-16 20:48] rusu24edward commented on #4445
- [x] Add images from visit users to the new docs. Images of the gui itself should be retaken because they are outdated.

[2020-03-16 21:05] rusu24edward commented on #4445
- [ ] Integral Curve -> Source: replace "Read text file" with "Load Points..."

[2020-03-16 21:14] aowen87 commented on #12102
@brugger1 should I move this to the main issue tracker?

[2020-03-16 21:21] brugger1 commented on #12102
I'm waiting to hear back from the user.

[2020-03-16 21:27] aowen87 opened #4516 "OSX Catalina build issues"
### Describe the bug
A user reported issues with build_visit on OSX Catalina: https://github.com/visit-dav/live-customer-response/issues/10

Kevin Griffin is expecting to start working on building for Catalina in a few months.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [ ] Did you get wrong results?

**Impact**
- [ ] High - Use

[2020-03-16 21:28] aowen87 commented on #12103
I've created a ticket in the primary issue tracker to make a note of this problem, and I've mentioned that Kevin plans to work on this build in a few months. Closing the ticket.

[2020-03-16 22:01] brugger1 commented on #12106
Hi Stéphane,

I got some feedback from other VisIt developers that there are spots in VisIt that would need changing to handle more than 4 billion cells in a single block, soremoving that test in the ADIOS reader wouldn't be helpful and would lead to crashes. I have submitted a ticket to enhance the ADIOS reader to automatically break up large blocks in parallel. I will look into the effort to do

[2020-03-16 22:05] markcmiller86 commented on #12102
Yes. But, did it turn out to be a Silo issue or a VisIt issue? If silo, I can move to the Silo issue tracker

[2020-03-16 22:11] brugger1 commented on #12102
It’s a VisIt issue handling creating ghost zones from global ids and some of the blocks being NULL. I’ll have a pull request with the fix soon that you can look at.

[2020-03-16 22:48] #3825 closed, assigned to aowen87

[2020-03-16 23:00] rusu24edward commented on #4445
- [ ] Correlation distance and difference in ICO->Appearance

[2020-03-16 23:03] rusu24edward commented on #4445
- [ ] Keep all point should not have the "Velocity threshold" greyed out. This option should simply not be there.

Update: tried doing this by changing setEnabled to setVisible in the logic. This removed the threshold stuff, but then the dropdown menu took up the length of the row. Tried messing with this, but might be good to just tackle separately.

[2020-03-17 16:40] biagas commented on #4500
Successful compilation of VTK (without vtkh/vtkm/ospray for the time being). Working through VisIt compile errors now. Mostly 'const' additions to function arguments so far, and handling the big changes to [vtkCellArray](https://discourse.vtk.org/t/upcoming-changes-to-vtkcellarray/2066).

[2020-03-17 17:02] rusu24edward commented on #4445
- [x] The PICS image should be much simpler than what was in the visit-users doc. It should show a vector field along with a streamline. Maybe something like aneurysm.

[2020-03-17 19:38] biagas opened #4520 "movie test doesn't pass along '-noconfig' to its subprocess calls"
movie.py issues a subprocess call to generate the movie that begins: 'visit -movie' and includes arguments for generating the movie.

-noconfig isn't one of the arguments, but should be. I had config files saved on Windows that caused problems with the running of the movie tests.  When I removed the config files, the test completed as expected.

**Helpful additional information**
(*Please click ch

[2020-03-17 20:31] rusu24edward commented on #4445
Under ICO->Source->Termination, what is:
- [ ] Limit maximum time elapsed by particles
- [ ] Limit maximum distance traveled by particles.

[2020-03-17 20:36] rusu24edward commented on #4445
Under ICO->Appearance->Data what is:
- [ ] Correlation Distance
- [ ] Difference
- [ ] Relative time: relative to what?

[2020-03-17 20:47] aowen87 commented on #4516
Gunther Weber reported the following:
"Just a heads up. A colleague thought that VisIt didn't work with macOS Catalina. The problem turned out to be the new Dark Mode. If that is enabled, many text labels are not visible due to the different color scheme."

[2020-03-17 20:50] #4508 closed, assigned to aowen87

[2020-03-17 21:13] ghweber commented on #4516
Further follow up. Just compiling with a newer version of Qt may fix this issue. I am compiling VisIt with Qt 5.14.1 on my Mac (macOS 10.15.3) and dark mode looks not perfect but certainly usable. However, it may be necessary to build VisIt on macOS 10.15.3 as well as updating Qt.

[2020-03-17 21:19] brugger1 commented on #12106
Hi Eric,
OK, thanks for your help !
Stéphane

[2020-03-17 21:36] markcmiller86 opened #4523 "Lets have a label-palooza for existing issues"
I've added the `low-hanging fruit` label.

We agreed we would divy up the existing *open* issues and assign batches to different developers (see below). Please assess each issue for whether it needs a `low-hanging fruit` label (should take a cognizant developer <1/2 day) **and** whether it needs a `good first issue` label (would be good for newbie contributor) keeping in mind that sometimes both m

[2020-03-17 21:36] rusu24edward commented on #4445
- [ ] Termination Subsection for LCS is not well documented or even clear what it does. Look into this and document from scratch

[2020-03-17 21:37] markcmiller86 opened #4524 "Should we GH-issue-ify visit-help-asc email list"
We've integrated visit-help with GitHub issues. What do we do about visit-help-asc?

[2020-03-17 21:40] markcmiller86 opened #4525 "Replace markcmiller86-visit GH username with better name"
When I set this up, I didn't give it enough thought to have a better name for this GitHub user that is basically a proxy for `visit-help@elist.ornl.gov`. We should fix that.

[2020-03-17 21:42] aowen87 opened #4526 "RC docs behind develop"
I've noticed that the RC docs seem to be behind develop. This would make sense for features that are waiting for a next version release and can't be on the RC, but I've been seeing these discrepancies for features that have been around a long time.

For instance, 9.2.1.8 "Numerically controlled banded coloring" is a sub section in the Color Tables documentation, but it only appears on develop. Lik

[2020-03-17 21:55] aowen87 opened #4527 "Memory issues in the OpenPMD reader"
### Describe the bug
When building, I've been noticing a lot of memory deletion warnings coming from the OpenPMDClasses in the OpenPMD database reader. They all look something like this:

I don't know who uses this reader or how often, but there seems to be a fair number of incorrectly deallocated arrays. Is this something we should clean up?

**Helpful additional information**
(*Please click chec

[2020-03-17 21:59] markcmiller86 commented on #4526
So, I disagree that it is *outdated*.

Those sections I wrote took the documentation from a condition of NO documentation on those topics to those topics being documented. There is no sense in which the existing documentation on those topics was *outdated* because it simply did not exist at all.

I chose to do the work on `develop` because it saves some overhead for me.

If it was the case that do

[2020-03-17 23:51] aowen87 commented on #4447
@markcmiller86 do you remember what settings you used for these screen saves? The dimensions don't quite match up with what I'm seeing VisIt save out (it looks like yours cuts out extra white space).

[2020-03-17 23:56] #4377 closed, assigned to biagas

[2020-03-18 02:05] markcmiller86 commented on #4523
GitHub has [specific meanings](https://help.github.com/en/github/managing-your-work-on-github/about-labels) for these labels...

* `good first issue`: Good issue for a first-time contributor
* `help wanted`: A developer wants help on an issue or PR

and they were created to be consistent across **all projects** on GitHub.

If we created a new label called, for instance, `low-hanging fruit`, is it

[2020-03-18 06:31] markcmiller86 commented on #4523
How to split up the current issues? If you go to the [open issues](https://github.com/visit-dav/visit/issues) at the bottom there are buttons for 65 pages. We can assign each developer a range of pages. So, I could take pages 1-8, someone else could take pages 9-16, etc.

[2020-03-18 06:45] markcmiller86 commented on #4447
@aowen87 I used my Mac's `Grab` tool and selected a region by dragging. So, totally arbitrary size/shape and, yes, it cuts out other parts of the viewer window.

That said, I don't think you should worry about ensuring *exact* matching of image sizes here. As long as its in the ball park, I think its fine if you wind up with different image sizes.

Do we have a policy on this? We probably should.

[2020-03-18 15:26] aowen87 opened #12108 "INT_MAX domain issue"
Dear friends,

   I am trying to run VisIt 3.1.1 (from home, due to our situation of
confinement), and I am getting the following problem:

  The compute engine running on host oliba.uv.es issued the following
warning: Mesh and/or variable size exceeds INT_MAX for domain 0. This
domain is being set to empty. Your only recourse to correct this issue
is to decompose your input database into smaller

[2020-03-18 15:28] aowen87 commented on #12108
Hi Manel,

What data type are you reading into VisIt? It sounds like the entire datasets is contained on a single domain; is that correct?

Alister

[2020-03-18 17:21] rusu24edward commented on #4445
- [ ] Second paragraph of Limit Cycle operator leaves the user asking, "What is this for?"

[2020-03-18 17:24] #4447 closed, assigned to aowen87

[2020-03-18 17:31] markcmiller86 opened #4530 "Establish policy on screen grabs for GUI/viewer window images in docs"
Do we have a policy on this? We probably should. As our documentation stands now, I am pretty sure we have a mix of snapshots of GUI windows from different systems (OSX, Windows and Linux) or from different versions of the same system such that there is very little consistency. In addition, we probably have a mix of full-window snapshots of viewer window and drag/select region snapshots

One polic

[2020-03-18 17:48] rusu24edward commented on #4445
- [x] In the gui for limit cycle appearance, remove the (limit cycle may not be present)

[2020-03-18 17:50] aowen87 commented on #4481
The documentation on the GUI Pick Queries seem pretty outdated in general, and the information is just wrong in many cases. I'll update this to reflect the current interface for performing Picks through the Query menu.

[2020-03-18 17:52] brugger1 commented on #4530
For the most part I agree with always doing full window grabs, but there are a few windows that are particularly large and I don’t like doing full window grabs because of that. Examples of large windows I can think of off-hand are the main window, the host profiles, possibly the query window. There are probably a few others. For plot, operator and some of the other control windows, I agree we shou

[2020-03-18 18:00] brugger1 commented on #12108
Hi Manel,

Also, are you running in serial or parallel?

Eric

[2020-03-18 18:47] #4520 closed, assigned to nobody

[2020-03-18 21:09] #4481 closed, assigned to aowen87

[2020-03-19 00:03] aowen87 commented on #3711
I have a fix for this. I'll create the PR tomorrow morning.

[2020-03-19 00:04] markcmiller86 commented on #4530
Another issue is how the platform where the images are grabbed effects image size in pixels. I think OSX's *retina* display can result in super high resolution images. Certainly, much higher than necessary for online, web-browsed documentation.

I was doing some tests with two 2500x500 images, one at 72 dpi and one at 300dpi. So, same pixel dimensions but dpi setting was different (the higher dpi

[2020-03-19 16:20] brugger1 commented on #4526
Alister will file a new ticket to update our policies in this regard.

[2020-03-19 16:20] #4526 closed, assigned to nobody

[2020-03-19 16:29] brugger1 commented on #4504
Closing in favor of 4523, using "low hanging fruit" for SRE work.

[2020-03-19 16:29] #4504 closed, assigned to nobody

[2020-03-19 16:29] brugger1 commented on #4523
Mark will come up with a partitioning into 8 numeric issue ranges to split up the work.

[2020-03-19 16:39] brugger1 commented on #4524
We decided to leave visit-help-xxx as is and not integrate it with GitHub.

[2020-03-19 16:39] #4524 closed, assigned to nobody

[2020-03-19 16:45] brugger1 commented on #4514
I will do some preliminary work to investigate the effort involved. The basic NETCDF already does this.

[2020-03-19 16:48] brugger1 commented on #4513
We should address #3187 first.

[2020-03-19 17:15] aowen87 commented on #4506
I thought I had been able to do this at one point, but what I really did was convert curv3d to a brick by setting input coordinates to cartesian and output coordinates to cylindrical. I'm unable to convert ucd3d to a brick.

![Screen Shot 2020-03-19 at 10 10 02 AM](https://user-images.githubusercontent.com/11658578/77094703-1f708700-69ca-11ea-9abc-33a4c453390a.png)

I think @markcmiller86 's comme

[2020-03-19 17:29] brugger1 commented on #4506
That’s useful to know. I’ll see how they differ.

[2020-03-19 17:31] markcmiller86 commented on #4506
One difference is multi-block vs. single block

[2020-03-19 17:31] markcmiller86 commented on #4506
Another issue is structured grid vs unstructured grid

[2020-03-19 17:38] aowen87 commented on #4506
I have noticed interesting results when using rectilinear grids:

rect3d, cylindrical to cartesian
![Screen Shot 2020-03-19 at 10 37 07 AM](https://user-images.githubusercontent.com/11658578/77097248-bb4fc200-69cd-11ea-9fcc-b6619fcd90af.png)

rect3d, spherical to cartesian
![Screen Shot 2020-03-19 at 10 37 19 AM](https://user-images.githubusercontent.com/11658578/77097253-bd198580-69cd-11ea-8f14-0

[2020-03-19 17:45] aowen87 opened #4537 "Documentation procedures"
### Describe what needs to be documented.
At this mornings meeting, we discussed setting some guidelines for updating the VisIt docs:

1. If your new documentation/documentation edits apply to both RC and develop, merge changes into both.
2. If your new documentation/documentation edits apply to only one (RC _xor_ develop), only merge changes into the appropriate branch.

We also discussed needing

[2020-03-19 20:02] ARSanderson opened #4540 "Extrude using multiple variables - aka stacked plots"
A while ago had a need to extrude by a single variable and added that functionality to the extrude operator. More recently I wanted to extrude using multiple variables and create a stacked plot. I made the extension and used it for paper for SC. Such a plot is a bit out of the normal paradigm for VisIt. As such, I want to open a discussion rather push the code to the repo immediately. The code is

[2020-03-19 20:24] brugger1 commented on #12108
Hi Eric, locally I did it parallel, but the engine does not work (certainly I must have done something wrong) remotely, and I run serial. The problem appeared in both cases (locally + parallel and remotely + serial).

 Thanks!

  Manel

[2020-03-19 20:28] brugger1 commented on #12108
Hi Manel,

One other quick question. What file format reader is reading the data? VisIt has a lot of file formats based on HDF5, so knowing which reader is being used is helpful. If you open the file and then bring up the "File information" window (available under File->File information ...), that information should be near the top.

Thanks,

Eric

[2020-03-20 14:19] brugger1 commented on #12108
Hi Eric,

  this is what the file information says (first lines). Hope this is what you need. Thanks!

   File = localhost:/scr/perucho/OUTPUTJ311RAA-00077.h5
==============================================================================
Database: /scr/perucho/OUTPUTJ311RAA-00077.h5
Simulation: No
Database comment:
File format: Pixie_1.0
Num Time States: 1
MetaData is NOT repopulated on state chan

[2020-03-20 14:20] brugger1 commented on #12108
Hi Manel,

That is exactly the information I need. That should do it on questions.

Eric

[2020-03-20 16:20] aowen87 commented on #4509
It seems like there are two types of information that we want documented here.

1. File format basics for reading data into VisIt.
2. Further developing VisIt to handle more types of data.

It seems like the second case belongs in the Developer Manual (?), but where do we put the first case? Or is this proposed "Getting data into VisIt" section it's own thing that exists outside of the GUI, CLI, a

[2020-03-20 16:36] aowen87 commented on #4509
related to #4170

[2020-03-20 17:19] brugger1 commented on #12108
Hi Manel,

I looked at the Pixie reader and it will split the block into multiple blocks when run in parallel. For example, if you are running on 8 processors, it will split it into 8 blocks, one per processor. In your case you could run on 2 processors and it should drop it below the limit. I tried this out on a small mesh with 8 processors and it split it into 8 pieces.

Eric

[2020-03-20 17:20] aowen87 commented on #4136
This appears to be related to calling AddLightingHeadlight instead of AddLighting. This is the only volume rendering method I can find that uses this method; all the others use AddLighting. If I switch the trilinear method to AddLighting, the shading/lighting looks correct.

[2020-03-20 18:11] aowen87 commented on #4136
In the rendering options for ray casting, there is a reduction factor with a default value of "Lower", which generates the lighting power used in phong shading. It looks like this lighting power has a much greater affect on shading in AddLightingHeadlight than the standard AddLighting. As a result, the default setting makes it look black. If you change this setting to a higher value, the shading l

[2020-03-20 18:40] aowen87 commented on #4136
Incorporating the lighting power into diffuse only (similar to how it's handled in AddLighting) gives a much smoother and more reasonable result.

[2020-03-20 19:49] brugger1 opened #12109 "Issue displaying on Mac."
Cyrus/Eric,

It’s a whole new world with telecommuting!

Hey, I was hoping you can help me with a VisIt issue (note: running VisIt locally on my Mac).
As you can see in the attached screen shot, ¾ of the window is red while ¼ has the meshed object.
This happens when I visualize ALE3D simulation as well.
Oddly, this problem doesn’t manifest when I’m connected to an external monitor in my office? (n

[2020-03-20 19:50] brugger1 commented on #12109
What version are you running? Older versions had problems with displaying on retina displays while displaying fine on external monitors. Try the latest version, 3.1.1, which is on our website.

[2020-03-20 19:50] brugger1 commented on #12109
Running version 2.13. I’ll try 3.1.1. Thanks.

[2020-03-20 20:00] brugger1 commented on #12108
Thanks a lot, Eric. I'll try that asap. Take care.

[2020-03-20 20:06] aowen87 opened #12110 "Shrink axes with zoomed in view"
A user reached out through jabber wanting to know how to shrink an axis so that it appears when zoomed in. I suggested they set the bounding box manually, and adjust the axes they wish to see to be in the zoomed range while keep the other axes at the true dataset range.
This resolved their issue.

We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/li

[2020-03-20 20:13] #4527 closed, assigned to aowen87

[2020-03-20 22:09] cyrush opened #4546 "py3 code gen multiple includes of same include [note to self]"
Working on code gen changes, and I noticed that for `PySaveSubWindowsAttributes`,
`PySaveSubWindowAttributes` is included 16 times -- which is the amount of `SubWindowAtts` that
`SubWindowsAtts` has instances of.

(Note: Windows vs Window is important here, the SubWindows uses  several instances of SubWindow )

[code]

[2020-03-20 23:38] aowen87 opened #12111 "Issue opening silo file"
A user reached out through Jabber is was having issues opening a silo file from within a python script. The generated error is that the input file "does not exist".

Looking more closely at the path of her input file, it contains some odd characters. It mostly looks like "var_a\=val_a/var_b\=val_b/var_c\=val_c.silo". This is on a linux system, and her directory names and files have backslashes and

[2020-03-21 01:52] markcmiller86 commented on #12111
I wonder if she was using python 3 or 2? Silo's python interface won't work with python 3.

[2020-03-21 03:01] markcmiller86 commented on #12111
Ok, so I just tested something similar on my Mac...

[code]

[2020-03-23 16:51] aowen87 commented on #12111
Renaming her files solved this issue. I still think it's odd that it worked for us but not her, which might be due to the fact that she was using an older version of VisIt. I've suggested she try 3.1. For now, though, her problem is resolved.

[2020-03-23 17:18] rusu24edward commented on #4445
- [ ] What is directionless integration? It is not clear....

[2020-03-23 17:23] rusu24edward commented on #4445
- [x] Data is a bad name. Should probably just be color since that's what it does.

[2020-03-23 17:38] rusu24edward commented on #4445
- [ ] How much work would it be to streamline the interface for all PICS operators (e.g. support same source types for each)?

[2020-03-23 19:35] xjrc commented on #3498
I'm seeing this as well. As a workaround while this is addressed, what version of VTK should we target with VisIt 3.0?

EDIT: Apologies, I read the issue title to get the insight that I needed; I'll try to build with VTK 8.1 instead.

[2020-03-23 20:28] cyrush commented on #3498
@xjrc yep, just stick with VTK 8.1 for now

[2020-03-23 20:52] rusu24edward commented on #4445
- [x] What do we mean by material in the limit cycle operator?

[2020-03-23 20:53] rusu24edward commented on #4445
- [ ] Confirm the conservative criteria (the or-ing).

[2020-03-23 22:45] biagas opened #4550 "Inconsistent file format constructor use of DBOptionsAttributes"
While looking through the changes for PR #3456  I noticed a change to avtFlashFileFormat constructor, changing
```DBOptionsAttributes *&opts```
to
```DBOptionsAttributes *opts```

The change makes sense, but I wondered if other readers should be modified similarly.
In perusing the constructors for other readers, I noticed inconsistency:
some use
```const DBOptionsAttributes *```
some use
```DBOpti

[2020-03-23 22:51] markcmiller86 commented on #4550
Yes. Agree on both points.

[2020-03-23 23:18] cyrush opened #4551 "python 3 support issues"
Scratch Pad for bumps on the road while I am  porting to Python 3:

###  Annotation Object Wrappers
There is one mega object that represents all of the annotation objects, and wrappers that limit the interface for each specialized case.  The wrappers are bindings  that were code gen or copied and modified a long time ago.  I think we can implement them in python and that will be more maintainable

[2020-03-24 14:23] rusu24edward opened #12112 "Lineout operator always greyed out"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hello,

I am having an issue in Visit where the Lineout operator is alwa

[2020-03-24 14:24] rusu24edward commented on #12112
@griffin28 replied:

Hello Hardeep…are your plots 2D? The lineout operator from the GUI only works on 2D plots.
-- Kevin

[2020-03-24 14:25] rusu24edward commented on #12112
@biagas replied:

Hello Hardeen,

To Clarify Kevin's statement: Lineout Mode in the viewer window toolbar is restricted to 2D plots. Lineouts for 3D plots can be achieved by other means. Please see these docs:
https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Quantitative/Lineout.html#lineout

Kathleen

[2020-03-24 14:59] rusu24edward commented on #4445
- [x] Poincare settings have the term "fieldlines". Replace this with a different term (either streamlines or integral curves).

[2020-03-24 15:39] rusu24edward commented on #4445
- [ ] Consider removing Forward Euler because it is unnecessary

[2020-03-24 15:41] rusu24edward commented on #4445
- [ ] How does Visit choose the best parallel algorithm.

[2020-03-24 16:31] rusu24edward commented on #4445
- [x] Update gui to have RKDP instead of Dormand-Prince (Runge-Kutta)

[2020-03-24 17:49] rusu24edward commented on #4445
- [x] The options under Appearance->Data are not clear. It is not clear that "Seed ID" will randomly color each curve a different color. Some of these options should be updated to be more self-descriptive.

[2020-03-24 20:27] doutriaux1 opened #12113 "Need Mesalib-based version on LC"
I'm generating Visit movies on LC as part of a workflow. Since these will be run from cli I would like to avoid having to X forward or ask my users to set their DISPLAY and X forward, etc...

I cannot find such a version on LC (rztopaz)

[2020-03-24 20:32] rusu24edward commented on #12113
Hi @doutriaux1,

Can you explain what you mean by, "cannot find such a version on LC"? A *version* of what, exactly?

Thanks,
Eddie

[2020-03-24 20:34] rusu24edward commented on #12113
Ah I see. Sorry, I did not look at the title of the post. I will look into this and get back to you shortly.

[2020-03-24 20:34] cyrush commented on #12113
@doutriaux1 all lc versions are built with support for offscreen rendering.

You can avoid popping up any windows by running your script using:

`visit -nowin -cli -s {script.py}`

[2020-03-24 20:38] doutriaux1 commented on #12113
@cyrush w/o Xwin32 on and running:

[code]

I get:

[code]

But you're right it might be because I had XForward enabled and my X server off on my windows laptop.

Let me explore this.

[2020-03-24 20:43] doutriaux1 commented on #12113
@cyrush my mistake, I had not pasted the -cli from my original script when testing... Totally fine with the `-cli` sorry for the noise.

[2020-03-24 21:24] cyrush commented on #12113
@doutriaux1 no worries, glad its working for you now!

[2020-03-24 23:18] markcmiller86 commented on #4540
@biagas and @markcmiller86 will have a telecon with Allen to get more understanding of how to fit this in.

[2020-03-24 23:46] markcmiller86 commented on #4523
I've added the `low-hanging fruit` label.

Over the next week or two, I am asking that each of you find some time to go through your batch of issues in the backlog (see below) and assess each issue there for whether it needs a `low-hanging fruit` label (should take a cognizant developer <1/2 day) **and** whether it needs a `good first issue` label (would be good for newbie contributor) keeping in

[2020-03-25 00:25] markcmiller86 commented on #4118
@cyrush ... so the idea here is to basically make the default behavior of running a test all the args we currently pass in nightly testing?

[2020-03-25 00:27] markcmiller86 commented on #4107
@visit-dav/visit-developers hasn't this been recently resolved?

[2020-03-25 00:28] markcmiller86 commented on #4106
@biagas I have some recollection that you've already done this. Is that right?

[2020-03-25 00:35] biagas commented on #4106
No, this isn't done yet.

[2020-03-25 00:35] markcmiller86 commented on #3998
@brugger1 ... given you recent work on build_visit TPLs, is this still an issue?

[2020-03-25 00:38] markcmiller86 commented on #3978
This was resolved in a previous release

[2020-03-25 00:38] #3978 closed, assigned to markcmiller86

[2020-03-25 00:38] biagas commented on #4106
There is a problem with both approaches from a batch run, like make gen_cpp_all, where there will be so much information printed that the warning messages will be lost.
I guess we could change the xml generation code to NOT print out its normal output when used from  a gen_xxx target.

As for -clobber ... we MUST use -clobber on files that already exist, otherwise they aren't written.

[2020-03-25 00:54] markcmiller86 commented on #3942
For clarification, this single issue has the `low-hanging fruit` label because any one of the items identified could be documented.

[2020-03-25 00:54] markcmiller86 commented on #3941
@brugger1 ... we should consider this

[2020-03-25 00:55] markcmiller86 commented on #3908
@cyrush ... is this still happening

[2020-03-25 01:04] brugger1 commented on #4107
I believe @Maguire, Alister Owen<mailto:maguire7@llnl.gov> fixed it.

From: Mark C. Miller <notifications@github.com>
Sent: Tuesday, March 24, 2020 5:28 PM
To: visit-dav/visit <visit@noreply.github.com>
Cc: Brugger, Eric <brugger1@llnl.gov>; Team mention <team_mention@noreply.github.com>
Subject: Re: [visit-dav/visit] Several delete vs delete[] mismatch warnings in OpenPMD Plugin (#4107)

@visit-d

[2020-03-25 01:07] markcmiller86 commented on #3863
@biagas ... I have some recollection you fixed something similar to this.

[2020-03-25 01:13] markcmiller86 commented on #3588
@aowen87 ... is this already completed?

[2020-03-25 01:15] markcmiller86 commented on #3475
@brugger ... I think we should either close or clarify with Tom

[2020-03-25 01:16] markcmiller86 commented on #3430
@biagas ... for some reason I think you've already fixed this.

[2020-03-25 01:18] markcmiller86 commented on #3390
@cyrush and @biagas this seems like the issue causing problems with point meshes from Blueprint

[2020-03-25 01:19] markcmiller86 commented on #3383
This server is still active..., http://visit.ilight.com/svn/visit/. I think we should request it be turned off.

[2020-03-25 15:16] aowen87 commented on #4107
Yes, I resolved this in #4544 and #4545

[2020-03-25 15:18] aowen87 commented on #3588
No, I'm still waiting to hear back from Kevin. He's been a bit unresponsive lately, so I'm guessing he's just been buys.

[2020-03-25 15:18] rusu24edward commented on #4516
More info from @ghweber:

In trying to set up a build environment again on my Mac, I noticed that creating a "fakempi" library breaks building IceT on my Mac (Catalina). To get IceT to compile I patched bv_icet.sh as follows:

[code]
(The commenting out -DCMAKE_C_COMPILER and -DCMAKE_CXX_COMPILER may not be necessary, I just removed those because CMake was complaining that they were not used.)

I

[2020-03-25 15:23] rusu24edward opened #12114 "Ghost jobs"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

I am running VisIt locally am connecting to an LC cluster at LLNL where

[2020-03-25 15:25] rusu24edward commented on #3064
[Another user](https://github.com/visit-dav/live-customer-response/issues/21) ran into this problem. Taking off reviewed tag so we can discuss this again.

[2020-03-25 15:36] rusu24edward opened #12115 "Trouble reading CGNS files"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

Hi,

I'm a new CGNS user and I've been basing myself on the example scri

[2020-03-25 15:54] rusu24edward commented on #12114
Hello John,

Our apologies for those runaway vcl's. This is something we know about and have an [outstanding ticket](https://github.com/visit-dav/visit/issues/3064) to fix.

In the meantime, take a look at this doc page on using [host profiles](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/ClientServer/Host_Profiles.html). I believe this will do what you want it to.

[2020-03-25 16:15] rusu24edward commented on #12115
Hi Solal,

Thanks for making us aware of this issue. Since other CGNS files are being read correctly, it seems to me that the issue is not in reading the CGNS files but in the example script that is creating the grid_unstructured.cgns file. I will take a look at this script today and try to come up with a fix.

Thanks,
Eddie

[2020-03-25 16:32] markcmiller86-visit commented on #12115
On Mar 25, 2020, 9:16 AM -0700, Edward Rusu via visit-users <visit-users@elist.ornl.gov>, wrote:

Hi Solal,

Thanks for making us aware of this issue. Since other CGNS files are being read correctly, it seems to me that the issue is not in reading the CGNS files but in the example script that is creating the grid_unstructured.cgns file. I will take a look at this script today and try to come up wi

[2020-03-25 17:07] biagas commented on #3863
I don't think so.

[2020-03-25 18:46] biagas commented on #4540
Thoughts from telecon:
- the multi-variable extrude should be its own operator, 'Stacked Plot' is the currently proposed name.
-- should an operator name have the word 'plot' in it?
- Stuffing the results into a Subset plot would get the discrete legend and labelling desired when the 'index' option is chosen
-- Would possibly requires some mods to the Subset plot, and changes to the new operator t

[2020-03-25 18:50] rusu24edward commented on #12115
Solal,
Can you provide me with the version of the cgns library you are using?

[2020-03-25 19:40] markcmiller86 commented on #4540
We had a chance to discuss more with @ARSanderson.

There are potentially multiple pieces here...

- Enhancement to extrude operator to support extrusion by a mesh variable instead of a constant
   - Seems like a great enhancement by itself apart from anything else here.
- The idea of a [stacked plot](https://www.google.com/search?q=stacked%20plot&tbm=isch&tbs=rimg%3ACfBEGgCPr67oImBAMSq_1DVcYVqoun

[2020-03-25 19:58] biagas commented on #2330
I just tried 2.13.3, and the message has been revised:

You cannot save non-image formats (e.g. ultra, curve, stl, etc.) from a window that is currently in scalable rendering mode. You may force scalable rendering to Never but if the resulting data is too big for the viewer to handle, it will likely crash VisIt. For 3D formats, try an export database operation instead.

[2020-03-25 19:58] #2330 closed, assigned to nobody

[2020-03-25 20:20] biagas commented on #2331
Just tried 2.13.3 and don't see any message printed to stdout/stderr.

[2020-03-25 20:20] #2331 closed, assigned to nobody

[2020-03-25 20:39] biagas commented on #2338
Tiled and Advanced are now radio buttons (mutually exclusive) options for 'Multi-window save'.

[2020-03-25 20:39] #2338 closed, assigned to nobody

[2020-03-25 23:22] biagas commented on #2407
Just tried with 3.1.1 and this no longer is an issue.

[2020-03-25 23:22] #2407 closed, assigned to nobody

[2020-03-25 23:24] biagas commented on #2409
This may have been addressed with our move to sphinx.

[2020-03-25 23:27] biagas commented on #2414
I am not seeing this any more.

[2020-03-25 23:27] #2414 closed, assigned to biagas

[2020-03-25 23:33] brugger1 commented on #2409
I agree. You can close it.

[2020-03-25 23:37] biagas commented on #2424
vtk_test_data/globe_mats.vtk is a good sample file

[2020-03-26 00:01] #2409 closed, assigned to nobody

[2020-03-26 00:05] #4107 closed, assigned to aowen87

[2020-03-26 00:12] biagas commented on #2456
Tried 3.1.1, no longer an issue.

[2020-03-26 00:12] #2456 closed, assigned to nobody

[2020-03-26 00:24] biagas commented on #2474
@brugger1 This is really old, is it still an issue?

[2020-03-26 00:28] biagas commented on #2475
3.1.1 has the height option, appears to use reasonable defaults, as the arrowheads appear.

[2020-03-26 00:28] #2475 closed, assigned to nobody

[2020-03-26 01:04] biagas commented on #2476
I am unable to reproduce with sample data. Without a reproducer, should this be closed?

[2020-03-26 01:10] biagas commented on #2481
unable to reproduce. Should it be closed?

[2020-03-26 01:17] biagas commented on #2486
@brugger1 Could this have been avoided by installing with the '-private' flag?

[2020-03-26 01:24] biagas commented on #2494
No longer using subversion.

[2020-03-26 01:24] #2494 closed, assigned to nobody

[2020-03-26 01:52] markcmiller86 commented on #2476
I think so.

[2020-03-26 02:11] markcmiller86 commented on #2481
Yes

[2020-03-26 14:00] brugger1 commented on #2474
I don’t think so. You can close it.

[2020-03-26 14:12] brugger1 commented on #2486
‘-private’ adds a ‘+’ to the name, so it fixes the conflict, but then the internal launcher can’t start it, so I don’t consider it a solution.

[2020-03-26 14:32] #2474 closed, assigned to nobody

[2020-03-26 14:33] #2476 closed, assigned to nobody

[2020-03-26 14:36] #2481 closed, assigned to nobody

[2020-03-26 14:56] biagas commented on #2503
Given how the wireframe mode of FilledBoundary/Subset plots work (edges extracted, shift factor applied to bring the edges slightly towards the camera), I can see how this might occur.  Hard to come up with a fix without a reproducer. Might be due to extreme spatial extents.

[2020-03-26 15:02] rusu24edward opened #12116 "Access control points of continuous color table within CLI"
I’ve got a quick VisIt question (that may or may not have a quick answer).  Is there a way to access the control points of a continuous color table within VisIt’s CLI?  In other words, given an arbitrary color table, I would like to be able to get (or construct) a list of the (r,g,b,alpha) tuples that are used as control points.

[2020-03-26 15:05] biagas commented on #2508
3.1.1, Replace and Overlay only affect selected plots.

[2020-03-26 15:05] #2508 closed, assigned to nobody

[2020-03-26 15:13] markcmiller86 commented on #12116
I am pretty sure there is even from CLI. I don't have a good example handy though.  I grep'd tests and see that maybe color control points are manipulated in volumePlot.py test.

Alternatively, manipulate an ascii-xml color table file and then load that. See [this ref](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/MakingItPretty/Color_tables.html#editing-color-contro

[2020-03-26 15:27] biagas commented on #12116
Here's a quick example:
http://visitusers.org/index.php?title=Creating_a_color_table

[2020-03-26 15:31] biagas commented on #12116
sorry, misread the question.
You can call 'GetColorTable("colortablename")' eg:
[code]

[2020-03-26 15:40] rusu24edward commented on #12116
It seems that you can also modify the control points of a color table for a specific plot:

[code]

[2020-03-26 15:44] rusu24edward opened #4554 "Color table and control points cli"
### Describe what needs to be documented.
The CLI docs don't have information on the color table or control points.

### Additional context
This comes from [this SRE ticket](https://github.com/visit-dav/live-customer-response/issues/23). There is some good info in that ticket to consolidate into docs, as well as additional info in visit-users and in the actual functionality in the source.

[2020-03-26 16:55] brugger1 commented on #4414
We should go with a standard web browser and add any content that is here to the manual.

[2020-03-26 17:01] biagas commented on #4395
Removing the simple save adds an extra mouse click :(

[2020-03-26 18:00] biagas commented on #2513
Do we still want/need to have command line options for changing appearance?

The options are parsed by QvisGUIApplication.

If we still want the options, help text should also be updated:

Style help text shows qt4 options, needs qt5 options.
[code]
(on my local linux, the available options are Windows and Fusion. On the linux in my office, GTK+ is also an option. Windows OS has Windows and Fusion

[2020-03-26 18:28] biagas commented on #2514
Looks like it jumps to the last time state right away, then shows that time state with each advance.
You can click reverse play without reopening and see the correct animation after it cycles forward first. But forward play won't work correctly without reopening.

Currently there is an added (separate) issue of the color changing at each time state. See #3837
Making note of it so it won't cause co

[2020-03-26 18:28] griffin28 commented on #1328
@biagas and @brugger1  This is for Windows 7 which is obsolete at the Lab now, right? This issue can be closed?

[2020-03-26 18:35] biagas commented on #1328
It wasn't a Windows 7 issue, he was running on RZ through X, so more likely a problem with XWin32 settings.  But I think we can close this anyway.

[2020-03-26 18:38] #1328 closed, assigned to nobody

[2020-03-26 18:46] biagas commented on #2527
3.1.1. This works fine.

[2020-03-26 18:46] #2527 closed, assigned to nobody

[2020-03-26 18:48] griffin28 commented on #1327
Wasn't able to reproduce on version 3.1.1. Followed the steps and successfully exported the streamline with additional sampled variable.

[2020-03-26 18:48] #1327 closed, assigned to nobody

[2020-03-26 19:06] biagas commented on #2556
@ARSanderson This is assigned to you, is it something you can do or have already done, or shall I unassign?

[2020-03-26 19:16] biagas commented on #2573
3.1.1, this is no longer an issue.

[2020-03-26 19:16] #2573 closed, assigned to nobody

[2020-03-26 19:18] biagas commented on #2574
3.1.1 No longer an issue.

[2020-03-26 19:18] #2574 closed, assigned to nobody

[2020-03-26 19:31] biagas commented on #2588
@griffin28 or @markcmiller86 can either of you say whether this is still a problem on OSX?

[2020-03-26 20:09] biagas commented on #2604
3.1.1 Still an issue

[2020-03-26 20:21] griffin28 commented on #2588
@biagas this works for me using 3.1.1

[2020-03-26 20:26] griffin28 commented on #1321
@markcmiller86 is this still an issue?

[2020-03-26 20:30] biagas commented on #2608
This looks more like an option for 'Axis type' than a change in bounding box.
With a new addition to axis type that draws similar to picture, bounding box could be turned off and the new setting used.  Or perhaps adjust the 'Show grid' setting to match the axis type (instead of surrounding the entire bbox), or have their own settings similar to axis types (see new vtkCubeAxesActor class, which our

[2020-03-26 20:34] griffin28 commented on #1309
@biagas my inclination is to close this...your thoughts?

[2020-03-26 20:37] markcmiller86 commented on #4540
Hey @ARSanderson...

We met early today to discuss.

We wound up having some questions to ask to help better understand how/where this fits into VisIt?

1. At what scale do you think the techniques you are currently trying to visualize performance data, communication maps begin to break down? 1000 tasks, 10,000 tasks, more?
   * Reason for asking is that we worry the basic bar-stacks start to beco

[2020-03-26 20:41] biagas commented on #2622
The samples per ray part has been fixed.
Color table name problem similar to #2395

[2020-03-26 20:42] biagas commented on #2625
@markcmiller86 or @griffin28 is this still an issue on OSX?

[2020-03-26 20:48] griffin28 commented on #2625
I don't think so...I don't have anything to reproduce it. I recommend closing this ticket, if it was still an issue I'm sure we would've heard something by now. There have been some updates to the GUI size logic that may have made this obsolete also.

[2020-03-26 20:51] griffin28 commented on #1280
@aowen87 this sounds like something that you've resolved?

[2020-03-26 20:52] griffin28 commented on #1279
This is OBE since we are on 3.1.1 and vtk 8

[2020-03-26 20:52] #1279 closed, assigned to nobody

[2020-03-26 20:55] aowen87 commented on #1280
I think this is still an issue, but there might be logic in there to handle this now. I do know that the pick query still _does_ use the "cell start" provided by the database reader. Whether or not it's smart enough to revert that offset later on is not something I'm sure of...

[2020-03-26 20:58] griffin28 commented on #1278
OBE

[2020-03-26 20:58] #1278 closed, assigned to nobody

[2020-03-26 21:00] griffin28 commented on #1275
@markcmiller86 is this obsolete because of the 7zip stuff?

[2020-03-26 21:02] griffin28 commented on #1268
@brugger1 is this still an issue?

[2020-03-26 21:03] #1266 closed, assigned to nobody

[2020-03-26 21:05] #1263 closed, assigned to nobody

[2020-03-26 21:11] griffin28 commented on #1262
Add the correct way to launch the CLI from macOS to the CLI Manual if not there.

[2020-03-26 21:16] griffin28 commented on #1253
@brugger1 and @cyrush I believe this is currently the case with build_visit right?

[2020-03-26 21:17] griffin28 commented on #1252
@biagas is this still an issue?

[2020-03-26 21:18] griffin28 commented on #1251
OBE...we are on QT5 now.

[2020-03-26 21:18] #1251 closed, assigned to nobody

[2020-03-26 21:21] brugger1 commented on #1268
No. You can close the ticket.

[2020-03-26 21:23] brugger1 commented on #1253
I believe we have disabled the gui portion of build_visit, so this no longer applies.

[2020-03-26 21:23] #1268 closed, assigned to nobody

[2020-03-26 21:24] #1253 closed, assigned to nobody

[2020-03-26 21:31] #1218 closed, assigned to nobody

[2020-03-26 21:32] #1216 closed, assigned to nobody

[2020-03-26 21:48] #2588 closed, assigned to nobody

[2020-03-26 21:49] #2625 closed, assigned to nobody

[2020-03-26 21:50] biagas commented on #1309
Yes, I think so.

[2020-03-26 21:52] biagas commented on #1252
We don't have a working PySide at the moment, so I say it can be closed.  We can create a new ticket if it crops up again when/if we have PySide working again.

[2020-03-26 21:58] #1252 closed, assigned to nobody

[2020-03-26 21:59] #1309 closed, assigned to nobody

[2020-03-26 22:22] biagas commented on #2632
@markcmiller86 is this a silo ticket?

[2020-03-26 22:28] biagas commented on #2635
in 3.1.1, lldb is listed, as are a lot of other debugging tools. @markcmiller86 can you verify that you also think this is fixed?

[2020-03-26 22:42] biagas commented on #2647
No longer a problem.

[2020-03-26 22:42] #2647 closed, assigned to nobody

[2020-03-26 23:12] biagas commented on #2658
If I am reading the correctly, we can add 'pseudolog' (or whatever name) option to plots like Contour that already provide a 'log' scaling option and use std::asinh(x/2) for the computation. Also add this 'pseudolog' (or whatever name) to our expression language.

[2020-03-27 00:06] biagas commented on #2676
I see only one test that restores sessionfiles in the skip list, and its only skipped for scalable,paralell,icet mode: correlationsession.py . Even then only 1 of its cases is skipped.
Given that information @markcmiller86 , should this be closed? Or does this ticket refer to something else altogether?

[2020-03-27 00:11] biagas commented on #2677
Related to #2605

[2020-03-27 00:15] markcmiller86 commented on #2635
Ok, agree lldb is listed in the usage *source* files. But, it isn't in the [Startup Options](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/StartupOptions/index.html) section of the docs.

Separately, I wonder if the *GUI* manual is the best place to document those as they apply to *both* CLI and GUI.

I've updated headline to reflect new purpose

[2020-03-27 00:15] biagas commented on #2681
Related to #839

[2020-03-27 00:16] markcmiller86 commented on #2632
Yes, it is. I will move to silo and close here. Thanks

[2020-03-27 00:16] #2632 closed, assigned to markcmiller86

[2020-03-27 00:23] markcmiller86 commented on #1275
Don't know. Does @cyrush recall what specifically was happening? I think this is maybe not reproducible.

[2020-03-27 00:23] sullan2 commented on #12112
Thanks! I was working with a 3D plot, the Query Function worked for me.

[2020-03-27 00:26] biagas commented on #2694
There is the option to turn off 'auto-scaling' of label values (on the General tab of 2D/3D), then for each axis the scaling exponent can be changed.  While not exactly the same as a format string, I think it allows for what he wanted. @brugger1 what do you think?

[2020-03-27 00:30] #1321 closed, assigned to nobody

[2020-03-27 00:35] biagas commented on #2696
In Annotation->Objects Legend, one can change the format string to use scientific notation (Appearance Tab)
One can fully customize the labels displayed next to the tick marks (Tick marks tab), specifying a label for each value, then choosing to display value and/or label.

@brugger1 do you think this covers Jose's use-case?

[2020-03-27 00:41] biagas commented on #2711
This is no longer occuring. IntegralCurveAttributes.java gets generated with the same values as in the xml file.

[2020-03-27 00:41] #2711 closed, assigned to nobody

[2020-03-27 02:45] biagas commented on #2727
With navigation mode set to Trackball, Dolly, or Flythrough, my mouse wheel caused movement in and out. A couple of times it seemed to get stuck and stop working, but then worked again.
@markcmiller86 can you test if it works for you now? (I only tested on linux)

[2020-03-27 15:34] rusu24edward opened #4555 "sphinx pdf's don't download because tracked with lfs"
### Describe what needs to be documented.
There is a verdict manual that we link to in the sphinx documentation. However, the download link for it does not produce anything readable by pdf readers. This is because the file is tracked by git-lfs, which [replaces the actual file with a pointer file](https://help.github.com/en/github/managing-large-files/about-git-large-file-storage). It's good that

[2020-03-27 15:39] markcmiller86 commented on #4555
Yowza! Thanks for catching and diagnosing.

One option here is to adjust the `conf.py` file we run on RTD to somehow `git lfs pull` on `src/docs`. We might be able to make that work.

[2020-03-27 15:41] markcmiller86 commented on #4555
I found [this ref](https://github.com/LeBarbouze/tunacell/pull/10) that might be helpful

[2020-03-27 15:50] rusu24edward commented on #4555
Okay, looks like option 3 can be done. Also it seems that we might be able to have [git lfs pull only certain files](https://github.com/git-lfs/git-lfs/issues/1351), although we'll have to see about doing that in the conf.py file.

Would just like to point out that images show up fine in the sphinx repo exactly because we do not git lfs track the .png files in /src, but only in /docs and /test, wh

[2020-03-27 15:55] markcmiller86 commented on #4555
Ah, ok. I see...well adjusting .gitattributes works for `src/docs` works well too. There isn't too much there...

[code]

We can get in there with a PDF optimizer too and optimize all the existing PDF files there or we can move those that aren't related to online manual to another location to make it easier to filter in `.gitattributes`

[2020-03-27 15:56] biagas commented on #2739
Tried with 3.1.1 from my linux desktop, connecting to LC. Changed username with the dialog and connection completed successfully.

[2020-03-27 15:56] #2739 closed, assigned to nobody

[2020-03-27 15:57] markcmiller86 commented on #4555
Actually...I was scanning *both* `doc` and `src/doc` above. I guess we just need that filter for `src/doc`. So, just edit `.gitattributes` adding `src/doc/**/*.pdf and we should be good.

[2020-03-27 15:58] markcmiller86 commented on #4555
BTW...`docs/SphynxDocs/**/*.png` doesn't apply anymore, does it?

[2020-03-27 16:13] rusu24edward commented on #4555
Got it. I'll push that up soon. Seems to me like the easiest path forward.

I had noticed that the other day. I don't see it in the repo anymore. I can remove it in my branch.

[2020-03-27 16:50] biagas commented on #2764
Seems to have been fixed. Linux and Windows both show this:
![Operators](https://user-images.githubusercontent.com/17075318/77779767-3f2e2d80-7010-11ea-9056-444c16ecda17.png)

@markcmiller86 or @griffin28 can you check it works on OSX?

[2020-03-27 17:12] biagas commented on #2772
@markcmiller86 Is this still an issue? When I click status once, I see all the skipped tests at top, when I click again I see all the unacceptable and failures at the top.

[2020-03-27 17:20] biagas commented on #2783
Resolved by #4517

[2020-03-27 17:20] #2783 closed, assigned to nobody

[2020-03-27 17:35] biagas commented on #2794
No longer seems to be an issue.

[2020-03-27 17:35] #2794 closed, assigned to nobody

[2020-03-27 17:36] ARSanderson commented on #2556
As far as I am concerned Fastbit is dead. In 2018 I was working John Wu at LBL to fix some issues with the libraries as they gave the wrong results. I tried to engage them again a few months ago but heard nothing. At this point the libraries are not compatible as the API has changed again. H5Part was maintained by LNL. @ghweber offered to help as possible with updates but they have moved or moving

[2020-03-27 18:10] biagas commented on #3430
Not me, @cyrush

[2020-03-27 18:25] #2772 closed, assigned to nobody

[2020-03-27 18:37] markcmiller86 commented on #2764
On OSX, no it isn't...

![Untitled 2](https://user-images.githubusercontent.com/5720676/77788829-2da05200-701f-11ea-9d1d-bcfbbbcc24e9.png)

Maybe we need to resolve by having a *default* icon which is just a constant color box. All entries get either that default icon or the specific icon for that entry.

[2020-03-27 18:44] ARSanderson commented on #4540
1. For task based processes under 100, I have seen up to 50 tasks so far. So I do not think we would run into an issue - but agree this issue is the same for both when there is too much data.

2. Each performance data value is associated with two meshes that are in different visual domains (machine and communication). It would be possible to move the functionality into the database and thus create

[2020-03-27 20:31] #4555 closed, assigned to rusu24edward

[2020-03-27 21:04] rusu24edward commented on #4445
- [ ] Add CLI docs as well, including the script for animations.

[2020-03-27 21:13] rusu24edward commented on #4445
- [ ] Understand Poincare Appearance Coloring

[2020-03-27 21:24] rusu24edward commented on #4445
- [ ] Only show the fields with third party values that the user's build supports.

[2020-03-27 21:54] biagas opened #4558 "Should remove vtkDepthSortPolyData2 (avt/Plotter/vtk)"
@burlen added this to VisIt while he was simultaneously submitting his modifications to the VTK repo. Since his updates are in the VTK version we currently use,  we can safely remove this file, and use VTK's file directly.

[2020-03-28 20:28] markcmiller86 commented on #2727
Ok, so am seeing a few funky behaviors on OSX with 3.2.0 (current develop branch)

  * My mouse wheel has no effect in Dolly or FlyThrough mode. It only has effect on zoom in Trackball mode.
  * Depressing shift or command-key while dragging does pan on all modes (that is expected in Trackball but I honestly don't know if in other modes)
  * Hit reset view 2 or 3 times while in FlyThrough mode and

[2020-03-28 20:30] markcmiller86 opened #4559 "Fix use of "remote rendering only" in interactor GUI"
VisIt's term for rendering on the engine is *Scalable Rendering*. That is the term we use everywhere in the GUI and manual to refer to the mode where the engine does the rendering. However, the GUI for the Interactors window uses `remote rendering.` We should fix that

[2020-03-29 05:21] markcmiller86 commented on #4069
@griffin28 am wondering what you think is best action to move this issue forward

[2020-03-29 09:42] s-amouyal12 opened #4560 "CGNS v4 fails"
### Describe the bug
Latest CGNS files fail to be read by VisIt

**Helpful additional information**

Upon opening a CGNS file, the following error is printed:

`VisIt closed "localhost:C:\...\VisIt\cgns\new_unstructured.cgns".

Shortly thereafter, the following occurs...

VisIt could not read from the file "C:\...\VisIt\cgns\grid_structured_2zn.cgns".

The generated error message was:

There was a

[2020-03-29 20:17] markcmiller86 commented on #4560
So, VisIt is using CGNS version 3.2.1. It sounds like CGNS v4 is producing files that CGNS v3 cannot read. Is that correct? Is this intentional? I can understand if somehow a data producer was using *advanced* functionality not available in versions of CGNS *prior* to v4 that the resulting files would not be (fully) readable in earlier versions. But, your note here (e.g. *run any example code*) su

[2020-03-29 20:30] markcmiller86 opened #4561 "Add about this build...information"
We should capture all the configuration information used to build a version of VisIt and then expose this from the GUI/CLI through the `About VisIt...` dialog. This would include versions of all libraries, plugins built, maybe compiler, architecture, etc.

We have all the information lying around in different places and so its just a matter of gathering it together, stuffing it into some `.json` o

[2020-03-30 00:39] griffin28 commented on #4069
@markcmiller86 I think the best action is to stick with your initial work-around and run VisIt from the command line until I get macOS 10.15 installed and able to figure out the correct solution.

[2020-03-30 15:12] rusu24edward commented on #12115
[CGNS_trouble.zip](https://github.com/visit-dav/live-customer-response/files/4403709/CGNS_trouble.zip)

[2020-03-30 15:56] markcmiller86 commented on #12108
Hi Manel,

Did using the Pixie reader work fo you?

[2020-03-30 15:57] markcmiller86 commented on #12102
@brugger...is this now resolved?

[2020-03-30 16:01] markcmiller86 commented on #12115
If Solal is using CGNS v4, VisIt won't read it correctly. I am pretty sure this is now captured in [this product development issue](https://github.com/visit-dav/visit/issues/4560)

[2020-03-30 16:31] #4136 closed, assigned to aowen87

[2020-03-30 16:42] markcmiller86 commented on #12106
@brugger1 any guidance regarding effort involved in implementing automatic decomposition in ADIOS plugin.

[2020-03-30 16:54] brugger1 commented on #12106
I haven’t looked at it yet. I believe it is an hdf5 file under the hood and logic from the pixie reader could be used as a starting point. I also found another reader that used a different splitting method, but I can’t recall the name of the plugin. One did the splitting using a method in one of the base classes and the other had its own splitting logic.

[2020-03-30 17:05] cyrush commented on #12106
the also have their own file format, auto-decomp would probably have to been done at the ADIOS level

[2020-03-30 17:28] brugger1 commented on #12102
The fix is checked in, but I am waiting to hear back from the user. It turns out the e-mail came directly to you and me and I responded here, erroneously thinking he would get it from visit-users. I just now responded in the original e-mail chain, so I hope to hear back from the customer soon.

[2020-03-30 17:36] brugger1 commented on #12108
I'm closing this now since I provided a solution.

[2020-03-30 17:37] brugger1 commented on #12109
I'm closing this now since I provided a solution.

[2020-03-30 18:16] aowen87 commented on #3711
There is a remaining issue when computing normals using the cells instead of points. I'm also just getting different results on a clean develop branch using my mac vs LC. I'll look into this more later.

Both issues only show up when rendering the "foo_data" variable from vtk_test_data/ugrid_mixed_cells.vtk. All other test cases look fine.

[2020-03-30 18:36] MicK7 commented on #4560
Quick comment to answer the question, CGNS v4 is backward compatible. It was made intentionally not forward compatible because in some corner cases it would lead to users issue. From what I have seen of VisIt CGNS database code, upgrading to v4.1 should not raise much problem as CGNS/MLL functions are still the same and the code do not handle polyhedral meshes.
The only issue will be with MIXED el

[2020-03-30 21:08] griffin28 commented on #1157
@brugger1 this port has been done right?

[2020-03-30 21:10] brugger1 commented on #1157
Yes. In fact, this is so old that sequoia has now been retired.

[2020-03-30 21:11] #1157 closed, assigned to nobody

[2020-03-30 21:13] #1143 closed, assigned to nobody

[2020-03-30 21:15] #1137 closed, assigned to nobody

[2020-03-30 21:24] #1118 closed, assigned to nobody

[2020-03-30 21:25] #1117 closed, assigned to nobody

[2020-03-30 21:27] #1104 closed, assigned to nobody

[2020-03-30 21:29] #1100 closed, assigned to nobody

[2020-03-30 22:29] markcmiller86 opened #12117 "VisIt GUI menus showing individual blocks for an ale3d file"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

<img width="878" alt="VisIt_FileSelection" src="https://user-images.gith

[2020-03-30 23:09] #1097 closed, assigned to nobody

[2020-03-30 23:33] griffin28 commented on #1095
This is still an issue - checked with 3.1.1

[2020-03-30 23:40] griffin28 commented on #4418
Related to: #1090

[2020-03-31 18:06] markcmiller86 commented on #12117
Just got off webex with Adam.

His gen3d input deck and `numcycdigits` set to 8. We think this was causing VisIt problems in detecting a ". *database" in `smart` file grouping mode in the `File->open...` dialog. I've asked Adam to try 7 (or 6 digits) to see if that fixes it.

If it does, the problem is in VisIt's 'smart' grouping algorithm and I will file an issue ticket.

[2020-03-31 18:30] markcmiller86 opened #4563 "Create on-boarding checklist for docs"
We need to create an on-boarding checklist for new project members to be included in our docs. We'll start here as an issue just to gather thoughts. From here, we can migrate to `.rst` documentation when we know everything that should be included, at least in an initial draft.

- visit-help email list subscription
   - admin access??
- GitHub account
- add to GitHub organization
- add to visit-dav

[2020-03-31 20:21] markcmiller86 commented on #12117
Here is an example that is working for Adam

<img width="864" alt="FileListALE3Dsphereflow" src="https://user-images.githubusercontent.com/5720676/78071528-9145ba80-7352-11ea-9baf-a5f2613e79d7.png">

[2020-03-31 20:23] markcmiller86 commented on #12117
Believe it or not, things are indeed working as intended here.

The difference between the ale3d example and the gen3d example is one of time-steps. The Ale3d example has many timesteps. The `.* database` *entry* in the file list is the whole time series starting at cycle 0000000 and ending at cycle 0013510. Those are all the root/master files for that time series. In turn, each one of those root/

[2020-03-31 21:46] #1072 closed, assigned to nobody

[2020-03-31 22:01] #1052 closed, assigned to nobody

[2020-03-31 22:23] griffin28 commented on #1043
We've moved to Git.

[2020-03-31 22:23] #1043 closed, assigned to nobody

[2020-03-31 23:24] griffin28 commented on #1029
Couldn't reproduce with version 3.1.1 on macOS 10.13

[2020-03-31 23:24] #1029 closed, assigned to nobody

[2020-03-31 23:32] griffin28 commented on #1016
@aowen87 or @brugger1  can one of you try this on your Linux system. Thanks.

[2020-03-31 23:35] griffin28 commented on #1012
Systems retired

[2020-03-31 23:35] #1012 closed, assigned to nobody

[2020-04-01 00:03] brugger1 commented on #1016
It may be a while until I have access to my Linux systems again.

[2020-04-01 00:07] markcmiller86 opened #4565 "Improve documentation of DeferExpression with chained example"
What if you want to plot the magnitude of a single component of an external surface normal of `mesh1` in `globe.silo`? If do it by chaining together two expressions; one for the external surface normal and then another taking the first (zeroth) component of that vector expression, then you need to be sure you *defer* **both** the surface normal expression and the expression taking the zeroth compo

[2020-04-01 00:39] biagas commented on #1016
I tried on my local linux desktop.
The 'x' for the viewer windows is helpful for closing multiple windows, but shouldn't core used on the last viewer window open.  I believe it is a window-manager button, not necessarily a visit button.
 When we try to delete the last window using VisIt's delete window, we get an error message 'Can't delete last window'

Do we need to somehow capture the window ma

[2020-04-01 16:14] aowen87 commented on #4187
I've been able to successfully build and link against two version of vtk:
1. VTK 9.0 / master branch (uses OSPRay 1.8)
2. VTK 8.9 / WIP OSPRay branch (uses OSPRay 2.0)

VTK 9.0 works fine, and I'm able to run some simple examples.

The OSPRay branch is a different story, though. I can compile examples using this build, but the rendering screen is always blank (this is _without_ using OSPRay). If I

[2020-04-01 16:29] markcmiller86 opened #12118 "VisIt not working from RZ systems over VNC"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

User reported VisIt on RZ systems over RealVNC was displaying a garbled/

[2020-04-01 16:30] markcmiller86 commented on #12118
The problem is VisIt version 2.3.13. It doesn't work over current VNC. Users should use VisIt 3.1 or later. On LC systems, users will need to specify `-v 3.1` command-line startup argument.

[2020-04-01 16:31] griffin28 commented on #1016
@biagas not sure what you mean here...did the last window core when you clicked the 'x'?

@biagas I would say yes (override QMainWindow::closeEvent or something similar) and use the same logic as VisIt's delete window

[2020-04-01 16:40] biagas commented on #1016
@biagas not sure what you mean here...did the last window core when you clicked the 'x'?

Yes, the viewer process cored when I clicked the 'x' on the last viewer window.

[2020-04-01 18:13] biagas opened #4566 "Does VisIt really need hdf-4 built with jpeg?"
bv_hdf4 uses vtk's libjpeg.  With VTK-9, vtk's name mangling for jpeg has changed, and they updated to a newer jpeg version.
hdf4 claims not to support jpeg 7 or newer, but I have compiled hdf4 with jpeg9 on Windows successsfully.

Easy enough to modify the build_visit patch for hdf4's configure to handle the new vtk name mangling and remove the jpeg lib version check, but I'm just curious if we r

[2020-04-01 19:52] markcmiller86 opened #4567 "Develop training content with focus on remote work productivity"
There are a few key topics we can work up content for (if we don't have it already) that have especially high relevance given the current work-at-home situation.

* VNC
   * At LLNL
   * At maybe some other sites as examples
   * Via ssh tunneling
* Interactive vs. batch allocations (e.g. mxterms)
* Client/server
    * At LLNL
    * At some other sites as examples
* SSH productivity
   * Control M

[2020-04-01 22:08] aowen87 commented on #3711
I believe I have fixes for all issues now. I'll get a pull request in later this week.

[2020-04-01 22:52] aowen87 commented on #1329
Unable to reproduce. Assuming this is fixed now.

[2020-04-01 22:52] #1329 closed, assigned to nobody

[2020-04-01 22:56] aowen87 commented on #1330
This appears to be resolved now.

[2020-04-01 22:56] #1330 closed, assigned to nobody

[2020-04-01 23:04] brugger1 commented on #4567
Here is the link to VNC information at LC.

https://hpc.llnl.gov/software/visualization-software/vnc-realvnc

If you want to control the resolution of VNC screen, you can use the xrandr command to see available resolutions and change the resolution.

xrandr

gives the available resolutions

xrandr -s XXXXxYYYY

to change the resolution.

For a Windows laptop 1280x720 is a good resolution.
For a hi

[2020-04-01 23:06] aowen87 commented on #1333
These options are no longer available. Issue cannot be reproduced.

[2020-04-01 23:12] brugger1 commented on #4567
Do we want to do this as a tutorial in the user's manual?

[2020-04-01 23:16] biagas commented on #1333
The legend controls are contained in Controls->Annotation->Object
The Appearance tab has controls for turning off the title/minmax and turning on bounding box.
I verified this is still an issue with 3.1.1 running on Linux.

[2020-04-01 23:26] brugger1 opened #4569 "Variable order not maintained when exporting XYZ files."
### Describe the bug

I recommended that a user export his data using the XYZ format. He said when he specified the variables to export as "var1 var2 var3" the data ended up in columns in the order "var3 var2 var1".
When he specified "var1 var2 var3 var4", the data came out in the order "var1 var4 var3 var2". This probably isn't critical, but it can be confusing if the user is going to parse the d

[2020-04-01 23:35] aowen87 commented on #1333
Ah, I see them now; they are really buried in there. I don't believe I'm seeing this issue on my Mac. @biagas could you post an image of what you're seeing?

[2020-04-01 23:59] biagas commented on #1333
Just realized this is a duplicate of #2817
![Legend](https://user-images.githubusercontent.com/17075318/78197401-0e982a80-743a-11ea-85ec-222fde97d4a6.png)

[2020-04-02 00:09] markcmiller86 opened #4570 "Refactor QvisExpressionsWindow::ExpandFunction to respective expressions"
A really useful feature of many expressions is that when you insert them in the GUI, you get a get a sort of template like `cell_constant(<meshvar>,<constantvalue>)`. However, all the logic supporting the definition of these helper strings is in the GUI's `QvisExpressionsWindow::ExpandFunction` which means anyone adding new expressions has no idea to go there to create the expression's helper temp

[2020-04-02 00:11] markcmiller86 commented on #4570
As an aside, the helper string for `cell_constant()` (and friends) should not use pointy brackets for the constant value. Numerical values in our expression system should not be escaped. So, the helper string should be `cell_constant(<meshvar>, number)` not `cell_constant(<meshvar>, <number>)`

[2020-04-02 05:05] markcmiller86 opened #4571 "Pick on a DeferExpression variable yields No Information Found"
1. Open globe.silo
1. Define `area` expression as `area(<mesh1>)`
1. PC plot `area`
1. Add **ExternalSurface** followed by **DeferExpression** operators.
   * Defer the `area` expression
1. Hit Draw
1. Go into zone pick mode and pick any zone. For the `area` result you get `No Information Found`

[2020-04-02 05:09] markcmiller86 opened #4572 "Must globe.silo have the funky facelist?"
Using **ExternalSurface** operator on `globe.silo` yields unexpected results because that Silo file is using the UCD mesh object's external facelist feature. So, the data producer is writing the facelist to the file and, for some odd reason, it was decided to write all faces on material interface boundaries *in addition to* the external surface faces.

This just seems confusing and creates more is

[2020-04-02 14:49] markcmiller86 opened #4573 "MinMax query on Histogram plot crashes engine"
1. Open globe.silo
1. Histogram plot of `mesh_quality/min_edge_length`
1. Query MinMix

The engine crashes.

[2020-04-02 15:11] aowen87 commented on #1333
Ah, I see what's happening; I had misunderstood the issue here. I'm seeing this on mac as well.

[2020-04-02 15:34] aowen87 commented on #1347
This is regarding an old version of VisIt on an old version of Linux. @brugger1 is it safe to close this now?

[2020-04-02 18:13] markcmiller86 opened #12119 "Problem with 6 noded pentagon from CGNS"
We're trying to [combine `visit-users` email list with GitHub issues](https://github.com/visit-dav/live-customer-response/wiki/How-the-new-GitHub-visit-users-Email-Integration-Works).
When replying on `visit-users`, please reply **only** to emails with a *Subject*
line that includes `[visit-dav/live-customer-response]`.

---

User reports...

For now, I'm using v3.4.1 and I'm having no issues with

[2020-04-02 18:16] markcmiller86 commented on #12119
I am puzzled by what is *not correct* in the attached image. It sure looks correct to me. Is maybe the bounding box annotation throwing off your interpretation? If so, go to **Controls->Anntoations** and click the **No annotations** button and then hit the **Apply** button and see if that doesn't make it easier to interpret.

[2020-04-02 18:36] brugger1 commented on #1347
Yes, this is safe to close.

[2020-04-02 18:40] #1347 closed, assigned to nobody

[2020-04-02 21:47] aowen87 commented on #1355
I believe this has been resolved. @biagas can you confirm this?

[2020-04-02 22:06] aowen87 commented on #1840
This appears to be fixed.

[2020-04-02 22:06] #1840 closed, assigned to nobody

[2020-04-02 22:12] biagas commented on #1355
You are correct. this has been fixed.

[2020-04-02 22:17] #1355 closed, assigned to nobody

[2020-04-02 22:32] griffin28 commented on #931
Not an issue for macOS 10.13 and VisIt version 3.1.1

[2020-04-02 22:41] griffin28 opened #4574 "Selecting 'Use default system appearance' after changing GUI orientation to horizontal doesn't work right"
### Describe the bug
Selecting 'Use default system appearance' after changing GUI orientation to horizontal doesn't reset the appearance to the default system setting. The GUI orientation is still horizontal and the Appearance dialog is not updated.

**Helpful additional information**
(*Please click check boxes AFTER submitting ticket*)
- [ ] Did VisIt crash?
- [x] Did you get wrong results?

**Im

[2020-04-02 22:50] griffin28 commented on #915
@brugger1 I believe this is no longer an issue right?

[2020-04-02 22:52] griffin28 commented on #912
related to #916

[2020-04-02 22:54] #904 closed, assigned to nobody

[2020-04-02 23:00] aowen87 commented on #1812
Most of this has been resolved in #3370. I don't believe we're handling ghost zones at processor boundaries, though. @markcmiller86 were there plans to add ghost information to the mili files?

[2020-04-02 23:06] aowen87 commented on #1793
I believe this is resolved/being resolved now that we're moving completely to html sphinx for our manuals. @markcmiller86 do you agree?

[2020-04-02 23:08] aowen87 commented on #1792
This type of search now works in sphinx.

[2020-04-02 23:08] #1792 closed, assigned to nobody

[2020-04-02 23:38] brugger1 commented on #915
I’m 99% sure this is still an issue. I can’t verify it at home though.

[2020-04-02 23:40] #1812 closed, assigned to markcmiller86

[2020-04-02 23:43] #894 closed, assigned to nobody

[2020-04-02 23:47] biagas commented on #915
Here's a screenshot of the password window on linux for 3.1.1
![Screenshot-Enter Password](https://user-images.githubusercontent.com/17075318/78310056-985efb00-7501-11ea-909d-1074fc819973.png)

and after I change username:
![Screenshot-Enter Password-AfterChangeUserName](https://user-images.githubusercontent.com/17075318/78310068-a01e9f80-7501-11ea-9dcb-c3997dae33bd.png)

[2020-04-02 23:58] griffin28 commented on #883
Version of Mili for 3.1.1 is 15.1

[2020-04-02 23:58] #883 closed, assigned to nobody

[2020-04-03 00:19] griffin28 commented on #841
Related to: #842

[2020-04-03 00:23] #831 closed, assigned to nobody

[2020-04-03 00:34] #806 closed, assigned to nobody

[2020-04-03 14:06] brugger1 commented on #915
On Windows I see my login name in red without having changed my user name. This seems like a useful feature. If the username isn’t shown, then I might not know its incorrect.

[cid:image001.png@01D60986.54307DA0]