[2022-04-08 19:35] markcmiller86 commented on #4282
From @casperson1

[2022-04-08 21:23] markcmiller86 commented on #4282
Ok, so this is captured in Case 1B...the user asks VisIt to open a compressed archive and the root file expands as the same level as the archive and all the domain files are in a subdir.

[2022-04-08 21:39] markcmiller86 opened #17560 "Case-insensitive alpha sort of database plugins in Open file as type pulldown"
### Is your feature request related to a problem?

95% of our Database plugins have names beginning with an upper-case letter. A small handful do not. With the exception of `openPMD` (which appears in the middle of the list), the few lower-case entries all appear at the bottom of the **File**->Open As->pull-down menu making them hard to find. In the **Plugin Manager**, **Databases** tab, we appear

[2022-04-09 01:15] #17523 closed, assigned to JustinPrivitera

[2022-04-09 02:05] JustinPrivitera opened #17561 "Expressions are redone each time "apply" is clicked in the expressions window"
### Describe the bug
Please see the attached file. It is the output of the "record" option in the "Command" window. I have added comments to explain what is going on. Essentially, it looks like hitting "apply" in the expressions window causes all of the default expressions to be redefined.

### To Reproduce
Steps to reproduce the behavior. For example:
1. Open a file with visit
2. go to the comman

[2022-04-10 03:47] markcmiller86 commented on #17561
@JustinPrivitera honestly something silly like this doesn't necessarily surprise me.

IMHO, there is a lot of complexity in the GUI and in how expressions are managed that could be improved substantially.

During opens, I think we wind up re-populating GUI widgets 2 or 3 times before the open is completed!

We are also still suspect of some possible race conditions in the GUI during opens.

[2022-04-11 15:54] biagas opened #17564 "Movie encoder problem when doing multi-window movie"
### Discussed in https://github.com/visit-dav/visit/discussions/17554

<div type='discussions-op-text'>

<sup>Originally posted by **spcarney34** April  7, 2022</sup>
Hello,

I am using VisIt 3.1.4 on my Ubuntu 20 machine that has ffmpeg installed on it. When I create a movie with one window, everything works out fine, but when I try and create a movie with two windows side-by-side (following the

[2022-04-11 15:54] biagas commented on #17564
I am seeing similar on Windows, with this printed to terminal:
[code]

[2022-04-11 16:26] biagas commented on #17564
I ran on linux, and am also seeing a segv with the CLI.
Here's more output:
[code]

[2022-04-11 19:56] biagas commented on #17564
I ran pngcheck on one of the generated files:
[code]

I opened the same file with python's Imaging library, and saved it with a different name. The python-Image generated png was declared valid by pngcheck.

[2022-04-11 21:52] biagas commented on #17564
visit_composite (using vtkPNGWriter) is the source of the problem.
A quick fix is to have visit_composite only produce ppm and use Python's Image library to convert the results to the appropriate type.

[2022-04-12 18:47] JustinPrivitera opened #17565 "VisIt fails to build with adios library not using MPI"
`./build_visit --makeflags -j12 --mesagl --llvm --adios` fails to build VisIt. It produces the following error in the log file:
[code]
In that folder, there are `adiosread` libraries, but they have extra info in their names:
[code]
So it looks like VisIt can't use adios without MPI enabled as well. Should we require MPI for adios? Currently it is optional, and adios will use it if it is enabled. O

[2022-04-12 19:08] biagas opened #17567 "VisIt can write .rgb image files, but it cannot read them."
### Describe the bug
.rgb image files can be created by a 'SaveWindow' or a 'SaveMovie', but VisIt's Image reader cannot read them.

The files are written by vtkRGBWriter in src/visit_vtk/full. There is no corresponding reader.

### To Reproduce
Steps to reproduce the behavior. For example:
1. Create a plot
2. Click on SetSaveOptions
3. Choose file type 'rgb' and save
4. Attempt to open the saved

[2022-04-12 20:54] #2386 closed, assigned to biagas

[2022-04-12 20:54] #17564 closed, assigned to biagas

[2022-04-12 22:36] brugger1 commented on #17561
We shouldn't be recording database or automatic expressions.

[2022-04-12 22:37] CODER591 opened #17568 "Docs webpage with installing on linux tutorial is 404"
### Describe what needs to be documented.
There is need to restore/re-create tutorial on installing visit on linux as it is missing in docs.

### Is the documentation missing?
Yes, tutorial on installing on linux is 404.
https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/Intro/Installing_VisIt.html?highlight=visit-install#installing-on-linux

I was able to get it from web

[2022-04-12 22:40] biagas commented on #17568
We reorganized the manual a bit. You can find the linux install section here:

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/getting_started/Installing_VisIt.html#installing-on-linux

[2022-04-12 22:44] CODER591 commented on #17568
I was able to visit the old page from here
https://visit-dav.github.io/visit-website/releases-as-tables/#latest

![image](https://user-images.githubusercontent.com/33939665/163066671-1497923b-41f3-4d99-82f3-bb728c5998d0.png)

[2022-04-12 22:45] brugger1 commented on #17542
The third bullet above is intentional behavior. The rest are bugs.

[2022-04-12 23:09] brugger1 commented on #17537
We can address #17472 by determining the topologic dimension in the pseudocolor plot.
We should also look at why we need spatial and topological dimension in the metadata. Maybe we can determine it after we have read the data, rather than requiring the reader to know it at PopulateDatabaseMetadata.

[2022-04-12 23:15] markcmiller86 commented on #17537
Just to capture another thought here about the general considerations we grapple with in questions like this. It has to do with *when* we need to know meta-details about the data and in particular is it *before* or *after* we've already agreed to do problem-sized work (e.g. visiting every node/zone in the mesh) which implies problem-sized reads of data?

When *opening* a database, we really don't

[2022-04-13 05:33] jameskress opened #17569 "VisIt fails to link due to librt.so not found in libavtquery_ser.so"
### Describe the bug
VisIt failed to build. It appears to be missing link line library needed to build on a Ubuntu system using gcc 9.4.0.

Scanning dependencies of target ESimV2Database_ser
[ 90%] Built target qtviswinExample
Scanning dependencies of target ESimV2Database_par
/usr/bin/ld: ../../lib/libavtquery_ser.so: undefined reference to `shm_open'
collect2: error: ld returned 1 exit status
ma

[2022-04-13 21:09] brugger1 opened #17570 "Document how to specify a plugin when opening a file on command line."
I couldn't find any documentation on how to specify the plugin to use when opening a file on the command line. Here is the answer from Mark.

-o <filename>,Silo_1.0

no space before or after comma and, unfortunately, you have to know the capitalization and version number (which is almost always 1.0).

[2022-04-14 01:39] JustinPrivitera opened #17572 "bv_<module>_dry_run function is a required function for each module, but does nothing"
In the build system, there are 13 required functions for each module. One of these is `bv_<module>_dry_run`, which, as far as I can tell, does nothing. I have examined the implementations of this function for every single module we currently have, and each one is identical and looks like this:
[code]
I'm guessing at some point this function did something. `build_visit` won't let you get away with

[2022-04-14 15:37] biagas commented on #3391
Resolved by #4023 and #4808

[2022-04-14 15:37] #3391 closed, assigned to nobody

[2022-04-14 19:11] biagas commented on #3390
Resolved by #4023 and #4808

[2022-04-14 19:11] #3390 closed, assigned to nobody

[2022-04-14 21:26] JustinPrivitera commented on #17565
The second option was preferred

[2022-04-14 23:10] JustinPrivitera commented on #5770
@eschnett I've been working on this issue for some time now. I built adios and adios2 with c-blosc and have been able to open your provided file with adios2 (v2.5). However, all the data within appears to be zeros and errors are thrown:
[code]
Perhaps our version of adios2 is out of date? What version of adios did you use to write the file you attached?

[2022-04-15 16:57] brugger1 commented on #17324
I don't see any reason to export any expressions. We explicitly mention the variables to export, so if it isn't in the list there is no reason to do so. If an expression is in the list, real data should be exported.

[2022-04-15 17:14] markcmiller86 commented on #17324
So, we always _explicitly_ list the variables we want in the exported database, regardless of what is in the current window/view? I have a couple of thoughts on that.

First, I think export ought to mean *everything* that is *there* where *there* means plotted in the currently active window. I think I've frequently exported stuff I was viewing only to find I neglected to explicitly list (duplicati

[2022-04-15 20:53] cyrush opened #17574 "DBOptionsAttributes initialization crash"
### Describe the bug

When setting up DBOptionsAttributes object:

If you call `rv->SetEnumStrings` before ` rv->SetEnum`, VisIt will crash.

We should warn instead.

**Helpful additional information**
 - Did VisIt crash:  Yes
 - Did you get wrong results:  N/A

### Desktop
 - OS and version: toss3
 - VisIt Version: develop (as of april 2022)

[2022-04-15 23:16] eschnett commented on #5770
I probably used ADIOS2 2.7 to write the file. (Version 2.8 is current.)

[2022-04-19 22:26] #17568 closed, assigned to nobody

[2022-04-19 22:30] brugger1 commented on #17569
This is probably related to the recently added repartition and flatten functionality.

[2022-04-19 22:34] brugger1 commented on #17570
They can find the case and version by looking at the database plugin window.

[2022-04-19 22:37] markcmiller86 opened #17577 "add new command-line argument for specifying plugin/format to use"
### Is your feature request related to a problem?

We have `-o <filename>,<dbname>_<version>` to open with a specific format. But, that is a bit of an odd argument handling and requires user to know case of database name and its version number (which is not always `1.0`).

Requested by @cyrush

[2022-04-19 22:38] brugger1 commented on #17572
We should remove this.

[2022-04-19 22:51] markcmiller86 commented on #17546
This will address the easier example of banded coloring disussed in #4436.

[2022-04-19 22:51] #4436 closed, assigned to nobody

[2022-04-20 02:56] JustinPrivitera opened #17578 "Record default file open options is missing from Command Recording"
When doing record and choosing default file open options, the recorded info is as follows:
`# MAINTENANCE ISSUE: SetDefaultFileOpenOptionsRPC is not handled in Logging.C. Please contact a VisIt developer.`

**Helpful additional information**
 - Did VisIt crash: no
 - Did you get wrong results: no results

### To Reproduce
Steps to reproduce the behavior. For example:
1. make sure you're recording

[2022-04-21 00:42] markcmiller86 opened #17580 "Add steps for updating spack package.py recipe to release process"
When we make a release, we should also update spack's `package.py` file on the appropriate spack branch.

We've added an [inquiry at Spack](https://github.com/spack/spack/discussions/30206) to learn what is best process for that.

Once we know, we should add steps to our docs.

[2022-04-21 02:06] markcmiller86 opened #17581 "Can't query output of DataBinning on Bins...only on Mesh"
### Describe the bug

See [this discussion](https://github.com/visit-dav/visit/discussions/17579) about doing a query involving DataBinning operator.

**Helpful additional information**
 - Did VisIt crash:
 - Did you get wrong results: YES

### To Reproduce

1. Open `noise2d.silo`
1. Put up **Pseudocolor** plot of `airVf`
1. Open a second window
2. Add DataBinning operator to PC plot
   * set to 2

[2022-04-21 04:06] markcmiller86 opened #17582 "Some queries not documented"
### Describe what needs to be documented.
Many of the queries are documented at https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/using_visit/Quantitative/Query.html#built-in-queries

However, comparing to our **Query** window in VisIt, there are many missing from docs...

- Average Mean Curvature
- Average Value
- Best Fit Line
- Chord Length Distribution - aggregate
- Chord Lengt

[2022-04-21 19:44] markcmiller86 opened #17584 "Upgrade spack release/v0.17 to VisIt 3.2.2"
### Is your feature request related to a problem?
Spack's `develop` branch supports VisIt 3.2.1. An LLNL user wants that on Spack's `release/v0.17` branch...they need a python 3 enabled version of VisIt there.

I started a PR to Spack's `release/v0.17` branch but then realized its @`3.1.1` and quite a bit different from what is on `develop` for `3.2.1`.

Not sure actually what the rules are in Spa

[2022-04-22 17:29] brugger1 opened #17591 "STL export doesn't remove ghost zones."
When exporting to STL, the faces associated with the ghost zones appear to not be removed. This creates overlapping geometry and STL files that can't be imported into other tools that require closed volumes.

To reproduce this bug:

1) Open "multi_ucd3d.silo".
2) Create a subset plot of "domains(mesh1)".
3) Turn off materials 1 and 3.
4) You will get the following image.

![image](https://user-ima

[2022-04-22 20:51] markcmiller86 commented on #5895
@brugger1 or @biagas so one issue I see with how to craft the verbiage here is that generally, users are doing operations in VisIt's **GUI** that they want recorded. How can a user tell, from the buttons they push, mouse clicks they make and text that they enter, which of their **GUI** gestures results in *"VisIt python interactions"*.

I don't see an easy way for a user to know what gestures in t

[2022-04-22 21:14] #5895 closed, assigned to markcmiller86

[2022-04-22 21:45] JustinPrivitera commented on #4537
My understanding is that now we only do documentation on develop; can this issue be closed? @visit-dav/visit-developers

[2022-04-22 22:08] brugger1 commented on #4537
We could add documentation describing our policy to only update the documentation on develop.

[2022-04-22 22:10] #4727 closed, assigned to brugger1

[2022-04-22 22:15] #17297 closed, assigned to brugger1

[2022-04-22 23:35] brugger1 commented on #5706
Do anyone know if we have an example vtk file with material information.

I opened curv2d.silo and created a filled boundary plot and then exported as VTK and I didn't see any material related variables. I did find a "avtSubset" variable, that may have been the material number. I also saw it converted it to an unstructured grid. When I opened it, I was able to create a filled boundary plot of "mat

[2022-04-22 23:47] biagas commented on #5706
I think the avtSubset var was sufficient, though perhaps the export should also be writing MaterialIds Field data, to ensure the reader knows all the possible material numbers. Doesn't MIR process create unstructured grids ?  I think the export happens on the MIR processed data.

[2022-04-23 00:12] markcmiller86 commented on #5706
Yes, in `vtk_test_data.tar.xz` there is a `globe_mats.vtk`

[2022-04-25 10:27] BenWibking opened #17602 "Volume rendering of boxes of large dimension crashes compute engine"
### Describe the bug
When using boxes of large dimension (~1e20), the Volume plot rendering fails completely (it is blank) and sometimes also crashes the compute engine.

**Helpful additional information**
 - Did VisIt crash: sometimes
 - Did you get wrong results: yes

### To Reproduce
Steps to reproduce the behavior. For example:
1. Load provided Boxlib dataset (`plt00000`)
2. Delete any plots c

[2022-04-25 18:26] biagas commented on #135
MapNode support for cpp attributes was added in 2011 and for java attributes in 2012.
Python atts generator still shows 'not implemented'.

[2022-04-25 18:56] biagas opened #17606 "Should remove 7-zip references from config-site files."
### Describe the bug
There are a lot of config-site files with 'VISIT_SEVEN_ZIP_DIR', and a couple with 'VISIT_USE_7ZIP'

[2022-04-25 20:58] #17560 closed, assigned to JustinPrivitera

[2022-04-25 22:10] #17565 closed, assigned to JustinPrivitera

[2022-04-26 16:31] nDimensionalSpace opened #17612 ""VisIt did not open a new compute engine on host HOST because a compute engine is already running there""
### Describe the bug
Got the warning message in the title when trying to generate png files at the command line, as I have done many times before.

**Helpful additional information**
 - Did VisIt crash: no
 - Did you get wrong results: no, in the sense that I did not really get any results

### To Reproduce
Using the current version (which looks to be 3.1.4), type the following at the command line

[2022-04-26 16:41] nDimensionalSpace commented on #17612
Several other notes: each attempt to do this generates a core file.  Also, appears to be failing in python . . .  Screenshot (after removing the -l option) attached.

![Screen Shot 2022-04-26 at 9 39 15 AM](https://user-images.githubusercontent.com/34101746/165350368-75684431-98f9-4464-8a69-c443fa412ee1.png)

[2022-04-26 16:53] nDimensionalSpace commented on #17612
I just tried this with version 3.1.2, which I know to have worked recently, with the same result as stated above.

[2022-04-26 17:49] biagas commented on #17612
Can you try simply restoring the sessionfile without attempting to create a movie?  Just wondering if something got corrupted in the sessionfile. And run with '-debug 5' when restoring the session. (visit -sessionfile temp.session -debug 5).  If restoring the sessionfile fails, the debug logs may give an indication why it failed.

[2022-04-26 18:29] txhappel opened #17614 "Changing Point type of Mesh Plot can Crash engine/machine"
### Describe the bug
I have particle data that is being rendered a mesh plot. Changing the 'Point type' to anything but 'Point' results in extremely slow rendering, and can crash VisIt or even the computer it is running on.

**Helpful additional information**
 - The 'Sphere' option seems to be the worst offender
 - Even if the plot will render after clicking 'Draw', attempting to zoom/move the vie

[2022-04-26 21:27] biagas commented on #17043
There is a problem getting the deprecation message from ProcessOldVersions to be viewable. avtCallback::IssueWarning is what I'm currently using. It prints out fine to the terminal window, but this doesn't work for a release version of VisIt on Windows, where there is no terminal window in which to print.  If not using the CLI, then ideally the message would show up in the GUI's output window.  Th

[2022-04-27 15:25] nDimensionalSpace opened #17615 ""The MetaData server running on localhost could not get the file list for the current directory.""
### Describe the bug
Title almost says it all . . .  The directory of interest was ~/Desktop, on macOS 10.15.7.

**Helpful additional information**
 - Did VisIt crash: No
 - Did you get wrong results: N/A

### To Reproduce
Try to open a database, and double click on Desktop in the left hand ("Directories") pane.

### Expected behavior
I expected to be able to browse into Desktop like any other dir

[2022-04-27 17:26] #4443 closed, assigned to biagas

[2022-04-27 19:41] markcmiller86 commented on #17615
Sorry @nDimensionalSpace...this is a known problem we've yet to fully debug. It has something to do with newer macOS security features and application *entitlements*. But, everything we've tried hasn't yet resolved it.

There is a work-around though. Launch VisIt from the terminal command line instead of by clicking on the icon. On my macOS system, I'd do...

[code]

Or add `/Applications/VisIt.ap

[2022-04-27 19:41] #17615 closed, assigned to nobody

[2022-04-27 20:17] biagas commented on #4227
going to add a SKIP flag for the xml2info code gen targets for these plugins.

[2022-04-27 20:48] etpalmer63 commented on #17602
It maybe helpful to point out that a similar issue also occurs in ParaView: https://gitlab.kitware.com/paraview/paraview/-/issues/21371.

[2022-04-27 23:35] #4227 closed, assigned to biagas

[2022-04-28 16:28] #17520 closed, assigned to nobody

[2022-04-28 16:35] JustinPrivitera opened #17619 "Open File as Type window can hide all the names"
### Describe the bug
If you go to the open file as type menu, make a selection, and then open the file as type menu again, all the options will be whited out unless you mouse over them.
![plugin names hiding bug](https://user-images.githubusercontent.com/35237779/165800808-f362115b-edbe-4289-94e4-59f5b5078507.png)

**Helpful additional information**
 - Did VisIt crash: no
 - Did you get wrong resu

[2022-04-28 16:44] brugger1 commented on #17602
A possible workaround would be to scale the data with the Transform operator.

[2022-04-28 17:05] markcmiller86 opened #17620 "Handling contributions from the community at large"
### Describe what needs to be documented.
We have a lot of great documentation for how VisIt is developed. But, its all pitched for actual VisIt team members.

We need a high level entry point for community contributions which answers such questions as...

- How do I find the current release candidate?
- When is next release planned?
- Where do I put my bug fix, release candidate or develop?
- How

[2022-04-28 17:11] cyrush commented on #17602
[bp_extreme_extents.tar.gz](https://github.com/visit-dav/visit/files/8584875/bp_extreme_extents.tar.gz)

Attached is a simple example that includes extreme extents.

I can add PC plot, but the axis labels are missing.

![Screen Shot 2022-04-28 at 10 10 46 AM](https://user-images.githubusercontent.com/1194526/165807702-c6411722-fa8f-4118-b106-1a6343dbaddb.png)

If I use the transform operator to sc

[2022-04-28 18:45] JustinPrivitera commented on #5770
I upgraded VisIt to ADIOS2 2.7 (built with blosc) and was able to successfully open the file. This issue is nearly resolved. Thanks for your patience :)

[2022-04-28 19:55] biagas opened #17621 "xmltools support for parallel only includes, defines, libraries"
### Is your feature request related to a problem?
ADIOS2 plugin is a good example of the need for this (at least in its current form).
This plugin needs different includes and libraries for the parallel engine target than for the other targets.
Although ADIOS2.xml uses MPI_CXXFLAGS and MPI_LDFLAGS, those tags aren't supported by the tools.
Not only that, the CXXFLAGS, and LDFLAGS apply to all targ

[2022-04-28 20:24] markcmiller86 commented on #17621
This comes up in MOAB plugin too. There is a related aspect of it too...the third party library gets built with or without MPI dependence. In the case of MOAB, that was HDF5 which lead to us creating stuff in `bv_hdf5.sh` to build hdf5 both with and without mpi. Though, in the case of HDF5, the library name is no different in both cases...you just get one with an MPI dependence and one without. Th

[2022-04-28 20:49] biagas commented on #17614
Thank you for supplying the sample data!  ~48000 points, I don't consider that too large. But using any of the geometry-creating Point types does increase the triangle count.  I wouldn't expect this problem from the Sphere option, though.

I tried this out on a Windows 10 system with only the Intel driver, and though sluggish with Sphere point type, VisIt didn't crash.

I then tried  a Windows10 s

[2022-04-28 21:02] biagas commented on #17614
More thoughts:
The point size in your session file seems a bit large for the extents of your point mesh, I would suggest something along the lines of 0.005 or smaller.  I get a better interactivity rate with this size, even using Sphere point type.

Or you could try reducing the point cloud to a specific region of interest via the Box operator.

[2022-04-28 22:07] JustinPrivitera commented on #17572
If/when this is removed, whoever works on it should find the comments at the beginning of `build_visit` and remove the instructions relating to `bv_<module>_dry_run`.

Edit:
These comments are being added in #17622, so I have removed them there preemptively.

[2022-04-29 13:40] Zhonglu opened #17625 "How to specify directory for export database"
### Describe what needs to be documented.
In command line operation, we use this example to export database.

dbAtts = ExportDBAttributes()
dbAtts.db_type = "Tecplot"
dbAtts.filename = "name"
dbAtts.variables = ("default")
ExportDatabase(dbAtts)

It is nowhere mentioned how to specify the export directory in the "ExportDBAttributes()"

### Is the documentation missing?
If so, please describe where

[2022-04-29 14:02] Zhonglu commented on #17625
I can see from the source code. It is "dirname" specify the output directory in "ExportDBAttributes()".

[2022-04-29 14:03] Zhonglu commented on #17625
already propose a change in the doc file

[2022-04-29 14:03] #17625 closed, assigned to nobody

[2022-04-29 22:51] JustinPrivitera commented on #5770
![success](https://user-images.githubusercontent.com/35237779/166078078-865d6e89-8369-46d8-a441-dcf2f564523f.png)

[2022-04-29 23:22] eschnett commented on #5770
This figures lists the dataset name as `/data/0/meshes/admbase_lapse/rl00/admbase_alp`. This does not look correct. `openPMD` would not return such a dataset name. Did you open the file as `ADIOS2` file instead?

openPMD would call this dataset simply `admbase_alp`. The prefix that you see is due to openPMD's internal organization of the datasets in the file. openPMD can split variables across mul

[2022-04-30 02:04] #17324 closed, assigned to JustinPrivitera

[2022-05-02 22:13] JustinPrivitera commented on #5770
Yes.

It seems we've had the wrong operating assumptions for resolving your issue. Kathleen suggested earlier in this conversation the following:

Eric tried to open the provided file and saw the following error:

Hence our decision was to upgrade ADIOS by compiling it with c-blosc, and in the process, upgrading ADIOS2 to a newer version. It sounds like what you are looking for, however, is an upg

[2022-05-02 23:36] JustinPrivitera opened #17630 "should the 7zip module be gone?"
### Describe the bug
Shouldn't `src/tools/dev/scripts/bv_support/bv_p7zip.sh` be gone? We don't need it any more as per #17473 and #17627. It only lives on the RC and not on develop.

Can we remove the script entirely?

[2022-05-03 02:37] #17606 closed, assigned to JustinPrivitera

[2022-05-03 04:27] markcmiller86 commented on #17630
Yes.

[2022-05-03 04:45] markcmiller86 commented on #17630
It occurs to me we should remove 7zip from masonry opts files too...

https://github.com/visit-dav/visit/blob/912f365453598103ba963d7fa97eddf066edd78d/src/tools/dev/masonry/opts/mb-3.2.1-darwin-10.14-x86_64-release.json#L19

[2022-05-03 19:21] brugger1 commented on #17619
I'm able to reproduce this with 3.1.4 on quartz. It is ok the first time, then when I change the default it becomes blank the next time I bring up the menu. It will randomly become blank after accessing the menu, frequently without even changing the menu value. Initially, I thought it did it more if I went to the top of the list, but then that eventually stopped messing up the menu.

[2022-05-03 19:31] txhappel commented on #17614
Thanks for taking a look @biagas
I'm familiar with the ability to specify which graphics card to use in Windows, and on reflection I can see that which hardware path is chosen is probably in general up to the OS rather than controlled by the application.
I tried out the smaller point size you suggested, and I do see better performance when rendering and interacting with the plot. It makes sense no

[2022-05-03 22:33] markcmiller86 commented on #17619
FYI..I do *not* see this on pascal displaying back via ordinary X to my macOS machine.

[2022-05-03 22:41] #17630 closed, assigned to nobody

[2022-05-03 22:48] #3337 closed, assigned to brugger1

[2022-05-03 23:07] markcmiller86 commented on #17619
Ok, I see it now from pascal and quartz. I just needed to do several more steps through the GUI to cause it.

Guessing its a Qt bug.

[2022-05-03 23:25] markcmiller86 commented on #17619
BTW...a quick hack to work-around this might be to sectionalize the menu like we do when we have a database with a large number of variables...

![Screen Shot 2022-05-03 at 4 24 20 PM](https://user-images.githubusercontent.com/5720676/166589346-77633334-fcf8-4345-8eaf-625e7a227cad.png)
.

[2022-05-04 16:41] biagas commented on #5770
Based on @ax3l's [comment above](https://github.com/visit-dav/visit/issues/5770#issuecomment-859133361)  I believe an upgrade to our openPMD reader is indeed needed, perhaps utilizing the [openPMD-api](https://github.com/openPMD/openPMD-api) as suggested.

[2022-05-04 21:42] biagas commented on #3801
This was resolved by #17566
I verified by compiling develop on pascal, and successfully creating a side-by-side movie and  a z-rotation movie.

[2022-05-04 21:42] #3801 closed, assigned to nobody

[2022-05-04 22:02] biagas commented on #17146
This issue is resolved in the port-to VTK 9 branch.

[2022-05-04 22:02] #17146 closed, assigned to biagas

[2022-05-04 22:33] #17621 closed, assigned to biagas

[2022-05-05 02:05] JustinPrivitera commented on #17524
We will need it for the new MFEM LOR scheme being added to the Blueprint Plugin: #17632

[2022-05-05 14:58] biagas commented on #17004
@cessenat, just curious, have you tried 3.2.2? Is this still a problem?
Does `visit -cli` work?

[2022-05-05 17:42] cessenat commented on #17004
Yep still.
For cli I got the following message
[code]
So I naively tried to install shiboken2 but the error message did not change:
[code]

[2022-05-05 17:47] biagas opened #17638 "ColorTable Window and Button redesign"
### Is your feature request related to a problem?
VisIt now has a large number of color tables that makes displaying available color tables difficult under the current design of the ColorTable manager and ColorTable button.  Adding User's custom color tables to the mix only increases the complexity of displaying them in a usable manner.

### Describe the solution you'd like.
The team decided a red

[2022-05-05 18:07] biagas commented on #17004
The shiboken messages are something we are aware of and shouldn't affect the running of VisIt.  Did the cli not work at all for you?
Just trying to narrow down whether it is an issue with the gui or viewer or something else.

Have you tried building VisIt from source? I believe the Ubuntu20 installers were built with Mesa support, so I wonder if that is what is interfering with proper functioning

[2022-05-05 18:51] cessenat commented on #17004
For the cli, I did not get a prompt ">>>" neither a window so I assume it is not working.
Tell me what I could do to better answer your question.
I hav'nt tried to build from source on this platform. I would'nt like to be unpleasant but compiling VisIt is getting more and more difficult...

[2022-05-05 19:17] biagas commented on #17004
I understand not wanting to build from source.

So 3.1.4 works fine, but 3.2.x doesn't. Correct?

Could you try uninstalling 3.1.4 (and 3.2.x just for completeness) then re-installing 3.2.2?
Or simply install 3.2.2 in a different location.
There may be something in the launcher choosing between the versions that is going awry.  We had initial issues with 3.2's switch to using python 3 (3.7.7 is wh

[2022-05-05 20:09] biagas commented on #3533
A quick grep of source code, the only classes that refer to the 'Active/active' color table  are ColorTable classes themselves (avtColorTable, ColorTableAttributes, QvisColorTableWindow),

But there is a user-facing cli method to 'SetActiveContinousColorTable'/'SetActiveDiscreteColorTable'.

Consumers of ColorTable retrieve the default via 'GetDefault' methods when requested color table name is 'D

[2022-05-05 22:24] #17572 closed, assigned to JustinPrivitera

[2022-05-05 23:20] JustinPrivitera commented on #2691
These features are already supported.

[2022-05-05 23:20] #2691 closed, assigned to JustinPrivitera

[2022-05-05 23:42] biagas commented on #2565
Related to #17241

[2022-05-06 01:04] JustinPrivitera opened #17639 "Improve doc-string generation to handle pure python methods"
Certain CLI functions don't get handled via the current doc string generation logic that `sphinx_cli_extractor.py` uses and as of now, need to be handled manually. Here is an example:

In the CLI, if you run `help(foo)` it will give you something like this:
`Help on built-in function foo...`

But for certain functions (pure python), like `WriteScript`, `help(WriteScript)` gives you this:
`Help on

[2022-05-06 09:16] Zhonglu opened #17640 "Database exported in Tecplot Format got Reduced Mesh Resolution in Some Parts"
I am using this page as a note for now, adding more details at a latter time.

### Describe the bug
When I export from Visit to Tecplot, creating the .tec file, it seems the mesh resolution in some parts are reduced, when viewed in Tecplot. I am guessing it might be something to do with the divisions during parallel computation. Yet it looks as expected in the visit GUI.

I am not sure if it is a

[2022-05-06 15:56] cessenat commented on #17004
Yes

That is what I did since I ran /opt/visit/visit3_2_2.linux-x86_64/bin/visit
while I traditionally run visit using /opt/visit/bin/visit

Thanks for your help.

[2022-05-06 17:20] cyrush opened #17641 "inconsistency between xray query bov and export bov files"
### Describe the bug

inconsistency:

xray query creates: `zzz.bov` and `zzz.bof` files
export to bov creates: `zzz.bov` and `zzz` files (the ray data does not have an extension)

We should change the  `bov` export to add the proper extension (`bof` or bod`?) to the raw data file.

### Additional context
Reported by Steve Langer

[2022-05-06 19:07] #17570 closed, assigned to JustinPrivitera

[2022-05-06 23:15] #17537 closed, assigned to nobody

[2022-05-09 19:57] JustinPrivitera opened #17644 "Silo fails to build now that the line endings in bv_silo.sh have changed"
### Describe the bug
I broke the Silo build by changing the line endings within the patches inside of `bv_silo.sh` in #17628. Why they need to be `ctrl M`'s I don't know, but if they are converted to unix line endings, the patch fails. I'll revert them back on both the RC and develop.

[2022-05-09 20:05] brugger1 commented on #17644
My guess is that the Silo source code must has the `ctrl M` characters and with out them the patch doesn't work on Linux. Probably the Silo source code should be looked at to see if the files accidently got committed with DOS style line endings.

[2022-05-09 20:20] JustinPrivitera commented on #17644
For now so that things build again, should I go ahead and revert the changes?

Then would you want me to look at the Silo source code?

[2022-05-09 20:29] brugger1 commented on #17644
Yes, revert the changes and we can look at Silo later. That would require a Silo update to fix if it were the case and we don't know the timing on that.

[2022-05-09 22:30] JustinPrivitera opened #17647 "possible issue w/ mpich and hdf5 + mpi"
### Describe the bug
Ran into an issue building all optional libraries; here is the output from `build_visit`:

[code]
This was my `build_visit` invocation: `./build_visit --makeflags -j24 --mesagl --llvm --mpich --optional`

### Desktop
 - OS and version: toss3 on rztopaz
 - building two branches, one based off of develop and one based off of the RC; happened in both cases

[2022-05-09 22:31] cyrush commented on #17647
justin shared this, i think this is a symptom of an issue with ``--parallel`` vs ``--mpich`` with respect to hdf5 built with mpi.  Builds on rztopaz using the system mpi do hot have this issue.

[2022-05-09 22:44] cyrush commented on #17389
@JustinPrivitera  FYI this is the ticket for the blueprint output for the xray image query

[2022-05-10 00:02] #17644 closed, assigned to JustinPrivitera

[2022-05-10 16:18] biagas opened #17649 "New sphinx warning during manual generation"
### Describe the bug

1>visit/src/doc/building_visit/Spack.rst:135: WARNING: Include file 'visit/scripts/spack/configs/olcf/packages.yaml' not found or reading it failed

Due to new subfolders that were created in visit/scripts/spack/configs/olcf

[2022-05-10 19:22] brugger1 commented on #17045
This was resolved with commits https://github.com/visit-dav/visit/pull/17544 and https://github.com/visit-dav/visit/pull/17597. The number of processes was increased to 2 and the time limit when running with more than 1 process was increased from 3600 to 7200 seconds.

[2022-05-10 19:47] markcmiller86 commented on #17644
Yep. Thats actually the `fpzip` sources I copied into Silo years ago. I could remove them there I guess but apologies @JustinPrivitera ran into this. OTOH, I am sure its probably not the only example of this we'll run into handling patches and so its I think its worth being aware this can sometimes happen.

[2022-05-10 20:11] brugger1 commented on #16963
I tried 3.2.2 in my debian 10 container and I didn't get any error messages. When I changed the name of my third-party directory and tried again I did get the error messages. So It must have found `shiboken2` in my `pyside2` install.

Looking at the VisIt installation, I see "egg" files in `visit/3.2.2/linux-x86_64/lib/python/lib/python3.7/site-packages`. I don't see anything for `shiboken2`. I se

[2022-05-10 21:09] brugger1 commented on #17194
The file that creates the page is `src/test/visit_test_main.py`.

The meaning of the numbers:
1st - Total pixels in the image
2nd - Total non-background pixels
3rd - The number of pixels that are different
4th - The percentage different (3rd divided by 1st)
5th - The average pixel difference.

The function that calculates the 1st, 2nd, 3rd and 5th values is `ProcessDiffImage`. In the function they

[2022-05-10 22:03] biagas commented on #13242
Would a sufficient test be to remove openssh entries from bv_modules, run build_visit (for all third party and visit), and run the regression tests ?

[2022-05-10 22:39] markcmiller86 commented on #17639
For C-implemented python methods, authors compose docs in reStructuredText and from that we *generate* `MethodDoc.C`.

For pure python methods that are nonetheless part of VisIt's CLI interface, we might opt to handle docs for those *normally*...meaning authors would simply write the docs inside the doc strings of those python functions. However, for that documentation to appear in our CLI manual

[2022-05-10 22:47] cyrush commented on #4983
resolved in #17234

[2022-05-10 22:49] #4983 closed, assigned to nobody

[2022-05-10 23:00] markcmiller86 commented on #2565
@biagas best guidance is to now going forward use only the verdict lib available on GitHub. It has all the work that was done in most recent VTK and we don't know if VTK will continue to provide it as part of VTK.

That said, there are some remaining questions...

* Should we now handle as a `build_visit` *required* lib instead of a builtin?
* We should make sure any of our bug fixes to verdict ar

[2022-05-11 00:41] markcmiller86 commented on #17638
For example, each color table will have associated with it, one or more *keywords* or *tags*. Some of these will be pre-primed by VisIt but others can be defined and added by users.

The ColorTableManager interface will provide a way to define a *default* filtering...a scrollable list of *all* possible keywords/tags associated with various color tables along with *use*-marks next to each term indi

[2022-05-12 08:16] Ron-Wang opened #17654 "the lastest VisIt in Windows stystem can't run."
I used VisIt 3.2.2 in my Windows device and it can't run now. I wonder if some update of Windows caused it. Thanks for your applying.

[2022-05-12 12:50] alhom opened #17655 "Volume rendering colormaps issue from exporting scripts"
Hello,

So, the default volumeAttributes colorControlPoints seems to have a low default number (5) of control points, as discussed previously (below, a closed discussion: volume rendering via script #16908). Setting a colormap and other volume plot attributes in GUI and trying to export them to python script via recording a macro will create a script for the colormap with _all control points of th

[2022-05-12 15:11] biagas commented on #17654
Can you please be more specific? Which version of Windows are you running? What exactly happens when you try to start VisIt? Do any of VisIt's components start (gui, viewer)?   Are you using the Start-menu icon to launch or running from a command prompt?  Do any error messages pop up?
Can you try running the 'VisIt with debug logging' icon from the Start Menu and see if any  log files are generate

[2022-05-12 19:37] biagas commented on #17655
Related to #998

[2022-05-12 21:29] #17649 closed, assigned to biagas

[2022-05-12 21:37] biagas commented on #17472
Resolved by #17571

[2022-05-12 21:37] #17472 closed, assigned to biagas

[2022-05-13 02:34] JustinPrivitera opened #17657 "build_visit contains info that might have a better home in the documentation"
### Describe what needs to be documented.
Near the top of `build_visit` are instructions for adding a new module, along with information about how the functions modules implement are run. I found this purely by accident while I was trying to add a module. It was severely outdated so I have updated the instructions as part of #17653; however, I am wondering if this information should live somewhere

[2022-05-13 06:32] Ron-Wang commented on #17654
Thanks a lot!
My version is Windows 10 pro (21H2).
When I open "VisIt 3.2.2", it loads about 80% and close. None of VisIt's components starts (gui, viewer).
I try running the 'VisIt with debug logging' icon from the Start Menu, but it has the same problem and I can't find any log files.
I try uninstalling and re-installing VisIt in different versions, but it is useless.

[2022-05-16 19:12] #17524 closed, assigned to JustinPrivitera

[2022-05-16 19:58] biagas commented on #17654
Have you tried looking at the log files for Windows firewall (or any anti-virus programs you have) to see if VisIt's components have been blocked or quarantined? gui.exe, viewer.exe, mdsever.exe,

I don't have access at the moment to that particular version of Windows for testing.

A long while ago, we used to have problems with VisIt hanging at startup.  We were able to work around it by installi

[2022-05-17 19:08] #17545 closed, assigned to JustinPrivitera

[2022-05-17 19:08] #17619 closed, assigned to JustinPrivitera

[2022-05-17 19:47] kwryankrattiger opened #17663 "Visit does not configure without python"
### Describe the bug

Building visit without python support does not configure. There may be an issue in the spack recipe for turning off python, but as it is now it does not work.

### To Reproduce

This error was discovered when building visit in spack. All of the 3.x.x versions seem to have this error, the versions prior to that were not tested.

[code]

Expanding the build log, this is the cma

[2022-05-17 20:42] kwryankrattiger commented on #17663
There also seems to be another issue related to this in `PluginVsInstallHelpers.cmake` where `get_filename_component(py_inc_base ${PYTHON_INCLUDE_DIR} NAME)` is called. When python is turned off, this fails due to `${PYTHON_INCLUDE_DIR}` being an empty variable.

These are the only places I ran into missing checks for python, but it may be worth while going through step by step to find other possi

[2022-05-17 22:38] biagas commented on #17640
@Zhonglu are you still gathering information to finish filling in this ticket? do you have steps to reproduce?

[2022-05-17 22:39] brugger1 commented on #17657
We should add a new top level topic in the developers manual for this. It should reference some of the material in `build_visit` to avoid a lot of duplication. Another option is to move the comments from `build_visit` to the docs.

[2022-05-17 22:40] markcmiller86 commented on #17657
It might be nice to add a `bv_xxx.sh` template file (just shell function stubs with preamble docs) to facilitate new `bv_<whatever>.sh` development.

[2022-05-17 22:44] biagas commented on #17657
There's a script that is supposed to do that: construct_build_visit_module.sh
It may be out of date.

[2022-05-17 23:08] cyrush commented on #17663
Thanks @kwryankrattiger  I'll look into this.

The first one puzzles me a bit:

When we provide:
[code]

That keeps us from setting up python:
https://github.com/visit-dav/visit/blob/65d69d0b9f3121d86498cfa6f7d5d1e2ed5e286a/src/CMakeLists.txt#L1203

But, we should be ok, based on this guard:

https://github.com/visit-dav/visit/blob/65d69d0b9f3121d86498cfa6f7d5d1e2ed5e286a/src/test/CMakeLists.txt#L

[2022-05-18 00:27] cyrush commented on #17663
Ok, yes first case is solved in our develop branch and will be resolved in 3.3:
https://github.com/visit-dav/visit/pull/4665

I will resolve the second case.

[2022-05-18 16:46] griffin28 opened #17667 "Broken links for Example and Test Data Page"
There are a couple of broken links on the [example and test data ](https://visit-dav.github.io/visit-website/data/) page. The **ESRI Shapefile** and **DEM** data set links produce page errors.

[2022-05-18 16:59] markcmiller86 commented on #17667
Yeah, those links continue to break...the data resources the ref continue to get moved. I think we should delete that page entirely probably because of this.

You can find some curated datasets here, https://visit-dav.github.io/largedata/datarchives.html

But, we need to expand and probably taxonomize that (or some facsimile) to include our whole test suite data, minimally, plus any others we can

[2022-05-19 20:06] biagas commented on #17578
Duplicate of #2293.

[2022-05-19 23:20] #17663 closed, assigned to cyrush

[2022-05-20 15:08] #5505 closed, assigned to brugger1

[2022-05-20 22:43] NishkaS opened #17672 "VisIt 3.2.1 installation issue"
I am facing issue while running VisIt 3.2.1 on my local computer. It is giving me error saying, "./visit: 120: [[: not found
./visit: 179: exec: python: not found". When I switch to 3.2.2 version, it is running fine, but I have to install version 3.2.1 as on Compute Canada cedar cluster only 3.2.1 version is available so, to add cedar as a remote host on my local computer, I need to have 3.2.1 ver

[2022-05-21 01:30] #17301 closed, assigned to brugger1

[2022-05-21 01:39] brugger1 commented on #17672
VisIt 3.2.1 was looking for `python`. On newer operating systems, `python` no longer exists and has been replaced with either `python2` or `python3`. In 3.2.2 we enhanced our startup script to handle the lack of a `python`.

I see a couple of solutions to your problem.
1) You can create an alias for `python`. In particular,
[code]
or
[code]
depending on if you have `python2` or `python3` installed

[2022-05-23 03:52] Zhonglu commented on #17640
Hi. Sorry that I should have followed up. I eventually gave up on the tecplot but tried to directly use the visit to draw my figures. Yet hopefully this log could be useful for future users.

With kind regards,

Zhonglu

[2022-05-23 18:28] biagas commented on #17654
Unfortunately it seems I am unable to update my personal Windows 10 pro 21H1 to 21H2, so I am unable to test running VisIt on the same OS version as you are trying. It worked fine on 21H1.

[2022-05-23 21:36] JustinPrivitera opened #17675 "Tests in blueprint.py are order-dependent"
### Describe the bug
If you comment out some of the blueprint tests, or change the order in which they are run, you may cause otherwise unrelated tests to fail. I believe this is caused because several tests set the camera orientation, but do not reset it. I will investigate further.

[2022-05-23 21:43] cyrush commented on #17675
We should move to always reset at the start of each test and we may have to update baselines due to this.

[2022-05-23 22:01] brugger1 commented on #17369
I'm closing this because this is a bad dataset. I originally thought, that since it is a point mesh, we can potentially side step this issue, since you can't material select points. On further reflection, I think it could potentially make sense to material select points. It might not make sense to split a point, but if you had material specific values, you could select out the material specific va

[2022-05-23 22:01] #17369 closed, assigned to brugger1

[2022-05-24 17:43] #17194 closed, assigned to brugger1

[2022-05-24 20:41] brugger1 commented on #17045
I looked at the directory where the test suite is run on quartz and I couldn't find any evidence of the errors encountered on Windows when running the test suite with `-n 2`. For example, the `_run` directory appeared to be cleaned up. @biagas can you see if you see any evidence of what you were seeing on Windows on quartz? The directory is `/usr/workspace/wsa/visit/test_trunk/visit/src/test`.

[2022-05-24 21:00] biagas commented on #17045
I say this is resolved. If the problems with _run dir every crop up again I will enter a new ticket.

[2022-05-24 21:49] JustinPrivitera commented on #17675
I wonder if this note from the documentation is related...
_If you want to restrict the amount of parallelism used in running the test suite you can do so with the -n command line option. By default, the test suite will be run using all the cores on your system. We have found that on some systems, running more than one test at a time may result in failures. To work around this issue you can run on

[2022-05-24 22:57] brugger1 commented on #17045
Closing this now since the regression test runs with 2 processes on quartz without any of the errors observed on Windows.

[2022-05-24 22:57] #17045 closed, assigned to brugger1

[2022-05-24 23:29] #17640 closed, assigned to nobody

[2022-05-24 23:35] #17672 closed, assigned to nobody

[2022-05-25 02:44] markcmiller86 commented on #17667
@griffin28 I've made an attempt to *improve* the broken links. The new links work but won't take you to *exactly* the datasets used to produce the images they are associated with.

Companies hosting the data have changed what datasets they host over time. Its concievable 2000 data is too old to be of interest to host now.

[2022-05-25 02:44] #17667 closed, assigned to nobody

[2022-05-25 16:27] griffin28 commented on #17667
Thanks @markcmiller86 !

[2022-05-25 21:01] biagas opened #17683 "Color Tables section 3.12.4.1 needs rework: ColorControlPointsList vs ColorAttributeList"
### Describe what needs to be documented.

Section [3.12.4.1](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/python_scripting/quickrecipes.html?highlight=MultiCurve#contour-multicurve-and-well-bore-plots) uses Contour plot's `SetMultiColor` method as an example of modifying `ColorControlPointsList`, when in fact the calls to `SetMultiColor` do not modify the `defaultPalette` as

[2022-05-25 21:44] biagas commented on #2926
Doesn't seem to be a problem in 3.2.x, at least as described.

But if you change the number of contour levels during command recording, executing what gets logged leads to a crash of the cli, due to an indexing error in the calls to SetMultiColor.

[2022-05-25 22:44] #3135 closed, assigned to cyrush, JustinPrivitera

[2022-05-26 16:21] cyrush commented on #17459
resolved in #17646

[2022-05-26 16:21] #17459 closed, assigned to cyrush

[2022-05-26 16:34] cyrush opened #17686 "refactor mfem and blueprint support into avtMFEM and avtBlueprint libs"
### Is your feature request related to a problem?

Refactor logic that exists in these DB plugins for general use.

[2022-05-26 19:01] #17397 closed, assigned to biagas

[2022-05-26 19:47] brugger1 commented on #16963
The problem is that the shiboken2 library `libshiboken2.cpython-37m-x86_64-linux-gnu.so.5.14.2.2.so` is installed in the lib directory of the installation, but the libraries `libshiboken2.cpython-37m-x86_64-linux-gnu.so` and `libshiboken2.cpython-37m-x86_64-linux-gnu.so.5.14` are not. The one ending in `5.14` is needed. If I add it as a link in to the `5.14.2.2` library, the error message goes awa

[2022-05-26 20:08] biagas commented on #16963
From looking at shiboken's .cmake files in the installation, I think this will work:

To FindPySide.cmake, add this:

``get_target_property(SHIBOKEN_LIBRARY_SO Shiboken2::libshiboken IMPORTED_SONAME_RELEASE)``

just after this:

``get_target_property(SHIBOKEN_LIBRARY Shiboken2::libshiboken IMPORTED_LOCATION_RELEASE)``

then can add ${SHIBOKEN_LIBRARY_SO} to the list of libs sent to SET_UP_THIRD_PA

[2022-05-26 23:14] brugger1 commented on #16963
@biagas That fixed it. Thanks a lot!!

[2022-05-26 23:23] biagas commented on #13242
Resolved via #17664.

[2022-05-26 23:23] #13242 closed, assigned to biagas

[2022-05-27 02:35] #3771 closed, assigned to biagas

[2022-05-27 17:45] JustinPrivitera commented on #17516
Closing this ticket because I am unable to reproduce the bug on develop on quartz.

[2022-05-27 17:45] #17516 closed, assigned to JustinPrivitera

[2022-05-27 17:55] #16963 closed, assigned to brugger1

[2022-05-27 20:21] #3533 closed, assigned to JustinPrivitera

[2022-05-31 17:48] JustinPrivitera opened #17696 "Order dependence of DrawPlots() and setting the view"
### Describe the bug
In my work on #17694, I noticed that I was getting different output images depending on the order in which I call `DrawPlots()` and set the view attributes. Correct me if I'm wrong, but it seems to me that these two functions ought to be independent of one another. I would guess that you could set the camera however you like and then draw, or the opposite, and get the same res

[2022-05-31 18:42] biagas opened #17697 "Strangeness with defaultPalette for Contour plot"
### Describe the bug
The `defaultPalette` is a ColorControlPointList. It's initial values are set from the Default Discrete color table in ContourViewerEnginePluginInfo::InitializeDefaultPalette.

The defaultPalette is used to initialize the `multiColor` object (a ColorAttributeList).  The values in the `multiColor` are used to color the contours.

You cannot control the `defaultPalette` directly

[2022-06-01 19:32] markcmiller86 opened #17699 "GitHub Action to purge old dashboard results."
### Is your feature request related to a problem?
If the [Git repo backing up our test dashboard](https://github.com/visit-dav/dashboard) gets [too big (e.g. >1GB)](https://docs.github.com/en/pages/getting-started-with-github-pages/about-github-pages#usage-limits), the web page will stop regenerating. You can see this when its happening by looking at the repo's [`Actions`](https://github.com/visit

[2022-06-01 19:33] markcmiller86 commented on #17699
A Failing build due to size looks something like this...

![image](https://user-images.githubusercontent.com/5720676/171487023-c4767d57-7c15-4155-9539-fd44009f417f.png)

[2022-06-01 20:57] brugger1 opened #17701 "spack fails building VisIt without the gui."
Cecilia reported being unable to build VisIt with spack with the gui disabled.

Here are her comments.

I have downloaded spack version v0.18.0 and it has visit 3.2.1 (I had been successfully installing visit 3.2.1 using the public spack version before).  However, now I am getting concretization errors trying to install with

   [visit@3.2.1~gui~mpi](mailto:visit@3.2.1~gui~mpi) [^python@3.7.12](ma

[2022-06-01 21:01] brugger1 commented on #17701
Cecilia reported that the version she tried 2 months ago built without the gui. This means something outside of the VisIt module changed since its been over 2 months since we modified the module.

[2022-06-01 23:04] cyrush opened #17702 "Question about code gened include dirs for DB Plugins"
xml2cmake creates include dirs that are directly coded into the CMakeLists.txt it generates.

Here is an example:
[code]

There are some variations (more entries for operators) but they are basically hard coded in the xml tools.

Could these just be cmake vars that we setup in one place and we re-use in our plugins?

[2022-06-01 23:06] cyrush commented on #17702
for context, here is code that does the code gen:

https://github.com/visit-dav/visit/blob/b684a0ffc2d7eb63a2bce2a6a2e0d2d8fcf36d8f/src/tools/dev/xml/GenerateCMake.h#L997

[2022-06-01 23:08] biagas commented on #17702
So, something along the lines of  VISIT_PLUGIN_INCLUDES that lists everything common to all plugin types ?
Then the generator code would just anything specific to a particular plugin type?
Makes sense if so, easy to implement as well.

[2022-06-01 23:10] cyrush commented on #17702
yes, exactly!

[2022-06-01 23:10] cyrush commented on #17702
we could even have  `VISIT_PLUGIN_INCLUDES` and then  `VISIT_OPERATOR_PLUGIN_INCLUDES` if we need something more specific.

[2022-06-02 15:51] biagas commented on #17696
Test suite on Windows started having failures with multiple tests. All view related.
ffp.py is one, and as it is short, I decided to start there to figure out the issue.  The view is set from View3DAttributes before `DrawPlots` is called. This used to work for this test.  I can move `DrawPlots` so that it is called before the View is set, but something else works , and I think is the better way to

[2022-06-02 17:53] markcmiller86 opened #17708 "IndexSelect and maybe various other oddball issues with 2D structured grids as 3D surfaces"
### Describe the bug
With #17704, we have ability to handle 2D structured grids as *surfaces* in 3 dimensions. But, in so doing, I am not sure our pipelines have seen this kind of object very often and would not be surprised if we don't handle it quite right in a variety of places. One I know if is **IndexSelect**. If you look at the (currently incorrect) baseline for `test/baseline/databases/silo

[2022-06-02 18:58] markcmiller86 commented on #17708
This may be the result of having arbitrarily selected the 2nd of the three dimensions of the Quadmesh in Silo (e.g. the `y` dimension) as the size `1` dimension. If I choose a mesh dimensionaly of `[nx][ny][1]` instead of `[nx][1][nz]`, I think **Index Select** works fine.

It just isn't obvious to me if we *restrict* our support to *only* `[nx][ny][1]` type meshes that we wind up *preventing* cer

[2022-06-02 22:06] nDimensionalSpace opened #17710 "Issues loading visit.so as a python package"
### Describe the bug
When making the call to visit.Launch(), I get the message

ERROR: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required by /usr/gapps/visit/3.3.0/linux-x86_64/lib/libvisitcommon.so)

**Helpful additional information**
 - Did VisIt crash: No
 - Did you get wrong results: I would have to say "yes" at this point.

### To Reproduce
Steps to reproduce the behavior:

P

[2022-06-02 22:19] cyrush commented on #17710
@nDimensionalSpace VisIt is built/linked against a newer version of GCC than system python.

Here is a trick you can use in your python script to resolve this:

[code]

(near the top of your script, before you load visit or other modules)

[2022-06-02 22:22] nDimensionalSpace commented on #17710
Ok, now getting another error:

ERROR: libpython3.7m.so.1.0: cannot open shared object file: No such file or directory

[2022-06-02 22:32] cyrush commented on #17710
Ah, I see toss4 on rzgenie.

So, this is a little scary now b/c on toss4 we are mixing system python 3.8 (built with gcc 4.9.3) with VisIt that is using python 3.7 (built with gcc 6.something)

Putting all these shared libs in the oven, crossing our fingers, and hoping we end up with cake :-)

Worries aside, this seemed to get VisIt to launch:

[code]

[2022-06-02 22:40] nDimensionalSpace commented on #17710
Wait did I put 4??  No, it's toss_3 . . .  I just generally use python 3.8, as its required for something else I do.

Yeah, that is not working either . . .  If I do this:

LD_LIBRARY_PATH=/usr/gapps/visit/3.3.0/linux-x86_64/lib/ python scriptname.py

I am back to the "Is VisIt in your shell's path?" bit.  If I do this:

PATH=/usr/gapps/visit/bin:$PATH LD_LIBRARY_PATH=/usr/gapps/visit/3.3.0/linux-

[2022-06-02 23:56] #998 closed, assigned to biagas

[2022-06-02 23:56] #2926 closed, assigned to biagas

[2022-06-02 23:56] #17655 closed, assigned to biagas

[2022-06-03 01:10] biagas commented on #17696
Must have been sunspots. Or just something weird with my Windows machine. Those tests that failed with view problems are no longer failing after I rebooted the system. Apologies for the noise.

[2022-06-03 15:04] nDimensionalSpace commented on #17710
After thinking about this overnight, I was wondering if an easier path would be for someone on the visit team to just upload an example here that would work on rzgenie, i.e., that starts up properly, but is otherwise super simple (like, there is enough examples of database/plot manipulation around).  And by "example", I mean of a script that is launched in standalone mode.

Hmmm . . .  Even that l

[2022-06-03 17:22] nDimensionalSpace opened #17712 "Several node pick commands not working"
### Describe the bug
When using "-cli", none of the node picking worked.  In particular, NodePick((x,y,z)) results in the message:

VisIt: Warning - Chosen pick did not intersect surface,

and PickByGlobalNode(n) results in

VisIt: Warning - Pick could not retrieve the requested information, possibly due to a bad expression in its variables list. Please check the requested variables list and try a

[2022-06-03 17:49] nDimensionalSpace commented on #17712
Ugh . . .  User error.

[2022-06-03 17:49] #17712 closed, assigned to nobody

[2022-06-03 17:51] cyrush commented on #17710
I was confused about toss4 vs toss3 sorry.

If `visit -cli -s`  can work, that's the best path. Avoids mixing pythons and different std libs.

But the issue is that VisIt's python won't have all of the same packages installed as the system python.
If you were using system python 3.8 for one of those packages you might hit another issue.

Here is an example that works for me on rzgenie:

[code]

La

[2022-06-03 17:55] nDimensionalSpace commented on #17710
Ok, that's fine.  I don't need any exotic python packages, so using "-s" should mostly be ok . . .  I did want to be able to pass in command line options, like "scriptname.py --blah=1 --blep=2", or whatever.  Is is possible to do this with "-s"?

[2022-06-03 18:36] biagas opened #17713 "Many color tables not useable with -noconfig"
### Describe the bug
I came across this trying to use the 'Accent' color table in a test script, via `GetColorTable('Accent')`
It caused an exception:
`visit.VisItException: The argument must be a color table name.`

`GetColorTable('Accent')` works from the CLI.

I also tried using it with a Pseudocolor plot:

[code]

Error:
[code]

This is due to -noconfig not loading the color tables.

**Helpful

[2022-06-03 20:24] biagas commented on #17713
@JustinPrivitera pointed out our docs regarding '-noconfig' not loading users' color tables (in ~/.visit).
Turns out -noconfig prevents even the loading of the color tables in resources/colortables .
The test suite is run with -noconfig.

[2022-06-03 21:27] #5968 closed, assigned to markcmiller86

[2022-06-03 21:46] biagas commented on #17713
ViewerStateManager::ProcessSettings() calls avtColorTables::Instance()->ImportColorTables  only if 'noconfig' is not set.

avtColorTables::ImportColorTables is responsible for importing both visit internal tables stored in resources/colortables and for user's color tables stored in ~/.visit (or equivalent).

If it is decided that the tables stored in resources/colortables should be imported regard

[2022-06-03 23:04] nDimensionalSpace commented on #17710
Well, crap . . .  The answer appears to be "yes", by the most obvious (but not at all intuitive) means possible, i.e.,

visit -s scriptname.py --script-opt1=a --script-opt2=b ...

I am guessing this is not an accident; let me know otherwise.

[2022-06-03 23:09] #17675 closed, assigned to JustinPrivitera

[2022-06-03 23:24] cyrush opened #17717 "improve cli query error message or support numpy inputs"
### Describe the bug

User passed a numpy array as an input to `Query` and received a cryptic error message about not being able to parse arguments.  (Also, it didn't mention which if several argument was the issue)

### To Reproduce
Steps to reproduce the behavior. For example:

Pass a numpy array to Query.

### Expected behavior
Better error message (which arg is a problem) or maybe just accept

[2022-06-04 01:48] #17683 closed, assigned to biagas

[2022-06-06 00:49] nataraj2 opened #17718 "Error Opening Visit 2.13.1"
Hi,

I am on a Mac OS Sierra 10.12.5. I have VisIt 2.13.1. It used to work earlier. But now it crashes on opening with the error
[code]

Any ideas why this might be happening? VisIt version 2.13.0 is working fine, though.

[2022-06-06 16:39] nDimensionalSpace opened #17720 "Quieting of "VisIt: Warning - Pick could not retrieve the requested information ...""
### Is your feature request related to a problem?
We run problems where certain portions of the mesh come into/go out of existence at various times.  When I do my node picking operation and a node doesn't exist, I get the screen output:

VisIt: Warning - Pick could not retrieve the requested information, possibly due to a bad expression in its variables list. Please check the requested variables l

[2022-06-06 16:43] cyrush commented on #17710
Yes, you can use `Argv()` or `sys.argv` to get args passed after `-s`, here is an example to show the difference

`visit -nowin -cli -s myscript.py myarg1 myarg2 `

[code]

[2022-06-07 16:55] biagas commented on #17720
I have the data and am taking a look to see if this is feasible for 3.3

[2022-06-07 18:17] biagas opened #17723 "VisIt won't compile without Conduit."
### Describe the bug
I tried compiling VisIt (develop) without conduit (no VISIT_CONDUIT_DIR in the config-site file).
The compilation failed at avtXRayImageQuery, because it tried to include <conduit.hpp>.

Turns out FindConduit.cmake sets HAVE_CONDUIT to TRUE regardless of whether conduit was found or requested

### To Reproduce
Modify the config-site file for the system where you are building d

[2022-06-07 18:40] cyrush commented on #17723
yikes, we need to fix FindConduit.cmake

[2022-06-07 18:44] cyrush commented on #17723
https://github.com/visit-dav/visit/blob/384b3e4fa059b5996c73a86ed8867da0b61efc7e/src/CMake/FindConduit.cmake#L48

we need to guard this my bad.

[2022-06-07 20:17] JustinPrivitera commented on #17638
## Notes and discussion for visit meeting:
### Features:
- show tabs
- tags and how they work
- autoselected Standard for first time
- what the tag box does
- how tags affect the color table selection button
- what happens when there are no color tables matching the filter
- tag combination toggle
- where tags live
- what happens when you have no tags
- what happens when you make a new color table

[2022-06-07 20:47] #72 closed, assigned to cyrush

[2022-06-07 22:21] biagas commented on #17720
VisIt has a 'SuppressMessages' method that will turn off **all** messages, not just those coming from pick. It accepts an integer argument: 1 to turn on message suppression, 0 to turn off message suppression.  You could turn it on  before your pick and off  after so that you will still receive any messages from other functions.

Is this sufficient for your needs, or would you prefer a Pick-specifi

[2022-06-07 23:00] brugger1 opened #17725 "Rename `mxterm` host profiles `sxterm`."
`mxterm` is being replaced with `sxterm` in toss4. We should replace that term in all our host profiles.

[2022-06-08 02:53] markcmiller86 commented on #17699
@brugger1 I've been thinking about this a bit more and have some other thoughts.

- The basic problem is that a gh-pages site starts with a `git clone` operation (I am pretty sure it clones the whole repository).
- LFS'ing the images might work ok. It would certainly make the clone happen faster. We can use githubs raw-content URLs to actual images in the site pages. That would probably work but i

[2022-06-08 15:14] nDimensionalSpace commented on #17720
@biagas: Thanks for the response.  Actually, while still seeming a little blunt, the combination of SuppressMessages and GetPickOutput should do the trick for me.  Thanks!

[2022-06-08 15:14] #17720 closed, assigned to biagas

[2022-06-08 16:54] #17725 closed, assigned to brugger1

[2022-06-08 18:48] cyrush opened #17727 "importing h5py in a python script can undermine subprocess.call launches of visit"
### Describe the bug

When trying to use a system python to launch VisIt, along with some complex setup logic that leverages h5py, `srun`ing the engine will hang (no output, no debug logs).

Using `sbatch/srun` solves the issue b/c the env is decoupled.

Also clearing the env passed to the `subprocess.call`, or even passing the current env vars explicitly to `subprocess.call` resolves the issue.

[2022-06-08 19:14] markcmiller86 commented on #17699
@brugger1 here is an example of an *html*-only dashboard that uses GitHub's raw user content URL linking to link to images in another repo.

* repository: https://github.com/visit-dav/dashboard-lite
* published site: https://visit-dav.github.io/dashboard-lite/databases_silo

I used just one example, `silo.py` and patched links for just the first couple of failed results. But, I think its enough to

[2022-06-08 20:33] biagas opened #17728 "CLI Convenience method to get a list of available variables"
### Is your feature request related to a problem?
It can be helpful to know before you call AddPlot if the variable you want to plot is currently available.
Checking the return from AddPlot will let you know if it was successful, but it would be better to not pay that cost, perhaps.

I'm thinking of complex scripts where variables to be plotted may be user inputs.
Here's a quick recipe to get Scal

[2022-06-08 23:30] volkoffshoem1 opened #17729 "interface_penetration_out keyword data not output in visit mili properly for dyna3d/Issue with penXs visualization"
### Describe the bug
"interface_penetration_out” keyword set in dyna lets you visualize gap distances for a given contact definition​, When used with griz, the proper data is displayed, but when viewed in visit the data is not correct.

Input decks and additional information can be provided on OCF

[2022-06-09 19:49] brugger1 opened #17732 "Fixed point of zoom in VisIt."
Here is a feature request from Matt O'Brien.

Hi Eric,
When I use the mouse wheel to scroll up or down to zoom in, it seems like visit is using the center of the image as the fixed point of the zoom.  I have found that if you use the mouse position as the fixed point of the zoom, it is a much more natural user interface, it so you can zoom in on the feature under the mouse.  That is what google ma

[2022-06-09 19:52] brugger1 opened #17733 "Update mili library to latest version."
Kevin Durrenberger told me that a new version of the mili library was released on GitHub a few weeks ago and that we should upgrade VisIt to use it. I fixes some bugs in the library.

[2022-06-09 19:54] brugger1 opened #17734 "The contributing host profiles section in the documentation doesn't mention updating visit-install."
The "Contributing Host Profiles" section of the VisIt User's Manual doesn't mention that the `visit-install` script needs to be updated when adding a new site. Here is a link to the section.

https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/dev_manual/ContributingHostProfiles.html

[2022-06-09 20:04] biagas commented on #17734
Could visit-install be modified to populate the list of host configs from src/resources/hosts/networks.dat ?
The windows installer does this.  Might be more work than it's worth to avoid the maintenance headache of having yet another file to modify.

[2022-06-09 20:20] markcmiller86 commented on #17733
Found it [here](https://github.com/durrenberger1/Mili)

@brugger1 seems like a 3.3 thing...what do you think? If so, I can try.

[2022-06-09 20:36] brugger1 commented on #17733
Yes, I think this should go in 3.3.

[2022-06-09 20:42] brugger1 commented on #17734
Yes, I had thought about that as well. The code update is pretty kludgy and involves manually renumbering things when adding a new site in the middle of the list. The `networks.dat` file is pretty simple, so parsing it shouldn't be too hard, but nothing is easy in Bourne shell. :(

[2022-06-09 20:47] biagas commented on #17734
visit-install would have to be a generated file, from some template, adding the parsing of networks.dat. Otherwise it wouldn't be useable as a stand-alone program as it would need access to our source tree in some fashion.  Another hurdle.

[2022-06-10 00:13] cyrush opened #17735 "bov file with relative subdir in the path creates havoc"
### Describe the bug

BOV Issues:

Errors opening stem files are very hard to understand.
Relative paths in stem vs header file are unclear.

[2022-06-10 01:29] biagas commented on #17276
@povolny1, any progress on this front in terms of solidifying the hierarchical structure GEOSX will be using for .vtm files?

I've pulled something together which I believe addresses most of the issues raised.  I hacked the previously provided sample data to match the proposed hierarchy for testing, but 'real' data would be better.

Trying to get this in for our 3.3 release. It may be disabled by

[2022-06-10 23:36] #17406 closed, assigned to brugger1

[2022-06-11 02:48] #17733 closed, assigned to brugger1

[2022-06-13 02:04] JustinPrivitera commented on #17638
### Queued or in-progress
#### Tag Changes
- [x] user color tables are automatically given the "UserDefined" tag
- [x] make `no-tags` tag for color tables that show up without any tags
- [x] cut all the lower case name tags
- [x] change `CvdFriendly` to `Color Blind Safe`
- [x] cut the # Color control points tags
- [x] Make `UserDefined` `User Defined`
- [x] Change `no-tags` to `No Tags`

#### Col

[2022-06-13 18:56] tharman-git opened #17751 "Resetting view keyframes"
### Describe the bug

Greetings,

VisIt binary 3.2.2, debian 9

How can I reset/delete all the view keyframes from the keyframe editor.  I've tried right-clicking on the small black squares on the view line, they disappear until the apply button is pressed and then they reappear.  I would edit the session file if I knew what xml tags to look for.

Attached is the session file.

Thanks,
Todd Harman

[2022-06-13 19:13] markcmiller86 commented on #17751
Ok, I was successful a couple of different ways. First, did you try how it was documented, [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/using_visit/Animation/Keyframing.html?highlight=keyframing#deleting-a-keyframe). I got that to work ok.

As a fallback, I also got it to work (klugey) by dragging the view keyframe indicator (hash mark) all the way back to key frame zer

[2022-06-13 19:13] #17751 closed, assigned to nobody

[2022-06-13 19:33] markcmiller86 opened #17753 "Support Silo's alternative node/zone numberings"
### Is your feature request related to a problem?

Silo has had a feature for quite a while for data producers to add alternative (typically used for *global*) numbers to their meshes (nodes and/or zones) and zonelists (zones).

We apparently don't support these in the Silo plugin in VisIt.

[2022-06-13 22:29] brugger1 commented on #17584
@markcmiller86 I was looking at the visit package in the spack repo and I noticed that 24 days ago the release version of visit was updated to 3.2.2. The v0.18 release was done 16 days ago. Therefore, 3.2.2 is now in the public release and I believe that it's not possible to update a version in a patch release (v0.17.x) so this is probably resolved as good as it can be.

[2022-06-13 22:43] markcmiller86 commented on #17584
That is good news but I can't take credit. Another spack developer did all that. I just tried to test it to confirm it worked for the cases I was trying to get work before those changes. And, truth is I couldn't get it to work with picking a very specific set of compilers and other dependency versions whose particular incantation I didn't have handy. You can see that dialog [here](https://github.c

[2022-06-13 22:52] brugger1 commented on #17584
Ah, I see, you were wanting to confirm it works on our systems.

[2022-06-13 23:09] markcmiller86 opened #17755 "Odd export of Mili's OriginalZone/NodeLabels"
### Describe the bug
The Mili plugin defines some *label* variables internally, `OriginalZoneLabels` and `OriginalNodeLables`. They are defined as *label* variables with a large-ish number of components 7-15 depending on how many digits and letters are to appear in the various labels when plotted with **Label** plot. What its really producing is a specizliation of a `vtkCharArray` where the tuple

[2022-06-14 00:35] #5932 closed, assigned to brugger1

[2022-06-14 18:26] #5582 closed, assigned to brugger1

[2022-06-14 21:02] brugger1 opened #17759 "Change launch method from msub to sbatch in host profiles for LLNL toss systems."
The batch launching mechanism changed from msub to sbatch on LLNL toss systems. There is a wrapper script that maps the msub command to sbatch, but it outputs a hefty warning message. We should change all the affected host profiles.

[2022-06-14 21:46] brugger1 opened #17760 "Remove llvm from optional category in build_visit"
Currently, llvm is part of the optional category (`--optional`) in `build_visit`. No libraries in the optional category require llvm and llvm by itself isn't useful. The only packages that use llvm are mesagl and osmesa. This would require explicitly adding `--llvm` when using those options, but they are currently already having to either do so or use `--optional`. This would save some build time

[2022-06-14 22:35] cyrush commented on #17723
@cyrush make a new PR for just this change.

[2022-06-14 22:51] cyrush opened #17761 "Database Export dirname vs filename conflict in interface confuses users"
### Describe the bug

A user passed a path that included dirs to the filename option in ExportDatabase options (like: mypath/to/output)

They didn't touch the default dir name, which was `.` (There script wasn't setting it at all)

As the paths were combined in VisIt - this created a path that is impossible to write to.

This lead to lots of confusion.

We should discuss if we should have a separa

[2022-06-14 23:19] tharman-git opened #17762 "Information window stealing focus"
### Describe the bug
Greetings,

VisIt debian 9 binary, version 3.2.2.

When making a movie there were two frames that generate a warning in the information window, see below.  The warning is warranted however the information window steals the cursor focus until the movie is finished.  In this case there were 1440 frames so I was not able to use my machine until all frames were rendered or I hit c

[2022-06-15 00:23] biagas commented on #3350
@brugger1 may I have the data mentioned in this ticket?

[2022-06-15 00:29] biagas commented on #17762
Are you generating the movie from the gui? You can try turning off Warning popups, the toggle is found in the preferences window:
![Preferences Window1](https://user-images.githubusercontent.com/17075318/173711395-f3c4a931-2030-40c3-aaf2-ca8f4a99f8cb.png)

[2022-06-15 04:02] markcmiller86 commented on #17755
Ok, I've got permission to post the data here.

[files.tar.gz](https://github.com/visit-dav/visit/files/8905545/files.tar.gz)

* `visit_ex_db.silo` is the original export from VisIt for some Mili data
* `patchMiliLabels.py` is a python script using Silo's python module that reads the funky label data (as vector of chars) and creates new ucd vars in the file, one for *shell* element ids and one for

[2022-06-15 19:40] #17735 closed, assigned to cyrush

[2022-06-15 19:41] #17723 closed, assigned to cyrush

[2022-06-15 19:48] brugger1 commented on #3350
@biagas I gave you a tar file on the RZ that appears to be it. It couldn't find a cc_test.tar file, but this directory has "moss" in the name and the date corresponds to the date of the ticket. It looks like it is a time series and it appears to have some crack data in it.

[2022-06-15 20:59] biagas commented on #3350
Thanks for the data. When I try to apply CracksClipper operator, I get very strange results (cycle 20 is where it first appears). So I cannot tell if the data is bad or there is a bug in the operator.

[2022-06-15 21:35] #17702 closed, assigned to biagas

[2022-06-15 22:11] brugger1 opened #17765 "Error in "The VTK file format" section of the "Getting Data into VisIt" chapter."
The section titled "An example of a VTK file with extra metadata" has the file fragments incorrect. I assume the line numbers with the extracts of the file are wrong.

[2022-06-15 23:34] cyrush commented on #17381
@biagas -- Revisiting -- I can't quite understand the path forward.

Do we need to get https://github.com/visit-dav/visit/pull/17423 into 3.3? Or did another PR heal this?

[2022-06-16 00:12] biagas commented on #17381
@cyrush, the offending code was removed, and the cli no longer crashes, so I don't think anything needs to be done for 3.3.

However, the tests still fail on Windows, and the reason for the failure has yet to be discovered. #17423 may help, I can give it a try.

Here the first line of values in the expected results:
[code]
and the same results on windows:
[code]
Looks like standard windows garbage

[2022-06-16 00:34] biagas opened #17767 "flatten.py BoxSelection tests fail on Windows"
### Describe the bug
Here is the test function in flatten.py:
[code]

The second call to test_box is what fails.
You can change the order, and it will still be the second call that fails.
There seems to be some kind of remnants from the first call to test_box interfering with the second.

### Expected behavior
The test should succeed as it does on Linux.

### Desktop
 - OS and version: Windows 10

[2022-06-16 00:35] biagas commented on #17381
@cyrus, I added a new ticket describing the test suite problem on Windows (#17767)

[2022-06-16 19:49] markcmiller86 opened #17768 "Upgrade STL reader"
See [these notes in the summer intern project](https://github.com/visit-dav/summer-projects/issues/23)

This will likely be handled as part of summer intern project

[2022-06-16 20:03] markcmiller86 opened #17770 "Support XZ and ZFP compression in BOV plugin"
### Is your feature request related to a problem?
XZ compression is often 2-3x better than gzip...the BOV default. Files compressed by XZ can be distinguished from files compressed with gzip using magic header bytes. So, there is no need to consider BOV metadata changes to support XZ.

I believe same is possible with ZFP...that is its possible to read the first handful of bytes from a file and det

[2022-06-16 21:13] #3350 closed, assigned to biagas

[2022-06-16 21:29] brugger1 opened #17771 "Add info about visit_writer and binary byte ordering to VTK section of manuals."
We should add information about visit_writer to the VTK section of the Getting Data into VisIt chapter.

We should also add information about writing binary VTK files and that it assumes that the data is big endian, which requires byte swapping on Intel systems.

[2022-06-16 21:39] markcmiller86 commented on #17771
Is that true for *all* binary VTK files or just *legacy* binary VTK files? [this VTK ref](https://vtk.org/wp-content/uploads/2015/04/file-formats.pdf?#page=2) seems to suggests its only for *legacy* binary VTK.

[2022-06-17 20:17] #17759 closed, assigned to brugger1

[2022-06-17 21:08] biagas opened #17774 "Line tool appearing behind 2d plot during hot-point interactions"
### Describe the bug
When line tool is activated for a 2D plot, user interaction with the hotpoints to move the endpoints or entire line causes the line to be drawn behind the 2d plot. Once the hot-points aren't active, the line reappears in front of the plot.
The labels for the end-points hot points show in front of the plot, but not the hotpoints themselves or the lines.

Here's a snapshot. The

[2022-06-17 21:33] biagas opened #17775 "Line tool not initialized with Lineout endpoint values"
### Describe the bug
If a plot has lineout applied, and the 'Lineout operator' options has 'interactive' turned on for the generated lineout curve, then the line tool should be initialized with the current lineout endpoints when it is enabled. This is not the case.

If you enable the line tool, disable it, then enable it again, the line tool will finally have the same endpoints as the lineout.

##

[2022-06-17 21:49] biagas commented on #17775
This bug is actually documented in the [interactive mode](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/using_visit/Quantitative/Lineout.html#interactive-mode) section for Lineout.

[2022-06-17 22:45] #4673 closed, assigned to nobody

[2022-06-17 22:47] markcmiller86 commented on #17710
I believe the issues raised here have been addressed in #17777

[2022-06-17 22:47] #17710 closed, assigned to nobody

[2022-06-17 23:25] #17580 closed, assigned to markcmiller86

[2022-06-18 00:46] #17267 closed, assigned to JustinPrivitera

[2022-06-18 00:46] #17389 closed, assigned to cyrush, JustinPrivitera

[2022-06-18 00:47] JustinPrivitera commented on #17686
This won't be completed for 3.3

[2022-06-20 15:03] markcmiller86 commented on #17584
I believe this has been resolved as much as possible but more by @brugger1's efforts than mine.

[2022-06-20 15:03] #17584 closed, assigned to brugger1

[2022-06-20 16:06] brugger1 opened #17783 "Issues with building Mili in build_visit."
I noticed a couple of issues building Mili.

1) In build_visit, if the configure step fails, it continues on and installs everything except the library, which, of course, isn't present since the configure failed.
2) On jade, part of the configure process involves the creating a temporary directory in `/var/tmp/username`, which didn't exist for me. This caused the configure process to fail. I creat

[2022-06-20 16:56] brugger1 commented on #17760
I was wrong that no other libraries in the `--optional` category depend on `llvm`. It turns out that `pyside` is part of `--optional` and `pyside` is dependent on `llvm`. It seems like we have 2 choices, either remove `pyside` as well or leave `llvm` in. Thoughts?

[2022-06-20 16:59] biagas commented on #17760
If --optional is specified, then pyside is built, correct? Then  it seems --llvm needs to be part of --optional as well.

[2022-06-20 17:01] brugger1 commented on #17760
Yes, specifying `--optional` causes `pyside` to be built. I will close this ticket.

[2022-06-20 17:01] #17760 closed, assigned to nobody

[2022-06-20 17:06] #17765 closed, assigned to brugger1

[2022-06-20 17:06] #17771 closed, assigned to brugger1

[2022-06-20 17:57] biagas opened #17784 "Curve overlay template in save movie wizard only mentions 2d plots"
### Describe the bug
As shown by this screen shot, the Curve overlay template of the Save Movie wizard mentions 2D plots.  However, the template actually works with both 2D and 3D plots for the plot portion.

![savemovie_curveoverlaytemplate](https://user-images.githubusercontent.com/17075318/174656110-c24fcd20-a854-4715-9449-24f7ee72b2c9.png)

### Expected behavior
The wizard should state that it

[2022-06-20 19:44] #5822 closed, assigned to biagas

[2022-06-20 20:50] #5005 closed, assigned to nobody

[2022-06-20 20:50] #5006 closed, assigned to nobody

[2022-06-20 20:50] #5007 closed, assigned to nobody

[2022-06-20 20:50] #17503 closed, assigned to nobody

[2022-06-21 00:08] #17784 closed, assigned to biagas

[2022-06-21 17:24] JustinPrivitera opened #17788 "X Ray Image Query Missing Test Cases"
Two additional kinds of tests ought to be added to the X Ray Image Query:
### Testing output messages when sending results to an output directory
After the X Ray Image Query runs, it gives an output message saying where it put your files and what their names are. However, inside the test suite, this output message only appears when the output directory is set to the current directory. Why this hap

[2022-06-21 17:39] markcmiller86 opened #17789 "Do we have enough experience to remove this"
Happened to run across this comment while poking around...

https://github.com/visit-dav/visit/blob/69efc8f3433696ac56c4fe97f5ae416c5e48ee03/src/avt/Database/Database/avtSourceFromDatabase.C#L205-L219.

Turns out this was done 14 years ago.

Maybe we have enough experience to remove it now?

[2022-06-21 17:56] JustinPrivitera opened #17790 "X Ray Image Query Blueprint outputs do nothing if "family files" is enabled"
In the X Ray Image Query, Blueprint output uses an entirely different naming scheme than all of the other output types, due to conduit's built-in `save_mesh` function doing the heavy lifting for getting the X Ray Query data to an output file. Because of this, toggling "Family Files" is hardcoded to do nothing in the blueprint case, since the file names that are generated with this option break the

[2022-06-21 18:05] JustinPrivitera opened #17791 "X Ray Image Query continued iteration"
The X Ray Image Query requires continued iteration. I will work with @cyrush and Steve Langer on adding features that Steve and others need. These include but are not limited to:

## Features for 3.3.1:
- [x] simulation time (metadata)
- [x] total spatial extent in each direction (metadata) - using near plane projection - #18063
- [x] move have conduit guards for setting result message to be clean

[2022-06-21 18:15] JustinPrivitera opened #17792 "Restore X Ray Image Query Output Type setting as integer"
Prior to my changes to the X Ray Image Query in #17703, to specify what output type you wanted (in scripts or w/ the CLI), you had two options: 1) write the name of the file extension e.g. "png", and 2) giving the query an integer value representing one of the output types. I removed this latter option when overhauling how output types are handled internally. It should be added back and integrated

[2022-06-21 18:28] JustinPrivitera opened #17794 "Color Table Window Filtering Color Tables by Typing"
Another option for choosing a color table should be implemented: filtering by typing. Users should be able to type the name of the color table they want into the `Name` box, and ideally VisIt would autocomplete the name. This should be implemented in such a way that it does not interfere with the new tag system.

[2022-06-21 19:06] JustinPrivitera commented on #17792
I was mistaken. Despite documentation suggesting that you could set the output type with an integer as part of the query, this was not possible even before my changes. I will add this in as an option though.

[2022-06-21 20:59] #17792 closed, assigned to JustinPrivitera

[2022-06-21 21:20] JustinPrivitera opened #17797 "Color Table Button Should Link Back to Color Table Manager"
If users have made a filtering selection with the new color table tagging system added in #17721, the color table button should have a few things:
1) some way of informing them that the list of color tables they are seeing is narrowed down,
2) some way of guiding them back to the color table manager, (maybe a button or a note?), and
3) an option to view all color tables instead of the filtered lis

[2022-06-21 21:24] JustinPrivitera opened #17798 "Color Table Tag Export"
At the moment, if users want to add new tags to a given color table, they must open the associated `.ct` file and add the tags there. We should make it possible for tags to be edited and exported from the GUI (and the CLI? Can users make color tables on the CLI? - yes, but they probably can't export them. There is a quick-recipe in docs to make color tables on the CLI).

[2022-06-21 21:30] JustinPrivitera opened #17799 "Continuous and Discrete Color Table Buttons can select either kind"
At the moment, in the color table Default Color Table section, users can select a default continuous and a default discrete color table. However, both continuous and discrete color tables are able to be picked for either option (i.e. you can make a discrete color table the default continuous color table, and vice versa). Is this desired behavior?

If not, I propose adding either guards to prevent

[2022-06-21 21:37] JustinPrivitera opened #17800 "Color Table Favoriting in the Manager in the Color Table Window"
Users should be able to "favorite" color tables. These color tables would then get the `favorite` tag associated with them. Favorites could be saved with config/session files.

[2022-06-21 21:51] JustinPrivitera opened #17801 "Color Table Window Resizes much larger than it needs to"
Occasionally, when cycling through the list of color tables, the color table window will resize to accommodate many color control points in the editor. If you get really unlucky, the window will resize taller than the screen, and buttons at the bottom are no longer accessible. This happens because the editor resizes every time the selected color table changes and changes if it is continuous or dis

[2022-06-21 22:05] JustinPrivitera opened #17802 "Code Gen Tools Missing boolArray and boolVector Types"
Out xml code gen tools are missing two types that are available in the rest of the codebase. Specifically, `boolArray` and `boolVector`. Is there any particular reason that they don't make an appearance? Should they be added? I ran into this because I wanted to make a `boolVector` attribute and was unable to.

[2022-06-21 22:33] markcmiller86 commented on #5242
I am implementing what I described in [this comment](https://github.com/visit-dav/visit/issues/5242#issuecomment-1034452198)

[2022-06-21 22:43] #17741 closed, assigned to nobody

[2022-06-21 22:45] #17740 closed, assigned to nobody

[2022-06-21 22:46] #17739 closed, assigned to nobody

[2022-06-21 22:48] #17738 closed, assigned to nobody

[2022-06-21 22:59] brugger1 commented on #17713
We should have `-noconfig` only affect the reading of the configuration file. We can add separate options to turn off color tables or host profiles.

[2022-06-21 23:04] #17638 closed, assigned to JustinPrivitera

[2022-06-22 00:07] JustinPrivitera opened #17803 "Color Table Window Redesign: Fix loading of filtering selection so it does not require band-aids all over the code"
To make saving the color table tag filtering selection saveable and loadable in #17721, I had to jump through a number of hoops.
1) The color table observer includes a fail-safe in the `Update()` function that makes sure that the list of color tables and the list of toggles are the same size (it should be a 1 to 1 relationship). This fail-safe _should_ never have to be activated, but there is an i

[2022-06-22 00:19] JustinPrivitera commented on #17522
To clarify, this is _not_ unique to Blosc. At the time I opened the ticket, I was having lots of trouble building Blosc, so I used the message `build_visit` gave me for it as an example. However, I have run into this issue many times before and since, completely unrelated to Blosc. In general, when `build_visit` fails, it will point you (incorrectly) towards whatever directory it was currently exe

[2022-06-22 00:23] JustinPrivitera opened #17804 "Color Table Window "New" Button Rework"
The `New` button in the manager could use some love. At the moment, it is confusing to use at best, and buggy at worst. Thoughts:
- It should pop out into a new window, where users can enter name (and tags if they want), and any other settings.
- If you don't enter a new name, the New button will cause an error, which can be confusing
- The _change name_ -> `New` -> _make changes in the editor_ ->

[2022-06-22 00:33] JustinPrivitera opened #17805 "UpdateNames() in the color table window gui code is a big mess"
`UpdateNames()` could use a big refactor; redundant code could be combined, and there are many loops that probably do not need to be run every time the function is called.
1) The two loops handling which color tables should show up because of the current tag filtering selection could likely be combined in a creative way to reduce code bloat.
2) Running through every color table's tag list to see i

[2022-06-22 08:45] jfavre opened #17806 "Ubuntu 22 compatible download"
Currently, there are no pre-compiled versions for Ubuntu 22. The latest I have tried (Ubuntu 21) fails to run with the message:

visit3_2_2.linux-x86_64/3.2.2/linux-x86_64/bin/gui: error while loading shared libraries: libicui18n.so.67: cannot open shared object file: No such file or directory

Are you planning an Ubuntu 22 compatible version for the next release v3.3?
TIA

[2022-06-22 14:55] brugger1 commented on #17806
Hi Jean,

Yes, we will definitely include an Ubuntu 22 version in 3.3. It should get released sometime next week.

Eric

[2022-06-22 14:58] brugger1 commented on #17641
Resolved in #17748.

[2022-06-22 14:58] #17641 closed, assigned to cyrush

[2022-06-22 20:47] brugger1 commented on #17522
I just used the latest build_visit from develop and I had a failure and it still had the wrong path for the log file.

[2022-06-22 20:48] markcmiller86 commented on #17522
Ok, thats irritating! Thanks for letting me know.

Am debugging a problem I created testing new annotation macros.

[2022-06-22 22:16] #17501 closed, assigned to brugger1

[2022-06-23 19:58] #5242 closed, assigned to markcmiller86

[2022-06-25 04:29] #17522 closed, assigned to markcmiller86

[2022-06-25 17:44] brugger1 commented on #17806
Moved this to 3.3.1, but will get an Ubuntu22 version out as soon as possible. Building on Ubuntu22 is running into several errors in our third party libraries, so this is taking longer than expected.

[2022-06-28 23:31] #17742 closed, assigned to nobody

[2022-06-28 23:36] brugger1 commented on #17718
We don't really know what could be going wrong, that is a fairly old version. If 2.13.0 works for you, I suggest you continue to use it.

[2022-06-28 23:36] #17718 closed, assigned to nobody

[2022-06-28 23:42] brugger1 commented on #17734
Adding it to the documentation is the simpler thing to do, so let's go with that.

[2022-06-28 23:43] markcmiller86 commented on #17728
I might suggest that this function be expanded to support a mesh name (e.g. return variables for a given mesh) and a mask for type (e.g. return scalars and/or vectors and/or tensors)

[2022-06-28 23:47] markcmiller86 commented on #17755
@biagas suggests maybe upgrading to use `vtkStringArray` class. This would help a lot. It would at least make it a *scalar* variable instead of a *vector* variable. Would have to adjust how label plot deals with it.

[2022-06-28 23:49] markcmiller86 commented on #17755
Alternative might be to use 64 bit integer (`vtkIdType`) array with assigned ranges for different classes of elements (beams, hexes, quads, etc).

[2022-06-29 18:55] JustinPrivitera commented on #17729
Hi @volkoffshoem1, thank you for your ticket. Could you please provide input data, additional information, and steps to reproduce your issue? If you are providing this information on the OCF, please give to my username "justin", and let me know if you are providing the files on the cz or rz. Thanks!

[2022-06-29 22:54] brugger1 commented on #4329
We no longer build openssl since we don't have any packages that depend on it.

[2022-06-29 22:54] #4329 closed, assigned to brugger1, cyrush

[2022-06-30 00:27] brugger1 opened #17829 "Error with ADIOS2 plugin loading libblosc.so.1 on Ubuntu18 with VisIt 3.3.0."
I installed the Ubuntu18 version of VisIt 3.3.0 on my WSL2 system running Ubuntu 18.

When I run VisIt I get an error that it can't load the ADIOS2 plugin because it can't find `libblosc.so.1`. I suspect this may be an issue with all the Linux distributions, but I haven't actually checked.

This doesn't affect the running of VisIt unless the user wants to open an ADIOS2 file, but it looks bad.

He

[2022-06-30 00:47] markcmiller86 commented on #17829
Is `blosc` possibly available in a *standard* place on quartz that it isn't on the other systems?

[2022-06-30 00:47] markcmiller86 commented on #17829
Ah, wait, `ldd` would still show where its getting blosc from. Maybe we configured with that feature disabled there?

[2022-06-30 16:11] markcmiller86 commented on #17770
look at Facebook's [Z Standard](https://github.com/facebook/zstd) compression too.

Can probably detect compression based on filename extensions specified in bov header.

[2022-06-30 16:46] markcmiller86 opened #17831 "Replace familying files with standard "do you want to replace" this message"
We use a very old concept, originally introduced in MeshTV, to *family* files to a) avoid overriting existing files and b) save related outputs.

I wonder whether VisIt should behave more like all other apps and if you attempt to save to an existing file, you get a warning...do you want to replace this file.

@brugger1 suggested this could be problematic for batch operation.

[2022-06-30 16:55] markcmiller86 opened #17832 "Do we really need two flavors of color tables"
We have a notion of **Continuious** and **Discrete** color tables. Why? Whats the difference? We essentially allow either to be used for discrete and continuous data. So, what value is there in having this difference manifested in our GUI/CLI.

Why not just have color tables with...

- A number of color "Control Points"
- The list of control points
- Positions of those points (which are either fix

[2022-06-30 16:58] JustinPrivitera commented on #17788
### Visit fails silently in a script
With `-cli` and in the gui, I get exceptions as I expect. But in scripts, VisIt will fail silently, and I can't even try, catch the exceptions in python. Help!

[2022-06-30 17:02] JustinPrivitera commented on #17799
We decided that we should limit it, so users can only select continuous ct's for the default cont. button, and vice versa. This should be accomplished by making the buttons only show color tables of the correct type. `QvisNoDefaultColorTableButton` is ONLY used for the default discrete and default continuous ct buttons, so that's the path forward.

[2022-06-30 17:04] JustinPrivitera commented on #17797
This should be done in both ct buttons and no default ct buttons, although the approach in the latter will have to be different since they share a window with the manager.

[2022-06-30 17:06] JustinPrivitera commented on #17803
Fix the issues here as much as possible (race condition on start up?) and then think about how the gui could be modified in the future to be more sensible.

[2022-06-30 17:09] JustinPrivitera commented on #17832
Could there be a button or checkbox to toggle between making your color table continuous or discrete? So it would control that boolean you mentioned in the last bullet point up above?

[2022-06-30 20:42] brugger1 commented on #17829
I went ahead and rebuilt adios2 on quartz with the following command line.
[code]
Now when I do an `ldd` on the adios2 library I do see a blosc dependence. I will now try doing it again with `--parallel`` added to `build_visit`.

Here is the `ldd` output for the serial case for completeness.
[code]

[2022-06-30 20:47] brugger1 commented on #17829
I think `ldd` isn't giving the right information on the installed `libadios2_cxx11.so.2`.

I ran the public visit3.3.0 on quartz and opened a blosc adios2 file and it worked. I then renamed the `blosc` directory to `blosc-` in the thirdparty install directory and tried again. This time it failed. I think the installed version only works because it is finding blosc in the original location that it

[2022-06-30 20:49] markcmiller86 commented on #17829
Could blosc somehow have also been compiled for static (e.g. `libblosc.a`) and maybe quartz is finding only that when building adios? If so, that would mean blosc gets slurrped into libadios. Maybe do an `nm` on `libadios` and pipe into `grep -i blosc`

[2022-06-30 22:59] #17805 closed, assigned to JustinPrivitera

[2022-07-01 19:48] JustinPrivitera commented on #17788
Ok, I was able to get the test suite to create directory `/tmp/baddir`, but the silent failing issue is still a problem.

[2022-07-01 19:58] JustinPrivitera commented on #17788
Sunspots must have caused my first issue; they seem to mostly be working now?

[2022-07-05 15:19] biagas opened #17841 "Qt 5.14.2 needs patch to include cmath"
### Describe the bug
From [discussion 17171](https://github.com/visit-dav/visit/discussions/17171#discussioncomment-3069479).

From log files, at least qjp2handler.cpp needs to include `<cmath> for` successful compilation with gcc 12.1.0 on ArchLinux.

### Desktop
 - OS and version: ArchLinux
 - VisIt Version: 3.2.2
 - gcc 12.1.0

[2022-07-05 17:15] brugger1 opened #17843 "Have a few unnecessary archive library archives in our lib directory."
I was looking at our lib directory in a distribution and noticed that there were 4 archive libraries in the directory. I believe we only need to have shared libraries in there. Here is what I got from a distribution built on quartz.
[code]

[2022-07-05 18:13] filippov1 opened #17845 "Visit crashes"
I try to visualize results of simulations with rather complex geometry and start Visit with 288 cores. When I try to plot profiles of the solution, Visist crushes producing the following error messages.

Could you help to address this issue?
=========================================================================

/usr/gapps/visit/bin/visit
Running: gui3.1.4
Qt: Warning: failed to get the current

[2022-07-05 18:30] JustinPrivitera opened #17846 "Visit Queries fail silently in scripts"
### Describe the bug
If you run with the GUI or with `-cli` and do a query that causes an exception to be thrown, Visit will give you an error message. However, this does not occur when running queries in a script. If you encase your queries in try catch blocks, exceptions thrown by Visit will never be caught.

**Helpful additional information**
 - Did VisIt crash: no
 - Did you get wrong results:

[2022-07-05 19:10] brugger1 commented on #17829
I don't believe it is linking with the static library. When I renamed the thirdparty_shared directory so that none of the thirdparty libraries could be found in their original location, VisIt had the same issue on quartz.

[2022-07-05 19:12] brugger1 commented on #17829
Resolved in #17842, #17844.

[2022-07-05 19:12] #17829 closed, assigned to brugger1

[2022-07-05 19:20] brugger1 commented on #17845
We would need additional information to determine why VisIt is crashing in your situation. If you can rerun VisIt with `-debug 5` added to the command line, VisIt will produce some log files that  might provide information about why it crashed. They will all start with "A" and end in ".vlog". When running in parallel it will generate a lot of log files (5 per parallel process plus a few miscellane

[2022-07-05 19:53] JustinPrivitera commented on #17788
See #17846 for more information about _Testing catching conduit error when writing blueprint output_

[2022-07-05 22:41] alecampos2009 opened #17849 "Visit gives error when exporting database"
I have this simple script to create a slice and then export the data to curve files:
[code]

I run this script as
/usr/gapps/visit/current/linux-x86_64/bin/python name_of_script.py
but then get the following error message
[code]
I have no issues exporting the data manually through VisIt's GUI, but for some reason the script fails to do the same. I can share the data set I'm using for this if it is

[2022-07-05 22:50] brugger1 commented on #17843
We should check that we aren't using the static version before removing the archive library in case a plugin developer needed it. In the case of `blosc` we aren't. We should also look into only building the shared version instead of doing both.

[2022-07-06 00:05] markcmiller86 commented on #17849
@alecampos2009 my inquiry may be a bit off topic but was first curious why you are running single processor parallel? (e.g. why is `np` arg `1` in open compute engine?

[2022-07-06 03:54] brugger1 opened #17851 "Mili link error with gcc 10.2 on Debian 11."
I was building VisIt on Debian 11 with gcc 10.2 and I got multiple symbol definition errors. Here they are:
[code]

[2022-07-06 16:06] eliramnof opened #17852 "VisIT 3.2 crashes immediately upon opening on an M1 MacOS Monterey v12.4 with error message "gui quit unexpectedly""
Freshly installed VisIt 3.2 (https://github.com/visit-dav/visit/releases/download/v3.2.2/Visit-3.2.2.dmg) crashes immediately upon launch (see Problem Details and System Configuration below):

-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Process:               gui [3619]
Path:                  /Applications/VisIt.app/Contents/Re

[2022-07-06 16:10] eliramnof commented on #17852
A.gui.2.vlog

/Applications/VisIt.app/Contents/Resources/3.2.2/darwin-x86_64/bin/gui.app/Contents/MacOS/gui -debug 5
QvisApplication::QvisApplication: -font Helvetica,12,-1,5,50,0,0,0,0,0
Trying to load translator file: /Applications/VisIt.app/Contents/Resources/3.2.2/darwin-x86_64/resources/translationsvisit_en_US
Could not load translation.
GetAppearance: Default System Style is: Mac
GetAppearan

[2022-07-06 16:14] biagas commented on #17852
Could you please zip the log files and attach them that way instead?

[2022-07-06 16:44] eliramnof commented on #17852
fixed by deleting ./Library/Saved Application State/gov.llnl.visit.gui.savedState after uninstalling, restarting and doing a fresh install

[2022-07-06 16:45] #17852 closed, assigned to nobody

[2022-07-06 22:59] biagas commented on #17849
If you remove this:

and change this:

to:
`ExportDatabase(ExportDBAtts)`

does it work?

[2022-07-06 23:36] biagas commented on #17654
@Ron-Wang, I finally gained access to a Windows 11 system with OS Build version 21H2, and could not duplicate your issue.  It was running OS build 22000.613, no issues. I ran windows updated to 22000.729, still no issues running VisIt. Then installed another windows update that moved the OS build to 22000.778, still can not duplicate.

Are you still experiencing problems?

[2022-07-07 01:42] alecampos2009 commented on #17849
@markcmiller86 good point, not sure why I had that in there. I think at some point I was planning to run that in parallel.

[2022-07-07 01:43] alecampos2009 commented on #17849
@biagas Thanks for the info, that worked! I think this is good enough for my workflow, so feel free to mark this ticket as closed if you want.

[2022-07-07 01:50] #17849 closed, assigned to nobody

[2022-07-08 08:59] smao-astro commented on #17386
Hi,

I am an M1 Mac user, and I am looking forward to having a pre-built package. Any updates?

[2022-07-08 16:39] markcmiller86 commented on #4418
This came up in #17854 so I think we should discuss again.

[2022-07-08 16:47] markcmiller86 commented on #17386
Well, I just fired off a generic `build_visit` on my wife's M1 system. Lets see what happens 😉 and I'll report back.

[2022-07-08 17:30] markcmiller86 commented on #17386
Ok, we're failing pretty quickly in the build of `numpy`...

[code]
Its probably something small but I don't have time to investigate.

We'll consider uping the priority of M1 builds at our next project meeting.

Stay tuned.

[2022-07-08 18:14] brugger1 commented on #17806
@jfavre Can you try the 3.3.0 Ubuntu 18 version on your Ubuntu 22 system. The Ubuntu 18 version works for me in an Ubuntu 22 container.

[2022-07-08 21:13] filippov1 commented on #17845
Hi Eric,

Thank you for your reply!

I gave you a tar file of *.vlog outputs in quartz last Tueesday.

Would you like getting any other data?

[2022-07-09 14:39] suschizu opened #17857 "Missing code signature in macOS v 3.3.0?"
### Describe the bug
version 3.2.2 was signed with Lawrence Livermore National Laboratory (A827VH86QR)
but version 3.3.0 isn't signed at all

**Helpful additional information**
 - Did VisIt crash:
 No but you can't open it without correctly

### To Reproduce

code sign -dv --verbose=4 /Path/To/Application.app

 - OS and version: Monterey 12.4
 - VisIt Version: 3.3.0

[2022-07-09 21:29] markcmiller86 commented on #17857
@suschizu thanks for reporting. I think I am seeing same. I will try to correct by early next week.

[2022-07-09 21:36] markcmiller86 commented on #17386
It looks like this might be related to whether the installed python can find `libffi-dev` or not. I have found and installed `libffi-dev` from sources but I don't yet know how to tell python where to find it.

[2022-07-10 00:58] smao-astro commented on #17386
Hi @markcmiller86,

This sounds really promising! Seems that you are pretty close (or succeed) to install visit from `build_visit`.

If the official pre-build package won't be available in days, I would like to try to install visit following your path. I will spend some time today looking around [the doc](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/building_visit/index.html).

[2022-07-10 01:08] markcmiller86 commented on #17386
@smao-astro the `libffi-dev` issue is likely only the *first* problem that halted forward progress. I suspect there will be more before we can get a complete build. I think I am presently the only developer with access to an M1 mac and I have a number of other priorities as well. So, we can exchange thoughts here on progress but I think it will still be a while (likely several weeks), before I've

[2022-07-10 01:19] smao-astro commented on #17386
@markcmiller86  I see, thank you! I will post here if I get something looks interesting.

[2022-07-11 18:10] cyrush opened #17858 "MFEM LOR: better support for L2 (piece-wise const) with LOR"
### Is your feature request related to a problem?

B/c of the issues with periodic L2, we disable this code:

https://github.com/visit-dav/visit/blob/4977c744d66a84214c72bdf0c9eea52c91533712/src/databases/Blueprint/avtBlueprintDataAdaptor.C#L2029

We should get it working for the non periodic case.

Mfem folks also suggested to use newer LOR constructor:

[code]

### Is your feature request specif

[2022-07-11 18:32] BradWhitlock commented on #17386
You're going to need to use VTK 9 and Qt 6 to get an M1 build. I started a
bit on M1 (see visitusers.org Apple Silicon) 1.5 years ago. VisIt's VTK
support was not there at the time and it maybe still is not at VTK 9.

I run prebuilt Intel binaries through Rosetta2 and that works.

Brad

On Sat, Jul 9, 2022 at 6:19 PM smao-astro ***@***.***> wrote:

[2022-07-11 19:53] markcmiller86 opened #17859 "How to work with mili data"
We need to document how to use `makemili` and how to work with Mili data.

[2022-07-11 20:38] filippov1 commented on #17845
Hi Eric,

It is working well now.

Thank you very much for help!

Bets regards,

Andrey

[2022-07-11 23:49] JustinPrivitera opened #17860 "BOV docs should include info about order that dimensions vary"
See here: https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/data_into_visit/BOVFormat.html

It looks to me like x varies fastest, then y, then z. However, it is never stated explicitly in the docs, and is only hinted at by the example at the bottom for creating BOF. A user (Steve Langer) suggested that we store striding info in BOV headers, but at the very least we should get that

[2022-07-12 02:06] markcmiller86 commented on #17857
Ok, I think I have this corrected now and will be uploading proper versions tomorrow morning. Sorry for the delay.

[2022-07-12 16:41] markcmiller86 commented on #17857
Ok, we're still seeing a problem with the build and `import numpy` having an unresolved dependency. So we're working to correct that.

[2022-07-12 17:19] brugger1 commented on #17845
Glad you got it figured out. Thanks for closing the loop.

[2022-07-12 17:19] #17845 closed, assigned to nobody

[2022-07-12 18:00] brugger1 commented on #17851
The variable `write_funcs` is defined in a header file, so each time it is included in a source file it is defined, leading to multiple definitions. It turns out `write_funcs` was moved into a structure and the variable can safely be removed.

[2022-07-12 21:32] brugger1 opened #17866 "Automatically project 3d particles when combined with 2D data."
Here is the request from Matt.

Hi Eric, our particles are always in 3D, but we frequently run on a 2D mesh. We frequently want to plot the mesh and particles at the same time, so we have to cylindrically project the particles to the mesh. This requires the extra step of adding the "Project" operator to the particles.

Is there a way to automate this step?
Write out a visit "defvar" for the projec

[2022-07-12 22:24] brugger1 commented on #17831
If family files is off, then we can have VisIt ask about overwriting if the file already exists.

[2022-07-12 22:46] brugger1 commented on #17866
Maybe we can create a macro that makes it easy to add a project operator.

[2022-07-13 00:15] brugger1 opened #17868 "Improve the current cmake logic for including the ICU libraries in a distribution."
The current logic in `src/CMakeLists.txt` that includes the ICU libraries in a distribution looks in fixed directories for the libraries. This can be a maintenance issue as new directories may need to be added in the future. There is a FindICU module that in theory should solve our problems, but it didn't work quite right on kickit, a rhel7 system.
Here is the new logic:
[code]
and here is the out

[2022-07-13 01:34] markcmiller86 opened #17870 "masonry should set PYTHONPATH (or equiv) when making manuals"
### Describe the bug

I was trying to do a build with masonry from a partially built state. When I did, I encountered this error during the `manuals_release` phase (which is trying to run `sphinx_build` to make the manuals)...

[code]

Its a lengthy error message but the key point is that it winds up loading `pkg_release` from a wholly different python3 installation...the one that is part of Xcode

[2022-07-13 15:35] cyrush commented on #17870
I don't think that alone would fix it - if its still using the other python, even if PYTHONPATH is set, you could get very strange results.

Make manuals should be using the python passed to visit, do we know everything is ok there?

[2022-07-13 15:36] cyrush commented on #17870
Just to double check, --- Is masonry using VisIt's build system to make the manuals? (Calling our cmake targets) or is it doing them as a separate command?

[2022-07-13 15:57] biagas commented on #17868
Couple of thoughts for this, since @brugger1  experienced issues trying to use the FindICU module, perhaps a newer version of the module would work better.

Also,v3.16 of CMake introduced a new [GET_RUNTIME_DEPENDENCIES](https://cmake.org/cmake/help/v3.16/command/file.html#get-runtime-dependencies) subcommand for FILE that may help here.  Would just need to know which library/executable needs libi

[2022-07-13 16:50] markcmiller86 commented on #17870
haven't investigated that yet but I am not sure it matters. Either way would ultimately result in a `sphinx-build` command being invoked (either directly from masonry or indirectly from masonry calling `make manuals` and the makefiles running `sphinx-build`), right?

could the problem be that `pkg_release` winds up being an *egg* in our Python install? No matter what I do with the python installed

[2022-07-13 17:24] cyrush commented on #17870
ideally: `make manual` calls `sphinx-build` that exists inside of our python install. B/c of this it should be fully independent from the python used by masonry to bootstrap tpls and build visit.

[2022-07-13 17:27] cyrush commented on #17870
It is calling `make manuals`:

https://github.com/visit-dav/visit/blob/05a7248e1e11b16a43598f5b5257c1eecd9f9c62/src/tools/dev/masonry/bootstrap_visit.py#L215

Grumble, something seems off.

[2022-07-13 17:29] cyrush commented on #17870
do you have PYTHONPATH set in your env?

[2022-07-13 18:05] markcmiller86 commented on #17857
I am restarting a wholey new build from a clean/fresh state.

[2022-07-13 19:05] #17790 closed, assigned to JustinPrivitera

[2022-07-13 21:25] #17851 closed, assigned to brugger1

[2022-07-13 21:44] #17860 closed, assigned to JustinPrivitera

[2022-07-14 16:06] brugger1 commented on #4418
We should match on both the hostname and the nickname.

[2022-07-14 16:13] brugger1 commented on #17717
Since these are small arrays, we can just convert them when we see them.
A separate issue is that the error message was poor, we should do a better job of that as well.

[2022-07-14 16:14] brugger1 commented on #17717
Cyrus believes this was with the XRay Image query but it would be an issue with any query that takes a python list or tuple. We can probably demonstrate this with a simpler example than an XRay Image query.

[2022-07-14 16:20] brugger1 commented on #17761
We should look at the filename and if its a absolute path and the directory is a `.`, then do the right thing.

[2022-07-14 16:28] JustinPrivitera commented on #17804
It would be nice to be able to base off of a current table, with either a new button `copy` or from somewhere in the `new` button popup.

[2022-07-14 16:41] brugger1 commented on #17846
We discussed this and decided this would be useful, but we should have a option that allows the old behavior (maybe have the old behavior be the default) so that existing scripts don't fail.

[2022-07-14 16:59] brugger1 commented on #17868
Another option if Kathleen's suggestion above doesn't work is to get the names from targets.

[2022-07-14 17:35] biagas commented on #17761
This can be an issue when exporting from the GUI as well.
I just typed in a full path for the filename on Windows, and it prepended the evaluation of '.' to the filename I entered.  The file didn't get written at all, even though VIsIt said it did:

[code]

[2022-07-14 17:54] biagas commented on #17761
Perhaps the best place to handle the dirname/filename check is NetworkManager::ExportSingleDatabase  in the  section where 'qualFilename' is constructed. We use Dirname if it is not emtpy, but we never check if Filename is already fully qualified.

[2022-07-14 18:33] biagas opened #17881 "Need a gradient expression not so dependent on mesh resolution."
### Is your feature request related to a problem?
See Discussions #17825, #17830.

Curl (and other expressions) utilize Gradient under the covers, and it performs sampling and utilizes cell size in its calculation.

We should come up with a better way to calculate gradient.

We could possibly use vtkGradientFilter, it also has options for computing Vorticity, Divergence, QCriterion.  Might be more

[2022-07-14 23:03] #17799 closed, assigned to JustinPrivitera

[2022-07-15 00:06] markcmiller86 commented on #17870
Nope. `env | grep -i py` produces nothing.

Yes, it is calling `make manuals` which, after I threaded through the CMake nuggets, the actual command executed looks like...

[code]

And this fails with...

[code]

which is interesting because I do have a `sphinx-build` in `~/Library/Python/3.7/bin` which is version 5.0.2. But that is NOT in my default path and, furthermore, I don't pass my default p

[2022-07-15 00:54] markcmiller86 commented on #17870
Let me be a bit clearer...the search above examins only `.py` files that were installed to the Python `bin` directory VisIt created for itself. There are a number of other python scripts there that do not have `.py` extension and they are all sh-banged with abs path to Xcode.app python instead of *this* python.

[code]

[2022-07-15 03:04] markcmiller86 commented on #17870
Changing the sh-bang in `sphinx-build` in the above from `#!/Applications/Xcode.app/Contents/Developer/usr/bin/python3` to `#!/Users/miller86/visit/visit/33rc/release/build-mb-3.3.0-darwin-10.14-x86_64-release/thirdparty_shared/third_party/python/3.7.7/darwin-x86_64/bin/python3` so that it winds up using the python3 installed as part of the VisIt build instead of the python3 in `Xcode.app` fixes t

[2022-07-15 15:11] cyrush commented on #17870
I think when VisIt's Python was built, something had to be crossed with the system python.

If i look at my Sphinx build for 3.3, sh-bang has the VisIt built python:

[code]

Culprits are usually python in your path, or `PYTHONPATH` or even an anaconda install somewhere. But I know you checked all of those things.  Mysteries like this are frustrating.

[2022-07-15 16:12] markcmiller86 commented on #17870
Ok, thanks for looking at the sh-bangs in your case. That is good to know it will get it right under the right conditions.

Well, I ensured `$PATH` is generic and there is no `$PYTHONPATH` in my env though I didn't think to explicitly override anything with `env PYTHONPATH=""` and I do have Anaconda installed but not "visible" to anything from my terminal.

By build completed but a) I accedentiall

[2022-07-15 21:23] markcmiller86 commented on #17870
@cyrush I got curious and examined the 3.2.2 release. I don't see anything there that depends on `blas` or `openblas`. So, I think the numpy build on my system is building some additional features we haven't necessarily supported in the past.

And, I think some of the python modules, like numpy, are kinda sorta designed to go looking for stuff in "*special places*" like in MacPorts (`/opt/local/li

[2022-07-15 22:12] markcmiller86 commented on #17870
Sheesh...I've tried a ton of stuff to *force* numpy to NOT try to build with blas. Nothing worked. Then blew away the whole numpy-16.1 source tree and unzippped it afresh and am now able to build without blas. So, making progress on this and will have some tweeks to `bv_python` (I hope) shortly.

[2022-07-15 23:11] #17794 closed, assigned to JustinPrivitera

[2022-07-15 23:21] markcmiller86 commented on #17870
Ok, so I think I have issues with building `numpy` on a machine where `libopenblas` is available resolved.

Now looking at Pillow and comparing what I've recently built with my machine and what 3.2.2 has...

### From my machine...

[code]

### From 3.3.2

[code]

Because Pillow is actively looking in many places for libs it can use, it is finding stuff on my machine in `/opt/local/lib` and then bu

[2022-07-15 23:50] markcmiller86 commented on #17870
Out of curiosity, why are we building PIL in python for a macOS binary user release in the first place?

[2022-07-16 00:04] markcmiller86 commented on #17870
I have MacPorts on my mac. I recall @cyrush warning against that a long while ago when I got my new Mac but I forgot to mention it to the team preparing my Mac and, in any event, I believe other work I’ve done has benefited from having MacPorts.

MacPorts puts a lot of useful stuff in `/opt/local/{include,lib}`

A lot of python tools installation processes are designed to interrogate commonly used

[2022-07-16 00:22] JustinPrivitera commented on #17788
The first issue occurred because the test suite wrote to a large absolute path, and the x ray query would write that path to a small buffer, causing a SEGFAULT.

[2022-07-16 02:19] markcmiller86 commented on #17857
I think we have this fixed. Awaiting some final testing. Should be ready by Monday.

[2022-07-18 22:33] reidginoza commented on #4418
Hope I'm not barging in here, but I wanted to mention that this came up to bite me again. We have two builds of VisIt 3.1.3, one with hardware acceleration and one without. Since they both have the same host, this obviously conflicted.

For a user perspective: I was assuming that unique host profile XML file names implied unique hosts (regardless of nickname). Not sure if that matches others' expe

[2022-07-19 18:32] markcmiller86 commented on #17857
Ok, we believe this has been corrected. The release has been updated and the new files should be available. Sorry for the delay but we're trying to make sure more than one team member knows how to sign and notorize an Apple release.

[2022-07-19 18:32] #17857 closed, assigned to markcmiller86

[2022-07-19 19:04] JustinPrivitera opened #17886 "Name Line Edit box in Color Table Window no longer allows writing a new name"
I broke the name box in the color table window when I added searching in #17882. It is currently impossible to make a new color table name unless searching is enabled, which users should not be able to do anyway. I will add errors for that as well and fix this issue ASAP.

[2022-07-19 22:30] #17762 closed, assigned to nobody

[2022-07-19 23:35] #17886 closed, assigned to JustinPrivitera

[2022-07-20 00:55] JustinPrivitera opened #17889 "Crash in cont and discrete CT buttons from index out of bounds error"
### Describe the bug
I discovered a crash in the no default CT buttons. It is possible to cause an index out of bounds error when using tags and searching at the same time. If you set the "continuous" tag, look at some entries, and enable searching, it'll empty an array that houses discrete CT names for the no default CT buttons, and then try to read from that array, causing a crash.

I have a fix

[2022-07-20 03:32] markcmiller86 opened #17891 "Sign macOS disk images too"
### Is your feature request related to a problem?
We sign our code that goes onto the `.dmg` disk image but we don't also sign the disk image itself.

https://developer.apple.com/library/archive/documentation/Security/Conceptual/CodeSigningGuide/Procedures/Procedures.html#//apple_ref/doc/uid/TP40005929-CH4-SW19

Maybe we should.

[2022-07-20 21:53] yippeter6 opened #17897 ""revolved_volume" Mesh Function Clarity"
### Describe what needs to be documented.
In the tutorials, the "revolved_volume" function revolves around the y-axis, however, I was wondering if there is a way to revolve about the x-axis. My current simulation has a 2D mesh and symmetric about the x-axis and I would like to compute the revolved volume about the x-axis.

### Is the documentation missing?
The "revolved_mesh" function description

[2022-07-20 22:37] biagas commented on #17897
Sorry for the lack of info in our docs.
There is no option to change the axis of revolution for this expression, it is chosen based on the coordinate system: XY, and RZ use X-axis for revolution, ZR uses y-axis for revolution.

You might want to try using the Revolve operator on your mesh, you can specify the axis of revolution and other settings.  Then create a volume expression, and use the Defe

[2022-07-20 23:23] #17788 closed, assigned to JustinPrivitera

[2022-07-20 23:25] #17889 closed, assigned to JustinPrivitera

[2022-07-20 23:40] yippeter6 commented on #17897
Thank you for the quick feedback.

Ah. I see. I will try that!

[2022-07-21 21:02] brugger1 opened #17905 "CMake not installing VTK-h shared libraries."
I built VisIt using `spack` on `crusher.olcf.ornl.gov` and the VTK-h shared libraries were not installed in the `lib` directory.

I added some print statements to `FindVTKh.cmake` and got the following CMake output on crusher.
[code]
Here is the output from running on `quartz.llnl.gov`.
[code]
Note that for all the `vtkh` libraries in the crusher case, the `installing ...` is missing.
Here is the

[2022-07-21 21:11] biagas commented on #17905
Can you look at the .cmake files in the VTKh/VTKm installs (lib dir or subdir thereof?). We assume the libraries were built with CMake support and cmake project files specifying the imports were installed as well.  If the files exist,
perhaps they set a different  LOCATION property than we are looking for. (like LOCATION or LOCATION_RELEASE).

[2022-07-21 21:59] brugger1 commented on #17905
Looking at the lib directory on quartz I see:
[code]
When I look in `VTKhTargets-release.cmake` I see for each library of interest:
[code]
When I look at crusher I see:
[code]
If I look at `VTKhTargets-relwithdebinfo.cmake` I see for each library of interest:
[code]
My guess is that adding a case for `IMPORTED_LOCATION_RELWITHDEBINFO` in FindVTKh.cmake may fix the problem.

[2022-07-21 22:13] brugger1 commented on #17905
Adding
[code]
fixed it.
@biagas Thanks a lot for the pointer!!

[2022-07-22 19:09] #17905 closed, assigned to nobody

[2022-07-22 20:53] yippeter6 commented on #17897
@biagas What would you recommend is a good way to make the volume expression?

I guess it would be best to try to explain what I am doing and maybe it will be clear. I have a 2D axisymmetric simulation (symmetric about the x-axis) and I am just trying to query the mass over time by performing a Time query of a mass expression I made via tutorials (mass = revolved_volume(Mesh) * density). This is w

[2022-07-22 23:00] JustinPrivitera opened #17911 "VisIt no longer compiles w/o conduit due to x ray query changes"
@iulian787 reported that due to the changes I made recently in the x ray image query in #17892, visit no longer compiles without conduit. I will revert the code change that caused the issue and I am building a version of visit without conduit to check for any additional issues.

[2022-07-24 11:52] summer7807 opened #17914 "How to modify the visit software interface through QT designer file"
Previously, QT linguist software was used to translate the visit interface into Chinese. In the next step, we want to delete the functional blocks of the visit interface through QT designer software, so as to simplify the visit software. So I want to ask where the source code of visit software interface function block is?

[2022-07-25 16:03] markcmiller86 commented on #17914
@summer7807 we do not use QT designer to design (or manage) VisIt's QT interface. I am not even sure if the state of our interface coding is *compatible* with QT designer.

That said, the bulk of the interface is in the top level `gui` folder/subdir (https://github.com/visit-dav/visit/tree/develop/src/gui). But, that is not the *entire* interface. **Plot** and **Operator** plugin interfaces are in

[2022-07-25 17:14] JustinPrivitera commented on #17911
Completed in #17913 and #17910

[2022-07-25 17:14] #17911 closed, assigned to JustinPrivitera

[2022-07-26 16:45] biagas commented on #17897
That should work.

[2022-07-27 03:15] JustinPrivitera opened #17919 "Info about color tables should NOT be saved in config/session files"
In the future, we will want tags to be saved to config/session files, but no other color table information.

[2022-07-27 19:10] JustinPrivitera commented on #4608
I believe we decided that color tables should no longer have a home in the session files. This does make it harder to share state, but reduces bloat in the session files.

[2022-07-27 19:12] JustinPrivitera commented on #17373
completed in #17721

[2022-07-27 19:12] #17373 closed, assigned to nobody

[2022-07-27 19:13] JustinPrivitera commented on #17480
Completed in #17721 and #17876

[2022-07-27 19:13] #17480 closed, assigned to nobody

[2022-07-27 19:20] JustinPrivitera opened #17921 "Delete Color Table Tags from the tag list when all color tables using that tag have been deleted"
Once we support users adding tags, we need to make sure that unused tags are cleaned up.

[2022-07-27 19:44] cyrush opened #17922 "bug with material id processing in the blueprint plugin"
### Describe the bug

There are places were we index by an integer id, instead of a name.

Here is one of them:
https://github.com/visit-dav/visit/blob/91ff5211fbae8256bb8590688ca37106b24fef5c/src/databases/Blueprint/avtBlueprintFileFormat.C#L949

This causes a problem when the material ids don't start at zero.

**Helpful additional information**
 - Did VisIt crash: no
  - Did you get wrong result

[2022-07-27 19:49] JustinPrivitera commented on #17832
https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/using_visit/MakingItPretty/Color_tables.html#converting-color-table-types

[2022-07-27 21:34] #17858 closed, assigned to JustinPrivitera

[2022-07-28 00:23] markcmiller86 opened #17923 "rotate, scale and translate in a single transform operator instance"
### Is your feature request related to a problem?

We have a **Transform** operator that supports rotation, scaling and translation. However, [docs](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/using_visit/Operators/OperatorTypes/Transform_operator.html?highlight=transform%20operator#transform-operator) indicate the order is pre-defined as rotate, scale, translate.

I wanted t

[2022-07-28 01:07] JustinPrivitera commented on #17923
It's been a little while since I took graphics in school, and I don't know a whole lot about our transform operator, but I thought that the order needed to always be scale, rotate, translate. You should be able to get every configuration with that order. I am surprised to hear that we do rotations first; is there a reason for that? I thought scaling needed to come first because scaling is typicall

[2022-07-28 02:46] markcmiller86 opened #17924 "Update section of docs on searching CLI from python"
### Describe what needs to be documented.

the [section of docs about using `lsearch` for searching](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/Scripting.html?highlight=SetOperatorOptions#tips-for-searching-for-help) should probably be replaced with the new info about `help(str)` and `apropos(str)` which are much more convenient and return more information.

[2022-07-28 02:57] markcmiller86 commented on #17923
If you are speaking within the context of a *graphics* library and the operations required to set a view, then yes, I think you are correct about the ordering needed for that specific case.

VisIt's **Transform** operator is less about setting a view and more about setting one object (variable) relative either to the current view (coordinates) or to other objects. In that case, the specific operat

[2022-07-29 02:17] markcmiller86 commented on #4282
In this case, the open (double clicking or whatever) of `foo_0000.tar.gz` turns into an open of `foo_0000/foo.root`.

In this case, the open of `foo_0000.tar.gz` turns into an open of `foo_0000.root`.

In this case, the open of `foo_0000.root.gz` turns into an open of `foo_0000.root` which is exactly how currently designed (e.g. non-tar-enabled) ZipWrapper behaves.

In all cases, when VisIt is rem

[2022-08-01 21:38] #1947 closed, assigned to JustinPrivitera

[2022-08-01 21:38] #1948 closed, assigned to JustinPrivitera

[2022-08-01 21:38] #17919 closed, assigned to JustinPrivitera

[2022-08-01 22:07] JustinPrivitera commented on #17923
I wasn't talking about setting a view, but about setting the positions, sizes, and orientations of geometry in your scene. Is that the same thing?

How are they arbitrary? I don't understand. Following your example, let's say
_S_ = scaling matrix
_R_ = rotation matrix
_T0_ = translation to origin matrix
_T_ = translation to object position matrix
_M_ = final model transformation matrix

In your ex

[2022-08-01 22:11] biagas opened #17927 "CMake needs to be built with openssl support."
### Describe the bug
#17796 removed openssl support from the CMake build to fix a problem on a fedora system.

New ospray (2.8) needed for VTK-9 support utilizes CMake's `file(DOWNLOAD)` command, which requires openssl support.

From the CMake docs on the command:
`For https:// URLs CMake must be built with OpenSSL support`

Without this, the ospray build fails to download the TP tarballs it needs

[2022-08-01 23:44] JustinPrivitera opened #17928 "Tutorial Improvements"
There are various sections of our tutorial that could use improvement. I'll start a list here and add to it as I work through the [tutorials](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/tutorials/index.html). I'll work on some of these and check them off as I do, but any I don't check off are fair game.

#### Section 1
- [x] 1.3 should tell you where you are likely to find th

[2022-08-02 22:34] #17914 closed, assigned to nobody

[2022-08-02 22:50] brugger1 commented on #17923
Some thoughts/action items.
- Check that the documentation is correct. If it is correct, then we should change the order to be scale, rotate, translate.
- Have another rotation option to specify rotation about X, Y and Z rather than an arbitrary axis.
- Having many transform operators makes it hard to remember which one does what. Maybe the names in the plot list could change or allow the user to

[2022-08-02 22:57] JustinPrivitera commented on #17923
https://docs.blender.org/manual/en/latest/_images/scene-layout_object_properties_transforms_panel.png

[2022-08-04 19:06] brugger1 opened #17937 "Saving histogram plot doesn't work properly"
I created a histogram plot and wanted to output the values. I tried exporting the data as a curve as well as saving the data as a curve and both failed in different ways.

When exporting as a curve, the file only had the time and cycle in it and none of the data.

When saving as a curve, a curve was output for each bin, where the bin consisted of 5 points that outlines each of the bins in the plot

[2022-08-04 19:11] markcmiller86 commented on #17937
Try changing **Output plot type** to curve in **Histogram Attributes**

[2022-08-04 19:15] brugger1 commented on #17937
Saving as a curve works!

Exporting still results in just the time and cycle being output.

[2022-08-04 21:06] markcmiller86 commented on #17937
Do we really understand what we mean by *export* in this context (e.g. where the plot's *basis* is not 1:1 with the mesh of the variables used in the plot)?

I tried a couple of other plots which are similar in nature (**Scatter** and **Parallel Coordinates**), and neither properly exports to `Curve2D` format. Export fails in the same way...only see `# TIME` and `# CYCLE` lines and no data, or I g

[2022-08-07 23:26] cyrush opened #17940 "blueprint db export issue with isosurface"
### Describe the bug
Open example.silo from tutorial data
Add isosurface operator with default options.
Export as blueprint with no additional options.
Export will fail b/c internal mesh blueprint fails with the following output:

[code]

Some how the coord set is bad when we convert from internal VTK to blueprint.

**Helpful additional information**
 - Did VisIt crash: No
 - Did you get wrong res

[2022-08-07 23:28] cyrush commented on #17940
Isovolume also causes a problem, but slice works.

[2022-08-08 17:40] summer7807 opened #17941 "An error is reported through the \visit-develop\src folder in the cmake source code"
After configuring the \ visit-develop \ src folder in cmake software, an error is reported:
**CMake Error at config-site/windows.cmake:18 (message):
  Please set VISIT_WINDOWS_DIR to location of 'windowsbuild' files
Call Stack (most recent call first):
  CMakeLists.txt:751 (INCLUDE)**
How to resolve the above error?

[2022-08-09 02:07] JustinPrivitera opened #17942 "Missing attributes docs for ColorTableAttributes and ColorControlPointList"
### Describe what needs to be documented.
`ColorTableAttributes` and `ColorControlPointList` are missing from [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/python_scripting/attributes.html).

Steps to update should be [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/dev_manual/UpdatingPythonDocStrings.html).

Although it is unclear why those would

[2022-08-09 02:20] JustinPrivitera opened #17943 "Zooming in on a specified element"
![Slide2](https://user-images.githubusercontent.com/35237779/183549041-b8701b20-40e2-4d5c-afd8-faf20a60a47f.PNG)

Possibly similar to another ticket (see description), but I cannot find it.

From Shaun Densberger: "I think a feature that'd be nice is where the zoom or rotate center is based on where the mouse pointer is currently."

[2022-08-09 02:22] JustinPrivitera opened #17944 "Better Material/Slideline Organization"
![Slide3](https://user-images.githubusercontent.com/35237779/183549462-55b19529-09b9-476f-a9d5-2ae4e5e20ee2.PNG)

[2022-08-09 02:24] JustinPrivitera opened #17945 "Add material ID to pick display"
![Slide4](https://user-images.githubusercontent.com/35237779/183549622-a7eb306b-9f33-44b6-a948-eb44074f1afd.PNG)

Ignore the info in this image relating to "Ticket 4".

Variables -> may be able to add a material if it doesn’t exist already.

[2022-08-09 02:25] JustinPrivitera opened #17946 "Match zone ID/node ID with the eng model values"
![Slide4](https://user-images.githubusercontent.com/35237779/183549826-0e9f2574-5f99-4dc8-b169-1e3f9570070a.PNG)

Ignore the info on this slide relating to "Ticket 3".

Alister may have already done the zone id fix.
The nodes are consistently off by 1, but the elements are usually completely off.

[2022-08-09 02:27] JustinPrivitera opened #17947 "Map scalar list to materials for a pseudocolor plot"
![Slide5](https://user-images.githubusercontent.com/35237779/183550032-ea7a57cc-f843-4805-96e7-7b24a6e099ec.PNG)

[2022-08-09 02:28] JustinPrivitera opened #17948 "Derived Variables not complete"
![image](https://user-images.githubusercontent.com/35237779/183550218-362b629f-7ad4-425a-b1aa-9a4b5018ff36.png)

[2022-08-09 02:29] JustinPrivitera opened #17949 "Change max/min for current plot to the current plot max/min"
![Slide7](https://user-images.githubusercontent.com/35237779/183550399-9bf3e034-00bf-43ae-90bb-0e8becdb404b.PNG)

[2022-08-09 02:30] JustinPrivitera opened #17950 "Ability to draw material edge lines"
![Slide8](https://user-images.githubusercontent.com/35237779/183550504-a1003e50-cc1a-4d72-a37d-9e58df00542d.PNG)

[2022-08-09 02:31] JustinPrivitera opened #17951 "CLI path character limit"
![image](https://user-images.githubusercontent.com/35237779/183550602-05dd16e4-ba24-4bcb-b9e1-34b8c3a0f1e6.png)

"Whoah, isn't that close to the path limit in Linux anyway? Hash your arguments bro."
"Still may be an error on visits end, even hashing it out, no?"

[2022-08-09 02:32] JustinPrivitera opened #17952 "Paraview-like visualization for modal analysis"
![image](https://user-images.githubusercontent.com/35237779/183550823-fd0c3923-c9b7-4bd8-9faf-6aca5a107210.png)

[2022-08-09 02:34] JustinPrivitera commented on #4953
Folks in engineering are still running into this issue.

[2022-08-09 02:38] JustinPrivitera commented on #17729
![Slide13](https://user-images.githubusercontent.com/35237779/183551369-0609968c-c21a-4417-86f1-68e16d275284.PNG)
![Slide14](https://user-images.githubusercontent.com/35237779/183551397-132b42a1-e745-48d8-af4f-2d1d6117bda1.PNG)
![Slide15](https://user-images.githubusercontent.com/35237779/183551411-debd7c8e-98fc-479e-876a-c73f3edbbdea.PNG)
![Slide16](https://user-images.githubusercontent.com/35237

[2022-08-09 02:39] JustinPrivitera opened #17953 "Difficulties importing VisIt into python3"
![Slide17](https://user-images.githubusercontent.com/35237779/183551606-516229b9-fba4-470e-97d9-5bebf8b4c9d1.PNG)

[2022-08-09 02:41] JustinPrivitera opened #17954 "Command Recording Missing some commands"
![Slide18](https://user-images.githubusercontent.com/35237779/183551690-a1ef9fe2-8656-4e22-876c-c23f5dd702ef.PNG)

It looks like command recording could use some love: https://github.com/visit-dav/visit/issues?q=is%3Aissue+is%3Aopen+command+recording

[2022-08-09 02:43] JustinPrivitera opened #17955 "ExportDBAttributes is missing info in Attributes.rst"
![Slide19](https://user-images.githubusercontent.com/35237779/183552014-3f4f1ce8-9735-4136-9f62-bfb3223327a2.PNG)

"Ticket 16" refers to #17954

[2022-08-09 07:33] summer7807 commented on #17941
After that, search for ‘windowsbuild’ in the \ visit-develop \ src folder and find adding_ windowsbuild_ dir.png, set the add entry in cmake software according to the picture content, and the error is as follows:
CMake Error at CMake/SetUpThirdParty.cmake:78 (MESSAGE):
    Base Directory for BOOST D:/visittools/build/MSVC2017/boost_minimal_headers/1.67.0 does not exist.
Call Stack (most recent cal

[2022-08-09 13:43] summer7807 opened #17958 "The windowsbuild folder could not be found"
When configuring with cmake GUI, the location of the windowsbuild folder cannot be found. Should a new windowsbuild folder be created in which location?

[2022-08-09 13:56] summer7807 opened #17959 "An error occurred after cmake the \visit-develop\src"
After cmake of the \visit-develop\src, the error is reported as follows:
CMake Error at CMake/SetUpThirdParty.cmake:78 (MESSAGE):
    Base Directory for BOOST D:/visittools/visit-develop/windowsbuild/MSVC2017/boost_minimal_headers/1.67.0 does not exist.
Call Stack (most recent call first):
  CMake/FindVisItBoost.cmake:24 (SET_UP_THIRD_PARTY)
  CMakeLists.txt:1225 (INCLUDE)
How should the above sit

[2022-08-09 15:26] biagas commented on #17958
The  pre-built third-party binaries can be found on our [downloads page](https://visit-dav.github.io/visit-website/releases-as-tables/#latest) as shown below.

![WindowsSourceForDevelopment](https://user-images.githubusercontent.com/17075318/183689631-6e563e9e-cc04-4ce2-89ca-b4563d1f94e8.PNG)

When extracting, place it peer to the src directory, or you will need to set VISIT_WINDOWS_DIR CMake vari

[2022-08-09 18:48] biagas commented on #17941
Which version of VisIt are you attempting to build?
Which tarballs/zip files did you download? (from which location?)

[2022-08-09 18:51] biagas commented on #17959
Please see my comments in [issue 17491](https://github.com/visit-dav/visit/issues/17941#issuecomment-1209753332) and [issue 17958](https://github.com/visit-dav/visit/issues/17958#issuecomment-1209530340).

[2022-08-09 22:43] biagas opened #17962 "Update CI environment from ubuntu-18.04 to ubuntu-22.04"
### Describe the bug
I noticed this warning with the checks for one of my PR’s.

##[warning]The ubuntu-18.04 environment is deprecated, consider switching to ubuntu-20.04(ubuntu-latest), or ubuntu-22.04 instead. For more details see https://github.com/actions/virtual-environments/issues/6002

We should update the environment we use for CI.

[2022-08-10 18:08] markcmiller86 opened #17964 "Better way to handle HDF5 plugin robustness with H5F_CLOSE_DEGREE"
Within the context of VisIt where we have various HDF5 plugins written by developers with varying levels of skills in using the HDF5 interface, the [*default* behavior of `H5Fclose()` is problematic](https://forum.hdfgroup.org/t/proposal-to-change-return-value-behavior-of-h5fclose/7595).

We invariably get into situations where multiple HDF5 plugins have been attempted on a file and the plugins wi

[2022-08-11 01:48] #17114 closed, assigned to biagas

[2022-08-11 03:46] #17734 closed, assigned to biagas

[2022-08-11 15:36] summer7807 commented on #17958
First of all, thank you for your answers. I downloaded **visitdev3.1.4** ，then according to **http://www.visitusers.org/index.php?title=Using_CMake_with_VisIt_on_Windows** The tutorial in cmake. When I went to the step of **Add Cache Entry**, I added according to the tutorial instructions **VISIT_SELECTED_PLOT_PLUGINS**，However, cmake reports an error as follows:
CMake Error at plots/CMakeLists.tx

[2022-08-11 18:53] cyrush opened #17968 "Blueprint Plugin Support for new Root file Domain Index Scheme"
Need to handle complex AMR domain layouts.
Place holder issue for @JustinPrivitera and @cyrush to capture future details.

[2022-08-11 21:00] JustinPrivitera opened #17969 "Blueprint to MFEM conversions may be duplicated?"
https://github.com/visit-dav/visit/blob/4977c744d66a84214c72bdf0c9eea52c91533712/src/databases/Blueprint/avtBlueprintDataAdaptor.C#L1047
https://github.com/visit-dav/visit/blob/4977c744d66a84214c72bdf0c9eea52c91533712/src/databases/Blueprint/avtBlueprintDataAdaptor.C#L1048
https://github.com/visit-dav/visit/blob/4977c744d66a84214c72bdf0c9eea52c91533712/src/databases/Blueprint/avtBlueprintDataAdapt

[2022-08-12 00:40] JustinPrivitera opened #17970 "Add in the final missing X Ray Query test once avtbp and avtmfem refactor is complete"
Once #17698 is complete, the final test case in `xrayimage.py` can be uncommented and should pass.

[2022-08-12 03:49] summer7807 commented on #17958
The cmake version I use is **cmake-3.24.0-windows-x86_ 64**. The setting of name in **Add Entry** is **VISIT_SELECTED_PLOT_PLUGINS**, the setting of **Type** is **STRING**, and the **Value** is **Boundary; Contour;Curve;**.
I guess it's also because I haven't compiled successfully. I'll sort out the process of using cmake to configure and report an error. I'll restart a question. I hope you can an

[2022-08-12 15:41] #17959 closed, assigned to nobody

[2022-08-16 23:36] brugger1 commented on #17945
This can be done by adding the material variable to the list of materials or by creating a filled boundary plot and picking with that plot selected.

[2022-08-16 23:40] brugger1 commented on #17947
This is already doable. We need to document how and let them know.

[2022-08-16 23:45] brugger1 commented on #17948
We need to get the code for this from Griz from @durrenberger1.

[2022-08-16 23:47] markcmiller86 commented on #17947
Ordinarily, we don't reveal volume fractions as scalar mesh variables (like any other mesh variable). However, its possible to reveal them as ordinary variables using [expressions](https://visit-sphinx-github-user-manual.readthedocs.io/en/v3.1.1/gui_manual/Quantitative/Expressions.html?highlight=matvf#material-expressions).

[2022-08-16 23:52] brugger1 commented on #17950
We actually have logic that calculates the external faces for each block and then uses the coordinates to eliminate duplicate faces. This is only implemented for structured grids, but it could be done for unstructured grids as well. We probably should have a switch to turn this off since it is expensive to do.

[2022-08-16 23:54] brugger1 commented on #17952
This is possible now through scripting. It could be a quick recipe.

[2022-08-18 15:49] summer7807 opened #17980 "About the Client-Server Mode function of VisIt"
I want to realize the Client-Server Mode of VisIt.
What are the requirements for the client and server operating systems? Can windows or Ubuntu be used?
Does the operating system of the server and the client need to be the same? Can both the server and the client system be windows?

[2022-08-18 16:45] biagas commented on #17980
Client can be any OS.
Server can definitely be Ubutntu.

Windows as server is theoretically possible using Microsoft's HPC pack, but hasn't been tested in quite awhile.

For information on Windows as server, take a look at the HPC section of the [Parallel on Windows](http://www.visitusers.org/index.php?title=Parallel_on_Windows) page of VisIt's wiki.  The links to Windows HPC pack no longer work a

[2022-08-18 17:24] biagas commented on #17980
Yes, a change in VisIt is needed: in src/viewer/main/CMakeLists.txt
change this:
[code]

to this:
[code]

[2022-08-18 17:30] biagas commented on #4566
closing since I answered the question: hdf4 does require jpeg.

[2022-08-18 17:30] #4566 closed, assigned to nobody

[2022-08-18 17:48] biagas opened #17982 "Should we upate hdf 4 library version?"
I could not get hdf 4.2.5 to build with vtk 9's jpeg. (the current way we supply jpeg to the hdf 4 library).

We could possibly have hdf build against system jpeg.

I tried building 4.2.15 (the latest version at the time I tried).  I used the CMake build system, and it built an internal version of jpeg.

Should we update to 4.2.15 so that there is a version to use when we build VisIt with VTK 9 su

[2022-08-18 18:59] biagas opened #17983 "bv_vtk patch to install xmlversion.h is using wrong path"
### Describe the bug
For VTK9 support, there is  patch to bv_vtk to ensure xmlversion.h header gets installed. (needed when building Xdmf).

The patch comments out an 'if (FALSE)' test that prevents the file from being  installed. It was assumed the listed install command was correct, however the DESTINATION path listed is incorrect.

This section of the patch:
[code]
DESTINATION should be changed

[2022-08-19 00:19] biagas opened #17985 "VTKm/h needs to be enabled for VTK 9."
### Is your feature request related to a problem?

The integration of VTK 9 support into develop did not include VTKm/h.

Files in VisIt that have vtkm/h support will not compile with VTK 9, some of the errors are due to changes in vtkCellArray accessors.

PR #17984 disabled VTKh support when building with VTK 9.

[2022-08-19 16:07] brugger1 commented on #13255
Neither Cyrus or Mark are experiencing this with 3.3.0 so we are closing this.

[2022-08-19 16:07] #13255 closed, assigned to nobody

[2022-08-19 16:55] markcmiller86 commented on #17771
Lets at least investigate this. You can import `numpy`, create an array and then call the query to see what it reports in the error message.

[2022-08-19 17:17] markcmiller86 commented on #17717
@brugger1 when I try to duplicate code in `xrayimage.py` test like this...

[code]

I get an error...

[code]

How does this work in test suite?

[2022-08-19 17:21] markcmiller86 commented on #17717
@cyrush I think I am getting the cryptic error message you mention here. Does this look like what you mean...

[code]

[2022-08-19 17:30] markcmiller86 commented on #17717
If above investigation is correct, the related code is here...

https://github.com/visit-dav/visit/blob/ccfa916ccae40ea12b11dbbde7aa0bca61d90755/src/visitpy/common/visitmodule.C#L12212-L12223

So, what is failing is the `PyDict_To_MapNode()` call and there isn't any more information coming back about why it is failing. I suppose we could enhance `PyDict_To_MapNode` to identify the name of the firs

[2022-08-19 17:34] markcmiller86 commented on #17717
So, to fix this, I would propose the following...

1. Add a return arg to `PyDict_To_MapNode` which is either a string ref or string pointer named `errmsg` and is by default void/null.
2. If `errmsg` is non-void/null, populate it with same/similar string we send to debug logs here...
   https://github.com/visit-dav/visit/blob/d1fbae6caeb3364954f3c2b54eb0a27ae69fd889/src/visitpy/common/PyMapNode.C#

[2022-08-19 17:36] JustinPrivitera commented on #17717
That's odd... I've been able to call the x ray query from the CLI with all the arguments. I'm not sure why that's happening for you.

[2022-08-19 17:48] brugger1 commented on #17717
Works for me as well.
[code]

[2022-08-19 17:52] brugger1 commented on #17717
You're solution sounds reasonable to me.

[2022-08-19 17:54] markcmiller86 commented on #17717
Well, I guess it would help if I was using correct version of VisIt. It does work on `develop`. It was failing on `3.2.2`.

By *it*, I mean the old way of querying.

[2022-08-19 18:09] brugger1 commented on #17717
Yes, it sure does fail with `3.2.2`. I tried old versions going back to 2.13.3 and all failed. I guess I'm also confused by that as well. Maybe the old style was slightly different and the error message is incorrect, since I'm pretty sure you could give it a list of arguments.

[2022-08-19 18:14] markcmiller86 commented on #17717
Ok, I will proceed with that.

[2022-08-19 18:33] JustinPrivitera opened #17988 "Camera Overhaul"
**Edit: See the bottom of this issue for deliverables/action items.**

Every time we see another camera/view-related ticket, let's add it to this list. Alternatively, we could make a new label for issues related to the camera.

- [x] #17943
- [ ] #5711
- [ ] #3249
- [ ] #17732
- [ ] #17542
- [ ] #18262

Additionally, I have a few ideas of my own for overhauling how the camera functions:
1) **Camer

[2022-08-19 18:43] JustinPrivitera commented on #17988
Alternatively...
 - Arrow keys and/or WASD and/or moving the mouse to the edge of the screen and/or right click and drag to move camera
 - Click (or pick?) an element to change "focus" to it
 - Changing the focus will cause the camera to move to center on the element, with same look direction as before
 - Also, zooming would now zoom in and out of that element instead of the origin
 - Using mouse

[2022-08-19 19:17] markcmiller86 commented on #17717
Ok, with that change, here is what we see for the same error...

[code]

[2022-08-19 19:44] markcmiller86 commented on #17717
@cyrush and @brugger1, surprisingly, it looks like assigning numpy arrays to other VisIt attribute members works fine including even error checking they are the correct length...

[code]

So, this begs the question...why don't they work in this Query interface? I suspect it has to do with expected way in which args are *wrapped* by CLI before arriving in our C/C++ modules.

[2022-08-19 19:54] brugger1 commented on #17717
That error message looks great!!

[2022-08-19 21:04] markcmiller86 commented on #17774
If we do any work to fix this, I would like to propose that we also make one enhancement to **Line tool** and that is to compute and display the *length*/*distance* of the line as part of the middle hash mark that is already being tracked but with no text. The two end-point hash marks of **Line tool** display their global coordinate values and displaying the length would also be useful.

[2022-08-19 22:52] #17717 closed, assigned to markcmiller86

[2022-08-20 01:00] markcmiller86 opened #17993 "Smart file grouping not consistent"
### Describe the bug
I copied a file `ugrid_mixed_cells.vtk` four times creating `ugrid_mixed_cells01.vtk ... ugrid_mixed_cells04.vtk`.

I did the same thing with a different extension, `.h5m`.

VisIt's smart file grouping recognizes the first set as a group but not the second.

![Screen Shot 2022-08-19 at 5 53 48 PM](https://user-images.githubusercontent.com/5720676/185723259-ea46b5db-f3a9-45fd-b

[2022-08-20 14:25] summer7807 opened #17997 "Problems encountered in installing visit3.2.2 on Ubuntu 20.04 system"
I downloaded  **visit3_ 2_ 2.linux-x86_ 64-ubuntu 20.tar.gz** and **visit-install3_ 2_ 2** on Ubuntu 20.04 .
Execute commands in the terminal:
_chmod 755 visit-install3_2_2_
_sudo ./visit-install3_2_2 3.2.2 linux-x86_64-ubuntu20 /usr/local/visit_
Two errors occurred:
_Chmod: can't connect the broken symbolic link '/ usr / local / visit / 3.2.2 + / linux-x86_ 64 / bin / python3 config '_
_Chmod: ca

[2022-08-20 18:04] markcmiller86 commented on #17461
Before this task can even begin, we should come to some consensus as a group what replacement terminology we should use...

From [InclusiveNamging](https://inclusivenaming.org/word-lists/tier-1/_master-slave/) web site (I crossed out options I think are just untennable for us)

* ~~Control plane/control plane node~~ (too long)
* Controller/doer
* Primary/replica
* ~~Primary/secondary~~ (too much p

[2022-08-20 18:06] markcmiller86 commented on #17461
@ARSanderson I think a lof of the code that will change is related to **IntegralCurve** operator (and friends). Do you have any opinions on replacement terminology?

[2022-08-22 18:29] JustinPrivitera opened #18002 "Add MFEM plugin file open option for new or legacy LOR"
Two things need to be done:
1) add a file open option for new or legacy LOR to the MFEM plugin (hint - change `hasoptions="false"` in `MFEM.xml` to `true` and then duplicate this same functionality that is already in the blueprint plugin)
2) add tests for the mfem plugin that use the new LOR

This work should only begin after #17686/#17698

[2022-08-22 20:38] cyrush opened #18003 "python3 test suite module input issues"
### Describe the bug
Imports like these:
https://github.com/visit-dav/visit/blob/95b347fb2655fc620637fa6d775e4b72e4e309ff/src/test/visit_test_suite.py#L29

Need to be relative (have a `.` prefix) in the python module installed along with visit, otherwise users get import errors

Important for 3.3.1.

We will need to think about the dual use (in installed module and stand alone cases for running th

[2022-08-22 21:44] biagas opened #18004 "xrayimage query test is crashing on Windows"
### Describe the bug
xrayimage.py test issues an 'os.remove' command for a temporary database it creates. This crashes the cli on Windows because the file lock is held too long (known issue on Windows).

Here's the error:
[code]

AFAICT os.remove is called twice for the same file, which is another issue if I am correct.

I also noticed that the test is creating a `testdir` directory under `current

[2022-08-22 22:23] markcmiller86 opened #18005 "Fix handling of MultiLineString option type"
### Describe the bug

Search for anywhere in VisIt that is introspecting a `DBOptionsAttributes` object and make sure all such blocks also handle the `MultiLineString` option type. In particular, look at `visitmodule.C`, `visitmodule.C/CreateDictionaryFromDBOptions()` should be kept consistent with `visitmodule.C/FillDBOptionsFromDictionary()`. The former is missing a `case DBOptionsAttributes::Mu

[2022-08-22 22:37] JustinPrivitera commented on #18004
I did want to note: The reason `os.remove` is called 3 times for the same file (`output.cycle_000048.root`) is because the file is created from scratch 3 times, each in a different test. In previous experience I had with the blueprint plugin I found that tests for it were order dependent, so I wanted to make very sure that all tests I did going forward would have no effect on each other, and could

[2022-08-23 09:50] yurivict opened #18009 "configure fails to find the QWT library /usr/local/lib/qt5/libqwt6.so"
### Describe the bug
[code]

```-DQWT_LIBRARY_DIR=/usr/local/lib/qt5``` is ignored because this [line](https://github.com/visit-dav/visit/blob/develop/src/CMake/SetUpThirdParty.cmake#L142) resets it.

### Desktop
 - OS and version: FreeBSD 13.1
 - VisIt Version: 3.3.0

[2022-08-23 10:02] yurivict commented on #18009
And this line ```SET("${inc_dir_var}" "${base_dir_val}/${incdir}")``` resets all xx_INCLUDE_DIR.

[2022-08-23 10:17] yurivict opened #18010 "error: incomplete type 'vtkObject' named in nested name specifier"
### Describe the bug
[code]

### Desktop
 - OS and version: FreeBSD 13.1
 - VisIt Version: 3.3.0
 - Vtk Version: 9.1.0

[2022-08-23 15:11] biagas commented on #18010
VisIt 3.3.0 does not support VTK 9.1.0. You must use VTK 8.1.0.
Support for VTK 9 is in the works, but not yet complete.

[2022-08-23 17:35] yurivict commented on #18010
I would like to note that this has been this way from at least 2020.

[2022-08-23 18:23] markcmiller86 opened #18012 "Support for VisIt for ANL and E3SM"
* Machines: Theta (ALCF), Crysalis (LCRC, Centos 7)
   * might need a new ANL account
   * Need to identify support for Centos builds on Crysalis
* Need to ensure all binary releases include MOAB including Windows if possible.
* Need to build from sources on these machines
* Need to upgrade VisIt to use MOAB 5.4.0 just released
* MOAB plugin might need to be smarter about subsetting it tells VisIt

[2022-08-23 19:09] biagas opened #18013 "Document TestAutoName and TestTextAutoName"
### Describe what needs to be documented.
@markcmiller86 added functions to automate test naming: TestAutoName and TestTextAutoName.  They are very handy, but I couldn't find them documented.

### Is the documentation there but needs improvement?

I thought it would be in [Tips on writing regression tests](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/dev_manual/test_suite.html

[2022-08-23 19:24] markcmiller86 commented on #18012
Adding @iulian787 here

[2022-08-23 19:31] markcmiller86 commented on #18012
Adding @vijaysm

[2022-08-23 22:16] markcmiller86 commented on #18005
@biagas suggests the GUI changes could be as simple as using `MultiLineEdit` Qt widget for any `MultiLineString` option.

[2022-08-23 23:06] biagas commented on #17941
The docs for [Building on Windows](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/building_visit/BuildingOnWindows/index.html#building-on-windows) have been updated to differentiate between 3.2.1 and older (source and windowsbuild all in one installer.exe), and 3.2.2 and newer (source from tgz and windowsbuild from separate .zip file); to reflect the current CMake version requir

[2022-08-23 23:06] #17941 closed, assigned to nobody

[2022-08-23 23:10] biagas commented on #17958
@summer7807 has your problem with VISIT_SELECTED_PLOT_PLUGINS been resolved?

[2022-08-24 01:28] cyrush commented on #17235
I have an idea to try for 3.3.1

[2022-08-24 02:31] markcmiller86 opened #18015 "VisIt display of image file in LFS pointer state works without error and displays nothing"
### Is your feature request related to a problem?

Look for any `.png` file in your repo that is in its LFS *pointer* state. Try to open it with VisIt. The open succeeds. Look at the menus and there are objects to plot. Try to plot the mesh. That succeeds. No errors...nothing indicating something is wrong. You just get a blank image. And, its really, really fast too 😉.

We should be able to detect

[2022-08-24 02:37] markcmiller86 opened #18016 "Add a subset stress test for this MOAB database"
### Is your feature request related to a problem?
There are three `.h5m` files (from MOAB) in [this repo](https://github.com/openmsr/msre_docker). They contain hundreds of thousands of subsets.

We should create a stress test for subset logic from these.

[2022-08-24 15:28] biagas commented on #18005
So, I was wrong about the MultiLineEdit widget, no such thing. There is QTextEdit widget that allows multi-line text, and
QvisDBOptionsAttributes is using that widget for MultiLineString, (QLineEdit for the other entries).
There may be some settings that could be changed for QTextEdit that would make it easier to use, like one of the wordWrap or lineWrap options, or even sizing of the widget.

[2022-08-24 15:37] biagas opened #18020 "Volume plot updates with VTK 9, how to add to docs"
### Describe what needs to be documented.
There are significant changes to Volume plot with VTK 9.  @ARSanderson updated the docs in the old branch we were using for the VTK 9 port.

I want to integrate his changes into develop, but am a bit uncertain how to proceed since we are still supporting VTK 8.
Can't yet tie it to a version number (EG Volume plot for Visit xxx and older, Volume plot for Vi

[2022-08-24 22:57] markcmiller86 opened #18023 "PC plot of all zero scalar is all blue but all zero vector gives nothing and "plot yielded no data""
### Describe the bug
1. Create an expression that is a zero vector everywhere.
2. Do a vector plot of it.
3. You get a blank image and a `plot yielded no data` warning.
4. If you do similar for a PC plot of all zero scalar, you get a plot and no warning.
5. We know the glyphs are all zero length but should we still plot them as vectors with no stems?

It had me confused for a second and I think oc

[2022-08-25 14:27] summer7807 commented on #17958
@biagas Failed to resolve this issue.

[2022-08-25 15:08] biagas commented on #17958
Can you post the CMakeCache.txt from your build?

[2022-08-25 16:14] markcmiller86 commented on #17944
Because engineering doesn't use *mixed* materials, we have no obligation to serve up material data from Mili as `avtMaterial` data. We could, instead, serve up as enumerated scalar. The reason this could be a good idea is that there is functionality for hierarchical data in enumerated scalar (parent-child relationships). That said, we don't have any cases that test that and there may be some bugs

[2022-08-25 16:17] markcmiller86 commented on #17947
We can do this with expressions. But, for anything other than 2 or 3 materials, the expression is tedius to get right. So, having a cli method that would just do it would help...

We can write an expression/macro for this perhaps taking an arg list of values (in increasing order of material id) and then create the expression that does the magic.

[2022-08-25 16:32] #17958 closed, assigned to nobody

[2022-08-25 16:42] #17997 closed, assigned to nobody

[2022-08-25 16:49] JustinPrivitera commented on #18004
I will fix by familying bp output and putting bp output in the directory @biagas recommended (so each file will have a different name). Then I will share my fix w/ @biagas and she can test for me on Windows.

[2022-08-25 17:01] markcmiller86 commented on #18005
* Although multi-line strings are kinda sorta handleable as a *string* with `"""` in python CLI, embedded newlines are necessary to parse yaml.
* Our default GUI text/line edit may cause Qt to strip newlines (and other whitespace) and so we may need to adjust props on the text/line edit used for multi-line strings to avoid that.
* Even if we decided to restrict ourselves to json, we still need to

[2022-08-25 18:02] povolny1 commented on #17276
I'm hoping to get the .vtm hierarchy finalized soon. @biagas What would be the best way to go about testing your changes? Should I just send you a dataset?

[2022-08-25 18:08] biagas commented on #17276
To start with, sending me a dataset would be best. I had something sort of working as a separate plugin. But users would have to then select 'GEOSX' from the 'open as' pulldown, so I am currently trying to integrate it with the current VTK plugin, to save user's a step.  It also reduces code duplicaton.

Once I think I have things working, we can talk about sharing the plugin with you for your tes

[2022-08-25 19:01] markcmiller86 opened #18029 "Improve Auto-Naming Test methods"
* Have them take section headings and/or file prefixes from the funciton's doc string instead of the function's name.
* Instead of using an incrimenting index for tests from *within* the same function, find a way to create a *hash* based on a more permanent expression of the test (key VisIt CLI methods). For example, from this block of code, https://github.com/visit-dav/visit/blob/8f70eeda2bd57748

[2022-08-25 20:48] #18013 closed, assigned to nobody

[2022-08-25 21:15] JustinPrivitera opened #18030 "Sensible Familying/Cycle Info in Filenames for X Ray Query Outputs"
1) Right now, only blueprint output puts the cycle in the filename. We need to put cycle info in filenames for all output types.
2) We need to remove the familying option and replace it with a toggle so users can toggle between file familying and having cycle info. We will not enable both at once, to save on headaches.

[2022-08-26 19:40] demarle opened #18032 "OSPRay volume rendering not available"
### Describe the bug
In VisIt develop today (just beyond the VTK 9 bump) OSPRay volume rendering does not seem to be choosable on the Volume plot page like it is in VisIt 3.3.0. OSPRay surface rendering works fine in my build and Allen did demonstrate volume rendering in his branch so I am thinking that it is likely something trivial like not exposing a new name for the GUI widget to show or somet

[2022-08-26 20:08] #4773 closed, assigned to cyrush

[2022-08-26 20:12] #17798 closed, assigned to JustinPrivitera

[2022-08-26 20:31] markcmiller86 commented on #1262
This is resolved

[2022-08-26 20:31] #1262 closed, assigned to markcmiller86

[2022-08-26 20:33] markcmiller86 commented on #5854
Ok, I am going to assign this one and try to get all qr code into a new test category, `quick_recipes` and then have that tested code appear in the docs as we want.

[2022-08-26 21:21] ARSanderson commented on #17461
Initially, my thought leads to thread terminology.

- Manager/worker
- Supervisor/worker

But no strong thoughts.

[2022-08-26 22:41] markcmiller86 opened #18034 "Text annotation objects might need to behave more like legend annotation objects"
### Describe the bug
1. Create 3 different databases from arbitrary but distinctly different subsets of the `waveXXXX.silo` files.
2. Put up PC plot of `pressure` from `waveA.silo` and Mesh plot from `waveB.silo`
3. Draw plots
4. Add text annotation for `$time` and confirm it displays time of first database of first plot in plot list
5. Change order of plots in plot list and watch value for `$time

[2022-08-27 23:27] markcmiller86 commented on #18034
I think what we need is a *printable form* way of identifying plots. Currently, plots are identified by and large within a VisIt session as an index into a list of plots. But, because plots are added and deleted and can even be re-ordered in the plot list, an *index* into the list is an unreliable way to identify a plot.

We could compute a hash of all *relevant* stuff that goes into a plot...the

[2022-08-29 16:11] cyrush opened #18039 "visit_launcher python module?"
proposal:

For importing visit into python -- instead of two stage import for the `visit` , we should move to:

* a `visit_launcher` module for the cases where you want to select a specific version of visit
* `visit` just being a specific version of the CLI.

This way we don't need to double load `visit` and end up with confusion about what aspects are available when.

The current setup is straine

[2022-08-29 18:14] brugger1 commented on #17947
Resolved in #18037.

[2022-08-29 18:14] #17947 closed, assigned to brugger1

[2022-08-29 20:34] bfovet opened #18040 "Export plot to render in Latex doc"
I'd like to export a plot - 2d or 3d - to embed it in a Latex document. I have seen publications where the plot is clearly made with VisIt but rendered nicely for Latex, and I haven't been able to find a way to reproduce those kind of plots. How could I do it ?

[2022-08-29 22:57] JustinPrivitera opened #18041 "Once Visit uses conduit 0.8.4, correct band-aid in x ray query"
https://github.com/visit-dav/visit/blob/develop/src/avt/Queries/Queries/avtXRayImageQuery.C#L1354

See the comment in the code. Now that the conduit bug is fixed, we can go back and remove this extra code.

[2022-08-30 19:02] #5178 closed, assigned to cyrush

[2022-08-31 06:49] HIT-CFD-group opened #18049 "How to change the X-axis of curve from Query over time."
### Describe the bug
1.My X-axis seems be zero when I set X-axis in _Query over time options_ as time and cycle, but timestep is ok.
2.I hope my X-axis is not timestep but the normalized time obtained by multiplying the time step and other parameters.  How should I get it in proper way?

**Helpful additional information**
 - Did VisIt crash: no
 - Did you get wrong results: yes

### Attachments
Th

[2022-08-31 23:48] biagas commented on #18032
Did you build with VTK 9 or VTK 8 ?

[2022-09-01 12:51] demarle commented on #18032
I built with VTK 9, and more specifically the VTK that was constructed via the build_visit script from the visit develop branch.

thanks

[2022-09-01 14:27] biagas commented on #18032
Here's what the Volume Plot window looks like when I build develop against VTK 9 and OSPRay 2.8 .

![volumePlotAtts](https://user-images.githubusercontent.com/17075318/187938168-8882a18e-0340-466d-972f-713b2f2cc7c3.PNG)

Is your build of VisIt a completely new build?  Are you using OSPRay 2.8? It should have been built automatically when vtk9 was chosen during build_visit. Did your host profile ge

[2022-09-01 15:31] biagas commented on #18049
If you enable  'Try harder to get accurate cycles/times`,  from the Options->Preferences window, do you get better results? If your databases is already open when you enable this preference, you will need to reopen it.

![tryHader](https://user-images.githubusercontent.com/17075318/187952692-b03a4b0e-18fa-46b4-b8fd-be0487460443.png)

[2022-09-01 18:16] demarle commented on #18032
Thanks again.
The issue I think I see is that in the "Rendering Method" pulldown above I don't see "*OSPRay* in one of the alternative options to "Serial Rendering".
In 3.3.0 there was.
![image](https://user-images.githubusercontent.com/445592/187983877-00c683a5-45fb-4d03-a627-cef0103ddfec.png)

[2022-09-01 18:19] biagas commented on #18032
The OSPRay rendering for VTK 9 is now available in the Serial or Parallel method when you enable OSPray for either of those methods.
You would have to ask @ARSanderson how they differ from the 'Ray casting: OSPRay' option.

[2022-09-01 18:32] demarle commented on #18032
Ah that is right. I do recall that OSPRay volumes are now funelled through the render pass.

However, with "Serial Rendering" selected above, when I enable OSPRay for the whole scene via Options->Rendering->Advanced->"OSPRay Rendering", and apply, the bounding box is OSPRay renderered, but the volume disappears.

Perhaps the bug is that VTK/Rendering/RayTracing/vtkOSPRayViewNodeFactory needs a new

[2022-09-01 18:53] biagas commented on #18032
This problem sounds like something Alan noticed, it was happening for him only with certain datasets.
He tried to make note of everything and create issue tickets, but I'm not certain that everything made it in yet.
VTK 9 support is still considered experimental and definitely not complete at this point in time.
Feel free to document any problems you encounter so we don't lose track. Add VTK-9 to

[2022-09-02 08:11] HIT-CFD-group commented on #18049
Hmmm..It's still not ok after I enable the option.

[2022-09-02 08:16] HIT-CFD-group commented on #18049
https://drive.google.com/file/d/17DikyBr2XGQuT9zNJiE8hVQM0fpfaZos/view?usp=sharing
Here is the data.

[2022-09-06 16:19] biagas opened #18056 "Incompatibility between build_visit nektar++ version (5.0.0) and VisIt's find module."
### Describe the bug
I ran build_visit with --all-io, which enabled nektar++.
When I tried to build VisIt with the build_visit-generated host.cmake file, configure failed on Nektar++.
Looks like FindNektar++.cmake is possibly for 4.4 version with commented-out sections for 5.0.0.

**Helpful additional information**
CMake's configure for VisIt failed.

### To Reproduce
Attempt to compile VisIt agai

[2022-09-06 20:07] #17686 closed, assigned to cyrush, JustinPrivitera

[2022-09-06 21:44] biagas commented on #18049
Thank you for the sample.
I looked at the root files and a few individual files using Silo's silex tool.
'cycle' is defined as a variable, but it is always 0.
'time' is not defined, nor is 'dtime' (either of which is valid for defining time in the Silo file).
That is why 'Try harder to get accurate cycles/times' didn't help for the query-over-time.

For a query-over-time to use Cycle or Time as th

[2022-09-06 22:38] brugger1 commented on #18010
We expect to have VTK 9.1.0 support in 3.4.0.

[2022-09-06 22:55] markcmiller86 commented on #18023
* @biagas observed that we probably don't do anything special to filter out zero vectors and could perhaps wind up in a situation where the default behavior of plotting 400 vectors could wind up selecting randomly 400 zero vectors even though the full dataset contains a lot of non-zeros and wind up telling the user, falsely, the plot yielded no data.
* We believe that the VTK glyphing logic may be

[2022-09-06 23:12] markcmiller86 commented on #18023
In looking at [vtkGlyph3D](https://vtk.org/doc/release/5.4/html/a00651.html#_details), it looks like you can define more than one glyph type to use for the object, indexed by vector magnitude ranges. So, we could define a sphere or box for zero magnitude vectors and a *normal* vector glyph for everything else. That might fix this behavior.

[2022-09-07 00:13] markcmiller86 opened #18059 "Begin HDF4 plugin retirements by disabling in builds"
It looks like nobody is using [HDF4 plugins](https://github.com/visit-dav/visit/discussions/18028) and we are free to retire them.

@biagas had the great idea of simply disabling them in new builds with the goal of eventually removing them entirely. For now, this can be achieved by disabling the `--hdf4` option in `build_visit` and removing refs to hdf4 plugins in `src/databases/CMakeLists.txt`

H

[2022-09-08 16:15] JustinPrivitera commented on #17921
This work is complete for 3.3.1.

Additional work needs to be done on develop so I will change the milestone to 3.4.

[2022-09-08 16:21] #18040 closed, assigned to nobody

[2022-09-08 16:27] brugger1 commented on #18049
We should print out an error message when either all the times or cycles are zero and the user requests using time or cycle instead of creating a vertical line.

[2022-09-08 16:32] brugger1 commented on #18056
We should either fix the find module or remove Nektar++ from `--all-io`. The latter should be trivial, the former is more work.

[2022-09-08 16:34] brugger1 commented on #18059
For 3.3.1 we can just disable `--hdf4` in build_visit. The actual removal of the code can happen in 3.4.0.

[2022-09-09 16:26] cyrush opened #18065 "linking error with avtMfem"
### Describe the bug

[code]

@JustinPrivitera FYI: These are the kind of things we don't see on Linux, but will see on macOS and Windows. (they are things I missed)

@biagas are these the issues you hit on Windows?

I also hit an include issue. I will put up a PR for that into the RC.

### To Reproduce
### Desktop
 - OS and version: macOS 15
 - VisIt Version: 3.3RC (working towards 3.3.1)
 - Serv

[2022-09-09 17:53] JustinPrivitera opened #18067 "File Open Window Resizes Too Large"
![Screenshot (65)](https://user-images.githubusercontent.com/35237779/189414001-188660f1-fb77-4f8b-8a97-1c8cd8db86ab.png)

I have files that live far away down a large path; when I reopen the file open window it resizes to accommodate this and is much too large.

[2022-09-09 18:14] biagas commented on #18065
This should have been fixed with my merge last night. #18062

[2022-09-09 18:15] biagas commented on #18065
But I didn't put my changes on RC yet. (The CMakeLists.txt changes have VTK9 support that shouldn't go on RC).

[2022-09-09 18:41] biagas commented on #18065
avtblueprint needs to link with mfem, and both avtmfem and avtblueprint need to link with visitcommon.

[2022-09-09 19:40] cyrush commented on #18065
Thanks! I can get them on RC, sound good?

[2022-09-09 19:43] biagas commented on #18065
Yes, thanks!

[2022-09-10 00:34] #17569 closed, assigned to biagas

[2022-09-11 17:45] tagardiner opened #18072 "Visit 3.3.0 Mac dmg has libsimV2 built for x86_64 on arm64 arch"
### Describe the bug
I'm attempting to link a simulation code with libsimV2 on a mac (OSX 12.5.1 Monterey with M1 Pro arm64 processor) and the link stage fails with an error saying that the libraries are built for macOS-x86_64

**Helpful additional information**

Linking with the static library

gcc -o simcode < list of .o files> -lm -L/Applications/VisIt.app/Contents/Resources/3.3.0/darwin-x86_64

[2022-09-11 18:43] ARSanderson commented on #18032
OSPRay volume is an option of the serial/parallel rendering. It is no longer a separate rendering type.
OSPRay surface rendering is the same as before via the Options->Rendering->Advanced->"OSPRay Rendering."

I notice volumes not being rendered in certain circumstances with the serial rendering. I am not sure I made it an issue.

[2022-09-12 16:18] brugger1 commented on #17948
Here is an e-mail I got about missing variables in VisIt from a mili database.

Hi Eric,

Recently, I have been using makemili_driver to convert the DYNA3D results and read in VisIt, there are some variables missing though, such as the contact reaction forces/moments of the sliding interfaces (con_forx/y/z, con_momx/y/z). Can those variables be added to VisIt?

Thanks,
Rosita

[2022-09-12 17:00] markcmiller86 commented on #17948
Surely they can but I think the question is *where* they should be added? I mean, which piece of code in the workflow is responsible for adding them? I don't think anything in VisIt is. We definitely **do not** want to add expressions to our mili plugin. We've been down that path in the past. The right answer is for something upstream of VisIt to add them. Probably in the `makemili_driver` and/or

[2022-09-12 17:16] JustinPrivitera commented on #17948
@brugger1 uh oh! What should I do? Luckily I'm still waiting to hear back from Kevin with my questions so I haven't made any big changes yet.

[2022-09-12 18:35] durrenberger1 commented on #17948
So those are material based parameters.  If Rosita is used to typing "show con_momx" she may not realize the path through the menus is Primal/mat/con_momx.  I see all of these variables in Visit and Griz.

[2022-09-12 19:54] biagas commented on #18005
@cyrush Is there any example of `Flatten / Partition extra options` that is more involved than `"target":1`' as used in blueprint_export.py?

[2022-09-12 20:05] #18056 closed, assigned to biagas

[2022-09-12 21:07] durrenberger1 commented on #17948
I do not think there is anything that needs to be done for Rosita's last email. Was there another question that I missed?

[2022-09-12 21:26] JustinPrivitera commented on #17948
@durrenberger1

I sent you an email, but here is the email body for easy reference:

In the [ticket](https://github.com/visit-dav/visit/issues/17948) I opened for the missing derived variables, I used the text from your powerpoint, which said volumetric strain and relative volume derived variables were missing. In looking at the code you sent me in strain.c line 2200, that function appears to calc

[2022-09-12 21:42] brugger1 commented on #18005
Here is some working python code that sets multi-line extra options. You would need to enter those through the gui to see the failure.
[code]

Here's what it would look like in the blueprint export options.

![image](https://user-images.githubusercontent.com/1102718/189763776-b1109c37-f759-42b0-ac0e-7b77415d5d1e.png)

[2022-09-12 21:46] JustinPrivitera commented on #17791
3.3.1 deliverables have been completed so I am changing the milestone to 3.3.2.

## Features for 3.3.2
### Docs:
- [x] documentation for the blueprint metadata
- [x] docs for imaging plane topos - #18327
- [x] docs for energy group bounds - #18327
- [x] docs for units
- [x] docs for rays - #18398
- [x] docs reorg - #18327
- [x] document spatial extents coordset and why there are duplicates of the

[2022-09-12 21:50] biagas commented on #18005
Thanks!

[2022-09-12 23:20] biagas commented on #18005
It seems that initial entry of the `Flatten / Partition extra options` into the gui works.
Upon subsequent use of the Export, the previously entered options are displayed as a single line.
Is that the only issue with the gui portion of this ticket?

According to this [Qt Forum thread](https://www.qtcentre.org/threads/46138-QTextEdit-not-display-new-line-characters), QPlainTextEdit is suggested for

[2022-09-12 23:27] markcmiller86 commented on #18005
Hmmm...I don't think so. Have a look at #18008? Either I am totally missing the implementation of `MultiLineString` or I think it is missing a lot of stuff and we are just getting lucky with embedded new-lines.

[2022-09-12 23:31] brugger1 commented on #18005
I couldn't get multiple lines to work in the GUI at all. I could only get it to work with the CLI. Maybe I had some minor error in my yaml. I also observed the collapsing into a single line when used a second time.

[2022-09-12 23:35] JustinPrivitera commented on #17948
@durrenberger1 not sure if I successfully tagged you in the last comment

[2022-09-12 23:37] biagas commented on #18005
@brugger1, I took your example and removed all whitespace except the newlines, so it appeared like this:
[code]
This did not work. There had to be the correct 'spacing' or 'indents' at the beginning of each line, too.

[2022-09-12 23:42] markcmiller86 commented on #18005
Yeah...thats because yaml syntax and parsing *uses* spacing and newlines. Json doesn't.

But, like @cyrush remarked in a recent proj. meeting, its unyieldly to manage either yaml or json without also having embedded newlines and indentation. @brugger1 python example works because Python's literal string operator `"""` makes it easily possible.

[2022-09-12 23:44] biagas commented on #18005
@markcmiller86

As for 'MultiLineString' being implemented as string everywhere in VisIt, I don't see that as a problem *unless* there is another place in VisIt  (besides the dialog) where the newlines aren't being preserved.

I think MultiLineString was only introduced to handle the widget creation in the GUI, to allow for a multi-line text widget, instead of just the single line 'QLineEdit' used

[2022-09-12 23:45] brugger1 commented on #18005
Ok, just tried again with the correct indents and it worked. I thought I had the correct indents when I tried it earlier. Clearly, operator error.

[2022-09-12 23:50] biagas commented on #18005
There is a setting in QPlainTextEdit for tab-stop distance (but it is in pixels).  With our widget the tab stop distance is fairly large, I can try setting it lower than default. But are tabs allowed for our use-case?

[2022-09-12 23:51] markcmiller86 commented on #18005
And there was no way to do that other than wholesale duplicating (not even using pre-processor macros but cut-n-paste duplicating) everything we already had for `String`? Nor a comment anywhere in the MultiLineString implementation that thats why it looks the way it does?

Is there no way to support some kind of a (some might call hackish) conventional naming of string arguments that are supposed

[2022-09-13 00:10] brugger1 opened #18080 "VisIt, system Python incompatible when using matplotlib."
Nickolai reported that the following doesn't work on quartz. When he removes the `import matplotlib` line, it works.
[code]
Here is the error message.
[code]
Somehow `matplotlib` is causing the `libstdc++.so.6` from the default compiler 4.9.3 to be loaded instead of the 7.3.0 one we specified.

[2022-09-13 00:14] brugger1 commented on #18005
I agree with @markcmiller86, we want a fixed width font here. We don't need tab support. Tabs are evil!!!

[2022-09-13 00:40] durrenberger1 commented on #17948
Sorry,  I got tied up with some other thing.  I will take a look later tonight.

[2022-09-13 00:46] markcmiller86 opened #18081 "Dependabot alert from obsolete jquery code"
We have [this dependabot alert](https://github.com/visit-dav/visit/security/dependabot) which appers to me to be related to code we no longer use. Maybe best solution is to just remove the offending jquery code?

[2022-09-13 00:50] markcmiller86 commented on #18081
Actually, I am wrong. We use that code when it gets copied over to our testing dashboard. So, we have [two repos](https://github.com/advisories/GHSA-579v-mp3v-rrw5/dependabot) with this issue.

[2022-09-13 01:21] markcmiller86 commented on #18081
Ok, I think I understand this issue better now than I did last time I *fixed* it. We use some JQuery code within `<script>`/`</script>` tags in our HTML for the test dashboard to support some features of those pages like sorting the top-level table by column and hover-toggling current and baseline image results on a test results page.

The script `jquery-latest.js` was intended to handle downloadi

[2022-09-13 13:53] durrenberger1 commented on #17948
@JustinPrivitera . Hey, so there are 2 different derived variables calculated here.  Volumetric Strain(evol)  is the log calculation.  Otherwise it is the Relative Volume(relvol). The relative volume is calculated either way with the log calculation done if the user chose evol.

The switch vol_strain is set on line 2231.

[2022-09-13 16:07] brugger1 commented on #17948
@durrenberger1, here is what I got from Rosita. My first thought is she using the correct makemili_driver? That would probably correspond to the one from VisIt 3.1.4.

I didn’t see it from Visit. I ran /usr/gapps/visit/bin/makemili_driver to convert the paradyn results, but I didn’t find the contact forces.

I tried that on 3.3 and 3.1.4.

![image](https://user-images.githubusercontent.com/1102718

[2022-09-13 16:25] markcmiller86 commented on #17948
I don't see any `Primal/mat` submenu in @brugger1 posted image, above, at least for scalar data.

[2022-09-13 16:27] #17951 closed, assigned to JustinPrivitera

[2022-09-13 16:46] biagas commented on #18005
I can set the 'tabChangesFocus'of the widget to true, which will prevent user entering tabs in the widget altogether. If they do enter a tab, the widget will lose focus.  What do you think?

[2022-09-13 16:49] brugger1 commented on #18005
That sounds reasonable to me.

[2022-09-13 17:15] #17970 closed, assigned to JustinPrivitera

[2022-09-13 17:34] durrenberger1 commented on #17948
I ran the /usr/gapps/visit/bin/makemili_driver on one of our test problems and indeed it did not create the material variables in the .mili file.  I built makemili_driver from our repo and it generates the material variables.  I have added an output line with the version and date to the beginning of the run to help us identify the current makemili_driver is being used.  I have pushed out this vers

[2022-09-13 17:47] #17841 closed, assigned to biagas

[2022-09-13 18:48] brugger1 commented on #17948
@durrenberger1 I just heard back from Rosita and it still doesn't work. Any ideas on what else could be going wrong. Here is her e-mail.

I just tried the one in mdg directory, but I still didn’t see the variables for the contact forces in Visit (3.3 or 3.1.4).

![image](https://user-images.githubusercontent.com/1102718/189985229-a48eb97e-d076-4fd9-ac66-ffc3fef68528.png)

![image](https://user-ima

[2022-09-13 18:51] durrenberger1 commented on #17948
I will contact her.

[2022-09-13 20:18] biagas commented on #18005
@markcmiller86
I have set the Font for the widget to be 'Courier', which is a Fixed-width font. It should be available on all platforms, right?

[2022-09-13 20:33] brugger1 commented on #18005
I would expect 'Courier' to be available everywhere.

[2022-09-13 21:38] JustinPrivitera commented on #17948
Hi @durrenberger1

I am trying to understand what is happening with this calculation. It looks to me like the other strain calculations fill an array called `strain` of length 6 for every element. It seems as though the volumetric strain and revolved volume calculation does not do this. This is in line with `extract_strain_vec` on line 1096 in strain.c, which has no entry for volumetric strain cal

[2022-09-13 22:00] markcmiller86 commented on #17699
Some new observations to report here.

* First, the *dashboard* repo is > 8 Gigs in size at this point. The 1Gigabyte limit referenced above is for the *generated* site, not the repo.
* Next, if we choose NOT to do any site-gen at all (e.g. no gh-pages site) and instead just browse via markdown, we loose some functionality like sorting tables by columns. I don't think we want to do that. So, I con

[2022-09-13 22:42] griffin28 opened #18087 "Add NSight Systems to the Internal launcher"
Add Nsight Systems to the internal launcher to analyze a VisIt component's (viewer, gui, engine_ser, etc) performance system-wide.

[2022-09-13 22:47] biagas commented on #18065
Fixed by #18086

[2022-09-13 22:47] #18065 closed, assigned to biagas

[2022-09-13 22:48] brugger1 commented on #18072
The root issue is that we don't have an arm build of VisIt. Once we do that then you can build VisIt for arm and then use that libsimV2 with your simulation. We have a ticket for this.

[2022-09-13 23:52] biagas commented on #17954
See #17008 for why command recording of  ExportDatabase is disabled (logging causes a crash).

[2022-09-14 01:05] #18005 closed, assigned to biagas

[2022-09-14 01:49] markcmiller86 opened #18090 "Constructive correction workaround for blank viewer window on macOS"
### Describe the bug
On macOS, many users have reported that when they go to plot something, the viewer window remains blank as when VisIt first launched but that something cuasing a *refresh* (e.g. resize) triggers everything to display.

This issue is about finding a simple bit of code injection somewhere in the viewer that causes this to happen automagically as a precaution against this continu

[2022-09-14 02:59] markcmiller86 opened #18091 "Mili plugin doesn't use initial nodal positions correctly."
### Describe the bug
The Mili plugin does attempt to get *initial* nodal positions from Mili via `mc_load_nodes` but it winds up favoring `nodpos` results data when those are available. These are not the same. And, it effects VisIt's ability to compute displacements.

[2022-09-14 03:19] tagardiner commented on #18072
Thanks @brugger1 - out of curiosity then, how in the world does this work?  I know, it sounds like a silly question, but is there some sort of emulator running to interpret x86 code on my arm64 laptop?

Also, thanks for pointing out that there's an open ticket for building VisIt on arm.  I tried building it yesterday and ran into all sorts of challenges.