[2022-09-14 18:29] JustinPrivitera commented on #17948
Also @durrenberger1, where do you want these derived vars to be available? Should volumetric strain live under "Derived/shared/strain". And where should relative volume live? Just "Derived/shared"?

[2022-09-14 18:56] durrenberger1 commented on #17948
@JustinPrivitera  The function extract_strain_vec is creating the array eps from F(deformation gradient)  The calculated value from eps is used to assign a value to the element starting at line 928 depending on what was requested.  The values should be rendered to the element.

As to where to put them.  It is dependent on whether the derived value is being applied to more than one type( i.e. brick

[2022-09-14 19:11] cyrush commented on #18072
@tagardiner Correct, macOS will magically let you run intel-based apps on their arm systems. (I think Apples name for the emulation layer is called Rosetta 2)

However, linking arm compiled code with intel compiled code isn't part of that magic.

It might be possible using cross compiling flags, but to test we would need ARM mac to find the way (and for that case we plan to release an arm native v

[2022-09-14 23:00] JustinPrivitera commented on #18004
Additional info: Also will crash b/c I create `\tmp\baddir` and windows is not a fan.

[2022-09-14 23:13] #18087 closed, assigned to griffin28

[2022-09-15 00:01] biagas opened #18094 "Eliminate client dependence on local db plugins"
### Is your feature request related to a problem?
From Discussion #18092, a customer wanted to use a private plugin on a remote machine that had been built against a public install of VisIt.

The FileOpen dialog showed that the custom plugin was available, but VisIt never tried to use the custom plugin when opening the file.

This seems like it should be possible from the GUI, since it is possible

[2022-09-15 00:14] markcmiller86 commented on #18094
One question...why are we doing *anything* with plugins on *local* machine. Its only the machine where mdserver and engine run that the should specify the list of plugins.

I think this question of *where* (client-local or server-remote) we do things crops up in a few different places...pretty much any time we're interacting with the file system. Is there a general model for how to do this that is

[2022-09-15 03:49] JustinPrivitera commented on #17948
@durrenberger1

I'm looking at our variables when we open a mili file... we have no "Derived/shell". Should we create that for this purpose?

Here's my understanding/idea of the cases:
1) _we have bricks and shells:_ then relative volume and volumetric strain both go under "Derived/shared"
2) _we don't have bricks or shells:_ both new vars go under "Derived/shared"
2) _we have bricks only:_ both n

[2022-09-15 16:12] brugger1 commented on #17945
I spoke with Nickolai and explained to him if he adds the material variable to the list of variables to display he can get it to do what he wants.

[2022-09-15 16:12] #17945 closed, assigned to brugger1

[2022-09-15 17:50] JustinPrivitera commented on #17948
@durrenberger1 Do you know if relvol and evol would ever be in a mili file? Do we always have to derive them?

[2022-09-15 18:06] durrenberger1 commented on #17948
I would say mostly correct.
#2 If there are no classes the have the derived variable as an option then no path is created.  You would not show the derived variable to the user.

You should be checking all derived variables for shared classes.  I think you do in the plugin, but I did not check.  Many derived variables can be computed on multiple classes of elements.  I was just using shell and bric

[2022-09-15 18:09] durrenberger1 commented on #17948
@JustinPrivitera I do not know of anyone in our area that put out relvol or evol currently.  It does not preclude them from doing so though.  If they do then they would select the primal from the Primal menu and could still select the Derived from the derived.

[2022-09-15 18:44] JustinPrivitera commented on #17946
Zone ID's will be hard, so we are putting off for now. The node ID's are potentially more manageable, although changes to the mili plugin seem to have no effect.

Pick the red one! It corresponds to element 96 on line 4056 in `ingrido.dyna`. Compare the incident node values in visit with those on that line in the file.
![Screenshot (66)](https://user-images.githubusercontent.com/35237779/190483924

[2022-09-15 19:02] JustinPrivitera commented on #17946
I have done a `give` on LC to @brugger1 and @biagas with the input files. Here is an additional image with more details of the problem:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/35237779/190487749-6ae2defa-3f34-4e68-a14f-a0eb116fd749.png)

[2022-09-15 19:20] biagas commented on #17946
@JustinPrivitera  can you try this modified avtPickQuery.C ?
It will take me awhile to get up and running on the system.
[avtPickQuery.zip](https://github.com/visit-dav/visit/files/9578340/avtPickQuery.zip)

[2022-09-15 19:35] #18091 closed, assigned to markcmiller86

[2022-09-15 20:41] biagas commented on #17946
My build finished faster than I thought, I am trying it out now.

[2022-09-15 20:48] biagas commented on #17946
Result of the pick after I made changes to account for nodeOrigin in avtPickQuery. It looks like the Incident nodes have been reported correctly.

[code]

[2022-09-15 20:52] brugger1 commented on #17946
Woohoo!!! Thanks a lot for jumping on it! That partially resolves the ticket. I believe the other part will be more difficult.

[2022-09-15 22:55] JustinPrivitera commented on #17946
@biagas Sorry I didn't get to this earlier... was eating lunch and then prepping to drive out to the office. Do you want me to open a PR for this? Or were you planning to? Thanks!

[2022-09-15 22:59] biagas commented on #17946
@JustinPrivitera I haven't created a PR for this yet, I was waiting for regression test results.
There are differences in the PickMili  test.  Some of the diffs don't make sense (eg number of incident nodes got reduced in some places).  I guess we can commit and fix the regressions later ??  I will leave it for you and @brugger1 to decide since I will be off work tomorrow.

[2022-09-16 00:03] brugger1 commented on #17946
Let's wait for a pass of the test suite tonight and then explore the PickMili test differences tomorrow.

[2022-09-16 00:06] JustinPrivitera commented on #17946
Sounds good.

[2022-09-16 06:12] TorryZeng opened #18103 "cannot find a compute engine"
I have install VisIt 3.1.2 on local home in linux. I would like to visualize Uintah data which is deposited already. since both the Visit and data are in local folder in linux, localhost is selected in open file options. File--->open file--->localhost--->apply. when I add a plot to visualize the data, it pops up "
The compute engine running on XXX.local has exited abnorally.
Shortly thereafter, th

[2022-09-16 18:52] JustinPrivitera opened #18109 "Add tests for mili derived variables "relative_volume" and "volumetric_strain""
These variables could use tests! See #17948.

[2022-09-16 21:41] brugger1 commented on #18080
@cyrush suggested moving
[code]
before the other imports. I tried that and it fixed it.

Here is the corrected script.
[code]

[2022-09-16 21:41] #18080 closed, assigned to brugger1

[2022-09-17 00:16] cyrush opened #18112 "VisIt 3.1.4 Unexpcted Message?"
### Describe the bug

Open DB and see:
[code]

Should we remove info about 2.12.3 and 2.13?

And are we in OK shape now with respect to this behavior.
I haven't checked for 3.3.0, we should.

**Helpful additional information**
 - Did VisIt crash:
 - Did you get wrong results:

### Desktop
 - OS and version: toss3
 - VisIt Version: 3.1.4
 - Server info (if applicable):

### Additional context
Add a

[2022-09-19 17:26] #18041 closed, assigned to cyrush, JustinPrivitera

[2022-09-19 17:28] #17806 closed, assigned to brugger1

[2022-09-19 20:30] #17948 closed, assigned to brugger1, JustinPrivitera

[2022-09-19 20:51] JustinPrivitera commented on #17946
The node ID fix is done for 3.3.1 in #18111
It is being merged with develop in #18115

The zone ID fix still needs to be done. I will change the milestone to reflect that.

[2022-09-19 21:49] brugger1 commented on #17789
Resolved in #17998, #18011

[2022-09-19 21:49] #17789 closed, assigned to markcmiller86

[2022-09-20 20:33] biagas opened #18123 "qtviswinExample needs an option to specify location of data file"
### Describe the bug
qtviswinExample attempts to open a data file from '/usr/gapps/visit/data' which doesn't exist on Windows.

It should have a command-line option allowing user to specify location of 'rect2d.silo' so that  it can run on Windows.

### Desktop
 - OS and version: Windows
 - VisIt Version: 3.3, develop
 - Server info (if applicable):

[2022-09-21 21:17] brugger1 opened #18125 "Moab 5.3.1 build fails on kickit."
I ran build_visit on kickit to build the latest moab and it failed. Here is the output.
[code]

[2022-09-21 22:09] markcmiller86 commented on #18125
Ok, hold off on going further. I am trying to get onto ANL systems to build with newest MOAB there and will likely work out these wrinkles.

[2022-09-21 22:16] markcmiller86 opened #18128 "Consider remaining two items for community standards"
We check all but two boxes in [GitHub's community standards](https://github.com/visit-dav/visit/community). Should we work to complete the final two items? The code of conduct might be as simple as adopting a common standard. I am a bit confused on the other item about `Repository admins accept content reports` but I think it means, minimally, we're making a promise to be responsive to such report

[2022-09-22 15:49] markcmiller86 commented on #18081
Ok, I've done a partial correction here.

* In our `dashboard` repo, I changed all copied instances of `jquery-latest.js` to be symlinks to `jquery-3.6.1.min.js` (the  current release of JQuery core) and then copied `jquery-3.6.1.min.js` everywhere (~980 copies) there to be peer to `jquery-latest.js`. This allows us to remove the offending code but not have to go change all the html files which re

[2022-09-22 15:49] #18081 closed, assigned to markcmiller86

[2022-09-22 16:36] biagas commented on #18004
Re: `os.remove` on Windows, we are using similar (`os.unlink`) in other tests with success, so something in the xrayimage test isn't releasing the file handle.

I notice in `test_bp_state` a call to `conduit.relay.io.blueprint.load_mesh`.  I assume this is some sort of 'read the file' method, is that correct?  Is there a way  in conduit to 'unload' or 'close' the file that was read?

[2022-09-22 17:15] biagas commented on #18004
I commented out call to `test_bp_state` and `os.remove(conduit_db)` still raises exception.

Other tests where we create temp files, call OpenDatabase() ... CloseDatabase(), os.unlink(temp file) work. (See plaintext.py). Makes me think either the XRayImageQuery that creates `conduit_db` or the DBPlugin isn't closing things /releasing file handles properly for Windows.

[2022-09-22 17:25] JustinPrivitera commented on #18004
That's right. @cyrush is there a proper way to 'unload' or 'close' the file? Or does it get cleaned up by falling out of scope?

[2022-09-22 17:27] JustinPrivitera commented on #18004
Does this mean that we can replace `os.remove` with `os.unlink` and all will be well?

[2022-09-22 17:52] biagas commented on #18004
No, they are essentially the same functions.

[2022-09-22 17:54] JustinPrivitera commented on #17832
I'd like to mention that having two flavors of color tables has lead to considerable headache with implementation. :(

[2022-09-22 18:01] markcmiller86 commented on #17832
I am fairly certain we don't need two flavors. At the end of the day, a color table is nothing more than a list of colors (and possibly `opacities`, and possibly `positions` in the range `[0,1]`) Thats all a color table is. Whether the colors from that table are interpolated (continous) or not (discrete) has to do with how the color table is used in any given context.

[2022-09-22 18:01] biagas commented on #18004
I added an endless loop right after the first call to `CloseDatabase(conduit_db)`.
When the test reached that loop, I used ResourceMonitor to find out which process was still using `output.cycle_000048.root`, and it was mdserver.

[2022-09-22 18:09] markcmiller86 commented on #18004
If VisIt closed the database, this is wierd. That the engine didn't have it still in use says it is *possible* for the file to be released (e.g. closed). Did mdserver somehow get hung? Is there `#ifdef MDSERVER` logic in the plugin that is perhaps incorrectly bracketing the close?

[2022-09-22 20:35] #17921 closed, assigned to JustinPrivitera

[2022-09-22 20:59] #18109 closed, assigned to JustinPrivitera

[2022-09-22 22:16] JustinPrivitera commented on #17800
There ought to be a button in the gui to favorite a color table, and a button to display only favorites. Both these tasks could be done manually with the tag editing and tag filtering, but this would be a shortcut.

[2022-09-22 22:30] JustinPrivitera commented on #1237
@brugger1 Can I mark this as completed? I don't know if we got the extra color tables from 2012 that are mentioned in the ticket, but we do now have a better way of organizing the increased volume of color tables. Color tables that are external to visit also get the `User Defined` tag automatically assigned when they are read in.

[2022-09-22 22:33] JustinPrivitera opened #18136 "Remaining Color Table Window Enhancements"
This ticket is meant to organize work on enhancing the color table window, assorted windows, and behind-the-scenes machinery. New items will be added here periodically.

### Features
- [x] #17800
- [x] #17797
- [ ] #17804
- [ ] #18137
- [x] #18444
- [x] #18457
- [x] #18490
- [ ] #18618
- [ ] #18690
- [ ] perhaps we add remarks associated with a color table, like "This color table is designed for f

[2022-09-23 03:05] markcmiller86 commented on #17832
### Some observations

From a set of `K` color *control points* (rgb + alphas/opacities + positions in [0,1]) we define `N` colors.

When the table is discrete, `N=K` and the colors in the tabel are 1:1 with the control points. When the table is continuous, `N` is 256 and `N` colors are interpolated among the `K` control points. For a discrete color table, the *positions* are implied and are unifo

[2022-09-23 03:33] markcmiller86 commented on #17832
From the above, color tables are just lists of color control points which have names (and now tags to help sort among the many possibilities).

When a table is used in a plot, a handful of additional questions arise in how those color control points are ultimately used to color the plot. I wonder if this handful of additional questions represents an intermediate level control object in the interfa

[2022-09-23 11:56] markcmiller86 opened #18137 "Improve color table creation controls"
### Is your feature request related to a problem?
No user has requested this but I did encounter the need for it it using our color table interface to design a table meeting the goals of [numerically controlled coloring](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/using_visit/MakingItPretty/Color_tables.html#numerically-controlled-banded-coloring)

One aspect of color table c

[2022-09-23 12:25] markcmiller86 commented on #18137
Note, all of the above is currently achievable, inconveniently, with calculator and editing of xml files or by writing some python code that does same ops on a color control point list object. So, this just represents an improvement in the GUI.

[2022-09-23 17:51] JustinPrivitera commented on #18137
[Here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/python_scripting/quickrecipes.html#working-with-color-tables) is where we explain how to do this in python, as you mentioned.

[2022-09-23 18:18] #1237 closed, assigned to nobody

[2022-09-23 21:36] JustinPrivitera commented on #167
We have no plans to make VisIt check for new color tables in the `~/.visit` directory while it is running.

[2022-09-23 21:36] #167 closed, assigned to nobody

[2022-09-23 21:37] JustinPrivitera commented on #1237
While we may or may not have gotten the color tables from 2012, we do have a way of organizing large numbers of color tables using the tagging system.

[2022-09-26 18:34] JustinPrivitera commented on #18004
possibly relevant? #18147

[2022-09-26 21:04] biagas opened #18150 "Config-site housekeeping"
I believe these config-site files are obsolete and should be removed (or updated), based on their gcc versions and/or VTK version:

- [x] ash1.cmake -- gcc 4.9

- [x] bart.lbl.gov.cmake: VTk 6

- [x] beetlehunter.cmake: machine no longer exists

- [x] blackrock.engr.utk.edu.cmake: vtk 6
- [x] blackrock_client.engr.utk.edu.cmake: vtk 6

- [x] bumblebee.cmake: gcc-4.8, vtk 6

- [x] carver.nersc.gov.

[2022-09-26 23:36] JustinPrivitera opened #18152 "X Ray Image Query BMP output type does nothing"
When a user selects `bmp` as their output type from the x ray image query, VisIt will lie to them and tell them that their output was written to file, when in reality it did not such thing. No files are written for the `bmp` output type.

The following are results from my script which runs the x ray query requesting a `bmp` output and then a `png` output. It also runs `ls` on the output directory

[2022-09-27 18:42] JustinPrivitera opened #18154 "build_visit fails to download ospray"
`build_visit` fails to download ospray.

`build_visit` invocation:
[code]

Output from `build_visit_log`:
[code]

This `build_visit` script was created using the latest version on develop:
[code]

[2022-09-27 18:47] biagas commented on #18154
It's is due to cmake being built without ssl support. #17927

[2022-09-27 18:51] JustinPrivitera commented on #18154
Ahh ok. I'll close this issue then.

[2022-09-27 18:54] biagas commented on #18154
Sorry for my possibly too-quick response. Your encounter may actually be different, older version of ospray.
Newer version of ospray has internal downloads that use CMake. I don't know for certain if 1.6.1 ospray has the same.
Should be investigated.

[2022-09-27 22:32] #18103 closed, assigned to nobody

[2022-09-27 22:51] brugger1 commented on #18152
Let's delete the BMP output type.

[2022-09-29 00:40] #18154 closed, assigned to JustinPrivitera

[2022-09-29 03:49] JustinPrivitera commented on #17988
## Right now, we have
### Rotation:
the camera can freely rotate about your object using the mouse. Users can also choose an alternate center of rotation.
### Zooming:
the camera can zoom in and out of the origin; it is possible to use zoom mode to change the position of the camera with respect to the object.

_**It is really confusing to change point of rotation AND zoom point at the same time.**

[2022-09-29 03:56] markcmiller86 commented on #17988
@JustinPrivitera have you already taken a look at the 3 different "interactors" we offer in **Options**->**Interactors...**? We have `trackball` (default), `dolly` and `flythrough`. The latter two might offere more of what you want in the way of *movement*.

I think it might be good to be able to `unify` zoom/rotate point as you describe but I worry doing that by fiat may restrict camera steps use

[2022-09-29 03:59] markcmiller86 commented on #17988
In lieu of actual use cases, maybe there are other apps that exhibit some of the kind of interaction that could be used to demonstrate them.

[2022-09-29 04:00] JustinPrivitera commented on #17988
@markcmiller86 I didn't know about those... thanks for pointing them out. As far as I can tell, the two other modes are very hard to use. Am I missing something? Is there a way to move the camera around your object with those?

[2022-09-29 04:04] JustinPrivitera commented on #17988
![Picture1](https://user-images.githubusercontent.com/35237779/192936146-8c3bdf99-f410-4060-8067-e28243221183.gif)

[2022-09-29 04:11] JustinPrivitera commented on #17988
example of zooming and rotating behavior:

![image8](https://user-images.githubusercontent.com/35237779/192936911-e8b6ae6c-d8ba-47e2-b74d-adc8ce50310d.gif)

When rotation is done in this image, the user is not rotating where the camera is w.r.t. each point they choose to rotate. Rather, they are rotating the object w.r.t. the point.

An example of being locked to an object and rotating about it as

[2022-09-29 04:41] JustinPrivitera commented on #17988
I have written the most about this but I definitely do not have the answer. I keep going back and forth on many of the ideas I've presented.

#### Here are some common themes I've noticed:
 - It is really confusing to change point of rotation AND zoom point at the same time.
 - Zooming and rotating do not feel intuitive.
 - Meshes that move over time can be difficult to view.
 - Several tickets ar

[2022-09-29 15:01] biagas commented on #17988
We currently constrain ourselves to using vtkInteractorStyleTrackballCamera, or  rather, a derived customized version of it (VisItInteractor).  VTK has many other styles of interaction, perhaps one of these could serve as the base for the new styles desired.

Here's a link to the base class, https://vtk.org/doc/nightly/html/classvtkInteractorStyle.html. The diagrams shows all the currently availab

[2022-09-29 16:58] markcmiller86 commented on #17988
capturing other refs...

* https://drei.pmnd.rs/?path=/story/controls-arcballcontrols--arcball-controls-story
* https://docs.blender.org/manual/en/latest/editors/3dview/navigate/navigation.html
* https://arxiv.org/pdf/2109.03750.pdf

[2022-09-29 17:20] markcmiller86 commented on #17988
Can we construct some unusual data sets (single time states as well as time series) that present some useful navigation challenges and then use those as ways to test and refine our interfaces? Or, can we *take some pictures* of some data in other tools and then ask ourselves how easily we can reproduce those same pictures (e.g. get to the right view) in VisIt. We would want these to be representat

[2022-09-29 18:35] griffin28 opened #18160 "LIBRT link error (Ubuntu 20.04.5 LTS)"
### Describe the bug
Encountered a linking error: `undefined reference to **shm_open**` for `avtquery_ser/par` when building the VisIt 3.3.0 tagged release.

I ended up adding the following code to `CMakeLists.txt`:
[code]
Not sure if it's a linking ordering issue or because I don't build certain TP libraries that a library dependency doesn't get inherited.
Here's my TP library `build_visit` comma

[2022-09-29 18:48] griffin28 opened #18161 "QT plugins directories not copied to VisIt install plugins directory"
### Describe the bug
I did a `make install -j 2` after building VisIt and when I tried to run VisIt, I received an error `Qt: Warning: Could not find the Qt platform plugin "xcb" in "" `. I did an `export QT_DEBUG_PLUGINS=1` to get more information and discovered the `QFactoryLoader` was looking specifically in the VisIt install plugins directory (and I believe 1 or 2 others) for the xcb stuff. On

[2022-09-29 18:51] biagas commented on #18160
I added logic to handle rt for linux, it is in 3.3RC and develop. I'm guessing since you ran into this problem the logic is faulty.

https://github.com/visit-dav/visit/blob/f859b8f823c4f1940127511b2542f46587c0330f/src/avt/Queries/CMakeLists.txt#L229-L231
(and similar for avtquery_par target)

Perhaps just needs the addition of find_library call ?

[2022-09-29 18:55] griffin28 commented on #18160
Ok...I may be mistaken about 3.3RC. I was switching back and forth between 3.3RC and 3.3.0 tagged release. Let me verify this is also an issue for 3.3RC, it may just be with 3.3.0.

[2022-09-29 19:01] griffin28 commented on #18160
Yeap...I was on the 3.3.0 branch. Ignore this for 3.3RC, it was an issue only for 3.3.0. Looks like you've fixed it in 3.3.RC so I'll close this issue.

[2022-09-29 19:01] griffin28 commented on #18160
Fixed in 3.3RC

[2022-09-29 19:03] biagas commented on #18160
But does my logic hold for the if-test? I just reread the docs and CMAKE_SYSTEM_NAME may not actually be defined (?)
At any rate, I modified to use your logic since we know for certain it works.

[2022-09-29 19:15] griffin28 commented on #18160
I'll do another build with your old logic (3.3RC) and see if it works. That won't be for a few hours though, but I'll let you know the results.

[2022-09-29 20:56] #18160 closed, assigned to nobody

[2022-09-29 22:36] JustinPrivitera commented on #18152
@brugger1 Seeing as this change modifies a public-facing interface, we decided this should go on develop only. Should we take other steps to mitigate on the RC? At least implement a warning message?

[2022-09-29 22:45] brugger1 commented on #18152
A warning seems appropriate.

[2022-09-29 23:49] griffin28 commented on #18160
@biagas I did a complete rebuild using your old logic for the if-test and everything worked correctly. BTW the latest updates work correctly too. My apologies for the confusion.

[2022-09-29 23:52] JustinPrivitera commented on #18152
Should I put a specific error on develop for when users try to use bmp output type? Saying it was removed in 3.4? Or should it just do the default error message with invalid output types?

[2022-09-29 23:55] brugger1 commented on #18152
Let's go with the default error message. I don't see any reason to complicate things.

[2022-09-29 23:57] biagas commented on #18160
No worries, as long as what is currently implemented works!

[2022-09-30 22:56] JustinPrivitera commented on #18004
I have addressed (in #18167) what I believe were the issues causing the test to crash on windows. @biagas could you please take a look when you get a chance? Is there anything I missed?

[2022-09-30 22:58] JustinPrivitera commented on #18004
The test probably won't run into these issues anymore

But these still sound like issues that ought to be investigated. Should I open a ticket?

[2022-10-04 20:58] ebolandrtx opened #18171 "db_hdf5_open error"
### Describe the bug
A clear and concise description of what the bug is.

Attempted to open globe.silo (from visit data directory) with VisIt running in serial mode and i am getting the error: db_hd5_Open: specified driver cannot open this file. Error appears in the engine_ser.5.vlog when using visit -debug 5

When opening the file, all i see is a white screen. The error was found by using the deb

[2022-10-05 17:13] biagas commented on #18171
Which version of VisIt?

Did you install a pre-built version of VisIt, or did you build VisIt yourself from sources using the build_visit script?
If you built it yourself, what was your build_visit command line?
It may be the case that the options you used with build_visit didn't include hdf5, which means silo was built without the hdf5 driver, and that would explain the error.

[2022-10-05 17:58] ebolandrtx commented on #18171
@bigas,

We are using VisIt 3.1.4. It was the pre-built version from the VisIt website. I did write the custom launcher, and confirmed that this issue existed for the serial version. I suspect we are likely missing a system dependency since it's an isolated lab, I just would love some help determining what the dependency was...

[2022-10-05 18:14] biagas commented on #18171
Does the installation of VisIt include 'libhdf5.so' in the 'lib' directory?
You could call 'ldd' on that library to see if a dependency cannot be found.
In your custom launcher do you modify LD_LIBRARY_PATH at all?

[2022-10-05 18:49] ebolandrtx commented on #18171
We do have libhdf5.so in the lib directory. The custom launcher does add intel mpi to the LD_LIBRARY_PATH and lntelMPI Libfabric (which always had shown up as missing...

VisIt 3.1.4 does work fine in our standard environment - we are just seeing this error in one of the labs...

[2022-10-05 19:35] markcmiller86 commented on #18171
@ebolandrtx a question similar to what @biagas asked above is whether the Silo plugin in VisIt is compiled a version of the Silo library that was built with HDF5. Since you are saying you are using our pre-built binaries, I should think it was. But, if you go to where VisIt got installed, you should see a directory somewhat like...

[code]

Ignore the `==> not found` part in the above. The questio

[2022-10-05 20:32] ebolandrtx commented on #18171
@markcmiller86 Intel MPI should not be causing this issue - we ran in serial and took hosts out of the mix. This is what we are seeing:

        libsiloh5.so => not found
        libsiloh5.so => not found
        libsiloh5.so => not found

Erin

[2022-10-05 20:54] biagas commented on #18171
Do you know which binary was downloaded for install on that machine?

[2022-10-05 20:56] biagas commented on #18171
Also,  is 'libsiloh5.so' in the VisIt installation lib directory, or is it just 'libsilo.so'

[2022-10-05 21:04] ebolandrtx commented on #18171
@biagas libsiloh5.so is in the Visit lib directory. Also interestingly enough - VisIt 3.1.2 works beautifully. VisIt 3.1.4 will not load the host profiles... (3.1.4 was a port of 3.1.2 as far as the setup went on our end...). I would have downloaded the VisIt binary for RHEL7...

[2022-10-05 21:16] biagas commented on #18171
Not quite sure what you meant by that statement.
The install script used for installing from pre-built changes (possibly) with each version of VisIt, so you should always use the visit-install script that matches the version being installed.

When your internal launcher sets LD_LIBRARY_PATH, are you appending the new values? Because VisIt itself sets some values. Just want to make sure VisIt's val

[2022-10-05 21:24] ebolandrtx commented on #18171
Ok - so by port - the custom launcher and host profiles for 3.1.2 were used as a starting point for 3.1.4. Each install is a fresh one and we typically just open the tarballs that are downloaded from the VisIt site.

The lack of Host profiles populating to the user's ~/.visit directory is concerning.

[2022-10-05 21:26] ebolandrtx commented on #18171
When we set the LD_LIBRARY_PATH we prepend - to get libfabric and libmpi. The VisIt values are captured and placed at the end.

lib_fabric_path = ["/apps/intel_oneapi_hpc_toolkit_2021.2/mpi/latest/libfabric/lib/prov:/apps/intel_oneapi_hpc_toolkit_2021.2/mpi/latest/libfabric/lib"]
 mpi_ld_library_path = ["/apps/intel_oneapi_hpc_toolkit_2021.2/mpi/latest/lib/release:/apps/intel_oneapi_hpc_toolkit_20

[2022-10-05 21:31] ebolandrtx commented on #18171
This code snippet worked fine in 3.1.2

[2022-10-05 22:49] ebolandrtx commented on #18171
So - i've taken the custom launcher out of the picture (moved it to .customlauncher) and have tried to load host profiles and that isn't working...

[2022-10-05 23:18] #18030 closed, assigned to JustinPrivitera

[2022-10-05 23:39] biagas commented on #18171
I've looked at source code differences between 3.1.2 and 3.1.4, and nothing of significance jumps out at me that would cause the problem.

Can you try appending the intel additions to LD_LIBRARY_PATH instead of prepending. See if that helps?

[2022-10-06 00:49] ebolandrtx commented on #18171
@biagas  - i've removed the custom launcher entirely. The fact that 3.1.4 isn't copying host files over concerns me...

also seeing the HDF5 errors...

[2022-10-06 01:02] biagas commented on #18171
Are you referring to the installation of host profiles during the install of VisIt?  Those are generally only profiles that have been added to our repository.

If you are referring to host profiles you created by hand for 3.1.2:  where did you 'install' them?

Generally host profiles not installed by VisIt can be stored in ~/.visit/hosts for use by any version of VisIt that is run on that system.

[2022-10-06 01:04] ebolandrtx commented on #18171
We build our own and update the networks.dat etc. files to show them. They are in a location that 3.1.4 should know about....

[2022-10-06 01:06] biagas commented on #18171
HDF5 errors:  my only thought is to use ldd on the siloh5.so library and see what is listed as 'not found'.
temporarily set LD_LIBRARY_PATH to point to visit's lib directory before running ldd.
Then try ldd on any dependency of libsiloh5.so.

[2022-10-06 01:17] biagas commented on #18171
networks.dat isn't read by VisIt when it is being run, it is used during creation of the installer, to inform the installer of which host-profiles to offer during installation.  VisIt only searches for host profiles in its own installation or in ~/.visit/hosts.

[2022-10-06 02:32] #4836 closed, assigned to brugger1

[2022-10-06 02:32] #18150 closed, assigned to biagas

[2022-10-06 16:33] ebolandrtx commented on #18171
@biagas  - OK - i've taken the custom launcher out of the picture, and am ignoring the host issue for now. We still see the failure to load with the library error - so will work that issue first. How can i export LD_LIBRARY_PATH to the screen from Visit. Does it appear in one of the debug logs?

[2022-10-06 16:38] biagas commented on #18171
If you run 'visit -env' it will print out the environment variables it sets up, including LD_LIBRARY_PATH.

[2022-10-06 17:02] ebolandrtx commented on #18171
LD_LIBRARY32_PATH=/apps/visit_3.1.4-wmesa/3.1.4/linux-x86_64/lib
LD_LIBRARY64_PATH=/apps/visit_3.1.4-wmesa/3.1.4/linux-x86_64/lib
LD_LIBRARYN32_PATH=/apps/visit_3.1.4-wmesa/3.1.4/linux-x86_64/lib
LD_LIBRARY_PATH=/apps/visit_3.1.4-wmesa/3.1.4/linux-x86_64/lib/mesagl:/apps/visit_3.1.4-wmesa/3.1.4/linux-x86_64/lib:/apps/visit_3.1.4-wmesa/bin/../3.1.4/linux-x86_64/lib:/apps/git_2.31.1/libexec:/usr/lib

[2022-10-06 17:10] biagas commented on #18171
VISIT_MESA_LIB is only set when VisIt is using OSMesa substitute for Mesa/GL. It should show up if you run 'visit  -nowin -env'.

AFAICT, the LD_LIBRARY_PATH looks fine.

Again, I suggest you start looking at any NOT FOUND listings in the results of 'ldd' for  libsiloh5.so, and libhdf5.so in /apps/visit_3.1.4-wmesa/3.1.4-linux-x86_64/lib.

[2022-10-06 17:39] ebolandrtx commented on #18171
OK - when i add the path specifically to LD_LIBRARY_PATH everything is found. When run through VisIt - LD_LIBRARY_PATH does not seem to be updating correctly. It looks ok - but the silo files are not loading correctly...

Are there possible version conflcits:

ldd libhdf5.so.9:

linux-vdso.so.1 =>  (0x00007ffe1d9e6000)
	libsz.so.2 => /apps/visit_3.1.4-wmesa/3.1.4/linux-x86_64/lib/libsz.so.2 (0x000

[2022-10-06 19:31] markcmiller86 opened #18177 "Non-screen capture save window in client/server crashes engine"
### Describe the bug

This is happening frequently for a VIP LLNL user.

Am attaching the whole set of debug logs here but also writing excerpt highly suggestive the issue is related to IceT because the failure case seems to never return from `ConvertIceTImageToAVTImage` (or never gets into it).

### Excerpt from `A.engine_par.000.5.vlog` for a **WORKING** save...

[code]

### Excerpt from `A.engi

[2022-10-06 19:32] biagas commented on #17982
It was decided to retire HDF4 support. See #18059.

[2022-10-06 21:18] ebolandrtx commented on #18171
FYI - we are seeing this with all of our VisIt versions at this point - so i am thinking there may be a patch or driver update issue - but i do need to identify the problematic piece

[2022-10-07 16:45] markcmiller86 opened #18179 "Option to equalize all viewer window sizes/shapes"
### Is your feature request related to a problem?

An LLNL user has the same plots of different databases in different windows and likes to compare them 1:1. Doing so requires all windows have same size and shape. Layout options don't really work because there the goal is that all windows also fit on the same screen. Non-screen-capture saves potentially do this but I am not sure.

But, would it ma

[2022-10-07 17:44] tagardiner opened #18180 "Visit Fails to for Parthenon based codes"
### Describe the bug
When using visit to look at data coming out of a Parthenon based code, visit fails to load the new mesh and data when stepping through the output files and the engine crashes when using the play button.  The data is stored in an hdf5 file with xdmf description and the mesh is block-structured AMR.

The code project can be found here: https://github.com/lanl/parthenon

Is it po

[2022-10-07 18:05] markcmiller86 commented on #18180
@tagardiner By default, VisIt does a lot of work to *optimize* its handling of metadata (which includes information about refinement patches in an AMR mesh) so that it does **NOT** wind up re-reading stuff that is not changing with time. That optimization may be getting in your way here. There is an easy way to turn it off though.

Can you try going to [*preferences*](https://visit-sphinx-github-u

[2022-10-07 18:41] tagardiner commented on #18180
@markcmiller86 That worked!  Yeah!

Is it possible to set this logic in the xdmf file?

Thanks!

[2022-10-07 18:46] markcmiller86 commented on #18180
Yes. You want the data producer to write a boolean with name `TimeVaryingMetaData` and value `True` to the `Xdmf/Information` node.

Does this code snipit in the reader help to clarify...

https://github.com/visit-dav/visit/blob/fc920d22fe95ed8e478948ec00ad23bb188b9c3d/src/databases/Xdmf/avtXdmfFileFormat.C#L177-L186

[2022-10-07 21:10] tagardiner commented on #18180
Yes - Thank You!

That solved the problem for me!

[2022-10-07 21:10] #18180 closed, assigned to nobody

[2022-10-07 21:17] brugger1 commented on #18177
I went to the VIPs office and she showed me a consistent reproducer. I've been able to reproduce with `multi_ucd3d.silo` running with 36 cores on a node of quartz. This is with VisIt 3.2.2.

1) Start VisIt (`visit -v 3.2.2 -debug 5`)
2) Go to a 2x2 window setup
3) Set scalable rendering to always
4) Open `/usr/gapps/visit/data/multi_ucd3d.silo`
5) Select a 36 node engine in `pdebug`
6) Plot a fill

[2022-10-07 21:27] brugger1 commented on #18177
Looking at the log file, for the successful save, the save starts with
[code]
For the crash with the second save we get
[code]
I suspect the crash may be happening just before the message
[code]
is output.

[2022-10-07 21:30] brugger1 commented on #18177
The failure happens in exactly the same manner with 3.3.1. So we can probably debug this with the 3.3RC branch.

[2022-10-07 21:32] markcmiller86 commented on #18177
Interesting! We have had recent conversations where we have a bit of a funky paradigm for matching annotations with plots. So, maybe that design or associated logic is the culprit.

[2022-10-07 21:47] brugger1 commented on #18177
Interesting thought, now that you mention it.

[2022-10-07 22:53] brugger1 commented on #18177
It's crashing in the function
[code]
in the file `./engine/main/NetworkManager.C` in the code block starting at line 3233.

[2022-10-07 23:31] markcmiller86 commented on #18177
Hmmm. On both `develop` and `3.3RC` that ref takes me here...

https://github.com/visit-dav/visit/blob/56636a80fd5acc2620285d2d3e66eda6b3d76c99/src/engine/main/NetworkManager.C#L3233-L3243

Is that where you mean?

[2022-10-07 23:32] markcmiller86 commented on #18177
Off hand, I don't see much in there that could fail except a bad `viswin` pointer.

[2022-10-09 16:39] jameskress opened #18182 "MetaData server error on MacOS Monterey"
### Describe the bug
Launching VisIt from the applications directory on MacOS Monterey with M1 Chip, displays the message: "The MetaData server running on localhost could not get the file list for the current directory".

**Helpful additional information**
 - Did VisIt crash: yes
 - Did you get wrong results: no results

### To Reproduce
Steps to reproduce the behavior. For example:
1. Go to Appli

[2022-10-09 17:37] markcmiller86 commented on #18182
@jameskress sorry you are running into this. As you mention, its a known issue. And, we have been trying various approaches to correct...yet to no avail.

Given that 29/30 people you tested have a workaround by launching from command-line, how can this be classified as a *major* issue?

BTW...the one case where it didn't work probably involves additional security settings or preferences impacting

[2022-10-09 18:08] jameskress commented on #18182
Hi Mark, You are right, major is a bad phrase. It is a major pain. We work a lot with non computational folks so the idea of a command line is not something they know about or are used to. So from that perspective it is problematic if they cannot open the software as a regular program. The final person ended up just leaving the workshop after we spent 15 or so minutes trying to set different permi

[2022-10-10 16:40] brugger1 commented on #18177
That's the correct block of code. I agree, I don't see much that can go wrong there. I'll post more info when I find the exact cause.

[2022-10-10 18:24] markcmiller86 commented on #18182
I am working hard to get to the bottom of this. A challenge is that VisIt is by and large developed on Linux. Yes, we have phenomenal team members each working to make it also work on Windows and macOS. But, on macOS anyways, we don't develop it under Xcode. And, we try not to use very much macOS specific coding (or Windows specific coding for that matter) for obvious reasons.

Over the years, App

[2022-10-10 18:37] markcmiller86 commented on #18182
I am recording here what information I am able to gather with other tools (currently neither lldb nor Xcode will attach to process launched from finder (e.g. by double-clicking the icon of the installed process)...

* From `console`, I was able to find this error...
   `error	11:07:46.852926-0700	kernel	Sandbox: mdserver(29828) System Policy: deny(1) file-read-data /Users/miller86/Documents`

I ju

[2022-10-10 18:44] markcmiller86 commented on #18182
Here is where the GIMP team discussed a lot of this, https://gitlab.gnome.org/GNOME/gimp/-/issues/3710

[2022-10-10 18:59] markcmiller86 commented on #18182
After I did the above with Gimp, I went looking in prefs to see what changed...

![Screen Shot 2022-10-10 at 11 59 08 AM](https://user-images.githubusercontent.com/5720676/194935081-8b8c5506-2b95-4c54-8792-394c42cb34f8.png)

[2022-10-10 19:00] markcmiller86 commented on #18182
Somehow, we need to get VisIt to have those check boxes too instead of `Full Disk Access` which was a prev. 10.14 approach.

[2022-10-10 19:17] markcmiller86 commented on #18182
Ok, so I just tried LLNL's `Hopper` application too. And, like Gimp, it first asked permission to descend into `Documents` and once I gave it permission, it appears in the list of `Files and Folders` with the `Documents` folder checked.

![Screen Shot 2022-10-10 at 12 14 56 PM](https://user-images.githubusercontent.com/5720676/194937205-d5a88e68-3093-444f-8083-4f7f69269179.png)

So, we've got to g

[2022-10-10 19:35] cyrush commented on #18182
I think we may need to explicitly ask up front (when we first start visit), but I am not sure how to suggest this.  GUI, Viewer, and engine are all different exes that need this permission. But the are all part of the same app bundle -- they should inherit settings, but I am not sure the share "Allow" when a user clicks in real time.

[2022-10-10 21:13] markcmiller86 commented on #18182
[This ref](https://developer.apple.com/library/archive/documentation/Miscellaneous/Reference/EntitlementKeyReference/Chapters/EnablingAppSandbox.html#//apple_ref/doc/uid/TP40011195-CH4-SW6) mentions we may need `com.apple.security.files.user-selected.executable` entitlement.

[2022-10-10 21:17] markcmiller86 commented on #18182
And, `com.apple.security.inherit`

That said, there appears to be a special mode `Sandbox` in which an app can run that possibly changes the security conditions. I noticed the consol log error messges above from `mdserver` indicate `Sanbox`.

Finally, we have only `VisIt` in `.../Contents/MacOS` and [this ref](https://developer.apple.com/documentation/xcode/embedding-a-helper-tool-in-a-sandboxed-a

[2022-10-10 21:20] cyrush commented on #18182
We used to used to have `com.apple.security.files.user-selected.read-write` but that didn't solve it.

[2022-10-10 21:22] cyrush commented on #18182
are there extra flags we can use to get detailed security output to debug thing like this? I tried looking in the macOS console  in the past, but I didn't see anything.

[2022-10-10 21:27] markcmiller86 commented on #18182
Possibly. Am looking/reading as much as I can. I feel like we came this party through the side door and are now trying to get formal tickets and our names on the attendee list 😉. I am thinking we might need to do some minimal dev directly in Xcode to really resolve.

I have tried attaching `lldb` to processes launched after double clicking VisIt icon but it won't attach under those conditions (yes

[2022-10-10 21:34] markcmiller86 commented on #18182
FYI, `GIMP` is not even a codesigned app but nonetheless does not have this issue...

[code]

And for Hopper...

[code]

[2022-10-10 22:38] #18171 closed, assigned to nobody

[2022-10-10 23:21] #18059 closed, assigned to biagas

[2022-10-10 23:26] markcmiller86 commented on #18182
FYI...used `dtruss` to trace `mdserver` and don't get very much info (see below).

I do see that `open_nocancel()` for `Documents` returns `-1`.

[code]

[2022-10-10 23:29] markcmiller86 commented on #18182
What is interesting is that the `chdir()` to `Documents` (and friends) does seem to succeed. So, I think its the attempt to `readdir()` that where its failing.

[2022-10-11 01:41] markcmiller86 commented on #18182
I don't know how it happened but for the 3.3.1 release after launching from the command-line, it asked for permission to access `Documents` and I gave it. Then, I tried running 3.3.1 from icon (on dmg mount, not from `/Applications`) and that still failed but I was able to see more stuff in `console` logs...

[code]

[2022-10-11 01:51] markcmiller86 commented on #18182
So, installing VisIt to `/Applications` didn't change behavior (from above) comment.

But, I did capture this more detailed system log message...

[code]

[2022-10-11 02:00] markcmiller86 commented on #18182
Ok, so I am able to get desired behavior by adding `/bin/sh` to Security and Permissions for `Full Disk Access`. But, thats not the best solution.

[2022-10-11 03:59] markcmiller86 commented on #18182
Here is why I think `/bin/sh` is the key thing to add. It is the main process that launches VisIt.

I think to correct, we want an actuall Mach-O executable that starts VisIt. This should be easy and I am going to try making such with an installed VisIt and see if that fixes the issue.

[2022-10-11 04:01] markcmiller86 commented on #18182
[code]

Whereas...

[code]

[2022-10-11 06:28] jameskress commented on #18182
This is awesome info Mark! I appreciate everything you are doing. I only started on Mac with this new position, and don't use it for dev, so this is new to me as well.

I also saw the popup on 3.3.1, and I think others in the workshop got it on 3.3.0. They had never installed a previous VisIt, so no old settings / permissions were sitting around. But that did not solve it.

Cool find on /bin/sh. T

[2022-10-11 17:34] griffin28 commented on #18161
Additional Info: The QT plugins directories (**platforms** and **xcbglintegrations**) get copied to `linux-x86_64/lib/qtplugins` during `make install`. The `QFactoryLoader` is expecting them in `linux-x86_64/plugins`.

[2022-10-11 17:50] brugger1 opened #18185 "Centering error in complex expression when exporting a database."
A user was trying to do an ExportDatabase of a pseudocolor plot of a complex expression and it failed. Looking at the log files it showed a centering incompatibility. Here is a script that demonstrates the issue.
[code]
To run it type `visit -cli -s doit.py` where `doit.py` contains the code above. If you change the plot variable to `G2`, where the centering of the constants is explicitly specifie

[2022-10-11 17:59] brugger1 opened #18186 "Pseudocolor plot of a logical expression is all black."
I created an expression that returns 1 if the data is within a range and 0 if outside the range. A Pseudocolor plot of the variable comes out solid black. I suspect the result of the expression is a char data type and the Pseudocolor plot doesn't handle that well. Here is a script that replicates the issue.
[code]

[2022-10-11 19:34] markcmiller86 commented on #18182
Ok, after all that hunting around...I have the solution.

The solution is for the *executable* that the VisIt icon launches, `/Applications/VisIt.app/Contents/MacOS/VisIt`, to be an actual `Mach-0` binary and not a shell script.

When I cd to `/Applications/VisIt.app/Contents/MacOS` and create `foo.c` as...

[code]

and then compile it `gcc foo.c -o foo` and then do the following

1. `cp VisIt Vis

[2022-10-11 21:32] markcmiller86 opened #18187 "Why $0 = shift @ARGV;"
Hi @BradWhitlock

I am looking for an understanding of what this line in `frontendlauncher` is doing...

https://github.com/visit-dav/visit/blob/07a62609aa290bd15608fdeee95f5280e3db2f50/src/bin/frontendlauncher#L214

To me, it appears to be a recursive invocation of `frontendlauncher` but with the three arg strings `=`, `shift` and `@ARGV;`.

[2022-10-11 21:37] #18187 closed, assigned to nobody

[2022-10-11 22:59] biagas commented on #18161
@griffin28 what it the contents of qt.conf in linux-x86_64/bin?

[2022-10-12 00:06] griffin28 commented on #18161
Here's what's in the qt.conf file:
[code]

[2022-10-12 00:33] griffin28 commented on #18161
I think the issue is on my end. This was working correctly in `3.1.4` the same setup for QT. Not sure what got messed up.

[2022-10-12 02:26] markcmiller86 commented on #18182
In fixing this, there are some related things...

* #2303
* #4324
* #10287

which I am aim to fix with change to address this issue.

In addition, what about supporting multiple different versions of VisIt installed on macOS? Can we do that already. I always select `replace` when installing VisIt but there is an option to `keep both` and I wonder if after doing that, VisIt works? IMHE, it doesn't

[2022-10-12 03:21] markcmiller86 commented on #18182
@biagas and @cyrush ... I need to modify this CMake logic...

https://github.com/visit-dav/visit/blob/07a62609aa290bd15608fdeee95f5280e3db2f50/src/CMakeLists.txt#L2348-L2356

and change the referenced file (currently a shell script) for `CPACK_BUNDLE_STARTUP_COMMAND` to be a compiled C program in somewhat similar fashion to what we do on Windows here...

https://github.com/visit-dav/visit/blob/07a

[2022-10-12 10:28] jameskress commented on #18182
@markcmiller86  Thanks for this! This will be awesome to have.

My observations regarding the multiple versions question above:
I too was wondering about multiple versions as I like to keep them around on Linux and Windows, but never clicked "keep both" on Mac. Trying today it looks like it causes issues, even launching from command line.

It creates a new path in applications, in my case:
`VisIt

[2022-10-12 11:35] dpugmire commented on #5770
@eschnett I'm trying to use VisIt to open some openPMD Adios files. Is there a way to get these files into VisIt?  It's not clear to me from the conversation if a solution has been found.

[2022-10-12 14:41] biagas commented on #18161
Another thing to check would be any environment variables related to QT.

[2022-10-12 15:11] biagas commented on #5770
@dpugmire VisIt's openPMD reader needs an update in order to read those files. It's still an open issue.

[2022-10-12 15:17] summer7807 opened #18190 "Building visit from source on Windows"
Compile the visit in visual studio and regenerate the INSTALL file. The following error is reported:
![image](https://user-images.githubusercontent.com/74045515/195381956-b3477aca-c986-4e44-9d7a-6ce3dc9ef74e.png)
![image](https://user-images.githubusercontent.com/74045515/195382051-d9cf2149-3fec-4578-bd68-54cbcbf71e76.png)
![image](https://user-images.githubusercontent.com/74045515/195382149-5b7bc

[2022-10-12 15:31] biagas commented on #18190
Unfortunately that error message from Visual Studio is not helpful. Was there anything different reported in the Output window?

[2022-10-12 15:35] brugger1 opened #18191 "Add Gaussian Blur expression."
I got the following request from an ASC user.
[code]
We only have `mean_filter` and `median_filter`.

Here is a link to a wikipedia article on Gaussian blur.

https://en.wikipedia.org/wiki/Gaussian_blur

It's definition matches the users.

We could potentially write a Python Expression that does this as a short term solution until we can implement it as a proper expression.

[2022-10-12 15:36] biagas commented on #18182
@markcmiller86 You will also need 'VISIT_INSTALL_TARGET'.

[2022-10-12 17:20] alhom commented on #18185
Centering problems galore (3.2.1):
I have quite long and involved pipelines. I now added expressions that involve relational expressions, and I get all flavours of recentering bugs (failed to recenter nodal/zonal because not nodal/zonal). In the end, switching the expression
`gt(vg_MGA_maxvec[0], 0)`
to
`gt(0, vg_MGA_maxvec[0])`
made the problems disappear; it is not the first time I have encounte

[2022-10-12 17:36] eschnett commented on #5770
@dpugmire As @biagas says, reading openPMD files this is not (yet) possible.

[2022-10-12 21:14] #18004 closed, assigned to biagas, JustinPrivitera

[2022-10-12 23:57] #18152 closed, assigned to JustinPrivitera

[2022-10-13 12:58] doncip opened #18195 "Unable to start VisIt from command line on MacOS Monterey"
### Describe the bug
Unable to start VisIt from command line on MacOS Monterey.
Used the command in the terminal: visit -cli -nowin -s /path/to/script/script.py

**Helpful additional information**
 - Did VisIt crash: It crashed when launching the compute engine
 - Did you get wrong results: **

### To Reproduce
Steps to reproduce the behavior. For example:
1. Launch from command line with the comm

[2022-10-13 16:36] markcmiller86 commented on #18195
Can you run `visit -cli -nowin -debug 5 -s /path/to/script/script.py` and attach here another zip file (or gzip'd tar file) with all level 5 debug logs.

[2022-10-13 19:04] brugger1 opened #18196 "Build issues on Trinity."
This ticket collects all the issues I ran into building VisIt on Trinity. I haven't been successful yet, so I will add any new issues to this ticket as I encounter and figure out fixes.

1) building numpy was successful, but the module would not import into Python because of the undefined symbol `_intel_fast_memcpy`. This was because numpy was built with the Intel compiler. The work around was to

[2022-10-13 20:37] biagas commented on #17993
This section of code searches for digit strings and saves in `isave` the location of the digit string.
https://github.com/visit-dav/visit/blob/78bb659a171199735efb683f3fdd314ba1761482/src/mdserver/main/MDServerConnection.C#L1609-L1620

The problem with `.h5m` extension is that the search continues in the extension and `isave` isn't pointing to the actual digits, but instead the `5` in `h5m`.

To f

[2022-10-13 20:38] #17982 closed, assigned to biagas

[2022-10-13 20:39] #17654 closed, assigned to biagas

[2022-10-13 20:41] #17147 closed, assigned to biagas

[2022-10-13 20:48] markcmiller86 commented on #18182
In investigating this further, it looks like dealing with spaces in pathnames needs to be handled on a case by case basis in shell, python and C/C++ code involved in bootstrapping launch of VisIt. In shell, for example, it requires auditing all the places where a path which may include spaces is expanded and ensuring its properly quoted. In C/C++ code, it involves ensuring the spaces are properly

[2022-10-13 20:54] markcmiller86 commented on #17993
https://github.com/visit-dav/visit/blob/78bb659a171199735efb683f3fdd314ba1761482/src/mdserver/main/MDServerConnection.C#L1546-L1549

OMG, great sluething @biagas. I was not even aware of this particular set of magic values.

Not fully understanding that purpose of this set of strings, I am inclined to say *yes*, `.h5m` should be added there. This is the extension Moab project uses

[2022-10-13 20:59] biagas commented on #17993
Makes me wonder if any of the other formats that use numbers in their extension need file grouping support and should be added to the list ?

[2022-10-13 21:03] markcmiller86 commented on #17993
Good point. I thought it might have been `h5` that is the problem but I get that you're thinking since the grouping logic is based on digits that its really the `5` thats creating the problem.

I wonder if there is just a better overall algorithm though that doesn't require some magic strings squirreled away somewhere.

[2022-10-13 21:08] biagas commented on #17993
If only all file formats used an extension, we could strip it off before searching for the digits.

[2022-10-13 21:11] markcmiller86 commented on #17993
I think the right answer might be to have a set of pre-programmed "algorithms" for doing file grouping (one of which would be VisIt's built-in) along with a text box for a user to type in a regular expression for a different algorithm which they can cause VisIt to use. I think all these "algorithms" can be expressed as regular expressions (with replacements).

[2022-10-14 12:50] doncip commented on #18195
I attach the output of the command here
[VisitLogs.zip](https://github.com/visit-dav/visit/files/9786412/VisitLogs.zip)

[2022-10-14 15:25] markcmiller86 commented on #18195
Thanks. Unfortunately, those do not provide any information.

What happens if you run...

[code]

Also, can you please paste the entire command line(s) VisIt echos when launching as in...

[code]

[2022-10-14 16:15] cyrush commented on #18182
I would have never guessed that the shell script vs the binary exec was the cause of this. Especially since other perms seem to work (like asking for network access). During my hunting in the dark I never was close at all.

Thanks so much Mark for figuring this out !!!!

[2022-10-14 19:27] #18182 closed, assigned to markcmiller86

[2022-10-14 21:30] JustinPrivitera opened #18204 "Add original zone IDs for new LOR in blueprint plugin"
Marbl folks would like to plot curve meshes
They need original zone IDs in blueprint plugin like we already have for MFEM
@cyrush please add more details

[2022-10-15 03:00] #18190 closed, assigned to nobody

[2022-10-15 13:55] doncip commented on #18195
I ran the command you indicated, and here is the output:
[code]

[2022-10-15 23:19] markcmiller86 commented on #18195
Hmm...this is very strange. Ok, let me ask if you could please try the following

[code]

1. take the above program and make `bar.c` with it.
2. compile it with...
   `/Applications/VisIt.app/Contents/Resources/3.3.1/darwin-x86_64/bin/mpicc bar.c -o bar`
3. Run it with...
   `/Applications/VisIt.app/Contents/Resources/3.3.1/darwin-x86_64/bin/mpiexec -n 5 ./bar`
4. cut-n-paste the output (and/or er

[2022-10-15 23:28] markcmiller86 commented on #18195
I am attaching here the `bar` executable I get on my mac (catalina). If you are willing and trust me, try uncompressing (`gunzip bar.gz`) and running it on your machine with the same run line (step 3 above).

[bar.gz](https://github.com/visit-dav/visit/files/9793292/bar.gz) (MD5 (bar.gz) = e9f95cd129070d0e538cdb745004f949

And see what you get.

This could be pointing to some kind of incompatabili

[2022-10-15 23:35] markcmiller86 opened #18206 "Update compressors used for release assets"
Our release assets are pretty large.

We're using gzip on them and there are better alternatives out there.

XZ (2-3x better than gzip) is I think ubiquitous in all tar implementations now. I think any user will be able to untar (even on windows without forcing need for `7z` (e.g. either python tools or cmake tar command should suffice but we need to check)

Apple's lzfse might be best for macOS.

[2022-10-16 04:14] markcmiller86 commented on #18206
* Did a test with `hdiutil` on macOS adding `-format UXXX` args to `-create` option
  * `ULFO` (lzfse-compressed image and is available in OS X 10.11+ only) gave only 5% better
  * `ULMO` (lzma or xz available on 10.15+ only) gave 18% better
  * `UDZO` (default zlib (level 1)) is our default
  * `UDZO` with `-imagekey zlib-level=9` only 5% better

[2022-10-17 07:19] doncip commented on #18195
Hi, I started with making the bar executable, but when compiling the script you wrote I got this:
[code]
If I understood correctly, MPI should be embedded with Visit. It is not clear to me why it is not pointing to the correct header file.

Executing your file returned this:
[code]
I guess this is just because you precompiled the executable in your environment.

[2022-10-17 17:13] markcmiller86 commented on #18195
Ok, I am learning something about what might be going wrong.

I adjusted some things on my end and am attaching two things here for you to try (still working with this hello-mpi-world, `bar.c` example).

First, here is an updated `bar` mach-O executable...  [bar.gz](https://github.com/visit-dav/visit/files/9803007/bar.gz) where I've fixed some `rpath` stuff. Can you please try running it again (st

[2022-10-17 21:13] markcmiller86 commented on #18206
@griffin28 recommended having a look at [`set(CPACK_SOURCE_GENERATOR "TXZ")`](https://cmake.org/cmake/help/v3.18/cpack_gen/archive.html)

[2022-10-17 22:23] #17924 closed, assigned to markcmiller86

[2022-10-17 23:05] nth10sd opened #18211 "ARM64 / aarch64 Linux support"
Is ARM64 / aarch64 Linux (e.g. on Ubuntu) going to be supported anytime soon - or am I missing documentation somewhere?

[2022-10-18 00:39] markcmiller86 commented on #17955
After a closer look, I think the user(s) is noticing (and perhaps being confused by) a difference in what `dir(obj)` and `print(obj)` return for many of VisIt's CLI objects. In this example, `ExportDBAttributes` is considered. But, similar results occur for other CLI objects (any `XXXAttributes()` object for that matter).

In Python, `dir()` returns the list of *methods* on the object whereas `pri

[2022-10-18 00:39] #17955 closed, assigned to markcmiller86

[2022-10-18 00:42] #18211 closed, assigned to nobody

[2022-10-18 00:57] JustinPrivitera commented on #17955
Next time @brugger1 and I sync up with the engineering folks we should inform them of this.

[2022-10-18 01:10] markcmiller86 commented on #17955
@JustinPrivitera sure thing. And, I guess I didn't necessarily make my notes very clear but...there is nothing missing here. One is the struct (thats in our Sphinx documentation) and the other is the method list (thats what `dir()` produces).

[2022-10-18 02:30] markcmiller86 commented on #18206
I do get about 30% improvement in size of `.dmg` file using macOS `Archive Utility`. It creates a `.cpgz` file...

[code]

[2022-10-18 10:33] doncip commented on #18195
I ran you executable, but still getting the following:
[code]

I compiled the `bar.c` file with the `mpicc` you sent and this is the output:
[code]
Probably the reference to `libmpi` was not correct in your `mpicc` but at least the output changed...

[2022-10-18 15:50] markcmiller86 commented on #18195
Ok, I am still stumped by what is going on here. Do you have any MPICH environment variables defined in your default shell. To check myself on macOS, I do this...

[code]

If you get something output, can you paste here?

[2022-10-18 16:07] markcmiller86 commented on #18195
So, examining your most recent attempt to run the `bar` executable I gave you...

means the executable `bar` was unable to load `libmpi`. What bothers me is that `@rpath` in `bar` should resolve to `/Applications/VisIt.app/Contents/Resources/3.3.1/darwin-x86_64`. It does on my (catalina) system. I can confirm by using `otool -l` and looking at the `LC_RPATH` entry...

[code]
Can you please confirm

[2022-10-18 17:10] markcmiller86 commented on #18206
One other mystery...the `.dmg` file is ~730 Mb but the `.tar.gz` file is only ~400 Mb. I think there are some minor differences in how the installed binaries are structured for macOS but I don't think that can account for ~330 Mb. What is going on?

[2022-10-18 17:17] summer7807 opened #18217 "Error report of debugging item visit_exe"
Set project visit_exe as the startup item for debugging.
The specific errors are as follows:
![image](https://user-images.githubusercontent.com/74045515/196500037-5b9ef6bb-726c-4ef6-9daf-eb530ec4d766.png)

[2022-10-18 17:25] summer7807 commented on #18217
I use the process by process function of vs2017 to debug, and stop here:
![image](https://user-images.githubusercontent.com/74045515/196501783-9d2b33dc-7a74-42b5-b50c-f96cbf9ae686.png)

[2022-10-18 17:28] markcmiller86 opened #18218 "!TIME broken for some readers"
### Discussed in https://github.com/visit-dav/visit/discussions/18215

<div type='discussions-op-text'>

<sup>Originally posted by **jameskress** October 18, 2022</sup>
I have a series of csv files each contain 1 time step from some sensor recordings. I put these into a `*.visit` file and can visualize them the way that I would expect.

My issue is that time is always '0'. I tried using the `!TIME

[2022-10-18 17:51] markcmiller86 commented on #18217
@summer7807 thanks for taking the time to include detaild images of your experience.

That said, it is not clear from the images and the little bit of text you wrote what problem you are encountering and what behavior you are expecting.

[2022-10-18 18:09] markcmiller86 commented on #18112
This is being reported on `3.1.4` here and at that time, it was still in this state. It was fixed on `3.2RC` and on `develop`.

[2022-10-18 18:09] #18112 closed, assigned to markcmiller86

[2022-10-18 18:17] biagas commented on #18217
What caused you to use the debugger? Did VisIt fail to launch or did VisIt crash when you tried to do something?
Did you get error messages to the terminal or in a Windows popup dialog that mentioned an error?

The highlighted `exe_common.inl`  is not helpful as it is a Windows file that VisIt does not control.
Instead, you need to highlight the VisIt file and function call that initiates the erro

[2022-10-18 21:03] #18002 closed, assigned to JustinPrivitera

[2022-10-19 10:32] cessenat opened #18220 "Setting units for expressions"
### Is your feature request related to a problem?
No, not a problem.
When defining an expression from variables, it seems visit assumes the unit is the one of the first variable met in the expression.
I would like to be able to alter that.

### Is your feature request specific to a data set?
This is not specific to a data set, but is has to be a dataset where units are set.
One can take ucd3d.silo

[2022-10-19 14:02] summer7807 commented on #18217
@biagas Visit failed to start now. I reconfigured and generated cmkae according to your suggestions. Then the compilation in VS succeeds, but the error displayed by starting visit is as follows:
![image](https://user-images.githubusercontent.com/74045515/196712099-7082c02a-e4ef-45ca-844f-6298ddd4f105.png)
**Running: "D:\visit\LLNL\VisIt 3.1.4\gui.exe"
The system cannot find the specified path.**
I

[2022-10-19 14:11] summer7807 commented on #18217
@biagas After I recompile, the compilation succeeds, but the visit cannot be started. At present, the return value of the output part of the visit.exe project has changed to 1. I don't know whether it is useful to solve the problem.
![image](https://user-images.githubusercontent.com/74045515/196715343-07908131-631d-42ec-85b5-886ac2a24670.png)

[2022-10-19 15:42] biagas commented on #18217
It looks like you have two different versions of VisIt: one in "D:\visit\LLNL\VisIt 3.1.4" (this looks like an install from binary), and one in "D:\visitools\VisItDev3.1.4\" (looks like a build).  The install version could be interfering with your build version.  When VisIt is installed, it writes information to the Windows registry, and that may be an issue here, though I have had installs and bu

[2022-10-19 16:20] summer7807 commented on #18217
@biagas Yes, I installed visit before, then built it, and then deleted the installed visit. At present, there is no visit installed on the computer (the system is restarted after the uninstallation is completed).
You mentioned **running 'visit.exe - debug 5'**. Do you mean to set the visit_exe project as the startup item for debugging in the VS debug mode?
I have debugged Project visit_exe in the

[2022-10-19 16:28] biagas commented on #18217
If you uninstalled VisIt, not sure why I am seeing this in one of your screenshots:
`Running D:\visit\LLNL\VisIt 3.1.4\gui.exe`

Is there an entry in your PATH environment variable pointing to `D:\visit\LLNL\VisIt 3.1.4` ?

For the debug logs, it will be simpler to just run from a command prompt.
Open a command prompt or powershell and run  `D:\visitools\VisItDev3.1.4\build\exe\Debug\visit.exe -de

[2022-10-19 16:53] summer7807 commented on #18217
@biagas
My system variables are shown in the figure. What needs to be modified in the red box?
![image](https://user-images.githubusercontent.com/74045515/196753390-4c9e8696-6937-47c0-b36a-d59040979d8b.png)
I run **D:\visitools\VisItDev3.1.4\build\exe\Debug\visit.exe -debug 5** at the command prompt, as shown below:
![image](https://user-images.githubusercontent.com/74045515/196755098-246a5138-511

[2022-10-19 16:59] biagas commented on #18217
It is still trying to load gui from a different location than the build. Try adding '-dv' to your command (keep the -debug 5 as well) while I look into something.

[2022-10-19 17:05] summer7807 commented on #18217
@biagas
Does this work?
![image](https://user-images.githubusercontent.com/74045515/196757456-60053255-efca-4016-89d4-1113850ee2bd.png)
Do you want to modify the path in the environment variable in the figure above?

[2022-10-19 17:07] biagas commented on #18217
Run `D:\visitools\VisItDev3.1.4\build\exe\Debug\visit.exe -env` and report the results.

[2022-10-19 17:10] summer7807 commented on #18217
@biagas The environment seems to be incorrect, and the results are as follows:
![image](https://user-images.githubusercontent.com/74045515/196758643-055e3d3f-1698-47f7-b975-f16f892d38e0.png)

[2022-10-19 17:19] biagas commented on #18217
It looks like a VISITHOME environment variable is causing VisIt to look in the install location for the gui executable.
If you know how to edit your registry, I would look for that value in HKEY_LOCAL_MACHINE or HKEY_CURRENT_USER under Software\Classes\VisIt3.1.4.  It could be that the registry wasn't cleaned properly during uninstall for VisIt.

If you don't want to mess with your registry, then

[2022-10-19 17:32] summer7807 commented on #18217
@biagas
I want to modify the registry first to see if it can solve the problem. Do you want to find this folder and delete it? The path is:
**计算机\HKEY_LOCAL_MACHINE\SOFTWARE\Classes\VISIT3.1.4**
![image](https://user-images.githubusercontent.com/74045515/196763641-496a3fc6-716b-467a-bb38-39b8af3de961.png)
No VISIT3.1.4 in  **计算机\HKEY_CURRENT_USER\SOFTWARE\Classes**

[2022-10-19 17:37] biagas commented on #18217
Yes, you can also delete `visitCurveFile` `visitFile` `vsitPythonFile` and `visitSessionFile` since they will be associated with that same install location.
Check HKEY_LOCAL_MACHINE for the same folders and delete them as well.

Just curious, when you uninstalled VisIt, did you run its uninstaller or did you just delete the folder?

[2022-10-19 17:57] summer7807 commented on #18217
@biagas
The problem is solved. I can open visit.exe by running visit_exe. Thank you very much.
Ha ha ha ha ha ha ha, I have been using compiled visit before, and the day before yesterday I deleted some things from the computer. The vs debug mode cannot run visit, and the compiled visit cannot be used. But I was eager to use visit, so I installed it first. Later, it seemed that I only deleted the f

[2022-10-19 18:43] biagas commented on #18217
Glad we figured out the issue.

Regarding start-up project, you want to always start with visit_exe project, because it is the launcher for the other components of VisIt.  If all goes well, VisIt should just run.  If you encounter problems with  gui or viewer crashing after you try to do something, then you will want to Attach the debugger to that problematic component process after it launches (b

[2022-10-19 18:53] markcmiller86 commented on #18220
True _units_ for expressions I think would be pretty cool. But, also non-trivial. And, the problem extends to database plugins because we'd want the *primal* variables to also have their units defined.

We do allow database plugins to set a character string for a variable to represent its units.

I suppose two simple things we could do...

* **DO NOT** carry units string through an expression so t

[2022-10-19 19:51] markcmiller86 commented on #18220
I think we could add a text box to the **Expressions** window to handle this. And, add a data member to an `Expression` object named `units` with the following interpretation...

* when `units` is empty string (""), you get current/old behavior where expression is rendered
* when `units` is key string `"n/a"` (or maybe `"none"` or `"unknown"`), you get no units
* Otherwise, whatever string is spec

[2022-10-19 19:52] markcmiller86 commented on #18220
BTW...I have no idea how VisIt *currently* decides what unit string to display for an expression. I fiddled around quite a bit with different expressions from `ucd3d.silo` using `t` (units of `Celsius`) and `u` (units of `cm`) sometimes combined within the same expression and VisIt always displayed `t`'s units.

[2022-10-20 00:57] markcmiller86 commented on #18220
Ok, here's a hint about what VisIt is doing regarding units in expressions...

https://github.com/visit-dav/visit/blob/e0f58b12f99d8d721a4272f39bb059ac6c1c4eec/src/avt/Expressions/Abstract/avtExpressionFilter.C#L619-L628

This makes me think about a third `"auto"` option for units string. `"auto"` would mean that it simply cats together all the unit strings of the primals perhaps with some underst

[2022-10-20 15:57] cessenat commented on #18220
Naively, I had thought that using an option for Silo it would be transferred to visit.
Below is an example where I convert a speed {vx,vy,vz} relative to light speed into kinetic energy for an electron.
[code]
But it does not.
Thanks for dealing with this issue @markcmiller86 !

[2022-10-20 16:37] markcmiller86 commented on #18220
@cessenat thanks for testing that. Yes, Silo's `DBOPT_UNITS` option is honored on `DBPutXxxvar` calls but **not** on `DBPutDefvars` calls because those create expressions in VisIt and we're back to the fact that VisIt doesn't curently support units on expressions.

[2022-10-20 16:51] markcmiller86 commented on #18186
There is some expression metadata that isn't getting set for all the conditional exprs but which ordinarily is not a problem because they are used within an `if` expression which does get all the wrapping right.

[2022-10-20 17:17] JustinPrivitera commented on #17729
higher priority now

[2022-10-20 19:35] biagas opened #18223 "Remove AIX hacks"
### Is your feature request related to a problem?
We haven't built or tested on AIX in quite awhile.
Is it time to remove the hacks and other support for this architecture?

Possible files impacted: (they mention AIX in more than a comment)

bin/frontendlauncher
bin/internallauncher
CMake/DetermineVisItArchitecture.cmake
CMake/SetUpPlatformDefs.cmake
CMake/TestPTY.cmake
CMake/ThirdPartyInstallLibr

[2022-10-20 23:21] JustinPrivitera opened #18226 "Upgrade VisIt to the latest and greatest Conduit"
Eventually, we must upgrade Conduit to the next version (likely 0.8.5) so we can take advantage of wedge and pyramid support.

When we do so, we must leave an additional note in the release notes for https://github.com/visit-dav/visit/pull/18224
"Added read and write support for wedge and pyramid topologies to the Blueprint plugin."

[2022-10-21 16:49] JustinPrivitera commented on #5297
Schedule a skip list hackathon to get our bearings on what is on the skip list and if it should remain as such. Maybe we'll decide to remove the skip list entirely, or just pare it down significantly.

[2022-10-21 18:22] JustinPrivitera opened #18228 "Camera Overhaul 1: Example Data Sets"
We should create example datasets that challenge the capabilities of our existing camera modes. These can be used going forward as a guide for upgrading and overhauling camera functionality.

Ideas:
 - [x] A time varying dataset that demonstrates a need for the camera to focus on or travel with moving geometry. - see "bunny_helix" or "complicated_scene" below
 - [x] A dataset that is difficult to

[2022-10-21 18:29] JustinPrivitera opened #18229 "Camera Overhaul 2: Intuitive change of zoom and rotation points"
We would like it to be possible for the camera to mimic the behavior seen below:

![192936911-e8b6ae6c-d8ba-47e2-b74d-adc8ce50310d](https://user-images.githubusercontent.com/35237779/197264034-b230add3-9b0b-4007-828a-dfa44fc80745.gif)

Perhaps instead of creating a new camera mode, we can use an unmapped key in the default camera mode (is `alt` available?) to toggle between the current default beh

[2022-10-21 18:32] JustinPrivitera commented on #18228
Additional information from @markcmiller86 (from [here](https://github.com/visit-dav/visit/issues/17988#issuecomment-1262578684))

[2022-10-21 18:33] JustinPrivitera opened #18230 "Camera Overhaul 3: Flythrough Upgrade"
Our flythrough camera mode is not working as intended. The vision for flythrough is that the camera is representative of a first person sort of "space ship" that can move all around the geometry.

It would be nice if flythrough mode worked either like a first person video game camera, or like a strategy game camera. Perhaps an option to toggle between movement modes?

More details are needed in th

[2022-10-21 18:39] JustinPrivitera opened #18231 "Camera Overhaul 4: Focus or Lock-on Capability"
Particularly with regard to time varying datasets (see #3249), it can be difficult to keep moving geometry easily visible.

There are two (so far) potential ways this could be addressed:
1) Add functionality so that the camera can be "locked" to a particular point or zone (perhaps using pick). See this gif for a reference: https://thumbs.gfycat.com/ZealousDopeyBighorn-max-1mb.gif
2) Maybe instead

[2022-10-21 18:47] JustinPrivitera opened #18232 "Camera Overhaul 5: Fix pick swivel focus + rubber band zoom behavior"
When you check `swivel focus` in the pick menu while using rubber band zoom, the camera moves in unexpected and confusing ways. As it stands, using both features together is rather useless.

Is the answer to disable swivel focus if rubber band zoom has occurred? Or come up with custom behavior for swivel focus while zoomed in? Something else?

[2022-10-21 18:48] JustinPrivitera commented on #17988
**Deliverables:**
 - [ ] #18228
 - [ ] #18229
 - [ ] #18230
 - [ ] #18231
 - [ ] #18232

[2022-10-21 20:59] JustinPrivitera commented on #17946
For Zone ID: add a variable to pick: `OriginalZoneLabels`. This gives you what you are looking for.
For Node ID: the variable `OriginalNodeLabels` displays confusing information; it seems to show off by one data. This should be investigated and fixed.

[2022-10-22 01:45] markcmiller86 opened #18233 "Install on macOS with version number"
Instead of installing `/Applications/VisIt.app`, we should install `/Applications/VisIt-3.2.2.app`. In otherwords, include the `-X.Y.Z` in the installation name.

[2022-10-25 08:42] doncip commented on #18195
I tried the command
[code]
but I did get no output.

I then used `otool -l bar` and I get the same output as you for `LC_RPATH`:
[code]

I have all the permissions to read it:
[code]

[2022-10-25 14:21] summer7807 commented on #18217
@biagas
After setting the gui.exe project as the startup item in visual studio, I encountered the following error:
![image](https://user-images.githubusercontent.com/74045515/197798366-7fd38722-e4c9-46fc-9412-a094cc4aedc2.png)
![image](https://user-images.githubusercontent.com/74045515/197798451-e1258cd0-ff20-4cc3-8820-ca7c958d0f47.png)
I deleted the Boundary folder under the plots folder under th

[2022-10-25 15:14] biagas commented on #18217
As I said before:  You cannot use gui_exe as the startup project. visit_exe is the launcher, and it sets up everything needed to launch gui, viewer, etc.  It must be the startup project.

What are you trying to accomplish by using gui_exe as the startup project?

[2022-10-25 16:23] nDimensionalSpace opened #18236 "Not opening all plot states in a database"
### Describe the bug
Visit not loading all plot states of a time-varying database

**Helpful additional information**
 - Did VisIt crash: no
 - Did you get wrong results: no

### To Reproduce
Steps to reproduce the behavior. For example:
1. Launch default version as usual, i.e., /usr/gapps/visit/bin/visit
2. "Open", as usual, both "serial" and "parallel interactive" exhibit this behavior
3. Add a

[2022-10-25 16:31] markcmiller86 commented on #18195
I did just now notice something in your pasted output here that I wasn't paying attention to before.

It looks like you are doing this from a folder in your `Desktop` folder.

Thats potentially an issue in that new macOS security controls often do not permit apps to browse content in `Downloads`, `Desktop` or `Documents` without explicitly giving permission.

Can you try making the `TestVisIt` fol

[2022-10-25 21:00] markcmiller86 opened #18238 "Other color controls"
### Is your feature request related to a problem?

No. Feature enhancement.

### Is your feature request specific to a data set?

No.

### Describe the solution you'd like.

There are some miscellaneous color control issues that kinda sorta seem like they might go with color tables but not sure. That is the selection of color(s) to use for

* *missing* data
* *nan* values
* *out of bounds* values

[2022-10-25 22:29] #18217 closed, assigned to nobody

[2022-10-25 22:31] brugger1 commented on #18223
We discussed this and concluded that we should remove AIX support.

[2022-10-25 22:35] markcmiller86 commented on #18229
We should try a prototyp impl. and get some users in front of it to see what they think.

[2022-10-25 22:46] brugger1 commented on #18233
We decided that we will close this and instead handle the case where there is a space in the path.

[2022-10-25 22:46] #18233 closed, assigned to nobody

[2022-10-25 22:52] biagas commented on #18236
You can give the files to kbonnell.

[2022-10-26 14:42] ldouteau opened #18241 "Annotation pictures not printed with save window when using data from distant host"
Hi devs. Amazing work with Visit, thanks for all. I'm struggling atm with Visit outputs, couldn't find any related issue so i'm opening this. Sorry if already reported

### Describe the bug
I'm using Visit v3.1.4 on a Debian 11 computer to visualize data from a remote host, set up from Option>Host Profiles. Everything goes fine except when I try to add Annotation Images (logos as png). The visuali

[2022-10-26 16:00] nDimensionalSpace commented on #18236
Heh, files are way too large for that . . .  Will email directly to discuss.

[2022-10-26 16:08] markcmiller86 commented on #18241
@ldouteau out of curiosity, did you maybe try putting the annotation image on the remote (server) as well? I dunno if it would help but maybe at the path `~/path/to/file.png` so that path resolves to the correct file on both local and remote?

Images can be rendered either on the viewer (local) or on the engine (remote). Sometimes VisIt can automatically decide for you which is best...depending on

[2022-10-26 16:22] markcmiller86 commented on #18241
Ok, I was able to make this work (even in scalable rendering mode which is always occurring on remote/engine) by saving the image file to `/tmp` on both local and remote. If you cannot create a path that is same on both systems, I don't think it will work. Thats a problem and I'll file a ticket for it.

### Screen Capture Save

![image_annot_screen_capture png0000](https://user-images.githubuserco

[2022-10-26 16:22] #18241 closed, assigned to nobody

[2022-10-26 16:28] markcmiller86 opened #18243 "Annotation image path handling on local and remote"
### Describe the bug
[A user running in client/server mode tried to create an annotation image object](https://github.com/visit-dav/visit/discussions/18242) and then save images from VisIt. Sometimes (for small things) it worked. For big things it didn't and instead issued an error that the annotation image path is invalid on the remote...which is true.

For big things, VisIt enters SR mode and ne

[2022-10-26 16:47] brugger1 commented on #18243
That brings up an interesting question. Should the image annotation object be on the local or remote system? It sounds like the current implementation is for it to be remote if in scalable rendering mode and local if rendering geometry in the viewer. This seems confusing. I don't know what the right answer is, but maybe some thought needs to go into figuring out what the right behavior should be.

[2022-10-26 17:03] markcmiller86 commented on #18243
The orig. design for SR mode was to render only the *data* and handle all annotations on the viewer *after* the data image was sent back to the viewer. Then, we added the ability to do non-screen-capture saves necessitating doing annotations on the engine and duplicating annotation coding support in both the viewer and engine.

We probably don't have the correct underlying architecture for this be

[2022-10-26 17:04] markcmiller86 commented on #18243
Another option is to instead of having a second path for the image annotation is to use some more symbolic constants for the image path so that `$HOME` or `$VISITDIR` or something would work on both too.

[2022-10-27 15:06] nDimensionalSpace commented on #18236
Ha!!  As follows:

* When I open the database via our *.visit file (text file that points to all of the individual *.silo files, one per line), the pathology presents itself.

* When I open the database “directly” (open the *.silo files with Smart file grouping), all plot states are opened as expected.

So, it seems like the way visit is reading the text file is somehow goofy.

[2022-10-27 15:19] jcwright77 opened #18246 "centos7 build"
Are there prebuilt binaries for centos 7? That is the LTS but I can only find builds for centos 8?

[2022-10-27 18:06] biagas commented on #18236
You pointed directly to the problem: the .visit file with comments for every timestep/file listed. For some reason we have logic to stop processing the .visit file after encountering 10000 comments.  I can get that fixed for the next release. Can you live with the work-around to open the database directly with Smart file grouping in the meantime?

[2022-10-27 18:10] markcmiller86 commented on #18236
Are these `!TIME` type *comments* or something we don't process? If latter, how about just creating a file without the comments?

[2022-10-27 18:17] biagas commented on #18236
What's wrong with having comments in the file that VisIt doesn't necessarily process?

[2022-10-27 18:17] nDimensionalSpace commented on #18236
Just to be clear for posterity, this is what the *.visit file looks like:

[code]

Anyway, yes, I can live with the workaround, so not emergent, or even urgent.

Thanks @biagas! :)

[2022-10-27 18:19] markcmiller86 commented on #18236
Nothing but to work around current limitations, I would just create a `.visit` file without them instead of relying upon smart file grouping which isn't IMHO as robust.

[2022-10-27 18:21] markcmiller86 commented on #18236
@nDimensionalSpace are these comments of the ilk you shared in another conversation aimed at capturing the *iteration* space of each save (main PDE solve:refinement step:relaxation step:...:)?

[2022-10-27 18:22] nDimensionalSpace commented on #18236
@markcmiller86: Yes, the comments are the time for each plot state . . .  Having that data there allows us to easily parse that file, and overwrite states that are going to be recalculated on restarting the code (of course, we could read the Silo files, but that would be a fair bit of new code for us, and this was easier).  Without that, we can get a fair bit of duplication on restart.

[2022-10-27 19:14] markcmiller86 commented on #18236
It occurs to me...there is no reason (other than the coding needed to enable it) that these comment lines should NOT appear as the `dbcomment` member of `avtDatabaseMetaData`. Of course, a comment *read* from the actual plugin would override. But, I'll add a ticket to allow the comment *just ahead* of a db line in a `.visit` file to get routed to `avtDatabaseMetadata`.

[2022-10-27 19:18] markcmiller86 opened #18248 "Treat #comment lines in .visit files as dbcomment"
### Is your feature request related to a problem?
A nice way to structure a `.visit` file is something like...

[code]

We should route such comment lines to `avtDatabaseMetaData`'s `dbcomment` member but allow that to be overwritten by any comment read directly from the plugin when the database is read.

In at least one use case we have, #18236, users use the `#comment-x` lines to help structure

[2022-10-27 20:50] #18236 closed, assigned to biagas

[2022-10-27 23:42] cyrush opened #18250 "DataBinning is double counting ghost zones"
### Describe the bug

DataBinning operator is not filtering out ghost zones.
Spotted with sum collapse (see details below for how to reproduce)

**Helpful additional information**
 - Did VisIt crash:  nope
 - Did you get wrong results:  yes

### To Reproduce

Open bigsilo.silo

Add PC plot of 2D data binning

Data Binning Options:

* dim 1: x, 20 samples
* dim2: y, 20 samples
* reduction up: Sum
*

[2022-10-27 23:44] cyrush opened #18251 "Hollow plots due to ghosting issue with periodic boundires"
### Describe the bug

Periodic Silo data w/ ghosts can cause "external" faces to be removed, making the plot look hollow.

Cyrus has a dataset on llnl rz.

**Helpful additional information**
 - Did VisIt crash:  no
 - Did you get wrong results: yes

[2022-10-28 22:51] brugger1 commented on #18177
After experimenting more with it I found that it also crashes when using a 1x2 window layout with a serial engine. That's a lot easier to debug.

[2022-10-28 23:12] brugger1 commented on #18177
I looked into the how the memory that caused the engine to crash when it was freed was used and couldn't find anything wrong, so I concluded that it was some memory corruption that occurred before the free and had nothing to do with the actual memory being freed.

I then ran valgrind on the engine and got the following output, which points to a memory overwrite down in mesa. Here is the output.
[c

[2022-10-28 23:14] markcmiller86 commented on #18177
Great find, @brugger1 💪🏻 .

[2022-10-30 05:04] jcwright77 opened #18253 "No suitable plugins were identified in client-server"
### Describe the bug
I am running visit in client server mode. I can connect to the remote server via visit in the open file dialog. When I try to open I file I always get "No suitable plugins were identified".  I've tried silo files from examples and the phi.h5nimrod example from github. These open fine on my local machine.

**Helpful additional information**
 - Did VisIt crash:  no crash
 - Did

[2022-10-30 05:15] jcwright77 commented on #18253
OK, rebuilding. Looks like a built a version without support for most of the needed i/o formats. Including --all-io in this build.

[2022-10-31 23:13] brugger1 commented on #18177
Here is some debugging information that traces the creation of off screen mesa contexts along with some descriptive information.
This traces the crash. The first number is the line number in the log file.
[code]
This traces the creation of the context that causes the crash. This is with the fix and doesn't crash. All the trace information is similar up to that point.
[code]

[2022-10-31 23:17] markcmiller86 commented on #18177
Thats a mouthfull (or screenfull I should say) to try to decipher but am wondering about that negative *stride*, `dst_stride=-4096`.

[2022-10-31 23:20] brugger1 commented on #18177
Yes, the negative stride is correct. It is filling the buffer in reverse order line by line.

[2022-11-01 15:21] markcmiller86 commented on #18243
An additional swizzle here is dealing with where the annotation image can be found in a parallel engine. In many cases, parallel compute nodes cannot see the same file system space login nodes do. So, the image file needs to get copied (or shipped as internal data) (maybe by the vcl or mdserver) to a place that the parallel engine can find it.

[2022-11-01 18:55] #18177 closed, assigned to brugger1

[2022-11-01 22:43] #18253 closed, assigned to nobody

[2022-11-02 14:22] doncip commented on #18195
No luck with any of the things you proposed.

Launching from my home folder had the same output as the last time.
Launching the compute engine from the app did not work, and the output was a message saying that it was not possible to do that, without any detail.

[2022-11-02 22:38] markcmiller86 opened #18262 "Remove shear vector parameter of 3D camera"
### Describe what needs to be documented.
Our 3D cameara has a vector control named `Shear`. Whats it for? I suspect it is effectively applying a shear deformation to the 3D view frustum but I don't honestly know and it isn't documented anywhere. Also, why do we need this?

[2022-11-02 23:07] brugger1 commented on #18196
In order to get the correct compiler with the cray compilers you need to load the following two modules.
[code]

[2022-11-02 23:22] markcmiller86 commented on #18195
Ok. I also didn't think to ask...is your mac Apple silicon (e.g. M1) or Intel?

[2022-11-02 23:40] brugger1 commented on #18196
I ran into the mesa build issue documented at the link below when accidently using the Intel oneAPI compiler.

https://gitlab.freedesktop.org/mesa/mesa/-/issues/3298

We may want to add a patch for it.

[2022-11-03 08:55] doncip commented on #18195
Intel

[2022-11-03 18:55] nDimensionalSpace opened #18265 "Plot state-dependent text annotations not refreshing when animating data"
### Describe the bug
Subject line says it all

**Helpful additional information**
 - Did VisIt crash: no
 - Did you get wrong results: yes

### To Reproduce
Plot state-dependent text annotations not refreshing when animating database with the "play" button.  When viewing a single state statically, pressing "Reopen" does refresh the annotation to the value associated with the current state.

### At

[2022-11-03 18:57] markcmiller86 commented on #18265
@nDimensionalSpace what if you go to VisIt's **Preferences->Database** tab and check `Treat all databases as time varying`?

[2022-11-03 19:05] JustinPrivitera commented on #18228
Imagine that each of these bunnies was different. How easy would it be to focus on one in particular? This is a good example of data that would benefit from focusing in or locking on to specific geometry, or a usable flythrough mode.

[bunny_helix.zip](https://github.com/visit-dav/visit/files/9932259/bunny_helix.zip)

[2022-11-03 19:40] nDimensionalSpace commented on #18265
Yup, that fixed it.  If reasonably possible, it probably makes sense to decouple the annotations from the re-reading of the mesh.

[2022-11-03 20:24] markcmiller86 commented on #18265
Unforunately, I don't think that it is reasonably possible...at least not with current way VisIt's notion of *metadata* is designed. Anything with *annotations* is part of the *metadata*.

Way back when, there was a decision made to *optimize* the way we handle metadata and *read* it only when necessary...not all the time. This was probably overkill for most situations but did avoid potentialy hig

[2022-11-03 20:32] nDimensionalSpace commented on #18265
Pretty sure that's how it always is . . .

As for the current case, well, if our users save a bunch of time by decimating the solution of certain physics, then they can suck up a little increased cost on the back end. 👍

[2022-11-03 20:32] #18265 closed, assigned to nobody

[2022-11-03 23:26] JustinPrivitera commented on #18228
For the single "sponza", consider the difficulty in successfully navigating to the center of the geometry, or to the 1st or 2nd floors, using any of our camera modes.

For the set of "sponzas", the problem becomes drastically more difficult.

Both datasets can be found in this archive.
[sponzas.zip](https://github.com/visit-dav/visit/files/9933653/sponzas.zip)

[2022-11-04 00:25] brugger1 commented on #18196
Specifying the CRAY compilers as the C and C++ compilers appears to fix the issues with the compiler wrappers. The only issue is that the mili configure script uses specific compiler names that it recognizes for passing along arguments. The absolute path to a CRAY compilers is not one of them. We should modify our patch to add an else case that passes along arguments. This is critical for building

[2022-11-05 01:33] #4565 closed, assigned to biagas

[2022-11-06 02:39] markcmiller86 commented on #18195
Ok, I now have a Montery Mac (it is M1 though) and I am able to run the 3.3.1 release on it fine in parallel both from command line and from GUI.

Did you have an installation of MPICH or OpenMPI on your Mac prior to installing VisIt? Do you maybe have anything funky about your Python installation there? I am thinking there is something about the way your Mac is configured in the way of 3rd party

[2022-11-07 20:52] #4628 closed, assigned to biagas

[2022-11-08 23:28] brugger1 commented on #18262
We couldn't determine a use case for this so we should remove it.

[2022-11-08 23:48] markcmiller86 opened #18274 "Enhance cartographic projection operator to work from 3D sphere/globe mesh"
### Is your feature request related to a problem?
It looks like cartographic operator works only from 2D data. We want it to work from 3D data in #18142.

This would help MOAB team (@vijaysm / @iulian787)

[2022-11-09 02:10] markcmiller86 commented on #4893
To find undocumented expression functions, I did the following greps

[code]

which produces a list of functions in the actual code. I then cross checked this agains what is actually documented using...

[code]

and then diffed the `documented_expr_funcs.txt` with `expr_funcs.txt` and wound up with the following list...

[code]

[2022-11-10 03:37] JustinPrivitera commented on #18228
To get this one to work you'll need to unzip and then unarchive the underlying .7z file. Once you've done this, run visit with the included script, which will generate the dataset from the source files. At the beginning of the script are the hardcoded locations of the data files; change these as needed. Once visit finishes crafting the dataset, hit play to watch the airplane fly over the golden ga

[2022-11-10 03:43] JustinPrivitera commented on #18228
[teapot.zip](https://github.com/visit-dav/visit/files/9977155/teapot.zip)
similar to "sponzas" - it is hard to get inside any of the teapots and look around.

[2022-11-10 17:58] griffin28 opened #18280 "Add Option for Inserting Simple Geometric Shapes"
This request is to add a feature that allows the insertion of simple geometric shapes (plane, sphere, box, etc) without needing to load a dataset. Essentially, the dataset gets generated at runtime which is easy to do for simple shapes.

The biggest use case is to add a ground plane when post-processing images rendered in VisIt. As an additional reference and data point, **ParaView** supports this

[2022-11-10 20:51] markcmiller86 commented on #18280
@griffin28 just curious but where would you suggest the concept of a *simple shape* ends and full blown database to read in begins?

Reason I ask is its a potentially slippery slope. This week we'll support planes, spheres and cones. Next week, we'll be asked to support CSG expressions involving these 😉.

Even for a ground plane, I think things can become complicated pretty quickly. For example, w

[2022-11-11 07:23] griffin28 commented on #18280
Simple shapes are your simple primitives like spheres, cones, planes, boxes. How big or small this set is depends on what the application wants to support.

There's no slippery slope as anything beyond that is not a simple shape and will need to be loaded in the same fashion it is now. Typically, things like resolution are not a concern with the user so the implementer can make those design choice

[2022-11-12 00:16] JustinPrivitera commented on #18228
This dataset illustrates _expanding geometry_ and moving geometry causing the extents to change.

[dragon_attack.zip](https://github.com/visit-dav/visit/files/9993722/dragon_attack.zip)

[2022-11-12 00:17] JustinPrivitera commented on #18228
Unassigning myself as I have created all the datasets I can think of right now.

[2022-11-14 22:50] #17927 closed, assigned to nobody

[2022-11-15 16:02] biagas commented on #18246
@jcwright77 have you tried the rhel7 version of VisIt? Either the one with mesa (wmesa) or without?

[2022-11-15 16:34] brugger1 opened #18288 "atan2 is not documented."
*atan2* is not listed as a function in the manual under trigonometric expressions.

[2022-11-15 16:36] brugger1 opened #18289 "atan2 is not listed under trigonometry functions in the Expressions window."
The *atan2* function is not listed under trigonometry functions in the *Expressions* window.

[2022-11-15 16:40] jcwright77 commented on #18246
No didnt try rhel7. That might have worked. But I'vee already built the server
from source and have it working.

something to try next time.

On Tue, November 15, 2022 11:02 am, Kathleen Biagas wrote:

--
Principal Research Scientist John Wright
Office 617-253-9612
zoom: https://mit.zoom.us/my/jcwright

[2022-11-15 16:47] biagas commented on #18246
Sounds good. I was just wondering because I think it used to work.

[2022-11-15 17:50] biagas commented on #17993
I think perhaps your suggestion would be better for 3.4, not 3.3.2 and I should go ahead and get '.h5m' for moab to work correctly.  Which brings to mind the other format's extensions. I took a survey of all STSD and STMD formats and found these that have numbers in their supported extensions. Should any of them be added as well?

- Blueprint:
    - blueprint_root_hdf5
- sw4img:
    - .sw4img

[2022-11-15 23:00] #18196 closed, assigned to brugger1

[2022-11-15 23:54] brugger1 commented on #5506
Closing this because ADIOS2 has replaced ADIOS.

[2022-11-15 23:57] #5506 closed, assigned to nobody

[2022-11-16 02:15] eschnett opened #18293 "Weird code in Silo database reader"
The function `avtSiloFileFormat::GetQuadVar` in the file `src/databases/Silo/avtSiloFileFormat.C` contains duplicated if branches in lines 9192 and 9196. Both branches read
[code]

[2022-11-16 05:24] markcmiller86 commented on #18293
@eschnett thanks for pointing that out. Its wrong but also harmless to execution. Resolved in #18294

[2022-11-16 05:31] markcmiller86 commented on #18293
FYI...I did briefly look for any other such instances there and didn't see any :wink:

[2022-11-16 15:04] biagas commented on #18246
I put a centos7 version for 3.3.1 on our [github releases page](https://github.com/visit-dav/visit/releases/tag/v3.3.1). If you have time and could try it out and let me know how it works, it would be appreciated.

[2022-11-16 16:22] #18293 closed, assigned to nobody

[2022-11-16 19:07] #18246 closed, assigned to brugger1

[2022-11-17 00:13] markcmiller86 commented on #4398
I pulled out of review state to have a conversation about but I also added deliberation label. This might be good discussion for an upcoming special topics meeting.

[2022-11-17 00:44] JustinPrivitera opened #18297 "Building visit develop branch w/ TPLs w/ new cmake ends in failure"
Here is my build_visit invocation:
`./build_visit --makeflags -j24 --mesagl --mpich --required --optional --no-gdal`

Here is the end of build_visit_log:
[code]

This is the code referred to in the error message:
[code]

I've used this build_visit invocation before with success. The only thing I can think of that is new is the new cmake version we're using. Not sure if that could be the issue.

An

[2022-11-17 08:13] cessenat commented on #3256
I encountered the same annoying issue.
Thanks to spack, I could add it:
[code]
and it was fine.

[2022-11-17 15:03] biagas commented on #18297
This is due to the blt submodule. I think perhaps build_visit is missing the --recursive option when downloading VisIt.
Don't forget, on existing checkouts from before the addition of the blt submodule, you need to issue `git submodule init` and `git sumodule update` before you try to build.

[2022-11-17 17:14] brugger1 commented on #17944
Mark is going to investigate the effort involved.

[2022-11-17 17:35] JustinPrivitera commented on #18297
Hmmm. I could have sworn I ran the git submodule commands... my bad! Looks like everything built successfully. Thanks!

[2022-11-17 17:35] #18297 closed, assigned to nobody

[2022-11-17 17:55] markcmiller86 commented on #17235
Was fixed in `3.3RC` via #18200 and on `develop` via #18203

[2022-11-17 17:55] #17235 closed, assigned to markcmiller86

[2022-11-17 18:06] markcmiller86 commented on #4324
Dup of #2303

[2022-11-17 18:06] #4324 closed, assigned to markcmiller86

[2022-11-17 18:56] biagas opened #18301 "User-specified smart file grouping logic"
### Is your feature request related to a problem?
MDServerConnection::GetFilteredFileList is the source code location where the smart file grouping logic resides.

It has several lists of extensions that should be filtered because they contain numbers in them.
Whenever a plugin is created that accepts extensions with number (or a current plugin's accepted extensions changes), then this logic may n

[2022-11-17 19:15] markcmiller86 opened #18302 "rename activeProfile member of MachineProfile() python class to defaultLaunchProfileIndex"
### Is your feature request related to a problem?
There is an `activeProfile` member of `MachineProfile()`. What does it mean? Well, first its an `int` type and it is an *index* into the set of available *launch* profiles. It indicates which of those launch profiles is used by default (e.g. `OpenComputeEngine(<hostname>)`)

If we don't wanna actually change the name, we should at least document it

[2022-11-17 21:16] biagas commented on #17802
I have determined this cannot go in the 3.3 series due to a needed changed in AttributeGroup.

[2022-11-17 22:44] #17980 closed, assigned to biagas

[2022-11-18 00:19] #17802 closed, assigned to biagas

[2022-11-18 16:11] #17993 closed, assigned to biagas

[2022-11-19 00:15] #17801 closed, assigned to JustinPrivitera

[2022-11-21 16:55] biagas opened #18311 "build_visit ability to set install dir for a library based on whether or not an optional dependency is built"
### Is your feature request related to a problem?
I had a need to set VTK's install dir to something different than 'vtk' based on whether or not osmesa was being built.
Use case is separate builds  of VTK  with mesa only, and VTK with osmesa only. (VTK 9).

I tried setting VTK_INSTALL_DIR in bv_vtk_info and bv_vtk_initialize_vars, but DO_OSMESA wasn't set at the time those functions were called.

[2022-11-21 23:02] biagas commented on #18123
I added logic to accept a filename from the command line.
But the sample still doesn't run, seems it cannot locate plugins.
Pushing to a different milestone for investigation.

[2022-11-22 19:41] #5599 closed, assigned to nobody

[2022-11-22 21:38] biagas commented on #5485
It is possible to run VisIt in  WSL2 Ubuntu image on a Windows 11 system running the proper OS build number (22000 or greater).

Following [Microsoft's wsl2 gui-apps tutorial](https://learn.microsoft.com/en-us/windows/wsl/tutorials/gui-apps), I installed WSL on a Windows 11 system running a build > 22000.
I then installed Ubuntu-18 using this [tutorial](https://ubuntu.com/tutorials/install-ubuntu-

[2022-11-22 21:40] biagas commented on #5485
Note: I didn't need to start an X server like XWin32.

[2022-11-22 22:56] biagas commented on #5485
I guess I should also mention I installed Windows Terminal, and launched the Ubuntu instance from there.

[2022-11-22 23:28] JustinPrivitera opened #18318 "Color Table Window is too tall"
The Color table window no longer resizes off the screen #18303, however, if your resolution is too low (<800), the window will be too tall. The window should be reorganized to have a more horizontal layout.

[2022-11-23 23:56] JustinPrivitera commented on #17946
See `avtMiliFileFormat.C` line 4146. That appears to be where the node labels are generated. We call `mc_load_node_labels` which writes to our node labels, and then we directly send these node labels where they need to go. I wonder if the bug is within `mc_load_node_labels`? We don't do anything to change what comes out of `mc_load_node_labels`.

[2022-11-24 00:14] JustinPrivitera commented on #17946
If there is a bug somewhere in the call stack within `mc_load_node_labels`, I haven't the faintest idea where it could possibly be. The code it depends on looks like it is used widely, so it seems strange that it could be causing trouble just in this instance.

So what is the solution?
 - Should we say the ball is no longer in our court, and that the problem must be addressed by the writers of `mc

[2022-11-28 17:18] jfavre opened #18323 "Cannot compile v3.3.[01] on Ubuntu 22.04, gcc11.3"
compilation from source fails for

cd /local/apps/VisIt/visit-3.3.0/build/viewer/main && /local/apps/cmake-3.22.2-linux-x86_64/bin/cmake -E cmake_link_script CMakeFiles/viewer_exe.dir/link.txt --verbose=1
/usr/bin/g++   -m64 -fPIC -fvisibility=hidden -O2 -g -DNDEBUG CMakeFiles/viewer_exe.dir/viewer.C.o -o ../../exe/viewer  -Wl,-rpath,/local/apps/VisIt/visit-3.3.0/build/lib:/local/apps/VisIt/visit-

[2022-11-28 21:29] biagas commented on #18323
I see references to a system Qt version 5.15.3  like so: `/usr/lib/x86_64-linux-gnu/libQt5PrintSupport.so.5.15.3`
We haven't tested with that version of Qt, so perhaps that is the problem. We know things work with 5.14.2 and 5.10.1, the current versions supported in the build_visit script. I know there are sometimes problems building Qt, but could you try using one of those versions?

[2022-11-30 00:43] biagas commented on #18323
I am working through a build_visit run in an Ubuntu22 container and will report back.
First try will be with qt 5.14.2 just to make sure everything builds with currently supported versions.

[2022-11-30 07:29] jfavre commented on #18323
Thanks a bunch @biagas . What a good eye! An old legacy flag had corrupted my cmake command and Qt5_DIR was pointing to my system Qt. I have corrected that and all is good now.
Well done VisIt dev team.

[2022-11-30 07:29] #18323 closed, assigned to biagas